<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel0">
<li><a href="#_themes_auf_ceres_3_0_updaten"><span>Themes auf Ceres 3.0 updaten</span></a>
<ul class="sectlevel1">
<li><a href="#_entfernte_direktiven"><span>1.</span><span> Entfernte Direktiven</span></a></li>
<li><a href="#_hinzugefügte_komponenten"><span>2.</span><span> Hinzugefügte Komponenten</span></a></li>
<li><a href="#_entfernte_und_geänderte_komponenten"><span>3.</span><span> Entfernte und geänderte Komponenten</span></a></li>
<li><a href="#_weitere_anpassungen"><span>4.</span><span> Weitere Anpassungen</span></a></li>
<li><a href="#_bootstrap_4_stable_anpassungen"><span>5.</span><span> Bootstrap 4 stable Anpassungen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Themes auf Ceres 3.0 updaten</h1><h1 id="_themes_auf_ceres_3_0_updaten" class="sect0">Themes auf Ceres 3.0 updaten</h1><div class="paragraph">
<p>Mit dem Major-Release Ceres 3.0 Mitte <strong>Januar</strong> gibt es Änderungen im Code, die für <strong>Theme-Entwickler</strong> besonders wichtig sind, da sie eine Reihe notwendiger Anpassungen in Themes mit sich bringen. Auf dieser Handbuchseite erfährst du, welche Komponenten und Direktiven aus Ceres entfernt wurden und welche Anpassungen deinerseits notwendig sind, damit sich dein Theme korrekt verhält.<br>
Diese Seite dient dazu, die größten potentiellen Fehlerquellen aufzuzeigen. Für eine komplette Übersicht der Änderungen, sieh dir bitte den aktuellen Vergleich der Versionen auf <a href="https://github.com/plentymarkets/plugin-ceres/compare/2.17.0…​2.17.1" target="_blank" rel="noopener">GitHub</a> an.</p>
</div><div class="sect1">
<h2 id="_entfernte_direktiven">1. Entfernte Direktiven</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In Ceres 3.0 wurden die folgenden Direktiven global <strong>entfernt</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>v-render-category</p>
</li>
<li>
<p>v-is-loading-watcher</p>
</li>
<li>
<p>v-update-sidenav-selection</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Weiterhin wurde die Direktive <strong>v-hover-mega-menu</strong> umbenannt und heißt nun <strong>v-navigation-touch-handler</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_hinzugefügte_komponenten">2. Hinzugefügte Komponenten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Komponente <strong>Ceres::ItemList.Components.CategoryItem</strong> bezieht sich auf die Kachel eines Artikels und wurde vor Ceres 3.0 nicht verwendet. Die Artikelkachel wurde zuvor von der nun entfernten Komponente <strong>Ceres::ItemList.Components.ItemList</strong> eingebunden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_entfernte_und_geänderte_komponenten">3. Entfernte und geänderte Komponenten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Komponenten wurden entfernt oder werden nun auf andere Weise über Twig inkludiert:</p>
</div>
<div class="paragraph">
<p><strong>Entfernt:</strong>
- Ceres::ItemList.Components.ItemList
- Ceres::ItemList.Components.CategoryImageCarousel
- Ceres::Category.Item.Partials.CategoryListItem</p>
</div>
<div class="paragraph">
<p><strong>Geändert</strong>:
- Ceres::ItemList.Components.ItemListSorting » Ceres::Category.Item.Partials.ItemSorting
- Ceres::ItemList.Components.ItemsPerPage » Ceres::Category.Item.Partials.ItemsPerPage
- Ceres::ItemList.Components.Pagination » Ceres::Category.Item.Partials.Pagination</p>
</div>
<div class="paragraph">
<p>Die folgenden Code-Beispiele veranschaulichen, welche Zeilen in deinem Theme potentiell entfernt werden müssen, damit die geänderten Komponenten nicht fälschlicherweise aufgerufen wird, und über welchen Befehl der jeweilige Aufruf ab Ceres 3.0 getätigt werden muss. Die Anpassungen beziehen sich auf die beiden Dateien <strong>/resources/views/ItemList/ItemListView.twig</strong> und <strong>/resources/views/Category/Item/CategoryItem.twig</strong>. Die drei Punkte […​] sind hier als Auslassung zu verstehen, da die Code-Zeilen nicht unmittelbar aufeinander folgen müssen. Die im jeweiligen Code-Snippet angegebenen Parameter können in deinem Theme natürlich abweichen.</p>
</div>
<div class="paragraph">
<p><strong>ItemSorting</strong>
<em>Die folgenden Zeilen müssen entfernt werden:</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">{{ component( "Ceres::ItemList.Components.ItemListSorting" ) }}
[...]
&lt;item-list-sorting template="#vue-item-list-sorting" :sorting-list="{{ searchOptions.sorting | json_encode }}" :default-sorting="{{ searchOptions.defaultSorting | json_encode }}"&gt;&lt;/item-list-sorting&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><em>Hinzufügen:</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; include "Ceres::Category.Item.Partials.ItemSorting" with { 'sortingData': searchOptions.sorting, 'selectedSorting': itemSorting } &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>ItemsPerPage</strong>
<em>Die folgenden Zeilen müssen entfernt werden:</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">{{ component( "Ceres::ItemList.Components.ItemsPerPage" ) }}
[...]
&lt;items-per-page template="#vue-items-per-page" :pagination-values="{{ searchOptions.itemsPerPage | json_encode }}"&gt;&lt;/items-per-page&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><em>Hinzufügen:</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; include "Ceres::Category.Item.Partials.ItemsPerPage" with { 'itemsPerPage': searchOptions.itemsPerPage, 'selectedValue': itemsPerPage } &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Pagination</strong>
<em>Die folgenden Zeilen müssen entfernt werden:</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">{{ component( "Ceres::ItemList.Components.Pagination") }}
...
&lt;pagination template="#vue-pagination"&gt;&lt;/pagination&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><em>Hinzufügen:</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; include "Ceres::Category.Item.Partials.Pagination" &#37;&#125;</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_weitere_anpassungen">4. Weitere Anpassungen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>In der Datei <strong>resources/views/PageDesign/Partials/Header/Header.twig</strong> erfolgt der Aufruf der Paginierung nun mit <strong>with</strong> und Parameter:</p>
</li>
</ul>
</div>
<div class="listingblock">
<div class="content">
<pre>&#123;&#37; include "Ceres::Category.Item.Partials.Pagination" with { 'currentPage': page } &#37;&#125;</pre>
</div>
</div>
<div class="ulist">
<ul>
<li>
<p>In der Datei <strong>resources/views/PageDesign/Partials/Header/Header.twig</strong> muss das <strong>script</strong> eingebunden werden, da sonst Elemente hinter dem Header verschwinden können:</p>
</li>
</ul>
</div>
<div class="listingblock">
<div class="content">
<pre>&#123;&#37; set scriptId = uid() &#37;&#125;
&lt;script id="{{ scriptId }}"&gt;
    document.getElementById("vue-app").style.marginTop = document.getElementById("page-header").getBoundingClientRect().height + 'px';
    document.getElementById("{{ scriptId }}").remove();
&lt;/script&gt;</pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_bootstrap_4_stable_anpassungen">5. Bootstrap 4 stable Anpassungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite wird in Kürze um Schritte erweitert, die nötig sind, um Themes auf Bootstrap 4 stable anzupassen.</p>
</div>
</div>
</div>
</main>