<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_web_visitor_statistics"><span>1.</span><span> Web visitor statistics</span></a></li>
<li><a href="#_opening_the_menu"><span>2.</span><span> Opening the menu</span></a></li>
<li><a href="#_webalizer_analyses"><span>3.</span><span> Webalizer analyses</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Statistics</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Settings » Client (store) » Global settings » Statistics</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_web_visitor_statistics">1. Web visitor statistics</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this menu, plentymarkets provides you with a Webalizer tool for analyzing the web visitor statistics in your online store. This gives you an overview of how many times the pages of your store were viewed.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/assets/EN-ENG-Einstell-Mandant-Globale-Statistik01-SI.png" alt="EN ENG Einstell Mandant Globale Statistik01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>web visitor statistics</strong> in plentymarkets</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_opening_the_menu">2. Opening the menu</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to the <strong>Web visitor statistics</strong> menu to see the statistics for your plentymarkets system (see path above).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/assets/EN-ENG-Einstell-Mandant-Globale-Statistik02-SI.png" alt="EN ENG Einstell Mandant Globale Statistik02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: the <strong>login details</strong></em></p>
</div>
<div class="paragraph">
<p>You will see the <strong>login details</strong> that are needed for the menu. You will have to enter these login details into the next window.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>Click on the <strong>Open Webalizer statistics</strong> link (see image 2).</p>
</div>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/assets/EN-ENG-Einstell-Mandant-Globale-Statistik03-SI.png" alt="EN ENG Einstell Mandant Globale Statistik03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: <strong>logging into</strong> Webalizer</em></p>
</div>
<div class="paragraph">
<p>Enter the <strong>login details</strong> into the fields <strong>User Name</strong> and <strong>Password</strong>. Then click on <strong>OK</strong> (see image 3).<br>
→ The menu will be displayed.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_webalizer_analyses">3. Webalizer analyses</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The different areas of the Webalizer provide you with information about visits to your online store, e.g. the number or percentage of total hits and the number of hits within a specific category.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/assets/EN-ENG-Einstell-Mandant-Globale-Statistik04-SI.png" alt="EN ENG Einstell Mandant Globale Statistik04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: selecting a <strong>time period</strong> in the Webalizer</em></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>Click on the desired <strong>month</strong> to see an analysis for the particular month (see image 4).</p>
</div>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/assets/EN-ENG-Einstell-Mandant-Globale-Statistik05-SI.png" alt="EN ENG Einstell Mandant Globale Statistik05 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 5: <strong>monthly statistic</strong></em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>You can see a legend on the edge of each diagram (see image 5, arrows).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>