<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_configuring_processes"><span>1.</span><span> Configuring processes</span></a>
<ul class="sectlevel2">
<li><a href="#_new_process"><span>1.1.</span><span> New process</span></a></li>
<li><a href="#_exporting_importing_and_copying_processes"><span>1.2.</span><span> Exporting, importing and copying processes</span></a></li>
<li><a href="#_context_menu"><span>1.3.</span><span> Context menu</span></a></li>
<li><a href="#_adding_elements"><span>1.4.</span><span> Adding elements</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Setting up processes</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Processes</strong></p>
</div>
<div class="paragraph">
<p>The following folders are available for configuring your processes.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>My processes</strong>: here you can see the processes that you can edit.</p>
</li>
<li>
<p><strong>Processes from other users</strong>: here you can see the processes that belong to other users. This folder is only visible for users who are assigned to the class <strong>Admin</strong>.</p>
</li>
<li>
<p><strong>Processes per <a href="/en/basics/working-with-plentymarkets/manage-users">role</a></strong>: here you can see the processes that were assigned to your role. If you were not assigned to any role, then you will not see a folder here. Go to <strong><a href="/en/basics/working-with-plentymarkets/manage-users">System » Settings » User</a></strong> to create roles. Users who were assigned to the class <a href="/en/basics/working-with-plentymarkets/manage-users"><strong>Admin</strong></a> will be able to see the processes for all roles.</p>
</li>
<li>
<p><strong>Global processes</strong>: here you can see processes that are available for all users.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Visibility of the menu: System » Processes</div>
<div class="paragraph">
<p>Variable users will only be able to see the <strong>System » Processes</strong> menu if they were given the right to do so in the user profile. For further information about rights, refer to the <strong><a href="/en/basics/working-with-plentymarkets/manage-users">Managing user accounts</a></strong> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuring_processes">1. Configuring processes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You will now learn how to create a process and which elements are included in a process.</p>
</div>
<div class="sect2">
<h3 id="_new_process">1.1. New process</h3>
<div class="paragraph">
<p>Carry out the following steps to add a <strong>new process</strong>:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Einstell-Prozesse-Prozesse-einrichten-01-SI.png" alt="EN Einstell Prozesse Prozesse einrichten 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>Process</strong> menu and submenus</em></p>
</div>
<div class="paragraph instruction">
<p>Adding a new process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Processes</strong>.</p>
</li>
<li>
<p>Point your mouse cursor to the desired folder, e.g. <strong>My processes</strong> and click on the small triangle on the right-hand side of the line (image 1, number 1).<br>
→ The <strong>New process</strong> button will appear.</p>
</li>
<li>
<p>Click on the <strong>New process</strong> button (image 1, number 2).<br>
→ The configuration menu for a new process will appear (image 2).</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Einstell-Prozesse-Prozesse-einrichten-02-SI.png" alt="EN Einstell Prozesse Prozesse einrichten 02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: Configuration menu for a new process</em></p>
</div>
<div class="paragraph">
<p>The following table explains the settings of the new process:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a name for the process. This name should be as clear and self-explanatory as possible so that the processes can be easily identified in the overview of processes later on.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Visibility</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which group the corresponding process should be visible for. Visible means that the process will be available in the <strong>Processes</strong> menu and can be carried out there.<br>
<strong>General</strong> = The process is visible to everyone<br>
<a href="/en/basics/working-with-plentymarkets/manage-users"><strong>User</strong></a> = The process is only visible to a specific user. This user is selected from the <strong>User</strong> drop-down menu below<br>
<a href="/en/basics/working-with-plentymarkets/manage-users"><strong>Role</strong></a> = The process is only visible to a specific <strong>role</strong>. This role is selected from the <strong>Role</strong> drop-down menu below</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>User</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This option can only be used if you selected <strong>User</strong> for the option <strong>Visibility</strong>. Select which user the corresponding process should be visible for. In other words, you can create processes for yourself as well as for other users. Users who were assigned to the class <a href="/en/basics/working-with-plentymarkets/manage-users"><strong>Admin</strong></a> will also be able to see the process, regardless of which setting is chosen here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Role</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which role the corresponding process should be visible for. In other words, you can create processes for your own role as well as for other roles. Users who were assigned to the class <strong>admin</strong> will also be able to see the process, regardless of which setting is chosen here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Changeable</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a <em><strong>check mark</strong></em> to allow others to <em><strong>edit</strong></em> the process. This setting works in combination with the option that you selected under <strong>visibility</strong>. In other words, you allow the process to be edited by the selected <strong>user</strong>, the selected <strong>role</strong> or <strong>globally</strong>. If you <em><strong>do not place a check mark</strong></em>, then only <strong>admin</strong> users will be able to edit the process.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Warehouse</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>warehouse</strong>.<br>
<strong>Important</strong>: If you do not select any warehouse, then the warehouse with the warehouse ID 1 will be selected by default.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Color</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a color for the process. The process will later be displayed with this color in the <strong>Processes</strong> menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: New process; settings</em></p>
</div>
<div class="paragraph">
<p>The new process will be displayed in the menu structure after you have saved the settings (image 3).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Einstell-Prozesse-Prozesse-einrichten-03-SI.png" alt="EN Einstell Prozesse Prozesse einrichten 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: New process in the <strong>My processes</strong> menu</em></p>
</div>
<div class="paragraph">
<p>Create a process in the desired folder. For further information, refer to section 1 on this page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="_exporting_importing_and_copying_processes">1.2. Exporting, importing and copying processes</h3>
<div class="paragraph">
<p>Instead of recreating a process from your own or another system, you can also export it and import it into the new system or copy it within the same system.</p>
</div>
<div class="paragraph">
<p>The context menu of a process also allows you to delete or start the process. If you click on <strong>Execute process</strong>, first the main processes menu and then the process is opened.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/DE-Einstell-Prozesse-ProEinricht-04-SI.png" alt="DE Einstell Prozesse ProEinricht 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: Context menu <strong>Export process</strong> and <strong>Copy process</strong></em></p>
</div>
<div class="paragraph">
<p>We recommend using the export and import functions for exchanging processes between different plentymarkets systems. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Exporting a process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Processes</strong>.</p>
</li>
<li>
<p>Click on the small <strong>triangle</strong> on the right-hand side of the line (image 4, number 1).<br>
→ The option <strong>Export process</strong> will appear.</p>
</li>
<li>
<p>Click on <strong>Export process</strong> (image 4, number 2).<br>
→ The process will be exported as a <strong>ZIP file</strong> and saved in the Downloads (MAC) or Documents (Windows) folder on your computer.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can also trigger this process by clicking on the corresponding icon within the editing window of a process (image 6, icon with green arrow).</p>
</div>
<div class="paragraph">
<p>In order to import an exported process into a plentymarkets system again, proceed as follows.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Einstell-Prozesse-Prozesse-einrichten-05-SI.png" alt="EN Einstell Prozesse Prozesse einrichten 05 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 5: Context menu <strong>Import process</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Importing a process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Processes</strong>.</p>
</li>
<li>
<p>Click on the small <strong>triangle</strong> on the right-hand side of the line (image 1, number 1).<br>
→ The option <strong>Import process</strong> will appear.</p>
</li>
<li>
<p>Click on <strong>Import process</strong> (image 5).<br>
→ A new window will open.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the process and click on <strong>Upload files</strong>.</p>
</li>
<li>
<p>Select the corresponding <strong>ZIP file</strong> from your computer and click on <strong>Open</strong>.<br>
→ The process will be imported into the <strong>My processes</strong> folder.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">System-specific settings</div>
<div class="paragraph">
<p>System-specific settings such as printer settings in the <strong>Print</strong> sub-procedure are not exported and will therefore not be imported.<br>
<strong>Tip:</strong> If you want to know which procedures or sub-procedures were not completely transferred, open the imported process in the <strong>Processes</strong> menu → Error messages will show the corresponding procedures and sub-procedures with missing settings together with their <strong>IDs</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>We recommend the <strong>Copy process</strong> function to reproduce processes within the same system. All processes in all folders can be copied.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Einstell-Prozesse-Prozesse-einrichten-06-SI.png" alt="EN Einstell Prozesse Prozesse einrichten 06 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 6: <strong>Copy process</strong> or <strong>Export process</strong> icons</em></p>
</div>
<div class="paragraph">
<p>In addition to the context menu (image 4), you can also copy and export processes using the icons in the editing window of a process. This process is explained below, using the option <strong>Copy process</strong> as an example.</p>
</div>
<div class="paragraph instruction">
<p>Copying a process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Processes</strong>.</p>
</li>
<li>
<p>Open the process that you want to copy.<br>
→ The <strong>Copy process</strong> icon is displayed in the upper line.</p>
</li>
<li>
<p>Click on <strong>Copy process</strong> (image 6, arrow) and enter a new <strong>name</strong> in the window if desired.<br>
→ The process will be copied to the <strong>My processes</strong> folder.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_context_menu">1.3. Context menu</h3>
<div class="paragraph">
<p>You can also use the context menu to more easily configure your processes, e.g. to add a new element.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Using the context menu</div>
<div class="paragraph">
<p>Right-click on an element to create, edit or delete a new work step, procedure or sub-procedure. You will see a context menu with various procedures that can be selected (see the following image).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Image 7 shows the context menu that opened after having clicked ton the <strong>Delivery note</strong> procedure.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Einstell-Prozesse-Prozesse-einrichten-07-SI.png" alt="EN Einstell Prozesse Prozesse einrichten 07 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 7: <strong>Context menu</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="_adding_elements">1.4. Adding elements</h3>
<div class="paragraph">
<p>A process is always based on a <a href="/en/basics/automation/processes/work-steps"><strong>work step</strong></a>. Additional elements can be added to the work step as desired. You can add as many work steps as you wish to a process.</p>
</div>
<div class="paragraph">
<p>You can add various <strong>elements</strong> to a work step. There are two types of elements: <a href="/en/basics/automation/processes/procedures"><strong>control elements</strong></a> and <a href="/en/basics/automation/processes/procedures"><strong>procedures</strong></a>. You can also add <a href="/en/basics/automation/processes/sub-procedures"><strong>sub-procedures</strong></a> to a procedure. You can always add a subordinate element by pointing your cursor to the superordinate element and clicking on the <strong>green plus icon</strong> (see image 7).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Einstell-Prozesse-Prozesse-einrichten-08-SI.png" alt="EN Einstell Prozesse Prozesse einrichten 08 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 8: Example: Clicking on the <strong>green plus icon</strong> to add a <strong>procedure</strong></em></p>
</div>
</div>
</div>
</div>
</main>