<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#order-processing"><span>1.</span><span> Order group processing work step</span></a>
<ul class="sectlevel2">
<li><a href="#_configuration"><span>1.1.</span><span> Configuration</span></a>
<ul class="sectlevel3">
<li><a href="#_settings"><span>1.1.1.</span><span> Settings</span></a></li>
<li><a href="#_filter"><span>1.1.2.</span><span> Filter</span></a></li>
</ul>
</li>
<li><a href="#_select_orders"><span>1.2.</span><span> Select orders</span></a></li>
<li><a href="#_sorting"><span>1.3.</span><span> Sorting</span></a></li>
<li><a href="#_overview_of_procedures_and_sub_procedures"><span>1.4.</span><span> Overview of procedures and sub-procedures</span></a></li>
<li><a href="#_procedures"><span>1.5.</span><span> Procedures</span></a></li>
</ul>
</li>
<li><a href="#single-sales-order-processing"><span>2.</span><span> Order processing</span></a>
<ul class="sectlevel2">
<li><a href="#_configuration_2"><span>2.1.</span><span> Configuration</span></a></li>
<li><a href="#_overview_of_procedures_and_sub_procedures_2"><span>2.2.</span><span> Overview of procedures and sub-procedures</span></a></li>
</ul>
</li>
<li><a href="#incoming-items"><span>3.</span><span> Incoming items</span></a>
<ul class="sectlevel2">
<li><a href="#_configuration_3"><span>3.1.</span><span> Configuration</span></a></li>
<li><a href="#_overview_of_procedures_and_sub_procedures_3"><span>3.2.</span><span> Overview of procedures and sub-procedures</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Work steps</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This chapter deals with the work steps that can be configured for processes. You can create and configure as many work steps as desired for a process. The possibilities for configuration will be more or less detailed depending on which type of work step is selected. These are primarily made up of procedures and sub-procedures that are carried out one after the other and can either run endlessly or be controlled manually. You can set up conditions that act as filters and make it possible to set up very individual configurations for the work steps.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Tool plentyBase required</div>
<div class="paragraph">
<p>To create and run processes, you need plentyBase. You can download the installation files in the <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Select the type of work step when you create a new work step.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Einstell-Prozesse-Arbeitsschritte01-SI.png" alt="New work step">
</div>
<div class="title">Figure 1. Creating a <strong>new work step</strong></div>
</div>
<div class="paragraph">
<p>Click on the <strong>green plus sign</strong> and carry out the settings as described in the following sub-chapters of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="order-processing">1. Order group processing work step</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have several options for configuring the <strong>Order group processing</strong> work step. You can specify which and how many orders should be processed. If needed, you can also select filters to specify which orders should be processed. Furthermore, you can specify if and to what extent changes should be made to the orders by the work step.</p>
</div>
<div class="sect2">
<h3 id="_configuration">1.1. Configuration</h3>
<div class="paragraph">
<p>First create a work step.</p>
</div>
<div class="paragraph instruction">
<p>Creating a work step:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>New work step</strong>.</p>
</li>
<li>
<p>Select <strong>Order group processing</strong> as the type.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The configuration window will open (image 1).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on the <strong>pencil icon</strong> to open this window for an already existing work step.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Settings-Processes-Work-Steps-Order-Group-Processing-01.png" alt="Configuring work step">
</div>
<div class="title">Figure 2. Configuring the work step</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Example configuration</div>
<div class="paragraph">
<p>The example in image 1 shows that 30 orders are set as the limit. Orders will be filtered that have a specific flag and date (received yesterday). While being processed, the orders will receive a new status and a new owner.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The submenus shown in image 1 are explained below.</p>
</div>
<div class="sect3">
<h4 id="_settings">1.1.1. Settings</h4>
<div class="paragraph">
<p>Here, general settings for the work step need to be carried out, e.g. a name and its position in the process.</p>
</div>
<div class="paragraph">
<p>The following table explains the settings of the work step:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Configuring the work step; settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a name that identifies the work step as clearly as possible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter how many orders should be processed per run.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Next step</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether an additional work step should be started manually or automatically. This setting is only relevant if at least two work steps are configured.<br>
<strong>Awaiting input</strong> = The next step or procedure will not be started automatically. Rather, the process will be paused until you click on <strong>Start</strong> in the menu for carrying out the process.<br>
<strong>Start automatically</strong> = The next step or procedure will be started automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If multiple work steps were configured, then the order can be changed here.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em><strong>Don’t forget to check and save your settings or changes!</strong></em></p>
</div>
</div>
<div class="sect3">
<h4 id="_filter">1.1.2. Filter</h4>
<div class="paragraph">
<p>Use <strong>filters</strong> to select orders according to the criteria available in the filter.</p>
</div>
<div class="paragraph">
<p>The following table explains the filters available for this work step:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Overview of filters; explanations of the configurations</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of order items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an <strong>operator</strong> from the drop-down list and enter a number into the field. This will search for orders that include a certain number of items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a warehouse from the drop-down list to only search for orders that contain items from this warehouse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a specific order type if you only want to process this type of order. The list also includes some combinations of order types.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a point in time, e.g. <strong>Yesterday</strong> or e.g. <strong>in the past</strong>, in order to filter all existing orders. You can select more than one option.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the user whose orders you want to filter.<br>
<strong>Active user</strong> = User who is currently logged into the system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an option to only filter for those orders that <strong>include</strong> an email address in the customer data record or that <strong>do not include</strong> an email address in the customer data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Express shipping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether you want to filter orders with express shipping or not.<br>
<strong>Yes</strong> = Only orders with express shipping<br>
<strong>No</strong> = Only orders without express shipping</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total quantity of items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an <strong>operator</strong> from the drop-down list and enter a number into the field. This will search for orders that include a certain number of unique items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders can be filtered by weight in grams. Enter a value and select the <strong>equals sign</strong> to filter orders with an exact weight. Enter a value and select the appropriate operator to filter orders within a certain weight range. You can filter two different weight ranges by using both text fields at once.<br>
<strong>Example:</strong> For a weight of 3.5 kg and higher, enter <strong>3500</strong> into the text field and select the operator <strong>&gt;=</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order referrer of those orders that you want to filter. You can select more than one option.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more customer classes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the country of delivery of those orders that you want to filter. All countries of delivery can be selected here. Not only those that you activated in your system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the client (store) of those orders that you want to filter. You can select more than one option.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the flag of those orders that you want to filter. The option <strong>None</strong> will filter orders that do not have a flag.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pending pick list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pending <a href="/en/order-processing/orders/order-documents/pick-list">pick lists</a> are those that have not been completely processed yet. In order for the filter to be effective, a pending pick list has to be available in general. If this is not the case, then orders will not be filtered by the specified conditions. Instead, orders will be loaded by other filters set up here only. Options:<br>
<strong>Use</strong> = Continue processing a pending pick list.<br>
<strong>Do not use</strong> = Start a new pick list.<br>
If the filter with the setting <strong>Use</strong> is looking for the corresponding orders and finds a pending pick list, the orders of this pick list will be loaded. All other filters set up for this work step will be ignored then. You have to set up a box storage rack in the <a href="/en/basics/automation/processes/procedures#140">item registration procedure</a> as a condition for the following processing of the loaded pick list.<br>
If you deactivate the filter by selecting <strong>Do not use</strong>, then a new pick list will automatically be created assuming that the previously mentioned condition is fulfilled. However, if there is a pending pick list available when selecting this option, then the process will be canceled and an error message will be displayed. In this case, the pending pick list has to be processed in advance.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Packstation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether you want to filter orders with Packstations or not.<br>
<strong>Yes</strong> = Only orders with Packstations<br>
<strong>No</strong> = Only orders without Packstations</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice amount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders can be filtered by invoice amount. Enter a value and select the equals sign to filter orders with an exact amount. Enter a value and select the appropriate operator to filter orders within a certain invoice amount range. You can filter two different weight ranges by using both text fields at once.<br>
<strong>Example:</strong> For an invoice amount of 39.90 euros and higher, enter <strong>39.90</strong> into the text field and select the operator <strong>&gt;=</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status if you only want to filter orders with this status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Loyalty program</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one, several or no loyalty program to only process orders from this loyalty program or orders without a loyalty program.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping service provider</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping service provider to only filter orders that use this shipping service provider.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders can be filtered by shipping costs. Enter a value and select the equals sign to filter orders with an exact amount. Enter a value and select the appropriate operator to filter orders within a certain shipping costs range. You can filter two different weight ranges by using both text fields at once.<br>
<strong>Example:</strong> For a shipping cost of 3.90 euros and higher, enter <strong>3.90</strong> into the text field and select the operator <strong>&gt;=</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping profiles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more shipping profiles to only filter orders with this shipping profile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping region</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping region to only filter orders from this region.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how you want to filter by outgoing items:<br>
<strong>Not booked</strong> = only orders without outgoing items booked<br>
<strong>Booked</strong> = only orders with outgoing items booked<br>
<strong>Today</strong> = only orders with outgoing items booked today<br>
<strong>Yesterday</strong> = only orders with outgoing items booked yesterday</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the payment status by which you want to filter the orders: <strong>Check payment</strong>, <strong>Unpaid only</strong>, <strong>Paid only</strong>, <strong>Partial payment only</strong>, <strong>Initial payment is complete</strong>, <strong>Overpaid only</strong> or <strong>Unpaid and partially paid</strong>.<br>
Use the option <strong>Check payment</strong> to filter all orders in a specific status that should be checked (manually). This means that unpaid, partially paid and overpaid orders will be listed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more payment methods to only filter orders with this payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">SEPA</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type of debit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether you want to filter orders with <strong>First debit</strong> or <strong>Recurring debit</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type of mandate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA core direct debit</strong> = Allows a biller to collect funds from a payer’s account, provided that a signed mandate has been granted by the payer to the biller<br>
<strong>SEPA business to business direct debit</strong> = Enables business customers in the role of payers to make payments by direct debit (Source: European Payments Council).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment frequency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>One-time payment</strong> = Standard orders<br>
<strong>Recurring payment</strong> = Regularly occurring orders such as subscription orders, etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN &amp; BIC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether you want to filter orders for which IBAN and BIC are <strong>available</strong> or <strong>not available</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA direct debit mandate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you create the <strong>SEPA direct debit mandate</strong> filter and select the option <strong>available</strong>, only orders from customers who confirmed and signed the SEPA direct debit mandate will be selected.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em><strong>Don’t forget to check and save your settings or changes!</strong></em></p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_select_orders">1.2. Select orders</h3>
<div class="paragraph">
<p>In order for you to recognize those orders that already passed through the process, assign a flag or a new status here. You can also change the user if orders should e.g. be assigned to another department after passing through the process.</p>
</div>
<div class="paragraph">
<p>The following table explains the flags of the <strong>Order group processing</strong> work step:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Configuring the work step; flagging orders</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">New status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you want this work step to change the status of the order, then select the desired status from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">New owner</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you want this work step to assign a new user as owner of the orders, then select the user from the drop-down list. You can also select the <strong>active user</strong> or <strong>without changes</strong> if you don’t want to change the owner.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">New flag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you want this work step to change the flag of the orders, then select the desired flag from the drop-down list.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em><strong>Don’t forget to check and save your settings or changes!</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="_sorting">1.3. Sorting</h3>
<div class="paragraph">
<p>Select how the orders should be sorted.</p>
</div>
<div class="paragraph">
<p>The following table explains the sorting of the <strong>Order group processing</strong> work step:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Configuring the work step; settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sorting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how the orders should be sorted. Orders can be sorted in <strong>ascending</strong> or <strong>descending</strong> order by:<br>
<strong>Order ID</strong> = Default setting<br>
<strong>Item ID</strong><br>
<strong>Customer ID</strong><br>
<strong>Invoice number</strong><br>
<strong>Item number</strong><br>
<strong>Storage location position</strong></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Sorting</div>
<div class="paragraph">
<p>Only the first item within an order is taken into consideration for the sorting.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><em><strong>Don’t forget to check and save your settings or changes!</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="_overview_of_procedures_and_sub_procedures">1.4. Overview of procedures and sub-procedures</h3>
<div class="paragraph">
<p>Once you have carried out all of the settings, add <strong>procedures</strong> and <strong>sub-procedures</strong> to the work step.</p>
</div>
<div class="paragraph">
<p>The following <a href="/en/basics/automation/processes/procedures">procedures</a> and <a href="/en/basics/automation/processes/sub-procedures">sub-procedures</a> can be selected for the <strong>Order group processing</strong> work step. For further information about the elements and their settings, refer to the corresponding page.</p>
</div>
</div>
<div class="sect2">
<h3 id="_procedures">1.5. Procedures</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#120">Address label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#130">Offer</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#140">Item registration</a></p>
</li>
<li>
<p>none</p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#290">Change status</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#210">Change flag</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#190">Change owner</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#250">Scan package number</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#340">Change payment method</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#300">Change shipping service provider</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#320">Change shipping profile</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#130">Add order notes</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#140">Remove from procedure</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#310">Shipping packages</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#180">Order confirmation</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#210">Documents</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#220">Email</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#330">Send</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#250">Credit note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#260">Note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#200">Show note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#240">Customer notes</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#230">Order notes</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#270">Adjustment form</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#280">Warehouse pick list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#290">Delivery note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#300">Dunning letter</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#310">Packing list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#320">Pick list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#340">Polling</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#350">Invoice</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#380">Return label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#390">Reply slip</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#400">SEPA Pain001</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#410">SEPA Pain008</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#420">Serial numbers</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#260">Register serial numbers</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#430">Shipping center</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#440">Outgoing items</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#160">Execute booking</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#170">Reset booking</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#470">Register incoming payment</a></p>
</li>
<li>
<p>none</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="single-sales-order-processing">2. Order processing</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the work step <strong>Single order processing</strong> to define how single orders should be dealt with after they were registered, e.g. scanned with a barcode scanner. This flexible work step can be further defined by using the corresponding procedures and sub-procedures.</p>
</div>
<div class="sect2">
<h3 id="_configuration_2">2.1. Configuration</h3>
<div class="paragraph">
<p>First create a work step.</p>
</div>
<div class="paragraph instruction">
<p>Creating a work step:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the button <strong>New work step</strong>.</p>
</li>
<li>
<p>Select <strong>Single order processing</strong> as the type and click on <strong>Save</strong>.<br>
→ The configuration window will open (image 1).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on the <strong>pencil icon</strong> to open this window for an already existing work step.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Settings-Processes-Work-Steps-Single-Order-Processing-01.png" alt="Configuring work step">
</div>
<div class="title">Figure 3. Configuring the work step</div>
</div>
<div class="paragraph">
<p>The following table explains the settings of the work step:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Configuring the work step; settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the work step. Select a name that identifies the work step as clearly as possible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Next step</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether an additional work step should be started <em><strong>manually</strong></em> or <em><strong>automatically</strong></em>. This setting is only relevant if at least two work steps are configured.<br>
<strong>Awaiting input</strong> = The next step or procedure will <em><strong>not be started automatically</strong></em>. Rather, the process will be paused until you click on the <strong>Start</strong> button in the menu for carrying out the process.<br>
<strong>Start automatically</strong> = The next step or procedure will be started <em><strong>automatically</strong></em>.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em><strong>Don’t forget to check and save your settings or changes!</strong></em></p>
</div>
<div class="paragraph">
<p>The work step will be displayed. Point your cursor to the element to display the configuration elements:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Settings-Processes-Work-Steps-Single-Order-Processing-02-SI.png" alt="Single order processing">
</div>
<div class="title">Figure 4. Work step <strong>Single order processing</strong>, opening the configuration</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Adding elements</div>
<div class="paragraph">
<p>Click on the <strong>green plus icon</strong> (image 2) to add a <strong>procedure</strong> or <strong>sub-procedure</strong> and select the desired element from the drop-down list.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_overview_of_procedures_and_sub_procedures_2">2.2. Overview of procedures and sub-procedures</h3>
<div class="paragraph">
<p>The following <a href="/en/basics/automation/processes/procedures">procedures</a> and <a href="/en/basics/automation/processes/sub-procedures">sub-procedures</a> can be selected for the <strong>Single order processing</strong> work step. For further information about configuring these elements, refer to the corresponding page.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#120">Address label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#140">Item registration</a></p>
</li>
<li>
<p>none</p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#290">Change status</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#210">Change flag</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#190">Change owner</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#250">Scan package number</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#340">Change payment method</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#300">Change shipping service provider</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#320">Change shipping profile</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#130">Add order notes</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#140">Remove from procedure</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#310">Shipping packages</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#160">Order search</a></p>
</li>
<li>
<p>none</p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#200">Reorder search</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#150">Scan reorder</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#210">Documents</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#220">Email</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#330">Send</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#250">Credit note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#260">Note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#200">Show note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#240">Customer notes</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#230">Order notes</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#290">Delivery note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#310">Packing list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#320">Pick list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#340">Polling</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#350">Invoice</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#380">Return label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#390">Reply slip</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#420">Serial numbers</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#260">Register serial numbers</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#430">Shipping center</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#440">Outgoing items</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#160">Execute booking</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#170">Reset booking</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="incoming-items">3. Incoming items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can use the work step <strong>Incoming items</strong> to search for and register single incoming items, to search for orders and then book the items contained in the order and to automatically assign reorders.</p>
</div>
<div class="sect2">
<h3 id="_configuration_3">3.1. Configuration</h3>
<div class="paragraph">
<p>First create a work step.</p>
</div>
<div class="paragraph instruction">
<p>Creating a work step:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the <strong>New work step</strong> button.</p>
</li>
<li>
<p>Select <strong>Incoming items</strong> as the type and click on <strong>Save</strong>.<br>
→ The configuration window will open (image 1).</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on the <strong>pencil icon</strong> to open this window for an already existing work step.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-ENG-Einstell-Prozesse-Wareneingang-01-SI.png" alt="Configuring work step">
</div>
<div class="title">Figure 5. Configuring the work step</div>
</div>
<div class="paragraph">
<p>The following table explains the settings of the work step:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Configuring the work step; settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you configured multiple work steps, then you can use the position to change the order of the steps.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the work step. Select a name that identifies the work step as clearly as possible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Next step</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether an additional work step should be started manually or automatically. This setting is only relevant if at least two work steps are configured.<br>
<strong>Awaiting input</strong> = The next step or procedure will not be started automatically. Rather, the process will be paused until you click on the <strong>Start</strong> button in the menu for carrying out the process.<br>
<strong>Start automatically</strong> = The next step or procedure will be started automatically.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The work step will be displayed. Point your cursor to the element to display the configuration elements:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-ENG-Einstell-Prozesse-Wareneingang-02-SI.png" alt="Incoming items">
</div>
<div class="title">Figure 6. Work step <strong>Incoming items</strong>, opening the configuration</div>
</div>
<div class="paragraph">
<p>For further information about carrying out this process, refer to the <a href="/en/basics/automation/processes/carrying-out-processes#2.4">Carrying out processes</a> page of the manual and its sub-chapter <strong>4.2 Booking single incoming items</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_overview_of_procedures_and_sub_procedures_3">3.2. Overview of procedures and sub-procedures</h3>
<div class="paragraph">
<p>The following procedures and sub-procedures can be selected for the <strong>incoming items</strong> work step. For further information about the elements and their settings, refer to the corresponding page.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#160">Item search</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#120">Scan item</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#150">Item label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#200">Reorder search</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#150">Scan reorder</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#260">Note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#200">Show note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#240">Customer notes</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#230">Order notes</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#450">Incoming items (reorder)</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/sub-procedures#160">Execute booking</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#460">Single incoming item</a></p>
</li>
<li>
<p>none</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</main>