<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#linking-properties"><span>1.</span><span> Linking properties to attributes</span></a>
<ul class="sectlevel2">
<li><a href="#_how_do_i_link_a_property_to_a_real_de_attribute"><span>1.1.</span><span> How do I link a property to a real.de attribute?</span></a></li>
<li><a href="#_how_do_i_add_an_attribute_to_the_product_csv"><span>1.2.</span><span> How do I add an attribute to the product.csv?</span></a></li>
</ul>
</li>
<li><a href="#integrarion-shipping-groups"><span>2.</span><span> real.de: Integration of shipping groups</span></a>
<ul class="sectlevel2">
<li><a href="#_real_de_integration_of_shipping_groups"><span>2.1.</span><span> Real.de: Integration of shipping groups</span></a>
<ul class="sectlevel3">
<li><a href="#_what_is_the_use_of_shipping_groups"><span>2.1.1.</span><span> What is the use of shipping groups?</span></a></li>
<li><a href="#_how_to_carry_out_the_settings_on_real_de"><span>2.1.2.</span><span> How to carry out the settings on real.de</span></a></li>
<li><a href="#_how_to_carry_out_the_settings_in_plentymarkets"><span>2.1.3.</span><span> How to carry out the settings in plentymarkets</span></a></li>
<li><a href="#_which_settings_to_carry_out_in_plentymarkets"><span>2.1.4.</span><span> Which settings to carry out in plentymarkets</span></a></li>
<li><a href="#_which_shipping_profiles_can_be_matched"><span>2.1.5.</span><span> Which shipping profiles can be matched?</span></a></li>
<li><a href="#_step_1"><span>2.1.6.</span><span> Step 1</span></a></li>
<li><a href="#_step_2"><span>2.1.7.</span><span> Step 2</span></a></li>
<li><a href="#_step_3"><span>2.1.8.</span><span> Step 3</span></a></li>
<li><a href="#_which_shipping_profile_is_matched"><span>2.1.9.</span><span> Which shipping profile is matched?</span></a></li>
<li><a href="#_how_to_set_up_shipping_profiles"><span>2.1.10.</span><span> How to set up shipping profiles</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: real.de</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Best Practices for the marketplace <strong>real.de</strong> can be found on this page.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="linking-properties">1. Linking properties to attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to successfully list items on real.de, plentymarkets transfers two files. One file contains product data (product.csv) and the other file contains offer data (inventory.csv). The product.csv is used to list the item. The inventory.csv serves to create the offer. Therefore, this file only contains information about price, stock, and shipping.</p>
</div>
<div class="sect2">
<h3 id="_how_do_i_link_a_property_to_a_real_de_attribute">1.1. How do I link a property to a real.de attribute?</h3>
<div class="paragraph">
<p>It might be useful to add certain attributes to the product data file for various reasons. One reason is to provide the buyer with additional information about the item (material, colour etc.). Another reason is to transfer mandatory information which are required by law for specific products (danger notices, nutrition declarations etc.).</p>
</div>
<div class="paragraph">
<p>You can add this information by adding properties to the product data file. A new column is added to the product.csv for each property which is linked to <a href="https://www.real.de/" target="_blank" rel="noopener">real.de</a>.<br>
<strong>Note</strong>: This procedure only works for the product.csv, but not for the inventory.csv.</p>
</div>
</div>
<div class="sect2">
<h3 id="_how_do_i_add_an_attribute_to_the_product_csv">1.2. How do I add an attribute to the product.csv?</h3>
<div class="paragraph">
<p>First of all, you have to find out the exact name of the column in the product data file. An overview of these attributes is provided on <a href="https://www.real.de/versandpartner/download-bereich/" target="_blank" rel="noopener">real.de</a>.</p>
</div>
<div class="paragraph">
<p>For example, if you want to add the attribute material composition to the file, the corresponding property must be named material_composition.
Create the new property in your plentymarkets system in the menu <strong>System » Item » Properties</strong>. The new property will then appear in the CSV file. The property must have the exact same name as the corresponding real.de-attribute. In addition, you have to link the property to real.de.</p>
</div>
<div id="attributename" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/real/assets/bp-real-linking-properties.png" alt="bp real linking properties">
</div>
<div class="title">Figure 1. real attribute name</div>
</div>
<div id="marketplacelink" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/real/assets/bp-real-marketlink.png" alt="bp real marketlink">
</div>
<div class="title">Figure 2. link to real</div>
</div>
<div class="paragraph">
<p>Add the property to the item and enter the corresponding value. Then the information will be displayed in the file.</p>
</div>
<div id="itemlink" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/real/assets/bp-real-item-link.png" alt="bp real item link">
</div>
<div class="title">Figure 3. Linking the property to the item</div>
</div>
<div class="paragraph">
<p>A new column is added to the product.csv afterwards.</p>
</div>
<div class="paragraph">
<p><strong>Note</strong>: If two properties have the same name, then the property with the lower ID will be overwritten. This way you can overwrite attributes which already exist by default (EAN, name etc.).</p>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="integrarion-shipping-groups">2. real.de: Integration of shipping groups</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_real_de_integration_of_shipping_groups">2.1. Real.de: Integration of shipping groups</h3>
<div class="sect3">
<h4 id="_what_is_the_use_of_shipping_groups">2.1.1. What is the use of shipping groups?</h4>
<div class="paragraph">
<p>On real.de, shipping groups are set up in the <strong>Händlereinstellungen » Versandeinstellungen</strong> [Seller settings » Shipping settings] section. With shipping groups, shipping costs can be based on the country of delivery.</p>
</div>
</div>
<div class="sect3">
<h4 id="_how_to_carry_out_the_settings_on_real_de">2.1.2. How to carry out the settings on real.de</h4>
<div class="paragraph">
<p>Go to the section <strong>Händlereinstellungen » Versandeinstellungen</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="_how_to_carry_out_the_settings_in_plentymarkets">2.1.3. How to carry out the settings in plentymarkets</h4>
<div class="paragraph">
<p>Select the client and go to <strong>System » Markets » real.de » Settings</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="_which_settings_to_carry_out_in_plentymarkets">2.1.4. Which settings to carry out in plentymarkets</h4>
<div class="paragraph">
<p>You have to carry out two settings in the <strong>Match shipping profiles</strong> section.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Download the shipping groups from real.de by clicking on <strong>Update shipping groups</strong>.</p>
</li>
<li>
<p>The shipping profiles which are released for real.de are listed on the left-hand side. On the right-hand side, you can select and match a real.de shipping group from the drop-down list.</p>
</li>
</ol>
</div>
<div id="shipping-profile-matching" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/real/assets/bp-real-shipping-profiles.png" alt="bp real shipping profiles">
</div>
<div class="title">Figure 4. Matching shipping profiles</div>
</div>
</div>
<div class="sect3">
<h4 id="_which_shipping_profiles_can_be_matched">2.1.5. Which shipping profiles can be matched?</h4>
<div class="paragraph">
<p>Only the shipping groups which are released for real.de are displayed. You can release shipping groups in the corresponding shipping profile in the menu <strong>System » Orders » Shipping » Settings » Tab: Shipping profiles</strong> by activating the order referrer.</p>
</div>
<div id="order-referrer-shipping-profile" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/real/assets/bp-real-order-referrer.png" alt="bp real order referrer">
</div>
<div class="title">Figure 5. Order referrer for the shipping profile</div>
</div>
</div>
<div class="sect3">
<h4 id="_step_1">2.1.6. Step 1</h4>
<div class="paragraph">
<p>Set up the <strong>shipping groups</strong> in the <strong>Händlereinstellungen » Versandeinstellungen</strong> section at <strong>real.de</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="_step_2">2.1.7. Step 2</h4>
<div class="paragraph">
<p>Import the real.de shipping groups in the <strong>System » Markets » real.de » Settings</strong> menu in plentymarkets. To do so, click on <strong>Update shipping groups</strong> in the section <strong>Match shipping profiles</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="_step_3">2.1.8. Step 3</h4>
<div class="paragraph">
<p>Match the real.de shipping groups with the desired plentymarkets shipping groups in the <strong>System » Markets » real.de » Settings</strong> menu.</p>
</div>
</div>
<div class="sect3">
<h4 id="_which_shipping_profile_is_matched">2.1.9. Which shipping profile is matched?</h4>
<div class="paragraph">
<p>If an item is linked to several shipping profiles with different shipping groups, then the shipping group of the shipping profile with the lowest category and the highest priority is assigned.
The category and the priority of the shipping profile is set up in the <strong>System » Orders » Shipping » Settings » Tab: Shipping profiles</strong> in the <strong>Base</strong> tab of each shipping profile.</p>
</div>
<div id="priority-shipping-profile" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/real/assets/bp-real-priority-category.png" alt="bp real priority category">
</div>
<div class="title">Figure 6. Priority and category of a shipping profile</div>
</div>
</div>
<div class="sect3">
<h4 id="_how_to_set_up_shipping_profiles">2.1.10. How to set up shipping profiles</h4>
<div class="paragraph">
<p>If you only have a few shipping profiles and a simple structure, you do not need to carry out any particular settings.
If you have to reproduce a complex structure with the shipping profiles, then you should create separate shipping profiles for the snychronisation of the shipping groups. Those shipping profiles should only be released for real.de. Additionally, you should not release any other shipping profiles for real.de. This may initially be a lot of work, but you will have a clear structure which facilitates any further tasks afterwards.
Use the data format <strong>ItemParcelServicePreset</strong> to add the shipping profiles to your items afterwards. To use the data format <strong>ItemParcelServicePreset</strong>, the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/ElasticExportShippingProfiles_4747" target="_blank" rel="noopener">plentymarkets shipping profiles</a> plugin must be installed. The data format <strong>ItemParcelServicePreset</strong> is available in the <strong>Data » Custom export</strong> menu.</p>
</div>
</div>
</div>
</div>
</div>
</main>