{% extends getPartial('page-design') %}
{% import "PlentyManual::Macros.SearchBar" as SearchBar %}

{% set pageTitle = trans("PlentyManual::Manual.pageTitle") %}

{% block PartialHead %}
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ trans("PlentyManual::Manual.metaDescription") }}">
    <link rel="canonical" href="https://knowledge.plentymarkets.com/{% if lang == "en" %}en{% endif %}" />
{% endblock %}

{% block Navigation %}
    {% include "PlentyManual::Partials.Navigation" %}
{% endblock %}

{% block PageBody %}
    <main class="docs-container docs-fullwidth-container manual-content" id="main" data-tg="docs-container">
        <div class="container-fluid manual-start-page">

            <div class="row">

                <!-- START / manual quick start -->
                <div class="col-lg-8">
                    <div class="row">
                        <div class="category-card-wrapper mb-3 mb-md-2">
                            <a class="category-card text-white" href="{{ trans("PlentyManual::Links.quickStart") }}">
                                <img class="img-fluid w-100" src="{{ plugin_path('PlentyManual') }}/images/_layout/quick-start.jpg" alt="Ipad">
                                <div class="category-text-wrapper">
                                    <div class="category-text">
                                        <h5 class="text-white">{{ trans("PlentyManual::Manual.quickStartGuideTitle") }}</h5>
                                        <p>{{ trans("PlentyManual::Manual.quickStartGuideText") }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="category-card-wrapper mb-3 mb-md-2">
                            <a class="category-card text-white" href="{{ trans("PlentyManual::Links.videoTutorials") }}" target="_blank">
                                <img class="img-fluid w-100" src="{{ plugin_path('PlentyManual') }}/images/_layout/video-tutorials.jpg" alt="Mac">
                                <div class="category-text-wrapper">
                                    <div class="category-text">
                                        <h5 class="text-white">{{ trans("PlentyManual::Manual.videoTutorialsTitle") }}</h5>
                                        <p>{{ trans("PlentyManual::Manual.videoTutorialsText") }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="category-card-wrapper mb-3 mb-mb-0">
                            <a class="category-card text-white" href="{{ trans("PlentyManual::Links.setUpAndConsulting") }}" target="_blank">
                                <img class="img-fluid w-100" src="{{ plugin_path('PlentyManual') }}/images/_layout/system-setup.jpg" alt="Group of people">
                                <div class="category-text-wrapper">
                                    <div class="category-text">
                                        <h5 class="text-white">{{ trans("PlentyManual::Manual.setUpAndConsultingTitle") }}</h5>
                                        <p>{{ trans("PlentyManual::Manual.setUpAndConsultingText") }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="category-card-wrapper mb-3 mb-mb-0">
                            <a class="category-card text-white" href="{{ trans("PlentyManual::Links.forum") }}" target="_blank">
                                <img class="img-fluid w-100" src="{{ plugin_path('PlentyManual') }}/images/_layout/forum.jpg" alt="All together">
                                <div class="category-text-wrapper">
                                    <div class="category-text">
                                        <h5 class="text-white">{{ trans("PlentyManual::Manual.plentyForumTitle") }}</h5>
                                        <p>{{ trans("PlentyManual::Manual.plentyForumText") }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END / manual quick start -->

                <!-- START / manual changelog list -->
                <div class="col-lg-4 changelog-list">
                    <a href="{{ trans("PlentyManual::Links.plentymarketsChangelog") }}"><h5 class="changelog-link text-primary">{{ trans("PlentyManual::Manual.plentymarketsChangelog") }}
                    </h5></a>
                    <hr>
                    <h5 class="changelog-title text-primary">{{ trans("PlentyManual::Manual.latestManualUpdates") }}</h5>
                    <div class="list-group">

                        {% for changelogEntry in changelog %}
                            <a href="{{ changelogEntry.url }}" class="list-group-item p-2" target="_blank">
                                <div class="clearfix">
                                    <p class="list-group-item-text pull-left text-black mb-2">
                                        <small>{{ changelogEntry.dateString|date("d.m.Y") }}</small>
                                    </p>
                                    <p class="list-group-item-text pull-right bg-primary rounded text-white mb-2 px-1">
                                        <small>
                                            {% for tag in changelogEntry.tags %}
                                                <span class="label label-danger">{{ tag }}</span>
                                            {% endfor %}
                                        </small>
                                    </p>
                                </div>
                                <h6 class="text-black mb-0">{{ changelogEntry.title }}</h6>
                            </a>
                        {% endfor %}

                        <a href="https://forum.plentymarkets.com/search?q=%23changelog%20tags%3Adoku%20order%3Alatest" class="list-group-item text-center text-black p-1" target="_blank">
                            <small><i class="fa fa-list fa-fw align-text-bottom"></i>{{ trans("PlentyManual::Manual.more") }}</small>
                        </a>
                    </div>
                </div>
                <!-- END / maual changelog list -->
            </div>
        </div>

    </main>
{% endblock %}

{% block Footer %}
    {% include "PlentyManual::Partials.Footer" %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://www.knowledge.plentymarkets.com/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://www.knowledge.plentymarkets.com{{ searchUrl }}?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
{% endblock %}
