{% extends getPartial('page-design') %}
{% import "PlentyManual::Macros.SearchBar" as SearchBar %}

{% set lang = services.sessionStorage.getLang() %}
{% set pageTitle = "plenty Knowledge" %}

{% block PartialHead %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% block Navigation %}
    {% include "PlentyManual::Partials.Navigation" %}
{% endblock %}

{% block PageBody %}
<main id="main">

    {# TODO: set image #}
    {{ SearchBar.printBanner( plugin_path("PlentyManual")~'/images/_layout/girl-with-notebook-sitting-on-desk-darken-lr.jpg', plugin_path("PlentyManual")~'/images/_layout/girl-with-notebook-sitting-on-desk-darken.jpg', true ) }}

    <div class="container">

        <div class="my-4 text-center">

            <h1 class="display-2">
                {% if lang == "de" %}
                    plentymarkets Handbuch
                {% else %}
                    plentymarkets manual
                {% endif %}
            </h1>

            <h2 class="mt-4 mb-0">
                {% if lang == "de" %}
                    Neu hier?
                {% else %}
                    New here?
                {% endif %}
            </h2>
            <a href="#newHere">
                <i class="fa fa-arrow-down lead" aria-hidden="true"></i>
                <span class="sr-only">{{ trans("PlentyManual::Manual.scrollDown") }}</span>
            </a>

        </div>

        <p class="lead">
            {% if lang == "de" %}
                Für jeden Bereich deines plentymarkets Systems findest du hier die passende Erklärung.
                Leicht verständliche Video-Tutorials und ausführliche Beschreibungen helfen dir,
                jede Funktion deines ERPs optimal einzurichten und anzuwenden.
            {% else %}
                Here you'll find information about every area within your plentymarkets system.
                Easy to understand video tutorials and detailed descriptions help you efficiently
                set up and use every function included in your ERP.
            {% endif %}
        </p>

        <hr class="my-4">

        <div class="row" id="newHere">

            <div class="col-md-6 eh-outer">

                <div class="eh-inner">

                    <figure class="">
                        {# TODO: set image #}
                        <img class="img-fluid" src="{{ plugin_path('PlentyManual') }}/images/_layout/biergarten-720x407.jpg" alt="{% if lang == "de" %}Mann mit Tablet am Tisch{% else %}Man with tablet{% endif %}">
                    </figure>

                    <h3 class="text-center">
                        {% if lang == "de" %}
                            Schnelleinstieg im Handbuch
                        {% else %}
                            Quick start guide
                        {% endif %}
                    </h3>

                    <p>
                        {% if lang == "de" %}
                            Hier findest du Erläuterungen zu allen grundlegenden Einstellungen,
                            um in deinem plentymarkets System einen funktionalen Webshop einzurichten.
                        {% else %}
                            This written guide teaches you how to configure all of the settings that
                            transform your plentymarkets system into a functional online store.
                        {% endif %}
                    </p>

                </div>

                <p class="text-center">
                    <a class="btn btn-primary" href="{{ trans("PlentyManual::Links.quickStart") }}">
                        <span>
                            {% if lang == "de" %}
                                Zum Schnelleinstieg
                            {% else %}
                                Open the quick start
                            {% endif %}
                        </span>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </p>

            </div>

            <div class="col-md-6 eh-outer mt-4 mt-md-0">

                <div class="eh-inner">

                    <figure class="has-play-button">
                        <a href="#">
                            {# TODO: set image #}
                            <img class="img-fluid" src="{{ plugin_path('PlentyManual') }}/images/_layout/video-tutorial-your-first-item.jpg" alt="{% if lang == "de" %}Video starten{% else %}play video{% endif %}">
                        </a>
                    </figure>

                    <h3 class="text-center">
                        {% if lang == "de" %}
                            Schnell zu deinem ersten Artikel
                        {% else %}
                            Creating your first item
                        {% endif %}
                    </h3>

                    <p>
                        {% if lang == "de" %}
                            Artikel in plentymarkets einstellen ist ganz einfach – dieses Video zeigt dir, wie du in
                            Windeseile deinen ersten Artikel verkaufsfertig anlegst und in deinem Shop veröffentlichst.
                        {% else %}
                            It's easy to create items in plentymarkets. This video teaches you how to save item data
                            and display it in your online store - all in the blink of an eye.
                        {% endif %}
                    </p>

                </div>

                <p class="text-center">
                    <a class="btn btn-primary" href="{{ trans("PlentyManual::Links.videoItem") }}">
                        <span>
                            {% if lang == "de" %}
                                Zum Video
                            {% else %}
                                Open the video
                            {% endif %}
                        </span>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </p>

            </div>

        </div>

    </div>


    <!-- BANNER -->

    {# TODO: set image #}
    <div class="banner-st-1 bg-fixed bg-cover mt-4" style="background-image: url('{{ plugin_path('PlentyManual') }}/images/_layout/fullpage-banner-video-tutorials-lr.jpg');" data-fn="lazyload" data-src="{{ plugin_path('PlentyManual') }}/images/_layout/fullpage-banner-video-tutorials.jpg">

        <div class="container">
            <div class="card-unstyled card-px bg-white-opaque px-4 py-3">
                <div class="lead">
                    {% if lang == "de" %}
                        Lerne anhand von kurzen, anwendungsorientierten Videos die wichtigsten
                        Funktionen von plentymarkets kennen –
                        Schritt für Schritt zum perfekt eingerichteten System!
                    {% else %}
                        Let our short, hands-on videos take you on a tour through the most
                        important functions in plentymarkets –
                        step by step to a perfectly configured system!
                    {% endif %}
                </div>
                <div class="text-center mt-4">
                    <a class="btn btn-lg btn-danger" href="{{ trans("PlentyManual::Links.videoTutorials") }}">
                        <span>{{ trans("PlentyManual::Manual.videoTutorials") }}</span>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <!-- EXIT LINKS -->

    <div class="container mt-4">

        <div class="row">

            <div class="col-md-6 eh-outer">

                <div class="eh-inner">

                    <h3 class="text-center">
                        {% if lang == "de" %}
                            plentymarkets Forum
                        {% else %}
                            plentymarkets forum
                        {% endif %}
                    </h3>

                    <div class="row my-3">
                        <div class="col-8 col-sm-6 mx-auto text-center">
                            {# TODO: set image #}
                            <img class="img-fluid rounded-circle" src="{{ plugin_path('PlentyManual') }}/images/_layout/group-of-diverse-hands-together-joining-720.jpg" alt="{% if lang == "de" %}Hände zusammen{% else %}Hands together{% endif %}">
                        </div>
                    </div>

                    <p class="text-center">
                        {% if lang == "de" %}
                            Profitiere von der Erfahrung der plentyCommunity und erhalte schnelle und
                            praktische Hilfe bei Fragen rund um dein plentymarkets System.
                        {% else %}
                            Learn from the experiences of other plentyCommunity members and
                            ask them for help or tips about your plentymarkets system.
                        {% endif %}
                    </p>

                </div>

                <p class="text-center">
                    <a class="btn btn-primary" href="{{ trans("PlentyManual::Links.forum") }}">
                        <span>
                            {% if lang == "de" %}
                                Zum Forum
                            {% else %}
                                Open the forum
                            {% endif %}
                        </span>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </p>

            </div>

            <div class="col-md-6 eh-outer mt-4 mt-md-0">

                <div class="eh-inner">

                    <h3 class="text-center">
                        {% if lang == "de" %}
                            Dienstleister gesucht?
                        {% else %}
                            Need a service provider?
                        {% endif %}
                    </h3>

                    <div class="row my-3">
                        <div class="col-8 col-sm-6 mx-auto text-center">
                            {# TODO: set image #}
                            <img class="img-fluid rounded-circle" src="{{ plugin_path('PlentyManual') }}/images/_layout/woman-explaining-in-front-of-whiteboard-720.jpg" alt="{% if lang == "de" %}Consulting{% else %}Consulting{% endif %}">
                        </div>
                    </div>

                    <p class="text-center">
                        {% if lang == "de" %}
                            Du brauchst Hilfe bei der Realisierung individueller Pläne?
                            In unserem weitreichenden Partnernetzwerk findest du sicher
                            den richtigen Ansprechpartner für dein Anliegen.
                        {% else %}
                            You'd like help turning your dreams into reality?
                            Our comprehensive partner network is sure to include the right
                            service provider for your project.
                        {% endif %}
                    </p>

                </div>

                <p class="text-center">
                    <a class="btn btn-primary" href="{{ trans("PlentyManual::Links.plentyProjects") }}">
                        <span>
                            {% if lang == "de" %}
                                Zur Projektbörse
                            {% else %}
                                Open the project platform
                            {% endif %}
                        </span>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </p>

            </div>

        </div>

    </div>

</main>
{% endblock %}

{% block Footer %}
    {% include "PlentyManual::Partials.Footer" %}
{% endblock %}