<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#13"><span>1.</span><span> Standortbezogene Dokumente einrichten</span></a></li>
<li><a href="#16"><span>2.</span><span> Fulfillment-Dokumente einrichten</span></a></li>
<li><a href="#20"><span>3.</span><span> Dokumentenvorlage konfigurieren</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>3.1.</span><span> Grundeinstellungen</span></a></li>
<li><a href="#40"><span>3.2.</span><span> Seitenränder</span></a></li>
<li><a href="#50"><span>3.3.</span><span> Positionierung der Pflichtelemente</span></a></li>
<li><a href="#60"><span>3.4.</span><span> Kundeneigenschaften</span></a></li>
<li><a href="#70"><span>3.5.</span><span> Spalten Artikelpositionen</span></a>
<ul class="sectlevel3">
<li><a href="#80"><span>3.5.1.</span><span> Variantenmatrix</span></a></li>
</ul>
</li>
<li><a href="#90"><span>3.6.</span><span> Summen</span></a></li>
<li><a href="#100"><span>3.7.</span><span> Optionale Elemente</span></a>
<ul class="sectlevel3">
<li><a href="#110"><span>3.7.1.</span><span> Barcode</span></a></li>
<li><a href="#120"><span>3.7.2.</span><span> Nachnahmehinweis</span></a></li>
</ul>
</li>
<li><a href="#130"><span>3.8.</span><span> Optionale Elemente unter Artikelpositionstabelle</span></a></li>
</ul>
</li>
<li><a href="#140"><span>4.</span><span> Einstellungstransfer</span></a>
<ul class="sectlevel2">
<li><a href="#150"><span>4.1.</span><span> Einstellungen übertragen</span></a></li>
<li><a href="#160"><span>4.2.</span><span> Standard-Einstellungen übernehmen</span></a></li>
</ul>
</li>
<li><a href="#170"><span>5.</span><span> PDF-Vorlage</span></a>
<ul class="sectlevel2">
<li><a href="#175"><span>5.1.</span><span> PDF-Vorlagen für Zahlungsarten</span></a></li>
<li><a href="#180"><span>5.2.</span><span> PDF-Vorlage erstellen</span></a></li>
<li><a href="#190"><span>5.3.</span><span> PDF-Vorlage verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#200"><span>6.</span><span> Nummernkreise</span></a></li>
<li><a href="#210"><span>7.</span><span> Anschließende Aktionen automatisieren</span></a></li>
<li><a href="#220"><span>8.</span><span> Steuerrechtliche Informationen zu Lieferungen ins Ausland</span></a>
<ul class="sectlevel2">
<li><a href="#230"><span>8.1.</span><span> EU-Lieferung</span></a></li>
<li><a href="#240"><span>8.2.</span><span> Ausfuhrlieferung</span></a></li>
</ul>
</li>
<li><a href="#250"><span>9.</span><span> Differenzbesteuerte Artikelpositionen in Dokumenten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Auftragsdokumente</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Fulfillment beschreibt die einzelne Schritte der Auftragsabwicklung, wie die Erzeugung von Rechnungen oder der Druck von Etiketten. Es ist auch möglich, zusammen mit diesen Schritten automatische Statuswechsel zu vollziehen. Auf den folgenden Seiten werden die einzelne Fullfilmentschritte beschrieben. Das Ziel ist, Ihnen zu zeigen, wie Sie Ihren Fulfillmentprozess möglichst effektiv gestalten. Dadurch gewährleisten Sie einen schnellen und somit optimalen Service, was im Onlinehandel enorm wichtig ist und u.a. dazu führt, dass aus Gelegenheitskäufern in Ihrem Webshop Stammkunden werden.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Voraussetzung: Dokumentenvorlagen zuerst anlegen</div>
<div class="paragraph">
<p>Legen Sie <strong><a href="/auftragsabwicklung/auftraege/auftragsdokumente">Dokumentenvorlagen</a></strong> an bevor Sie PDF-Dokumente wie Rechnungen oder Lieferscheine erzeugen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Auf dieser Handbuchseite wird beschrieben, wie Sie Dokumentenvorlagen einrichten, anpassen oder Einstellungen einer anderen Vorlage übernehmen. Dokumentenvorlagen enthalten gespeicherte Einstellungen und dienen dem Erzeugen von Dokumenten. In plentymarkets gibt es 2 Arten von Dokumenten, für die Sie Vorlagen einrichten können. Es gibt standortbezogene Dokumente und Fulfillment-Dokumente. Außerdem erfahren Sie, wie Sie Ihr Geschäftspapier als PDF-Vorlage speichern und mit einer Dokumentenvorlage verknüpfen. Auch das Anlegen von Nummernkreisen wird erläutert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="13">1. Standortbezogene Dokumente einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Folgende Vorlagen werden im Ordner <strong>Dokumente</strong> unter <strong>System » Mandant » Mandant wählen » Standorte</strong> konfiguriert und verwaltet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><a href="/omni-channel/online-shop/mandanten-einrichten/dokumente/rechnung">Rechnung</a></strong></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/mandanten-einrichten/dokumente/korrekturbeleg"><strong>Korrekturbeleg</strong></a></p>
</li>
<li>
<p><strong>Sammelrechnung</strong></p>
</li>
<li>
<p><strong>Lieferschein</strong></p>
</li>
<li>
<p><strong>Gutschrift</strong></p>
</li>
<li>
<p><strong>Sammelgutschrift</strong></p>
</li>
<li>
<p><strong>Auftragsbestätigung</strong></p>
</li>
<li>
<p><strong>Angebot</strong></p>
</li>
<li>
<p><strong>Mahnung</strong></p>
</li>
<li>
<p><strong>Reparaturschein</strong></p>
</li>
<li>
<p><strong>Abhol-/ Lieferschein</strong></p>
</li>
<li>
<p><strong>Rücksendeschein</strong></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/mandanten-einrichten/dokumente/gelangensbestaetigung"><strong>Gelangensbestätigung</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/payment/bankdaten-verwalten#200"><strong>SEPA-Lastschriftmandat</strong></a></p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Standortbezogenes Dokument einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie einen Standort unter <strong>System » Mandant » Mandant wählen » Standorte</strong>.</p>
</li>
<li>
<p>Klicken Sie auf den Ordner <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Wählen Sie die <strong>Vorlage</strong>, die Sie bearbeiten möchten, z.B. <strong>Rechnung</strong>.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Sprache</strong> aus der Dropdown-Liste, z.B. <strong>de</strong> für Deutsch.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß den Erläuterungen auf dieser Handbuchseite vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Vorschau</strong>, um eine Vorschau des Dokuments anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="16">2. Fulfillment-Dokumente einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Folgende Vorlagen konfigurieren und verwalten Sie unter <strong>System » Aufträge » Dokumente</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/auftragsabwicklung/auftraege/einstellungen/dokumente/nachbestellung"><strong>Nachbestellung</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/fulfillment/dokumente-erzeugen#300"><strong>Adressetikett</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/auftraege/auftragsdokumente/packliste"><strong>Pickliste</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/auftraege/auftragsdokumente/lager-pickliste"><strong>Lager-Pickliste</strong></a></p>
</li>
<li>
<p><a href="/auftragsabwicklung/auftraege/auftragsdokumente/packliste"><strong>Packliste</strong></a></p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Fulfillment-Dokument einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Dokumente</strong>.</p>
</li>
<li>
<p>Wählen Sie die <strong>Vorlage</strong>, die Sie bearbeiten möchten, z.B. <strong>Pickliste</strong>.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Sprache</strong> aus der Dropdown-Liste, z.B. <strong>de</strong> für Deutsch.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß den Erläuterungen auf dieser Handbuchseite vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Vorschau</strong>, um eine Vorschau des Dokuments anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">3. Dokumentenvorlage konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Öffnen der Vorlage sind bereits einige Einstellungen voreingetragen. Diese Einstellungen können Sie bearbeiten und weitere Einstellungen vornehmen. Wenn keine Einstellungen voreingetragen sind, können Sie Einstellungen aus einer <strong><a href="/auftragsabwicklung/auftraege/auftragsdokumente#150">Standard-Dokumentenvorlage übernehmen</a></strong>. Ergänzen Sie außerdem Hinweistexte, die durch Bedingungen gesteuert automatisch eingesetzt werden. Sie legen pro Sprache eigene Vorlagen an. Die Sprache wählen Sie ganz oben im Menü der Vorlage.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-01.png" alt="DE Einstellungen Standort Dokumente 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Sprache der Vorlage wählen</em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sprache pro Dokumentenvorlage hinterlegen</div>
<div class="paragraph">
<p>Legen Sie pro Vorlage eine Sprache fest. Wird für einen Standort keine Dokumentenvorlage in der benötigten Sprache gefunden, sucht das System automatisch in folgender Reihenfolge nach übereinstimmenden Dokumentenvorlagen: <br>
- Standard-Sprache des Mandanten <br>
- Systemsprache <br>
- Standard-Standort des Mandanten <br>
- Systemsprache im Standard-Standort des Standard-Mandanten</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Erzeugen der eigentlichen Dokumente, z.B. einer Rechnung, ist im Kapitel <strong><a href="/auftragsabwicklung/auftraege/auftragsdokumente">Fulfillment</a></strong> beschrieben.</p>
</div>
<div class="sect2">
<h3 id="30">3.1. Grundeinstellungen</h3>
<div class="paragraph">
<p>In diesem Bereich konfigurieren Sie die grundlegenden Einstellungen für das Dokument. Diese sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Schriftart</p>
</li>
<li>
<p>Zeichensatz</p>
</li>
<li>
<p>Anzeige der Dokumenten-Vorlage nur auf Seite 1 oder auf allen Seiten des Dokuments</p>
</li>
<li>
<p>Aufbau der Anschrift</p>
</li>
<li>
<p>Währung des Dokuments</p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Zeichensatz: Unicode</div>
<div class="paragraph">
<p>Neben der Standardeinstellung <strong>ISO-8859-1</strong> ist auch die Option <strong>Unicode</strong> wählbar. Beachten Sie, dass die Erzeugung von PDF-Dokumenten mit der Einstellung <strong>Unicode</strong> länger dauern kann.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="40">3.2. Seitenränder</h3>
<div class="paragraph">
<p>Die Seitenränder sind wichtig für den automatischen Seitenumbruch und die Positionierung von Fließtext. Sie bestimmen außerdem die Positionierung der <a href="/auftragsabwicklung/auftraege/auftragsdokumente#170"><strong>PDF-Vorlage</strong></a>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Unterer Seitenrand</div>
<div class="paragraph">
<p>Der untere Seitenrand wird für Fulfillment-Dokumente nur für Seiten berücksichtigt, die mit einer PDF-Vorlage hinterlegt werden. Dies gilt, je nach Einstellung der Option <strong>Dokumenten-Vorlage</strong> im Bereich <strong>Grundeinstellungen</strong> eines Dokuments, entweder nur für die erste Seite oder für alle Seiten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Format eines Dokuments wird vom Format der PDF-Vorlage bestimmt. Im Standard bzw. wenn keine PDF-Vorlage hinterlegt wird, werden Rechnungsdokumente im Format DIN A4 erzeugt. Beachten Sie dazu auch das Kapitel zu <a href="/auftragsabwicklung/auftraege/auftragsdokumente#170"><strong>PDF-Vorlagen</strong></a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="50">3.3. Positionierung der Pflichtelemente</h3>
<div class="paragraph">
<p>Pflichtelemente sind Inhalte, die auf jeden Fall angezeigt werden müssen. Die Positionierung auf der Dokumentseite erfolgt über die Eingabe von Koordinaten. In den Standard-Einstellungen sind bereits Werte für die wichtigsten Parameter hinterlegt. Diese Einstellungen können jedoch geändert werden. Ergänzen Sie die noch fehlenden Einträge.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Koordinaten</div>
<div class="paragraph">
<p>Die Werte orientieren sich am Koordinatensystem mit X- und Y-Achse. Die <strong>X-Achse</strong> verläuft von links nach rechts und die <strong>Y-Achse</strong> von oben nach unten. Die Nullpunkte liegen also links oben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiele für die Positionierung</div>
<div class="paragraph">
<p>Ein Feld, das links oben positioniert wird, ist das Adressfeld. In der Rechnung sind die Standardkoordinaten für das Adressfeld X = 21 (mm), Y = 54,5 (mm). Orientieren Sie sich für das Positionieren aller Felder an der linken oberen Ecke und beachten Sie die Seitenränder.<br>
Felder, die üblicherweise rechts positioniert werden, sind neben dem Datum z.B. die Auftrags-ID und die Kunden-ID. Diese IDs haben auf der X-Achse die Standardkoordinaten X = 150 (mm) für den Feldnamen und X = 173 (mm) für den Wert. Die Y-Koordinaten unterscheiden sich, damit die Felder und Werte sich nicht überlagern.<br>
Ein Feld, das häufig unten positioniert wird, ist die Seitenzahl. Die Standardkoordinaten für die Seitenzahl sind X = 21 (mm), Y = 286 (mm). Die Seitenzahl ist auf der Rechnung somit standardmäßig links unten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Positionierung testen</div>
<div class="paragraph">
<p>Elemente, deren Position mittels Koordinaten festgelegt werden und die sich unter der Artikelliste befinden, verschieben sich nicht je nach Länge der Artikelliste. Lassen Sie daher genügend Freiraum, indem Sie diese Elemente im unteren Bereich der Seite platzieren. Alternativ positionieren Sie diese über der Artikelliste. Der Hinweis <strong>Vielen Dank für Ihre Bestellung!</strong> (im Menü ganz unten) wird z.B. nicht durch Koordinaten bestimmt und wird daher je nach Länge der Artikelliste automatisch verschoben. Testen Sie die Dokumente während der Konfiguration durch Probeausdrucke, um die optimale Positionierung zu ermitteln.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Adressfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positioniert das Feld, in dem die Anschrift des Kunden angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumentname/-nummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen eintragen, z.B. <strong>Rechnung</strong> bzw. <strong>Rechnungs-Nr.</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum des Dokuments</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestelldatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der Bestellung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen eintragen. Die eigentliche Währung wird aus den Grundeinstellungen übernommen (siehe oben).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID einer Bestellung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID (2)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Retouren, Gutschriften und Lieferaufträgen wird die Auftrags-ID des Hauptauftrags ausgegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunden-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kunden-ID des Käufers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><a href="/omni-channel/auftragsherkunft">Auftragsherkunft</a></strong> der Bestellung, z.B. Webshop, eBay API</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichen Kunde</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, was im gleichnamigen Feld in der Auftragseinstellung hinterlegt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kundenklasse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragseigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt den Namen des Auftragseigners aus, d.h. den Namen des für den Auftrag verantwortlichen Mitarbeiters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FiBu-Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Debitor an, der in den Kundendaten unter Debitoren-Konto eingetragen ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigene Kundennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die Kundennummer aus plentymarkets aus (nicht die ID).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>USt.-IdNr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer-Identifizierungsnummer des Kunden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigene USt-IdNr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die Umsatzsteuer-ID des Händlers aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID Pickliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn eine Pickliste generiert wird, erhält diese Pickliste eine ID. Bei allen Aufträgen, die sich auf dieser Pickliste befinden, wird die Pickliste-ID hinterlegt. Mit der Option ID Pickliste kann diese ID auf dem PDF-Dokument ausgegeben werden. Sinnvoll z.B. bei Lieferscheinen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seitenzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die Seitenzahl im Dokument pro Seite aus.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Pflichtelemente eines Dokuments</em></p>
</div>
<div class="paragraph">
<p>Bild 2 zeigt eine Rechnung mit einfachen Standardeinstellungen:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-02.png" alt="DE Einstellungen Standort Dokumente 02">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Rechnungsdokument mit Standardeinstellungen</em></p>
</div>
</div>
<div class="sect2">
<h3 id="60">3.4. Kundeneigenschaften</h3>
<div class="paragraph">
<p>Dieser Bereich wird nur angezeigt, wenn im System <a href="/crm/kundendaten-verwalten#400"><strong>Eigenschaften</strong></a> für die Sprache der Dokumentenvorlage hinterlegt sind. Diese Eigenschaften können Sie dann hier über die Textfelder benennen und über die Koordinatenfunktion im Dokument positionieren.</p>
</div>
</div>
<div class="sect2">
<h3 id="70">3.5. Spalten Artikelpositionen</h3>
<div class="paragraph">
<p>Im Bereich <strong>Spalten Artikelpositionen</strong> erfolgt die Positionierung der Einträge in der Kopfzeile der Artikeltabelle. Tragen Sie zu jeder verfügbaren Spalte einen Feldnamen ein, d.h. eine Bezeichnung, die in der Kopfzeile angezeigt werden soll. Die Feldnamen werden nur im Dokument angezeigt, wenn in der Dropdown-Liste <strong>Position</strong> ein Wert gewählt wurde. Verbleibt die Auswahl auf <strong>Pos</strong>, wird die Spalte nicht angezeigt. Mit diesen Einstellungen legen Sie die Reihenfolge für die Anzeige der Feldnamen in der Kopfzeile fest.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Spaltenbreiten</div>
<div class="paragraph">
<p>Die Spalte <strong>Artikelbezeichnung</strong> bricht bei Bedarf automatisch in eine neue Zeile um. Alle anderen Spalten haben diese Funktionalität nicht. Wählen Sie deshalb die Spaltenbreiten breit genug. Die Spaltenbreite wird in <strong>mm</strong> eingegeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Für die Spalte <strong>Artikelbezeichnung</strong> können Sie weitere Parameter aktivieren, die auf dem Dokument neben dem Artikelnamen ebenfalls in der Spalte angezeigt werden sollen. Die aktivierten Parameter werden auf dem Dokument nur angezeigt, wenn in den Artikeldaten auch Angaben für die Parameter gespeichert sind. Welche Parameter zusätzlich angezeigt werden können, sehen Sie in Bild 3.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-03.png" alt="DE Einstellungen Standort Dokumente 03">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Parameter aktivieren</em></p>
</div>
<div class="sect3">
<h4 id="80">3.5.1. Variantenmatrix</h4>
<div class="paragraph">
<p>In den Artikelansichten gibt es das Template <strong>VariationOrderMatrix</strong>. Damit lässt sich eine Liste verschiedener Varianten eines Artikels ausgeben. Dazu steht in der Artikelansicht <strong>ItemViewSingleItem</strong> die Template-Funktion <strong>Container_VariationOrderMatrix()</strong> zur Verfügung.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Variantenmatrix</div>
<div class="paragraph">
<p>Wählen Sie die Einstellung <strong>Ja</strong>, wenn Sie das Feature <strong>Variantenmatrix</strong> verwenden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="90">3.6. Summen</h3>
<div class="paragraph">
<p>Unterhalb der Artikelpositionen werden bei allen Dokumenten außer auf dem Lieferschein die Summen, d.h. Zwischensumme, Rechnungsbetrag etc., aufgelistet. Hier werden ebenfalls nur die Summenanzeigen aktiviert, für die ein Feldname angegeben wurde.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenwert (netto)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert der Ware ohne Mehrwertsteuer.
Zusätzlich wählen, ob der Warenwert summiert, pro Steuersatz oder nur bei einem B2B-Geschäft pro Steuersatz angezeigt wird. <br>
<strong>Summiert</strong> = egal wie viele Steuersätze im Auftrag angewendet werden, wird nur eine Warenwertsumme auf der Rechnung angezeigt <br>
<strong>Pro Steuersatz</strong> = für jeden Steuersatz, der im Auftrag angewendet wird, wird eine Warenwertsumme angezeigt <br>
<strong>Bei B2B pro Steuersatz</strong> = wenn für den Auftrag eine Umsatzsteueridentifikationsnummer des Kunden angewendet wird, wird pro Steuersatz eine Warenwertsumme angezeigt. Wenn keine Ust.-Id.-Nr. angewendet wird, wird nur eine Warenwertsumme für alle Steuersätze angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zwischensumme (netto, gesamt)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Nettosumme der Artikel am Ende der Rechnung an.
Zusätzlich wählen, ob die Zwischensumme summiert, pro Steuersatz oder nur bei einem B2B-Geschäft pro Steuersatz angezeigt wird. <br>
<strong>Summiert</strong> = egal wie viele Steuersätze im Auftrag angewendet werden, wird nur eine Zwischensumme auf der Rechnung angezeigt <br>
<strong>Pro Steuersatz</strong> = für jeden Steuersatz, der im Auftrag angewendet wird, wird eine Zwischensumme angezeigt <br>
<strong>Bei B2B pro Steuersatz</strong> = wenn für den Auftrag eine Umsatzsteueridentifikationsnummer des Kunden angewendet wird, wird pro Steuersatz eine Zwischensumme angezeigt. Wenn keine Ust.-Id.-Nr. angewendet wird, wird nur eine Zwischensumme für alle Steuersätze angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zwischensumme (netto, jede Seite, ohne letzte Seite)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Nettosumme der Artikel seitenweise an. Bei mehrseitigen Dokumenten wird auf jeder Seite außer auf der letzten Seite die aufgelaufene Summe aller bisherigen Artikel als Zwischensumme angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zwischensumme (Differenzbesteuerung)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Addiert nur Summen, die der Differenzbesteuerung unterliegen.<br>
<strong><em>Wichtig:</em></strong>
Bei der Einstellung Differenzbesteuerung handelt es sich um eine ältere Sonderimplementierung, bei der der Steuersatz für den gesamten Betrag der differenzbesteuerten Artikelpositionen verwendet wird und nicht nur für die Differenz zwischen Verkaufs- und Einkaufspreis.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutscheinsumme (netto)</strong> bzw. <strong>Gutscheinsumme (brutto)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geben den Betrag in netto bzw. brutto an, der durch Gutschein(e) gedeckt wurde. Hier einen Feldnamen eintragen, wenn im Webshop Gutscheine angeboten werden. Die Gutscheinsumme wird sonst nicht auf der Rechnung ausgewiesen. Ob die Summe netto oder brutto ist, hängt von der Art des Gutscheins und z.B. der Art der Rechnung ab.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Wichtige Einstellungen im Bereich <strong>Summen</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="100">3.7. Optionale Elemente</h3>
<div class="paragraph">
<p>In diesem Bereich wählen Sie optionale Elemente. Beispiele hierfür sind der Barcode und der Nachnahmehinweis. Diese Elemente werden nachfolgend genauer beschrieben.</p>
</div>
<div class="sect3">
<h4 id="110">3.7.1. Barcode</h4>
<div class="paragraph">
<p>Die Option <strong>Barcode</strong> kann entweder aus der Auftrags-ID oder der Dokumentnummer erstellt werden. Des Weiteren können Sie zwischen <strong>EAN13</strong> oder <strong>Code128</strong> als Kodierung des Barcodes wählen (Bild 3). Wenn Sie die Option <strong>EAN13</strong> wählen und Ihre Auftrags-ID z.B. aus 6 Ziffern besteht, wird diese automatisch ergänzt. Es werden führende Nullen und eine 1 an den Anfang des Barcodes gestellt, so dass sich aus der Auftrags-ID eine EAN13 ergibt. Wenn Ihre Auftrags-ID so übernommen werden soll, wie sie ist, wählen Sie die Option <strong>Code128</strong>. Wählen Sie außerdem, ob die Ziffern unterhalb des Barcodes, innerhalb des Barcodes oder nicht angezeigt werden sollen (Bild 5).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-04.png" alt="DE Einstellungen Standort Dokumente 04">
</div>
</div>
<div class="paragraph">
<p><em>Bild 4: Barcodeeinstellungen; optionale Elemente</em></p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-05.png" alt="DE Einstellungen Standort Dokumente 05">
</div>
</div>
<div class="paragraph">
<p><em>Bild 5: Links Barcode aus Auftrags-ID erweitert durch führende Nullen und 1, dargestellt unterhalb; rechts Barcode aus Dokumentnummer, dargestellt innerhalb</em></p>
</div>
</div>
<div class="sect3">
<h4 id="120">3.7.2. Nachnahmehinweis</h4>
<div class="paragraph">
<p>Der Nachnahmehinweis wird nur in Rechnungen von Aufträgen mit der Zahlungsart<strong>Nachnahme</strong> angezeigt. Der Standardhinweis lautet <strong>NACHNAHME BAR</strong> plus dem <strong>Rechnungsbetrag</strong> (siehe auch Beispiel in Bild 2). Die Option wird mit <strong>JA</strong> aktiviert. Optional tragen Sie einen <strong>Namen</strong> ein, wenn Sie statt der Standardbezeichnung NACHNAHME BAR eine eigene Bezeichnung hinterlegen möchten.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-06.png" alt="DE Einstellungen Standort Dokumente 06">
</div>
</div>
<div class="paragraph">
<p><em>Bild 6: Aktivierter Nachnahmehinweis</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Sprachvarianten</div>
<div class="paragraph">
<p>Wenn Sie Dokumente in verschiedenen Sprachen erstellen, können Sie den Nachnahmehinweis unter <strong>Name</strong> in der Sprache hinterlegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="130">3.8. Optionale Elemente unter Artikelpositionstabelle</h3>
<div class="paragraph">
<p>Im Bereich <strong>Optionale Elemente unter Artikelpositionstabelle</strong> wählen Sie, welche Elemente unter der Artikelpositionstabelle auf dem Dokument erscheinen sollen.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schriftgröße</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf dem Dokument gewünschte Schriftgröße wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der <strong>aktuelle Monat</strong>, das <strong>Rechnungsdatum</strong>, das Datum des <strong>Warenausgangs</strong> oder <strong>kein</strong> Lieferdatum angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungseingang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Datum wird nur angezeigt, wenn der Zahlungseingang vollständig ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Valuta/Zahlungsziel/Skonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Platzhalter werden mit den Werten befüllt, die in den <a href="/crm/kundendaten-verwalten"><strong>Kundendaten</strong></a> hinterlegt sind. Dazu die Info zur Gestaltung von Zahlungsbedingungen auf der Handbuchseite <a href="/crm/kundendaten-verwalten#890"><strong>Kundendaten verwalten</strong></a> beachten.<br>
Wenn ein Wert für <strong>Valuta</strong> am Kunden hinterlegt ist, wird dieser für das Dokument verwendet. Sonst wird der Wert unter <strong>Zahlungsziel</strong> bzw. der Wert aus der <a href="/crm/kundendaten-verwalten#100"><strong>Kundenklasse</strong></a> verwendet, wenn hinterlegt. Als letzte Möglichkeit, wenn alles andere nicht gesetzt ist, wird die Anzahl der Tage aus der Option <strong>Zahlungsziel</strong> im Dokument verwendet (siehe folgende Option).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsziel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> einstellen, ob eine Option auf dem Dokument erscheint oder nicht. Bei <strong>JA</strong> muss auch ein <strong>Zahlungsziel in Tagen</strong> gewählt werden. Hierbei beachten, dass ein in den Kundendaten hinterlegtes Zahlungsziel Priorität hat. Ist in den Kundendaten kein Zahlungsziel hinterlegt, hat das Zahlungsziel der Kundenklasse Priorität.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Skonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Höhe in <strong>Prozent</strong> und das <strong>Zahlungsziel</strong> in Tagen wählen. Folgende Platzhalter sind verfügbar: <strong>[Date1]</strong>, <strong>[Date2]</strong>, <strong>[Amount1]</strong>, <strong>[Amount2]</strong>, <strong>[Percent]</strong>.<br>
Wenn Sie möchten, dass der am Kunden eingetragene Skonto auf der Rechnung angezeigt wird, verwenden Sie die Einstellung <strong>Valuta/Zahlungsziel/Skonto</strong>. <em><strong>Hinweis:</strong></em> Damit der hier eingetragene Skonto in der Rechnung ausgegeben wird, muss die Einstellung <strong>Zahlungsziel</strong> auf <strong>Ja</strong> stehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bankdaten unterdrücken</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> wählen, um die Ausgabe der Kontodaten im Dokument zu verhindern. Die Standard-Einstellung ist <strong>Nein</strong>, d.h., die Bankdaten werden ausgegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Steuerrechtlicher Hinweis 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewünschte Schriftgröße wählen. <strong>Normal</strong> oder <strong>Fett</strong> für den Schriftschnitt wählen. Den gewünschten steuerrechtlichen Hinweis in das Textfeld eintragen.<br>
Dieser Hinweis wird bei einer Lieferung in die EU bei vorliegender USt.-IdNr. ausgegeben. Die Formulierung nach deutschem Recht kann hier z.B. lauten: <strong>Innergemeinschaftliche Lieferung gemäß §4 Nr. 1b in Verbindung mit §6 a UStG</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Steuerrechtlicher Hinweis 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie <strong>Steuerrechtlicher Hinweis 1</strong>.<br>
Dieser Hinweis wird bei einer Lieferung außerhalb der EU ausgegeben. Die Formulierung nach deutschem Recht kann hier z.B. lauten: <strong>Ausfuhrlieferung gemäß §4 Nr. 1a in Verbindung mit §6 UStG</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hinweis Differenzbesteuerung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie Option <strong>Steuerrechtlicher Hinweis 1</strong>. <br>
Dieser Hinweis wird ausgegeben, wenn der Auftrag differenzbesteuerte Positionen enthält. <br>
<strong><em>Wichtig:</em></strong>
Bei der Einstellung Differenzbesteuerung handelt es sich um eine ältere Sonderimplementierung, bei der der Steuersatz für den gesamten Betrag der differenzbesteuerten Artikelpositionen verwendet wird und nicht nur für die Differenz zwischen Verkaufs- und Einkaufspreis.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungshinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Schriftgröße wählen. <strong>Normal</strong>oder <strong>Fett</strong> für den <strong>Schriftschnitt</strong> wählen. In der Dropdown-Liste <strong>Zahlungsart</strong> eine Zahlungsart wählen. Den <strong>Zahlungshinweis</strong> für diese Zahlungsart in das Textfeld eintragen (Bild 2).<br>
Der Zahlungshinweis ist nicht fest mit der Zahlungsart verknüpft. Wird die Zahlungsart über die Dropdown-Liste geändert, bleibt der im Textfeld eingetragene Hinweis bestehen. Er wird auf die neu gewählte Zahlungsart angewendet. Bild 7 zeigt ein Beispiel.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Optionale Elemente unter Artikelpositionstabelle</em></p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-07.png" alt="DE Einstellungen Standort Dokumente 07">
</div>
</div>
<div class="paragraph">
<p><em>Bild 7: Beispiel für einen Zahlungshinweis</em></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="140">4. Einstellungstransfer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für jedes Dokument sind ähnliche Einstellungen vorzunehmen. Reduzieren Sie deshalb Ihren Aufwand, indem Sie die Einstellungen eines Dokuments aus einer Standard-Vorlage übernehmen oder die Einstellungen auf ein anderes Dokument übertragen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einstellungen werden überschrieben</div>
<div class="paragraph">
<p>Wird die Transferfunktion auf ein Dokument angewendet, werden die vom Benutzer vorgenommenen Einstellungen in diesem Dokument überschrieben. Prüfen Sie daher die Einstellungen des Dokuments und notieren Sie ggf. wichtige Koordinaten, bevor Sie die Funktion anwenden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="150">4.1. Einstellungen übertragen</h3>
<div class="paragraph">
<p>Übertragen Sie z.B. die deutschen Rechnungseinstellungen auf den deutschen Lieferschein (Bild 8). Dort deaktivieren Sie dann nur noch die nicht benötigten Elemente bzw. fügen bei Bedarf weitere Elemente hinzu.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-08.png" alt="DE Einstellungen Standort Dokumente 08">
</div>
</div>
<div class="paragraph">
<p><em>Bild 8: Rechnungseinstellungen auf Dokument <strong>Lieferschein</strong> übertragen</em></p>
</div>
<div class="paragraph">
<p>Sehr einfach übertragen Sie z.B. die deutschen Rechnungseinstellungen auf die französische Dokumentenvorlage für Rechnungen. Damit entfällt das manuelle Eintragen der Koordinaten der Elemente für jede Sprachversion. Sie passen dann nur noch die Texte der Sprache an (Bild 9).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-09.png" alt="DE Einstellungen Standort Dokumente 09">
</div>
</div>
<div class="paragraph">
<p><em>Bild 9: Deutsche Rechnungseinstellungen auf französische Dokumentenvorlage <strong>Rechnung</strong> übertragen</em></p>
</div>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um Einstellungen auf Dokumentenvorlagen zu übertragen.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen einer Vorlage auf andere Dokumentenvorlage übertragen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte</strong>.</p>
</li>
<li>
<p>Wählen Sie einen Standort.</p>
</li>
<li>
<p>Öffnen Sie das Menü <strong>Dokumente</strong> des Standorts.</p>
</li>
<li>
<p>Wählen Sie das Dokument, dessen Einstellungen Sie auf ein anderes Dokument übertragen möchten.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Transfer</strong> des Dokuments.</p>
</li>
<li>
<p>Wählen Sie im Bereich <strong>Einstellungen auf Zielvorlage übertragen</strong> den <strong>Standort</strong>, die <strong>Sprache</strong> und unter <strong>Zielvorlage</strong> das Dokument, auf das die Werte übertragen werden sollen (Bild 9).</p>
</li>
<li>
<p>Klicken Sie auf <strong>Übertragen</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vorschau zum Vergleich nutzen</div>
<div class="paragraph">
<p>Rufen Sie eine <strong>Vorschau</strong> im PDF auf und drucken Sie das Dokument aus. Mithilfe der Vorschau können Sie die Eigenschaften der Dokumente vergleichen und entscheiden, ob die Kopierfunktion sinnvoll ist oder zu viele Einstellungen nachträglich noch angepasst werden müssen. Nehmen Sie die Einstellungen in den Ausgangsdokumenten sorgfältig vor.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="160">4.2. Standard-Einstellungen übernehmen</h3>
<div class="paragraph">
<p>Wählen Sie <strong>Einstellungen aus Standard-Dokumentenvorlage übernehmen</strong>, um die Standardwerte in ein noch leeres Dokument zu übernehmen oder die Einstellungen eines Dokuments auf Standardwerte zurückzusetzen. Dies ist z.B. sinnvoll, wenn Sie Probleme mit den Einstellungen eines Dokuments haben und nicht wissen, welche Einstellungen bzw. Änderungen diese Probleme verursachen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-10.png" alt="DE Einstellungen Standort Dokumente 10">
</div>
</div>
<div class="paragraph">
<p><em>Bild 10: Option <strong>Standard-Einstellung</strong> auf Dokument <strong>Rechnung</strong> anwenden</em></p>
</div>
<div class="paragraph instruction">
<p>Standard-Einstellungen übernehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente</strong>.</p>
</li>
<li>
<p>Wählen Sie das Dokument, in das Sie die Standard-Einstellungen übernehmen möchten.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Transfer</strong> des Dokuments.</p>
</li>
<li>
<p>Wählen Sie über dem Tab-Titel die <strong>Sprache</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bereich <strong>Einstellungen aus Standard-Dokumentenvorlage übernehmen</strong> auf <strong>Übernehmen</strong> (Bild 10). <br>
→ Die Standard-Einstellungen werden auf das Dokument angewendet.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="170">5. PDF-Vorlage</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Als PDF-Vorlage bezeichnen wir das Briefpapier Ihres Shops. Das Briefpapier ist eine Seite, die Ihre Firmendaten, Layout-Elemente gemäß dem Corporate Design Ihres Unternehmens sowie Ihr Logo enthält. Diese Vorlage wird für das System im PDF-Format benötigt.</p>
</div>
<div class="sect2">
<h3 id="175">5.1. PDF-Vorlagen für Zahlungsarten</h3>
<div class="paragraph">
<p>Eine PDF-Vorlage für eine Zahlungsart benötigen Sie z.B., wenn für eine Zahlungsart andere Kontodaten gelten oder wenn Sie für ein bestimmtes Lieferland eine sprachlich angepasste Version verwenden möchten.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sprache und Zahlungsart pro PDF-Vorlage hinterlegen</div>
<div class="paragraph">
<p>Hinterlegen Sie pro PDF-Vorlage die korrekten Werte für <strong>Sprache</strong> und <strong>Zahlungsart</strong>. Wird für einen Standort für eine gewünschte Sprache keine PDF-Vorlage gefunden, sucht das System automatisch in folgender Reihenfolge nach übereinstimmenden PDF-Vorlagen: <br>
- Standard-Sprache des Mandanten <br>
- Systemsprache <br>
- Standard-Standort des Mandanten <br>
- Sprache des Standorts ohne Berücksichtigung der Zahlungsart</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="180">5.2. PDF-Vorlage erstellen</h3>
<div class="paragraph">
<p>Wenn Sie noch nicht über eine Dokumentenvorlage verfügen, erstellen Sie eine solche Geschäftsbrief-Vorlage inkl. Logo mit allen Firmendaten. Nutzen Sie dazu z.B. ein Textverarbeitungsprogramm. Erzeugen Sie aus diesem Dokument eine PDF-Datei. Dies ist z.B. über die kostenfreie Office-Anwendung <a href="http://www.openoffice.org/" target="_blank" rel="noopener"><strong>OpenOffice</strong></a> möglich. OpenOffice verfügt über einen direkten <strong>PDF-Export</strong> (Bild 11).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-11.png" alt="DE Einstellungen Standort Dokumente 11">
</div>
</div>
<div class="paragraph">
<p><em>Bild 11: PDF-Erzeugung in OpenOffice</em></p>
</div>
<div class="paragraph">
<p>Das Format der PDF-Vorlage, z.B. DIN A4, wird für das Rechnungsdokument übernommen. Wenn Sie Rechnungen im Format DIN A5 erzeugen möchten, richten Sie die PDF-Vorlage in diesem Format ein. Achten Sie besonders bei einem Formatwechsel darauf, dass die Inhalte, z.B. die Spaltenbreiten der Artikeltabelle, angepasst werden müssen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">PDF-Version prüfen</div>
<div class="paragraph">
<p>Aktuell unterstützt plentymarkets die <strong>PDF-Version 1.4</strong> oder niedriger. Prüfen Sie vor der Erzeugung von PDF-Dokumenten, welche PDF-Version Ihre Software erzeugt. Erzeugen Sie eine PDF-Datei und prüfen Sie dann im PDF-Dokument unter dem Menüpunkt <strong>Datei » Eigenschaften</strong>, in welcher PDF-Version die PDF-Datei erzeugt wurde. Sollte eine Version höher als 1.4 eingestellt sein, korrigieren Sie die Einstellung auf mindestens 1.4. Die maximale Dateigröße für PDF-Vorlagen ist 160 kB.<br>
Wenn die PDF-Vorlage nicht kompatibel ist, kann dies zu Fehlern bei der Erzeugung der Dokumente führen. Prüfen Sie daher die Version und erzeugen Sie nach der Verknüpfung der PDF-Vorlage ein Testdokument.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="190">5.3. PDF-Vorlage verknüpfen</h3>
<div class="paragraph">
<p>Für jede Sprache kann eine eigene Vorlage hinterlegt werden. Bei einigen Dokumenten kann zusätzlich für jede aktive Zahlungsart in jeder Sprache eine PDF-Vorlage verknüpft werden. Zu diesen Vorlagen gehören der Lieferschein und die Rechnung.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nur eine PDF-Vorlage pro Sprache</div>
<div class="paragraph">
<p>Für jede Dokumentenvorlage und jede Sprache kann nur eine PDF-Vorlage hinterlegt werden. Jede neue Speicherung überschreibt eine gespeicherte PDF-Vorlage. Wenn Sie Änderungen an PDF-Vorlagen vornehmen, müssen Sie die Vorlagen im Tab <strong>Neue Vorlage</strong> erneut hochladen und speichern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Gehen Sie folgendermaßen vor, um die erstellte PDF-Datei mit einer Dokumentenvorlage, z.B. der Vorlage <strong>Lieferschein</strong>, zu verknüpfen:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-12.png" alt="DE Einstellungen Standort Dokumente 12">
</div>
</div>
<div class="paragraph">
<p><em>Bild 12: PDF-Vorlagen verschiedener Sprachen</em></p>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage mit einer Dokumentenvorlage verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Dokumente</strong>.</p>
</li>
<li>
<p>Wählen Sie die Dokumentenvorlage, mit der Sie die PDF-Vorlage verknüpfen möchten.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Sprache</strong> aus der Dropdown-Liste, z.B. <strong>de</strong> für Deutsch.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Neue Vorlage</strong>.</p>
</li>
<li>
<p>Wählen Sie ggf. eine <strong>Zahlungsart</strong>.</p>
</li>
<li>
<p>Klicken Sie in der Zeile <strong>Datei</strong> auf <strong>Durchsuchen</strong>.</p>
</li>
<li>
<p>Wählen Sie die PDF-Dokumentenvorlage.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen. <br>
→ Im Tab <strong>Vorlagen</strong> wird die Vorlage mit einer Angabe zur Dateigröße angezeigt.</p>
</li>
<li>
<p>Klicken Sie im Tab <strong>Vorlagen</strong> auf <strong>Vorschau</strong>, um eine Vorschau der reinen PDF-Vorlage anzuzeigen.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Vorlage</strong>, um eine Vorschau der Dokumentvorlage mit dem PDF als Hintergrund anzuzeigen.</p>
</li>
<li>
<p>Korrigieren Sie die PDF-Vorlage oder die Koordinaten der Dokument-Vorlage, falls sich Inhalte überschneiden. <br>
→ Wenn Sie Änderungen an der PDF-Vorlage vorgenommen haben, laden Sie das PDF erneut hoch.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Vorgehensweise zum Verknüpfen einer PDF-Vorlage für Rechnungen unterscheidet sich leicht von der oben beschriebenen Vorgehensweise.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage mit der Vorlage Rechnung für eine Zahlungsart verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Dokumente</strong>.</p>
</li>
<li>
<p>Wählen Sie die Dokumentenvorlage <strong>Rechnung</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Vorlage hinzufügen</strong>. <br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie ggf. eine <strong>Zahlungsart</strong>.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Sprache</strong> aus der Dropdown-Liste, z.B. <strong>de</strong> für Deutsch.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Vorlage auswählen</strong>.</p>
</li>
<li>
<p>Wählen Sie die PDF-Dokumentenvorlage.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Vorlage hochladen</strong>. <br>
→ Die Vorlage wird hinzugefügt.</p>
</li>
<li>
<p>Klicken Sie in der Spalte <strong>Vorlage</strong> auf <strong>Vorschau</strong>, um eine Vorschau der reinen PDF-Vorlage anzuzeigen.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Vorlage</strong>, um eine Vorschau der Dokumentvorlage mit dem PDF als Hintergrund anzuzeigen.</p>
</li>
<li>
<p>Korrigieren Sie die PDF-Vorlage oder die Koordinaten der Dokument-Vorlage, falls sich Inhalte überschneiden. <br>
→ Wenn Sie Änderungen an der PDF-Vorlage vorgenommen haben, laden Sie das PDF erneut hoch.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">6. Nummernkreise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für zahlreiche Dokumente stehen Nummernkreise zur Verfügung. Diese Nummernkreise verwalten Sie im Tab <strong>Nummernkreis</strong> eines Dokuments. Der Nummernkreis kann bis zu 5 Stellen haben und Zahlen, Buchstaben sowie Zeichen enthalten. Er wird automatisch vor der eigentlichen Nummer des Dokuments eingefügt.</p>
</div>
<div class="paragraph">
<p>Geben Sie im Feld <strong>Nummer (Startwert)</strong> die erste Nummer ein, also die Nummer, die als Startwert festgelegt werden soll. Dies muss nicht zwingend die "1" sein. Wenn Sie z.B. bereits nummerierte Rechnungen im System abgelegt haben, können Sie die Startnummer an die bestehenden Nummern anschließend eintragen. Wenn die Nummer über eine bestimmte Anzahl von Stellen verfügen soll, geben Sie den Startwert mit führenden Nullen an (z.B. 00001). Sind bereits Dokumente mit einer höheren Nummer im System, werden diese verwendet.</p>
</div>
<div class="paragraph">
<p>Im Folgenden wird beispielhaft beschrieben, wie Sie einen Nummernkreis für <a href="/omni-channel/online-shop/mandanten-einrichten/dokumente/rechnung"><strong>Rechnungsdokumente</strong></a> festlegen. Gehen Sie für andere Dokumente analog vor.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-13.png" alt="DE Einstellungen Standort Dokumente 13">
</div>
</div>
<div class="paragraph">
<p><em>Bild 13: Nummernkreis festlegen</em></p>
</div>
<div class="paragraph instruction">
<p>Nummernkreis für Rechnungen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente » Rechnung</strong>.</p>
</li>
<li>
<p>Wählen Sie die gewünschte <strong>Sprache</strong> aus der Dropdown-Liste (Bild 13).</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Nummernkreis</strong>.</p>
</li>
<li>
<p>Geben Sie im Feld <strong>Nummernkreis</strong> ein Präfix aus bis zu fünf Zahlen und/oder Buchstaben für den Nummernkreis ein, z.B. <strong>2016</strong>.<br>
→ Mit einem Bindestrich am Ende des Präfix werden Präfix und Nummer optisch getrennt.</p>
</li>
<li>
<p>Geben Sie im Feld <strong>Nummer (Startwert)</strong> die erste Rechnungsnummer für den Nummernkreis ein, z.B. <strong>00001</strong>.<br>
→ Die Rechnungsnummern werden ab dieser Nummer (in diesem Beispiel <strong>201500001</strong>) aufwärts vergeben.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Mehrere Standorte</div>
<div class="paragraph">
<p>Wenn Sie Nummernkreise für mehrere Standorte verwenden möchten, haben Sie folgende Möglichkeiten:<br>
<strong>Ein Nummernkreis für mehrere Standorte</strong><br>
Die Nummern werden übergreifend für alle Standorte hochgezählt, das heißt, jede Nummer wird nur einmal vergeben. Hinterlegen Sie dazu bei jedem Dokument und jedem Standort den gleichen Nummernkreis.<br>
<strong><em>Hinweis:</em></strong> Dies gilt nur für Standorte des gleichen Mandanten. Für Standorte verschiedener Mandanten können Nummernkreise nicht übergreifend verwaltet werden.<br>
<strong>Verschiedene Nummernkreise für mehrere Standorte</strong><br>
Die Nummernkreise können pro Standort pro Dokument unterschiedlich gewählt werden, z.B. in Form eines Kürzels, das den Standort bezeichnet. Die Nummern werden pro Nummernkreis hochgezählt, können also innerhalb eines Mandanten mehrfach vorkommen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Sie haben auch die Möglichkeit, für verschiedene Länder verschiedene Nummernkreise anzulegen. Die Nummer des Dokuments wird dann anhand des Landes des Empfängers vergeben. Gehen Sie dazu wie unten beschrieben vor. Auch hier beschreiben wir beispielhaft, wie Sie einen Nummernkreis für Rechnungen festlegen. Beachten Sie jedoch, dass das Anlegen eines separaten Nummernkreises pro Land nicht immer sinnvoll ist. Sprechen Sie mit Ihrem Steuerberater, bevor Sie eine solche Einstellung vornehmen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nummernkreis pro Land ist dominant</div>
<div class="paragraph">
<p>Ein Nummernkreis für ein Land ist dominant gegenüber dem allgemeinen Nummernkreis des Dokuments, d.h., es wird dann der für das Land hinterlegte Nummernkreis im Dokument ausgegeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Nummernkreis für Rechnungen pro Land festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente » Rechnung</strong>.</p>
</li>
<li>
<p>Wählen Sie die gewünschte <strong>Sprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Nummernkreis</strong>.</p>
</li>
<li>
<p>Klappen Sie das Menü <strong>Nummernkreis pro Land</strong> auf (Bild 13).</p>
</li>
<li>
<p>Geben Sie im Feld <strong>Nummernkreis</strong> der einzelnen Länder ein Präfix aus bis zu fünf Zahlen und/oder Buchstaben für den Nummernkreis ein, z.B. <strong>16DE</strong> für Deutschland.</p>
</li>
<li>
<p>Geben Sie im Feld <strong>Nummer (Startwert)</strong> der einzelnen Länder die erste Rechnungsnummer für den Nummernkreis ein, z.B. <strong>00001</strong>.<br>
→ Die Rechnungsnummern werden pro Land ab dieser Nummer (in diesem Beispiel <strong>16DE00001</strong>) aufwärts vergeben.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nummernkreis entfernen und ändern</div>
<div class="paragraph">
<p>Entfernen Sie einen Nummernkreis nicht mehr, sobald einmal PDF-Dokumente mit diesem Nummernkreis generiert wurden. Sie können Nummernkreise allerdings nachträglich ändern. Der geänderte Nummernkreis muss sich von allen bereits verwendeten Nummernkreisen unterscheiden. Das heißt, Sie müssen immer mindestens eine Stelle ändern oder den Nummernkreis um eine Stelle erweitern. Eine Stelle darf jedoch nicht entfernt werden. War ihr alter Nummernkreis z.B. 13IN, ist als neuer Nummernkreis 13I nicht zulässig, 13IN0 hingegen schon.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zu Nummernkreisen im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/84486509" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="210">7. Anschließende Aktionen automatisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nach der Generierung Ihrer Dokumentenvorlagen können Sie im Bereich <strong><a href="/basics/automatisierung/ereignisaktionen">System » Aufträge » Ereignisaktionen</a></strong> automatische Aktionen einstellen. Interessant ist beispielsweise das Buchen von Warenausgängen beim Rechnungsdruck. Weitere Aktionen, z.B. das automatische Versenden von aktionsgesteuerten E-Mails, sind ebenfalls einstellbar.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="220">8. Steuerrechtliche Informationen zu Lieferungen ins Ausland</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Steuerrechtliche Hinweise</div>
<div class="paragraph">
<p>Besprechen Sie alle steuerrechtlichen Inhalte einer Dokumentenvorlage mit Ihrem Steuerberater, bevor Sie diese Inhalte verwenden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="230">8.1. EU-Lieferung</h3>
<div class="paragraph">
<p>Bei Lieferungen in das europäische Ausland und vorliegender USt.-IdNr. wird die Rechnung automatisch netto ausgestellt. Aus steuerrechtlichen Gründen muss dabei die eigene USt.-IdNr. und die USt.-IdNr. des Kunden auf der Rechnung erscheinen. Außerdem muss ein Hinweistext abgedruckt werden.</p>
</div>
<div class="paragraph">
<p>Die USt.-IdNr. des Kunden ist als Datenfeld im Bereich <strong>Positionierung der Pflichtelemente</strong> verfügbar. Sie sollte im oberen Bereich der Rechnung mittels Koordinateneingabe positioniert werden.</p>
</div>
<div class="paragraph">
<p>Im Bereich <strong>Optionale Elemente unter Artikelpositionstabelle</strong> befindet sich das Datenfeld <strong>Steuerrechtlicher Hinweis 1</strong>. Dieses Datenfeld wird bei einer Lieferung in die EU bei vorliegender USt.-IdNr. ausgegeben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel: Hinweistext für Deutschland</div>
<div class="paragraph">
<p>"Ausfuhrlieferung gemäß §4 Nr. 1a in Verbindung mit §6 UStG."</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="240">8.2. Ausfuhrlieferung</h3>
<div class="paragraph">
<p>Ausfuhrlieferungen, d.h. Lieferungen in ein Land außerhalb der EU, werden ebenfalls netto erstellt. Für diesen Vorgang muss ebenfalls ein steuerrechtlicher Hinweistext ausgegeben werden.</p>
</div>
<div class="paragraph">
<p>Für diesen Hinweistext steht das Datenfeld <strong>Steuerrechtlicher Hinweis 2</strong> zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Die erforderlichen <strong>steuerrechtlichen Hinweise</strong> können individuell abweichen. Klären Sie den Wortlaut mit einem Steuerberater ab.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="250">9. Differenzbesteuerte Artikelpositionen in Dokumenten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für differenzbesteuerte Artikelpositionen und Summen in Rechnungen, Mahnungen und Gutschriften gibt es zwei Einstellungen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Zwischensumme für differenzbesteuerte Positionen (Bild 14)</p>
</li>
<li>
<p>Hinweis zu den differenzbesteuerten Positionen (Bild 15)</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Damit diese Einstellungen greifen und auf den Dokumenten angezeigt werden, müssen Sie zuvor unter <strong><a href="/auftragsabwicklung/auftraege/buchhaltung">System » Mandant » Mandant wählen » Buchhaltung » Tab: Umsatzsteuersätze</a></strong> die Option <strong>Differenzbesteuerung</strong> in der Konfiguration des Standardlands auf einen der vier Steuersätze setzen.
Bei der Einstellung Differenzbesteuerung handelt es sich um eine ältere Sonderimplementierung, bei der der Steuersatz für den gesamten Betrag der differenzbesteuerten Artikelpositionen verwendet wird und nicht nur für die Differenz zwischen Verkaufs- und Einkaufspreis.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-14.png" alt="DE Einstellungen Standort Dokumente 14">
</div>
</div>
<div class="paragraph">
<p><em>Bild 14: Einstellungen zur Differenzbesteuerung vornehmen</em></p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Standort-Dokumente-15.png" alt="DE Einstellungen Standort Dokumente 15">
</div>
</div>
<div class="paragraph">
<p><em>Bild 15: Hinweis zur Differenzbesteuerung</em></p>
</div>
</div>
</div>
</main>