<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_was_du_brauchst"><span>1.</span><span> Was du brauchst?</span></a></li>
<li><a href="#_anpassungen"><span>2.</span><span> Anpassungen</span></a></li>
<li><a href="#_download"><span>3.</span><span> Download</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Sammel-PDF erstellen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Wir bieten hier die Alternative für das Sammel-PDF im Dokumentenarchiv. Sammel-PDFs lassen sich leicht über den Client per Prozess erzeugen. Richte dir den Prozess einmalig ein und du kannst ihn jederzeit mit einem Klick starten. Wir haben hier einmal 2 alternative Prozesse eingerichtet.
Der Unterschied zwischen beiden Prozessen liegt nur in einem Filter. In Prozess 1 <strong>“SammelPDF”</strong> werden alle Aufträge eines gewählten Status berücksichtigt und in Prozess 2 <strong>“SammelPDF_Zeitraum”</strong> nur die Aufträge eines gewählten Status in einem gewählten Zeitraum. Ein Zeitraum muss immer wieder angepasst werden, weshalb wir die Version ohne Datumsfilter empfehlen.</p>
</div>
<div class="paragraph">
<p>Die Prozesse gibt es zum Download am Ende des Beitrags - zuerst lies jedoch die Erklärung, denn einige Schritte musst du noch an deinem System anpassen:</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_du_brauchst">1. Was du brauchst?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Tool <a href="/basics/admin-aufgaben/plentybase-installieren">PlentyBase</a> muss installiert und eingerichtet sein</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_anpassungen">2. Anpassungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>1) Nachdem du den Prozess heruntergeladen und in deinen Client importiert hast, öffne den Prozess.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/auftragsdokumente/assets/prozessimport.png" alt="Prozessimport">
</div>
</div>
<div class="paragraph">
<p>2) Öffne den Arbeitsschritt Aufträge suchen und passe folgende Einstellungen an:</p>
</div>
<div class="paragraph subhead">
<p>Einstellungen</p>
</div>
<div class="paragraph">
<p><strong>Anzahl</strong> (optional für einen ersten Testlauf verringern)
Zum Test die Anzahl der Aufträge z.B auf 3 verringern. Dein Maximum hier beträgt 250.</p>
</div>
<div class="paragraph subhead">
<p>Filter</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Statusfilter</strong><br>
7 Warenausgang gebucht</p>
</li>
<li>
<p><strong>Datumsfilter</strong> (nur in Prozess 2)<br>
Warenausgang und von bis</p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Aufträge markieren</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Neuer Eigner → Aktiver Benutzer</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/auftragsdokumente/assets/arbeitsschritt.png" alt="Arbeitsschritt">
</div>
</div>
<div class="paragraph">
<p>3) Speicher den Arbeitsschritt<br>
4) Öffne die Subaktion Speichern über den Stift - folgendes Fenster wird geöffnet:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/auftragsdokumente/assets/subaktion-speichern.png" alt="Subaktion speichern">
</div>
</div>
<div class="paragraph">
<p>5) Gib deinen Zielordner an und setze ein Häkchen bei Als Sammeldokument.<br>
6) Öffne die Subaktion Status ändern und wähle den Status in den die Aufträge verschoben werden sollen, z.B. Status 7.5 „Rechnung gedruckt“.<br>
→ den Status musst du individuell anlegen unter Einstellungen » Aufträge » Auftragsstatus</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/auftragsdokumente/assets/subaktion-status.png" alt="Subaktion Status">
</div>
</div>
<div class="paragraph">
<p>7) Starte den Prozess</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/auftragsdokumente/assets/prozess-starten.png" alt="Subaktion speichern">
</div>
</div>
<div class="paragraph">
<p>8) Prüfe die Aufträge und Rechnungen</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Zeitraum neu wählen für den Datumsfilter</div>
<div class="paragraph">
<p>Für den Prozess mit Datumsfilter: Wähle den Zeitraum neu, wenn du das nächste mal Rechnungen generieren willst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_download">3. Download</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unsere Empfehlung: <a href="auftraege/auftragsdokumente/assets/sammelpdf.plentyprocess">SammelPDF</a></p>
</div>
<div class="paragraph">
<p>Alternative mit Datumsfilter: <a href="auftraege/auftragsdokumente/assets/sammelpdf-zeitraum.plentyprocess">SammelPDF_Zeitraum</a></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Rechnungen gesammelt generieren</div>
<div class="paragraph">
<p>Wenn <strong>Als Sammeldokument</strong> nicht ausgewählt wird, wird für jede Rechnung ein eigenes PDF generiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>