<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_the_warehouse_pick_list"><span>1.</span><span> General information about the warehouse pick list</span></a></li>
<li><a href="#_displaying_item_data"><span>2.</span><span> Displaying item data</span></a></li>
<li><a href="#_uploading_a_pdf_template"><span>3.</span><span> Uploading a PDF template</span></a></li>
<li><a href="#_generating_a_warehouse_pick_list"><span>4.</span><span> Generating a warehouse pick list</span></a></li>
<li><a href="#_generating_a_warehouse_pick_list_2"><span>5.</span><span> Generating a warehouse pick list</span></a></li>
<li><a href="#_configuring_or_changing_a_warehouse_pick_list"><span>6.</span><span> Configuring or changing a warehouse pick list</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Warehouse pick list</h1><div class="sect1">
<h2 id="_general_information_about_the_warehouse_pick_list">1. General information about the warehouse pick list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Warehouse pick lists can be created as PDF files with the help of plentymarkets. The difference between the generic pick list and the warehouse pick list is that the latter allows you to see which orders or invoices belong to the particular items. In other words, items can be matched to their orders while they are being picked and then they can be packaged directly afterwards.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_displaying_item_data">2. Displaying item data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Warehouse pick list</strong> menu to specify which item data should be included on your warehouse pick list, e.g. the <strong>item ID</strong>, <strong>EAN</strong>, <strong>storage location</strong>, etc and how this information should be displayed.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-Settings-Orders-Documents-Warehouse-Pick-List-01.png" alt="EN Settings Orders Documents Warehouse Pick List 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: options in the <strong>Warehouse pick list</strong> menu</em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Showing and hiding fields</div>
<div class="paragraph">
<p>Select a position number for every field that you want to display. If you do not want to display a field on the warehouse pick list, then select the setting <strong>Pos</strong> as the position number.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Displaying item data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Documents » Warehouse pick list</strong>.</p>
</li>
<li>
<p>Decide which fields should be displayed on the warehouse pick list. Decide which order these fields should be displayed in. This is done by assigning a <strong>position number</strong> to each field.</p>
</li>
<li>
<p>Make changes to the field names as desired. You can enter your customized text under <strong>Name</strong>.</p>
</li>
<li>
<p>Specify how wide the fields should be. Choose which font size and font style should be used for the texts.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out further settings as desired.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Top margin</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a value (in mm) for the top margin on the page. Change the value if needed. For example, change the value if you use a PDF template that contains the company information and logo at the top of the page and you want to position this "header" above the warehouse pick list (see section 3).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Storage location</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you use this field, then decide how the <strong>storage location name</strong> should be displayed on the warehouse pick list. For example, only the storage location name can be displayed or a combination of warehouse information can be displayed, i.e. <strong>shelf / storage location</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Free text</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you use this field, then select the corresponding <strong>free text field 1-20</strong> from the drop-down menu.<br>
First, go to <strong><a href="/en/item/managing-items#70">Settings » Item » Free text fields</a></strong> to create the free text fields. Then link the corresponding items to the free text fields and enter values for the fields. Go to link::/[<strong>Item » Edit item » Tab: Fields</strong>] to do so.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which information should be included in the item description in the warehouse pick list. The <strong>item name</strong> is always displayed with this field. It is also possible to include additional information, e.g. the <strong>item ID</strong>, <strong>external item ID</strong>, <strong>item number</strong>, and <strong>EAN</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: options in the <strong>Warehouse pick list</strong> menu</em></p>
</div>
<div class="paragraph">
<p>If you select the settings as shown in image 1, then a warehouse pick list will look like this:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-Settings-Orders-Documents-Warehouse-Pick-List-02.png" alt="EN Settings Orders Documents Warehouse Pick List 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: example of a warehouse pick list</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_uploading_a_pdf_template">3. Uploading a PDF template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A template is used to configure your store’s "letter paper", i.e. a page containing your company information, logo and layout elements according to your corporate design. This template needs to be in PDF format. plentymarkets makes it possible to use a document template in PDF format for the warehouse pick list. Proceed as described below to upload a PDF template.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-Settings-Orders-Documents-Warehouse-Pick-List-03.png" alt="EN Settings Orders Documents Warehouse Pick List 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: uploading a PDF template</em></p>
</div>
<div class="paragraph instruction">
<p>Uploading a PDF template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Documents » Warehouse pick list</strong>.</p>
</li>
<li>
<p>Click on the <strong>PDF template</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>New template</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Browse…​</strong>.</p>
</li>
<li>
<p>Select the desired PDF template.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.<br>
→ The PDF template will now appear in the <strong>Templates</strong> tab. There you can see a preview of the PDF template or you can delete the template.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>If you use a PDF template with a header and you want to position this header above the warehouse pick list, then you may still need to change the value that was saved as the <strong>top margin</strong> (see table 1).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information about document templates, refer to the <strong><a href="/en/order-processing/orders/order-documents">Documents</a></strong> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_generating_a_warehouse_pick_list">4. Generating a warehouse pick list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For further information about generating warehouse pick lists, refer to the <strong><a href="/en/order-processing/orders/order-documents/warehouse-pick-list">Warehouse pick list</a></strong> page of the manual.</p>
</div>
<div class="paragraph">
<p>In this menu, you can create a <strong>warehouse pick list</strong> and set a <strong>status change</strong> at the same time. The pick list can be created as a <strong>PDF</strong> file. The difference between the generic pick list and the warehouse pick list is that the latter allows you to see which <strong>sales orders</strong> or <strong>invoices</strong> belong to the particular items. In other words, items can be matched to their orders while they are being picked and then they can be packaged directly afterwards. In contrast to the generic pick list, you are required to select a specific <strong>warehouse</strong> here.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_generating_a_warehouse_pick_list_2">5. Generating a warehouse pick list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to create a warehouse pick list, proceed as explained below.</p>
</div>
<div class="paragraph">
<p><strong>Generating a warehouse pick list:</strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Sales orders &gt; Fulfillment &gt; Warehouse pick list</strong>.</p>
</li>
<li>
<p>Select the <strong>status</strong> of the sales orders that are to be included in the warehouse pick list.</p>
</li>
<li>
<p>Select the general <strong>options</strong> as shown in image 1.</p>
</li>
<li>
<p>Select the <strong>warehouse</strong> that contains the items that you want to include in the warehouse pick list.</p>
</li>
<li>
<p>Select a <strong>status change</strong> if desired.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> to generate the pick list.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-ENG-Auftraege-Fulfillment-LagerPickliste01-SI.png" alt="EN ENG Auftraege Fulfillment LagerPickliste01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>warehouse pick list</strong> submenu</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuring_or_changing_a_warehouse_pick_list">6. Configuring or changing a warehouse pick list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The link <strong>change PDF pick list</strong> takes you to the menu <strong>Settings &gt; Sales orders &gt; Documents &gt; Warehouse pick list</strong>. This is where the PDF pick list’s <strong>basic settings</strong> are configured for the warehouse pick list.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Mandatory setting</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p>You have to activate the <strong>sales order ID</strong> and/or the <strong>invoice number</strong>. Select a <strong>position</strong> number to activate these elements. Make sure to select a position number that is not already being used.</p>
</div>
<div class="paragraph">
<p>The following is an example of a warehouse pick list that contains information about the <strong>sales order ID</strong> and the <strong>invoice</strong>. We recommend that you always activate the <strong>sales order ID</strong>. As you can see in the example, information about the invoice is not always available.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-ENG-Auftraege-Fulfillment-LagerPickliste02-SI.png" alt="EN ENG Auftraege Fulfillment LagerPickliste02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: warehouse pick list; example <strong>PDF</strong></em></p>
</div>
</div>
</div>
</main>