<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Erste Hilfe: Probleme mit der PayPal-Kontoverknüpfung</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>1.1.</span><span> Ceres: PayPal-Plugin</span></a></li>
<li><a href="#120"><span>1.2.</span><span> Callisto: PayPal PLUS</span></a></li>
<li><a href="#130"><span>1.3.</span><span> Callisto: PayPal</span></a></li>
<li><a href="#140"><span>1.4.</span><span> Anmerkungen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: PayPal-Plugin</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zum Thema <strong>PayPal-Plugin</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Erste Hilfe: Probleme mit der PayPal-Kontoverknüpfung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei Problemen mit der Kontoverknüpfung ist es empfehlenswert einen anderen Browser zu verwenden, um diese Fehlerquelle auszuschließen.
Des Weiteren sollte grundsätzlich überprüft werden, ob es Probleme mit dem PayPal-Konto gibt.
Möglicherweise wurde die E-Mail noch nicht bestätigt, PayPal PLUS wurde für das Konto noch nicht freigeschaltet oder es wurde noch kein Passwort gesetzt.</p>
</div>
<div class="sect2">
<h3 id="110">1.1. Ceres: PayPal-Plugin</h3>
<div class="paragraph">
<p>Bitte überprüfe zuerst, ob die aktuellste Version des PayPal-Plugins in deinem plentymarkets System installiert und bereitgestellt ist.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Aktivierung und Vorschau des Plugins</div>
<div class="paragraph">
<p>Stelle sicher, dass das PayPal-Plugin zum Zeitpunkt der Kontoverknüpfung bereits im <a href="/basics-erste-schritte/plugins#20">Plugin-Set</a> des Hauptmandanten aktiviert und bereitgestellt ist. Ist dies nicht der Fall, kommt es zu Fehlfunktionen.<br></p>
</div>
<div class="paragraph">
<p>Achtung: Die Plugin-Set Vorschau darf während des Verknüpfens des PayPal-Kontos <strong>nicht</strong> geöffnet sein!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_fehlerbeschreibung" class="discrete">Fehlerbeschreibung</h4>
<div class="paragraph">
<p>Die Rückleitung zum System ist fehlerhaft. Es erscheint nur die Schaltfläche <strong>Zur PayPal-Einrichtung</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Fehler_1.png" alt="Plugin Fehlermeldung 1">
</div>
<div class="title">Bild 1. Rückleitung zu plentymarkets ist nicht möglich</div>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> <strong>Lösung 1:</strong> Bitte wechsle den Browser und versuche es erneut. plentymarkets unterstützt die Browser Google Chrome und Mozilla Firefox.</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> <strong>Lösung 2:</strong> Es existiert noch eine API-Berechtigung im PayPal-Konto. Bitte entferne die Berechtigung für plentymarkets. Die API-Berechtigung ist unter folgender URL zu finden: <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths" class="bare">https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths</a></p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">HINWEIS</div>
<div class="paragraph">
<p>Durch das Entfernen der API-Berechtigung werden alle verknüpften PayPal-Konten im plentymarkets System gelöst. Sollte für den Marktplatz <strong>eBay</strong> ein PayPal-Konto verknüpft sein, muss das entsprechende Konto bei der PayPal-Schnittstelle erneut verknüpft werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_fehlerbeschreibung_2" class="discrete">Fehlerbeschreibung</h4>
<div class="paragraph">
<p>Nach der Weiterleitung soll ein neues Geschäftskonto eingerichtet werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Fehler_2.png" alt="Plugin Fehlermeldung 2">
</div>
<div class="title">Bild 2. Ansicht für die Konto-Einrichtung</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Lösung:</strong> Bitte überprüfe, ob die Daten bei “PayPal-Konto hinzufügen” korrekt hinterlegt wurden.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Dateneingabe.png" alt="Plugin Daten">
</div>
<div class="title">Bild 3. Eingabemaske in plentymarkets</div>
</div>
<div class="paragraph">
<p><strong>E-Mail:</strong> Hier soll die E-Mail hinterlegt werden, die für den PayPal-Login verwendet wird.<br>
<strong>Umgebung:</strong> Einstellung, ob das Konto für die Testumgebung oder Live-Umgebung genutzt wird.<br>
<strong>PayPal PLUS:</strong> Haken nur setzen, wenn das Konto für PayPal PLUS freigeschaltet ist.</p>
</div>
</div>
<div class="sect2">
<h3 id="120">1.2. Callisto: PayPal PLUS</h3>
<div class="paragraph">
<p>Bitte überprüfe, ob das PayPal-Konto für PayPal PLUS freigeschaltet ist.</p>
</div>
<h4 id="_fehlerbeschreibung_3" class="discrete">Fehlerbeschreibung</h4>
<div class="paragraph">
<p>Nach dem PayPal-Login gibt es eine Fehlermeldung, bzw. die Rückleitung zu plentymarkets ist fehlerhaft.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PPP_Fehler_1.png" alt="PayPal PLUS Fehler 1">
</div>
<div class="title">Bild 4. Die Schaltfläche <strong>Zurück zum Shop</strong> fehlt</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PPP_Fehler_2.jpg" alt="PayPal PLUS Fehler 2">
</div>
<div class="title">Bild 5. In PayPal wird eine Fehlermeldung ausgegeben</div>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> <strong>Lösung 1:</strong> Nach dem PayPal-Login folgende URL manuell in die Adresszeile des Browsers eingeben und aufrufen: <a href="https://www.paypal.com/DE/merchantsignup/partner/grantPermissionOauth" class="bare">https://www.paypal.com/DE/merchantsignup/partner/grantPermissionOauth</a></p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> <strong>Lösung 2:</strong> Es existiert noch eine API-Berechtigung im PayPal-Konto. Bitte entferne die Berechtigung für plentymarkets. Die API-Berechtigung ist unter folgender URL zu finden: <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths" class="bare">https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths</a></p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">HINWEIS</div>
<div class="paragraph">
<p>Die Kontoverknüpfung der PayPal-Schnittstelle geht beim Entfernen der API-Berechtigung verloren. Die Vernüpfung muss anschließend erneut durchgeführt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_fehlerbeschreibung_4" class="discrete">Fehlerbeschreibung</h4>
<div class="paragraph">
<p>Beim Speichern der Schnittstellen-Einstellungen erscheint <strong>Code 87: Kontodaten können nicht abgerufen werden</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Lösung:</strong> Bitte hinterlege im Feld <strong>URL zu Ihrem Logo</strong> eine https-URL. Die Meldung erscheint, weil das PayPal Webprofil nicht gespeichert werden kann. Das Konto ist trotzdem korrekt verknüpft.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="130">1.3. Callisto: PayPal</h3>
<h4 id="_fehlerbeschreibung_5" class="discrete">Fehlerbeschreibung</h4>
<div class="paragraph">
<p>Die Schaltfläche für die Kontoverknüpfung fehlt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-konto_plus.png" alt="PayPal Konto hinzufügen">
</div>
<div class="title">Bild 6. Das "+" fehlt neben dem Speichersymbol</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Lösung:</strong> Bitte speichere die Schnittstellen-Einstellungen einmal. Anschließend wird die Schaltfläche angezeigt.</p>
</li>
</ul>
</div>
<h4 id="_fehlerbeschreibung_6" class="discrete">Fehlerbeschreibung</h4>
<div class="paragraph">
<p>Nach oder während der Rückleitung erscheint die Meldung <strong>"Es ist ein Fehler aufgetreten"</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Lösung:</strong> Möglicherweise muss die E-Mail noch bestätigt werden: <a href="https://www.paypal.de/emailbestaetigung" class="bare">https://www.paypal.de/emailbestaetigung</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="140">1.4. Anmerkungen</h3>
<div class="paragraph">
<p>Sollten euch Probleme bei der Kontoverknüpfung auffallen, die im Handbuch nicht aufgelistet sind, dann erstellt dafür bitte ein neues Thema im <a href="https://forum.plentymarkets.com/c/payment" target="_blank" rel="noopener">Forum</a>. Wir kümmern uns darum, diese Seite anschließend mit den neuen Lösungsvorschlägen zu ergänzen.</p>
</div>
</div>
</div>
</div>
</main>