<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Konfiguration mit PayPal-Assistent</span></a></li>
<li><a href="#100"><span>2.</span><span> Erste Hilfe: Probleme mit der PayPal-Kontoverknüpfung</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>2.1.</span><span> Ich nutze Ceres und das PayPal-Plugin. Was mache ich, wenn bei der Kontoverknüpfung nur die Schaltfläche Zur PayPal-Einrichtung erscheint?</span></a></li>
<li><a href="#120"><span>2.2.</span><span> Ich nutze Ceres und das PayPal-Plugin. Was mache ich, wenn nach der Weiterleitung ein neues Geschäftskonto eingerichtet werden soll?</span></a></li>
<li><a href="#130"><span>2.3.</span><span> Ich nutze Callisto und PayPal PLUS. Was mache ich, wenn die Rückleitung zu plentymarkets nicht funktioniert?</span></a></li>
<li><a href="#140"><span>2.4.</span><span> Ich nutze Callisto und PayPal PLUS. Was mache ich, wenn beim Speichern der Einstellungen der Schnittstellen Code 87 erscheint?</span></a></li>
<li><a href="#150"><span>2.5.</span><span> Ich nutze Callisto und PayPal. Was mache ich, wenn die Schaltfläche für die Kontoverknüpfung fehlt?</span></a></li>
<li><a href="#_ich_nutze_callisto_und_paypal_was_bedeutet_die_meldung_es_ist_ein_fehler_aufgetreten"><span>2.6.</span><span> Ich nutze Callisto und PayPal. Was bedeutet die Meldung Es ist ein Fehler aufgetreten?</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FAQ PayPal-Plugin</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im plentyMarketplace erhältst du alle wichtigen Informationen zum <a href="https://marketplace.plentymarkets.com/plugins/payment/paypal_4690" target="_blank" rel="noopener">PayPal-Plugin</a>. Nutze zudem auch das <a href="https://forum.plentymarkets.com/c/payment" target="_blank" rel="noopener">Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, um entweder Informationen aus einem bestehenden Thread zu ziehen oder deine Frage an unsere Supporter zu stellen.
FAQ zum Thema Paypal-Kontoverknüpfung haben wir hier für dich zusammengestellt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Konfiguration mit PayPal-Assistent</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Momentan kann es bei der Konfiguration von PayPal mit dem Assistent zu Problemen im Webshop kommen.</p>
</div>
<div class="qlist qanda">
<ol>
<li>
<p><em>Ich möchte das PayPal-Plugin aktualisieren. Wie sollte ich vorgehen?</em></p>
<p>Wenn du das Update in einer Kopie deines Plugin-Sets vornehmen möchtest, musst du das Backend-Plugin-Set wechseln, das mit deinem Konto verknüpft ist. Wie du das Backend-Plugin-Set wechseln kannst, erfährst du auf der Seite <a href="/hinzugefuegte-plugins-installieren#backend-plugin-set">Hinzugefügte Plugins installieren</a>. Nach dem Neuladen des Backends, kannst du den PayPal-Assistenten normal durchlaufen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="100">2. Erste Hilfe: Probleme mit der PayPal-Kontoverknüpfung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei Problemen mit der Kontoverknüpfung ist es empfehlenswert einen anderen Browser zu verwenden, um diese Fehlerquelle auszuschließen.
Des Weiteren sollte grundsätzlich überprüft werden, ob es Probleme mit dem PayPal-Konto gibt.
Möglicherweise wurde die E-Mail noch nicht bestätigt, PayPal PLUS wurde für das Konto noch nicht freigeschaltet oder es wurde noch kein Passwort gesetzt.
Weitere mögliche Fehlerquellen und deren Lösung werden im Folgenden beschrieben.</p>
</div>
<div class="sect2">
<h3 id="110">2.1. Ich nutze Ceres und das PayPal-Plugin. Was mache ich, wenn bei der Kontoverknüpfung nur die Schaltfläche <strong>Zur PayPal-Einrichtung</strong> erscheint?</h3>
<div class="paragraph">
<p>Überprüfe zuerst, ob die <a href="#plugins/installierte-plugins-aktualisieren">aktuelle Version</a> des PayPal-Plugins in deinem plentymarkets System installiert und bereitgestellt ist (<span class="icon purple"><i class="fa fa-download  "></i></span>).</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Aktivierung und Vorschau des Plugins</div>
<div class="paragraph">
<p>Stelle sicher, dass das PayPal-Plugin zum Zeitpunkt der Kontoverknüpfung bereits im <a href="#plugins/hinzugefuegte-plugins-installieren">Plugin-Set</a> des Hauptmandanten aktiviert und bereitgestellt ist. Ist dies nicht der Fall, kommt es zu Fehlfunktionen.<br></p>
</div>
<div class="paragraph">
<p>Achtung: Die Plugin-Set Vorschau darf während des Verknüpfens des PayPal-Kontos <strong>nicht</strong> geöffnet sein!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Fehler_1.png" alt="Plugin Fehlermeldung 1">
</div>
<div class="title">Bild 1. Rückleitung zu plentymarkets ist nicht möglich</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Lösung 1:</strong> Wechsle den Browser und versuche es erneut. plentymarkets unterstützt die Browser Google Chrome und Mozilla Firefox.</p>
</li>
<li>
<p><strong>Lösung 2:</strong> Es existiert noch eine API-Berechtigung im PayPal-Konto. Entferne die Berechtigung für plentymarkets. Die API-Berechtigung ist unter folgender URL zu finden: <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths" class="bare">https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">HINWEIS</div>
<div class="paragraph">
<p>Durch das Entfernen der API-Berechtigung werden alle verknüpften PayPal-Konten im plentymarkets System gelöst. Sollte für den Marktplatz <strong>eBay</strong> ein PayPal-Konto verknüpft sein, muss das entsprechende Konto bei der PayPal-Schnittstelle erneut verknüpft werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="120">2.2. Ich nutze Ceres und das PayPal-Plugin. Was mache ich, wenn nach der Weiterleitung ein neues Geschäftskonto eingerichtet werden soll?</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Fehler_2.png" alt="Plugin Fehlermeldung 2">
</div>
<div class="title">Bild 2. Ansicht für die Konto-Einrichtung</div>
</div>
<div class="paragraph">
<p>Wenn sich dieses Fenster öffnet, überprüfe, ob die Daten bei “PayPal-Konto hinzufügen” korrekt hinterlegt wurden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Dateneingabe.png" alt="Plugin Daten">
</div>
<div class="title">Bild 3. Eingabemaske in plentymarkets</div>
</div>
<div class="paragraph">
<p><strong>E-Mail:</strong> Hier soll die E-Mail hinterlegt werden, die für den PayPal-Login verwendet wird.<br>
<strong>Umgebung:</strong> Einstellung, ob das Konto für die Testumgebung oder Live-Umgebung genutzt wird.<br>
<strong>PayPal PLUS:</strong> Haken nur setzen, wenn das Konto für PayPal PLUS freigeschaltet ist.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">2.3. Ich nutze Callisto und PayPal PLUS. Was mache ich, wenn die Rückleitung zu plentymarkets nicht funktioniert?</h3>
<div class="paragraph">
<p>Überprüfe zunächst, ob das PayPal-Konto für PayPal PLUS freigeschaltet ist. Wenn einer der folgenden Fehler auftritt, beachte die Lösungsvorschläge weiter unten:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PPP_Fehler_1.png" alt="PayPal PLUS Fehler 1">
</div>
<div class="title">Bild 4. Die Schaltfläche <strong>Zurück zum Shop</strong> fehlt</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PPP_Fehler_2.jpg" alt="PayPal PLUS Fehler 2">
</div>
<div class="title">Bild 5. In PayPal wird eine Fehlermeldung ausgegeben</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Lösung 1:</strong> Nach dem PayPal-Login folgende URL manuell in die Adresszeile des Browsers eingeben und aufrufen: <a href="https://www.paypal.com/DE/merchantsignup/partner/grantPermissionOauth" class="bare">https://www.paypal.com/DE/merchantsignup/partner/grantPermissionOauth</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
<li>
<p><strong>Lösung 2:</strong> Es existiert noch eine API-Berechtigung im PayPal-Konto. Bitte entferne die Berechtigung für plentymarkets. Die API-Berechtigung ist unter folgender URL zu finden: <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths" class="bare">https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">HINWEIS</div>
<div class="paragraph">
<p>Die Kontoverknüpfung der PayPal-Schnittstelle geht beim Entfernen der API-Berechtigung verloren. Die Vernüpfung muss anschließend erneut durchgeführt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">2.4. Ich nutze Callisto und PayPal PLUS. Was mache ich, wenn beim Speichern der Einstellungen der Schnittstellen <strong>Code 87</strong> erscheint?</h3>
<div class="paragraph">
<p>Wenn beim Speichern der Schnittstellen-Einstellungen <strong>Code 87: Kontodaten können nicht abgerufen werden</strong> erscheint, hinterlege im Feld <strong>URL zu Ihrem Logo</strong> eine https-URL. Die Meldung erscheint, weil das PayPal Webprofil nicht gespeichert werden kann. Das Konto ist trotzdem korrekt verknüpft.</p>
</div>
</div>
<div class="sect2">
<h3 id="150">2.5. Ich nutze Callisto und PayPal. Was mache ich, wenn die Schaltfläche für die Kontoverknüpfung fehlt?</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-konto_plus.png" alt="PayPal Konto hinzufügen">
</div>
<div class="title">Bild 6. Das "+" fehlt neben dem Speichersymbol</div>
</div>
<div class="paragraph">
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Schnittstellen-Einstellungen. Anschließend wird die Schaltfläche angezeigt.</p>
</div>
</div>
<div class="sect2">
<h3 id="_ich_nutze_callisto_und_paypal_was_bedeutet_die_meldung_es_ist_ein_fehler_aufgetreten">2.6. Ich nutze Callisto und PayPal. Was bedeutet die Meldung <strong>Es ist ein Fehler aufgetreten</strong>?</h3>
<div class="paragraph">
<p>Wenn diese Meldung während der Rückleitung erscheint, muss möglicherweise noch die E-Mail bestätigt werden: <a href="https://www.paypal.de/emailbestaetigung" class="bare">https://www.paypal.de/emailbestaetigung</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</div>
</main>