<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#general-information"><span>1.</span><span> About automatic data exchange</span></a></li>
<li><a href="#item-export-catalogue"><span>2.</span><span> Setting up the item export</span></a>
<ul class="sectlevel2">
<li><a href="#catalogue-in-assistant"><span>2.1.</span><span> Creating a catalogue in the assistant</span></a></li>
<li><a href="#map-data-fields"><span>2.2.</span><span> Mapping data fields in the catalogue</span></a></li>
<li><a href="#additional-properties"><span>2.3.</span><span> Creating additional properties</span></a></li>
</ul>
</li>
<li><a href="#link-variation-to-catalogue-category"><span>3.</span><span> Linking variations to a Mediamarkt catalogue category</span></a>
<ul class="sectlevel3">
<li><a href="#link-properties-with-variations"><span>3.1.</span><span> Linking properties with variations and saving values</span></a></li>
</ul>
</li>
<li><a href="#Mediamarkt"><span>4.</span><span> Activating the catalogue export</span></a>
<ul class="sectlevel2">
<li><a href="#marketplace-specific-values"><span>4.1.</span><span> Transferring marketplace-specific values</span></a></li>
<li><a href="#_mapping_and_transferring_valid_attribute_values"><span>4.2.</span><span> Mapping and transferring valid attribute values</span></a></li>
</ul>
</li>
<li><a href="#product-and-offer-data"><span>5.</span><span> Transferring product and offer data</span></a>
<ul class="sectlevel2">
<li><a href="#transfer-product-data"><span>5.1.</span><span> Transferring product data</span></a></li>
<li><a href="#_requirements_for_transferring_product_data"><span>5.2.</span><span> Requirements for transferring product data</span></a></li>
<li><a href="#transfer-order-data"><span>5.3.</span><span> Transferring offer data</span></a></li>
<li><a href="#_requirements_for_transferring_offer_data"><span>5.4.</span><span> Requirements for transferring offer data</span></a></li>
</ul>
</li>
<li><a href="#variation-availability"><span>6.</span><span> Setting the variation availability</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Automatic product and offer data exchange</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/en/markets/mediamarkt/mediamarkt-setup">Setting up Mediamarkt <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a>
<a href="/en/markets/mediamarkt/automated-order-processing">Setting up automated order processing <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>On this page, you will learn how to create a catalogue for exporting items with the help of an assistant. Furthermore, you will learn how to map data fields in the catalogue to be able to correctly transfer your product and offer data to the marketplace. Afterwards, you only have to set the variation availability and activate the catalogue export.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="general-information">1. About automatic data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After installing and setting up the plugin, the automatic processes described in <a href="#data-exchange-Mediamarkt">Table 1</a> become available:</p>
</div>
<table id="data-exchange-Mediamarkt" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Frequency of data exchange</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data</th>
<th class="tableblock halign-left valign-top">Interval</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item export</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>daily</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order import</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="item-export-catalogue">2. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item data is exported to Mediamarkt via marketplace formats. Go to <strong>Data » Catalogues</strong> to create catalogues.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Is this your first time working with catalogues? Then read up on the <a href="#en/data/exporting-data/managing-catalogues">basic concept of the plentymarkets catalogues first</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you want to sell your products in multiple Mediamarkt product categories, create a separate catalogue for each of them. Link the Mediamarkt data fields with the item data saved in plentymarkets in the marketplace format afterwards. Once you’ve activated a catalogue, plentymarkets automatically exports the catalogue templates to Mediamarkt on a daily basis.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Error log</div>
<div class="paragraph">
<p>If there’s a problem during export, you can find the related log entries on Mirakl and not the plentymarkets log.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="catalogue-in-assistant">2.1. Creating a catalogue in the assistant</h3>
<div class="paragraph">
<p>Proceed as described below to create a catalogue in the assistant.</p>
</div>
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Setup » Assistants » Plugins » [select plugin set]</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Mediamarkt Catalogue</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the Info box below this description (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to make sure they are correct.<br>
<strong><em>Tip:</em></strong> In the <strong>Summary</strong> step, click on the arrow (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p>Open the catalogue in the <strong>Data » Catalogues</strong> menu to map the fields.<br>
<strong><em>Note:</em></strong> Only select bottom level categories. You can find a better overview of the category hierarchy on Miracle by going to <strong>My account » My product data settings</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="map-data-fields">2.2. Mapping data fields in the catalogue</h3>
<div class="paragraph">
<p>After you have created a catalogue, map the market’s data fields to item data saved in plentymarkets. Check the documentation of the sales channel to find out what data the market expects for the individual data fields.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using properties</div>
<div class="paragraph">
<p>Use <a href="/en/item/settings/properties#500">properties</a> to export values for marketplace data fields that have no corresponding field in plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mapping catalogue fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab opens.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (*).<br>
→ In the right column, you map the plentymarkets data fields. Any plentymarkets data fields that are already assigned are also shown in the right column.</p>
</li>
<li>
<p>Now, map suitable plentymarkets data fields to the market data fields.<br>
You can choose from the following mappings which are described in the info boxes below:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Simple 1:1 mapping</strong></p>
</li>
<li>
<p><strong>Complex 1:1 mapping</strong></p>
</li>
<li>
<p><strong>1:1 mapping with fallback data fields</strong></p>
</li>
<li>
<p><strong>1:n mapping</strong></p>
</li>
<li>
<p><strong>Own value mapping</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Simple 1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>In a simple 1:1 mapping, you map a plentymarkets data field to the marketplace data field. If no suitable setting exists in plentymarkets, you can map a property instead.</p>
</div>
<div class="paragraph">
<p>As such, simple 1:1 mappings allow you to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If the data field is empty for a variation, no value is exported for this variation.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a simple 1:1 mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Sales price and RRP</p>
</div>
<div class="paragraph">
<p>This gif shows you how to map the marketplace data fields <strong>Sales price</strong> and <strong>RRP</strong> for Otto Market to suitable plentymarkets data fields:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-simple-en.gif" alt="gif catalogue mapping simple en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Complex 1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>Like with the simple 1:1 mappings, you map a plentymarkets setting or property to a marketplace data field. Complex mappings are necessary if a marketplace data field has more than one possible value. Instead of mapping data fields, for complex mappings you instead map the values of these data fields. For example, you cannot simply map the plentymarkets data field <strong>Shipping profile</strong> to the marketplace data field <strong>Shipping method</strong>. This is because the market cannot know which of your shipping profiles in plentymarkets corresponds to which of their shipping methods.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Do not enter own values for complex mappings. All values that you enter must be saved for the variations, either in a setting or as a property value. This also applies if the value <strong>Comparative value</strong> is shown. You still need to enter exactly the value of the setting or property that you mapped.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Examples for complex 1:1 mappings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Categories</p>
</li>
<li>
<p>Brands</p>
</li>
<li>
<p>Shipping setting</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can recognise complex mappings from the field that is shown below the name of the marketplace data field. Click on the field to show the values available for the marketplace data field.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/catalogue-complex-mappings.png" alt="catalogue complex mappings">
</div>
</div>
<div class="paragraph instruction">
<p>Creating a complex 1:1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the field for the marketplace data field.<br>
→ A list of the available values is shown.</p>
</li>
<li>
<p>Select the value that you want to map a plentymarkets data field to.<br>
→ The value is mapped.</p>
</li>
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the available plentymarkets data fields are listed in groups.<br></p>
</li>
<li>
<p>Click on a group.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plentymarkets data field for which you want to map values.<br>
<strong><em>Important:</em></strong> Do not map own values.<br>
→ Your next steps depend on the plentymarkets data field you selected.</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> The available values for the plentymarkets data value are shown on the left.<br></p>
<div class="ulist">
<ul>
<li>
<p>Next to the value you want to select, click on the plus.<br>
→ The value is added to the field on the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> The plentymarkets data field is inserted and the field <strong>Comparative value</strong> is shown.</p>
<div class="ulist">
<ul>
<li>
<p>In the field <strong>Comparative value</strong>, enter a value that is saved in the setting or the property of the mapped plentymarkets data field.<br></p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Alternative 3:</em></strong> The plentymarkets data field is inserted and a drop-down list is shown.</p>
<div class="ulist">
<ul>
<li>
<p>Select a value from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>This gif shows you how to map suitable plentymarkets values to the values of the marketplace data fields <strong>Delivery time in days</strong> for Otto Market:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-complex-en.gif" alt="gif catalogue mapping complex en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1 mapping with a fallback data field</strong> 1 marketplace data field, 1 plentymarkets data field with alternatives</div>
<div class="content">
<div class="paragraph">
<p>In a 1:1 mapping with a fallback data field, you map a plentymarkets data field to the marketplace data field. In addition, you specify one or more fallback data fields. This ensures that the system keeps looking if the first plentymarkets data field is empty or contains an invalid value.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If the data field is empty or invalid for a variation, the first fallback data field is checked and the value of that fallback data field is exported instead.</p>
</li>
<li>
<p>If the first fallback data field also is empty or invalid for a variation, the value of the second fallback data field is exported and so on.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:1 mapping with a fallback data field:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>In the list of plentymarkets data fields, click on the plus icon next to the plentymarkets data field that you want to map.<br>
→ The fallback data field is exported when the first data field does not exist or is empty.<br>
<strong><em>Note:</em></strong> Even if you assign one or more fallback data fields, the value of only one of those fields is exported. For each variation, the mapped plentymarkets data fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value for a variation, the first fallback data field is exported etc.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>This gif shows you how to map the plentymarkets data field <strong>SKU</strong> and the fallback data field <strong>Variation ID</strong> to the marketplace data field <strong>SKU</strong> for Otto Market:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-fallback-en.gif" alt="gif catalogue mapping fallback en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:n mapping:</strong> 1 marketplace data field, several plentymarkets data fields</div>
<div class="content">
<div class="paragraph">
<p>In a 1:n mapping, you map several plentymarkets data fields to the marketplace data field. You can link these data fields with a separator.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to combine these plentymarkets data fields during export so that the marketplace data field is filled with the data of these two or more plentymarkets settings.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the right of the mapped plentymarkets data field, click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ To the left, the list of available plentymarkets data fields again are shown in groups.</p>
</li>
<li>
<p>Map one or several additional plentymarkets data fields to the marketplace data field as described above.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the very right of the row, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Select a separator from the drop-down list <strong>Separator</strong> or add a custom separator.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.<br>
→ During the export, the content of the plentymarkets data fields is combined and exported as one field.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Own value mapping:</strong> 1 marketplace data field, the same value for all variations</div>
<div class="content">
<div class="paragraph">
<p>You are sure that you want to export the same value for all variations of a catalogue for a marketplace data field? Then specify an own value. This own value is then exported for all variations.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>For this marketplace data field, I want to export the value that I entered in the field <strong>Own value</strong> for <em>all</em> variations of this catalogue.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating an own value mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on the plus next to <strong>Own value</strong> at the top of the list.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.<br>
→ This value is exported for all variations.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Diameter information</p>
</div>
<div class="paragraph">
<p>You want to export diameter information for some of your variations. The diameter is saved in centimetres for all your variations. Instead of creating a property for the unit and linking this property to the variations, you can enter the own value <code>cm</code>.</p>
</div>
<div class="paragraph">
<p>This is how you can map an own value for the diameter unit:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-own-value-en.gif" alt="gif catalogue own value en" width="600">
</div>
</div>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Do not map plentymarkets data fields to the following marketplace data fields for the market Mediamarkt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Main Product Image</p>
</li>
<li>
<p>Additional Product Image 1</p>
</li>
<li>
<p>Additional Product Image 2</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can ignore the warning shown when you save the mapping.</p>
</div>
<div class="paragraph">
<p><em>*Note:*</em> Do not map any attributes “xy (ES)” when creating items. The items will be exported to MIRAKL anyway.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="catalogue-mirakl-mappings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Mediamarkt mappings</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Marketplace data field</th>
<th class="tableblock halign-left valign-top">plentymarkets data field</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Brand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Create a property of type <strong>Text</strong> for this marketplace data field. Create a property value for each type of unit that you use for your products. Be sure to enter the code, not the label.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> You can find all possible values in the respective CSV file.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> For this marketplace data field, you <em>cannot</em> use properties of the type <strong>Multiple selection</strong>. Mapping a property of the type <strong>Multiple selection</strong> in the catalogue will cause an incorrect transfer.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map one or more of the following plentymarkets data fields to this marketplace data field. Use at least 20 and not more than 100 characters.<br>
<strong><em>Note:</em></strong> You can only transfer plain text. HTML tags are <em>not</em> allowed.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name 1</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>or</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name 2</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>or</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name 3</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>or</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Property</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SHOP_SKU</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the following plentymarkets data field to this marketplace data field:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>SKU</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Map the following plentymarkets data field as fallback data field:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variation ID</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EAN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the following plentymarkets data field to this marketplace data field:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>GTIN 13</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seller Product ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the following plentymarkets data field to this marketplace data field:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>SKU</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Map the following plentymarkets data field as fallback data field:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variation ID</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Weight (according to the manufacturer)</strong>*</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the following plentymarkets data field to this marketplace data field:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gross weight in g</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>or</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Net weight in g</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Width</strong>*</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the following plentymarkets data field to this marketplace data field:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Width in mm</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Height</strong>*</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the following plentymarkets data field to this marketplace data field:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Height mm</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Depth</strong>*</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the following plentymarkets data field to this marketplace data field:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Length in mm</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="additional-properties">2.3. Creating additional properties</h3>
<div class="paragraph">
<p>If you’ve defined more than one <a href="/en/item/settings/attributes">attribute</a> for any of your variations, create a property that combines these attributes. For example, if you distinguish a variation both by colour and by size, you can create a property called “Grey XL”. Then, <a href="/en/item/settings/properties#1400">link these properties</a> to the respective variations.</p>
</div>
<div class="paragraph">
<p>In addition to the <a href="/en/markets/conrad/first-steps#create-properties">properties described previously</a>, you need properties for all data fields of the marketplace whose data you want to export, but that don’t exist in plentymarkets by default. You can see by the data fields in the catalogue which properties you need. Is this your first time working with properties? For further information, refer to the item <a href="/en/item/settings/properties#500">Properties</a> page.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="link-variation-to-catalogue-category">3. Linking variations to a Mediamarkt catalogue category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you created a marketplace format for Mediamarkt with the <strong>Mediamarkt Catalog</strong> assistant or manually, the property <strong>Mediamarkt</strong> is created in your plentymarkets system. A new selection value is added to the <strong>Mediamarkt category group</strong> property for each category selected in the <strong>Settings</strong> step of the assistant. In order for your variations to be exported in the appropriate catalogue, they have to be linked to the <strong>Mediamarkt category group</strong> property in the <strong>Properties</strong> tab of a variation.</p>
</div>
<div class="paragraph instruction">
<p>Linking a variation to a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item]</strong>.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Open the variation that should be linked.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong> area, select the property <strong>Mediamarkt category group</strong> from the <strong>Properties</strong> drop-down list and click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added.</p>
</li>
<li>
<p>Select the desired category group from the <strong>Value</strong> drop-down list for the <strong>Mediamarkt category group</strong> property.<br>
→ The variation will be exported in this catalogue.<br>
<strong><em>Example:</em></strong> If you pick the value <strong>VIDEO CASSETTES</strong>, the catalogue variation is exported for the <strong>VIDEO CASSETTES</strong> category.</p>
</li>
<li>
<p>Repeat steps 5 and 6 for all categories where you want to offer the variation.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<h3 id="_further_possibilities_to_link_variations" class="discrete">Further possibilities to link variations</h3>
<div class="ulist">
<ul>
<li>
<p>via import: Go to <strong>Setup » Settings » Properties » Configuration</strong>, open the property <strong>Mediamarkt category mapping</strong> and click on <strong>Values</strong>. You can find there the selection value IDs that are needed for the import.</p>
</li>
<li>
<p>via REST API: Use the REST routes from the areas <a href="https://developers.plentymarkets.com/en-gb/plentymarkets-rest-api/index.html#/Property" target="_blank" rel="noopener">Property</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and <a href="https://developers.plentymarkets.com/en-gb/plentymarkets-rest-api/index.html#/Item" target="_blank" rel="noopener">Item</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to link the catalogue with the variation.<br>
<strong><em>Note</em></strong>: If no marketplace category is available in the assistant <strong>Mediamarkt Catalog</strong>, you might have entered the wrong API environment in the <strong>Authentication</strong> step of the assistant <strong>Mediamarkt</strong>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="link-properties-with-variations">3.1. Linking properties with variations and saving values</h4>
<div class="paragraph">
<p>All properties, sales prices and barcodes that you have created for mapping them in the catalogue now need to be linked to the variations that you want to export to the market. This is described on the <strong>Item</strong> pages of the manual:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>How to link <a href="/en/item/settings/properties#1420">properties and save a property value</a>.</p>
</li>
<li>
<p>How to link <a href="/en/item/settings/prices#240">Sales prices</a>.</p>
</li>
<li>
<p>How to link <a href="/en/item/settings/barcodes#300">Barcodes</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="Mediamarkt">4. Activating the catalogue export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have set up Mediamarkt and created a catalogue for exporting your item data? Then start the export of your item data.</p>
</div>
<div class="paragraph instruction">
<p>Activating the catalogue export to Mediamarkt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the Mediamarkt catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button to the right (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ The catalogue is active.<br>
→ The catalogue data is exported to Mediamarkt daily.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="marketplace-specific-values">4.1. Transferring marketplace-specific values</h3>
<div class="paragraph">
<p>The marketplace requires specific values for most of the attributes in order to be able to transfer product data. Currently, these values are, however, not yet saved at the variation.<br>
<strong><em>Example:</em></strong> For example, it is not allowed to enter <strong>test</strong> for the attribute <strong>Brand</strong>. You have to transfer the corresponding code in this case - in this example <strong>BRAND_12345678</strong>.</p>
</div>
<div class="paragraph">
<p>The parameters valid for market attributes are displayed in parentheses behind the attribute. Ask your Mediamarkt contact person for more information about the valid attribute values.</p>
</div>
</div>
<div class="sect2">
<h3 id="_mapping_and_transferring_valid_attribute_values">4.2. Mapping and transferring valid attribute values</h3>
<div class="paragraph">
<p>In case there are different attribute values that might be valid depending on the variation that you want to transfer, the first question is how you keep your item data up-to-date.
If you manage your item data manually, it is recommended to use a property of the type <strong>Selection</strong>. You can save a description for the selection here. This description will then be shown in the property overview at the variation.
Once the code was mapped to the property, you can use the real name of the variation in the field <strong>Description</strong>. This means the code is transferred via the catalogue and the real name is shown in brackets behind.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> If you always want to transfer only one single value for an attribute, e.g. you want to use always <strong>BRAND_12345678</strong> for the brand, you can use the option <strong>Own value</strong> in the catalogue.</p>
</div>
<h3 id="_do_not_overwrite_existing_offers_on_mediamarkt" class="discrete">Do not overwrite existing offers on Mediamarkt</h3>
<div class="paragraph">
<p>If you are already selling items on Mediamarkt, you have to save ProductIDs at the variations in plentymarkets. By doing so, you make sure that the existing product data will not be overwritten and only new offers are created for the products. When transferring product data, a ProductID will be transferred to Mediamarkt. The ProductID is important to establish a connection between offer and product during the data transfer.</p>
</div>
<div class="paragraph">
<p>When a product that does not have a marketplace SKU yet is transferred, the variation ID will be saved automatically as marketplace SKU by default. Later during the offer transfer, the value that is saved as marketplace SKU will be used for <strong>sku</strong> and <strong>product-id</strong>.</p>
</div>
<div class="paragraph">
<p>Enter a valid EAN in the catalogue and transfer it to Mediamarkt.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="product-and-offer-data">5. Transferring product and offer data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The listing process at Mediamarkt takes place in two steps: First, the products are created. Then, after the marketplace has approved the product data, offers for the created products can be activated. Both export processes, their requirements as well as transfer options are described in the following sub-chapters.</p>
</div>
<div class="sect2">
<h3 id="transfer-product-data">5.1. Transferring product data</h3>
<div class="paragraph">
<p>In this chapter, you will learn how to transfer product data to the marketplace and which requirements have to be met. This data comes from the catalogue <strong>Mediamarkt Catalog</strong> that you created.</p>
</div>
</div>
<div class="sect2">
<h3 id="_requirements_for_transferring_product_data">5.2. Requirements for transferring product data</h3>
<div class="ulist">
<ul>
<li>
<p>The plugins <a href="https://marketplace.plentymarkets.com/en/mediamarkt_6918" target="_blank" rel="noopener">Mediamarkt</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and <strong>Mirakl Connector</strong> were purchased and downloaded from plentyMarketplace and installed in a plugin set.</p>
</li>
<li>
<p>The order referrers Mediamarkt and Mirakl were activated in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</li>
<li>
<p>The basic settings were carried out in the <strong>Setup » Assistants » Plugins » [select plugin set] » Mediamarkt</strong> menu. In order to transfer product data, activate the option <strong>Export products</strong> in the step data exchange.</p>
</li>
<li>
<p>In the <strong>Setup » Item » Sales prices</strong> menu, the order referrers <strong>Mirakl</strong> and <strong>Mediamarkt</strong> have been activated on an existing price <strong><em>or</em></strong> a new sales price has been created for which the order referrers <strong>Mirakl</strong> and <strong>Mediamarkt</strong> were activated.</p>
</li>
<li>
<p>You already created a <a href="/en/data/exporting-data/managing-catalogues">catalogue</a> for the data transfer.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="transfer-order-data">5.3. Transferring offer data</h3>
<div class="paragraph">
<p>In this chapter, you will learn how to transfer offer data to the marketplace and which requirements have to be met. The data comes from the <strong>Mediamarkt</strong> assistant which you already completed.</p>
</div>
</div>
<div class="sect2">
<h3 id="_requirements_for_transferring_offer_data">5.4. Requirements for transferring offer data</h3>
<div class="ulist">
<ul>
<li>
<p>The plugins <a href="https://marketplace.plentymarkets.com/en/mediamarkt_6918" target="_blank" rel="noopener">Mediamarkt</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and <strong>Mirakl Connector</strong> were purchased and downloaded from plentyMarketplace and installed in a plugin set.</p>
</li>
<li>
<p>The order referrers <strong>Mediamarkt</strong> and <strong>Mirakl</strong> were activated in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</li>
<li>
<p>The basic settings were carried out in the <strong>Setup » Assistants » Plugins » [Select plugin set] » Mediamarkt</strong> menu.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Synchronise stock</strong> is activated in the step data exchange so that the offers are transferred correctly.</p>
</li>
</ul>
</div>
</li>
<li>
<p>In the <strong>Setup » Item » Sales prices</strong> menu, the order referrers <strong>Mirakl</strong> and <strong>Mediamarkt</strong> have been activated on an existing price <strong><em>or</em></strong> a new sales price has been created for which the order referrers <strong>Mirakl</strong> and <strong>Mediamarkt</strong> were activated.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Offer data is transferred every 15 minutes. Only items that meet the following requirements are transferred:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The order referrers <strong>Mirakl</strong> and <strong>Mediamarkt</strong> are activated at the variation.</p>
</li>
<li>
<p>A price that was activated for <strong>Mediamarkt</strong>, <strong>Mirakl</strong> and <strong>WEB API</strong> is active at the variation.</p>
</li>
<li>
<p>A shipping profile that has been activated for <strong>Mediamarkt</strong>, <strong>Mirakl</strong> and <strong>WEB API</strong> is active at the variation.</p>
</li>
<li>
<p>A value is specified for <strong>Mediamarkt</strong> as Marketplace SKU at the variation.</p>
</li>
<li>
<p>The stock or the price was changed at the variation within the last 15 minutes.</p>
<div class="ulist">
<ul>
<li>
<p>Setting a new time stamp via the group function or batch processing also results in a transfer of the variation. Thus, the stock limitation <strong>To net stock</strong> or <strong>None</strong> has to be selected at the variation and the variation needs to have positive stock.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_further_data_fields_that_are_transmitted_during_the_offer_transfer" class="discrete">Further data fields that are transmitted during the offer transfer</h3>
<div class="ulist">
<ul>
<li>
<p><strong>sku</strong> and <strong>product-id</strong>: These fields are automatically filled with the value that has been specified as Marketplace SKU at the variation.</p>
</li>
<li>
<p><strong>price</strong>: This field is automatically filled with the value hat has been defined at the variation for the price that was activated on the marketplace. In case several sales prices were defined at the variation that are also available for the marketplace, the price with the lowest ID will be exported.</p>
</li>
<li>
<p><strong>quantity</strong>: This field will be automatically filled with the net stock or the total net stock from the warehouses that have been selected in the <strong>Mediamarkt</strong> assistant in the step <strong>Warehouse Selection</strong>.</p>
</li>
<li>
<p><strong>min-quantity-alert</strong>: This field will be automatically transferred with the value <strong>1</strong>.</p>
</li>
<li>
<p><strong>state</strong>: This field is transferred automatically with the value <strong>11</strong>. In the assistant step <strong>Offer properties mapping</strong> you can map a property in order to transfer a different value per variation.</p>
</li>
<li>
<p><strong>available-start-date</strong>: This field will be automatically transferred with a timestamp.</p>
</li>
<li>
<p><strong>price-ranges</strong>: In this field, one or several <a href="/en/item/settings/prices#100">sales prices</a> will be transferred.</p>
</li>
<li>
<p><strong>allow-quote-requests</strong>: This field will be automatically transferred with the value <strong>false</strong>.</p>
</li>
<li>
<p><strong>logistic-class</strong>: This field is empty by default. If no value is transferred, the variation is linked to the free shipping profile <strong>Free Shipping (FS)</strong>. In the assistant step <strong>Offer properties mapping</strong> you can map a property in order to transfer a different value per variation. You can find the valid shipping profile codes in the Mediamarkt back end under <strong>Platform Settings » Shipping</strong>. The codes are displayed in parentheses.</p>
</li>
<li>
<p><strong>leadtime-to-ship</strong>: This is a mandatory field, which is empty by default. In the assistant step <strong>Offer properties mapping</strong> you can map a property in order to transfer a different value per variation. Only integers between 1 and 45 are valid here.</p>
</li>
<li>
<p><strong>min-order-quantity</strong>: This field is transferred automatically with the value <strong>Min. order quantity</strong> saved for the variation.</p>
</li>
<li>
<p><strong>max-order-quantity</strong>: This field is transferred automatically with the value <strong>Max. order quantity</strong> saved for the variation.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="variation-availability">6. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate the variations that you want to sell on Mediamarkt. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » [Open variation]</strong> menu.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Activating variation availability</div>
<div class="paragraph">
<p>Do not activate the availability on the variation until a marketplace SKU has been defined on the variation or the variation has been transferred via the product export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="for-one-variation-tab" data-toggle="tab" href="#for-one-variation" role="tab" aria-controls="for-one-variation" aria-selected="true">For one variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-variation-group-function-tab" data-toggle="tab" href="#using-variation-group-function" role="tab" aria-controls="using-variation-group-function" aria-selected="false">Using variation group function</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-batch-processing-tab" data-toggle="tab" href="#using-batch-processing" role="tab" aria-controls="using-batch-processing" aria-selected="false">Using batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="for-one-variation" role="tabpanel" aria-labelledby="for-one-variation-tab">
<div class="paragraph instruction">
<p>Making a variation available for Mediamarkt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The tab <strong>Settings</strong> of the variation is shown.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on Mediamarkt, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The variation is available for Mediamarkt.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-variation-group-function" role="tabpanel" aria-labelledby="using-variation-group-function-tab">
<div class="paragraph">
<p>The <a href="/en/item/import-export-create/create/mass-processing#100">variation group function</a> allows you to edit several variations at once. You select the variations that you want to edit.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Mediamarkt using the variation group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-batch-processing" role="tabpanel" aria-labelledby="using-batch-processing-tab">
<div class="paragraph">
<p><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a> allows you to edit several variations at once. You use filters to limit which variations are edited.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Mediamarkt using batch processing:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/en/markets/mediamarkt/mediamarkt-setup">Setting up Mediamarkt <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a>
<a href="/en/markets/mediamarkt/automated-order-processing">Setting up automated order processing <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>