{% for consentGroup in get_consent_groups() %}
    <div class="consent-group{% if not loop.last %} mb-3{% endif %}">
        <div class="body mb-0">
            <p class="h4">
                {% if consentGroup.label | length > 0 %}
                    {{ consentGroup.label }}
                {% else %}
                    {{ trans("Marketplace::Translations.privacySettingsDefaultGroup") }}
                {% endif %}

                <span class="small">({{ consentGroup.consents | length }})</span>
            </p>
            {% if consentGroup.description | length > 0 %}<p class="h6">{{ consentGroup.description }}</p>{% endif %}
        </div>
        <div class="mt-0">
            {% for consent in consentGroup.consents %}
                {% set necessary = consentGroup.necessary or consent.necessary %}
                <div class="mb-1">
                    <span>
                        {{ consent.label }} <span class="text-muted">({{ consent.provider }})</span>
                    </span>
                    <p class="small">
                        {{ consent.description }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
