<div class="fixed-banner fixed-banner-top fixed-banner-closable bg-light text-black border-bottom d-none" tabindex="-1" role="dialog" hidden data-fn="cookie-related-elem" data-fn-options="{ cookieName: 'privacyBannerHidden', cookieExpiresDays: 365, hiddenCookieValue: '1', hiddenClass: 'd-none' }">
						
	<div class="container py-1">
			
		<div class="row">
			<div class="col-md small">
				{% set beforeLinkText = trans("PlentyManual::DataProcessingInformation.dataProcessingBeforeLinkText") %}
				{% set link = trans("PlentyManual::DataProcessingInformation.dataProcessingLink") %}
				{% set linkText = trans("PlentyManual::DataProcessingInformation.dataProcessingLinkText") %}
				{% set afterLinkText = trans("PlentyManual::DataProcessingInformation.dataProcessingAfterLinkText") %}
				{{ beforeLinkText }}{% if link and linkText %}<a href="{{ link }}" target="_blank">{{ linkText }}</a>{% endif %}{{ afterLinkText }}
			</div>
			<div class="col-md-auto d-flex">
				<div class="align-self-center w-100 text-center mt-1 mt-md-0">
					{% set okText = trans("PlentyManual::DataProcessingInformation.dataProcessingOkButtonText") %}
					{% set cancelText = trans("PlentyManual::DataProcessingInformation.dataProcessingCancelButtonText") %}
					{% if okText %}<button class="btn btn-sm btn-success" data-fn="cookie-related-elem-close"><i class="fa fa-check" aria-hidden="true"></i><span>{{ okText }}</span></button>{% endif %}<!--
					-->{% if cancelText %}<button class="btn btn-sm btn-dark ml-2" data-fn="cookie-related-elem-close"><i class="fa fa-close" aria-hidden="true"></i><span>{{ cancelText }}</span></button>{% endif %}
				</div>
			</div>
		</div>
		
	</div>
	
</div>