{% set location            = theLocation %}
<div class="{% if location == 'content' %} docs-container {% endif %} feedback-form-{{location}}-wrapper">
    <div class="feedback-form-wrapper">
        <form class="feedback-form" data-location="{{location}}">
            <div class="top">
                <h6 class="title">{{ trans( "PlentyManual::FeedbackForm.titleText" ) }}</h6>
            </div>

            <textarea placeholder='{{ trans( "PlentyManual::FeedbackForm.textFieldText" ) }}' name="feedback" id="feedback"
                      rows="5" maxlength="1500"></textarea>
            <input type="hidden" name="location" value="{{location}}">

            <div class="opinion-wrapper">
                <button type="submit" class="opinion like" data-location="{{location}}" data-opinion="like">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    {{ trans( "PlentyManual::FeedbackForm.helpfulText" ) }}
                </button>

                <button type="submit" class="opinion dislike" data-location="{{location}}" data-opinion="dislike">
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                    {{ trans( "PlentyManual::FeedbackForm.notHelpfulText" ) }}
                </button>
            </div>
        </form>
        <div class="feedback-submitted d-none">
            {{ trans( "PlentyManual::FeedbackForm.thanksText" ) }}
        </div>
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
</div>
