
<footer class="page-footer" data-tg="sticky-container-above">

    <hr>

    <div class="docs-container mr-0 mb-4" data-tg="docs-container">

        <div class="text-center my-4">
            <img class="footer-logo" src="{{ plugin_path('PlentyManual') }}/images/_layout/plentyknowledge-logo.svg" alt="plentyKnowledge Logo" width="136" height="27">
        </div>

        <div class="row">
            {% for i in 1..4 %}
            <div class="col-6 col-md-3{% if i > 2 %} mt-2 mt-md-0{% endif %}">
                <div>
                    <strong>{{ trans("PlentyManual::Footer.footer_" ~ i ) }}</strong>
                </div>

                <hr class="my-1">

                <ul class="list-unstyled">
                    {% for j in 1..9 %}
                        {% set label = trans("PlentyManual::Footer.footer_" ~ i ~ "_" ~ j ) %}
                        {% set link = trans("PlentyManual::Footer.footer_" ~ i ~ "_" ~ j ~ "_link" ) %}
                        {% if label %}
                            <li>
                                <a class="footer-link" href="{{ link }}">{{ label }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}

        </div>

        <div class="social-list text-center">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="color-hover-facebook" href="http://www.facebook.com/plentyMarkets"><i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a>
                </li>
                <li class="list-inline-item">
                    <a class="color-hover-twitter" href="http://twitter.com/#!/plentymarkets"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
                </li>
                <li class="list-inline-item">
                    <a class="color-hover-xing" href="http://www.xing.com/company/plentymarkets"><i class="fa fa-xing"></i><span class="sr-only">Xing</span></a>
                </li>
                <li class="list-inline-item">
                    <a class="color-hover-rss" href="https://www.plentymarkets.eu/?ActionCall=WebActionRSS&amp;rss_id=1"><i class="fa fa-rss"></i><span class="sr-only">RSS</span></a>
                </li>
            </ul>
        </div>

        <hr class="my-2">

        <div class="row small">
            <div class="col-sm">
                © Copyright {{ "now" | date("Y") }} <a class="footer-link" href="{{ trans("PlentyManual::Links.plentymarkets") }}" target="_blank">{{ trans("PlentyManual::Manual.plentymarketsCompany") }}</a>
            </div>
            <div class="col-sm text-right">
                <a class="footer-link" href="{{ trans("PlentyManual::Links.termsAndConditions") }}">{{ trans("PlentyManual::Manual.termsAndConditions") }}</a>
                |
                <a class="footer-link" href="{{ trans("PlentyManual::Links.privacyPolicy") }}">{{ trans("PlentyManual::Manual.privacyPolicy") }}</a>
                |
                <a class="footer-link" href="{{ trans("PlentyManual::Links.legalDisclosure") }}">{{ trans("PlentyManual::Manual.legalDisclosure") }}</a>
            </div>
        </div>

    </div>

</footer>

<div class="to-top-wrapper" data-fn="to-top-wrapper">
    <a class="btn btn-secondary btn-only-icon" href="#top" data-fn-options="{ preventDefault: true }">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        <span class="sr-only">{{ trans("PlentyManual::Manual.toTop") }}</span>
    </a>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function setAnchor() {
        if (location.hash.length !== 0) {
            window.scrollTo(window.scrollX, window.scrollY - 100);
        }
    }

    $(document).on('click', 'a[href*="#"]', function(event) {
        window.setTimeout(function() {
            setAnchor();
        }, 0);
    });

    window.setTimeout(setAnchor, 0);
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{% if lang == "de" %}UA-925311-1{% else %}UA-925311-6{% endif %}', 'auto', {'allowLinker': true});
    ga('require', 'linker');
    ga('linker:autoLink', ['{% if lang == "de" %}plentymarkets.eu{% else %}plentymarkets.co.uk{% endif %}'] );
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
</script>