{% import "PlentyManual::Macros.NavList" as NavList %}

<div class="plenty-docs-navbar md-down-hide lg-up-show" id="navbarNavDropdown" data-tg="navbar-collapse" aria-labelledby="navbar-toggle">
    <ul class="plenty-docs-nav main-navbar-nav">
        <li>
            <a class="docs-nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;<span class="sr-only">{{ trans("PlentyManual::Manual.home") }}</span></a>
        </li>
        {{ NavList.print( pages ) }}
    </ul>
</div>

<div class="collapse-backdrop" data-fn="remote-event" data-fn-target="[data-fn='navbar-toggle']"></div>

<header class="plenty-navbar fixed-top" data-tg="sticky-container-below" data-fn="anchor-offset-elem">
    <nav class="navbar-container">
        <button class="plenty-navbar-toggler" 
                id="navbar-toggle" 
                type="button" 
                aria-controls="navbarNavDropdown" 
                aria-expanded="false" 
                aria-label="{{ trans("PlentyManual::Manual.toggleNavigation") }}" 
                data-fn="navbar-toggle" 
                data-fn-target="[data-tg='navbar-collapse']">
            <i class="fa fa-navicon" aria-hidden="true"></i>
        </button>

        <a class="plenty-navbar-brand" href="/{% if lang == "en" %}en/{% endif %}">
            <img src="{{ plugin_path('PlentyManual') }}/images/_layout/plentyknowledge-logo.svg" alt="plentyKnowledge Logo" width="136" height="27">
        </a>

        <ul class="plenty-navbar-nav icon-navbar-nav plenty-navbar-nav-allmedia">
            <li class="dropdown-big d-inline-flex d-lg-none">
                <a class=""
                   id="navbarSearchToggle"
                   href="javascript:void(0);"
                   data-fn="dropdown-multilevel"
                   data-fn-options="{ focusOnOpen: '[data-tg=\'header-search-input\']' }"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <span class="sr-only">{{ trans("PlentyManual::Manual.theSearch") }}</span>
                </a>
                <ul class="" aria-labelledby="navbarSearchToggle">
                    <li class="dropdown-item-container">

                        <form class="dropdown-form" method="GET" action="{{ searchUrl }}">
                            <label class="sr-only" for="navbarSearchInput">{{ trans("PlentyManual::Manual.doSearch") }}</label>

                            <div class="input-group input-group-sm">
                                <input class="form-control"
                                       id="navbarSearchInput"
                                       type="text"
                                       name="q"
                                       autofocus
                                       placeholder="{{ trans("PlentyManual::Manual.manualSearch") }}"
                                       data-tg="header-search-input">
                                <span class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <span class="sr-only">{{ trans("PlentyManual::Manual.doSearch") }}</span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
            <li class="dropdown-big my-auto d-none d-lg-block mr-2" style="width:340px;">
                <form method="GET" action="{{ searchUrl }}">
                    <label class="sr-only" for="navbarSearchInput">{{ trans("PlentyManual::Manual.doSearch") }}</label>

                    <div class="input-group input-group-sm">
                        <input class="form-control bg-transparent border-bottom border-top-0 border-left-0 border-right-0 rounded-0 px-1"
                               id="navbarSearchInput"
                               type="text"
                               name="q"
                               autofocus
                               placeholder="{{ trans("PlentyManual::Manual.manualSearch") }}"
                               data-tg="header-search-input">
                        <span class="input-group-append">
                            <button class="btn border-bottom border-top-0 border-left-0 border-right-0 rounded-0" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <span class="sr-only">{{ trans("PlentyManual::Manual.doSearch") }}</span>
                            </button>
                        </span>
                    </div>
                </form>
            </li>
            <li class="">
                <a class="plenty-dropdown-toggle"
                   id="navbarLangToggle"
                   href="javascript:void(0);"
                   data-fn="dropdown-multilevel"
                   aria-haspopup="true"
                   aria-expanded="false">
                        <span class="plenticon-flag-{% if lang == "de" %}de{% else %}uk{% endif %}" aria-hidden="true">
                            <i></i>
                        </span>
                    <span class="sr-only">
                            {{ trans("PlentyManual::Manual.selectLanguage") }}
                        ({{ trans("PlentyManual::Manual.thisLang") }})
                        </span>
                </a>
                <ul class="ul-right" aria-labelledby="navbarLangToggle">
                    <li class="">
                        <a class="navbarLangSwitchURL" href="/{% if lang == "de" %}en{% else %}de{% endif %}">
                                <span class="plenticon-flag-{% if lang == "de" %}uk{% else %}de{% endif %} mr-2" aria-hidden="true">
                                    <i></i>
                                </span>{{ trans("PlentyManual::Manual.otherLang") }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var switchLanguageSearch = "/sls";
    var switchLanguagePage = "/slp";

    $(".navbarLangSwitchURL").click(function(){
        var pageUrl = $(location).attr("href");
        var pageUrlPath = pageUrl.split('.com')[1];
        var urlH;

        if( pageUrlPath.length >= 4)
        {
            if( pageUrlPath.indexOf("/search/") > -1 )
            {
                if(pageUrlPath.indexOf("/sls/") > -1)
                    urlH = changeUrl(pageUrlPath, undefined);
                else
                    urlH = changeUrl(pageUrlPath, switchLanguageSearch);
                $(this).attr('href', urlH);
            }
            if( pageUrlPath.indexOf("/search/")  === -1 )
            {
                if(pageUrlPath.indexOf("/slp/") > -1)
                    urlH = changeUrl(pageUrlPath, undefined);
                else
                    urlH = changeUrl(pageUrlPath, switchLanguagePage);
                $(this).attr('href', urlH);
            }
        }
    });

    var  changeUrl = function(urlPage, slAdd){
        if(urlPage.indexOf("/en/") > -1)
        {
            url = urlPage.replace('/en/', '/');
            if(slAdd === undefined)
                urlH = url;
            else
                urlH = slAdd + url;
            return urlH;
        }
        else
        {
            if(slAdd === undefined)
                urlH = "/en" + urlPage;
            else
                urlH = "/en" + slAdd + urlPage;
            return urlH;
        }
    };
</script>