<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Filter erstellen und bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Manuelle Vorgehensweise</span></a>
<ul class="sectlevel3">
<li><a href="#30"><span>1.1.1.</span><span> Neue Filter erstellen</span></a></li>
<li><a href="#40"><span>1.1.2.</span><span> Tab: Einstellungen</span></a></li>
<li><a href="#50"><span>1.1.3.</span><span> Tab: Name</span></a></li>
<li><a href="#60"><span>1.1.4.</span><span> Tab: Werte</span></a></li>
<li><a href="#70"><span>1.1.5.</span><span> Tab: Bilder</span></a></li>
</ul>
</li>
<li><a href="#80"><span>1.2.</span><span> Daten-Import</span></a>
<ul class="sectlevel3">
<li><a href="#90"><span>1.2.1.</span><span> Praxisbeispiel: Neue Facetten importieren</span></a></li>
<li><a href="#100"><span>1.2.2.</span><span> Verzeichnis aller Abgleich- und Zuordnungsfelder</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#110"><span>2.</span><span> plentyShop-Sucheinstellungen</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>2.1.</span><span> In welchen plentyShops sollen die Filter erscheinen?</span></a></li>
<li><a href="#130"><span>2.2.</span><span> Optional: Welche Artikeldaten sollen berücksichtigt werden?</span></a></li>
<li><a href="#140"><span>2.3.</span><span> Optional: Sprachen ändern</span></a></li>
</ul>
</li>
<li><a href="#150"><span>3.</span><span> Filter im plentyShop darstellen</span></a>
<ul class="sectlevel2">
<li><a href="#160"><span>3.1.</span><span> Inhalt vom Typ Kategorieansicht erstellen</span></a></li>
<li><a href="#170"><span>3.2.</span><span> Inhalt gestalten</span></a>
<ul class="sectlevel3">
<li><a href="#180"><span>3.2.1.</span><span> Filter in Toolbar einfügen</span></a></li>
<li><a href="#190"><span>3.2.2.</span><span> Filter in Seitenleiste einfügen</span></a></li>
<li><a href="#200"><span>3.2.3.</span><span> Optional: Texte umbenennen</span></a></li>
</ul>
</li>
<li><a href="#210"><span>3.3.</span><span> Inhalt aktivieren</span></a></li>
<li><a href="#220"><span>3.4.</span><span> Das Ergebnis im plentyShop prüfen</span></a></li>
</ul>
</li>
<li><a href="#230"><span>4.</span><span> Fragen und Antworten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Facettensuche (Filter)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Manche Kunden wissen ganz genau, wonach sie suchen.
Stell dir zum Beispiel vor, du verkaufst Schuhe.
Ein Kunde sucht nach schwarzen Nike-Schuhen, die weniger als €150 kosten.
Mit Hilfe von Suchfiltern grenzen deine Webshop-Besucher individuell ein, welche Produkte sie sehen wollen.
Je mehr Produkte eine Shop-Kategorie umfasst, desto wichtiger sind die Suchfilter.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Filter oder Facetten?</div>
<div class="paragraph">
<p>In plentymarkets werden Suchfilter auch als <em>Facetten</em> bezeichnet.
Nicht verwirren lassen, wenn jemand von der sogenannten <em>Facettensuche</em> spricht.
Damit sind die Suchfilter im plentyShop gemeint.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h3 id="_ablauf" class="discrete">Ablauf</h3>
<div class="paragraph">
<p>Die Konfiguration in plentymarkets besteht aus mehreren Schritten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/frontend-artikelsuche-verwalten#10">Erstelle die nötigen Filter</a>.</p>
</li>
<li>
<p><a href="/artikel/frontend-artikelsuche-verwalten#120">Gib an, in welchem plentyShop die Filter erscheinen sollen</a>.</p>
</li>
<li>
<p><a href="/artikel/frontend-artikelsuche-verwalten#150">Gestalte das Erscheinungsbild im plentyShop</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Filter erstellen und bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lege zunächst alle nötigen Filter an.
Soll ein Kunde z.B. nach schwarzen Nike-Schuhen für unter €150 suchen können, dann würdest du die Filter "Farbe", "Marke" und "Preisspanne" anlegen.</p>
</div>
<div class="paragraph">
<p>Du kannst Filter <a href="/artikel/frontend-artikelsuche-verwalten#20">manuell</a> erstellen und bearbeiten, oder du kannst Filter mit Hilfe einer CSV-Datei <a href="/artikel/frontend-artikelsuche-verwalten#80">importieren</a>.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Manuelle Vorgehensweise</h3>
<div class="sect3">
<h4 id="30">1.1.1. Neue Filter erstellen</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neu</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#table-new-facet">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Der Filter wird erstellt und zur weiteren Bearbeitung geöffnet.
Je nach Filtertyp siehst du einige oder alle der weiter unten erläuterten Tabs.</p>
</li>
</ol>
</div>
<table id="table-new-facet" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Neue Filter erstellen</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (Deutsch)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für den Filter ein.
Dieser Name wird in der deutschen Sprachversion deines plentyShops angezeigt.
Der Name wird also für Kunden sichtbar sein.</p>
<p class="tableblock"><strong><em>Andere Sprachversionen</em></strong>: Ist dein plentyShop auch in anderen Sprachen verfügbar?
Nachdem du den Filter erstellt hast, kannst du den <a href="/artikel/frontend-artikelsuche-verwalten#50">Namen in weiteren Sprachen speichern</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Art von Filter willst du erstellen?
Erlaube deinen Kunden, Produkte nach einem der folgenden Kriterien zu filtern:
Attribut, Merkmal, Eigenschaft, Markenname, Verfügbarkeit, Preisspanne.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Einstellung kann nicht geändert werden, nachdem du den Filter erstellt hast.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribut/Merkmal</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mit diesem Typ lassen sich viele verschiedene Szenarien realisieren.
Der Filter wird mit den Attributen, Merkmalen oder Eigenschaften deines Systems verknüpft.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: Wähle diesen Typ, wenn du den Filter "Farbe" oder "Größe" erstellen willst.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Dieser Filtertyp wird mit den Herstellern deines Systems verknüpft.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: Wähle diesen Typ, wenn du den Filter "Markenname" erstellen willst.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Stelle sicher, dass du auch einen <a href="/artikel/einstellungen/hersteller#150">externen Namen für deine Hersteller</a> gespeichert hast.
Sonst wird der Hersteller nicht im Markenfilter angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Dieser Filtertyp wird mit den Verfügbarkeiten deines Systems verknüpft.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: Wähle diesen Typ, damit Kunden nach Artikeln mit der Verfügbarkeit "Kurzfristig lieferbar" filtern können.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Du musst diesen Filtertyp <em>nicht</em> mit Werten verknüpfen.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: Wähle diesen Typ, wenn du den Filter "Preisspanne" erstellen willst.
Webshop-Besucher können den Filter vom niedrigsten bis zum höchsten Preis einer Kategorie individuell einschränken.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wo soll der Filter im plentyShop erscheinen?
Also welcher Filter soll als erstes, zweites, drittes usw. angezeigt werden?
Gib die Positionsnummer hier ein.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Bei gleicher Position werden die Filter alphabetisch sortiert.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="40">1.1.2. Tab: Einstellungen</h4>
<div class="paragraph">
<p>Hier werden weiterführende Einstellungen für den Filter konfiguriert.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette und klicke auf <strong>Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#table-edit-facet-settings">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-edit-facet-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Weiterführende Einstellungen für den Filter</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier siehst du den Typ, den du <a href="/artikel/frontend-artikelsuche-verwalten#30">beim Erstellen des Filters</a> ausgewählt hast.
Der Typ kann nicht geändert werden.
Falls du versehentlich den falschen Typ erstellt hast, musst du den Filter löschen und einen neuen erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong><br>
(Unsichtbar für Typ "Preis")</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie sollen die Werte innerhalb des Filters sortiert werden?</p>
<p class="tableblock"><strong><em>Beispiel</em></strong>: Hast du den Filter "Markenname", dann könntest du die einzelnen Marken alphabetisch sortieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier siehst du die Positionsnummer, die du <a href="/artikel/frontend-artikelsuche-verwalten#30">beim Erstellen des Filters</a> eingegeben hast.
Du kannst die Positionsnummer bei Bedarf ändern.
Die Positionsnummer gibt an, wo der Filter im plentyShop erscheinen soll.
Also welcher Filter als erstes, zweites, drittes usw. angezeigt werden soll.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Bei gleicher Position werden die Filter alphabetisch sortiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CSS-Klasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option hat derzeit keine Funktion.
Gib einen CSS-Namen hier ein.
In Zukunft wird es möglich sein, den Filter mit CSS zu gestalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahlart</strong><br>
(Unsichtbar für Typ "Preis")</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn ein Kunde mehrere Filterkriterien auswählt, soll er dann Produkte sehen, die <em>alle dieser Kriterien</em> erfüllen oder <em>nur eines der Kriterien</em>?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Einschränkend</strong> = Es werden nur die Produkte angezeigt, die <em>alle der gewählten Kriterien</em> erfüllen.
Stell dir zum Beispiel vor, du verkaufst Grills.
Webshop-Besucher sollen nach Grills filtern können, die einen Warmhalterost <em>und</em> einen Deckel <em>und</em> eine Temperaturanzeige haben.
Die Ergebnisse enthalten nur Produkte, die alle drei Funktionen haben.</p>
</li>
<li>
<p><strong>Mehrfach</strong> = Es werden Produkte angezeigt, die <em>eines der gewählten Kriterien</em> erfüllen.
Stell dir zum Beispiel vor, du verkaufst Grills.
Webshop-Besucher sollten nach Grills filtern können, die von der Firma Weber <em>oder</em> Tefal <em>oder</em> Coleman hergestellt wurden.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimale Trefferanzahl</strong><br>
(Unsichtbar für Typ "Preis")</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Könnten deine Kunden enttäuscht sein, wenn sie Produkte filtern (z.B. nach der Marke "Nike") und sie nur sehr wenige Ergebnisse sehen?
In diesem Fall empfiehlt es sich, eine minimale Trefferanzahl festzulegen.</p>
<p class="tableblock">Gib eine Zahl in das Feld ein.
Diese Zahl legt fest, wie viele Ergebnisse es mindestens für einen Filterwert geben muss, damit der Filterwert im plentyShop angezeigt wird.
Filterwerte werden im plentyShop automatisch unsichtbar, wenn sie nicht die Mindestanzahl von Ergebnissen liefern.</p>
<p class="tableblock"><strong><em>Filter vs. Filterwert</em></strong>:
Im obigen Beispiel wäre der Filter "Marke".
Der Filter könnte Werte wie "Nike", "Adidas" und "Puma" enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximal angezeigte Facettenwerte</strong><br>
(Unsichtbar für Typ "Preis")</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie viele Werte sollen innerhalb eines Filters höchstens angezeigt werden?
Gib eine Zahl in das Feld ein.</p>
<p class="tableblock"><strong><em>Beispiel</em></strong>: Stell dir vor, du hast einen Filter "Marke", der 30 verschiedene Werte wie "Nike", "Adidas", "Puma" usw enthält.
Wenn du hier die Zahl 10 eingibst, dann werden nur 10 der 30 Markennamen im Filter angezeigt.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Es können maximal 250 Werte pro Filter angezeigt werden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="50">1.1.3. Tab: Name</h4>
<div class="paragraph">
<p><a href="/artikel/frontend-artikelsuche-verwalten#30">Beim Erstellen des Filters</a> hast du bereits einen deutschen Namen eingegeben.
Dieser Name wird in der deutschen Sprachversion deines plentyShops angezeigt. Der Name wird also für Kunden sichtbar sein.
Was aber, wenn dein plentyShop auch in anderen Sprachen verfügbar ist?
In diesem Tab speicherst du Namen in weiteren Sprachen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette und klicke auf <strong>Tab: Name</strong>.</p>
</li>
<li>
<p>Gib Übersetzungen für jede Sprachversion deines plentyShops ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="60">1.1.4. Tab: Werte</h4>
<div class="paragraph">
<p>Hier erstellst du die einzelnen Werte innerhalb des Filters.
Wenn du zum Beispiel den Filter "Farbe" erstellst, dann benötigst du Werte wie "blau", "rot" und "schwarz".
Der Vorgang besteht aus zwei Schritten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/frontend-artikelsuche-verwalten#63">Erstelle</a> die benötigten Werte.</p>
</li>
<li>
<p><a href="/artikel/frontend-artikelsuche-verwalten#66">Verknüpfe</a> diese Werte mit vorhandenen Daten deines Systems, d.h. mit vorhandenen Attributen, Merkmalen, Eigenschaften, Herstellern oder Verfügbarkeiten.</p>
</li>
</ul>
</div>
<h5 id="63" class="discrete">Werte erstellen</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette und klicke auf <strong>Tab: Werte</strong>.</p>
</li>
<li>
<p>Klicke links unten auf <strong>Wert hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Das Fenster <strong>Wert erstellen</strong> wird angezeigt.</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> für den Wert in der Systemsprache ein.</p>
</li>
<li>
<p>Gib eine <strong>Position</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Der neue Wert wird erstellt.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Gib im Tab <strong>Name</strong> Übersetzungen für den Namen des Werts ein.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Gib im Tab <strong>Einstellungen</strong> eine CSS-Klasse ein.</p>
</li>
</ol>
</div>
<h5 id="66" class="discrete">Werte verknüpfen</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette und klicke auf <strong>Tab: Werte</strong>.</p>
</li>
<li>
<p>Öffne den Wert und klicke auf <strong>Tab: Verknüpfung</strong>.</p>
</li>
<li>
<p>Klicke auf den Backend-Wert, der verknüpft werden soll.</p>
</li>
<li>
<p>Klicke links unten auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Verknüpfen</strong>.<br>
→ Der Backend-Wert wird mit dem Wert der Facette verknüpft.</p>
</li>
<li>
<p>Wiederhole den Vorgang, um beliebig viele weitere Werte zu verknüpfen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/werte-verknuepfen.gif" alt="werte verknuepfen">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Soll ich mehrere Werte verknüpfen?</div>
<div class="paragraph">
<p>Stell dir zum Beispiel vor, du verkaufst T-Shirts in allen möglichen Farben, wie "hellblau", "dunkelblau" und "türkisblau".
Du willst, dass alle drei Farben mit dem blauen Farbfilter gefunden werden.
In diesem Fall musst du alle drei Backend-Werte mit dem Facettenwert verknüpfen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Muss ich auch Artikel mit dem Filter verknüpfen?</div>
<div class="paragraph">
<p>Nein.
Es ist nicht nötig, Artikel direkt mit den Filtern zu verknüpfen.
Deine Artikel werden automatisch den entsprechenden Filtern zugewiesen.
Wie?
Beim Verknüpfen des Filters mit Backend-Werten, wird der Filter <em>auch</em> automatisch mit allen Artikeln verknüpft, die diesen Backend-Wert haben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="70">1.1.5. Tab: Bilder</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> Dieser Tab hat derzeit keine Funktion.</p>
</div>
<div class="paragraph">
<p>Hier kannst du optional Bilder für die einzelnen Filterwerte speichern.
Stell dir zum Beispiel vor, du hast den Filter "Farbe" mit den Werten "blau", "rot" und "schwarz" angelegt.
Du willst, dass Kunden <em>Farbkacheln</em> im plentyShop sehen anstatt Farbnamen.
Der Vorgang besteht aus zwei Schritten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/frontend-artikelsuche-verwalten#73">Lade die nötigen Bilder hoch</a>.</p>
</li>
<li>
<p><a href="/artikel/frontend-artikelsuche-verwalten#76">Verknüpfe diese Bilder mit deinen Filterwerten</a>.</p>
</li>
</ul>
</div>
<h5 id="73" class="discrete">Bilder hochladen</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette und klicke auf <strong>Tab: Bilder</strong>.</p>
</li>
<li>
<p>Füge Bilder entweder über <span class="icon purple"><i class="psicon-upload"></i></span> <strong>Dateien hochladen</strong> oder per Drag-and-drop hinzu.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<h5 id="76" class="discrete">Bilder verknüpfen</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette und klicke auf <strong>Tab: Bilder</strong>.</p>
</li>
<li>
<p>Fahre mit dem Mauszeiger über ein Bild.<br>
→ Im unteren Bereich des Bildes wird eine Dropdown-Liste mit Werten angezeigt.</p>
</li>
<li>
<p>Wähle den gewünschten Wert aus der Dropdown-Liste aus.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Das Bild wird mit dem Wert verknüpft. Es wird mit einem roten Rahmen angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Anzahl der Verknüpfungen</div>
<div class="ulist">
<ul>
<li>
<p>Pro Bild kann nur ein Wert verknüpft werden.</p>
</li>
<li>
<p>Es können nicht mehrere Bilder mit demselben Wert verknüpft werden.
Bereits verknüpfte Werte werden ausgegraut.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Weitere Einstellung: Bilder bereitstellen</div>
<div class="paragraph">
<p>Klicke <a href="/artikel/frontend-artikelsuche-verwalten#120">in einem späteren Schritt</a> auf die Option <strong>Bilder bereitstellen</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um die verlinkten Bilder im plentyShop anzeigen zu lassen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="80">1.2. Daten-Import</h3>
<div class="paragraph">
<p>plentymarkets verfügt über ein Import-Tool.
Die Idee ist ganz einfach.
Anstatt Filter-Informationen in plentymarkets manuell zu speichern, trägst du die gleiche Informationen in eine CSV-Datei ein und importierst diese Datei dann in dein System.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Voraussetzungen</div>
<div class="paragraph">
<p>Diese Anleitung setzt voraus, dass du bereits:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/daten/daten-importieren/ElasticSync">Grundkenntnisse über das Import-Tool hast</a>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="90">1.2.1. Praxisbeispiel: Neue Facetten importieren</h4>
<div class="openblock collapseBox">
<div class="title"><strong>Ausgangssituation</strong></div>
<div class="content">
<div class="paragraph">
<p>Stell dir mal vor, du verkaufst Schuhe in deinem Webshop.
Soll ein Kunde z.B. nach schwarzen Nike-Schuhen suchen können, dann würdest du die Filter "Farbe" und "Marke" anlegen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/best-practice-facetten-ausgangssituation.png" alt="best practice facetten ausgangssituation">
</div>
</div>
<h5 id="_was_ist_mit_einem_preisfilter" class="discrete">Was ist mit einem Preisfilter?</h5>
<div class="paragraph">
<p>Es müssen nur wenige Einstellungen für den Preisfilter konfiguriert werden.
Du bist wahrscheinlich schneller, wenn du den <a href="/artikel/frontend-artikelsuche-verwalten#20">Preisfilter manuell erstellst</a>.
Aus diesem Grund wird der Preisfilter auf dieser Seite nicht weiter behandelt.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>CSV-Datei einrichten</strong></div>
<div class="content">
<h4 id="_filter" class="discrete">Filter</h4>
<div class="paragraph">
<p>Übertrage zunächst die Filter in eine CSV-Datei.
Dies ist die Datei, die du später in plentymarkets importieren wirst.
In unserem Beispiel würden die Filter in der CSV-Datei so aussehen:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/best-practice-facetten-filters.png" alt="best practice facetten filters">
</div>
</div>
<div class="paragraph">
<p>Die Namen der Spaltenüberschriften können frei gewählt werden.
In diesem Beispiel habe ich folgende Filterinformationen in die Spalten eingefügt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong> = Der Name des Filters, wie er im Webshop angezeigt wird.</p>
</li>
<li>
<p><strong>Typ</strong> = Welche Art von Facette willst du erstellen?
Gib den Typ in die CSV-Datei ein.
Diese Einstellung kann nicht geändert werden, nachdem du die Facette erstellt hast.
<a href="/daten/daten-importieren/sync-typen/elasticSync-facetten#70">Weitere Infos zum Typ</a>.</p>
</li>
<li>
<p><strong>Sortierung</strong> = Wie sollen die Werte innerhalb der Facette sortiert werden?
Hast du z.B. die Facette "Markenname", dann könntest du die einzelnen Marken alphabetisch sortieren.
Gib deine gewünschte Sortierung in der CSV-Datei ein.
<a href="/daten/daten-importieren/sync-typen/elasticSync-facetten#60">Weitere Infos zur Sortierung</a>.</p>
</li>
<li>
<p><strong>Auswahlart</strong> = Wenn ein Kunde mehrere Filterkriterien auswählt, soll er dann Produkte sehen, die <em>alle dieser Kriterien</em> erfüllen oder <em>nur eines der Kriterien</em>?
Gib die gewünschte Auswahlart in die CSV-Datei ein.
<a href="/daten/daten-importieren/sync-typen/elasticSync-facetten#100">Weitere Infos zur Auswahlart</a>.</p>
</li>
</ul>
</div>
<h4 id="_filterwerte" class="discrete">Filterwerte</h4>
<div class="paragraph">
<p>Füge nun die einzelnen Werte des Filters hinzu.
Wenn du zum Beispiel den Filter "Farbe" erstellst, dann benötigst du Werte wie "blau", "rot" und "schwarz".</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/best-practice-facetten-filtervalues.png" alt="best practice facetten filtervalues">
</div>
</div>
<h4 id="_filterwerte_verknüpfen" class="discrete">Filterwerte verknüpfen</h4>
<div class="paragraph">
<p>Verknüpfe schließlich jeden Filterwert mit vorhandenen Daten deines Systems, d.h. mit vorhandenen Attributen, Merkmalen, Eigenschaften, Herstellern oder Verfügbarkeiten.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/best-practice-facetten-filtervaluelinks.png" alt="best practice facetten filtervaluelinks">
</div>
</div>
<div class="paragraph">
<p>Die Verknüpfung besteht aus zwei Informationen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>LinkType</strong> = Mit welcher <em>Art von Backend-Informationen</em> willst du den Facettenwert verknüpfen?
Gib den gewünschten Typ in die CSV-Datei ein.
<a href="/daten/daten-importieren/sync-typen/elasticSync-facetten#190">Weitere Infos zum Link-Typ</a>.</p>
</li>
<li>
<p><strong>LinkID</strong> = Mit welcher <em>konkreten Backend-Information</em> willst du den Facettenwert verknüpfen?
Gib die ID der Backend-Information in die CSV-Datei ein.
<a href="/daten/daten-importieren/sync-typen/elasticSync-facetten#200">Weitere Infos zur ID</a>.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Import-Einstellungen wählen</strong></div>
<div class="content">
<div class="paragraph">
<p><a href="/daten/daten-importieren/ElasticSync#1210">Erstelle einen neuen Import</a>.
Die meisten Einstellungen können frei gewählt werden.
Da du jedoch <em>Facettendaten</em> importieren wirst, stelle sicher, dass du den <strong>Typ</strong> auf <strong>Facetten</strong> gesetzt hast.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Abgleich-Einstellungen wählen</strong></div>
<div class="content">
<div class="paragraph">
<p>Während des Imports prüft plentymarkets, ob die Facette bereits existiert.
Dies geschieht mit Hilfe eines sogenannten Abgleichfeldes.</p>
</div>
<div class="paragraph">
<p>Da wir in diesem Beispiel <em>neue Facetten</em> importieren möchten, konfiguriere die Einstellungen wie folgt.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facettenname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der Facettenname aufgeführt? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>neue Facetten erstellen</em> möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import Optionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Da du neue Facetten importieren wirst, wähle die Option <strong>Nur neue Daten importieren</strong> oder <strong>Neue Daten importieren, vorhandene aktualisieren</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Zuordnung-Einstellungen wählen</strong></div>
<div class="content">
<div class="paragraph">
<p>Deine CSV-Datei ist bereits mit einer Menge Facetteninformationen gefüllt.
Entscheide als nächstes, <em>wo in plentymarkets</em> jede Information beim Import der Datei erscheinen soll.
<a href="/daten/daten-importieren/sync-typen/elasticSync-facetten#20">Siehe diese Seite</a>, während du die Spalten deiner CSV-Datei zu den Feldern in plentymarkets zuordnest.
In diesem Beispiel habe ich die Einstellungen wie folgt konfiguriert.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/best-practice-facetten-zuordnung.png" alt="best practice facetten zuordnung">
</div>
</div>
<div class="paragraph">
<p>Ich habe die Filter erstellt, indem ich:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>die Spalte <strong>Name</strong> meiner CSV-Datei mit dem Datenfeld <strong>Facettenname / Name</strong> in plentymarkets zugeordnet habe.</p>
</li>
<li>
<p>die Spalte <strong>Typ</strong> meiner CSV-Datei mit dem Datenfeld <strong>Facette / Typ</strong> in plentymarkets zugeordnet habe.</p>
</li>
<li>
<p>die Spalte <strong>Sortierung</strong> meiner CSV-Datei mit dem Datenfeld <strong>Facette / Sortierung</strong> in plentymarkets zugeordnet habe.</p>
</li>
<li>
<p>die Spalte <strong>Auswahlart</strong> meiner CSV-Datei mit dem Datenfeld <strong>Facette / Auswahlart</strong> in plentymarkets zugeordnet habe.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Ich habe die Filterwerte erstellt, indem ich:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>die Spalte <strong>ValueName</strong> meiner CSV-Datei mit dem Datenfeld <strong>Facettenwertname / Name</strong> in plentymarkets zugeordnet habe.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Ich habe die Verknüpfungen erstellt, indem ich:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>die Spalte <strong>LinkType</strong> meiner CSV-Datei mit dem Datenfeld <strong>Verknüpfung / Typ</strong> in plentymarkets zugeordnet habe.</p>
</li>
<li>
<p>die Spalte <strong>LinkID</strong> meiner CSV-Datei mit dem Datenfeld <strong>Verknüpfung / Wert-ID</strong> in plentymarkets zugeordnet habe.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Hat es funktioniert?</strong></div>
<div class="content">
<div class="paragraph">
<p>Bereit, deine Filter zu importieren?
Führe den Import aus und kontrolliere, dass die Daten korrekt in plentymarkets importiert wurden.</p>
</div>
<div class="paragraph instruction">
<p>Import ausführen und Ergebnis prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Aktiviere die zu importierenden Zeilen (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Teste den Import (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) oder führe den Import aus (<span class="icon darkGrey"><i class="fa fa-play-circle-o  "></i></span>).<br>
<strong><em>Hinweis:</em></strong> Dies kann einige Minuten dauern.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne einige Filter, um ihre Einstellungen und Werte zu prüfen.</p>
</li>
</ol>
</div>
<h5 id="_testlauf_nutzen" class="discrete">Testlauf nutzen</h5>
<div class="paragraph">
<p>Wir empfehlen, beim erstmaligen Import vorab den Testlauf (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) zu nutzen.
Damit werden die ersten 10 Zeilen der Datei ohne Cache importiert.
So kann man prüfen, ob der Import ordnungsgemäß läuft. Sollten sich Fehler eingeschlichen haben, kann man diese vor der kompletten Ausführung noch korrigieren.</p>
</div>
<h5 id="_cache_zurücksetzen" class="discrete">Cache zurücksetzen</h5>
<div class="paragraph">
<p>Direkt im Import findest du die Schaltfläche <strong>Cache zurücksetzen</strong> (<span class="icon "><i class="psicon-reload"></i></span>).
Mit dieser Schaltfläche kannst du den Import-Cache zurücksetzen, damit du eine Datei ohne vorherige Änderung erneut importieren kannst.</p>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="100">1.2.2. Verzeichnis aller Abgleich- und Zuordnungsfelder</h4>
<div class="openblock collapseBox">
<div class="title"><strong>Abgleichfelder</strong></div>
<div class="content">
<div class="paragraph">
<p>In die Tabelle werden Felder erläutert, die für den Abgleich von Facettendaten zur Verfügung stehen.
Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facetten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei werden Facetten-IDs aufgelistet? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>bestehende Facetten aktualisieren</em> möchtest.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Jede neu angelegte Facette erhält automatisch eine ID, die nicht geändert werden kann.
Die ID dient zur eindeutigen Kennzeichnung der Facette.
Da die ID eindeutig ist, lässt sich damit gut prüfen, ob der importierte Datensatz bereits in plentymarkets vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facettenwert-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei werden Facettenwert-IDs aufgelistet? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>bestehende Facettenwerte aktualisieren</em> möchtest.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Jeder neu angelegte Facettenwert erhält automatisch eine ID, die nicht geändert werden kann.
Die ID dient zur eindeutigen Kennzeichnung des Facettenwertes.
Da die ID eindeutig ist, lässt sich damit gut prüfen, ob der importierte Datensatz bereits in plentymarkets vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facettenname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der Facettenname aufgeführt? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>neue Facetten erstellen</em> möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facettenwertname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der Name des Facettenwerts aufgeführt? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>neue Facettenwerte erstellen</em> möchtest.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Zuordnungsfelder</strong></div>
<div class="content">
<h3 id="_facette" class="discrete">Facette</h3>
<h4 id="_css_klasse" class="discrete">CSS-Klasse</h4>
<div class="paragraph">
<p>Gib einen CSS-Namen in die CSV-Datei ein.
Diese Option hat derzeit keine Funktion.
In Zukunft wird es möglich sein, die Facette mit CSS zu gestalten.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#40">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Einstellungen » Eingabefeld: CSS-Klasse</a></p>
</div>
<hr>
<h4 id="_position" class="discrete">Position</h4>
<div class="paragraph">
<p>Wo soll die Facette im Webshop erscheinen?
Also welche Facette soll als erstes, zweites, drittes usw. angezeigt werden?
Gib die Positionsnummer in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>1</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#40">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Einstellungen » Eingabefeld: Position</a></p>
</div>
<hr>
<h4 id="_sortierung" class="discrete">Sortierung</h4>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Nicht für den Typ "Preis" relevant</p>
</div>
<div class="paragraph">
<p>Wie sollen die Werte innerhalb der Facette sortiert werden?
Hast du z.B. die Facette "Markenname", dann könntest du die einzelnen Marken alphabetisch sortieren.</p>
</div>
<div class="paragraph">
<p>Gib deine gewünschte Sortierung in der CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>position</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>rate</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trefferquote</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>position</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>a_z</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A-Z</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#40">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Einstellungen » Dropdown-Liste: Sortierung</a></p>
</div>
<hr>
<h4 id="_typ" class="discrete">Typ</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Facetten.</p>
</div>
<div class="paragraph">
<p>Welche Art von Facette willst du erstellen?
Erlaube deinen Kunden, Produkte nach einem der folgenden Kriterien zu filtern: Attribut, Merkmal, Eigenschaft, Markenname, Verfügbarkeit, Preisspanne.</p>
</div>
<div class="paragraph">
<p>Gib deinen gewünschten Typ in die CSV-Datei ein.
Diese Einstellung kann nicht geändert werden, nachdem du die Facette erstellt hast.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>dynamic</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut/Merkmal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit diesem Typ lassen sich viele verschiedene Szenarien realisieren.
Der Filter wird mit den Attributen, Merkmalen oder Eigenschaften deines Systems verknüpft.
Beispiel: Wähle diesen Typ, wenn du den Filter "Farbe" oder "Größe" erstellen willst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>producer</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Filtertyp wird mit den Herstellern deines Systems verknüpft.
Beispiel: Wähle diesen Typ, wenn du den Filter "Markenname" erstellen willst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>price</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du musst diesen Filtertyp <em>nicht</em> mit Werten verknüpfen.
Beispiel: Wähle diesen Typ, wenn du den Filter "Preisspanne" erstellen willst.
Webshop-Besucher können den Filter vom niedrigsten bis zum höchsten Preis einer Kategorie individuell einschränken.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>availability</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Filtertyp wird mit den Verfügbarkeiten deines Systems verknüpft.
Beispiel: Wähle diesen Typ, damit Kunden nach Artikeln mit der Verfügbarkeit "Kurzfristig lieferbar" filtern können.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#40">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Einstellungen » Feld: Typ</a></p>
</div>
<hr>
<h4 id="_minimale_trefferanzahl" class="discrete">Minimale Trefferanzahl</h4>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Nicht für den Typ "Preis" relevant</p>
</div>
<div class="paragraph">
<p>Gib eine Zahl in die CSV-Datei ein.
Diese Zahl legt fest, wie viele Ergebnisse es mindestens für einen Facettenwert geben muss, damit der Facettenwert im Webshop angezeigt wird.
Facettenwerte werden im Webshop automatisch unsichtbar, wenn sie nicht die Mindestanzahl von Ergebnissen liefern.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>1</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#40">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Einstellungen » Eingabefeld: Minimale Trefferanzahl</a></p>
</div>
<hr>
<h4 id="_maximal_angezeigte_facettenwerte" class="discrete">Maximal angezeigte Facettenwerte</h4>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Nicht für den Typ "Preis" relevant</p>
</div>
<div class="paragraph">
<p>Wie viele Werte sollen innerhalb einer Facette höchstens angezeigt werden?
Gib eine Zahl in die CSV-Datei ein.
Es können maximal 250 Werte pro Facette angezeigt werden.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>50</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#40">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Einstellungen » Eingabefeld: Maximal angezeigte Facettenwerte</a></p>
</div>
<hr>
<h4 id="_auswahlart" class="discrete">Auswahlart</h4>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Nicht für den Typ "Preis" relevant</p>
</div>
<div class="paragraph">
<p>Wenn ein Kunde mehrere Filterkriterien auswählt, soll er dann Produkte sehen, die <em>alle dieser Kriterien</em> erfüllen oder <em>nur eines der Kriterien</em>?</p>
</div>
<div class="paragraph">
<p>Gib die gewünschte Auswahlart in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>restrict</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>restrict</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einschränkend</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es werden nur die Produkte angezeigt, die <em>alle der gewählten Kriterien</em> erfüllen.
Stell dir zum Beispiel vor, du verkaufst Grills.
Webshop-Besucher sollen nach Grills filtern können, die einen Warmhalterost <em>und</em> einen Deckel <em>und</em> eine Temperaturanzeige haben.
Die Ergebnisse enthalten nur Produkte, die alle drei Funktionen haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>multi</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mehrfach</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es werden Produkte angezeigt, die <em>eines der gewählten Kriterien</em> erfüllen.
Stell dir zum Beispiel vor, du verkaufst Grills.
Webshop-Besucher sollten nach Grills filtern können, die von der Firma Weber <em>oder</em> Tefal <em>oder</em> Coleman hergestellt wurden.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#40">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Einstellungen » Dropdown-Liste: Auswahlart</a></p>
</div>
<hr>
<h4 id="_facette_löschen" class="discrete">Facette Löschen</h4>
<div class="paragraph">
<p>Möchtest du die Facette löschen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facette wird <em>nicht</em> gelöscht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facette wird gelöscht</p></td>
</tr>
</tbody>
</table>
<hr>
<h3 id="_facettenname" class="discrete">Facettenname</h3>
<h4 id="_name" class="discrete">Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Facetten</p>
</div>
<div class="paragraph">
<p>Gib einen Namen für die Facette in die CSV-Datei ein.
Dieser Name wird im Webshop angezeigt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch die Sprache ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#50">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Name</a></p>
</div>
<hr>
<h3 id="_facettenwert" class="discrete">Facettenwert</h3>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Nicht für den Typ "Preis" relevant</p>
</div>
<h4 id="_css_klasse_2" class="discrete">CSS-Klasse</h4>
<div class="paragraph">
<p>Gib einen CSS-Namen in die CSV-Datei ein.
Diese Option hat derzeit keine Funktion.
In Zukunft wird es möglich sein, den Facettenwert mit CSS zu gestalten.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#60">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Werte » Tab: Einstellungen » Eingabefeld: CSS-Klasse</a></p>
</div>
<hr>
<h4 id="_position_2" class="discrete">Position</h4>
<div class="paragraph">
<p>Wo soll der Facettenwert im Webshop erscheinen?
Also welcher Facettenwert soll als erstes, zweites, drittes usw. angezeigt werden?
Gib die Positionsnummer in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>1</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#60">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Werte » Tab: Einstellungen » Eingabefeld: Position</a></p>
</div>
<hr>
<h4 id="_facettenwert_löschen" class="discrete">Facettenwert löschen</h4>
<div class="paragraph">
<p>Möchtest du den Facettenwert löschen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facettenwert wird <em>nicht</em> gelöscht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facettenwert wird gelöscht</p></td>
</tr>
</tbody>
</table>
<hr>
<h3 id="_facettenwertname" class="discrete">Facettenwertname</h3>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Nicht für den Typ "Preis" relevant</p>
</div>
<h4 id="_name_2" class="discrete">Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Facettenwerte</p>
</div>
<div class="paragraph">
<p>Gib einen Namen für den Facettenwert in die CSV-Datei ein.
Dieser Name wird im Webshop angezeigt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch die Sprache ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#60">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Werte » Tab: Name</a></p>
</div>
<hr>
<h3 id="_verknüpfung" class="discrete">Verknüpfung</h3>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Nicht für den Typ "Preis" relevant</p>
</div>
<h4 id="_typ_2" class="discrete">Typ</h4>
<div class="paragraph">
<p>Mit welcher <em>Art von Backend-Informationen</em> willst du den Facettenwert verknüpfen?
Gib den gewünschten Typ in die CSV-Datei ein.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Auswahleigenschaften</div>
<div class="paragraph">
<p>Es ist derzeit nicht möglich, die Werte von Auswahleigenschaften per Import zu verknüpfen.
Diese Funktion wurde noch nicht entwickelt.
Werte von Auswahleigenschaften müssen derzeit <a href="/artikel/frontend-artikelsuche-verwalten#60">manuell verknüpft</a> werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>character</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>property</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaft</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>attribute</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>availability</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>producer</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#60">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Werte » Tab: Verknüpfung</a></p>
</div>
<hr>
<h4 id="_wert_id" class="discrete">Wert-ID</h4>
<div class="paragraph">
<p>Mit welcher <em>konkreten Backend-Information</em> willst du den Facettenwert verknüpfen?
Gib die ID der Backend-Information in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/frontend-artikelsuche-verwalten#60">Einrichtung » Mandant » Global » Dienste » Facettensuche » Tab: Werte » Tab: Verknüpfung</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wo kann ich die IDs nachschlagen?</div>
<div class="ulist">
<ul>
<li>
<p>Einrichtung » Artikel » Merkmale</p>
</li>
<li>
<p>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</p>
</li>
<li>
<p>Einrichtung » Artikel » Attribute » [Attribut öffnen] » Tab: Werte</p>
</li>
<li>
<p>Einrichtung » Artikel » Verfügbarkeit</p>
</li>
<li>
<p>Einrichtung » Artikel » Hersteller</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wie kann ich mehrere Werte verknüpfen?</div>
<div class="paragraph">
<p>Stell dir vor, du verkaufst T-Shirts in allen möglichen Farben, wie "hellblau", "dunkelblau" und "türkisblau".
Du willst, dass alle drei Farben mit dem blauen Farbfilter gefunden werden.
In diesem Fall musst du alle drei Attributwerte mit dem Facettenwert verknüpfen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Vorbereitung</em></strong>: Die Facette und der Facettenwert müssen bereits in deinem System vorhanden sein (siehe "Abgleich").</p>
</li>
<li>
<p><strong><em>CSV-Datei</em></strong>: Du musst mit einer Zeile pro zu verknüpfender ID arbeiten.
Das heißt, die IDs für "hellblau", "dunkelblau" und "türkisblau" stehen in drei separaten Zeilen.</p>
</li>
<li>
<p><strong><em>Abgleich</em></strong>: Du gleichst mit der Facetten-ID und der Facettenwert-ID ab, wenn es die Werte bereits gibt (siehe "Vorbereitung").
So würde dann z.B. mit der ersten Zeile der Attributwert "hellblau" und mit der zweiten "dunkelblau" verknüpft werden.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<hr>
<h4 id="_verknüpfung_löschen" class="discrete">Verknüpfung löschen</h4>
<div class="paragraph">
<p>Möchtest du die Verknüpfung löschen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verknüpfung wird <em>nicht</em> gelöscht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verknüpfung wird gelöscht</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">2. plentyShop-Sucheinstellungen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="120">2.1. In welchen plentyShops sollen die Filter erscheinen?</h3>
<div class="paragraph">
<p>Nachdem du Filter erstellt hast, gibst du an, in welchen plentyShops diese Filter zur Verfügung stehen sollen.
Dies geschieht durch die Verknüpfung der Filter mit einem Mandanten.
Wähle pro Mandant, welche Filter für den Shop relevant sind und welche nicht.
Änderungen, die du vornimmst, werden in Echtzeit übertragen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Preisfilter</div>
<div class="paragraph">
<p>Pro Mandant kann nur ein Preisfilter verknüpft werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Filter mit Mandanten verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Dienste » Facettenverknüpfungen</strong>.</p>
</li>
<li>
<p>Klicke in der Liste links auf den Filter, der im plentyShop erscheinen soll.</p>
</li>
<li>
<p>Klicke links unten auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Facette verknüpfen</strong>.<br>
→ Der Filter wird zur Übersicht rechts hinzugefügt.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Hast du <a href="/artikel/frontend-artikelsuche-verwalten#70">Bilder für den Filter hochgeladen</a>?
Wähle die Option <strong>Bilder bereitstellen</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um die Bilder im plentyShop anzeigen zu lassen.</p>
</li>
<li>
<p>Wiederhole den Vorgang für alle anderen Filter, die auch verknüpft werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="130">2.2. Optional: Welche Artikeldaten sollen berücksichtigt werden?</h3>
<div class="paragraph">
<p>Du entscheidest, <em>welche Artikeldaten</em> für die Suche relevant sind.
Bei einer Suche werden also nur die von dir gewählten Artikeldaten durchsucht.
Außerdem entscheidest du, mit <em>welcher Gewichtung</em> die einzelnen Artikeldaten behandelt werden.
Je höher die eingegebene Zahl, desto höher wird das Artikeldatenfeld für das Suchergebnis priorisiert.</p>
</div>
<div class="paragraph instruction">
<p>Artikeldaten auswählen und priorisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sucheinstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Artikeldatenfelder (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>), die in den Suchergebnissen und Suchvorschlägen berücksichtigt werden sollen.</p>
</li>
<li>
<p>Gib ggf. eine Gewichtung in die Spalte <strong>Boost</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Welchen Boost-Wert soll ich eingeben?</div>
<div class="paragraph">
<p>Als Boost-Wert kann eine beliebig hohe Zahl eingegeben werden.
Die Standardeinstellungen sind für die meisten Anwendungsfälle sinnvoll.
Diese Standardeinstellungen priorisieren die Varianten-ID und die Artikel-ID sehr hoch.
Wenn in deinem plentyShop also nach einer Zahl gesucht wird, werden Suchergebnisse für diese Zahl aus den ID-Feldern priorisiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Was ist der Unterschied zwischen Suchergebnissen und Suchvorschlägen?</div>
<div class="ulist">
<ul>
<li>
<p>Suchergebnisse sind die Artikel oder Kategorien, die dem Suchbegriff entsprechen.</p>
</li>
<li>
<p>Suchvorschläge sind Wörter, die den vom Kunden eingegebenen Begriffen ähnlich sind.
Suchvorschläge helfen dem Kunden, das Gesuchte zu finden, wenn er ungenaue oder falsch geschriebene Texte eingibt.
"Meinten Sie…​"</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Aktivierst du ein Artikeldatenfeld für die Suchvorschläge rechts, wird das Feld automatisch auch für die Suchergebnisse links aktiviert. Warum? Es würde keinen Sinn machen, den Kunden einen bestimmten Suchbegriff vorzuschlagen, wenn dieser Suchbegriff dann aber keine Ergebnisse liefert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">2.3. Optional: Sprachen ändern</h3>
<div class="paragraph">
<p>Die Suche kann für bis zu drei Sprachen aktiviert werden.
Standardmäßig sind die Sprachen Deutsch, Englisch und Französisch aktiviert.
Wenn du plentyShops in anderen Sprachen betreibst, kannst du die Sprachen ändern.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Suchindex wird bei Änderungen vollständig neu gebaut</div>
<div class="paragraph">
<p>Wenn du die Spracheinstellungen änderst, wird der Suchindex komplett neu aufgebaut.
Das bedeutet, dass alle Artikel erneut zum Index hinzugefügt werden.
Je nachdem, wie viele Artikel du hast, kann dieser Vorgang bis zu mehrere Tage dauern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Sprachen ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sprachen</strong>.</p>
</li>
<li>
<p>Aktiviere oder deaktiviere Sprachen nach Bedarf (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).<br>
<strong><em>Hinweis</em></strong>: Pro System können nur drei Sprachen gleichzeitig aktiviert werden.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Artikel werden zum Suchindex für die aktivierten Sprachen hinzugefügt.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="150">3. Filter im plentyShop darstellen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="160">3.1. Inhalt vom Typ Kategorieansicht erstellen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Klicke links auf eine graue Artikel-Kategorie.<br>
<strong><em>Hinweis</em></strong>: Filter können nicht mit den gelben Content-Kategorien verwendet werden.</p>
</li>
<li>
<p>Klicke auf die Kachel <strong>Neu</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Das Fenster <strong>Neuen Inhalt erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle den Typ <strong>Kategorieansicht</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein und wähle ggf. eine Vorlage.</p>
</li>
<li>
<p>Speichere die Einstellungen.<br>
→ Der neue Inhalt wird als Kachel dargestellt.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/inhalt-kategorieansicht.png" alt="inhalt kategorieansicht">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vorlage: Pro und Kontra</div>
<div class="paragraph">
<p>Wir liefern eine Vorlage, die du nach Belieben verändern und an dein Produktportfolio anpassen kannst.
Natürlich kannst du aber auch ohne Vorlage arbeiten, wenn du die Ansicht lieber von Grund auf selbst gestalten willst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="170">3.2. Inhalt gestalten</h3>
<div class="sect3">
<h4 id="180">3.2.1. Filter in Toolbar einfügen</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Öffne den <a href="/artikel/frontend-artikelsuche-verwalten#160">Inhalt vom Typ Kategorieansicht</a>.</p>
</li>
<li>
<p>Füge das Widget <strong>Artikelkategorie » Toolbar</strong> hinzu, falls es nicht bereits in deiner Kategorieansicht vorhanden ist.</p>
</li>
<li>
<p>Klicke auf <strong>Filter</strong>, um den Bereich für Filter-Widgets zu öffnen (siehe GIF).</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Füge ein Raster mit mehreren Spalten ein.</p>
</li>
<li>
<p>Füge einige oder alle der folgenden Widgets ein:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Artikelkategorie » Filter für Attribute, Eigenschaften und Merkmale</strong></p>
</li>
<li>
<p><strong>Artikelkategorie » Verfügbarkeitsfilter</strong></p>
</li>
<li>
<p><strong>Artikelkategorie » Preisfilter</strong></p>
</li>
<li>
<p><strong>Artikelkategorie » Kategoriefilter</strong></p>
</li>
<li>
<p><strong>Artikelkategorie » Herstellerfilter</strong></p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke bei jedem der Widgets auf <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> und passe die Einstellungen individuell an.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/filter-toolbar.gif" alt="filter toolbar">
</div>
</div>
</div>
<div class="sect3">
<h4 id="190">3.2.2. Filter in Seitenleiste einfügen</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Öffne den <a href="/artikel/frontend-artikelsuche-verwalten#160">Inhalt vom Typ Kategorieansicht</a>.</p>
</li>
<li>
<p>Erstelle eine Seitenleiste mit Hilfe von Struktur-Widgets. Zum Beispiel:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Füge das Widget <strong>Struktur » Raster mit 2 Spalten</strong> hinzu.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> und wähle das Layout-Verhältnis <strong>25% : 75%</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Füge einige oder alle der folgenden Widgets in die linke Spalte ein:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Artikelkategorie » Filter für Attribute, Eigenschaften und Merkmale</strong></p>
</li>
<li>
<p><strong>Artikelkategorie » Verfügbarkeitsfilter</strong></p>
</li>
<li>
<p><strong>Artikelkategorie » Preisfilter</strong></p>
</li>
<li>
<p><strong>Artikelkategorie » Kategoriefilter</strong></p>
</li>
<li>
<p><strong>Artikelkategorie » Herstellerfilter</strong></p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke bei jedem der Widgets auf <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> und passe die Einstellungen individuell an.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/filter-seitenleiste.gif" alt="filter seitenleiste">
</div>
</div>
</div>
<div class="sect3">
<h4 id="200">3.2.3. Optional: Texte umbenennen</h4>
<div class="paragraph">
<p>Du kannst die plentyShop-Texte an deine Bedürfnisse anpassen.
Im Toolbar kannst du z.B. den Text "Filter" in "Suche verfeinern" ändern.</p>
</div>
<div class="paragraph instruction">
<p>Texte umbenennen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Mehrsprachigkeit</strong>.</p>
</li>
<li>
<p>Wähle eine Ausgangssprache und eine Zielsprache aus den Dropdown-Listen aus.<br>
<strong><em>Hinweis</em></strong>: Du kannst in beiden Listen die gleiche Sprache wählen.</p>
</li>
<li>
<p>Erweitere den Bereich <strong>plentyShop LTS » Artikel</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Benenne den Text auf der rechten Seite wie gewünscht um.<br>
<strong><em>Beispiel</em></strong>: Finde das Feld <strong>ITEMFILTER</strong> und ändere den Text von "Filter" in "Suche verfeinern".</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
<li>
<p><a href="/willkommen/schnelleinstieg/schnelleinstieg-webshop#270">Stelle das plentyShop LTS-Plugin bereit</a>, um die Änderungen zu übernehmen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="210">3.3. Inhalt aktivieren</h3>
<div class="paragraph">
<p>Damit ein Inhalt im plentyShop angezeigt wird, muss dieser aktiviert werden.
Aktive Inhalte werden blau hervorgehoben.</p>
</div>
<div class="paragraph instruction">
<p>Inhalt aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Klicke auf die passende Kategorie.</p>
</li>
<li>
<p>Fahre mit dem Mauszeiger über die zu aktivierende Inhalts-Kachel.</p>
</li>
<li>
<p>Klicke auf <strong>Aktivieren</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>).<br>
→ Der Inhalt wird aktiviert und ist nun blau hinterlegt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Nur ein aktiver Inhalt desselben Typs</div>
<div class="paragraph">
<p>Innerhalb einer grauen Artikel-Kategorie kannst du mehrere Inhalte vom Typ <strong>Kategorieansicht</strong> erstellen.
Die Inhalte können je nach Bedarf aktiviert oder deaktiviert werden.
Dies ist beispielsweise hilfreich, um saisonabhängige Seiten zu gestalten.
Es darf aber nur ein Kategorieansicht-Inhalt gleichzeitig aktiviert sein.
Das Aktivieren eines Inhalts deaktiviert also einen zuvor aktiven Inhalt desselben Typs.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="220">3.4. Das Ergebnis im plentyShop prüfen</h3>
<div class="paragraph">
<p>Klicke auf <strong>Vorschau</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>) und prüfe, wie die Suchfilter in deinem plentyShop aussehen.
Ändere das Aussehen bei Bedarf weiter.
Bist du mit dem Ergebnis zufrieden?
Dann <a href="/willkommen/schnelleinstieg/schnelleinstieg-webshop#270">stelle das plentyShop LTS-Plugin bereit</a>, um die Änderungen zu übernehmen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="230">4. Fragen und Antworten</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>Ein Hersteller ist nicht im Markenfilter enthalten. Warum nicht?</strong></div>
<div class="content">
<div class="paragraph">
<p>Stelle sicher, dass du den <a href="/artikel/einstellungen/hersteller#150">externen Herstellernamen</a> gepflegt hast.
Ist kein externer Name gespeichert, dann erscheint der Hersteller nicht im Markenfilter.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Es kann etwas dauern, bis der Index aktualisiert ist und alles korrekt angezeigt wird.
Wenn die Hersteller am nächsten Tag immer noch nicht im Markenfilter erscheinen, wende dich an <a href="https://forum.plentymarkets.com/c/item">das Item-Team im Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</div>
</div>
</main>