<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#60"><span>1.</span><span> Suchleiste zusammenbauen</span></a>
<ul class="sectlevel2">
<li><a href="#62"><span>1.1.</span><span> Füge die nötigen Widgets hinzu</span></a></li>
<li><a href="#65"><span>1.2.</span><span> Passe die Texte an</span></a></li>
<li><a href="#67"><span>1.3.</span><span> Passe das Erscheinungsbild an</span></a></li>
</ul>
</li>
<li><a href="#70"><span>2.</span><span> Welche Artikeldaten sollen berücksichtigt werden?</span></a></li>
<li><a href="#75"><span>3.</span><span> Welche Sprachen werden benötigt?</span></a></li>
<li><a href="#80"><span>4.</span><span> Mit Teilbegriffen umgehen</span></a></li>
<li><a href="#85"><span>5.</span><span> Sortierung der Suchergebnisse</span></a></li>
<li><a href="#90"><span>6.</span><span> Fragen und Antworten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Suchleiste</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Du entscheidest, wie die Suchleiste im plentyShop aussehen soll und welche Ergebnisse sie liefern soll.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/webshop-suchergebnisse.png" alt="webshop suchergebnisse">
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Anpassbare Artikelsuche erst ab plentyShop LTS Version 5.0</div>
<div class="paragraph">
<p>Es ist möglich, die Frontend-Artikelsuche für <a href="https://marketplace.plentymarkets.com/plugins/sales/online-shops/ceres_4697">plentyShop LTS</a> Version 5.0 und höher anzupassen.
Niedrigere Versionen von plentyShop LTS unterstützen diese Funktion nicht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="60">1. Suchleiste zusammenbauen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="62">1.1. Füge die nötigen Widgets hinzu</h3>
<div class="paragraph">
<p>Welche Arten von Suchergebnissen sollen im plentyShop angezeigt werden?
Artikel, Kategorien oder sogar eine Liste mit vorgeschlagenen Suchbegriffen ("Meinten Sie…​")?
Jede Art von Suchergebnis ist ein ShopBuilder-Widget, das du zu deinem Shop-Layout hinzufügen und individuell anpassen kannst.</p>
</div>
<div class="paragraph instruction">
<p>Suchleiste mit Widgets zusammenstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Öffne das <a href="/webshop/shop-builder#32">Header-Element</a>.</p>
</li>
<li>
<p>Klicke auf die Lupe, um den Bereich für Such-Widgets zu öffnen (siehe GIF).</p>
</li>
<li>
<p>Füge bei Bedarf ein Raster mit mehreren Spalten hinzu.</p>
</li>
<li>
<p>Füge einige oder alle der folgenden Widgets ein:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Header » Suchergebnisse: Artikel</strong></p>
</li>
<li>
<p><strong>Header » Suchergebnisse: Kategorien</strong></p>
</li>
<li>
<p><strong>Header » Suchvorschläge</strong></p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/suchleiste-suchergebnisse.gif" alt="suchleiste suchergebnisse">
</div>
</div>
</div>
<div class="sect2">
<h3 id="65">1.2. Passe die Texte an</h3>
<div class="paragraph">
<p>Du kannst die Widget-Texte an deine Bedürfnisse anpassen.
In der Suchleiste kannst du zum Beispiel den Text "Suchvorschläge" in "Meinten Sie…​" ändern.</p>
</div>
<div class="paragraph instruction">
<p>Texte umbenennen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke bei jedem der Widgets auf <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span>.<br>
→ Der Widget-Titel wird grün umrandet.</p>
</li>
<li>
<p>Benenne den Text wie gewünscht um.<br>
<strong><em>Beispiel</em></strong>: Ändere den Text von "Suchvorschläge" in "Meinten Sie…​".</p>
</li>
<li>
<p>Mit einem Doppelklick auf den Text wird eine Symbolleiste mit Formatierungsoptionen angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/texte.gif" alt="texte">
</div>
</div>
</div>
<div class="sect2">
<h3 id="67">1.3. Passe das Erscheinungsbild an</h3>
<div class="paragraph">
<p>Du kannst das Aussehen der Suchleiste an deine Bedürfnisse anpassen.
Du kannst zum Beispiel entscheiden, ob Vorschaubilder angezeigt werden sollen und ob die Anzahl der passenden Produkte sichtbar sein soll.</p>
</div>
<div class="paragraph instruction">
<p>Erscheinungsbild anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke bei jedem der Widgets auf <span class="icon darkGrey"><i class="fa fa-cog  "></i></span>.<br>
→ Die Widget-Einstellungen werden rechts angezeigt.</p>
</li>
<li>
<p>Passe die Einstellungen wie gewünscht an.<br>
<strong><em>Beispiel</em></strong>: Entscheide, ob Artikelbilder in den Suchergebnissen angezeigt werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/erscheinungsbild.gif" alt="erscheinungsbild">
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">2. Welche Artikeldaten sollen berücksichtigt werden?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du entscheidest, welche Artikeldaten für die Suche relevant sind.
Bei einer Suche werden also nur die von dir gewählten Artikeldaten durchsucht.
Außerdem entscheidest du, mit welcher Gewichtung die einzelnen Artikeldaten behandelt werden.
Je höher die eingegebene Zahl, desto höher wird das Artikeldatenfeld für das Suchergebnis priorisiert.</p>
</div>
<div class="paragraph instruction">
<p>Artikeldaten auswählen und priorisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sucheinstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Artikeldatenfelder (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>), die in den Suchergebnissen und Suchvorschlägen berücksichtigt werden sollen.</p>
</li>
<li>
<p>Gib ggf. eine Gewichtung in die Spalte <strong>Boost</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Welchen Boost-Wert soll ich eingeben?</div>
<div class="paragraph">
<p>Als Boost-Wert kann eine beliebig hohe Zahl eingegeben werden.
Die Standardeinstellungen sind für die meisten Anwendungsfälle sinnvoll.
Diese Standardeinstellungen priorisieren die Varianten-ID und die Artikel-ID sehr hoch.
Wenn in deinem plentyShop also nach einer Zahl gesucht wird, werden Suchergebnisse für diese Zahl aus den ID-Feldern priorisiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Was ist der Unterschied zwischen Suchergebnissen und Suchvorschlägen?</div>
<div class="ulist">
<ul>
<li>
<p>Suchergebnisse sind die Artikel oder Kategorien, die dem Suchbegriff entsprechen.</p>
</li>
<li>
<p>Suchvorschläge sind Wörter, die den vom Kunden eingegebenen Begriffen ähnlich sind.
Suchvorschläge helfen dem Kunden, das Gesuchte zu finden, wenn er ungenaue oder falsch geschriebene Texte eingibt.
"Meinten Sie…​"</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Aktivierst du ein Artikeldatenfeld für die Suchvorschläge rechts, wird das Feld automatisch auch für die Suchergebnisse links aktiviert. Warum? Es würde keinen Sinn machen, den Kunden einen bestimmten Suchbegriff vorzuschlagen, wenn dieser Suchbegriff dann aber keine Ergebnisse liefert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="75">3. Welche Sprachen werden benötigt?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Suche kann für bis zu drei Sprachen aktiviert werden.
Standardmäßig sind die Sprachen Deutsch, Englisch und Französisch aktiviert.
Wenn du plentyShops in anderen Sprachen betreibst, kannst du die Sprachen ändern.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Suchindex wird bei Änderungen vollständig neu gebaut</div>
<div class="paragraph">
<p>Wenn du die Spracheinstellungen änderst, wird der Suchindex komplett neu aufgebaut.
Das bedeutet, dass alle Artikel erneut zum Index hinzugefügt werden.
Je nachdem, wie viele Artikel du hast, kann dieser Vorgang bis zu mehrere Tage dauern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Sprachen ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sprachen</strong>.</p>
</li>
<li>
<p>Aktiviere oder deaktiviere Sprachen nach Bedarf (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).<br>
<strong><em>Hinweis</em></strong>: Pro System können nur drei Sprachen gleichzeitig aktiviert werden.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Artikel werden zum Suchindex für die aktivierten Sprachen hinzugefügt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="80">4. Mit Teilbegriffen umgehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stell dir vor, du hast einen Blumenkübel im Sortiment.
Wenn Shop-Besucher "Kübel" in die Suchleiste eingeben, werden keine direkte Treffer gefunden.
Wieso nicht? Was kann man dagegen tun?</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/teilbegriffe.png" alt="teilbegriffe">
</div>
</div>
<div class="paragraph">
<p>Teilbegriffe lassen sich nicht direkt suchen.
Nichtsdestotrotz kannst du einiges tun, damit deine Kunden die richtigen Produkte finden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Füge das <a href="/artikel/webshop/suchleiste#62">Suchvorschläge-Widget</a> zu deiner Suchleiste hinzu.
Dort ist eine Teilbegriff-Suche möglich.
Allerdings sind die Suchvorschläge nicht mit spezifischen Artikeln/Varianten assoziiert, weshalb dort auch keine zusätzlichen Produktinformationen angezeigt werden können.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Öffne Plugin-Set] » plentyShop LTS</strong> und navigiere zum Schritt <strong>Suche</strong>.
Finde den Bereich <strong>Suchoperator für Suchergebnisse</strong> und wähle hier den Suchoperator <strong>Oder-Operator</strong>.
Damit werden auch Ergebnisse angezeigt, die nur einen Teil der eingegebenen Suchbegriffe enthalten.</p>
</li>
<li>
<p>Hinterlege die Teilbegriffe als <a href="/artikel/artikel-verwalten#50">Keywords oder Beschreibungstexte</a> in deinen Artikeldatensätzen.
Dann <a href="/artikel/webshop/suchleiste#70">aktiviere</a> die Keywords oder Beschreibungen für die Suchergebnisse.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="85">5. Sortierung der Suchergebnisse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn dein Shop-Besucher einen Begriff in die Suchleiste eingibt und "Enter" drückt, landet er auf einer Seite mit Suchergebnissen.
Du entscheidest, wie die Produkte auf dieser Ergebnisseite sortiert werden, d.h. welches Produkt als erstes, zweites, drittes, usw angezeigt wird.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Öffne Plugin-Set] » plentyShop LTS</strong>.</p>
</li>
<li>
<p>Navigiere zum Schritt <strong>Suche</strong>.</p>
</li>
<li>
<p>Finde den Bereich <strong>Standardsortierung für Suchergebnisse</strong>.</p>
</li>
<li>
<p>Wähle die gewünschte Sortierung aus der Dropdown-Liste.<br>
<strong><em>Hinweis</em></strong>: Falls du <strong>Relevanz</strong> oder <strong>Empfohlen</strong> gewählt hast, dann gib in den weiteren Schritten an, wie diese Sortierung genau erfolgen soll.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">6. Fragen und Antworten</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>Kann ich die Texte umbenennen? Ich mag "Artikel", "Kategorien" und "Suchvorschläge" nicht.</strong></div>
<div class="content">
<div class="paragraph">
<p>Ja.
Du kannst die Texte an deine Bedürfnisse anpassen.
Zum Beispiel könntest du das Widget "Suchvorschläge" in "Meinten Sie…​" umbenennen.
<a href="/artikel/webshop/suchleiste#65">Weitere Informationen</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Ich will, dass Artikelbilder in der Suchvorschau erscheinen. Wie geht das?</strong></div>
<div class="content">
<div class="paragraph">
<p>Du kannst das Aussehen der Suchleiste an deine Bedürfnisse anpassen.
Du kannst zum Beispiel entscheiden, ob Vorschaubilder angezeigt werden sollen und ob die Anzahl der passenden Produkte sichtbar sein soll.
<a href="/artikel/webshop/suchleiste#67">Weitere Informationen</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Werden Teilbegriffe auch gefunden?</strong></div>
<div class="content">
<div class="paragraph">
<p>Nicht direkt.
Du kannst aber einiges tun, um das zu ändern.
<a href="/artikel/webshop/suchleiste#80">Weitere Informationen</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wenn ich die Enter-Taste drücke, ergeben die Suchergebnisse keinen Sinn. Warum?</strong></div>
<div class="content">
<div class="paragraph">
<p>Prüfe, <a href="/artikel/webshop/suchleiste#85">wie deine Suchergebnisse sortiert werden</a>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Stelle die Sortierung auf Relevanz um.</p>
</li>
<li>
<p>Bitte <a href="https://forum.plentymarkets.com/c/item">das Item-Team im Forum</a>, den Index zu aktualisieren.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Umstellung auf Relevanz sollte helfen, bessere Suchergebnisse zu erzielen.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Mein plentyShop ist in mehreren Sprachen verfügbar. Was muss ich tun?</strong></div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Die Suche kann für bis zu drei Sprachen aktiviert werden.
Standardmäßig sind die Sprachen Deutsch, Englisch und Französisch aktiviert.
Wenn du plentyShops in anderen Sprachen betreibst, kannst du die Sprachen ändern.
<a href="/artikel/webshop/suchleiste#75">Weitere Informationen</a>.</p>
</li>
<li>
<p>Ferner musst du die Suchleiste für jede Sprache einzeln zusammenstellen, d.h. Widgets hinzufügen, die Texte anpassen und das Aussehen anpassen.
<a href="/artikel/webshop/suchleiste#60">Weitere Informationen</a>.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Kann ich auch Suchfilter (Facetten) erstellen?</strong></div>
<div class="content">
<div class="paragraph">
<p>Ja.
Mit Hilfe von Suchfiltern grenzen deine Shop-Besucher individuell ein, welche Produkte sie sehen wollen.
Zum Beispiel, nur schwarze Schuhe der Marke Nike, die weniger als €150 kosten.
Je mehr Produkte eine Shop-Kategorie umfasst, desto wichtiger sind die Suchfilter.
<a href="/artikel/frontend-artikelsuche-verwalten">Weitere Informationen</a>.</p>
</div>
</div>
</div>
</div>
</div>
</main>