<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> OTTO market</span></a></li>
<li><a href="#200"><span>2.</span><span> Konto einrichten</span></a></li>
<li><a href="#275"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
<li><a href="#350"><span>5.</span><span> Verfügbarkeit am Bild einstellen</span></a></li>
<li><a href="#400"><span>6.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#425"><span>7.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#450"><span>8.</span><span> Artikelexport einrichten</span></a></li>
<li><a href="#475"><span>9.</span><span> Varianten mit OTTO-Kategoriegruppe verknüpfen</span></a></li>
<li><a href="#500"><span>10.</span><span> Ereignisaktionen einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#550"><span>10.1.</span><span> DHL-Retourenlabel generieren</span></a></li>
<li><a href="#600"><span>10.2.</span><span> Auftragsbestätigung an OTTO melden</span></a></li>
<li><a href="#700"><span>10.3.</span><span> Versandinformation an OTTO melden</span></a></li>
<li><a href="#800"><span>10.4.</span><span> Auftragsstornierung an OTTO melden</span></a></li>
<li><a href="#900"><span>10.5.</span><span> Retoure an OTTO melden</span></a></li>
<li><a href="#1000"><span>10.6.</span><span> Ablehnung der Retoure an OTTO melden</span></a></li>
</ul>
</li>
<li><a href="#1050"><span>11.</span><span> Auftragsbearbeitung bei OTTO market</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>11.1.</span><span> Auftragsimport</span></a></li>
<li><a href="#1200"><span>11.2.</span><span> Rechnungsimport</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>12.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>OTTO market</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite erhältst du Informationen zu OTTOs Marktplatzmodell OTTO market.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. OTTO market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>OTTO market ist das Marktplatzmodell von OTTO. Du wirst als Verkäufer an deinen Produkten angezeigt und die Kundenkommunikation wird von dir selbst verwaltet.<br></p>
</div>
<div class="paragraph">
<p>Die Anbindung von OTTO market an plentymarkets stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftragsimport alle 15 Minuten</p>
</li>
<li>
<p>Preis- und Bestandsabgleich alle 15 Minuten</p>
</li>
<li>
<p>Tägliche Aktualisierung von Artikeldaten</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Konto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Grundeinstellungen für OTTO market nimmst du im Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong> mit dem Assistenten <strong>OTTO market Grundeinstellungen</strong> vor. Mit diesem Assistenten richtest du dein OTTO market-Konto in plentymarkets ein.<br></p>
</div>
<div class="paragraph">
<p>Um den Assistenten zu starten, öffne das Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong> und klicke auf den Assistenten <strong>OTTO market Grundeinstellungen</strong>. Der Assistent öffnet sich und du kannst mit der Kontoeinrichtung beginnen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="275">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit OTTO market verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft OTTO Market aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für OTTO market aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze bei <strong>OTTO market</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Variantenverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf OTTO market verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Alle Varianten eines Artikels auf OTTO market verkaufen</div>
<div class="paragraph">
<p>Wenn du alle Varianten eines Artikels auf OTTO market verkaufen möchtest, nimm die unten beschriebenen Einstellungen an der Hauptvariante vor. Die Einstellungen werden dann an alle Varianten des Artikels vererbt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Variantenverfügbarkeit für OTTO market einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du auf OTTO market verkaufen möchtest.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>OTTO market</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Verfügbarkeit am Bild einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Artikelbilder auf OTTO market angezeigt werden, muss im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Bilder</strong> die Verfügbarkeit <strong>OTTO market</strong> am Bild hinzugefügt werden.</p>
</div>
<div class="paragraph instruction">
<p>Verfügbarkeit am Bild einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Bilder</strong>.</p>
</li>
<li>
<p>Aktiviere in der Dropdown-Liste <strong>Verfügbarkeit</strong> die Option <strong>OTTO market</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Bild wird am Artikel auf OTTO market angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft OTTO market einen Verkaufspreis festzulegen. Dieser Preis wird auf OTTO market angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für OTTO market festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>OTTO market</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="425">7. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die <a href="/payment/zahlungsarten-verwalten">Zahlungsart</a> <strong>Otto Payment</strong>, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart <strong>Otto Payment</strong> aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Otto Payment</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#zahlungsart-otto-market">Tabelle 1</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="zahlungsart-otto-market" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit hast du die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn Käufer*innen im Webshop die Sprache wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben. <strong>Wichtig</strong>: Nicht in beide Felder einen Wert eingeben. <br>
Weitere Informationen findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/statistik/statistiken-verwalten">Statistiken verwalten</a>. Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> aktivierst oder deaktivierst du <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen findest du im Kapitel <a href="/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten">Zahlungsarten verwalten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="450">8. Artikelexport einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikeldaten werden über Katalog-Templates zu OTTO market übertragen. Kataloge erstellst du mit dem Assistenten <strong>OTTO market Kataloge erstellen</strong> im Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>. Weitere Informationen zu Katalogen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/kataloge-verwalten">Kataloge verwalten</a>.<br></p>
</div>
<div class="paragraph">
<p>In Katalogen verknüpfst du deine in plentymarkets gespeicherten Artikeldaten mit Datenfeldern von OTTO market. Die Pflichtfelder für die jeweilige OTTO-Kategoriegruppe verknüpfst du bereits im Assistenten. Danach verknüpfst du direkt in dem Katalog, den du mit dem Assistenten erstellt hast, weitere optionale Datenfelder des Marktplatzes OTTO market, die nicht mit einem Sternchen gekennzeichnet sind, mit in plentymarkets hinterlegten Artikeldaten. Auf diese Weise kannst du deine Artikel detaillierter beschreiben und erhöhst dadurch die Chance, die Artikel zu verkaufen. Weitere Informationen zu den plentymarkets Datenquellen, die du zuordnen kannst, findest du im Kapitel <a href="/daten/daten-exportieren/kataloge-verwalten#_datenquellen_zuordnen">Datenquellen zuordnen</a>.</p>
</div>
<div class="paragraph instruction">
<p>Datenfelder im Katalog verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den OTTO market-Katalog.<br>
→ Der Katalog wird geöffnet.<br>
→ Links werden die Datenfelder des Marktplatzes angezeigt.<br>
<strong>Tipp:</strong> Pflichtfelder sind mit Sternchen gekennzeichnet. Pflichtfelder wurden bereits im Assistenten <strong>OTTO market Kataloge erstellen</strong> verknüpft.</p>
</li>
<li>
<p>Wähle für die Datenfelder des Marktplatzes eine plentymarkets Datenquelle aus der Dropdown-Liste.</p>
</li>
<li>
<p>Um einem Datenfeld eine weitere plentmarkets Datenquelle zuzuordnen, klicke auf <strong>Quelle hinzufügen</strong>.<br>
→ Eine neue Zeile wird eingeblendet.<br>
<strong>Hinweis:</strong> Auch wenn du einem Datenfeld mehr als eine Datenquelle zuordnest, wird nur ein Wert übertragen. Die Daten werden in der Reihenfolge der Zuordnung geprüft. Wenn also das erste Datenfeld keinen Wert liefert, wird das zweite Datenfeld übertragen usw.</p>
</li>
<li>
<p>Nimm alle gewünschten Zuordnungen vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Folgenden wird beispielhaft beschrieben, wie du das Datenfeld <strong>Bestand</strong> mit Artikeldaten aus plentymarkets verknüpfst. Mit dem Datenfeld <strong>Bestand</strong> kannst du bestimmen, aus welchem Lager der Bestand an OTTO market übertragen werden soll.</p>
</div>
<div class="paragraph instruction">
<p>Datenfeld <strong>Bestand</strong> verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Der Katalog wird geöffnet.</p>
</li>
<li>
<p>Wähle für das OTTO market-Datenfeld eine plentymarkets Datenquelle aus der Dropdown-Liste <strong>Quelle</strong>. Hierfür klappst du die plentymarkets Datenquelle <strong>Bestand</strong> auf.<br>
→ In der Dropdown-Liste werden alle in plentymarkets angelegten Lager angezeigt.</p>
</li>
<li>
<p>Wähle das Lager, aus dem der Bestand zu OTTO market übertragen werden soll und klicke auf <strong>Auswählen</strong> (<span class="icon green"><i class="fa fa-check-square  "></i></span>).<br>
→ <strong>Tipp:</strong> Wenn du Bestand aus mehreren Lagern zu OTTO market übertragen willst, klicke auf <strong>Quelle hinzufügen</strong> (<span class="icon yellow"><i class="fa fa-link  "></i></span>) und füge weitere Lager hinzu.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Wenn du das Datenfeld <strong>Bestand</strong> nicht mit einem Lager verknüpfst, wird die Summe der Nettobestände aller Vertriebslager (Datenquelle <strong>Virtuelles Gesamtlager</strong>) an OTTO market übertragen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<div class="title">Pflichtfelder beachten</div>
<p>Die Pflichtfelder der verschiedenen Templates sind mit Sternchen gekennzeichnet. Verknüpfe mindestens die Pflichtfelder, um sicherzustellen, dass deine Artikel mit allen notwendigen Daten verknüpft sind. Bei OTTO market werden Verknüpfungen für die Pflichtfelder bereits im Assistenten <strong>OTTO market Kataloge erstellen</strong> vorgenommen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="475">9. Varianten mit OTTO-Kategoriegruppe verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du mit dem Assistenten <strong>OTTO market Kataloge erstellen</strong> oder manuell ein Katalog-Template für OTTO market erstellt hast, wird in deinem plentymarkets System die Eigenschaft <strong>OTTO-Kategoriegruppe</strong> erstellt. Für jede OTTO-Kategoriegruppe, die du im ersten Schritt <strong>Name und Kategoriegruppe</strong> des Assistenten wählst, wird die gewählte OTTO-Kategoriegruppe als neuer Auswahlwert zur Eigenschaft <strong>OTTO-Kategoriegruppe</strong> hinzugefügt. Damit deine Varianten im gewünschten Katalog exportiert werden, müssen sie im <strong>Tab: Eigenschaften</strong> einer Variante mit der Eigenschaft <strong>OTTO-Kategoriegruppe</strong> verknüpft werden.</p>
</div>
<div class="paragraph instruction">
<p>Variante mit OTTO-Kategoriegruppe verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em>.</p>
</li>
<li>
<p>Wechsele in das <strong>Tab: Varianten</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du verknüpfen möchtest.</p>
</li>
<li>
<p>Wechsele in das <strong>Tab: Eigenschaften</strong>.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Varianteneigenschaften</strong> aus der Dropdown-Liste <strong>Eigenschaften</strong> die Eigenschaft <strong>OTTO-Kategoriegruppe</strong> und klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Eigenschaft wird hinzugefügt.</p>
</li>
<li>
<p>Wähle für die Eigenschaft <strong>OTTO-Kategoriegruppe</strong> aus der Dropdown-Liste <strong>Wert</strong> die gewünschte Kategoriegruppe.<br>
→ Die Variante wird im zugehörigen Katalog exportiert.<br>
→ <strong>Beispiel:</strong> Wählst du den Wert <strong>Betten</strong>, wird die Variante im Katalog für die OTTO-Kategoriegruppe <strong>Betten</strong> exportiert.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">10. Ereignisaktionen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a> ein, um OTTO market automatisch über Änderungen des Auftragsstatus zu informieren. Folgende Ereignisaktionen stehen für OTTO market zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftragsbestätigung an OTTO melden</p>
</li>
<li>
<p>Versandinformation an OTTO melden</p>
</li>
<li>
<p>Auftragsstornierung an OTTO melden</p>
</li>
<li>
<p>Retoure an OTTO melden</p>
</li>
<li>
<p>Ablehnung der Retoure an OTTO melden</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In den folgenden Kapiteln wird beschrieben, wie du die Ereignisaktionen in plentymarkets einrichtest.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Reihenfolge der Ereignisaktionen beachten</div>
<div class="paragraph">
<p>Beachte bei der Auftragsbearbeitung unbedingt die Reihenfolge der Ereignisaktionen. Zuerst muss die Ereignisaktion <a href="#550">DHL-Retourenlabel generieren</a> ausgelöst werden, als nächstes die Ereignisaktion <a href="#600">Auftragsbestätigung an OTTO melden</a> und danach die Ereignisaktion <a href="#700">Versandinformation an OTTO melden</a>. Wenn die Ereignisaktionen nicht in dieser Reihenfolge ausgelöst werden, kann keine Versandbestätigung an OTTO market gesendet werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="550">10.1. DHL-Retourenlabel generieren</h3>
<div class="paragraph">
<p>Wenn OTTO market-Aufträge in dein plentymarkets System importiert wurden, müssen für diese Aufträge DHL-Retourenlabels generiert werden, bevor der Versand bei OTTO market bestätigt wird. Mit der Aktion <strong>DHL Retoure Online-Label generieren</strong> wird automatisch eine Tracking-Nummer für eine Retoure (retTrackingNumber) erstellt, die am Auftrag hinterlegt wird. Dadurch kann sichergestellt werden, dass es eine Tracking-Nummer für eine Retoure gibt, falls Kunden einen Artikel zurücksenden möchten.<br></p>
</div>
<div class="paragraph">
<p>Damit die Tracking-Nummer zusammen mit der Versandbestätigung an OTTO market gesendet wird, musst du zwei Ereignisaktionen erstellen, die hintereinander ausgelöst werden: 1. <strong>DHL Retoure Online-Label generieren</strong> und 2. <strong>Auftragsbestätigung an OTTO melden</strong>.</p>
</div>
<div class="paragraph">
<p><strong>Hinweis:</strong> Das Retourenlabel kann momentan nur mit DHL generiert werden. Weitere Versanddienstleister folgen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin DHL Retoure Online installieren</div>
<div class="paragraph">
<p>Um ein DHL-Retouren-Label generieren zu können, muss das Plugin <strong>DHL Retoure Online</strong> in deinem plentymarkets System installiert, aktiviert und eingerichtet sein. Das Plugin erhältst du im <a href="https://marketplace.plentymarkets.com/plugins/integration/dhlretoureonline_6714" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wie du die <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> einrichtest, mit der ein DHL-Retourenlabel generiert wird, ist im Folgenden beschrieben.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#dhl-retouren-label-otto">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#dhl-retouren-label-otto">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="dhl-retouren-label-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum Erstellen eines DHL-Retourenlabels</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neuer Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; DHL Retoure Online-Label generieren</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="600">10.2. Auftragsbestätigung an OTTO melden</h3>
<div class="paragraph">
<p>Die Ereignisaktion, mit der du die Auftragsbestätigung an OTTO meldest, muss ausgelöst werden, nachdem ein DHL-Retourenlabel generiert wurde. Wie du die <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> zur Auftragsbestätigung einrichtest, ist im Folgenden beschrieben.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#auftragsbestaetigung-otto">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#auftragsbestaetigung-otto">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="auftragsbestaetigung-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion um Auftragsbestätigung an OTTO market zu melden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel: beliebigen Status vor Versand wählen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Auftragsbestätigung an OTTO melden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">10.3. Versandinformation an OTTO melden</h3>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um OTTO market über den Versand des Artikels zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#versandbestaetigung-otto">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#versandbestaetigung-otto">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="versandbestaetigung-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion um Versandinformation an OTTO market zu melden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel: z.B. Status [7] Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Versandinformation an OTTO melden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">10.4. Auftragsstornierung an OTTO melden</h3>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um OTTO market über die Stornierung eines Auftrags zu informieren. Es kann aus verschiedenen Gründen erforderlich sein, Aufträge zu stornieren. Wenn du beispielsweise als Händler den Auftrag selbst stonierst, wähle <strong>Status [8] Storniert</strong>. Wenn ein Kunde den Auftrag storniert, wähle <strong>Status [8.1] Storniert durch Kunden</strong>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#auftragsstornierung-otto">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#auftragsstornierung-otto">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="auftragsstornierung-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion um Auftragsstornierung an OTTO market zu melden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>[8] Storniert</strong> oder <strong>[8.1] Storniert durch Kunden</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Auftragsstornierung an OTTO melden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">10.5. Retoure an OTTO melden</h3>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um OTTO market über eine Retoure zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#retoure-otto">Tabelle 6</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#retoure-otto">Tabelle 6</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="retoure-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Ereignisaktion um Retouren an OTTO market zu melden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Retoure an OTTO melden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">10.6. Ablehnung der Retoure an OTTO melden</h3>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um OTTO market über die Ablehnung einer Retoure zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ablehnung-retoure-otto">Tabelle 7</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ablehnung-retoure-otto">Tabelle 7</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ablehnung-retoure-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Ereignisaktion um die Ablehnung einer Retoure an OTTO market zu melden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ereignis wählen, z.B. <strong>Auftragsanlage: Statuswechsel</strong><br>
<strong>Hinweis:</strong> Wähle einen Status, der zu deinem Arbeitsablauf passt. Du kannst dazu beispielsweise den Status <strong>[8.2] Retoure von OTTO ablehnen</strong> erstellen.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Ablehnung der Retoure an OTTO melden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1050">11. Auftragsbearbeitung bei OTTO market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden erfährst du, wie Aufträge bei OTTO market verarbeitet werden.</p>
</div>
<div class="sect2">
<h3 id="1100">11.1. Auftragsimport</h3>
<div class="paragraph">
<p>OTTO market-Aufträge werden als unbezahlt in Status <strong>[3] Warten auf Zahlung</strong> in plentymarkets importiert. Nachdem ein Auftrag von OTTO market bestätigt wurde, wechselt er in Status <strong>[5] Freigabe Versand</strong>. In plentymarkets wird eine Zahlung für den Auftrag erstellt und der Auftrag als <strong>bezahlt</strong> gekennzeichnet. Falls ein Kunde den Auftrag bei OTTO market per Überweisung bezahlt hat, kann die Auftragsbestätigung längern dauern als bei anderen Zahlungsarten. In plentymarkets wird die Zahlungsart immer als <strong>OTTO Payment</strong> angezeigt.<br></p>
</div>
<div class="paragraph">
<p>Wenn ein Auftrag nicht bezahlt wird, storniert OTTO market den Auftrag nach einer gewissen Zeit und sendet eine Stornierung an plentymarkets. In plentymarkets wechselt der unbezahlte Auftrag dann automatisch in Status <strong>[8] Storniert</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1200">11.2. Rechnungsimport</h3>
<div class="paragraph">
<p>Rechnungen für OTTO market-Aufträge werden von OTTO market selbst erstellt und automatisch in plentymarkets importiert, sobald du den Versand der Ware bei OTTO market bestätigt hast. Eine Versandbestätigung sendest du mit der Ereignisaktion <a href="#700">Versandinformation an OTTO melden</a> an OTTO market. Die Rechnungsdokumente sind nach erfolgreicher Versandbestätigung im Tab <strong>Belege</strong> des Hauptauftrags verfügbar. Das heißt, dass du für OTTO market keine Rechnungen in plentymarkets erstellen kannst.<br></p>
</div>
<div class="paragraph">
<p>Da Rechnungen immer dann von OTTO market erstellt werden, wenn der Versand eines Artikels bestätigt wurde, werden auch Rechnungen für Teillieferungen generiert.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">12. FAQ</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em>Warum werden meine Artikel nicht zu OTTO market exportiert?</em></p>
<p>Durch die Suche folgender Logs kannst du feststellen, warum bestimmte Artikel nicht zu OTTO market exportiert werden und deshalb dort nicht verfügbar sind.</p>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Suche im <strong>Log</strong> in der Dropdown-Liste <strong>Integration</strong> nach <strong>Otto itemexport</strong> und wähle <strong>Plenty\Modules\Otto\Item\Services\ItemExportService</strong>.</p>
</li>
<li>
<p>Suche in mehreren Durchläufen in der Dropdown-Liste <strong>Level</strong> sowohl nach <strong>warning</strong> als auch nach <strong>error</strong>.</p>
</li>
<li>
<p>Öffne die Logs mit der Nachricht <strong>Variante ungültig</strong>.<br>
→ Im Log erhältst du die Varianten-ID und den Grund für die Ablehnung bzw. das fehlende Merkmal.<br>
→ In diesem Beispiel geht es um die Varianten-ID 30170 und die fehlende productDescription.brand. Das heißt, dass hier der Hersteller bzw. die Marke fehlt.</p>
</li>
<li>
<p>Als nächstes solltest du nach der im <strong>Log</strong> genannten Variante suchen und dir Varianten anzeigen lassen, damit du auch direkt beim richtigen Artikel landest.<br>
→ Den Hersteller findest du im Tab <strong>Global</strong> der Variante.</p>
</li>
<li>
<p>Im Katalog <strong>Audio » Radios</strong> ist die Marke <strong>AudioAffairs</strong> nicht gemapped, was zur Fehlermeldung bzw. der Ablehnung des Artikels führt.</p>
</li>
<li>
<p>Klicke auf <strong>Marke hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>), um die Marke <strong>AudioAffairs</strong> hinzuzufügen.</p>
<table id="filter-artikelexport-log" class="tableblock frame-all grid-none stretch">
<caption class="title">Tabelle 8. Suchbegriffe für OTTO market im Log</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/otto/assets/otto-item-export.png" alt="Suchbegriff OTTO market-Logs">
</div>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/otto/assets/level-warning-error.png" alt="Log-Level">
</div>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/otto/assets/varianten-id.png" alt="Varianten-ID">
</div>
</div></div></td>
</tr>
</tbody>
</table>
</li>
</ol>
</div>
</li>
<li>
<p><em>Wie ordne ich ein Retourenpaket dem richtigen Auftrag im plentymarkets System zu?</em></p>
<p>Nachfolgend findest du ein exemplarisches DHL-Retourenetikett. Auf dem Etikett ist ersichtlich, welche Informationen dir zur Verfügung stehen.</p>
<div id="dhl-retourenetikett" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/otto/assets/dhl-retourenetikett.png" alt="DHL-Retourenetikett">
</div>
<div class="title">Bild 1. DHL-Retourenetikett</div>
</div>
</li>
<li>
<p><em>Wie kann ich bei Kundenanfragen einen Auftrag von OTTO market im plentymarkets System finden?</em></p>
<p>Da die Frage “Wie kann ich bei Kundenanfragen einen Auftrag von OTTO market finden?” öfter im plentymarkets Forum aufkommt, nachfolgend eine kurze Beschreibung.</p>
<div class="paragraph">
<p>Im plentymarkets Forum wird öfters von <strong>PositionID</strong> (Beispiel: 715e9369-01e3-4d09-ae91-8688dfa139b2) und <strong>SalesOrderID</strong> (Beispiel: 4245eac7-4647-4f76-8c48-261afb19aa96) gesprochen, diese sind für dich als Händler jedoch nicht relevant. Diese IDs sind für dich nicht sichtbar - es handelt sich um die Bezeichnung des Auftrags und der enthaltenen Positionen in unserer plentymarkets Datenbank.</p>
</div>
<div class="paragraph">
<p>Aufträge mit der Herkunft <strong>OTTO market</strong> erhalten die übliche Auftrags-ID von deinem plentymarkets System, zur Identifikation des Auftrags wird jedoch eine “externe Auftragsnummer” an dem Auftrag hinterlegt, mit welcher der Auftrag eindeutig zugeordnet werden kann.</p>
</div>
<div class="paragraph">
<p>Nachfolgend findest du Screenshots mit einer kurzen Erläuterung, wie die Aufträge bei uns und bei OTTO market im Bereich <strong>Mein Konto</strong> angelegt werden.</p>
</div>
<div id="otto-market-auftragsnummer" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/otto/assets/otto-market_auftragsnummer.png" alt="OTTO market-Auftragsnummer">
</div>
<div class="title">Bild 2. "Mein Konto"-Bereich bei OTTO market</div>
</div>
<div class="paragraph">
<p>Die Auftragsnummer wird in plentymarkets als externe Auftragsnummer am Auftrag hinterlegt.</p>
</div>
<div class="paragraph">
<p>Das Menü zum Suchen des Auftrags anhand der externen Auftragsnummer:</p>
</div>
<div id="otto-market-externe-auftragsnummer" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/otto/assets/otto-market_suche_externe-auftragsnummer.png" alt="Suche externe Auftragsnummer">
</div>
<div class="title">Bild 3. Suche nach externer Auftragsnummer</div>
</div>
<div class="paragraph">
<p>Im Tab <strong>Einstellungen</strong> des Auftrags findest du die externe Auftragsnummer (<strong>Ext. Auftragsnummer</strong>):</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/otto/assets/plentymarkets_externe-auftragsnummer.png" alt="externe Auftragsnummer in plentymarkets">
</div>
<div class="title">Bild 4. Suche nach externer Auftragsnummer</div>
</div>
<div class="paragraph">
<p>Sollte ein Kunde eine Rückfrage zu dem Auftrag haben, kannst du anhand der externen Auftragsnummer den Auftrag finden.</p>
</div>
<div class="paragraph">
<p>Außerdem kannst du mit dem Filter <strong>Herkunft</strong> natürlich immer alle OTTO market-Aufträge filtern.</p>
</div>
</li>
<li>
<p><em>Im Log erhalte ich den Fehler "Duplicate entry. Combination of the fields variationId, marketId and accountId must be unique". Wie kann ich diesen Fehler beheben?</em></p>
<p>Dieser Fehler wird im Log z.B. auch unter “SKU 1234 nicht generiert” angezeigt.</p>
<div class="paragraph">
<p>Im Katalog wird an erster Stelle definiert, aus welcher Quelle die SKU generiert werden soll. Wir unterscheiden dort zwischen einer <strong>Parent-SKU</strong> und einer <strong>Variation-SKU</strong>. Die dort gewählte Quelle sollte sich auf eine Datenzeile beziehen, welche einmalig existiert. Es ist also nicht möglich, für verschiedene Artikel dieselbe SKU nochmals zu vergeben. Als Beispiel könnte man also die <strong>Artikel-ID</strong> sowie die <strong>Variation-ID</strong> verwenden. Beide IDs werden vom plentymarkets System bei der Anlage des Artikels vergeben und existieren jeweils nur einmal. Nun könnte jedoch der Fall eintreten, dass der Artikelexport stattgefunden hat und der Export aufgrund einer fehlenden Information im Katalog in einen Fehler gelaufen ist. Die SKU wurde aber trotzdem geschrieben und ist nun in der Variante im Tab <strong>Verfügbarkeit</strong> sichtbar. Beim nächsten Export würde das plentymarkets System wieder versuchen, eine SKU aus den im Katalog gewählten Quellen zu erstellen. Da diese SKU jedoch bereits existiert, kommt es zum Fehler "Duplicate entry. Combination of the fields variationId, marketId and accountId must be unique." / "SKU 1234 nicht generiert.".</p>
</div>
<div class="paragraph">
<p>Deshalb ist es notwendig, eine Fallback-Lösung (Absicherung) im Katalog hinzuzufügen. Die Lösung würde dann wie folgt aussehen:</p>
</div>
<div id="sku" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/otto/assets/otto-market_fehlermeldung_sku.png" alt="SKU">
</div>
<div class="title">Bild 5. Parent-SKU und SKU</div>
</div>
<div class="paragraph">
<p>Es wird also eine zweite Quelle hinzugefügt. Beim nächsten Export wird zuerst auf die erste Quelle geschaut. Da in dieser Quelle bereits eine SKU existiert, wird die zweite Quelle ignoriert. Sollte in der ersten Quelle keine SKU existieren, dann wird mittels der zweiten Quelle eine neue SKU erstellt.</p>
</div>
</li>
</ol>
</div>
</div>
</div>
</main>