<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#catalogue-menu"><span>1.</span><span> Erstes Kennenlernen: Menüaufbau</span></a></li>
<li><a href="#create-catalogue"><span>2.</span><span> Katalog erstellen</span></a></li>
<li><a href="#catalogue-settings"><span>3.</span><span> Katalogeinstellungen vornehmen</span></a>
<ul class="sectlevel2">
<li><a href="#format-settings"><span>3.1.</span><span> Formateinstellungen vornehmen</span></a></li>
<li><a href="#export-settings"><span>3.2.</span><span> Exporteinstellungen vornehmen</span></a></li>
<li><a href="#download-settings"><span>3.3.</span><span> Download-Einstellungen vornehmen</span></a></li>
</ul>
</li>
<li><a href="#data-export"><span>4.</span><span> Daten für Export zusammenstellen</span></a>
<ul class="sectlevel2">
<li><a href="#add-fields"><span>4.1.</span><span> Datenfelder zu Export hinzufügen</span></a></li>
<li><a href="#delete-fields"><span>4.2.</span><span> Datenfelder aus Export entfernen</span></a></li>
<li><a href="#filter-data"><span>4.3.</span><span> Exportdaten filtern</span></a></li>
</ul>
</li>
<li><a href="#export-data"><span>5.</span><span> Katalogdaten exportieren</span></a>
<ul class="sectlevel2">
<li><a href="#preview"><span>5.1.</span><span> Exportvorschau erstellen</span></a></li>
<li><a href="#activate-catalogue"><span>5.2.</span><span> Automatischen Katalogexport aktivieren</span></a></li>
<li><a href="#manual-export"><span>5.3.</span><span> Manuellen Export in Katalog starten</span></a></li>
</ul>
</li>
<li><a href="#faq"><span>6.</span><span> Fragen und Antworten</span></a></li>
<li><a href="#manage-catalogues"><span>7.</span><span> Kataloge verwalten: löschen, kopieren etc.</span></a>
<ul class="sectlevel2">
<li><a href="#catalogue-rights"><span>7.1.</span><span> Rechte für Backend-Benutzer:innen vergeben</span></a></li>
<li><a href="#15"><span>7.2.</span><span> Spalten der Katalog-Übersicht anpassen</span></a></li>
<li><a href="#190"><span>7.3.</span><span> Kataloge kopieren</span></a></li>
<li><a href="#210"><span>7.4.</span><span> Kataloge löschen</span></a></li>
<li><a href="#240"><span>7.5.</span><span> Gelöschten Katalog wiederherstellen</span></a></li>
<li><a href="#250"><span>7.6.</span><span> Andere Katalog-Version wiederherstellen</span></a></li>
<li><a href="#270"><span>7.7.</span><span> Kataloge exportieren</span></a></li>
<li><a href="#280"><span>7.8.</span><span> Kataloge importieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kataloge: Standardformate</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit den Standardformaten des Katalogs exportierst du Daten aus deinem plentymarkets System. Du kannst Daten als CSV-, JSON, TXT- oder XML-Datei exportieren.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Diese Seite ist neu und wird weiter ergänzt. Vermisst du Informationen oder ist etwas unklar? Dann sende uns gern eine freundliche Nachricht über die Feedback-Funktion.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Für den Export verschiedener Daten stehen dir verschiedene Standardformate zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Um zum Beispiel deine Warenbestände zu exportieren, nutzt du das Standardformat <a href="/daten/daten-exportieren/katalog-warenbestaende">Warenbestände</a>.</p>
</li>
<li>
<p>Zum Export von Artikeldaten steht das Standardformat <a href="/daten/daten-exportieren/katalog-artikel">Artikel</a> zur Verfügung.</p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Bisher kannst du noch nicht alle Arten von Daten über Kataloge exportieren. Bis Standardformate für alle Datenarten verfügbar sind, kannst du weiterhin den <a href="/daten-exportieren/FormatDesigner">Formatdesigner</a> nutzen.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="catalogue-menu">1. Erstes Kennenlernen: Menüaufbau</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-exportieren/assets/menüaufbau-standardformat.png" alt="menüaufbau standardformat">
</div>
</div>
<div class="paragraph">
<p><em>Menüaufbau Katalog mit Standardformat</em></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Navigation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Standardmäßig wird die Ansicht <strong>Zuordnung</strong> angezeigt, wenn du einen Katalog öffnest. Über die Navigation wechselst du zu anderen Ansichten des Katalogs.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-search  "></i></span> <strong>Übersicht</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wechsele zurück zur Katalogübersicht, also zu der Liste der Kataloge.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><span class="icon darkGrey"><i class="fa fa-plus  "></i></span> Katalog erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erstelle einen neuen Katalog.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Liste geöffneter Kataloge</em></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In der Navigation werden alle Kataloge gelistet, die du in deiner aktuellen Sitzung geöffnet hast. So kannst du schnell zwischen den Katalogen wechseln, die du aktuell bearbeitest. Der gerade angezeigt Katalog wird blau dargestellt, die anderen Kataloge in grau.<br>
<strong><em>Tipp:</em></strong> Falls dich die Liste nervt oder sie zu lang wird, zeige mit der Maus auf den Eintrag in der Liste. Dadurch wird ein X eingeblendet. Klicke auf dieses X, um den Katalog zu schließen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-cog  "></i></span> Einstellungen</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Rufe die Katalogeinstellungen auf.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Grundeinstellungen = Name und Formattyp des Katalogs. Diese Daten gibst du beim Erstellen des Katalogs an.</p>
</li>
<li>
<p>Formateinstellungen = Einstellungen zum Aufbau der Exportdatei</p>
</li>
<li>
<p>Exporteinstellungen = Einstellungen für automatischen Export</p>
</li>
<li>
<p>Download-Einstellungen = Einstellungen für die URL, über die die Exportdatei aufgerufen werden kann</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_return_create_edit"></i></span> <strong>Datenfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wird beim Öffnen des Katalogs angezeigt. Hier wählst du die Datenfelder, die du exportieren möchtest.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-filter_alt"></i></span> Filter</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Setze Filter, um nur bestimmte Daten zu exportieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">(<span class="icon "><i class="psicon-order_return_create_edit"></i></span>) Eigene Datenfelder</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eigene Datenfelder sind für die meisten Exporte noch nicht verfügbar.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Symbolleiste</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In der Symbolleiste kannst du für den Katalog relevante Aktionen durchführen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 83.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-save  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Speichert die Einstellungen des Katalogs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-preview"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erstellt eine Vorschau der Exportdaten. Die Vorschau enthält die ersten 5 Datenzeilen der Exportdatei.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="psicon-download"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Startet den manuellen Download der Katalogdaten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-more_vert"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Blende weitere Aktionen ein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon darkGrey"><i class="fa fa-restore  "></i></span> = Stellt eine ältere Version des Katalogs wieder her.</p>
</li>
<li>
<p><span class="icon "><i class="material-delete"></i></span> = Löscht den Katalog.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Datenfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Rechts neben der Navigation sind alle plentymarkets Datenfelder in Gruppen sortiert aufgelistet, die du exportieren kannst. Klicke auf das Plus rechts neben einem Datenfeld, um dieses Datenfeld zum Export hinzuzufügen.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipps:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Über das Feld <strong>Datenfeld suchen</strong> kannst du schnell Datenfelder finden und hinzufügen.</p>
</li>
<li>
<p>Zusätzlich zu den Datenfeldern kannst du auch <a href="/daten/daten-exportieren/kataloge-verwalten#164">eigene Werte</a> zum Export hinzufügen. Für jeden Datensatz wird dann derselbe Wert exportiert.</p>
</li>
<li>
<p>Nutze die Option <a href="/daten/daten-exportieren/kataloge-verwalten#mathematische-berechnungen">Formel</a>, um bestimmte Daten während des Exports zu aktualisieren. So kannst du zum Beispiel alle exportierten Artikelpreise schon beim Export bearbeiten.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewählte Datenfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Rechts werden die Datenfelder angezeigt, die du zum Export hinzugefügt hast.
Solange du noch keine Felder gewählt hast, steht hier "Es wurden keine Datenfelder ausgewählt". Im Screenshot wurden schon ein paar Felder gewählt.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipps:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du kannst die Datenfelder per <a href="/daten/daten-exportieren/kataloge-verwalten#165">Drag-and-drop</a> verschieben, um die Reihenfolge der Daten im Export anzupassen.</p>
</li>
<li>
<p>Du kannst den <a href="/daten/daten-exportieren/kataloge-verwalten#162">Export key</a> anpassen. Die "Export Keys" sind die Namen der Spaltenüberschriften, die in deiner Exportdatei erscheinen werden. Jeder "Export Key" muss eindeutig sein.</p>
</li>
<li>
<p>Du kannst <a href="/daten/daten-exportieren/kataloge-verwalten#160">Ausweich-Datenfelder</a> hinzufügen. Wenn das Datenfeld leer oder ungültig ist, wird das erste Ausweich-Datenfeld geprüft und stattdessen dieser Wert exportiert.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="create-catalogue">2. Katalog erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast dir einen ersten Eindruck vom Katalogmenü gemacht. Jetzt kann es losgehen: Du erstellst deinen ersten Katalog!</p>
</div>
<div class="paragraph instruction">
<p>Katalog erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Katalog erstellen</strong> (<span class="icon "><i class="material-add"></i></span>).<br>
→ Eine neue Ansicht wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-grundeinstellungen-standard">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="material-save"></i></span>) die Einstellungen.<br>
→ Der Katalog wird erstellt.<br>
→ Das Tab <strong>Einstellungen</strong> (<span class="icon "><i class="material-settings"></i></span>) wird geöffnet.</p>
</li>
</ol>
</div>
<table id="tabelle-grundeinstellungen-standard" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Katalog erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong><br>
(Pflichtfeld)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für den Katalog ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export-Typ</strong><br>
(Pflichtfeld)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option <strong>Standardformat</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format-Typ</strong><br>
(Pflichtfeld)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Format-Typ aus der Dropdown-Liste. Mit dem Format-Typ legst du fest, welche Arten von Daten exportiert werden.<br>
 <strong><em>Hinweis</em></strong>: Zurzeit sind die Formate <a href="/daten/daten-exportieren/katalog-hersteller">Hersteller</a>, <strong>Newsletter-Empfänger</strong>, <a href="/daten/daten-exportieren/katalog-auftraege">Auftrag</a>, <a href="/daten/daten-exportieren/katalog-bestellungen">Bestellung</a>, <a href="/daten/daten-exportieren/katalog-artikel">Artikel (Neu)</a>, <a href="/daten/daten-exportieren/katalog-warenbewegungen">Warenbewegungen</a> und <a href="/daten/daten-exportieren/katalog-warenbestaende">Warenbestände</a> verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong><br>
(Pflichtfeld)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Format aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Zurzeit gibt es pro Format-Typ nur ein Format. Wähle also einfach die Option aus der Dropdown-Liste, die angezeigt wird.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="catalogue-settings">3. Katalogeinstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jetzt passt du den Katalog an deine Anforderungen an. Die Informationen in diesem Kapitel sind so aufgebaut:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#140">Formateinstellungen vornehmen</a></p>
</li>
<li>
<p><a href="#150">Exporteinstellungen vornehmen</a></p>
</li>
<li>
<p><a href="#290">URL für Download generieren</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="format-settings">3.1. Formateinstellungen vornehmen</h3>
<div class="paragraph">
<p>Mit den Formateinstellungen legst du fest, in welches Dateiformat die Daten exportiert werden und wie die Exportdatei aufgebaut sein soll.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Der Katalog wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Navigation links auf das Tab <strong>Einstellungen</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Die Einstellungsmöglichkeiten werden angezeigt.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Formateinstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-formateinstellungen-standard">Tabelle 2</a>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="material-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-formateinstellungen-standard" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Formateinstellungen vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Dateinamen ein. Mit diesem Namen wird die exportierte Datei gespeichert.<br>
<strong><em>Tipp:</em></strong> Die Dateiendung wird beim Export automatisch ergänzt.
Gib deshalb den Dateinamen ohne eine Dateiendung an.
Dateiendungen sind zum Beispiel <code>.csv</code> oder <code>.txt</code>.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Verwende Platzhalter, um beim Export automatisch weitere Informationen zum Dateinamen hinzuzufügen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Liste der verfügbaren Platzhalter</div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Platzhalter sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$$name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Katalogname wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export-Typ wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Format-Typ wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$timestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$datetime</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$year</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jahr des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$month</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Monat des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$day</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$hour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stunde des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$minute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minute des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$second</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sekunde des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="paragraph">
<p><strong><em>Beispiele für die Verwendung von Platzhaltern:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eingabe 1: <code>artikel-export_$year_$month_$day</code></p>
</li>
<li>
<p>Ergebnis 1: <code>artikel-export_2022_01_02.csv</code></p>
</li>
</ul>
</div>
<hr>
<div class="ulist">
<ul>
<li>
<p>Eingabe 2: <code>$type_$format_$year_$month_$day</code></p>
</li>
<li>
<p>Ergebnis 2:</p>
<div class="ulist">
<ul>
<li>
<p><code>bestellung_bestellung_2022_01_02.csv</code><br></p>
</li>
<li>
<p><code>rewe_fashion_2020_10_25.csv</code></p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In welchem Dateiformat sollen die Daten exportiert werden?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>CSV</p>
</li>
<li>
<p>TXT</p>
</li>
<li>
<p>JSON</p>
</li>
<li>
<p>XML</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feldtrennzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches Feldtrennzeichen soll verwendet werden, um die einzelnen Datensätze voneinander zu trennen?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Komma = ,</p>
</li>
<li>
<p>Semikolon = ;</p>
</li>
<li>
<p>Pipe = |</p>
</li>
<li>
<p>Tabulator = ␉</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Textbegrenzer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welcher Textbegrenzer soll verwendet werden, um die einzelnen Datensätze voneinander zu trennen?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>"</p>
</li>
<li>
<p>'</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dezimaltrennzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches Zeichen soll verwendet werden, um Dezimalwerte darzustellen?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Komma = Standard im deutschsprachigen Raum, zum Beispiel <code>20,00 Euro</code></p>
</li>
<li>
<p>Punkt = Standard im englischsprachigen Raum, zum Beispiel <code>20.00 Euro</code></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeilenumbruch</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie sollen Zeilenumbrüche in den Dateien abgebildet werden?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wagenrücklauf</p>
</li>
<li>
<p>Zeilenvorschub</p>
</li>
<li>
<p>Wagenrücklauf und Zeilenvorschub</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kopfzeile enthalten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktiviere die Option, wenn die Exportdatei eine Kopfzeile enthalten soll.
Als Überschrift werden die Export Keys verwendet.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="export-settings">3.2. Exporteinstellungen vornehmen</h3>
<div class="paragraph">
<p>Mit den Exporteinstellungen legst du fest, wo deine Exportdatei gespeichert wird.</p>
</div>
<div class="paragraph instruction">
<p>Exporteinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf den Katalog, für den du die Exporteinstellungen vornehmen möchtest.<br>
→ Der Katalog wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Navigation links auf das Tab <strong>Einstellungen</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Die Einstellungsmöglichkeiten werden angezeigt.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Exporteinstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-exporteinstellungen-standard">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="material-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-exporteinstellungen-standard" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Exporteinstellungen vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie viele Datensätze sollen pro Datei maximal exportiert werden?</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wo soll der Export gespeichert werden?<br>
<strong><em>Wichtig:</em></strong> Mit dieser Einstellung werden keine Daten an Marktplätze exportiert.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Keine</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Export wird nicht gespeichert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Export wird auf einem FTP-Server gespeichert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SFTP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Export wird auf einem SFTP-Server gespeichert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTPS</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Export wird auf einem FTPS-Server gespeichert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin-Bereich</strong><br>
(coming soon)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Es bleibt spannend.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server</strong><br>
(bei FTP, SFTP, FTPS)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den Server ein, auf dem der Export gespeichert werden soll.<br>
<strong><em>Empfehlung:</em></strong> Gib kein Protokoll-Präfix an.
Protokoll-Präfixe sind zum Beispiel <code>ftp://</code> und <code>ftps://</code>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong><br>
(bei FTP, SFTP, FTPS)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Port ein oder verwende die Standardeinstellung.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Empfohlene Port-Einstellungen:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Für FTP und FTPS = Port 21</p>
</li>
<li>
<p>Für SFTP = Port 22</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong><br>
(bei FTP, SFTP, FTPS)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den Benutzernamen für den Server ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong><br>
(bei FTP, SFTP, FTPS)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib das Passwort für den Server ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pfad</strong><br>
(bei FTP, SFTP, FTPS)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den Pfad zu dem Speicherort ein, an dem der Export gespeichert werden soll.<br>
<strong><em>Hinweis</em></strong>: Wenn du SFTP verwendest, gib den vollständigen Pfad an.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Übertragung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wann soll ein Export gestartet werden?</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es werden keine Daten exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle 20 Minuten</strong>;<br>
<strong>Stündlich</strong>;<br>
<strong>Täglich</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der aktuelle Stand wird im gewählten Intervall exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitplan</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Option <strong>Zeitplan</strong> wird eingeblendet.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitplan</strong><br>
(bei Option <strong>Zeitplan</strong>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Klicke in das Feld. Wähle in der eingeblendeten Dropdown-Liste einen oder mehrere Zeitpunkte, zu denen ein Export gestartet werden soll.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="download-settings">3.3. Download-Einstellungen vornehmen</h3>
<div class="paragraph">
<p>In den <strong>Download-Einstellungen</strong> des Katalogs kannst du eine URL generieren. Über diese URL kannst du direkt auf die Exportdatei zugreifen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Über den Admin-Link kannst du nur auf die exportierte Datei zugegriffen, wenn du gerade als Admin im plentymarkets System eingeloggt bist.</p>
</li>
<li>
<p>Bei öffentlichen Links kannst du die Datei durch ein Hash und/oder einen Token vor unlauterem Zugriff schützen.</p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Die Exportdatei ist erst nach dem ersten Export unter der URL erreichbar. Außerdem muss der Katalog aktiv sein, damit eine Exportdatei erstellt wird.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Download-Einstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle den Katalog.<br>
→ Der Katalog wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Navigation links auf <strong>Einstellungen</strong> (<span class="icon "><i class="material-settings"></i></span>).</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Download-Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte die Erläuterungen in <a href="#tabelle-url-generieren">Tabelle 4</a>.</p>
</li>
<li>
<p>Speichere die Einstellungen.<br>
→ Die URL für den Download der Datei wird angezeigt. Über diese URL ist der Export verfügbar, nachdem der erste Export abgeschlossen ist.<br>
→ Im Menü wird immer die URL der zuletzt exportierten Datei angezeigt.</p>
</li>
<li>
<p>Klicke auf die URL oder kopiere die URL (<span class="icon "><i class="material-content_copy"></i></span>), um sie zu verwenden.</p>
</li>
</ol>
</div>
<table id="tabelle-url-generieren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. URL generieren</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle den Mandanten, dessen Domain-Name für die URL verwendet werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benachrichtigungen erhalten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, um rechts oben im System eine Benachrichtigung anzuzeigen, wenn der Export abgeschlossen ist.</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/daten/assets/katalog-export.png" alt="katalog export"></span></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Optionen für Admin-Link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hash verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, ob ein Hash verwendet werden soll.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird kein Hash verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-on  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei jeder Änderung am Katalog wird eine neue URL mit Hash-Schlüssel erstellt. Das Hash steht also für die für den Katalogexport relevanten Einstellungen. Wenn diese Einstellungen geändert werden, ändert sich das Hash und alle zukünftigen URL enthalten das neue Hash. Ältere URL sind ab dem letzten Export mit diesem Hash für 15 Tage gültig.<br>
<strong><em>Tipp:</em></strong> Aktiviere die Option nicht, wenn die aktuellste Exportdatei immer über dieselbe URL verfügbar sein soll.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Optionen für Admin-Link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin-Link</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Für jede Datei wird automatisch ein Admin-Link erstellt. Über diesen Admin-Link ist die exportierte Datei aber nur erreichbar, wenn du gerade als Admin im plentymarkets System eingeloggt bist.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Klicke auf das Symbol rechts (<span class="icon "><i class="material-content_copy"></i></span>), um die URL in deine Zwischenablage zu kopieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Optionen für öffentlichen Link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Optionen aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird kein öffentlicher Link erstellt. Die Optionen <strong>Hash verwenden</strong> und <strong>Token verwenden</strong> sind nicht wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-on  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird ein öffentlicher Link erstellt. Nach dem ersten Export ist die Datei über diesen Link für alle verfügbar, die den Link kennen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Klicke in der Zeile <strong>Öffentlicher Link</strong> auf das Symbol ganz rechts (<span class="icon "><i class="material-content_copy"></i></span>), um die URL in deine Zwischenablage zu kopieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hash verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, ob ein Hash verwendet werden soll.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird kein Hash verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-on  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei jeder Änderung am Katalog wird eine neue URL mit Hash-Schlüssel erstellt. Das Hash steht also für die für den Katalogexport relevanten Einstellungen. Wenn diese Einstellungen geändert werden, ändert sich das Hash und alle zukünftigen URL enthalten das neue Hash. Ältere URL sind ab dem letzten Export mit diesem Hash für 15 Tage gültig.<br>
<strong><em>Tipp:</em></strong> Aktiviere die Option nicht, wenn die aktuellste Exportdatei immer über dieselbe URL verfügbar sein soll.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird kein Token generiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-on  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Download-URL wird mit einem Token versehen. Die Datei ist dann nur erreichbar, wenn der aktuelle Token bekannt ist.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sicherheits-Token generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Auf das Symbol rechts (<span class="icon "><i class="fa fa-rotate-left  "></i></span>) klicken, um einen neuen Token zu generieren.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Der Token wird als Bestandteil der URL zum öffentlichen Link hinzugefügt. Wenn du die URL kopierst, kopierst du also gleichzeitig den Token. Wenn du einen neuen Token generierst, ändert sich auch die URL.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Öffentlicher Link</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zeigt den öffentlichen Link an. Ab dem ersten Export ist die Datei über diesen Link für alle verfügbar, die den Link kennen.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Klicke in der Zeile <strong>Öffentlicher Link</strong> auf das Symbol ganz rechts (<span class="icon "><i class="material-content_copy"></i></span>), um die URL in deine Zwischenablage zu kopieren.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="data-export">4. Daten für Export zusammenstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lege nun fest, welche plentymarkets Daten mit diesem Katalog exportiert werden sollen.</p>
</div>
<div class="paragraph">
<p>Die Informationen in diesem Kapitel sind so aufgebaut:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#add-fields">Datenfelder zu Export hinzufügen</a></p>
</li>
<li>
<p><a href="#delete-fields">Datenfelder aus Export entfernen</a></p>
</li>
<li>
<p><a href="#filter-data">Exportdaten filtern</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="add-fields">4.1. Datenfelder zu Export hinzufügen</h3>
<div class="paragraph">
<p>Nun entscheidest du, welche Datenfelder aus plentymarkets mit dem Katalog exportiert werden sollen. Optional kannst du für jedes Datenfeld auch ein oder mehrere Ausweich-Datenfelder wählen. Ist ein Wert im System nicht vorhanden, wird dann stattdessen der Wert des Ausweich-Datenfelds exportiert.</p>
</div>
<div class="paragraph instruction">
<p>Datenfelder zum Export hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Das Tab <strong>Datenfelder</strong> (<span class="icon "><i class="psicon-order_return_create_edit"></i></span>) wird geöffnet.<br>
→ Die verfügbaren plentymarkets Datenfelder werden in Gruppen angezeigt.</p>
</li>
<li>
<p>Klappe eine Gruppe auf, um die verfügbaren Datenfelder anzuzeigen.<br>
→ Die Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten Datenfeld auf das Plus.<br>
<strong><em>Tipp:</em></strong> Gib alternativ den Namen des Datenfelds in das Suchfeld ein. Wähle das Datenfeld aus den Suchergebnissen.<br>
→ Das Datenfeld wird zum Export hinzugefügt.<br></p>
</li>
<li>
<p>Prüfe, ob der Export Key deinen Anforderungen entspricht.<br></p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Was ist ein Export Key?</em></strong><br>
Der "Export Key" ist der Name der Spaltenüberschrift, der in deiner Exportdatei erscheinen wird. Jeder "Export Key" muss eindeutig sein. Export Keys dürfen keine Leerzeichen enthalten.<br>
<strong><em>Wichtig:</em></strong> Wenn mehrere Datenfelder denselben Export Key haben, wird nur eines der Datenfelder exportiert.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Füge alle gewünschten Datenfelder hinzu.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="material-save"></i></span>) die Einstellungen.<br>
→ Die Datenfelder werden exportiert.<br>
<strong><em>Tipp:</em></strong> In den Info-Boxen unter dieser Beschreibung findest du Informationen zu komplexeren Exportmöglichkeiten.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Optional:</em> Ausweich-Datenfelder hinzufügen</div>
<div class="content">
<div class="paragraph">
<p>Mit Ausweich-Datenfeldern legst du fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass das gewählte plentymarkets Datenfeld exportiert wird.</p>
</li>
<li>
<p>Wenn dieses Datenfeld für einen Datensatz leer oder ungültig ist, wird das erste Ausweich-Datenfeld geprüft und stattdessen dieser Wert exportiert.</p>
</li>
<li>
<p>Wenn auch das erste Ausweich-Datenfeld leer oder ungültig ist, wird das zweite Ausweich-Datenfeld geprüft und stattdessen dieser Wert exportiert usw.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Ausweich-Datenfeld hinzufügen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Ausgangssituation:</em></strong><br>
Du hast ein Datenfeld zum Export hinzugefügt. Für dieses Datenfeld möchtest du eine Alternative angeben für den Fall, dass das Datenfeld für einen Datensatz leer oder ungültig ist.</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke unterhalb des Datenfelds auf <strong>+ Ausweich-Datenfeld hinzufügen</strong>.<br>
→ Der Bearbeitungsmodus wird geöffnet.</p>
</li>
<li>
<p>Klicke rechts auf die gewünschte Gruppe, um die plentymarkets Datenfelder auszuklappen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird als Ausweich-Datenfeld in das Feld rechts eingefügt.<br>
→ Das Ausweich-Datenfeld wird exportiert, wenn das erste Datenfeld nicht vorhanden oder leer ist.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Beachte die folgende Logik für Ausweich-Datenfelder:</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auch wenn du ein oder mehrere Ausweich-Datenfelder zuordnest, wird für jeden Datensatz nur ein Wert exportiert.</p>
</li>
<li>
<p>Für jeden Datensatz werden die Datenfelder in der Reihenfolge geprüft, in der sie zugeordnet wurden. Wenn also das erste Datenfeld keinen Wert liefert, wird das erste Ausweich-Datenfeld exportiert usw.</p>
</li>
<li>
<p><strong><em>Tipp:</em></strong> Du kannst auch <strong>Eigener Wert</strong> als Ausweich-Datenfeld hinzufügen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Im folgenden GIF ist das Standardformat <strong>Hersteller</strong> zu sehen. Das Datenfeld <strong>Hersteller &gt; Externer Name</strong> soll exportiert werden. Falls aber für einen Hersteller kein externer Name gespeichert ist, soll stattdessen der <strong>Interne Name</strong> exportiert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/gif-standardformate-ausweich.gif" alt="gif standardformate ausweich" width="600">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Optional:</em> Eigenen Wert exportieren</div>
<div class="content">
<div class="paragraph">
<p>Mit einem Datenfeld <strong>Eigener Wert</strong> legst du fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Für eine Spalte deiner Exportdatei wird für alle Datensätze des Katalogs derselbe Wert exportiert.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Eigenen Wert exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke in der Liste der Datenfelder auf <strong>Eigener Wert</strong>.<br>
→ Das Datenfeld für den eigenen Wert wird zum Export hinzugefügt.</p>
</li>
<li>
<p>Prüfe den Export Key. Eigene Werte erhalten immer den Export Key <strong>own-value</strong>. Gerade wenn du mehrere eigene Werte exportieren willst, solltest du deshalb den Export Key anpassen.<br>
<strong><em>Wichtig:</em></strong> Wenn mehrere Datenfelder denselben Export Key haben, wird nur ein Datenfeld exportiert.</p>
</li>
<li>
<p>Gib einen Wert in das Eingabefeld <strong>Wert</strong> ein.<br>
→ Dieser Wert wird für alle Datensätze exportiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im folgenden GIF ist das Standardformat <strong>Warenbestände</strong> zu sehen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du möchtest in der Exportdatei auch eine Spalte mit deinem Firmennamen exportieren.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/gif-standardformate-own-value.gif" alt="gif standardformate own value" width="600">
</div>
</div>
<div class="paragraph">
<p>Ergebnis in der Exportdatei:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Jeder exportierte Datensatz hat eine Zelle, in dem dein Firmenname steht:</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/ergebnis-export-companyname.png" alt="ergebnis export companyname">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Optional:</em> Mehrere Datenfelder kombinieren</div>
<div class="content">
<div class="paragraph">
<p>Wenn du Datenfelder kombinierst, legst du fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Datenfelder sollen beim Export kombiniert werden.</p>
</li>
<li>
<p>Die Werte der Datenfelder werden in dieselbe Spalte der Exportdatei eingefügt.</p>
</li>
<li>
<p>Welches Zeichen zwischen den Werten eingefügt wird, legst du mit der Option <strong>Trennzeichen</strong> fest.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Mehrere Datenfelder kombinieren:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Ausgangssituation:</em></strong><br>
Du hast schon ein Datenfeld zum Export hinzugefügt. Dieses Datenfeld möchtest du mit einem weiteren Datenfeld kombinieren.</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ Der Bearbeitungsmodus wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Liste der Datenfelder neben dem gewünschten Datenfeld auf das Plus.<br>
→ Das Datenfeld wird rechts neben dem ersten Datenfeld hinzugefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.<br></p>
</li>
<li>
<p>Klicke ganz rechts in der Zeile auf <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Trennzeichen</strong> ein Trennzeichen oder lege ein eigenes Trennzeichen fest.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) den Katalog.<br>
→ Die Einstellungen werden gespeichert.<br>
→ Der Inhalt der Datenfelder wird kombiniert in dieselbe Spalte exportiert.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>Im folgenden GIF ist das Standardformat <strong>Hersteller</strong> zu sehen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Statt die Datenfelder <strong>Strasse</strong> und <strong>Hausnummer</strong> in zwei verschiedenen Spalten zu exportieren, werden die Datenfelder hier in einer Spalte kombiniert.</p>
</li>
<li>
<p>Als Trennzeichen wählst du ein Leerzeichen.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/gif-standardformate-combination.gif" alt="gif standardformate combination" width="600">
</div>
</div>
<div class="paragraph">
<p>Ergebnis in der Exportdatei:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/ergebnis-export-street.png" alt="ergebnis export street">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Optional:</em> Reihenfolge der Datenfelder ändern</div>
<div class="content">
<div class="paragraph">
<p>In der Exportdatei werden die Datenfelder in derselben Reihenfolge angezeigt wie in der Katalogliste. Die erste Spalte einer CSV-Datei enthält also die Daten des Datenfelds, das ganz oben im Katalog steht und so weiter.</p>
</div>
<div class="paragraph">
<p>Um die Reihenfolge der Daten in der Exportdatei anpassen, kannst du entweder einzelne Datenfelder oder ganze Zeilen verschieben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Um ein einzelnes Datenfeld zu verschieben: Zeige mit der Maus auf das Datenfeld und ziehe es mit gedrückter Maustaste an die gewünschte Postion.</p>
</li>
<li>
<p>Um eine ganze Zeile zu verschieben: Klicke auf das Symbol (<span class="icon "><i class="material-drag_indicator"></i></span>) am linken Rand und ziehe die Zeile mit gedrückter Maustaste an die neue Position.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Optional:</em> Zahlenwerte beim Export neu berechnen</div>
<div class="content">
<div class="paragraph">
<p>Mit mathematischen Berechnungen passt du Werte während des Exports automatisch an.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Diese Funktion funktioniert nur bei Datenfeldern, die Zahlenwerte enthalten.</p>
</li>
<li>
<p>Diese Funktion ist neu und wurde noch nicht für alle Formate implementiert.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Zahlenwerte beim Export neu berechnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Öffne den Katalog.<br>
→ Das Tab <strong>Datenfelder</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Liste der Datenfelder rechts neben <strong>Formel</strong> (<span class="icon "><i class="material-calculate"></i></span>) auf das Plus.<br>
→ Das Feld <strong>Formel</strong> wird zur Ansicht rechts hinzugefügt.</p>
</li>
<li>
<p>Klicke auf das Feld <strong>Formel</strong>.<br>
→ Das Fenster <strong>Wert ändern</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle ein Dezimaltrennzeichen aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle unten rechts ein Datenfeld, um es zur Berechnung hinzuzufügen (<span class="icon "><i class="material-add"></i></span>).<br>
<strong><em>Tipp:</em></strong> Nutze die Suche, um Datenfelder schnell zu finden.<br>
→ Das Datenfeld wird zur Formel hinzugefügt.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wenn im Datenfeld das Symbol <span class="icon "><i class="material-more_vert"></i></span> angezeigt wird, wähle die korrekte Zuweisung für das Datenfeld.<br>
<strong><em>Tipp:</em></strong> Eine Zahl zeigt an, wie viele Zuweisungen für das Datenfeld vorgenommen werden müssen.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke auf das Symbol <span class="icon "><i class="material-more_vert"></i></span>.<br></p>
</li>
<li>
<p>Wähle im angezeigten Fenster die gewünschten Zuweisungen aus den Dropdown-Listen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Gib Zahlen und mathematische Operatoren entweder mit dem angezeigten Taschenrechner oder über die Tastatur ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die eingefügte Formel wird in der Ansicht angezeigt.<br>
<strong><em>Tipp:</em></strong> Wenn für das Format eine Vorschau verfügbar ist, prüfe das Ergebnis über die Vorschaufunktion (<span class="icon "><i class="material-preview"></i></span>).<br>
→ Die Berechnung wird beim nächsten Export durchgeführt.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="delete-fields">4.2. Datenfelder aus Export entfernen</h3>
<div class="paragraph">
<p>Im Tab <strong>Datenfelder</strong> eines Katalogs mit Standardformat kannst du einzelne oder auch mehrere Datenfelder gleichzeitig entfernen.</p>
</div>
<div class="paragraph instruction">
<p>Datenfelder aus Export entfernen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Öffne einen Katalog mit Standardformat.<br>
→ Das Tab <strong>Datenfelder</strong> (<span class="icon "><i class="psicon-order_return_create_edit"></i></span>) mit allen verfügbaren Datenfeldern wird geöffnet.</p>
</li>
<li>
<p>Klicke rechts neben dem Datenfeld, das du entfernen möchtest, auf die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Datenfeld löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Das Datenfeld wird entfernt.<br>
<strong><em>Oder</em></strong>: Möchtest du eine komplette Zeile entfernen, klicke rechts in der Zeile auf <strong>Datenzeile löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Die komplette Zeile wird entfernt.<br>
<strong><em>Oder</em></strong>: Setze links einen Haken für alle mit Datenfeldern gefüllten Zeilen, die du entfernen möchtest. Klicke dann rechts oben auf <strong>Gewählte Datenfelder löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Alle gewählten Datenfelder werden entfernen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="filter-data">4.3. Exportdaten filtern</h3>
<div class="paragraph">
<p>Mit Filtern kannst du die Daten eingrenzen, die exportiert werden sollen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Je nach Standardformat sind unterschiedliche Filter verfügbar. Die verfügbaren Filter sind auf den Handbuchseiten der einzelnen Standardformate erklärt.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Filter hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Öffne den Katalog.</p>
</li>
<li>
<p>Klicke in der Navigation links auf <strong>Filter</strong> (<span class="icon "><i class="material-filter_alt"></i></span>).<br>
→ Die Filter-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Filter aus der Dropdown-Liste.<br>
<strong><em>Tipp:</em></strong> Je nach Standardformat sind unterschiedliche Filter verfügbar.</p>
</li>
<li>
<p>Klicke rechts auf <strong>Filter hinzufügen</strong> (<span class="icon "><i class="material-add"></i></span>).<br>
→ Der Filter wird hinzugefügt.</p>
</li>
<li>
<p>Wenn für den Filter ein Operator verfügbar ist:</p>
<div class="ulist">
<ul>
<li>
<p>Wähle einen Operator aus der Dropdown-Liste.</p>
</li>
<li>
<p>Gibt einen Wert in das Feld daneben ein.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Speichere (<span class="icon "><i class="material-save"></i></span>) die Einstellungen.<br>
→ Der Filter wird gespeichert.</p>
</li>
<li>
<p>Füge bei Bedarf weitere Filter hinzu.<br>
→ Nur die Daten werden exportiert, auf die die Filter zutreffen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="export-data">5. Katalogdaten exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast mehrere Möglichkeiten, die Katalogdaten zu exportieren:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#preview">Eine Vorschau der ersten 5 Datenzeilen exportieren</a></p>
</li>
<li>
<p><a href="#activate-catalogue">Die Daten regelmäßig automatisch exportieren</a></p>
</li>
<li>
<p><a href="#manual-export">Einmaligen Export manuell starten</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="preview">5.1. Exportvorschau erstellen</h3>
<div class="paragraph">
<p>Nachdem du Datenfelder für den Export gewählt hast, kannst du den Katalogexport über die Vorschaufunktion testen. Mit dieser Vorschaufunktion lädst du die ersten 5 Datenzeilen der Datei herunter.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Vorschaufunktion ist nicht für alle Katalog-Formate verfügbar.</p>
</li>
</ul>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="vorschau-im-katalog-erstellen-tab" data-toggle="tab" href="#vorschau-im-katalog-erstellen" role="tab" aria-controls="vorschau-im-katalog-erstellen" aria-selected="true">Vorschau im Katalog erstellen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="vorschau-in-katalog-bersicht-erstellen-tab" data-toggle="tab" href="#vorschau-in-katalog-bersicht-erstellen" role="tab" aria-controls="vorschau-in-katalog-bersicht-erstellen" aria-selected="false">Vorschau in Katalogübersicht erstellen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="vorschau-im-katalog-erstellen" role="tabpanel" aria-labelledby="vorschau-im-katalog-erstellen-tab">
<div class="paragraph instruction">
<p>Vorschau im Katalog erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Öffne den Katalog.</p>
</li>
<li>
<p>Klicke oben in der Symbolleiste auf <strong>Vorschau</strong> (<span class="icon "><i class="material-preview"></i></span>).<br>
→ Im Fenster <strong>Vorschau</strong> wird eine Vorschau der ersten 5 Datenzeilen des Exports angezeigt.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Klicke auf <strong>Daten herunterladen</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ Eine CSV-Datei mit den ersten 5 Datenzeilen kann auf deinem Rechner gespeichert werden.</p>
</li>
</ol>
</div>
<hr>
</div><div class="tab-pane fade" id="vorschau-in-katalog-bersicht-erstellen" role="tabpanel" aria-labelledby="vorschau-in-katalog-bersicht-erstellen-tab">
<div class="paragraph">
<p>Du kannst die Vorschau auch über die Liste der Kataloge erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Vorschau in Katalogübersicht erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Navigiere zur Zeile des Katalogs.</p>
</li>
<li>
<p>Öffne die weiteren Aktionen (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>) in der Zeile des Katalogs.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong> (<span class="icon "><i class="material-preview"></i></span>).<br>
→ Im Fenster <strong>Vorschau</strong> wird eine Vorschau der ersten 5 Datenzeilen des Exports angezeigt.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Klicke auf <strong>Daten herunterladen</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ Eine CSV-Datei mit den ersten 5 Datenzeilen kann auf deinem Rechner gespeichert werden.</p>
</li>
</ol>
</div>
<hr>
</div></div>
</div>
<div class="sect2">
<h3 id="activate-catalogue">5.2. Automatischen Katalogexport aktivieren</h3>
<div class="paragraph">
<p>Du hast alle Datenfelder hinzugefügt, die deine Exportdatei enthalten soll? Dann aktiviere jetzt den Export.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Stelle sicher, dass du alle nötigen Exporteinstellungen vorgenommen hast. Sonst werden keine Daten exportiert.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Automatischen Katalogexport aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Scrolle zum Katalog.</p>
</li>
<li>
<p>Schiebe in der Spalte <strong>Aktiv/Inaktiv</strong> die Umschaltfläche nach rechts (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ Der Katalog wird aktiviert.<br>
→ Die Daten werden zu dem Speicherort und in dem Intervall exportiert, die du in den Katalogeinstellungen festgelegt hast.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="manual-export">5.3. Manuellen Export in Katalog starten</h3>
<div class="paragraph">
<p>Du hast mindestens ein Datenfeld für den Export hinzugefügt? Dann kannst du einen manuellen Export des Katalogs starten. Sobald der Export abgeschlossen ist, kannst du die Exportdatei über die Notifications herunterladen.</p>
</div>
<div class="paragraph">
<p>In welchem Format die Daten exportiert werden, legst du in den Formateinstellungen des Katalogs fest. Zurzeit kannst du Daten in den Formaten CSV, TXT, JSON und XML herunterladen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Wenn du auf <strong>Daten herunterladen</strong> klickst, wird der Exportvorgang gestartet. Es wird aber <em>kein</em> Fenster angezeigt, über das du die Datei sofort herunterladen kannst. Erst wenn der Exportvorgang abgeschlossen ist, kannst du die Exportdatei über die Notifications herunterladen.
</td>
</tr>
</tbody></table>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manuellen-export-im-katalog-starten-tab" data-toggle="tab" href="#manuellen-export-im-katalog-starten" role="tab" aria-controls="manuellen-export-im-katalog-starten" aria-selected="true">Manuellen Export im Katalog starten</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="manuellen-export-in-katalog-bersicht-starten-tab" data-toggle="tab" href="#manuellen-export-in-katalog-bersicht-starten" role="tab" aria-controls="manuellen-export-in-katalog-bersicht-starten" aria-selected="false">Manuellen Export in Katalogübersicht starten</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manuellen-export-im-katalog-starten" role="tabpanel" aria-labelledby="manuellen-export-im-katalog-starten-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Öffne den Katalog.</p>
</li>
<li>
<p>Klicke in der Symbolleiste oben auf <strong>Daten herunterladen</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ Der Export wird gestartet.<br>
<strong><em>Wichtig:</em></strong> Der Export läuft im Hintergrund. Es wird <em>kein</em> Fenster angezeigt, über das du die Datei sofort herunterladen kannst. Auch der Export kleiner Datenmengen dauert ca. 30 Minuten.</p>
</li>
<li>
<p>Wenn der Export abgeschlossen ist, wirst in den Notifications (<span class="icon "><i class="material-notifications_none"></i></span>) angezeigt, dass die Exportdatei heruntergeladen werden kann.</p>
</li>
<li>
<p>Klicke in der Notification auf <strong>Herunterladen</strong>.</p>
</li>
<li>
<p>Speichere die Datei auf deinem Rechner.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-exportieren/kataloge-verwalten/katalog-formate/assets/katalog-export.gif" alt="katalog export">
</div>
</div>
</div><div class="tab-pane fade" id="manuellen-export-in-katalog-bersicht-starten" role="tabpanel" aria-labelledby="manuellen-export-in-katalog-bersicht-starten-tab">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-exportieren/kataloge-verwalten/katalog-formate/assets/katalog-export.gif" alt="katalog export">
</div></div>
</div>
</div>
</div><div class="sect1">
<h2 id="faq">6. Fragen und Antworten</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>Was bedeutet "Export Key"?</strong></div>
<div class="content">
<div class="paragraph">
<p>Die "Export Keys" sind die Namen der Spaltenüberschriften, die in deiner Exportdatei erscheinen werden.
Jeder "Export Key" muss eindeutig sein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Negatives Beispiel</em></strong>: Du verwendest die Datenfelder <a href="/daten/daten-exportieren/katalog-artikel#60">Artikel-ID</a> und <a href="/daten/daten-exportieren/katalog-artikel#110">Varianten-ID</a>.
Du gibst beiden "Export Keys" den Namen "id".
Dies führt dazu, dass die Exportdatei nur eine der beiden IDs enthält.
In der Exportdatei fehlt eine Spalte.</p>
</li>
<li>
<p><strong><em>Positives Beispiel</em></strong>: Du verwendest die Datenfelder <a href="/daten/daten-exportieren/katalog-artikel#60">Artikel-ID</a> und <a href="/daten/daten-exportieren/katalog-artikel#110">Varianten-ID</a>.
Du gibst einem "Export Key" den Namen "VariationID" und einem den Namen "ItemID".</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-exportieren/kataloge-verwalten/katalog-formate/assets/katalog-export-keys.png" alt="katalog export keys">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>In meiner Exportdatei fehlt eine Spalte. Warum?</strong></div>
<div class="content">
<div class="paragraph">
<p>Möglicherweise hast du mehrere Datenfelder mit demselben "Export Key".
Jeder "Export Key" muss eindeutig sein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Negatives Beispiel</em></strong>: Du verwendest die Datenfelder <a href="/daten/daten-exportieren/katalog-artikel#60">Artikel-ID</a> und <a href="/daten/daten-exportieren/katalog-artikel#110">Varianten-ID</a>.
Du gibst beiden "Export Keys" den Namen "id".
Dies führt dazu, dass die Exportdatei nur eine der beiden IDs enthält.
In der Exportdatei fehlt eine Spalte.</p>
</li>
<li>
<p><strong><em>Positives Beispiel</em></strong>: Du verwendest die Datenfelder <a href="/daten/daten-exportieren/katalog-artikel#60">Artikel-ID</a> und <a href="/daten/daten-exportieren/katalog-artikel#110">Varianten-ID</a>.
Du gibst einem "Export Key" den Namen "VariationID" und einem den Namen "ItemID".</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-exportieren/kataloge-verwalten/katalog-formate/assets/katalog-export-keys.png" alt="katalog export keys">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Es wird nur das Wort "Array" exportiert. Warum?</strong></div>
<div class="content">
<div class="paragraph">
<p>Wenn du eine Datei im CSV- oder TXT-Format exportierst, kann es passieren, dass du nur das Wort "Array" siehst, anstelle der tatsächlichen Exportwerte.
Dies geschieht z.B. beim Export mehrerer Bilder oder beim Export von Eigenschaften des Typs Mehrfachauswahl.
Dies ist ein bekanntes Problem, das in Zukunft noch behoben wird.</p>
</div>
<div class="paragraph">
<p><strong><em>Möglicher Workaround 1</em></strong>:
Würde es für dich in Frage kommen, stattdessen eine JSON- oder XML-Datei herunterzuladen?
Bei diesen Dateitypen siehst du die eigentlichen Exportwerte.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Scrolle runter zum Abschnitt <strong>Formateinstellungen</strong>.</p>
</li>
<li>
<p>Wähle JSON oder XML aus der Dropdown-Liste <strong>Format</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen und lade die Datei herunter (<span class="icon "><i class="material-file_download"></i></span>).</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Vorsicht</em></strong>: Falls du die Datei überarbeiten und dann wieder importieren willst.
Beachte, dass das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a> nur die Dateitypen CSV und TXT akzeptiert.</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Möglicher Workaround 2</em></strong>:
Exportiere die Daten stattdessen mit den Tools <a href="/daten/daten-exportieren/FormatDesigner/format-typen/artikel">FormatDesigner</a> und <a href="/daten/daten-exportieren/elastischer-export#700">Elastischer Export</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Kann ich die Datei überarbeiten und dann wieder importieren?</strong></div>
<div class="content">
<div class="paragraph">
<p>Ja.
Exportiere die Datei im CSV- oder TXT-Format.
Dann bearbeite die Datei und importiere sie erneut.
Beachte, dass das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a> nur die Dateitypen CSV und TXT akzeptiert.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Unter der Download-URL des Katalogs gibt es keine Datei. Warum?</strong></div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Ist der Katalog aktiv?</p>
</li>
<li>
<p>Wurde schon ein Export durchgeführt? Prüfe die Exporteinstellungen.</p>
</li>
<li>
<p>Hast du die richtige URL verwendet?</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Unter der Download-URL des Katalogs wird statt einer Datei "Unauthenticated." angezeigt. Warum?</strong></div>
<div class="content">
<div class="paragraph">
<p>Du hast die Admin-URL verwendet. Du bist aber nicht als Admin im plentymarkets System angemeldet.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melde dich als Admin an.</p>
</li>
<li>
<p>Generiere eine öffentliche URL. Über diese URL ist die Datei immer erreichbar.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Warum sehe ich die Kataloge nicht?</strong></div>
<div class="content">
<div class="paragraph">
<p>Personen mit <a href="/business-entscheidungen/benutzerkonten-zugaenge#10">Backend-Zugriffsrechten</a> sehen Kataloge nur, wenn ein Admin ihnen Zugriffsrechte gegeben hat.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wende dich an eine Person mit Administratorrechten für das plentymarkets-System.</p>
</li>
<li>
<p>Diese Person öffnet das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Sie öffnet dein Benutzerkonto und schaltet die Rechte frei:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Daten &gt; Datenaustausch &gt; Export &gt; Katalog &gt; Anzeigen</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wenn das Problem weiterhin besteht, wende dich an unser <a href="https://forum.plentymarkets.com/c/importexport/multichannel/445" target="_blank" rel="noopener">Support-Team im Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="manage-catalogues">7. Kataloge verwalten: löschen, kopieren etc.</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lerne in den folgenden Kapiteln, wie du vorhandene Kataloge verwaltest. Diese Informationen gelten für Marktplatz-Formate und für Standardformate.</p>
</div>
<div class="sect2">
<h3 id="catalogue-rights">7.1. Rechte für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> Kataloge sehen können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Daten &gt; Datenaustausch &gt; Export &gt; Katalog &gt; Anzeigen</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="15">7.2. Spalten der Katalog-Übersicht anpassen</h3>
<div class="paragraph">
<p>Du kannst selbst entscheiden, welche Informationen in den Tabellenspalten angezeigt werden. Gehe dafür folgendermaßen vor:</p>
</div>
<div class="paragraph instruction">
<p>Spalten der Katalog-Übersicht anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke oben rechts auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="material-sort"></i></span>) die Spalten, sodass sie in der gewünschten Reihenfolge angezeigt werden.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Einstellungen zu speichern.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">7.3. Kataloge kopieren</h3>
<div class="paragraph">
<p>Du möchtest einen gut konfigurierten Katalog nutzen, um schnell einen neuen Katalog zu erstellen? Geht!
Beim Kopieren werden zugeordnete Datenfelder übernommen - auch, wenn du das Format wechselst. Du kannst sogar eine andere Sprache für die Kopie wählen.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="einen-katalog-kopieren-tab" data-toggle="tab" href="#einen-katalog-kopieren" role="tab" aria-controls="einen-katalog-kopieren" aria-selected="true">Einen Katalog kopieren</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="mehrere-kataloge-kopieren-tab" data-toggle="tab" href="#mehrere-kataloge-kopieren" role="tab" aria-controls="mehrere-kataloge-kopieren" aria-selected="false">Mehrere Kataloge kopieren</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="einen-katalog-kopieren" role="tabpanel" aria-labelledby="einen-katalog-kopieren-tab">
<div class="paragraph instruction">
<p>Katalog kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Zeile des Katalogs auf die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Kopieren</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
<strong><em>Oder</em></strong>: Hake den Katalog an, den du kopieren möchtest.</p>
</li>
<li>
<p>Klicke oben in der Katalog-Übersicht auf <strong>Kataloge kopieren</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wenn gewünscht, passe den automatisch vergebenen Namen für die Kopie an.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle ein anderes Format aus der Dropdown-Liste. Bereits zugeordnete Datenfelder werden dabei übernommen.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle eine andere Sprache aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Kopieren</strong>.<br>
→ Der Katalog wird kopiert und in der Katalog-Übersicht angezeigt.</p>
</li>
</ol>
</div>
<hr>
</div><div class="tab-pane fade" id="mehrere-kataloge-kopieren" role="tabpanel" aria-labelledby="mehrere-kataloge-kopieren-tab">
<div class="paragraph">
<p>Du kannst auch mehrere Kataloge gleichzeitig kopieren. Allerdings ist es in diesem Fall nicht möglich, eine Formatänderung an den Katalogen vorzunehmen oder eine andere Sprache zu wählen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Kataloge kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle die Kataloge, die du kopieren möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Kataloge kopieren</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ Alle gewählten Kataloge werden kopiert und in der Katalog-Übersicht angezeigt.<br></p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Um die automatisch vergebenen Namen für die kopierten Kataloge zu ändern, öffne die Kataloge einzeln und passe den Namen in den Grundeinstellungen an.</p>
</li>
</ol>
</div>
<hr>
</div></div>
</div>
<div class="sect2">
<h3 id="210">7.4. Kataloge löschen</h3>
<div class="paragraph">
<p>Du kannst einen Katalog oder mehrere Kataloge gleichzeitig löschen.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="einen-katalog-l-schen-tab" data-toggle="tab" href="#einen-katalog-l-schen" role="tab" aria-controls="einen-katalog-l-schen" aria-selected="true">Einen Katalog löschen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="mehrere-kataloge-l-schen-tab" data-toggle="tab" href="#mehrere-kataloge-l-schen" role="tab" aria-controls="mehrere-kataloge-l-schen" aria-selected="false">Mehrere Kataloge löschen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="einen-katalog-l-schen" role="tabpanel" aria-labelledby="einen-katalog-l-schen-tab">
<div class="paragraph instruction">
<p>Kataloge löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Zeile des Katalogs, den du löschen möchtest, auf die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Eine Sicherheitsabfrage wird eingeblendet.</p>
</li>
<li>
<p>Bestätige den Löschvorgang.<br>
→ Der Katalog wird gelöscht.<br>
<strong><em>Oder</em></strong>: Öffne einen Katalog.</p>
</li>
<li>
<p>Klicke oben auf die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Katalog löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Eine Sicherheitsabfrage wird eingeblendet.</p>
</li>
<li>
<p>Bestätige den Löschvorgang.<br>
→ Der Katalog wird gelöscht.</p>
</li>
</ol>
</div>
<hr>
</div><div class="tab-pane fade" id="mehrere-kataloge-l-schen" role="tabpanel" aria-labelledby="mehrere-kataloge-l-schen-tab">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um mehrere Kataloge gleichzeitig zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Kataloge löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle die Kataloge, die du löschen möchtest.</p>
</li>
<li>
<p>Klicke oben rechts auf <strong>Ausgewählte Kataloge löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Eine Sicherheitsabfrage wird eingeblendet.</p>
</li>
<li>
<p>Bestätige den Löschvorgang.<br>
→ Die Kataloge werden gelöscht.</p>
</li>
</ol>
</div>
<hr>
</div></div>
</div>
<div class="sect2">
<h3 id="240">7.5. Gelöschten Katalog wiederherstellen</h3>
<div class="paragraph">
<p>In der Katalog-Übersicht kannst du den letzten Stand eines gelöschten Katalogs wiederherstellen.</p>
</div>
<div class="paragraph instruction">
<p>Gelöschten Katalog wiederherstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Gelöschten Katalog wiederherstellen</strong> (<span class="icon orange"><i class="material-undo"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Katalog aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Wiederherstellen</strong>.<br>
→ Der Katalog wird wiederhergestellt und in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="250">7.6. Andere Katalog-Version wiederherstellen</h3>
<div class="paragraph">
<p>Über die weiteren Aktionen und auch in der Ansicht eines Katalogs kannst du vorherige Versionen eines Katalogs wiederherstellen.</p>
</div>
<div class="paragraph instruction">
<p>Katalog-Version wiederherstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Öffne in der Zeile des Katalogs die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Katalog-Version wiederherstellen</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
<strong><em>Oder</em></strong>: Öffne einen Katalog und klicke oben auf die weiteren Aktionen (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Katalog-Version wiederherstellen</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle die Version, die du wiederherstellen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Wiederherstellen</strong>.<br>
→ Die Version des Katalogs wird wiederhergestellt und in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="270">7.7. Kataloge exportieren</h3>
<div class="paragraph">
<p>Exportiere Kataloge, um sie anschließend in andere plentymarkets Systeme importieren zu können. Gleichzeitig dient der Export als Daten-Backup.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Mit diesen Einstellungen exportierst du den Katalog selbst. Du exportierst also die Informationen, welche Datenfelder der Katalog enthält, und nicht die Daten, die für diese Datenfelder in plentymarkets gespeichert sind.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kataloge exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Setze ein Häkchen für den Katalog, den du exportieren möchtest. Du kannst auch mehrere Kataloge auf einmal wählen.</p>
</li>
<li>
<p>Klicke oben auf <strong>Katalog exportieren</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Speicherort.<br>
→ Die gewählten Kataloge werden exportiert und an dem gewünschten Ort gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="280">7.8. Kataloge importieren</h3>
<div class="paragraph">
<p>Nutze die Importfunktion, um Kataloge aus anderen plentymarkets Systemen oder zuvor als Backup gesicherte Kataloge wieder zu importieren.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Mit diesen Einstellungen importierst du den Katalog selbst. Du importierst also die Informationen, welche Datenfelder der Katalog enthält, und nicht die Daten, die für diese Datenfelder in plentymarkets gespeichert sind.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kataloge importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke oben auf <strong>Katalog importieren</strong> (<span class="icon "><i class="material-file_upload"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle die Katalog-Datei, die du importieren möchtest.<br>
<strong><em>Wichtig:</em></strong> Du kannst immer nur einen Katalog importieren.<br>
→ Der Katalog wird importiert und in der Übersicht angezeigt.<br>
→ Der Name des importierten Kataloges enthält den Zusatz (1).<br>
Stammt der Katalog aus einem anderen System, wird der Name beibehalten.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>