<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#menu-screenshot"><span>1.</span><span> Erstes Kennenlernen: Menüaufbau</span></a></li>
<li><a href="#market-formats"><span>2.</span><span> Was ist ein Katalog mit Marktplatz-Format?</span></a></li>
<li><a href="#properties"><span>3.</span><span> Eigenschaften statt Merkmale</span></a>
<ul class="sectlevel2">
<li><a href="#example-1"><span>3.1.</span><span> Beispiel 1: Durchmesserangaben</span></a></li>
<li><a href="#example-2"><span>3.2.</span><span> Beispiel 2: Markennamen</span></a></li>
</ul>
</li>
<li><a href="#data-fields"><span>4.</span><span> Welche Datenfelder gibt es?</span></a>
<ul class="sectlevel2">
<li><a href="#marketplace-fields"><span>4.1.</span><span> Marktplatz-Datenfelder</span></a></li>
<li><a href="#plentymarkets-fields"><span>4.2.</span><span> plentymarkets Datenfelder</span></a></li>
</ul>
</li>
<li><a href="#mappings"><span>5.</span><span> Welche Zuordnungen gibt es?</span></a>
<ul class="sectlevel2">
<li><a href="#mappings-what-is"><span>5.1.</span><span> Was ist überhaupt eine Zuordnung?</span></a></li>
<li><a href="#one-to-one"><span>5.2.</span><span> Einfache 1:1-Zuordnungen</span></a></li>
<li><a href="#one-to-one-complex"><span>5.3.</span><span> Komplexe 1:1-Zuordnungen</span></a></li>
<li><a href="#one-to-one-fallback"><span>5.4.</span><span> 1:1-Zuordnungen mit Ausweich-Datenfeld</span></a></li>
<li><a href="#one-to-n"><span>5.5.</span><span> 1:n-Zuordnungen</span></a></li>
<li><a href="#own-value"><span>5.6.</span><span> Eigener-Wert-Zuordnungen</span></a></li>
</ul>
</li>
<li><a href="#file-export"><span>6.</span><span> Optional: Dateiexport (kein Markplatzexport)</span></a></li>
<li><a href="#switch-to-catalogues"><span>7.</span><span> Von altem Export auf Katalogexport wechseln</span></a></li>
<li><a href="#faq"><span>8.</span><span> Fragen und Antworten</span></a></li>
<li><a href="#manage-catalogues"><span>9.</span><span> Kataloge verwalten: löschen, kopieren etc.</span></a>
<ul class="sectlevel2">
<li><a href="#catalogue-rights"><span>9.1.</span><span> Rechte für Backend-Benutzer:innen vergeben</span></a></li>
<li><a href="#15"><span>9.2.</span><span> Spalten der Katalog-Übersicht anpassen</span></a></li>
<li><a href="#190"><span>9.3.</span><span> Kataloge kopieren</span></a></li>
<li><a href="#210"><span>9.4.</span><span> Kataloge löschen</span></a></li>
<li><a href="#240"><span>9.5.</span><span> Gelöschten Katalog wiederherstellen</span></a></li>
<li><a href="#250"><span>9.6.</span><span> Andere Katalog-Version wiederherstellen</span></a></li>
<li><a href="#270"><span>9.7.</span><span> Kataloge exportieren</span></a></li>
<li><a href="#280"><span>9.8.</span><span> Kataloge importieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Marktplatz-Formate nutzen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Kataloge dienen dazu, Daten optimal für den Export vorzubereiten. Für den Export von Variantendaten an Marktplätze und Preisportale verwendest du Kataloge mit Marktplatz-Formaten.</p>
</div>
<div class="paragraph">
<p>Auf dieser Handbuchseite erfährst du, wie du Kataloge verwendest, um Variantendaten an Marktplätze zu exportieren. Dabei wird nur die allgemeine Vorgehensweise erläutert.
Genauere Informationen dazu, wie du einen Katalog für die einzelnen Marktplätze erstellst und aufbaust, findest du aber auf den Handbuchseiten der einzelnen Marktplätze.</p>
</div>
<div class="paragraph">
<p>plentymarkets arbeitet daran, nach und nach alle Marktplätze auf den Katalogexport umzuziehen. Zurzeit kannst du zum Beispiel schon Artikeldaten zu den folgenden Marktplätzen per Katalog exportieren:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>OTTO Market</p>
</li>
<li>
<p>Etsy</p>
</li>
<li>
<p>Voelkner</p>
</li>
<li>
<p>Conrad</p>
</li>
<li>
<p>Einige Amazon-Flatfiles</p>
</li>
<li>
<p>Plugins von Drittfirmen</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Diese Seite ist neu und wird weiter ergänzt. Vermisst du Informationen oder ist etwas unklar? Dann sende uns gern eine freundliche Nachricht über die Feedback-Funktion.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="menu-screenshot">1. Erstes Kennenlernen: Menüaufbau</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Katalogmenü sieht für alle Marktplatz-Formate gleich aus:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/catalogue-menu-colours.png" alt="catalogue menu colours">
</div>
</div>
<div class="paragraph">
<p><em>Menüaufbau eines Katalogs mit Marktplatz-Format</em></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Navigation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Standardmäßig wird die Ansicht <strong>Zuordnung</strong> angezeigt, wenn du einen Katalog öffnest. Über die Navigation wechselst du zu anderen Ansichten des Katalogs.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-search  "></i></span> <strong>Übersicht</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wechsele zurück zur Katalogübersicht, also zu der Liste der Kataloge.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><span class="icon darkGrey"><i class="fa fa-plus  "></i></span> Katalog erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erstelle einen neuen Katalog.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Liste geöffneter Kataloge</em></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In der Navigation werden alle Kataloge gelistet, die du in deiner aktuellen Sitzung geöffnet hast. So kannst du schnell zwischen den Katalogen wechseln, die du aktuell bearbeitest. Der gerade angezeigt Katalog wird blau dargestellt, die anderen Kataloge in grau.<br>
<strong><em>Tipp:</em></strong> Falls dich die Liste nervt oder sie zu lang wird, zeige mit der Maus auf den Eintrag in der Liste. Dadurch wird ein X eingeblendet. Klicke auf dieses X, um den Katalog zu schließen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-cog  "></i></span> Einstellungen</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Rufe die Katalogeinstellungen auf.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Grundeinstellungen = Name und Formattyp des Katalogs. Diese Daten gibst du beim Erstellen des Katalogs an.</p>
</li>
<li>
<p>Formateinstellungen = Einstellungen zum Aufbau der Exportdatei</p>
</li>
<li>
<p>Exporteinstellungen = Einstellungen für automatischen Export</p>
</li>
<li>
<p>Download-Einstellungen = Einstellungen für die URL, über die die Exportdatei aufgerufen werden kann</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Wichtig:</em></strong> Diese Einstellungen brauchst du für die meisten Marktplätze nicht. Die Einstellungen sind nur relevant, wenn du Daten in einer Datei exportieren willst.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_return_create_edit"></i></span> <strong>Zuordnung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wird beim Öffnen des Katalogs angezeigt. Hier ordnest du den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-filter_alt"></i></span> Filter</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Setze Filter, um nur bestimmte Daten zu exportieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_return_create_edit"></i></span> <strong>Eigene Datenfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eigene Datenfelder sind für die meisten Exporte noch nicht verfügbar.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Symbolleiste</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In der Symbolleiste kannst du für den Katalog relevante Aktionen durchführen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 83.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-save  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Speichert die Einstellungen des Katalogs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-preview"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erstellt eine Vorschau der Exportdaten. Die Vorschau enthält die ersten 5 Datenzeilen der Exportdatei.<br>
<strong><em>Wichtig:</em></strong> Die Vorschaufunktion ist leider nicht für alle Marktplatz-Formate verfügbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="psicon-download"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Startet den manuellen Download der Katalogdaten.<br>
<strong><em>Wichtig:</em></strong> Mit dieser Option startest du einen manuellen Export. Die Daten werden damit <em>nicht</em> zu dem Marktplatz exportiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-more_vert"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Blende weitere Aktionen ein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span> = Aktivieren, um nur die Pflichtfelder anzuzeigen.</p>
</li>
<li>
<p><span class="icon darkGrey"><i class="fa fa-restore  "></i></span> = Stellt eine ältere Version des Katalogs wieder her.</p>
</li>
<li>
<p><span class="icon "><i class="material-delete"></i></span> = Löscht den Katalog.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatz-Datenfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Rechts neben der Navigation sind alle für den Marktplatz verfügbaren Datenfelder aufgelistet. Pflichtfelder sind mit einem Sternchen (✱) gekennzeichnet.<br>
<strong><em>Tipp:</em></strong> In der Symbolleiste blendest du über die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>) optionale Felder ein oder aus.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Datenfelder</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Im rechten Bereich des Katalogs ordnest du den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu.
Bevor du das erste Feld zugeordnet hast, siehst du hier weit und breit nur <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Datenfeld hinzufügen</strong>. Das ist ganz normal und soll so sein.<br>
<strong><em>Tipp:</em></strong> Im Screenshot wurden schon ein paar Felder zugeordnet.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="market-formats">2. Was ist ein Katalog mit Marktplatz-Format?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jeder Marktplatz strukturiert Produktdaten anders. Häufig werden sogar an denselben Marktplatz unterschiedliche Produktdaten für verschiedene Produktkategorien (Tierfutter, Haushalt, Lebensmittel) exportiert.</p>
</div>
<div class="paragraph">
<p>Mit Katalogen mit Marktplatz-Format schneidest du die Informationen über dein Produktsortiment genau auf die Anforderungen des Marktplatzes zu. Denn darin ordnest du jedem Datenfeld eines Marktplatzes ein passendes plentymarkets Datenfeld zu. Beim Export deiner Variantendaten zu den Marktplatz werden dann die Datenfelder des Marktplatzes mit den richtigen Daten aus plentymarkets befüllt.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ein Marktplatz-Format enthält ein Gerüst der Datenfelder, die ein Marktplatz entgegennehmen kann. Über das Marktplatz-Formate gibt der Marktplatz also vor, welche Daten übertragen werden können. Durch die Sternchen ist auch sofort ersichtlich, welche Daten du unbedingt übertragen musst und welche optional sind.</p>
</li>
<li>
<p>Ein Marktplatz kann mehrere Marktplatz-Formate anbieten. Zum Beispiel gibt es verschiedene Formate für verschiedene Produktkategorien (Tiernahrung, Lebensmittel, Non-Food etc.) oder für verschiedene Sprachen. Bei manchen Marktplätzen, zum Beispiel bei Etsy, exportierst du aber auch alle Artikeldaten über einen einzigen Katalog.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Welche Vorteile bieten die Kataloge?</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Jedes Format gibt die Datenstruktur des Marktplatzes vor. Du weißt also genau, welche Variantendaten nötig sind, um deine Produkte auf dem Marktplatz anzubieten.</p>
</li>
<li>
<p>Du bestimmst pro Marktplatz oder sogar pro Marktplatzkategorie, welche Variantendaten auf dem Marktplatz veröffentlicht werden. Mit Eigenschaften kannst du zum Beispiel unterschiedliche Namen und Beschreibungen an die verschiedenen Marktplätze exportieren.</p>
</li>
<li>
<p>Du kannst gut konfigurierte Kataloge mit wenig Aufwand kopieren und anpassen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Mal ganz ehrlich: Gibt es auch Nachteile?</em></strong></p>
</div>
<div class="paragraph">
<p>Das kommt darauf an. Die Kataloge bieten dir ein Höchstmaß an Flexibilität. Du kannst Datenfelder absolut frei zuordnen. Das bedeutet aber auch, dass die Zuordnungen nicht auf Sinnhaftigkeit geprüft werden. Das System wird dich also nicht daran hindern, als Preis zum Beispiel die Varianten-ID zuzuordnen. Möglicherweise kommst du einem solchen Fehler erst auf die Schliche, wenn du merkst, dass deine Varianten entweder nicht auf dem Marktplatz angekommen sind oder dass deine T-Shirts dort plötzlich ein paar Tausend Euro kosten. Ein Nachteil ist das aber nur, wenn du nicht sorgfältig arbeitest. Je mehr Erfahrung du mit den Katalogen sammelst, desto leichter wird es dir fallen, die Zuordnungen vorzunehmen. Gut konfigurierte Kataloge kannst du außerdem kopieren und anpassen. Auch das erleichtert die Arbeit.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="properties">3. Eigenschaften statt Merkmale</h2>
<div class="sectionbody">
<h5 id="_eigenschaften_sind_die_neuen_merkmale" class="discrete">Eigenschaften sind die neuen Merkmale!</h5>
<div class="paragraph">
<p>Merkmale und Freitextfelder kannst du in Katalogen nicht mehr zuordnen. Stattdessen verwendest du Eigenschaften, um Daten zu den Marktplätzen zu exportieren.</p>
</div>
<div class="paragraph">
<p>Die Eigenschaften funktionieren ähnlich wie früher die Merkmale und Freitextfelder. Mit Eigenschaften speicherst du also Daten, für die es keine Einstellung und kein Eingabefeld im plentymarkets Backend gibt. In unserem Kontext ist der wichtigste Unterschied, dass du Merkmale und Freitextfelder für Artikel gespeicherst hast. Eigenschaften speicherst du stattdessen pro Variante. So bist du wesentlich flexibler.</p>
</div>
<div class="paragraph">
<p>Unten findest du zwei Beispiele dafür, wie du Eigenschaften nutzt.</p>
</div>
<div class="paragraph">
<p><a href="#example-1">Beispiel 1: Durchmesserangaben</a>
<a href="#example-2">Beispiel 2: Markennamen</a></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du arbeitest zum ersten Mal mit Eigenschaften? Weitere Informationen findest du auf der Artikel-Handbuchseite zum Thema <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a>.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="example-1">3.1. Beispiel 1: Durchmesserangaben</h3>
<div class="paragraph">
<p><strong><em>Anwendungsfall:</em></strong><br>
An den Verkaufskanal können die Variantendaten <strong>Durchmesser</strong> und <strong>Durchmesser Einheit</strong> übergeben werden. In plentymarkets gibt es aber standardmäßig kein Feld, in dem du die Durchmesserangaben für eine Variante speichern kannst.</p>
</div>
<div class="paragraph">
<p><strong><em>Vorgehensweise:</em></strong><br>
Um Informationen zum Durchmesser einer Variante trotzdem an den Verkaufskanal zu übergeben, empfehlen wir die folgende Vorgehensweise:</p>
</div>
<div class="paragraph">
<p>Erstelle als Erstes die Eigenschaften:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Erstelle eine Eigenschaft <strong>Durchmesser Einheit</strong> mit den folgenden Einstellungen:</p>
<div class="ulist">
<ul>
<li>
<p>Bereich: <strong>Artikel</strong><br></p>
</li>
<li>
<p>Eigenschaftstyp: <strong>Auswahl</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Speichere die benötigten Einheiten als Eigenschaftwerte, zum Beispiel <code>cm</code> und <code>mm</code>.</p>
</li>
<li>
<p>Erstelle eine Eigenschaft <strong>Durchmesser</strong> mit den folgenden Einstellungen:</p>
<div class="ulist">
<ul>
<li>
<p>Bereich: <strong>Artikel</strong><br></p>
</li>
<li>
<p>Eigenschaftstyp: <strong>Kommazahl</strong></p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nun verknüpfst du die Eigenschaften mit der Variante und speicherst Werte:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Eigenschaften</strong>.</p>
</li>
<li>
<p>Füge die Eigenschaft <strong>Durchmesser Einheit</strong> hinzu.</p>
</li>
<li>
<p>Wähle die Einheit aus der Dropdown-Liste.</p>
</li>
<li>
<p>Füge die Eigenschaft <strong>Durchmesser</strong> hinzu.</p>
</li>
<li>
<p>Gib den Durchmesser in der Einheit ein, die du für die Eigenschaft <strong>Durchmesser Einheit</strong> gewählt hast.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Damit der Durchmesser deiner Varianten an den Marktplatz exportiert werden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge » [Katalog öffnen]</strong>.</p>
</li>
<li>
<p>Navigiere zu dem Marktplatz-Datenfeld <strong>Durchmesser Einheit</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>+ Datenfeld hinzufügen</strong>.</p>
</li>
<li>
<p>Klappe in der angezeigten Liste der plentymarkets Datenfelder den Ordner <strong>Eigenschaft</strong> auf.</p>
</li>
<li>
<p>Klicke auf das Plus rechts nebem dem plentymarkets Datenfeld <strong>Durchmesser Einheit</strong>.</p>
</li>
<li>
<p>Navigiere zu dem Marktplatz-Datenfeld <strong>Durchmesser</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>+ Datenfeld hinzufügen</strong>.</p>
</li>
<li>
<p>Klappe in der angezeigten Liste der plentymarkets Datenfelder den Ordner <strong>Eigenschaft</strong> auf.</p>
</li>
<li>
<p>Klicke auf das Plus rechts nebem dem plentymarkets Datenfeld <strong>Durchmesser</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="example-2">3.2. Beispiel 2: Markennamen</h3>
<div class="paragraph">
<p><strong><em>Anwendungsfall:</em></strong><br>
An den Verkaufskanal kann die Marke von Produkten übergeben werden. In plentymarkets kannst du zwar standardmäßig Hersteller:innen, aber keine Markennamen speichern. In vielen Fällen sind Hersteller:in und Markenname identisch. Wenn nicht, helfen dir hier auch die Eigenschaften.</p>
</div>
<div class="paragraph">
<p><strong><em>Vorgehensweise:</em></strong><br>
Wenn die Hersteller:innen in deinem System nicht den Markennamen der Produkte widerspiegeln, speicherst du die Marken als Eigenschaften. Wir empfehlen die folgende Vorgehensweise, um Marken als Eigenschaften an Marktplätze zu exportieren:</p>
</div>
<div class="paragraph">
<p>Erstelle als erstes die Eigenschaft:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Erstelle eine Eigenschaft <strong>Marke</strong> mit den folgenden Einstellungen:</p>
<div class="ulist">
<ul>
<li>
<p>Bereich: <strong>Artikel</strong></p>
</li>
<li>
<p>Eigenschaftstyp: <strong>Text</strong></p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nun verknüpfst du die Eigenschaft mit der Variante und speicherst einen Wert:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Texte</strong>.</p>
</li>
<li>
<p>Füge die Eigenschaft <strong>Marke</strong> hinzu.</p>
</li>
<li>
<p>Speichere den Markennamen als Wert der Eigenschaft.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Damit die Marke deiner Varianten an den Marktplatz exportiert wird:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge » [Katalog öffnen]</strong>.</p>
</li>
<li>
<p>Navigiere zu dem Marktplatz-Datenfeld <strong>Marke</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>+ Datenfeld hinzufügen</strong>.</p>
</li>
<li>
<p>Klappe in der angezeigten Liste der plentymarkets Datenfelder auf den Ordner <strong>Eigenschaft</strong>.</p>
</li>
<li>
<p>Klicke auf das Plus rechts nebem dem plentymarkets Datenfeld <strong>Marke</strong>.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="data-fields">4. Welche Datenfelder gibt es?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hervorragende Frage!</p>
</div>
<div class="paragraph">
<p>Es gibt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#marketplace-fields">Marktplatz-Datenfelder</a></p>
</li>
<li>
<p><a href="#plentymarkets-fields">plentymarkets Datenfelder</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="marketplace-fields">4.1. Marktplatz-Datenfelder</h3>
<h5 id="_mein_marktplatz_datenfeld_das_unbekannte_wesen" class="discrete">Mein Marktplatz-Datenfeld, das unbekannte Wesen</h5>
<div class="paragraph">
<p>Marktplatz-Datenfelder sind die Felder, für die du Daten an den Marktplatz exportieren kannst. Weil jeder Marktplatz Artikeldaten anders aufbaut und verarbeitet, hat auch jeder Marktplatz andere Marktplatz-Datenfelder.</p>
</div>
<div id="marketplace-data-fields" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/marketplace-data-fields.png" alt="marketplace data fields">
</div>
<div class="title">Bild 1. Marktplatz-Datenfelder im Katalog für OTTO Market</div>
</div>
<div class="paragraph">
<p><strong><em>Das solltest du über Marktplatz-Datenfelder wissen:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Marktplatz-Datenfelder werden im Katalog auf der linken Seite angezeigt.</p>
</li>
<li>
<p>Pflichtfelder sind im Katalog mit einem Sternchen gekennzeichnet. Für diese Pflichtfelder müssen auf jeden Fall plentymarkets Datenfelder zugeordnet werden. Außerdem muss für diese Datenfelder an den Varianten Werte gespeichert sein. Sonst wird die Variante nicht an den Marktplatz exportiert.</p>
</li>
<li>
<p>Für alle anderen Datenfelder kannst du Daten exportieren, um deine Verkaufschancen zu erhöhen. Wenn für eine Variante keine Daten für eines oder mehrere dieser optionalen Felder gespeichert sind, wird die Variante trotzdem an den Marktplatz exportiert.</p>
</li>
<li>
<p>Die besten Informationen zu den Marktplatz-Datenfeldern findest du beim Marktplatz selbst. Lies in der Dokumentation des Marktplatzes nach, welche Variantendaten erwartet werden. Frage in Zweifelsfällen deine Kontaktperson beim Marktplatz. Wenn alle Stricke reißen, hilft manchmal auch Tante G**gle: Suche zum Beispiel den Namen des Marktplatzes in Kombination mit "data feed", "data specification" oder direkt nach dem Namen des Marktplatz-Datenfelds.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="plentymarkets-fields">4.2. plentymarkets Datenfelder</h3>
<div class="paragraph">
<p>Die plentymarkets Datenfelder im Katalog sind dieselben Einstellungen, die du im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong> für deine Artikel und Varianten vornehmen kannst. Zusätzlich zu diesen Einstellungen sind auch die Eigenschaften wählbar, die in deinem plentymarkets System gespeichert sind.</p>
</div>
<div id="plentymarkets-data-fields" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/plentymarkets-data-fields.png" alt="plentymarkets data fields">
</div>
<div class="title">Bild 2. Liste der plentymarkets Datenfelder nach Klick auf <strong>+ Datenfeld hinzufügen</strong></div>
</div>
<div class="paragraph">
<p><strong><em>Das solltest du über plentymarkets Datenfelder wissen:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Marktplatz verlangt Produktdaten, die nicht direkt an der Variante gespeichert werden können? Dann erstelle eine Eigenschaft. Verknüpfe diese Eigenschaft dann mit deinen Varianten. Speichere Produktdaten als Werte für diese Eigenschaft.</p>
</li>
<li>
<p>Zusätzlich zu einem plentymarkets Datenfeld kannst du auch Ausweich-Datenfelder zuordnen. Als Ausweich-Datenfelder stehen dir wieder alle plentymarkets Datenfelder zur Verfügung. Der Unterschied ist, dass der Inhalt des Ausweich-Datenfelds nur exportiert wird, wenn das als erstes zugeordnete plentymarkets Datenfeld für eine Variante nicht existiert oder leer ist.</p>
</li>
<li>
<p>Welche Daten mit welchem plentymarkets Datenfeldern exportiert werden, kannst du in der Beschreibung des Standardformats <a href="/daten/daten-exportieren/katalog-artikel">Artikel (neu)</a> nachlesen.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="mappings">5. Welche Zuordnungen gibt es?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel findest du das kleine 1x1 der Datenfeld-Zuordnungen.</p>
</div>
<div class="paragraph">
<p>Die Informationen sind so aufgebaut:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#mappings-what-is">Was ist überhaupt eine Zuordnung?</a></p>
</li>
<li>
<p><a href="#one-to-one">Einfache 1:1-Zuordnungen</a></p>
</li>
<li>
<p><a href="#one-to-one-complex">Komplexe 1:1-Zuordnungen</a></p>
</li>
<li>
<p><a href="#one-to-one-fallback">1:1-Zuordnungen mit Ausweich-Datenfeld</a></p>
</li>
<li>
<p><a href="#one-to-n">1:n-Zuordnungen</a></p>
</li>
<li>
<p><a href="#own-value">Eigener-Wert-Zuordnungen</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="mappings-what-is">5.1. Was ist überhaupt eine Zuordnung?</h3>
<div class="paragraph">
<p>Eine Zuordnung bedeutet, dass du ein Marktplatz-Datenfeld mit einem plentymarkets Datenfeld verknüpfst.
Ganz grob zum Einstieg machst du das, indem du neben dem Marktplatz-Datenfeld auf die Schaltfläche <strong>Datenfeld hinzufügen</strong> klickst.</p>
</div>
<div class="paragraph">
<p>Aber was genau legst du mit einer solchen Zuordnung fest?</p>
</div>
<div class="paragraph">
<p><strong>Ich möchte, dass für dieses eine Marktplatz-Datenfeld die Daten an den Marktplatz exportiert werden, die für dieses plentymarkets Datenfeld an der Variante gespeichert sind.</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong></p>
</div>
<div class="paragraph">
<p>Du ordnest dem Marktplatz-Datenfeld <strong>Name</strong> das plentymarkets Datenfeld <strong>Artikeltext » Name 1</strong> zu:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-exportieren/assets/produktname-beispiel-1.png" alt="produktname beispiel 1">
</div>
</div>
<div class="paragraph">
<p>An den Marktplatz wird also für alle Varianten der Name gespeichert, den du im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Tab: Einstellungen</strong> für die Einstellung <strong>Name 1</strong> gespeichert ist.</p>
</div>
<div class="paragraph">
<p>Für die Variante, die du im folgenden Screenshot siehst, wird also der Name <strong>Design Sessel Black&amp;White</strong> zu dem Marktplatz exportiert.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-exportieren/assets/produktname-beispiel-2.png" alt="produktname beispiel 2">
</div>
</div>
</div>
<div class="sect2">
<h3 id="one-to-one">5.2. Einfache 1:1-Zuordnungen</h3>
<h5 id="_du_ordnest_dem_marktplatz_datenfeld_1_plentymarkets_datenfeld_zu" class="discrete">Du ordnest dem Marktplatz-Datenfeld 1 plentymarkets Datenfeld zu</h5>
<div class="paragraph">
<p>Bei einer 1:1-Zuordnung ordnest du dem Markplatz-Datenfeld eine Einstellung in plentymarkets zu. Wenn es keine passende Einstellung in plentymarkets gibt, kannst du stattdessen eine Eigenschaft erstellen und zuordnen.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass dieses Marktplatz-Datenfeld mit den Daten aus dieser plentymarkets Einstellung befüllt wird.</p>
</li>
<li>
<p>Wenn das Datenfeld für eine Variante leer ist, wird kein Wert für die Variante exportiert.</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Einfache 1:1-Zuordnung erstellen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Verkaufspreis und UVP</p>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du den Marktplatz-Datenfeldern <strong>Verkaufspreis</strong> und <strong>UVP</strong> von Otto Market passende plentymarkets Datenfelder zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-mapping-simple-de.gif" alt="gif catalogue mapping simple de">
</div>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="one-to-one-complex">5.3. Komplexe 1:1-Zuordnungen</h3>
<h5 id="_du_ordnest_dem_wert_eines_marktplatz_datenfelds_den_wert_1_plentymarkets_datenfeld_zu" class="discrete">Du ordnest dem Wert eines Marktplatz-Datenfelds den Wert 1 plentymarkets Datenfeld zu</h5>
<div class="paragraph">
<p>Wie bei den einfachen 1:1-Zuordnungen ordnest du auch hier einem Markplatz-Datenfeld eine Einstellung in plentymarkets oder eine Eigenschaft zu. Komplexe Zuordnungen sind aber immer dann nötig, wenn es für ein Marktplatz-Datenfeld verschiedene mögliche Werte gibt. Statt Datenfelder zuzuordnen, ordnest du bei komplexen Zuordnungen also die Werte dieser Datenfelder zu. Zum Beispiel kannst du dem Marktplatz-Datenfeld <strong>Versandart</strong> nicht einfach das plentymarkets Datenfeld <strong>Versandprofil</strong> zuordnen. Warum? Der Marktplatz kann nicht wissen, welches deiner Versandprofile in plentymarkets welchem Versandprofil des Marktplatzes entspricht.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Gib bei komplexen Zuordnungen keine eigenen Werte ein. Alle Werte, die du eingibst, müssen an den Varianten gespeichert sein, entweder in einer Einstellung oder als Eigenschaftswert. Das gilt auch, wenn das Feld <strong>Comparative value</strong> angezeigt wird. Auch hier musst du genau den Wert aus der zugeordneten Einstellung oder Eigenschaft eingeben.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Beispiele für komplexe 1:1-Zuordnungen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Marken</p>
</li>
<li>
<p>Versandart</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Komplexe Zuordnungen erkennst du daran, dass sich unterhalb des Namens des Marktplatz-Datenfelds ein Eingabefeld befindet. Wenn du in das Eingabefeld klickst, werden die Werte angezeigt, die es für das Marktplatz-Datenfeld gibt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/catalogue-complex-mappings.png" alt="catalogue complex mappings">
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Ordne bei komplexen Zuordnungen keine eigenen Werte und keine Eigenschaften des Typs <strong>Kein</strong> zu.
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Komplexe 1:1-Zuordnung erstellen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke in das Feld für das Marktplatz-Datenfeld.<br>
→ Eine Liste der verfügbaren Werte wird angezeigt.</p>
</li>
<li>
<p>Wähle den Wert, dem du ein plentymarkets Datenfeld zuordnen möchtest.<br>
→ Der Wert wird übernommen.</p>
</li>
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links werden die verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.<br></p>
</li>
<li>
<p>Klicke auf eine Gruppe.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke auf das plentymarkets Datenfeld, für das du Werte zuordnen möchtest.<br>
<strong><em>Wichtig:</em></strong> Ordne keinen eigenen Wert und keine Eigenschaft des Typs <strong>Kein</strong> zu.<br>
→ Je nachdem, welches plentymarkets Datenfeld du gewählt hast, gehst du ab jetzt unterschiedlich vor:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Möglichkeit 1:</em></strong> Die verfügbaren Werte des plentymarkets Datenfelds werden links angezeigt.<br></p>
<div class="ulist">
<ul>
<li>
<p>Klicke neben dem gewünschten Wert auf das Plus.<br>
→ Der Wert wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Möglichkeit 2:</em></strong> Das plentymarkets Datenfeld wird eingefügt und das Feld <strong>Comparative value</strong> wird angezeigt.</p>
<div class="ulist">
<ul>
<li>
<p>Gib in das Feld <strong>Comparative value</strong> einen Wert ein, der für das gewählte plentymarkets Datenfeld in der Einstellung oder der Eigenschaft gespeichert ist.<br></p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Möglichkeit 3:</em></strong> Das plentymarkets Datenfeld wird eingefügt und eine Dropdown-Liste wird angezeigt.</p>
<div class="ulist">
<ul>
<li>
<p>Wähle einen Wert aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du den Werten des Marktplatz-Datenfelds <strong>Lieferzeit in Tagen</strong> von Otto Market passende plentymarkets Werte zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-mapping-complex-de.gif" alt="gif catalogue mapping complex de">
</div>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="one-to-one-fallback">5.4. 1:1-Zuordnungen mit Ausweich-Datenfeld</h3>
<h5 id="_du_ordnest_dem_marktplatz_datenfeld_1_plentymarkets_datenfeld_zu_und_gibst_eine_alternative_an" class="discrete">Du ordnest dem Marktplatz-Datenfeld 1 plentymarkets Datenfeld zu und gibst eine Alternative an</h5>
<div class="paragraph">
<p>Du legst fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass dieses Marktplatz-Datenfeld mit den Daten aus dieser plentymarkets Einstellung befüllt wird.</p>
</li>
<li>
<p>Wenn das Datenfeld für eine Variante leer ist, wird das Ausweich-Datenfeld geprüft und stattdessen dieser Wert für die Variante exportiert.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Als Ausweich-Datenfelder stehen dir alle plentymarkets Datenfelder zur Verfügung. Allerdings wird der Inhalt des Ausweich-Datenfelds nur exportiert, wenn das als erstes zugeordnete Datenfeld für eine Variante nicht existiert oder für eine Variante leer ist.</p>
</div>
<div class="paragraph">
<p><strong><em>Ablauf für Ausweich-Datenfelder:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Beim Export wird für jede Variante das zugeordnete plentymarkets Datenfeld auf Inhalt geprüft.</p>
</li>
<li>
<p>Sind für die Variante für das plentymarkets Datenfeld Daten gespeichert, werden diese Daten exportiert.</p>
</li>
<li>
<p>Wenn das Datenfeld nicht existiert oder für die Variante leer ist, springt das System zum ersten Ausweich-Datenfeld und prüft, ob es hier Daten findet.</p>
</li>
<li>
<p>Wenn auch das Ausweich-Datenfeld keine Daten für die Variante liefert, wird das zweite Ausweich-Datenfeld geprüft usw.</p>
</li>
<li>
<p>Wenn das System für eine Variante gar keine Daten für ein Marktplatz-Datenfeld findet, kommt es darauf an, ob es sich um ein Pflichtfeld handelt. Wenn ja, wird die Variante nicht exportiert. Wenn nein, wird die Variante exportiert, das Marktplatz-Datenfeld wird aber auf dem Marktplatz nicht befüllt.</p>
</li>
</ul>
</div>
<div id="fallback-data-fields" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/fallback-data-fields.png" alt="fallback data fields">
</div>
<div class="title">Bild 3. <em>Beispiel "Farbe" im REWE-Fashion-Katalog:</em> Attribut für Farbe als Datenfeld, Eigenschaft für Farbe als Ausweich-Datenfeld</div>
</div>
<div class="openblock collapseBox">
<div class="title">1:1-Zuordnung mit Ausweich-Datenfeld erstellen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke in der Liste der plentymarkets Datenfelder neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das Ausweich-Datenfeld wird exportiert, wenn das erste Datenfeld nicht vorhanden oder leer ist.<br>
<strong><em>Hinweis:</em></strong> Auch wenn du ein oder mehrere Ausweich-Datenfelder zuordnest, wird für jede Variante nur ein Wert übertragen. Für jede Variante werden die zugeordneten plentymarkets Datenfelder in der Reihenfolge geprüft, in der sie zugeordnet wurden. Wenn also das erste Datenfeld keinen Wert für die Variante liefert, wird das erste Ausweich-Datenfeld übertragen usw.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du dem Marktplatz-Datenfeld <strong>SKU</strong> von Otto Market das plentymarkets Datenfeld <strong>SKU</strong> und das plentymarkets Datenfeld <strong>Varianten-ID</strong> als Ausweich-Datenfeld zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-mapping-fallback-de.gif" alt="gif catalogue mapping fallback de">
</div>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="one-to-n">5.5. 1:n-Zuordnungen</h3>
<h5 id="_du_ordnest_dem_marktplatz_datenfeld_mehrere_plentymarkets_datenfelder_zu" class="discrete">Du ordnest dem Marktplatz-Datenfeld MEHRERE plentymarkets Datenfelder zu</h5>
<div class="paragraph">
<p>Bei einer 1:n-Zuordnung ordnest du dem Markplatz-Datenfeld mehrere Einstellungen in plentymarkets zu. Diese Einstellung kannst du durch ein Trennzeichen miteinander verbinden.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass diese plentymarkets Datenfelder beim Export kombiniert werden und das Marktplatz-Datenfeld mit den Daten aus diesen zwei oder mehr plentymarkets Einstellungen befüllt wird.</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">1:n-Zuordnung erstellen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
<li>
<p>Klicke rechts neben dem zugeordneten plentymarkets Datenfeld auf <strong>Datenfeld hinzufügen</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder wieder als Gruppen angezeigt.</p>
</li>
<li>
<p>Ordne dem Marktplatz-Datenfeld wie oben beschrieben ein oder mehrere weitere plentymarkets Datenfelder zu.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
<li>
<p>Klicke ganz rechts in der Zeile des Marktplatz-Datenfelds auf <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Trennzeichen</strong> ein Trennzeichen oder bestimme ein eigenes Trennzeichen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.<br>
→ Beim Export wird der Inhalt der plentymarkets Datenfelder kombiniert exportiert.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="own-value">5.6. Eigener-Wert-Zuordnungen</h3>
<h5 id="_du_ordnest_dem_marktplatz_datenfeld_denselben_wert_für_alle_varianten_zu" class="discrete">Du ordnest dem Marktplatz-Datenfeld denselben Wert für alle Varianten zu</h5>
<div class="paragraph">
<p>Du bist dir sicher, dass du für ein Marktplatz-Datenfeld für alle Varianten des Katalogs denselben Wert übertragen möchtest? Dann kannst du einen eigenen Wert angeben. Dieser feste Wert wird dann für alle Varianten exportiert.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass für <em>alle</em> Varianten dieses Katalogs der Wert exportiert wird, den ich in das Feld <strong>Eigener Wert</strong> eingeben habe.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong></p>
</div>
<div class="paragraph">
<p>Du möchtest für einige deiner Varianten den Durchmesser an Marktplätze exportieren. An den Varianten speicherst du den Durchmesser für alle Varianten in Zentimetern. Du kannst also als eigenen Wert <code>cm</code> eingeben, statt eine Eigenschaft für die Einheit zu erstellen und mit allen Varianten zu verknüpfen:</p>
</div>
<div id="katalog-eigener-wert" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/catalogue-durchmesser.png" alt="catalogue durchmesser">
</div>
<div class="title">Bild 4. Eigener Wert für Durchmesser-Einheit</div>
</div>
<div class="openblock collapseBox">
<div class="title">Eigener-Wert-Zuordnung erstellen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke ganz oben neben <strong>Eigener Wert</strong> auf das Plus.<br>
→ Das Feld für den eigenen Wert wird in der Ansicht hinzugefügt.</p>
</li>
<li>
<p>Gib einen Wert in das Eingabefeld darunter ein.<br>
→ Dieser Wert wird für alle Varianten exportiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Durchmesserangaben</p>
</div>
<div class="paragraph">
<p>Du möchtest für einige deiner Varianten den Durchmesser an Marktplätze exportieren. Den Durchmesser hast du für alle Varianten in Zentimetern gespeichert. Statt eine Eigenschaft für die Einheit zu erstellen und diese Eigenschaft mit allen Varianten zu verknüpfen, kannst du also als eigenen Wert <code>cm</code> eingeben.</p>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du einen eigenen Wert für die Durchmesser-Einheit zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-own-value-de.gif" alt="gif catalogue own value de" width="600">
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="file-export">6. <em>Optional:</em> Dateiexport (kein Markplatzexport)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Kataloge mit Marktplatz-Formaten werden automatisch zu Marktplätzen exportiert, wenn du alle erforderlichen Einstellungen vorgenommen hast. Du kannst also die Einstellungen für <strong>Formateinstellungen</strong>, <strong>Exporteinstellungen</strong> und <strong>Download-Einstellungen</strong> in den Katalogeinstellungen ignorieren.</p>
</div>
<div class="paragraph">
<p>Optional kannst du aber eine Datei exportieren, in der die Daten festgehalten werden, die auch an den Marktplatz exportiert werden.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="einmaliger-katalogexport-in-datei-tab" data-toggle="tab" href="#einmaliger-katalogexport-in-datei" role="tab" aria-controls="einmaliger-katalogexport-in-datei" aria-selected="true">Einmaliger Katalogexport in Datei</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="regelm--iger-katalogexport-in-datei-tab" data-toggle="tab" href="#regelm--iger-katalogexport-in-datei" role="tab" aria-controls="regelm--iger-katalogexport-in-datei" aria-selected="false">Regelmäßiger Katalogexport in Datei</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="einmaliger-katalogexport-in-datei" role="tabpanel" aria-labelledby="einmaliger-katalogexport-in-datei-tab">
<div class="paragraph">
<p>Mit dieser Anleitung exportierst du die Katalogdaten einmalig in eine Datei. Die Katalogdaten werden dabei <strong><em>nicht</em></strong> an den Marktplatz exportiert.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Wenn du auf <strong>Daten herunterladen</strong> klickst, wird der Exportvorgang gestartet. Es wird aber <em>kein</em> Fenster angezeigt, über das du die Datei sofort herunterladen kannst. Erst wenn der Exportvorgang abgeschlossen ist, kannst du die Exportdatei in den Notifications herunterladen.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Katalogdaten einmalig in Datei exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Der Katalog wird geöffnet.</p>
</li>
<li>
<p>Klicke links auf das Tab <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ Die Einstellungsmöglichkeiten werden angezeigt.</p>
</li>
<li>
<p>Prüfe die Einstellungen und passe sie bei Bedarf an.<br>
<strong><em>Tipp:</em></strong> Stelle sicher, dass in den <strong>Download-Einstellungen</strong> die Option <strong>Benachrichtigungen erhalten</strong> aktiviert ist.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br></p>
</li>
<li>
<p>Klicke in der Symbolleiste oben auf <span class="icon "><i class="material-file_download"></i></span>.<br>
→ Der Export wird gestartet und läuft im Hintergrund.
Du kannst während des Exportvorgangs weiter arbeiten.<br>
<strong><em>Wichtig:</em></strong> Der Export läuft im Hintergrund. Es wird <em>kein</em> Fenster angezeigt, über das du die Datei sofort herunterladen kannst. Auch der Export kleiner Datenmengen dauert ca. 30 Minuten.</p>
</li>
<li>
<p>Wenn der Export abgeschlossen ist, wirst in den Notifications (<span class="icon "><i class="material-notifications_none"></i></span>) angezeigt, dass die Exportdatei heruntergeladen werden kann.</p>
</li>
<li>
<p>Klicke in der Notification auf <span class="icon "><i class="material-link"></i></span> <strong>Herunterladen</strong>.</p>
</li>
<li>
<p>Speichere die Datei auf deinem Rechner.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="regelm--iger-katalogexport-in-datei" role="tabpanel" aria-labelledby="regelm--iger-katalogexport-in-datei-tab">
<div class="ulist">
<ul>
<li>
<p>Mit dieser Anleitung speicherst du die Variantendaten des Katalogs regelmäßig an einem Speicherort, den du selbst festlegst. Auch was "regelmäßig" bedeutet, legst du selbst fest. Die Katalogdaten werden dabei <strong><em>nicht</em></strong> an den Marktplatz exportiert.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Regelmäßigen Katalogexport in Datei einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Der Katalog wird geöffnet.</p>
</li>
<li>
<p>Klicke links auf das Tab <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ Die Einstellungsmöglichkeiten werden angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-file-export">Tabelle 1</a>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Katalogdaten werden im festgelegten Intervall als Datei exportiert.<br>
→ Die Datei wird am festgelegten Speicherort gespeichert.</p>
</li>
</ol>
</div>
</div></div>
<table id="table-file-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für optionalen Dateiexport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div class="content"><div class="paragraph">
<p>Formateinstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Dateiname</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Dateinamen ein. Mit diesem Namen wird die exportierte Datei gespeichert.<br>
<strong><em>Tipp:</em></strong> Die Dateiendung wird beim Export automatisch ergänzt.
Gib deshalb den Dateinamen ohne eine Dateiendung an.
Dateiendungen sind zum Beispiel <code>.csv</code> oder <code>.txt</code>.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Verwende Platzhalter, um beim Export automatisch weitere Informationen zum Dateinamen hinzuzufügen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Liste der verfügbaren Platzhalter</div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Platzhalter sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$$name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Katalogname wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export-Typ wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Format-Typ wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$timestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$datetime</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$year</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jahr des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$month</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Monat des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$day</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$hour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stunde des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$minute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minute des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$second</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sekunde des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="paragraph">
<p><strong><em>Beispiele für die Verwendung von Platzhaltern:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eingabe 1: <code>artikel-export_$year_$month_$day</code></p>
</li>
<li>
<p>Ergebnis 1: <code>artikel-export_2022_01_02.csv</code></p>
</li>
</ul>
</div>
<hr>
<div class="ulist">
<ul>
<li>
<p>Eingabe 2: <code>$type_$format_$year_$month_$day</code></p>
</li>
<li>
<p>Ergebnis 2:</p>
<div class="ulist">
<ul>
<li>
<p><code>bestellung_bestellung_2022_01_02.csv</code><br></p>
</li>
<li>
<p><code>rewe_fashion_2020_10_25.csv</code></p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Format</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In welchem Dateiformat sollen die Daten exportiert werden?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>CSV</p>
</li>
<li>
<p>TXT</p>
</li>
<li>
<p>JSON</p>
</li>
<li>
<p>XML</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Feldtrennzeichen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches Feldtrennzeichen soll verwendet werden, um die einzelnen Datensätze voneinander zu trennen?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Komma = ,</p>
</li>
<li>
<p>Semikolon = ;</p>
</li>
<li>
<p>Pipe = |</p>
</li>
<li>
<p>Tabulator = ␉</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Textbegrenzer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welcher Textbegrenzer soll verwendet werden, um die einzelnen Datensätze voneinander zu trennen?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>"</p>
</li>
<li>
<p>'</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Dezimaltrennzeichen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches Zeichen soll verwendet werden, um Dezimalwerte darzustellen?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Komma = Standard im deutschsprachigen Raum, zum Beispiel <code>20,00 Euro</code></p>
</li>
<li>
<p>Punkt = Standard im englischsprachigen Raum, zum Beispiel <code>20.00 Euro</code></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Zeilenumbruch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie sollen Zeilenumbrüche in den Dateien abgebildet werden?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wagenrücklauf</p>
</li>
<li>
<p>Zeilenvorschub</p>
</li>
<li>
<p>Wagenrücklauf und Zeilenvorschub</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Kopfzeile enthalten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktiviere die Option, wenn die Exportdatei eine Kopfzeile enthalten soll.
Als Überschrift werden die Export Keys verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div class="content"><div class="paragraph">
<p>Exporteinstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Limit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie viele Datensätze sollen pro Datei maximal exportiert werden?</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Bereitstellung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wo soll der Export gespeichert werden?<br>
<strong><em>Wichtig:</em></strong> Mit dieser Einstellung werden keine Daten an Marktplätze exportiert.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Keine</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Export wird nicht gespeichert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Export wird auf einem FTP-Server gespeichert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SFTP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Export wird auf einem SFTP-Server gespeichert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTPS</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Export wird auf einem FTPS-Server gespeichert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin-Bereich</strong><br>
(coming soon)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Es bleibt spannend.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Server</strong><br>
(bei FTP, SFTP, FTPS)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den Server ein, auf dem der Export gespeichert werden soll.<br>
<strong><em>Empfehlung:</em></strong> Gib kein Protokoll-Präfix an.
Protokoll-Präfixe sind zum Beispiel <code>ftp://</code> und <code>ftps://</code>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Port</strong><br>
(bei FTP, SFTP, FTPS)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Port ein oder verwende die Standardeinstellung.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Empfohlene Port-Einstellungen:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Für FTP und FTPS = Port 21</p>
</li>
<li>
<p>Für SFTP = Port 22</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Benutzername</strong><br>
(bei FTP, SFTP, FTPS)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den Benutzernamen für den Server ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Passwort</strong><br>
(bei FTP, SFTP, FTPS)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib das Passwort für den Server ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pfad</strong><br>
(bei FTP, SFTP, FTPS)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den Pfad zu dem Speicherort ein, an dem der Export gespeichert werden soll.<br>
<strong><em>Hinweis</em></strong>: Wenn du SFTP verwendest, gib den vollständigen Pfad an.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Übertragung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wann soll ein Export gestartet werden?</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es werden keine Daten exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle 20 Minuten</strong>;<br>
<strong>Stündlich</strong>;<br>
<strong>Täglich</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der aktuelle Stand wird im gewählten Intervall exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitplan</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Option <strong>Zeitplan</strong> wird eingeblendet.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Zeitplan</strong><br>
(bei Option <strong>Zeitplan</strong>)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Klicke in das Feld. Wähle in der eingeblendeten Dropdown-Liste einen oder mehrere Zeitpunkte, zu denen ein Export gestartet werden soll.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="switch-to-catalogues">7. Von altem Export auf Katalogexport wechseln</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für manche Marktplätze gibt es sowohl einen alten Export als auch einen Katalogexport. Hier erfährst du, wie du wechselst.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Analysiere, welche Merkmale und Freitextfelder du aktuell für den Datenexport zu diesem Marktplatz nutzt. Merkmale und Freitextfelder können für den Katalogexport nicht mehr verwendet werden. Erstelle deshalb Eigenschaften für alle Daten, die du weiterhin benötigst.<br>
<strong><em>Wichtig:</em></strong> Die Werte der neuen Eigenschaften müssen mit den Werten der alten Merkmale identisch sein. Sonst kann es passieren, dass beim Export zum Marktplatz neue Artikel erstellt werden.</p>
</li>
<li>
<p>Erstelle einen Katalog. Je nach Marktplatz musst du unter Umständen vorher ein neues Plugin installieren. Ob das der Fall ist, erfährst du auf der Handbuchseite des Marktplatzes.</p>
</li>
<li>
<p>Öffne den Katalog und prüfe, welche Datenfelder an den Marktplatz exportiert werden können.</p>
<div class="ulist">
<ul>
<li>
<p>Ordne im Katalog den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu.<br>
<strong><em>Wichtig:</em></strong> Ordne den Marktplatz-Datenfeldern dieselben plentymarkets Datenfelder zu, die zurzeit auch über den alten Export exportiert werden. Sonst kann es passieren, dass beim Export zum Marktplatz neue Artikel erstellt werden.</p>
</li>
<li>
<p>Wenn nötig, erstelle weitere Eigenschaften.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Bereite deine Varianten vor:</p>
<div class="ulist">
<ul>
<li>
<p>Wenn du neue Eigenschaften erstellt hast, verknüpfe diese Eigenschaften mit den Varianten.</p>
</li>
<li>
<p>Für manche Marktplätze benötigst du auch eine Eigenschaft, um die Variante der richtigen Kategorie des Marktplatzes zuzuordnen. Diese Eigenschaft wird automatisch erstellt. Informationen dazu findest du auf der Handbuchseite des Marktplatzes.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Kann’s losgehen? Dann aktiviere deinen Katalog, um den Datenexport zu starten.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="faq">8. Fragen und Antworten</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>Warum sehe ich die Kataloge nicht?</strong></div>
<div class="content">
<div class="paragraph">
<p>Personen mit <a href="/business-entscheidungen/benutzerkonten-zugaenge#10">Backend-Zugriffsrechten</a> sehen Kataloge nur, wenn ein Admin ihnen Zugriffsrechte gegeben hat.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wende dich an eine Person mit Administratorrechten für das plentymarkets-System.</p>
</li>
<li>
<p>Diese Person öffnet das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Sie öffnet dein Benutzerkonto und schaltet die Rechte frei:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Daten &gt; Datenaustausch &gt; Export &gt; Katalog &gt; Anzeigen</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wenn das Problem weiterhin besteht, wende dich an unser <a href="https://forum.plentymarkets.com/c/importexport/multichannel/445" target="_blank" rel="noopener">Support-Team im Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="manage-catalogues">9. Kataloge verwalten: löschen, kopieren etc.</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lerne in den folgenden Kapiteln, wie du vorhandene Kataloge verwaltest. Diese Informationen gelten für Marktplatz-Formate und für Standardformate.</p>
</div>
<div class="sect2">
<h3 id="catalogue-rights">9.1. Rechte für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> Kataloge sehen können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Daten &gt; Datenaustausch &gt; Export &gt; Katalog &gt; Anzeigen</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="15">9.2. Spalten der Katalog-Übersicht anpassen</h3>
<div class="paragraph">
<p>Du kannst selbst entscheiden, welche Informationen in den Tabellenspalten angezeigt werden. Gehe dafür folgendermaßen vor:</p>
</div>
<div class="paragraph instruction">
<p>Spalten der Katalog-Übersicht anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke oben rechts auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="material-sort"></i></span>) die Spalten, sodass sie in der gewünschten Reihenfolge angezeigt werden.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Einstellungen zu speichern.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">9.3. Kataloge kopieren</h3>
<div class="paragraph">
<p>Du möchtest einen gut konfigurierten Katalog nutzen, um schnell einen neuen Katalog zu erstellen? Geht!
Beim Kopieren werden zugeordnete Datenfelder übernommen - auch, wenn du das Format wechselst. Du kannst sogar eine andere Sprache für die Kopie wählen.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="einen-katalog-kopieren-tab" data-toggle="tab" href="#einen-katalog-kopieren" role="tab" aria-controls="einen-katalog-kopieren" aria-selected="true">Einen Katalog kopieren</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="mehrere-kataloge-kopieren-tab" data-toggle="tab" href="#mehrere-kataloge-kopieren" role="tab" aria-controls="mehrere-kataloge-kopieren" aria-selected="false">Mehrere Kataloge kopieren</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="einen-katalog-kopieren" role="tabpanel" aria-labelledby="einen-katalog-kopieren-tab">
<div class="paragraph instruction">
<p>Katalog kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Zeile des Katalogs auf die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Kopieren</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
<strong><em>Oder</em></strong>: Hake den Katalog an, den du kopieren möchtest.</p>
</li>
<li>
<p>Klicke oben in der Katalog-Übersicht auf <strong>Kataloge kopieren</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wenn gewünscht, passe den automatisch vergebenen Namen für die Kopie an.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle ein anderes Format aus der Dropdown-Liste. Bereits zugeordnete Datenfelder werden dabei übernommen.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle eine andere Sprache aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Kopieren</strong>.<br>
→ Der Katalog wird kopiert und in der Katalog-Übersicht angezeigt.</p>
</li>
</ol>
</div>
<hr>
</div><div class="tab-pane fade" id="mehrere-kataloge-kopieren" role="tabpanel" aria-labelledby="mehrere-kataloge-kopieren-tab">
<div class="paragraph">
<p>Du kannst auch mehrere Kataloge gleichzeitig kopieren. Allerdings ist es in diesem Fall nicht möglich, eine Formatänderung an den Katalogen vorzunehmen oder eine andere Sprache zu wählen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Kataloge kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle die Kataloge, die du kopieren möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Kataloge kopieren</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ Alle gewählten Kataloge werden kopiert und in der Katalog-Übersicht angezeigt.<br></p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Um die automatisch vergebenen Namen für die kopierten Kataloge zu ändern, öffne die Kataloge einzeln und passe den Namen in den Grundeinstellungen an.</p>
</li>
</ol>
</div>
<hr>
</div></div>
</div>
<div class="sect2">
<h3 id="210">9.4. Kataloge löschen</h3>
<div class="paragraph">
<p>Du kannst einen Katalog oder mehrere Kataloge gleichzeitig löschen.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="einen-katalog-l-schen-tab" data-toggle="tab" href="#einen-katalog-l-schen" role="tab" aria-controls="einen-katalog-l-schen" aria-selected="true">Einen Katalog löschen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="mehrere-kataloge-l-schen-tab" data-toggle="tab" href="#mehrere-kataloge-l-schen" role="tab" aria-controls="mehrere-kataloge-l-schen" aria-selected="false">Mehrere Kataloge löschen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="einen-katalog-l-schen" role="tabpanel" aria-labelledby="einen-katalog-l-schen-tab">
<div class="paragraph instruction">
<p>Kataloge löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Zeile des Katalogs, den du löschen möchtest, auf die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Eine Sicherheitsabfrage wird eingeblendet.</p>
</li>
<li>
<p>Bestätige den Löschvorgang.<br>
→ Der Katalog wird gelöscht.<br>
<strong><em>Oder</em></strong>: Öffne einen Katalog.</p>
</li>
<li>
<p>Klicke oben auf die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Katalog löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Eine Sicherheitsabfrage wird eingeblendet.</p>
</li>
<li>
<p>Bestätige den Löschvorgang.<br>
→ Der Katalog wird gelöscht.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="mehrere-kataloge-l-schen" role="tabpanel" aria-labelledby="mehrere-kataloge-l-schen-tab">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um mehrere Kataloge gleichzeitig zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Kataloge löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle die Kataloge, die du löschen möchtest.</p>
</li>
<li>
<p>Klicke oben rechts auf <strong>Ausgewählte Kataloge löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Eine Sicherheitsabfrage wird eingeblendet.</p>
</li>
<li>
<p>Bestätige den Löschvorgang.<br>
→ Die Kataloge werden gelöscht.</p>
</li>
</ol>
</div>
</div></div>
</div>
<div class="sect2">
<h3 id="240">9.5. Gelöschten Katalog wiederherstellen</h3>
<div class="paragraph">
<p>In der Katalog-Übersicht kannst du den letzten Stand eines gelöschten Katalogs wiederherstellen.</p>
</div>
<div class="paragraph instruction">
<p>Gelöschten Katalog wiederherstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Gelöschten Katalog wiederherstellen</strong> (<span class="icon orange"><i class="material-undo"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Katalog aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Wiederherstellen</strong>.<br>
→ Der Katalog wird wiederhergestellt und in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="250">9.6. Andere Katalog-Version wiederherstellen</h3>
<div class="paragraph">
<p>Über die weiteren Aktionen und auch in der Ansicht eines Katalogs kannst du vorherige Versionen eines Katalogs wiederherstellen.</p>
</div>
<div class="paragraph instruction">
<p>Katalog-Version wiederherstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Öffne in der Zeile des Katalogs die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Katalog-Version wiederherstellen</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
<strong><em>Oder</em></strong>: Öffne einen Katalog und klicke oben auf die weiteren Aktionen (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Katalog-Version wiederherstellen</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle die Version, die du wiederherstellen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Wiederherstellen</strong>.<br>
→ Die Version des Katalogs wird wiederhergestellt und in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="270">9.7. Kataloge exportieren</h3>
<div class="paragraph">
<p>Exportiere Kataloge, um sie anschließend in andere plentymarkets Systeme importieren zu können. Gleichzeitig dient der Export als Daten-Backup.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Mit diesen Einstellungen exportierst du den Katalog selbst. Du exportierst also die Informationen, welche Datenfelder der Katalog enthält, und nicht die Daten, die für diese Datenfelder in plentymarkets gespeichert sind.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kataloge exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Setze ein Häkchen für den Katalog, den du exportieren möchtest. Du kannst auch mehrere Kataloge auf einmal wählen.</p>
</li>
<li>
<p>Klicke oben auf <strong>Katalog exportieren</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Speicherort.<br>
→ Die gewählten Kataloge werden exportiert und an dem gewünschten Ort gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="280">9.8. Kataloge importieren</h3>
<div class="paragraph">
<p>Nutze die Importfunktion, um Kataloge aus anderen plentymarkets Systemen oder zuvor als Backup gesicherte Kataloge wieder zu importieren.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Mit diesen Einstellungen importierst du den Katalog selbst. Du importierst also die Informationen, welche Datenfelder der Katalog enthält, und nicht die Daten, die für diese Datenfelder in plentymarkets gespeichert sind.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kataloge importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke oben auf <strong>Katalog importieren</strong> (<span class="icon "><i class="material-file_upload"></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle die Katalog-Datei, die du importieren möchtest.<br>
<strong><em>Wichtig:</em></strong> Du kannst immer nur einen Katalog importieren.<br>
→ Der Katalog wird importiert und in der Übersicht angezeigt.<br>
→ Der Name des importierten Kataloges enthält den Zusatz <code>(1)</code>.<br>
Stammt der Katalog aus einem anderen System, wird der Name beibehalten.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>