<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_welche_dns_daten_müssen_angepasst_werden"><span>1.</span><span> Welche DNS-Daten müssen angepasst werden?</span></a>
<ul class="sectlevel2">
<li><a href="#_a_record"><span>1.1.</span><span> A-Record</span></a></li>
<li><a href="#_cname"><span>1.2.</span><span> CNAME</span></a></li>
</ul>
</li>
<li><a href="#_wie_sehe_ich_meine_aktuell_hinterlegten_dns_einträge"><span>2.</span><span> Wie sehe ich meine aktuell hinterlegten DNS-Einträge?</span></a>
<ul class="sectlevel2">
<li><a href="#_per_internet_browser"><span>2.1.</span><span> Per Internet-Browser</span></a>
<ul class="sectlevel3">
<li><a href="#_a_record_eintrag_ermitteln"><span>2.1.1.</span><span> A-Record-Eintrag ermitteln</span></a></li>
<li><a href="#_cname_record_eintrag_ermitteln"><span>2.1.2.</span><span> CNAME-Record-Eintrag ermitteln</span></a></li>
</ul>
</li>
<li><a href="#_linux_macos_und_windows_kommandozeilentools"><span>2.2.</span><span> Linux, MacOS und Windows Kommandozeilentools</span></a>
<ul class="sectlevel3">
<li><a href="#_a_record_eintrag_ermitteln_2"><span>2.2.1.</span><span> A-Record-Eintrag ermitteln:</span></a></li>
<li><a href="#_cname_record_eintrag_ermitteln_2"><span>2.2.2.</span><span> CNAME-Record-Eintrag ermitteln:</span></a></li>
</ul>
</li>
<li><a href="#_wo_finde_ich_die_benötigten_korrekten_dns_einträge"><span>2.3.</span><span> Wo finde ich die benötigten, korrekten DNS-Einträge?</span></a>
<ul class="sectlevel4">
<li><a href="#_beispiel"><span>Beispiel</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#_wie_ändere_ich_meine_extern_hinterlegten_dns_einträge"><span>3.</span><span> Wie ändere ich meine extern hinterlegten DNS-Einträge?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practice: DNS-Einstellungen prüfen und anpassen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das DNS (<strong>D</strong>omain <strong>N</strong>ame <strong>S</strong>ystem) ist einer der wichtigsten Dienste in vielen IP-basierten Netzwerken. Seine Hauptaufgabe ist die Beantwortung von Anfragen zur Namensauflösung.</p>
</div>
<div class="paragraph">
<p>Namen sind leichter zu merken als eine bis zu 12-stellige Zahlenkombination. Aus diesem Grund werden für das Internet sog. Domains verwendet, wie z.B. plentymarkets.eu. Ein Aufruf dieser Domain in einem Internetbrowser erzeugt eine Anfrage an diverse DNS-Server, die versuchen, diese Domain in eine IP-Adresse aufzulösen und auf so den für den Inhalt zuständigen Server der Domain plentymarkets.eu zu erreichen.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> IP-Adressen sind, wie der Name schon sagt, Adressen. Will man in der realen Welt ein Paket verschicken, so braucht man dafür die Adresse des Empfängers. Bei Netzwerken ist das nicht anders, nur dass hier Netzwerkpakete verschickt werden und sich die Adressen nicht aus Straße, Hausnummer, Postleitzahl und Ort zusammensetzen. Stattdessen kommen klar definierte Zahlenfolgen zum Einsatz, die <strong>I</strong>nternet-<strong>P</strong>rotokoll-<strong>Adressen</strong>, oder kurz <strong>IP-Adressen</strong> genannt werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Aufbau von IP-Adressen</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Adressteil 1</th>
<th class="tableblock halign-left valign-top">Adressteil 2</th>
<th class="tableblock halign-left valign-top">Adressteil 3</th>
<th class="tableblock halign-left valign-top">Adressteil 4</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Post</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Straße</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hausnummer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PLZ</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ort</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netzwerk</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">192</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">168</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Diese Tabelle dient lediglich der Veranschaulichung. Die Gewichtung der Adressteile steht in keinem Zusammenhang.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_welche_dns_daten_müssen_angepasst_werden">1. Welche DNS-Daten müssen angepasst werden?</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_a_record">1.1. A-Record</h3>
<div class="paragraph">
<p>Mit einem A-Resource-Record wird einem DNS-Namen, also z.B. einer <a href="https://de.wikipedia.org/wiki/Uniform_Resource_Locator" target="_blank" rel="noopener">URL</a> wie plentymarkets.eu, eine IPv4-Adresse zugeordnet.</p>
</div>
</div>
<div class="sect2">
<h3 id="_cname">1.2. CNAME</h3>
<div class="paragraph">
<p>Ein CNAME Resource Record (CNAME RR) ist im DNS dazu vorgesehen, einer Domäne einen weiteren Namen zuzuordnen. Ein CNAME-Eintrag darf nicht für die eigentliche Domain (plentymarkets.eu), sondern lediglich für Subdomains (knowledge.plentymarkets.eu) verwendet werden! Ein CNAME-Eintrag überschreibt grundsätzlich alle anderen Einträge der gleichen Subdomain.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Der Name eines Shops lautet plentymarkets.eu. Wir möchten, dass dieser Shop ebenfalls unter dem Namen www.plentymarkets.eu zu erreichen ist. Durch das Eintragen eines CNAMES für www.plentymarkets.eu wird dafür gesorgt, dass www.plentymarkets.eu die Anfrage zum Darstellen der Internetseite an plentymarkets.eu weitergibt.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Für den Betrieb des Systems auf <a href="https://forum.plentymarkets.com/t/information-source-autoscaling-informationen-und-koordination/46996" target="_blank" rel="noopener">AutoScaling</a> ist ein CNAME-Record für die Subdomain <code><strong>www</strong>.plentymarkets.eu</code> zwingend erforderlich!
Der hierfür notwendige Eintrag wird in Deinem Service-Center an der jeweiligen Domain dargestellt.</p>
</div>
<div id="styleguide-assets" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/dnsselbsthilfe_pic001.png" alt="dnsselbsthilfe pic001">
</div>
<div class="title">Bild 1. DNS-Einstellungen</div>
</div>
<div class="paragraph">
<p>Gleiches gilt für alle anderen Sub-Domains.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_wie_sehe_ich_meine_aktuell_hinterlegten_dns_einträge">2. Wie sehe ich meine aktuell hinterlegten DNS-Einträge?</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_per_internet_browser">2.1. Per Internet-Browser</h3>
<div class="paragraph">
<p>Auf der Internetseite <a href="https://www.whatsmydns.net/" target="_blank" rel="noopener">whatsmydns.net</a> kann kannst du sehen welche DNS-Einstellungen bei deinem Domain-Provider hinterlegt sind. Weiterhin bietet die Seite die Möglichkeit, den Stand der weltweiten Verteilung der DNS-Daten auf allen DNS-Servern nachzuverfolgen.</p>
</div>
<div class="sect3">
<h4 id="_a_record_eintrag_ermitteln">2.1.1. A-Record-Eintrag ermitteln</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Trage in Feld <mark><strong>A</strong></mark> die Domain und Top-Level-Domain ein, deren A-Record ermittelt werden soll - z.B. plentymarkets.eu (<strong>nicht</strong> <code><strong>www.</strong>plentymarkets.eu</code>).</p>
</li>
<li>
<p>Wähle bei Feld <mark><strong>B</strong></mark> den zu ermittelnden Ressource-Record-Eintrag aus - in diesem Fall <strong>A</strong>.</p>
</li>
<li>
<p>Um die Suche zu starten, klicke auf <strong>Search</strong>.<br>
→ Es erscheint eine Liste der weltweiten Haupt-DNS-Server mit dem derzeit eingetragenen, dem Server bekannten A-Record in Form einer IPv4-Adresse.</p>
</li>
</ol>
</div>
<div id="styleguide-assets" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/dnsselbsthilfe_pic002.png" alt="dnsselbsthilfe pic002">
</div>
<div class="title">Bild 2. A-Record</div>
</div>
</div>
<div class="sect3">
<h4 id="_cname_record_eintrag_ermitteln">2.1.2. CNAME-Record-Eintrag ermitteln</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Trage in Feld <mark><strong>A</strong></mark> die Subdomain, Hauptdomain und Top-Level-Domain ein, deren CNAME-Record ermittelt werden soll, z.B. www.meinshop.de.</p>
</li>
<li>
<p>Wähle bei Feld <mark><strong>B</strong></mark> den zu ermittelnden Ressource-Record-Eintrag aus - in diesem Fall <strong>CNAME</strong>.</p>
</li>
<li>
<p>Um die Suche zu starten, klicke auf <strong>Search</strong>.<br>
→ Es erscheint eine Liste der weltweiten Haupt-DNS-Server mit dem derzeit eingetragenen, dem Server bekannten CNAME-Record.</p>
</li>
</ol>
</div>
<div id="styleguide-assets" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/dnsselbsthilfe_pic003.png" alt="dnsselbsthilfe pic003">
</div>
<div class="title">Bild 3. CNAME</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_linux_macos_und_windows_kommandozeilentools">2.2. Linux, MacOS und Windows Kommandozeilentools</h3>
<div class="sect3">
<h4 id="_a_record_eintrag_ermitteln_2">2.2.1. A-Record-Eintrag ermitteln:</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne auf ein Terminalfenster (Linux/MacOS) bzw. die Eingabeaufforderung (Windows).</p>
</li>
<li>
<p>Um des A-Record-Eintrage zu ermitteln, führe folgenden Befehl aus:<br>
<code>nslookup plentymarkets.eu</code> (<strong>nicht</strong> <code><strong>www.</strong>plentymarkets.eu</code>)
→ Es erscheint die nachfolgende Ausgabe mit dem entsprechenden A-Record-Eintrag.</p>
</li>
</ol>
</div>
<div id="styleguide-assets" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/dnsselbsthilfe_pic004.png" alt="dnsselbsthilfe pic004">
</div>
<div class="title">Bild 4. A-Record ermitteln</div>
</div>
</div>
<div class="sect3">
<h4 id="_cname_record_eintrag_ermitteln_2">2.2.2. CNAME-Record-Eintrag ermitteln:</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne auf ein Terminalfenster (Linux/MacOS) bzw. die Eingabeaufforderung (Windows).</p>
</li>
<li>
<p>Um des A-Record-Eintrage zu ermitteln, führe folgenden Befehl aus:<br>
<code>nslookup -q=CNAME www.plentymarkets.eu</code> (<strong>Bitte exakte Schreibweise beachten!</strong>)
→ Es erscheint die nachfolgende Ausgabe mit dem entsprechenden CNAME-Record-Eintrag.</p>
</li>
</ol>
</div>
<div id="styleguide-assets" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/dnsselbsthilfe_pic005.png" alt="dnsselbsthilfe pic005">
</div>
<div class="title">Bild 5. CNAME ermitteln</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_wo_finde_ich_die_benötigten_korrekten_dns_einträge">2.3. Wo finde ich die benötigten, korrekten DNS-Einträge?</h3>
<div class="paragraph">
<p>Die korrekten DNS-Einstellungen findest du in deinem Service-Center unter <strong>Service-Center » Systeme » Plenty ID » Tab: Domain » Domain-ID » Aktuelle DNS Einstellungen</strong>.</p>
</div>
<div class="sect4">
<h5 id="_beispiel">Beispiel</h5>
<div id="styleguide-assets" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/dnsselbsthilfe_pic001.png" alt="dnsselbsthilfe pic001">
</div>
<div class="title">Bild 6. Beispiel DNS-Einstellungen</div>
</div>
<div class="paragraph">
<p>Der Login in das Service-Center ist über den nachfolgenden Link zu erreichen:
<a href="https://www.plentymarkets.eu/my-account/" class="bare" target="_blank" rel="noopener">https://www.plentymarkets.eu/my-account/</a></p>
</div>
<div class="paragraph">
<p>Für den Login wird als Anmeldename die E-Mail-Adresse benötigt, die auf deiner plentymarkets-Rechnung angegeben wurde, sowie das dazugehörige Passwort.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_wie_ändere_ich_meine_extern_hinterlegten_dns_einträge">3. Wie ändere ich meine extern hinterlegten DNS-Einträge?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Prinzipiell liegt die Verantwortung, dass die DNS-Einstellungen bei <strong>extern gehosteten Domains</strong> richtig hinterlegt sind beim Domain-Inhaber - also bei dir. plentysystems bietet keinen Support für das Einrichten von externen Domains an.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Das Ändern von DNS-Einstellungen sollte nur von fachkundigem Personal durchgeführt werden, da Fehlkonfigurationen zur Nichterreichbarkeit der Domain führen und damit die Systemerreichbarkeit negativ beeinflussen können.<br></p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="https://forum.plentymarkets.com/t/selbsthilfe-bei-dns-problemen-wie-hinterlege-ich-korrekte-dns-einstellungen/65559/7">Im Forum</a> sind Screenshots von verschiedenen Domain-Anbietern hinterlegt. Mithilfe der Screenshots kannst du die notwendigen Schritte zum Hinterlegen der korrekten DNS-Einstellungen nachvollziehen.</p>
</div>
</div>
</div>
</main>