<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_wissenswertes_über_die_ssl_zertifizierung"><span>1.</span><span> Wissenswertes über die SSL-Zertifizierung</span></a>
<ul class="sectlevel2">
<li><a href="#_preis_modell_der_ssl_zertifizierung"><span>1.1.</span><span> Preis-Modell der SSL-Zertifizierung</span></a></li>
<li><a href="#_letsencrypt_oder_comodo_welches_zertifikat_soll_ich_nutzen"><span>1.2.</span><span> Let’sEncrypt oder COMODO - Welches Zertifikat soll ich nutzen?</span></a>
<ul class="sectlevel3">
<li><a href="#_pro_letsencrypt"><span>1.2.1.</span><span> Pro Let’sEncrypt</span></a></li>
<li><a href="#_contra_letsencrypt"><span>1.2.2.</span><span> Contra Let’sEncrypt</span></a></li>
<li><a href="#_pro_comodo"><span>1.2.3.</span><span> Pro COMODO</span></a></li>
<li><a href="#_contra_comodo"><span>1.2.4.</span><span> Contra COMODO</span></a></li>
</ul>
</li>
<li><a href="#_domainvoraussetzungen"><span>1.3.</span><span> Domainvoraussetzungen</span></a>
<ul class="sectlevel3">
<li><a href="#_aktiviertes_autoscaling"><span>1.3.1.</span><span> Aktiviertes Autoscaling</span></a>
<ul class="sectlevel4">
<li><a href="#_woran_erkenne_ich_aktiviertes_as"><span>Woran erkenne ich aktiviertes AS?</span></a></li>
</ul>
</li>
<li><a href="#_bei_subdomains_existierende_parent_domain"><span>1.3.2.</span><span> Bei Subdomains: Existierende Parent-Domain</span></a></li>
<li><a href="#_dns_einstellungen"><span>1.3.3.</span><span> DNS-Einstellungen</span></a>
<ul class="sectlevel4">
<li><a href="#_dns_einstellungen_gem_angaben_im_service_center"><span>DNS-Einstellungen gem. Angaben im Service-Center</span></a></li>
<li><a href="#_kein_aaaa_record"><span>Kein AAAA-Record</span></a></li>
<li><a href="#_kein_negativer_caa_record"><span>Kein negativer CAA-Record</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#_veröffentlichung_bereitstellung"><span>1.4.</span><span> Veröffentlichung / Bereitstellung</span></a></li>
<li><a href="#_qualitätskontrolle_durch_die_zertifizierungsstelle"><span>1.5.</span><span> Qualitätskontrolle durch die Zertifizierungsstelle</span></a></li>
<li><a href="#_gültigkeitsdauer"><span>1.6.</span><span> Gültigkeitsdauer</span></a>
<ul class="sectlevel3">
<li><a href="#_gültigkeitsdauer_für_letsencrypt_zertifikate"><span>1.6.1.</span><span> Gültigkeitsdauer für Let’sEncrypt-Zertifikate</span></a>
<ul class="sectlevel4">
<li><a href="#_letsencrypt_kündigen"><span>Let’sEncrypt kündigen</span></a>
<ul class="sectlevel5">
<li><a href="#_kündigung_am_18_05_2018"><span>Kündigung am 18.05.2018</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#_gültigkeitsdauer_für_comodo_zertifikate"><span>1.6.2.</span><span> Gültigkeitsdauer für COMODO-Zertifikate</span></a></li>
</ul>
</li>
<li><a href="#_verlängerung_des_ssl_zertifikats"><span>1.7.</span><span> Verlängerung des SSL-Zertifikats</span></a>
<ul class="sectlevel3">
<li><a href="#_verlängerung_für_letsencrypt_zertifikate"><span>1.7.1.</span><span> Verlängerung für Let’sEncrypt-Zertifikate</span></a></li>
<li><a href="#_verlängerung_für_comodo_zertifikate"><span>1.7.2.</span><span> Verlängerung für COMODO-Zertifikate</span></a></li>
</ul>
</li>
<li><a href="#_gekündigte_domains_und_testdomains"><span>1.8.</span><span> Gekündigte Domains und Testdomains</span></a></li>
<li><a href="#_domainvalidierte_bezogene_zertifikate"><span>1.9.</span><span> Domainvalidierte/-bezogene Zertifikate</span></a></li>
<li><a href="#_domainumzug_pki_ssl_zertifikat_verschieben_transferieren"><span>1.10.</span><span> Domainumzug, PKI, SSL-Zertifikat verschieben / transferieren</span></a></li>
<li><a href="#_wildcard_zertifikate"><span>1.11.</span><span> Wildcard-Zertifikate</span></a></li>
</ul>
</li>
<li><a href="#_schritt_für_schritt_zum_ssl_zertifikat"><span>2.</span><span> Schritt für Schritt zum SSL-Zertifikat</span></a>
<ul class="sectlevel2">
<li><a href="#_ssl_zertifikat_von_letsencrypt"><span>2.1.</span><span> SSL-Zertifikat von Let’sEncrypt</span></a>
<ul class="sectlevel3">
<li><a href="#_wie_gelange_ich_zum_bestellvorgang"><span>2.1.1.</span><span> Wie gelange ich zum Bestellvorgang?</span></a></li>
<li><a href="#_wie_bestelle_ich_erfolgreich_ein_ssl_zertifikat_von_letsencrypt"><span>2.1.2.</span><span> Wie bestelle ich erfolgreich ein SSL-Zertifikat von Let’sEncrypt?</span></a></li>
<li><a href="#_wann_ist_die_bestellung_erfolgreich_abgeschlossen"><span>2.1.3.</span><span> Wann ist die Bestellung erfolgreich abgeschlossen?</span></a></li>
</ul>
</li>
<li><a href="#_ssl_zertifikat_von_comodo"><span>2.2.</span><span> SSL-Zertifikat von COMODO</span></a>
<ul class="sectlevel3">
<li><a href="#_wie_gelange_ich_zum_bestellvorgang_2"><span>2.2.1.</span><span> Wie gelange ich zum Bestellvorgang?</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#_was_kann_bei_der_bestellung_schiefgehen"><span>3.</span><span> Was kann bei der Bestellung schiefgehen?</span></a>
<ul class="sectlevel2">
<li><a href="#_der_status_der_bestellung_steckt_fest_bei_challengesolved"><span>3.1.</span><span> Der Status der Bestellung steckt fest bei challengeSolved</span></a></li>
</ul>
</li>
<li><a href="#_häufig_gestellte_fragen_faq"><span>4.</span><span> Häufig gestellte Fragen (FAQ)</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practice: SSL-Zertifikat bestellen</h1><div class="sect1">
<h2 id="_wissenswertes_über_die_ssl_zertifizierung">1. Wissenswertes über die SSL-Zertifizierung</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_preis_modell_der_ssl_zertifizierung">1.1. Preis-Modell der SSL-Zertifizierung</h3>
<div class="paragraph">
<p>Für das Bereitstellen des SSL-Zertifikates wird eine <strong>mtl. Gebühr in Höhe 2,- € netto zzgl. der Kosten des SSL-Zertifikats</strong> erhoben.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/monatlichen_kosten.png" alt="monatlichen_kosten">
</div>
</div>
<div class="paragraph">
<p>Demnach ergeben sich folgende jährliche Kosten je Modell in aufsteigender Reihenfolge:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zertifikat</th>
<th class="tableblock halign-left valign-top">Berechnung</th>
<th class="tableblock halign-left valign-top">Kosten p.a.</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Let’s Encrypt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">12*2 + 12*0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">24,- €</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">COMODO 2 Jahre</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">12*2 + 1*59,50/2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">53,75 €</p></td>
</tr>
</tbody>
<tfoot>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">COMODO 1 Jahr</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">12*2 + 1*35,70</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">59,70 €</p></td>
</tr>
</tfoot>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Alle Preise sind in <strong>netto</strong> angegeben.
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_letsencrypt_oder_comodo_welches_zertifikat_soll_ich_nutzen">1.2. Let’sEncrypt oder COMODO - Welches Zertifikat soll ich nutzen?</h3>
<div class="sect3">
<h4 id="_pro_letsencrypt">1.2.1. Pro Let’sEncrypt</h4>
<div class="ulist">
<ul>
<li>
<p>Günstigstes SSL-Zertifizierungsmodell</p>
</li>
<li>
<p>Voll automatisierte Verlängerung</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="_contra_letsencrypt">1.2.2. Contra Let’sEncrypt</h4>
<div class="ulist">
<ul>
<li>
<p>Die Vertrauenswürdigkeit wird im Hintergrund von der kleinen <a href="https://de.wikipedia.org/wiki/Zertifizierungsstelle">Zertifizierungsstelle</a>  (Certification Authority - kurz: CA) <a href="https://www.identrust.com">IdenTrust</a> bescheinigt – es handelt sich um keine traditionelle CA, sondern um ein Zertifikate ausstellendes Bank-Konsortium.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Offizielle Homepage: <a href="https://letsencrypt.org/" class="bare">https://letsencrypt.org/</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="_pro_comodo">1.2.3. Pro COMODO</h4>
<div class="ulist">
<ul>
<li>
<p>Weltweit anerkannte und über Jahre vertrauensvolle <a href="https://de.wikipedia.org/wiki/Zertifizierungsstelle">CA</a>.</p>
</li>
<li>
<p>Im Falle eines Missbrauchs oder Datenverlustes besteht Garantieanspruch bei der ausstellenden CA.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="_contra_comodo">1.2.4. Contra COMODO</h4>
<div class="ulist">
<ul>
<li>
<p>Keine automatische Verlängerung</p>
</li>
<li>
<p>Zwingend strikte Einhaltung des Beschriebenen Bestellvorgangs notwendig</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Offizielle Homepage: <a href="https://comodosslstore.com/" class="bare">https://comodosslstore.com/</a></p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_domainvoraussetzungen">1.3. Domainvoraussetzungen</h3>
<div class="paragraph">
<p>Die Domain, für die das SSL-Zertifikat bestellt werden soll, muss eine im Service-Center aktivierte Hauptdomain sein (<a href="https://knowledge.plentymarkets.com/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#_systemverkn%C3%BCpfung_erstellen">Handbuch: Systemverknüpfung erstellen</a>).<br>
Siehe <strong>Service Center » Systeme » PID » Tab: Domain » Domain-ID » Systemverknüpfung</strong><br>
image::basics/admin-aufgaben/best-practices/assets/systemverknüpfung_hauptdomain.png[systemverknüpfung_hauptdomain]</p>
</div>
<div class="paragraph">
<p>Die Bestellung eines SSL-Zertifikats <strong>ist nicht möglich</strong>, wenn für die entsprechende Domain unter dem Menüpunkt Systemverknüpfung die Auswahl externer Server abgespeichert ist.<br>
image::basics/admin-aufgaben/best-practices/assets/externer_server.png[externer_server]</p>
</div>
<div class="sect3">
<h4 id="_aktiviertes_autoscaling">1.3.1. Aktiviertes Autoscaling</h4>
<div class="paragraph">
<p>Vereinzelt gibt es noch immer Systeme, die nicht auf <a href="https://aws.amazon.com/de/autoscaling/">Autoscaling</a> (kurz: <strong>AS</strong>) umgestellt wurden. In den meisten Fällen liegt das daran, dass die Domain nicht bei plentymarkets gehostet wird und aus diesem Grund ein manuelles Eingreifen in die DNS-Einstellungen der Domain durch den Domain-Inhaber notwendig ist.<br>
Eine weitere Ursache ist das <strong>erstmalige</strong> Hinzufügen einer Domain an einen Mandanten-Shop. Diese werden nicht automatisch auf AS umgestellt, sondern müssen von uns im Nachhinein umgestellt werden.</p>
</div>
<div class="sect4">
<h5 id="_woran_erkenne_ich_aktiviertes_as">Woran erkenne ich aktiviertes AS?</h5>
<div class="paragraph">
<p>Ob für das jeweilige System AS aktiviert ist oder nicht erkennt man anhand der dargestellten DNS-Einstellungen im Service-Center an der jeweiligen Domain. Systeme, die auf AS umgestellt wurden, benötigen zwingend einen CNAME-Record. Wenn dieser CNAME-Record im Service-Center nicht dargestellt wird, sondern stattdessen zwei A-Records, ist das System, bei dem zwei A-Records dargestellt werden, nicht auf AS umgestellt.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Beispiel der dargestellten DNS-Einstellungen bei einem System auf AS:<br></p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/identify_set_as.png" alt="DNS-Einstellungen bei aktiviertem AS">
</div>
</div>
<div class="ulist">
<ul>
<li>
<p>Beispiel der dargestellten DNS-Einstellungen bei einem System <strong>ohne</strong> AS:<br></p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/identify_non_set_as.png" alt="DNS-Einstellungen bei nicht aktiviertem AS">
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_bei_subdomains_existierende_parent_domain">1.3.2. Bei Subdomains: Existierende Parent-Domain</h4>
<div class="paragraph">
<p>Wenn ein SSL-Zertifikat für Sub-Domains bestellt werden soll, muss sichergestellt sein, dass die dazugehörige <a href="https://de.wikipedia.org/wiki/Domain_(Internet)">Parent-Domain</a> ebenfalls im Service-Center existiert und die notwendige Beziehung zueinander korrekt eingetragen ist.
Solltet ihr die Parent-Domain bereits aus dem Service-Center entfernt haben, muss diese Parent-Domain erneut angelegt werden und, falls gewünscht, mit einem externen A-Record versehen werden, wenn diese <strong>nicht</strong> auf plentymarkets zeigen soll, sondern z.B. auf Shopware oder dergleichen (<a href="https://knowledge.plentymarkets.com/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#_systemverkn%C3%BCpfung_erstellen">Handbuch: Systemverknüpfung erstellen</a>).<br>
Erläutertes Fallbeispiel im Forum: <a href="https://forum.plentymarkets.com/t/ssl-verlaengerung-nicht-moeglich/501453/4?u=marvin.moldenhauer">SSL Verlängerung nicht möglich</a></p>
</div>
</div>
<div class="sect3">
<h4 id="_dns_einstellungen">1.3.3. DNS-Einstellungen</h4>
<div class="sect4">
<h5 id="_dns_einstellungen_gem_angaben_im_service_center">DNS-Einstellungen gem. Angaben im Service-Center</h5>
<div class="paragraph">
<p>Die Validierung der SSL-Bestellung erfolgt auf Dateiebene.
Das bedeutet, dass die Domain, für die das Zertifikat bestellt werden soll, zwingend korrekt erreichbar sein muss. Dazu müssen die DNS-Einstellungen gem. den Angaben im Service-Center entsprechen.<br>
Siehe dazu <a href="https://forum.plentymarkets.com/t/selbsthilfe-bei-dns-problemen-wie-hinterlege-ich-korrekte-dns-einstellungen/65559">Selbsthilfe bei DNS-Problemen / Wie hinterlege ich korrekte DNS-Einstellungen</a></p>
</div>
</div>
<div class="sect4">
<h5 id="_kein_aaaa_record">Kein AAAA-Record</h5>
<div class="paragraph">
<p>Für die Domain, für die das SSL-Zertifikat bestellt werden soll, darf kein IPv6-Eintrag (AAAA-Record) existieren.</p>
</div>
</div>
<div class="sect4">
<h5 id="_kein_negativer_caa_record">Kein negativer CAA-Record</h5>
<div class="paragraph">
<p>Für die Domain, für die das SSL-Zertifikat bestellt werden soll, muss sichergestellt werden, dass evtl. vorhandene <a href="https://de.wikipedia.org/wiki/DNS_Certification_Authority_Authorization">CAA-Records</a> die Bestellung von COMODO und/oder LetsEncrypt-Zertifikaten zulässt.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_veröffentlichung_bereitstellung">1.4. Veröffentlichung / Bereitstellung</h3>
<div class="paragraph">
<p>Nach Bestellung eines neuen Zertifikats muss dieses durch einen regelmäßig ausgeführten <strong>Systemprozess</strong> veröffentlicht werden. <strong>Dies kann bis zu 60 Minuten dauern.</strong></p>
</div>
</div>
<div class="sect2">
<h3 id="_qualitätskontrolle_durch_die_zertifizierungsstelle">1.5. Qualitätskontrolle durch die Zertifizierungsstelle</h3>
<div class="paragraph">
<p>In Einzelfällen führt die Zertifizierungsstelle eine Qualitätskontrolle durch bevor sie SSL-Zertifikate freischaltet. Prüfe daher die auf dem Bildschirm angezeigte Bestätigungsnachricht. Eine Qualitätskontrolle dauert in der Regel bis zu 24 Stunden. Sollte der Status im Service-Center nach 24 Stunden nicht <strong>done</strong> lauten, melde Dich im Forum unter Angabe der betroffenen Domain.</p>
</div>
</div>
<div class="sect2">
<h3 id="_gültigkeitsdauer">1.6. Gültigkeitsdauer</h3>
<div class="sect3">
<h4 id="_gültigkeitsdauer_für_letsencrypt_zertifikate">1.6.1. Gültigkeitsdauer für Let’sEncrypt-Zertifikate</h4>
<div class="ulist">
<ul>
<li>
<p>SSL-Zertifikate von <strong>Let’sEncrypt</strong> sind jeweils <strong>90 Tage</strong> gültig.</p>
</li>
<li>
<p>Alle <strong>60 Tage</strong> wird das Zertifikat <strong>erneuert.</strong></p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ausstellungsdatum</th>
<th class="tableblock halign-left valign-top">gültig bis</th>
<th class="tableblock halign-left valign-top">Erneuerungsdatum</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.01.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.04.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">02.03.18</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">02.03.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">31.05.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.05.18</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.05.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">30.07.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">30.06.18</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">30.06.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.09.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">29.08.18</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">29.08.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">27.11.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.10.18</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.10.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">26.01.19</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">27.12.18</p></td>
</tr>
</tbody>
<tfoot>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">27.12.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">27.03.19</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">25.02.19</p></td>
</tr>
</tfoot>
</table>
<div class="sect4">
<h5 id="_letsencrypt_kündigen">Let’sEncrypt kündigen</h5>
<div class="paragraph">
<p>Die Kündigung des Let’sEncrypt-Zertifikats sorgt dafür, dass keine Erneuerung stattfindet.
Die Laufzeit des aktuell ausgestellten Zertifikats wird dadurch nicht beeinflusst.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ausstellungsdatum</th>
<th class="tableblock halign-left valign-top">gültig bis</th>
<th class="tableblock halign-left valign-top">Erneuerungsdatum</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.01.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.04.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">02.03.18</p></td>
</tr>
</tbody>
<tfoot>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">02.03.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">31.05.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.05.18</p></td>
</tr>
</tfoot>
</table>
<div class="sect5">
<h6 id="_kündigung_am_18_05_2018">Kündigung am 18.05.2018</h6>
<div class="paragraph">
<p>Die letzte Erneuerung des SSL-Zertifikats fand am 01.05.2018 statt. Demnach ist das SSL-Zertifikat ab dem Datum 90 Tage gültig. Nach Ablauf der 90 Tage wird die entsprechende Domain nicht mehr per HTTPS ausgeliefert und wird demnach als <em>Nicht sicher</em> eingestuft.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ausstellungsdatum</th>
<th class="tableblock halign-left valign-top">gültig bis</th>
<th class="tableblock halign-left valign-top">Erneuerungsdatum</th>
</tr>
</thead>
<tfoot>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.05.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">30.07.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">entfällt wg. Kündigung</p></td>
</tr>
</tfoot>
</table>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/ssl-zertifikat_deaktivieren.png" alt="ssl-zertifikat_deaktivieren">
</div>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_gültigkeitsdauer_für_comodo_zertifikate">1.6.2. Gültigkeitsdauer für COMODO-Zertifikate</h4>
<div class="paragraph">
<p>Die Gültigkeitsdauer von neu bestellten Zertifikaten beginnt mit dem Datum der Bestätigung der Zertifizierungsstelle. Eine eventuelle Restlaufzeit des vorherigen Zertifikats kann nicht übernommen werden.</p>
</div>
<div class="paragraph">
<p>Die Laufzeit des SSL-Zertifikats wird während des Bestellprozesses zur Auswahl gestellt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 Jahr</p>
</li>
<li>
<p>2 Jahre</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_verlängerung_des_ssl_zertifikats">1.7. Verlängerung des SSL-Zertifikats</h3>
<div class="sect3">
<h4 id="_verlängerung_für_letsencrypt_zertifikate">1.7.1. Verlängerung für Let’sEncrypt-Zertifikate</h4>
<div class="paragraph">
<p>Die Verlängerung der Let’sEncrypt-SSL-Zertifikate findet vollautomatisch statt, bis es im Service-Center durch das Entfernen des Hakens gekündigt wird.</p>
</div>
</div>
<div class="sect3">
<h4 id="_verlängerung_für_comodo_zertifikate">1.7.2. Verlängerung für COMODO-Zertifikate</h4>
<div class="paragraph">
<p>Ein von COMODO ausgestelltes SSL-Zertifikat verlängert sich <strong>nicht automatisch</strong>
→ Es muss nach Ende der Laufzeit (mindestens 1 Jahr) neu geordert werden.</p>
</div>
<div class="paragraph">
<p>14 Tage vor offiziellem Ablaufdatum des Zertifikats (siehe Service-Center) wird eine Erinnerungs-E-Mail an die Hostmaster-Adresse gesendet.</p>
</div>
<div class="paragraph">
<p>Zusätzlich besteht die Möglichkeit, sich per E-Mail erinnern zu lassen. Eine kostenfreie Möglichkeit stellt der Dienst <a href="http://letsmonitor.org/" class="bare">http://letsmonitor.org/</a> dar.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_gekündigte_domains_und_testdomains">1.8. Gekündigte Domains und Testdomains</h3>
<div class="paragraph">
<p>Für bereits <strong><em>gekündigte</em></strong> Domains, sowie für <strong><em>Startup-Domains</em></strong> bzw. <strong><em>Test-Subdomains</em></strong> (d.h. Domains mit den Bestandteilen <em>plenty-test-drive.eu, plentymarkets-x1.com, plentymarkets-cloud01/02.com</em> etc.,) können <strong><em>keine SSL-Zertifikate bestellt</em></strong><em> werden</em>*.</p>
</div>
</div>
<div class="sect2">
<h3 id="_domainvalidierte_bezogene_zertifikate">1.9. Domainvalidierte/-bezogene Zertifikate</h3>
<div class="paragraph">
<p>SSL-Zertifikate sind domaingebunden. Das bedeutet, dass beispielsweise bei Umstellung der Hauptdomain das aktuelle Zertifikat <em>inaktiv</em> geschaltet wird, da eine neue Hauptdomain ohne bestelltes Zertifikat vorliegt.
Inaktiv bedeutet nicht gelöscht - Sollte die Hauptdomain erneut auf die Domain umgestellt werden, die bereits ein SSL-Zertifikat besaß, kann dieses im Service Center wieder aktiviert werden, sofern das SSL-Zertifikat noch gültig ist.</p>
</div>
</div>
<div class="sect2">
<h3 id="_domainumzug_pki_ssl_zertifikat_verschieben_transferieren">1.10. Domainumzug, PKI, SSL-Zertifikat verschieben / transferieren</h3>
<div class="paragraph">
<p>SSL-Zertifikate können bei einem Domainumzug zu plentymarkets <strong>nicht</strong> mitgenommen werden. Aufgrund der technischen Gegebenheiten ist die Bestellung nur innerhalb unserer <a href="https://de.wikipedia.org/wiki/Public-Key-Infrastruktur">Public-Key-Infrastruktur</a> möglich.</p>
</div>
<div class="paragraph">
<p>Dies gilt für <strong><em>beide Richtungen</em></strong>. Sowohl von <strong><em>extern zu plentymarkets</em></strong>, als auch von <strong><em>plentymarkets zu extern</em></strong>. Ein über plentymarkets gebuchtes SSL-Zertifikat muss <strong><em>systemnah</em></strong> liegen und kann bei einem Domaintransfer nicht mitgenommen werden. Ein Export der Zertifikatsdaten (geheimer Private-Key) ist <strong>nicht</strong> möglich. Auch ein “Transfer” eines SSL-Zertifikats von einer Domain(-ID) auf eine andere ist nicht möglich (siehe Punkt <a href="#_veröffentlichung_bereitstellung">Section 1.4</a>).</p>
</div>
<div class="admonitionblock caution">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-caution" title="Achtung"></i>
</td>
<td class="content">
Um die gewünschte Domain mit einem gültigen SSL-Zertifikat auszuliefern, siehe ab <a href="#_schritt_für_schritt_zum_ssl_zertifikat">Section 2</a>.
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_wildcard_zertifikate">1.11. Wildcard-Zertifikate</h3>
<div class="paragraph">
<p>Das Ausstellen von sogenannten Wildcard-SSL-Zertifikaten ist in unserer Infrastruktur nicht möglich.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_schritt_für_schritt_zum_ssl_zertifikat">2. Schritt für Schritt zum SSL-Zertifikat</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_ssl_zertifikat_von_letsencrypt">2.1. SSL-Zertifikat von Let’sEncrypt</h3>
<div class="sect3">
<h4 id="_wie_gelange_ich_zum_bestellvorgang">2.1.1. Wie gelange ich zum Bestellvorgang?</h4>
<div class="paragraph">
<p>Logge Dich über dein Backend oder den folgenden Link in Dein Service-Center ein: <a href="https://www.plentymarkets.eu/my-account/" class="bare">https://www.plentymarkets.eu/my-account/</a></p>
</div>
<div class="paragraph">
<p>Für den Login benötigst Du die E-Mail-Adresse, die Du auf Deiner Rechnung findest und das dazugehörige Passwort. Wenn Du das Passwort nicht (mehr) kennst, benutze die Funktion zum Zurücksetzen des Passworts.</p>
</div>
</div>
<div class="sect3">
<h4 id="_wie_bestelle_ich_erfolgreich_ein_ssl_zertifikat_von_letsencrypt">2.1.2. Wie bestelle ich erfolgreich ein SSL-Zertifikat von Let’sEncrypt?</h4>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Es ist zwingend notwendig, dass die DNS-Einstellungen der Domain, für die das SSL-Zertifikat bestellt werden soll, den Angaben in Deinem Service-Center entsprechen - siehe auch <a href="https://forum.plentymarkets.com/t/selbsthilfe-bei-dns-problemen-wie-hinterlege-ich-korrekte-dns-einstellungen/65559">Selbsthilfe bei DNS-Problemen / Wie hinterlege ich korrekte DNS-Einstellungen</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/ssl-zertifikat_bestellen.png" alt="ssl-zertifikat_bestellen">
</div>
</div>
</div>
<div class="sect3">
<h4 id="_wann_ist_die_bestellung_erfolgreich_abgeschlossen">2.1.3. Wann ist die Bestellung erfolgreich abgeschlossen?</h4>
<div class="ulist">
<ul>
<li>
<p>Nach ca. 1 - 2 Stunden sollte das Zertifikat korrekt installiert sein.</p>
</li>
<li>
<p>Browser- und ggf. DNS-Cache leeren: <a href="https://forum.plentymarkets.com/t/loeschen-des-lokalen-browser-und-oder-dns-cache/64288">Löschen des lokalen Browser- und/oder DNS-Cache</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Bestellung des LetsEncrypt-Zertifikates ist erst abgeschlossen, wenn der Status im Service Center auf <strong>“done”</strong> steht. Alle Meldungen, die <strong>“challenge…”</strong> beinhalten bedeuten, dass der Bestellvorgang noch bearbeitet wird.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_ssl_zertifikat_von_comodo">2.2. SSL-Zertifikat von COMODO</h3>
<div class="sect3">
<h4 id="_wie_gelange_ich_zum_bestellvorgang_2">2.2.1. Wie gelange ich zum Bestellvorgang?</h4>
<div class="paragraph">
<p>Wenn Du sichergestellt hast, dass sämtliche in §1.3 genannten Voraussetzungen erfüllt sind, kannst Du mit der Bestellung des SSL-Zertifikats fortfahren.</p>
</div>
<div class="paragraph">
<p>Logge Dich dazu in Dein Backend ein und navigiere zu:<br>
<strong>Einrichtung » Mandant » [Mandant, für den das SSL-Zertifikat bestellt werden soll] » SSL</strong></p>
</div>
<div class="paragraph">
<p>Dort angekommen siehst Du nun die nachfolgende Übersicht:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/comodo_ssl_bestellen_backend1.png" alt="Backend_navigate_to_ssl_order1">
</div>
</div>
<div class="paragraph">
<p>Klicke auf <strong>Neues SSL bestellen für Domain: <code>[deineDomain.tld]</code></strong>, um die Bestellauswahl anzuzeigen:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/admin-aufgaben/best-practices/assets/comodo_ssl_bestellen_backend2.png" alt="Backend_navigate_to_ssl_order2">
</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>SSL bestellen</strong> klicken</p>
</li>
<li>
<p>nach ca. 1 - 2 Stunden sollte das Zertifikat korrekt installiert sein</p>
</li>
<li>
<p>Browser- und ggf. DNS-Cache leeren: <a href="https://forum.plentymarkets.com/t/loeschen-des-lokalen-browser-und-oder-dns-cache/64288">Löschen des lokalen Browser- und/oder DNS-Cache</a></p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_kann_bei_der_bestellung_schiefgehen">3. Was kann bei der Bestellung schiefgehen?</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_der_status_der_bestellung_steckt_fest_bei_challengesolved">3.1. Der Status der Bestellung steckt fest bei <code>challengeSolved</code></h3>
<div class="paragraph">
<p>Bitte unbedingt überprüfen, ob <strong>alle</strong> genannten Voraussetzungen zum erfolgreichen Bestellen eines SSL-Zertifikats erfüllt sind.</p>
</div>
<div class="paragraph">
<p>Wenn die Voraussetzungen alle erfüllt sind und der Status der Bestellung dennoch festhängt im Status <em>challengeSolved</em>, bitte ich darum euch in dem nachfolgenden Beitrag zu melden, damit wir den Sachverhalt auf unserer Seite überprüfen können:
<a href="https://forum.plentymarkets.com/t/letsencrypt-bestellung-haengt-im-status-challengesolved/518542">Link zum plentymarkets Forum</a></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_häufig_gestellte_fragen_faq">4. Häufig gestellte Fragen (FAQ)</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em><strong>Ich habe LetsEncrypt bereits vor mehreren Stunden bestellt, meine Seite wird aber noch immer nicht als sicher eingestuft - Was kann ich machen?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Option 1:</strong> Nachdem die Bestellung im Service-Center der Status “done” erhalten hat muss der lokale Browser-Cache geleert werden (<a href="https://forum.plentymarkets.com/t/loeschen-des-lokalen-dns-cache/64288">Löschen des lokalen Browser- und/oder DNS-Cache</a>), damit das zwischengespeicherte Zertifikat aktualisiert wird.</p>
</li>
<li>
<p><strong>Option 2:</strong> Evtl. liegt bei der Erreichbarkeit Deiner Domain ein Problem vor und das Zertifikat kann deswegen nicht korrekt ausgeliefert werden. Du kannst auf der nachfolgenden Seite prüfen, ob eine Installation von LetsEncrypt für Deine Domain möglich ist: <a href="https://letsdebug.net/" class="bare">https://letsdebug.net/</a> &gt;&gt; <strong>Validation method: HTTP-01</strong>. Falls dort eine Fehlermeldung ausgegeben wird kannst Du uns diese gern im Forum mitteilen, damit wir den Sachverhalt prüfen können.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>Ich möchte von COMODO auf LetsEncrypt umsteigen - was ist zu beachten?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Im Falle einer Bestellung von Let’sEncrypt bei einem bereits aktiven SSL-Zertifikat von COMODO (alias RapidSSL), wird das COMODO-Zertifikat durch das von Let’sEncrypt ersetzt! Das “alte” Zertifikat wird jedoch nicht gelöscht, sondern auf inaktiv geschaltet. Eine Reaktivierung innerhalb des Gültigkeitszeitraums ist durch @plenty-Cloud möglich. Es kann sein, dass die Domain für maximal 1h als “nicht sicher” eingestuft wird, wenn das LetsEncrypt-Zertifikat gerade erst bestellt wurde, da dies nach der Bestellung angefordert, generiert und installiert werden muss. Nachdem die Bestellung im Service-Center der Status “done” erhalten hat muss der lokale Browser-Cache geleert werden, damit das zwischengespeicherte Zertifikat aktualisiert wird.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
</div>
</main>