<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#best-practices-callisto-kontaktformular"><span>1.</span><span> Kontaktformular DGSVO-konform in Callisto anpassen</span></a>
<ul class="sectlevel2">
<li><a href="#_kontaktformular_um_zwei_weitere_felder_erweitern"><span>1.1.</span><span> Kontaktformular um zwei weitere Felder erweitern</span></a></li>
<li><a href="#_kategorie_für_das_kontaktformular_anpassen"><span>1.2.</span><span> Kategorie für das Kontaktformular anpassen</span></a></li>
<li><a href="#_einstellungen_im_frontend_gegentesten"><span>1.3.</span><span> Einstellungen im Frontend gegentesten</span></a></li>
</ul>
</li>
<li><a href="#best-practices-callisto-newsletter-anmeldung"><span>2.</span><span> Newsletter-Anmeldung auf der Startseite anpassen</span></a></li>
<li><a href="#best-practices-callisto-einwilligung-checkbox"><span>3.</span><span> Checkbox zur Einwilligung der Datenübertragung an Versanddienstleister in Callisto einbinden</span></a></li>
<li><a href="#best-practice-google-analytics-opt-out"><span>4.</span><span> Google Analytics Opt-out Cookie setzen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Callisto und DSGVO</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zum Thema DSGVO und Callisto.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="best-practices-callisto-kontaktformular">1. Kontaktformular DGSVO-konform in Callisto anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden findet ihr eine Anleitung zur Erweiterung des Kontaktformulars, damit der Endkunde die Datenschutzerklärung akzeptieren muss.</p>
</div>
<div class="sect2">
<h3 id="_kontaktformular_um_zwei_weitere_felder_erweitern">1.1. Kontaktformular um zwei weitere Felder erweitern</h3>
<div class="paragraph">
<p>Unter <strong>Einrichtung » CMS » Formular</strong> findet man das Kontaktformular, welches im Standard-Layout in der Kategorie <strong>Kontakt</strong> aufgerufen wird.</p>
</div>
<div class="paragraph">
<p>Innerhalb des Formulars werden nun zwei weitere Felder hinzugefügt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Der erste Feldname (in meinem Beispiel <strong>Akzeptiere</strong>) bekommt den Typ <strong>Auswahlfeld (checkbox)</strong> und ist beim Pflichtfeld <strong>NEIN</strong> gestellt.</p>
</li>
<li>
<p>Zweiter Feldname <strong>Bitte der Datenschutzerklärung zustimmen!</strong>, Typ: <strong>einzeiliges Eingabefeld</strong> und Pflichtfeld <strong>JA</strong></p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/basics/dsgvo/assets/CMS_Formulare.png" alt="CMS Formulare">
</div>
<div class="title">Bild 1. Kontaktformular um zwei Felder erweitern</div>
</div>
<div class="paragraph">
<p>Die Zahlen auf der linken Seite des Screenshots sind die IDs der Datenfelder und werden für Schritt 2 benötigt. Beachte: Die IDs fangen bei 0 und nicht bei 1 an.</p>
</div>
</div>
<div class="sect2">
<h3 id="_kategorie_für_das_kontaktformular_anpassen">1.2. Kategorie für das Kontaktformular anpassen</h3>
<div class="paragraph">
<p>Unter <strong>Artikel » Kategorien</strong> sucht man die genutzte Kategorie für das Kontaktformular, was im Standard-Layout die Kategorie <strong>Kontakt</strong> ist.</p>
</div>
<div class="paragraph">
<p>In der Kategorie öffnet man das Tab <strong>Beschreibung 1</strong> und stellt Editor auf <strong>Syntax-Editor</strong> um.</p>
</div>
<div class="paragraph">
<p>Anschließend muss folgendes Script eingefügt werden:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;script&gt;
$(document).ready(function(){
	var privacyTr = $('.PlentySubmitFormInput[name="FormFields[10]"]');
	var privacyHidden = $('.PlentySubmitFormInput[name="FormFields[11]"]');
	/* Checkbox auf true setzen, falls im Vorfeld schon aktiviert */
	if(privacyHidden.val() != '') privacyTr.attr('checked', true);
	/*-*/
	privacyHidden.parents('tr').first().css('display', 'none'); // Zeile mit Pflichfeld verstecken
	privacyTr.parents('tr').first().find('.PlentySubmitFormLabel').append('&lt;br /&gt;&lt;a href="&#123;&#37; Link_PrivacyPolicy() &#37;&#125;" target="_blank"&gt;Datenschutzerklärung&lt;/a&gt;');
	privacyTr.parents('tr').first().find('.PlentySubmitFormLabel').css('font-weight', 'bold')
	/* Wert der Checkbox auf Pflichfeld übertragen */
	$('form[name=plenty_form]').submit(function() {
	if($(privacyTr[1]).is(':checked')){
		privacyHidden.val('true');
	}else{
		privacyHidden.val('');
	}
});
});
&lt;/script&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Dieses Script enthält zwei <strong>FormFields</strong>, wo sich in den Klammer zwei Zahlen befinden. Diese Zahlen sind die IDs von den Datenfelder aus Schritt 1, welche in dem Screenshot zu erkennen sind.</p>
</div>
<div class="paragraph">
<p>Wenn das Kontaktformular anders aufgebaut ist, dann muss man dort auch die IDs im Script entsprechend anpassen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/basics/dsgvo/assets/CMS_Kategorien.png" alt="CMS Kategorien">
</div>
<div class="title">Bild 2. Kategorie für das Kontaktformular anpassen</div>
</div>
</div>
<div class="sect2">
<h3 id="_einstellungen_im_frontend_gegentesten">1.3. Einstellungen im Frontend gegentesten</h3>
<div class="paragraph">
<p>Kontaktformular im Frontend aufrufen und dort sind nun zwei neue Datenfelder und eine Checkbox:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/basics/dsgvo/assets/Frontend_1.png" alt="Frontend 1">
</div>
<div class="title">Bild 3. Zwei neue Datenfelder und eine Checkbox im Frontend</div>
</div>
<div class="paragraph">
<p>Füllt man das Formular aus und akzeptiert die Datenschutzerklärung nicht, wird kein Formular abgeschickt. In diesem Fall erscheint eine Fehlermeldung mit dem entsprechenden Hinweis:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/basics/dsgvo/assets/Fehlermeldung_Frontend.png" alt="Fehlermeldung Frontend">
</div>
<div class="title">Bild 4. Fehlermeldung im Frontend</div>
</div>
<div class="paragraph">
<p>Erfüllt der Endkunde alle Bedingungen, wird das Formular verschickt:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/basics/dsgvo/assets/Erfolgsmeldung_Frontend.png" alt="Erfolgsmeldung Frontend">
</div>
<div class="title">Bild 5. Erfolgsmeldung im Frontend</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="best-practices-callisto-newsletter-anmeldung">2. Newsletter-Anmeldung auf der Startseite anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden findet ihr eine Anleitung zur Erweiterung der Newsletter-Anmeldung auf der Startseite eures Webshops, damit eure Kunden die Datenschutzerklärung akzeptieren müssen.</p>
</div>
<div class="paragraph">
<p>Im <strong>PageDesignContent</strong> des Tabs <strong>PageDesignContentMainFrame</strong> findet in der Zeile 198 der Aufruf vom Container <strong>NavigationCategories9</strong> statt und in diesem Container wird der Newsletter-Part definiert. Diesen Aufruf gibt es auch im <strong>PageDesignCheckout</strong> und <strong>PageDesignMyAccount</strong>.</p>
</div>
<div class="paragraph">
<p>Zur Bearbeitung öffnet man den Container <strong>NavigationCategories9</strong> und schiebt das Tag &lt;/form&gt; von der Zeile 26 in die Zeile 27. In der freigewordenen Zeile 26 wird folgender Code eingefügt:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty"> &lt;br&gt;
    &lt;input type="checkbox" required name="TermsAndConditionsCheck" value="1" oninvalid="this.setCustomValidity('Bitte Akzeptieren Sie unsere Datenschutzerklärung')" oninput="this.setCustomValidity('')"&gt; Hiermit akzeptiere ich die &lt;a href="&#123;&#37; Link_PrivacyPolicy() &#37;&#125;" title="Datenschutzerklärung" target="_blank"&gt;Datenschutzerklärung&lt;/a&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Eingebaut sieht es am Ende so aus:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/basics/dsgvo/assets/NavigationCategories9Content.png" alt="NavigationCategories9Content">
</div>
<div class="title">Bild 6. NavigationCategories9Content</div>
</div>
<div class="paragraph">
<p>Der Part <strong>required</strong> im input-Tag sorgt dafür, dass ein Abschicken ohne den Haken gesetzt zu haben, nicht möglich ist. Sollte der Kunde trotzdem versuchen, die Anmeldung abzuschicken, erscheint ein Hinweistext, dass der Kunde die Datenschutzerklärung vorher akzeptieren muss.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/basics/dsgvo/assets/Hinweistext.png" alt="Hinweistext">
</div>
<div class="title">Bild 7. Hinweistext Newsletter-Anmeldung</div>
</div>
<div class="paragraph">
<p>Die Texte können beliebig angepasst werden und sind in dem neu eingefügten Code Snippet zu finden.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="best-practices-callisto-einwilligung-checkbox">3. Checkbox zur Einwilligung der Datenübertragung an Versanddienstleister in Callisto einbinden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden findet ihr eine Anleitung zur Einbindung einer Checkbox, mit der der Endkunde die Weitergabe seiner Daten an Versanddienstleister akzeptieren kann.</p>
</div>
<div class="paragraph">
<p>Öffnet das Menü <strong>Artikel » Kategorien » callisto_light_3_5 » Bestellübersicht &amp; Kaufabschluss » Beschreibung 1</strong>.
Dieser Pfad kann, abhängig von eurer Kategorienstruktur, in eurem System abweichen. Der oben aufgeführte Pfad bezieht sich auf die Kategorien, die standardmäßig in plentymarkets Systemen hinterlegt sind.</p>
</div>
<div class="paragraph">
<p>Sucht im Code die Checkbox für die Altersverifikation, indem ihr nach <strong>GetGlobal("ValidateAgeRestrictionCheck")</strong> sucht und fügt unter dem folgenden &#123;&#37; endif &#37;&#125; den folgenden Code ein:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">{# DHL AGREEMENT #}
	&#123;&#37; if $CheckoutShippingProfileID == 10 &#37;&#125;
		&lt;li class="checkbox" data-plenty-validate="{min: 1, max: 1}"&gt;
			&lt;label&gt;
				&lt;input type="checkbox" name="DHLDataCheck" value="1"&gt; Ich bin damit einverstanden, dass meine E-Mail-Adresse bzw. meine Telefonnummer an DHL, Charles-de-Gaulle-Straße 20 53113 Bonn weitergegeben wird, damit der Paketdienstleister vor der Zustellung der Ware zum Zwecke der Abstimmung eines Liefertermins per E-Mail oder Telefon Kontakt mit mir aufnehmen kann bzw. Statusinformationen zur Sendungszustellung übermitteln kann. Meine diesbezüglich erteilte Einwilligung kann ich jederzeit widerrufen.
			&lt;/label&gt;
		&lt;/li&gt;
    &#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Die Versandprofil ID 10 muss hierbei mit dem Versandprofil in eurem System korrespondieren, für welches ihr die Einwilligung braucht. Passt dabei den Text und die Adresse des jeweiligen Versanddienstleisters an.</p>
</div>
<div class="paragraph">
<p>Sucht nun im Code in Beschreibung 1 nach <strong>GetGlobal("ShowAgeRestrictionCheck")</strong> und fügt den den oben aufgeführten Code ein weiteres Mal unter dem darauffolgenden &#123;&#37; endif &#37;&#125; ein.</p>
</div>
<div class="paragraph">
<p>Die Checkbox erscheint nur dann im Checkout, wenn das entsprechende Versandprofil ausgewählt wurde. Für jeden Versender, für den es nötig ist, muss eine gesonderte Checkbox angelegt werden. Dabei ist zu beachten, dass im Code an der Stelle <strong>name=</strong> jeder Checkbox ein einzigartiger Name zugeteilt wird, bspw. <strong>DPDDataCheck</strong>.</p>
</div>
<div class="paragraph">
<p>Besten Dank an Forumsnutzer wdsrakoe, der diese Lösung in <a href="https://forum.plentymarkets.com/t/dsgvo-e-mail-adresse-an-dhl-nur-mit-einwilligung/329771/5" target="_blank" rel="noopener">diesem</a> Forumsbeitrag vorgestellt hat.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="best-practice-google-analytics-opt-out">4. Google Analytics Opt-out Cookie setzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem HowTo wird beschrieben, wie man auf der Seite <strong>Datenschutzerklärung</strong> einen Link einfügt, über den das gesamte Tracking für Google Analytics deaktiviert werden kann.</p>
</div>
<div class="paragraph">
<p>Hierfür wird folgendes Script in den Containern <strong>PageDesginContent</strong>, <strong>PageDesingMyAccount</strong>, und <strong>PageDesignCheckout</strong> direkt nach dem Tag <strong>&lt;head&gt;</strong> eingefügt:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;script&gt;

var gaProperty = 'UA-XXXXXXXXX-X';
var disableStr = 'ga-disable-' + gaProperty;
if (document.cookie.indexOf(disableStr + '=true') &gt; -1) {
  window[disableStr] = true;
}
function gaOptout() {
  document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
  window[disableStr] = true;
}

&lt;/script&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Hierbei muss darauf geachtet werden, dass der Part <strong>UA-XXXXXXXXX-X</strong> durch deine Daten angepasst wird.</p>
</div>
<div class="paragraph">
<p>In der verknüpften Kategorie für die Datenschutzerklärung wird noch folgenden Part eingefügt:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;a
onclick="alert('Google Analytics wurde deaktiviert');"
href="javascript:gaOptout()"&gt;Google Analytics deaktivieren&lt;/a&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Wenn der Kunde den eingefügten Link drückt, wird das Tracking für den weiteren Besuch des Kunden deaktiviert.</p>
</div>
</div>
</div>
</main>