<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100-0"><span>1.</span><span> Möglichkeit 1: Exportformat BasicPriceSearchEngine-Plugin (veraltet)</span></a>
<ul class="sectlevel2">
<li><a href="#100-1"><span>1.1.</span><span> BasicPriceSearchEngine-Plugin installieren und einrichten</span></a></li>
<li><a href="#100-1"><span>1.2.</span><span> Format BasicPriceSearchEngine-Plugin in plentymarkets einrichten</span></a></li>
<li><a href="#200"><span>1.3.</span><span> Verfügbare Spalten der Exportdatei</span></a></li>
</ul>
</li>
<li><a href="#catalogue-export"><span>2.</span><span> Möglichkeit 2: Katalogexport (empfohlen)</span></a>
<ul class="sectlevel2">
<li><a href="#catalogue-creation"><span>2.1.</span><span> Katalog erstellen</span></a></li>
<li><a href="#file-format"><span>2.2.</span><span> Formateinstellungen vornehmen</span></a></li>
<li><a href="#filter-export"><span>2.3.</span><span> Optional: Artikel vom Export ausschließen</span></a></li>
<li><a href="#data-field-mappings"><span>2.4.</span><span> Datenfelder im Katalog zuordnen</span></a></li>
<li><a href="#recommended-mappings"><span>2.5.</span><span> Empfehlungen für Datenfeld-Zuordnungen</span></a></li>
<li><a href="#catalogue-url"><span>2.6.</span><span> Katalogdaten an Preissuchmaschine übergeben</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Basic Price Search Engine</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Format <strong>Basic Price Search Engine</strong> kannst du Artikeldaten exportieren, um sie für eine beliebige Preissuchmaschine zu exportieren. Du kannst darin Artikeldaten zuordnen, die die meisten Preissuchmaschinen erwarten.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Bevor du den Export einrichtest, prüfe im <a href="https://marketplace.plentymarkets.com/plugins/sales/preisportale" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, ob plentymarkets oder ein Drittunternehmen eine direkte Schnittstelle zu der Preissuchmaschine anbietet, auf der du deine Produkte verkaufen möchtest.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100-0">1. <em>Möglichkeit 1:</em> Exportformat BasicPriceSearchEngine-Plugin <em>(veraltet)</em></h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Der Elastische Export und die Exportformate werden für den Marktplatz-Export nicht mehr weiterentwickelt. Wir empfehlen dir deshalb, schon jetzt <a href="#900">Kataloge zu erstellen</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Für den Export zu Preissuchmaschinen stand bisher das Exportformat BasicPriceSearchEngine für den Elastischen Export zur Verfügung. Diese Exportmethode ist veraltet und wurde vom Katalogexport abgelöst. Im Moment kannst du das Exportformat BasicPriceSearchEngine immer noch nutzen. Beachte aber, dass die Technologie nicht mehr weiterentwickelt wird und der Support bald ausläuft.</p>
</div>
<div class="sect2">
<h3 id="100-1">1.1. BasicPriceSearchEngine-Plugin installieren und einrichten</h3>
<div class="paragraph">
<p>Um Artikeldaten zu Preisportalen exportieren zu können, benötigst du die folgenden Plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastischer Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportbasicpricesearchengine_4777" target="_blank" rel="noopener">Basic Price Search Engine</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Plugins kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>Elastischer Export</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>Elastischer Export</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>Elastischer Export</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>Basic Price Search Engine</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>Basic Price Search Engine</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>Basic Price Search Engine</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="100-1">1.2. Format BasicPriceSearchEngine-Plugin in plentymarkets einrichten</h3>
<div class="paragraph">
<p>Mit der Installation dieses Plugins erhältst du das Exportformat <strong>BasicPriceSearchEngine-Plugin</strong>. Mit diesem Exportformat können Artikeldaten über den elastischen Export zu Preisportalen übertragen werden. Um dieses Format für den elastischen Export nutzen zu können, installiere zunächst das Plugin <strong>Elastischer Export</strong> aus dem plentyMarketplace, wenn noch nicht geschehen.</p>
</div>
<div class="paragraph">
<p>Sobald beide Plugins im deinem System installiert sind, kann das Exportformat <strong>BasicPriceSearchEngine-Plugin</strong> erstellt werden. Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/elastischer-export">Elastischer Export</a>.</p>
</div>
<div class="paragraph instruction">
<p>Neues Exportformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Export</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-basic-price-search-engine">Tabelle 1</a>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Eine ID für das Exportformat <strong>BasicPriceSearchEngine-Plugin</strong> wird vergeben.<br>
→ Das Exportformat wird in der Übersicht <strong>Exporte</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In <a href="#einstellungen-basic-price-search-engine">Tabelle 1</a> findest du spezifische Hinweise zu den Einstellungen, Formateinstellungen und empfohlenen Artikelfiltern für das Exportformat <strong>BasicPriceSearchEngine-Plugin</strong>.</p>
</div>
<table id="einstellungen-basic-price-search-engine" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Formateinstellungen für BasicPriceSearchEngine-Plugin</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>BasicPriceSearchEngine-Plugin</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>URL</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Dateiname muss auf <strong>.csv</strong> oder <strong>.txt</strong> enden, damit ein Preisportal oder eine vergleichbare Schnittstelle die Datei erfolgreich importieren kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikelfilter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelfilter hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Artikelfilter aus der Dropdown-Liste wählen und auf <strong>Hinzufügen</strong> klicken. Standardmäßig sind keine Filter voreingestellt. Es ist möglich, alle Artikelfilter aus der Dropdown-Liste nacheinander hinzuzufügen.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Aktiv</strong> = <strong>Aktiv</strong> wählen.<br></p>
</li>
<li>
<p><strong>Märkte</strong> = Eine oder mehrere Auftragsherkünfte wählen. Die gewählten Auftragsherkünfte müssen an der Variante aktiviert sein, damit der Artikel exportiert wird.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Formateinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Auftragsherkunft wählen, die beim Auftragsimport zugeordnet werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.-Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Einstellung ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="200">1.3. Verfügbare Spalten der Exportdatei</h3>
<div class="paragraph">
<p>Öffne das Exportformat <strong>BasicPriceSearchEngine-Plugin</strong> im Menü <strong>Daten » Elastischer Export</strong>, um die Exportdatei herunterzuladen und bei Bedarf anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Exportdatei herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Formats <strong>BasicPriceSearchEngine-Plugin</strong> auf <strong>Herunterladen</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ Die Datei wird heruntergeladen und auf deinem Rechner gespeichert.</p>
</li>
<li>
<p>Öffne die Exportdatei mit einem geeigneten Programm.</p>
</li>
</ol>
</div>
<table id="spalten-exportdatei-basic-price-search-engine" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verfügbare Spalten der Exportdatei für das Exportformat <strong>BasicPriceSearchEngine-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spaltenbezeichnung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">article_id</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>ID</strong> des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deeplink</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>URL-Pfad</strong> des Artikels abhängig von den Formateinstellungen <strong>Mandant</strong>, <strong>Produkt-URL</strong> und <strong>Auftragsherkunft</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Artikelname</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">short_description</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Vorschautext</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Beschreibung</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">article_no</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>Variantennummer</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">producer</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Hersteller</strong> des Artikels. Der <strong>Externe Name</strong> unter <strong>Einrichtung » Artikel » Hersteller</strong> wird bevorzugt, wenn vorhanden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">model</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Modell unter <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Einstellungen » Grundeinstellungen</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availability</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Name der Artikelverfügbarkeit</strong> unter <strong>Einrichtung » Artikel » Artikelverfügbarkeit</strong> oder die Übersetzung gemäß der Formateinstellung <strong>Artikelverfügbarkeit überschreiben</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ean</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Barcode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isbn</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Barcode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>Einheit</strong> aus den berechneten Grundpreisinformationen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Verkaufspreis</strong> der Variante, abhängig der Formateinstellung <strong>Auftragsherkunft</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price_old</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Angebotspreis</strong> der Variante, abhängig der Formateinstellung <strong>Auftragsherkunft</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">weight</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das <strong>Gewicht</strong> der Variante.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>erste Kategorieebene der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category2</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>zweite Kategorieebene der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category3</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>dritte Kategorieebene der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category4</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>vierte Kategorieebene der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category5</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>fünfte Kategorieebene der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category6</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>sechste Kategorieebene der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category_concat</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Kategoriepfad der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image_url_preview</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das <strong>Vorschaubild</strong> des ersten Bildes der Variante.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image_url</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das <strong>Bild</strong> des ersten Bildes der Variante.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shipment_and_handling</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die am Artikel gespeicherten <strong>Versandkosten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit_price</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>Grundpreisinformation</strong> im Format "Preis / Einheit" (Beispiel: 10.00 EUR / Kilogramm)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit_price_value</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Preis</strong> aus den berechneten <strong>Grundpreisinformationen</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit_price_lot</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Inhalt</strong> aus den berechneten <strong>Grundpreisinformationen</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation_id</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>Varianten-ID</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="catalogue-export">2. <em>Möglichkeit 2:</em> Katalogexport <em>(empfohlen)</em></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Export über Kataloge machst du deinen Export für Preissuchmaschinen zukunftssicher und flexibel. Du erstellst einen Katalog pro Preissuchmaschine. Du kannst Exportdateien im CSV-Format oder im TXT-Format erstellen. Um deine Artikeldaten an eine Preissuchmaschine zu exportieren, übermittelst du die URL des Katalog-Downloads an die Preissuchmaschine.</p>
</div>
<div class="sect2">
<h3 id="catalogue-creation">2.1. Katalog erstellen</h3>
<div class="paragraph">
<p>Artikeldaten werden über ein Marktplatz-Format exportiert. Um deine Artikel zu einem Preisportal zu exportieren, erstellst du im Menü <strong>Daten » Kataloge</strong> einen Katalog. Ordne dann im Marktplatz-Format die vom Katalog vorgegebenen Marktplatz-Datenfelder den in plentymarkets gespeicherten Artikeldaten zu.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du arbeitest zum ersten Mal mit den Katalogen? Dann mache dich zuerst <a href="/daten/daten-exportieren/kataloge-verwalten">mit dem Prinzip der Kataloge vertraut</a>.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Katalog erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Katalog erstellen</strong>.</p>
</li>
<li>
<p>Gib einen Namen für den Katalog ein.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Export-Typ</strong> die Option <strong>Basic Price Search Engine</strong>.<br></p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Format-Typ</strong> die Option <strong>Artikel (neu)</strong>.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Format</strong> die Option <strong>Basic Price Search Engine</strong>.<br>
<strong><em>Tipp:</em></strong> Für diesen Marktplatz kannst du nur einen Katalog erstellen. Deshalb ist als Format nur der Name des Marktplatzes wählbar.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Der Katalog wird erstellt.<br>
→ Der Katalog wird zur weiteren Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="file-format">2.2. Formateinstellungen vornehmen</h3>
<div class="paragraph">
<p>Nimm nun die Formateinstellungen vor. Mit diesem Marktplatz-Format kannst du Artikeldaten entweder im CSV-Format oder im TXT-Format exportieren. Die weiteren Formateinstellungen, zum Beispiel Feldtrennzeichen und Textbegrenzer, wählst du abhängig von den Anforderungen der Preissuchmaschine.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wie du die Formateinstellungen vornimmst, erfährst du auf der Seite <a href="/daten/daten-exportieren/kataloge-verwalten#140">Kataloge verwalten</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="filter-export">2.3. <em>Optional:</em> Artikel vom Export ausschließen</h3>
<div class="paragraph">
<p>Setze nun Filter, um nur bestimmte Artikel zu exportieren.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wie du Filter setzt, erfährst du auf der Seite <a href="/daten/daten-exportieren/kataloge-verwalten#257">Kataloge verwalten</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="data-field-mappings">2.4. Datenfelder im Katalog zuordnen</h3>
<div class="paragraph">
<p>Ordne nun die Marktplatz-Datenfelder im Katalog den in plentymarkets gespeicherten Artikeldaten zu.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Katalogmenü kennenlernen</div>
<div class="content">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/catalogue-menu-colours.png" alt="catalogue menu colours">
</div>
</div>
<div class="paragraph">
<p><em>Menüaufbau eines Katalogs mit Marktplatz-Format</em></p>
</div>
<div class="paragraph">
<p>Was hat es mit den einzelnen Bereichen auf sich?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong> Hier kannst du zwischen den verschiedenen Bereichen wechseln. Rufe die Katalogeinstellungen auf, ordne den Datenfeldern des Marktplatzes die entsprechenden plentymarkets Datenfelder sowie eigene Datenfelder zu, oder setze Filter, um nur bestimmte Daten zu exportieren.</p>
</li>
<li>
<p><strong>Toolbar</strong> Hier kannst du für den Katalog relevante Aktionen durchführen und zum Beispiel die Zuordnung der Datenfelder speichern.</p>
</li>
<li>
<p><strong>Marktplatz-Datenfelder</strong> Hier sind alle für den Marktplatz verfügbaren Datenfelder aufgelistet. Pflichtfelder sind mit einem Sternchen (*) gekennzeichnet.</p>
</li>
<li>
<p><strong>plentymarkets Datenfelder</strong> Hier ordnest du den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu. Im Screenshot wurden schon einige Felder zugeordnet.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Katalogzuordnungen erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Das Tab <strong>Zuordnung</strong> wird geöffnet.<br>
→ In der linken Spalte werden die Datenfelder des Marktplatzes angezeigt.<br>
<strong><em>Tipp:</em></strong> Pflichtfelder sind mit Sternchen (*) gekennzeichnet.<br>
→ In der rechten Spalte ordnest du die plentymarkets Datenfelder zu. Bereits zugeordnete plentymarkets Datenfelder werden ebenfalls in der rechten Spalte angezeigt.</p>
</li>
<li>
<p>Nun ordnest du den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu.<br>
Für jedes Marktplatz-Datenfeld hast die folgenden Zuordnungsmöglichkeiten, die in den Info-Boxen unten näher beschrieben werden:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Einfache 1:1-Zuordnung</strong></p>
</li>
<li>
<p><strong>Komplexe 1:1-Zuordnung</strong></p>
</li>
<li>
<p><strong>1:1-Zuordnung mit Ausweich-Datenfeld</strong></p>
</li>
<li>
<p><strong>1:n-Zuordnung</strong></p>
</li>
<li>
<p><strong>Eigener-Wert-Zuordnung</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Einfache 1:1-Zuordnung:</strong> 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld</div>
<div class="content">
<div class="paragraph">
<p>Bei einer einfachen 1:1-Zuordnung ordnest du dem Markplatz-Datenfeld eine Einstellung in plentymarkets zu. Wenn es keine passende Einstellung in plentymarkets gibt, kannst du stattdessen eine Eigenschaft erstellen und zuordnen.</p>
</div>
<div class="paragraph">
<p>Bei einer einfachen 1:1-Zuordnung legst du also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass dieses Marktplatz-Datenfeld mit den Daten aus dieser plentymarkets Einstellung befüllt wird.</p>
</li>
<li>
<p>Wenn das Datenfeld für eine Variante leer ist, wird kein Wert für die Variante exportiert.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Einfache 1:1-Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Verkaufspreis und UVP</p>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du den Marktplatz-Datenfeldern <strong>Verkaufspreis</strong> und <strong>UVP</strong> von Otto Market passende plentymarkets Datenfelder zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-mapping-simple-de.gif" alt="gif catalogue mapping simple de">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Komplexe 1:1-Zuordnung:</strong> 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld</div>
<div class="content">
<div class="paragraph">
<p>Wie bei den einfachen 1:1-Zuordnungen ordnest du auch hier einem Markplatz-Datenfeld eine Einstellung in plentymarkets oder eine Eigenschaft zu. Komplexe Zuordnungen sind aber immer dann nötig, wenn es für ein Datenfeld verschiedene mögliche Werte gibt. Statt Datenfelder zuzuordnen, ordnest du bei komplexen Zuordnungen also die Werte dieser Datenfelder zu. Zum Beispiel kannst du dem Marktplatz-Datenfeld <strong>Versandart</strong> nicht einfach das plentymarkets Datenfeld <strong>Versandprofil</strong> zuordnen. Grund ist, dass der Marktplatz nicht wissen kann, welches deiner Versandprofile in plentymarkets welchem Versandprofil des Marktplatzes entspricht.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Gib bei komplexen Zuordnungen keine eigenen Werte ein. Alle Werte, die du eingibst, müssen an den Varianten gespeichert sein, entweder in einer Einstellung oder als Eigenschaftswert. Das gilt auch, wenn das Feld <strong>Comparative value</strong> angezeigt wird. Auch hier musst du genau den Wert aus der zugeordneten Einstellung oder Eigenschaft eingeben.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Beispiele für komplexe 1:1-Zuordnungen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Marken</p>
</li>
<li>
<p>Versandart</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Komplexe Zuordnungen erkennst du daran, dass sich unterhalb des Namens des Marktplatz-Datenfelds ein Eingabefeld befindet. Wenn du in das Eingabefeld klickst, werden die Werte angezeigt, die es für das Marktplatz-Datenfeld gibt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/catalogue-complex-mappings.png" alt="catalogue complex mappings">
</div>
</div>
<div class="paragraph instruction">
<p>Komplexe 1:1-Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke in das Feld für das Marktplatz-Datenfeld.<br>
→ Eine Liste der verfügbaren Werte wird angezeigt.</p>
</li>
<li>
<p>Wähle den Wert, dem du ein plentymarkets Datenfeld zuordnen möchtest.<br>
→ Der Wert wird übernommen.</p>
</li>
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links werden die verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.<br></p>
</li>
<li>
<p>Klicke auf eine Gruppe.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke auf das plentymarkets Datenfeld, für das du Werte zuordnen möchtest.<br>
<strong><em>Wichtig:</em></strong> Ordne keinen eigenen Wert zu.<br>
→ Je nachdem, welches plentymarkets Datenfeld du gewählt hast, gehst du ab jetzt unterschiedlich vor.</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Möglichkeit 1:</em></strong> Die verfügbaren Werte des plentymarkets Datenfelds werden links angezeigt.<br></p>
<div class="ulist">
<ul>
<li>
<p>Klicke neben dem gewünschten Wert auf das Plus.<br>
→ Der Wert wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Möglichkeit 2:</em></strong> Das plentymarkets Datenfeld wird eingefügt und das Feld <strong>Comparative value</strong> wird angezeigt.</p>
<div class="ulist">
<ul>
<li>
<p>Gib in das Feld <strong>Comparative value</strong> einen Wert ein, der für das gewählte plentymarkets Datenfeld in der Einstellung oder der Eigenschaft gespeichert ist.<br></p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Möglichkeit 3:</em></strong> Das plentymarkets Datenfeld wird eingefügt und eine Dropdown-Liste wird angezeigt.</p>
<div class="ulist">
<ul>
<li>
<p>Wähle einen Wert aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du den Werten des Marktplatz-Datenfelds <strong>Lieferzeit in Tagen</strong> von Otto Market passende plentymarkets Werte zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-mapping-complex-de.gif" alt="gif catalogue mapping complex de">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:1-Zuordnung mit Ausweich-Datenfeld:</strong> 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld mit Alternative</div>
<div class="content">
<div class="paragraph">
<p>Bei einer 1:1-Zuordnung mit Ausweich-Datenfeld ordnest du dem Markplatz-Datenfeld eine Einstellung in plentymarkets zu. Zusätzlich gibst du ein oder mehrere Ausweich-Datenfelden an, damit das System weitersucht, wenn das erste plentymarkets-Datenfeld leer ist oder einen ungültigen Wert enthält.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass dieses Marktplatz-Datenfeld mit den Daten aus dieser plentymarkets Einstellung befüllt wird.</p>
</li>
<li>
<p>Wenn das Datenfeld für eine Variante leer oder ungültig ist, wird das erste Ausweich-Datenfeld geprüft und stattdessen dieser Wert für die Variante exportiert.</p>
</li>
<li>
<p>Wenn das erste Ausweich-Datenfeld für eine Variante ebenfalls leer oder ungültig ist, wird das zweite Ausweich-Datenfeld geprüft und stattdessen dieser Wert für die Variante exportiert usw.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>1:1-Zuordnung mit Ausweich-Datenfeld erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke in der Liste der plentymarkets Datenfelder neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das Ausweich-Datenfeld wird exportiert, wenn das erste Datenfeld nicht vorhanden oder leer ist.<br>
<strong><em>Hinweis:</em></strong> Auch wenn du ein oder mehrere Ausweich-Datenfelder zuordnest, wird für jede Variante nur ein Wert übertragen. Für jede Variante werden die zugeordneten plentymarkets Datenfelder in der Reihenfolge geprüft, in der sie zugeordnet wurden. Wenn also das erste Datenfeld keinen Wert für die Variante liefert, wird das erste Ausweich-Datenfeld übertragen usw.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du dem Marktplatz-Datenfeld <strong>SKU</strong> von Otto Market das plentymarkets Datenfeld <strong>SKU</strong> und das plentymarkets Datenfeld <strong>Varianten-ID</strong> als Ausweich-Datenfeld zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-mapping-fallback-de.gif" alt="gif catalogue mapping fallback de">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:n-Zuordnung:</strong> 1 Marktplatz-Datenfeld, mehrere plentymarkets Datenfelder</div>
<div class="content">
<div class="paragraph">
<p>Bei einer 1:n-Zuordnung ordnest du dem Markplatz-Datenfeld mehrere plentymarkets Datenfelder zu. Diese Datenfelder kannst du durch ein Trennzeichen miteinander verbinden.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass diese plentymarkets Datenfelder beim Export kombiniert werden und das Marktplatz-Datenfeld mit den Daten aus diesen zwei oder mehr plentymarkets Einstellungen befüllt wird.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>1:n-Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
<li>
<p>Klicke rechts neben dem zugeordneten plentymarkets Datenfeld auf <strong>Datenfeld hinzufügen</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder wieder als Gruppen angezeigt.</p>
</li>
<li>
<p>Ordne dem Marktplatz-Datenfeld wie oben beschrieben ein oder mehrere weitere plentymarkets Datenfelder zu.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
<li>
<p>Klicke ganz rechts in der Zeile des Marktplatz-Datenfelds auf <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Trennzeichen</strong> ein Trennzeichen oder bestimme ein eigenes Trennzeichen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.<br>
→ Beim Export wird der Inhalt der plentymarkets Datenfelder kombiniert exportiert.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Eigener-Wert-Zuordnung:</strong> 1 Marktplatz-Datenfeld, derselbe Wert für alle Varianten</div>
<div class="content">
<div class="paragraph">
<p>Du bist dir sicher, dass du für ein Marktplatz-Datenfeld für alle Varianten des Katalogs denselben Wert übertragen möchtest? Dann kannst du einen eigenen Wert angeben. Dieser feste Wert wird dann für alle Varianten exportiert.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass für dieses Marktplatz-Datenfeld für <em>alle</em> Varianten dieses Katalogs der Wert exportiert wird, den ich in das Feld <strong>Eigener Wert</strong> eingeben habe.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Eigener-Wert-Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke ganz oben neben <strong>Eigener Wert</strong> auf das Plus.<br>
→ Das Feld für den eigenen Wert wird in der Ansicht hinzugefügt.</p>
</li>
<li>
<p>Gib einen Wert in das Eingabefeld darunter ein.<br>
→ Dieser Wert wird für alle Varianten exportiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Durchmesserangaben</p>
</div>
<div class="paragraph">
<p>Du möchtest für einige deiner Varianten den Durchmesser an Marktplätze exportieren. Den Durchmesser hast du für alle Varianten in Zentimetern gespeichert. Statt eine Eigenschaft für die Einheit zu erstellen und diese Eigenschaft mit allen Varianten zu verknüpfen, kannst du also als eigenen Wert <code>cm</code> eingeben.</p>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du einen eigenen Wert für die Durchmesser-Einheit zuordnest:</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/durchmesser.gif" alt="durchmesser" width="600"></span></p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="recommended-mappings">2.5. Empfehlungen für Datenfeld-Zuordnungen</h3>
<div class="paragraph">
<p>Um dich beim Erstellen eines Katalogs zu unterstützen, haben wir eine Liste mit empfohlenen Datenfeld-Zuordnungen zusammengestellt. Beachte, dass es sich hierbei nur um Empfehlungen handelt. Je nachdem, wie du deine Artikeldaten pflegst, können andere Zuordnungen sinnvoller sein als die hier gegebenen Empfehlungen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Liste mit empfohlenen Datenfeld-Zuordnungen</div>
<div class="content">
<table id="recommended-mappings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Marktplatz-Datenfeld</th>
<th class="tableblock halign-left valign-top">Empfohlene plentymarkets Zuordnung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Artikel » Artikel-ID</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deep-Link</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL-Pfad des Artikels abhängig von Mandant, Produkt-URL und Auftragsherkunft</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Artikeltext » Name 1</strong>, Sprache je nach Anforderungen des Preisportals</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikeltext » Name 2</strong>, Sprache je nach Anforderungen des Preisportals</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikeltext » Name 3</strong>, Sprache je nach Anforderungen des Preisportals</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eigenschaft an Variante, Sprache je nach Anforderungen des Preisportals</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorschautext</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Artikeltext » Vorschautext</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eigenschaft an Variante, Sprache je nach Anforderungen des Preisportals</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Artikeltext » Artikeltext</strong>, Sprache je nach Anforderungen des Preisportals</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eigenschaft an Variante, Sprache je nach Anforderungen des Preisportals</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variante » Variantennr.</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Artikel » Herstellername</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modell</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variante » Modell</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variante » Verfügbarkeit</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eigenschaft an Variante, Sprache je nach Anforderungen des Preisportals</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Barcode » [Barcode des Typs EAN wählen]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISBN</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Barcode » [Barcode des Typs ISBN wählen]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einheit</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Einheit der Grundpreisinformationen</p>
</div>
<div class="ulist">
<ul>
<li>
<p>* <strong>Variante » Inhalt Einheit</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Verkaufspreis » [Verkaufspreis wählen]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">UVP</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Verkaufspreis » [Angebotspreis wählen]</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewicht</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variante » Gewicht netto g</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie 1 - Kategorie 6</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die einzelnen Kategorieebenen</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eigenschaft an Variante, Sprache je nach Anforderungen des Preisportals</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategoriepfad</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kategoriepfad der Standardkategorie</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Standardkategorie » URL-Name</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorschaubild-URL</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Eigenschaft an der Variante</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild-URL</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL des ersten Bilds</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eigenschaft an der Variante</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versand &amp; Abwicklung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variante » Standard-Versandkosten</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis: Verkaufspreis</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Grundpreis » Preis » [Gleichen Verkaufspreis wie für Preis wählen]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis: Einheit</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Grundpreis » Einheit Name » [Gleichen Verkaufspreis wie für Preis wählen]</strong>, Sprache <strong>Deutsch</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis: Menge</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Grundpreis » Anzahl » [Gleichen Verkaufspreis wie für Preis wählen]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variante » Varianten-ID</strong></p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="catalogue-url">2.6. Katalogdaten an Preissuchmaschine übergeben</h3>
<div class="paragraph">
<p>Anders als bei anderen Marktplatz-Formaten kannst du für dieses Format nicht einfach den Katalog aktivieren und damit den Export zur Preissuchmaschine starten. Stattdessen speicherst du die URL des Katalogexports bei der Preissuchmaschine.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wie du die URL für den Download generierst, erfährst du auf der Seite <a href="/daten/daten-exportieren/kataloge-verwalten#290">Kataloge verwalten</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</main>