<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Geizhals.de registrieren</span></a></li>
<li><a href="#old-export"><span>2.</span><span> Möglichkeit 1: Exportformat GeizhalsDE-Plugin (alte Methode)</span></a>
<ul class="sectlevel2">
<li><a href="#plugin-download"><span>2.1.</span><span> Plugins herunterladen und installieren</span></a></li>
<li><a href="#200"><span>2.2.</span><span> Das Format GeizhalsDE-Plugin in plentymarkets einrichten</span></a></li>
<li><a href="#300"><span>2.3.</span><span> Verfügbare Spalten der Exportdatei</span></a></li>
</ul>
</li>
<li><a href="#catalogue-export"><span>3.</span><span> Möglichkeit 2: Katalogexport (empfohlen)</span></a>
<ul class="sectlevel2">
<li><a href="#catalogue-creation"><span>3.1.</span><span> Katalog erstellen</span></a></li>
<li><a href="#data-field-mappings"><span>3.2.</span><span> Datenfelder im Katalog zuordnen</span></a></li>
<li><a href="#recommended-mappings"><span>3.3.</span><span> Empfehlungen für Datenfeld-Zuordnungen</span></a></li>
<li><a href="#filter-export"><span>3.4.</span><span> Optional: Nur bestimmte Artikel exportieren</span></a></li>
<li><a href="#catalogue-settings"><span>3.5.</span><span> Katalogeinstellungen für Export vornehmen</span></a></li>
<li><a href="#catalogue-activation"><span>3.6.</span><span> Katalog aktivieren</span></a></li>
<li><a href="#catalogue-url"><span>3.7.</span><span> Katalogdaten an Geizhals.de übergeben</span></a></li>
</ul>
</li>
<li><a href="#change-elastic-export-catalogue"><span>4.</span><span> Möglichkeit 3: Wechsel von elastischem Export zu Katalog</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Geizhals.de</h1><div class="sect1">
<h2 id="100">1. Bei Geizhals.de registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Geizhals-Preisvergleich ist eine unabhängige Preisvergleichs- und Informationsplattform mit Schwerpunkt Hardware und Unterhaltungselektronik. Um das Plugin für Geizhals.de in plentymarkets einzurichten, musst du dich zunächst bei <a href="https://geizhals.de/" target="_blank" rel="noopener">geizhals.de</a> registrieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="old-export">2. <em>Möglichkeit 1:</em> Exportformat GeizhalsDE-Plugin <em>(alte Methode)</em></h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Der Elastische Export und die Exportformate werden für den Marktplatz-Export nicht mehr weiterentwickelt. Wir empfehlen dir deshalb, schon jetzt <a href="#catalogue-export">Kataloge zu erstellen</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="plugin-download">2.1. Plugins herunterladen und installieren</h3>
<div class="paragraph">
<p>Um Artikeldaten mit dem Elastischen Export zu Geizhals exportieren zu können, benötigst du die folgenden Plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastischer Export</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportgeizhalsde_4743" target="_blank" rel="noopener">Geizhals.de</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Plugins kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> herunterladen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>Elastischer Export</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>Elastischer Export</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>Elastischer Export</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>Geizhals.de</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>Geizhals.de</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>Geizhals.de</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="200">2.2. Das Format GeizhalsDE-Plugin in plentymarkets einrichten</h3>
<div class="paragraph">
<p>Dieses Plugin stellt das Exportformat <strong>GeizhalsDE-Plugin</strong> bereit. Mit diesem Exportformat überträgst du Daten über den elastischen Export zu Geizhals.de. Um dieses Format für den elastischen Export nutzen zu können, installiere das Plugin <strong>Elastischer Export</strong> aus dem plentyMarketplace.</p>
</div>
<div class="paragraph">
<p>Sobald du beide Plugins im deinem System installiert hast, kann das Exportformat <strong>GeizhalsDE-Plugin</strong> erstellt werden. Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/elastischer-export">Elastischer Export</a>.</p>
</div>
<div class="paragraph">
<p>Geizhals.de ruft Artikeldaten über eine URL ab. Speichere die URL bei Geizhals.de, damit deine Artikeldaten zu Geizhals.de übertragen werden.</p>
</div>
<div class="paragraph instruction">
<p>Exportformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neuer Export</strong>.<br>
→ Das Tab <strong>Neuer Export</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#export-format">Tabelle 1</a>.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig sind keine Artikelfilter voreingestellt. Wenn du keine Artikelfilter einstellst, werden beim Export alle Artikel übertragen.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Eine ID für das Exportformat <strong>GeizhalsDE-Plugin</strong> wird vergeben.<br>
→ Das Exportformat wird in der Übersicht <strong>Exporte</strong> angezeigt.</p>
</li>
<li>
<p>Speichere die im Feld <strong>URL</strong> angezeigte URL bei Geizhals.de.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In <a href="#export-format">Tabelle 1</a> findest du spezifische Hinweise zu den Einstellungen, Formateinstellungen und empfohlenen Artikelfiltern für das Exportformat <strong>GeizhalsDE-Plugin</strong>.</p>
</div>
<table id="export-format" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Formateinstellungen und empfohlene Artikelfilter für das Format <strong>GeizhalsDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Namen für den Export ein.
Dies ist ein interner Name, d.h. er ist für Kunden nicht sichtbar.
Unter diesem Namen wird das Exportformat in der Übersicht angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Typ <strong>Artikel</strong> aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>GeizhalsDE-Plugin</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Zahl ein.
Diese Zahl bestimmt, wie viele Artikel maximal exportiert werden sollen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Willst du mehr als 9999 Artikel übertragen?</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Dann wird die Ausgabedatei nur einmal alle 24 Stunden neu generiert, um Ressourcen zu sparen.</p>
</li>
<li>
<p>Dann wähle auch die Option <strong>Cache-Datei generieren</strong> weiter unten.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cache-Datei generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn mehr als 9999 Artikel übertragen werden sollen.<br>
<strong><em>Hinweis:</em></strong> Um eine optimale Perfomance des elastischen Exports zu gewährleisten, darf diese Option bei maximal 20 Exportformaten aktiv sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>URL</strong> wählen.
Mit dieser Option ist ein externer Zugriff auf die Datei möglich.
Dritte rufen die Datei mit einer URL und einem Authentifizierungs-Token auf.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Zusätzliche Einstellungen</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Token generieren</strong> (<span class="icon darkGrey"><i class="fa fa-undo  "></i></span>).<br>
→ Der <strong>Token</strong> und die <strong>URL</strong> werden automatisch eingetragen.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Dateiname muss auf <strong>.csv</strong> oder <strong>.txt</strong> enden, damit Geizhals.de die Datei erfolgreich importieren kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Artikelfilter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelfilter hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welche Artikel beim Export übertragen werden sollen. Dazu einen oder mehrere der folgenden Artikelfilter aus der Dropdown-Liste wählen und auf Hinzufügen klicken. Standardmäßig sind keine Filter voreingestellt. Alle unten aufgeführten Artikelfilter können nacheinander aus der Dropdown-Liste hinzugefügt werden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Varianten</strong> = Wählen, welche Varianten übertragen werden sollen.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Alle übertragen</strong> = Alle Varianten werden übertragen.</p>
</li>
<li>
<p><strong>Nur Hauptvarianten übertragen</strong> = Nur Hauptvarianten werden übertragen.<br></p>
</li>
<li>
<p><strong>Keine Hauptvarianten übertragen</strong> = Nur die Varianten eines Artikels werden übertragen. Hauptvarianten werden nicht übertragen.<br>
<strong><em>Tipp:</em></strong> Diese Filteroption verwenden, wenn die Hauptvarianten nur virtuell und keine verkaufbaren Produkte sind.</p>
</li>
<li>
<p><strong>Nur Einzelvarianten übertragen</strong> = Nur die Hauptvarianten von Artikeln werden übertragen, die nur eine Hauptvariante und keine Varianten haben.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Märkte</strong> = Eine oder mehrere Auftragsherkünfte wählen. Die gewählten Auftragsherkünfte müssen an der Variante aktiviert sein, damit der Artikel exportiert wird.</p>
</li>
<li>
<p><strong>Währung</strong> = Währung wählen.</p>
</li>
<li>
<p><strong>Kategorie</strong> = Aktivieren, damit der Artikel mit Kategorieverknüpfung übertragen wird. Es werden nur Artikel, die dieser Kategorie angehören, übertragen.</p>
</li>
<li>
<p><strong>Bild</strong> = Aktivieren, damit der Artikel mit Bild übertragen wird. Es werden nur Artikel mit Bildern übertragen.</p>
</li>
<li>
<p><strong>Mandant</strong> = Mandant wählen.</p>
</li>
<li>
<p><strong>Bestand</strong> = Wählen, welche Bestände exportiert werden sollen.</p>
</li>
<li>
<p><strong>Markierung 1-2</strong> = Markierung wählen.</p>
</li>
<li>
<p><strong>Hersteller</strong> = Einen, mehrere oder <strong>ALLE</strong> Hersteller wählen.</p>
</li>
<li>
<p><strong>Aktiv</strong> = Aktivieren, um nur aktive Varianten zu übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Formateinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkt-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, ob die URL des Artikels oder die URL der Variante übertragen wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mandant wählen. Diese Einstellung wird für den URL-Aufbau verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL-Parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Suffix für die Produkt-URL eingeben, wenn dies für den Export erforderlich ist.<br>
→ Die Produkt-URL wird um die eingegebene Zeichenkette erweitert, wenn weiter oben die Option <strong>übertragen</strong> für die Produkt-URL aktiviert wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aus der Dropdown-Liste die Auftragsherkunft wählen, die beim Auftragsimport zugeordnet werden soll.<br>
→ Die Produkt-URL wird um die gewählte Auftragsherkunft erweitert, damit die Verkäufe später analysiert werden können.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatzkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Marktplatzkonto aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sprache aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Die Namen sind im Tab <strong>Texte</strong> eines Artikels gespeichert. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge des Artikelnamen beim Export vorgibt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschautext</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welcher Text als Beschreibungstext übertragen werden soll. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge der Beschreibung beim Export vorgibt. Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Export entfernt werden. Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, diese Tags mit Komma trennen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielland</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zielland aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ASIN, ISBN oder eine GTIN aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Der gewählte Barcode muss mit der oben gewählten Auftragsherkunft verknüpft sein. Sonst wird der Barcode nicht exportiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition des Energieetiketts</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsbeschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsführung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung live umrechnen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, damit der Preis je nach eingestelltem Lieferland in die Währung des Lieferlandes umgerechnet wird. Der Preis muss für die entsprechende Währung freigegeben sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Brutto- oder Nettopreis aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, um den UVP zu übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, damit die Versandkosten aus der Konfiguration übernommen werden. Wenn die Option aktiviert ist, stehen in den beiden Dropdown-Listen Optionen für die Konfiguration und die Zahlungsart zur Verfügung. Option <strong>Pauschale Versandkosten übertragen</strong> aktivieren, damit die pauschalen Versandkosten übertragen werden. Wenn diese Option aktiviert ist, muss im Feld darunter ein Betrag eingegeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.-Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelverfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Option <strong>überschreiben</strong> aktivieren und in die Felder <strong>1</strong> bis <strong>10</strong>, die die ID der Verfügbarkeit darstellen, Artikelverfügbarkeiten eingeben. So werden die Artikelverfügbarkeiten, die im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> eingestellt wurden, überschrieben.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">2.3. Verfügbare Spalten der Exportdatei</h3>
<div class="paragraph">
<p>Öffne das Exportformat <strong>GeizhalsDE-Plugin</strong> im Menü <strong>Daten » Elastischer Export</strong>, um die Exportdatei herunterzuladen und bei Bedarf anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Exportdatei herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Formats <strong>GeizhalsDE-Plugin</strong> auf <strong>Herunterladen</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ Die Datei wird heruntergeladen und auf deinem Rechner gespeichert.</p>
</li>
<li>
<p>Öffne die Exportdatei mit einem geeigneten Programm.</p>
</li>
</ol>
</div>
<table id="spalten-exportdatei-geizhals-de" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verfügbare Spalten der Exportdatei für das Exportformat <strong>GeizhalsDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spaltenbezeichnung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herstellername</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Der <strong>Hersteller</strong> des Artikels. Der <strong>Externe Name</strong> unter <strong>Einrichtung » Artikel » Hersteller</strong> wird bevorzugt, wenn vorhanden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produktcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>Varianten-ID</strong> der Variante.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produktbezeichnung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Entsprechend der Formateinstellung <strong>Artikelname</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Der <strong>Verkaufspreis</strong> der Variante.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deeplink</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Der <strong>URL-Pfad</strong> des Artikels abhängig vom gewählten <strong>Mandanten</strong> in den Formateinstellungen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand Vorkasse</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Versandkosten</strong> mit <strong>Versand Vorkasse</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand Nachnahme</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Versandkosten</strong> mit <strong>Versand Nachnahme</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Der <strong>Name der Artikelverfügbarkeit</strong> unter <strong>Einrichtung » Artikel » Artikelverfügbarkeit</strong> oder die Übersetzung gemäß der Formateinstellung <strong>Artikelverfügbarkeit überschreiben</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herstellernummer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Das <strong>Modell</strong> unter <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Einstellungen » Grundeinstellungen</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EAN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Entsprechend der Formateinstellung <strong>Barcode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Kategorienamen der Kategorien, die mit der Variante verknüpft sind, abgetrennt durch "&gt;".</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grundpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>Grundpreisinformation</strong> im Format "Preis / Einheit". (Beispiel: 10.00 EUR / Kilogramm)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Beschreibung</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="catalogue-export">3. <em>Möglichkeit 2:</em> Katalogexport <em>(empfohlen)</em></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Export über Kataloge machst du deinen Export zu Geizhals.de zukunftssicher und flexibel.</p>
</div>
<div class="sect2">
<h3 id="catalogue-creation">3.1. Katalog erstellen</h3>
<div class="paragraph">
<p>Artikeldaten werden über ein Marktplatz-Format exportiert. Um deine Artikel zu einem Preisportal zu exportieren, erstellst du im Menü <strong>Daten » Kataloge</strong> einen Katalog. Ordne dann im Marktplatz-Format die vom Katalog vorgegebenen Marktplatz-Datenfelder den in plentymarkets gespeicherten Artikeldaten zu.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du arbeitest zum ersten Mal mit den Katalogen? Dann mache dich zuerst <a href="/daten/daten-exportieren/marktplatzexport">mit dem Prinzip der Kataloge vertraut</a>.</p>
</li>
<li>
<p>Informationen zu den plentymarkets Datenfeldern, die du in diesem Katalog zuordnen kannst, findest du in den Erläuterungen zum Standardformat <a href="/daten/daten-exportieren/katalog-artikel">Artikel</a>.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Katalog erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Katalog erstellen</strong> (<span class="icon "><i class="material-add"></i></span>).</p>
</li>
<li>
<p>Gib einen Namen für den Katalog ein.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Export-Typ</strong> die Option <strong>Geizhals.de</strong>.<br></p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Format-Typ</strong> die Option <strong>Artikel (neu)</strong>.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Format</strong> die Option <strong>Geizhals.de</strong>.<br>
<strong><em>Tipp:</em></strong> Für diesen Marktplatz kannst du nur einen Katalog erstellen. Deshalb ist als Format nur der Name des Marktplatzes wählbar.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Der Katalog wird erstellt.<br>
→ Der Katalog wird zur weiteren Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="data-field-mappings">3.2. Datenfelder im Katalog zuordnen</h3>
<div class="paragraph">
<p>Ordne nun die Marktplatz-Datenfelder im Katalog den in plentymarkets gespeicherten Artikeldaten zu.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Katalogmenü für Marktplatz-Formate kennenlernen</div>
<div class="content">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/catalogue-menu-colours.png" alt="catalogue menu colours">
</div>
</div>
<div class="paragraph">
<p><em>Menüaufbau eines Katalogs mit Marktplatz-Format</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong> Standardmäßig wird die Ansicht <strong>Zuordnung</strong> angezeigt, wenn du einen Katalog öffnest. Über die Navigation wechselst du zu anderen Ansichten des Katalogs. Rufe die Katalogeinstellungen auf oder setze Filter, um nur bestimmte Daten zu exportieren. Außerdem kannst du zurück zur Katalogübersicht wechseln oder einen neuen Katalog erstellen.</p>
</li>
<li>
<p><strong>Toolbar</strong> In der Toolbar kannst du für den Katalog relevante Aktionen durchführen. Speichere zum Beispiel die Zuordnungen der Datenfelder, stelle eine ältere Version des Katalogs wieder her oder blende optionale Marktplatz-Datenfelder ein oder aus.</p>
</li>
<li>
<p><strong>Marktplatz-Datenfelder</strong> Rechts neben der Navigation sind alle für den Marktplatz verfügbaren Datenfelder aufgelistet. Pflichtfelder sind mit einem Sternchen (✱) gekennzeichnet.<br>
<strong><em>Tipp:</em></strong> In der Toolbar blendest du über die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>) optionale Felder ein und aus.</p>
</li>
<li>
<p><strong>plentymarkets Datenfelder</strong> Im linken Bereich des Katalogs ordnest du den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu. Im Screenshot wurden schon einige Felder zugeordnet.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Eigenschaften statt Freitextfelder und Merkmale</div>
<div class="paragraph">
<p>Über Kataloge kannst du keine Freitextfelder und Merkmale mehr exportieren. Verwende stattdessen <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Katalogzuordnungen erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Das Tab <strong>Zuordnung</strong> wird geöffnet.<br>
→ In der linken Spalte werden die Datenfelder des Marktplatzes angezeigt.<br>
<strong><em>Tipp:</em></strong> Pflichtfelder sind mit Sternchen (∗) gekennzeichnet.<br>
→ In der rechten Spalte ordnest du die plentymarkets Datenfelder zu. Auch schon zugeordnete plentymarkets Datenfelder werden in der rechten Spalte angezeigt.</p>
</li>
<li>
<p>Nun ordnest du den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu.<br>
<strong><em>Tipp:</em></strong> Du brauchst mehr Informationen zu den plentymarkets Datenfeldern? Dann besuche die Handbuchseite für das Standardformat <a href="/daten/daten-exportieren/katalog-artikel">Artikel (neu)</a>.<br>
Für jedes Marktplatz-Datenfeld hast du die folgenden Zuordnungsmöglichkeiten. Diese Zuordnungsmöglichkeiten werden in den Info-Boxen unten näher beschrieben:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Einfache 1:1-Zuordnung</strong></p>
</li>
<li>
<p><strong>Komplexe 1:1-Zuordnung</strong></p>
</li>
<li>
<p><strong>1:1-Zuordnung mit Ausweich-Datenfeld</strong></p>
</li>
<li>
<p><strong>1:n-Zuordnung</strong></p>
</li>
<li>
<p><strong>Eigener-Wert-Zuordnung</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Einfache 1:1-Zuordnung:</strong> 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld</div>
<div class="content">
<div class="paragraph">
<p>Bei einer einfachen 1:1-Zuordnung ordnest du dem Markplatz-Datenfeld eine Einstellung in plentymarkets zu. Wenn es keine passende Einstellung in plentymarkets gibt, kannst du stattdessen eine Eigenschaft erstellen und zuordnen.</p>
</div>
<div class="paragraph">
<p>Bei einer einfachen 1:1-Zuordnung legst du also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass dieses Marktplatz-Datenfeld mit den Daten aus dieser plentymarkets Einstellung befüllt wird.</p>
</li>
<li>
<p>Wenn das Datenfeld für eine Variante leer ist, wird kein Wert für die Variante exportiert.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Einfache 1:1-Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Verkaufspreis und UVP bei Otto Market</p>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du den Marktplatz-Datenfeldern <strong>Verkaufspreis</strong> und <strong>UVP</strong> von Otto Market passende plentymarkets Datenfelder zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-mapping-simple-de.gif" alt="gif catalogue mapping simple de">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Komplexe 1:1-Zuordnung:</strong> 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld</div>
<div class="content">
<div class="paragraph">
<p>Wie bei den einfachen 1:1-Zuordnungen ordnest du auch hier einem Markplatz-Datenfeld eine Einstellung in plentymarkets oder eine Eigenschaft zu. Komplexe Zuordnungen sind aber immer dann nötig, wenn es für ein Marktplatz-Datenfeld verschiedene mögliche Werte gibt. Statt Datenfelder zuzuordnen, ordnest du bei komplexen Zuordnungen also die Werte dieser Datenfelder zu. Zum Beispiel kannst du dem Marktplatz-Datenfeld <strong>Versandart</strong> nicht einfach das plentymarkets Datenfeld <strong>Versandprofil</strong> zuordnen. Warum? Der Marktplatz kann nicht wissen, welches deiner Versandprofile in plentymarkets welchem Versandprofil des Marktplatzes entspricht.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Gib bei komplexen Zuordnungen keine eigenen Werte ein. Alle Werte, die du eingibst, müssen an den Varianten gespeichert sein, entweder in einer Einstellung oder als Eigenschaftswert. Das gilt auch, wenn das Feld <strong>Comparative value</strong> angezeigt wird. Auch hier musst du genau den Wert aus der zugeordneten Einstellung oder Eigenschaft eingeben.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Beispiele für komplexe 1:1-Zuordnungen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Marken</p>
</li>
<li>
<p>Versandart</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Komplexe Zuordnungen erkennst du daran, dass sich unterhalb des Namens des Marktplatz-Datenfelds ein Eingabefeld befindet. Wenn du in das Eingabefeld klickst, werden die Werte angezeigt, die es für das Marktplatz-Datenfeld gibt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/catalogue-complex-mappings.png" alt="catalogue complex mappings">
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Ordne bei komplexen Zuordnungen keine eigenen Werte und keine Eigenschaften des Typs <strong>Kein</strong> zu.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Komplexe 1:1-Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke in das Feld für das Marktplatz-Datenfeld.<br>
→ Eine Liste der verfügbaren Werte wird angezeigt.</p>
</li>
<li>
<p>Wähle den Wert, dem du ein plentymarkets Datenfeld zuordnen möchtest.<br>
→ Der Wert wird übernommen.</p>
</li>
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links werden die verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.<br></p>
</li>
<li>
<p>Klicke auf eine Gruppe.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke auf das plentymarkets Datenfeld, für das du Werte zuordnen möchtest.<br>
<strong><em>Wichtig:</em></strong> Ordne keinen eigenen Wert und keine Eigenschaft des Typs <strong>Kein</strong> zu.<br>
→ Je nachdem, welches plentymarkets Datenfeld du gewählt hast, gehst du ab jetzt unterschiedlich vor:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Möglichkeit 1:</em></strong> Die verfügbaren Werte des plentymarkets Datenfelds werden links angezeigt.<br></p>
<div class="ulist">
<ul>
<li>
<p>Klicke neben dem gewünschten Wert auf das Plus.<br>
→ Der Wert wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Möglichkeit 2:</em></strong> Das plentymarkets Datenfeld wird eingefügt und das Feld <strong>Comparative value</strong> wird angezeigt.</p>
<div class="ulist">
<ul>
<li>
<p>Gib in das Feld <strong>Comparative value</strong> einen Wert ein, der für das gewählte plentymarkets Datenfeld in der Einstellung oder der Eigenschaft gespeichert ist.<br></p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Möglichkeit 3:</em></strong> Das plentymarkets Datenfeld wird eingefügt und eine Dropdown-Liste wird angezeigt.</p>
<div class="ulist">
<ul>
<li>
<p>Wähle einen Wert aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Lieferzeit in Tagen bei Otto Market</p>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du den Werten des Marktplatz-Datenfelds <strong>Lieferzeit in Tagen</strong> von Otto Market passende plentymarkets Werte zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-mapping-complex-de.gif" alt="gif catalogue mapping complex de">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:1-Zuordnung mit Ausweich-Datenfeld:</strong> 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld mit Alternative</div>
<div class="content">
<div class="paragraph">
<p>Bei einer 1:1-Zuordnung mit Ausweich-Datenfeld ordnest du dem Markplatz-Datenfeld eine Einstellung in plentymarkets zu. Zusätzlich gibst du ein oder mehrere Ausweich-Datenfelden an, damit das System weitersucht, wenn das erste plentymarkets-Datenfeld leer ist oder einen ungültigen Wert enthält.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass dieses Marktplatz-Datenfeld mit den Daten aus dieser plentymarkets Einstellung befüllt wird.</p>
</li>
<li>
<p>Wenn dieses Datenfeld für eine Variante leer oder ungültig ist, wird das erste Ausweich-Datenfeld geprüft und stattdessen dieser Wert für die Variante exportiert.</p>
</li>
<li>
<p>Wenn auch das erste Ausweich-Datenfeld für eine Variante leer oder ungültig ist, wird das zweite Ausweich-Datenfeld geprüft und stattdessen dieser Wert für die Variante exportiert usw.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>1:1-Zuordnung mit Ausweich-Datenfeld erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke in der Liste der plentymarkets Datenfelder neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das Ausweich-Datenfeld wird exportiert, wenn das erste Datenfeld nicht vorhanden oder leer ist.<br>
<strong><em>Hinweis:</em></strong> Auch wenn du ein oder mehrere Ausweich-Datenfelder zuordnest, wird für jede Variante nur ein Wert übertragen. Für jede Variante werden die zugeordneten plentymarkets Datenfelder in der Reihenfolge geprüft, in der sie zugeordnet wurden. Wenn also das erste Datenfeld keinen Wert für die Variante liefert, wird das erste Ausweich-Datenfeld übertragen usw.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Ausweich-Datenfeld für SKU bei Otto Market</p>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du dem Marktplatz-Datenfeld <strong>SKU</strong> von Otto Market das plentymarkets Datenfeld <strong>SKU</strong> und das plentymarkets Datenfeld <strong>Varianten-ID</strong> als Ausweich-Datenfeld zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-mapping-fallback-de.gif" alt="gif catalogue mapping fallback de">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:n-Zuordnung:</strong> 1 Marktplatz-Datenfeld, mehrere plentymarkets Datenfelder</div>
<div class="content">
<div class="paragraph">
<p>Bei einer 1:n-Zuordnung ordnest du dem Markplatz-Datenfeld mehrere plentymarkets Datenfelder zu. Diese Datenfelder kannst du durch ein Trennzeichen miteinander verbinden.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass diese plentymarkets Datenfelder beim Export kombiniert werden und das Marktplatz-Datenfeld mit den Daten aus diesen zwei oder mehr plentymarkets Einstellungen befüllt wird.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>1:n-Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
<li>
<p>Klicke rechts neben dem zugeordneten plentymarkets Datenfeld auf <strong>Datenfeld hinzufügen</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder wieder als Gruppen angezeigt.</p>
</li>
<li>
<p>Ordne dem Marktplatz-Datenfeld wie oben beschrieben ein oder mehrere weitere plentymarkets Datenfelder zu.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
<li>
<p>Klicke ganz rechts in der Zeile des Marktplatz-Datenfelds auf <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Trennzeichen</strong> ein Trennzeichen oder bestimme ein eigenes Trennzeichen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.<br>
→ Beim Export wird der Inhalt der plentymarkets Datenfelder kombiniert exportiert.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Eigener-Wert-Zuordnung:</strong> 1 Marktplatz-Datenfeld, derselbe Wert für alle Varianten</div>
<div class="content">
<div class="paragraph">
<p>Du bist dir sicher, dass du für ein Marktplatz-Datenfeld für alle Varianten des Katalogs denselben Wert übertragen möchtest? Dann kannst du einen eigenen Wert angeben. Dieser feste Wert wird dann für alle Varianten exportiert.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass für dieses Marktplatz-Datenfeld für <em>alle</em> Varianten dieses Katalogs der Wert exportiert wird, den ich in das Feld <strong>Eigener Wert</strong> eingeben habe.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Eigener-Wert-Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke ganz oben neben <strong>Eigener Wert</strong> auf das Plus.<br>
→ Das Feld für den eigenen Wert wird in der Ansicht hinzugefügt.</p>
</li>
<li>
<p>Gib einen Wert in das Eingabefeld darunter ein.<br>
→ Dieser Wert wird für alle Varianten exportiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Durchmesserangaben</p>
</div>
<div class="paragraph">
<p>Du möchtest für einige deiner Varianten den Durchmesser an Marktplätze exportieren. Den Durchmesser hast du für alle Varianten in Zentimetern gespeichert. Statt eine Eigenschaft für die Einheit zu erstellen und diese Eigenschaft mit allen Varianten zu verknüpfen, kannst du also als eigenen Wert <code>cm</code> eingeben.</p>
</div>
<div class="paragraph">
<p>Hier siehst du ein Beispiel dafür, wie du einen eigenen Wert für die Durchmesser-Einheit zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-own-value-de.gif" alt="gif catalogue own value de" width="600">
</div>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="recommended-mappings">3.3. Empfehlungen für Datenfeld-Zuordnungen</h3>
<div class="paragraph">
<p>Um dich beim Erstellen eines Katalogs zu unterstützen, haben wir eine Liste mit empfohlenen Datenfeld-Zuordnungen zusammengestellt. Beachte, dass es sich nur um Empfehlungen handelt. Je nachdem, wie du deine Artikeldaten pflegst, können andere Zuordnungen sinnvoller sein als diese Empfehlungen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du brauchst mehr Informationen zu den plentymarkets Datenfeldern, die wir in dieser Liste empfehlen? Alle Datenfelder sind auf der Handbuchseite für das Standardformat <a href="/daten/daten-exportieren/katalog-artikel">Artikel (neu)</a> beschrieben.</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Liste mit empfohlenen Datenfeld-Zuordnungen</div>
<div class="content">
<table id="recommended-mappings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 16.6666%;">
<col style="width: 50.0001%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Marktplatz-Feld</th>
<th class="tableblock halign-left valign-top">Pflicht?</th>
<th class="tableblock halign-left valign-top">Empfohlene plentymarkets Zuordnung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellername</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Artikel » Herstellername</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktcode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">nein</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variante » Varianten-ID</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktbezeichnung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Artikeltext » Name 1</strong>, Sprache <strong>Deutsch</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikeltext » Name 2</strong>, Sprache <strong>Deutsch</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikeltext » Name 3</strong>, Sprache <strong>Deutsch</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eigenschaft an Variante, Sprache <strong>Deutsch</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Verkaufspreis » [Verkaufspreis wählen]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deep-Link</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL-Pfad des Artikels abhängig von Mandant, Produkt-URL und Auftragsherkunft</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variante » Verfügbarkeit</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellernummer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variante » Modell</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Barcode » [Barcode des Typs EAN wählen]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">nein</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Standardkategorie » Pfad</strong>, Sprache <strong>Deutsch</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis: Verkaufspreis</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Grundpreis » Preis » [Denselben Verkaufspreis wie für Datenfeld "Preis" wählen]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis: Einheit</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Grundpreis » Einheit Name » [Denselben Verkaufspreis wie für Datenfeld "Preis" wählen]</strong>, Sprache <strong>Deutsch</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis: Menge</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Grundpreis » Anzahl » [Denselben Verkaufspreis wie für Datenfeld "Preis" wählen]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">nein</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Artikeltext » Artikeltext</strong>, Sprache <strong>Deutsch</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>oder</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eigenschaft des Typs <strong>Text</strong>, Sprache <strong>Deutsch</strong></p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="filter-export">3.4. <em>Optional:</em> Nur bestimmte Artikel exportieren</h3>
<div class="paragraph">
<p>Setze nun Filter, um nur bestimmte Artikel zu exportieren. Die Filter findest du im Menü <strong>Daten » Kataloge » [Katalog öffnen] » Filter</strong>.</p>
</div>
<div class="paragraph">
<p>Für Kataloge mit Marktplatz-Formaten sind sowohl benutzerdefinierte Filter als auch Template-Filter verfügbar. Template-Filter greifen automatisch und können nicht abgewählt werden. Benutzerdefinierte Filter können bei Bedarf gesetzt werden, um nur bestimmte Artikel zu exportieren.</p>
</div>
<div class="paragraph instruction">
<p>Filter hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Katalog.<br>
→ Die Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke links in der Seitennavigation auf das Tab <strong>Filter</strong> (<span class="icon "><i class="material-filter_alt"></i></span>).<br>
→ Die Filter-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Filter aus der Dropdown-Liste <strong>Filter hinzufügen</strong>.</p>
</li>
<li>
<p>Klicke rechts auf <strong>Filter hinzufügen</strong> (<span class="icon "><i class="material-add"></i></span>).<br>
→ Der Filter wird hinzugefügt.<br>
→ Abhängig vom Filter wird entweder eine Dropdown-Liste oder ein Eingabefeld angezeigt.</p>
</li>
<li>
<p>Wähle einen Wert aus der Dropdown-Liste.<br>
<strong>Oder:</strong> Gib den gewünschten Wert in das Feld des hinzugefügten Filters ein.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="material-save"></i></span>) die Einstellungen.<br>
→ Der Filter wird gespeichert.</p>
</li>
<li>
<p>Füge bei Bedarf weitere Filter hinzu.<br>
→ Nur die Daten, auf die alle hinzugefügten Filter zutreffen, werden exportiert.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Verfügbare Katalog-Filter</div>
<div class="content">
<div class="paragraph">
<p>Für Geizhals.de sind die in <a href="#tabelle-katalogfilter">Tabelle 3</a> aufgeführten Filter verfügbar.</p>
</div>
<table id="tabelle-katalogfilter" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Verfügbare Katalog-Filter</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-center valign-top" colspan="2"><strong>Benutzerdefinierte Filter</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hat eine SKU</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und <strong>Konto-ID</strong>, <strong>Auftragsherkuft</strong> und <strong>Status</strong> wählen.<br>
Nur Varianten werden exportiert, für die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Verfügbarkeit</strong> im Bereich <strong>SKU</strong> eine SKU gespeichert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein oder mehrere Artikel-IDs durch Komma getrennt eingeben. Nur Varianten mit diesen Artikel-IDs werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante ist aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und <strong>Aktiv</strong> oder <strong>Inaktiv</strong> wählen.<br>
* <strong>Aktiv</strong> = Nur Varianten werden exportiert, die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Einstellungen</strong> im Bereich <strong>Verfügbarkeit</strong> aktiviert sind.<br>
* <strong>Inaktiv</strong> = Nur inaktive Varianten werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Für mindestens einen Marktplatz sichtbar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und einen oder mehrere Marktplätze wählen.<br>
Nur Varianten werden exportiert, für die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Verfügbarkeit</strong> im Bereich <strong>Märkte</strong> mindestens einer der gewählten Marktplätze hinzugefügt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hat Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und einen oder mehrere Tags wählen.<br>
Nur Varianten werden exportiert, die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Einstellungen</strong> im Bereich <strong>Tags</strong> mit allen gewählten Tags verknüpft sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mit mindestens einem Auswahleigenschaftswert verknüpft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und einen oder mehrere Werte einer Auswahleigenschaft eingeben.<br>
<strong><em>Hinweis:</em></strong> IDs der Auswahlwerte eingeben.<br>
Nur Varianten werden exportiert, die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Eigenschaften</strong> mit mindestens einer der gewählten Eigenschaften verknüpft sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestens eine Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und eine oder mehrere Verfügbarkeiten wählen.<br>
Nur Varianten werden exportiert, für die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Einstellungen</strong> im Bereich <strong>Verfügbarkeit</strong> die gewählten Verfügbarkeiten aktiviert sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hat Markierung 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und eine oder mehrere Markierungen wählen.<br>
Nur Varianten von Artikeln, die die gewählten Markierungen haben, werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hat Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und eine oder mehrere Markierungen wählen.<br>
Nur Varianten von Artikeln, die die gewählten Markierungen haben, werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel Erstellungsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen, Wert wählen und ggf. Datum oder Zeitraum wählen.<br>
* <strong>Heute</strong> = Nur Artikel, die heute erstellt wurden, werden exportiert.<br>
* <strong>Letzte</strong> = Zahl eingeben, um nur Artikel zu exportieren, die in den letzten Tagen erstellt wurden.<br>
* <strong>Zeitraum</strong> = Zeitraum eingeben, um nur Artikel zu exportieren, die in diesem Zeitraum erstellt wurden.<br>
* <strong>=</strong> = Datum eingeben, um nur Artikel zu exportieren, die an diesem Tag erstellt wurden.<br>
* <strong>!=</strong> = Datum eingeben, um nur Artikel zu exportieren, die nicht an diesem Tag erstellt wurden.<br>
* <strong>&gt;</strong> = Datum eingeben, um nur Artikel zu exportieren, die nach diesem Tag erstellt wurden.<br>
* <strong>&gt;=</strong> = Datum eingeben, um nur Artikel zu exportieren, die an und nach diesem Tag erstellt wurden.<br>
* <strong>&lt;</strong> = Datum eingeben, um nur Artikel zu exportieren, die vor diesem Tag erstellt wurden.<br>
* <strong>⇐</strong> = Datum eingeben, um nur Artikel zu exportieren, die vor und an diesem Tag erstellt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel Änderungsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen, Wert wählen und ggf. Datum oder Zeitraum wählen.<br>
* <strong>Heute</strong> = Nur Artikel, die heute geändert wurden, werden exportiert.<br>
* <strong>Letzte</strong> = Zahl eingeben, um nur Artikel zu exportieren, die in den letzten Tagen geändert wurden.<br>
* <strong>Zeitraum</strong> = Zeitraum eingeben, um nur Artikel zu exportieren, die in diesem Zeitraum geändert wurden.<br>
* <strong>=</strong> = Datum eingeben, um nur Artikel zu exportieren, die an diesem Tag geändert wurden.<br>
* <strong>!=</strong> = Datum eingeben, um nur Artikel zu exportieren, die nicht an diesem Tag geändert wurden.<br>
* <strong>&gt;</strong> = Datum eingeben, um nur Artikel zu exportieren, die nach diesem Tag geändert wurden.<br>
* <strong>&gt;=</strong> = Datum eingeben, um nur Artikel zu exportieren, die an und nach diesem Tag geändert wurden.<br>
* <strong>&lt;</strong> = Datum eingeben, um nur Artikel zu exportieren, die vor diesem Tag geändert wurden.<br>
* <strong>⇐</strong> = Datum eingeben, um nur Artikel zu exportieren, die vor und an diesem Tag geändert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante Erstellungsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen, Wert wählen und ggf. Datum oder Zeitraum wählen.<br>
* <strong>Heute</strong> = Nur Varianten, die heute erstellt wurden, werden exportiert.<br>
* <strong>Letzte</strong> = Zahl eingeben, um nur Varianten zu exportieren, die in den letzten Tagen erstellt wurden.<br>
* <strong>Zeitraum</strong> = Zeitraum eingeben, um nur Varianten zu exportieren, die in diesem Zeitraum erstellt wurden.<br>
* <strong>=</strong> = Datum eingeben, um nur Varianten zu exportieren, die an diesem Tag erstellt wurden.<br>
* <strong>!=</strong> = Datum eingeben, um nur Varianten zu exportieren, die nicht an diesem Tag erstellt wurden.<br>
* <strong>&gt;</strong> = Datum eingeben, um nur Varianten zu exportieren, die nach diesem Tag erstellt wurden.<br>
* <strong>&gt;=</strong> = Datum eingeben, um nur Varianten zu exportieren, die an und nach diesem Tag erstellt wurden.<br>
* <strong>&lt;</strong> = Datum eingeben, um nur Varianten zu exportieren, die vor diesem Tag erstellt wurden.<br>
* <strong>⇐</strong> = Datum eingeben, um nur Varianten zu exportieren, die vor und an diesem Tag erstellt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante Änderungsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen, Wert wählen und ggf. Datum oder Zeitraum wählen.<br>
* <strong>Heute</strong> = Nur Varianten, die heute geändert wurden, werden exportiert.<br>
* <strong>Letzte</strong> = Zahl eingeben, um nur Varianten zu exportieren, die in den letzten Tagen geändert wurden.<br>
* <strong>Zeitraum</strong> = Zeitraum eingeben, um nur Varianten zu exportieren, die in diesem Zeitraum geändert wurden.<br>
* <strong>=</strong> = Datum eingeben, um nur Varianten zu exportieren, die an diesem Tag geändert wurden.<br>
* <strong>!=</strong> = Datum eingeben, um nur Varianten zu exportieren, die nicht an diesem Tag geändert wurden.<br>
* <strong>&gt;</strong> = Datum eingeben, um nur Varianten zu exportieren, die nach diesem Tag geändert wurden.<br>
* <strong>&gt;=</strong> = Datum eingeben, um nur Varianten zu exportieren, die an und nach diesem Tag geändert wurden.<br>
* <strong>&lt;</strong> = Datum eingeben, um nur Varianten zu exportieren, die vor diesem Tag geändert wurden.<br>
* <strong>⇐</strong> = Datum eingeben, um nur Varianten zu exportieren, die vor und an diesem Tag geändert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gehört zu mindestens einer Amazon-Produktkategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und eine oder mehrere Amazon-Produktkategorien wählen.<br>
Nur Varianten werden exportiert, für die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Multi-Channel</strong> im Bereich <strong>Amazon</strong> die gewählten Amazon-Produktkategorien zugeordnet sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und <strong>Standard</strong>, <strong>Set</strong> oder <strong>Multipack</strong> wählen.<br>
Nur Varianten von Artikeln des gewählten Artikel-Typs werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante ist Hauptvariante</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">* <strong>Ist Hauptvariante</strong> = Nur Hauptvarianten werden exportiert.<br>
* <strong>Ist keine Hauptvariante</strong> = Nur Varianten, die keine Hauptvarianten sind, werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante hat ein Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">* <strong>Hat ein Bild</strong> = Nur Varianten mit Bildern werden exportiert.<br>
* <strong>Hat kein Bild</strong> = Nur Varianten ohne Bilder werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante ist in Kategorien</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und eine oder mehrere Kategorien eingeben. <strong><em>Hinweis:</em></strong> Kategorie-IDs eingeben.<br>
Nur Varianten werden exportiert, die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Kategorien</strong> mit allen gewählten Kategorien verknüpft sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante ist in einer dieser Kategorien</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und eine oder mehrere Kategorien eingeben. <strong><em>Hinweis:</em></strong> Kategorie-IDs eingeben.<br>
Nur Varianten werden exportiert, die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Kategorien</strong> mit einer oder mehreren der gewählten Kategorien verknüpft sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel hat Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und einen oder mehrere Hersteller wählen.<br>
Nur Varianten von Artikeln werden exportiert, für die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global</strong> im Bereich <strong>Grundeinstellungen</strong> einer der gewählten Hersteller gespeichert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Für Marktplätze sichtbar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und einen oder mehrere Marktplätze hinzufügen.<br>
Nur Varianten werden exportiert, für die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Verfügbarkeit</strong> im Bereich <strong>Märkte</strong> alle gewählten Marktplätze hinzugefügt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Paket-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und Paket-Typ wählen.<br>
* <strong>Nicht Teil eines Pakets</strong> = Nur Varianten von Artikeln werden exportiert, die weder Hauptartikel noch Bestandteil eines Artikelpakets sind.<br>
* <strong>Paket</strong> = Nur Artikel, die Hauptartikel eines Artikelpakets sind, werden exportiert.<br>
* <strong>Teil eines Pakets</strong> = Nur Artikel, die Bestandteil eines Artikelpakets sind, werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Für einen Mandanten sichtbar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und einen oder mehrere Mandanten wählen.<br>
Nur Varianten, die für einen oder mehrere der gewählten Mandanten sichtbar sind, werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Für Mandanten sichtbar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und einen oder mehrere Mandanten wählen.<br>
Nur Varianten, die für alle gewählten Mandanten sichtbar sind, werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mit Auswahleigenschaftswerten verknüpft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und einen oder mehrere Werte einer Auswahleigenschaft eingeben.<br>
<strong><em>Hinweis:</em></strong> IDs der Auswahlwerte eingeben.<br>
Nur Varianten werden exportiert, die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Eigenschaften</strong> mit allen gewählten Eigenschaften verknüpft sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hat mindestens einen Tag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter hinzufügen und einen oder mehrere Tags wählen.<br>
Nur Varianten werden exportiert, die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Einstellungen</strong> im Bereich <strong>Tags</strong> mit mindestens einem der gewählten Tags verknüpft sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante hat Kindvarianten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">* <strong>Hat Kindvarianten</strong> = Nur Artikel mit mehreren Varianten werden exportiert.<br>
* <strong>Hat keine Kindvarianten</strong> = Nur Varianten werden exportiert, die außer der Hauptvariante keine weiteren Varianten haben.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="catalogue-settings">3.5. Katalogeinstellungen für Export vornehmen</h3>
<div class="paragraph instruction">
<p>Katalogeinstellungen für Export vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf den Katalog für Geizhals.de.<br>
→ Der Katalog wird geöffnet.</p>
</li>
<li>
<p>Öffne in der Navigation links das Tab <strong>Einstellungen</strong> (<span class="icon "><i class="material-settings"></i></span>).</p>
</li>
<li>
<p>Nimm die in <a href="#table-catalogue-settings">Tabelle 4</a> beschriebenen Einstellungen vor.</p>
</li>
<li>
<p>Speichere die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-catalogue-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Katalogeinstellungen vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Grundeinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Katalogname</strong>;<br>
<strong>Export-Typ</strong>;<br>
<strong>Format-Typ</strong>;<br>
<strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellungen werden beim Erstellen des Katalogs automatisch gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Formateinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für die Datei ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option <strong>CSV</strong> oder die Option <strong>TXT</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feldtrennzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option, die Geizhals.de erwartet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Textbegrenzer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option, die Geizhals.de erwartet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dezimaltrennzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option, die Geizhals.de erwartet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeilenumbruch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option, die Geizhals.de erwartet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kopfzeile enthalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung ist für Preisportale nicht erforderlich.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Exporteinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine Zahl ein, um eine maximale Anzahl an Zeilen für den Export festzulegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für Preisportale ist keine Einstellung erforderlich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Übertragung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für Preisportale ist keine Einstellung erforderlich.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Download-Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle den Mandanten, dessen Domain-Name für die URL verwendet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Optionen aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere die Option, damit ein öffentlicher Link geniert wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hash verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du diese Option aktivierst, wird bei jeder Änderung an dem Katalog ein neuer öffentlicher Link erzeugt. Du musst die neue URL dann bei Geizhals.de speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere die Option, um die Download-URL mit einem Token zu versehen. Die Datei ist dann nur erreichbar, wenn der aktuelle Token bekannt ist.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sicherheits-Token generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf das Symbol rechts (<span class="icon "><i class="fa fa-rotate-left  "></i></span>) klicken, um einen Token zu generieren.<br>
<strong><em>Tipp:</em></strong> Der Token wird als Bestandteil der URL zum öffentlichen Link hinzugefügt. Wenn du die URL bei Geizhals.de speicherst, speicherst du also gleichzeitig den Token. Wenn du einen neuen Token generierst, musst du aber die neue URL bei Geizhals.de speichern.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="catalogue-activation">3.6. Katalog aktivieren</h3>
<div class="paragraph">
<p>Du hast Geizhals.de eingerichtet und den Katalog für den Export deiner Artikeldaten erstellt? Dann starte jetzt den Export deiner Artikeldaten.</p>
</div>
<div class="paragraph instruction">
<p>Katalogexport zu Geizhals.de aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Scrolle zu dem Geizhals.de-Katalog.</p>
</li>
<li>
<p>Schiebe in der Spalte <strong>Aktiv/Inaktiv</strong> die Umschaltfläche nach rechts (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ Der Katalog wird aktiviert.<br></p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="catalogue-url">3.7. Katalogdaten an Geizhals.de übergeben</h3>
<div class="paragraph">
<p>Geizhals.de ruft Artikeldaten über eine URL ab. Die über die URL verfügbaren Daten werden alle 24 Stunden aktualisiert.</p>
</div>
<div class="paragraph instruction">
<p>URL für Download kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf den Katalog für Geizhals.de.<br>
→ Der Katalog wird geöffnet.</p>
</li>
<li>
<p>Öffne in der Navigation links das Tab <strong>Einstellungen</strong> (<span class="icon "><i class="material-settings"></i></span>).</p>
</li>
<li>
<p>Klicke auf den Bereich <strong>Download-Einstellungen</strong>.<br>
→ Die Einstellungen für das Generieren der URL werden angezeigt.</p>
</li>
<li>
<p>Klicke neben der Option <strong>Öffentlicher Link</strong> auf das Symbol ganz rechts (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ Die URL wird in die Zwischenablage kopiert.</p>
</li>
<li>
<p>Speichere die URL im Backend von Geizhals.de.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="change-elastic-export-catalogue">4. <em>Möglichkeit 3:</em> Wechsel von elastischem Export zu Katalog</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du exportierst schon Artikeldaten mit dem elastischen Export an Geizhals.de und möchtest zum Katalogexport wechseln? Dazu erstellst du wie im Kapitel <a href="#catalogue-export">Katalogexport</a> beschrieben einen Katalog.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Elastischen Export exakt nachstellen</div>
<div class="paragraph">
<p>Damit der Artikelexport beim Wechsel vom elastischen Export auf den Katalog weiterhin funktioniert, musst du deinen vorherigen elastischen Export im Katalog exakt nachstellen. Das bedeutet, dass du im Katalog genau die gleichen Datenfelder zuordnen musst, die im elastischen Export an das Preisportal übertragen wurden. Wenn du andere Datenfelder als im elastischen Export zuordnest, kann es passieren, dass beim Export neue Artikel erstellt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Um einen reibungslosen Übergang zu schaffen, empfehlen wir die folgende Vorgehensweise:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Prüfe, welche Merkmale du aktuell für Geizhals.de verwendest. Merkmale und Freitextfelder können für den Katalogexport nicht mehr verwendet werden. Erstelle deshalb Eigenschaften für alle Merkmale, die du weiterhin benötigst.<br>
<strong><em>Wichtig:</em></strong> Die Werte der neuen Eigenschaften müssen mit den Werten der alten Merkmale identisch sein. Sonst kann es passieren, dass beim Export zu Geizhals.de neue Artikel erstellt werden.</p>
</li>
<li>
<p>Erstelle einen Katalog für Geizhals.de. (<a href="#catalogue-creation">Wie?</a>)</p>
</li>
<li>
<p>Ordne den Marktplatz-Datenfeldern von Geizhals.de dieselben plentymarkets Datenfelder zu, die zurzeit auch über den elastischen Export an Geizhals.de exportiert werden. (<a href="#data-field-mappings">Wie?</a>)<br>
<strong><em>Tipp:</em></strong> <a href="#elastic-export-catalogue-mappings">Tabelle 5</a> zeigt, welche Spalten im elastischen Export welchen Datenfeldern des Katalogs entsprechen.</p>
</li>
<li>
<p>Hast du im elastischen Export Artikeldaten gefiltert? Dann verwende dieselben Filter auch im Katalog. (<a href="#filter-export">Wie?</a>)</p>
</li>
<li>
<p>Nimm die Exporteinstellungen vor. Damit erstellst du eine URL für Geizhals.de. (<a href="#catalogue-settings">Wie?</a>)</p>
</li>
<li>
<p>Aktiviere den Katalog (<a href="#catalogue-activation">Wie?</a>)</p>
</li>
<li>
<p>Speichere die URL des Katalogs bei Geizhals.de. (<a href="#catalogue-url">Wie?</a>)</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="#elastic-export-catalogue-mappings">Tabelle 5</a> zeigt, welche Spalten im elastischen Export welchen Datenfeldern des Katalogs entsprechen.</p>
</div>
<table id="elastic-export-catalogue-mappings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Spalten und Datenfelder</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spalte im elastischen Export</th>
<th class="tableblock halign-left valign-top">Datenfeld im Katalog</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellername</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellername</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktcode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktcode</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktbezeichnung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktbezeichnung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deeplink</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deep-Link</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versand Vorkasse</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung Versandkosten mit Versand Vorkasse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versand Nachnahme</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung Versandkosten mit Versand Nachnahme.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellernummer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellernummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis: Verkaufspreis;<br>
Grundpreis: Einheit;<br>
Grundpreis: Menge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>