<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#updates"><span>1.</span><span> plentyShop LTS-Updates sicher testen</span></a>
<ul class="sectlevel2">
<li><a href="#_plugin_set_kopieren"><span>1.1.</span><span> Plugin-Set kopieren</span></a></li>
<li><a href="#_plentyshop_lts_update_auf_die_plugin_set_kopie_aufspielen"><span>1.2.</span><span> plentyShop LTS Update auf die Plugin-Set Kopie aufspielen</span></a></li>
</ul>
</li>
<li><a href="#filter"><span>2.</span><span> Filter einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_attribut_anlegen"><span>2.1.</span><span> Attribut anlegen</span></a></li>
<li><a href="#_attribut_mit_artikel_verknüpfen"><span>2.2.</span><span> Attribut mit Artikel verknüpfen</span></a></li>
<li><a href="#_facette_einrichten"><span>2.3.</span><span> Facette einrichten</span></a></li>
<li><a href="#_attributwerte_mit_facette_verknüpfen"><span>2.4.</span><span> Attributwerte mit Facette verknüpfen</span></a></li>
<li><a href="#_mandanten_mit_facette_verknüpfen"><span>2.5.</span><span> Mandanten mit Facette verknüpfen</span></a></li>
<li><a href="#_plugin_bereitstellen"><span>2.6.</span><span> Plugin bereitstellen</span></a></li>
</ul>
</li>
<li><a href="#bestellmerkmale"><span>3.</span><span> Bestellmerkmale einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_bestellmerkmal_anlegen"><span>3.1.</span><span> Bestellmerkmal anlegen</span></a></li>
<li><a href="#_bestellmerkmal_mit_artikel_verknüpfen"><span>3.2.</span><span> Bestellmerkmal mit Artikel verknüpfen</span></a></li>
<li><a href="#_plugin_bereitstellen_2"><span>3.3.</span><span> Plugin bereitstellen</span></a></li>
<li><a href="#_bestellmerkmal_als_checkbox_einrichten"><span>3.4.</span><span> Bestellmerkmal als Checkbox einrichten</span></a>
<ul class="sectlevel3">
<li><a href="#_merkmalgruppe_erstellen"><span>3.4.1.</span><span> Merkmalgruppe erstellen</span></a></li>
<li><a href="#_bestellmerkmal_anlegen_2"><span>3.4.2.</span><span> Bestellmerkmal anlegen</span></a></li>
<li><a href="#_bestellmerkmal_mit_artikel_verknüpfen_2"><span>3.4.3.</span><span> Bestellmerkmal mit Artikel verknüpfen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#cross-selling"><span>4.</span><span> Cross-Selling einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_cross_selling_artikellisten_konfigurieren"><span>4.1.</span><span> Cross-Selling-Artikellisten konfigurieren</span></a></li>
<li><a href="#_cross_selling_artikellisten_im_webshop_anzeigen"><span>4.2.</span><span> Cross-Selling-Artikellisten im Webshop anzeigen</span></a></li>
</ul>
</li>
<li><a href="#eigenschaften-basket"><span>5.</span><span> Eigenschaften im Warenkorb und im Checkout ausgeben</span></a>
<ul class="sectlevel2">
<li><a href="#_basketlistitem_twig_anpassen"><span>5.1.</span><span> BasketListItem.twig anpassen</span></a></li>
<li><a href="#_basketitem_fields_json_anpassen"><span>5.2.</span><span> BasketItem.fields.json anpassen</span></a></li>
</ul>
</li>
<li><a href="#vat"><span>6.</span><span> Hinweise zur Senkung der Mehrwertsteuer (01.07.2020)</span></a>
<ul class="sectlevel2">
<li><a href="#_css_anpassungen"><span>6.1.</span><span> CSS-Anpassungen</span></a></li>
<li><a href="#_anpassungen_im_shopbuilder"><span>6.2.</span><span> Anpassungen im ShopBuilder</span></a>
<ul class="sectlevel3">
<li><a href="#_code_widgets_platzieren"><span>6.2.1.</span><span> Code-Widgets platzieren</span></a></li>
</ul>
</li>
<li><a href="#_anpassungen_an_plentyshop_lts_templates"><span>6.3.</span><span> Anpassungen an plentyShop LTS-Templates</span></a>
<ul class="sectlevel3">
<li><a href="#_auftragshistorie_anpassen"><span>6.3.1.</span><span> Auftragshistorie anpassen</span></a></li>
<li><a href="#_standard_header_anpassen"><span>6.3.2.</span><span> Standard-Header anpassen</span></a></li>
<li><a href="#_eigenen_shopbuilder_header_anpassen"><span>6.3.3.</span><span> Eigenen ShopBuilder-Header anpassen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#psi"><span>7.</span><span> Bessere Werte bei Google Page Speed Insights erzielen</span></a>
<ul class="sectlevel2">
<li><a href="#_live_modus_im_plentyshop_lts_plugin_aktivieren"><span>7.1.</span><span> Live-Modus im plentyShop LTS-Plugin aktivieren</span></a></li>
<li><a href="#_vue_server_side_rendering_aktivieren"><span>7.2.</span><span> Vue Server-Side Rendering aktivieren</span></a></li>
<li><a href="#_bilder_widgets_optimal_einstellen"><span>7.3.</span><span> Bilder-Widgets optimal einstellen</span></a>
<ul class="sectlevel3">
<li><a href="#_bilder_im_sichtbaren_bereich_vorladen_preloading"><span>7.3.1.</span><span> Bilder im sichtbaren Bereich vorladen (Preloading)</span></a></li>
<li><a href="#_bilder_im_nicht_sichtbaren_bereich_nachladen_lazy_loading"><span>7.3.2.</span><span> Bilder im nicht sichtbaren Bereich nachladen (Lazy Loading)</span></a></li>
<li><a href="#_moderne_bildformate_verwenden"><span>7.3.3.</span><span> Moderne Bildformate verwenden</span></a></li>
<li><a href="#_largest_contenful_paint_lcp_identifizieren"><span>7.3.4.</span><span> Largest Contenful Paint (LCP) identifizieren</span></a></li>
</ul>
</li>
<li><a href="#_anzahl_der_plugins_reduzieren"><span>7.4.</span><span> Anzahl der Plugins reduzieren</span></a></li>
<li><a href="#_anzahl_der_widgets_reduzieren"><span>7.5.</span><span> Anzahl der Widgets reduzieren</span></a></li>
<li><a href="#_shopbooster_aktivieren"><span>7.6.</span><span> ShopBooster aktivieren</span></a></li>
<li><a href="#_unsichtbaren_text_durch_eigene_schriftarten_vermeiden"><span>7.7.</span><span> Unsichtbaren Text durch eigene Schriftarten vermeiden</span></a></li>
<li><a href="#_javascript_in_code_widgets_vermeiden"><span>7.8.</span><span> Javascript in Code-Widgets vermeiden</span></a></li>
<li><a href="#_plugins_für_zahlungsarten_richtig_verknüpfen"><span>7.9.</span><span> Plugins für Zahlungsarten richtig verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#suche"><span>8.</span><span> Webshop-Suche einstellen</span></a>
<ul class="sectlevel2">
<li><a href="#_sortierung_der_suchergebnisse_nach_relevanz"><span>8.1.</span><span> Sortierung der Suchergebnisse nach Relevanz</span></a></li>
<li><a href="#_sortierung_der_suchergebnisse_nach_empfohlen"><span>8.2.</span><span> Sortierung der Suchergebnisse nach Empfohlen</span></a></li>
<li><a href="#und-suche"><span>8.3.</span><span> UND-Suche</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: plentyShop LTS</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zu den Themen <strong>plentyShop LTS</strong> und Webshop.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="updates">1. plentyShop LTS-Updates sicher testen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Best Practice erfährst du, welche Schritte nötig sind, um neu veröffentlichte Versionen des plentyShop LTS Webshop-Templates zu testen, ohne dass dabei der produktive Betrieb deines Webshops beinträchtigt wird.
Durch das Implementieren von neuen Features, das Beheben von Bugs und die Vereinfachung der Benutzeroberfläche kann es immer wieder dazu kommen, dass extern entwickelte Plugins, bei denen Abhängigkeiten zu CerplentyShop LTSes bestehen (wie beispielsweise <a href="https://marketplace.plentymarkets.com/plugins/themes" target="_blank" rel="noopener">Themes</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>), bei einem Update auf eine höhere plentyShop LTS Version zu Problemen führen.
Es ist daher ratsam, eine Kopie der <strong>Plugin-Set</strong>-Konfiguration zu erstellen, mit deren Hilfe die Kompatibilität zwischen einer neuen plentyShop LTS Version und anderen Plugins überprüft werden kann.</p>
</div>
<div class="sect2">
<h3 id="_plugin_set_kopieren">1.1. Plugin-Set kopieren</h3>
<div class="paragraph">
<p>Du solltest zunächst ein neues <strong>Plugin-Set</strong> erstellen, auf welches du alle Einstellungen deines jetzigen plentyShop LTS Webshops überträgst. Gehe dafür wie folgt vor:</p>
</div>
<div class="paragraph instruction">
<p>Plugin-Set kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Plugin-Set erstellen</strong>.<br>
→ Das Fenster <strong>Neues Plugin-Set</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für das Plugin-Set ein, der idealerweise ausdrückt, dass es sich um eine Kopie deines plentyShop LTS Shops handelt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Plugin-Set kopieren</strong> das Plugin-Set aus, dessen Konfiguration du auf das neue Plugin-Set übertragen willst.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das neue Plugin-Set wird erstellt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Deine Plugin-Set Kopie enthält nun die gleichen Einstellungen wie dein plentyShop LTS Shop. Zu diesem Zeitpunkt sind diese beiden Plugin-Sets deckungsgleich.
Es bietet sich an, diesen Vorgang vor jedem größeren Update zu wiederholen, damit die Plugin-Set-Kopie auf einem aktuellen Stand ist.</p>
</div>
</div>
<div class="sect2">
<h3 id="_plentyshop_lts_update_auf_die_plugin_set_kopie_aufspielen">1.2. plentyShop LTS Update auf die Plugin-Set Kopie aufspielen</h3>
<div class="paragraph">
<p>Im nächsten Schritt solltest du nun die erstellte Kopie des Plugin-Sets auf die aktuelle plentyShop LTS Version setzen:</p>
</div>
<div class="paragraph instruction">
<p>Plugin-Set Update:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin Übersicht</strong>.</p>
</li>
<li>
<p>Wähle die erstellte Kopie des Plugin-Sets.<br>
→ Das Fenster <strong>Plugin-Set Details</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Zeile des Plugins <strong>plentyShop LTS</strong> auf <strong>Aktualisieren</strong> in der Spalte <strong>Aktion</strong>.<br>
→ Das Fenster <strong>Plugin aktualisieren</strong> wird geöffnet.
→ Die aktuelle Version des Plugins ist vorausgewählt.</p>
</li>
<li>
<p>Klicke auf <strong>installieren</strong>.<br>
→ Das Plugin wird installiert.</p>
</li>
<li>
<p>Wiederhole die Schritte 3 und 4 für das Plugin <strong>IO</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern &amp; Plugins bereitstellen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Kopie des Plugin-Sets befindet sich nun auf einem aktuelleren Stand, als das Plugin-Set, über welches dein plentyShop LTS Shop läuft.
Klicke nun auf das neu erstelle Plugin-Set in der Plugin-Set Liste auf der linken Seite der Oberfläche. Über die Schaltfläche <strong>Plugin-Set Vorschau</strong> kannst du deinen plentyShop LTS Shop mit dem aktualisierten Plugin-Set im Vorschaumodus aufrufen. Überprüfe nun, ob die Änderungen an plentyShop LTS zu Inkompatibilitäten mit dem von dir genutzten Theme führen.
Wenn die von dir genutzten externen Plugins nach dem plentyShop LTS-Update wie gewünscht laufen, kannst du nun entweder die erstellte Kopie des Plugin-Sets für den Mandanten <a href="/plugins#70">aktivieren</a> oder die Plugins deines ursprünglichen Plugin-Set wie oben beschrieben <strong>aktualisieren</strong>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Manche Abhängigkeiten zwischen externen Plugins und <strong>plentyShop LTS</strong>/<strong>IO</strong> sind nicht sofort ersichtlich. Es ist daher ratsam, das ursprüngliche Plugin-Set nicht vorschnell zu verwerfen, sodass der Wechsel auf die vorherige Version auch nach ein paar Tagen noch möglich ist, ohne dass die plentyShop LTS Konfiguration erneut angepasst werden muss. Im <a href="https://forum.plentymarkets.com/c/ceres-webshop" target="_blank" rel="noopener">Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> erfährst du schnell, welche Probleme zwischen externen Plugins und neuen <strong>plentyShop LTS</strong>/<strong>IO</strong> Versionen bestehen können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="filter">2. Filter einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Filter werden in plentyShop LTS mithilfe von Attributen und Merkmalen abgebildet. In diesem Best Practice wird beschrieben, wie der Filter <strong>Farbe</strong> mit den zwei Werten <strong>Rot</strong> und <strong>Schwarz</strong> in der Kategorie-Ansicht des Webshops angezeigt wird. Passende Filter werden in der Kategorie-Ansicht nur eingeblendet, wenn es auch Artikel gibt, die mit diesen Filterwerten verknüpft sind.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Das Wichtigste vorab …​</div>
<div class="ulist">
<ul>
<li>
<p>Hierbei handelt es sich um ein Best Practice für das Webshop-Plugin <strong>plentyShop LTS</strong>. <strong>plentyShop LTS</strong> ist im <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> verfügbar und läuft auf plentymarkets Systemen. Die Filter aus <strong>plentyShop LTS</strong> werden auch in individuellen Theme-Plugins angezeigt, sofern diese  in den Themes nicht überschrieben wurden.</p>
</li>
<li>
<p>Eine Integration in individuelle oder veränderte Template-Plugins ist möglich, bedarf aber individueller Anpassungen, die an dieser Stelle nicht berücksichtigt werden können.</p>
</li>
<li>
<p>Filter können mittels <a href="/omni-channel/online-shop/webshop-einrichten/extras/facettensuche#100">Facetten</a> über <strong>Attribute</strong> und <strong>Merkmale</strong> dargestellt werden. In diesem Best Practice werden Filter am Beispiel von <strong>Attributen</strong> eingerichtet. Filter über <strong>Merkmale</strong> werden analog eingerichtet. Hierbei legst du eine <strong>Merkmalgruppe</strong> an, in der du deine Merkmale vom Typ <strong>Kein</strong> organisierst. Die Merkmale verknüpfst du mit Facetten-Werten.</p>
</li>
<li>
<p>Das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong> ist bei plentymarkets Zero-System nur im zentralen Login aktiviert.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_attribut_anlegen">2.1. Attribut anlegen</h3>
<div class="paragraph">
<p>Wir starten also mit einem Attribut.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Attribut</strong>.</p>
</li>
<li>
<p>Gib den internen Namen ein, z.B. <strong>Farbe</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Attribut wird angelegt und das Tab <strong>Einstellungen</strong> geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Name</strong>.</p>
</li>
<li>
<p>Gib die Übersetzungen für dein Attribut ein.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Wert</strong>.</p>
</li>
<li>
<p>Gib den internen Namen ein, z.B. <strong>Rot</strong>.</p>
</li>
<li>
<p>Wiederhole die Schritte 8 und 9 für den Wert <strong>Schwarz</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Das Attribut mit unseren beiden Werten <strong>Rot</strong> und <strong>Schwarz</strong> wird angelegt. Hier kannst du auch weitere Werte wie <strong>Fuchsrot</strong> oder <strong>Karminrot</strong> erstellen und in der gleichen Facette <strong>Rot</strong> verknüpfen.</p>
</div>
</div>
<div class="sect2">
<h3 id="_attribut_mit_artikel_verknüpfen">2.2. Attribut mit Artikel verknüpfen</h3>
<div class="paragraph">
<p>Attribute verknüpfst du beim Erstellen eines Artikels mit der Hauptvariante des Artikels. Wenn du weitere Varianten erstellst, verknüpfst du diese Varianten ebenfalls mit Attributwerten. Ich erstelle nun meine Varianten im Tab <strong>Varianten</strong> meines Artikels. Diese Varianten müssen im Webshop aktiv sein, damit später unser Filter eingeblendet wird.</p>
</div>
<div id="filter-varianten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/bp-ceres-filter-varianten.png" alt="bp ceres filter varianten">
</div>
<div class="title">Bild 1. Varianten mit passenden Attributwerten</div>
</div>
</div>
<div class="sect2">
<h3 id="_facette_einrichten">2.3. Facette einrichten</h3>
<div class="paragraph">
<p>Unsere Filter werden mittels Facetten im Webshop abgebildet. Wir müssen also noch eine neue Facette einrichten und anschließend unsere Attributwerte und den gewünschten Mandanten mit dieser verknüpfen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>, um eine neue Facette hinzuzufügen.</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> für die Facette in der Systemsprache ein, z.B. <strong>Farbe</strong>.</p>
</li>
<li>
<p>Wähle den Typ <strong>Attribut/Merkmal</strong>.</p>
</li>
<li>
<p>Gib die Position ein, an der die Facette im Webshop erscheinen soll.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_attributwerte_mit_facette_verknüpfen">2.4. Attributwerte mit Facette verknüpfen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Name</strong>.</p>
</li>
<li>
<p>Gib die Übersetzungen für deine Facette ein.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Wert hinzufügen</strong>.</p>
</li>
<li>
<p>Gib den Namen ein, z.B. <strong>Rot</strong>.</p>
</li>
<li>
<p>Gib die Position ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Facetten-Wert wird hinzugefügt.</p>
</li>
<li>
<p>Gib im Tab <strong>Name</strong> die Übersetzungen für deinen Facetten-Wert ein.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Verknüpfung</strong>.</p>
</li>
<li>
<p>Öffne das Attribut <strong>Attribute » Farbe » Rot</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Verknüpfen</strong>.</p>
</li>
<li>
<p>Wiederhole die Schritte 6 bis 13 für den Wert <strong>Schwarz</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div id="filter-facetten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/bp-ceres-filter-facetten.png" alt="bp ceres filter facetten">
</div>
<div class="title">Bild 2. Verknüpfte Facetten-Werte</div>
</div>
</div>
<div class="sect2">
<h3 id="_mandanten_mit_facette_verknüpfen">2.5. Mandanten mit Facette verknüpfen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Facettenverknüpfung</strong>.</p>
</li>
<li>
<p>Wähle die Facette aus.</p>
</li>
<li>
<p>Klicke auf <strong>Facette verknüpfen</strong>.<br>
→ Die Facette wird mit dem ausgewählten Mandanten verknüpft.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_plugin_bereitstellen">2.6. Plugin bereitstellen</h3>
<div class="paragraph">
<p>Nun stellen wir unser Plugin-Set noch einmal im Menü <strong>Plugins » Plugin Übersicht</strong> durch Klick auf <strong>Speichern &amp; Plugins bereitstellen</strong> bereit, um die Änderungen zu übernehmen und erhalten die Filter in der <strong>Suche</strong> und in der <strong>Kategorie-Ansicht</strong>.</p>
</div>
<div id="filter-frontend" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/bp-ceres-filter-frontend.png" alt="bp ceres filter frontend">
</div>
<div class="title">Bild 3. Gewählter Filter in Kategorie-Ansicht</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="bestellmerkmale">3. Bestellmerkmale einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Best Practice richten wir ein Merkmal ein, mit dem man einen <strong>Text</strong> eingeben kann, der auf ein T-Shirt gedruckt werden soll. Bei einer Eingabe wird ein Aufpreis auf das Produkt berechnet.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Das Wichtigste vorab …</div>
<div class="ulist">
<ul>
<li>
<p>Hierbei handelt es sich um ein Best Practice für das Webshop-Plugin <strong>plentyShop LTS</strong>. <strong>plentyShop LTS</strong> ist im <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> verfügbar und läuft auf plentymarkets Systemen.</p>
</li>
<li>
<p>Eine Integration in individuelle oder veränderte Template-Plugins ist möglich, bedarf aber individueller Anpassungen, die an dieser Stelle nicht berücksichtigt werden können.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_bestellmerkmal_anlegen">3.1. Bestellmerkmal anlegen</h3>
<div class="paragraph">
<p>Wir beginnen mit dem Merkmal.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Gib bei <strong>Name (intern)</strong> die Bezeichnung ein, die das Merkmal in deinem Backend haben soll.</p>
</li>
<li>
<p>Unter <strong>Webshop</strong> gibst du bei <strong>Name</strong> die Bezeichnung ein, die deinem Kunden in der Artikelansicht angezeigt werden soll, in unserem Beispiel "T-Shirt-Druck".</p>
</li>
<li>
<p>Unter <strong>Merkmaltyp</strong> wählst du <strong>Text</strong> aus.</p>
</li>
<li>
<p>Unter <strong>Aufpreis</strong> gibst du die Kosten ein, die bei der Nutzung des Merkmals entstehen, z.B. 12,00 Euro für einen T-Shirt-Druck.<br>
→ Setze einen Haken bei <strong>Als Zusatzkosten darstellen</strong>, damit der Kunde in der Artikelansicht sieht, welchen Aufpreis er für das Merkmal zahlt.</p>
</li>
<li>
<p>Unter <strong>Anzeige</strong> setzt du einen Haken bei jeder Checkbox, um die Zusatzkosten im gesamten Bestellvorgang transparent zu halten.</p>
</li>
<li>
<p>Setze einen Haken bei <strong>Bestellmerkmal</strong>, um das Merkmal als solches festzulegen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Merkmal ist angelegt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Deine Maske sollte nun aussehen wie hier:</p>
</div>
<div id="bestellmerkmale-einstellungen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/bp-ceres-bestellmerkmale-einstellungen.png" alt="bp ceres bestellmerkmale einstellungen">
</div>
<div class="title">Bild 4. Einstellungen des Bestellmerkmals</div>
</div>
</div>
<div class="sect2">
<h3 id="_bestellmerkmal_mit_artikel_verknüpfen">3.2. Bestellmerkmal mit Artikel verknüpfen</h3>
<div class="paragraph">
<p>Merkmale werden mit dem Artikel selbst verknüpft. Dazu gehst du wie folgt vor:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle einen Artikel, mit dem das Merkmal verknüpft werden soll.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Merkmale</strong>.</p>
</li>
<li>
<p>Setze unter <strong>Weitere Merkmale aktivieren » Merkmale ohne Gruppe</strong> einen Haken bei dem erstellten Merkmal.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Merkmal ist mit dem Artikel verknüpft und wird unter <strong>Merkmale</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Aufpreise</div>
<div class="paragraph">
<p>Unter <strong>Merkmale</strong> kann abermals ein Aufpreis angegeben werden. Gibst du hier einen Wert ein, überschreibt dieser den im Merkmal hinterlegten Aufpreis.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="bestellmerkmale-artikel" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/bp-ceres-bestellmerkmale-artikel.png" alt="bp ceres bestellmerkmale artikel">
</div>
<div class="title">Bild 5. Einstellungen am Artikel</div>
</div>
</div>
<div class="sect2">
<h3 id="_plugin_bereitstellen_2">3.3. Plugin bereitstellen</h3>
<div class="paragraph">
<p>Nun stellen wir unser Plugin-Set noch einmal durch Klcik auf <strong>Speichern &amp; Plugins bereitstellen</strong> bereit, um die Änderungen zu übernehmen, und erhalten das Bestellmerkmal in <strong>Artikelansicht</strong> und im <strong>Warenkorb</strong>.</p>
</div>
<div id="bestellmerkmale-artikelansicht" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/bp-ceres-bestellmerkmale-artikelansicht.png" alt="bp ceres bestellmerkmale artikelansicht">
</div>
<div class="title">Bild 6. Artikelansicht im Webshop</div>
</div>
<div class="paragraph">
<p>Gibt der Kunde etwas in das Textfeld ein, wird der Text hinterlegt und der Aufpreis zum Artikelpreis addiert.</p>
</div>
<div id="bestellmerkmale-warenkorb" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/bp-ceres-bestellmerkmale-warenkorb.png" alt="bp ceres bestellmerkmale warenkorb">
</div>
<div class="title">Bild 7. Artikelansicht im Warenkorb</div>
</div>
</div>
<div class="sect2">
<h3 id="_bestellmerkmal_als_checkbox_einrichten">3.4. Bestellmerkmal als Checkbox einrichten</h3>
<div class="paragraph">
<p>In diesem Best Practice richten wir ein Bestellmerkmal ein, welches als Checkbox in der Artikeleinzelansicht angezeigt wird. Beim Aktivieren der Checkbox wird ein Aufpreis auf das Produkt berechnet.</p>
</div>
<div class="sect3">
<h4 id="_merkmalgruppe_erstellen">3.4.1. Merkmalgruppe erstellen</h4>
<div class="paragraph">
<p>Zunächst legen wir eine neue Merkmalgruppe an. In unserem Beispiel möchten wir, dass Sofa-Zubehör über eine Checkbox zum Produkt dazu gebucht werden kann.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Neue Merkmalgruppe</strong>.</p>
</li>
<li>
<p>Gib bei <strong>Name (intern)</strong> einen Namen für die Merkmalgruppe im Backend ein.</p>
</li>
<li>
<p>Im Bereich <strong>Sprache</strong> kannst du für jede Sprache einen eigenen Namen und eine Beschreibung eingeben, die im Webshop angezeigt werden.</p>
</li>
<li>
<p>Wähle die Option <strong>Keine</strong> aus der Dropdown-Liste für <strong>Gruppierung von Bestellmerkmalen (Typ: "Kein")</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div id="bestellmerkmale-merkmalgruppe" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/bp-ceres-bestellmerkmale-merkmalgruppe.png" alt="bp ceres bestellmerkmale merkmalgruppe">
</div>
<div class="title">Bild 8. Merkmalgruppe erstellen</div>
</div>
<div class="openblock collapseBox">
<div class="title">Merkmalgruppe erstellen</div>
<div class="content">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/BP-Ceres-Order-Property-Checkbox-1.gif" alt="BP Ceres Order Property Checkbox 1">
</div>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_bestellmerkmal_anlegen_2">3.4.2. Bestellmerkmal anlegen</h4>
<div class="paragraph">
<p>Nachdem wir eine Merkmalgruppe für Sofa-Zubehör angelegt haben, möchten wir nun ein neues Merkmal, z.B. ein Sofakissen, anlegen und dieses mit der Merkmalgruppe verknüpfen.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Gib bei <strong>Name (intern)</strong> einen Namen für das Merkmal im Backend ein.</p>
</li>
<li>
<p>Im Bereich <strong>Webshop</strong> kannst du für jede Sprache einen eigenen Namen und eine Beschreibung eingeben, die im Webshop angezeigt werden.</p>
</li>
<li>
<p>Wähle bei <strong>Merkmalgruppe</strong> die eben erstellte Merkmalgruppe aus der Dropdown-Liste aus.</p>
</li>
<li>
<p>Wähle die Option <strong>Kein</strong> aus der Dropdown-Liste <strong>Merkmaltyp</strong> aus.</p>
</li>
<li>
<p>Unter <strong>Aufpreis</strong> gibst du die Kosten an, die bei der Nutzung des Merkmals entstehen, z.B. 15,00 Euro für ein Sofakissen.<br>
→ Setze einen Haken bei <strong>Als Zusatzkosten darstellen</strong>, damit der Kunde in der Artikelansicht sieht, welchen Aufpreis er für das Merkmal zahlt.</p>
</li>
<li>
<p>Setze im Bereich <strong>Anzeige</strong> die Haken an den Stellen, an denen das Merkmal angezeigt werden soll.</p>
</li>
<li>
<p>Aktiviere die Checkbox bei <strong>Bestellmerkmal</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Das Bestellmerkmal <strong>Sofakissen</strong> wurde nun erfolgreich angelegt.</p>
</div>
<div id="bestellmerkmale-neues-merkmal" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/bp-ceres-bestellmerkmale-neues-merkmal.png" alt="bp ceres bestellmerkmale neues merkmal">
</div>
<div class="title">Bild 9. Neues Bestellmerkmal anlegen</div>
</div>
</div>
<div class="sect3">
<h4 id="_bestellmerkmal_mit_artikel_verknüpfen_2">3.4.3. Bestellmerkmal mit Artikel verknüpfen</h4>
<div class="paragraph">
<p>Zu guter Letzt müssen wir die gewünschten Artikel mit dem gerade erstellten Bestellmerkmal verknüpfen.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle einen Artikel, der mit dem erstellten Merkmal verknüpft werden soll.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Merkmale</strong>.</p>
</li>
<li>
<p>Setze unter <strong>Weitere Merkmale aktivieren</strong> einen Haken bei dem Merkmal in der erstellten Merkmalgruppe .</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Merkmal wird mit dem Artikel verknüpft.</p>
</li>
</ol>
</div>
<div id="bestellmerkmal-verknuepfung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/bp-ceres-bestellmerkmale-verknuepfung.png" alt="bp ceres bestellmerkmale verknuepfung">
</div>
<div class="title">Bild 10. Bestellmerkmal mit Artikel verknüpfen</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Änderungen anzeigen</div>
<div class="paragraph">
<p>Bitte beachten Sie, dass es etwa 15 Minuten dauern kann, bis die Änderungen im Webshop abgezeigt werden, da dies das Intervall ist, in dem der ElasticSearch Index erneuert wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="cross-selling">4. Cross-Selling einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Best Practice Anleitung unterstützt Sie beim Einrichten von Cross-Selling-Artikellisten in plentyShop LTS.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Das Wichtigste vorab …​</div>
<div class="ulist">
<ul>
<li>
<p>Hierbei handelt es sich um ein Best Practice für das Webshop-Plugin <strong>plentyShop LTS</strong>. <strong>plentyShop LTS</strong> ist im <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> verfügbar und läuft auf plentymarkets Systemen.</p>
</li>
<li>
<p>Dieses Best Practice setzt voraus, dass bereits Cross-Selling-Beziehungen am Artikel hinterlegt sind. Wie Sie Cross-Selling-Einstellungen für Ihre Artikel vornehmen, erfahren Sie <a href="#artikel/webshop/cross-selling">hier</a>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_cross_selling_artikellisten_konfigurieren">4.1. Cross-Selling-Artikellisten konfigurieren</h3>
<div class="paragraph">
<p>Öffnen Sie das Menü  <strong>Plugins » Plugin-Übersicht » plentyShop LTS » Konfiguration » Item lists</strong>. Hier stellen Sie ein, welche Art von Artikellisten Sie in Ihrem Webshop verwenden wollen.
Im Feld <strong>Cross-selling: Cross-selling relation</strong> (Punkt 1 im Bild) wählen Sie den Typ der Cross-Selling Beziehung aus, den Ihre Artikelliste abbilden soll.
Ihnen stehen dabei die Optionen <strong>Similiar</strong> (für ähnliche Artikel), <strong>Accessory</strong> (für Zubehör), <strong>Replacement part</strong> (für Ersatzteile) oder <strong>Collection</strong> (für Artikelpakete) zur Verfügung.
Diese Auswahl bezieht sich auf alle Cross-Selling-Artikellisten, die Sie in Ihrem Webshop einrichten möchten.</p>
</div>
<div class="paragraph">
<p>Im nächsten Schritt legen Sie fest, welche Artikeliste genutzt werden soll.
Hierfür bearbeiten Sie das Feld <strong>First item list</strong>, <strong>Second item list</strong> oder <strong>Third item list</strong> und wählen <strong>Cross-selling</strong> aus der Dropdown-Liste. Im unteren Beispiel wurde die <strong>Second item list</strong> bearbeitet (Punkt 2 im Bild).
In den Eingabefeldern <strong>Name of the second item list (DE)</strong> und <strong>Name of the second item list (EN)</strong> kann nun noch ein Name für die Artikelliste definiert werden, jeweils für die deutschsprachige und die englischsprachige Ansicht.</p>
</div>
<div class="paragraph">
<p>Wenn Sie alle Einstellungen getroffen haben, klicken Sie auf <strong>Speichern</strong>.</p>
</div>
<div id="cross-selling-einstellungen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/bp-ceres-cross-selling-konfig.png" alt="bp ceres cross selling konfig">
</div>
<div class="title">Bild 11. Cross-Selling einrichten</div>
</div>
</div>
<div class="sect2">
<h3 id="_cross_selling_artikellisten_im_webshop_anzeigen">4.2. Cross-Selling-Artikellisten im Webshop anzeigen</h3>
<div class="paragraph">
<p>Nachdem Sie festgelegt haben, welche Artikelliste für Cross-Selling verwendet werden soll, legen Sie nun fest, an welcher Stelle im Webshop die Artikelliste angezeigt werden soll.</p>
</div>
<div class="paragraph">
<p>Öffnen Sie das Menü <strong>CMS » Container-Verknüpfungen</strong>.
Hier scrollen Sie zu der Artikelliste, die Sie als Cross-Selling-Artikelliste konfigueriert haben, also <strong>First item list</strong>, <strong>Second item list</strong> oder <strong>Third item list</strong>.
Nun wählen Sie den Layout-Container, in dem Sie die Artikelliste anzeigen lassen möchten. Im unteren Beispiel lassen wir die zweite Artikelliste im Container der Artikeleinzelansicht anzeigen.</p>
</div>
<div id="artikelliste-container" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/bp-ceres-cross-selling-container.png" alt="bp ceres cross selling container">
</div>
<div class="title">Bild 12. Container für Artikelliste wählen</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Änderungen anzeigen</div>
<div class="paragraph">
<p>Bitte beachten Sie, dass es etwa 15 Minuten dauern kann, bis die Änderungen im Webshop abgezeigt werden, da dies das Intervall ist, in dem der ElasticSearch Index erneuert wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="eigenschaften-basket">5. Eigenschaften im Warenkorb und im Checkout ausgeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Da plentyShop LTS zum gegenwärtigen Zeitpunkt die Ausgabe von <strong>Eigenschaften</strong> im Warenkorb und im Checkout noch nicht unterstützt, hilft dir dieses Best Practice dabei, den Code in deinem Theme so anzupassen, dass du die Eigenschaften, die du ausgeben möchtest, im Warenkorb anzeigen lassen kannst. Da der Checkout dafür die gleiche Komponente verwendet wie der Warenkorb, reicht es aus, die eine beschriebene Komponente anzupassen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Du solltest die beschriebenen Anpassungen in einem eigenen Theme-Plugin verbauen, damit die Änderungen nicht bei einem plentyShop LTS-Update überschrieben werden. Du kannst die Anpassungen auch im plentyShop LTS-Plugin selbst durchführen, allerdings wirst du die betreffende Stelle dadurch nach jedem plentyShop LTS-Update erneut anpassen müssen, da dein plentyShop LTS durch das Update überschrieben wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_basketlistitem_twig_anpassen">5.1. BasketListItem.twig anpassen</h3>
<div class="paragraph">
<p>Im ersten Schritt suchst du in der Dateistruktur des plentyShop LTS-Plugins die Komponente BasketListItem.twig unter <strong>/resources/views/Basket/Components/BasketListItem.twig</strong>. Dies ist die Komponente für Warenkorbartikel und muss angepasst werden, um Eigenschaften im Warenkorb darzustellen. In Zeile 101 der Komponente findest du die folgende Zeile:<br>
<code>&lt;div class="item-properties" v-if="basketItem.basketItemOrderParams.length"&gt;</code><br>
Binde nun darüber den folgenden Code ein:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in _textblocks/bp-ceres-eigenschaften-basket.adoc - include::assets/bp-ceres-eigenschaften-characteristics.txt[]</code></pre>
</div>
</div>
<div class="paragraph">
<p>Die CSS-Klasse "item-properties" wurde hier nur zu Illustrationszwecken aufgeführt und steht stellvertretend für die Möglichkeit, eine CSS-Klasse hier angeben zu können.<br></p>
</div>
<div class="paragraph">
<p>Das Array in Zeile 2 des Code-Snippets (<code>&lt;template v-for="i in [5, 6, 2, 3]"&gt;</code>) enthält die IDs der Eigenschaften, die du im Warenkorb ausgeben möchtest, in diesem Beispiel also die Eigenschaften mit den IDs 5, 6, 2 und 3. Die IDs der Eigenschaften müssen <strong>kommasepariert</strong> eingegeben werden. Sie werden in der Reihenfolge im Warenkorb angezeigt, in der sie im Array angegeben sind. Die IDs deiner Eigenschaften findest du im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.<br></p>
</div>
<div class="paragraph">
<p>Die 3 <code>&lt;template&gt;</code>-Tags im Code-Snippet werden nicht im Frontend ausgegeben, sondern dienen hier als Schleifenelement, um über die einzelnen Eigenschaften zu iterieren. Diese solltest du nicht anpassen.+</p>
</div>
<div class="paragraph">
<p>Das <code>&lt;span&gt;</code>-Element gibt den Namen der Eigenschaft aus. Dieses Element kann durch andere Elemente, wie etwa ein <code>&lt;p&gt;</code>-Tag oder ein <code>&lt;strong&gt;</code>-Tag ersetzt werden. Die v-text Direktive darf allerdings nicht entfernt werden.<br></p>
</div>
<div class="paragraph">
<p>Im <code>&lt;strong&gt;</code>-Element wird, falls vorhanden, der Wert der jeweiligen Eigenschaft ausgegeben. Die hier verwendete Direktive ist <strong>v-html</strong> und nicht <strong>v-text</strong>, damit gegebenenfalls HTML-Formatierungen von Texteigenschaften berücksichtigt werden.<br></p>
</div>
<div class="paragraph">
<p>Im zweiten Schritt müssen nun 2 Ergebnisfelder ergänzt werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="_basketitem_fields_json_anpassen">5.2. BasketItem.fields.json anpassen</h3>
<div class="paragraph">
<p>Suche nun die Datei BasketItem.fields.json unter /resources/views/ResultFields/BasketItem.fields.json. In dieser Datei musst du die beiden Ergebnisfelder "variationProperties.values" und "variationProperties.property.id" hinzufügen. Bitte achte darauf, dass du nach jedem Ergebnisfeld außer dem letzten Feld in der JSON-Datei ein Komma setzt, sodass die Datei weiterhin valides JSON enthält.<br></p>
</div>
<div class="paragraph">
<p>Speichere deine Änderungen und stelle das Plugin-Set neu bereit. Deine Eigenschaften sollten nun im Warenkorb sowie in der Warenkorbübersicht im Checkout angezeigt werden.</p>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="vat">6. Hinweise zur Senkung der Mehrwertsteuer (01.07.2020)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zum 01.07.2020 wird der gesetzliche Mehrwertsteuersatz gesenkt. Hierbei kann es zu Problemfällen kommen, wenn Bestellungen vor dem 01.07. getätigt werden (bei denen also der vorherige Satz greift und im Webshop angezeigt wurde), aber erst nach dem 01.07. versendet werden (und demnach unter den gesenkten Satz fallen müssten). Um diesen Problemfällen entgegenzuwirken, empfehlen wir, einerseits sämtliche explizite Verweise auf den anzuwendenden Mehrwertsteuersatz aus dem Webshop zu entfernen und andererseits auch alle Auflistungen von Nettopreisen (für B2C-Verkäufe), bzw. Bruttopreisen (für B2B-Verkäufe) zu entfernen, da diese als Berechnungsgrundlage für die zugrundeliegenden Steuersätze genutzt werden können.<br></p>
</div>
<div class="paragraph">
<p>Weitere Informationen zur Rechtsgrundlage findet ihr <a href="https://legal.trustedshops.com/blog/2020/06/12/mehrwertsteuersenkung-ab-1.-juli-darauf-muessen-sie-unbedingt-achten?uuid=311ded301b1da873edd8ab27a986bdb5&amp;utm_source=email&amp;utm_medium=newsletter&amp;utm_campaign=country_de&amp;utm_content=26-2020" target="_blank" rel="noopener">im Blog von Trusted Shops</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.<br></p>
</div>
<div class="paragraph">
<p>Wenn du ein eigenes Theme im Einsatz hast, ist es möglich, dass du weitere Stellen im Webshop anpassen musst, an denen Preise oder Mehrwertsteuersätze ausgegeben werden. Diese individuellen Fälle können wir in diesem Best Practice nicht abbilden.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Du solltest die folgenden Anpassungen in einer Kopie deines aktiven Plugin-Sets durchführen. Du kannst die angepasste Plugin-Set-Kopie dann vor dem Stichtag aktivieren und später, nachdem alle Bestellungen bearbeitet wurden, die vor dem Stichtag getätigt, aber erst nach dem Stichtag versendet wurden, auf dein altes Plugin-Set wechseln, damit Preise und explizite Mehrwertsteuersätze wieder wie vorher im Webshop angezeigt werden. Weitere Informationen zur Arbeit mit Plugin-Sets <a href="/plugins/hinzugefuegte-plugins-installieren">findest du hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_css_anpassungen">6.1. CSS-Anpassungen</h3>
<div class="paragraph">
<p>Um sämtliche Verweise auf Nettopreise in deinem Webshop auszublenden, muss das CSS angepasst werden. Am einfachsten ist es, dafür <a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/cfourcustomcssjs_5143">das Plugin Custom CSS/JS im Frontend</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> zu verwenden.</p>
</div>
<div class="paragraph">
<p>Füge das Plugin deinem plentymarkets System hinzu <a href="/plugins/plugins-system-hinzufuegen">wie hier beschrieben</a>. Danach <a href="/plugins/hinzugefuegte-plugins-installieren">installierst du das Plugin</a>.</p>
</div>
<div class="paragraph">
<p>Nachdem das Plugin installiert wurde, öffnest du die Plugin-Einstellungen über die Aktion <strong>Einstellungen</strong>. Im Tab <strong>Stylesheets</strong> findest du ein Textfeld für <strong>CSS</strong>, in welches du den folgenden Code-Schnipsel einfügst:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in _textblocks/bp-ceres-vat.adoc - include::assets/vat-css-snippet.txt[]</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Speichere</strong> deine Änderungen. <strong>Aktiviere</strong> das Plugin in deinem Plugin-Set.
Nach dem erneuten Bereitstellen deines Plugin-Sets werden keine Nettopreise mehr in deinem Webshop angezeigt.</p>
</div>
</div>
<div class="sect2">
<h3 id="_anpassungen_im_shopbuilder">6.2. Anpassungen im ShopBuilder</h3>
<div class="paragraph">
<p>Im ShopBuilder musst du 2 Seiten anpassen: den Warenkorb und den Checkout. Auf diesen Seiten musst du jeweils ein Code-Widget einfügen.</p>
</div>
<div class="sect3">
<h4 id="_code_widgets_platzieren">6.2.1. Code-Widgets platzieren</h4>
<div class="paragraph">
<p>Um deinen Webshop auch in der Übergangszeit rechtssicher zu betreiben, musst du einen Hinweis ausgeben, dass sich die angezeigten Preise inklusive Mehrwertsteuer (für B2C-Verkäufe), bzw. zuzüglich Mehrwertsteuer (für B2B-Verkäufe) verstehen. Damit dieser Hinweis auch automatisch in anderen Sprachen, die du pflegst, ausgegeben wird, verwenden wir dafür den Mehrsprachigkeits-Eintrag <strong>Ceres::Template.itemInclVAT</strong> für B2C- und <strong>Ceres::Template.itemExclVAT</strong> für B2B-Kund:innen. Dadurch wird B2C-Kund:innen der Preis als Bruttopreis inklusive Mehrwertsteuer, und B2B-Kund:innen der Nettopreis exklusive Mehrwertsteuer angezeigt.</p>
</div>
<div class="olist instruction">
<ol class="instruction">
<li>
<p>Öffne das Menü <strong>CMS » Mehrsprachigkeit</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Artikel</strong> aus.</p>
</li>
<li>
<p>Überprüfe den Text in den Einträgen <strong>itemInclVAT</strong> und <strong>itemExclVAT</strong> und passe diese ggf. in deinen Webshop-Sprachen an.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set im Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Öffne nun den ShopBuilder unter <strong>CMS » ShopBuilder</strong>. Auf deinen Inhalten für den Warenkorb und den Checkout musst du nun ein Code-Widget unterhalb der Summen-Widgets platzieren. In jedes dieser Code-Widgets fügst du den folgenden Code ein:<br></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in _textblocks/bp-ceres-vat.adoc - include::assets/vat-code-widget-2.txt[]</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Änderungen an deinem ShopBuilder-Inhalt.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_anpassungen_an_plentyshop_lts_templates">6.3. Anpassungen an plentyShop LTS-Templates</h3>
<div class="paragraph">
<p>Es gibt 2 Stellen im Webshop, auf denen der Mehrwertsteuer-Hinweis nicht über den ShopBuilder eingefügt werden kann: die Auftragshistorie und die Warenkorbvorschau. Um trotzdem rechtssicher verkaufen zu können, kannst du 3 kleine Code-Stellen im plentyShop LTS-Plugin anpassen, um den Hinweis auch an diesen Stellen ausgeben zu lassen. Die Anpassungen am Code, sorgen dafür, dass der gleiche Text aus der Mehrsprachigkeit genommen wird, der auch in den Code-Widgets angezeigt wird, die du vorher im ShopBuilder hinzugefügt hast.<br></p>
</div>
<div class="paragraph">
<p>Die 3 Anpassungen sind im Folgenden detailliert aufgeführt. Wir haben zusätzlichen einen Pull Request offen, in dem du die Code-Änderungen direkt nachverfolgen kannst. Diesen Pull Request findest du <a href="https://github.com/plentymarkets/plugin-ceres/compare/fix%2Fvat_changes?diff=unified&amp;expand=1">auf GitHub</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Scrolle auf der Seite weiter nach unten, um die Datei-Änderungen einzusehen.</p>
</div>
<div class="sect3">
<h4 id="_auftragshistorie_anpassen">6.3.1. Auftragshistorie anpassen</h4>
<div class="paragraph">
<p>Um den Hinweis zur Mehrwersteuer auch in der Auftragshistorie im Mein Konto-Bereich anzuzeigen, musst du ein Code-Schnipsel in einer Template-Datei einfügen. Gehe dafür wie im Folgenden beschrieben vor:</p>
</div>
<div class="olist instruction">
<ol class="instruction">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile deiner Plugin-Set-Kopie auf die Aktion <strong>Plugin-Set bearbeiten</strong>.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Zeile des Plugins <strong>plentyShop LTS</strong> auf die Aktion <strong>Einstellungen</strong>.<br>
→ Die plentyShop LTS-Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Klicke links im Navigationsbaum auf den Tab <strong>Dateien</strong>.<br>
→ Die Dateistruktur des Plugins wird geöffnet.</p>
</li>
<li>
<p>Klicke auf den Ordner <strong>resources</strong>.</p>
</li>
<li>
<p>Klicke darin auf den Ordner <strong>views</strong>.</p>
</li>
<li>
<p>Klicke darin auf den Ordner <strong>Checkout</strong>.</p>
</li>
<li>
<p>Klicke darin auf den Ordner <strong>Macros</strong>.</p>
</li>
<li>
<p>Klicke auf die Datei <strong>OrderTotals.twig</strong>.<br>
→ Die Datei wird im Editor geöffnet.</p>
</li>
<li>
<p>Füge den unten aufgeführten Code nach dem <code>&#123;&#37; endif &#37;&#125;</code>-Element in Zeile 186 in einer neuen Zeile ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) deine Änderungen.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in _textblocks/bp-ceres-vat.adoc - include::assets/vat-template-order-history.txt[]</code></pre>
</div>
</div>
<div class="paragraph">
<p>Durch diese Anpassung wird der Text, der in der Mehrsprachigkeit in den Einträgen <strong>itemInclVAT</strong> und <strong>itemExclVAT</strong> hinterlegt sind, auch in der Auftragshistorie angezeigt.</p>
</div>
</div>
<div class="sect3">
<h4 id="_standard_header_anpassen">6.3.2. Standard-Header anpassen</h4>
<div class="paragraph">
<p>Für ShopBuilder-Inhalte, bei denen du keinen eigenen Header verwendest, muss der Standard-Header angepasst werden, damit der Hinweis zur Mehrwertsteuer auch in der Warenkorbvorschau angezeigt wird. Gehe dafür wie im Folgenden beschrieben vor:</p>
</div>
<div class="olist instruction">
<ol class="instruction">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile deiner Plugin-Set-Kopie auf die Aktion <strong>Plugin-Set bearbeiten</strong>.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Zeile des Plugins <strong>plentyShop LTS</strong> auf die Aktion <strong>Einstellungen</strong>.<br>
→ Die plentyShop LTS-Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Klicke links im Navigationsbaum auf den Tab <strong>Dateien</strong>.<br>
→ Die Dateistruktur des Plugins wird geöffnet.</p>
</li>
<li>
<p>Klicke auf den Ordner <strong>resources</strong>.</p>
</li>
<li>
<p>Klicke darin auf den Ordner <strong>views</strong>.</p>
</li>
<li>
<p>Klicke darin auf den Ordner <strong>PageDesign</strong>.</p>
</li>
<li>
<p>Klicke darin auf den Ordner <strong>Partials</strong>.</p>
</li>
<li>
<p>Klicke darin auf den Ordner <strong>Header</strong>.</p>
</li>
<li>
<p>Klicke auf die Datei <strong>DefaultHeader.twig</strong>.<br>
→ Die Datei wird im Editor geöffnet.</p>
</li>
<li>
<p>Füge den unten aufgeführten Code nach Zeile 118 in einer neuen Zeile ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) deine Änderungen.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in _textblocks/bp-ceres-vat.adoc - include::assets/vat-template-default-header.txt[]</code></pre>
</div>
</div>
<div class="paragraph">
<p>Durch diese Anpassung wird der Text, der in der Mehrsprachigkeit in den Einträgen <strong>itemInclVAT</strong> und <strong>itemExclVAT</strong> hinterlegt sind, auch in der Warenkorbvorschau des Standard-Headers angezeigt.</p>
</div>
</div>
<div class="sect3">
<h4 id="_eigenen_shopbuilder_header_anpassen">6.3.3. Eigenen ShopBuilder-Header anpassen</h4>
<div class="paragraph">
<p>Für ShopBuilder-Inhalte, für die du einen eigenen Header angelegt hast, muss der Code des Top Bar-Widgets angepasst werden, damit der Hinweis zur Mehrwertsteuer auch in der Warenkorbvorschau angezeigt wird. Gehe dafür wie im Folgenden beschrieben vor:</p>
</div>
<div class="olist instruction">
<ol class="instruction">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile deiner Plugin-Set-Kopie auf die Aktion <strong>Plugin-Set bearbeiten</strong>.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Zeile des Plugins <strong>plentyShop LTS</strong> auf die Aktion <strong>Einstellungen</strong>.<br>
→ Die plentyShop LTS-Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Klicke links im Navigationsbaum auf den Tab <strong>Dateien</strong>.<br>
→ Die Dateistruktur des Plugins wird geöffnet.</p>
</li>
<li>
<p>Klicke auf den Ordner <strong>resources</strong>.</p>
</li>
<li>
<p>Klicke darin auf den Ordner <strong>views</strong>.</p>
</li>
<li>
<p>Klicke darin auf den Ordner <strong>Widgets</strong>.</p>
</li>
<li>
<p>Klicke darin auf den Ordner <strong>Header</strong>.</p>
</li>
<li>
<p>Klicke auf die Datei <strong>TopBarWidget.twig</strong>.<br>
→ Die Datei wird im Editor geöffnet.</p>
</li>
<li>
<p>Füge den unten aufgeführten Code nach Zeile 210 in einer neuen Zeile ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) deine Änderungen.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in _textblocks/bp-ceres-vat.adoc - include::assets/vat-template-custom-header.txt[]</code></pre>
</div>
</div>
<div class="paragraph">
<p>Durch diese Anpassung wird der Text, der in der Mehrsprachigkeit in den Einträgen <strong>itemInclVAT</strong> und <strong>itemExclVAT</strong> hinterlegt sind, auch in der Warenkorbvorschau von Headern angezeigt, die ihr selbst im ShopBuilder bearbeitet habt.<br></p>
</div>
<div class="paragraph">
<p>Alternativ hast du die Möglichkeit, die Warenkorbvorschau über die Einstellungen des Top Bar-Widgets komplett auszublenden. Dadurch würdest du dir diese eine Template-Anpassung sparen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Sowohl das <strong>Reparieren</strong> des plentyShop LTS-Plugins als auch ein Update des plentyShop LTS-Plugins machen diese Template-Anpassungen wieder rückgängig.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="psi">7. Bessere Werte bei Google Page Speed Insights erzielen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Best Practice lernst du, auf welche Dinge du achten musst, um deine Performance-Werte bei <a href="https://developers.google.com/speed/pagespeed/insights/?hl=de">Google Page Speed Insights</a> zu verbessern. Im ersten Schritt zeigen wir dir, wie du mit den Mitteln, die plentyShop LTS bereits mitbringt, höhere PSI-Werte erzielen kannst. Zu einem späteren Zeitpunkt wird diese Anleitung auch Anpassungen enthalten, die du mit einem eigenen Theme umsetzen kannst, um von Google PSI besser bewertet zu werden. Die hier aufgeführten Maßnahmen erfordern keinerlei Programmierungskenntnisse.</p>
</div>
<div class="paragraph">
<p>Im Folgenden sind einige Anpassungen aufgeführt, die du für deinen plentyShop durchführen kannst, um die von Google erfassten Werte zu verbessern:</p>
</div>
<div class="sect2">
<h3 id="_live_modus_im_plentyshop_lts_plugin_aktivieren">7.1. Live-Modus im plentyShop LTS-Plugin aktivieren</h3>
<div class="paragraph">
<p>Im Plugin plentyShop LTS hast du die Möglichkeit, zwischen dem <strong>Entwicklungsmodus</strong> und dem <strong>Live-Modus</strong> zu wählen. Im Entwicklungsmodus kannst du Debugging-Optionen nutzen und die Dateien des Plugins werden nicht minimiert und gebündelt, was sich negativ auf die Webshop-Performance auswirkt. Wir raten dir daher, den Live-Modus zu verwenden, um deinen Webshop performanter zu machen. Gehe wir im Folgenden beschrieben vor, um den Live-Modus zu aktivieren:</p>
</div>
<div class="paragraph instruction">
<p>Live-Modus aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Wähle das Plugin-Set aus deines Webshops aus.</p>
</li>
<li>
<p>Klicke auf <strong>Plugin-Set bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Plugins plentyShop LTS auf <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> <strong>Einstellungen</strong>.<br>
→ Die plentyShop LTS-Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Logging und Performance</strong>.</p>
</li>
<li>
<p>Wähle für die Einstellung <strong>Performance-Level</strong> die Option <strong>Live-Modus</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Dadurch, dass du diese Einstellung aktiviert hast, werden die plentyShop LTS-Dateien gebündelt und minimiert, was zu einer schnelleren Auslieferungszeit der Seiten im Webshop führt.</p>
</div>
</div>
<div class="sect2">
<h3 id="_vue_server_side_rendering_aktivieren">7.2. Vue Server-Side Rendering aktivieren</h3>
<div class="paragraph">
<p>Mit plentyShop LTS v5.0.29 führen wir Vue Server-Side Rendering (kurz: SSR) ein. Durch SSR werden viele Shop-Komponenten bereits auf dem Server verarbeitet, sodass bereits generierte Seiten direkt an den Browser ausgeliefert werden können. Der Browser muss den übermittelten Code nicht erneut ausführen. Dies hat insbesondere auf die Bewertung der mobilen Seiten positiven Einfluss.<br></p>
</div>
<div class="paragraph">
<p>Im plentyShop-Assistenten und in den plentyShop LTS-Einstellungen könnt ihr im Bereich <strong>Performance</strong> die Einstellung <strong>Vue Server-Side Rendering aktivieren</strong> vornehmen. Aktiviere diese Einstellung erst in einem separaten Plugin-Set und teste deinen Shop, bevor du SSR auch für dein Produktivsystem aktivierst.<br></p>
</div>
<div class="paragraph">
<p>Wenn du SSR verwenden möchtest, solltest du die Bilder-Widgets, die du auf deinen Seiten verwendest, anpassen. Für Bilder-Widgets stehen dir zwei hilfreiche Einstellungen zur Verfügung: Peloading und Lazyloading. Die folgenden Kapitel erklären dir, wie du deine Bilder am besten einstellst.</p>
</div>
</div>
<div class="sect2">
<h3 id="_bilder_widgets_optimal_einstellen">7.3. Bilder-Widgets optimal einstellen</h3>
<div class="paragraph">
<p>Bilddateien sind eine der größeren Problemquellen für einen performanten Webshop. Du solltest also darauf achten, dass du nur so viele Bilder-Widgets in deinen Seiten verbaust, wie für deine Zwecke nötig sind. Eine geringere Zahl von Bilder-Widgets wird sich positiv auf die Webshop-Geschwindigkeit auswirken.<br></p>
</div>
<div class="sect3">
<h4 id="_bilder_im_sichtbaren_bereich_vorladen_preloading">7.3.1. Bilder im sichtbaren Bereich vorladen (Preloading)</h4>
<div class="paragraph">
<p>Ab plentyShop LTS v5.0.29 haben die Widgets Bilderbox, Bilderkarussell, Hintergrundbild und Artikelbild die Einstellung <strong>Bild vorladen</strong>. Diese Einstellung kann nur mit dem oben beschriebenen Server-Side Rendering verwendet werden. Indem du Bilder, die sich beim Aufruf der Seite im sichtbaren Bereich befinden, vorlädst, kannst du den Largest Contentful Paint (LCP) deutlich reduzieren. Der LCP ist abhängig davon, wann das größte gerenderte Inhaltselement im sichtbaren Bereich erscheint. Meistens handelt es sich dabei um Bilder.<br>
Du solltest die Einstellung <strong>Bild vorladen</strong> für alle Bilder aktivieren, die sich in der initialen Ansicht der Seite befinden, also bevor die Benutzerin weiter nach unten gescrollt hat. Weiter unten erfährst du, wie du den Largest Contentful Paint auf deinen Seiten ausfindig machen kannst.</p>
</div>
</div>
<div class="sect3">
<h4 id="_bilder_im_nicht_sichtbaren_bereich_nachladen_lazy_loading">7.3.2. Bilder im nicht sichtbaren Bereich nachladen (Lazy Loading)</h4>
<div class="paragraph">
<p>Weiterhin emfehlen wir dir, für sämtliche Widgets, die Bilder beinhalten, die Option <strong>Nur sichtbare Inhalte laden</strong> in den Widget-Einstellungen zu aktivieren. Diese Option, das sogenannte "Lazy Loading", sorgt dafür, dass die Bilddateien, die sich beim ersten Aufruf der Seite nicht im aktuellen Sichtbereich befindet, zu einem späteren Zeitpunkt nachgeladen wird. Dies wirkt sich positiv auf die Performance des Webshops aus.<br>
Lazy Loading ist für Widgets in ShopBuilder-Vorlagen standardmäßig deaktiviert.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Wenn du Server-Side Rendering (SSR) verwendest, ist es wichtig, dass Lazy Loading nur für diejenigen Bilder-Widgets aktiviert wird, die sich beim Aufruf der jeweiligen Seite nicht im sichtbaren Bereich befinden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_moderne_bildformate_verwenden">7.3.3. Moderne Bildformate verwenden</h4>
<div class="paragraph">
<p>Darüber hinaus raten wir dir, die Bilder, die du im Webshop anzeigen willst, in möglichst modernen Bildformaten abzulegen. Wir empfehlen dir, in den Widgets <strong>Bilderbox</strong>, <strong>Bilderkarussell</strong> und <strong>Hintergrundbild</strong> das Feld <strong>Bildauswahl</strong> zu nutzen, um dort Bilder im <strong>WebP-Format</strong> zu hinterlegen. Wenn du eine WebP-Datei nutzt, wird dir zusätzlich die Option <strong>Bildauswahl für ältere Browser</strong> eingeblendet, um Bilder auch in Browsern anzuzeigen, die bisher keine WebP-Formate unterstützen. Dort solltest du nach Möglichkeit das Format JPEG verwenden.<br></p>
</div>
</div>
<div class="sect3">
<h4 id="_largest_contenful_paint_lcp_identifizieren">7.3.4. Largest Contenful Paint (LCP) identifizieren</h4>
<div class="paragraph">
<p>Um den LCP auf deinen Seiten zu identifizieren, kannst du <a href="https://developers.google.com/speed/pagespeed/insights/">PageSpeed Insights</a> nutzen.<br></p>
</div>
<div class="paragraph instruction">
<p>LCP identifizieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne <a href="https://developers.google.com/speed/pagespeed/insights/">PageSpeed Insights</a>.</p>
</li>
<li>
<p>Gib die URL der Seite, deren LCP du überprüfen willst ein.</p>
</li>
<li>
<p>Klicken auf <strong>Analysieren</strong>.
→ Die Analyse der Seite wird gestartet.</p>
</li>
<li>
<p>Scrolle nach abgeschlossener Analyse zum Bereich <strong>Diagnose</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Largest Contentful Paint-Element</strong>, um den Bereich auszuklappen.</p>
</li>
<li>
<p>Das angezeigte Inhaltselement ist der LCP dieser Seite.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nachdem du den LCP identifiziert hast, überprüfe nun, ob du für dieses Element:
. Preloading aktiviert hast
. das Bild im WebP-Format hinterlegt hast
. die Dateigröße reduzieren kannst</p>
</div>
<div class="paragraph">
<p>Diese drei Maßnahmen helfen dabei, den Largest Contentful Paint gering zu halten.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_anzahl_der_plugins_reduzieren">7.4. Anzahl der Plugins reduzieren</h3>
<div class="paragraph">
<p>Jedes zusätzliche Frontend-Plugin, das du in deinem plentyShop einbindest, kann deine Shop-Performance negativ beeinflussen. Dies gilt insbesondere für Plugins, die eine große Menge Javascript mit sich bringen. Du solltest also nur die Plugins in deinem aktiven Plugin-Set aktivieren, die du wirklich für den Produktivbetrieb deines plentyShops brauchst.<br>
Um zu überprüfen, welche Plugins sich besonders negativ auf deine Performance auswirken, kannst du eine Plugin-Set-Kopie deines jetzigen plentyShops anlegen und zunächst alle Plugins bis auf plentyShop LTS und IO deaktivieren. Nach einem PSI-Test schaltest du nun das nächste Plugin, von dem du denkst, dass es für deinen plentyShop notwendig ist, aktiv, machst den nächsten PSI-Test und wiederholst den Vorgang für alle weiteren Plugins deiner Plugin-Set-Kopie.<br>
Falls du SSR nutzt, ist es sinnvoll, Plugins einzubinden, die bereits ein SSR-fähiges Update erhalten haben. Wende dich im Zweifelsfall an die Entwickler:innen der betreffenden Plugins. In <a href="https://forum.plentymarkets.com/t/known-issues-plugins/643980">diesem Thema</a> sind Plugins aufgelistet, bei denen Inkompatibilitäten mit SSR bekannt sind.</p>
</div>
</div>
<div class="sect2">
<h3 id="_anzahl_der_widgets_reduzieren">7.5. Anzahl der Widgets reduzieren</h3>
<div class="paragraph">
<p>Die Zahl der Widgets, die du auf deinen Webshop-Seiten verbaust, können die Performance deines Webshops negativ beeinflussen: Je mehr Widgets du pro Seite nutzt, desto langsamer lädt diese Seite. Dies gilt insbesondere für Bilder-Widgets und für Widgets, die eine große Menge an Artikeldaten enthalten. Jedes zusätzliche Widget beinträchtigt die Zeit bis zur ersten vollständigen Interaktivität der Seite.<br>
Wir empfehlen dir daher, nur so viele Widgets pro Seite zu verwenden, wie für deine Zwecke nötig sind. Vor allem auf Kategorieseiten, auf denen große Datenmengen und komplexes Javascript geladen werden muss, solltest du, wenn möglich, die Anzahl der dargestellten Artikel reduzieren und dadurch die Ladezeit verbessern.</p>
</div>
</div>
<div class="sect2">
<h3 id="_shopbooster_aktivieren">7.6. ShopBooster aktivieren</h3>
<div class="paragraph">
<p>Die Time-to-first-Byte (TTFB) ist ebenfalls Bestandteil der PSI-Erfassung, auch wenn sie nur einen geringen Teil der Wertung darstellt. Um deine TTFB zu verbessern, kannst du für deinen plentyShop LTS das kostenpflichtige Zusatzmodul ShopBooster aktivieren. Dadurch werden Seiteninhalte von plentyShop LTS Webshops bei einem zweiten Aufruf in den Cache geschrieben, um dadurch deutlich bessere Ladezeiten für deine Nutzer:innen zu erzielen.<br></p>
</div>
<div class="paragraph">
<p>Insbesondere im Zusammenspiel mit Server-Side Rendering (SSR) ist es sinnvoll, ShopBooster zu aktivieren, da die Verwendung von SSR die TTFB leicht erhöhen kann.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Zusätzliche Kosten</div>
<div class="paragraph">
<p>Durch das Aktivieren des ShopBoosters fallen <strong>pro Mandant</strong> zusätzliche Kosten in Höhe von 0,004 € pro 100 Seitenaufrufe und -änderungen an. Ein Seitenaufruf ist der Vorgang, bei dem ein Shop-Besucher oder ein Webcrawler eine URL des Online-Shops aufruft; eine Seitenänderung wird durch folgende Vorgänge ausgelöst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Aktualisieren von Kategorien- und Artikeldaten</p>
</li>
<li>
<p>Aktualisieren von ShopBuilder-Seiten</p>
</li>
<li>
<p>Bereitstellen von Plugins</p>
</li>
<li>
<p>Speichern von Einstellungen in der plentyShop LTS-Konfiguration</p>
</li>
<li>
<p>Invalidieren des Caches bei Deaktivierung des ShopBoosters</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Zusatzkosten des ShopBoosters betragen monatlich <strong>maximal</strong> 100€ pro Mandant.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>ShopBooster aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » ShopBooster</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>ShopBooster aktivieren</strong>.<br>
→ Ein Fenster öffnet sich, welches dich auf entsprechende zusätzliche Kosten hinweist.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong> um den ShopBooster zu aktivieren.<br>
→ Die Meldung <strong>ShopBooster wurde aktiviert</strong> wird eingeblendet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Auf die gleiche Weise kannst du den ShopBooster wieder deaktivieren.</p>
</div>
<div class="paragraph instruction">
<p>ShopBooster deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » ShopBooster</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>ShopBooster deaktivieren</strong>.<br>
→ Ein Fenster öffnet sich, welches dich auf zusätzliche Kosten hinweist.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong> um den ShopBooster zu deaktivieren.<br>
→ Die Meldung <strong>ShopBooster wurde deaktiviert</strong> wird eingeblendet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_unsichtbaren_text_durch_eigene_schriftarten_vermeiden">7.7. Unsichtbaren Text durch eigene Schriftarten vermeiden</h3>
<div class="paragraph">
<p>Falls du eigene Schriftarten einbindest, ohne dabei auf die Design-Einstellungen des ShopBuilders zurückzugreifen, kann es dazu kommen, dass manche Browser versuchen, den Text darzustellen, bevor die betroffene Font-Datei geladen wurde. Dadurch kommt es zu einem sogenannten <strong>Flash of invisible text (FOIT)</strong>, also einer kurzen Zeit, in der der darzustellende Text vom Browser nicht angezeigt werden kann.<br>
Um dies zu vermeiden, kannst du über eine CSS-Anweisung vorübergehend eine Systemschriftart anzeigen lassen, bis die betroffene Schriftart geladen wurde. Dazu fügst du in deinem eigenen CSS (beispielsweise über das Plugin <a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/cfourcustomcssjs_5143">Custom CSS/JS im Frontend</a>) die Anweisung <strong>font-display: swap</strong> in deinen <strong>@font-face</strong> Styles ein. Dadurch vermeidest du unangenehme FOIT, was sich positiv auf den PSI-Wert deines Webshops auswirkt.</p>
</div>
</div>
<div class="sect2">
<h3 id="_javascript_in_code_widgets_vermeiden">7.8. Javascript in Code-Widgets vermeiden</h3>
<div class="paragraph">
<p>Im ShopBuilder steht dir ein Code-Widget zur Verfügung, über das du zusätzliche Anpassungen vornehmen kannst, die der ShopBuilder nicht von selbst bereitstellt. Wenn du eigenen Code einbinden möchtest, raten wir dir dazu, eigenes Javascript nicht über Code-Widgets zu realisieren, sondern beispielsweise über das Plugin <a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/cfourcustomcssjs_5143">Custom CSS/JS im Frontend</a> oder ein eigenes Theme. Zusätzliches Javascript in Code-Widgets zu verarbeiten, wirkt sich negativ auf die Ladezeit der Seite aus.<br>
Falls du eigenes Javascript über ein Plugin oder ein Theme einbindest, empfehlen wir dir, das Javascript ganz am Ende des HTML-Body zu verbauen.</p>
</div>
</div>
<div class="sect2">
<h3 id="_plugins_für_zahlungsarten_richtig_verknüpfen">7.9. Plugins für Zahlungsarten richtig verknüpfen</h3>
<div class="paragraph">
<p>Wenn du Plugin-Zahlungsarten für deinen plentyShop verwendest, die eine große Menge an eigenen Daten beinhalten, wie beispielsweise AmazonPay oder PayPal, ist es für die Performance deines Webshops unerlässlich, dass du diese Plugins mit den richtigen Layout-Containern verknüpfst. In plentyShop LTS 5.0 wurden neue Layout-Container hinzugefügt, um Javascript und CSS der Zahlungsplugins nur an den Stellen zu laden, an denen sie wirklich gebraucht werden.<br>
Die Plugin-Beschreibungen der jeweiligen Zahlungsarten, z.B. <a href="https://marketplace.plentymarkets.com/paypal_4690#80.">PayPal</a>, enthalten bereits detaillierte Anleitungen, wie du die Plugins mit den richtigen Containern verknüpfst. Generell gilt, dass du das Javascript der jeweiligen Zahlungsart mit dem Container <strong>Checkout.AfterScriptsLoaded</strong> und nicht mehr mit dem Container <strong>ScriptLoader.AfterScriptsLoaded</strong> verknüpfen solltest, um die Performance deines Webshops zu verbessern.</p>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="suche">8. Webshop-Suche einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Best Practice hilft dir dabei, die unterschiedlichen Sucheinstellungen, die dir für plentyShop zur Verfügung stehen, besser zu verstehen, sodass du die Webshop-Suche optimal für dich nutzen kannst.<br>
Die Sucheinstellungen für den Webshop nimmst du hauptsächlich im Schritt <strong>Suche</strong> des plentyShop LTS-Assistenten vor. Diesen findest du unter <strong>Einrichtung » Assistenten » Plugins » Plugin-Set wählen » plentyShop LTS</strong>.<br></p>
</div>
<div class="sect2">
<h3 id="_sortierung_der_suchergebnisse_nach_relevanz">8.1. Sortierung der Suchergebnisse nach Relevanz</h3>
<div class="paragraph">
<p>Der Sortierungswert <strong>Relevanz</strong> sortiert die Suchergebnisse entlang eines vom System berechneten Punktewerts. Je höher der errechnete Wert, desto höher wird der jeweilige Artikel in der Liste der Suchergebnisse angezeigt. Wie die Berechnung dieses Punktewerts gewichtet wird, kannst du an 2 Stellen im System bestimmen: Im Assistenten findest du im Schritt <strong>Suche</strong> unter <strong>Gewichtung der Suchwerte für den Wert "Relevanz"</strong> eine abgespeckte Version der Einstellung. Im Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sucheinstellungen</strong> findest du die vollständigen Einstellungen zur Gewichtung des Sortierungswerts <strong>Relevanz</strong>.<br></p>
</div>
<div class="paragraph">
<p>Hier aktivierst du die Artikeldatenfelder, die für eine Sortierung nach <strong>Relevanz</strong> berücksichtigt werden sollen. Aktivierst du beispielsweise die Felder <strong>Name 1</strong>, <strong>Beschreibung</strong> und <strong>Keywords</strong>, so wird ein Artikel, bei dem der eingegeben Suchbegriff in allen drei Datenfeldern enthalten ist, als <strong>relevanter</strong> erachtet, als ein Artikel, bei dem der Suchbegriff nur im Artikelnamen steht, und dadurch weiter oben in der Liste der Suchergebnisse angezeigt.<br></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Du solltest das Feld <strong>Name (deprectated)</strong> deaktivieren. Dieses Feld fasst die drei Datenfelder <strong>Name 1</strong>, <strong>Name 2</strong> und <strong>Name 3</strong> zusammen. Du kannst gezielter Einfluss auf die <strong>relevante</strong> Sortierung nehmen, wenn dieses Feld inaktiv ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Der <strong>Boost</strong> des jeweiligen Datenfelds dient dazu, eine Reihenfolge der Gewichtung festzulegen. Der genaue Wert, den du eingibst, spielt dabei keine Rolle, solange die jeweiligen Werte unterschiedlich hoch sind. Ist der Boost für das Feld <strong>Name 1</strong> höher als der Boost für <strong>Name 2</strong>, so wird ein Artikel, bei dem der eingegebene Suchbegriff im Feld <strong>Name 1</strong> steht, einen höheren Punktewert für die relevante Sortierung erhalten, als ein Artikel, der den Suchbegriff im Feld <strong>Name 2</strong> stehen hat, und wird somit weiter oben in der Liste der Suchergebnisse angezeigt.<br></p>
</div>
<div class="paragraph">
<p>Die Sortierung nach <strong>Relevanz</strong> wird in aller Regel zuerst die Suchergebnisse auflisten, die sämtliche eingegebenen Suchbegriffe enthalten, gefolgt von Ergebnissen, die nur einen Teil der Suchergebnisse enthalten.<br></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Beachte, dass Artikeldatenfelder, die du im Bereich <strong>In den Suchvorschlägen berücksichtigen</strong> aktivierst, automatisch auch im Bereich <strong>In den Suchergebnissen berücksichtigen</strong> aktiviert werden. Stelle den Boost ggf. auf den Wert 0, wenn du nicht möchtest, dass diese Felder Einfluss auf den Sortierungswert <strong>Relevanz</strong> haben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_sortierung_der_suchergebnisse_nach_empfohlen">8.2. Sortierung der Suchergebnisse nach Empfohlen</h3>
<div class="paragraph">
<p>Der Sortierungswert <strong>Empfohlen</strong> sortiert die Suchergebnisse nach drei Werten, die du selbst bestimmst und miteinander verkettest. Du nimmst diese Einstellung im Schritt <strong>Suche</strong> des Assistenten im Feld <strong>Empfohlene Sortierung der Suchergebnisse</strong> vor.<br></p>
</div>
<div class="paragraph">
<p>Die Verkettung der Sortierungswerte funktioniert so, dass deine Shop-Artikel im ersten Schritt auf den ersten Sortierungswert hin überprüft werden; liefert diese Prüfung 2 oder mehr Ergebnisse zurück, die nun in den Suchergebnissen gleich hoch priorisiert wären, so greift der zweite Sortierungswert, den du für die empfohlene Sortierung hinterlegt hast. Sollte es nach der Prüfung auf den zweiten Sortierungswert immer noch Artikel geben, die in den Suchergebnissen gleich hoch priorisiert wären, dann greift der dritte verkettete Wert und ordnet die Ergebnisse entsprechend an.<br></p>
</div>
<div class="paragraph">
<p><strong>Beispiel:</strong><br>
Du hast die empfohlene Sortierung in deinem Webshop so eingestellt, dass zuerst auf den Wert <strong>Relevanz</strong>, dann auf die <strong>Variantenposition</strong> und zuletzt auf <strong>Preis (aufsteigend)</strong> geprüft wird. Eine Kundin in deinem Webshop sucht den Begriff "Blaue Hose". Die Suche prüft nun deinen Artikelkatalog zuerst hinsichtlich der von dir eingestellten Gewichtung des Suchwerts <strong>Relevanz</strong>, wie oben beschrieben. Die Datenfelder deiner Artikel werden auf beide Suchbegriffe hin geprüft. Je nachdem, welche Artikeldatenfelder (Beschreibung, Variantenname, etc.) du aktiviert hast, können hier Artikel mit dem gleichen Relevanzwert gelistet werden. Im nächsten Schritt werden diese Ergebnisse daraufhin geprüft, ob du ihnen eine bestimmte <strong>Variantenposition</strong> zugewiesen hast. Dies kann auch über die Einstellung <strong>Variantenposition nach monatlichen Verkäufen berechnen</strong> erfolgt sein. Abschließend werden die Ergebnisse, die sowohl einen gleichen <strong>Relevanzwert</strong> und eine gleiche <strong>Variantenposition</strong> haben, aufsteigend nach Preis sortiert.</p>
</div>
</div>
<div class="sect2">
<h3 id="und-suche">8.3. UND-Suche</h3>
<div class="paragraph">
<p>Mit plentyShop LTS Version 5.0.18 wurde im plentyShop LTS-Assistenten die Möglichkeit geschaffen, eine "Und"-Suche für den Webshop zu aktivieren, die nur im ersten Schritt nur Suchergebnisse zurückliefert, die sämtliche in der Suchanfrage eingegebenen Suchbegriffe enthalten. Du hast nun die Möglichkeit, den Suchoperator für die Vorschläge in der Schnellsuche im Header und für die Suchergebnisseite separat einzustellen. Gehe wie im Folgenden beschrieben vor, um die "Und"-Suche zu aktivieren:</p>
</div>
<div class="paragraph instruction">
<p>"Und"-Suche aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den plentyShop LTS-Assistenten im Menü <strong>Einrichtung » Assistenten » Plugins »</strong> <em>Plugin-Set wählen</em> <strong>» plentyShop LTS</strong>.</p>
</li>
<li>
<p>Navigiere zum Schritt <strong>Suche</strong>.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Suchoperator für Suchergebnisse</strong> die Option <strong>Und-Operator</strong> für die Einstellungen <strong>Operator für die Suchergebnisseite</strong> und <strong>Operator für die Schnellsuche</strong>.</p>
</li>
<li>
<p>Schließe den Assistenten ab, damit deine Einstellungen gespeichert werden.
→ Die "Und"-Suche wurde für deinen Webshop aktiviert.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Wenn der Und-Operator für die Suchergebnisseite ausgewählt ist und es für eine Suchanfrage keine passenden Suchergebnisse gibt, wird eine zweite Suche mit dem Oder-Operator ausgeführt, um Kund:innen alternative Vorschläge zu unterbreiten. Über diesen Suchvorschlägen wird ein Hinweis eingeblendet, dass keine passenden Suchergebnisse existieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>