<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_setting_up_markets"><span>1.</span><span> Setting up markets</span></a></li>
<li><a href="#_using_price_search_engines"><span>2.</span><span> Using price search engines</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Markets and price search engines</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page you will find every sales channel that has an interface to plentymarkets. All of the settings that need to be carried out for the sales channel are described on one page. Select a sales channel and start setting up the interface.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Additional marketplaces available as plugins</div>
<div class="paragraph">
<p>Some marketplaces are available as plugins. The marketplace plugins can be found on the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/marketplaces" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.<br>
In addition, further plugins from third-party providers are available in the plentyMarketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_markets">1. Setting up markets</h2>
<div class="sectionbody">
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/markets/amazon/amazon-setup"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/amazon-logo.png" alt="amazon logo"></span></a></p>
</li>
<li>
<p><a href="/en/markets/ebay/ebay-setup"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1735-ebay-tm-rgb.png" alt="1735 ebay tm rgb"></span></a></p>
</li>
<li>
<p><a href="/en/markets/bol-com"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/4844.png" alt="4844"></span></a></p>
</li>
<li>
<p><a href="/en/markets/cdiscount"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/Logo-Cdiscount-web.png" alt="Logo Cdiscount web"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/markets/check24"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/4365.png" alt="4365"></span></a></p>
</li>
<li>
<p><a href="/en/markets/conrad"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/Conrad_Logo.png" alt="Conrad Logo"></span></a></p>
</li>
<li>
<p><a href="/en/markets/etsy"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/etsy.png" alt="etsy"></span></a></p>
</li>
<li>
<p><a href="/en/markets/flubit"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3690.png" alt="3690"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/markets/fruugo"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3216-fruugo-logo-transparent.png" alt="3216 fruugo logo transparent"></span></a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/integration/galaxus_4788"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/galaxus.png" alt="galaxus"></span></a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/markets/hood"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2387.png" alt="2387"></span></a></p>
</li>
<li>
<p><a href="/en/markets/idealo-checkout/idealo-setup"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/idealo_direktkauf_logo.png" alt="idealo direktkauf logo"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/markets/kaufland-de/kaufland-setup"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/kaufland_logo_en.png" alt="kaufland logo en"></span></a></p>
</li>
<li>
<p><a href="/en/markets/kauflux"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1747-kauflux-online-marktplatz.png" alt="1747 kauflux online marktplatz"></span></a></p>
</li>
<li>
<p><a href="/en/markets/mercateo"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/mercateo-logo.png" alt="mercateo logo"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/markets/neckermann/neckermann-at-setup"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/NeckermannLogo.jpg" alt="NeckermannLogo"></span></a></p>
</li>
<li>
<p><a href="/en/markets/plus-gartenxxl"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/netto.png" alt="netto"></span></a></p>
</li>
<li>
<p><a href="/en/markets/otto/otto-market"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/otto-market-logo.png" alt="otto market logo"></span></a></p>
</li>
<li>
<p><a href="/en/markets/rewe"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/Rewe.png" alt="Rewe"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/markets/ricardo-ch"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/ricardo-RGB.png" alt="ricardo RGB"></span></a></p>
</li>
<li>
<p><a href="/en/markets/shopgate"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1791-shopgate-logo-rgb-26-08-2014.png" alt="1791 shopgate logo rgb 26 08 2014"></span></a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/wish_5866"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/wish-logo.png" alt="wish logo"></span></a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/markets/voelkner"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/ve_Marktplatz_Logo_final.jpg" alt="ve Marktplatz Logo final"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/markets/yatego"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2716-YATEGO-rgb-logo.png" alt="2716 YATEGO rgb logo"></span></a></p>
</li>
<li>
<p><a href="/en/markets/zalando"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2463-Zalando-Logo-freigestellt.png" alt="2463 Zalando Logo freigestellt"></span></a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_using_price_search_engines">2. Using price search engines</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Price search engines are available as plugins</div>
<div class="paragraph">
<p>Many price search engines are available in the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/price-comparisons" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. In order to use a price search engine, install the plugin in plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/markets/price-search-engines/awin">Awin</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/beezup">BeezUp</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/belboon">belboon.com</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/billiger-de">billiger.de</a></p>
</li>
<li>
<p><a href="/en/markets/check24">Check24</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/criteo">Criteo</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/econda">econda</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/geizhals-de">Geizhals.de</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/google-shopping">GoogleShopping</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/guenstiger-de">guenstiger.de</a></p>
</li>
<li>
<p><a href="/en/markets/idealo-checkout/idealo-setup">idealo</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/kelkoo">kelkoo</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/kupona">KUPONA</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/mybestbrands">My Best Brands</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/shopping-com">shopping.com</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/shopping24">shopping24.de</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/shopzilla">shopzilla.de</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/tracdelight">tracdelight</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/treepodia">treepodia</a></p>
</li>
<li>
<p><a href="/en/markets/price-search-engines/twenga">Twenga</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>… and many more!</p>
</div>
</div>
</div>
</main>