<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#300"><span>1.</span><span> Payment providers for Callisto stores</span></a></li>
<li><a href="#400"><span>2.</span><span> Payment providers and payment methods for Ceres stores</span></a></li>
<li><a href="#500"><span>3.</span><span> Payment providers and payment methods for plentymarkets POS</span></a></li>
<li><a href="#600"><span>4.</span><span> Debt collection service providers and credit rating</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Payment</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>One important aspect of your online store is the selection of payment methods offered. If the right selection is missing, customers could cancel the purchase at the end of the order process or not order in your online store at all. To avoid this, you should find out which payment methods your customers prefer to use. This area of the manual describes how to set up payment methods and payment providers in plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Callisto or Ceres online store?</div>
<div class="paragraph">
<p>The process of integrating different payment methods and payment providers depends on whether you run your online store based on Callisto or Ceres. The payment providers for <a href="#300">Callisto stores</a> are integrated via interfaces. If you use Ceres or a Callisto store in combination with a Ceres checkout, you have to download the respective <a href="#400">plugins</a> in the plentyMarketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Payment methods for Callisto stores</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/payment/managing-payment-methods">Managing payment methods</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#10">Searching for a payment method</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#20">Setting up a payment method</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#25">Specifying the default payment method</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#50">Offering a discount based on the payment method</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#40">Non-contract payment methods</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#70">Payment methods for markets</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#80">Rounding differences</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Payments and banking in general</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/payment/managing-payments">Managing payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payments#20">Booking payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payments#70">Assigning payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payments#110">Searching for payments</a></p>
</li>
<li>
<p><a href="/en/payments/managing-payments#120">Editing payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details">Managing bank details</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details#70">Setting up EBICS</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details#200">Setting up SEPA direct debit mandate</a></p>
</li>
<li>
<p><a href="/en/payment/currencies">Managing currencies</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">1. Payment providers for Callisto stores</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you run your online store based on Callisto, the following payment providers are available. The payment providers are integrated into your plentymarkets system via interfaces. After successful integration, they are available as payment methods for your customers in the online store.</p>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/payment/payment-providers/paypal"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1698-pp-h-rgb.png" alt="1698 pp h rgb"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/paypal-plus"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/pp-plus-h-rgb-pos.png" alt="pp plus h rgb pos"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/amazon-pay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2259.png" alt="2259"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/klarna"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/blue-black.png" alt="blue black"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/payment/payment-providers/klarna-checkout"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/klarna-checkout.png" alt="klarna checkout"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/sofortueberweisung"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1721.png" alt="1721"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/payone"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2710.png" alt="2710"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/sage-pay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3135-Sage-Pay-official-Logo.png" alt="3135 Sage Pay official Logo"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/bitpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3210-bitpay-logo.png" alt="3210 bitpay logo"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/concardis"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2332.png" alt="2332"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/crefopay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3892.png" alt="3892"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/payment/payment-providers/expercash"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1718-expercash.png" alt="1718 expercash"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/heidelpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1717-heidelpay.png" alt="1717 heidelpay"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/klarna-checkout-uk"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/klarna-checkout-uk.png" alt="klarna checkout uk"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/masterpayment"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1711-masterpayment.png" alt="1711 masterpayment"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/payment/payment-providers/paymorrow"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/paymorrow-web.png" alt="paymorrow web"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/payolution"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1731.jpg" alt="1731"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/postpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/logo-hg-weiss-200x55.jpg" alt="logo hg weiss 200x55"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/saferpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1716-saferpay.png" alt="1716 saferpay"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/payment/payment-providers/santander-consumer-bank"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/SCB-negativ-CMYK.png" alt="SCB negativ CMYK"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/skrill"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1706.png" alt="1706"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/wirecard"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/wirecard-logo.png" alt="wirecard logo"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/worldpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/worldpay-logo.png" alt="worldpay logo"></span></a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">2. Payment providers and payment methods for Ceres stores</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you run your online store or your checkout area using the Ceres template plugin, the following payment providers and payment methods are available. The payment providers and payment methods are integrated into your plentymarkets system via individual plugins.<br>
Click on the links below to access the plugins in the plentyMarketplace. The tab <strong>Description</strong> of every plugin offers you detailed information on the installation process.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/AfterPay_6044" target="_blank" rel="noopener">AfterPay</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/amazonloginandpay_5072" target="_blank" rel="noopener">Amazon Pay</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/PayUponPickup_4757" target="_blank" rel="noopener">Pay upon pickup</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/Payone_5434" target="_blank" rel="noopener">PAYONE</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/GiroCheckout_5113" target="_blank" rel="noopener">PAYONE credit card</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/heidelpay_5700" target="_blank" rel="noopener">heidelpay</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/novalnet_5231" target="_blank" rel="noopener">Novalnet</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/CashOnDelivery_5255" target="_blank" rel="noopener">Cash on delivery</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/paydirekt_4923" target="_blank" rel="noopener">paydirekt</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/payever_5623" target="_blank" rel="noopener">payever</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/Payolution_5943" target="_blank" rel="noopener">Payolution</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/paypal_4690" target="_blank" rel="noopener">PayPal</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/easyCredit_5109" target="_blank" rel="noopener">ratenkauf by EasyCredit</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/skrill_5142" target="_blank" rel="noopener">Skrill</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/SOFORT_5050" target="_blank" rel="noopener">Online bank transfer</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/BetterPayment_5680" target="_blank" rel="noopener">Solvendi</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/Stripe_4904" target="_blank" rel="noopener">Stripe credit card</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/PrePayment_4758" target="_blank" rel="noopener">Cash in advance</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/wallee_5038" target="_blank" rel="noopener">wallee</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="500">3. Payment providers and payment methods for plentymarkets POS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you use the point of sale system plentymarkets POS, the following additional payment providers and payment methods are available. The payment providers and payment methods for POS are integrated into your plentymarkets system via individual plugins.<br>
Click on the links below to access the plugins in the plentyMarketplace. The tab <strong>Description</strong> of every plugin offers you detailed information on the installation process.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/ingenicozvt_5140" target="_blank" rel="noopener">Ingenico ZVT</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/PosInvoice_5590" target="_blank" rel="noopener">plentyPOS Invoice</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/sumup_5141" target="_blank" rel="noopener">SumUp</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">VerifoneZVT</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="600">4. Debt collection service providers and credit rating</h2>
<div class="sectionbody">
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/payment/payment-providers/adu-inkasso"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2833-ADU-Logo-WEB.png" alt="2833 ADU Logo WEB"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/atriga"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1725-1.png" alt="1725 1"></span></a></p>
</li>
<li>
<p><a href="/en/payment/payment-providers/mediafinanz"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1732-mediafinanz.png" alt="1732 mediafinanz"></span></a></p>
</li>
</ul>
</div>
<hr>
</div>
</div>
</main>