<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Videos</h1><div class="paragraph">
<p>The following modules help you set up specific areas within your plentymarkets system. Please note that the videos do not completely explain every single function within a menu. Rather, they guide you through the initial settings that you’ll need to carry out when first setting up your system. In further videos, you’ll learn about these topics in greater detail. Setting up your system should be fun! That’s why we’ve tried to keep our videos as short as possible. Watch all of the videos within a module to learn about each topic.</p>
</div><h2 id="_pick_a_module_and_youll_be_on_your_way" class="discrete">Pick a module and you’ll be on your way!</h2><table class="tableblock frame-none grid-none stripes-none stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/basics.png" alt="basics">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/basics"><strong>Basics (4 videos)</strong></a><br>
Are you new to plentymarkets? This introductory video course takes you on a quick tour of your system.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/personalisation.png" alt="personalisation">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/personalisation"><strong>Personalisation (12 videos)</strong></a><br>
Make plentymarkets yours! Save your company information, create user accounts for staff members, and link your e-mail account with plentymarkets.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/item.png" alt="item">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/items"><strong>Items (9 videos)</strong></a><br>
See just how easy it is to save items in plentymarkets and get your online business started! Learn about the many options for structuring items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/order.png" alt="order">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing"><strong>Order processing (18 videos)</strong></a><br>
Join our factory tour and see how sellers can process orders in plentymarkets step-by-step.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/webshop.png" alt="webshop">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/online-store"><strong>Online store (3 videos)</strong></a><br>
Start building the online store of your dreams! This video course introduces you to Ceres - a modern store template, which unites state-of-the-art logic with attractive designs.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/ebay.png" alt="ebay">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/ebay"><strong>eBay (15 videos)</strong></a><br>
eBay – a piece of cake! Learn how all the settings link together to form one big picture. Offer your products on eBay and manage your sales with plentymarkets.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/amazon.jpg" alt="amazon">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/amazon"><strong>Amazon (12 videos)</strong></a><br>
Begin your journey towards Amazon! This module provides support at every stop along the way. You’ll reach your destination quickly and easily.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/automation.png" alt="automation">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation"><strong>Automation (18 videos)</strong></a><br>
Automate your routine tasks! plentymarkets gives you the power to knock out day-to-day tasks at the speed of light.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/elasticsync.jpg" alt="elasticsync">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/data-transfer"><strong>Data transfer (10 videos)</strong></a><br>
Whether you want to import new items into your system or keep existing information up to date – plentymarkets provides you with the proper tools!</p>
</div></div></td>
</tr>
</tbody>
</table>
</main>