<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel2">
<li><a href="#_plentymarkets_made_easy_short_videos_great_success"><span>1.</span><span> plentymarkets made easy – short videos, great success!</span></a></li>
<li><a href="#_pick_a_module_and_youll_be_on_your_way"><span>2.</span><span> Pick a module and you’ll be on your way!</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Videos</h1><div class="sect2">
<h3 id="_plentymarkets_made_easy_short_videos_great_success">1. plentymarkets made easy – short videos, great success!</h3>
<div class="paragraph">
<p>The following modules help you set up specific areas within your plentymarkets system. Please note that the videos do not completely explain every single function within a menu. Rather, they guide you through the initial settings that you’ll need to carry out when first setting up your system. In further videos, you’ll learn about these topics in greater detail. Setting up your system should be fun! That’s why we’ve tried to keep our videos as short as possible. Watch all of the videos within a module to learn about each topic.</p>
</div>
</div><div class="sect1">
<h2 id="_pick_a_module_and_youll_be_on_your_way">2. Pick a module and you’ll be on your way!</h2>
<div class="sectionbody">
<table id="tabelle-app-berechtigung" class="tableblock frame-none grid-none stripes-none stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/basics.png" alt="basics">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/basics"><strong>Basics (4 videos)</strong></a><br>
Are you new to plentymarkets? This introductory video course takes you on a quick tour of your system.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/personalisation.png" alt="personalisation">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/personalisation"><strong>Personalisation (15 videos)</strong></a><br>
Make plentymarkets yours! Save your company information, create user accounts for staff members, and link your e-mail account with plentymarkets.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/item.png" alt="item">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/items"><strong>Items (9 videos)</strong></a><br>
See just how easy it is to save items in plentymarkets and get your online business started! Learn about the many options for structuring items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/order.png" alt="order">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing"><strong>Order processing (18 videos)</strong></a><br>
Join our factory tour and see how sellers can process orders in plentymarkets step-by-step.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/webshop.png" alt="webshop">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/online-shop"><strong>Online store (3 videos)</strong></a><br>
Start building the online store of your dreams! This video course introduces you to Ceres - a modern store template, which unites state-of-the-art logic with attractive designs.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/ebay.png" alt="ebay">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/ebay"><strong>eBay (15 videos)</strong></a><br>
eBay – a piece of cake! Learn how all the settings link together to form one big picture. Offer your products on eBay and manage your sales with plentymarkets.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/amazon.jpg" alt="amazon">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/amazon"><strong>Amazon (12 videos)</strong></a><br>
Begin your journey towards Amazon! This module provides support at every stop along the way. You’ll reach your destination quickly and easily.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/automation.png" alt="automation">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/automation"><strong>Automation (18 videos)</strong></a><br>
Automate your routine tasks! plentymarkets gives you the power to knock out day-to-day tasks at the speed of light.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/elasticsync.jpg" alt="elasticsync">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/data-transfer"><strong>Data transfer (10 videos)</strong></a><br>
Whether you want to import new items into your system or keep existing information up to date – plentymarkets provides you with the proper tools!</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/pos.jpg" alt="pos">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/pos"><strong>POS (9 videos)</strong></a><br>
It only takes a few minutes to set up a point of sale system in plentymarkets and get started with your brick and mortar store!</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/plugins.jpg" alt="plugins">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/plugins"><strong>Plugins (2 videos)</strong></a><br>
Plugins allow you to customise plentymarkets to meet your needs and help you find your way through the e-commerce jungle.</p>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/videos/assets/stock.png" alt="stock">
</div>
</div>
<div class="paragraph">
<p><a href="/en/videos/stock-management"><strong>Stock management (1 video)</strong></a><br>
Stock management is a universe all of its own. And yet you can easily replicate your warehouses in your plentymarkets system. Learn how in this module!</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>