<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#artikel"><span>1.</span><span> Checkliste: Artikelsichtbarkeit im Webshop</span></a>
<ul class="sectlevel2">
<li><a href="#_ist_die_variante_im_bereich_aktiv_geschaltet"><span>1.1.</span><span> Ist die Variante im Bereich aktiv geschaltet?</span></a></li>
<li><a href="#_ist_ein_verkaufspreis_mit_der_variante_verknüpft"><span>1.2.</span><span> Ist ein Verkaufspreis mit der Variante verknüpft?</span></a></li>
<li><a href="#_ist_eine_kategorie_mit_der_variante_verknüpft"><span>1.3.</span><span> Ist eine Kategorie mit der Variante verknüpft?</span></a></li>
<li><a href="#_ist_die_mandantenverfügbarkeit_gesetzt"><span>1.4.</span><span> Ist die Mandantenverfügbarkeit gesetzt?</span></a></li>
<li><a href="#_haben_die_varianten_positiven_netto_warenbestand"><span>1.5.</span><span> Haben die Varianten positiven Netto-Warenbestand?</span></a></li>
<li><a href="#_sind_die_verfügbarkeiten_für_den_shop_aktiviert"><span>1.6.</span><span> Sind die Verfügbarkeiten für den Shop aktiviert?</span></a></li>
</ul>
</li>
<li><a href="#kategorien"><span>2.</span><span> Checkliste: Kategoriesichtbarkeit im Webshop</span></a>
<ul class="sectlevel2">
<li><a href="#_ist_der_richtige_mandant_mit_der_kategorie_verknüpft"><span>2.1.</span><span> Ist der richtige Mandant mit der Kategorie verknüpft?</span></a></li>
<li><a href="#_sind_die_einstellungen_für_die_linkliste_korrekt"><span>2.2.</span><span> Sind die Einstellungen für die Linkliste korrekt?</span></a></li>
<li><a href="#_ist_die_kategorie_in_den_einstellungen_des_systems_aktiviert"><span>2.3.</span><span> Ist die Kategorie in den Einstellungen des Systems aktiviert?</span></a></li>
<li><a href="#_ist_eine_variante_mit_der_kategorie_verknüpft"><span>2.4.</span><span> Ist eine Variante mit der Kategorie verknüpft?</span></a></li>
<li><a href="#_ist_die_ebenentiefe_korrekt_definiert"><span>2.5.</span><span> Ist die Ebenentiefe korrekt definiert?</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Artikel und Kategorien</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zu den Themen Artikel und Kategorien.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="artikel">1. Checkliste: Artikelsichtbarkeit im Webshop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Checkliste soll helfen, mögliche Fehlerquellen bei der Artikelsichtbarkeit ausfindig zu machen. Bei unseren Beispiel-Screenshots handelt es sich um Einstellungen aus einem Standardsystem, Abweichungen sind möglich.</p>
</div>
<div class="sect2">
<h3 id="_ist_die_variante_im_bereich_aktiv_geschaltet">1.1. Ist die Variante im Bereich aktiv geschaltet?<br></h3>
<div class="paragraph">
<p>Der Haken wird im Bereich <strong>Verfügbarkeit</strong> des Variantentabs <strong>Einstellungen</strong> gesetzt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Artikel/assets/Checkliste_Artikel_aktiv.png" alt="Aktiv" width="700">
</div>
<div class="title">Bild 1. Einstellungstab einer Variante.</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_ein_verkaufspreis_mit_der_variante_verknüpft">1.2. Ist ein Verkaufspreis mit der Variante verknüpft?<br></h3>
<div class="paragraph">
<p>Folgende Parameter müssen passend für den Shop im Menü <strong>System » Artikel » Verkaufspreise</strong> gesetzt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Währung</p>
</li>
<li>
<p>kein UVP, Aktionspreis oder Setpreis</p>
</li>
<li>
<p>Mandant</p>
</li>
<li>
<p>Kundenklasse</p>
</li>
<li>
<p>Land</p>
</li>
<li>
<p>Herkunft</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_ist_eine_kategorie_mit_der_variante_verknüpft">1.3. Ist eine Kategorie mit der Variante verknüpft?<br></h3>
<div class="paragraph">
<p>Eine Kategorieverknüpfung wird im Tab <strong>Kategorien</strong> einer Variante hinterlegt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Artikel/assets/Checkliste_Artikel_Kategorieverknuepfung.png" alt="Kategorieverknüpfung" width="700">
</div>
<div class="title">Bild 2. Im Kategorien-Tab werden die angelegten Kategorien mit der Variante verknüpft.</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_die_mandantenverfügbarkeit_gesetzt">1.4. Ist die Mandantenverfügbarkeit gesetzt?<br></h3>
<div class="paragraph">
<p>Die Mandantenverfügbarkeit wird im Bereich <strong>Mandant (Shop)</strong> des Tabs <strong>Verfügbarkeit</strong> für die Variante gesetzt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Artikel/assets/Checkliste_Artikel_Mandantenverfuegbarkeit.png" alt="Mandantenverfügbarkeit" width="700">
</div>
<div class="title">Bild 3. Bei Mandantenverfügbarkeit auf automatische Webshopsichtbarkeit achten.</div>
</div>
</div>
<div class="sect2">
<h3 id="_haben_die_varianten_positiven_netto_warenbestand">1.5. Haben die Varianten positiven Netto-Warenbestand?</h3>
<div class="paragraph">
<p>Auf die Bestandsbeschränkung achten!</p>
</div>
<div class="paragraph">
<p>Der o.g. Punkt gilt nur, wenn die Varianten auf Netto-Warenbestand beschränkt sind.
Führt man keinen Bestand oder nutzt keine Beschränkung, brauchen die Varianten keinen positiven Netto-Warenbestand.</p>
</div>
</div>
<div class="sect2">
<h3 id="_sind_die_verfügbarkeiten_für_den_shop_aktiviert">1.6. Sind die Verfügbarkeiten für den Shop aktiviert?<br></h3>
<div class="paragraph">
<p>Sie müssen im Menü <strong>System » Mandant » Standard Shop » Artikelansichten » Einstellungen</strong> gesetzt werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Artikel/assets/Checkliste_Artikel_Verfuegbarkeit.png" alt="Verfügbarkeit" width="700">
</div>
<div class="title">Bild 4. Die Verfügbarkeiten werden in diesem Bereich für den Shop aktiviert.</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Cache</div>
<div class="paragraph">
<p>Wenn die Varianten richtig konfiguriert sind, kann es Cache-bedingt dennoch bis zu einer Stunde dauern, bis Artikel im Webshop sichtbar sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="kategorien">2. Checkliste: Kategoriesichtbarkeit im Webshop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Checkliste soll helfen, mögliche Fehlerquellen bei der Kategoriesichtbarkeit ausfindig zu machen. Bei unseren Beispiel-Screenshots handelt es sich um Einstellungen aus einem Standardsystem, Abweichungen sind möglich.</p>
</div>
<div class="sect2">
<h3 id="_ist_der_richtige_mandant_mit_der_kategorie_verknüpft">2.1. Ist der richtige Mandant mit der Kategorie verknüpft?</h3>
<div class="paragraph">
<p>Der Mandant, in dem die Kategorie erscheinen soll, muss im Bereich <strong>Einstellungen</strong> unter <strong>Artikel » Kategorien</strong> aktiviert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_Mandant.png" alt="Checkliste Kategorie Mandant">
</div>
<div class="title">Bild 5. Bereich Einstellungen einer Kategorie. Hier wird u.A. der Mandant aktiviert.</div>
</div>
</div>
<div class="sect2">
<h3 id="_sind_die_einstellungen_für_die_linkliste_korrekt">2.2. Sind die Einstellungen für die Linkliste korrekt?</h3>
<div class="paragraph">
<p>Im Bereich <strong>Einstellungen</strong> der Kategorie muss gibt es den Punkt <strong>In Linkliste</strong>. Dort muss <strong>Anzeigen</strong> ausgewählt sein.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_Linkliste.png" alt="Checkliste Kategorie Linkliste">
</div>
<div class="title">Bild 6. Kategorien können in der Linkliste angezeigt oder auch verborgen werden.</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_die_kategorie_in_den_einstellungen_des_systems_aktiviert">2.3. Ist die Kategorie in den Einstellungen des Systems aktiviert?</h3>
<div class="paragraph">
<p>Die Kategorien müssen im Menü <strong>System » Mandant » Standard Shop » Kategorien » Aktivieren</strong> aktiviert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_aktiv.png" alt="Checkliste Kategorie aktiv">
</div>
<div class="title">Bild 7. Standardmäßig sind die Kategorien in diesem Menü nach Kateagorieanlage bereits aktiv.</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_eine_variante_mit_der_kategorie_verknüpft">2.4. Ist eine Variante mit der Kategorie verknüpft?</h3>
<div class="paragraph">
<p>Diese Variante muss so konfiguriert sein, dass Sie im Shop sichtbar ist.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_Verknuepfung.png" alt="Checkliste Kategorie Verknuepfung">
</div>
<div class="title">Bild 8. Eine Kategorieverknüpfung ist plentymarkets 7 Pflicht</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_die_ebenentiefe_korrekt_definiert">2.5. Ist die Ebenentiefe korrekt definiert?</h3>
<div class="paragraph">
<p>Die Anzeige, wie viele Ebenen angezeigt werden, muss in den Einstellungen des Menüs <strong>System » Mandant » Standard Shop » Kategorien » Einstellungen</strong> definiert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_Ebene.png" alt="Checkliste Kategorie Ebene">
</div>
<div class="title">Bild 9. In der Kategorienavigation können bis zu 6 Ebenen angezeigt werden.</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Cache</div>
<div class="paragraph">
<p>Wenn die Kategorien richtig konfiguriert sind, kann es Cache-bedingt dennoch bis zu einer Stunde dauern, bis die Kategorien im Webshop sichtbar werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="anlegen" class="paragraph adoc">
<p>Unresolved directive in &lt;stdin&gt; - include::../_best-practices/Item/ElasticSync/Artikel_mit_Varianten_anlegen.adoc[leveloffset=1]</p>
</div>
</div>
</div>
</div>
</main>