<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#artikel"><span>1.</span><span> Checkliste: Artikelsichtbarkeit im Webshop</span></a>
<ul class="sectlevel2">
<li><a href="#_ist_die_variante_im_bereich_aktiv_geschaltet_br"><span>1.1.</span><span> Ist die Variante im Bereich aktiv geschaltet?</span></a></li>
<li><a href="#_ist_ein_verkaufspreis_mit_der_variante_verknüpft_br"><span>1.2.</span><span> Ist ein Verkaufspreis mit der Variante verknüpft?</span></a></li>
<li><a href="#_ist_eine_kategorie_mit_der_variante_verknüpft_br"><span>1.3.</span><span> Ist eine Kategorie mit der Variante verknüpft?</span></a></li>
<li><a href="#_ist_die_mandantenverfügbarkeit_gesetzt_br"><span>1.4.</span><span> Ist die Mandantenverfügbarkeit gesetzt?</span></a></li>
<li><a href="#_haben_die_varianten_positiven_netto_warenbestand"><span>1.5.</span><span> Haben die Varianten positiven Netto-Warenbestand?</span></a></li>
<li><a href="#_sind_die_verfügbarkeiten_für_den_shop_aktiviert_br"><span>1.6.</span><span> Sind die Verfügbarkeiten für den Shop aktiviert?</span></a></li>
</ul>
</li>
<li><a href="#kategorien"><span>2.</span><span> Checkliste: Kategoriesichtbarkeit im Webshop</span></a>
<ul class="sectlevel2">
<li><a href="#_ist_der_richtige_mandant_mit_der_kategorie_verknüpft"><span>2.1.</span><span> Ist der richtige Mandant mit der Kategorie verknüpft?</span></a></li>
<li><a href="#_sind_die_einstellungen_für_die_linkliste_korrekt"><span>2.2.</span><span> Sind die Einstellungen für die Linkliste korrekt?</span></a></li>
<li><a href="#_ist_die_kategorie_in_den_einstellungen_des_systems_aktiviert"><span>2.3.</span><span> Ist die Kategorie in den Einstellungen des Systems aktiviert?</span></a></li>
<li><a href="#_ist_eine_variante_mit_der_kategorie_verknüpft"><span>2.4.</span><span> Ist eine Variante mit der Kategorie verknüpft?</span></a></li>
<li><a href="#_ist_die_ebenentiefe_korrekt_definiert"><span>2.5.</span><span> Ist die Ebenentiefe korrekt definiert?</span></a></li>
</ul>
</li>
<li><a href="#anlegen"><span>3.</span><span> Best Practice: Variantenanlage über ElasticSync</span></a>
<ul class="sectlevel2">
<li><a href="#voraussetzungen"><span>3.1.</span><span> Voraussetzungen</span></a></li>
<li><a href="#infos"><span>3.2.</span><span> Infos</span></a></li>
<li><a href="#aufbau_der_datei"><span>3.3.</span><span> Aufbau der Datei</span></a>
<ul class="sectlevel3">
<li><a href="#_allgemein"><span>3.3.1.</span><span> Allgemein</span></a></li>
<li><a href="#_variantennummern"><span>3.3.2.</span><span> Variantennummern</span></a></li>
<li><a href="#_attribute"><span>3.3.3.</span><span> Attribute</span></a></li>
<li><a href="#_bilder"><span>3.3.4.</span><span> Bilder</span></a></li>
<li><a href="#_kategorieverknüpfungen"><span>3.3.5.</span><span> Kategorieverknüpfungen</span></a></li>
</ul>
</li>
<li><a href="#abgleich"><span>3.4.</span><span> Abgleich</span></a></li>
<li><a href="#Zuordnungen"><span>3.5.</span><span> Zuordnung</span></a></li>
<li><a href="#zweite_Zuordnung"><span>3.6.</span><span> Zweite Zuordnung</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Best Practices: Artikel und Kategorien</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zu den Themen Artikel und Kategorien.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="artikel">1. Checkliste: Artikelsichtbarkeit im Webshop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Checkliste soll helfen, mögliche Fehlerquellen bei der Artikelsichtbarkeit ausfindig zu machen. Bei unseren Beispiel-Screenshots handelt es sich um Einstellungen aus einem Standardsystem, Abweichungen sind möglich.</p>
</div>
<div class="sect2">
<h3 id="_ist_die_variante_im_bereich_aktiv_geschaltet_br">1.1. Ist die Variante im Bereich aktiv geschaltet?<br></h3>
<div class="paragraph">
<p>Der Haken wird im Bereich <strong>Verfügbarkeit</strong> des Variantentabs <strong>Einstellungen</strong> gesetzt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Artikel/assets/Checkliste_Artikel_aktiv.png" alt="Aktiv" width="700">
</div>
<div class="title">Bild 1. Einstellungstab einer Variante.</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_ein_verkaufspreis_mit_der_variante_verknüpft_br">1.2. Ist ein Verkaufspreis mit der Variante verknüpft?<br></h3>
<div class="paragraph">
<p>Folgende Parameter müssen passend für den Shop im Menü <strong>System » Artikel » Verkaufspreise</strong> gesetzt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Währung</p>
</li>
<li>
<p>kein UVP, Aktionspreis oder Setpreis</p>
</li>
<li>
<p>kein individueller Kundenpreis</p>
</li>
<li>
<p>Mandant</p>
</li>
<li>
<p>Kundenklasse</p>
</li>
<li>
<p>Land</p>
</li>
<li>
<p>Herkunft</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_ist_eine_kategorie_mit_der_variante_verknüpft_br">1.3. Ist eine Kategorie mit der Variante verknüpft?<br></h3>
<div class="paragraph">
<p>Eine Kategorieverknüpfung wird im Tab <strong>Kategorien</strong> einer Variante hinterlegt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Artikel/assets/Checkliste_Artikel_Kategorieverknuepfung.png" alt="Kategorieverknüpfung" width="700">
</div>
<div class="title">Bild 2. Im Kategorien-Tab werden die angelegten Kategorien mit der Variante verknüpft.</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_die_mandantenverfügbarkeit_gesetzt_br">1.4. Ist die Mandantenverfügbarkeit gesetzt?<br></h3>
<div class="paragraph">
<p>Die Mandantenverfügbarkeit wird im Bereich <strong>Mandant (Shop)</strong> des Tabs <strong>Verfügbarkeit</strong> für die Variante gesetzt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Artikel/assets/Checkliste_Artikel_Mandantenverfuegbarkeit.png" alt="Mandantenverfügbarkeit" width="700">
</div>
<div class="title">Bild 3. Bei Mandantenverfügbarkeit auf automatische Webshopsichtbarkeit achten.</div>
</div>
</div>
<div class="sect2">
<h3 id="_haben_die_varianten_positiven_netto_warenbestand">1.5. Haben die Varianten positiven Netto-Warenbestand?</h3>
<div class="paragraph">
<p>Auf die Bestandsbeschränkung achten!</p>
</div>
<div class="paragraph">
<p>Der o.g. Punkt gilt nur, wenn die Varianten auf Netto-Warenbestand beschränkt sind.
Führt man keinen Bestand oder nutzt keine Beschränkung, brauchen die Varianten keinen positiven Netto-Warenbestand.</p>
</div>
</div>
<div class="sect2">
<h3 id="_sind_die_verfügbarkeiten_für_den_shop_aktiviert_br">1.6. Sind die Verfügbarkeiten für den Shop aktiviert?<br></h3>
<div class="paragraph">
<p>Sie müssen im Menü <strong>System » Mandant » Standard Shop » Artikelansichten » Einstellungen</strong> gesetzt werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Artikel/assets/Checkliste_Artikel_Verfuegbarkeit.png" alt="Verfügbarkeit" width="700">
</div>
<div class="title">Bild 4. Die Verfügbarkeiten werden in diesem Bereich für den Shop aktiviert.</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Cache</div>
<div class="paragraph">
<p>Wenn die Varianten richtig konfiguriert sind, kann es Cache-bedingt dennoch bis zu einer Stunde dauern, bis Artikel im Webshop sichtbar sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="kategorien">2. Checkliste: Kategoriesichtbarkeit im Webshop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Checkliste soll helfen, mögliche Fehlerquellen bei der Kategoriesichtbarkeit ausfindig zu machen. Bei unseren Beispiel-Screenshots handelt es sich um Einstellungen aus einem Standardsystem, Abweichungen sind möglich.</p>
</div>
<div class="sect2">
<h3 id="_ist_der_richtige_mandant_mit_der_kategorie_verknüpft">2.1. Ist der richtige Mandant mit der Kategorie verknüpft?</h3>
<div class="paragraph">
<p>Der Mandant, in dem die Kategorie erscheinen soll, muss im Bereich <strong>Einstellungen</strong> unter <strong>Artikel » Kategorien</strong> aktiviert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_Mandant.png" alt="Checkliste Kategorie Mandant">
</div>
<div class="title">Bild 5. Bereich Einstellungen einer Kategorie. Hier wird u.A. der Mandant aktiviert.</div>
</div>
</div>
<div class="sect2">
<h3 id="_sind_die_einstellungen_für_die_linkliste_korrekt">2.2. Sind die Einstellungen für die Linkliste korrekt?</h3>
<div class="paragraph">
<p>Im Bereich <strong>Einstellungen</strong> der Kategorie muss gibt es den Punkt <strong>In Linkliste</strong>. Dort muss <strong>Anzeigen</strong> ausgewählt sein.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_Linkliste.png" alt="Checkliste Kategorie Linkliste">
</div>
<div class="title">Bild 6. Kategorien können in der Linkliste angezeigt oder auch verborgen werden.</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_die_kategorie_in_den_einstellungen_des_systems_aktiviert">2.3. Ist die Kategorie in den Einstellungen des Systems aktiviert?</h3>
<div class="paragraph">
<p>Die Kategorien müssen im Menü <strong>System » Mandant » Standard Shop » Kategorien » Aktivieren</strong> aktiviert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_aktiv.png" alt="Checkliste Kategorie aktiv">
</div>
<div class="title">Bild 7. Standardmäßig sind die Kategorien in diesem Menü nach Kateagorieanlage bereits aktiv.</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_eine_variante_mit_der_kategorie_verknüpft">2.4. Ist eine Variante mit der Kategorie verknüpft?</h3>
<div class="paragraph">
<p>Diese Variante muss so konfiguriert sein, dass Sie im Shop sichtbar ist.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_Verknuepfung.png" alt="Checkliste Kategorie Verknuepfung">
</div>
<div class="title">Bild 8. Eine Kategorieverknüpfung ist plentymarkets 7 Pflicht</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_die_ebenentiefe_korrekt_definiert">2.5. Ist die Ebenentiefe korrekt definiert?</h3>
<div class="paragraph">
<p>Die Anzeige, wie viele Ebenen angezeigt werden, muss in den Einstellungen des Menüs <strong>System » Mandant » Standard Shop » Kategorien » Einstellungen</strong> definiert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_Ebene.png" alt="Checkliste Kategorie Ebene">
</div>
<div class="title">Bild 9. In der Kategorienavigation können bis zu 6 Ebenen angezeigt werden.</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Cache</div>
<div class="paragraph">
<p>Wenn die Kategorien richtig konfiguriert sind, kann es Cache-bedingt dennoch bis zu einer Stunde dauern, bis die Kategorien im Webshop sichtbar werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="anlegen">3. Best Practice: Variantenanlage über ElasticSync</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Beitrag bieten wir dir ein Best Practice für die Artikelanlage via Elastic Sync. Du solltest mit der generellen Funktionsweise von Elastic Sync vertraut sein. Allgemeine Infos zum Plugin findest du in der Plugin-Beschreibung im
<a href="https://marketplace.plentymarkets.com/plugins/integration/ElasticSync_4750" target="_blank" rel="noopener">Marketplace</a>. Auch unser <a href="https://knowledge.plentymarkets.com/basics/datenaustausch/export-import/daten-importieren#1000" target="_blank" rel="noopener">Handbuch</a> bietet Hilfe und Infos zu ElasticSync.</p>
</div>
<div class="sect2">
<h3 id="voraussetzungen">3.1. Voraussetzungen</h3>
<div class="paragraph">
<p>Im System müssen folgende Daten vorhanden sein, um wie hier beschrieben Artikel und Varianten über Elastic Sync zu importieren:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Attribute</p>
</li>
<li>
<p>Attributwerte</p>
</li>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Verkaufspreise</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="infos">3.2. Infos</h3>
<div class="paragraph">
<p>Unter <strong>System &gt;&gt; Einstellungen &gt;&gt; ElasticSync</strong> findest du den <strong>Cache-löschen-Button</strong>.</p>
</div>
<div class="paragraph">
<p>Mit diesem Button kannst du einmal pro Stunde den Elastic-Sync-Cache zurücksetzen, damit du eine Datei ohne vorherige Änderung erneut importieren kannst.</p>
</div>
<div class="paragraph">
<p>Ein weiterer hilfreicher Button ist der <strong>Testlauf-Button</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/ElasticSync/assets/Testlauf_Neu.png" alt="Testlauf Neu">
</div>
<div class="title">Bild 10. Gut geeignet um Syncs zu testen.</div>
</div>
<div class="paragraph">
<p>Damit werden die ersten 10 Zeilen der Datei ohne Cache importiert. So kannst du prüfen, ob alle Werte korrekt zugeordnet wurden, bevor du den Sync mit allen Zeilen startest.</p>
</div>
<div class="paragraph">
<p>Gültige Werte für Felder in der Zuordnung findest du in der Plugin-Beschreibung und im Handbuch.</p>
</div>
<div class="paragraph">
<p>Unter <strong>Daten &gt;&gt; Log</strong> können Fehlermeldungen zum Sync eingesehen werden</p>
</div>
</div>
<div class="sect2">
<h3 id="aufbau_der_datei">3.3. Aufbau der Datei</h3>
<div class="paragraph">
<p>Folgende
<a href="https://plenty-item.plentymarkets-cloud02.com/ElasticSync/BestPracticeArticleSync.csv" target="_blank" rel="noopener">Beispieldatei</a> wurde für den Sync genutzt.</p>
</div>
<div class="sect3">
<h4 id="_allgemein">3.3.1. Allgemein</h4>
<div class="paragraph">
<p>Die Daten, die <strong>global</strong> am Artikel gepflegt werden, wie z.B. <strong>der Name, die Beschreibung etc.</strong> werden in der Zeile der Hauptvariante hinterlegt und sollten später beim Sync in einer zusätzlichen Zuordnung hinterlegt werden.</p>
</div>
<div class="paragraph">
<p>Daten, die <strong>variantenbezogen</strong> sind, müssen in die entsprechenden Zeilen der Varianten eingetragen werden.</p>
</div>
<div class="paragraph">
<p>Wichtig bei der Anlage der Varianten ist, dass der Aufbau der Attribute und Werte so in der Datei hinterlegt sind, wie es in der Zuordnung eingestellt ist.</p>
</div>
</div>
<div class="sect3">
<h4 id="_variantennummern">3.3.2. Variantennummern</h4>
<div class="paragraph">
<p>In unserem Beispiel legen wir eine Hauptvariante mit 4 Varianten an. Als Zuordnung für die Varianten nutzen wir die Hauptvariantennummer.</p>
</div>
<div class="paragraph">
<p>Da der Sync die Daten zeilenweise importiert, steht die Hauptvariante ganz oben in der Datei.</p>
</div>
<div class="paragraph">
<p>Dort hinterlegen wir manuell die  Variantennummer im gleichnamigen Feld. Das Feld <strong>Hauptvariantennummer</strong> bleibt leer.</p>
</div>
<div class="paragraph">
<p>Diese Variantennummer wird nun wiederum bei den Varianten in das Feld <strong>Hauptvariantennummer</strong> geschrieben, damit Sie eine Zuordnung zur Hauptvariante haben und nicht als Einzelartikel angelegt werden.</p>
</div>
<div class="paragraph">
<p>Die Variantennummern der Untervarianten können ebenfalls eingetragen werden. Wenn das Feld frei gelassen wird, generiert das System die Nummern automatisch.</p>
</div>
<div class="paragraph">
<p>Es sieht in der Datei dann so aus.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/ElasticSync/assets/HVnummer.png" alt="HVnummer">
</div>
<div class="title">Bild 11. Eintragung der Nummern bei Hauptvariante und Varianten</div>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Variantennummern müssen eindeutig sein!</div>
<div class="paragraph">
<p>Sowohl die Nummer der Hauptvariante, als auch die Nummer der Untervarianten müssen eindeutig sein. Der Import schlägt fehl, wenn Nummern merhfach vergeben werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_attribute">3.3.3. Attribute</h4>
<div class="paragraph">
<p>In unserem Beispiel haben wir <strong>Attributauswahlkombination</strong> gewählt:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/ElasticSync/assets/Attribute.png" alt="Attribute">
</div>
<div class="title">Bild 12. Erstellen von Varianten via Attributauswahlkombination</div>
</div>
<div class="paragraph">
<p>Die oberste Zeile der Hauptvariante hat dabei keine Kombination erhalten, damit Sie keine Attributverknüpfung erhählt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hauptvariante ohne Attribute</div>
<div class="paragraph">
<p>Wenn man mit Variantenartikeln arbeitet und der Hauptvariante keine Attribute zuweist, ist man später flexibler in der Variantenerstellung. Gibt man der Hauptvariante ebenfalls eine Attributverknüpfung, kann man Varianten ausschließlich mit den verknüpften Attributen erzeugen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_bilder">3.3.4. Bilder</h4>
<div class="paragraph">
<p>In unserem Sync importieren wir die Bilder-URLs in 2 getrennten Spalten und Zuordnungen. Dies kann auch in einer Spalte mit kommagetrennten URLs geschehen.
Dazu muss das Feld <strong>Multi-URL</strong> in der Zuordnung gewählt werden. Das Format der URL wird wie folgt hinterlegt: <strong>image1url;positionImage1,image2url;positionImage2</strong></p>
</div>
</div>
<div class="sect3">
<h4 id="_kategorieverknüpfungen">3.3.5. Kategorieverknüpfungen</h4>
<div class="paragraph">
<p>Zum Verknüpfen mehrerer Kategorien müssen mehrere Zuordnungen angelegt werden. Weiterhin muss darauf geachtet werden, dass bei den Kategorieverknüpfungen der komplette Pfad angegeben wird. Die Ebenen werden dabei mit einem Semikolon getrennt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/ElasticSync/assets/Kategorieverknuepfung.png" alt="Kategorieverknuepfung">
</div>
<div class="title">Bild 13. Die Schreibweisen von Trennzeichen und Pfad sind wichtig für den Import.</div>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Mapping und Datei</div>
<div class="paragraph">
<p>Achte darauf, dass die Werte in der Datei auch mit der Zuordnung übereinstimmen. Dabei geht es darum, dass du z.B. bei dem Feld Standardkategorie die ID oder den Namen im Mapping wählen kannst. In der CSV muss dann auch entsprechend die ID oder der Name stehen. Es geht nicht, dass im Mapping die ID, aber in der Datei der Name genutzt wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="abgleich">3.4. Abgleich</h3>
<div class="paragraph">
<p>Für den Abgleich ist wichtig, dass ein variantenspezifisches Abgleichfeld genutzt wird. Dafür eignet sich z.B. die Variantennummer oder auch die Varianten-ID.</p>
</div>
<div class="paragraph">
<p>Als Aktion muss eingestellt werden, dass versucht wird, einen neuen Datensatz anzulegen, wenn kein Abgleich stattfinden konnte.</p>
</div>
</div>
<div class="sect2">
<h3 id="Zuordnungen">3.5. Zuordnung</h3>
<div class="paragraph">
<p>In der Zuordnung verknüpfen wir die Felder aus der CSV-Datei mit den Feldern aus plentymarkets.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/ElasticSync/assets/Wertebestimmen_Neu.png" alt="Wertebestimmen Neu">
</div>
<div class="title">Bild 14. Eine Zuordnung muss angelegt werden, ohne Zuordnung, kein Import.</div>
</div>
<div class="paragraph">
<p>Es empfiehlt sich, nur die Felder in die Zuordnung aufzunehmen, die tatsächlich übergeben werden sollen. Überflüssige Felder sollten vermieden werden, da das zu Fehlern führen kann.</p>
</div>
<div class="paragraph">
<p>Für die Artikelanlage mit Varianten gibt es Pflichtfelder, die als Minimum in der Zuordnung enthalten sein müssen, damit der Sync funktioniert. Dabei handelt es sich um folgende Felder:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Standardkategorie</p>
</li>
<li>
<p>Hauptvariantennummer</p>
</li>
<li>
<p>Variantennummer</p>
</li>
<li>
<p>Will man Bestand importieren, müssen folgende  Werte in der Zuordnung enthalten sein:
Lager, Menge, Lagerort</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="zweite_Zuordnung">3.6. Zweite Zuordnung</h3>
<div class="paragraph">
<p>Die Zuordnungen werden nacheinander abgearbeitet. Das heißt, dass unsere zweite Zuordnung nach der Ersten durchgeführt wird.</p>
</div>
<div class="paragraph">
<p>Über eine weiteres Zuordnung wollen wir nun eine zweite Kategorie, ein weiteres Bild und die globalen Artikeldaten (z.B. Name, Beschreibung) hinterlegen.</p>
</div>
<div class="paragraph">
<p>In der Zuordnung selbst bestimmen wir erneut die Werte und mappen die URL und den Namen der Kategorie mit der jeweils zweiten Spalte aus unserer Datei.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/ElasticSync/assets/zweite_Zuordnung_Neu.png" alt="zweite Zuordnung Neu">
</div>
<div class="title">Bild 15. Weitere Zuordnungen werden analog zur ersten angelegt.</div>
</div>
<div class="paragraph">
<p>Der Sync ist jetzt einsatzbereit und kann gestartet werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Testlauf</div>
<div class="paragraph">
<p>Wir empfehlen, beim erstmaligen Sync vorab den Testlauf zu nutzen. So kann man prüfen, ob der Sync ordnungsgemäß läuft. Sollten sich  Fehler eingeschlichen haben, kann man diese vor der kompletten Ausführung noch korrigieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>