<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#artikel"><span>1.</span><span> Checkliste: Artikelsichtbarkeit im Webshop</span></a></li>
<li><a href="#kategorien"><span>2.</span><span> Checkliste: Kategoriesichtbarkeit im Webshop</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Best Practices: Artikel und Kategorien</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zu den Themen Artikel und Kategorien.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="artikel">1. Checkliste: Artikelsichtbarkeit im Webshop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Checkliste soll helfen, mögliche Fehlerquellen bei der Artikelsichtbarkeit ausfindig zu machen. Bei unseren Beispiel-Screenshots handelt es sich um Einstellungen aus einem Standardsystem, Abweichungen sind möglich.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Ist die Variante aktiv geschaltet?<br></p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Artikel/assets/Checkliste_Artikel_aktiv.png" alt="Checkliste Artikel aktiv">
</div>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Ist ein korrekt konfigurierter Verkaufspreis mit der Variante verknüpft?<br>
Folgende Parameter müssen passend für den Shop gesetzt sein:</p>
<div class="ulist">
<ul>
<li>
<p>Währung</p>
</li>
<li>
<p>kein UVP, Aktionspreis oder Setpreis</p>
</li>
<li>
<p>kein individueller Kundenpreis</p>
</li>
<li>
<p>Mandant</p>
</li>
<li>
<p>Kundenklasse</p>
</li>
<li>
<p>Land</p>
</li>
<li>
<p>Herkunft</p>
</li>
</ul>
</div>
</li>
<li>
<p><i class="fa fa-square-o"></i> Ist eine Kategorie mit der Variante verknüpft?<br>
image::_best-practices/Item/Artikel/assets/Checkliste_Artikel_Kategorieverknuepfung.png[]</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Ist die Mandantenverfügbarkeit gesetzt?<br></p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Artikel/assets/Checkliste_Artikel_Mandantenverfuegbarkeit.png" alt="Checkliste Artikel Mandantenverfuegbarkeit">
</div>
<div class="title">Bild 1. Bei Mandantenverfügbarkeit auf automatische Webshopsichtbarkeit achten</div>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Haben die Varianten positiven Netto-Warenbestand?</p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Auf Bestandsbeschränkung achten</div>
<div class="paragraph">
<p>Der Punkt <strong>Haben die Varianten positiven Netto-Warenbestand?</strong> gilt nur, wenn die Varianten auf Netto-Warenbestand beschränkt sind.
Führt man keinen Bestand oder nutzt keine Beschränkung, brauchen die Varianten keinen positiven Netto-Warenbestand.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Sind die Verfügbarkeiten für den Shop im Menü <strong>System » Mandant » Standard Shop » Artikelansichten » Einstellungen</strong> aktiviert?<br></p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Artikel/assets/Checkliste_Artikel_Verfuegbarkeit.png" alt="Checkliste Artikel Verfuegbarkeit">
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Cache</div>
<div class="paragraph">
<p>Wenn die Varianten richtig konfiguriert sind, kann es Cache-bedingt dennoch bis zu einer Stunde dauern, bis Artikel im Webshop sichtbar sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="kategorien">2. Checkliste: Kategoriesichtbarkeit im Webshop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Checkliste soll helfen, mögliche Fehlerquellen bei der Kategoriesichtbarkeit ausfindig zu machen. Bei unseren Beispiel-Screenshots handelt es sich um Einstellungen aus einem Standardsystem, Abweichungen sind möglich.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Ist der richtige Mandant mit der Kategorie verknüpft?</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_Mandant.png" alt="Checkliste Kategorie Mandant">
</div>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Steht die Kategorie in der Link-Liste auf <strong>Anzeigen</strong>?</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_Linkliste.png" alt="Checkliste Kategorie Linkliste">
</div>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Ist die Kategorie in den Einstellungen des Menüs <strong>System » Mandant » Standard Shop » Kategorien » Aktivieren</strong> aktiviert?</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_aktiv.png" alt="Checkliste Kategorie aktiv">
</div>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Ist eine für den Webshop sichtbare Variante mit der Kategorie verknüpft?</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_Verknuepfung.png" alt="Checkliste Kategorie Verknuepfung">
</div>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Ist die Ebenentiefe in den Einstellungen des Menüs <strong>System » Mandant » Standard Shop » Kategorien » Einstellungen</strong> korrekt definiert?</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/Item/Kategorie/assets/Checkliste_Kategorie_Ebene.png" alt="Checkliste Kategorie Ebene">
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Cache</div>
<div class="paragraph">
<p>Wenn die Kategorien richtig konfiguriert sind, kann es Cache-bedingt dennoch bis zu einer Stunde dauern, bis die Kategorien im Webshop sichtbar werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>