<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Nach Artikeln und Varianten suchen</span></a></li>
<li><a href="#200"><span>2.</span><span> Sucheinstellungen speichern</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Aktuellen Filter speichern</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Gespeicherte Filter anwenden</span></a></li>
</ul>
</li>
<li><a href="#500"><span>3.</span><span> Übersicht der Ergebnisse</span></a></li>
<li><a href="#600"><span>4.</span><span> Fragen und Antworten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel suchen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mach dich mit der neuen Artikel-UI in plentymarkets vertraut!
Diese Seite beschäftigt sich mit der Artikelsuche im Backend.
Du lernst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/neue-ui/suchen#100">nach Artikeln und Varianten zu suchen</a></p>
</li>
<li>
<p><a href="/artikel/neue-ui/suchen#200">häufig verwendete Sucheinstellungen zu speichern</a></p>
</li>
<li>
<p><a href="/artikel/neue-ui/suchen#500">mit den Suchergebnissen in der Übersicht zu arbeiten</a></p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Neue Artikel-UI (closed beta)</div>
<div class="paragraph">
<p>Diese Seite beschreibt die neue Artikel-UI, die im September 2021 in einer geschlossenen Betaphase veröffentlicht wurde.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Geschlossene Beta bedeutet, dass die neue Artikel-UI zunächst von einer kleinen Teilnehmergruppe getestet wird.</p>
</li>
<li>
<p>Sobald die neue Artikel-UI vollständig ausgereift ist, wird die offene Betaphase beginnen.</p>
</li>
<li>
<p>Weitere Informationen findest du in <a href="https://forum.plentymarkets.com/t/neue-artikel-ui-teilnehmer-fuer-geschlossene-beta-gesucht-new-item-ui-participants-wanted-for-closed-beta/649947">diesem Forumsbeitrag</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Nach Artikeln und Varianten suchen</h2>
<div class="sectionbody">
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="standard-suchmodus-tab" data-toggle="tab" href="#standard-suchmodus" role="tab" aria-controls="standard-suchmodus" aria-selected="true">Standard Suchmodus</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="erweiterter-suchmodus-tab" data-toggle="tab" href="#erweiterter-suchmodus" role="tab" aria-controls="erweiterter-suchmodus" aria-selected="false">Erweiterter Suchmodus</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="standard-suchmodus" role="tabpanel" aria-labelledby="standard-suchmodus-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Neue Artikel-UI</strong>.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Möglichkeit 1</em></strong>: Klicke auf <span class="icon darkGrey"><i class="fa fa-search  "></i></span>, um direkt eine Liste aller Artikel zu sehen.</p>
</li>
<li>
<p><strong><em>Möglichkeit 2</em></strong>: Klicke auf <span class="icon darkGrey"><i class="fa fa-filter  "></i></span>, um die Suchergebnisse mit Hilfe von Filtern einzugrenzen.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Nachdem du die Suche ausgeführt hast, klicke auf eine Zeile in der Ergebnisliste, um die <a href="/artikel/neue-ui/detailansicht">Detailansicht</a> zu öffnen.
Dort kannst du die Einstellungen des Artikels ändern.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/neue-ui/assets/standard-suche.gif" alt="standard suche">
</div>
</div>
</div><div class="tab-pane fade" id="erweiterter-suchmodus" role="tabpanel" aria-labelledby="erweiterter-suchmodus-tab">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/neue-ui/assets/standard-suche.gif" alt="standard suche">
</div></div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Filter können gespeichert werden</div>
<div class="paragraph">
<p>Du kannst deine gewählten Filtereinstellungen auch speichern, damit sie in Zukunft vorausgewählt sind.
<a href="/artikel/neue-ui/suchen#200">Mehr zum Thema</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-item-search-filters" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Beschreibungen der einzelnen Suchfilter</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Steuerelemente</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-toggle-on  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktiviert/deaktiviert den erweiterten Suchmodus.</p>
</div>
<div class="paragraph">
<p><strong><em>Standard vs. Erweiterte Suche</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Standard-Suchmodus ist einfacher zu bedienen, bietet aber auch weniger Flexibilität.</p>
</li>
<li>
<p>Der erweiterte Suchmodus unterstützt <a href="/artikel/neue-ui/suchen#intable-erweiterte-elemente">Verknüpfungen</a>, <a href="/artikel/neue-ui/suchen#intable-erweiterte-elemente">AND/OR-Beziehungen</a> und <a href="/artikel/neue-ui/suchen#intable-erweiterte-elemente">Operatoren</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Beim Deaktivieren des erweiterten Suchmodus werden alle erweiterten Suchelemente zurückgesetzt.
<a href="/artikel/neue-ui/suchen#600">Weitere Informationen</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du einen Filter verwenden, der hier noch nicht aufgeführt ist?
Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> und wähle den Filter aus der Dropdown-Liste.
Der Filter wird zur Liste hinzugefügt.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Es ist möglich, denselben Filter mehrmals hinzuzufügen.
Beispielsweise könntest du den "Artikel-ID"-Filter zweimal hinzufügen, wenn du nach den IDs 123 und 125 suchen möchtest.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-undo  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Setzt die gewählten Filterkriterien zurück.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SUCHEN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Führt die Suche aus.
Die gefundenen Artikel werden in der Übersicht angezeigt.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp</em></strong>: Setze keine Filter, wenn du alle Artikel in der Übersicht sehen möchtest.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong id="intable-erweiterte-elemente">Erweiterte Elemente</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AND</strong>;<br>
<strong>OR</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du nach Produkten suchen, die beide oder nur eines der Kriterien erfüllen?
Wähle die gewünschte Such-Beziehung aus der Dropdown-Liste.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Beziehung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AND</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Produkt muss <em>beide Kriterien</em> erfüllen.
Beispiel: Suche nach Artikeln, die innerhalb von 24 Stunden versandfertig sind UND über die Plattform eBay zum Verkauf stehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OR</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Produkt muss <em>eines der Kriterien</em> erfüllen.
Beispiel: Suche nach Artikeln, deren Lieferant die Firma A ODER B ist.
Filter werden automatisch miteinander verbunden, wenn du die OR-Beziehung wählst (weitere Informationen siehe unten).</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Suchfilter können miteinander verbunden werden, um ihren Bezug zueinander zu verdeutlichen.
Dies entspricht dem Hinzufügen von Klammern zu einer Formel.
Vergleiche die folgenden zwei Beispiele:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>A UND (B ODER C)</code></p>
</li>
<li>
<p><code>(A UND B) ODER C</code></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Einerseits können Filter per Klick auf <span class="icon darkGrey"><i class="fa fa-link  "></i></span> verbunden und wieder getrennt werden.
Andererseits werden Filter automatisch verbunden, wenn du die OR-Beziehung wählst.</p>
</div>
<div class="paragraph">
<p>Welche Filter miteinander verbunden sind, erkennst du daran, dass links eine schwarze Linie und oben Klammern angezeigt werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/neue-ui/assets/filter-verbinden.png" alt="filter verbinden">
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operator</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle den passenden Operator.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp</em></strong>: Füge denselben Filter mehrmals hinzu, um einen Wertebereich zu erstellen.
Beispiel: Suche nach Artikeln, deren ID <em>größer</em> als 100 und <em>kleiner</em> als 200 ist.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EQUAL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ist gleich.
Beispiel: Suche nach dem Artikel mit der ID 100.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LIKE</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enthält.
Beispiel: Suche nach allen Artikeln, deren IDs die Zahl 100 enthalten, z.B. 1001, 410037, 100, 32100.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GREATER THAN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Größer als.
Beispiel: Suche nach allen Artikeln, deren IDs größer als 100 sind, z.B. 101, 102, 103.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GREATER OR EQUAL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Größer oder gleich.
Beispiel: Suche nach allen Artikeln, deren IDs größer als oder gleich 100 sind, z.B. 100, 101, 102, 103.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LESS THAN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kleiner als.
Beispiel: Suche nach allen Artikeln, deren IDs kleiner als 100 sind, z.B. 97, 98, 99.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LESS OR EQUAL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kleiner oder gleich.
Beispiel: Suche nach allen Artikeln, deren IDs kleiner als oder gleich 100 sind, z.B. 97, 98, 99, 100.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Filter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine oder mehrere IDs ein, um nach den Varianten mit diesen IDs zu suchen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Mehrere IDs müssen durch Kommas und ohne Leerzeichen getrennt werden.
Beispiel: <code>1001,1002,1003</code></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine ID ein, um nach dem Artikel mit dieser ID zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Variantennummer ein, um nach der Variante mit dieser Nummer zu suchen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Die Variantennummer muss nicht zwangsläufig eine Zahl sein.
Sie kann auch eine alphanumerische Zeichenkette sein, zum Beispiel ABC-1234-D.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Barcode ein, um nach der <a href="/artikel/artikel-verwalten#250">Variante mit diesem Code</a> zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du nach <a href="/artikel/artikel-verwalten#intable-aktiv">aktiven Artikeln</a> suchen?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Nur aktive Artikel werden in den Suchergebnissen angezeigt.</p>
</li>
<li>
<p><strong>Nein</strong> = Nur inaktive Artikel werden in den Suchergebnissen angezeigt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hintergrund-Info</em></strong>: Varianten werden erst im plentyShop oder auf Marktplätzen sichtbar, wenn sie aktiviert wurden.
Du kannst also an inaktiven Varianten arbeiten, bevor sie verkaufsfertig sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du nach einem bestimmten Artikeltyp suchen?
Dieser Filter schränkt die Suchergebnisse so ein, dass sie nur Standardartikel, <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets">Setartikel oder Multipacks</a> enthalten.</p>
</div>
<div class="paragraph">
<p><strong><em>Was ist mit Artikelpaketen?</em>:</strong>
Es ist auch möglich, nach Artikelpaketen oder einzelnen Paketbestandteilen zu suchen.
Verwende dazu den Filter <a href="/artikel/neue-ui/suchen#intable-paket">Paket</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hauptvariante</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Die Suchergebnisse enthalten nur <a href="/artikel/einleitung/struktur#600">Hauptvarianten</a>.</p>
</li>
<li>
<p><strong>Nein</strong> = Die Suchergebnisse enthalten nur <a href="/artikel/einleitung/struktur#600">Untervarianten</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle eine Verfügbarkeitsstufe aus der Dropdown-Liste.
Die Suchergebnisse liefern nur Produkte, die <a href="/artikel/artikel-verwalten#200">mit dieser Verfügbarkeitsstufe verknüpft</a> sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-paket">Paket</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du nach <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets">Artikelpaketen</a> oder einzelnen Paketbestandteilen suchen?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Die Suchergebnisse umfassen nur Artikel und Varianten, die den <em>Hauptartikel eines Artikelpakets</em> darstellen.</p>
</li>
<li>
<p><strong>Nein</strong> = Die Suchergebnisse umfassen Artikel und Varianten, die weder der Hauptartikel noch Bestandteile eines Artikelpakets sind.</p>
</li>
<li>
<p><strong>Bestandteil</strong> = Die Suchergebnisse umfassen nur Artikel und Varianten, die <em>Bestandteile eines Artikelpakets</em> sind.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle einen Mandanten (Shop) aus der Dropdown-Liste.
Die Suchergebnisse liefern nur Produkte, die <a href="/artikel/artikel-verwalten#360">mit diesem Mandanten verknüpft</a> sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle einen Verkaufspreis aus der Dropdown-Liste.
Die Suchergebnisse liefern nur Produkte, die <a href="/artikel/artikel-verwalten#240">mit diesem Verkaufspreis verknüpft</a> sind.</p>
</div>
<div class="paragraph">
<p><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/preise">Verkaufspreise in plentymarkets angelegt</a>?
Diese Dropdown-Liste enthält nur die Verkaufspreise, die bereits in plentymarkets vorhanden sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle einen Lieferanten aus der Dropdown-Liste.
Die Suchergebnisse enthalten nur Produkte, die <a href="/artikel/artikel-verwalten#310">mit diesem Lieferanten verknüpft</a> sind.</p>
</div>
<div class="paragraph">
<p><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/crm/kontakte-verwalten#100">Lieferantendatensätze in plentymarkets angelegt</a>?
Diese Dropdown-Liste enthält nur die Lieferanten (Kontakte vom Typ "Lieferant"), die bereits in plentymarkets vorhanden sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Willst du nach Produkten suchen, die über einen bestimmten Vertriebskanal verkauft werden?
Wähle eine Herkunft aus der Dropdown-Liste.
Die Suchergebnisse enthalten nur Produkte, die <a href="/artikel/artikel-verwalten#350">mit dieser Herkunft verknüpft</a> sind.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Sucheinstellungen speichern</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="300">2.1. Aktuellen Filter speichern</h3>
<div class="paragraph">
<p>Wenn du eine Suche ausführst, siehst du deine gewählten Sucheinstellungen oben als so genannte "Chips" dargestellt.
Diese Sucheinstellungen kannst du speichern, um sie in Zukunft schneller und einfacher wieder verwenden zu können.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Führe eine Suche aus.</p>
</li>
<li>
<p>Klicke auf <strong>Gespeicherte Filter</strong> (<span class="icon darkGrey"><i class="fa fa-bookmark  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-bookmark-o  "></i></span> <strong>Aktuellen Filter speichern</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein und und entscheide, ob die Filtervoreinstellung in allen Benutzerkonten sichtbar sein soll (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>SPEICHERN</strong>.<br>
→ Die Filtereinstellungen erscheinen nun unter <strong>Gespeicherte Filter</strong> (<span class="icon darkGrey"><i class="fa fa-bookmark  "></i></span>).</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/neue-ui/assets/vorlage-speichern.gif" alt="vorlage speichern">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Nachbearbeitung</div>
<div class="ulist">
<ul>
<li>
<p>Lege die Reihenfolge der Filtervoreinstellungen per Drag &amp; Drop fest.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-trash  "></i></span>, um eine Filtervoreinstellung zu löschen.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Gespeicherte Filter anwenden</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Gespeicherte Filter</strong> (<span class="icon darkGrey"><i class="fa fa-bookmark  "></i></span>).</p>
</li>
<li>
<p>Klicke auf eine bereits erstellte Filtervoreinstellung.<br>
→ Die Suche wird ausgeführt und die verwendeten Sucheinstellungen werden oben als so genannte "Chips" dargestellt.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/neue-ui/assets/vorlage-anwenden.gif" alt="vorlage anwenden">
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">3. Übersicht der Ergebnisse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du eine Suche ausführst, siehst du die Ergebnisse in einer Übersicht.
Die Übersicht liefert Informationen zu den gefundenen Artikeln auf einen Blick.
Zum Beispiel siehst du ein Bild des Artikels, ob der Artikel aktiv oder inaktiv ist, seine IDs, Preise, Tags und Zeitstempel.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Klicke auf eine Artikel-ID, um die <a href="/artikel/neue-ui/detailansicht">Artikel-Detailansicht</a> zu öffnen.</p>
</li>
<li>
<p>Klicke auf eine andere Stelle in der Zeile, um die <a href="/artikel/neue-ui/detailansicht">Varianten-Detailansicht</a> zu öffnen.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/neue-ui/assets/suchergebnisse.gif" alt="suchergebnisse">
</div>
</div>
<h3 id="_benutzerdefinierte_übersicht" class="discrete">Benutzerdefinierte Übersicht</h3>
<div class="paragraph">
<p>Du kannst die Übersicht an deine Bedürfnisse anpassen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-gear  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Spalten sollen in der Übersicht enthalten sein?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon darkGrey"><i class="fa fa-gear  "></i></span>).</p>
</li>
<li>
<p>Wähle allen von dir gewünschten Spalten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>BESTÄTIGEN</strong>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-drag_sort_handle"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In welcher Reihenfolge sollen die Spalten dargestellt werden?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon darkGrey"><i class="fa fa-gear  "></i></span>).</p>
</li>
<li>
<p>Bewege deinen Mauszeiger über einen Eintrag mit dem Symbol <span class="icon "><i class="psicon-drag_sort_handle"></i></span>.<br>
→ Dein Mauszeiger ändert seine Form (<span class="icon darkGrey"><i class="fa fa-arrows  "></i></span>).</p>
</li>
<li>
<p>Ziehe den Eintrag an die gewünschte Stelle.</p>
</li>
<li>
<p>Klicke auf <strong>BESTÄTIGEN</strong>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-arrow-down  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen die Ergebnisse in aufsteigender oder absteigender Reihenfolge dargestellt werden?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Bewege deinen Mauszeiger über eine Spaltenüberschrift wie Artikel-ID, Variantennummer oder Varianten-ID.<br>
→ Ein Pfeil wird angezeigt.</p>
</li>
<li>
<p>Klicke auf den Pfeil (<span class="icon darkGrey"><i class="fa fa-arrow-down  "></i></span>), um die Sortierreihenfolge zu ändern.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">4. Fragen und Antworten</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>Warum sehe ich das Menü nicht?</strong></div>
<div class="content">
<div class="paragraph">
<p>Die neue Artikel-UI befindet sich derzeit in der geschlossenen Betaphase.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Geschlossene Beta bedeutet, dass die neue Artikel-UI zunächst von einer kleinen Teilnehmergruppe getestet wird.</p>
</li>
<li>
<p>Sobald die neue Artikel-UI vollständig ausgereift ist, wird die offene Betaphase beginnen.</p>
</li>
<li>
<p>Weitere Informationen und wie du an der geschlossenen Betaphase teilnehmen kannst, findest du in <a href="https://forum.plentymarkets.com/t/neue-artikel-ui-teilnehmer-fuer-geschlossene-beta-gesucht-new-item-ui-participants-wanted-for-closed-beta/649947">diesem Forumsbeitrag</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wie kann ich Feedback geben?</strong></div>
<div class="content">
<div class="paragraph">
<p>Beta-Tester haben Zugang zu einer geschlossenen Forumskategorie, in der sie ihr Feedback abgeben können.
Weitere Informationen und wie du an der geschlossenen Betaphase teilnehmen kannst, findest du in <a href="https://forum.plentymarkets.com/t/neue-artikel-ui-teilnehmer-fuer-geschlossene-beta-gesucht-new-item-ui-participants-wanted-for-closed-beta/649947">diesem Forumsbeitrag</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wie sind die Standard-Sucheinstellungen? Werden standardmäßig nur aktive Artikel gesucht?</strong></div>
<div class="content">
<div class="paragraph">
<p>Standardmäßig sind gar keine Filter gesetzt.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Startest du also die Suche, ohne Filter zu setzen, werden alle Artikel in der Ergebnisliste aufgeführt.</p>
</li>
<li>
<p>Standardmäßig werden also aktive und inaktive Artikel gesucht.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Kann ich denselben Suchfilter mehrmals verwenden?</strong></div>
<div class="content">
<div class="paragraph">
<p>Ja.
Füge denselben Filter bei Bedarf mehrmals hinzu (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).
Beispielsweise könntest du den "Artikel-ID"-Filter zweimal hinzufügen, wenn du nach den IDs 123 und 125 suchen möchtest.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Was ist der Unterschied zwischen dem Standard-Suchmodus und dem erweiterten Suchmodus?</strong></div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p>Der Standard-Suchmodus ist einfacher zu bedienen, bietet aber auch weniger Flexibilität.</p>
</li>
<li>
<p>Der erweiterte Suchmodus unterstützt <a href="/artikel/neue-ui/suchen#intable-erweiterte-elemente">Verknüpfungen</a>, <a href="/artikel/neue-ui/suchen#intable-erweiterte-elemente">AND/OR-Beziehungen</a> und <a href="/artikel/neue-ui/suchen#intable-erweiterte-elemente">Operatoren</a>.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Erweiterter Modus: Was passiert, wenn ich AND- und OR-Beziehungen innerhalb der gleichen Gruppe verwende?</strong></div>
<div class="content">
<div class="paragraph">
<p>Die Suchanfrage <code>(A UND B ODER C)</code> wird von plentymarkets als <code>A UND (B ODER C)</code> interpretiert.</p>
</div>
<div class="paragraph">
<p>Wozu ist also die Gruppierung <code>(A UND B ODER C)</code> überhaupt gut?
Es ist derzeit nicht möglich, mehrere Sätze von Klammern zu verwenden.
Das heißt, es ist nicht möglich, eine Suchanfrage so zu gestalten:
<code>[A UND (B ODER C)] UND [D UND (E ODER F)]</code>.
Stattdessen müsste der Anwendungsfall wie folgt realisiert werden:
<code>(A UND B ODER C) UND (D UND E ODER F)</code>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Was passiert, wenn ich von der erweiterten Suche zurück in den Standard-Suchmodus wechsle?</strong></div>
<div class="content">
<div class="paragraph">
<p>Alle erweiterten Suchelemente werden zurückgesetzt.
Dies liegt daran, dass der Standard-Suchmodus keine Verknüpfungen, AND/OR-Beziehungen und Operatoren unterstützt.
Die Elemente werden wie folgt zurückgesetzt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Alle Verknüpfungen werden aufgehoben.</p>
</li>
<li>
<p>Alle Beziehungen werden auf AND gesetzt.</p>
</li>
<li>
<p>Alle Operatoren werden auf EQUAL gesetzt.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Kann ich die Suchfilter-Einstellungen importieren und exportieren?</strong></div>
<div class="content">
<div class="paragraph">
<p>Derzeit gibt es keine Import-/Exportfunktion.
Du kannst aber deine <a href="/artikel/neue-ui/suchen#200">häufig verwendeten Sucheinstellungen speichern</a>.</p>
</div>
</div>
</div>
</div>
</div>
</main>