<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Nach Artikeln und Varianten suchen</span></a></li>
<li><a href="#200"><span>2.</span><span> Sucheinstellungen speichern</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Aktuellen Filter speichern</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Gespeicherte Filter anwenden</span></a></li>
</ul>
</li>
<li><a href="#500"><span>3.</span><span> Mit der Ergebnisliste arbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#530"><span>3.1.</span><span> Übersicht individuell gestalten</span></a></li>
<li><a href="#560"><span>3.2.</span><span> Artikel- und Varianten-Datensätze öffnen</span></a></li>
</ul>
</li>
<li><a href="#600"><span>4.</span><span> Fragen und Antworten</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>4.1.</span><span> Allgemeine Fragen</span></a></li>
<li><a href="#800"><span>4.2.</span><span> Artikel suchen</span></a></li>
<li><a href="#_nächste_schritte"><span>4.3.</span><span> Nächste Schritte</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel suchen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mach dich mit der neuen Artikel-UI in plentymarkets vertraut!
Diese Seite beschäftigt sich mit der Artikelsuche im Backend.
Du lernst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/neue-ui/suchen#100">nach Artikeln und Varianten zu suchen</a></p>
</li>
<li>
<p><a href="/artikel/neue-ui/suchen#200">häufig verwendete Sucheinstellungen zu speichern</a></p>
</li>
<li>
<p><a href="/artikel/neue-ui/suchen#500">mit den Suchergebnissen in der Übersicht zu arbeiten</a></p>
</li>
</ul>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/682773880" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Nach Artikeln und Varianten suchen</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel-UI</strong>.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Möglichkeit 1</em></strong>: Klicke auf <span class="icon darkGrey"><i class="fa fa-search  "></i></span>, um direkt eine Liste aller Artikel zu sehen.</p>
</li>
<li>
<p><strong><em>Möglichkeit 2</em></strong>: Gib eine Zahl in das Suchfeld ein und klicke auf einen der automatischen Vorschläge.
Klicke dann auf <span class="icon darkGrey"><i class="fa fa-search  "></i></span>, um die Suche auszuführen.</p>
</li>
<li>
<p><strong><em>Möglichkeit 3</em></strong>: Klicke auf <span class="icon "><i class="material-tune"></i></span>, um die Suchergebnisse mit Hilfe von Filtern einzugrenzen.
Siehe die Tabelle unten.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Wenn du die Suche ausführst, siehst du die <a href="/artikel/neue-ui/suchen#500">Ergebnisliste</a> rechts.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/neue-ui/assets/standard-suche.gif" alt="standard suche">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Filter können gespeichert werden</div>
<div class="paragraph">
<p>Du kannst deine gewählten Filtereinstellungen auch speichern, damit sie in Zukunft vorausgewählt sind.
<a href="/artikel/neue-ui/suchen#200">Mehr zum Thema</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_suchfilter" class="discrete">Suchfilter</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine oder mehrere IDs ein, um nach den Varianten mit diesen IDs zu suchen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Mehrere IDs müssen durch Kommas getrennt werden.
Beispiel: <code>1001, 1002, 1003</code></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine oder mehrere IDs ein, um nach den Artikeln mit diesen IDs zu suchen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Mehrere IDs müssen durch Kommas getrennt werden.
Beispiel: <code>101, 102, 103</code></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Variantennummer ein, um nach der Variante mit dieser Nummer zu suchen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Die Variantennummer muss nicht zwangsläufig eine Zahl sein.
Sie kann auch eine alphanumerische Zeichenkette sein, zum Beispiel ABC-1234-D.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Beispiel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist Gleich (=)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beispiel: Suche nach der Variante mit der Nummer 100.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enthält (≈)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beispiel: Suche nach allen Varianten, deren Nummern die Zahl 100 enthalten, z.B. 1001, 410037, 100, ABC-41003-D.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode-Code</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Barcode ein, um nach der <a href="/artikel/artikel-verwalten#250">Variante mit diesem Code</a> zu suchen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Beispiel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist Gleich (=)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beispiel: Suche nach der Variante mit dem Barcode 012345678905.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enthält (≈)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beispiel: Suche nach allen Varianten, deren Nummern die Zahl 0123 enthalten, z.B. <span class="underline">0123</span>45678905, 9876<span class="underline">0123</span>6426, 054845<span class="underline">0123</span>0.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle ein oder mehrere Tags aus der Dropdown-Liste aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Beispiel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Suchergebnisse liefern nur Produkte, die mit einem dieser <a href="/artikel/artikel-verwalten#268">Tags</a> verknüpft sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NOT IN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Suchergebnisse liefern nur Produkte, die <em>nicht</em> mit einem dieser <a href="/artikel/artikel-verwalten#268">Tags</a> verknüpft sind.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle eine oder mehrere Verfügbarkeitsstufen aus der Dropdown-Liste aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
Die Suchergebnisse liefern nur Produkte, die mit einer dieser <a href="/artikel/artikel-verwalten#200">Verfügbarkeitsstufen</a> verknüpft sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkünfte</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Willst du nach Produkten suchen, die über einen bestimmten Vertriebskanal verkauft werden?
Wähle eine oder mehrere Herkünfte aus der Dropdown-Liste aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
Die Suchergebnisse liefern nur Produkte, die mit einer dieser <a href="/artikel/artikel-verwalten#350">Herkünfte</a> verknüpft sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du nach <a href="/artikel/artikel-verwalten#intable-aktiv">aktiven Artikeln</a> suchen?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Nur aktive Artikel werden in den Suchergebnissen angezeigt.</p>
</li>
<li>
<p><strong>Nein</strong> = Nur inaktive Artikel werden in den Suchergebnissen angezeigt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hintergrund-Info</em></strong>: Varianten werden erst im plentyShop oder auf Marktplätzen sichtbar, wenn sie aktiviert wurden.
Du kannst also an inaktiven Varianten arbeiten, bevor sie verkaufsfertig sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hauptvariante</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Die Suchergebnisse enthalten nur <a href="/artikel/einleitung/struktur#600">Hauptvarianten</a>.</p>
</li>
<li>
<p><strong>Nein</strong> = Die Suchergebnisse enthalten nur <a href="/artikel/einleitung/struktur#600">Untervarianten</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferanten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle ein oder mehrere Lieferanten aus der Dropdown-Liste aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Beispiel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Suchergebnisse liefern nur Produkte, die mit einem dieser <a href="/artikel/artikel-verwalten#310">Lieferanten</a> verknüpft sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NOT IN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Suchergebnisse liefern nur Produkte, die <em>nicht</em> mit einem dieser <a href="/artikel/artikel-verwalten#310">Lieferanten</a> verknüpft sind.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreise</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle einen oder mehrere Verkaufspreise aus der Dropdown-Liste aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
Die Suchergebnisse liefern nur Produkte, die mit einem dieser <a href="/artikel/artikel-verwalten#240">Verkaufspreise</a> verknüpft sind.</p>
</div>
<div class="paragraph">
<p><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/preise">Verkaufspreise in plentymarkets angelegt</a>?
Diese Dropdown-Liste enthält nur die Verkaufspreise, die bereits in deinem plentymarkets System vorhanden sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandanten (Shops)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle einen oder mehrere Mandanten (Shops) aus der Dropdown-Liste aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Beispiel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Suchergebnisse liefern nur Produkte, die mit einem dieser <a href="/artikel/artikel-verwalten#360">Mandanten</a> verknüpft sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NOT IN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Suchergebnisse liefern nur Produkte, die <em>nicht</em> mit einem dieser <a href="/artikel/artikel-verwalten#360">Mandanten</a> verknüpft sind.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-paket">Paket</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du nach <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets">Artikelpaketen</a> suchen?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ist kein Paket</strong> = Die Suchergebnisse umfassen Artikel und Varianten, die weder der Hauptartikel noch Bestandteile eines Artikelpakets sind.</p>
</li>
<li>
<p><strong>Ist ein Paket</strong> = Die Suchergebnisse umfassen nur Artikel und Varianten, die den <em>Hauptartikel eines Artikelpakets</em> darstellen.</p>
</li>
<li>
<p><strong>Ist ein Bestandteil</strong> = Die Suchergebnisse umfassen nur Artikel und Varianten, die <em>Bestandteile eines Artikelpakets</em> sind.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle einen oder mehrere Hersteller aus der Dropdown-Liste aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
Die Suchergebnisse liefern nur Produkte, die mit einem dieser <a href="/artikel/artikel-verwalten#_grundeinstellungen">Hersteller</a> verknüpft sind.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="_steuerelemente" class="discrete">Steuerelemente</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-undo  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Setzt die gewählten Filterkriterien zurück.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-search  "></i></span> <strong>SUCHEN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Führt die Suche aus.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Sucheinstellungen speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du eine Suche ausführst, werden deine gewählten Sucheinstellungen oben als so genannte "Chips" dargestellt.
Diese Sucheinstellungen kannst du speichern, um sie in Zukunft schneller und einfacher wieder verwenden zu können.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Aktuellen Filter speichern</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Führe eine Suche aus.</p>
</li>
<li>
<p>Klicke auf <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="material-bookmark_border"></i></span> <strong>Aktuellen Filter speichern</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein und schalte die optionalen Einstellungen bei Bedarf ein (<span class="icon blue"><i class="material-toggle_on"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.<br>
→ Die Filtereinstellungen erscheinen nun unter <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/neue-ui/assets/vorlage-speichern.gif" alt="vorlage speichern">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Als Standard festlegen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><span class="icon blue"><i class="material-toggle_on"></i></span> = Wenn du das Menü <strong>Artikel » Artikel-UI</strong> öffnest, werden die Filtereinstellungen bereits vorausgewählt sein und die Suche wird automatisch mit diesen Einstellungen gestartet.</p>
</div>
<div class="paragraph">
<p><span class="icon "><i class="material-toggle_off"></i></span> = Die Filtereinstellungen werden nicht bereits vorausgewählt sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter für alle Benutzer erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><span class="icon blue"><i class="material-toggle_on"></i></span> = Die Filtervoreinstellungen werden für alle Benutzerkonten sichtbar sein.</p>
</div>
<div class="paragraph">
<p><span class="icon "><i class="material-toggle_off"></i></span> = Die Filtervoreinstellungen werden nur für dein eigenes Benutzerkonto sichtbar sein.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Filter können auch nachträglich bearbeitet werden</div>
<div class="paragraph">
<p>Wenn du auf <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>) klickst, siehst du Optionen zur nachträglichen Bearbeitung des Filters:</p>
</div>
<div class="paragraph">
<p><span class="icon "><i class="material-drag_indicator"></i></span> = Legt die Reihenfolge der Filtervoreinstellungen per Drag &amp; Drop fest.</p>
</div>
<div class="paragraph">
<p><span class="icon "><i class="material-delete"></i></span> = Löscht die Filtervoreinstellung.</p>
</div>
<div class="paragraph">
<p><span class="icon darkGrey"><i class="fa fa-star-o  "></i></span> = Legt den Filter als Standard fest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Gespeicherte Filter anwenden</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
<li>
<p>Klicke auf eine bereits erstellte Filtervoreinstellung.<br>
→ Die Suche wird ausgeführt und die verwendeten Sucheinstellungen werden oben als so genannte "Chips" dargestellt.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/neue-ui/assets/vorlage-anwenden.gif" alt="vorlage anwenden">
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">3. Mit der Ergebnisliste arbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du eine Suche ausführst, siehst du deine Ergebnisse in einer Übersicht rechts.
Die Übersicht liefert Informationen zu den gefundenen Artikeln auf einen Blick.
Zum Beispiel siehst du ein Bild des Artikels, ob der Artikel aktiv oder inaktiv ist, seine IDs, Preise, Tags und Zeitstempel.</p>
</div>
<div class="sect2">
<h3 id="530">3.1. Übersicht individuell gestalten</h3>
<div class="paragraph">
<p>Du kannst die Übersicht an deine Bedürfnisse anpassen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/neue-ui/assets/spalten-konfigurieren.png" alt="spalten konfigurieren">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 83.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-gear  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Spalten sollen in der Übersicht enthalten sein?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon darkGrey"><i class="fa fa-gear  "></i></span>).</p>
</li>
<li>
<p>Wähle allen von dir gewünschten Spalten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>BESTÄTIGEN</strong>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-drag_indicator"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In welcher Reihenfolge sollen die Spalten dargestellt werden?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon darkGrey"><i class="fa fa-gear  "></i></span>).</p>
</li>
<li>
<p>Bewege deinen Mauszeiger über einen Eintrag mit dem Symbol <span class="icon "><i class="material-drag_indicator"></i></span>.<br>
→ Dein Mauszeiger ändert seine Form (<span class="icon darkGrey"><i class="fa fa-arrows  "></i></span>).</p>
</li>
<li>
<p>Ziehe den Eintrag an die gewünschte Stelle.</p>
</li>
<li>
<p>Klicke auf <strong>BESTÄTIGEN</strong>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-arrow-down  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen die Ergebnisse in aufsteigender oder absteigender Reihenfolge dargestellt werden?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Bewege deinen Mauszeiger über eine Spaltenüberschrift wie Artikel-ID, Variantennummer oder Varianten-ID.<br>
→ Ein Pfeil wird angezeigt.</p>
</li>
<li>
<p>Klicke auf den Pfeil (<span class="icon darkGrey"><i class="fa fa-arrow-down  "></i></span>), um die Sortierreihenfolge zu ändern.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="560">3.2. Artikel- und Varianten-Datensätze öffnen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Nachdem du die <a href="/artikel/neue-ui/suchen#100">Suche ausgeführt</a> hast, werden dir die Ergebnisse in einer Übersicht rechts angezeigt.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Möglichkeit 1</em></strong>: Klicke auf eine Artikel-ID, um die Artikel-Ebene zu öffnen.</p>
</li>
<li>
<p><strong><em>Möglichkeit 2</em></strong>: Klicke auf eine andere Stelle in der Zeile, um die Varianten-Ebene zu öffnen.</p>
</li>
<li>
<p><strong><em>Möglichkeit 3</em></strong>: Wähle mehrere Artikel aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) und klicke auf das Stiftsymbol (<span class="icon darkGrey"><i class="fa fa-pencil  "></i></span>).
Dies öffnet alle gewählten Artikeldatensätze gleichzeitig.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Der Datensatz wird geöffnet.
Von hier aus kannst du die Datenfelder des Produkts bearbeiten.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/neue-ui/assets/detailansicht-navigation.gif" alt="detailansicht navigation">
</div>
</div>
<h5 id="_die_linke_navigationsleiste_verstehen" class="discrete">Die linke Navigationsleiste verstehen</h5>
<div class="paragraph">
<p>Deine Artikel werden in der linken Navigationsleiste untereinander dargestellt.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel sind linksbündig.</p>
</li>
<li>
<p>Varianten sind eingerückt.</p>
</li>
<li>
<p>Die aktuell ausgewählte Ebene wird in blauer Schrift dargestellt.</p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-chevron-left  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erweitert den Artikeldatensatz.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-close  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Schließt den Artikeldatensatz.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-bars  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Blendet die Navigationsleiste ein und aus.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="600">4. Fragen und Antworten</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="700">4.1. Allgemeine Fragen</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Wie kann ich Feedback geben?</strong></div>
<div class="content">
<div class="paragraph">
<p>Feedback zur neuen Artikel-UI ist in <a href="https://forum.plentymarkets.com/c/item/18">dieser Forenkategorie</a> herzlich willkommen.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wird die alte Artikel-UI bald abgeschafft?</strong></div>
<div class="content">
<div class="paragraph">
<p>Nein.
Die alte Artikel-UI wird <em>nicht</em> in nächster Zeit abgeschaltet werden.
Derzeit können die neue und alte Artikel-UIs parallel verwendet werden.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Welche Funktionen fehlen?</strong></div>
<div class="content">
<div class="paragraph">
<p>Folgende Funktionalitäten fehlen und sind geplant:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikelneuanlage</p>
</li>
<li>
<p>Varianten Generierung</p>
</li>
<li>
<p>Artikel löschen</p>
</li>
<li>
<p>Varianten löschen</p>
</li>
<li>
<p>Artikel-Sets</p>
</li>
<li>
<p>Multipacks</p>
</li>
<li>
<p>Etikett generieren</p>
</li>
<li>
<p>Artikelvorschau / Variantenvorschau</p>
</li>
<li>
<p>Seriennummern</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Folgende Funktionalitäten fehlen und sind <em>nicht</em> geplant:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Merkmale</p>
</li>
<li>
<p>Freitextfelder</p>
</li>
<li>
<p>Artikel-Tab Media</p>
</li>
<li>
<p>Artikel-Tab Statistik</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="800">4.2. Artikel suchen</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Wie sind die Standard-Sucheinstellungen? Werden standardmäßig nur aktive Artikel gesucht?</strong></div>
<div class="content">
<div class="paragraph">
<p>Standardmäßig sind gar keine Filter gesetzt.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Startest du also die Suche, ohne Filter zu setzen, werden alle Artikel in der Ergebnisliste aufgeführt.</p>
</li>
<li>
<p>Standardmäßig werden also aktive und inaktive Artikel gesucht.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Kann ich die Suchfilter-Einstellungen importieren und exportieren?</strong></div>
<div class="content">
<div class="paragraph">
<p>Es gibt keine Import-/Exportfunktion.
Du kannst aber deine <a href="/artikel/neue-ui/suchen#200">häufig verwendeten Sucheinstellungen speichern</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Was bedeuten die Operatoren vor den Suchfiltern? IN, NOT IN, =, ≈</strong></div>
<div class="content">
<div class="paragraph">
<p>Wenn du <a href="/artikel/neue-ui/suchen#100">nach Artikeln und Variationen suchst</a>, siehst du diese Operatoren vor manchen Suchfeldern.
Sie geben Auskunft darüber, welche Datensätze in den Suchergebnissen enthalten sein werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 83.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Suchergebnisse enthalten Datensätze, die mit deiner Auswahl übereinstimmen.
Beispiel: Produkte, die mit einem bestimmten Mandanten verknüpft sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NOT IN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Suchergebnisse enthalten Datensätze, die <em>nicht</em> mit deiner Auswahl übereinstimmen.
Beispiel: Produkte, die <em>nicht</em> mit einem bestimmten Mandanten verknüpft sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>=</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist gleich.
Beispiel: Suche nach der Variante mit der Nummer 100.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>≈</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enthält.
Beispiel: Suche nach allen Varianten, deren Nummern die Zahl 100 enthalten, z.B. 1001, 410037, 100, ABC-41003-D.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>In der Ergebnisübersicht fehlt eine Info, die für mich relevant ist. Kann ich die Tabelle anpassen?</strong></div>
<div class="content">
<div class="paragraph">
<p>Ja.
Du kannst die Übersicht an deine Bedürfnisse anpassen.
<a href="/artikel/neue-ui/suchen#530">Weitere Informationen</a>.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_nächste_schritte">4.3. Nächste Schritte</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Wie passe ich eine Ansicht an?</strong></div>
<div class="content">
<div class="paragraph">
<p>Du kannst die Artikel- und Variantenansicht an deine Bedürfnisse anpassen.
<a href="/artikel/neue-ui/detailansicht">Weitere Informationen</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wie funktioniert die Speicherlogik?</strong></div>
<div class="content">
<div class="paragraph">
<p>Wenn du Änderungen an einem Artikel oder einer Variante vornimmst, erscheint ein Sternchen in der linken Navigationsleiste.
<a href="/artikel/neue-ui/detailansicht#1000">Weitere Informationen</a>.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</main>