<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Is the right client linked to the category?</span></a></li>
<li><a href="#200"><span>2.</span><span> Have you chosen the correct settings for the link list?</span></a></li>
<li><a href="#300"><span>3.</span><span> Is a variation linked to the category?</span></a></li>
<li><a href="#600"><span>4.</span><span> Could it be a cache problem?</span></a></li>
<li><a href="#400"><span>5.</span><span> Notes for older systems only</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Category isn’t visible</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You’ve finished <a href="/en/item/settings/categories">creating your categories</a> and now you want to see what they look like in your store. But where are they? Why aren’t they visible?
Work through this checklist and make sure your category meets all of the requirements for being visible in the online store.</p>
</div>
<div class="paragraph">
<p>This checklist helps you find any possible errors that are preventing your categories from being displayed. Our example screenshots show the settings as they appear in a default system. Your own settings may differ.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Is the right client linked to the category?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With plentymarkets, you can manage several online stores, i.e. <a href="/en/online-store/setting-up-clients">several clients</a>, with only one software. Consequently, it is possible to manage several different areas of business with one plentymarkets system.
That’s a great advantage. But it also means that you’ll always need to tell plentymarkets which online store a category should appear in.</p>
</div>
<div class="paragraph instruction">
<p>Linking a client to the category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Click on the category in the directory tree on the left.<br>
→ The category opens and the <strong>Settings</strong> tab is visible.</p>
</li>
<li>
<p>Scroll down to the <strong>Client (store)</strong> option and choose whichever store (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the category should appear in.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/Checklist_Categories_Client.png" alt="Checklist Categories Client">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Have you chosen the correct settings for the link list?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can decide which categories should appear in your store’s navigation. If a category is hidden, then logically, you won’t be able to see it in the store.</p>
</div>
<div class="paragraph instruction">
<p>Making a category visible in the link list:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Click on the category in the directory tree on the left.<br>
→ The category opens and the <strong>Settings</strong> tab is visible.</p>
</li>
<li>
<p>Scroll down to the <strong>In link list</strong> option and choose <strong>Display</strong> from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/Checklist_Categories_Linklist.png" alt="Checklist Categories Linklist">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Sub-categories</div>
<div class="paragraph">
<p>If a sub-category is displayed in the navigation, then the category above it <em>must</em> be displayed in the navigation too.
In other words, if you select the option <strong>Display</strong> for a sub-category, then make sure you also selected the option <strong>Display</strong> for the category above it.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Is a variation linked to the category?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A category will only be visible if it’s linked to at least one <a href="/en/item/online-store/checklist-items-visibility">variation that’s visible in the online store</a>.</p>
</div>
<div class="paragraph instruction">
<p>Linking a variation to a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#400">Search for and open the variation</a>.</p>
</li>
<li>
<p>Click on the <strong>Categories</strong> tab.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Link category</strong>.<br>
→ The <strong>Link category</strong> window opens.</p>
</li>
<li>
<p>Select a category or subcategory.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Link category</strong>.<br>
→ The category is linked and displayed in the <strong>Linked categories</strong> area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/Checklist_Categories_Linked.png" alt="Checklist Categories Linked">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">4. Could it be a cache problem?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Even if the category is configured correctly, it can still take an hour before the category becomes visible in the online store. This is due to the cache.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Notes for older systems only</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>Is the category activated in the system settings?</strong></div>
<div class="content">
<div class="paragraph">
<p>By default, categories are already activated once they’ve been created. But if a category was deactivated for one reason or another, then it won’t be visible in the online store.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
This setting only affects older systems. In new systems, this setting is obsolete and is no longer displayed. We recommend that you check whether you have this setting in your system. If so, activate the setting.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>If available, go to <strong>Setup » Client » [Select client] » Categories » Activate</strong>.</p>
</li>
<li>
<p>Choose all of the categories (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that should be activated.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/Checklist_Categories_Activated.png" alt="Checklist Categories Activated">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Have you correctly defined the number of category levels?</strong></div>
<div class="content">
<div class="paragraph">
<p>First decide how many category levels should function in general. For example, if you choose 4 levels, then it will not be possible to create categories on the 5th level.  Save this setting for each of your clients (stores). This setting applies to the complete category tree, i.e. to all category types.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
This setting only affects older systems. In new systems, this setting is obsolete and is no longer displayed. We recommend that you check whether you have this setting in your system. If so, configure the setting.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Defining category levels:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » Categories » Settings</strong>.</p>
</li>
<li>
<p>Select the maximum number of levels in the category navigation.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/Checklist_Categories_Level.png" alt="Checklist Categories Level">
</div>
</div>
</div>
</div>
</div>
</div>
</main>