<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Creating and editing filters</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Manual procedure</span></a>
<ul class="sectlevel3">
<li><a href="#30"><span>1.1.1.</span><span> Creating new filters</span></a></li>
<li><a href="#40"><span>1.1.2.</span><span> Tab: Settings</span></a></li>
<li><a href="#50"><span>1.1.3.</span><span> Tab: Name</span></a></li>
<li><a href="#60"><span>1.1.4.</span><span> Tab: Values</span></a></li>
<li><a href="#70"><span>1.1.5.</span><span> Tab: Images</span></a></li>
</ul>
</li>
<li><a href="#80"><span>1.2.</span><span> Data import</span></a>
<ul class="sectlevel3">
<li><a href="#90"><span>1.2.1.</span><span> Practical example: Importing new facets</span></a></li>
<li><a href="#100"><span>1.2.2.</span><span> Directory of matching and mapping fields</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#110"><span>2.</span><span> Online shop search settings</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>2.1.</span><span> Which shops should the filters appear in?</span></a></li>
<li><a href="#130"><span>2.2.</span><span> Optional: Which item data should be considered?</span></a></li>
<li><a href="#140"><span>2.3.</span><span> Optional: Changing languages</span></a></li>
</ul>
</li>
<li><a href="#150"><span>3.</span><span> Displaying filters in the online shop</span></a>
<ul class="sectlevel2">
<li><a href="#160"><span>3.1.</span><span> Creating content of the type "Category view"</span></a></li>
<li><a href="#170"><span>3.2.</span><span> Designing the content</span></a>
<ul class="sectlevel3">
<li><a href="#180"><span>3.2.1.</span><span> Adding filters to the toolbar</span></a></li>
<li><a href="#190"><span>3.2.2.</span><span> Adding filters to the sidebar</span></a></li>
<li><a href="#200"><span>3.2.3.</span><span> Optional: Renaming texts</span></a></li>
</ul>
</li>
<li><a href="#210"><span>3.3.</span><span> Activating the content</span></a></li>
<li><a href="#220"><span>3.4.</span><span> Checking the result in the online store</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Search filters in the webshop</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Some online shop visitors know exactly what they’re looking for.
For example, imagine you sell shoes.
A customer searches for black Nike shoes that cost less than €150.
Online shop visitors can use search filters to limit which products they see.
The more products a shop category includes, the more important search filters are.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Filters or facets?</div>
<div class="paragraph">
<p>In plentymarkets, search filters are also called <em>facets</em>.
Don’t get confused if someone talks about the so-called <em>faceted search</em>.
This refers to the search filters in the online shop.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h3 id="_procedure" class="discrete">Procedure</h3>
<div class="paragraph">
<p>This function is configured in several different steps:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/frontend-item-search#10">Create the necessary filters</a>.</p>
</li>
<li>
<p><a href="/en/item/frontend-item-search#120">Specify which webshop the filters should appear in</a>.</p>
</li>
<li>
<p><a href="/en/item/frontend-item-search#150">Design the appearance in the webshop</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Creating and editing filters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, create all of the necessary filters.
For example, if customers should be able to search for black Nike shoes that cost less than €150, then you’ll need to create the filters “Colour”, “Brand” and “Price range”.</p>
</div>
<div class="paragraph">
<p>You can <a href="/en/item/frontend-item-search#20">manually</a> create and edit filters or you can <a href="/en/item/frontend-item-search#80">import</a> filters with the help of a CSV file.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Manual procedure</h3>
<div class="sect3">
<h4 id="30">1.1.1. Creating new filters</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New</strong>.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-new-facet">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The filter is created and opened for editing.
Depending on which type of filter you chose, you’ll see some or all of the tabs explained further below.</p>
</li>
</ol>
</div>
<table id="table-new-facet" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating new filters</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (English)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the filter.
This name is displayed in the English language version of your webshop.
In other words, the name is visible to customers.</p>
<p class="tableblock"><strong><em>Other language versions</em></strong>: Is your store also available in other languages?
Once you’ve created the filter, you’ll be able to <a href="/en/item/frontend-item-search#50">save the name in other languages</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What sort of filter do you want to create?
Allow your customers to filter products by the following criteria:
attribute, characteristic, property, brand name, availability, price range.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This setting can not be changed once you’ve created the filter.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute/characteristic</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This type can be used for many different scenarios.
The filter is linked to the attributes, characteristics or properties in your system.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>: Choose this type if you want to create the filter “Colour” or “Size”.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This type of filter is linked to the manufacturers in your system.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>: Choose this type if you want to create the filter “Brand name”.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This type of filter is linked to the availabilities in your system.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>: Choose this type if you want customers to filter for items that ship within 24 hours.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You do <em>not</em> need to link this type of filter with values.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>: Choose this type if you want to create the filter “Price range”.
Webshop visitors can individually limit the filter from the lowest to the highest price of a category.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Where should the filter appear in the webshop?
In other words, which filter should be displayed first, second, third, etc?
Enter the position number here.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="40">1.1.2. Tab: Settings</h4>
<div class="paragraph">
<p>Here you can configure additional settings for the filter.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet and click on <strong>Tab: Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-edit-facet-settings">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-edit-facet-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Additional settings for the filter</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you’ll see whichever type you selected <a href="/en/item/frontend-item-search#30">while creating the filter</a>.
The type cannot be changed.
If you accidentally created the wrong type, then you’ll need to delete the filter and create a new one.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong><br>
(Invisible for type "Price")</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">How should the values be sorted within the filter?</p>
<p class="tableblock"><strong><em>Example</em></strong>: If you’re creating the filter “Brand name”, then you could sort the individual brands alphabetically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you’ll see the position number that you entered <a href="/en/item/frontend-item-search#30">while creating the filter</a>.
You can change the position number if needed.
The position number specifies where the filter should appear in the webshop.
In other words, which filter should be displayed first, second, third, etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CSS class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option currently has no function.
Enter a CSS name.
In the future, it will be possible to design the filter with CSS.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection type</strong><br>
(Invisible for type "Price")</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What should happen when customers select multiple filter criteria? Should they see products that fulfil <em>all of these criteria</em> or <em>any one of the criteria</em>?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Restricting</strong> = Products will only be displayed if they fulfil <em>all of the selected criteria</em>.
For example, imagine you sell grills.
Webshop visitors should be able to filter for grills that have a warming rack <em>and</em> a lid <em>and</em> a temperature gauge.
The results only include products that have all three functions.</p>
</li>
<li>
<p><strong>Multiple</strong> = Products will be displayed if they fulfil <em>one of the selected criteria</em>.
For example, imagine you sell grills.
Webshop visitors should be able to filter for grills that were manufactured by the company Weber <em>or</em> Tefal <em>or</em> Coleman.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum number of hits</strong><br>
(Invisible for type "Price")</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Will customers be disappointed if they filter products (e.g. the brand “Nike”) and only get a few results?
In this case, it makes sense to save a minimum number of hits.</p>
<p class="tableblock">Enter a number into the field.
This is the minimum number of results that a filter value must have, in order for it to be displayed in the online shop.Filter values will automatically be invisible in the online shop if they do not return the minimum number of results.</p>
<p class="tableblock"><strong><em>Filter vs. filter value</em></strong>:
In the example above, the filter would be “Brand”.
The filter could have values like “Nike”, “Adidas” and “Puma”.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum number of facet values shown</strong><br>
(Invisible for type "Price")</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">How many values should be displayed within a filter at maximum?
Enter a number into the field.</p>
<p class="tableblock"><strong><em>Example</em></strong>: Imagine you’ve created a filter “Brand” with 30 different values like “Nike”, “Adidas”, “Puma” etc.
If you enter the number 10 here, then only 10 of the 30 brand names will be displayed in the filter.</p>
<p class="tableblock"><strong><em>Note</em></strong>: A maximum of 250 values can be displayed per filter.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="50">1.1.3. Tab: Name</h4>
<div class="paragraph">
<p>You already entered an English name <a href="/en/item/frontend-item-search#30">while creating the filter</a>.
This name is displayed in the English language version of your webshop. In other words, the name is visible to customers.
But what should you do if your store is also available in other languages?
In this tab, you can save names in other languages.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet and click on <strong>Tab: Name</strong>.</p>
</li>
<li>
<p>Enter translations for every language version of your webshop.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="60">1.1.4. Tab: Values</h4>
<div class="paragraph">
<p>Here you’ll create the individual values within the filter.
For example, if you’re creating the filter “Colour”, then you’ll need values like “Blue”, “Red” and “Black”.
There are two steps to the process:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/frontend-item-search#63">Create</a> the necessary values.</p>
</li>
<li>
<p><a href="/en/item/frontend-item-search#66">Link</a> these values to existing data in your system, i.e. to existing attributes, characteristics, properties, manufacturers or availabilities.</p>
</li>
</ul>
</div>
<h5 id="63" class="discrete">Creating values</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet and click on <strong>Tab: Values</strong>.</p>
</li>
<li>
<p>Click on <strong>Add new value</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>) in the lower left corner.<br>
→ The <strong>Create new value</strong> window opens.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the value in the system’s language.</p>
</li>
<li>
<p>Enter a <strong>position</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The value is created.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: In the <strong>Name</strong> tab, enter translations for the name of the value.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: In the <strong>Settings</strong> tab, enter a CSS class.</p>
</li>
</ol>
</div>
<h5 id="66" class="discrete">Linking values</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet and click on <strong>Tab: Values</strong>.</p>
</li>
<li>
<p>Open the value and click on <strong>Tab: Link</strong>.</p>
</li>
<li>
<p>Click on the back end value.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Link</strong> in the bottom left corner.<br>
→ The back end value is linked to the facet’s value.</p>
</li>
<li>
<p>Repeat the process to link as many other values as needed.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/linking-values.gif" alt="linking values">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Should I link multiple values?</div>
<div class="paragraph">
<p>Imagine you sell t-shirts in all different colours such as “light blue”, “dark blue” and “turquoise”.
You want all three colours to be found with the blue colour filter.
In this case, you’ll need to link all three back end values to the facet value.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Do I need to link items to the filter?</div>
<div class="paragraph">
<p>No.
It’s not necessary to directly link items to the filter.
Your items will automatically be assigned to the appropriate filters.
How?
When linking the filter to back end values, the filter is <em>also</em> automatically linked to all of the items that have this back end value.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="70">1.1.5. Tab: Images</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> This tab currently has no function.</p>
</div>
<div class="paragraph">
<p>Here you can save optional images for the individual filter values.
For example, imagine you’ve created the filter “Colour” with the values “Blue”, “Red” and “Black”.
You want customers to see <em>colour tiles</em> in the online shop, rather than colour names.
There are two steps to the process:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/frontend-item-search#73">Upload the necessary images</a>.</p>
</li>
<li>
<p><a href="/en/item/frontend-item-search#76">Link these images with your filter values</a>.</p>
</li>
</ul>
</div>
<h5 id="73" class="discrete">Uploading images</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet and click on <strong>Tab: Images</strong>.</p>
</li>
<li>
<p>Add images by clicking on the <span class="icon purple"><i class="psicon-upload"></i></span> <strong>Upload files</strong> button or by dragging and dropping them into the tab.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<h5 id="76" class="discrete">Linking images</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet and click on <strong>Tab: Images</strong>.</p>
</li>
<li>
<p>Move your mouse cursor over an image.<br>
→ You’ll see a drop-down list with values at the bottom of the image.</p>
</li>
<li>
<p>Choose the appropriate value from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The image is linked with this value. It is displayed with a red frame.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Number of links</div>
<div class="ulist">
<ul>
<li>
<p>Each image can only be linked to one value.</p>
</li>
<li>
<p>It is not possible to link multiple images to the same value.
Previously linked values are greyed out.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Additional setting: Make images available</div>
<div class="paragraph">
<p><a href="/en/item/frontend-item-search#120">In a later step</a>, you’ll click on the option <strong>Make images available</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to display the linked images in the online shop.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="80">1.2. Data import</h3>
<div class="paragraph">
<p>plentymarkets has an import tool.
The idea is simple.
Rather than manually saving filter information in plentymarkets, you’ll enter the same information into a CSV file and then import this file into your system.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Requirements</div>
<div class="paragraph">
<p>These instructions assume that you already:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/data/importing-data/ElasticSync">have a basic understanding of the import tool</a>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="90">1.2.1. Practical example: Importing new facets</h4>
<div class="openblock collapseBox">
<div class="title"><strong>Initial situation</strong></div>
<div class="content">
<div class="paragraph">
<p>Imagine you sell shoes in your online shop.
For example, if customers should be able to search for black Nike shoes, then you’ll need to create the filters “Colour” and “Brand”.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/best-practice-facets-initial-situation.png" alt="best practice facets initial situation">
</div>
</div>
<h5 id="_what_about_a_price_filter" class="discrete">What about a price filter?</h5>
<div class="paragraph">
<p>Very few settings need to be configured for the price filter.
You’ll probably be quicker if you <a href="/en/item/frontend-item-search#20">manually create the price filter</a>.
For this reason, the price filter is not discussed further on this page.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Setting up the CSV file</strong></div>
<div class="content">
<h4 id="_filters" class="discrete">Filters</h4>
<div class="paragraph">
<p>First, transfer the filters into a CSV file.
This is the file that you’ll import into plentymarkets later.
In our example, the filters would look like this in the CSV file:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/best-practice-facets-filters.png" alt="best practice facets filters">
</div>
</div>
<div class="paragraph">
<p>You are free to choose any names for the column headers.
In this example, I’ve put the following filter information in the columns:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong> = The name of the filter, as it should be displayed in the online shop.</p>
</li>
<li>
<p><strong>Type</strong> = What sort of facet do you want to create?
Enter the type into the CSV file.
This setting can not be changed once you’ve created the facet.
<a href="/en/data/importing-data/sync-types/elasticSync-facets#70">Further information about the type</a>.</p>
</li>
<li>
<p><strong>Sorting</strong> = How should the values be sorted within the facet?
For example, if you’re creating the facet “Brand name”, then you could sort the individual brands alphabetically.
Enter your preferred sorting method into the CSV file.
<a href="/en/data/importing-data/sync-types/elasticSync-facets#60">Further information about the sorting method</a>.</p>
</li>
<li>
<p><strong>SelectionType</strong> = What should happen when customers select multiple filter criteria? Should they see products that fulfil <em>all of these criteria</em> or <em>any one of the criteria</em>?
Enter your preferred selection type into the CSV file.
<a href="/en/data/importing-data/sync-types/elasticSync-facets#100">Further information about the selection type</a>.</p>
</li>
</ul>
</div>
<h4 id="_filter_values" class="discrete">Filter values</h4>
<div class="paragraph">
<p>Now add the individual values to the filter.
For example, if you’re creating the filter “Colour”, then you’ll need values like “Blue”, “Red” and “Black”.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/best-practice-facets-filtervalues.png" alt="best practice facets filtervalues">
</div>
</div>
<h4 id="_linking_filter_values" class="discrete">Linking filter values</h4>
<div class="paragraph">
<p>Finally, link each filter value to existing data in your system, i.e. to existing attributes, characteristics, properties, manufacturers or availabilities.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/best-practice-facets-filtervaluelinks.png" alt="best practice facets filtervaluelinks">
</div>
</div>
<div class="paragraph">
<p>The link consists of two pieces of information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>LinkType</strong> = What <em>sort of back end information</em> do you want to link the facet value to?
Enter the appropriate type into the CSV file.
<a href="/en/data/importing-data/sync-types/elasticSync-facets#190">Further information about the link type</a>.</p>
</li>
<li>
<p><strong>LinkID</strong> = What <em>specific piece of back end information</em> do you want to link the facet value to?
Enter the ID of the back end information into the CSV file.
<a href="/en/data/importing-data/sync-types/elasticSync-facets#200">Further information about the ID</a>.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Choosing the sync settings</strong></div>
<div class="content">
<div class="paragraph">
<p><a href="/en/data/importing-data/ElasticSync#1210">Create a new sync</a>.
Most of the settings can be chosen freely.
However, since you want to import <em>facet data</em>, make sure you’ve set the <strong>Type</strong> to <strong>Facet</strong>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Choosing the matching settings</strong></div>
<div class="content">
<div class="paragraph">
<p>During the import, plentymarkets will check whether the facet already exists.
This is done with the help of a so-called matching field.</p>
</div>
<div class="paragraph">
<p>Since we want to import <em>new facets</em> in this example, configure the settings as follows.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facet name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the facet name? Choose this column here.
This option is useful if you want to <em>create new facets</em>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import options</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Since you’ll be importing new facets, choose the option <strong>Only import new data</strong> or <strong>Import new, update existing data</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Choosing the mapping settings</strong></div>
<div class="content">
<div class="paragraph">
<p>Your CSV file is already filled with a bunch of facet information.
Now you’ll decide <em>where in plentymarkets</em> each piece of information should appear when you import the file.
<a href="/en/data/importing-data/sync-types/elasticSync-facets#20">Take a look at this page</a> while you map the columns of your CSV file to the fields in plentymarkets.
In this example, I’ve configured the settings as follows.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/best-practice-facets-mapping.png" alt="best practice facets mapping">
</div>
</div>
<div class="paragraph">
<p>I created the filters by:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>mapping the <strong>Name</strong> column of my CSV file with the <strong>Facet name / Name</strong> data field in plentymarkets.</p>
</li>
<li>
<p>mapping the <strong>Type</strong> column of my CSV file with the <strong>Facet / Type</strong> data field in plentymarkets.</p>
</li>
<li>
<p>mapping the <strong>Sorting</strong> column of my CSV file with the <strong>Facet / Sorting</strong> data field in plentymarkets.</p>
</li>
<li>
<p>mapping the <strong>SelectionType</strong> column of my CSV file with the <strong>Facet / Selection type</strong> data field in plentymarkets.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>I created the filter values by:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>mapping the <strong>*ValueName</strong> column of my CSV file with the <strong>Facet value name / Name</strong> data field in plentymarkets.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>I created the links by:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>mapping the <strong>LinkType</strong> column of my CSV file with the <strong>Link / Type</strong> data field in plentymarkets.</p>
</li>
<li>
<p>mapping the <strong>LinkID</strong> column of my CSV file with the <strong>Link / Value ID</strong> data field in plentymarkets.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Did it work?</strong></div>
<div class="content">
<div class="paragraph">
<p>Ready to import your filters?
Start the sync and check whether the data was correctly imported into plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Starting the sync and checking the result:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Activate the lines that should be imported (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Test the sync (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) or start the sync (<span class="icon darkGrey"><i class="fa fa-play-circle-o  "></i></span>).<br>
<strong><em>Note:</em></strong> This can take a few minutes.</p>
</li>
<li>
<p>Go to <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open a few filters to check their settings and values.</p>
</li>
</ol>
</div>
<h5 id="_do_a_trial_run" class="discrete">Do a trial run</h5>
<div class="paragraph">
<p>We recommend testing the sync (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) before you start it for the first time.
This imports the first 10 rows of the file and bypasses the cache.
It gives you time to check whether the sync works correctly. If the sync does not perform as expected, you can correct it before importing the entire file.</p>
</div>
<h5 id="_resetting_the_cache" class="discrete">Resetting the cache</h5>
<div class="paragraph">
<p>Directly within the sync, you’ll find the button <strong>Reset cache</strong> (<span class="icon "><i class="psicon-reload"></i></span>).
This button allows you to reset the sync cache in order to reimport a file that does not contain any changes.</p>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="100">1.2.2. Directory of matching and mapping fields</h4>
<div class="openblock collapseBox">
<div class="title"><strong>Matching fields</strong></div>
<div class="content">
<div class="paragraph">
<p>The table explains the fields that are available for matching facet data.
During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facet ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the facet IDs? Choose this column here.
This option is useful if you want to <em>update existing facets</em>.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: Every new facet automatically receives an ID, which can not be changed.
The ID is used to uniquely identify the facet.
Because the ID is unique, it’s a good way to check whether the imported data record already exists in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facet value ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the facet value IDs? Choose this column here.
This option is useful if you want to <em>update existing facet values</em>.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: Every new facet value automatically receives an ID, which can not be changed.
The ID is used to uniquely identify the facet value.
Because the ID is unique, it’s a good way to check whether the imported data record already exists in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facet name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the facet name? Choose this column here.
This option is useful if you want to <em>create new facets</em>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facet value name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the facet value name? Choose this column here.
This option is useful if you want to <em>create new facet values</em>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Mapping fields</strong></div>
<div class="content">
<h3 id="_facet" class="discrete">Facet</h3>
<h4 id="_css_class" class="discrete">CSS class</h4>
<div class="paragraph">
<p>Enter a CSS name into the CSV file.
This option currently has no function.
In the future, it will be possible to design the facet with CSS.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#40">Setup » Client » Settings » Services » Faceted search » Tab: Settings » Entry field: CSS class</a></p>
</div>
<hr>
<h4 id="_position" class="discrete">Position</h4>
<div class="paragraph">
<p>Where should the facet appear in the webshop?
In other words, which facet should be displayed first, second, third, etc?
Enter the position number in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>1</code></p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#40">Setup » Client » Settings » Services » Faceted search » Tab: Settings » Entry field: Position</a></p>
</div>
<hr>
<h4 id="_sorting" class="discrete">Sorting</h4>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Not relevant for the type "Price"</p>
</div>
<div class="paragraph">
<p>How should the values be sorted within the facet?
For example, if you’re creating the facet “Brand name”, then you could sort the individual brands alphabetically.</p>
</div>
<div class="paragraph">
<p>Enter your preferred sorting method into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>position</code></p>
</div>
<table id="table-mapping-facets-sorting" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>rate</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hit rate</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>position</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>a_z</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A-Z</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#40">Setup » Client » Settings » Services » Faceted search » Tab: Settings » Drop-down list: Sorting</a></p>
</div>
<hr>
<h4 id="_type" class="discrete">Type</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for creating new facets.</p>
</div>
<div class="paragraph">
<p>What sort of facet do you want to create?
Allow your customers to filter products by the following criteria: attribute, characteristic, property, brand name, availability, price range.</p>
</div>
<div class="paragraph">
<p>Enter the appropriate type into the CSV file.
This setting can not be changed once you’ve created the facet.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<table id="table-mapping-facets-type" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>dynamic</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute/characteristic</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This type can be used for many different scenarios.
The filter is linked to the attributes, characteristics or properties in your system.
Example: Choose this type if you want to create the filter “Colour” or “Size”.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>producer</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This type of filter is linked to the manufacturers in your system.
Example: Choose this type if you want to create the filter “Brand name”.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>price</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You do <em>not</em> need to link this type of filter with values.
Example: Choose this type if you want to create the filter “Price range”.
Webshop visitors can individually limit the filter from the lowest to the highest price of a category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>availability</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This type of filter is linked to the availabilities in your system.
Example: Choose this type if you want customers to filter for items that ship within 24 hours.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#40">Setup » Client » Settings » Services » Faceted search » Tab: Settings » Field: Type</a></p>
</div>
<hr>
<h4 id="_minimum_number_of_hits" class="discrete">Minimum number of hits</h4>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Not relevant for the type "Price"</p>
</div>
<div class="paragraph">
<p>Enter a number into the CSV file.
This is the minimum number of results that a facet value must have, in order for it to be displayed in the online shop.
Facet values will automatically be invisible in the online shop if they do not return the minimum number of results.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>1</code></p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#40">Setup » Client » Settings » Services » Faceted search » Tab: Settings » Entry field: Minimum number of hits</a></p>
</div>
<hr>
<h4 id="_maximum_number_of_facet_values_shown" class="discrete">Maximum number of facet values shown</h4>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Not relevant for the type "Price"</p>
</div>
<div class="paragraph">
<p>How many values should be displayed within a facet at maximum?
Enter a number into the CSV file.
A maximum of 250 values can be displayed per facet.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>50</code></p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#40">Setup » Client » Settings » Services » Faceted search » Tab: Settings » Entry field: Maximum number of facet values shown</a></p>
</div>
<hr>
<h4 id="_selection_type" class="discrete">Selection type</h4>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Not relevant for the type "Price"</p>
</div>
<div class="paragraph">
<p>What should happen when customers select multiple filter criteria? Should they see products that fulfil <em>all of these criteria</em> or <em>any one of the criteria</em>?</p>
</div>
<div class="paragraph">
<p>Enter your preferred selection type into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>restrict</code></p>
</div>
<table id="table-mapping-facets-selectiontype" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>restrict</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restricting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Products will only be displayed if they fulfil <em>all of the selected criteria</em>.
For example, imagine you sell grills.
Webshop visitors should be able to filter for grills that have a warming rack <em>and</em> a lid <em>and</em> a temperature gauge.
The results only include products that have all three functions.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>multi</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multiple</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Products will be displayed if they fulfil <em>one of the selected criteria</em>.
For example, imagine you sell grills.
Webshop visitors should be able to filter for grills that were manufactured by the company Weber <em>or</em> Tefal <em>or</em> Coleman.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#40">Setup » Client » Settings » Services » Faceted search » Tab: Settings » Drop-down list: Selection type</a></p>
</div>
<hr>
<h4 id="_delete_facet" class="discrete">Delete facet</h4>
<div class="paragraph">
<p>Do you want to delete the facet?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-facets-delete-facet" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facet will <em>not</em> be deleted</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facet will be deleted</p></td>
</tr>
</tbody>
</table>
<hr>
<h3 id="_facet_name" class="discrete">Facet name</h3>
<h4 id="_name" class="discrete">Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for creating new facets</p>
</div>
<div class="paragraph">
<p>Enter a name for the facet in the CSV file.
This name is displayed in the online shop.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down list to select the language.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#50">Setup » Client » Settings » Services » Faceted search » Tab: Name</a></p>
</div>
<hr>
<h3 id="_facet_value" class="discrete">Facet value</h3>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Not relevant for the type "Price"</p>
</div>
<h4 id="_css_class_2" class="discrete">CSS class</h4>
<div class="paragraph">
<p>Enter a CSS name into the CSV file.
This option currently has no function.
In the future, it will be possible to design the facet value with CSS.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#60">Setup » Client » Settings » Services » Faceted search » Tab: Values » Tab: Settings » Entry field: CSS class</a></p>
</div>
<hr>
<h4 id="_position_2" class="discrete">Position</h4>
<div class="paragraph">
<p>Where should the facet value appear in the webshop?
In other words, which facet value should be displayed first, second, third, etc?
Enter the position number in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>1</code></p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#60">Setup » Client » Settings » Services » Faceted search » Tab: Values » Tab: Settings » Entry field: Position</a></p>
</div>
<hr>
<h4 id="_delete_facet_value" class="discrete">Delete facet value</h4>
<div class="paragraph">
<p>Do you want to delete the facet value?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-facets-delete-facetvalue" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facet value will <em>not</em> be deleted</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facet value will be deleted</p></td>
</tr>
</tbody>
</table>
<hr>
<h3 id="_facet_value_name" class="discrete">Facet value name</h3>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Not relevant for the type "Price"</p>
</div>
<h4 id="_name_2" class="discrete">Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for creating new facet values</p>
</div>
<div class="paragraph">
<p>Enter a name for the facet value in the CSV file.
This name is displayed in the online shop.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down list to select the language.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#60">Setup » Client » Settings » Services » Faceted search » Tab: Values » Tab: Name</a></p>
</div>
<hr>
<h3 id="_link" class="discrete">Link</h3>
<div class="paragraph">
<p><span class="icon blue"><i class="fa fa-exclamation-circle  "></i></span> Not relevant for the type "Price"</p>
</div>
<h4 id="_type_2" class="discrete">Type</h4>
<div class="paragraph">
<p>What <em>sort of back end information</em> do you want to link the facet value to?
Enter the appropriate type into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<table id="table-mapping-facets-link-type" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>character</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>property</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Property</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>attribute</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>availability</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>producer</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#60">Setup » Client » Settings » Services » Faceted search » Tab: Values » Tab: Link</a></p>
</div>
<hr>
<h4 id="_value_id" class="discrete">Value ID</h4>
<div class="paragraph">
<p>What <em>specific piece of back end information</em> do you want to link the facet value to?
Enter the ID of the back end information into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/frontend-item-search#60">Setup » Client » Settings » Services » Faceted search » Tab: Values » Tab: Link</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Where can I look up the IDs?</div>
<div class="ulist">
<ul>
<li>
<p>Setup » Item » Characteristics</p>
</li>
<li>
<p>Setup » Settings » Properties » Configuration</p>
</li>
<li>
<p>Setup » Item » Attributes » [Open attribute] » Tab: Values</p>
</li>
<li>
<p>Setup » Item » Availability</p>
</li>
<li>
<p>Setup » Item » Manufacturers</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<hr>
<h4 id="_delete_link" class="discrete">Delete link</h4>
<div class="paragraph">
<p>Do you want to delete the link?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-facets-delete-link" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Link will <em>not</em> be deleted</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Link will be deleted</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">2. Online shop search settings</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="120">2.1. Which shops should the filters appear in?</h3>
<div class="paragraph">
<p>Once you’ve created the filters, you’ll need to specify which online shops they should be available in.
This is done by linking the filters to a client.
Decide which filters are relevant for each client and which ones are not.
Changes that you make will go into effect in real time.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Price filter</div>
<div class="paragraph">
<p>Only one price filter can be linked per client.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Linking the filters with a client:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » Services » Facet links</strong>.</p>
</li>
<li>
<p>In the list on the left, click on whichever filter should appear in the online shop.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Link facet</strong> in the bottom left corner.<br>
→ The filter is added to the overview on the right.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Did you <a href="/en/item/frontend-item-search#70">upload images for the filter</a>?
Select the option <strong>Make images available</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to display the images in the online shop.</p>
</li>
<li>
<p>Repeat this process for all of the other filters that should also be linked.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="130">2.2. Optional: Which item data should be considered?</h3>
<div class="paragraph">
<p>You decide <em>which item data</em> is relevant to the search function.
During a search, only the item data that you selected will be queried.
You also decide <em>how heavily weighted</em> each piece of item data should be.
The higher the number entered, the higher the item data field will be prioritised in the search result.</p>
</div>
<div class="paragraph instruction">
<p>Choosing and prioritising item data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Frontend » Search settings</strong>.</p>
</li>
<li>
<p>Activate the item data fields (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) that should be included in the search results and search suggestions.</p>
</li>
<li>
<p>If needed, enter a value into the <strong>Boost</strong> column.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Which boost value should I enter?</div>
<div class="paragraph">
<p>You can enter any number as a boost value.
The default settings are appropriate in most cases.
These default settings prioritise the variation ID and the item ID.
So if someone searches for a number in your store, then the search results will give priority to these ID fields.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">What’s the difference between search results and search suggestions?</div>
<div class="ulist">
<ul>
<li>
<p>Search results are the items or categories that match the search term.</p>
</li>
<li>
<p>Search suggestions are similar words to whatever terms the customer entered.
Search suggestions help customers find what they’re looking for, even if they enter vague or misspelled text.
"Did you mean…​"?</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: If you activate an item data field for the search suggestions on the right, then the field will automatically be activated for the search results on the left too. Why? Otherwise you would be suggesting customers to use a search term that doesn’t deliver any results.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">2.3. Optional: Changing languages</h3>
<div class="paragraph">
<p>The search function can be activated for up to three languages.
The languages German, English and French are activated by default.
If you run online stores in other languages, you can select different languages.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Search index is completely rebuilt after any changes</div>
<div class="paragraph">
<p>If you change the language settings, the search index is completely rebuilt.
That means that all items are added to the index again from scratch.
Depending on how many items you have, this process can take several days.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Changing the languages:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Frontend » Languages</strong>.</p>
</li>
<li>
<p>Activate or deactivate languages as needed (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).<br>
<strong><em>Note</em></strong>: Only three languages can be activated per system at the same time.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The items are added to the search index for the activated languages.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="150">3. Displaying filters in the online shop</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="160">3.1. Creating content of the type "Category view"</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Click on a grey item category on the left.<br>
<strong><em>Note</em></strong>: Filters are not compatible with the yellow content categories.</p>
</li>
<li>
<p>Click on the tile <strong>New</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ The <strong>Create new content</strong> window opens.</p>
</li>
<li>
<p>Select the type <strong>Category view</strong>.</p>
</li>
<li>
<p>Enter a name and choose a preset if desired.</p>
</li>
<li>
<p>Save the settings.<br>
→ The new content will be displayed as a tile.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/content-category-view.png" alt="content category view">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Preset: pro and con</div>
<div class="paragraph">
<p>We provide a template, which you can modify and adapt to your product portfolio as needed.
Of course, you can also work without a template if you would prefer to design the view from scratch.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="170">3.2. Designing the content</h3>
<div class="sect3">
<h4 id="180">3.2.1. Adding filters to the toolbar</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Open the <a href="/en/item/frontend-item-search#160">"Category view" content</a>.</p>
</li>
<li>
<p>Insert the widget <strong>Item category » Toolbar</strong> if it’s not already included in your category view.</p>
</li>
<li>
<p>Click on <strong>Filter</strong> to open the area for filter widgets (see GIF).</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Insert a grid with multiple columns.</p>
</li>
<li>
<p>Insert some or all of the following widgets:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Item category » Filter for attributes, properties and characteristics</strong></p>
</li>
<li>
<p><strong>Item category » Availability filter</strong></p>
</li>
<li>
<p><strong>Item category » Price filter</strong></p>
</li>
<li>
<p><strong>Item category » Category filter</strong></p>
</li>
<li>
<p><strong>Item category » Manufacturer filter</strong></p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> for each of the widgets and customise the settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/filter-toolbar.gif" alt="filter toolbar">
</div>
</div>
</div>
<div class="sect3">
<h4 id="190">3.2.2. Adding filters to the sidebar</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Open the <a href="/en/item/frontend-item-search#160">"Category view" content</a>.</p>
</li>
<li>
<p>Use structure widgets to create a sidebar. For example:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Insert the widget <strong>Structure » Two column grid</strong>.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> and select the layout ratio <strong>25% : 75%</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Insert some or all of the following widgets into the left column:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Item category » Filter for attributes, properties and characteristics</strong></p>
</li>
<li>
<p><strong>Item category » Availability filter</strong></p>
</li>
<li>
<p><strong>Item category » Price filter</strong></p>
</li>
<li>
<p><strong>Item category » Category filter</strong></p>
</li>
<li>
<p><strong>Item category » Manufacturer filter</strong></p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> for each of the widgets and customise the settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/filter-sidebar.gif" alt="filter sidebar">
</div>
</div>
</div>
<div class="sect3">
<h4 id="200">3.2.3. Optional: Renaming texts</h4>
<div class="paragraph">
<p>You can change the texts in the webshop to meet your needs.
For example, you could change the text in the toolbar from "Filter" to "Refine search".</p>
</div>
<div class="paragraph instruction">
<p>Renaming texts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Multilingualism</strong>.</p>
</li>
<li>
<p>Choose a source language and a target language from the drop-down lists.<br>
<strong><em>Note</em></strong>: You can select the same language from both lists.</p>
</li>
<li>
<p>Expand the area <strong>Ceres » Item</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Rename the text on the right side.<br>
<strong><em>Example</em></strong>: Find the field <strong>ITEMFILTER</strong> and change the text from "Filter" to "Refine search".</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p><a href="/en/welcome/quick-start/quick-start-online-store#270">Deploy the Ceres plugin</a> to apply the changes.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="210">3.3. Activating the content</h3>
<div class="paragraph">
<p>In order for the content to be displayed in the online store, it needs to be activated.
Active contents are highlighted in blue.</p>
</div>
<div class="paragraph instruction">
<p>Activating contents:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Click on the appropriate category.</p>
</li>
<li>
<p>Move your cursor over the content tile that should be activated.</p>
</li>
<li>
<p>Click on <strong>Activate</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>).<br>
→ The content is activated and is now highlighted in blue.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Only activate one content of the same type</div>
<div class="paragraph">
<p>Within a grey item category, you can create many different contents of the type <strong>Category view</strong>.
The contents can be activated or deactivated as needed.
For example, this allows you to create different pages for each season of the year.
However, only one content of the type "Category view" can be activated simultaneously.
Activating one content automatically deactivates another content of the same type.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="220">3.4. Checking the result in the online store</h3>
<div class="paragraph">
<p>Click on <strong>Preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>) and check what the search filters look like in your online shop.
Change the appearance as needed.
Are you happy with the result?
Then <a href="/en/welcome/quick-start/quick-start-online-store#270">deploy the Ceres plugin</a> to apply the changes.</p>
</div>
</div>
</div>
</div>
</main>