<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information"><span>1.</span><span> General information</span></a></li>
<li><a href="#_registering_with_addressdoctor"><span>2.</span><span> Registering with AddressDoctor</span></a></li>
<li><a href="#_setting_up_addressdoctor_in_plentymarkets"><span>3.</span><span> Setting up AddressDoctor in plentymarkets</span></a></li>
<li><a href="#_css"><span>4.</span><span> CSS</span></a></li>
<li><a href="#_address_validation"><span>5.</span><span> Address validation</span></a></li>
<li><a href="#_address_validation_settings"><span>6.</span><span> Address validation settings</span></a></li>
<li><a href="#_practical_examples"><span>7.</span><span> Practical examples</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>AddressDoctor</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Client » Select client » Services » AddressDoctor</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information">1. General information</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>AddressDoctor</strong> is an address verification software. It automatically corrects and standardizes postal addresses worldwide - no matter if your data is captured in a CRM or online shop, or stored in a database. (Source: AddressDoctor)</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_registering_with_addressdoctor">2. Registering with AddressDoctor</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You first need to <em>*register*</em> with AddressDoctor in order to use it in plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">AddressDoctor info</div>
<div class="paragraph">
<p>Visit the <a href="http://www.addressdoctor.com/" target="_blank" rel="noopener">website</a> for further information about the <strong>AddressDoctor</strong> products that can be used in plentymarkets and for information about the <em>*registration*</em> process in general.<br>
Contact Dr. Rainer Burkart in case you have any questions:<br>
<strong>Tel.</strong>: +49 6237-9774-36<br>
<strong>E-mail</strong>: <a href="mailto:RainerB@AddressDoctor.com">RainerB@AddressDoctor.com</a></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_addressdoctor_in_plentymarkets">3. Setting up AddressDoctor in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The AddressDoctor menu is divided into two submenus. The <strong>Access data</strong> submenu is only used for activating the interface. In order for addresses to be validated, you also need to carry out settings in the <strong>Address validation</strong> submenu.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-External-Services-AddressDoc-01-.png" alt="EN Settings Client Standard External Services AddressDoc 01 ">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: *AddressDoctor access data*</em></p>
</div>
<div class="paragraph instruction">
<p>Setting up AddressDoctor:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » Addressdoctor » Access data</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following table explains the settings in the <strong>Access data</strong> submenu:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a check mark to activate the interface.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>User ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the <strong>User ID</strong> that you received from AddressDoctor.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Department ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the <strong>Department ID</strong> that you received from AddressDoctor.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Password</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the <strong>password</strong> that you received from AddressDoctor.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: *AddressDoctor access data*</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_css">4. CSS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to use the AddressDoctor functions, then you will need a <em>*layout*</em> that is able to display the functions in your online store.</p>
</div>
<div class="paragraph">
<p>You can use the following <em>*CSS example*</em>. However, you should be sure to make changes to it as needed so that it matches the configuration of your online store. The example provides you with a good starting point.</p>
</div>
<div class="listingblock">
<div class="content">
<pre>/* ADDRESS SUGGESTION LIST */

/* container */
.PlenyWebAddressSelectContainer {
z-index: 10000;
background-color: #fff;
border: 1px solid #ccc;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

/* ul */
.PlenyWebAddressSelectList {
margin: 0;
padding: 0;
}
/* li */
#PlentyWebAddressSelectMainContainer &gt; .PlenyWebAddressSelectContainer &gt; ul.PlenyWebAddressSelectList &gt; li.PlenyWebAddressSelectRow {
margin: 0;
padding: 0 5px;
list-style-type: none;
cursor: pointer;
border-top: 1px solid #f0f0f0;
}
/* li first */
.PlenyWebAddressSelectList &gt; li:first-child {
border-top: none;

-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
}
/* li last */
.PlenyWebAddressSelectList &gt; li:last-child {
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
}
/* li hover */
.PlenyWebAddressSelectList &gt; li:hover {
background-color: #eee;
}

/* address data */
.PlenyWebAddressSelectStreet {
}
.PlenyWebAddressSelectHouseNo {
padding-left: 5px;
}
.PlenyWebAddressSelectHouseNo:after {
content: ",";
}
.PlenyWebAddressSelectZip {
padding-left: 5px;
}
.PlenyWebAddressSelectCity {
padding-left: 5px;
}</pre>
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Insert into CSSContent</div>
<div class="paragraph">
<p>Go to <strong>CMS » Web design » Layout » CSS » CSSContent</strong>. Insert the code underneath any existing code.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_address_validation">5. Address validation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can either use this function to <em>*validate*</em> your customers' <em>*addresses*</em> while they are being entered or once the customer has saved his or her data. You must have set up and activated the <strong>AddressDoctor</strong> interface in order for addresses to be validated. Detailed information about AdressDoctor and about the prices for validating addresses can be found directly on the <a href="http://www.addressdoctor.com/en/adress-management-loesungen/online-shops-e-commerce/online-shops-e-commerce.html" target="_blank" rel="noopener">AddressDoctor</a> website.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_address_validation_settings">6. Address validation settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this menu, you can specify which address should be validated and when this validation should take place.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-External-Services-AddressDoc-02-.png" alt="EN Settings Client Standard External Services AddressDoc 02 ">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>address validation</strong> settings</em></p>
</div>
<div class="paragraph instruction">
<p>Setting up the address validation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » Addressdoctor » Address validation</strong>.</p>
</li>
<li>
<p>Click on the desired tab to select the section that you would like to check.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and carry out the settings as desired.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.<br>
→ You can set up the validation of other addresses afterwards. To do this, proceed in the same manner.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following table explains the settings in the <strong>Address validation</strong> submenu:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Address validation when saving</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which service provider should validate the address. Currently, there is only an interface to AddressDoctor. This option validates the customer’s address once it has been saved.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Address validation when entering text</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which service provider should validate the address. Currently, there is only an interface to AddressDoctor. This option validates the customer’s address while it is being entered.<br>
<strong>Important</strong>: Only select one type of address validation. Either select <strong>Address validation when entering text</strong> or <strong>Address validation when saving</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Force address validation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the <em>*time period in days*</em> after which you want the address validation to be repeated. The address will automatically be validated again once the saved time period has ended. This will be done even if the address was not saved or entered a second time.<br>
<strong>Tip</strong>: Select a time period that will allow the address to be validated before the first shipment is made. This will ensure that incorrect information or changes are recognized in a timely manner and can still be corrected if necessary.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: <strong>address validation</strong> settings</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_practical_examples">7. Practical examples</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following images show German examples of entering the address, receiving suggestions and correcting the invoice address with AddressDoctor. Image 3 shows the suggestions that appear if the address validation takes place while entering text. Image 4 shows the entry of an invalid address. Image 5 shows how the address is then corrected based on the suggestion.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-External-Services-AddressDoc-03-.png" alt="EN Settings Client Standard External Services AddressDoc 03 ">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: <strong>suggestions</strong> while entering the address</em></p>
</div>
<div class="paragraph">
<p>The following image shows an example of an invalid address.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-External-Services-AddressDoc-04-.png" alt="EN Settings Client Standard External Services AddressDoc 04 ">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: entry of an *invalid address*</em></p>
</div>
<div class="paragraph">
<p>The following image shows the correction of an invalid address.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-External-Services-AddressDoc-05-.png" alt="EN Settings Client Standard External Services AddressDoc 05 ">
</div>
</div>
<div class="paragraph">
<p><em>Image 5: *corrected address*</em></p>
</div>
</div>
</div>
</main>