<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_treepodia"><span>1.</span><span> Treepodia</span></a></li>
<li><a href="#_setting_up_treepodia"><span>2.</span><span> Setting up Treepodia</span></a>
<ul class="sectlevel2">
<li><a href="#_closing_a_contract_with_treepodia"><span>2.1.</span><span> Closing a contract with Treepodia</span></a></li>
<li><a href="#_adding_text_to_videos"><span>2.2.</span><span> Adding text to videos</span></a>
<ul class="sectlevel3">
<li><a href="#_global_slogans"><span>2.2.1.</span><span> Global slogans</span></a></li>
<li><a href="#_setting_up_free_text_fields"><span>2.2.2.</span><span> Setting up free text fields</span></a></li>
</ul>
</li>
<li><a href="#_interface_in_plentymarkets"><span>2.3.</span><span> Interface in plentymarkets</span></a></li>
<li><a href="#_export_settings"><span>2.4.</span><span> Export settings</span></a>
<ul class="sectlevel3">
<li><a href="#_settings"><span>2.4.1.</span><span> Settings</span></a></li>
<li><a href="#_treepodia_settings"><span>2.4.2.</span><span> Treepodia settings</span></a></li>
<li><a href="#_filter_and_formatting"><span>2.4.3.</span><span> Filter and formatting</span></a></li>
</ul>
</li>
<li><a href="#_template_variables"><span>2.5.</span><span> Template variables</span></a></li>
<li><a href="#_item_images"><span>2.6.</span><span> Item images</span></a></li>
<li><a href="#_item_export"><span>2.7.</span><span> Item export</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Treepodia</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Client (store) » Standard » Services » Treepodia</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_treepodia">1. Treepodia</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can use <a href="http://www.treepodia.de/index.html"><strong>Treepodia</strong></a> to equip each of your items with a <strong>video</strong> without any preproduction costs. The Treepodia interface offers you the possibility to <strong>automatically create product videos</strong> from item images and to integrate them in the SingleArticle layout of store items. The Treepodia service also includes generating a <strong>video sitemap</strong>, which helps you to get better SEO effects in Google. The effectiveness of the product videos in terms of higher conversion rates can be measured on the basis of daily updated data.<br>
Different packages can be booked depending on the size of your shop. Size is measured in terms of <strong>visitors per month</strong> and the <strong>number of different items in the catalog</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_treepodia">2. Setting up Treepodia</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Please read the information in section 2.1 before setting up the interface in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="_closing_a_contract_with_treepodia">2.1. Closing a contract with Treepodia</h3>
<div class="paragraph">
<p>You need a <strong>store UUID</strong> in order to set up Treepodia in your plentymarkets system. You will receive this from Treepodia when you <strong>close a contract</strong> with them. Get in contact with Treepodia and close a contract with them. The following <a href="http://www.treepodia.co.uk/pricing.html" target="_blank"><strong>link</strong></a> contains pricing information and gives you the possibility to directly register for the Treepodia service.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Contract</div>
<div class="paragraph">
<p>A separate contract has to be closed for each <strong>client (store)</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_adding_text_to_videos">2.2. Adding text to videos</h3>
<div class="paragraph">
<p>There are two possibilities to add text to Treepodia videos.</p>
</div>
<div class="sect3">
<h4 id="_global_slogans">2.2.1. Global slogans</h4>
<div class="paragraph">
<p>Global slogans are one possibility. If you do not yet - especially at the beginning - have enough individual video text on the item level, then you can use global store slogans. These are general pieces of information about your store and they do not apply to a specific item. For example, "guaranteed quality" or similar (image 4).<br>
If there are not enough individual video texts that have been selected or set up in free text fields, then the global shop slogans will be included in the videos.</p>
</div>
</div>
<div class="sect3">
<h4 id="_setting_up_free_text_fields">2.2.2. Setting up free text fields</h4>
<div class="paragraph">
<p>You can use <strong>free text fields</strong> to create individual texts for your videos.<br>
If you have entered a short description that is suitable for using in a video, then you can select the corresponding free text field (image 1).</p>
</div>
<div class="paragraph">
<p>Create up to 4 <strong>free text fields</strong> and save a <strong>name</strong> for each of them, e.g. Treepodia 1, Treepodia 2 etc. Go to the area for editing items and click on the <strong>Fields</strong> tab. Enter a <strong>slogan</strong> for each item for Treepodia into the desired free text fields. This can be a feature for all items, e.g. a <strong>guarantee period</strong>, or a feature for a specific batch of items, e.g. a <strong>pivoting display</strong> for digital cameras.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Activation</div>
<div class="paragraph">
<p>Please note that free text fields are activated over night and therefore will only be available the next day.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Group functions</div>
<div class="paragraph">
<p>If you want to configure many items for Treepodia, you can enter the slogans with the help of a <strong>group function</strong> for all items, selected items or specific batches of items. For the group function you can, for example, also select the items by means of their <strong>flag</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_interface_in_plentymarkets">2.3. Interface in plentymarkets</h3>
<div class="paragraph">
<p>The access data is configured in the <strong>Settings » Client (store) » Standard » Services » Treepodia</strong> menu.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Client-Services-Treepodia-01.png" alt="EN Client Services Treepodia 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: Treepodia; <strong>settings</strong></em></p>
</div>
<div class="paragraph">
<p>The following table explains the settings in the <strong>Settings » Client (store) » Standard » Services » Treepodia</strong> menu:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setting</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Explanation</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>active</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This function <strong>activates</strong> the entire interface.<br>
<strong>Important:</strong> Only activate the interface if you have correctly carried out all of the <strong>settings</strong>.<br>
<strong>Important:</strong><strong>Item data</strong> will only be transferred to Treepodia if the interface is activated.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Store UUID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the <strong>store UUID</strong> which you received from Treepodia.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which <strong>item name</strong> is to be used for your Treepodia items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Items with flags only</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can select one or two <strong>conditions</strong> here, according to which Treepodia items should be selected. For example, if you select a flag for each of the two options, then only those items will be selected that have these exact flags set for them. This provides you with a precise <strong>filter</strong> for the selection of items.<br>
<strong>Tip:</strong> You can use the <strong>group function</strong> to mark larger quantities of items. For example, to search for and then mark items from a category.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Free text field for alternative image</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You have the possibility of saving an <strong>alternative image</strong> that will be displayed if the video is not available.<br>
<strong>Configuration:</strong> Save the image’s URL in a free text field and select this here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Play video</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can enter text that you want to have displayed for a <strong>button</strong> that <strong>starts the video</strong>. Enter a text, e.g. <strong>Play video</strong> (image 1).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Post video</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can enter text that you want to have displayed for a <strong>button</strong> that <strong>posts the video</strong>. Enter a text, e.g. <strong>Share video</strong> (image 1).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Post video on the following platforms</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can enter text that is displayed about the platforms that users can share the video on, e.g. <strong>Available platforms:</strong> (image 2).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Facebook</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Display a button that links to <strong>Facebook</strong>: Place a check mark.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Twitter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Display a button that links to <strong>Twitter</strong>: Place a check mark.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>LinkedIn</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Display a button that links to <strong>LinkedIn</strong>: Place a check mark.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Purchase button</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can enter text that you want to have displayed for a <strong>purchase button</strong>.<br>
<strong>Caution:</strong> Please make sure that the button you are using complies with current legal regulations in your country. In Germany e.g. the button <strong>text</strong> of the <strong>place order button</strong> has to be formulated in such a way that it becomes clear that the customer has to <strong>pay</strong>. This means that <strong>place order</strong> is not specific enough. The law requires a formulation that could be literally translated as <strong>Order with liability to pay</strong> or something similar in meaning. The German standard button text in plentymarkets has been changed accordingly. <strong>Make sure that you stay up-to-date on this topic and ask a legal adviser if you have any questions.</strong><br>
<strong>Tip:</strong> Information about this <strong>bill</strong> can be found <a href="http://www.bundestag.de/dokumente/textarchiv/2012/37424023_kw03_pa_recht_verbraucherschutz/index.html"><strong>here</strong></a> (in German).<br>
<strong>Info:</strong> If you leave this field blank, then no purchase button will be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Polling URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This <strong>polling URL</strong> is automatically generated.<br>
This URL lets Treepodia poll an XML file every week, which contains item data for all of the items that a video should be generated for.<br>
<strong>Configuration:</strong> Send Treepodia a simple email including the <strong>polling URL</strong>, the <strong>shop logo</strong> and additional data (e.g. the template and background music that you selected). This can be sent to <a href="mailto:service@treepodia.com">service@treepodia.com</a> (CC: <a href="mailto:berner@treepodia.de">berner@treepodia.de</a>).<br>
<strong>Starting with plentymarkets version 4.5</strong>: If you have already sent a polling URL and you export <strong>more than 2000 items</strong> to Treepodia, then be sure to send Treepodia an <strong>updated</strong> polling URL starting with this plentymarkets version.<br>
Treepodia and the customers come to an agreement about the polling time.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Video sitemap URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>With the help of the video sitemap you can achieve positive SEO effects in Google. For example, you need the <strong>video sitemap URL</strong> to save it in the Google Webmaster Tools.<br>
Find more information about this topic: <a href="http://support.google.com/webmasters/bin/answer.py?hl=de&amp;answer=80474"><strong>Sending a video XML sitemap</strong></a><br>
<strong>Configuration:</strong> If you want to use the video sitemap, then you need to enter the following in your <strong>robots.txt</strong>: Allow: /plenty/api/TreepodiaVideoSitemap.php.<br>
Your system’s robots.txt file can be found by going to <strong>Settings » Client (store) » Standard » SEO » robots.txt</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: Treepodia; explanation of the <strong>settings</strong></em></p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Client-Services-Treepodia-02.png" alt="EN Client Services Treepodia 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: Treepodia; example for <strong>posting the video on the following platforms</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="_export_settings">2.4. Export settings</h3>
<div class="sect3">
<h4 id="_settings">2.4.1. Settings</h4>
<div class="paragraph">
<p>Go to <strong>Settings » Markets » Price comparison portals » Exports</strong> and carry out the export settings. Configure an <strong>export format</strong> for Treepodia there.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Client-Services-Treepodia-03.png" alt="EN Client Services Treepodia 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: Treepodia; <strong>export settings</strong></em></p>
</div>
<div class="paragraph">
<p>The following table explains the settings in the <strong>Settings » Markets » Price comparison portals » Exports</strong> menu:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Data format</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If no <strong>special format</strong> is selected here, then the option <strong>standard format for price comparison portals</strong> will be set. This can be used for most price search engines.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a <strong>name</strong> for the data format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The data format will be listed under this name once it has been created as a submenu within the <strong>export</strong> tab. You can also edit the data format in this tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Make the appropriate selection under <strong>order referrer</strong> in order to have a record of which price search engine led a customer to your website.<br>
In doing so, the URL will be extended by the corresponding parameter. If a customer lands in your store via a price search engine and purchases an item there, then the respective order referrer URL will be saved.<br>
<strong>Tip:</strong> Go to <strong>Settings » Orders » Order referrer</strong> if you would like to create additional order referrers.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Price column</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the desired <strong>price column</strong>. The <strong>automatically</strong> setting means that the price listed in the order referrer will be used. As such, every other setting has a higher priority than the setting in the order referrer.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Language</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>language</strong> for the item export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Overwrite shipping costs</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can overwrite the shipping costs that were configured and replace them with an <strong>individual shipping charge</strong>. Enter an <strong>amount</strong> and <strong>activate</strong> the function (place a check mark).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>URL parameter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can enter a suffix (extension) for the URL if this is required for the corresponding export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate cache file</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A <strong>cache file can not be generated</strong> for Treepodia. Please use the <strong>Item selection</strong> option (see below).</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: Treepodia; explanation of the <strong>export settings</strong></em></p>
</div>
</div>
<div class="sect3">
<h4 id="_treepodia_settings">2.4.2. Treepodia settings</h4>
<div class="paragraph">
<p>Go to <strong>Settings » Markets » Price comparison portals » Exports</strong> to save slogans and free text fields.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Client-Services-Treepodia-04.png" alt="EN Client Services Treepodia 04">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: Treepodia; <strong>slogans and free text fields</strong></em></p>
</div>
<div class="paragraph">
<p>The following table explains the settings in the <strong>Settings » Markets » Price comparison portals » Exports</strong> menu:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setting</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Explanation</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Active</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This function <strong>activates</strong> these settings.<br>
<strong>Important:</strong> Only activate this if you have correctly carried out all of the <strong>settings</strong>.<br>
<strong>Important:</strong><strong>Item data</strong> will only be transferred to Treepodia if the interface is activated (image 1).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shop slogans 1 - 4</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The slogans should include <strong>up to 5 words</strong>. See image 3 for examples.<br>
<strong>Configuration:</strong> Enter one or up to four <strong>shop slogans</strong> here.<br>
<strong>Info:</strong> The shop slogans 1-4 are used as text in the videos of all those items for which no free text field is available or for which none was selected. Therefore, it is recommended to use slogans which apply to all items in your shop.<br>
<strong>Important:</strong> If you change shop slogans, this might affect a large number of product videos. Please consider which changes are included in your package. Additional changes are subject to charge.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Free text fields 1 - 4</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here, select a <strong>free text field</strong> that a slogan for Treepodia was saved in. With your individual numbering 1 - 4 you determine the order of the slogans in the videos. For free text field 1 select the free text field with the slogan which you want to be displayed first and so on.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: Treepodia; <strong>slogans and free text fields</strong></em></p>
</div>
</div>
<div class="sect3">
<h4 id="_filter_and_formatting">2.4.3. Filter and formatting</h4>
<div class="paragraph">
<p>Go to <strong>Settings » Markets » Price comparison portals » Exports</strong> to configure filters and formatting.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Client-Services-Treepodia-05.png" alt="EN Client Services Treepodia 05">
</div>
</div>
<div class="paragraph">
<p><em>Image 5: Treepodia; additional <strong>export settings</strong></em></p>
</div>
<div class="paragraph">
<p>The following table explains the settings in the <strong>Settings » Markets » Price comparison portals » Exports</strong> menu:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Items with images only</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the option (place a check mark) if you want to <strong>export items with images only</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Items with category only</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select this option (place a check mark) if you only want images to be exported that are <strong>assigned to a category</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Items with flags only</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a <strong>flag</strong> or one of the options <strong>all items</strong>, <strong>all items with flag 1</strong>, <strong>all items without flag 1</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client (store)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setting <strong>all</strong>: all stores or <strong>standard</strong> setting: only the standard store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item selection</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the items that should be exported. Standard: <strong>1-4000</strong>.<br>
You can export <strong>up to 4000 items at once</strong> and filter which type of item information you want to be exported</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Formatting</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export images</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which <strong>images</strong> you wish to export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Which <strong>name</strong> should be exported: <strong>name 1</strong> (name), <strong>name 2</strong> or <strong>name 3</strong>?</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item</strong><strong>description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can select whether the <strong>description</strong>, the <strong>preview text</strong> or the <strong>technical data</strong> should be displayed as the <strong>descriptive text</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can find the <strong>URL</strong> for the price search engines.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export item now</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Click on this <strong>link</strong> to export the items.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 4: Treepodia; additional <strong>export settings</strong></em></p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_template_variables">2.5. Template variables</h3>
<div class="paragraph">
<p>The following <strong>template variables</strong> are for the integration of videos in the item layouts:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Template variable</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Function</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$TreepodiaVideo[1][1]</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Adds the corresponding <strong>video</strong> to the item layout.<br>
<strong>Tip:</strong> One place where it makes sense to display the video is below the <strong>description</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$TreepodiaVideoAutoplay</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In combination with the template variable <strong>$TreepodiaVideo[1][1]</strong>, this template variable will <strong>automatically</strong> start the video when the detailed view of an item is opened.<br>
<strong>Configuration:</strong> Insert the function <strong>&#123;&#37;$TreepodiaVideoAutoplay= 1 &#37;&#125;</strong> in front of the template variable <strong>$TreepodiaVideo[1][1]</strong> in the <strong>ItemViewSingleItem</strong> template.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$TreepodiaVideo[1][2]</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Adds a <strong>button</strong> to the layout that will start the video. The corresponding text will be saved in the code.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 5: Treepodia; explanation of the <strong>template variables</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="_item_images">2.6. Item images</h3>
<div class="paragraph">
<p>Treepodia uses your item images to automatically create videos. Please note the following requirements:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>We recommend that you <strong>arrange your images systematically</strong>, i.e. the first image should show the item as a whole and the following images can show other partial views. Control the order of the images with the help of the <strong>position numbers</strong> in the image settings of the respective item.</p>
</li>
<li>
<p>All of an item’s <strong>image URLs</strong> will be transferred to Treepodia.</p>
</li>
<li>
<p>The item images will be transferred in the order of the <strong>position numbers</strong>.</p>
</li>
<li>
<p><strong>JPEG</strong> is the preferred <strong>data format</strong>. However, it is also possible to use the formats <strong>BMP</strong>, <strong>PNG</strong> and <strong>GIF</strong>.</p>
</li>
<li>
<p>Ideally, the <strong>resolution</strong> should be <strong>500 x 500 pixels</strong>. The <strong>minimum</strong> is <strong>200 x 200 pixels</strong>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_item_export">2.7. Item export</h3>
<div class="paragraph">
<p>The following conditions have to be met for a successful export to Treepodia:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The interface has to be <strong>activated</strong> (image 1 and table 1).</p>
</li>
<li>
<p>The item <strong>flags</strong> have to correspond to the flags that are selected (table 1).</p>
</li>
<li>
<p><strong>At least one image</strong> has to be saved per item.</p>
</li>
<li>
<p>At least one <strong>category link</strong> has to be saved for the item and the corresponding category has to be <strong>activated</strong>.</p>
</li>
<li>
<p>The <strong>page name</strong> (entry: URL_content) has to be saved for items or the items must have been accessed at least once in the store.</p>
</li>
<li>
<p>The <strong>online store</strong> and <strong>web API</strong> options have to be set to <strong>VISIBLE</strong> in the item’s <strong>availability</strong> tab.</p>
</li>
<li>
<p>The <strong>maximum amount of items</strong> to be exported may not exceed <strong>5000</strong> since the number of videos per store is limited to 5000 (standard contract).</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</main>