<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Trusted Shops buyer protection</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Buyer protection models</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Configuring the buyer protection Trusted Shops PLUS model</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Appearance in the online store (payment process)</span></a></li>
<li><a href="#50"><span>1.4.</span><span> Inserting the CSS code</span></a></li>
</ul>
</li>
<li><a href="#60"><span>2.</span><span> Activating the seller ratings</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>2.1.</span><span> Integrating the Trusted Shops Seller Rating</span></a>
<ul class="sectlevel3">
<li><a href="#80"><span>2.1.1.</span><span> Template variables</span></a></li>
<li><a href="#90"><span>2.1.2.</span><span> Trusted Rating widget for the online store</span></a></li>
<li><a href="#100"><span>2.1.3.</span><span> Write a review! button for system emails and the order confirmation page:</span></a></li>
</ul>
</li>
<li><a href="#110"><span>2.2.</span><span> Setting up Rich Snippets for Google</span></a></li>
</ul>
</li>
<li><a href="#120"><span>3.</span><span> Trusted Shops Trustbadge</span></a></li>
<li><a href="#130"><span>4.</span><span> Integrating the Trusted Shops Trustbadge in your online store</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Trusted Shops</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://www.trustedshops.com/" target="_blank" rel="noopener">Trusted Shops</a> is the well-known trustmark for online stores which provides buyer protection for online customers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Trusted Shops buyer protection</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to carry out two steps to integrate the Trusted Shops buyer protection. In the first step, select the buyer protection model and configure it to be displayed to the customer during the checkout process. Most customers choose the free <strong>Trusted Shops <em>Basic</em></strong> model. However, you can also use the <strong>Trusted Shops <em>PLUS</em></strong> model. In the second step, <strong>insert</strong> the <strong>Trusted Shops Trustbadge</strong> into your online store.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Buyer protection models</h3>
<div class="paragraph">
<p><strong>Trusted Shops <em>PLUS</em></strong> offers protection for orders with a total value of up to 20,000 Euro. A small fee is charged for this service. <strong>Trusted Shops <em>PLUS</em></strong> treats buyer protection like an item that has been placed in the shopping cart. This means that buyer protection is automatically activated upon completion of the purchase. If you want to use this buyer protection model, you have to order it at Trusted Shops. The configuration is described in the following sections.</p>
</div>
<div class="paragraph">
<p><strong>Trusted Shops <em>Basic</em></strong> is free of charge. Purchases with a value of up to 2,500 Euro can be protected. The buyer protection model is offered to customers directly after they have made their purchase.</p>
</div>
<div class="paragraph">
<p>If a valid Trusted Shops ID was saved, customers will see a button they can click to register for buyer protection during the order confirmation. Customers who click on the button will be forwarded to Trusted Shops. For further information about saving the Trusted Shops ID in plentymarkets, refer to section 3 of this page.</p>
</div>
<div class="paragraph">
<p><strong>Please note the following:</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>The form for buyer protection registration is only shown on the day of the purchase.</p>
</li>
<li>
<p>The form will be hidden for purchases made on eBay and other markets.</p>
</li>
<li>
<p>Further information under <a href="http://www.trustedshops.co.uk/seal-of-approval/buyer-protection.html" target="_blank" rel="noopener">Questions about buyer protection</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. Configuring the buyer protection Trusted Shops <em>PLUS</em> model</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Trusted-Shops-01.png" alt="EN Settings Client Standard Services Trusted Shops 01">
</div>
<div class="title">Figure 1. entering the <strong>user name</strong> and <strong>password</strong></div>
</div>
<div class="paragraph instruction">
<p>Activating <strong>Trusted Shops <em>PLUS</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » Trusted Shops</strong>.</p>
</li>
<li>
<p>Go to the <strong>Seller ratings</strong> tab and enter the Trusted Shops ID. The seller ratings do not necessarily have to be activated.</p>
</li>
<li>
<p>Enter the <strong>user name</strong> and the <strong>password</strong> that you received from Trusted Shops into the <strong>Trusted Shops <em>PLUS</em></strong> tab.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Appearance in the online store (payment process)</h3>
<div class="paragraph">
<p>Buyer protection is displayed to customers during the payment process. They will see its price and can decide whether or not to select this option and place it in the shopping cart. Doing so activates the buyer protection.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Trusted-Shops-02.png" alt="EN Settings Client Standard Services Trusted Shops 02">
</div>
<div class="title">Figure 2. placing the buyer protection <strong>Trusted Shops PLUS</strong> in the shopping cart</div>
</div>
</div>
<div class="sect2">
<h3 id="50">1.4. Inserting the CSS code</h3>
<div class="paragraph">
<p>Insert the following <strong>CSS code</strong> into the store’s web design. This will specify the formatting.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-xml hljs" data-lang="xml">/* TRUSTED SHOPS PROTECTION */

.PlentyWebPaymentMethodTsBuyerProtectionHeadline {
clear: both;
font-weight: bold;
margin-top: 20px;
padding: 0 5px;
}
.PlentyWebPaymentMethodTsBuyerProtectionText {
margin-top: 10px;
}
.PlentyWebPaymentMethodTsBuyerProtectionLink,
.PlentyWebPaymentMethodTsBuyerProtectionText &gt; div {
display: table-cell;
vertical-align: top;
}
.PlentyWebPaymentMethodTsBuyerProtectionText &gt; div {
padding-left: 16px;
color: #848484;
}</code></pre>
</div>
</div>
<div class="paragraph instruction">
<p>Inserting the CSS code:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » CSS » CSSOrder</strong>.</p>
</li>
<li>
<p>Insert the <strong>CSS code</strong> into the <strong>CSS</strong> window. Insert the code below any other code that is already displayed.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">2. Activating the seller ratings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can activate the Trusted Shops seller ratings in the <strong>Seller ratings</strong> tab.</p>
</div>
<div class="paragraph instruction">
<p>Activating the seller ratings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » Trusted Shops</strong>.</p>
</li>
<li>
<p>Go to the <strong>Seller ratings</strong> tab.</p>
</li>
<li>
<p>Select the <strong>language</strong> submenu the <strong>Trusted Shops ID</strong> was registered for.</p>
</li>
<li>
<p>Enter your <strong>Trusted Shops ID</strong>.<br>
→ If the ID you entered has the correct format (33 characters, beginning with an "X"), a <strong>green icon</strong> will be displayed for <strong>confirmation</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>plentymarkets can now communicate with Trusted Shops and will display a confirmation message if the activation was successful.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Trusted Shops ID</div>
<div class="paragraph">
<p>If an error should occur here, please note that it is not possible to activate a Trusted Shops ID for the same domain but for different languages. However, this is not the case when activating a Trusted Shop ID for a client (store) that is located on a subdomain (e.g. "test.test-store.com"). For further information, refer to <a href="https://www.trustedshops.co.uk/merchants/" target="_blank" rel="noopener">Trusted Shops</a> and the <a href="http://www.trustedshops.co.uk/merchants/service.html#topic=ratings" target="_blank" rel="noopener">Trusted Shops FAQ</a>. The <strong>Trusted Shops IDs</strong> which you save here form the basis for the Trusted Shops Trustbadge and the buyer protection. A Trusted Shops ID is only valid for an online store certified by Trusted Shops as well as for a specific language.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="70">2.1. Integrating the Trusted Shops Seller Rating</h3>
<div class="paragraph">
<p>Once you have <a href="/en/omni-channel/online-store/extras/trusted-shops">activated the seller ratings</a>, integrate them into your online store. Use <a href="/en/omni-channel/online-store/cms-syntax#basics-template-variables">template variables</a> in the <strong>CMS</strong> menu to do so. The Trusted Shops variables are listed under the <strong><em>global variables</em></strong> in the <strong>PageDesignTemplateVars</strong> folder. They are also listed on the <a href="/en/omni-channel/online-store/cms-syntax#web-design-pagedesign">PageDesign</a> page of the manual.</p>
</div>
<div class="sect3">
<h4 id="80">2.1.1. Template variables</h4>
<div class="paragraph">
<p>If a <strong>Trusted Shops ID</strong> is activated, you can integrate the <strong>template variables</strong> (widget and "Write a review!" buttons) into your online store - according to the language of the design.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Using the integration handbook</div>
<div class="paragraph">
<p>Refer to the Trusted Shops Seller Rating integration handbook when integrating the template variables. The <strong>$TrustedShopsRatingEmailButton</strong> variable is the "Write a review!" button for system emails and the order confirmation page. The button is included in the plentymarkets layout by default and is displayed in the order overview. You can integrate the Trusted Shops variables into any design. The customer’s <strong>email address</strong> and the <strong>order ID</strong> will automatically be transferred over to the review form.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Make note of the language</div>
<div class="paragraph">
<p>If the seller rating is not activated for the corresponding design language or if the language was not booked with Trusted Shops, the template variables will not be displayed or they will be empty.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="90">2.1.2. Trusted Rating widget for the online store</h4>
<div id="image-trusted-shops-rating-widget-ts" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/_trusted-shops/assets/EN-Marketing-Trusted-Shops-Seller-Rating-01.png" alt="EN Marketing Trusted Shops Seller Rating 01">
</div>
<div class="title">Figure 3. <strong>Trusted Rating widget</strong> for the online store</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>You can configure the widget’s <strong>height</strong>, <strong>width</strong>, <strong>comments</strong> and <strong>branding</strong> in the <a href="https://www.trustedshops.com/en/shop/login.html" target="_blank" rel="noopener">Trusted Shops System</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Seller ratings</div>
<div class="paragraph">
<p>The seller ratings are not displayed in real time. The widget graphic is reloaded once a day (at night). The widget, as shown in <a href="#image-trusted-shops-rating-widget-ts">Figure 3</a>, will only be displayed after 60 seller ratings have been received. Before this point, the <strong>$TrustedShopsRatingShopButton</strong> template variable will be replaced by a "Write a review!" button (<a href="#image-example-trusted-shops-review-button">Figure 4</a>).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="100">2.1.3. Write a review! button for system emails and the order confirmation page:<br></h4>
<div class="paragraph">
<p>$TrustedShopsRatingEmailButton</p>
</div>
<div id="image-example-trusted-shops-review-button" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/_trusted-shops/assets/EN-Marketing-Trusted-Shops-Seller-Rating-02.png" alt="EN Marketing Trusted Shops Seller Rating 02">
</div>
<div class="title">Figure 4. example "Write a review! button</div>
</div>
<div class="paragraph">
<p>Use the variable <strong>$TrustedShopsRatingEmailButton</strong> in the store’s <strong>CMS</strong> and in email templates. For example, it makes sense to use the variable in a reminder email that you send to your customers and ask them to rate your store. Learn how to automate this reminder below.</p>
</div>
<div class="paragraph instruction">
<p>Configuring a seller rating reminder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <a href="/en/basics/automation/procedure-manager">System » Orders » Procedures</a>.</p>
</li>
<li>
<p>Go to the <strong>New procedure</strong> tab.</p>
</li>
<li>
<p>Go to the <strong>Procedure</strong> tab within the new procedure.</p>
</li>
<li>
<p>Use the <strong>Send email template</strong> option to select an email template from the drop-down menu. The template should invite customers to rate your store and should contain the corresponding template variable.<br>
→ Create the <a href="/en/crm/sending-emails#1200">email template</a> under <strong>System » Client » Select client » Email » Templates</strong>.</p>
</li>
<li>
<p>Go to the <strong>Filter</strong> tab.</p>
</li>
<li>
<p>Select a <strong>status</strong>, e.g. <strong>Outgoing items booked</strong>.</p>
</li>
<li>
<p>Select an option for the <strong>last status change</strong>, e.g. 14 days ago.</p>
</li>
<li>
<p>Go to the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> to activate the procedure.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In this example, your customers would be sent an email 14 days after their items were shipped. The email would ask customers to submit a seller rating with Trusted Shops.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Pay attention to the market’s terms and conditions</div>
<div class="paragraph">
<p>Understand the particular market’s terms and conditions before you set up a function in your online store that requests a seller rating. Some markets only allow you to request seller ratings if specific requirements are met. Some markets do not permit this at all. Exclude markets by not selecting them with the <strong>Order referrer</strong> option in the <strong>Filter</strong> tab.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Plain text link in plain text emails</div>
<div class="paragraph">
<p>If the template variable is integrated into an email template that is configured as being <strong>plain text only</strong>, the email will only contain the link as plain text. It will not contain an additional graphic. In this case, be sure to tell customers what this link is for, e.g. <strong>Rate our store! ($TrustedShopsRatingEmailButton)</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Buttons in emails</div>
<div class="paragraph">
<p>Some email programs, e.g. Mozilla Thunderbird, do not display graphics directly in emails. If you see text displayed instead of a graphic despite the fact that you defined the email as having <strong>only text in HTML format</strong>, then check whether the email program may have incorrectly downloaded the graphics. The link to the ratings should still work when clicking on the alternative text.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="110">2.2. Setting up Rich Snippets for Google</h3>
<div class="paragraph">
<p>Rich Snippets help display detailed information in search engines. Edit your store’s <strong>CMS</strong> in order to display your store’s Trusted Shops Seller Rating in Google search results.</p>
</div>
<div class="paragraph">
<p>Open the <strong>CMS</strong> menu and insert the following code in the <strong>PageDesignContentMainFrame</strong> template.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-xml hljs" data-lang="xml">&lt;a href="http://www.trustedshops.de/shop-info/trusted-shops-kundenbewertungen/"&gt;Trusted Shops Seller Ratings&lt;/a&gt;:
&lt;span xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review-aggregate"&gt;
&lt;span rel="v:rating"&gt;
&lt;span property="v:value"&gt;$TrustedShopsRatingResult&lt;/span&gt;
&lt;/span&gt;/&lt;span property="v:best"&gt;5.00&lt;/span&gt;
from &lt;span property="v:count"&gt;$TrustedShopsRatingAmount&lt;/span&gt;
&lt;a href="https://www.trustedshops.de/bewertung/info_$TrustedShopsId.html"&gt;Seller ratings&lt;/a&gt;
&lt;/span&gt;</code></pre>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="120">3. Trusted Shops Trustbadge</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can now save the Trusted Shops Trustbadge in your plentymarkets backend. Afterwards, you will insert the Trustbadge into your online store.</p>
</div>
<div class="paragraph instruction">
<p>Configuring the Trusted Shops Trustbadge:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » Trusted Shops</strong>.</p>
</li>
<li>
<p>Got to the <strong>Trustbadge</strong> tab.</p>
</li>
<li>
<p>Select the <strong>language</strong> submenu the <strong>Trusted Shops ID</strong> was registered for.</p>
</li>
<li>
<p>Enter your <strong>Trusted Shops ID</strong>.<br>
→ If the ID you entered has the correct format (33 characters, beginning with an "X"), a <strong>green icon</strong> will be displayed for <strong>confirmation</strong> and a link to the Trustbadge generator will be displayed.</p>
</li>
<li>
<p>Click on the link <strong>Trustbadge generator</strong> which is located above the editing window <strong>Wildcard character HTML</strong>.<br>
→ You will be forwarded to the Trusted Shops website. Leave the tab <strong>Trustbadge</strong> open.</p>
</li>
<li>
<p>Follow the instructions given by Trusted Shops.</p>
</li>
<li>
<p>Go back to the <strong>Trusted Shops Trustbadge</strong> tab that you left open and insert the HTML code from Trusted Shops into the editing window (Ctrl or cmd + V).</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Do not close this window, since you will carry out the settings for the following section <strong>Integrating the Trusted Shops Trustbadge in your online store</strong> here too.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Trusted-Shops-03.png" alt="EN Settings Client Standard Services Trusted Shops 03">
</div>
<div class="title">Figure 5. HTML code of a Trusted Shops seal box from the <strong>Trusted Shops Trustbadge generator</strong></div>
</div>
</div>
</div><div class="sect1">
<h2 id="130">4. Integrating the Trusted Shops Trustbadge in your online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Check the <strong>requirements</strong> for the integration of the Trusted Shops Trustbadge:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You have saved a valid Trusted Shops ID in the <strong>Trustbadge</strong> tab as described in section 2.</p>
</li>
<li>
<p>You have configured the Trustbadge and saved the Trustbadge as well as the background graphic on your computer.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Integrating the Trusted Shops Trustbadge in your online store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » Trusted Shops</strong>.</p>
</li>
<li>
<p>Go to the <strong>Trustbadge</strong> tab.</p>
</li>
<li>
<p>Go to <strong>CMS » Image gallery</strong>.</p>
</li>
<li>
<p>Open the desired folder.</p>
</li>
<li>
<p>Click on <strong>Upload files</strong> and upload the <strong>Trusted Shops Trustbadge</strong> from your local hard drive to your plentymarkets system. If desired, load the <strong>background graphic</strong> as well.</p>
</li>
<li>
<p>Copy the <strong>Trustbadge’s URL</strong> (Ctrl or cmd + C). In the HTML editing window of the <strong>Trustbadge</strong> tab, mark the URL behind <strong>src=</strong> and enter the URL from the clipboard there (Ctrl or cmd + V).</p>
</li>
<li>
<p>Copy the <strong>URL of the background graphic</strong> and insert it into the HTML editing window instead of the URL behind the HTML entry <strong>background-image: url</strong> in the HTML code.</p>
</li>
<li>
<p>Use relative path specifications (without "http://www.your-store.com/") as shown in the image below. This means you have to delete the path up to <strong>images</strong>. If you want to use the Trustbadge in HTML email templates too, use absolute path specifications (including "http://www.your-store.com/"). Otherwise the graphics can not be accessed.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Trusted-Shops-04.png" alt="EN Settings Client Standard Services Trusted Shops 04">
</div>
<div class="title">Figure 6. graphic path specification in the HTML code</div>
</div>
<div class="paragraph instruction">
<p>Integrating the variable in the template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » PageDesign » PageDesignContent » Tab: PageDesignContentMainFrame</strong>.</p>
</li>
<li>
<p>Click on the link <strong>Template variables and template functions</strong> and open the folder <strong>Global/PageDesignTemplateVars</strong>. Copy the variable <strong>$TrustedShopsSeal</strong>.</p>
</li>
<li>
<p>Insert the variable in an appropriate location in the <strong>PageDesignContent</strong> template, e.g. after the <strong>languages</strong> section.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Check to make sure that the Trustbadge is correctly displayed in the online store.</p>
</li>
</ol>
</div>
</div>
</div>
</main>