<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_twitter"><span>1.</span><span> General information about Twitter</span></a></li>
<li><a href="#_setting_up_twitter_in_plentymarkets"><span>2.</span><span> Setting up Twitter in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_up_twitter_on_the_homepage"><span>2.1.</span><span> Setting up Twitter on the homepage</span></a></li>
</ul>
</li>
<li><a href="#_sending_tweets_from_the_homepage"><span>3.</span><span> Sending tweets from the homepage</span></a></li>
<li><a href="#_sending_tweets_with_the_procedure_manager"><span>4.</span><span> Sending tweets with the procedure manager</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Twitter</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Client (store) » Global settings » Services » Twitter</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_twitter">1. General information about Twitter</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="http:///www.twitter.com" target="_blank" rel="noopener">Twitter</a></strong> is a microblogging service which allows registered users to send text-based posts of up to 140 characters and receive such messages from other users. Tweets can be directly transmitted from plentymarkets to Twitter.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Shortening the URL with bit.ly</div>
<div class="paragraph">
<p>The online service <strong>bit.ly</strong> gives you the possibility of shortening very long URLs on their website. If you saved a valid configuration for the URL shortening service, bit.ly, then the URLs that plentymarkets automatically generates for tweets will be directly shortened. For further information about configuring bit.ly, refer to the <a href="/omni-channel/online-store/extras/bit-ly"><strong>bit.ly</strong>  </a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_twitter_in_plentymarkets">2. Setting up Twitter in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to set up and use Twitter in plentymarkets, you need to have a Twitter account which you receive when <strong><a href="http:///www.twitter.com" target="_blank" rel="noopener">registering</a></strong> with Twitter.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Global-Settings-Services-Twitter-01.png" alt="EN Settings Client Global Settings Services Twitter 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: adding a Twitter account to plentymarkets</em></p>
</div>
<div class="paragraph instruction">
<p>Setting up Twitter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Global settings » Services » Twitter</strong>.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to add a Twitter account to plentymarkets (image 1, red arrow).<br>
→ You will be forwarded to Twitter to confirm the interface to plentymarkets. After you have confirmed the interface you will be taken back to your plentymarkets system.</p>
</li>
<li>
<p>Reload the <strong>Settings » Client (store) » Global settings » Services » Twitter</strong> menu.<br>
→ The validity of your registration will be displayed (image 2, blue arrow).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The connection to the plentymarkets interface will be displayed in your Twitter account under <strong><a href="https://twitter.com/account/connections" target="_blank" rel="noopener">https://twitter.com/account/connections</a></strong>.<br>
If the registration is not valid or if you went to your Twitter account and revoked the right of plentymarkets to access the Twitter web service, then plentymarkets will acknowledge this and will give you the possibility to re-register.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Global-Settings-Services-Twitter-02.png" alt="EN Settings Client Global Settings Services Twitter 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: valid Twitter account</em></p>
</div>
<div class="sect2">
<h3 id="_setting_up_twitter_on_the_homepage">2.1. Setting up Twitter on the homepage</h3>
<div class="paragraph">
<p>Link your Twitter account to the homepage.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Global-Settings-Services-Twitter-03.png" alt="EN Settings Client Global Settings Services Twitter 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: selecting the <strong>Twitter friends timeline</strong> element</em></p>
</div>
<div class="paragraph instruction">
<p>Displaying the Twitter service on your plentymarkets homepage:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Homepage</strong>.</p>
</li>
<li>
<p>Select the <strong>Twitter friends timeline</strong> element from the <strong>Elements</strong> drop-down menu (image 3).</p>
</li>
<li>
<p>Click on the <strong>green plus</strong> above the words <strong>New element</strong>.<br>
→ The Twitter element will be added to the homepage.</p>
</li>
<li>
<p>Click on the <strong>wrench icon</strong> in the upper right to open the element.</p>
</li>
<li>
<p>Select your <strong>Twitter account</strong> from the drop-down menu (image 4).</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Global-Settings-Services-Twitter-04.png" alt="EN Settings Client Global Settings Services Twitter 04">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: selecting the Twitter account</em></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_sending_tweets_from_the_homepage">3. Sending tweets from the homepage</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Send tweets from the homepage and receive messages posted by people you follow.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Global-Settings-Services-Twitter-05.png" alt="EN Settings Client Global Settings Services Twitter 05">
</div>
</div>
<div class="paragraph">
<p><em>Image 5: entering a Twitter message</em></p>
</div>
<div class="paragraph instruction">
<p>Sending a tweet:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Homepage</strong>.</p>
</li>
<li>
<p>Click on the <strong>plus icon</strong> in the Twitter element to open your Twitter account.</p>
</li>
<li>
<p>Enter a message into the text field.<br>
→ You can see the number of characters still remaining directly above this field.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to send the message.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_sending_tweets_with_the_procedure_manager">4. Sending tweets with the procedure manager</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the procedure manager to tweet information about your live shopping offers every day. For further information about creating the procedure <strong>Tweet live shopping offers</strong>, refer to the <a href="/omni-channel/online-store/extras/live-shopping#100"><strong>Procedure manager</strong> </a> page of the manual.</p>
</div>
</div>
</div>
</main>