<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines_zu_econda"><span>1.</span><span> Allgemeines zu econda</span></a></li>
<li><a href="#_registrierung"><span>2.</span><span> Registrierung</span></a></li>
<li><a href="#_econda_shop_monitor_vorbereiten"><span>3.</span><span> econda Shop Monitor vorbereiten</span></a></li>
<li><a href="#_einstellungen"><span>4.</span><span> Einstellungen</span></a>
<ul class="sectlevel2">
<li><a href="#_zuordnung"><span>4.1.</span><span> Zuordnung</span></a></li>
<li><a href="#_freie_übergabeparameter"><span>4.2.</span><span> Freie Übergabeparameter</span></a></li>
<li><a href="#_preise"><span>4.3.</span><span> Preise</span></a></li>
<li><a href="#_debug_ausgabe"><span>4.4.</span><span> Debug-Ausgabe</span></a></li>
<li><a href="#_tracking_aktivieren"><span>4.5.</span><span> Tracking aktivieren</span></a>
<ul class="sectlevel3">
<li><a href="#_tracking_der_findologic_suche"><span>4.5.1.</span><span> Tracking der FINDOLOGIC-Suche</span></a></li>
<li><a href="#_template_manager_ihres_findologic_accounts"><span>4.5.2.</span><span> Template-Manager Ihres FINDOLOGIC-Accounts</span></a></li>
</ul>
</li>
<li><a href="#_cross_selling_aktivieren"><span>4.6.</span><span> Cross-Selling aktivieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>econda</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Mandant (Shop) » Standard » Dienste » Econda</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_zu_econda">1. Allgemeines zu econda</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der econda Shop Monitor ist eine High-End-Webshop-Controlling-Lösung zur umfassenden Analyse und Optimierung von Webshops. Durch engste Verzahnung mit dem plentymarkets-System ist der Shop Monitor nicht nur eine Web-Analyse-Lösung, sondern eine voll integrierte E-Commerce-Datenzentrale. (Quelle: econda)</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_registrierung">2. Registrierung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um den econda Shop Monitor zu nutzen, ist eine Registrierung notwendig, die Sie direkt in plentymarkets vornehmen können:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstellungen-Conversion-Tracking-econda-01.png" alt="DE Einstellungen Conversion Tracking econda 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Registrierung bei econda</em></p>
</div>
<div class="paragraph instruction">
<p>Für econda Shop Monitor registrieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Dienste » Econda</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Registrierung</strong>.</p>
</li>
<li>
<p>Tragen Sie Ihre Daten ein, besonders die Pflichteinträge in den Feldern <strong>Name</strong>, <strong>Firma</strong> und <strong>Telefon</strong> sowie die <strong>Seitenaufrufe</strong> pro Monat.<br>
<strong>Hinweis:</strong> Die Angabe der <strong>Seitenaufrufe</strong> pro Monat benötigt econda zur Einordnung in einen Tarif.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>E-Mail-Symbol</strong> (Bild 1), um eine E-Mail mit Ihren Registrierungsdaten von econda zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_econda_shop_monitor_vorbereiten">3. econda Shop Monitor vorbereiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Haben Sie sich erfolgreich bei econda registriert, so haben Sie eine JavaScript-Klasse (Dateiname: "emos2.js" oder ähnlich) erhalten. Diese ist von econda für Sie personalisiert worden, so dass Sie zur Aktivierung des econda Shop Monitors in plentymarkets keine weiteren Zugangsdaten benötigen. Zur Aktivierung des Econda Shop Monitor-Trackings ist der Upload dieser Java-Script-Klasse nötig.<br>
Der im Folgenden beschriebene Vorgang muss je Mandant (Shop) wiederholt werden. Für jeden Mandanten kann dieselbe JavaScript-Klasse verwendet werden. Wenn Sie unter den Mandanten eine Trennung für das Tracking vornehmen möchten, beachten Sie das Unterkapitel 4.1 <strong>Zuordnung</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstellungen-Conversion-Tracking-econda-02.png" alt="DE Einstellungen Conversion Tracking econda 02">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Java-Script hochladen</em></p>
</div>
<div class="paragraph instruction">
<p>econda JavaScript hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechseln Sie in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Klicken Sie im Feld <strong>econda-JavaScript</strong> auf <strong>Durchsuchen</strong>.</p>
</li>
<li>
<p>Wählen Sie die von econda erhaltene <strong>JavaScript-Klasse</strong> (Dateiname: "emos2.js" oder ähnlich).</p>
</li>
<li>
<p>Klicken Sie auf <strong>Öffnen</strong>.</p>
</li>
<li>
<p>Klicken Sie erneut auf <strong>Speichern</strong>, um die Datei hochzuladen.<br>
→ <strong>Tipp:</strong> Wurde die Datei erfolgreich geladen, so erscheint neben <strong>econda JavaScript</strong> ein grünes Häkchen. Die Daten über die Nutzung Ihres Webshops werden ab sofort an econda übertragen. Falls nicht, wiederholen Sie den Vorgang.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstellungen-Conversion-Tracking-econda-03.png" alt="DE Einstellungen Conversion Tracking econda 03">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Java-Script erfolgreich hochgeladen</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstellungen">4. Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier werden Einstellungen vorgenommen, die Art und Umfang der Datenübertragung an econda steuern.</p>
</div>
<div class="sect2">
<h3 id="_zuordnung">4.1. Zuordnung</h3>
<div class="paragraph">
<p>Der Bereich <strong>Zuordnung</strong> ist relevant, wenn Sie die Tracking-Daten verschiedener Mandanten über einen econda Shop Monitor auswerten möchten.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstellungen-Conversion-Tracking-econda-04.png" alt="DE Einstellungen Conversion Tracking econda 04">
</div>
</div>
<div class="paragraph">
<p><em>Bild 4: Bereich <strong>Zuordnung</strong></em></p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen im Bereich <strong>Zuordnung</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Site-IDs verwenden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ist das Häkchen gesetzt, wird den Daten, die an econda übertragen werden, eine <strong>Site-ID</strong> angehängt. Anhand dieser <strong>Site-ID</strong>kann der econda Shop-Monitor unterscheiden, wie die Daten zuzuordnen sind. Der Standardwert dieser ID ist die Mandant-ID (0 = Hauptshop; 1,2,3 …​ = Mandant 1,2,3 …​)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Benutzerdefinierte Site-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ist das Häkchen gesetzt und ist eine <strong>benutzerdefinierte Site-ID</strong>definiert worden, so wird diese <strong>benutzerdefinierte Site-ID</strong>anstelle der standardmäßig gesetzten Webshop-ID übertragen. Nicht vergessen, trotzdem das Häkchen bei <strong>Site-IDs verwenden</strong>zu setzen.<br>
<strong>Tipp:</strong> Wenn von mehreren Mandanten ein Teil über ein und dasselbe Tracking erfasst werden soll, die <strong>benutzerdefinierte Site-ID</strong>der betreffenden Webshops aktivieren (Häkchen setzen).</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Optionen im Bereich <strong>Zuordnung</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="_freie_übergabeparameter">4.2. Freie Übergabeparameter</h3>
<div class="paragraph">
<p>Bei der Übergabe der Tracking-Daten bietet econda drei Parameter, die Sie beliebig konfigurieren können. Ordnen Sie hier den Parametern <strong>#1</strong>, <strong>#2</strong> und <strong>#3</strong> Werte zu, die sich auf Zusatzinformationen zu Artikeln beziehen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstellungen-Conversion-Tracking-econda-05.png" alt="DE Einstellungen Conversion Tracking econda 05">
</div>
</div>
<div class="paragraph">
<p><em>Bild 5: <strong>Freie Übergabeparameter</strong> einstellen</em></p>
</div>
<div class="paragraph instruction">
<p>Freie Übergabeparameter konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie aus den Dropdown-Menüs der Felder <strong>Variante #1 - #3</strong> das gewünschte Attribut aus.<br>
→ Hier sind nur Attribute auswählbar, wenn Sie zuvor unter <strong><a href="/artikel/artikel-verwalten#390">Einstellungen » Artikel » Attribute </a></strong> welche angelegt haben.</p>
</li>
<li>
<p>Ordnen Sie den Übergabe-Parametern <strong>#1</strong>, <strong>#2</strong> und <strong>#3</strong>die gewünschten Artikeldaten zu.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel</div>
<div class="paragraph">
<p>Wenn Sie die Option <strong>Alle Varianten als Text</strong> (Bild 5) wählen, werden alle dem Artikel zugehörigen Varianten als Text übergeben, z. B. Größe:L;Farbe:Rot.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_preise">4.3. Preise</h3>
<div class="paragraph">
<p>Hier bestimmen Sie, ob die Preise allgemein als <strong>Brutto</strong> oder <strong>Netto</strong>, bzw. die Rechnung <strong>mit</strong> oder <strong>ohne</strong><strong>Versandkosten</strong> übertragen wird.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstellungen-Conversion-Tracking-econda-06.png" alt="DE Einstellungen Conversion Tracking econda 06">
</div>
</div>
<div class="paragraph">
<p><em>Bild 6: Optionen für Preise und Versandkosten einstellen</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_debug_ausgabe">4.4. Debug-Ausgabe</h3>
<div class="paragraph">
<p>Aktivieren Sie hier die Debug-Ausgabe. Sie können so den JavaScript-Code, der die Daten an econda überträgt, bequem kontrollieren. Sie bekommen die Debug-Ausgabe nur angezeigt, wenn Sie im Admin-Bereich eingeloggt sind. Für andere Webshop-Besucher ist die Debug-Ausgabe unsichtbar.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstellungen-Conversion-Tracking-econda-07.png" alt="DE Einstellungen Conversion Tracking econda 07">
</div>
</div>
<div class="paragraph">
<p><em>Bild 7: Optionen für die <strong>Debug-Ausgabe</strong></em></p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Debug-Mode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Keine Debug-Ausgabe</strong> =&nbsp;(Standard) Der JavaScript-Code wird in die Seite eingefügt, die Daten an econda überträgt.<br>
<strong>Debug-Ausgabe, kein Tracking</strong> =&nbsp;Der JavaScript-Code wird auf jeder Seite des Webshops eingeblendet, es werden keine Daten an econda übertragen.<br>
<strong>Debug-Ausgabe und Tracking</strong> =&nbsp;Der JavaScript-Code wird auf jeder Seite des Webshops eingeblendet, der JavaScript-Code wird in die Seite eingefügt, die Daten an econda überträgt.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Optionen für die Debug-Ausgabe</em></p>
</div>
<div class="paragraph">
<p>In Bild 8 sehen Sie ein Beispiel zur Debug-Ausgabe im Webshop:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstellungen-Conversion-Tracking-econda-08.png" alt="DE Einstellungen Conversion Tracking econda 08">
</div>
</div>
<div class="paragraph">
<p><em>Bild 8: Beispiel für eine Debug-Ausgabe im Webshop</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_tracking_aktivieren">4.5. Tracking aktivieren</h3>
<div class="paragraph">
<p>Die Übermittlung der Daten an econda kann jederzeit aktiviert bzw. deaktiviert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstellungen-Conversion-Tracking-econda-09.png" alt="DE Einstellungen Conversion Tracking econda 09">
</div>
</div>
<div class="paragraph">
<p><em>Bild 9: Option <strong>Tracking aktivieren</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Tracking des econda Shop Monitor aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Setzen Sie das Häkchen bei <strong>Tracking aktivieren</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.<br>
→ Ab sofort werden die Daten übertragen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Weiterleitungsart von <strong>PayPal Express</strong> bei der <strong><a href="/omni-channel/online-shop/cms#webdesign-webdesign-bearbeiten-bestellvorgang-bestellbestaetigung">Bestellbestätigung  </a></strong> muss für das Tracking auf <strong>JavaScript</strong> gestellt werden.</p>
</div>
<div class="sect3">
<h4 id="_tracking_der_findologic_suche">4.5.1. Tracking der FINDOLOGIC-Suche</h4>
<div class="paragraph">
<p>Nutzen Sie die Suche von <strong><a href="/omni-channel/online-shop/extras/findologic">FINDOLOGIC  </a></strong>? Dann werden Informationen über Suchbegriff und Anzahl der Resultate nicht mehr automatisch an econda übertragen. Um das zu ändern, müssen Sie beim Template des FINDOLOGIC-Suchergebnisses ein bestimmtes Tag ergänzen, um plentymarkets die nötigen Informationen zu liefern.</p>
</div>
</div>
<div class="sect3">
<h4 id="_template_manager_ihres_findologic_accounts">4.5.2. Template-Manager Ihres FINDOLOGIC-Accounts</h4>
<div class="paragraph">
<p>Lassen Sie sich das Template der Suchantwort anzeigen. Setzen Sie hier das Tag <strong>&lt;PLENTY_TOTAL_RESULTS&gt;</strong><strong>{$TOTAL_RESULTS}</strong><strong>&lt;/PLENTY_TOTAL_RESULTS&gt;</strong> ein. Diese Methode funktioniert auch, wenn Sie als <strong>Design des Suchergebnisses</strong> die Option <strong>plenty</strong> aktiviert haben.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_cross_selling_aktivieren">4.6. Cross-Selling aktivieren</h3>
<div class="paragraph">
<p>Econda bietet Ihnen ebenfalls eine Cross-Selling-Funktion an, die Sie mit plentymarkets nutzen können. Econda wertet Ihre Artikel dann selbst aus und erstellt Cross-Selling-Listen Ihrer Artikel, die dann von plentymarkets verwendet werden. Um die Cross-Selling-Funktion von Econda zu aktivieren, gehen Sie wie im Folgenden beschrieben vor.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstellungen-Conversion-Tracking-econda-10.png" alt="DE Einstellungen Conversion Tracking econda 10">
</div>
</div>
<div class="paragraph">
<p><em>Bild 10: Option <strong>Cross-Selling aktivieren</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Econda Cross-Selling aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Dienste » Econda » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Cross-Selling aktivieren</strong>.</p>
</li>
<li>
<p>Tragen Sie die <strong>Account-ID</strong> von econda ein.</p>
</li>
<li>
<p>Tragen Sie die <strong>Cross-Selling Widget-ID</strong> ein, wie von econda erhalten.</p>
</li>
<li>
<p>Tragen Sie die <strong>Anzahl zurückgelieferter Artikel</strong> ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Konfiguration im CMS</div>
<div class="paragraph">
<p>Konfigurieren Sie dann wie gewohnt im Menü <strong>CMS » Webdesign » Layout » ItemView</strong> das Template <strong>ItemViewCrossSellingItemsList</strong> nach Ihren Wünschen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>