<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines_über_twitter"><span>1.</span><span> Allgemeines über Twitter</span></a></li>
<li><a href="#_twitter_in_plentymarkets_einrichten"><span>2.</span><span> Twitter in plentymarkets einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_twitter_auf_der_startseite_einrichten"><span>2.1.</span><span> Twitter auf der Startseite einrichten</span></a></li>
</ul>
</li>
<li><a href="#_tweets_über_die_startseite_versenden"><span>3.</span><span> Tweets über die Startseite versenden</span></a></li>
<li><a href="#_tweets_über_den_aktionsmanager_versenden"><span>4.</span><span> Tweets über den Aktionsmanager versenden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Twitter</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Mandant (Shop) » Globale Einstellungen » Dienste » Twitter</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_über_twitter">1. Allgemeines über Twitter</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="http:///www.twitter.com" target="_blank">Twitter</a></strong> ist ein  Mikroblogging-Dienst, mit dem angemeldete Benutzer Textnachrichten mit maximal 140 Zeichen senden und Nachrichten von anderen Benutzern empfangen. Mit plentymarkets können Tweets direkt an Twitter übergeben werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">URL mit bit.ly kürzen</div>
<div class="paragraph">
<p>Auf der Website des online Dienstes <strong>bit.ly</strong> haben Sie die Möglichkeit, sehr lange URLs kürzen zu lassen. Haben Sie eine gültige Konfiguration für den Kurz-URL-Dienst bit.ly hinterlegt, werden die URLs, die plentymarkets automatisch für die Tweets generiert, direkt gekürzt. Weitere Details zur Konfiguration von bit.ly finden Sie auf der Handbuchseite <a href="/omni-channel/online-shop/extras/bit-ly"><strong>bit.ly</strong></a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_twitter_in_plentymarkets_einrichten">2. Twitter in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Twitter in plentymarkets einrichten und nutzen zu können, benötigen Sie einen Twitter-Account, den Sie bei der <strong><a href="http:///www.twitter.com" target="_blank">Registrierung</a></strong> bei Twitter erhalten.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstell-Mandant-GlobaleEinst-Diesnte-Twitter-01.png" alt="DE Einstell Mandant GlobaleEinst Diesnte Twitter 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Twitter-Account in plentymarkets hinzufügen</em></p>
</div>
<div class="paragraph instruction">
<p>Twitter einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Globale Einstellungen » Dienste » Twitter</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>grüne Plus</strong>, um einen neuen Twitter-Account zu registrieren (Bild 1, roter Pfeil).<br>
→ Sie werden an Twitter weitergeleitet, um die Einrichtung der Schnittstelle zu plentymarkets zu bestätigen. Nach der Bestätigung werden Sie in Ihr plentymarkets-System zurückgeleitet.</p>
</li>
<li>
<p>Laden Sie den Bereich <strong>Einstellungen » Mandant (Shop) » Globale Einstellungen » Dienste » Twitter</strong> neu.<br>
→  Die Gültigkeit Ihrer Registrierung wird angezeigt (Bild 2, blauer Pfeil).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Gleichzeitig wird in Ihrem Twitter-Account unter <strong><a href="https://twitter.com/account/connections" target="_blank">https://twitter.com/account/connections</a></strong> die Verbindung zur plentymarkets-Schnittstelle angezeigt.<br>
Sollte Ihre Registrierung ungültig sein oder haben Sie in Ihrem Twitter-Account die Autorisierung der plentymarkets-Schnittstelle entzogen, den Twitter-Webservice zu nutzen, erkennt plentymarkets dies und bietet Ihnen die Möglichkeit, sich erneut zu registrieren.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstell-Mandant-GlobaleEinst-Diesnte-Twitter-02.png" alt="DE Einstell Mandant GlobaleEinst Diesnte Twitter 02">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: gültiges Twitter-Konto</em></p>
</div>
<div class="sect2">
<h3 id="_twitter_auf_der_startseite_einrichten">2.1. Twitter auf der Startseite einrichten</h3>
<div class="paragraph">
<p>Verknüpfen Sie Ihr Twitter-Konto mit der Startseite.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstell-Mandant-GlobaleEinst-Diesnte-Twitter-03.png" alt="DE Einstell Mandant GlobaleEinst Diesnte Twitter 03">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Element <strong>Twitter Friends Timeline</strong> auswählen</em></p>
</div>
<div class="paragraph instruction">
<p>Twitter-Dienst auf der Startseite Ihres plentymarkets-Systems anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Startseite</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Elemente</strong> das Element <strong>Twitter Friends Timeline</strong> aus dem Dropdown-Menü (Bild 3).</p>
</li>
<li>
<p>Klicken Sie auf das <strong>grüne Plus</strong> über <strong>Neues Element</strong>.<br>
→ Das Twitter-Element wird auf der Startseite angezeigt.</p>
</li>
<li>
<p>Klicken Sie rechts oben auf den <strong>Schraubenschlüssel</strong>, um das Element zu öffnen.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Twitter Account</strong> Ihr Twitter-Konto aus dem Dropdown-Menü (Bild 4).</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstell-Mandant-GlobaleEinst-Diesnte-Twitter-04.png" alt="DE Einstell Mandant GlobaleEinst Diesnte Twitter 04">
</div>
</div>
<div class="paragraph">
<p><em>Bild 4: Twitter-Konto auswählen</em></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_tweets_über_die_startseite_versenden">3. Tweets über die Startseite versenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Senden Sie über sie Startseite Nachrichten bei Twitter und empfangen Sie die Nachrichten der Personen, denen Sie folgen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Einstell-Mandant-GlobaleEinst-Diesnte-Twitter-05.png" alt="DE Einstell Mandant GlobaleEinst Diesnte Twitter 05">
</div>
</div>
<div class="paragraph">
<p><em>Bild 5: Twitter-Nachricht eingeben</em></p>
</div>
<div class="paragraph instruction">
<p>Tweet versenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Startseite</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>Plus</strong> im Twitter-Element, um Ihren Twitter-Account zu öffnen.</p>
</li>
<li>
<p>Geben Sie eine Nachricht in das Textfeld ein.<br>
→ Sie sehen im Feld darüber, wie viele Zeichen Ihnen noch zur Verfügung stehen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Nachricht zu versenden.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_tweets_über_den_aktionsmanager_versenden">4. Tweets über den Aktionsmanager versenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutzen Sie den Aktionsmanager, um täglich über Ihre Live-Shopping-Angebote zu twittern. Weitere Details zum Anlegen der Aktion <strong>Live-Shopping twittern</strong>, finden Sie auf der Handbuchseite <a href="/omni-channel/online-shop/extras/live-shopping#100"><strong>Aktionsmanager</strong></a>.</p>
</div>
</div>
</div>
</main>