<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Bestelleigenschaften</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Beispiel: Eigenes Bild hochladen</span></a>
<ul class="sectlevel3">
<li><a href="#30"><span>1.1.1.</span><span> Bestelleigenschaft erstellen</span></a></li>
<li><a href="#40"><span>1.1.2.</span><span> Bestelleigenschaft mit Varianten verknüpfen</span></a></li>
<li><a href="#50"><span>1.1.3.</span><span> Das Ergebnis prüfen</span></a></li>
</ul>
</li>
<li><a href="#60"><span>1.2.</span><span> Beispiel: Zusatzoptionen wählen</span></a>
<ul class="sectlevel3">
<li><a href="#70"><span>1.2.1.</span><span> Gruppe erstellen</span></a></li>
<li><a href="#80"><span>1.2.2.</span><span> Bestelleigenschaft erstellen</span></a></li>
<li><a href="#85"><span>1.2.3.</span><span> Bestelleigenschaft mit Varianten verknüpfen</span></a></li>
<li><a href="#90"><span>1.2.4.</span><span> Das Ergebnis prüfen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#95"><span>2.</span><span> Bestellmerkmale</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>2.1.</span><span> Beispiel: Eigenes Bild hochladen</span></a>
<ul class="sectlevel3">
<li><a href="#130"><span>2.1.1.</span><span> Bestellmerkmal erstellen</span></a></li>
<li><a href="#150"><span>2.1.2.</span><span> Bestellmerkmal mit Artikel verknüpfen</span></a></li>
<li><a href="#170"><span>2.1.3.</span><span> Das Ergebnis prüfen</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.2.</span><span> Beispiel: Zusatzoptionen wählen</span></a>
<ul class="sectlevel3">
<li><a href="#220"><span>2.2.1.</span><span> Merkmalgruppe erstellen</span></a></li>
<li><a href="#240"><span>2.2.2.</span><span> Bestellmerkmal erstellen</span></a></li>
<li><a href="#260"><span>2.2.3.</span><span> Bestellmerkmal mit Artikel verknüpfen</span></a></li>
<li><a href="#280"><span>2.2.4.</span><span> Das Ergebnis prüfen</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Bestelleigenschaften (Personalisierte Artikel)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit plentymarkets kannst du personalisierte Artikel in deinem plentyShop verkaufen.
Beispielsweise könnten deine Endkunden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ein eigenes Bild hochladen, das auf ein T-Shirt gedruckt werden soll.</p>
</li>
<li>
<p>Zusatzoptionen wählen, z.B. Goldrand oder Diamantenverzierung für einen Trauring.</p>
</li>
</ul>
</div>
<h4 id="_bestelleigenschaften_vs_bestellmerkmale" class="discrete">Bestelleigenschaften vs. Bestellmerkmale</h4>
<div class="paragraph">
<p>In plentymarkets werden personalisierte Artikel mit Hilfe von <em>Bestelleigenschaften</em> oder <em>Bestellmerkmalen</em> zum Verkauf angeboten.
Du kannst die eine oder die andere Methode im plentyShop nutzen.
Aber du kannst nicht beide gleichzeitig anwenden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Methode</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestelleigenschaften</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong><em>Angaben</em></strong>:</p>
<div class="ulist">
<ul>
<li>
<p>Bestelleigenschaften sind eine besondere Art von <a href="/artikel/einstellungen/eigenschaften">Eigenschaften</a>.
Kunden können sie selbst im plentyShop auswählen und mit bestellen.</p>
</li>
<li>
<p>Bestelleigenschaften sind neuer und flexibler als Bestellmerkmale.
Allerdings befinden sich die Bestelleigenschaften noch im Beta-Stadium.</p>
</li>
<li>
<p>Mit Bestelleigenschaften kannst du <a href="/artikel/einleitung/struktur">bestimmte Varianten</a> personalisierbar machen.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Beispiel</em></strong>:
Deine Kunden sollen ein Foto hochladen können, das auf ein T-Shirt gedruckt wird.
Mit den Bestelleigenschaften kannst du festlegen, dass das Foto nur auf ein weißes T-Shirt gedruckt werden kann, aber nicht auf ein farbiges.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellmerkmale</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong><em>Angaben</em></strong>:</p>
<div class="ulist">
<ul>
<li>
<p>Bestellmerkmale sind eine besondere Art von <a href="/artikel/einstellungen/eigenschaften">Merkmalen</a>.
Kunden können sie selbst im plentyShop auswählen und mit bestellen.</p>
</li>
<li>
<p>Bestellmerkmale sind älter und weniger flexible als Bestelleigenschaften.
Dank des Stable-Zustands sind sie aber auch weniger fehleranfällig.</p>
</li>
<li>
<p>Mit Bestellmerkmalen kannst du nur <a href="/artikel/einleitung/struktur">ganze Artikel</a> personalisierbar machen.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Beispiel</em></strong>:
Deine Kunden sollen ein Foto hochladen können, das auf ein T-Shirt gedruckt wird.
Bei den Bestellmerkmalen kannst du <em>nicht</em> angeben, auf welche Farbvariante des T-Shirts das Bild gedruckt werden kann.
Die Bestellmerkmale gelten für den gesamten Artikel, d.h. für alle Varianten.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="10">1. Bestelleigenschaften</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ab Ceres-Version 5.0.40</div>
<div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/sales/online-shops/ceres_4697">plentyShop Ceres</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> unterstützt Bestelleigenschaften ab Version 5.0.40.
Niedrigere Versionen von Ceres unterstützen die Funktion nicht.
Um Bestelleigenschaften zu nutzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/plugins/installierte-plugins-aktualisieren">Aktualisiere das Ceres-Plugin</a> auf die Version 5.0.40 oder höher.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Öffne Plugin-Set] » plentyShop Ceres</strong>.</p>
</li>
<li>
<p>Navigiere zum Schritt <strong>Webshop</strong>.</p>
</li>
<li>
<p>Aktiviere (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die Einstellung <strong>Nutzung von Bestelleigenschaften (beta)</strong>. Achtung: Dadurch werden Bestellmerkmale deaktiviert.</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="20">1.1. Beispiel: Eigenes Bild hochladen</h3>
<div class="paragraph">
<p>Stell dir vor, du verkaufst T-Shirts. Du willst Kunden die Möglichkeit geben, ihre eigenen Bilder hochzuladen und diese auf T-Shirts drucken zu lassen.
Die Vorgehensweise ist wie folgt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#30">Erstelle eine Bestelleigenschaft</a>.</p>
</li>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#40">Verknüpfe die Bestelleigenschaft mit den passenden Varianten</a>.</p>
</li>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#50">Prüfe das Ergebnis in deinem plentyShop</a>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="30">1.1.1. Bestelleigenschaft erstellen</h4>
<div class="paragraph">
<p>Erstelle zunächst alle nötigen Bestelleigenschaften.
Zum Beispiel die Möglichkeit, ein eigenes Bild hochzuladen.</p>
</div>
<div class="paragraph instruction">
<p>Neue Bestelleigenschaft erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Eigenschaft erstellen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen wie folgt vor:</p>
<div class="ulist">
<ul>
<li>
<p>Allgemeine Einstellungen:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Details » Bereich</strong>: Wähle die Option <strong>Artikel</strong>.</p>
</li>
<li>
<p><strong>Details » Typ</strong>: Wähle die Option <strong>Datei</strong>.</p>
</li>
<li>
<p><strong>Name</strong>: Gib einen Frontend-Namen für die Eigenschaft ein.</p>
</li>
<li>
<p><strong>Gruppen</strong>: Weise die Eigenschaft einer bestehenden Gruppe zu.<br>
→ Du hast noch keine Gruppe erstellt? <a href="/artikel/einstellungen/eigenschaften#1200">Folge dieser Anleitung</a>.</p>
</li>
<li>
<p><strong>Optionen » Dropdown ohne Titel</strong>: Wähle die Option <strong>Bestelleigenschaft</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Wo soll die Eigenschaft erscheinen?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Sichtbarkeiten » Herkunft</strong>: Wähle die Option <strong>Mandant (Shop)</strong>.</p>
</li>
<li>
<p><strong>Sichtbarkeiten » Mandant</strong>: Wähle den Shop, in dem die Bestelleigenschaft erscheinen soll.</p>
</li>
<li>
<p><strong>Sichtbarkeiten » Überall anzeigen</strong>: Wo soll die Eigenschaft innerhalb des Shops erscheinen? Wähle alle passenden Bereiche aus.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Soll die Eigenschaft nur gegen Aufpreis erhältlich sein?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Optionen » Aufpreis</strong>: Gib den Wert hier ein.</p>
</li>
<li>
<p><strong>Optionen » Steuersatz</strong>: Wie soll der Aufschlag besteuert werden?
Wähle die passende Option.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/bestelleigenschaft-eigenes-bild-konfig.png" alt="bestelleigenschaft eigenes bild konfig">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehr zu den Eigenschaften</div>
<div class="paragraph">
<p>Weitere Informationen zu den einzelnen Optionen findest du &lt;<artikel einstellungen="" eigenschaften#600,="" hier="">&gt;.</artikel></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="40">1.1.2. Bestelleigenschaft mit Varianten verknüpfen</h4>
<div class="paragraph">
<p>Verknüpfe als Nächstes die Bestelleigenschaft mit allen dafür vorgesehenen Varianten.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Eigenschaften</strong>.</p>
</li>
<li>
<p>Klicke in das Eingabefeld <strong>Bestelleigenschaften</strong>.<br>
→ Eine Dropdown-Liste mit den verfügbaren Eigenschaften wird angezeigt.</p>
</li>
<li>
<p>Wähle die passenden Eigenschaften (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Klicke auf Hinzufügen (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Die Eigenschaften werden hinzugefügt.</p>
</li>
<li>
<p>Falls erforderlich, gib einen varianten-spezifischen Aufschlag ein.
Siehe die Info-Box unten für weitere Informationen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Varianten-spezifischer Aufpreis</div>
<div class="paragraph">
<p>Möglicherweise hast du bereits <a href="/artikel/anwendungsfaelle/personalisierte-artikel#30">beim Erstellen der Eigenschaft</a> einen Aufpreis gespeichert.
Was aber tun, wenn nicht für jede Variante derselbe Zuschlag angemessen ist?
Nachdem du die Eigenschaft verknüpft hast, kannst du einen abweichenden Zuschlag eingeben, falls du den für die Eigenschaft gespeicherten Aufpreis überschreiben möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/bestelleigenschaft-eigenes-bild-verknuepfung.png" alt="bestelleigenschaft eigenes bild verknuepfung">
</div>
</div>
</div>
<div class="sect3">
<h4 id="50">1.1.3. Das Ergebnis prüfen</h4>
<div class="paragraph">
<p>Öffne die Variante in deinem plentyShop und stelle sicher, dass die Einstellungen deinen Anforderungen entsprechen.
Passe die Einstellungen bei Bedarf weiter an.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehr zur ShopBuilder-Konfiguration</div>
<div class="paragraph">
<p>Das Widget <a href="/webshop/shop-builder#_bestellmerkmale">Bestellmerkmale</a> dient zur Anzeige der Bestelleigenschaften im plentyShop.
In den Widget-Einstellungen kannst du z.B. die Farbe und Abstände der Bestelleigenschaften steuern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/bestelleigenschaft-eigenes-bild-ergebnis.png" alt="bestelleigenschaft eigenes bild ergebnis">
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="60">1.2. Beispiel: Zusatzoptionen wählen</h3>
<div class="paragraph">
<p>Stell dir vor, du verkaufst Trauringe. Du willst Kunden die Möglichkeit geben, ihre Ringe selbst zu gestalten.
Konkret sollen Kunden einen optionalen Gold- oder Diamantbesatz gegen Aufpreis wählen können.
Die Vorgehensweise ist wie folgt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#70">Erstelle eine Eigenschaftsgruppe</a>.</p>
</li>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#80">Erstelle die Bestelleigenschaften und sortiere sie in die Gruppe ein</a>.</p>
</li>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#85">Verknüpfe die Bestelleigenschaften mit den passenden Varianten</a>.</p>
</li>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#90">Prüfe das Ergebnis in deinem plentyShop</a>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="70">1.2.1. Gruppe erstellen</h4>
<div class="paragraph">
<p>Mithilfe von Eigenschaftsgruppen kannst du angebotene Optionen oder Dienstleistungen unter einer Rubrik zusammenfassen.
Bleiben wir bei dem Beispiel, dass du Trauringe verkaufst und du willst, dass Kunden einen optionalen Gold- oder Diamantbesatz wählen können.
Um diese Optionen übersichtlich darzustellen, legst du eine Eigenschaftsgruppe namens "Verzierungen" an.
Innerhalb dieser Gruppe können Kunden die Optionen "Goldrand" oder "Diamantenrand" wählen.</p>
</div>
<div class="paragraph instruction">
<p>Neue Eigenschaftsgruppe erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Gruppe erstellen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen wie folgt vor:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Details » Gruppentyp</strong>:
Diese Option gilt nur für Bestelleigenschaften vom Typ <strong>Kein</strong>. Wie viele Zusatzoptionen oder Dienstleistungen sollen deine Kunden aus der Gruppe wählen können?</p>
<div class="ulist">
<ul>
<li>
<p><strong>Keine</strong> = Deine Kunden sehen die Bestelleigenschaften im plentyShop. Sie können jedoch nichts auswählen.</p>
</li>
<li>
<p><strong>Select</strong> = Deine Kunden sehen eine Dropdown-Liste im plentyShop. Sie können nur eine Option aus der Liste auswählen.</p>
</li>
<li>
<p><strong>Multiselect</strong> = Deine Kunden sehen Checkboxen im plentyShop. Sie können mehrere Optionen ankreuzen.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Details » Aufpreistyp</strong>:
Hast du vor, Zusatzoptionen oder Dienstleistungen gegen Aufpreis anzubieten? Falls ja, dann wähle, ob der Aufpreis als Prozentsatz oder als Festbetrag behandelt werden soll, z.B. 5% oder 5 EUR.</p>
</li>
<li>
<p><strong>Name</strong>: Gib einen Namen für die Eigenschaftsgruppe ein.
Dieser Name kann für Kunden <a href="/artikel/einstellungen/eigenschaften#1500">im plentyShop sichtbar gemacht werden</a>.
Dies hängt davon ab, wie du das Layout mit ShopBuilder gestaltest.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/bestelleigenschaft-optionen-gruppe.png" alt="bestelleigenschaft optionen gruppe">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehr zu den Eigenschaften</div>
<div class="paragraph">
<p>Weitere Informationen zu den einzelnen Optionen findest du &lt;<artikel einstellungen="" eigenschaften#1250,="" hier="">&gt;.</artikel></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="80">1.2.2. Bestelleigenschaft erstellen</h4>
<div class="paragraph">
<p>Erstelle zunächst alle nötigen Bestelleigenschaften.
Zum Beispiel der Goldbesatz und der Diamantbesatz.</p>
</div>
<div class="paragraph instruction">
<p>Neue Bestelleigenschaft erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Eigenschaft erstellen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen wie folgt vor:</p>
<div class="ulist">
<ul>
<li>
<p>Allgemeine Einstellungen:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Details » Bereich</strong>: Wähle die Option <strong>Artikel</strong>.</p>
</li>
<li>
<p><strong>Details » Typ</strong>: Wähle die Option <strong>Kein</strong>.</p>
</li>
<li>
<p><strong>Name</strong>: Gib einen Frontend-Namen für die Eigenschaft ein.</p>
</li>
<li>
<p><strong>Gruppen</strong>:
Wähle die Gruppe, in die diese Eigenschaft einsortiert werden soll.</p>
</li>
<li>
<p><strong>Optionen » Dropdown ohne Titel</strong>: Wähle die Option <strong>Bestelleigenschaft</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Wo soll die Eigenschaft erscheinen?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Sichtbarkeiten » Herkunft</strong>: Wähle die Option <strong>Mandant (Shop)</strong>.</p>
</li>
<li>
<p><strong>Sichtbarkeiten » Mandant</strong>: Wähle den Shop, in dem die Bestelleigenschaft erscheinen soll.</p>
</li>
<li>
<p><strong>Sichtbarkeiten » Überall anzeigen</strong>: Wo soll die Eigenschaft innerhalb des Shops erscheinen? Wähle alle passenden Bereiche aus.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Soll die Eigenschaft nur gegen Aufpreis erhältlich sein?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Optionen » Aufpreis</strong>: Gib den Wert hier ein.</p>
</li>
<li>
<p><strong>Optionen » Steuersatz</strong>: Wie soll der Aufschlag besteuert werden?
Wähle die passende Option.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/bestelleigenschaft-optionen-konfig.png" alt="bestelleigenschaft optionen konfig">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehr zu den Eigenschaften</div>
<div class="paragraph">
<p>Weitere Informationen zu den einzelnen Optionen findest du &lt;<artikel einstellungen="" eigenschaften#600,="" hier="">&gt;.</artikel></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="85">1.2.3. Bestelleigenschaft mit Varianten verknüpfen</h4>
<div class="paragraph">
<p>Verknüpfe als Nächstes die Bestelleigenschaft mit allen dafür vorgesehenen Varianten.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Eigenschaften</strong>.</p>
</li>
<li>
<p>Klicke in das Eingabefeld <strong>Bestelleigenschaften</strong>.<br>
→ Eine Dropdown-Liste mit den verfügbaren Eigenschaften wird angezeigt.</p>
</li>
<li>
<p>Wähle die passenden Eigenschaften (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Klicke auf Hinzufügen (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Die Eigenschaften werden hinzugefügt.</p>
</li>
<li>
<p>Falls erforderlich, gib einen varianten-spezifischen Aufschlag ein.
Siehe die Info-Box unten für weitere Informationen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Varianten-spezifischer Aufpreis</div>
<div class="paragraph">
<p>Möglicherweise hast du bereits <a href="/artikel/anwendungsfaelle/personalisierte-artikel#30">beim Erstellen der Eigenschaft</a> einen Aufpreis gespeichert.
Was aber tun, wenn nicht für jede Variante derselbe Zuschlag angemessen ist?
Nachdem du die Eigenschaft verknüpft hast, kannst du einen abweichenden Zuschlag eingeben, falls du den für die Eigenschaft gespeicherten Aufpreis überschreiben möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/bestelleigenschaft-optionen-verknuepfung.png" alt="bestelleigenschaft optionen verknuepfung">
</div>
</div>
</div>
<div class="sect3">
<h4 id="90">1.2.4. Das Ergebnis prüfen</h4>
<div class="paragraph">
<p>Öffne die Variante in deinem plentyShop und stelle sicher, dass die Einstellungen deinen Anforderungen entsprechen.
Passe die Einstellungen bei Bedarf weiter an.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehr zur ShopBuilder-Konfiguration</div>
<div class="paragraph">
<p>Das Widget <a href="/webshop/shop-builder#_bestellmerkmale">Bestellmerkmale</a> dient zur Anzeige der Bestelleigenschaften im plentyShop.
In den Widget-Einstellungen kannst du z.B. die Farbe und Abstände der Bestelleigenschaften steuern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/bestelleigenschaft-optionen-ergebnis.png" alt="bestelleigenschaft optionen ergebnis">
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="95">2. Bestellmerkmale</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="100">2.1. Beispiel: Eigenes Bild hochladen</h3>
<div class="paragraph">
<p>Stell dir vor, du verkaufst T-Shirts. Du willst Kunden die Möglichkeit geben, ihre eigenen Bilder hochzuladen und diese auf T-Shirts drucken zu lassen.
Die Vorgehensweise ist wie folgt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#130">Erstelle ein Bestellmerkmal</a>.</p>
</li>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#150">Verknüpfe das Bestellmerkmal mit den passenden Artikeln</a>.</p>
</li>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#170">Prüfe das Ergebnis in deinem plentyShop</a>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="130">2.1.1. Bestellmerkmal erstellen</h4>
<div class="paragraph">
<p>Erstelle zunächst alle nötigen Bestellmerkmale.
Zum Beispiel die Möglichkeit, ein eigenes Bild hochzuladen.</p>
</div>
<div class="paragraph instruction">
<p>Neues Bestellmerkmal erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen wie folgt vor. Klappe die Info-Box auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), wenn du zusätzliche Informationen zu einer Option benötigst.</p>
<div class="ulist">
<ul>
<li>
<p>Verwende die Optionen <strong>Name (intern)</strong> und <strong>Webshop</strong>, um ein Backend und einen Frontend-Namen für das Merkmal zu speichern.</p>
</li>
<li>
<p>Sollen Kunden die Möglichkeit haben, Bilder hochzuladen? Dann wähle <strong>Datei</strong> für die Option <strong>Merkmaltyp</strong>.</p>
</li>
<li>
<p>Sollen Kunden die Möglichkeit haben, Text einzugeben? Dann wähle <strong>Text</strong> für die Option <strong>Merkmaltyp</strong>.</p>
</li>
<li>
<p>Wenn für das Merkmal ein <strong>Aufpreis</strong> berechnet werden soll, dann gib den Wert ein.</p>
</li>
<li>
<p>Wo soll das Merkmal angezeigt werden? Verwende die Option <strong>Anzeige</strong>, um alle passenden Bereiche auszuwählen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Wähle die Option <strong>Bestellmerkmal</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/eigenes-bild-merkmal.png" alt="eigenes bild merkmal">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehr zu den Merkmalen</div>
<div class="paragraph">
<p>Weitere Informationen zu den einzelnen Optionen findest du &lt;<artikel einstellungen="" eigenschaften#300,="" hier="">&gt;.</artikel></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="150">2.1.2. Bestellmerkmal mit Artikel verknüpfen</h4>
<div class="paragraph">
<p>Verknüpfe als Nächstes das Bestellmerkmal mit allen dafür vorgesehenen Artikeln.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal mit einem Artikel verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Merkmale</strong>. Der Bildschirm ist in zwei Bereiche unterteilt:</p>
<div class="ulist">
<ul>
<li>
<p>Merkmale, die bereits mit dem Artikel verknüpft sind, werden im oberen Bereich <strong>Merkmale</strong> aufgelistet.</p>
</li>
<li>
<p>Merkmale, die noch nicht verknüpft sind, werden im unteren Bereich <strong>Weitere Merkmale aktivieren</strong> aufgelistet. Die Merkmale sind hier in ihre Gruppen sortiert.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Klappe ggf. die Merkmalgruppe im unteren Bereich auf (<span class="icon grey"><i class="fa fa-plus-square-o  "></i></span>) und wähle das Merkmal aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Merkmal ist nun mit dem Artikel verknüpft und im oberen Bereich angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Artikel-spezifischer Aufpreis</div>
<div class="paragraph">
<p>Möglicherweise hast du bereits <a href="/artikel/anwendungsfaelle/personalisierte-artikel#130">beim Erstellen des Merkmals</a> einen Aufpreis gespeichert.
Was aber tun, wenn nicht für jeden Artikel derselbe Zuschlag angemessen ist?
Nachdem du das Merkmal verknüpft hast, kannst du einen abweichenden Zuschlag eingeben, falls du den für das Merkmal gespeicherten Aufpreis überschreiben möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="170">2.1.3. Das Ergebnis prüfen</h4>
<div class="paragraph">
<p>Öffne den Artikel in deinem plentyShop und stelle sicher, dass die Einstellungen deinen Anforderungen entsprechen.
Passe die Einstellungen bei Bedarf weiter an.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehr zur ShopBuilder-Konfiguration</div>
<div class="paragraph">
<p>Das Widget <a href="/webshop/shop-builder#_bestellmerkmale">Bestellmerkmale</a> dient zur Anzeige der Bestellmerkmalen im plentyShop.
In den Widget-Einstellungen kannst du z.B. die Farbe und Abstände der Bestellmerkmalen steuern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/eigenes-bild-webshop.png" alt="eigenes bild webshop">
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="200">2.2. Beispiel: Zusatzoptionen wählen</h3>
<div class="paragraph">
<p>Stell dir vor, du verkaufst Trauringe. Du willst Kunden die Möglichkeit geben, ihre Ringe selbst zu gestalten.
Konkret sollen Kunden einen optionalen Gold- oder Diamantbesatz gegen Aufpreis wählen können.
Die Vorgehensweise ist wie folgt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#220">Erstelle eine Merkmalgruppe</a>.</p>
</li>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#240">Erstelle die Bestellmerkmale und sortiere sie in die Gruppe ein</a>.</p>
</li>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#260">Verknüpfe die Bestellmerkmale mit den passenden Artikeln</a>.</p>
</li>
<li>
<p><a href="/artikel/anwendungsfaelle/personalisierte-artikel#280">Prüfe das Ergebnis in deinem plentyShop</a>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="220">2.2.1. Merkmalgruppe erstellen</h4>
<div class="paragraph">
<p>Mithilfe von Merkmalgruppen kannst du angebotene Optionen oder Dienstleistungen unter einer Rubrik zusammenfassen.
Bleiben wir bei dem Beispiel, dass du Trauringe verkaufst und du willst, dass Kunden einen optionalen Gold- oder Diamantbesatz wählen können.
Um diese Optionen übersichtlich darzustellen, legst du eine Merkmalgruppe namens "Verzierungen" an.
Innerhalb dieser Gruppe können Kunden die Optionen "Goldrand" oder "Diamantenrand" wählen.</p>
</div>
<div class="paragraph instruction">
<p>Neue Merkmalgruppe erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neue Merkmalgruppe</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen wie folgt vor. Klappe die Info-Box auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), wenn du zusätzliche Informationen zu einer Option benötigst.</p>
<div class="ulist">
<ul>
<li>
<p>Verwende die Optionen <strong>Name (intern)</strong> und <strong>Sprache</strong>, um ein Backend und einen Frontend-Namen für die Merkmalgruppe zu speichern.</p>
</li>
<li>
<p>Hast du vor, die Merkmale in dieser Gruppe gegen <strong>Aufpreis</strong> anzubieten? Falls ja, entscheide, ob es sich um einen Prozentsatz oder einen Festpreis handelt.</p>
</li>
<li>
<p>Sollen Kunden ein oder mehrere Merkmale aus der Gruppe wählen können? Triff deine Entscheidung mit der Option <strong>Gruppierung von Bestellmerkmalen</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/optionen-gruppe.png" alt="optionen gruppe">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehr zu den Merkmalen</div>
<div class="paragraph">
<p>Weitere Informationen zu den einzelnen Optionen findest du &lt;<artikel einstellungen="" eigenschaften#200,="" hier="">&gt;.</artikel></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="240">2.2.2. Bestellmerkmal erstellen</h4>
<div class="paragraph">
<p>Erstelle zunächst alle nötigen Bestellmerkmale.
Zum Beispiel der Goldbesatz und der Diamantbesatz.</p>
</div>
<div class="paragraph instruction">
<p>Neues Bestellmerkmal erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen wie folgt vor. Klappe die Info-Box auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), wenn du zusätzliche Informationen zu einer Option benötigst.</p>
<div class="ulist">
<ul>
<li>
<p>Verwende die Optionen <strong>Name (intern)</strong> und <strong>Webshop</strong>, um ein Backend und einen Frontend-Namen für das Merkmal zu speichern.</p>
</li>
<li>
<p>Wähle die <strong>Merkmalgruppe</strong>, in die dieses Merkmal einsortiert werden soll.</p>
</li>
<li>
<p>Wähle <strong>Kein</strong> für die Option <strong>Merkmaltyp</strong>.</p>
</li>
<li>
<p>Wenn für das Merkmal ein <strong>Aufpreis</strong> berechnet werden soll, dann gib den Wert ein.</p>
</li>
<li>
<p>Wo soll das Merkmal angezeigt werden? Verwende die Option <strong>Anzeige</strong>, um alle passenden Bereiche auszuwählen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Wähle die Option <strong>Bestellmerkmal</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/optionen-merkmal.png" alt="optionen merkmal">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehr zu den Merkmalen</div>
<div class="paragraph">
<p>Weitere Informationen zu den einzelnen Optionen findest du &lt;<artikel einstellungen="" eigenschaften#300,="" hier="">&gt;.</artikel></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="260">2.2.3. Bestellmerkmal mit Artikel verknüpfen</h4>
<div class="paragraph">
<p>Verknüpfe als Nächstes das Bestellmerkmal mit allen dafür vorgesehenen Artikeln.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal mit einem Artikel verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Merkmale</strong>. Der Bildschirm ist in zwei Bereiche unterteilt:</p>
<div class="ulist">
<ul>
<li>
<p>Merkmale, die bereits mit dem Artikel verknüpft sind, werden im oberen Bereich <strong>Merkmale</strong> aufgelistet.</p>
</li>
<li>
<p>Merkmale, die noch nicht verknüpft sind, werden im unteren Bereich <strong>Weitere Merkmale aktivieren</strong> aufgelistet. Die Merkmale sind hier in ihre Gruppen sortiert.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Klappe ggf. die Merkmalgruppe im unteren Bereich auf (<span class="icon grey"><i class="fa fa-plus-square-o  "></i></span>) und wähle das Merkmal aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Merkmal ist nun mit dem Artikel verknüpft und im oberen Bereich angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Artikel-spezifischer Aufpreis</div>
<div class="paragraph">
<p>Möglicherweise hast du bereits <a href="/artikel/anwendungsfaelle/personalisierte-artikel#240">beim Erstellen des Merkmals</a> einen Aufpreis gespeichert.
Was aber tun, wenn nicht für jeden Artikel derselbe Zuschlag angemessen ist?
Nachdem du das Merkmal verknüpft hast, kannst du einen abweichenden Zuschlag eingeben, falls du den für das Merkmal gespeicherten Aufpreis überschreiben möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="280">2.2.4. Das Ergebnis prüfen</h4>
<div class="paragraph">
<p>Öffne den Artikel in deinem plentyShop und stelle sicher, dass die Einstellungen deinen Anforderungen entsprechen.
Passe die Einstellungen bei Bedarf weiter an.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehr zur ShopBuilder-Konfiguration</div>
<div class="paragraph">
<p>Das Widget <a href="/webshop/shop-builder#_bestellmerkmale">Bestellmerkmale</a> dient zur Anzeige der Bestellmerkmalen im plentyShop.
In den Widget-Einstellungen kannst du z.B. die Farbe und Abstände der Bestellmerkmalen steuern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/optionen-webshop.png" alt="optionen webshop">
</div>
</div>
</div>
</div>
</div>
</div>
</main>