<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#itemdataexport"><span>1.</span><span> Item data export</span></a>
<ul class="sectlevel2">
<li><a href="#_how_to_find_out_if_an_item_was_not_exported"><span>1.1.</span><span> How to find out if an item was not exported</span></a></li>
<li><a href="#_how_to_find_out_why_an_item_was_not_exported"><span>1.2.</span><span> How to find out why an item was not exported</span></a>
<ul class="sectlevel3">
<li><a href="#_last_change"><span>1.2.1.</span><span> Last change</span></a></li>
<li><a href="#_are_the_settings_in_the_availability_tab_correct_for_each_variation"><span>1.2.2.</span><span> Are the settings in the “Availability” tab correct? (for each variation)</span></a></li>
<li><a href="#_are_the_settings_in_the_multi_channel_tab_correct"><span>1.2.3.</span><span> Are the settings in the “Multi-Channel” tab correct?</span></a></li>
<li><a href="#_are_the_filters_in_the_basic_settings_correct"><span>1.2.4.</span><span> Are the filters in the basic settings correct?</span></a></li>
<li><a href="#_price"><span>1.2.5.</span><span> Price</span></a></li>
<li><a href="#_activate_the_variation"><span>1.2.6.</span><span> Activate the variation</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#prime"><span>2.</span><span> Prime</span></a>
<ul class="sectlevel2">
<li><a href="#_how_are_prime_orders_processed"><span>2.1.</span><span> How are Prime orders processed?</span></a>
<ul class="sectlevel3">
<li><a href="#_shipping_profile"><span>2.1.1.</span><span> Shipping profile</span></a></li>
<li><a href="#_loyalty_program"><span>2.1.2.</span><span> Loyalty program</span></a></li>
<li><a href="#_amazonprime_service"><span>2.1.3.</span><span> AmazonPrime service</span></a></li>
<li><a href="#_further_information"><span>2.1.4.</span><span> Further information</span></a></li>
<li><a href="#_defining_shipping_groups_on_amazon"><span>2.1.5.</span><span> Defining shipping groups on Amazon</span></a></li>
</ul>
</li>
<li><a href="#_errors_and_how_to_solve_them"><span>2.2.</span><span> Errors and how to solve them</span></a></li>
</ul>
</li>
<li><a href="#europeanmarketplaceaccount"><span>3.</span><span> Error message: Request is throttled</span></a>
<ul class="sectlevel2">
<li><a href="#_what_does_the_error_message_request_is_throttled_mean"><span>3.1.</span><span> What does the error message “Request is throttled” mean?</span></a></li>
<li><a href="#_major_cause_of_the_error"><span>3.2.</span><span> Major cause of the error:</span></a></li>
<li><a href="#_how_to_solve_the_error"><span>3.3.</span><span> How to solve the error:</span></a></li>
</ul>
</li>
<li><a href="#fba"><span>4.</span><span> Manually generating reports for FBA orders and FBA returns</span></a>
<ul class="sectlevel2">
<li><a href="#_what_to_do_if_fba_returns_are_missing"><span>4.1.</span><span> What to do if FBA returns are missing:</span></a>
<ul class="sectlevel3">
<li><a href="#_import_in_plentymarkets"><span>4.1.1.</span><span> Import in plentymarkets</span></a></li>
</ul>
</li>
<li><a href="#_instructions_on_what_to_do_if_fba_orders_are_missing"><span>4.2.</span><span> Instructions on what to do if FBA orders are missing:</span></a>
<ul class="sectlevel3">
<li><a href="#_import_in_plentymarkets_2"><span>4.2.1.</span><span> Import in plentymarkets</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#orderimport"><span>5.</span><span> MFN order import</span></a>
<ul class="sectlevel2">
<li><a href="#_mws_registration"><span>5.1.</span><span> MWS registration</span></a></li>
<li><a href="#_auth_token_expired"><span>5.2.</span><span> Auth token expired</span></a></li>
<li><a href="#_wrong_access_data"><span>5.3.</span><span> Wrong access data</span></a></li>
<li><a href="#_scheduled_reports"><span>5.4.</span><span> Scheduled reports</span></a></li>
<li><a href="#_further_error_messages"><span>5.5.</span><span> Further error messages</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Amazon</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Best Practices for the marketplace <strong>Amazon</strong> can be found on this page.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="itemdataexport">1. Item data export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use this checklist to find out why an item has not been transferred to Amazon. (Please also read the explanatory note below.)</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">A brief explanation may be useful here:</div>
<div class="paragraph">
<p>In order to export item data to Amazon, you can use the <strong>automatic export</strong> which takes place at night. You can also use the <strong>manual export</strong>. To do so, go to <strong>System » Markets » Amazon » Data exchange » Data export</strong>.
In both cases, a CSV file is generated. <strong>This checklist helps you if an item is not available in the generated CSV file.</strong> If the item is available in this CSV file, but it is neither displayed on Amazon nor in your Seller Central, you have to check the Amazon error reports to find out why the item has not been accepted by Amazon.
Note that the data synchronisation with Amazon must be activated (this is done in the basic settings for Amazon).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_how_to_find_out_if_an_item_was_not_exported">1.1. How to find out if an item was not exported</h3>
<div class="paragraph">
<p>If you can answer all of the following questions with <strong><em>No</em></strong>, then the item was most likely not exported to Amazon.</p>
</div>
<div class="olist upperalpha">
<ol class="upperalpha" type="A">
<li>
<p>Is the item available in the Seller Central?</p>
</li>
<li>
<p>Is there an error message concerning this item in the Amazon processing reports (in the Seller Central within <strong>Inventory » Add Products via Upload</strong>)?</p>
</li>
<li>
<p>Is the item available in the CSV file which is generated via the manual export in the <strong>System » Markets » Amazon » Data exchange » Data export</strong> menu?</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip:</div>
<div class="paragraph">
<p>If you want to test whether one or more specific items cannot be exported, you can flag these items. You can filter the flags in the section of manual export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_how_to_find_out_why_an_item_was_not_exported">1.2. How to find out why an item was not exported</h3>
<div class="sect3">
<h4 id="_last_change">1.2.1. Last change</h4>
<div class="paragraph">
<p>Check whether the item was last changed within the past 24 hours, as only items which were changed within the past 24 hours are exported.
You can quickly find out when a variation was changed most recently by looking at item’s corresponding variation. You can see the date of the most recent change within the line of the save icon.</p>
</div>
<div id="datelastchange" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-date.png" alt="Most recent change">
</div>
<div class="title">Figure 1. Date of the variation’s most recent change</div>
</div>
<div class="paragraph">
<p>You can also view it in the table view, as in version 6. Switch the view to <strong>Variations</strong> and activate the column <strong>Last change</strong>.</p>
</div>
<div id="tabletype" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-table-type.png" alt="Table type in the item overview">
</div>
<div class="title">Figure 2. Table type in the item overview</div>
</div>
<div class="paragraph">
<p>To solve the issue, go to <strong>Item » Batch processing » Tab: Variations</strong> and select the option <strong>Update timestamp for market exports</strong>.</p>
</div>
<div id="stapelverarbeitung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-batch-processing.png" alt="Batch processing">
</div>
<div class="title">Figure 3. Batch processing “Update timestamp for market exports”</div>
</div>
</div>
<div class="sect3">
<h4 id="_are_the_settings_in_the_availability_tab_correct_for_each_variation">1.2.2. Are the settings in the “Availability” tab correct? (for each variation)</h4>
<div class="paragraph">
<p>The <strong>Web-API</strong> must be activated and the correct <strong>platform</strong> must be selected. (For example, if you want to sell on Amazon.fr, Amazon France has to be activated etc.).</p>
</div>
<div id="marketplaceavailability" class="paragraph">
<div class="title">An item’s market availability</div>
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-marketplace-availability.png" alt="Marketplace availability"></span></p>
</div>
<div class="paragraph">
<p>Order referrers must be visbile so that they can be selected. To make them visible in your menu, go to <strong>System » Orders » Order referrer</strong>.</p>
</div>
<div id="orderreferrer" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-order-referrer.png" alt="Order referrer">
</div>
<div class="title">Figure 4. Activating order referrers</div>
</div>
</div>
<div class="sect3">
<h4 id="_are_the_settings_in_the_multi_channel_tab_correct">1.2.3. Are the settings in the “Multi-Channel” tab correct?</h4>
<div class="paragraph">
<p>Make sure that the appropriate product type is saved.</p>
</div>
</div>
<div class="sect3">
<h4 id="_are_the_filters_in_the_basic_settings_correct">1.2.4. Are the filters in the basic settings correct?</h4>
<div class="paragraph">
<p>In the <strong>System » Markets » Amazon » Settings</strong> menu, you can define that only items with a specific <strong>flag</strong> should be exported. If the item is not marked with this flag, then it is not exported.
Moreover, you can define that <strong>only items visible in online store</strong> are exported. If the item is not activated for the online store (this is done in the <strong>Edit item » Tab: Settings</strong> menu), then the item will not be exported.</p>
</div>
<div class="paragraph">
<p>Do not forget to check the other filter settings as well.</p>
</div>
</div>
<div class="sect3">
<h4 id="_price">1.2.5. Price</h4>
<div class="paragraph">
<p>If the sales price set for Amazon is 0.00 or if the sales price is not activated for Amazon, then the item will not be exported.
A standard price must be set. A standard price is a sales price which is neither a special offer nor the RRP.
A price type is defined in the <strong>System » Item » Sales prices</strong> menu in the <strong>Price type</strong> option.</p>
</div>
<div id="salesprice" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-salesprice.png" alt="Sales price">
</div>
<div class="title">Figure 5. Settings for the sales price</div>
</div>
</div>
<div class="sect3">
<h4 id="_activate_the_variation">1.2.6. Activate the variation</h4>
<div class="paragraph">
<p>If the variation is not <strong>activated</strong> (this is done in the <strong>Settings</strong> tab of a variation), then the item will not be exported.</p>
</div>
<div id="active" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-active.png" alt="Active">
</div>
<div class="title">Figure 6. Active variation</div>
</div>
<div class="paragraph">
<p>Variations with attribute links and "single item" variations (i.e. items with main variation only) should be activated.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Deactivating a main variation without attribute link</div>
<div class="paragraph">
<p>If an item has variations with attribute links but the main variation has no attribute links, then the main variation must be deactivated. Otherwise, the main variation will be exported as single item. The main variation must be active if it has an attribute link.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="prime">2. Prime</h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Some general information:</div>
<div class="paragraph">
<p>Prime orders do not only include orders from Amazon Prime customers, but also orders from non-Prime customers that are delivered with a shipping service (NextDay, SecondDay).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_how_are_prime_orders_processed">2.1. How are Prime orders processed?</h3>
<div class="paragraph">
<p>The order is placed on Amazon and then imported into plentymarkets. When the order is imported, plentymarkets receives information about whether the order is a Prime order and whether a service level (NextDay, SecondDay, Standard) is included.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Thus, there are five different scenarios:</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Prime <a id="symbol-Prime"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-prime-ap.png" alt="Prime"></span></p>
</li>
<li>
<p>Prime NextDay <a id="symbol-PrimeNextDay"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-prime-ap1.png" alt="Prime NextDay"></span></p>
</li>
<li>
<p>Prime SecondDay <a id="symbol-PrimeSecondDay"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-prime-ap2.png" alt="Prime SecondDay"></span></p>
</li>
<li>
<p>NextDay <a id="symbol-NextDay"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-prime-a1.png" alt="NextDay"></span></p>
</li>
<li>
<p>SecondDay <a id="symbol-SecondDay"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-prime-a2.png" alt="SecondDay"></span></p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In plentymarkets, the order type is indicated by the small symbol in the status bar in the order overview within the <strong>Orders » Edit orders</strong> menu. You can see the order type by moving the cursor over this symbol.</p>
</div>
<div id="symbol-order" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-prime-symbol-order.png" alt="Symbol order overview">
</div>
<div class="title">Figure 7. Symbol in the order overview:</div>
</div>
<div class="sect3">
<h4 id="_shipping_profile">2.1.1. Shipping profile</h4>
<div class="paragraph">
<p>As with "standard" Amazon orders, plentymarkets checks the shipping profiles that are saved for the order and selects a suitable shipping profile. For this purpose, at least one item of the order must be assigned. Otherwise, the system cannot find the shipping profiles which are saved for the order items. Of course, the configured settings for the shipping profiles are important here. This best practice only covers the <strong>loyalty program</strong> filter, but no other settings. Of course, those settings must also be correct (e.g. order referrer, table of shipping charges etc.).</p>
</div>
</div>
<div class="sect3">
<h4 id="_loyalty_program">2.1.2. Loyalty program</h4>
<div class="paragraph">
<p>The filter <strong>loyalty program</strong> checks whether a shipping profile matches an order. Thus, if the filters are not set correctly, the desired order types (Prime, NextDay etc.) cannot be assigned to the appropriate shipping profiles. This means that if you want to create a shipping profile for e.g. Prime NextDay orders, you have to select the option <strong>Amazon Prime NextDay</strong> for the filter <strong>Loyalty program</strong>.</p>
</div>
<div id="loyalty-program" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-prime-filter.png" alt="Prime loyalty program filter">
</div>
<div class="title">Figure 8. Loyalty program filter in the shipping profile</div>
</div>
</div>
<div class="sect3">
<h4 id="_amazonprime_service">2.1.3. AmazonPrime service</h4>
<div class="paragraph">
<p>After processing the order (invoice etc.), register the order for shipping on Amazon. As usual, you can do so via a process, or via the <strong>Shipping centre</strong> in the <strong>Orders » Shipping centre</strong> menu.
When registering the order, the order’s shipping profile is checked for the <strong>AmazonPrime service</strong> that should be used. This setting is saved in the shipping profile, dependent on the country of delivery in the table of shipping charges.</p>
</div>
<div class="paragraph">
<p>Thus, the dispatch route and the shipping costs depend on the <strong>Amazon Prime service</strong> saved in the <strong>table of shipping charges</strong> of the shipping profile that is assigned to the order.</p>
</div>
</div>
<div class="sect3">
<h4 id="_further_information">2.1.4. Further information</h4>
<div class="paragraph">
<p>Furthermore, the <strong>dimensions</strong> and the <strong>sender information</strong> are required.</p>
</div>
<div class="paragraph">
<p>The sender information is saved within the <strong>System » Orders » Shipping » Shipping service provider » Settings</strong> menu for each warehouse.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Fill in the following fields:</div>
<div class="ulist">
<ul>
<li>
<p>Company</p>
</li>
<li>
<p>Street</p>
</li>
<li>
<p>House number</p>
</li>
<li>
<p>Email</p>
</li>
<li>
<p>Postal code</p>
</li>
<li>
<p>Town</p>
</li>
<li>
<p>Country</p>
</li>
<li>
<p>Telephone</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Which sender information is delivered depends on the <strong>warehouse</strong> that is saved for the order.</p>
</div>
<div class="paragraph">
<p>The <strong>dimensions</strong> are retrieved from the system, depending on which options were selected for the shipping package in the <strong>System » Orders » Shipping » Shipping packages</strong> menu.</p>
</div>
<div id="shipping-packages" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-prime-shipping-package.png" alt="Settings shipping packages">
</div>
<div class="title">Figure 9. Settings for shipping packages</div>
</div>
<div class="paragraph">
<p>You can enter the dimensions within the shipping package or import them from the corresponding item settings (in plentymarkets 7 for each variation in the <strong>Settings</strong> tab, in plentymarkets 6 in the <strong>Base</strong> tab in the <strong>Length/Width/Height</strong> fields).</p>
</div>
</div>
<div class="sect3">
<h4 id="_defining_shipping_groups_on_amazon">2.1.5. Defining shipping groups on Amazon</h4>
<div class="paragraph">
<p>In order to offer items on Amazon with the correct shipping method, a shipping group must be created on Amazon.
You can manage these shipping groups by using properties for each item.</p>
</div>
<div class="paragraph">
<p>We recommend using a property of the type <strong>text</strong> or <strong>selection</strong>. Link the property to the field <strong>merchant_shipping_group_name</strong>.
Save the name of the shipping group you have created in your seller central as a value for the text or the selection of the item.
For further information on linking properties, refer to our <a href="/en/markets/amazon/amazon-setup#1400">manual</a>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_errors_and_how_to_solve_them">2.2. Errors and how to solve them</h3>
<div class="paragraph">
<p>Sometimes, error messages may occur when booking Prime orders on Amazon.</p>
</div>
<div class="paragraph">
<p>If you did not want the order to be registered on Amazon, you can check the <strong>Shipment_AmazonPrime</strong> process in the <strong>Data exchange » API log</strong> menu to see which information was returned by Amazon. (When logging into the shipping centre, the error message is issued in red.)</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Error:TermsAndConditionsNotAccepted, Type: Sender</strong> indicates that the terms and conditions for Prime have not yet been accepted on Amazon. Solve this issue by registering a Prime order on Amazon. The terms and conditions have to be accepted for this process. If this does not help, contact Amazon.</p>
</li>
<li>
<p><strong>Error:InvalidRequest, Type: Sender</strong> indicates that the data is incomplete. The cause for this may be incomplete <strong>sender data</strong> for the warehouses, missing customer information (<strong>shipping address</strong>) or an unassigned or incorrect <strong>shipping profile</strong> in the order.<br>
Furthermore, the cause may be a value in the <strong>warehouse settings</strong> with too many characters. Amazon only accepts values up to a certain number of characters.<br>
Another cause might be that the <strong>dimensions</strong> are not transferred to Amazon because the option <strong>take from item data</strong> is activated in the shipping packages settings, but there are no dimensions saved for the item.</p>
</li>
<li>
<p><strong>Error:ShipmentAlreadyExists, Type: Sender</strong> indicates that shipping has already been booked for this order.</p>
</li>
<li>
<p><strong>Error:no AmazonPrime Service selected</strong> indicates that no <strong>Amazon shipping service</strong> was saved in the table of shipping charges in the order’s shipping profile.</p>
</li>
<li>
<p><strong>Error:ShippingServiceNotAvailable, Type: Sender</strong> indicates that an Amazon service was saved for the order that does not match the order type (e.g. NextDay). Different services should be used for the different order types on Amazon. Check whether the correct shipping profile was saved for the order and whether the correct Amazon service was saved in the shipping profile.</p>
</li>
<li>
<p><strong>Error:ResourceNotFound, Type: Sender</strong> indicates that the order does not exist on Amazon or that the order was cancelled.</p>
</li>
<li>
<p><strong>No Valid Warehouse Address</strong> indicates that no values or no valid values were saved for the selected warehouse. Enter the values in the <strong>System » Orders » Shipping » Shipping service provider » Settings</strong> menu.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="europeanmarketplaceaccount">3. Error message: Request is throttled</h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>This best practice deals with the error “Request is throttled” and how to solve it.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_what_does_the_error_message_request_is_throttled_mean">3.1. What does the error message “Request is throttled” mean?</h3>
<div class="paragraph">
<p>The number of requests for each process, such as order import, stock synchronisation, shipping confirmations etc., is limited by Amazon (Maximum Request Quota). If the maximum number of requests is exceeded, the process is blocked and further requests are rejected by Amazon. After a while, new capacities are unlocked a bit at a time (The Leaky Bucket Algorithm), and data transfer is enabled once again.</p>
</div>
<div class="paragraph">
<p>For more information, refer to <a href="http://docs.developer.amazonservices.com/en_DE/dev_guide/DG_Throttling.html" target="_blank" rel="noopener">Throttling: Limits to how often you can submit requests</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_major_cause_of_the_error">3.2. Major cause of the error:</h3>
<div class="paragraph">
<p>If you use a European marketplace account at Amazon, this error often occurs because a configuration in plentymarkets results in too many requests being sent to this Amazon account at once.</p>
</div>
<div class="paragraph">
<p><strong>Background</strong>: In the <strong>System » Markets » Amazon » Settings</strong> menu, several Amazon accounts were linked to different platforms. However, those platforms all "access" the same European marketplace account. The accounts always have the same merchant ID. Various processes were activated in one/some of these accounts.</p>
</div>
<div class="paragraph">
<p>Amazon platforms which are mostly summarised in one European marketplace account (as of 15 May 2017):</p>
</div>
<div class="paragraph">
<p>Amazon.de, Amazon.fr, Amazon.it, Amazon.es, Amazon.co.uk</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>This error can also occur if you use further external programs which access your Amazon account and “overflow” it in combination with plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_how_to_solve_the_error">3.3. How to solve the error:</h3>
<div class="paragraph">
<p>If you use a European Amazon marketplace account, it is useful to activate the processes only for one marketplace account in the <strong>System » Markets » Amazon » Settings</strong> menu. Otherwise, the data traffic of those processes will be transferred for every single Amazon account with the same merchant ID.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Processes which often cause this error and which should therefore not be activated twice:</div>
<div class="ulist">
<ul>
<li>
<p>Order import</p>
</li>
<li>
<p>Stock synchronisation</p>
</li>
<li>
<p>Stock changes</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>P.S.:</strong> An Amazon.com account does not belong to a European marketplace account.</p>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="fba">4. Manually generating reports for FBA orders and FBA returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sometimes Amazon FBA returns and FBA orders are not imported or missing. There are several causes for this issue.</p>
</div>
<div class="sect2">
<h3 id="_what_to_do_if_fba_returns_are_missing">4.1. What to do if FBA returns are missing:</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the <a href="https://sellercentral.amazon.de/" target="_blank" rel="noopener">Amazon Seller Central for Europe</a> and go to <strong>Reports » Fulfilment by Amazon</strong>.</p>
</li>
<li>
<p>Go to <strong>Customer concessions » Returns</strong>.</p>
</li>
<li>
<p>A FBA returns report can be generated here.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note 1:</div>
<div class="paragraph">
<p>When selecting a time period for the report, always make sure that the creation date of the FBA return is included.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note 2:</div>
<div class="paragraph">
<p>Make sure to select the shortest possible time period for the generation of the report. If the time period is too long, issues may occur during import (depending on the amount of orders), and in the worst case, the process will crash. If this happens, reports cannot be retrieved for another 10 hours.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note 3:</div>
<div class="paragraph">
<p>Make sure that you do not generate reports continually, as only a limited number of reports can be retrieved. Generally, one report should suffice.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_import_in_plentymarkets">4.1.1. Import in plentymarkets</h4>
<div class="paragraph">
<p>The generated order report is automatically read once an hour. An option for manual import is not provided here.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_instructions_on_what_to_do_if_fba_orders_are_missing">4.2. Instructions on what to do if FBA orders are missing:</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the <a href="https://sellercentral.amazon.de/" target="_blank" rel="noopener">Amazon Seller Central for Europe</a> and go to <strong>Reports » Fulfilment by Amazon</strong>.</p>
</li>
<li>
<p>Go to <strong>Sales » Amazon Fulfilled Shipments</strong>.</p>
</li>
<li>
<p>An FBA order report can be created here.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note 1:</div>
<div class="paragraph">
<p>When selecting a time period for the report, always make sure that the date of creation of the FBA order is included.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note 2:</div>
<div class="paragraph">
<p>Make sure to select the shortest possible time period for the creation of this report. If the time period is too long, issues may occur during import (depending on the amount of orders), and in the worst case, the process will crash.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note 3:</div>
<div class="paragraph">
<p>Make sure that you do not continuously create reports, as only a limited number of reports can be retrieved. Normally, one report should be enough.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note 4:</div>
<div class="paragraph">
<p>If the report serves for internal purposes only and should not be retrieved, the report must be flagged as “read”. This is done by the Amazon support, by us, or by your own developer access (external program). You can find information on how to get external access in our forum.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_import_in_plentymarkets_2">4.2.1. Import in plentymarkets</h4>
<div class="paragraph">
<p>The order report created here is automatically read every four hours. An option for manual import is not provided here.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="orderimport">5. MFN order import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This best practice deals with MFN orders (MFN = Merchant Fulfillment Network, i.e. shipment by the seller) that are not imported. We assume that the order import is activated in the basic settings for Amazon.</p>
</div>
<div class="sect2">
<h3 id="_mws_registration">5.1. MWS registration</h3>
<div class="paragraph">
<p>MWS registration allows our developers to access your Amazon account. When the registration is finished, the access rights are displayed in your seller central within <strong>Settings » User permissions</strong> in the <strong>Amazon MWS Developer Permissions</strong> section. If we are not granted access rights, we can neither retrieve data from nor send data to Amazon (as requests are blocked by Amazon).</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Check whether developer permissions are set up. To do so, go to <strong>Settings » User permissions</strong> in the Amazon seller central.
Another indicator that there are no developer permissions is this error message: <em>Error:Access to Reports. (GetReportScheduleList) is denied</em>. You will receive this error message for almost all requests if you did not set up any developer permissions. If you set up <em>scheduled reports</em>, then error messages are displayed in the logs or within <strong>System » Markets » Amazon » Data exchange » Reports</strong>. How to set up scheduled reports is described below.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>How to carry out the MWS registration is described in our <a href="/en/markets/amazon/amazon-setup#100">manual</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_auth_token_expired">5.2. Auth token expired</h3>
<div class="paragraph">
<p>The Auth token is generated during the MWS registration. The token is used for the synchronisation between plentymarkets and Amazon and it is directly linked to the authorisation. The token has an expiry date. This is to ensure that deactivated interfaces no longer have access after the token is expired.
Vice versa, this means that the token must be updated from time to time. When the token has expired, developer permissions granted with the MWS registration are no longer valid and no synchronisation can be carried out.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Check whether the token has expired by viewing the developer permissions in your seller central. Another indicator that the token has expired is the error message <em>Access denied</em>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can update the Auth token in the seller central under <strong>Settings » User permissions</strong> in the section <strong>Amazon MWS Developer Permissions</strong>. (The expiry date is set in the future. This ensures that the permissions are valid again.)</p>
</div>
</div>
<div class="sect2">
<h3 id="_wrong_access_data">5.3. Wrong access data</h3>
<div class="paragraph">
<p>In order to enable contact between our system and your Amazon account, the access data saved in the basic settings must be correct.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>If the seller token is not saved correctly within the basic settings, the error message <em>ERROR: AuthToken is not valid for SellerId and AWSAccountId</em> is issued.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The correct token and your seller ID (merchant ID) can be found via the <a href="/en/markets/amazon/amazon-setup#100">MWS registration</a> (at the end of the registration). As an alternative, you can enter the merchant ID into the field for the seller token.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>After you have changed the seller token in the basic settings for Amazon, click on <strong>refresh token</strong> under <strong>System » Markets » Amazon » Data exchange » Reports » Tab: Token Refresh</strong>. This way, the changes apply immediately.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_scheduled_reports">5.4. Scheduled reports</h3>
<div class="paragraph">
<p>If all of the issues mentioned above are solved, you can start the synchronisation. In order to import orders, Amazon generates reports which contain the orders. We retrieve those reports.</p>
</div>
<div class="admonitionblock caution">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-caution" title="Caution"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The generation of the reports is not preset in the Amazon settings. You need to carry out the settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Go to <strong>System » Markets » Amazon » Data exchange » Reports » Tab: Scheduled reports</strong> to set up a continual automatic generation of scheduled reports. This function is called <strong>scheduled reports</strong>.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the <strong>Amazon account</strong>.</p>
</li>
<li>
<p>Select the interval under <strong>MFN Orders</strong>.</p>
</li>
<li>
<p>Click on the gear-wheel icon <strong>Schedule MFN order report</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>We recommend to use 15 minutes as interval, as reports from Amazon that are not marked as retrieved are retrieved every 15 minutes.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Click on <strong>Import report list</strong> to check whether your settings were saved.</p>
</div>
<div id="scheduledreports" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-mfn-order-import-magnifier.png" alt="Viewing the scheduled reports">
</div>
<div class="title">Figure 10. Viewing the scheduled reports</div>
</div>
<div class="paragraph">
<p>As a result, the schedulers that you activated for your Amazon account are displayed. The report type <strong>Get Orders Data</strong> is required for the MFN order import. It should be set to 15 minutes. This setting may cause orders to be imported late (for example if the interval is set to <strong>weekly</strong>).</p>
</div>
</div>
<div class="sect2">
<h3 id="_further_error_messages">5.5. Further error messages</h3>
<div class="paragraph">
<p>If you receive the error message <em>The seller does not have an eligible Amazon account to call Amazon MWS.</em>, it may be that our system is not authorised to access Amazon. Check the developer permissions as described above. If they are not available, add the permissions via the MWS registration.
If this does not help, contact Amazon. (Either your seller account is no power seller account and therefore the Amazon MWS API cannot be used, or your account is not properly activated).</p>
</div>
</div>
</div>
</div>
</main>