<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best practice: Amazon Prime</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Note</div>
</td>
<td class="content">
<div class="title">Some general information</div>
<div class="paragraph">
<p>Prime orders do not only include orders from Amazon Prime customers, but also orders from non-Prime customers that are delivered with a shipping service (NextDay, SecondDay).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_how_are_prime_orders_processed">How are Prime orders processed?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The order is placed on Amazon and then imported into plentymarkets. When the order is imported, plentymarkets receives information about whether the order is a Prime order and whether a service level (NextDay, SecondDay, Standard) is included.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Tip</div>
</td>
<td class="content">
<div class="title">Thus, there are five different scenarios:</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Prime <a id="symbol-Prime"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-prime-ap.png" alt="Prime"></span></p>
</li>
<li>
<p>Prime NextDay <a id="symbol-PrimeNextDay"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-prime-ap1.png" alt="Prime NextDay"></span></p>
</li>
<li>
<p>Prime SecondDay <a id="symbol-PrimeSecondDay"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-prime-ap2.png" alt="Prime SecondDay"></span></p>
</li>
<li>
<p>NextDay <a id="symbol-NextDay"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-prime-a1.png" alt="NextDay"></span></p>
</li>
<li>
<p>SecondDay <a id="symbol-SecondDay"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-prime-a2.png" alt="SecondDay"></span></p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In plentymarkets, the order type is indicated by the small symbol in the status bar in the order overview within the <strong>Orders » Edit orders</strong> menu. You can see the order type by moving the cursor over this symbol.</p>
</div>
<div id="symbol-order" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-prime-symbol-order.png" alt="Symbol order overview">
</div>
<div class="title">Figure 1. Symbol in the order overview:</div>
</div>
<h3 id="_shipping_profile" class="discrete">Shipping profile</h3>
<div class="paragraph">
<p>As with "standard" Amazon orders, plentymarkets checks the shipping profiles that are saved for the order and selects a suitable shipping profile. For this purpose, at least one item of the order must be assigned. Otherwise, the system cannot find the shipping profiles which are saved for the order items. Of course, the configured settings for the shipping profiles are important here. This best practice only covers the <strong>loyalty program</strong> filter, but no other settings. Of course, those settings must also be correct (e.g. order referrer, table of shipping charges etc.).</p>
</div>
<h3 id="_loyalty_program" class="discrete">Loyalty program</h3>
<div class="paragraph">
<p>The filter <strong>loyalty program</strong> checks whether a shipping profile matches an order. Thus, if the filters are not set correctly, the desired order types (Prime, NextDay etc.) cannot be assigned to the appropriate shipping profiles. This means that if you want to create a shipping profile for e.g. Prime NextDay orders, you have to select the option <strong>Amazon Prime NextDay</strong> for the filter <strong>Loyalty program</strong>.</p>
</div>
<div id="loyalty-program" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-prime-filter.png" alt="Prime loyalty program filter">
</div>
<div class="title">Figure 2. Loyalty program filter in the shipping profile</div>
</div>
<h3 id="_amazon_prime_service" class="discrete">Amazon Prime service</h3>
<div class="paragraph">
<p>After processing the order (invoice etc.), register the order for shipping on Amazon. As usual, you can do so via a process, or via the <strong>Shipping centre</strong> in the <strong>Orders » Shipping centre</strong> menu.
When registering the order, the order’s shipping profile is checked for the <strong>AmazonPrime service</strong> that should be used. This setting is saved in the shipping profile, dependent on the country of delivery in the table of shipping charges.</p>
</div>
<div class="paragraph">
<p>Thus, the dispatch route and the shipping costs depend on the <strong>Amazon Prime service</strong> saved in the <strong>table of shipping charges</strong> of the shipping profile that is assigned to the order.</p>
</div>
<h3 id="_further_information" class="discrete">Further information</h3>
<div class="paragraph">
<p>Furthermore, the <strong>dimensions</strong> and the <strong>sender information</strong> are required.</p>
</div>
<div class="paragraph">
<p>The sender information is saved within the <strong>System » System settings » Orders » Shipping » Shipping service provider » Settings</strong> menu for each warehouse.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Important</div>
</td>
<td class="content">
<div class="title">Fill in the following fields:</div>
<div class="ulist">
<ul>
<li>
<p>Company</p>
</li>
<li>
<p>Street</p>
</li>
<li>
<p>House number</p>
</li>
<li>
<p>Email</p>
</li>
<li>
<p>Postal code</p>
</li>
<li>
<p>Town</p>
</li>
<li>
<p>Country</p>
</li>
<li>
<p>Telephone</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Which sender information is delivered depends on the <strong>warehouse</strong> that is saved for the order.</p>
</div>
<div class="paragraph">
<p>The <strong>dimensions</strong> are retrieved from the system, depending on which options were selected for the shipping package in the <strong>System » System settings » Orders » Shipping » Shipping packages</strong> menu.</p>
</div>
<div id="shipping-packages" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-prime-shipping-package.png" alt="Settings shipping packages">
</div>
<div class="title">Figure 3. Settings for shipping packages</div>
</div>
<div class="paragraph">
<p>You can enter the dimensions within the shipping package or import them from the corresponding item settings (in plentymarkets 7 for each variation in the <strong>Settings</strong> tab, in plentymarkets 6 in the <strong>Base</strong> tab in the <strong>Length/Width/Height</strong> fields).</p>
</div>
<h3 id="_defining_shipping_groups_on_amazon" class="discrete">Defining shipping groups on Amazon</h3>
<div class="paragraph">
<p>In order to offer items on Amazon with the correct shipping method, a shipping group must be created on Amazon.
You can manage these shipping groups by using properties for each item.</p>
</div>
<div class="paragraph">
<p>We recommend using a property of the type <strong>text</strong> or <strong>selection</strong>. Link the property to the field <strong>merchant_shipping_group_name</strong>.
Save the name of the shipping group you have created in your seller central as a value for the text or the selection of the item.
For further information on linking properties, refer to our <a href="/en/markets/amazon/amazon-setup#1400">manual</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_errors_and_how_to_solve_them">Errors and how to solve them</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sometimes, error messages may occur when booking Prime orders on Amazon.</p>
</div>
<div class="paragraph">
<p>If you did not want the order to be registered on Amazon, you can check the <strong>Shipment_AmazonPrime</strong> process in the <strong>Data exchange » API log</strong> menu to see which information was returned by Amazon. (When logging into the shipping centre, the error message is issued in red.)</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Error:TermsAndConditionsNotAccepted, Type: Sender</strong> indicates that the terms and conditions for Prime have not yet been accepted on Amazon. Solve this issue by registering a Prime order on Amazon. The terms and conditions have to be accepted for this process. If this does not help, contact Amazon.</p>
</li>
<li>
<p><strong>Error:InvalidRequest, Type: Sender</strong> indicates that the data is incomplete. The cause for this may be incomplete <strong>sender data</strong> for the warehouses, missing customer information (<strong>shipping address</strong>) or an unassigned or incorrect <strong>shipping profile</strong> in the order.<br>
Furthermore, the cause may be a value in the <strong>warehouse settings</strong> with too many characters. Amazon only accepts values up to a certain number of characters.<br>
Another cause might be that the <strong>dimensions</strong> are not transferred to Amazon because the option <strong>take from item data</strong> is activated in the shipping packages settings, but there are no dimensions saved for the item.</p>
</li>
<li>
<p><strong>Error:ShipmentAlreadyExists, Type: Sender</strong> indicates that shipping has already been booked for this order.</p>
</li>
<li>
<p><strong>Error:no AmazonPrime Service selected</strong> indicates that no <strong>Amazon shipping service</strong> was saved in the table of shipping charges in the order’s shipping profile.</p>
</li>
<li>
<p><strong>Error:ShippingServiceNotAvailable, Type: Sender</strong> indicates that an Amazon service was saved for the order that does not match the order type (e.g. NextDay). Different services should be used for the different order types on Amazon. Check whether the correct shipping profile was saved for the order and whether the correct Amazon service was saved in the shipping profile.</p>
</li>
<li>
<p><strong>Error:ResourceNotFound, Type: Sender</strong> indicates that the order does not exist on Amazon or that the order was cancelled.</p>
</li>
<li>
<p><strong>No Valid Warehouse Address</strong> indicates that no values or no valid values were saved for the selected warehouse. Enter the values in the <strong>System » System settings » Orders » Shipping » Shipping service provider » Settings</strong> menu.</p>
</li>
</ul>
</div>
</div>
</div>
</main>