<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#13"><span>1.</span><span> Setting up localised documents</span></a></li>
<li><a href="#16"><span>2.</span><span> Setting up fulfilment documents</span></a></li>
<li><a href="#20"><span>3.</span><span> Setting up document templates</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>3.1.</span><span> Basic settings</span></a></li>
<li><a href="#40"><span>3.2.</span><span> Margins</span></a></li>
<li><a href="#50"><span>3.3.</span><span> Positioning the mandatory elements</span></a></li>
<li><a href="#60"><span>3.4.</span><span> Customer characteristics</span></a></li>
<li><a href="#70"><span>3.5.</span><span> Columns for variations</span></a>
<ul class="sectlevel3">
<li><a href="#80"><span>3.5.1.</span><span> Matrix of variations</span></a></li>
</ul>
</li>
<li><a href="#90"><span>3.6.</span><span> Totals</span></a></li>
<li><a href="#100"><span>3.7.</span><span> Optional elements</span></a>
<ul class="sectlevel3">
<li><a href="#110"><span>3.7.1.</span><span> Barcode</span></a></li>
<li><a href="#120"><span>3.7.2.</span><span> Cash on delivery note</span></a></li>
</ul>
</li>
<li><a href="#130"><span>3.8.</span><span> Optional elements below the variations table</span></a></li>
</ul>
</li>
<li><a href="#140"><span>4.</span><span> Transferring settings</span></a>
<ul class="sectlevel2">
<li><a href="#150"><span>4.1.</span><span> Applying settings</span></a></li>
<li><a href="#160"><span>4.2.</span><span> Applying default settings</span></a></li>
</ul>
</li>
<li><a href="#170"><span>5.</span><span> PDF template</span></a>
<ul class="sectlevel2">
<li><a href="#175"><span>5.1.</span><span> PDF templates for payment methods</span></a></li>
<li><a href="#180"><span>5.2.</span><span> Creating a PDF template</span></a></li>
<li><a href="#190"><span>5.3.</span><span> Linking a PDF template</span></a></li>
</ul>
</li>
<li><a href="#200"><span>6.</span><span> Numbering</span></a></li>
<li><a href="#210"><span>7.</span><span> Automating subsequent procedures</span></a></li>
<li><a href="#220"><span>8.</span><span> Tax information for shipping to foreign countries</span></a>
<ul class="sectlevel2">
<li><a href="#230"><span>8.1.</span><span> EU delivery</span></a></li>
<li><a href="#240"><span>8.2.</span><span> Export shipping</span></a></li>
</ul>
</li>
<li><a href="#250"><span>9.</span><span> Variations to which the margin scheme applies in documents</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Order documents</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Orders » Fulfillment</strong></p>
</div>
<div class="paragraph">
<p>Fulfillment comprises all the individual steps necessary for processing orders, e.g. generating invoices and printing labels. It is also possible to have the order status change automatically with each step. The following pages describe all the individual steps of the fulfillment process. The goal is to show you how to make your <strong>fulfillment process as efficient as possible</strong>. This helps you provide quick and efficient service, which is extremely important for online businesses and can turn first-time buyers into regular customers.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Requirement: Create document templates first</div>
<div class="paragraph">
<p>Create <strong><a href="/en/order-processing/orders/order-documents">document templates</a></strong> before you generate PDF documents such as invoices or delivery notes.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>This page of the manual describes how to set up and edit document templates as well as how to transfer settings from one template to another. Document templates contain default settings for generating documents. In plentymarkets, there are 2 types of documents that you can set up templates for. There are documents that are specific for one location and there are fulfilment documents. You will also learn how to save your business letterhead as a PDF template and how to link it to a document template. Furthermore you will learn how to create numbering systems.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="13">1. Setting up localised documents</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To set up templates for the following documents, go to <strong>System » Client » Select client » Locations » Select location</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><a href="/en/omni-channel/online-store/standard/documents/invoice">Invoice</a></strong></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/standard/documents/adjustment-form"><strong>Adjustment form</strong></a></p>
</li>
<li>
<p><strong>Multi-invoice</strong></p>
</li>
<li>
<p><strong>Delivery note</strong></p>
</li>
<li>
<p><strong>Credit note</strong></p>
</li>
<li>
<p><strong>Multi credit note</strong></p>
</li>
<li>
<p><strong>Order confirmation</strong></p>
</li>
<li>
<p><strong>Offer</strong></p>
</li>
<li>
<p><strong>Dunning letter</strong></p>
</li>
<li>
<p><strong>Repair slip</strong></p>
</li>
<li>
<p><strong>Pick-up / Delivery note</strong></p>
</li>
<li>
<p><strong>Return label</strong></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/standard/documents/entry-certificate"><strong>Entry certificate (Gelangensbestätigung)</strong></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment"><strong>SEPA direct debit mandate</strong></a></p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Setting up a localised document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select a location under <strong>System » Client » Select client » Locations</strong>.</p>
</li>
<li>
<p>Click on the <strong>Documents</strong> folder.</p>
</li>
<li>
<p>Select a <strong>template</strong>, e.g. invoice.</p>
</li>
<li>
<p>Select a <strong>Language</strong> from the second drop-down list, e.g. <strong>en</strong> for English.</p>
</li>
<li>
<p>Pay attention to the explanations given on this page of the manual and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> to view a document preview.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="16">2. Setting up fulfilment documents</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To set up templates for fulfilment documents, go to <strong>System » Orders » Documents</strong>. You can set up templates for the following fulfilment documents:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/order-processing/orders/settings/documents/reorder"><strong>Reorder</strong></a></p>
</li>
<li>
<p><strong>Address label</strong></p>
</li>
<li>
<p><a href="/en/order-processing/orders/order-documents/pick-list"><strong>Pick list</strong></a></p>
</li>
<li>
<p><a href="/en/order-processing/orders/order-documents/warehouse-pick-list"><strong>Warehouse pick list</strong></a></p>
</li>
<li>
<p><a href="/en/order-processing/orders/order-documents/packing-list"><strong>Packing list</strong></a></p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Setting up a fulfilment document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents</strong>.</p>
</li>
<li>
<p>Select a <strong>template</strong>, e.g. pick list.</p>
</li>
<li>
<p>Select a <strong>Language</strong> from the second drop-down list, e.g. <strong>en</strong> for English.</p>
</li>
<li>
<p>Pay attention to the explanations given on this page of the manual and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> to view a document preview.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">3. Setting up document templates</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When opening a template a few settings are already set by default. You can edit these settings and carry out additional settings. If no settings are filled in by default, you can <strong><a href="/en/order-processing/orders/settings/documents#150">apply settings from a default document template</a></strong>. Furthermore, you can add notes that will be automatically included based on certain options and settings made. Create separate documents for each language. The language is selected at the top of the document menu.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-01.png" alt="EN Settings Orders Documents 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: selecting the language for a template</em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Defining a language for a document template</div>
<div class="paragraph">
<p>Define a language for each template. If a document template is unavailable in the required language, your system will search for a template in a different language to use instead. When performing a search, the following language settings are taken into account in the given order: <br>
- the client’s default language <br>
- the default language of your system <br>
- the language of the client’s default location <br>
- default language of your standard client’s default location</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information about generating the actual documents, e.g. an invoice, refer to the <strong><a href="/en/order-processing/orders/fulfilment">Fulfilment</a></strong> page of the manual.</p>
</div>
<div class="sect2">
<h3 id="30">3.1. Basic settings</h3>
<div class="paragraph">
<p>In this section, you configure the basic settings of the document. These are:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Font</p>
</li>
<li>
<p>Character set</p>
</li>
<li>
<p>Whether the template’s settings should be displayed on all pages or only on page 1</p>
</li>
<li>
<p>The structure of the address</p>
</li>
<li>
<p>Currency on the document</p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Character set: unicode</div>
<div class="paragraph">
<p>You can choose between the default setting <strong>ISO-8859-1</strong> and the option <strong>Unicode</strong>. Bear in mind that it may take longer than usual to create PDF documents with the <strong>Unicode</strong> setting.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="40">3.2. Margins</h3>
<div class="paragraph">
<p>The margins are important for the automatic page break and the positioning of body text. They are also important for positioning the <a href="/en/order-processing/orders/order-documents#170"><strong>PDF templates</strong></a>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Lower margin</div>
<div class="paragraph">
<p>The lower margin is only used for those pages in fulfilment documents that have a PDF template as background. It is either the first page only or all pages. The pages depend on your choice for <strong>document template</strong> in the <strong>basic settings</strong> of a document.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The document format is defined by the PDF template. The standard format for e.g. invoices is DIN A4 if no PDF template with another format is linked to the document template. For further information, refer to the <a href="/en/order-processing/orders/order-documents#170"><strong>PDF templates</strong></a> chapter.</p>
</div>
</div>
<div class="sect2">
<h3 id="50">3.3. Positioning the mandatory elements</h3>
<div class="paragraph">
<p>Mandatory elements are content that must appear in the document. Coordinates are used to position these elements on the document page. Default values are already entered for the most important parameters. These settings can be changed. Complete the missing entries.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Coordinates</div>
<div class="paragraph">
<p>The values are based on a coordinate system with an x-axis and a y-axis. The <strong>x-axis</strong> goes from left to right and the <strong>y-axis</strong> from top to bottom. The reference points are in the upper left corner.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example for the positioning</div>
<div class="paragraph">
<p>A field which is positioned at the top left is the address field. In the invoice the standard coordinates of the address field are X = 21 (mm) and Y = 54.5 (mm). Use the upper left corner to position all fields. When positing fields pay also attention to your margins.<br>
Central fields, which are usually positioned on the right side of the document, include the date as well as the order ID and the customer ID. The standard coordinate for the field name is X = 150 (mm). For the value, the standard coordinate is X = 173 (mm). The y coordinates differ for both IDs so that the fields and values will not overlie each other.<br>
A field that is often placed at the bottom of a page is the page number. The standard coordinates of the page number are X = 21 (mm) and Y = 286 (mm). This means that, by default, the page number is in the lower left corner of the invoice.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: testing the positioning</div>
<div class="paragraph">
<p>Elements that are positioned by setting coordinates and are below the item list are not moved even if the item list is very long. Therefore, you should leave enough space by positioning these elements at the bottom of the page. Alternatively, you can position them above the item list. For example, the note <strong>Thank you for your order!</strong> (at the very bottom of the menu) is not positioned based on coordinates and is thus moved automatically depending on the length of the item list. Print test versions of the document during the configuration to determine the ideal positioning.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Address field</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Positions the field in which the customer’s address is displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Document name / number</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a name e.g. <strong>invoice</strong> or <strong>invoice number</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Current date of the document</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ordered on</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Date the order was made</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Currency</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a name The actual currency is taken from the basic settings (see above).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>An order’s ID</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order ID (2)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The ID of the main order is displayed for returns, credit notes and delivery orders.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The customer’s ID</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The order’s <strong><a href="/en/omni-channel/order-referrer">referrer</a></strong>, e.g. online store, eBay, API</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer reference</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Displays the information that was saved in the corresponding field of the order settings.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer class</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Customer class ID</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order owner</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Displays the name of the order owner</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Account for financial accounting</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Displays the name that was saved in the debtor account field in the customer data</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Internal customer number</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Displays the customer number from plentymarkets (not the ID).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VAT number</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The customer’s value added tax identification number</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Own VAT number</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Displays the seller’s VAT number</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Pick list ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A pick list is given an ID when it is generated All orders that are on this pick list will have the pick list ID saved for them. However, this information is not displayed in the menu. The option pick list ID allows you to display this ID on the document. This is useful for delivery notes etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Page number</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Displays the page number on each page of the document.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: mandatory elements of a document</em></p>
</div>
<div class="paragraph">
<p>Image 2 shows an example of an invoice with basic standard settings:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-02.png" alt="EN Settings Orders Documents 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: invoice document with default settings</em></p>
</div>
</div>
<div class="sect2">
<h3 id="60">3.4. Customer characteristics</h3>
<div class="paragraph">
<p>This area is only displayed if <strong>characteristics</strong> were saved in the system for the language of the document template. You can use text fields to name these characteristics and coordinates to position them in the document.</p>
</div>
</div>
<div class="sect2">
<h3 id="70">3.5. Columns for variations</h3>
<div class="paragraph">
<p>In the <strong>columns for variations</strong> section, entries are positioned in the header of the variations table. Enter a field name for each available column, i.e. the name that is to appear in the header. The field name will only be displayed on the document if a value was selected from the <strong>Position</strong> drop-down list. The column will not be displayed if <strong>Pos</strong> is selected. Use the position to determine the order from left to right in which the field names will appear in the header.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Column widths</div>
<div class="paragraph">
<p>The column <strong>Item name</strong> will automatically wrap the text if necessary. All other columns do not have this function. Therefore, make sure that these columns are wide enough to fit the text. Enter the column width in <strong>mm</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can select further parameters to be displayed in the <strong>Item name</strong> column. The parameters will be displayed on the document along with the item name. Of course the parameters will only be displayed if the corresponding information is available in the item’s data record. You can see the additional parameters in image 3.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-03.png" alt="EN Settings Orders Documents 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: activating the parameter</em></p>
</div>
<div class="sect3">
<h4 id="80">3.5.1. Matrix of variations</h4>
<div class="paragraph">
<p><strong>VariationOrderMatrix</strong> is available as a template in the item layouts drop-down list. This template provides a list containing an item’s variations. The template function <strong>Container_VariationOrderMatrix()</strong> can be used to display the list in the item layout <strong>ItemViewSingleItem</strong>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Matrix of variations</div>
<div class="paragraph">
<p>Select the setting <strong>Yes</strong> if you want to use the <strong>Matrix of variations</strong> feature.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="90">3.6. Totals</h3>
<div class="paragraph">
<p>Sums, i.e. subtotal, total, etc., are listed underneath the stock units on all documents except for the delivery note. A sum will only be displayed if you entered a corresponding field name for it.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Value of items (net)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Value of items without the VAT amount
In addition you need to select whether the value of items should be summed up for all VAT rates or should be displayed per VAT rate or should be displayed per VAT rate only if the customer is a B2B customer. <br>
<strong>Summed up for all VAT rates</strong> = no matter how many VAT rates are applied to an order only one sum for the value of items will be displayed <br>
<strong>Per VAT rate</strong> = for each VAT rate that is applied to an order a separate sum for value of items will be displayed on the document <br>
<strong>Per VAT rate if B2B</strong> = if a customer has a VAT number that is applied to the order, separate sums will be displayed for each VAT rate that is applied to the order. If no VAT number is applied to the order only one sum will be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Subtotal (net, total)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shows the net sum of all items at the very end of the invoice.
In addition you need to select whether the subtotal should be summed up for all VAT rates or should be displayed per VAT rate or should be displayed per VAT rate only if the customer is a B2B customer. <br>
<strong>Summed up for all VAT rates</strong> = no matter how many VAT rates are applied to an order only one subtotal will be displayed <br>
<strong>Per VAT rate</strong> = for each VAT rate that is applied to an order a separate subtotal will be displayed on the document <br>
<strong>Per VAT rate if B2B</strong> = if a customer has a VAT number that is applied to the order, separate subtotals will be displayed for each VAT rate that is applied to the order If no VAT number is applied to the order only one subtotal will be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Subtotal (net, each page except for the last one)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shows the net sum of all items on the invoice so far. If an invoice is composed of several pages, the subtotal will be the sum of all items on that page and the previous pages.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Subtotal (margin scheme)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>An item will only be added to the sum if the margin scheme applies to it.<br>
<strong><em>Important:</em></strong>
The margin scheme setting in plentymarkets is an older customized implementation. The tax rate will be applied to the entire amount of the stock units that the margin scheme applies to. In other words the tax rate will not be applied to the difference between sales price and purchase price.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Coupon amount (net)</strong> and <strong>Coupon amount (gross)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Indicates the net or gross amount that was covered by one or more coupons. Enter a field name here if you want to offer coupons in the online store. Otherwise the coupon amount will not be displayed on the invoice. The type of coupon and e.g. the type of invoice determine whether the total value is net or gross.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: important settings in the <strong>Totals</strong> section</em></p>
</div>
</div>
<div class="sect2">
<h3 id="100">3.7. Optional elements</h3>
<div class="paragraph">
<p>Select optional elements in this area. Examples for such elements are the barcode and the cash on delivery note. These elements are described in more detail below.</p>
</div>
<div class="sect3">
<h4 id="110">3.7.1. Barcode</h4>
<div class="paragraph">
<p>You can either use the order ID or the document number to create the barcode. Furthermore, you can choose between using <strong>EAN13</strong> or <strong>CODE128</strong> as the coding (image 3). If you select the <strong>EAN13</strong> option, for example, but your order ID is only 6 digits long, then the missing numbers will automatically be added. Leading zeros and a 1 will be added to the front of the barcode so that the order ID becomes an EAN13. If you want your order ID to be used exactly as it is, then select the <strong>CODE128</strong> option. Additionally, select whether you want the actual numbers to appear below or within the barcode or whether they should not be displayed at all (image 5).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-04.png" alt="EN Settings Orders Documents 04">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: barcode settings; optional elements</em></p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-05.png" alt="EN Settings Orders Documents 05">
</div>
</div>
<div class="paragraph">
<p><em>Image 5: left shows a barcode composed of the order ID, leading zeros and 1 that is displayed below the barcode; right shows a barcode composed the document number that is displayed within the barcode</em></p>
</div>
</div>
<div class="sect3">
<h4 id="120">3.7.2. Cash on delivery note</h4>
<div class="paragraph">
<p>The cash on delivery note is only displayed on invoices if the the payment method of the order is <strong>cash on delivery</strong>. The default note is <strong>CASH ON DELIVERY</strong> with the <strong>invoice amount</strong> (also see example in image 2). The option is activated with <strong>YES</strong>. Enter your own name into the <strong>Name</strong> field if you do not want to use the default name CASH ON DELIVERY.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-06.png" alt="EN Settings Orders Documents 06">
</div>
</div>
<div class="paragraph">
<p><em>Image 6: activated cash on delivery note</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Language versions</div>
<div class="paragraph">
<p>If you create documents in various languages, then you can save the cash on delivery note in the <strong>Name</strong> field of each language.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="130">3.8. Optional elements below the variations table</h3>
<div class="paragraph">
<p>Use the area <strong>Optional elements below the variations table</strong> to select which elements should be displayed on the document underneath the variations table.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Font size</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the desired font size for the document.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Delivery date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose whether the <strong>current month</strong>, the <strong>invoice date</strong>, the date when the <strong>items were sent</strong> or <strong>no delivery date</strong> should be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Incoming payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The date will only be displayed if the incoming payment is complete.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Value date/payment due/early payment discount</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The wildcard characters will be replaced by the actual values that are saved in the <strong><a href="/en/crm/managing-customer-data">customer data</a></strong>. Pay attention to the example for terms of payment on the <a href="/en/order-processing/orders/settings/documents#30"><strong>New customer</strong></a> page of the manual.<br>
If a value is saved for the <strong>value date</strong> in the customer’s data record, then this value is used for the document. Otherwise, the value saved under <strong>Payment due</strong> or the value from the <a href="/en/order-processing/orders/settings/documents#90"><strong>customer class</strong></a> is used. The last possibility is to use the number of days entered for the <strong>Payment due</strong> option for the document (see the following Option).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment due</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Selecting <strong>YES</strong> or <strong>NO</strong> defines whether an option appears on the document or not. If you select <strong>YES</strong>, you also need to select a time for <strong>Payment due within xxx days</strong>. The payment due date defined in the customer’s data record has a higher priority than the payment due date defined for the customer’s customer class. In other words, the payment due date defined for the customer class is used, if no payment due date is defined in the customer’s data record.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Early payment discount</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the <strong>percentage</strong> and the number of days in which the <strong>payment is due</strong>. The following wildcard characters are available: <strong>[Date1]</strong>, <strong>[Date2]</strong>, <strong>[Amount1]</strong>, <strong>[Amount2]</strong>, <strong>[Percent]</strong>.<br>
You need to use the <strong>Value date/payment due/early payment discount</strong> setting to display the early payment discount that is saved in the customer data record. <em><strong>Note:</strong></em> You need to select <strong>Yes</strong> for the <strong>payment due</strong> option if you want to display the early payment discount that was entered here instead of the discount saved in the customer data.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Hide bank details</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Yes</strong> to prevent account data from being displayed on the document. <strong>No</strong> is the default setting, i.e. bank account data will be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Tax note 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the desired font size Choose between <strong>normal</strong> and <strong>bold</strong> for the font style. Enter the tax note that you want to add in the text field.<br>
This note will be displayed if an item is sent into/within the EU and the customer’s VAT number is known. Here is an example of the text that you could insert into this field. This text applies to German law: <strong>Intra-community delivery according to §4 No. 1b in connection with §6a UStG.</strong> Please read up on the necessary note according to your laws.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Tax note 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Similar to <strong>Tax note 1</strong><br>
This note will be displayed if an item is delivered to a country outside of the EU. Here is an example of the text that you could insert into this field. This text applies to German law: <strong>Export shipping according to §4 No. 1a in connection with §6 UStG</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Note for margin scheme</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Similar to <strong>Tax note 1</strong><br>
This note will be displayed if the margin scheme applies to items ordered. <br>
<strong><em>Important:</em></strong>
The margin scheme setting in plentymarkets is an older customized implementation. The tax rate will be applied to the entire amount of the stock units that the margin scheme applies to. In other words the tax rate will not be applied to the difference between sales price and purchase price.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment instruction</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the font size. Choose between <strong>normal</strong> and <strong>bold</strong> for the <strong>font style</strong>. Select a <strong>payment method</strong> from the drop-down list. Enter the <strong>payment instruction</strong> for this payment method in the text field (image 2).<br>
The payment instruction is not linked to the payment method itself. The payments instructions will remain in the text field even if you select a new payment method from the drop-down list. The instructions will be used for the newly selected payment method. Image 7 shows an example.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: optional elements below the variations table</em></p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-07.png" alt="EN Settings Orders Documents 07">
</div>
</div>
<div class="paragraph">
<p><em>Image 7: example for the payment instruction</em></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="140">4. Transferring settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Similar settings have to be carried out for each document. Reduce the time and effort needed by applying either the default settings to a document or the settings of one document to another document.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Settings will be overwritten</div>
<div class="paragraph">
<p>If you apply the default settings to a document, then the settings previously made in the document will be overwritten. Therefore, check the document’s settings and write down any important coordinates before carrying out this function.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="150">4.1. Applying settings</h3>
<div class="paragraph">
<p>For example, copy the English invoice settings and apply them to the English delivery note (image 8). Then deactivate the elements you do not need or activate any additional elements that are required.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-08.png" alt="EN Settings Orders Documents 08">
</div>
</div>
<div class="paragraph">
<p><em>Image 8: copying invoice settings to a <strong>delivery note</strong></em></p>
</div>
<div class="paragraph">
<p>This function also allows you to easily apply e.g. English invoice settings to French invoices. This prevents you from having to manually enter the coordinates of the elements for each individual language version. You would only have to make the necessary changes to the texts for the particular language (image 9).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-09.png" alt="EN Settings Orders Documents 09">
</div>
</div>
<div class="paragraph">
<p><em>Image 9: applying English invoice settings to the document template for French invoices</em></p>
</div>
<div class="paragraph">
<p>Proceed as described below to copy the settings to document templates.</p>
</div>
<div class="paragraph instruction">
<p>Applying settings from one template to another document template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Locations</strong>.</p>
</li>
<li>
<p>Choose a location.</p>
</li>
<li>
<p>Open the <strong>Documents</strong> menu of the location.</p>
</li>
<li>
<p>Select a document to apply the settings from.</p>
</li>
<li>
<p>Click on the <strong>Transfer</strong> tab of the document.</p>
</li>
<li>
<p>In the <strong>Apply settings to target template</strong> area, select the <strong>Language</strong>, the <strong>Store</strong> and the <strong>Target template</strong> that the settings should be applied to (image 9).</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use the preview to compare documents</div>
<div class="paragraph">
<p>Open a <strong>preview</strong> and print your document for testing purposes. This allows you to better compare the documents with regards to their characteristics and decide whether the copy function is useful or not. If you have to make many changes to the copied settings, applying settings may not make sense. Carry out the settings in your source document carefully.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="160">4.2. Applying default settings</h3>
<div class="paragraph">
<p>Select <strong>Apply settings from default template</strong> if you want to copy the default values into an empty document or if you want to reset the settings you have made to a document and replace them with the default values. This makes sense if you are having problems with the settings of a document and you do not exactly know which setting or change is causing them.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-10.png" alt="EN Settings Orders Documents 10">
</div>
</div>
<div class="paragraph">
<p><em>Image 10: applying the <strong>default settings</strong> to the document template for English <strong>invoices</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Applying default settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Locations » Select location » Documents</strong>.</p>
</li>
<li>
<p>Select the document that you want to apply the default settings to.</p>
</li>
<li>
<p>Click on the <strong>Transfer</strong> tab of the document.</p>
</li>
<li>
<p>Choose a <strong>language</strong> from the drop-down list above the tabs.</p>
</li>
<li>
<p>Click on <strong>Accept</strong> to <strong>Apply the settings from default document template</strong> (image 10). <br>
→ The default settings will be applied to the document.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="170">5. PDF template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The PDF template can be used to load your shop’s letter paper. A company’s letter paper usually contains company information, logo and layout elements according to the company’s corporate design. This template needs to be in PDF format.</p>
</div>
<div class="sect2">
<h3 id="175">5.1. PDF templates for payment methods</h3>
<div class="paragraph">
<p>A separate PDF template for a payment method makes sense if you have a different bank account for one payment method or if you want to localise your letter paper for each language.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Defining the language and payment method for PDF templates</div>
<div class="paragraph">
<p>You need to choose a <strong>language</strong> and a <strong>payment method</strong> for new PDF templates. If no PDF template is available in the required language, your system will search for a template in a different language to use instead. The following language settings are considered in the given order in the search: <br>
- the client’s default language <br>
- the default language of your system <br>
- the language of the client’s default location <br>
- the languange of the location without considering the payment method</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="180">5.2. Creating a PDF template</h3>
<div class="paragraph">
<p>If you do not already have a business letter template, then create one including a logo and all of your company information. You can use a word processing program for this. Create a PDF file from this document. This can be done e.g. with the free office package <a href="http://www.openoffice.org/" target="_blank" rel="noopener"><strong>OpenOffice</strong></a>. OpenOffice allows you to directly <strong>export your documents as PDFs</strong> (image 11).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-11.png" alt="EN Settings Orders Documents 11">
</div>
</div>
<div class="paragraph">
<p><em>Image 11: creating a PDF in OpenOffice</em></p>
</div>
<div class="paragraph">
<p>The paper size of the PDF is applied to the document. If your PDF has the paper size DIN A4, then your document will have the size DIN A4. If you want a different size, make sure your PDF template has that size. You probably need to reset your settings like the column widths if you change the documents paper size.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Check the PDF version</div>
<div class="paragraph">
<p>Currently, plentymarkets supports <strong>PDF version 1.4</strong> or lower. Check which PDF version will be generated by your software when generating PDFs. It is best to create a PDF file and then check the version in the PDF document. You can easily see this in the document under <strong>File » Settings</strong>. If a higher version than 1.4 is set here, please adjust the setting to 1.4. The maximum size for PDF templates is 160 kB.<br>
When generating documents errors may occur if the PDF template does not fulfil these requirements. Thus, check the PDF version and generate a test document once you have linked the PDF template to a document template.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="190">5.3. Linking a PDF template</h3>
<div class="paragraph">
<p>You can save a separate template for each language. For some documents you can even save a different template for each active payment method in every language. The invoice and the delivery note are examples of documents that allow templates for payment methods.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Only one PDF template per language allowed</div>
<div class="paragraph">
<p>You can only save one PDF template for each document template and language. Adding and saving a new template will overwrite the old one. You need to reupload your PDF template if you have made changes to it. Open the <strong>New template</strong> tab to upload the PDF again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Proceed as follows to link the PDF file to a document template, e.g. the template for an <strong>delivery note</strong>:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-12.png" alt="EN Settings Orders Documents 12">
</div>
</div>
<div class="paragraph">
<p><em>Image 12: PDF templates for different languages</em></p>
</div>
<div class="paragraph instruction">
<p>Linking a PDF template to a document template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents</strong>.</p>
</li>
<li>
<p>Select the document template that you want to link the PDF template to.</p>
</li>
<li>
<p>Select a <strong>Language</strong> from the second drop-down list, e.g. <strong>en</strong> for English.</p>
</li>
<li>
<p>Click on the <strong>PDF template</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>New template</strong> tab.</p>
</li>
<li>
<p>Select a <strong>Payment method</strong> if needed.</p>
</li>
<li>
<p>In the <strong>File</strong> line, click on <strong>Browse…​</strong>.</p>
</li>
<li>
<p>Select the PDF document template.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The template and file size will be displayed in the <strong>Templates</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> in the <strong>Templates</strong> tab to see the PDF template.</p>
</li>
<li>
<p>Click on the <strong>Templates</strong> tab to generate a preview of the document template with the PDF template as background.</p>
</li>
<li>
<p>Correct your PDF template or the coordinates in your document template if information are overlapping. <br>
→ Reupload the PDF if you have made changes to the PDF template.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The steps that are required to upload a PDF template for an invoice differs slightly form the steps above. This is because the menu is structured differently.</p>
</div>
<div class="paragraph instruction">
<p>Uploading a PDF template for invoices that have a specific payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents</strong>.</p>
</li>
<li>
<p>Open the document template <strong>Invoice</strong>.</p>
</li>
<li>
<p>Click on the <strong>PDF template</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add template</strong>. <br>
→ A window will open.</p>
</li>
<li>
<p>Select a <strong>Payment method</strong> if needed.</p>
</li>
<li>
<p>Select a <strong>Language</strong> from the second drop-down list, e.g. <strong>en</strong> for English.</p>
</li>
<li>
<p>Click on <strong>Choose template file</strong>.</p>
</li>
<li>
<p>Select the PDF document template.</p>
</li>
<li>
<p>Click on <strong>Upload template</strong>. <br>
→ The template will be added.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> in the <strong>Templates</strong> column to see the PDF template.</p>
</li>
<li>
<p>Click on the <strong>Templates</strong> tab to generate a preview of the document template with the PDF template as background.</p>
</li>
<li>
<p>Correct your PDF template or the coordinates in your document template if information are overlapping. <br>
→ Reupload the PDF if you have made changes to the PDF template.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">6. Numbering</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Numbering can be used for several documents. The documents that allow numbering have a <strong>Numbering</strong> tab. The numbering can be composed of up to 5 digits. These digits can be numbers, letters as well as characters. It will automatically be placed in front of the document’s actual number.</p>
</div>
<div class="paragraph">
<p>Enter the first number, i.e. the number that you want the documents to start with, in the <strong>Number (starting value)</strong> field. You do not necessarily have to start with "1". If you have already saved numbered invoices in the system, you can start from there and continue the numbers. If you want the number to have a certain amount of digits, then enter the starting value with leading zeros (e.g. 00001). If there are already documents in the system that have a higher number, these will be used.</p>
</div>
<div class="paragraph">
<p>The example below shows you how to specify numbering for <a href="/en/omni-channel/online-store/standard/documents/invoice"><strong>invoices</strong></a>. Proceed the same way for other documents as well.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-13.png" alt="EN Settings Orders Documents 13">
</div>
</div>
<div class="paragraph">
<p><em>Image 13: specifying the numbering</em></p>
</div>
<div class="paragraph instruction">
<p>Specifying the numbering for invoices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Locations » Select location » Documents » Invoice</strong>.</p>
</li>
<li>
<p>Select the desired <strong>language</strong> from the drop-down list (image 13).</p>
</li>
<li>
<p>Click on the <strong>Numbering</strong> tab.</p>
</li>
<li>
<p>Enter a prefix into the <strong>Numbering</strong> field. This prefix can be composed of up to five numbers and/or letters, e.g. <strong>2016</strong>.<br>
→ Use a hyphen to separate the prefix and the actual document number.</p>
</li>
<li>
<p>Enter the first invoice number into the field <strong>Number (starting value)</strong>, e.g. <strong>00001</strong>.<br>
→ The invoice numbers will be assigned in ascending order starting from this number (in this example <strong>201500001</strong>).</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Multiple locations</div>
<div class="paragraph">
<p>The following options are available, if you wish to use numbering for multiple locations:<br>
<strong>One numbering for multiple locations</strong><br>
One numbering means that the numbers are only used once across all locations. For one numbering for multiple locations you need to enter the same numbering for each location.<br>
<strong><em>Note:</em></strong> Numbering across multiple locations is only possible for locations of the same client. One Numbering for multiple locations of multiple clients is not possible.<br>
<strong>Unique numbering for each location</strong><br>
You can define a different numbering for each location and document. You can e.g. include an abbreviation for the location in the numbering. The actual numbers are counted up separately for each numbering and therefore the same number can occur several times for one client.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can also use different numbering systems for different countries. The document will then be given a number based on where the recipient lives. To do so, proceed as described below. The example here also shows you how to specify numbering for invoices. In some cases, however, it may not be in your best interest to create a different numbering system for each country. Contact your tax advisor before setting up such a system.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Numbering per country has priority</div>
<div class="paragraph">
<p>An individual numbering for one country has priority over the general numbering for a document. If a numbering for a country was saved, then this numbering will be used and not the general numbering for the document.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Specifying numbering for invoices per country:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Location » Select location » Documents » Invoice</strong>.</p>
</li>
<li>
<p>Select the desired <strong>language</strong> from the drop-down list.</p>
</li>
<li>
<p>Click on the <strong>Numbering</strong> tab.</p>
</li>
<li>
<p>Expand the numbering menu to see the area for <strong>Numbering per country</strong> (image 13).</p>
</li>
<li>
<p>Enter a prefix into a specific country’s <strong>Numbering</strong> field. This prefix can be composed of up to five numbers and/or letters, e.g. <strong>16UK</strong> for the United Kingdom.</p>
</li>
<li>
<p>Enter the first invoice number for each country into the field <strong>Number (starting value)</strong>, e.g. <strong>00050</strong>.<br>
→ The invoice numbers will be assigned in ascending order starting from this number (in this example <strong>201600050</strong>).</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Removing and changing the numbering system</div>
<div class="paragraph">
<p>You should not remove a numbering system once it has been used to generate PDF documents. However, you can still change the numbering system. The changed numbering has to differ from all previously used numbering systems. In other words, you always have to change at least one digit or add another digit to the numbering system. You may, however, not remove one digit. For example, if your old numbering system was 13IN, then 13I would not be permitted as a new numbering system. However, 13IN0 would be acceptable.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="210">7. Automating subsequent procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have generated document templates, you can go to <strong><a href="/en/basics/automation/event-procedures">System » Orders » Events</a></strong> and set automatic procedures. One option that you may find useful is to have variations booked out when invoices are printed. You can also define additional procedures here, e.g. automatically sending emails.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="220">8. Tax information for shipping to foreign countries</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Tax notes</div>
<div class="paragraph">
<p>Before using the documents, consult your tax advisor for all tax related content.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="230">8.1. EU delivery</h3>
<div class="paragraph">
<p>For deliveries to other European countries and if a VAT number is available, the invoice will automatically be created with net prices. Your own VAT number as well as the customer’s VAT number have to appear on the invoice to comply with tax regulations. A note has to be included as well.</p>
</div>
<div class="paragraph">
<p>The customer’s VAT number is available as a data field in the <strong>Positioning the mandatory elements</strong> section. It should be positioned in the upper section of the invoice by entering coordinates.</p>
</div>
<div class="paragraph">
<p>In the section <strong>Optional elements below the variations table</strong>, you will find the data field <strong>Tax note 1</strong>. This data field is automatically included for deliveries to the EU and if the customer’s VAT number is available.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example: Note for Germany</div>
<div class="paragraph">
<p>"Export shipping according to §4 No. 1a in connection with §6 UStG."</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="240">8.2. Export shipping</h3>
<div class="paragraph">
<p>Export shipments are deliveries to countries outside the EU. They are calculated with net price as well. For this procedure, a tax note text has to be included too.</p>
</div>
<div class="paragraph">
<p>The <strong>Tax note 2</strong> is available for this note.</p>
</div>
<div class="paragraph">
<p>The necessary <strong>tax notes</strong> can vary individually. The exact text and phrasing should be clarified with a tax consultant.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="250">9. Variations to which the margin scheme applies in documents</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In invoices, dunning letters and credit notes, there are two settings for totals and variations to which the margin scheme applies:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Subtotal for variations to which the margin scheme applies (image 14)</p>
</li>
<li>
<p>Note for margin scheme (image 15)</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In order for these settings to take effect and to be displayed on the documents, you need to go to <strong><a href="/en/order-processing/orders/_accounting">System » Client » Select client » Locations » Select location » Accounting » Tab: VAT rates</a></strong> and set the <strong>margin scheme</strong> to one of the four tax rates.
The margin scheme setting in plentymarkets is an older customized implementation. The tax rate will be applied to the entire amount of the stock units that the margin scheme applies to. In other words the tax rate will not be applied to the difference between sales price and purchase price.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-14.png" alt="EN Settings Orders Documents 14">
</div>
</div>
<div class="paragraph">
<p><em>Image 14: carrying out the settings for margin scheme</em></p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-15.png" alt="EN Settings Orders Documents 15">
</div>
</div>
<div class="paragraph">
<p><em>Image 15: note for margin scheme</em></p>
</div>
</div>
</div>
</main>