<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_webbesucher_statistik"><span>1.</span><span> Webbesucher-Statistik</span></a></li>
<li><a href="#_menü_öffnen"><span>2.</span><span> Menü öffnen</span></a></li>
<li><a href="#_webalizer_auswertungen"><span>3.</span><span> Webalizer-Auswertungen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Webshop-Statistik</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einstellungen » Mandant (Shop) » Globale Einstellungen » Statistik</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_webbesucher_statistik">1. Webbesucher-Statistik</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets liefert Ihnen in diesem Menü mit dem Webalizer ein eigenes Tool zur Auswertung der Webbesucher-Statistik Ihres Webshops. Sie erhalten damit einen Überblick der Seitenaufrufe Ihres Webshops.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Mandant-GlobEinstell-Statistik-01-SI.png" alt="DE Mandant GlobEinstell Statistik 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: <strong>Webbesucher-Statistik</strong> in plentymarkets</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_menü_öffnen">2. Menü öffnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die <strong>Webbesucher-Statistik</strong> Ihres plentymarkets-Systems zu öffnen, wählen Sie das entsprechende Menü (Menüpfad siehe oben).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Mandant-GlobEinstell-Statistik-02-SI.png" alt="DE Mandant GlobEinstell Statistik 02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Anzeige der <strong>Login-Daten</strong></em></p>
</div>
<div class="paragraph">
<p>Die für das Menü nötigen <strong>Login-Daten</strong> werden angezeigt, diese müssen Sie im nächsten Fenster eingeben.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>Klicken Sie zunächst auf den Link <strong>Webalizer-Statistik öffnen</strong> (siehe Bild 2).</p>
</div>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Mandant-GlobEinstell-Statistik-03-SI.png" alt="DE Mandant GlobEinstell Statistik 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Bei Webalizer <strong>anmelden</strong></em></p>
</div>
<div class="paragraph">
<p>Tragen Sie die <strong>Login-Daten</strong> nun in die Textfelder <strong>Nutzername</strong> und <strong>Passwort</strong> ein und klicken Sie dann auf <strong>Anmelden</strong> (siehe Bild 3).<br>
→ Das Menü wird angezeigt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_webalizer_auswertungen">3. Webalizer-Auswertungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den verschiedenen Bereichen des Webalizers erhalten Sie vielfältige Informationen zu den Webbesuchen Ihres Webshops, wie z.B. die Anzahl der Seitenaufrufe mit prozentualer Angabe oder die Anzahl der Aufrufe einer Kategorie.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Mandant-GlobEinstell-Statistik-04-SI.png" alt="DE Mandant GlobEinstell Statistik 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 4: <strong>Zeitraum</strong> im Webalizer auswählen</em></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>Klicken Sie nun auf den gewünschten <strong>Monat</strong>, um eine Auswertung des betreffenden Monats anzuschauen (siehe Bild 4).</p>
</div>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Mandant-GlobEinstell-Statistik-05-SI.png" alt="DE Mandant GlobEinstell Statistik 05 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 5: <strong>Monatsstatistik</strong></em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Zu den Diagrammen sehen Sie jeweils eine Legende am Rand der Auswertung (siehe Bild 5, Pfeile).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>