<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Which SSL certificates are available?</span></a></li>
<li><a href="#300"><span>2.</span><span> Prerequisites for booking an SSL certificate</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>2.1.</span><span> Domain</span></a></li>
<li><a href="#500"><span>2.2.</span><span> Active autoscaling</span></a></li>
<li><a href="#700"><span>2.3.</span><span> For subdomains: Existing parent domain</span></a></li>
<li><a href="#800"><span>2.4.</span><span> For external domains: DNS settings</span></a></li>
<li><a href="#900"><span>2.5.</span><span> Remove 301 redirects for '/'</span></a></li>
<li><a href="#1000"><span>2.6.</span><span> No manually created sub-domain for www.</span></a></li>
<li><a href="#1100"><span>2.7.</span><span> Check list</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>3.</span><span> Ordering an SSL certificate</span></a>
<ul class="sectlevel2">
<li><a href="#1240"><span>3.1.</span><span> Completing the SSL assistant</span></a>
<ul class="sectlevel3">
<li><a href="#1260"><span>3.1.1.</span><span> OV and EV certificates: Validation process after ordering</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1300"><span>4.</span><span> Renewing an SSL certificate</span></a></li>
<li><a href="#1400"><span>5.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>SSL certificates</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>An SSL certificate is used to encrypt your website. It provides a secure connection to your website and your online store.
An SSL certificate is required for certain markets and for receiving the Trusted Shops certification.
You know you’re using an SSL certificate if your website is accessed via <em>https</em>.</p>
</div>
<div class="paragraph">
<p>plentymarkets includes an assistant that helps you order and manage manage your SSL certificate.
Please note that such tasks are usually completed by a <em>system administrator</em>.
This page is quite technical since it serves as a reference for system administrators and helps them complete their administrative tasks in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Which SSL certificates are available?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>SSL certificates are issued by independent certification authorities.
plentymarkets offers different types of SSL certificates:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DV</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>DV = Domain Validation.</p>
<div class="ulist">
<ul>
<li>
<p>DV certificates are very common.</p>
</li>
<li>
<p>They are verified by the domain name only.</p>
</li>
</ul>
</div>
</li>
<li>
<p>cheapest SSL certification model</p>
</li>
<li>
<p>issued by DigiCert</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">OV</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>OV = Organizational Validation</p>
<div class="ulist">
<ul>
<li>
<p>OV certificates entail a more comprehensive verification process, but they also provide more trust.</p>
</li>
<li>
<p>The certificate authority verifies the company.
In doing so, details such as the company name, location and address are compared with information from the commercial register.</p>
</li>
</ul>
</div>
</li>
<li>
<p>mid-range certification model</p>
</li>
<li>
<p>issued by CertCenter</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EV</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EV = Extended Validation</p>
<div class="ulist">
<ul>
<li>
<p>EV certificates entail the most comprehensive verification process, but they’re also considered to be the most secure and trustworthy solution.</p>
</li>
<li>
<p>The certificate authority completes a validation process specified by <a href="https://cabforum.org/extended-validation/" target="_blank" rel="noopener">CA/Browser Forum</a>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>most secure and trustworthy certification model</p>
</li>
<li>
<p>issued by CertCenter</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h3 id="200" class="discrete">Breakdown of prices</h3>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 16.6666%;">
<col style="width: 16.6666%;">
<col style="width: 16.6666%;">
<col style="width: 16.6669%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-center valign-top">Comodo InstantSSL<br>
OV</th>
<th class="tableblock halign-center valign-top">Comodo Positive<br>
EV</th>
<th class="tableblock halign-center valign-top">AlwaysOnSSL<br>
DV</th>
<th class="tableblock halign-center valign-top">RapidSSL Standard<br>
DV</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Validity period</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">12 months</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">12 months</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">3 months</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">12 months</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Monthly fee</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€2</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€2</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€2</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cost of the SSL certificate</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€118.80</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€348</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€0</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€35.70</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">One-time setup fee</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€29</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€99</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€0</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€0</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><span class="small">All prices are listed in net.</span></p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. Prerequisites for booking an SSL certificate</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="400">2.1. Domain</h3>
<div class="paragraph">
<p>It’s only possible to order an SSL certificate for a primary domain.
In other words, the domain must be listed as a primary domain in the menu <strong>Setup » Assistants » Basic setup » Domain assistant</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip</em></strong>: Look at your domains with the table view. This will help you recognise which one is the primary domain.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-decisions/system-administration/assets/Primary-Domain.png" alt="Primary Domain">
</div>
<div class="title">Figure 1. Domain assistant with the table view</div>
</div>
<div class="paragraph">
<p>If you want to set up an SSL certificate for a different domain, you will have to <a href="/en/business-decisions/system-administration/domains#210a">set this domain as your main domain</a> first.</p>
</div>
<div class="paragraph">
<p>It’s not possible to order an SSL certificate if the corresponding domain is defined as external (i.e. it refers to an external IP address).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-decisions/system-administration/assets/external-domain.png" alt="external domain">
</div>
</div>
</div>
<div class="sect2">
<h3 id="500">2.2. Active autoscaling</h3>
<div class="paragraph">
<p>A few systems have not been switched to <a href="https://aws.amazon.com/autoscaling/" target="_blank" rel="noopener">autoscaling</a> (AS).
In most cases, this is because the domain is not hosted by plentymarkets.
As such, the domain owner must adjust the DNS settings manually.
Another cause might be that the domain was added to a client for the first time.
These clients are not automatically switched to autoscaling.
The plentymarkets support team needs to manually activate autoscaling.</p>
</div>
<h4 id="600" class="discrete">How can I tell if AS is activated?</h4>
<div class="paragraph">
<p>Look at the DNS settings in the domain assistant to see whether AS is activated for the particular system.</p>
</div>
<div class="paragraph instruction">
<p>Checking the autoscaling status:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/business-decisions/system-administration/domains#50">Open the domain assistant</a> and navigate to the step <strong>Current DNS Settings</strong>.<br>
<strong><em>Note</em></strong>: This step only appears if you selected <strong>Add a new domain, hosted externally</strong> in the step <a href="/en/business-decisions/system-administration/domains#100">Domain type</a>.</p>
</li>
<li>
<p>In the column <strong>DNS Record Type</strong>, check if a CNAME entry exists for the domain.<br>
→ If a CNAME entry exists, autoscaling is active.
An SSL certificate can be ordered.<br>
→ If no CNAME entry exists, but rather two A records, autoscaling is not active.</p>
</li>
<li>
<p>If autoscaling is not active, contact the plentymarkets support via the <a href="https://forum.plentymarkets.com/t/46996/" target="_blank" rel="noopener">plentymarkets Forum</a> and ask them to activate autoscaling. The thread is in German, but the support staff can also speak English.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Example of the DNS settings shown for a system on AS:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-decisions/system-administration/assets/current-dns-settings.png" alt="current dns settings">
</div>
</div>
</div>
<div class="sect2">
<h3 id="700">2.3. For subdomains: Existing parent domain</h3>
<div class="paragraph">
<p>If you want to order an SSL certificate for a subdomain, then the parent domain must also exist in the assistant.
The relationship between the domain and subdomain must also be entered correctly in the assistant.
<a href="/en/business-decisions/system-administration/domains#50">Check the settings in the assistant</a>.</p>
</div>
<div class="paragraph">
<p>If the parent domain was deleted from the assistant, then create the parent domain again.
If you do not want this parent domain to point to plentymarkets, but rather e.g. to Showare, then save an external A record for the parent domain by <a href="/en/business-decisions/system-administration/domains#210a">creating a system link</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="800">2.4. For external domains: DNS settings</h3>
<div class="paragraph">
<p>The SSL order is validated on a file level.
This means that the domain for which the certificate is to be ordered must be accessible correctly.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The <a href="/en/business-decisions/system-administration/domains#160">DNS settings saved for the external provider</a> must be identical to the DNS settings saved in the assistant.<br>
→ Check the settings in the service area of your domain provider.</p>
</li>
<li>
<p>The domain that the SSL certificate is being ordered for must not have an IPv6 entry (AAAA record).<br>
→ Check the settings in the service area of your domain provider.</p>
</li>
<li>
<p>Any existing <a href="https://en.wikipedia.org/wiki/DNS_Certification_Authority_Authorization" target="_blank" rel="noopener">CAA records</a> must allow the certificate to be ordered for the chosen domain.<br>
→ Check the settings in the service area of your domain provider.
The necessary CAA record is as follows:</p>
</li>
</ul>
</div>
<table id="table-dns-example" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">DNS Source</th>
<th class="tableblock halign-left valign-top">DNS Record Type</th>
<th class="tableblock halign-left valign-top">DNS Target</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">@</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CAA</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">issue digicert.com</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">2.5. Remove 301 redirects for '/'</h3>
<div class="paragraph">
<p>Open the domain assistant for the particular domain and make sure there is <a href="/en/business-decisions/system-administration/domains#domain-mailserver">no 301 redirect for the homepage</a>, as shown in the following example:</p>
</div>
<div class="paragraph">
<p><code>/;Target-URL;301;L</code></p>
</div>
<div class="paragraph">
<p><code>/*;Target-URL;301;L</code></p>
</div>
<div class="paragraph">
<p><code>^/*;Target-URL;301;L</code></p>
</div>
</div>
<div class="sect2">
<h3 id="1000">2.6. No manually created sub-domain for www.</h3>
<div class="paragraph">
<p>A manually created sub-domain for <code>www.yourDomain.tld</code> prevents the SSL certificate from being issued, since it would create a duplicate DNS entry for <code>www</code>.
If you manually created such a sub-domain, you will need to delete it.</p>
</div>
</div>
<div class="sect2">
<h3 id="1100">2.7. Check list</h3>
<div class="paragraph">
<p>Ready to order an SSL certificate?
Work through this checklist to make sure that you’ve met all of the <a href="/en/business-decisions/system-administration/ssl-certificate#300">requirements</a>.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Domain has not been cancelled</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Domain is a primary domain</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Domain has been switched to AutoScaling (AS)</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> For sub-domains: there is an existing parent domain</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> The DNS settings match the entries in the domain assistant</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> There is no AAAA record for whichever domain the certificate should be ordered</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> There is no negative CAA record</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> There is no 301 redirect for the homepage</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> There is no manually created sub-domain for www.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">3. Ordering an SSL certificate</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you’ve met all of the <a href="/en/business-decisions/system-administration/ssl-certificate#300">requirements</a>, you can order an SSL certificate.
plentymarkets orders the SSL certificate on your behalf and bills you for the one-off purchase price and the monthly fee.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Only one SSL certificate for the domain</div>
<div class="paragraph">
<p>A domain can only have one SSL certificate.
Example: If your domain already has an SSL certificate and you order a new one, then the new certificate will overwrite the existing one.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1240">3.1. Completing the SSL assistant</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Basic setup</strong>.</p>
</li>
<li>
<p>Click on the <strong>SSL management</strong> assistant.<br>
→ Your SSL configurations are displayed here.</p>
</li>
<li>
<p>Click on an SSL configuration to open its settings.</p>
</li>
<li>
<p>Complete each step of the assistant.
Note <a href="#table-setps-ssl-assistant">Table 1</a>.</p>
</li>
<li>
<p><strong><em>OV and EV certificates</em></strong>: Once you’ve placed the order in the assistant, you’ll still need to <a href="/en/business-decisions/system-administration/ssl-certificate#1260">complete a validation process</a>.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-decisions/system-administration/assets/ssl-assistant.png" alt="ssl assistant">
</div>
</div>
<table id="table-setps-ssl-assistant" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Steps of the SSL assistant</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Step: Certificate</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Current SSL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This area is purely informative.
Here you can see e.g. which certificate you’re currently using and when it expires.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select a certificate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose <a href="/en/business-decisions/system-administration/ssl-certificate#100">the desired SSL certificate</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic renewal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>) if you want the SSL certificate to automatically be renewed at the end of its term.</p>
<p class="tableblock"><strong><em>Note</em></strong>: OV and EV certificates cannot be renewed automatically.
Shortly before your certificate expires, you will receive a notification, which reminds you to order a new certificate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Step: Contact data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact person</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter information about a contact person.
This person must be authorised to complete the validation process, e.g. CIO or CEO.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company contact</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter information about your company.
The company data must match the information in the commercial register.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Step: Confirmation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Read a summary of the service options that you chose.
By completing the assistant, you confirm that you want to book these paid services.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Step: Summary</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This step is purely informative.</p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="1260">3.1.1. OV and EV certificates: Validation process after ordering</h4>
<div class="paragraph">
<p>OV and EV certificates entail a more comprehensive verification process.
Once you’ve placed the order, you’ll receive a confirmation email (SSL Subscriber Agreement) from Sectigo.
Follow the instructions in the email to complete the validation process.</p>
</div>
<div class="paragraph">
<p>Generally speaking, there are two ways to proceed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Follow the link in the email.
You will be forwarded to the Sectigo website.
There, enter the "verification code" that you received in the email. Follow the rest of the steps on the screen.
During the validation process, you will receive a phone call from Sectigo.</p>
</li>
<li>
<p>Download the documents listed in the email (Certificate Request Form &amp; SSL Subscriber Agreement).
Print the documents, sign them and send them back to Sectigo.
During the validation process, you will receive a phone call from Sectigo.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>It can take some time to complete all of the steps.
Leave yourself enough time to sign the forms, send them back to Sectigo, receive a phone call from Sectigo and complete the validation process.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Are you authorised to complete the process?</div>
<div class="paragraph">
<p>The validation process must be completed by an authorised person, e.g. CIO or CEO.
During the process, legally binding documents need to be signed by someone with signatory rights.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">4. Renewing an SSL certificate</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You will be notified shortly before your SSL certificate expires.
The notification includes further information and instructions.
But you can always see for yourself when your SSL certificate expires and if your certificate will be renewed automatically.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-decisions/system-administration/assets/assistant-summary.png" alt="assistant summary">
</div>
</div>
<div class="paragraph instruction">
<p>Checking the expiration date:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Basic setup</strong>.</p>
</li>
<li>
<p>Click on the <strong>SSL management</strong> assistant.<br>
→ Your SSL configurations are displayed here.</p>
</li>
<li>
<p>Click on an SSL configuration to open its settings.</p>
</li>
<li>
<p>Navigate to the step <strong>Summary</strong>.</p>
</li>
<li>
<p>Expand the field <strong>Certificate</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>The line <strong>Active until</strong> shows you when the certificate expires.</p>
</li>
<li>
<p>The line <strong>Automatically renew certificate</strong> includes the information <strong>Yes</strong> or <strong>No</strong>.</p>
</li>
<li>
<p><a href="/en/business-decisions/system-administration/ssl-certificate#1200">Re-order the certificate if needed</a>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">5. FAQ</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>Which domain should I order the SSL certificate for?</strong></div>
<div class="content">
<div class="paragraph">
<p>You order the SSL certificate for your main domain, i.e. the domain that is listed as the primary domain in the menu <strong>Setup » Assistants » Basic setup » Domain assistant</strong>.
If you want to set up an SSL certificate for a different domain, you will have to <a href="/en/business-decisions/system-administration/domains#210a">set this domain as your main domain</a> first.</p>
</div>
<div class="paragraph">
<p>You can continue to have a domain hosted externally and <a href="/en/business-decisions/system-administration/domains#160">save the DNS settings with this external provider</a>.
However, the SSL certificate needs to be saved close to the system. This means that even if the domain is hosted externally, the actual encoding is done directly in the system after the domain forwarding via IP address is carried out.
As such, it is not possible to use an external SSL certificate. The SSL certificate needs to be ordered from plentymarkets.</p>
</div>
<div class="paragraph">
<p>You cannot order SSL certificates for cancelled domains, start-up domains and test domains, i.e. domains with names that contain <em>plenty-testdrive.eu</em>, <em>plentymarkets-x1.com</em> etc.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>What will happen if I change the primary domain?</strong></div>
<div class="content">
<div class="paragraph">
<p>SSL certificates are linked to a domain.
This means, for example, that if the main domain is changed, then the current certificate will be deactivated, because there is a new main domain without a certificate.
Deactivated doesn’t mean deleted. If you switch the main domain back to whichever domain already had an SSL certificate, then it can be re-activated, assuming that the SSL certificate hasn’t expired.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Can I take the SSL certificate with me if I move my domain?</strong></div>
<div class="content">
<div class="paragraph">
<p>You <strong>cannot</strong> take an SSL certificate with you when moving your domain to plentymarkets.
Due to technical limitations, it’s only possible to order within our <a href="https://en.wikipedia.org/wiki/Public_key_infrastructure" target="_blank" rel="noopener">public key infrastructure</a>.
This applies to <strong><em>both directions</em></strong>.
It’s true when moving from <strong><em>external to plentymarkets</em></strong> or from <strong><em>plentymarkets to external</em></strong>.
An SSL certificate that you booked with plentymarkets needs to be saved <strong><em>close to the system</em></strong>. Therefore, you cannot take it with you when moving your domain.
It is <strong>not</strong> possible to export the certificate data (secret private key).
It is also not possible to “transfer” an SSL certificate from one domain (ID) to another.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Do I need a hostmaster mailbox?</strong></div>
<div class="content">
<div class="paragraph">
<p>No, you do not need a <code>hostmaster@yourDomain.tld</code> mailbox to purchase an SSL certificate.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Can wildcard SSL certificates be issued?</strong></div>
<div class="content">
<div class="paragraph">
<p>No, so-called wildcard SSL certificates cannot be issued in our infrastructure.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>How long does it take for my SSL certificate to be issued?</strong></div>
<div class="content">
<div class="paragraph">
<p>If your SSL certificate was successfully ordered, then you’ll see a success message.
DV certificates are activated within approximately 2-3 minutes.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>My SSL certificate wasn’t issued or I got an error message in the assistant. What should I do?</strong></div>
<div class="content">
<div class="paragraph">
<p>If your DV certificate wasn’t issued within approximately 2-3 minutes, then:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>open the notification centre (<span class="icon darkGrey"><i class="fa fa-bell  "></i></span>) in the plentymarkets back end.
In some situations, you’ll receive a message that tells you the source of the problem.
For example, that you forgot to enter a telephone number.</p>
</li>
<li>
<p>If you cannot solve the problem yourself or if you get an error message in the assistant, then contact the <a href="https://forum.plentymarkets.com/c/core" target="_blank" rel="noopener">plenty-Core team in the forum</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>