<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Fulfilment</h1><div class="paragraph">
<p>In this area, you will find every <a href="/en/order-processing/fulfilment#100">shipping service provider</a> and <a href="/en/order-processing/fulfilment#200">fulfilment service provider</a> that has an interface to plentymarkets. The settings that you have to carry out, such as setting up a shipping profile including the table of shipping charges, is identical for all service providers. This is the reason why you will first find general settings that apply to all service providers on the <a href="/en/order-processing/fulfilment/preparing-the-shipment">Preparing the shipment</a> page. <a href="/en/order-processing/fulfilment/preparing-the-shipment#2500">Service provider-specific settings</a> can be found in the lower part of the page.</p>
</div><div class="paragraph">
<p>Your plentymarkets system efficiently controls the entire process with the <a href="/en/basics/automation/plentymarkets-client">plentymarkets Client</a>. It carries out everything from linking items with shipping profiles to registering shipments and printing shipping labels. The initial time that it takes to configure the settings will pay off when you have an efficient shipping process that automatically carries out routine tasks.</p>
</div><div class="paragraph">
<p>Furthermore, this area describes how you generate documents for shipping such as the shipping label and address label. All other documents that are available in plentymarkets, such as invoice and delivery note, can be found in the <a href="/en/order-processing/orders">Orders</a> area.</p>
</div><div class="paragraph">
<p>It is also always worth taking a look in the plentymarkets forum in the category <a href="https://forum.plentymarkets.com/t/star-neu-der-prozess-basar/1093" target="_blank" rel="noopener"><strong>Prozess-Basar</strong></a> (process basar). Please note that the plentymarkets forum is currently only available in German. There, dedicated sellers share their processes with other sellers.</p>
</div><div class="paragraph">
<p>Simply select a service provider and start setting up the interface.</p>
</div><div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-4">
<div class="title">Setting up the service providers</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment">Preparing the shipment</a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#2500">Carrying out service provider-specific settings</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-4">
<div class="title">Registering the shipment</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/plentymarkets-client">Using the plentymarkets Client</a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/shipping-centre">Using the shipping centre</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-4">
<div class="title">Generating documents</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/order-processing/fulfilment/generating-documents#200">Exporting a list of delivery addresses</a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/generating-documents#800">Importing package numbers</a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/generating-documents#300">Setting up the address label</a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/generating-documents#1100">Generating the delivery list</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><h2 id="_setting_up_shipping_service_providers" class="discrete">Setting up shipping service providers</h2><div class="ulist logoList">
<ul>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#2700"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1804.png" alt="1804"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#3900"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1809-hermes.png" alt="1809 hermes"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#3500"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1805.png" alt="1805"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#4400"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1806.png" alt="1806"></span></a></p>
</li>
</ul>
</div><div class="ulist logoList">
<ul>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#3800"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1807.png" alt="1807"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#2600"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3286_1.png" alt="3286 1"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#4300"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2464-swiss-post.png" alt="2464 swiss post"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#3700"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2461-post-at.png" alt="2461 post at"></span></a></p>
</li>
</ul>
</div><div class="ulist logoList">
<ul>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#4200"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/4409.jpg" alt="4409"></span></a></p>
</li>
</ul>
</div><h2 id="_setting_up_fulfilment_service_providers" class="discrete">Setting up fulfilment service providers</h2><div class="ulist logoList">
<ul>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#4800"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1701.png" alt="1701"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#5400"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2462-IDS.png" alt="2462 IDS"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#5500"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1796-ilopack.png" alt="1796 ilopack"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/fulfilment/preparing-the-shipment#5600"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2471-Versand-durch-Amazon.png" alt="2471 Versand durch Amazon"></span></a></p>
</li>
</ul>
</div><hr>
</main>