<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#300"><span>1.</span><span> Payment providers</span></a></li>
<li><a href="#400"><span>2.</span><span> Debt collection service provider and credit rating</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Payment</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The selection of payment methods is one of the most important variables in your store. If the right selection is missing, then a customer could cancel the purchase at the very last second in the order process. In order to avoid this, you should find out which payment methods your customers expect to find and which ones they prefer. In this area you will learn how to manage payment methods. You will also learn which settings to carry out in order to use interfaces to payment providers.</p>
</div>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Payment methods</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payment-methods">Managing payment methods</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payment-methods#10">Searching for a payment method</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payment-methods#20">Setting up a payment method</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payment-methods#25">Specifying the default payment method</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payment-methods#50">Offering a discount based on the method of payment</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payment-methods#40">Non-contract payment methods</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payment-methods#70">Payment methods for markets</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payment-methods#80">Rounding differences</a></strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Payments and banking</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payments">Managing payments</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payments#20">Booking payments</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payments#70">Assigning payments</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payments#110">Searching for payments</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-payments#120">Editing payments</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-bank-details">Managing bank details</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-bank-details#50">Setting up EBICS</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/managing-bank-details#100">Setting up SEPA</a></strong></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment/currencies">Configuring currencies</a></strong></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">1. Payment providers</h2>
<div class="sectionbody">
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/order-processing/payment/paypal"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1698-pp-h-rgb.png" alt="1698 pp h rgb"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/paypal-plus"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/pp-plus-h-rgb-pos.png" alt="pp plus h rgb pos"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/amazon-pay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2259.png" alt="2259"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/klarna"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/blue-black.png" alt="blue black"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/order-processing/payment/klarna-checkout"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/klarna-checkout.png" alt="klarna checkout"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/sofort-ueberweisung"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1721.png" alt="1721"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/payone"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2710.png" alt="2710"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/sage-pay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3135-Sage-Pay-official-Logo.png" alt="3135 Sage Pay official Logo"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/billsafe"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1712-BillSAFE-PayPal-RGB-neu.png" alt="1712 BillSAFE PayPal RGB neu"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/bitpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3210-bitpay-logo.png" alt="3210 bitpay logo"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/concardis"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2332.png" alt="2332"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/expercash"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1718-expercash.png" alt="1718 expercash"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/order-processing/payment/heidelpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1717-heidelpay.png" alt="1717 heidelpay"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/klarna-checkout-uk"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/klarna-checkout-uk.png" alt="klarna checkout uk"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/masterpayment"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1711-masterpayment.png" alt="1711 masterpayment"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/paymorrow"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/paymorrow-web.png" alt="paymorrow web"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/order-processing/payment/payolution"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1731.jpg" alt="1731"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/postpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/logo-hg-weiss-200x55.jpg" alt="logo hg weiss 200x55"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/saferpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1716-saferpay.png" alt="1716 saferpay"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/santander-consumer-bank"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/SCB-negativ-CMYK.png" alt="SCB negativ CMYK"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/order-processing/payment/skrill"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1706.png" alt="1706"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/upg"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/upg-logo.png" alt="upg logo"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/wirecard">Wirecard</a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/worldpay">Worldpay</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">2. Debt collection service provider and credit rating</h2>
<div class="sectionbody">
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/order-processing/payment/adu-inkasso"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2833-ADU-Logo-WEB.png" alt="2833 ADU Logo WEB"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/_arvato"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1724-logo-arvato.png" alt="1724 logo arvato"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/atriga"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1725-1.png" alt="1725 1"></span></a></p>
</li>
<li>
<p><a href="/en/order-processing/payment/mediafinanz"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1732-mediafinanz.png" alt="1732 mediafinanz"></span></a></p>
</li>
</ul>
</div>
<hr>
</div>
</div>
</main>