<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#menu-screenshot"><span>1.</span><span> Erstes Kennenlernen: Menüaufbau</span></a></li>
<li><a href="#10"><span>2.</span><span> Was ist ein Katalog mit Marktplatz-Format?</span></a></li>
<li><a href="#20"><span>3.</span><span> Was ist ein Marktplatz-Format?</span></a></li>
<li><a href="#30"><span>4.</span><span> Welche Arten von Datenfeldern gibt es?</span></a>
<ul class="sectlevel2">
<li><a href="#3020"><span>4.1.</span><span> Marktplatz-Datenfelder</span></a></li>
<li><a href="#3030"><span>4.2.</span><span> plentymarkets Datenfelder</span></a></li>
<li><a href="#3040"><span>4.3.</span><span> Ausweich-Datenfelder</span></a></li>
</ul>
</li>
<li><a href="#40"><span>5.</span><span> Das kleine 1x1 der Datenfeld-Zuordnungen</span></a>
<ul class="sectlevel2">
<li><a href="#4010"><span>5.1.</span><span> 1:1-Zuordnungen: 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld</span></a></li>
<li><a href="#4030"><span>5.2.</span><span> 1:1-Zuordnungen mit Ausweich-Datenfeld: 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld mit Alternative</span></a></li>
<li><a href="#4020"><span>5.3.</span><span> 1:n-Zuordnungen: 1 Marktplatz-Datenfeld, mehrere plentymarkets Datenfelder</span></a></li>
<li><a href="#4020"><span>5.4.</span><span> Eigener-Wert-Zuordnung: 1 Marktplatz-Datenfeld, für alle Varianten derselbe Wert</span></a></li>
</ul>
</li>
<li><a href="#50"><span>6.</span><span> Kataloge verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#50-1"><span>6.1.</span><span> Kataloge erstellen</span></a></li>
<li><a href="#190"><span>6.2.</span><span> Kataloge kopieren</span></a></li>
<li><a href="#65"><span>6.3.</span><span> Optional: Katalogdaten als Datei exportieren (kein Markplatzexport)</span></a></li>
</ul>
</li>
<li><a href="#230"><span>7.</span><span> SOS: Fehlerbehebung</span></a>
<ul class="sectlevel2">
<li><a href="#230-1"><span>7.1.</span><span> SOS 1: Gelöschten Katalog wiederherstellen</span></a></li>
<li><a href="#230-2"><span>7.2.</span><span> SOS 2: Frühere Version eines Katalogs wiederherstellen</span></a></li>
<li><a href="#230-3"><span>7.3.</span><span> SOS 3: Benutzerrechte für Personen mit Backend-Rechten vergeben</span></a></li>
</ul>
</li>
<li><a href="#properties"><span>8.</span><span> Eigenschaften sind die neuen Merkmale</span></a></li>
<li><a href="#switch-to-catalogues"><span>9.</span><span> Von altem Export auf Katalogexport umsteigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Einführung in Kataloge für Marktplätze</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Kataloge dienen dazu, Daten optimal für den Export vorzubereiten. Für den Export von Variantendaten an Marktplätze und Preisportale verwendest du Kataloge mit Marktplatz-Formaten.</p>
</div>
<div class="paragraph">
<p>plentymarkets arbeitet daran, nach und nach alle Marktplätze auf den Katalogexport umzuziehen. Zurzeit kannst du zum Beispiel schon Artikeldaten zu den folgenden Marktplätzen per Katalog exportieren:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>OTTO Market</p>
</li>
<li>
<p>Etsy</p>
</li>
<li>
<p>Voelkner</p>
</li>
<li>
<p>Conrad</p>
</li>
<li>
<p>Einige Amazon-Flatfiles</p>
</li>
<li>
<p>Plugins von Drittanbieter:innen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Auf dieser Handbuchseite erfährst du, wie du Kataloge verwendest, um Variantendaten an Marktplätze zu exportieren. Dabei wird nur die allgemeine Vorgehensweise erläutert. Genauere Informationen dazu, wie du einen Katalog für die einzelnen Marktplätze erstellst und aufbaust, findest du aber auf den Handbuchseiten der einzelnen Marktplätze.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Diese Seite ist neu und wird weiter ergänzt. Vermisst du Informationen oder ist etwas unklar? Dann sende uns eine Nachricht über die Feedback-Funktion.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="menu-screenshot">1. Erstes Kennenlernen: Menüaufbau</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Menü sieht für alle Marktplatz-Formate gleich aus. Wie, zeigt der Screenshot unten.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/catalogue-menu-colours.png" alt="catalogue menu colours">
</div>
</div>
<div class="paragraph">
<p><em>Menüaufbau eines Katalogs mit Marktplatz-Format</em></p>
</div>
<div class="paragraph">
<p>Was hat es mit den einzelnen Bereichen auf sich?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong> Hier kannst du zwischen den verschiedenen Bereichen wechseln. Rufe die Katalogeinstellungen auf, ordne den Datenfeldern des Marktplatzes die entsprechenden plentymarkets Datenfelder sowie eigene Datenfelder zu, oder setze Filter, um nur bestimmte Daten zu exportieren.</p>
</li>
<li>
<p><strong>Toolbar</strong> Hier kannst du für den Katalog relevante Aktionen durchführen und zum Beispiel die Zuordnung der Datenfelder speichern.</p>
</li>
<li>
<p><strong>Marktplatz-Datenfelder</strong> Hier sind alle für den Marktplatz verfügbaren Datenfelder aufgelistet. Pflichtfelder sind mit einem Sternchen (*) gekennzeichnet.</p>
</li>
<li>
<p><strong>plentymarkets Datenfelder</strong> Hier ordnest du den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu. Im Screenshot wurden schon einige Felder zugeordnet.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="10">2. Was ist ein Katalog mit Marktplatz-Format?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jeder Marktplatz strukturiert Produktdaten anders. Häufig werden sogar an denselben Marktplatz unterschiedliche Produktdaten für verschiedene Produktkategorien (Tierfutter, Haushalt, Lebensmittel) exportiert.</p>
</div>
<div class="paragraph">
<p>Mit Katalogen mit Marktplatz-Format schneidest du die Informationen über dein Produktsortiment genau auf die Anforderungen des Marktplatzes zu. Denn darin ordnest du jedem Datenfelder eines Marktplatzes ein passendes plentymarkets Datenfeld zu. Beim Export deiner Variantendaten zu den Marktplatz werden dann die Datenfelder des Marktplatzes mit den richtigen Daten aus plentymarkets befüllt.</p>
</div>
<div class="paragraph">
<p><strong><em>Welche Vorteile bieten die Kataloge?</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Jedes Format gibt die Datenstruktur des Marktplatzes vor. Du weißt also genau, welche Variantendaten nötig sind, um deine Produkte auf dem Marktplatz anzubieten.</p>
</li>
<li>
<p>Du bestimmst pro Marktplatz oder sogar pro Marktplatzkategorie, welche Variantendaten auf dem Marktplatz veröffentlicht werden. Mit Eigenschaften kannst du zum Beispiel unterschiedliche Namen und Beschreibungen an die verschiedenen Marktplätze exportieren.</p>
</li>
<li>
<p>Du kannst gut konfigurierte Kataloge mit wenig Aufwand kopieren und anpassen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Mal ganz ehrlich: Gibt es auch Nachteile?</em></strong></p>
</div>
<div class="paragraph">
<p>Das kommt darauf an. Die Kataloge bieten dir ein Höchstmaß an Flexibilität. Du kannst Datenfelder absolut frei zuordnen. Das bedeutet aber auch, dass während der Zuordnung keine Prüfung auf Sinnhaftigkeit durchgeführt wird. Das System wird dich also nicht daran hindern, als Preis zum Beispiel die Varianten-ID zuzuordnen. Möglicherweise kommst du einem solchen Fehler erst auf die Spur, wenn du merkst, dass deine Varianten entweder nicht auf dem Marktplatz angekommen sind oder dass deine T-Shirts dort plötzlich ein paar Tausend Euro kosten. Ein Nachteil ist das aber nur, wenn du nicht sorgfältig arbeitest. Je mehr Erfahrung du mit den Katalogen hast, desto leichter wird es dir außerdem fallen, die Zuordnungen vorzunehmen. Gut konfigurierte Kataloge kannst du außerdem kopieren und anpassen. Auch das erleichtert die Arbeit.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">3. Was ist ein Marktplatz-Format?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Ein Marktplatz-Format enthält ein Gerüst der Datenfelder, die ein Marktplatz entgegennehmen kann. Über das Marktplatz-Formate gibt der Marktplatz also vor, welche Daten übertragen werden können. Es ist auch sofort ersichtlich, welche Daten du unbedingt übertragen musst und welche optional sind.</p>
</li>
<li>
<p>Ein Marktplatz kann mehrere Marktplatz-Formate anbieten, zum Beispiel für verschiedene Produktkategorien (Tiernahrung, Lebensmittel, Non-Food etc.) oder für verschiedene Sprachen. Bei manchen Marktplätzen, zum Beispiel bei Etsy, exportierst du aber auch alle Artikeldaten über einen einzigen Katalog.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="30">4. Welche Arten von Datenfeldern gibt es?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="#3020">Marktplatz-Datenfelder</a></p>
</li>
<li>
<p><a href="#3030">plentymarkets Datenfelder</a></p>
<div class="ulist">
<ul>
<li>
<p>Datenfelder</p>
</li>
<li>
<p>Ausweich-Datenfelder</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="3020">4.1. Marktplatz-Datenfelder</h3>
<div class="paragraph">
<p>Marktplatz-Datenfelder sind die Felder, für die du Daten an den Marktplatz exportieren kannst. Weil jeder Marktplatz Artikeldaten anders aufbaut und verarbeitet, hat auch jeder Marktplatz andere Marktplatz-Datenfelder.</p>
</div>
<div id="marketplace-data-fields" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/catalogue-bootcamp/marketplace-data-fields.png" alt="marketplace data fields">
</div>
<div class="title">Bild 1. Marktplatz-Datenfelder im Katalog für OTTO Market</div>
</div>
<div class="paragraph">
<p><strong><em>Das solltest du über Marktplatz-Datenfelder wissen:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Marktplatz-Datenfelder werden im Katalog auf der linken Seite angezeigt.</p>
</li>
<li>
<p>Pflichtfelder sind im Katalog mit einem Sternchen gekennzeichnet. Für diese Pflichtfelder müssen auf jeden Fall Daten exportiert werden. Wenn für eine Variante keine Daten für ein oder mehrere Pflichtfelder gespeichert sind, wird die Variante nicht an den Marktplatz exportiert.</p>
</li>
<li>
<p>Für alle weiteren Datenfelder kannst du Daten exportieren, um deine Verkaufschancen zu steigern. Wenn für eine keine Daten für eines oder mehrere dieser Felder gespeichert sind, wird die Variante aber trotzdem an den Marktplatz exportiert.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="3030">4.2. plentymarkets Datenfelder</h3>
<div class="paragraph">
<p>Die plentymarkets Datenfelder entsprechen den Einstellungen, die du im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong> für deine Artikel und Varianten vornehmen kannst. Hierbei kann es sich entweder um Einstellungen oder um Eigenschaften handeln.</p>
</div>
<div id="plentymarkets-data-fields" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/catalogue-bootcamp/plentymarkets-data-fields.png" alt="plentymarkets data fields">
</div>
<div class="title">Bild 2. Liste der plentymarkets Datenfelder nach Klick auf <strong>+ Datenfeld hinzufügen</strong></div>
</div>
<div class="paragraph">
<p><strong><em>Das solltest du über Marktplatz-Datenfelder wissen:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Marktplatz verlangt Produktdaten, die nicht direkt an der Variante gespeichert werden können? Dann erstelle eine Eigenschaft. Verknüpfe diese Eigenschaft dann mit deinen Varianten. Speichere Produktdaten als Werte für diese Eigenschaft.<br>
<strong><em>Beispiel:</em></strong> Der Marktplatz REWE kennt die Größenangabe "Durchmesser". Da du in plentymarkets keine Durchmesserangaben an der Variante speichern kannst, erstellst du eine Eigenschaft und verknüpfst diese Eigenschaft im Katalog mit dem Marktplatz-Datenfeld <strong>Durchmesser</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><a href="#tabelle-katalog-felder">Tabelle 1</a> enthält Informationen zu den verfügbaren plentymarkets Datenfeldern und dazu, wie du diese Datenfelder zuordnest.</p>
</div>
<table id="tabelle-katalog-felder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Im Katalog verfügbare plentymarkets Datenfelder</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Typ</th>
<th class="tableblock halign-left valign-top">Verfügbare Datenfelder</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variante</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Varianten-ID</strong></p>
</li>
<li>
<p><strong>Ist Hauptvariante</strong><br></p>
</li>
<li>
<p><strong>ID der Hauptvariante</strong><br></p>
</li>
<li>
<p><strong>Position</strong><br></p>
</li>
<li>
<p><strong>Aktiv</strong><br></p>
</li>
<li>
<p><strong>Grundpreisanzeige</strong><br></p>
</li>
<li>
<p><strong>Variantennr.</strong><br></p>
</li>
<li>
<p><strong>Modell</strong><br></p>
</li>
<li>
<p><strong>Externe Varianten-ID</strong><br></p>
</li>
<li>
<p><strong>EK netto</strong><br></p>
</li>
<li>
<p><strong>Kommissionierung</strong><br></p>
</li>
<li>
<p><strong>WB-Beschränkung</strong><br></p>
</li>
<li>
<p><strong>Webshop: sichtbar wenn Netto-WB positiv</strong><br></p>
</li>
<li>
<p><strong>Webshop: unsichtbar wenn kein Netto-WB</strong><br></p>
</li>
<li>
<p><strong>Verfügbar wenn Netto-WB positiv</strong><br></p>
</li>
<li>
<p><strong>Nicht verfügbar wenn kein Netto-WB</strong><br></p>
</li>
<li>
<p><strong>Max. Bestellmenge</strong><br></p>
</li>
<li>
<p><strong>Min. Bestellmenge</strong><br></p>
</li>
<li>
<p><strong>Intervallbestellmenge</strong><br></p>
</li>
<li>
<p><strong>Verfügbar bis</strong><br></p>
</li>
<li>
<p><strong>Erscheinungsdatum</strong><br></p>
</li>
<li>
<p><strong>Variantenname</strong><br></p>
</li>
<li>
<p><strong>Gewicht brutto g</strong><br></p>
</li>
<li>
<p><strong>Gewicht netto g</strong><br></p>
</li>
<li>
<p><strong>Breite mm</strong><br></p>
</li>
<li>
<p><strong>Länge mm</strong><br></p>
</li>
<li>
<p><strong>Höhe mm</strong><br></p>
</li>
<li>
<p><strong>Portoaufschlag 1</strong><br></p>
</li>
<li>
<p><strong>Portoaufschlag 2</strong><br></p>
</li>
<li>
<p><strong>VPE</strong><br></p>
</li>
<li>
<p><strong>Anzahl der Packstücke</strong><br></p>
</li>
<li>
<p><strong>Transportkosten netto</strong><br></p>
</li>
<li>
<p><strong>Lagerkosten netto</strong><br></p>
</li>
<li>
<p><strong>Zoll</strong><br></p>
</li>
<li>
<p><strong>Betriebskosten</strong><br></p>
</li>
<li>
<p><strong>Unsichtbar: in Artikelauflistung</strong><br></p>
</li>
<li>
<p><strong>Standard-Versandkosten</strong><br></p>
</li>
<li>
<p><strong>Mehrwertsteuersatz</strong><br></p>
</li>
<li>
<p><strong>Verfügbarkeit</strong><br></p>
</li>
<li>
<p><strong>Inhalt Einheit</strong><br></p>
</li>
<li>
<p><strong>Inhalt Menge</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der für das gewählte Datenfeld an der Variante gespeicherte Wert wird exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Attributwerte</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der interne Attributname wird exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Barcodes</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der für diesen Barcode an der Variante gespeicherte Code wird exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreis</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Verkaufspreise</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der für diesen Verkaufspreis an der Variante gespeicherte Preis wird exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaft</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Eigenschaften</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für sprachbasierte Eigenschaften wird nach dem Hinzufügen der Eigenschaft eine Dropdown-Liste eingeblendet, über die du die Sprache wählen kannst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>SKU</strong><br></p>
</li>
<li>
<p><strong>Parent-SKU</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der für das gewählte Datenfeld an der Variante gespeicherte Wert wird exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Artikel-ID</strong><br></p>
</li>
<li>
<p><strong>Hersteller-ID</strong><br></p>
</li>
<li>
<p><strong>Herstellername</strong><br></p>
</li>
<li>
<p><strong>Externer Herstellername</strong><br></p>
</li>
<li>
<p><strong>Herstellerland-ID</strong><br></p>
</li>
<li>
<p><strong>Herstellerlandname</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der für das gewählte Datenfeld an der Variante gespeicherte Wert wird exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestand</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Virtuelles Gesamtlager</strong><br></p>
</li>
<li>
<p>Im System gespeicherte Lager</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Lagerbestand des gewählten Lagers wird an den Verkaufskanal exportiert. Bei <strong>Virtuelles Gesamtlager</strong> wird die Summe der Nettobestände aller Vertriebslage exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikeltext</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Name 1</strong><br></p>
</li>
<li>
<p><strong>Name 2</strong><br></p>
</li>
<li>
<p><strong>Name 3</strong><br></p>
</li>
<li>
<p><strong>Vorschautext</strong><br></p>
</li>
<li>
<p><strong>Metabeschreibung</strong><br></p>
</li>
<li>
<p><strong>Artikeltext</strong><br></p>
</li>
<li>
<p><strong>Technische Daten</strong><br></p>
</li>
<li>
<p><strong>URL-Pfad</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nach dem Hinzufügen des Datenfelds wird eine Dropdown-Liste eingeblendet, über die du die Sprache wählen kannst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardkategorie</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Kategorie-ID</strong><br></p>
</li>
<li>
<p><strong>Kategoriename</strong><br></p>
</li>
<li>
<p><strong>Kategoriebeschreibung</strong><br></p>
</li>
<li>
<p><strong>URL-Name</strong><br></p>
</li>
<li>
<p><strong>Meta-Titel</strong><br></p>
</li>
<li>
<p><strong>Meta-Beschreibung</strong><br></p>
</li>
<li>
<p><strong>Meta-Keywords</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die an der Variante gespeicherten Kategoriedaten werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Alle verfügbaren Bilder</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ASIN</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Alle</strong><br></p>
</li>
<li>
<p><strong>Amazon Germany</strong><br></p>
</li>
<li>
<p><strong>Amazon Espania</strong><br></p>
</li>
<li>
<p><strong>Amazon France</strong><br></p>
</li>
<li>
<p><strong>Amazon United Kingdom</strong><br></p>
</li>
<li>
<p><strong>Amazon Italy</strong><br></p>
</li>
<li>
<p><strong>Amazon United States</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Hersteller:innen</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über die Dropdown-Listen für Ziel und Datenfeld werden die Hersteller:innen des Verkaufskanals einzeln den Hersteller:innen in plentymarkets zugeordnet. Klicke links auf <strong>Hersteller hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>), um weitere Zielhersteller:innen zuzuordnen.<br>
<strong><em>Hinweis:</em></strong> Auf dem Verkaufskanal wird der Hersteller:innen-Name des Verkaufskanals veröffentlicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Im System gespeicherte Kategorien</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über die Dropdown-Listen für Ziel und Datenfeld werden die Kategorien des Verkaufskanals einzeln den Kategorien in plentymarkets zugeordnet. Klicke links auf <strong>Kategorien hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>), um weitere Zielkategorien zuzuordnen.<br>
<strong><em>Hinweis:</em></strong> Auf dem Verkaufskanal wird der Kategoriename des Verkaufskanals veröffentlicht.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="3040">4.3. Ausweich-Datenfelder</h3>
<div class="paragraph">
<p>Als Ausweich-Datenfelder stehen dir wieder alle plentymarkets Datenfelder zur Verfügung. Der Unterschied ist, dass der Inhalt des Ausweich-Datenfelds nur exportiert wird, wenn das zugeordnete Datenfeld für eine Variante nicht existiert oder leer ist.</p>
</div>
<div class="paragraph">
<p><strong><em>Ablauf für Ausweich-Datenfelder:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Beim Export wird für jede Variante das zugeordnete plentymarkets Datenfeld  auf Inhalt geprüft.</p>
</li>
<li>
<p>Sind für die Variante für das plentymarkets Datenfeld Daten gespeichert, werden diese Daten exportiert.</p>
</li>
<li>
<p>Wenn das Datenfeld nicht existiert oder für die Variante leer ist, springt das System zum ersten Ausweich-Datenfeld und prüft, ob es hier Daten findet. * Wenn auch das Ausweich-Datenfeld keine Daten für die Variante liefert, wird das zweite Ausweich-Datenfeld geprüft usw.</p>
</li>
<li>
<p>Wenn das System für eine Variante gar keine Daten für ein Marktplatz-Datenfeld findet, kommt es darauf an, ob es sich um ein Pflichtfeld handelt. Wenn ja, wird die Variante nicht exportiert. Wenn nein, wird die Variante exportiert, das Marktplatz-Datenfeld wird aber auf dem Marktplatz nicht befüllt.</p>
</li>
</ul>
</div>
<div id="fallback-data-fields" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/catalogue-bootcamp/fallback-data-fields.png" alt="fallback data fields">
</div>
<div class="title">Bild 3. <em>Beispiel "Farbe" im REWE-Fashion-Katalog:</em> Attribut für Farbe als Datenfeld, Eigenschaft für Farbe als Ausweich-Datenfeld</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">5. Das kleine 1x1 der Datenfeld-Zuordnungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Mit einer Zuordnung legst du fest: Ich möchte, dass dieses eine Marktplatz-Datenfeld mit den Daten aus dieser einen plentymarkets Einstellung befüllt wird.</strong></p>
</div>
<div class="sect2">
<h3 id="4010">5.1. 1:1-Zuordnungen: 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld</h3>
<div class="paragraph">
<p>Bei einer 1:1-Zuordnung ordnest du dem Markplatz-Datenfeld eine Einstellung in plentymarkets zu.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass dieses Marktplatz-Datenfeld mit den Daten aus dieser plentymarkets Einstellung befüllt wird.</p>
</li>
<li>
<p>Wenn das Datenfeld für eine Variante leer ist, wird kein Wert für die Variante exportiert.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="4030">5.2. 1:1-Zuordnungen mit Ausweich-Datenfeld: 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld mit Alternative</h3>
<div class="paragraph">
<p>Bei einer 1:1-Zuordnung ordnest du dem Markplatz-Datenfeld eine Einstellung in plentymarkets zu. Zusätzlich gibst du ein Ausweich-Datenfeld an, damit das System weitersucht, wenn das erste plentymarkets-Datenfeld keine Daten enthält.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass dieses Marktplatz-Datenfeld mit den Daten aus dieser plentymarkets Einstellung befüllt wird.</p>
</li>
<li>
<p>Wenn das Datenfeld für eine Variante leer ist, wird das Ausweich-Datenfeld geprüft und stattdessen dieser Wert für die Variante exportiert.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="4020">5.3. 1:n-Zuordnungen: 1 Marktplatz-Datenfeld, mehrere plentymarkets Datenfelder</h3>
<div class="paragraph">
<p>Bei einer 1:n-Zuordnung ordnest du dem Markplatz-Datenfeld mehrere Einstellungen in plentymarkets zu. Diese Einstellung kannst du durch ein Trennzeichen miteinander verbinden.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass diese plentymarkets Datenfelder beim Export kombiniert werden und das Marktplatz-Datenfeld mit den Daten aus diesen zwei oder mehr plentymarkets Einstellungen befüllt wird.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="4020">5.4. Eigener-Wert-Zuordnung: 1 Marktplatz-Datenfeld, für alle Varianten derselbe Wert</h3>
<div class="paragraph">
<p>Du bist dir sicher, dass du für ein Marktplatz-Datenfeld für alle Varianten des Katalogs denselben Wert übertragen möchtest? Dann kannst du einen eigenen Wert angeben. Dieser feste Wert wird dann für alle Varianten exportiert.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass für <em>alle</em> Varianten dieses Katalogs der Wert exportiert wird, den ich in das Feld <strong>Eigener Wert</strong> eingeben habe.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong></p>
</div>
<div class="paragraph">
<p>Du möchtest für einige deiner Varianten den Durchmesser an Marktplätze exportieren. An den Varianten speicherst du den Durchmesser für alle Varianten in Zentimetern. Du kannst also als eigenen Wert <code>cm</code> eingeben, statt eine Eigenschaft für die Einheit zu erstellen und mit allen Varianten zu verknüpfen:</p>
</div>
<div id="katalog-eigener-wert" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/catalogue-bootcamp/catalogue-durchmesser.png" alt="catalogue durchmesser">
</div>
<div class="title">Bild 4. Eigener Wert für Durchmesser-Einheit</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">6. Kataloge verwalten</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="50-1">6.1. Kataloge erstellen</h3>
<div class="paragraph">
<p>Wie du einen Katalog für einen bestimmten Marktplatz erstellst, erfährst du auf der Handbuchseite des Marktplatzes.</p>
</div>
</div>
<div class="sect2">
<h3 id="190">6.2. Kataloge kopieren</h3>
<div class="paragraph">
<p>Du möchtest einen gut konfigurierten Katalog nutzen, um schnell einen neuen Katalog zu erstellen? Geht!
Beim Kopieren werden zugeordnete Datenfelder übernommen - auch, wenn du das Format wechselst.</p>
</div>
<div class="paragraph instruction">
<p>Katalog kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Kopiere den Katalog:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Möglichkeit 1:</em> In der Zeile des Katalogs</strong></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke in der Zeile des Katalogs auf die weiteren Aktionen (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Kopieren</strong> (<span class="icon "><i class="fa fa-clone  "></i></span>).<br>
→ Das Fenster <strong>Erstelle eine Kopie des Katalogs</strong> wird geöffnet.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Möglichkeit 2:</em> Über die Menüleiste</strong></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Aktiviere den Katalog, den du kopieren möchtest.<br>
<strong><em>Tipp:</em></strong> Um mehrere Kataloge zu kopieren, hake einfach mehrere Kataloge an.</p>
</li>
<li>
<p>Klicke oben in der Menüleiste auf <strong>Kataloge kopieren</strong> (<span class="icon yellow"><i class="fa fa-clone  "></i></span>).<br>
→ Das Fenster <strong>Erstelle eine Kopie des Katalogs</strong> wird geöffnet.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Passe den automatisch vergebenen Namen für die Kopie an.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle ein anderes Format aus der Dropdown-Liste.<br>
<strong><em>Tipp:</em></strong> Zugeordnete Datenfelder werden übernommen.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle eine andere Sprache aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Kopieren</strong>.<br>
→ Der Katalog wird kopiert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="65">6.3. <em>Optional:</em> Katalogdaten als Datei exportieren (kein Markplatzexport)</h3>
<div class="paragraph">
<p>Kataloge mit Marktplatz-Formaten werden automatisch zu Marktplätzen exportiert, wenn du alle erforderlichen Einstellungen vorgenommen hast. Du kannst also die Formateinstellungen, Exporteinstellungen und Download-Einstellungen in den Katalogeinstellungen ignorieren.</p>
</div>
<div class="paragraph">
<p>Optional kannst du aber eine Datei exportieren, in der die Daten festgehalten werden, die auch an den Marktplatz exportiert werden.</p>
</div>
<div class="paragraph instruction">
<p>Variantenexport als Datei einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Der Katalog wird geöffnet.</p>
</li>
<li>
<p>Klicke links auf das Tab <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ Die Einstellungsmöglichkeiten werden angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-file-export">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Katalogdaten werden als Datei exportiert.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Einstellungen für optionalen Dateiexport</div>
<div class="content">
<table id="table-file-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für optionalen Dateiexport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">*Einstellung*</th>
<th class="tableblock halign-left valign-top">*Erläuterung*</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div class="content"><div class="paragraph">
<p>Formateinstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Dateiname</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Dateinamen ein. Mit diesem Namen werden die Dateien gespeichert. + <strong><em>Tipp:</em></strong> Es ist nicht notwendig, eine Dateiendung (zum Beispiel .csv oder .txt) anzugeben. Die Dateiendung wird beim Export automatisch ergänzt.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Verwende Platzhalter, um beim Export automatisch weitere Informationen zum Dateinamen hinzuzufügen.</p>
</div>
<div class="paragraph">
<p>Die folgenden Platzhalter sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$$name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Katalogname wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export-Typ wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Format-Typ wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$timestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$datetime</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$year</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jahr des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$month</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Monat des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$day</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$hour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stunde des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$minute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minute des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$second</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sekunde des Exports wird in den Dateinamen eingefügt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong><em>Beispiele für die Verwendung von Platzhaltern</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>limango-export_$year_$month_$day = limango-export_2020_10_25.csv</p>
</li>
<li>
<p>$type_$format_$year_$month_$day = rewe_fashion_2020_10_25.csv</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Format</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In welchem Dateiformat sollen die Daten exportiert werden?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>CSV</p>
</li>
<li>
<p>TXT</p>
</li>
<li>
<p>JSON</p>
</li>
<li>
<p>XML (beta)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Feldtrennzeichen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches Feldtrennzeichen soll verwendet werden, um die einzelnen Datensätze voneinander zu trennen?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Komma = ,</p>
</li>
<li>
<p>Semikolon = ;</p>
</li>
<li>
<p>Pipe = |</p>
</li>
<li>
<p>Tabulator = ␉</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Textbegrenzer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welcher Textbegrenzer soll verwendet werden, um die einzelnen Datensätze voneinander zu trennen?
210
<strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>"</p>
</li>
<li>
<p>'</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Dezimaltrennzeichen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches Zeichen soll verwendet werden, um Dezimalwerte darzustellen?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Komma = Standard im deutschsprachigen Sprachraum, z.B. <code>20,00 Euro</code></p>
</li>
<li>
<p>Punkt = Standard im englischsprachigen Sprachraum, z.B. <code>20.00 Euro</code></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Zeilenumbruch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie sollen Zeilenumbrüche in den Dateien abgebildet werden?</p>
</div>
<div class="paragraph">
<p><strong><em>Mögliche Werte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wagenrücklauf =</p>
</li>
<li>
<p>Zeilenvorschub =</p>
</li>
<li>
<p>Wagenrücklauf und Zeilenvorschub =</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Kopfzeile enthalten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktiviere die Option, wenn die Dateien eine Kopfzeile enthalten sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div class="content"><div class="paragraph">
<p>Formateinstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Limit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie viele Zeilen sollen pro Datei maximal exportiert werden?</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Bereitstellung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wo sollen die exportierten Dateien gespeichert werden?
<strong><em>Wichtig:</em></strong> Mit dieser Einstellung legst du nur fest, wo die Exportdatei gespeichert werden soll. Es werden keine Daten an Marktplätze exportiert.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Keine</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Dateien werden nicht gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Dateien werden auf einem FTP-Server gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SFTP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Dateien werden auf einem SFTP-Server gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTPS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Dateien werden auf einem FTPS-Server gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin-Bereich</strong><br>
(coming soon)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es bleibt spannend.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Server</strong><br>
(bei FTP, SFTP, FTPS)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den Server ein, auf dem die Dateien gespeichert werden sollen.<br>
<strong><em>Hinweis:</em></strong> Wir empfehlen, das Protokoll-Präfix (ftp://, ftps:// etc.) nicht anzugeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Port</strong><br>
(bei FTP, SFTP, FTPS)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Port ein oder verwende die Standardeinstellung.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Empfohlene Port-Einstellungen:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>FTP und FTPS = Port 21</p>
</li>
<li>
<p>SFTP = Port 22</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Benutzername</strong><br>
(bei FTP, SFTP, FTPS)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den Benutzernamen für den Server ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Passwort</strong><br>
(bei FTP, SFTP, FTPS)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib das Passwort für den Server ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pfad</strong><br>
(bei FTP, SFTP, FTPS)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den Pfad zu dem Speicherort ein, an dem die Datei gespeichert werden soll.<br>
<strong><em>Hinweis</em></strong>: Gib den vollständigen Pfad an, wenn du SFTP verwendest.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Übertragung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wann sollen die Exporte gestartet werden?</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es findet kein Export statt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle 20 Minuten</strong>;<br>
<strong>Stündlich</strong>;<br>
<strong>Täglich</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der aktuelle Stand wird im gewählten Intervall exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitplan</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Option <strong>Zeitplan</strong> wird eingeblendet.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Zeitplan</strong><br>
(bei Option <strong>Zeitplan</strong>)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Klicke in das Feld. Wähle in der eingeblendeten Dropdown-Liste einen oder mehrere Zeitpunkte, zu denen der Export gestartet werden soll.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="230">7. SOS: Fehlerbehebung</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="230-1">7.1. SOS 1: Gelöschten Katalog wiederherstellen</h3>
<div class="openblock collapseBox">
<div class="title">SOS 1: Gelöschten Katalog wiederherstellen</div>
<div class="content">
<div class="paragraph">
<p>Du hast einen Katalog aus Versehen gelöscht oder erst hinterher feststellst, dass du einen gelöschten Katalog doch noch benötigst? Keine Panik. Du kannst gelöschte Katalog wiederherstellen.</p>
</div>
<div class="paragraph instruction">
<p>Gelöschten Katalog wiederherstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Leiste oben auf <strong>Katalogverlauf wiederherstellen</strong> (<span class="icon orange"><i class="fa fa-undo  "></i></span>).<br>
→ Das Fenster <strong>Gelöschten Katalog wiederherstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle den Katalog aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Wiederherstellen</strong>.<br>
→ Der Katalog wird wiederhergestellt.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="230-2">7.2. SOS 2: Frühere Version eines Katalogs wiederherstellen</h3>
<div class="openblock collapseBox">
<div class="title">SOS 2: Frühere Version eines Katalogs wiederherstellen</div>
<div class="content">
<div class="paragraph">
<p>Haben sich bei Änderungen an einem Katalog Fehler eingeschlichen und du willst die Katalog-Notbremse ziehen? Dann kannst du eine frühere Version des Katalogs wiederherstellen. Dabei bleibt auch die Version erhalten, von der du zu einer früheren Version wechselst.</p>
</div>
<div class="paragraph instruction">
<p>Frühere Version eines Katalogs wiederherstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Die Katalog-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Navigiere zu dem Katalog, den du wiederherstellen möchtest.<br></p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Möglichkeit 1:</em></strong> In der Übersicht</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke in der Spalte des Katalogs auf die weiteren Aktionen (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).<br></p>
</li>
<li>
<p>Klicke auf <strong>Katalog-Version wiederherstellen</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Möglichkeit 2:</em></strong> Im Katalog</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Öffne den Katalog.</p>
</li>
<li>
<p>Klicke in der Leiste oben auf die weiteren Aktionen (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).<br></p>
</li>
<li>
<p>Klicke auf <strong>Katalog-Version wiederherstellen</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
</li>
<li>
<p>Wähle aus der Dropdown-Liste die Version, die du wiederherstellen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Wiederherstellen</strong>.<br>
→ Die gewählte Version wird wiederhergestellt.<br>
→ Die vorherige Version wird als frühere Version gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="230-3">7.3. SOS 3: Benutzerrechte für Personen mit Backend-Rechten vergeben</h3>
<div class="openblock collapseBox">
<div class="title">SOS 3: Benutzerrechte für Personen mit Backend-Rechten vergeben</div>
<div class="content">
<div class="paragraph">
<p>Personen mit Rechten vom Typ <strong>Backend</strong> sehen nur bestimmte Bereiche und Menüs im plentymarkets Backend. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> Kataloge sehen können, muss ihnen eine Person mit <strong>Admin</strong>-Zugang zusätzliche Rechte erteilen.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerrechte für Personen mit Backend-Rechten vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Öffne das Konto.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Berechtigungen</strong> die folgende Option:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Daten &gt; Datenaustausch &gt; Export &gt; Katalog &gt; Anzeigen</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="properties">8. Eigenschaften sind die neuen Merkmale</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Merkmale und Freitextfelder kannst du in Katalogen nicht mehr zuordnen. Stattdessen verwendest du Eigenschaften, um Daten zu den Marktplätzen zu exportieren.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du arbeitest zum ersten Mal mit Eigenschaften? Weitere Informationen findest du auf der Artikel-Handbuchseite zum Thema <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="switch-to-catalogues">9. Von altem Export auf Katalogexport umsteigen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Analysiere, welche Merkmale und Freitextfelder du aktuell für den Datenexport zu diesem Marktplatz nutzt.</p>
</li>
<li>
<p>Erstelle einen Katalog. Je nach Marktplatz musst du unter Umständen vorher ein neues Plugin installieren. Ob das der Fall ist, erfährst du auf der Handbuchseite des Marktplatzes.</p>
</li>
<li>
<p>Öffne den Katalog und prüfe, welche Datenfelder an den Marktplatz exportiert werden können. Wenn nötig, erstelle Eigenschaften.</p>
</li>
<li>
<p>Ordne im Katalog den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu.</p>
</li>
<li>
<p>Bereite deine Varianten vor:</p>
<div class="ulist">
<ul>
<li>
<p>Wenn du neue Eigenschaften erstellt hast, verknüpfe diese Eigenschaften mit den Varianten.</p>
</li>
<li>
<p>Für manche Marktplätze benötigst du auch eine Eigenschaft, um die Variante der richtigen Kategorie des Marktplatzes zuzuordnen. Diese Eigenschaft wird automatisch erstellt. Informationen dazu findest du auf der Handbuchseite des Marktplatzes.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Aktiviere deinen Katalog, um den Datenexport zu starten.</p>
</li>
</ul>
</div>
</div>
</div>
</main>