<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#150"><span>1.</span><span> Partner:in bei myToys werden</span></a></li>
<li><a href="#200"><span>2.</span><span> Übersicht des automatischen Datenaustauschs</span></a></li>
<li><a href="#250"><span>3.</span><span> Ablauf einer Bestellung bei myToys</span></a></li>
<li><a href="#300"><span>4.</span><span> Plugin installieren</span></a></li>
<li><a href="#300"><span>5.</span><span> Marktplatz einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#350"><span>5.1.</span><span> Datenaustausch einrichten</span></a></li>
<li><a href="#400"><span>5.2.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#450"><span>5.3.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#500"><span>5.4.</span><span> Herkunft in Versandprofilen aktivieren</span></a></li>
</ul>
</li>
<li><a href="#550"><span>6.</span><span> Artikelexport einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>6.1.</span><span> Besonderheiten der myToys-Artikeldatenstruktur</span></a></li>
<li><a href="#650"><span>6.2.</span><span> Katalog mit dem Assistenten erstellen</span></a></li>
<li><a href="#700"><span>6.3.</span><span> Katalogzuordnungen vornehmen</span></a>
<ul class="sectlevel3">
<li><a href="#750"><span>6.3.1.</span><span> Datenfelder im Katalog zuordnen</span></a></li>
<li><a href="#800"><span>6.3.2.</span><span> Besonderheiten bei der Zuordnung</span></a></li>
</ul>
</li>
<li><a href="#850"><span>6.4.</span><span> Katalog aktivieren</span></a></li>
</ul>
</li>
<li><a href="#prepare-variations"><span>7.</span><span> Varianten vorbereiten</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>7.1.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
<li><a href="#link-category-property"><span>7.2.</span><span> Variante mit myToys-Kategorie verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#order-documents"><span>8.</span><span> Auftragsdokumente vorbereiten</span></a>
<ul class="sectlevel2">
<li><a href="#delivery-notes"><span>8.1.</span><span> Lieferscheine vorbereiten</span></a>
<ul class="sectlevel3">
<li><a href="#1300"><span>8.1.1.</span><span> PDF-Vorlage für Lieferscheine hochladen</span></a></li>
<li><a href="#16003"><span>8.1.2.</span><span> Lieferscheine anpassen</span></a></li>
</ul>
</li>
<li><a href="#return-notes"><span>8.2.</span><span> Rücksendescheine vorbereiten</span></a>
<ul class="sectlevel3">
<li><a href="#1150"><span>8.2.1.</span><span> PDF-Vorlage für Rücksendescheine hochladen</span></a></li>
<li><a href="#1150-1"><span>8.2.2.</span><span> Rücksendescheine anpassen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#order-processing"><span>9.</span><span> Auftragsabwicklung automatisieren</span></a>
<ul class="sectlevel2">
<li><a href="#950"><span>9.1.</span><span> Stornierungen automatisch melden</span></a></li>
<li><a href="#1000"><span>9.2.</span><span> Versandbestätigungen automatisch an myToys senden</span></a></li>
<li><a href="#1050"><span>9.3.</span><span> Retourenverwaltung einrichten</span></a>
<ul class="sectlevel3">
<li><a href="#1100"><span>9.3.1.</span><span> Ablauf von Retouren</span></a></li>
<li><a href="#1200"><span>9.3.2.</span><span> Retoure automatisch an myToys melden</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1350"><span>10.</span><span> Fehlersuche</span></a>
<ul class="sectlevel2">
<li><a href="#log-entries"><span>10.1.</span><span> Log-Einträge abrufen</span></a></li>
<li><a href="#mandatory-missing"><span>10.2.</span><span> Varianten mit fehlenden Pflichtfeldern finden</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>myToys</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit mehr als 9 Millionen Bestellungen pro Jahr und über 4 Millionen aktiven Kund:innen ist myToys die führende Plattform für Family-Shopping in Deutschland. myToys bietet dir Verkaufsmöglichkeiten für die 3 Online-Shops myToys, mirapodo und yomonda mit nur einer technischen Integration.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="150">1. Partner:in bei myToys werden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Klicke <a href="https://partnerprogramaccess.mytoys.de/Registrierung/" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, um mehr über den myToys Marktplatz und das Partnerprogramm zu erfahren und deine Registrierungsanfrage zu senden.</p>
</div>
<div class="paragraph">
<p>Wende dich zur Registrierung alternativ gern auch direkt an das Team des Partnermanagements unter mailto:partnerteam@mytoys.de. Ein Mitglied des Partnermanagements wird sich bald mit dir in Verbindung setzen und mit dir gemeinsam das Potenzial auf <a href="https://www.mytoys.de/" target="_blank" rel="noopener">mytoys.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> evaluieren und die nächsten Schritte besprechen.</p>
</div>
<div class="paragraph">
<p>Nach der Registrierung erhältst du Zugangsdaten für myToys. Diese Zugangsdaten benötigst du, um das myToys-Plugin in plentymarkets einzurichten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Übersicht des automatischen Datenaustauschs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das Plugin installiert und eingerichtet hast, stehen die in <a href="#datenaustausch">Tabelle 1</a> automatisierten Abläufe bereit.</p>
</div>
<table id="datenaustausch" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Häufigkeit des Datenaustauschs</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Daten</th>
<th class="tableblock halign-left valign-top">Intervall</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Artikeldaten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelexport</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>täglich<br>
<strong><em>Hinweis:</em></strong> Artikel werden ein bis zwei Mal pro Tag exportiert. Der Export beinhaltet auch den Preisabgleich für die enthaltenen Varianten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestandsabgleich</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>alle 15 Minuten</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Auftragsdaten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsimport</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>alle 15 Minuten<br>
<strong><em>Hinweis:</em></strong> Kund:innen zahlen an myToys. Deshalb werden alle Aufträge mit dem Status <strong>[5] Bezahlt</strong> importiert. Wenn kein Bestand vorhanden ist oder keine SKU zugerdnet ist, bleibt der Auftrag in Auftragsstatus <strong>[4] In Versandvorbereitung</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">3. Ablauf einer Bestellung bei myToys</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Deine Produkte werden im myToys Marktplatz gelistet.</p>
</li>
<li>
<p>Kund:innen geben eine Bestellung auf myToys auf.</p>
</li>
<li>
<p>Kund:innen zahlen an myToys.</p>
</li>
<li>
<p>Der Auftrag wird in plentymarkets importiert.<br>
<strong><em>Hinweis:</em></strong> Da Kund:innen an myToys zahlen, werden Aufträge mit dem Status <strong>[5] Bezahlt</strong> importiert.</p>
</li>
<li>
<p>Bei Eingang der Bestellung versendest du die Ware (Dropshipping).</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Plugin installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um myToys in plentymarkets nutzen zu können, installiere zunächst das <a href="https://marketplace.plentymarkets.com/mytoys_54776" target="_blank" rel="noopener">myToys-Plugin</a> in deinem plentymarkets System. Dieses und viele andere Plugins findest du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>myToys</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>myToys</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>myToys</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">5. Marktplatz einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das Plugin installiert hast, richtest du den Marktplatz in plentymarkets ein.</p>
</div>
<div class="sect2">
<h3 id="350">5.1. Datenaustausch einrichten</h3>
<div class="paragraph">
<p>Mit dem Assistenten <strong>Grundeinstellungen - myToys</strong> im Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen]</strong> richtest du den Datenaustausch mit myToys in plentymarkets ein. Halte dafür die Zugangsdaten bereit, die du von myToys erhalten hast.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen im Assistenten vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>Grundeinstellungen - myToys</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Wenn du zusätzliche Informationen zu einer der Optionen benötigst, klappe die Info-Box unter dieser Beschreibung auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Prüfe im Schritt <strong>Zusammenfassung</strong> deine Einstellungen noch einmal auf mögliche Fehler.<br>
<strong><em>Tipp:</em></strong> Klicke im Schritt <strong>Zusammenfassung</strong> auf den Pfeil nach unten (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um die Einstellungen auszuklappen.</p>
</li>
<li>
<p>Wenn alles passt, klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Die Einstellungen werden gespeichert.<br></p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Erläuterungen zu den Optionen des Assistenten</div>
<div class="content">
<table id="table-basic-settings-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>API-Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontonummer</strong>;<br>
<strong>Benutzername</strong>;<br>
<strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Zugangsdaten erhältst du von myToys.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>SFTP-Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Host</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><code>sftp.trade-server.net</code> eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Port <code>22</code> eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong>;<br>
<strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Zugangsdaten erhältst du von myToys.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Cron-Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cron für Auftragsimport</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, um den Auftragsimport zu aktivieren. Aufträge werden alle 15 Minuten importiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cron für Produktexport</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, um den Artikelexport zu aktivieren.<br>
<strong><em>Hinweis:</em></strong> Artikel werden ein bis zwei Mal pro Tag exportiert. Der Export beinhaltet auch den Preisabgleich für die enthaltenen Varianten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cron für Warenbestandsexport</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, um den Warenbestandsexport zu aktivieren. Der Bestand wird alle 15 Minuten exportiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Versandprofilverknüpfung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein oder mehrere bestehende Versandprofile und ordne es myToys zu.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Versanddienstleister möchtest du Kund:innen für myToys-Aufträge anbieten?</p>
</div>
<div class="paragraph">
<p>Alle externen Versanddienstleister mit plentymarkets <a href="/fulfillment/versand-vorbereiten#1000#">Versandprofilen</a> verknüpfen, die für myToys-Aufträge möglich sein sollen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> klicken.</p>
</li>
<li>
<p>plentymarkets Versandprofil aus der Dropdown-Liste <strong>Internes Versandprofil</strong> wählen.</p>
</li>
<li>
<p>Passenden Versanddienstleister aus der Dropdown-Liste <strong>Externer Versanddienstleister</strong> wählen.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Lagerauswahl</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Lager, für die der Bestand mit myToys synchronisiert werden soll.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Für welche Lager sollen Bestandsdaten an myToys exportiert werden?</p>
</div>
<div class="paragraph">
<p>Lege ein oder mehrere plentymarkets Lager fest, in denen sich die Artikel befinden, die du auf myToys verkaufen möchtest:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> klicken.</p>
</li>
<li>
<p>plentymarkets Lager aus der Dropdown-Liste <strong>Lagerl</strong> wählen.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Mandantenauswahl</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Mandanten, dem importierte Aufträge zugeordnet werden sollen.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle den Mandanten, über den du auf myToys verkaufen wirst.<br>
<strong><em>Hinweis:</em></strong> Wenn du deine Produkte über den Standardmandanten auf myToys anbieten möchtest, musst du keinen Mandanten wählen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="400">5.2. Auftragsherkunft aktivieren</h3>
<div class="paragraph">
<p>Die Auftragsherkunft dient dazu, zu kennzeichnen, über welchen Verkaufskanal ein Auftrag generiert wurde. Außerdem musst du die Auftragsherkunft aktivieren, um Artikel, Merkmale etc. mit myToys verknüpfen zu können. Aktiviere die Auftragsherkunft im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für myToys aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="450">5.3. Verkaufspreis festlegen</h3>
<div class="paragraph">
<p>Mit Verkaufspreisen definierst du die Bedingungen, unter denen eine Variante zu einem bestimmten Preis und über einen bestimmten Verkaufskanal verkauft wird. Um Varianten auf myToys zu verkaufen, benötigst du deshalb einen Verkaufspreis, bei dem die Auftragsherkunft myToys aktiviert ist. Der Preis, den du für diesen Verkaufspreis an deinen Varianten speicherst, wird auf myToys angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für myToys festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » [Verkaufspreis öffnen]</strong>.<br>
<strong><em>Tipp:</em></strong> Du hast noch keine Verkaufspreise? Dann erstelle zuerst einen <a href="/artikel/einstellungen/preise#100">neuen Verkaufspreis</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Herkunft <strong>myToys</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">5.4. Herkunft in Versandprofilen aktivieren</h3>
<div class="paragraph">
<p>Aktiviere nun myToys in den Versandprofilen, die du für den Marktplatz anbieten möchtest.</p>
</div>
<div class="paragraph instruction">
<p>Herkunft myToys im Versandprofil aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Versandprofile</strong>.</p>
</li>
<li>
<p>Klicke auf das Versandprofil.<br>
<strong><em>Tipp:</em></strong> Du hast noch keine Versandprofile? Wie du Versandprofile erstellst, erfährst du <a href="/fulfillment/versand-vorbereiten#1000">hier</a>.</p>
</li>
<li>
<p>Aktiviere für die Einstellung <strong>Auftragsherkunft</strong> die Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Das Versandprofil ist für Aufträge der Herkunft myToys verfügbar.</p>
</li>
<li>
<p>Aktiviere die Herkunft wenn nötig in weiteren Versandprofilen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="550">6. Artikelexport einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikeldaten werden über Katalog-Formate zu myToys exportiert. Kataloge erstellst du im Menü <strong>Daten » Kataloge</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du arbeitest zum ersten Mal mit den Katalogen? Dann mache dich zuerst <a href="/daten/daten-exportieren/kataloge-verwalten">mit dem Prinzip der Kataloge vertraut</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Damit du deine Artikel zu myToys exportieren kannst, musst du Kataloge erstellen. Die Kataloge erstellst du spezifisch pro Kategorie. Je nach gewählter Kategorie variieren bei der Zuordnung sowohl die Pflichtfelder als auch die optionalen Felder. Verknüpfe anschließend im Marktplatz-Format die von myToys vorgegebenen Felder mit den in plentymarkets gespeicherten Artikeldaten. Die Katalogdaten werden automatisch in regelmäßigen Abständen zu myToys exportiert, wenn du einen Katalog aktivierst.</p>
</div>
<div class="sect2">
<h3 id="600">6.1. Besonderheiten der myToys-Artikeldatenstruktur</h3>
<div class="paragraph">
<p>Die Struktur der Artikeldaten von myToys gleicht der Struktur in plentymarkets. Nur die Benennungen unterscheiden sich:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Das <strong>Produkt</strong> bei myToys entspricht in plentymarkets dem <strong>Artikel</strong>.</p>
</li>
<li>
<p>Der <strong>Artikel</strong> bei myToys entspricht in plentymarkets der <strong>Variante</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="650">6.2. Katalog mit dem Assistenten erstellen</h3>
<div class="paragraph instruction">
<p>Katalog mit dem Assistenten erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » Plugin-Set wählen</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>myToys - Kataloge</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Wenn du zusätzliche Informationen zu einer der Optionen benötigst, klappe die Info-Box unter dieser Beschreibung auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Prüfe im Schritt <strong>Zusammenfassung</strong> deine Einstellungen noch einmal auf mögliche Fehler.<br>
<strong><em>Tipp:</em></strong> Klicke im Schritt <strong>Zusammenfassung</strong> auf den Pfeil nach unten (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um die Einstellungen auszuklappen.</p>
</li>
<li>
<p>Wenn alles passt, klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Der Katalog wird erstellt.</p>
</li>
<li>
<p>Öffne den Katalog im Menü <strong>Daten » Kataloge</strong>, um weitere Felder zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Für jede myToys-Kategorie benötigst du einen eigenen Katalog.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="700">6.3. Katalogzuordnungen vornehmen</h3>
<div class="paragraph">
<p>Nachdem du einen Katalog erstellt hast, ordnest du die Datenfelder des Marktplatzes den in plentymarkets gespeicherten Artikeldaten zu. In diesem Kapitel erfährst du, wie du Datenfelder zuordnest und welche Besonderheiten es bei myToys gibt. Außerdem findest du hier Empfehlungen für korrekte Zuordnungen. Die Informationen sind wie folgt aufgebaut:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#750">Datenfelder im Katalog zuordnen</a></p>
</li>
<li>
<p><a href="#800">Besonderheiten bei der Zuordnung von Datenfeldern</a></p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="750">6.3.1. Datenfelder im Katalog zuordnen</h4>
<div class="paragraph">
<p>Ordne nun die Datenfelder von myToys den in plentymarkets gespeicherten Artikeldaten zu. Beachte die Informationen zu Besonderheiten und Empfehlungen in diesem Kapitel.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Katalogmenü kennenlernen</div>
<div class="content">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/catalogue-menu-colours.png" alt="catalogue menu colours">
</div>
</div>
<div class="paragraph">
<p><em>Menüaufbau eines Katalogs mit Marktplatz-Format</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong> Standardmäßig wird die Ansicht <strong>Zuordnung</strong> angezeigt, wenn du einen Katalog öffnest. Über die Navigation wechselst du zu anderen Ansichten des Katalogs. Rufe die Katalogeinstellungen auf oder setze Filter, um nur bestimmte Daten zu exportieren. Außerdem kannst du zurück zur Katalogübersicht wechseln oder einen neuen Katalog erstellen.</p>
</li>
<li>
<p><strong>Toolbar</strong> In der Toolbar kannst du für den Katalog relevante Aktionen durchführen. Speichere zum Beispiel die Zuordnungen der Datenfelder, stelle eine ältere Version des Katalogs wieder her oder blende optionale Marktplatz-Datenfelder ein oder aus.</p>
</li>
<li>
<p><strong>Marktplatz-Datenfelder</strong> Rechts neben der Navigation sind alle für den Marktplatz verfügbaren Datenfelder aufgelistet. Pflichtfelder sind mit einem Sternchen (✱) gekennzeichnet.<br>
<strong><em>Tipp:</em></strong> In der Toolbar blendest du über die weiteren Aktionen (<span class="icon "><i class="material-more_vert"></i></span>) optionale Felder ein und aus.</p>
</li>
<li>
<p><strong>plentymarkets Datenfelder</strong> Im linken Bereich des Katalogs ordnest du den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu. Im Screenshot wurden schon einige Felder zugeordnet.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Katalogzuordnungen erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Das Tab <strong>Zuordnung</strong> wird geöffnet.<br>
→ In der linken Spalte werden die Datenfelder des Marktplatzes angezeigt.<br>
<strong><em>Tipp:</em></strong> Pflichtfelder sind mit Sternchen (*) gekennzeichnet.<br>
→ In der rechten Spalte ordnest du die plentymarkets Datenfelder zu. Bereits zugeordnete plentymarkets Datenfelder werden ebenfalls in der rechten Spalte angezeigt.</p>
</li>
<li>
<p>Nun ordnest du den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu.<br>
Für jedes Marktplatz-Datenfeld hast die folgenden Zuordnungsmöglichkeiten, die in den Info-Boxen unten näher beschrieben werden:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Einfache 1:1-Zuordnung</strong></p>
</li>
<li>
<p><strong>Komplexe 1:1-Zuordnung</strong></p>
</li>
<li>
<p><strong>1:1-Zuordnung mit Ausweich-Datenfeld</strong></p>
</li>
<li>
<p><strong>1:n-Zuordnung</strong></p>
</li>
<li>
<p><strong>Eigener-Wert-Zuordnung</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Einfache 1:1-Zuordnung:</strong> 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld</div>
<div class="content">
<div class="paragraph">
<p>Bei einer einfachen 1:1-Zuordnung ordnest du dem Markplatz-Datenfeld eine Einstellung in plentymarkets zu. Wenn es keine passende Einstellung in plentymarkets gibt, kannst du stattdessen eine Eigenschaft erstellen und zuordnen.</p>
</div>
<div class="paragraph">
<p>Bei einer einfachen 1:1-Zuordnung legst du also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass dieses Marktplatz-Datenfeld mit den Daten aus dieser plentymarkets Einstellung befüllt wird.</p>
</li>
<li>
<p>Wenn das Datenfeld für eine Variante leer ist, wird kein Wert für die Variante exportiert.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Einfache 1:1-Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Verkaufspreis und UVP</p>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du den Marktplatz-Datenfeldern <strong>Verkaufspreis</strong> und <strong>UVP</strong> von Otto Market passende plentymarkets Datenfelder zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-mapping-simple-de.gif" alt="gif catalogue mapping simple de">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Komplexe 1:1-Zuordnung:</strong> 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld</div>
<div class="content">
<div class="paragraph">
<p>Wie bei den einfachen 1:1-Zuordnungen ordnest du auch hier einem Markplatz-Datenfeld eine Einstellung in plentymarkets oder eine Eigenschaft zu. Komplexe Zuordnungen sind aber immer dann nötig, wenn es für ein Datenfeld verschiedene mögliche Werte gibt. Statt Datenfelder zuzuordnen, ordnest du bei komplexen Zuordnungen also die Werte dieser Datenfelder zu. Zum Beispiel kannst du dem Marktplatz-Datenfeld <strong>Versandart</strong> nicht einfach das plentymarkets Datenfeld <strong>Versandprofil</strong> zuordnen. Grund ist, dass der Marktplatz nicht wissen kann, welches deiner Versandprofile in plentymarkets welchem Versandprofil des Marktplatzes entspricht.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Gib bei komplexen Zuordnungen keine eigenen Werte ein. Alle Werte, die du eingibst, müssen an den Varianten gespeichert sein, entweder in einer Einstellung oder als Eigenschaftswert. Das gilt auch, wenn das Feld <strong>Comparative value</strong> angezeigt wird. Auch hier musst du genau den Wert aus der zugeordneten Einstellung oder Eigenschaft eingeben.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Beispiele für komplexe 1:1-Zuordnungen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Marken</p>
</li>
<li>
<p>Versandart</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Komplexe Zuordnungen erkennst du daran, dass sich unterhalb des Namens des Marktplatz-Datenfelds ein Eingabefeld befindet. Wenn du in das Eingabefeld klickst, werden die Werte angezeigt, die es für das Marktplatz-Datenfeld gibt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/catalogue-complex-mappings.png" alt="catalogue complex mappings">
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Ordne bei komplexen Zuordnungen keine eigenen Werte und keine Eigenschaften des Typs <strong>Kein</strong> zu.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Komplexe 1:1-Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke in das Feld für das Marktplatz-Datenfeld.<br>
→ Eine Liste der verfügbaren Werte wird angezeigt.</p>
</li>
<li>
<p>Wähle den Wert, dem du ein plentymarkets Datenfeld zuordnen möchtest.<br>
→ Der Wert wird übernommen.</p>
</li>
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links werden die verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.<br></p>
</li>
<li>
<p>Klicke auf eine Gruppe.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke auf das plentymarkets Datenfeld, für das du Werte zuordnen möchtest.<br>
<strong><em>Wichtig:</em></strong> Ordne keinen eigenen Wert und keine Eigenschaft des Typs <strong>Kein</strong> zu.<br>
→ Je nachdem, welches plentymarkets Datenfeld du gewählt hast, gehst du ab jetzt unterschiedlich vor:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Möglichkeit 1:</em></strong> Die verfügbaren Werte des plentymarkets Datenfelds werden links angezeigt.<br></p>
<div class="ulist">
<ul>
<li>
<p>Klicke neben dem gewünschten Wert auf das Plus.<br>
→ Der Wert wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Möglichkeit 2:</em></strong> Das plentymarkets Datenfeld wird eingefügt und das Feld <strong>Comparative value</strong> wird angezeigt.</p>
<div class="ulist">
<ul>
<li>
<p>Gib in das Feld <strong>Comparative value</strong> einen Wert ein, der für das gewählte plentymarkets Datenfeld in der Einstellung oder der Eigenschaft gespeichert ist.<br></p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Möglichkeit 3:</em></strong> Das plentymarkets Datenfeld wird eingefügt und eine Dropdown-Liste wird angezeigt.</p>
<div class="ulist">
<ul>
<li>
<p>Wähle einen Wert aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du den Werten des Marktplatz-Datenfelds <strong>Lieferzeit in Tagen</strong> von Otto Market passende plentymarkets Werte zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-mapping-complex-de.gif" alt="gif catalogue mapping complex de">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:1-Zuordnung mit Ausweich-Datenfeld:</strong> 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld mit Alternative</div>
<div class="content">
<div class="paragraph">
<p>Bei einer 1:1-Zuordnung mit Ausweich-Datenfeld ordnest du dem Markplatz-Datenfeld eine Einstellung in plentymarkets zu. Zusätzlich gibst du ein oder mehrere Ausweich-Datenfelden an, damit das System weitersucht, wenn das erste plentymarkets-Datenfeld leer ist oder einen ungültigen Wert enthält.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass dieses Marktplatz-Datenfeld mit den Daten aus dieser plentymarkets Einstellung befüllt wird.</p>
</li>
<li>
<p>Wenn das Datenfeld für eine Variante leer oder ungültig ist, wird das erste Ausweich-Datenfeld geprüft und stattdessen dieser Wert für die Variante exportiert.</p>
</li>
<li>
<p>Wenn das erste Ausweich-Datenfeld für eine Variante ebenfalls leer oder ungültig ist, wird das zweite Ausweich-Datenfeld geprüft und stattdessen dieser Wert für die Variante exportiert usw.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>1:1-Zuordnung mit Ausweich-Datenfeld erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke in der Liste der plentymarkets Datenfelder neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das Ausweich-Datenfeld wird exportiert, wenn das erste Datenfeld nicht vorhanden oder leer ist.<br>
<strong><em>Hinweis:</em></strong> Auch wenn du ein oder mehrere Ausweich-Datenfelder zuordnest, wird für jede Variante nur ein Wert übertragen. Für jede Variante werden die zugeordneten plentymarkets Datenfelder in der Reihenfolge geprüft, in der sie zugeordnet wurden. Wenn also das erste Datenfeld keinen Wert für die Variante liefert, wird das erste Ausweich-Datenfeld übertragen usw.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du dem Marktplatz-Datenfeld <strong>SKU</strong> von Otto Market das plentymarkets Datenfeld <strong>SKU</strong> und das plentymarkets Datenfeld <strong>Varianten-ID</strong> als Ausweich-Datenfeld zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-mapping-fallback-de.gif" alt="gif catalogue mapping fallback de">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:n-Zuordnung:</strong> 1 Marktplatz-Datenfeld, mehrere plentymarkets Datenfelder</div>
<div class="content">
<div class="paragraph">
<p>Bei einer 1:n-Zuordnung ordnest du dem Markplatz-Datenfeld mehrere plentymarkets Datenfelder zu. Diese Datenfelder kannst du durch ein Trennzeichen miteinander verbinden.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass diese plentymarkets Datenfelder beim Export kombiniert werden und das Marktplatz-Datenfeld mit den Daten aus diesen zwei oder mehr plentymarkets Einstellungen befüllt wird.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>1:n-Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
<li>
<p>Klicke rechts neben dem zugeordneten plentymarkets Datenfeld auf <strong>Datenfeld hinzufügen</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder wieder als Gruppen angezeigt.</p>
</li>
<li>
<p>Ordne dem Marktplatz-Datenfeld wie oben beschrieben ein oder mehrere weitere plentymarkets Datenfelder zu.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
<li>
<p>Klicke ganz rechts in der Zeile des Marktplatz-Datenfelds auf <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Trennzeichen</strong> ein Trennzeichen oder bestimme ein eigenes Trennzeichen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.<br>
→ Beim Export wird der Inhalt der plentymarkets Datenfelder kombiniert exportiert.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Eigener-Wert-Zuordnung:</strong> 1 Marktplatz-Datenfeld, derselbe Wert für alle Varianten</div>
<div class="content">
<div class="paragraph">
<p>Du bist dir sicher, dass du für ein Marktplatz-Datenfeld für alle Varianten des Katalogs denselben Wert übertragen möchtest? Dann kannst du einen eigenen Wert angeben. Dieser feste Wert wird dann für alle Varianten exportiert.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass für dieses Marktplatz-Datenfeld für <em>alle</em> Varianten dieses Katalogs der Wert exportiert wird, den ich in das Feld <strong>Eigener Wert</strong> eingeben habe.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Eigener-Wert-Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke ganz oben neben <strong>Eigener Wert</strong> auf das Plus.<br>
→ Das Feld für den eigenen Wert wird in der Ansicht hinzugefügt.</p>
</li>
<li>
<p>Gib einen Wert in das Eingabefeld darunter ein.<br>
→ Dieser Wert wird für alle Varianten exportiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Durchmesserangaben</p>
</div>
<div class="paragraph">
<p>Du möchtest für einige deiner Varianten den Durchmesser an Marktplätze exportieren. Den Durchmesser hast du für alle Varianten in Zentimetern gespeichert. Statt eine Eigenschaft für die Einheit zu erstellen und diese Eigenschaft mit allen Varianten zu verknüpfen, kannst du also als eigenen Wert <code>cm</code> eingeben.</p>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du einen eigenen Wert für die Durchmesser-Einheit zuordnest:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/gif-catalogue-own-value-de.gif" alt="gif catalogue own value de" width="600">
</div>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="800">6.3.2. Besonderheiten bei der Zuordnung</h4>
<div class="paragraph">
<p>Jeder Marktplatz strukturiert Artikeldaten anders. In <a href="#catalogue-mappings">Tabelle 2</a> findest du Hinweise dazu, was du beim Zuordnen von Datenfeldern für myToys beachten solltest.</p>
</div>
<div class="paragraph">
<p>Beachte außerdem die folgenden allgemeinen Hinweise:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ordne mindestens die <strong>Pflichtfelder</strong> zu. Über die Umschaltfläche (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) <strong>Nur Pflichtfelder anzeigen</strong> kannst du dir auch nur die Pflichtfelder des Marktplatzes anzeigen lassen.</p>
</li>
<li>
<p>Für einige Zuordnungen ist es sinnvoll, vorher <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a> zu erstellen. Diese Eigenschaften kannst du erst im Katalog zuordnen, nachdem du sie erstellt und gespeichert hast. Stelle daher sicher, dass du alle nötigen Eigenschaften erstellt hast.</p>
</li>
<li>
<p>myToys kann keine HTML-Tags verarbeiten. Deshalb werden HTML-Tags beim Export herausgefiltert. Achte darauf, besonders für <a href="#option-itemtext">Artikelbeschreibungen</a> und <a href="#option-bulletpoints">Aufzählungszeichen</a>.</p>
</li>
</ul>
</div>
<table id="catalogue-mappings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Besonderheiten bei der Zuordnung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Marktplatz-Datenfeld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produktname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Verknüpfe das plentymarkets Datenfeld <strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong>.</p>
</div>
<div class="paragraph">
<p>Für Produktnamen gelten die folgenden Regeln:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gib den Produktnamen auf Deutsch an.</p>
</li>
<li>
<p>Die Zeichenzahl für Produktnamen ist technisch nicht limitiert. Achte aber darauf, nicht zu viele Zeichen zu verwenden, da der Produktname systemseitig von myToys sonst abgeschnitten wird. Der Produktname sollte deshalb so kurz wie möglich sein.</p>
</li>
<li>
<p>Hersteller bzw. Eigenmarken müssen nicht im Produktnamen erwähnt werden, diese Informationen werden bei myToys separat über dem Artikelnamen angezeigt.</p>
</li>
<li>
<p>Farben, Größen, Geschlechterangaben und Wiederholungen dürfen nicht im Produktnamen genannt werden.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marke</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ordne das plentymarkets Datenfeld <strong>Artikel » Externer Herstellername</strong> zu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong class="option-itemtext">Texte</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ordne das plentymarkets Datenfeld <strong>Artikeltext » Artikeltext</strong> zu.<br>
Die Artikelbeschreibung darf maximal 4000 Zeichen lang sein. Längerer Text wird nach 4000 Zeichen abgeschnitten und mit <code>…​</code> versehen.<br>
<strong><em>Hinweis:</em></strong> Verwendest du HTML-Tags, um deine Artikeltexte zu formatieren?<br>
myToys kann keine HTML-Tags verarbeiten. Deshalb werden HTML-Tags beim Export herausgefiltert. Prüfe deshalb deine Artikeltexte. Wenn du viele HTML-Tags verwendest, kann es sinnvoll sein, eine Eigenschaft zuzuordnen, in der du die Artikelbeschreibungen ohne HTML-Formatierung speicherst.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Farbe ist in plentymarkets und bei myToys variantenbildend.</p>
</div>
<div class="paragraph">
<p>Für den Export von Farben gibt es zwei Marktplatz-Datenfelder:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Marktplatz-Datenfeld</strong></th>
<th class="tableblock halign-left valign-top"><strong>Zuordnungsempfehlung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>General Attributes &gt; Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordne dem Marktplatz-Datenfeld <strong>Farbe</strong> ein variantenbildendes Attribut für Farben zu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farbe &gt; Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordnest jedem Farbwert von myToys einen Attributwert desselben Attributs für Farbe zu, das du dem Marktplatz-Datenfeld <strong>General Attributes &gt; Farbe</strong> zugeordnet hast.</p></td>
</tr>
</tbody>
</table>
<div class="openblock collapseBox">
<div class="title">Du hast andere Farbabstufungen als myToys?</div>
<div class="content">
<div class="paragraph">
<p>Wenn du andere Farbabstufungen als myToys verwendest, kannst du Ausweich-Datenfelder zuordnen.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Zusätzlich zu <strong>Rot</strong> hast du die Farbabstufungen <strong>Hellrot</strong>, <strong>Dunkelrot</strong> und <strong>Kirschrot</strong> entweder als Attributwerte oder als Eigenschaftwerte.</p>
</div>
<div class="paragraph">
<p>Ordne dem Marktplatz-Datenfeld für die Artikelfarbe <strong>Rot</strong> diese Attributwerte/Eigenschaftswerte als Ausweich-Datenfelder zu.</p>
</div>
<div class="paragraph">
<p>So wird die Variante mit allen drei Begriffen gefunden, wenn Kund:innen auf myToys Produkte nach <strong>Rot</strong> filtern.</p>
</div>
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Normalerweise ist die Größe in plentymarkets und bei myToys variantenbildend. Ordne deshalb ein Attribut für Größenangaben zu.<br>
<strong><em>Hinweis:</em></strong> Ob die Größe wirklich variantenbildend ist, hängt vom Produktsortiment ab. Wenn deine Varianten ohne Attribute für Größen erstellt wurden, wende dich an das myToys-Integrationsteam, um das weitere Vorgehen zu besprechen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ordne einen Verkaufspreis des Typs <strong>UVP</strong> zu. Für diesen Verkaufspreis muss die Herkunft myToys aktiviert sein.</p>
</div>
<div class="paragraph">
<p>Für die Anzeige des UVP gilt die folgende Logik:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wenn der Verkaufspreis niedriger ist als der UVP, wird der UVP auf myToys als durchgestrichener Preis angezeigt.</p>
</li>
<li>
<p>Wenn der Verkaufspreis größer oder genauso groß ist wie der UVP, wird der UVP nicht auf myToys angezeigt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Du hast keinen UVP, zum Beispiel weil du selbst Hersteller:in bist? Ordne denselben Verkaufspreis wie für das Marktplatz-Datenfeld <strong>Brutto-Verkaufspreis</strong> zu. Bei myToys wird dann kein durchgestrichener Preis angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong class="option-bulletpoints">Aufzählungszeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Auf der myToys Artikelseite werden zusätzliche Informationen über den Artikel mit Aufzählungszeichen (bullet points) aufgeführt. Pro Aufzählungszeichen können bis zu 255 Zeichen exportiert werden. Nach 355 Zeichen wird der Text abgeschnitten und mit <code>…​</code> versehen. Wir empfehlen dir, pro Aufzählungszeichen eine Eigenschaft des Typs <strong>Text</strong> zu erstellen.<br>
<strong><em>Hinweis:</em></strong> Verwende in den Eigenschaften für die Aufzählungszeichen keine HTML-Tags. myToys kann keine HTML-Tags verarbeiten. Deshalb werden HTML-Tags beim Export herausgefiltert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Saison</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ordne den Saisons die Werte einer plentymarkets Eigenschaft zu.<br>
<strong><em>Tipp:</em></strong> Für saisonunabhängige Varianten speicherst du an der Variante den Eigenschaftswert, den du im Katalog dem myToys-Wert <strong>NOOS</strong> zuordnest.</p>
</div>
<div class="paragraph">
<p>Von myToys verwendete Abkürzungen für Saison:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>NOOS = never out of stock</p>
</li>
<li>
<p>FS = Frühling/Sommer</p>
</li>
<li>
<p>HW = Herbst/Winter</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Muster</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ordne jedem Muster die Werte einer plentymarkets Eigenschaft zu.<br>
<strong><em>Tipp:</em></strong> Für Varianten ohne Muster speicherst du an der Variante den Eigenschaftswert, den du im Katalog dem myToys-Wert <strong>uni</strong> zuordnest.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Materialzusammensetzung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In bestimmten Kategorien muss die Materialzusammensetzung von Varianten angegeben werden. Das betrifft vor allem Textilien und Schuhe.</p>
</div>
<div class="paragraph">
<p>Von den fünf zur Verfügung stehenden Feldern muss mindestens ein Feld verknüpft werden. Hierbei handelt es sich um ein mehrdimensionales Mapping:<br>
- Im 1. Schritt muss der Materialtyp (complex mapping) verknüpft werden, z.B. "Obermaterial".<br>
- Im 2. Schritt muss die Materialzusammensetzung von “Obermaterial” in folgendem Format eingegeben werden:<br>
{"material1": "prozentwert","material2": "prozentwert","material3": "prozentwert"}<br>
<strong><em>Beispiel:</em></strong> {"WO": "90","EL": "10"}<br>
<strong><em>Hinweis:</em></strong> Eine vollständige Liste aller von myToys erlaubten Materialtypen findest du <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/myToys/myToys_Materialien_sortiert.pdf">in diesem Dokument</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelgewicht</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der eingegebene Wert wird in Gramm übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Altersempfehlung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Altersempfehlung definiert die Zielgruppe. Diese Informationen werden verwendet, um automatisch zu entscheiden, in welchem Shop eine Variante angeboten wird:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Varianten mit einer Altersempfehlung <strong>bis 16 Jahre</strong> werden in myToys eingestellt.</p>
</li>
<li>
<p>Varianten mit einer Altersempfehlung <strong>ab 18 Jahre</strong> werden bei mirapodo/yomonda eingestellt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die folgenden Werte sind möglich:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>new born</strong> = 0-9 Monate<br></p>
</li>
<li>
<p><strong>baby</strong> = 9-24 Monate<br></p>
</li>
<li>
<p><strong>mini</strong> = 2-8 Jahre<br></p>
</li>
<li>
<p><strong>teen</strong> = 8-16 Jahre<br></p>
</li>
<li>
<p><strong>adult</strong> = 18-99 Jahre</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Eigenschaft für <strong>Altersempfehlung</strong> erstellen und mit Varianten verknüpfen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Eigenschaft mit den folgenden Einstellungen erstellen:</p>
<div class="ulist">
<ul>
<li>
<p>Name: Altersgruppe</p>
</li>
<li>
<p>Bereich: Artikel</p>
</li>
<li>
<p>Typ: Auswahl</p>
</li>
<li>
<p>Auswahlwerte:</p>
</li>
<li>
<p><strong>new born</strong></p>
</li>
<li>
<p><strong>baby</strong></p>
</li>
<li>
<p><strong>mini</strong></p>
</li>
<li>
<p><strong>teen</strong></p>
</li>
<li>
<p><strong>adult</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Variante im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Hauptvariante öffnen] » Varianten-Tab: Eigenschaften</strong> mit der Eigenschaft verknüpfen.</p>
</li>
<li>
<p>Für die Variante passenden Eigenschaftswert wählen.</p>
</li>
</ol>
</div>
</div>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Dir fehlen Marktplatz-Datenfelder für die korrekte Zuordnung deiner Artikel? Dann kontaktiere myToys, um bei Bedarf Marktplatz-Datenfelder hinzufügen zu lassen.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="850">6.4. Katalog aktivieren</h3>
<div class="paragraph">
<p>Du hast myToys eingerichtet und den Katalog für den Export deiner Artikeldaten erstellt? Dann starte jetzt den Export deiner Artikeldaten.</p>
</div>
<div class="paragraph instruction">
<p>Katalogexport zu myToys aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Scrolle zu dem myToys-Katalog.</p>
</li>
<li>
<p>Schiebe in der Spalte <strong>Aktiv/Inaktiv</strong> die Umschaltfläche nach rechts (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ Der Katalog wird aktiviert.<br>
→ Die Daten des Katalogs werden  an myToys exportiert.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="prepare-variations">7. Varianten vorbereiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bereite nun deine Varianten vor.</p>
</div>
<div class="sect2">
<h3 id="900">7.1. Variantenverfügbarkeit einstellen</h3>
<div class="paragraph">
<p>Varianten, die du auf myToys verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="f-r-eine-variante-tab" data-toggle="tab" href="#f-r-eine-variante" role="tab" aria-controls="f-r-eine-variante" aria-selected="true">Für eine Variante</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-varianten-gruppenfunktion-tab" data-toggle="tab" href="#per-varianten-gruppenfunktion" role="tab" aria-controls="per-varianten-gruppenfunktion" aria-selected="false">Per Varianten-Gruppenfunktion</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-stapelverarbeitung-tab" data-toggle="tab" href="#per-stapelverarbeitung" role="tab" aria-controls="per-stapelverarbeitung" aria-selected="false">Per Stapelverarbeitung</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="f-r-eine-variante" role="tabpanel" aria-labelledby="f-r-eine-variante-tab">
<div class="paragraph instruction">
<p>Eine Variante für myToys verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> der Variante wird geöffnet.<br>
<strong><em>Tipp:</em></strong> Um alle Varianten eines Artikels auf myToys zu verkaufen, nimm die Einstellungen an der Hauptvariante vor. Die Verfügbarkeit wird dann für alle Varianten des Artikels aktiviert.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Variante ist für myToys verfügbar.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-varianten-gruppenfunktion" role="tabpanel" aria-labelledby="per-varianten-gruppenfunktion-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Varianten-Gruppenfunktion</a> bearbeitest du mehrere Varianten gleichzeitig. Dabei wählst du die zu bearbeitenden Varianten direkt aus.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Varianten-Gruppenfunktion für myToys verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Setze links den Filter <strong>Tabellentyp</strong> auf <strong>Varianten</strong>.</p>
</li>
<li>
<p>Wähle ggf. weitere <a href="/artikel/einleitung/suche#100">Filter in der Spalte links</a> und klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die zu bearbeitenden Varianten in der Übersicht rechts.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Varianten-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>, um die Einstellungen vorzunehmen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-stapelverarbeitung" role="tabpanel" aria-labelledby="per-stapelverarbeitung-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#400">Stapelverarbeitung</a> bearbeitest du mehrere Varianten gleichzeitig. Du verwendest Filter, um die zu bearbeitenden Varianten einzuschränken.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Stapelverarbeitung für myToys verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Stapelverarbeitung</strong>.</p>
</li>
<li>
<p>Klicke oben links auf das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Bestimme mit den <em>Filtern links</em>, welche Varianten verarbeitet werden sollen.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Anwenden</strong>, um die Einstellungen an den Varianten vorzunehmen.</p>
</li>
</ol>
</div>
</div></div>
<hr>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verfügbarkeit für Varianten deaktivieren</div>
<div class="paragraph">
<p>Wenn du die Marktplatzverfügbarkeit einer Variante für myToys im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]» Tab: Verfügbarkeit</strong> deaktivierst, wird die Variante auf myToys deaktiviert. Wenn du die Verfügbarkeit wieder aktivierst, wird die Variante erst mit dem nächtlichen Artikelexport auf myToys reaktiviert.<br>
<strong><em>Hinweis:</em></strong> Damit die Variante deaktiviert wird, muss im Tab <strong>Eigenschaften</strong> der jeweiligen Variante die Eigenschaft <strong>myToys Kategoriegruppe</strong> hinterlegt bleiben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="link-category-property">7.2. Variante mit myToys-Kategorie verknüpfen</h3>
<div class="paragraph">
<p>Nachdem du mit dem Assistenten das erste Marktplatz-Format für myToys erstellt hast, wird in deinem plentymarkets System die Eigenschaft <strong>myToys-Kategoriegruppe</strong> erstellt. Für jede Kategorie, für die du einen Katalog erstellst, wird ein neuer Auswahlwert zu dieser Eigenschaft hinzugefügt. Dieser Auswahlwert hat denselben Namen wie die Kategorie.</p>
</div>
<div class="paragraph">
<p>Damit deine Varianten im gewünschten Katalog exportiert werden, müssen sie im <strong>Tab: Eigenschaften</strong> der Variante mit der Eigenschaft <strong>myToys-Kategoriegruppe</strong> verknüpft werden.</p>
</div>
<div class="paragraph instruction">
<p>Variante mit myToys-Kategoriegruppe verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen]</strong>.</p>
</li>
<li>
<p>Wechsele in das <strong>Tab: Varianten</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du verknüpfen möchtest.</p>
</li>
<li>
<p>Wechsele in das <strong>Tab: Eigenschaften</strong>.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Varianteneigenschaften</strong> aus der Dropdown-Liste <strong>Eigenschaften</strong> die Eigenschaft <strong>myToys-Kategoriegruppe</strong> und klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Eigenschaft wird hinzugefügt.</p>
</li>
<li>
<p>Wähle für die Eigenschaft <strong>myToys-Kategoriegruppe</strong> aus der Dropdown-Liste <strong>Wert</strong> die gewünschte Kategorie.<br>
→ Die Variante wird im Katalog für diese Kategorie exportiert.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="order-documents">8. Auftragsdokumente vorbereiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auf Auftragsdokumenten für myToys-Aufträge muss der myToys-Briefkopf erscheinen. Außerdem müssen die Dokumente bestimmte Angaben enthalten.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#delivery-notes">Lieferscheine vorbereiten</a></p>
</li>
<li>
<p><a href="#return-notes">Rücksendescheine vorbereiten</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="delivery-notes">8.1. Lieferscheine vorbereiten</h3>
<div class="ulist">
<ul>
<li>
<p><a href="#1300">So lädst du eine PDF-Vorlage für Lieferscheine hoch</a></p>
</li>
<li>
<p><a href="#16003">So passt du Lieferscheine für myToys an</a></p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="1300">8.1.1. PDF-Vorlage für Lieferscheine hochladen</h4>
<div class="paragraph">
<p>myToys-Lieferscheine müssen das Logo von myToys verwenden. Gehe wie unten beschrieben vor, um eine <a href="/auftraege/auftragsdokumente#170">PDF-Vorlage</a> für Lieferscheine für myToys in plentymarkets hochzuladen.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage für Lieferscheine hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade die PDF-Vorlage für Lieferscheine von myToys herunter und speichere sie auf deinem Rechner:</p>
<div class="ulist">
<ul>
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/myToys/myToys_delivery_note_return_note.pdf">PDF-Vorlage herunterladen</a></p>
</li>
</ul>
</div>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » Standort: Deutschland » Dokumente » Lieferschein</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hinzufügen</strong>.<br>
→ Das Bearbeitungsfenster <strong>Neue PDF-Vorlage hochladen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Zahlungsart</strong> die Option <strong>Plugin: myToys Payment</strong>.</p>
</li>
<li>
<p><strong><em>Tipp:</em></strong> Die Zahlungsart <strong>Plugin: myToys Payment</strong> wird nicht in der Dropdown-Liste angezeigt?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle für die Einstellung <strong>Inaktive Plugin-Zahlungsarten anzeigen</strong> die Option <strong>Ja</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellung.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Sprache</strong> die Option <strong>de</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>Vorlage</strong> auf <strong>Vorlage auswählen</strong>.</p>
</li>
<li>
<p>Wähle die PDF-Vorlage für Lieferscheine von myToys.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hochladen</strong> (<span class="icon "><i class="psicon-save"></i></span>).<br>
→ Die Vorlage wird hochgeladen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="16003">8.1.2. Lieferscheine anpassen</h4>
<div class="paragraph">
<p>Lieferscheine für myToys-Aufträge müssen zusätzlich zum myToys-Briefkopf die folgenden Angaben enthalten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Externe Auftragsnummer</p>
</li>
<li>
<p>Externe Kundennummer</p>
</li>
<li>
<p>EAN</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Lieferscheine anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Standard » Standorte » Deutschland » Dokumente » Lieferschein » Tab: Vorlage</strong>.</p>
</li>
<li>
<p>Scrolle zum Bereich <strong>Spalten Artikelpositionen</strong>.</p>
</li>
<li>
<p>Aktiviere für die Einstellung <strong>Artikelbezeichnung</strong> die Option <strong>EAN</strong>.</p>
</li>
<li>
<p>Scrolle zum Bereich <strong>Optionale Elemente unter Artikelpositionstabelle</strong>.</p>
</li>
<li>
<p>Wähle für die Einstellung <strong>Externe Auftragsnummer</strong> aus der Dropdown-Liste die Option <strong>Ja</strong>.</p>
</li>
<li>
<p>Wähle für die Einstellung <strong>Externe Kundennummer</strong> aus der Dropdown-Liste die Option <strong>Ja</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Angaben werden auf Lieferscheinen angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="return-notes">8.2. Rücksendescheine vorbereiten</h3>
<div class="ulist">
<ul>
<li>
<p><a href="#1150">So lädst du eine PDF-Vorlage für Rücksendescheine hoch</a></p>
</li>
<li>
<p><a href="#1150-1">So passt du Rücksendescheine für myToys an</a></p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="1150">8.2.1. PDF-Vorlage für Rücksendescheine hochladen</h4>
<div class="paragraph">
<p>Auf Rücksendescheinen für myToys-Aufträge muss der myToys-Briefkopf erscheinen.
Gehe wie unten beschrieben vor, um eine <a href="/auftraege/auftragsdokumente#170">PDF-Vorlage</a> für Rücksendescheine für myToys in plentymarkets hochzuladen.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage für Rücksendescheine hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade die PDF-Vorlage für Rücksendescheine von myToys herunter und speichere sie auf deinem Rechner:</p>
<div class="ulist">
<ul>
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/myToys/myToys-Retourenschein.pdf">PDF-Vorlage herunterladen</a></p>
</li>
</ul>
</div>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » Standort: Deutschland » Dokumente » Rücksendescheinschein</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hinzufügen</strong>.<br>
→ Das Bearbeitungsfenster <strong>Neue PDF-Vorlage hochladen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Zahlungsart</strong> die Option <strong>Plugin: myToys Payment</strong>.</p>
</li>
<li>
<p><strong><em>Tipp:</em></strong> Die Zahlungsart <strong>Plugin: myToys Payment</strong> wird nicht in der Dropdown-Liste angezeigt?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle für die Einstellung <strong>Inaktive Plugin-Zahlungsarten anzeigen</strong> die Option <strong>Ja</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellung.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Sprache</strong> die Option <strong>de</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>Vorlage</strong> auf <strong>Vorlage auswählen</strong>.</p>
</li>
<li>
<p>Wähle die PDF-Vorlage für Lieferscheine von myToys.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hochladen</strong> (<span class="icon "><i class="psicon-save"></i></span>).<br>
→ Die Vorlage wird hochgeladen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1150-1">8.2.2. Rücksendescheine anpassen</h4>
<div class="paragraph">
<p>Rücksendescheine für myToys-Aufträge müssen zusätzlich zum myToys-Briefkopf die folgenden Angaben enthalten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Externe Auftragsnummer</p>
</li>
<li>
<p>Externe Kundennummer</p>
</li>
<li>
<p>EAN</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Rücksendescheine anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Standard » Standorte » Deutschland » Dokumente » Rücksendeschein » Tab: Vorlage</strong>.</p>
</li>
<li>
<p>Scrolle zum Bereich <strong>Spalten Artikelpositionen</strong>.</p>
</li>
<li>
<p>Aktiviere für die Einstellung <strong>Artikelbezeichnung</strong> die Option <strong>EAN</strong>.</p>
</li>
<li>
<p>Scrolle zum Bereich <strong>Optionale Elemente unter Artikelpositionstabelle</strong>.</p>
</li>
<li>
<p>Wähle für die Einstellung <strong>Externe Auftragsnummer</strong> aus der Dropdown-Liste die Option <strong>Ja</strong>.</p>
</li>
<li>
<p>Wähle für die Einstellung <strong>Externe Kundennummer</strong> aus der Dropdown-Liste die Option <strong>Ja</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Angaben werden auf Rücksendescheinen angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="order-processing">9. Auftragsabwicklung automatisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Automatisiere die folgenden Aspekte der Auftragsabwicklung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Melde Stornierungen automatisch <a href="#950">Wie?</a></p>
</li>
<li>
<p>Informiere myToys automatisch darüber, dass die Ware versendet wurde <a href="#1000">Wie?</a></p>
</li>
<li>
<p>Retourenverwaltung <a href="#1050">Wie?</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="950">9.1. Stornierungen automatisch melden</h3>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um myToys automatisch über Stornierungen zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-stornierung-myToys">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-stornierung-myToys">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-stornierung-myToys" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion, um Stornierungen an myToys zu melden</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ereignis wählen, zum Beispiel <strong>[8] Storniert</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>myToys</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstornierung an myToys melden</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">9.2. Versandbestätigungen automatisch an myToys senden</h3>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um myToys automatisch über Versandbestätigungen zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-versandinfo-myToys">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-versandinfo-myToys">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-versandinfo-myToys" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion für Versandbestätigungen</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ereignis wählen, zum Beispiel <strong>[7] Warenausgang gebucht</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong><br>
<strong>Lieferauftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>myToys</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandinformation an myToys melden</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1050">9.3. Retourenverwaltung einrichten</h3>
<div class="paragraph">
<p>Richte nun die Verwaltung von Retouren für myToys ein.</p>
</div>
<div class="sect3">
<h4 id="1100">9.3.1. Ablauf von Retouren</h4>
<div class="paragraph">
<p>Eine Retoure läuft bei myToys wie folgt ab:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Kund:innen senden die Ware inklusive des ausgefüllten <a href="#1150">Rücksendescheins</a> an dich zurück.</p>
</li>
<li>
<p>Du führst die Retoure in plentymarkets aus.</p>
</li>
<li>
<p>Du informierst myToys darüber, dass du die Ware erhalten hast.</p>
</li>
<li>
<p>myToys erstattet Käufer:innen den Kaufpreis zurück.<br>
<strong><em>Hinweis:</em></strong> Wenn du myToys mitteilst, dass die Retoure abgeschlossen ist, wird bei myToys eine Gutschrift ausgelöst und Endkund:innen erhalten eine Rückerstattung. Achte deshalb darauf, dass du myToys erst über den Abschluss der Retoure informierst, nachdem du die Ware erhalten und geprüft hast.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1200">9.3.2. Retoure automatisch an myToys melden</h4>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um myToys automatisch darüber zu informieren, dass eine Retoure abgeschlossen wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-retouren-myToys">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-retouren-myToys">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-retouren-myToys" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Melden von Retouren an myToys</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neue Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>myToys</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure an myToys melden</strong><br>
<strong><em>Hinweis:</em></strong> Durch die Aktion <strong>Retoure an myToys melden</strong> wird bei myToys eine Gutschrift ausgelöst. Endkund:innen erhalten also eine Rückerstattung. Achte deshalb darauf, dass die Ereignisaktion erst ausgelöst wird, nachdem du die retournierte Ware erhalten und geprüft hast.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1350">10. Fehlersuche</h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Deine Varianten wurden nicht zu myToys exportiert? Wenn mindestens eine Variante die Anforderungen von myToys nicht erfüllt, werden keine Variantendaten exportiert. Deine Varianten werden also schon bei einer einzigen ungültigen Variante nicht zu myToys übertragen. Um den Fehler zu finden, prüfe die Einträge im Daten-Log.
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="log-entries">10.1. Log-Einträge abrufen</h3>
<div class="paragraph">
<p>Im Menü <strong>Daten » Log</strong> findest du eine Historie über Vorgänge, die über die Schnittstelle zu myToys ausgeführt wurden. Beachte, dass Integrationen und Identifikatoren erst in den Dropdown-Listen als Filter verfügbar sind, wenn der Vorgang mindestens einmal ausgeführt wurde.</p>
</div>
<div class="paragraph">
<p>Für myToys eignen sich die folgenden Filter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Integration</strong> » <strong>myToys</strong></p>
</li>
<li>
<p><strong>Referenztyp</strong> » <strong>variationId</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Log-Einträge filtern und prüfen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Wähle in der Spalte links geeignete Filtereinstellungen aus den Dropdown-Listen.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter für Datum und/oder Uhrzeit, um nur Einträge anzuzeigen, die in einem bestimmten Zeitraum erstellt wurden.<br>
<strong><em>Tipp:</em></strong> Weitere Informationen zu den Filtern findest du auf der Handbuchseite <a href="/daten/datenlog">Daten-Log</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Ergebnisse werden angezeigt.</p>
</li>
<li>
<p>Prüfe Einträge mit den Levels <strong>warning</strong> und <strong>error</strong>.<br>
<strong><em>Tipp:</em></strong> Klicke auf eine Meldung, um Details einzublenden.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="mandatory-missing">10.2. Varianten mit fehlenden Pflichtfeldern finden</h3>
<div class="paragraph">
<p>Zusätzlich zur oben beschriebenen Methode kannst du auch gezielt prüfen, bei welchen Varianten Pflichtfelder nicht ausgefüllt wurden. Dazu aktivierst du zuerst im Log das Log-Level <strong>Debug</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Log-Level Debug aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Logs konfigurieren</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Liste links die Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Aktiviere rechts unter <strong>Einstellungen</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wähle die <strong>Dauer</strong>, für die das Log-Level aktiv bleiben soll.</p>
</li>
<li>
<p>Aktiviere im Dropdown-Menü <strong>Log level</strong> die Option <strong>Debug</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nach dem nächsten Export kannst du im Menü <strong>Daten » Log</strong> auf Einträge zu <strong>myToys</strong> mit dem Level <strong>Debug</strong> klicken. So werden die Einträge aufgeklappt und genauere Angaben zu fehlenden Pflichtfeldern angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Varianten mit fehlenden Pflichtfeldern finden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Wähle links in der Spalte die folgenden Filter:</p>
<div class="ulist">
<ul>
<li>
<p>Integration <strong>myToys</strong></p>
</li>
<li>
<p>Level <strong>Debug</strong></p>
</li>
<li>
<p>Referenztyp <strong>variationId</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Alle Varianten mit fehlenden Pflichtfeldern werden angezeigt.</p>
</li>
<li>
<p>Klicke auf eine Meldung, um Details anzuzeigen.<br>
→ Unter <strong>requiredFields: Object</strong> werden die fehlenden Pflichtfelder aufgeführt.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>