<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#200"><span>1.</span><span> Customising the user interface</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>1.1.</span><span> Creating a new view</span></a></li>
<li><a href="#400"><span>1.2.</span><span> Creating a grid</span></a></li>
<li><a href="#500"><span>1.3.</span><span> Placing elements</span></a></li>
<li><a href="#600"><span>1.4.</span><span> Custom portlets</span></a></li>
<li><a href="#700"><span>1.5.</span><span> Finalising your work</span></a>
<ul class="sectlevel3">
<li><a href="#800"><span>1.5.1.</span><span> Functions in the editing mode</span></a></li>
<li><a href="#900"><span>1.5.2.</span><span> Granting rights</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1000"><span>2.</span><span> Saving changes</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>2.1.</span><span> Asterisk</span></a></li>
<li><a href="#1200"><span>2.2.</span><span> Pop-up window</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>3.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#1400"><span>3.1.</span><span> General questions</span></a></li>
<li><a href="#1500"><span>3.2.</span><span> User interface</span></a></li>
<li><a href="#1600"><span>3.3.</span><span> Saving changes</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Detail view: Design</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Introducing the new item UI in plentymarkets!
This page focuses on the item detail view and explains the basic concept of use.
You’ll learn how to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/new-ui/detail-view#200">customise the user interface</a></p>
</li>
<li>
<p><a href="/en/item/new-ui/detail-view#1000">recognise any unsaved changes</a></p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">New item UI (closed beta)</div>
<div class="paragraph">
<p>This page describes the new item UI, which was released as a closed beta phase in September, 2021.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Closed beta means that the new item UI will initially be tested by a small group of participants.</p>
</li>
<li>
<p>Once the new item UI is sufficiently developed, the open beta phase will begin.</p>
</li>
<li>
<p>For further information, refer to <a href="https://forum.plentymarkets.com/t/neue-artikel-ui-teilnehmer-fuer-geschlossene-beta-gesucht-new-item-ui-participants-wanted-for-closed-beta/649947">this forum thread</a>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">1. Customising the user interface</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When you <a href="/en/item/new-ui/search#100">open an item data record in the plentymarkets back end</a>, the item details are displayed in the main window on the right.
But what if the main window is empty?
Or what if you’re not happy with how the item details are arranged?
You can <a href="/en/item/new-ui/detail-view#200">create a new detail view</a> and customise it to meet your needs.</p>
</div>
<div class="sect2">
<h3 id="300">1.1. Creating a new view</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the list of views (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Create new preset …​</strong>.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Click on <strong>Create view</strong>.<br>
→ The new view is created and opens automatically, i.e. it is applied.
It’s now possible to switch between different views.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/details-new-view.gif" alt="details new view">
</div>
</div>
</div>
<div class="sect2">
<h3 id="400">1.2. Creating a grid</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>).</p>
</li>
<li>
<p>Add rows and columns to create a grid.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Click on <span class="icon blue"><i class="fa fa-ellipsis-v  "></i></span> and then on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Add row</strong>.</p>
</li>
<li>
<p>Click on <strong>Add column</strong> (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Drag the columns to make them larger or smaller.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/details-create-grid.gif" alt="details create grid">
</div>
</div>
</div>
<div class="sect2">
<h3 id="500">1.3. Placing elements</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add elements via drag &amp; drop.</p>
</li>
<li>
<p>Click on <span class="icon blue"><i class="fa fa-pencil  "></i></span> and edit the element’s settings.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Change the name.</p>
</li>
<li>
<p>Decide which data fields the element should contain.</p>
</li>
<li>
<p>Use drag &amp; drop to arrange the data fields in a specific order.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on <span class="icon blue"><i class="fa fa-close  "></i></span></p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/details-elements.gif" alt="details elements">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-pencil  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Leads down one level.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-trash  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Deletes the element.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-close  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Leads up one level.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Can I add elements multiple times?</div>
<div class="paragraph">
<p>The number in the grey circle indicates how many times you can use the element.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Most elements can only be added once.</p>
</li>
<li>
<p>The element <strong>Custom portlet</strong> can be added any number of times.
However, the individual data fields within the portlet can not be added multiple times.
Further information can be found in an <a href="/en/item/new-ui/detail-view#600">example of use</a>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="600">1.4. Custom portlets</h3>
<div class="paragraph">
<p>The custom portlet differs from pre-configured portlets in two important ways.
The custom portlet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>can be added any number of times.</p>
</li>
<li>
<p>includes <em>all of the item data fields</em> and not just a subset, as is the case with pre-configured portlets.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Thanks to custom portlets, you are not limited to the pre-defined settings.
Rather, you can decide which exact settings a portlet should include.</p>
</div>
<h4 id="_example_of_use" class="discrete">Example of use</h4>
<div class="paragraph">
<p>Imagine you’re not satisfied with how the global settings are arranged by default.
You would rather have separate groups for the manufacturer settings and the conditions.
Such a scenario can be accomplished with custom portlets.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add any number of custom portlets.</p>
</li>
<li>
<p>Give the portlets meaningful names.</p>
</li>
<li>
<p>Add the appropriate item data fields to the portlets.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/details-custom-portlets.png" alt="details custom portlets">
</div>
</div>
</div>
<div class="sect2">
<h3 id="700">1.5. Finalising your work</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Save the view (<span class="icon darkGrey"><i class="psicon-save"></i></span>) and close the editing mode (<span class="icon darkGrey"><i class="fa fa-close  "></i></span>).</p>
</li>
<li>
<p>Check the result in the main window.</p>
</li>
<li>
<p>If necessary:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Click on <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) again and edit the view even further.</p>
</li>
<li>
<p>Allow other users to see the view.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/finish-editing.png" alt="finish editing">
</div>
</div>
<div class="sect3">
<h4 id="800">1.5.1. Functions in the editing mode</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-reply  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Undoes the last change, unless this change has already been saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-share  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the previously undone change.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A list of views.
You see the name of whichever view is currently open.
Click on <span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span> to switch to a different view or create a <a href="/en/item/new-ui/detail-view#300">new view</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-items_incoming_history"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the view to the state that was last saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="psicon-save"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Saves the changes made to the view.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-close"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Closes the editing mode.
In case of unsaved changes, a dialogue is displayed.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="900">1.5.2. Granting rights</h4>
<div class="paragraph">
<p>Which users or roles should be allowed to see the view?
You can grant or limit access to every single view.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="roles-tab" data-toggle="tab" href="#roles" role="tab" aria-controls="roles" aria-selected="false">Roles</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-open_external_link"></i></span> <strong>Rights management</strong>.</p>
</li>
<li>
<p>Select <strong>User</strong> if you want to grant access to a specific user account.<br>
→ The menu <strong>Setup » Settings » User » Rights » User</strong> opens in a new tab.</p>
</li>
<li>
<p>Search for (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the appropriate user account.</p>
</li>
<li>
<p>Click on <strong>Views</strong>.</p>
</li>
<li>
<p>Expand the entries (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) and select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the views that the user should have access to.</p>
</li>
<li>
<p>Save (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/en/business-decisions/user-accounts-access#112">Further information</a> about user accounts and access rights.</p>
</div>
</div><div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-open_external_link"></i></span> <strong>Rights management</strong>.</p>
</li>
<li>
<p>Select <strong>Roles</strong> if you want to grant access to an entire user role.<br>
→ The menu <strong>Setup » Settings » User » Rights » Roles</strong> opens in a new tab.</p>
</li>
<li>
<p>Search for (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the appropriate user role.</p>
</li>
<li>
<p>Click on <strong>Views</strong>.</p>
</li>
<li>
<p>Expand the entries (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) and select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the views that the user role should have access to.</p>
</li>
<li>
<p>Save (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/en/business-decisions/user-accounts-access#116">Further information</a> about user accounts and access rights.</p>
</div>
</div></div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">2. Saving changes</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1100">2.1. Asterisk</h3>
<div class="paragraph">
<p>When you make changes to an item or variation, an asterisk appears in the left navigation bar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The asterisk indicates unsaved changes.</p>
</li>
<li>
<p>Where the asterisk appears tells you which level the changes were made on.
For example, whether a change was made on the item level or variation level.</p>
</li>
<li>
<p>If you have several items open at once, then the asterisk also tells you which items were changed.</p>
</li>
<li>
<p>The asterisk disappears when you save your changes or when you reset the settings to their original values.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/details-asterisk.png" alt="details asterisk">
</div>
</div>
</div>
<div class="sect2">
<h3 id="1200">2.2. Pop-up window</h3>
<div class="paragraph">
<p>If you try to close an item with unsaved changes, then a pop-up window will appear. It informs you of the unsaved changes.
The pop-up window lists which exact settings were changed.
If you changed multiple settings, then they will all be listed.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/details-pop-up.png" alt="details pop up">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The changes will be saved and the item will close.
If you open the item again, you will see that the settings were changed.
This action is the same as the save button further up in the toolbar.
The save button is disabled as long as the changes are being saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Do not save</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The changes will be discarded and the item will close.
If you open the item again, you will see that the settings were reset to their original state.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cancel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only the pop-up window will close.
The item data record remains open.
Your changes are still pending, i.e. they have not been saved yet.
You can continue editing the item.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">3. FAQ</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1400">3.1. General questions</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Why don’t I see the menu?</strong></div>
<div class="content">
<div class="paragraph">
<p>The new item UI is currently in the closed beta phase.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Closed beta means that the new item UI will initially be tested by a small group of participants.</p>
</li>
<li>
<p>Once the new item UI is sufficiently developed, the open beta phase will begin.</p>
</li>
<li>
<p>For further information and how you can participate in the closed beta phase, refer to <a href="https://forum.plentymarkets.com/t/neue-artikel-ui-teilnehmer-fuer-geschlossene-beta-gesucht-new-item-ui-participants-wanted-for-closed-beta/649947">this forum thread</a>.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>How can I give feedback?</strong></div>
<div class="content">
<div class="paragraph">
<p>Beta testers have access to a closed forum category where they can give feedback.
For further information and how you can participate in the closed beta phase, refer to <a href="https://forum.plentymarkets.com/t/neue-artikel-ui-teilnehmer-fuer-geschlossene-beta-gesucht-new-item-ui-participants-wanted-for-closed-beta/649947">this forum thread</a>.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1500">3.2. User interface</h3>
<div class="openblock collapseBox">
<div class="title"><strong>I don’t see a drop-down list with views in the upper right corner. Why not?</strong></div>
<div class="content">
<div class="paragraph">
<p>Have you already opened an item data record?
The drop-down list with views (default view and custom views) is <em>not visible in the overview</em>.
It only appears once you have opened an item data record.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/default-view.png" alt="default view">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>The view is empty. What am I doing wrong?</strong></div>
<div class="content">
<div class="paragraph">
<p>Have you already <a href="/en/item/new-ui/detail-view#300">created a view</a>?
The view controls which product information is displayed and how this information is arranged.
In other words, you can design your item and variation pages however is most convenient for you.
If you haven’t created a view yet or if the view is empty, then you won’t see any information.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Can I add elements multiple times via drag &amp; drop?</strong></div>
<div class="content">
<div class="paragraph">
<p>The number in the grey circle indicates how many times you can use an element.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Most elements can only be added once.</p>
</li>
<li>
<p>The element <strong>Custom portlet</strong> can be added any number of times.
However, the individual data fields within the portlet can not be added multiple times.
Further information can be found in an <a href="/en/item/new-ui/detail-view#600">example of use</a>.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Can I import and export the views?</strong></div>
<div class="content">
<div class="paragraph">
<p>Not yet.
An import/export function is planned for the future.
However, we cannot yet estimate when it will be available.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1600">3.3. Saving changes</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Can I save multiple items at once?</strong></div>
<div class="content">
<div class="paragraph">
<p>Not yet.
A global save button is planned for the future.
However, we cannot yet estimate when this function will be available.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>What’s the difference between "Save", "Do not save" and "Cancel"?</strong></div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong>Save</strong> = The changes will be saved and the item will close.</p>
</li>
<li>
<p><strong>Do not save</strong> = The changes will be discarded and the item will close.</p>
</li>
<li>
<p><strong>Cancel</strong> = Only the pop-up window will close.
The item data record remains open.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><a href="/en/item/new-ui/detail-view#1200">Further information</a>.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</main>