<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Searching for items and variations</span></a></li>
<li><a href="#200"><span>2.</span><span> Saving the search settings</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Saving the current filters</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Applying saved filters</span></a></li>
</ul>
</li>
<li><a href="#500"><span>3.</span><span> Working with the list of results</span></a>
<ul class="sectlevel2">
<li><a href="#530"><span>3.1.</span><span> Customising the overview</span></a></li>
<li><a href="#560"><span>3.2.</span><span> Opening item and variation data records</span></a></li>
</ul>
</li>
<li><a href="#600"><span>4.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>4.1.</span><span> General questions</span></a></li>
<li><a href="#800"><span>4.2.</span><span> Searching for items</span></a></li>
<li><a href="#_next_steps"><span>4.3.</span><span> Next steps</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Searching for items</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Introducing the new item UI in plentymarkets!
This page teaches you how to search for items in the back end.
You’ll learn how to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/new-ui/search#100">search for items and variations</a></p>
</li>
<li>
<p><a href="/en/item/new-ui/search#200">save your frequently used search settings</a></p>
</li>
<li>
<p><a href="/en/item/new-ui/search#500">work with the search results in the overview</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Searching for items and variations</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Item UI</strong>.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Option 1</em></strong>: Click on <span class="icon darkGrey"><i class="fa fa-search  "></i></span> to see a list of all items.</p>
</li>
<li>
<p><strong><em>Option 2</em></strong>: Enter a number into the search field and click on one of the automatic suggestions.
Then click on <span class="icon darkGrey"><i class="fa fa-search  "></i></span> to start the search.</p>
</li>
<li>
<p><strong><em>Option 3</em></strong>: Click on <span class="icon "><i class="material-tune"></i></span> to narrow down the search results with filters.
See the table below.</p>
</li>
</ol>
</div>
</li>
<li>
<p>When you start the search, you’ll see the <a href="/en/item/new-ui/search#500">results in an overview</a> on the right.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/standard-search.gif" alt="standard search">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Filters can be saved</div>
<div class="paragraph">
<p>You can save your filter settings so that they are pre-selected in the future.
<a href="/en/item/new-ui/search#200">More about this topic</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_search_filters" class="discrete">Search filters</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter one or more IDs to search for the variations with these IDs.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
Use commas to separate multiple IDs.
Example: <code>1001, 1002, 1003</code></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter one or more IDs to search for the items with these IDs.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
Use commas to separate multiple IDs.
Example: <code>101, 102, 103</code></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a variation number to search for the variation with this number.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
The variation number does not necessarily have to be a number.
It can also be an alphanumeric character string, for example ABC-1234-D.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Example</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to (=)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Example: Search for the variation with the number 100.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contains (≈)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Example: Search for all of the variations that have a number containing 100, e.g. 1001, 410037, 100, ABC-41003-D.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode code</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a barcode to search for the <a href="/en/item/managing-items#250">variation with this code</a>.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Example</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to (=)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Example: Search for the variation with the barcode 012345678905.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contains (≈)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Example: Search for all of the variations that have a number containing 0123, e.g. <span class="underline">0123</span>45678905, 9876<span class="underline">0123</span>6426, 054845<span class="underline">0123</span>0.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one or more tags from the drop-down list (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Example</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The search results only display products that are linked to one of these <a href="/en/item/managing-items#268">tags</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NOT IN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The search results only display products that are not linked to one of these <a href="/en/item/managing-items#268">tags</a>.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one or more availability levels from the drop-down list (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
The search results only display products that are linked to one of these <a href="/en/item/managing-items#200">availability levels</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrers</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to search for products that were sold on a specific channel?
Select one or more referrers from the drop-down list (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
The search results only display products that are linked to one of these <a href="/en/item/managing-items#350">referrers</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to search for <a href="/en/item/managing-items#intable-active">active items</a>?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Only active items will be included in the search results.</p>
</li>
<li>
<p><strong>No</strong> = Only inactive items will be included in the search results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Background info</em></strong>: Variations only become visible in the plentyShop or on marketplaces once they have been activated.
In other words, you can work on inactive variations before they are ready to be sold.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Main variation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = The search results only include <a href="/en/item/introduction/structure#600">main variations</a>.</p>
</li>
<li>
<p><strong>No</strong> = The search results only include <a href="/en/item/introduction/structure#600">sub-variations</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suppliers</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one or more suppliers from the drop-down list (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Example</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The search results only display products that are linked to one of these <a href="/en/item/managing-items#310">suppliers</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NOT IN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The search results only display products that are not linked to one of these <a href="/en/item/managing-items#310">suppliers</a>.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales prices</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one or more sales prices from the drop-down list (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
The search results only display products that are linked to one of these <a href="/en/item/managing-items#240">sales prices</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/prices">configured sales prices in plentymarkets</a>?
This drop-down list only includes the sales prices that already exist in your plentymarkets system.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Clients (stores)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one or more clients (stores) from the drop-down list (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Example</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The search results only display products that are linked to one of these <a href="/en/item/managing-items#360">clients</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NOT IN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The search results only display products that are not linked to one of these <a href="/en/item/managing-items#360">clients</a>.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-bundle">Bundle</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to search for <a href="/en/item/use-cases/combining-products">item bundles</a>?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Is not a bundle</strong> = The search results will include items and variations that are neither the main item nor a component of a bundle.</p>
</li>
<li>
<p><strong>Is a bundle</strong> = The search results will only include items and variations that are the main item of a bundle.</p>
</li>
<li>
<p><strong>Is a component</strong> = The search results will only include items and variations that are components of a bundle.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one or more manufacturers from the drop-down list (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
The search results only display products that are linked to one of these <a href="/en/item/managing-items#_basic_settings">manufacturers</a>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="_control_elements" class="discrete">Control elements</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-undo  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Resets the selected filter criteria.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-search  "></i></span> <strong>SEARCH</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Starts the search.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Saving the search settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When you start a search, your search settings are displayed up top as so-called “chips”.
You can save these search settings to apply them again more quickly and easily in the future.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Saving the current filters</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Start a search.</p>
</li>
<li>
<p>Click on <strong>Saved filters</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon "><i class="material-bookmark_border"></i></span> <strong>Save current filter</strong>.</p>
</li>
<li>
<p>Enter a name and toggle the optional settings as needed (<span class="icon blue"><i class="material-toggle_on"></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The filter settings now appear under <strong>Saved filters</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/save-filters.gif" alt="save filters">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Set as default</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><span class="icon blue"><i class="material-toggle_on"></i></span> = When you open the menu <strong>Item » Item UI</strong>, the filter settings will already be selected and the search will automatically start with these settings.</p>
</div>
<div class="paragraph">
<p><span class="icon "><i class="material-toggle_off"></i></span> = The filter settings will not already be selected.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create filter for all users</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><span class="icon blue"><i class="material-toggle_on"></i></span> = The filter preset will be visible for all user accounts.</p>
</div>
<div class="paragraph">
<p><span class="icon "><i class="material-toggle_off"></i></span> = The filter preset will only be visible for your own user account.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Post-processing of filters</div>
<div class="paragraph">
<p>When you click on <strong>Saved filters</strong> (<span class="icon "><i class="material-bookmarks"></i></span>), you’ll see post-processing options for the filter:</p>
</div>
<div class="paragraph">
<p><span class="icon "><i class="material-drag_indicator"></i></span> = Use drag &amp; drop to arrange the filter presets in a specific order.</p>
</div>
<div class="paragraph">
<p><span class="icon "><i class="material-delete"></i></span> = Deletes the filter preset.</p>
</div>
<div class="paragraph">
<p><span class="icon darkGrey"><i class="fa fa-star-o  "></i></span> = Sets the filter as default.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Applying saved filters</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Saved filters</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
<li>
<p>Click on an existing filter preset.<br>
→ The search is started and the search settings are displayed up top as so-called “chips”.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/apply-filters.gif" alt="apply filters">
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">3. Working with the list of results</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When you start a search, you’ll see your results in an overview on the right.
The overview provides information about the items at a glance.
For example, you can see an image of the item, whether the item is active or inactive, its IDs, prices, tags and timestamps.</p>
</div>
<div class="sect2">
<h3 id="530">3.1. Customising the overview</h3>
<div class="paragraph">
<p>You can customise the overview to meet your needs.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/configure-columns.png" alt="configure columns">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 83.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-gear  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which columns should be included in the overview?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Configure columns</strong> (<span class="icon darkGrey"><i class="fa fa-gear  "></i></span>).</p>
</li>
<li>
<p>Select all of the desired columns (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>CONFIRM</strong>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-drag_indicator"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which order should the columns be displayed in?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Configure columns</strong> (<span class="icon darkGrey"><i class="fa fa-gear  "></i></span>).</p>
</li>
<li>
<p>Move your mouse cursor over an entry with the symbol <span class="icon "><i class="material-drag_indicator"></i></span>.<br>
→ Your mouse cursor changes shape (<span class="icon darkGrey"><i class="fa fa-arrows  "></i></span>).</p>
</li>
<li>
<p>Drag the entry to the desired spot.</p>
</li>
<li>
<p>Click on <strong>CONFIRM</strong>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-arrow-down  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should the results be displayed in ascending or descending order?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Move your mouse cursor over a column header such as item ID, variation number or variation ID.<br>
→ An arrow is displayed.</p>
</li>
<li>
<p>Click on the arrow (<span class="icon darkGrey"><i class="fa fa-arrow-down  "></i></span>) to change the sort order.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="560">3.2. Opening item and variation data records</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Once you’ve <a href="/en/item/new-ui/search#100">started the search</a>, you’ll see the results in an overview on the right.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Option 1</em></strong>: Click on an item ID to open the item level.</p>
</li>
<li>
<p><strong><em>Option 2</em></strong>: Click somewhere else in the line to open the variation level.</p>
</li>
<li>
<p><strong><em>Option 3</em></strong>: Select multiple items (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and click on the pencil icon (<span class="icon darkGrey"><i class="fa fa-pencil  "></i></span>).
This opens all of the selected item data records at once.</p>
</li>
</ol>
</div>
</li>
<li>
<p>The data record opens.
From here, you can edit the product’s data fields.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/details-navigation.gif" alt="details navigation">
</div>
</div>
<h5 id="_understanding_the_left_navigation_bar" class="discrete">Understanding the left navigation bar</h5>
<div class="paragraph">
<p>Your items will be displayed underneath each other in the left navigation bar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Items are left-aligned.</p>
</li>
<li>
<p>Variations are indented.</p>
</li>
<li>
<p>The currently selected level is displayed in blue font.</p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-chevron-left  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Expands the item data record.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-close  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Closes the item data record.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-bars  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Shows and hides the navigation bar.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="600">4. FAQ</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="700">4.1. General questions</h3>
<div class="openblock collapseBox">
<div class="title"><strong>How can I give feedback?</strong></div>
<div class="content">
<div class="paragraph">
<p>If you want to give feedback about the new item UI, then please use <a href="https://forum.plentymarkets.com/c/item/18">this forum category</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Will the old item UI be removed soon?</strong></div>
<div class="content">
<div class="paragraph">
<p>No.
The old item UI will not be removed in the near future.
For now, both the old and new item UI can be used in parallel.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Which functions are still missing?</strong></div>
<div class="content">
<div class="paragraph">
<p>The following functions are missing and are planned for the future:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Create new items</p>
</li>
<li>
<p>Generate variations</p>
</li>
<li>
<p>Delete items</p>
</li>
<li>
<p>Delete variations</p>
</li>
<li>
<p>Item sets</p>
</li>
<li>
<p>Multipacks</p>
</li>
<li>
<p>Generate labels</p>
</li>
<li>
<p>Item preview / Variation preview</p>
</li>
<li>
<p>Serial numbers</p>
</li>
<li>
<p>Item group function and variation group function</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following functions are missing and are not planned for the future:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Characteristics</p>
</li>
<li>
<p>Free text fields</p>
</li>
<li>
<p>Item tab: Media</p>
</li>
<li>
<p>Item tab: Statistics</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="800">4.2. Searching for items</h3>
<div class="openblock collapseBox">
<div class="title"><strong>What are the default search settings? Are only active items searched by default?</strong></div>
<div class="content">
<div class="paragraph">
<p>No filters are set by default.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If you start the search without setting any filters, then all items will appear in the results.</p>
</li>
<li>
<p>Both active and inactive items are included in the search results by default.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Can I import and export the search filter settings?</strong></div>
<div class="content">
<div class="paragraph">
<p>There is not an import / export function.
However, you can <a href="/en/item/new-ui/search#200">save your frequently used search settings</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>What do the operators in front of the search filters mean? IN, NOT IN, =, ≈</strong></div>
<div class="content">
<div class="paragraph">
<p>When you <a href="/en/item/new-ui/search#100">search for items and variations</a>, you’ll see these operators in front of some search fields.
They tell you which data records will be included in the search results.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 83.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The search results include data records that match your selection.
Example: Products that are linked to a specific client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NOT IN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The search results include data records that do not match your selection.
Example: Products that are not linked to a specific client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>=</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is equal to.
Example: Search for the variation with the number 100.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>≈</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains.
Example: Search for all of the variations that have a number containing 100, e.g. 1001, 410037, 100, ABC-41003-D.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>The overview of results is missing a piece of information that is relevant for me. Can I customise the table?</strong></div>
<div class="content">
<div class="paragraph">
<p>Yes.
You can customise the overview to meet your needs.
<a href="/en/item/new-ui/search#530">Further information</a>.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_next_steps">4.3. Next steps</h3>
<div class="openblock collapseBox">
<div class="title"><strong>How do I customise a view?</strong></div>
<div class="content">
<div class="paragraph">
<p>You can customise the item view and variation view to meet your needs.
<a href="/en/item/new-ui/detail-view">Further information</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>How do I save changes to a product?</strong></div>
<div class="content">
<div class="paragraph">
<p>When you make changes to an item or variation, an asterisk appears in the left navigation bar.
<a href="/en/item/new-ui/detail-view#1000">Further information</a>.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</main>