<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Searching for items and variations</span></a></li>
<li><a href="#200"><span>2.</span><span> Saving the search settings</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Saving the current filters</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Applying saved filters</span></a></li>
</ul>
</li>
<li><a href="#500"><span>3.</span><span> Overview of results</span></a></li>
<li><a href="#600"><span>4.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>4.1.</span><span> General questions</span></a></li>
<li><a href="#800"><span>4.2.</span><span> Searching for items</span></a></li>
<li><a href="#900"><span>4.3.</span><span> Advanced search</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Searching for items</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Introducing the new item UI in plentymarkets!
This page teaches you how to search for items in the back end.
You’ll learn how to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/new-ui/search#100">search for items and variations</a></p>
</li>
<li>
<p><a href="/en/item/new-ui/search#200">save your frequently used search settings</a></p>
</li>
<li>
<p><a href="/en/item/new-ui/search#500">work with the search results in the overview</a></p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">New item UI (closed beta)</div>
<div class="paragraph">
<p>This page describes the new item UI, which was released as a closed beta phase in September, 2021.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Closed beta means that the new item UI will initially be tested by a small group of participants.</p>
</li>
<li>
<p>Once the new item UI is sufficiently developed, the open beta phase will begin.</p>
</li>
<li>
<p>For further information, refer to <a href="https://forum.plentymarkets.com/t/neue-artikel-ui-teilnehmer-fuer-geschlossene-beta-gesucht-new-item-ui-participants-wanted-for-closed-beta/649947">this forum thread</a>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Searching for items and variations</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Item UI</strong>.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Option 1</em></strong>: Click on <span class="icon darkGrey"><i class="fa fa-search  "></i></span> to see a list of all items.</p>
</li>
<li>
<p><strong><em>Option 2</em></strong>: Click on <span class="icon darkGrey"><i class="fa fa-filter  "></i></span> to narrow down the search results with filters.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Once you’ve started the search, click on a line in the results to open the <a href="/en/item/new-ui/detail-view">detail view</a>.
There you can modify the item’s settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/standard-search.gif" alt="standard search">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Filters can be saved</div>
<div class="paragraph">
<p>You can save your filter settings so that they are pre-selected in the future.
<a href="/en/item/new-ui/search#200">More about this topic</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-item-search-filters" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Descriptions of the individual search filters</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Control elements</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to use a filter that’s not already listed here?
Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> and select the filter from the drop-down list.
The filter will be added to the list.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
It’s possible to add the same filter multiple times.
For example, you could add the "Item ID" filter twice if you want to search for the IDs 123 and 125.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-undo  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Resets the selected filter criteria.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEARCH</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Starts the search.
The items found are listed in the overview.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip</em></strong>: Don’t choose any filters if you want to see all of the items in the overview.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-toggle-on  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Advanced search mode:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Item UI</strong>.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-filter  "></i></span> and add filters as needed (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Advanced</strong> (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).<br>
→ The advanced search mode appears.</p>
</li>
<li>
<p>Use the advanced filter options to narrow down the search results:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Select the search relationship <strong>AND</strong> or <strong>OR</strong>.</p>
</li>
<li>
<p>Link the search fields as needed (<span class="icon darkGrey"><i class="fa fa-link  "></i></span>).</p>
</li>
<li>
<p>Select the operator.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Once you’ve started the search, click on a line in the results to open the <a href="/en/item/new-ui/detail-view">detail view</a>.
There you can modify the item’s settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/advanced-search.gif" alt="advanced search">
</div>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
All of the advanced search elements will be reset when you deactivate the advanced search mode.
<a href="/en/item/new-ui/search#900">Further information</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong id="intable-advanced-elements">Advanced elements</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AND</strong>;<br>
<strong>OR</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to search for products that fulfil one or both of the criteria?
Select the appropriate search relationship from the drop-down list.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relationship</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AND</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The product must fulfil <em>both criteria</em>.
Example: Search for items that ship within 24 hours AND are listed on the platform eBay.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OR</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The product must fulfil <em>one of the criteria</em>.
Example: Search for items that are supplied by the company A OR B.
Filters are automatically linked together if you select the OR relationship (further information below).</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Search filters can be linked together to show how they relate to each other.
This is equivalent to adding parentheses to a formula.
Example:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>A AND (B OR C)</code></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>On the one hand, filters are linked and separated when you click on <span class="icon darkGrey"><i class="fa fa-link  "></i></span>.
On the other hand, filters are automatically linked when you select the OR relationship.</p>
</div>
<div class="paragraph">
<p>You can tell which filters are linked because a black line is displayed on the left and parentheses are displayed up top.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/join-filters.png" alt="join filters">
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operator</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the appropriate operator.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip</em></strong>: Add the same filter several times to create a range of values.
Example: Search for items that have an ID <em>greater</em> than 100 and <em>less</em> than 200.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operator</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EQUAL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Is equal to.
Example: Search for the item with the ID 100.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LIKE</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Contains.
Example: Search for all of the items that have an ID containing the number 100, e.g. 1001, 410037, 100, 32100.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GREATER THAN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Greater than.
Example: Search for all of the items that have an ID greater than 100, e.g. 101, 102, 103.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GREATER OR EQUAL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Greater than or equal to.
Example: Search for all of the items that have an ID greater than or equal to 100, e.g. 100, 101, 102, 103.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LESS THAN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Less than.
Example: Search for all of the items that have an ID less than 100, e.g. 97, 98, 99.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LESS OR EQUAL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Less than or equal to.
Example: Search for all of the items that have an ID less than or equal to 100, e.g. 97, 98, 99, 100.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Filter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter one or more IDs to search for the variations with these IDs.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
Use commas without spaces to separate multiple IDs.
Example: <code>1001,1002,1003</code></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter an ID to search for the item with this ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a variation number to search for the variation with this number.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
The variation number does not necessarily have to be a number.
It can also be an alphanumeric character string, for example ABC-1234-D.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a barcode to search for the <a href="/en/item/managing-items#250">variation with this code</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to search for <a href="/en/item/managing-items#intable-active">active items</a>?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Only active items will be included in the search results.</p>
</li>
<li>
<p><strong>No</strong> = Only inactive items will be included in the search results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Background info</em></strong>: Variations only become visible in the plentyShop or on marketplaces once they have been activated.
In other words, you can work on inactive variations before they are ready to be sold.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to search for a particular type of item?
This filter limits the search results so that they only include default items, <a href="/en/item/use-cases/combining-products">sets or multipacks</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>What about item bundles?</em></strong>
It’s also possible to search for item bundles or individual bundle components.
Use the <a href="/en/item/new-ui/search#intable-bundle">Bundle</a> filter to do so.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Main variation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = The search results only include <a href="/en/item/introduction/structure#600">main variations</a>.</p>
</li>
<li>
<p><strong>No</strong> = The search results only include <a href="/en/item/introduction/structure#600">sub-variations</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an availability level from the drop-down list.
The search results only display products that are <a href="/en/item/managing-items#200">linked to this availability level</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-bundle">Bundle</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to search for <a href="/en/item/use-cases/combining-products">item bundles</a> or individual bundle components?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = The search results will only include items and variations that are the <em>main item of a bundle</em>.</p>
</li>
<li>
<p><strong>No</strong> = The search results will include items and variations that are neither the main item nor a component of a bundle.</p>
</li>
<li>
<p><strong>Component</strong> = The search results will only include items and variations that are <em>components of a bundle</em>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a client (store) from the drop-down list.
The search results only display products that are <a href="/en/item/managing-items#360">linked to this client</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a sales price from the drop-down list.
The search results only display products that are <a href="/en/item/managing-items#240">linked to this sales price</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Requirement</em></strong>: Have you already <a href="/en/item/settings/prices">configured sales prices in plentymarkets</a>?
This drop-down list only includes the sales prices that already exist in plentymarkets.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a supplier from the drop-down list.
The search results only display products that are <a href="/en/item/managing-items#310">linked to this supplier</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Requirement</em></strong>: Have you already <a href="/en/crm/managing-contacts#100">created supplier data records in plentymarkets</a>?
This drop-down list only includes the suppliers (contacts of the type “Supplier”) that already exist in plentymarkets.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to search for products that were sold on a specific channel?
Select a referrer from the drop-down list.
The search results only display products that are <a href="/en/item/managing-items#350">linked to this referrer</a>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Saving the search settings</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="300">2.1. Saving the current filters</h3>
<div class="paragraph">
<p>When you start a search, your search settings are displayed up top as so-called “chips”.
You can save these search settings to apply them again more quickly and easily in the future.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Start a search.</p>
</li>
<li>
<p>Click on <strong>Saved filters</strong> (<span class="icon darkGrey"><i class="fa fa-bookmark  "></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-bookmark-o  "></i></span> <strong>Save current filter</strong>.</p>
</li>
<li>
<p>Enter a name and decide whether the filter preset should be visible for all user accounts (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>SAVE</strong>.<br>
→ The filter settings now appear under <strong>Saved filters</strong> (<span class="icon darkGrey"><i class="fa fa-bookmark  "></i></span>).</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/save-filters.gif" alt="save filters">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Post-processing</div>
<div class="ulist">
<ul>
<li>
<p>Use drag &amp; drop to arrange the filter presets in a specific order.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-trash  "></i></span> to delete a filter preset.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Applying saved filters</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Saved filters</strong> (<span class="icon darkGrey"><i class="fa fa-bookmark  "></i></span>).</p>
</li>
<li>
<p>Click on an existing filter preset.<br>
→ The search is started and the search settings are displayed up top as so-called “chips”.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/apply-filters.gif" alt="apply filters">
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">3. Overview of results</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When you start a search, you’ll see the results in an overview.
The overview provides information about the items at a glance.
For example, you can see an image of the item, whether the item is active or inactive, its IDs, prices, tags and timestamps.
From here, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>click on an item ID to open the item level.</p>
</li>
<li>
<p>click somewhere else in the line to open the variation level.</p>
</li>
<li>
<p>select multiple items (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and click on the pencil icon (<span class="icon darkGrey"><i class="fa fa-pencil  "></i></span>).
This opens all of the selected item data records at once.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/details-navigation.gif" alt="details navigation">
</div>
</div>
<div class="paragraph">
<p>Your items will be displayed underneath each other in the left navigation bar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Items are left-aligned.</p>
</li>
<li>
<p>Variations are indented.</p>
</li>
<li>
<p>The currently selected level is displayed in blue font.</p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-chevron-left  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Expands the item data record.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-close  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Closes the item data record.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-bars  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Shows and hides the navigation bar.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h3 id="_customising_the_overview" class="discrete">Customising the overview</h3>
<div class="paragraph">
<p>You can customise the overview to meet your needs.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/configure-columns.png" alt="configure columns">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-gear  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which columns should be included in the overview?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Configure columns</strong> (<span class="icon darkGrey"><i class="fa fa-gear  "></i></span>).</p>
</li>
<li>
<p>Select all of the desired columns (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>CONFIRM</strong>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-drag_indicator"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which order should the columns be displayed in?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Configure columns</strong> (<span class="icon darkGrey"><i class="fa fa-gear  "></i></span>).</p>
</li>
<li>
<p>Move your mouse cursor over an entry with the symbol <span class="icon "><i class="material-drag_indicator"></i></span>.<br>
→ Your mouse cursor changes shape (<span class="icon darkGrey"><i class="fa fa-arrows  "></i></span>).</p>
</li>
<li>
<p>Drag the entry to the desired spot.</p>
</li>
<li>
<p>Click on <strong>CONFIRM</strong>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-arrow-down  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should the results be displayed in ascending or descending order?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Move your mouse cursor over a column header such as item ID, variation number or variation ID.<br>
→ An arrow is displayed.</p>
</li>
<li>
<p>Click on the arrow (<span class="icon darkGrey"><i class="fa fa-arrow-down  "></i></span>) to change the sort order.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">4. FAQ</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="700">4.1. General questions</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Why don’t I see the menu?</strong></div>
<div class="content">
<div class="paragraph">
<p>The new item UI is currently in the closed beta phase.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Closed beta means that the new item UI will initially be tested by a small group of participants.</p>
</li>
<li>
<p>Once the new item UI is sufficiently developed, the open beta phase will begin.</p>
</li>
<li>
<p>For further information and how you can participate in the closed beta phase, refer to <a href="https://forum.plentymarkets.com/t/neue-artikel-ui-teilnehmer-fuer-geschlossene-beta-gesucht-new-item-ui-participants-wanted-for-closed-beta/649947">this forum thread</a>.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>How can I give feedback?</strong></div>
<div class="content">
<div class="paragraph">
<p>Beta testers have access to a closed forum category where they can give feedback.
For further information and how you can participate in the closed beta phase, refer to <a href="https://forum.plentymarkets.com/t/neue-artikel-ui-teilnehmer-fuer-geschlossene-beta-gesucht-new-item-ui-participants-wanted-for-closed-beta/649947">this forum thread</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>I don’t see a drop-down list with views in the upper right corner. Why not?</strong></div>
<div class="content">
<div class="paragraph">
<p>Have you already opened an item data record?
The drop-down list with views (default view and custom views) is <em>not visible in the overview</em>.
It only appears once you have opened an item data record.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/new-ui/assets/default-view.png" alt="default view">
</div>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="800">4.2. Searching for items</h3>
<div class="openblock collapseBox">
<div class="title"><strong>What are the default search settings? Are only active items searched by default?</strong></div>
<div class="content">
<div class="paragraph">
<p>No filters are set by default.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If you start the search without setting any filters, then all items will appear in the results.</p>
</li>
<li>
<p>Both active and inactive items are included in the search results by default.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Can I use the same search filter multiple times?</strong></div>
<div class="content">
<div class="paragraph">
<p>Yes.
If needed, add the same filter several times (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).
For example, you could add the "Item ID" filter twice if you want to search for the IDs 123 and 125.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Can I import and export the search filter settings?</strong></div>
<div class="content">
<div class="paragraph">
<p>There is not currently an import / export function.
However, you can <a href="/en/item/new-ui/search#200">save your frequently used search settings</a>.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">4.3. Advanced search</h3>
<div class="openblock collapseBox">
<div class="title"><strong>What’s the difference between the standard search mode and the advanced search mode?</strong></div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p>The standard search mode is easier to use, but it’s also less flexible.</p>
</li>
<li>
<p>The advanced search mode supports <a href="/en/item/new-ui/search#intable-advanced-elements">links</a>, <a href="/en/item/new-ui/search#intable-advanced-elements">AND/OR relationships</a> and <a href="/en/item/new-ui/search#intable-advanced-elements">operators</a>.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Advanced mode: What happens if I use both AND and OR relationships within the same group?</strong></div>
<div class="content">
<div class="paragraph">
<p>The search query <code>(A AND B OR C)</code> will be interpreted as <code>A AND (B OR C)</code>.
It is not currently possible to use double parentheses.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>What happens if I use the advanced search and switch back to the standard search mode?</strong></div>
<div class="content">
<div class="paragraph">
<p>All of the advanced search elements will be reset.
This is because the standard search mode does not support links, AND/OR relationships and operators.
The elements will be reset as follows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>All of the links will be removed.</p>
</li>
<li>
<p>All of the relationships will be set to AND.</p>
</li>
<li>
<p>All of the operators will be set to EQUAL.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</main>