{% macro print( pages, depth = 0, parentUrl = "/" ) %}
    {% import _self as NavList %}

    {% for page in pages %}

        <li class="{% if page.isActive or page.isOpen %}open{% endif %}">
            <a class="docs-nav-link{% if page.hasChildren %} plenty-dropdown-toggle{% endif %}{% if page.isActive or page.isOpen %} active{% endif %}"
                id="{{ page.id }}"
                href="{{ page.url }}"
                {# TODO: check if initial open, adapt class & aria #}
                {% if page.hasChildren %}
                    data-fn="expandable-item-trigger"
                    aria-haspopup="true"
                {% endif %}
                {% if page.isOpen %}
                    aria-expanded="true"
                {% else %}
                    aria-expanded="false"
                {% endif %}
            data-test="1">{{ page.title }}</a>

            {% if page.hasChildren or page.navAlias %}
                <ul aria-labelledby="{{ page.id }}">
                    {% if page.navAlias %}
                        {# TODO: what is this? #}
                        <li>
                            <a class="docs-nav-link" href="{{ page.url }}" data-test="2">{{ page.navAlias }}</a>
                        </li>
                    {% endif %}

                    {% if page.hasChildren %}
                        {{ NavList.print( page.children, depth + 1, page.url ) }}
                    {% endif %}
                </ul>
            {% endif %}
        </li>

    {% endfor %}

{% endmacro %}