{% macro print( pages, depth = 0, parentUrl = "/" ) %}
    {% import _self as NavList %}

    {% for page in pages %}

        <li class="{% if page.isActive or page.isOpen %}active{% endif %}">
            <a class="{% if page.hasChildren %}plenty-dropdown-toggle{% endif %}"
               id="{{ page.id }}"
               href="{{ page.url }}"
               data-fn="dropdown-multilevel"
               {% if page.hasChildren %}aria-haspopup="true"{% endif %}
                    {% if page.hasChildren %}aria-expanded="false"{% endif %}
            >{{ page.title }}</a>

            {% if page.hasChildren or page.navAlias %}
                <ul aria-labelledby="{{ page.id }}">
                    <li class="nav-item-back">
                        <a class=""
                           href="#"
                           aria-label="{{ trans("PlentyManual::Manual.closeLevel") }}"
                           data-label="{{ trans("PlentyManual::Manual.back") }}"
                           data-fn="dropdown-multilevel-close"></a>
                    </li>

                    {% if page.navAlias %}
                        <li>
                            <a href="{{ page.url }}">{{ page.navAlias }}</a>
                        </li>
                    {% endif %}

                    {% if page.hasChildren %}
                        {{ NavList.print( page.children, depth + 1, page.url ) }}
                    {% endif %}
                </ul>
            {% endif %}
        </li>

    {% endfor %}

{% endmacro %}