{% macro printForm( additionalClasses, searchUrl ) %}

    {% set query = request.get("q") %}

    <form class="banner-form display-3 {{ additionalClasses }}" method="GET" action="{{ searchUrl }}">
        <label class="sr-only" for="bannerSearchInput">{{ trans("PlentyManual::Manual.doSearch") }}</label>
        {% if results is defined %}
            <input type="hidden" name="s" value="{{ results.itemsPerPage }}">
        {% endif %}
        <div class="input-group input-group-lg">
            <input class="form-control" id="bannerSearchInput" type="text"{% if query %} value="{{ query }}"{% endif %} name="q" placeholder="{{ trans("PlentyManual::Manual.enterSearchText") }}">
            <span class="input-group-append">
                <button class="btn btn-secondary" type="submit"><i class="fa fa-search" aria-hidden="true"></i> <span class="sr-only">{{ trans("PlentyManual::Manual.doSearch") }}</span></button>
            </span>
        </div>
    </form>

{% endmacro %}

{% macro printBanner( bgImgSmall, bgImgLarge, additionalClasses, searchUrl ) %}
    {% import _self as SearchBar %}
    <div class="d-flex align-items-center bg-fixed bg-cover{% if additionalClasses %} {{ additionalClasses }}{% endif %}"
         style="background-image: url('{{ bgImgSmall }}');"{% if bgImgLarge %} data-fn="lazyload" data-src="{{ bgImgLarge }}"{% endif %}>
        <div class="banner-inner">
            <div class="container{% if large %} py-4{% endif %}">
                {% if large %}
                    {{ SearchBar.printForm("mt-4", searchUrl) }}
                {% else %}
                    {{ SearchBar.printForm("mt-5", searchUrl) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}