{% autoescape %}
<strong>Auftragspositionen</strong>

<p>Artikel des Auftrags mit der ID {{order.id}}:</p>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Anzahl</th>
    <th>Preis</th>
  </tr>
  {% for orderItem in order.orderItems %}
  <tr>
    <td>{{orderItem.variation.id}}</td>
    <td>{{orderItem.orderItemName}}</td>
    <td>{{orderItem.quantity}}</td>
    <td>{{orderItem.formattedAmounts.grossPrice | number_format(2,'.',',')}}</td>
  </tr>
  {% endfor %}
</table>
{% endautoescape %}
