<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_dhl_shipping_plugin_kaufen_installieren_und_live_schalten"><span>1.</span><span> DHL Shipping Plugin kaufen, installieren und live schalten</span></a>
<ul class="sectlevel2">
<li><a href="#_kaufen"><span>1.1.</span><span> Kaufen</span></a></li>
<li><a href="#_installieren"><span>1.2.</span><span> Installieren</span></a></li>
</ul>
</li>
<li><a href="#_lieferländer_aktivieren"><span>2.</span><span> Lieferländer aktivieren</span></a></li>
<li><a href="#_regionen_erstellen"><span>3.</span><span> Regionen erstellen</span></a></li>
<li><a href="#_versanddienstleister_erstellen"><span>4.</span><span> Versanddienstleister erstellen</span></a></li>
<li><a href="#_versandprofil_erstellen"><span>5.</span><span> Versandprofil erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#_base"><span>5.1.</span><span> Base</span></a></li>
<li><a href="#_portotabelle"><span>5.2.</span><span> Portotabelle</span></a></li>
</ul>
</li>
<li><a href="#_versandprofil_am_artikel_aktivieren"><span>6.</span><span> Versandprofil am Artikel aktivieren</span></a></li>
<li><a href="#_dhl_shipping_plugin_über_die_assistenten_einrichten"><span>7.</span><span> DHL Shipping-Plugin über die Assistenten einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#2400"><span>7.1.</span><span> Plugin-Set nach Aktualisierung erneut bereitstellen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Praxisbeispiel: DHL Shipping (Versenden)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite beschreibt, wie du das DHL Shipping (Versenden)-Plugin in plentymarkets einrichtest. Wir gehen die nötigen Schritte durch, damit deine Kund:innen im Webshop DHL als Versandart auswählen und Du anschließend die Anmeldung über das DHL Shipping erfolgreich durchführen kannst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_dhl_shipping_plugin_kaufen_installieren_und_live_schalten">1. DHL Shipping Plugin kaufen, installieren und live schalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel wird beschrieben, wie du das DHL Shipping-Plugin im plentyMarketplace kaufst und es anschließend im plentymarkets Backend installierst und bereitstellst.</p>
</div>
<div class="sect2">
<h3 id="_kaufen">1.1. Kaufen</h3>
<div class="paragraph">
<p>Als erstes musst du die Grundlage schaffen, um in Zukunft erfolgreich mit DHL zu arbeiten. Hierzu ist es nötig, dass du dir das <a href="https://marketplace.plentymarkets.com/de/plugins/integration/DHLShipping_4871" target="_blank" rel="noopener">DHL Shipping Plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> aus unserem plentyMarketplace herunterlädst.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/DHL_Shipping_Plugin_kaufen.png" alt="DHL Shipping Plugin kaufen" width="640" height="360">
</div>
<div class="title">Bild 1. DHL Shipping Plugin kaufen</div>
</div>
<div class="paragraph">
<p>Das Plugin ist kostenfrei und kann durch einen Klick auf <strong>Zur Kasse</strong> gekauft werden. Bitte folge den weiteren Anweisungen im plentyMarketplace.</p>
</div>
</div>
<div class="sect2">
<h3 id="_installieren">1.2. Installieren</h3>
<div class="paragraph">
<p>Nachdem du das Plugin gekauft hast, musst du dieses in deinem plentymarkets System installieren. Das Plugin findest du nach dem Kauf im Menü <strong>Plugins » Plugin-Set-Übersicht</strong>. Wie du das Plugin im Plugin-Set installierst und es live schaltest, ist auf der Handbuchseite <a href="/plugins/hinzugefuegte-plugins-installieren">Hinzugefügte Plugins installieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Sobald das Plugin erfolgreich installiert und in einem Plugin-Set bereitgestellt wurde, sind die beiden Assistenten <strong>DHL Shipping (Versenden): Grundeinstellungen</strong> und <strong>DHL Shipping (Versenden): Einstellungsverknüpfung</strong> im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set verfügbar. Durchlaufe die beiden Assistenten, um DHL Shipping (Versenden) ganz einfach in deinem plentymarkets System einzurichten.</p>
</div>
<div class="paragraph">
<p>Doch zunächst musst du einige Einstellungen im plentymarkets Backend vornehmen, bevor du das DHL Shipping-Plugin einrichtest.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_lieferländer_aktivieren">2. Lieferländer aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Da das Plugin jetzt grundlegend verfügbar ist, kannst du die nächsten Schritte in Angriff nehmen. In diesem Teil solltest du dir vorher Gedanken machen, in welche Länder du liefern möchtest. Wenn du die Länder festgelegt hast, kannst du diese im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Lieferländer</strong> aktivieren. Diese stehen dann für den nächsten Schritt bereit. Beachte bitte, dass in plentymarkets besondere Regionen wie z.B. Helgoland oder die Kanarischen Inseln als eigenes "Lieferland" einzustellen sind.</p>
</div>
<div class="paragraph">
<p>Für die Lieferländer hast du folgende Auswahlmöglichkeiten:</p>
</div>
<table id="table-lieferlaender-aktivieren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen für die Anzeige Lieferländer</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Beschreibung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inaktiv</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Lieferland ist nicht aktiv.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiv</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Lieferland ist uneingeschränkt aktiv.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Backoffice aktiv</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferländer mit dieser Eigenschaft sind nur im plentymarkets System und <em>nicht</em> im Webshop sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferant aktiv</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferländer mit dieser Eigenschaft stehen für die Einstellung als Standardlieferland im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Bestellvorgang » Einstellungen</strong> nicht zur Verfügung.</p></td>
</tr>
</tbody>
</table>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/Lieferlaender_aktivieren.png" alt="Lieferlaender aktivieren" width="640" height="360">
</div>
<div class="title">Bild 2. Lieferländer aktivieren</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_regionen_erstellen">3. Regionen erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die aktivierten Lieferländer musst du jetzt in Regionen zusammenfassen. Die Versandregionen findest du im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Regionen</strong>. Füge die Länder, für die auch die gleichen Versandkonditionen gelten sollen, in einer gemeinsame Region zusammen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel für unterschiedliche Versandkosten</div>
<div class="paragraph">
<p>Wenn du für Spanien und Frankreich z.B. 14,90 € Versandkosten verlangen möchtest, dann kommen diese beiden Länder zusammen in eine Region. Soll hingegen für Italien 20,90 € genommen werden, muss dafür eine neue Region erstellt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Auf der linken Seite in der Region siehst du alle verfügbaren Lieferländer. Auf der rechten Seite siehst du alle Lieferländer, die bereits mit dieser Region verknüpft sind. Füge nun alle aktiven Lieferländer einer Region hinzu. Bitte beachte dabei, dass jedes Lieferland nur in einer Region vorhanden sein kan.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/Regionen_einrichten.png" alt="Regionen einrichten" width="640" height="360">
</div>
<div class="title">Bild 3. Regionen einrichten</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_versanddienstleister_erstellen">4. Versanddienstleister erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Außer den Lieferländern und den dazu passenden Regionen benötigst du noch den richtigen Versanddienstleister, um eine Brücke zwischen dem Plugin und den Versandprofilen zu schaffen. Den Versanddienstleister konfigurierst du im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versanddienstleister</strong>.</p>
</div>
<div class="paragraph">
<p>Hier wählst du einen Namen für den Versanddienstleister aus und wählst aus dem Dropdown-Menü den Dienstleister <strong>DHL Shipping (Versenden)</strong> aus.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/Versanddienstleister_erstellen.png" alt="Versanddienstleister erstellen" width="640" height="360">
</div>
<div class="title">Bild 4. Versanddienstleister erstellen</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Tracking-URL</div>
<div class="paragraph">
<p>Außerdem speicherst du in diesem Menü die Tracking-URL <strong>http://nolp.dhl.de/nextt-online-public/set_identcodes.do?lang=de&amp;zip=$PLZ&amp;idc=$PaketNr</strong>, die für den späteren E-Mail-Versand verwendet wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_versandprofil_erstellen">5. Versandprofil erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Alle Menüpunkte, die du bisher eingerichtet hast, treffen im Versandprofil aufeinander. Hierzu wechselst du in das Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versandprofile</strong>. Mit einem Klick auf die Schaltfläche <strong>Neu</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) erstellst du ein neues Versandprofil und landest direkt im Tab <strong>Base</strong>. Das Tab <strong>Portotabelle</strong> ist erst nach dem ersten Speichern sichtbar.</p>
</div>
<div class="sect2">
<h3 id="_base">5.1. Base</h3>
<div class="paragraph">
<p>Im Tab <strong>Base</strong> legst du die grundsätzlichen Einstellungen für dein Versandprofil fest.</p>
</div>
<table id="table-feldnamen-versandprofil" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Feldnamenbeschreibungen im Versandprofil</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Beschreibung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versanddienstleister</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle hier den zuvor angelegten Versanddienstleister aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name &amp; Name (Backend)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle hier einen Namen für das Front- und Backend in der jeweiligen Sprache aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier kannst du dem Profil eine Markierung geben. (z.B. das DHL Logo)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Priorität bestimmt die Reihenfolge der im Webshop angezeigten Versandprofile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Kategorieoption ermöglicht eine zusätzliche Priorisierung der Versandprofile. Ein konkretes Anwendungsbeispiel findest du <a href="https://knowledge.plentymarkets.com/fulfillment/versand-vorbereiten#1300">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel Portoaufschlag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hiermit kannst du am Artikel hinterlegte Portoaufschläge aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postident</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option musst du aktivieren, wenn ein Postident nötig ist. Z.B. bei FSK18 Ware.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei neuen Artikeln aktivieren</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option aktivieren, damit das Profil immer an neuen Artikeln aktiv ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachnahme</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option aktivieren, damit Kund:innen im Ceres-Checkout im Webshop die Zahlungsart <em>Nachnahme</em> wählen können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inselzuschlag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird der eingestellte Portoaufschlag bei einer Lieferung zu bestimmten Inseln anhand der definierten Liste in plentymarkets berechnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten (Shops)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wählst du die Mandaten aus, welche mit diesem Versandprofil verknüpft sein sollen. Es muss mindestens ein Mandant eingestellt sein, damit das Versandprofil auswählbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsherkunft</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wählst du die Auftragsherkünfte aus, für die dieses Versandprofil frei gegeben sein sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gesperrte Zahlungsarten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wählst du die Zahlungsarten aus, für die das Versandprofil <em>nicht</em> auswählbar sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gesperrte Kundenklassen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle hier die Kundenklassen aus, für die das Versandprofil <em>nicht</em> auswählbar sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandgruppen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandprofile können einer Versandgruppe hinzugefügt werden, damit die Zuweisung von Versandprofilen am Artikel vereinfacht werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Konto</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle hier ein eBay Konto aus, falls du eines verknüpfen möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listingtyp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahlmöglichkeiten:<br>
<strong>Alle</strong> = Alle Listingtypen<br>
<strong>Auktion</strong> = Nur Auktionen<br>
<strong>Festpreis-/Shop Artikel</strong> = Nur Festpreis bzw. Shop Artikel (Shop Artikel nur für Hood)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Expressversand</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, wenn dieses Versandprofil für einen Expressversand bei eBay genutzt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Treueprogramm</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier kannst du ein oder mehrere Treueprogramme wie eBay Plus oder Amazon Prime mit diesem Versandprofil verknüpfen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_portotabelle">5.2. Portotabelle</h3>
<div class="paragraph">
<p>Das Tab <strong>Portotabelle</strong> ist erst verfügbar, wenn du das Versandprofil gespeichert hast. In diesem Tab werden die Portotabellen für die jeweiligen vorher eingerichteten Regionen angezeigt. Das heißt, hier legst du die Preise und den Berechnungstypen für die einzelnen Region fest.
Wähle die Berechnungsgrundlage für die Versandkosten aus. Es gibt die Auswahlmöglichkeiten: <strong>Pauschal</strong>, <strong>Gewichtsabhängig</strong>, <strong>Volumenabhängig</strong>, <strong>Mengenabhängig</strong>, <strong>Preisabhängig</strong> und <strong>Artikelporto</strong>.</p>
</div>
<div class="paragraph">
<p>Je nach Einstellung des Typen musst du die passenden Preise eingeben. Außerdem kannst du für jede Portotabelle angeben, ab welchem Betrag der Versand kostenfrei ist oder dass er z.B. ab 100 € Warenwert statt der pauschal eingestellten 4,99 € nur noch 2,50 € kostet.</p>
</div>
<div class="paragraph">
<p>Der Beschränkungstyp schränkt das Versandprofil ein. Passe aber auf, dass du mit deinen Versandprofilen einen nahtlosen Übergang ermöglichst, damit z.B. bei einem eingestellten Maximalgewicht von 20 kg in einem Versandprofil und dem Kauf von zwei Artikeln mit je 11 kg, noch ein anderes Versandprofil auswählbar ist und eine Fehlermeldung im Webshop verhindert wird.</p>
</div>
<div class="paragraph">
<p>Als Standardpaket kannst du ein vorher definiertes Versandpaket hinterlegen. Ein Versandpaket definierst du im Menü <strong>Einrichtung » Aufträge » Versand » Versandpakete</strong>. So kannst du z.B. feste Maße übertragen, wenn du nur eine Paketgröße für den Versand verwendest.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Berechnungstypen</div>
<div class="paragraph">
<p>Bitte beachte, dass du z.B. für die gewichtsabhängige Berechnung auch die Gewichte an den einzelnen Artikeln pflegen musst. Ansonsten ist eine Berechnung nicht möglich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/Portotabelle_Berechnungstypen.png" alt="Portotabelle Berechnungstypen" width="640" height="360">
</div>
<div class="title">Bild 5. Berechnungstypen in der Portotabelle</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Portotabelle aktivieren</div>
<div class="paragraph">
<p>Eine Portotabelle ist erst aktiv, wenn diese gespeichert wurde. Ansonsten siehst du den Hinweis <code>Region wird im Versandprofil nicht verwendet. Preis eintragen und speichern, um Region zu verwenden. Portotabelle speichern und neu laden, um Versanddienstleister-Einstellungen anzuzeigen.</code></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_versandprofil_am_artikel_aktivieren">6. Versandprofil am Artikel aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten</strong> im Tab <strong>Global</strong> des Artikels musst du jetzt alle Artikel mit den gewünschten Versandprofilen verknüpfen. Dies kannst du auch über die Gruppenfunktion machen. Achte dabei auf den Haken bei der Option <strong>Alte Versandprofile löschen</strong>, da über die "Versandkonfiguration" nur weitere Versandprofile hinzugefügt werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_dhl_shipping_plugin_über_die_assistenten_einrichten">7. DHL Shipping-Plugin über die Assistenten einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem die Versandprofile fertig eingerichtet und am Artikel verknüpft sind, kann jetzt das DHL Shipping-Plugin final über die beiden Assistenten <strong>DHL Shipping (Versenden): Grundeinstellungen</strong> und <strong>DHL Shipping (Versenden): Einstellungsverknüpfung</strong> eingerichtet werden. Die Assistenten findest du im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Detaillierte Beschreibung</div>
<div class="paragraph">
<p>Eine detaillierte Beschreibung zu den einzelnen Schritten in den beiden DHL Assistenten findest du auf der Handbuchseite <a href="/fulfillment/versanddienstleister-plugins/plugin-dhl-shipping-versenden">DHL Shipping (Versenden)</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="2400">7.1. Plugin-Set nach Aktualisierung erneut bereitstellen</h3>
<div class="paragraph">
<p>Nachdem du ein Update des Plugins heruntergeladen hast, ist es erforderlich, dass du das Plugin-Set erneut bereitstellst. Das Herunterladen des Updates allein bewirkt noch nicht, dass die Neuerungen bzw. Änderungen in der neuen Version auch aktiv sind.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/plugins/installierte-plugins-aktualisieren#marketplace-plugins">Installierte Plugins aktualisieren</a>.</p>
</div>
</div>
</div>
</div>
</main>