<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_information_about_the_api_log"><span>1.</span><span> Information about the API log</span></a></li>
<li><a href="#100"><span>2.</span><span> Access data, password, productive mode, registration</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>2.1.</span><span> Fehler bei der Anmeldung: (1001) login failed</span></a></li>
<li><a href="#300"><span>2.2.</span><span> Code 1001: Der Nutzer des Webservice konnte nicht authentifiziert werden.</span></a></li>
<li><a href="#400"><span>2.3.</span><span> Code 1: Authorization Required or Code 1: Unauthorized</span></a></li>
<li><a href="#500"><span>2.4.</span><span> Invalid XML: cvc-complex-type.2.4.d: Ungültiger Content wurde beginnend mit Element 'Shipment' gefunden.</span></a></li>
<li><a href="#510"><span>2.5.</span><span> Code: 1101 Das Recht zum Setzen dieses Attributes ist nicht ausreichend. Bitte wenden Sie sich an Ihren Kunden-Administrator.</span></a></li>
</ul>
</li>
<li><a href="#600"><span>3.</span><span> Products, EKP, processes, subscription, billing numbers</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>3.1.</span><span> Exception in extension function java.lang.RuntimeException: **productId cannot be mapped**</span></a></li>
<li><a href="#800"><span>3.2.</span><span> Exception in extension function java.lang.RuntimeException: productId **EXP/OFP** cannot be mapped</span></a></li>
</ul>
</li>
<li><a href="#900"><span>4.</span><span> Shipping profiles</span></a>
<ul class="sectlevel2">
<li><a href="#1000"><span>4.1.</span><span> The combination of shipping profile ID xx and shipping region ID xx does not exist.</span></a></li>
<li><a href="#1100"><span>4.2.</span><span> Ein interner Fehler ist aufgetreten</span></a></li>
<li><a href="#1200"><span>4.3.</span><span> Keine gültigen Versandprofile vorhanden: SystemShippingController</span></a></li>
<li><a href="#1300"><span>4.4.</span><span> Bitte Dateneingabe prüfen. unknown</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>5.</span><span> Address data, Shipper/Receiver</span></a></li>
<li><a href="#1500"><span>6.</span><span> Invalid fieldlength in element ‘Note’. Please refer to documentation.</span></a>
<ul class="sectlevel2">
<li><a href="#1600"><span>6.1.</span><span> The Customer ID Number is invalid. Please check Customer ID Number. Your order could not be processed.</span></a></li>
<li><a href="#1700"><span>6.2.</span><span> Invalid value in element ‘germany’</span></a></li>
<li><a href="#1800"><span>6.3.</span><span> Hard validation error occured., Bitte geben Sie einen Ort / Name 1 / Postleitzahl / Straße / Hausnummer / Telefonnummer an.</span></a></li>
</ul>
</li>
<li><a href="#1900"><span>7.</span><span> Export deliveries</span></a>
<ul class="sectlevel2">
<li><a href="#2000"><span>7.1.</span><span> Hard validation error occured., Die Gewichtsangabe ist kleiner als im CN23-Formular.</span></a></li>
<li><a href="#2100"><span>7.2.</span><span> Bitte geben Sie eine Anzahl / Beschreibung / Warenwert / Gewicht / Art der Sendung an. Die angegebene Art der Sendung ist nicht gültig.</span></a></li>
<li><a href="#2200"><span>7.3.</span><span> incoterms, origin country code, export document missing, weight for packages, terms of trade, shipment weight may not be smaller than 0.1 kg, valid type of shipment, quantity of goods / description of goods / country of origin / value of goods, exportdoc position</span></a></li>
<li><a href="#2300"><span>7.4.</span><span> Invalid fieldlength: InvoiceDate</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FAQ: DHL</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page lists error messages that are sent back from DHL to plentymarkets via the interface, as well as possible solutions. For reasons of clarity, the error messages are classified in six categories.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_information_about_the_api_log">1. Information about the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can retrieve the registration data and the response with possible error messages for a duration of two weeks in the <strong>Data » API Log » Tab: Shipping centre API log</strong> menu. Click on <strong>Open request log</strong> in the right column to open a window that displays the registration data. Click on <strong>Open response log</strong> to open a window with the response message from DHL.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/DHL_Versand_Center_API_Log.png" alt="DHL Versand Center API Log">
</div>
<div class="title">Figure 1. Shipping centre API-Log</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">2. Access data, password, productive mode, registration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this chapter, you will find error messages related to access data, password, productive mode and login, as well as possible solutions.</p>
</div>
<div class="sect2">
<h3 id="200">2.1. Fehler bei der Anmeldung: (1001) login failed</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Es gab einen Fehler bei der Anmeldung: (1001) login failed.</code></p>
</div>
<div class="paragraph">
<p>There might be two reasons when this error message is displayed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Incorrect login details or character limitation exceeded</p>
</li>
<li>
<p>Password validity has expired at DHL</p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Incorrect login details or character limitation exceeded</p>
</div>
<div class="paragraph">
<p>Check your login details in the plentymarkets back end. The interface requires fixed specifications that do not apply when logging in via the DHL website. The interface is more precise in this case: In many cases, the limitation of 20 characters for the password and/or user name has been exceeded or the user name has been written incorrectly. For example, upon registration, you enter your user name with an upper-case character as first character. DHL saves your user name with a lower-case character.</p>
</div>
<div class="paragraph subhead">
<p>Password validity has expired at DHL</p>
</div>
<div class="paragraph">
<p>The password validity for the user for the DHL back end is 90 days for admin users of the business customer portal. If the password is no longer valid, DHL will not display a separate error message in the plentymarkets back end that tells the user to change the password. Only the above mentioned error message will be displayed. This is different if you try to log into the DHL business customer portal. A message will be displayed that you have to change the password.</p>
</div>
<div class="paragraph">
<p>It might be useful to create a system user in the DHL back end. The password validity for system users is 365 days.</p>
</div>
<div class="paragraph">
<p>The new password must also be saved in the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in the plugin in the <strong>Setup » Orders » Shipping » DHL Shipping » Basic settings</strong> menu</p>
</li>
<li>
<p>in the interface configuration in the <strong>Setup » Orders » Shipping » Shipping service provider » DHL Intraship/Versenden</strong> menu</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="300">2.2. Code 1001: Der Nutzer des Webservice konnte nicht authentifiziert werden.</h3>
<div class="paragraph">
<p><code>Code 1001 : Der Nutzer des Webservice konnte nicht authentifiziert werden.</code></p>
</div>
<div class="paragraph">
<p>In the past, sellers who received this error message had to change their password in the DHL business customer portal since the password was no longer valid. If the password is no longer valid, DHL will not display a separate error message in the plentymarkets back end that tells the user to change the password. Only the above mentioned error message will be displayed. This is different if you try to log into the DHL business customer portal. A message will be displayed that you have to change the password.</p>
</div>
<div class="paragraph">
<p>The new password must also be saved in the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in the plugin in the <strong>Setup » Orders » Shipping » DHL Shipping » Basic settings</strong> menu</p>
</li>
<li>
<p>in the interface configuration in the <strong>Setup » Orders » Shipping » Shipping service provider » DHL Intraship/Versenden</strong> menu</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The password for the DHL back end is valid for 90 days (for admin users). DHL requires a new password after the duration of 90 days. The password for system users created in the DHL back end is valid for a duration of 365 days.</p>
</div>
</div>
<div class="sect2">
<h3 id="400">2.3. Code 1: Authorization Required or Code 1: Unauthorized</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXX: Authorization Required.</code></p>
</div>
<div class="paragraph">
<p>or</p>
</div>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXX: Unauthorized.</code></p>
</div>
<div class="paragraph">
<p>Make sure that the DHL Shipping (Versenden) plugin is in Productive mode and not in Test mode. To do so, go to <strong>Plugins » Plugin overview</strong>, click on the DHL Shipping (Versenden) plugin and select the setting <strong>Productive</strong> under <strong>Configuration</strong>.</p>
</div>
<div class="paragraph">
<p>The test mode is selected as a standard. This will allow that orders are registered in the sandbox environment (DHL developer portal) – you need separate access data for the developer portal. Once the productive mode is selected and saved, the orders registered with the live system.</p>
</div>
</div>
<div class="sect2">
<h3 id="500">2.4. Invalid XML: cvc-complex-type.2.4.d: Ungültiger Content wurde beginnend mit Element 'Shipment' gefunden.</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Invalid XML: cvc-complex-type.2.4.d: Ungültiger Content wurde beginnend mit Element 'Shipment' gefunden. An dieser Stelle wird kein untergeordnetes Element erwartet.</code></p>
</div>
<div class="paragraph">
<p>Sellers received this error message when they tried to register a large number of orders in the <strong>Orders » Shipping centre</strong> menu.</p>
</div>
<div class="paragraph">
<p>We recommend to set up a <a href="/en/automation/processes/setting-up-processes">process</a> with the procedure <a href="/en/automation/processes/procedures#430">shipping centre</a>. With this process, no further error message was displayed. Another possibility is to reduce the number of selected orders for the manual registration in the shipping centre.</p>
</div>
</div>
<div class="sect2">
<h3 id="510">2.5. Code: 1101 Das Recht zum Setzen dieses Attributes ist nicht ausreichend. Bitte wenden Sie sich an Ihren Kunden-Administrator.</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen.</code></p>
</div>
<div class="paragraph">
<p><code>Auftrag XXXX: Code: 1101 Das Recht zum Setzen dieses Attributes ist nicht ausreichend. Bitte wenden Sie sich an Ihren Kunden-Administrator.</code>
<code>Das Recht zum Setzen dieses Attributes ist nicht ausreichend. Bitte wenden Sie sich an Ihren Kunden-Administrator.</code></p>
</div>
<div class="paragraph">
<p>This error message is displayed when in case of an order with cash on delivery the bank details that were saved for the DHL Shipping plugin have not been saved as standard bank details in the DHL business customer portal. The order can be successfully registered if the bank details used for the DHL Shipping plugin correspond to the standard bank details saved in the business customer portal.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. Products, EKP, processes, subscription, billing numbers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this sub-chapter, you will find error messages related to products, EKP, processes, subscription and billing numbers as well as possible solutions.</p>
</div>
<div class="sect2">
<h3 id="700">3.1. Exception in extension function java.lang.RuntimeException: **productId cannot be mapped**</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen.	Exception in extension function java.lang.RuntimeException: <strong>productId cannot be mapped</strong>.</code></p>
</div>
<div class="paragraph">
<p>This error message indicates that no billing number which includes the productId was saved. Save the billing number:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>for the DHL Shipping plugin in the menu <strong>Setup » Orders » Shipping » DHL Shipping » Billing numbers</strong></p>
</li>
<li>
<p>for the interface integration DHL Intraship / Versenden in the menu <strong>Setup » Orders » Shipping » Settings » Tab: Shipping profiles</strong> in the table of shipping charges of the corresponding region of the DHL shipping profile</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="800">3.2. Exception in extension function java.lang.RuntimeException: productId **EXP/OFP** cannot be mapped</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Exception in extension function java.lang.RuntimeException: productId <strong>EXP/OFP</strong> cannot be mapped.</code></p>
</div>
<div class="paragraph">
<p><strong>DHL Paket</strong> and <strong>DHL Express</strong> are two different service providers.</p>
</div>
<div class="paragraph">
<p>DHL Intraship customers can use DHL Paket products as well as DHL Express products, e.g. OFP (Office Paket). Unfortunately, this is not possible any longer for customers of the business customer portal. They can only register DHL Paket products via the business customer portal.</p>
</div>
<div class="paragraph">
<p>Since plentymarkets still uses the DHL Intraship interface and our registered orders might be transferred to the business customer portal – according to the settings in the customer’s account – customers of the business customer portal receive the message that the registration could not be mapped.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">4. Shipping profiles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this sub-chapter, you will find error messages related to shipping profiles, as well as possible solutions.</p>
</div>
<div class="sect2">
<h3 id="1000">4.1. The combination of shipping profile ID xx and shipping region ID xx does not exist.</h3>
<div class="paragraph">
<p><code>The combination of shipping profile ID xxxx and shipping region ID xxxx does not exist.</code></p>
</div>
<div class="paragraph">
<p>In this case, no shipping setting could be found (<strong>Setup » Orders » Shipping » DHL Shipping » Shipping settings</strong>) that was created with the shipping profile in the order.</p>
</div>
<div class="paragraph">
<p>Check which shipping profile was selected for the plugin in the shipping settings.</p>
</div>
<div class="paragraph">
<p>In many cases, the “old“ DHL shipping profile was linked to the order. The settings, however, were created with the “new“ shipping profile for the DHL Shipping (Versenden) plugin.</p>
</div>
<div class="paragraph">
<p>If the shipping profile is consistent with the shipping profile in the order, check the region.</p>
</div>
<div class="paragraph">
<p>If it is not possible to select the region in the shipping profile of the shipping settings, the region in the table of shipping charges of the shipping profile must be checked. To do so, go to <strong>Setup » Orders » Shipping » Settings » Tab: Shipping profiles » Open shipping profile » Tab: Table of shipping charges</strong>. The following note <strong>must not</strong> be displayed:</p>
</div>
<div class="paragraph">
<p><code>Region not used in shipping profile. Save price to use region. Save and reload table of shipping charges to show shipping service provider settings.</code></p>
</div>
<div class="paragraph">
<p>Example of a region that is not used in the shipping profile:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/DHL_Portotabelle_Region.png" alt="DHL Portotabelle Region">
</div>
<div class="title">Figure 2. Region that is not used in the table of shipping charges of the shipping profile</div>
</div>
</div>
<div class="sect2">
<h3 id="1100">4.2. Ein interner Fehler ist aufgetreten</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Ein interner Fehler ist aufgetreten!</code></p>
</div>
<div class="paragraph">
<p>Check whether the region is activated in the table of shipping charges of the shipping profile.</p>
</div>
<div class="paragraph">
<p>Example of a region that is not used in the shipping profile:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/DHL_Portotabelle_Region.png" alt="DHL Portotabelle Region">
</div>
<div class="title">Figure 3. Region that is not used in the table of shipping charges of the shipping profile</div>
</div>
</div>
<div class="sect2">
<h3 id="1200">4.3. Keine gültigen Versandprofile vorhanden: SystemShippingController</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Keine gültigen Versandprofile vorhanden: SystemShippingController</code></p>
</div>
<div class="paragraph">
<p>Check whether the correct shipping service provider was selected in the <strong>Setup » Orders » Shipping » Settings » Tab: Shipping service provider</strong> menu. The corresponding data can only be loaded if this is the case.</p>
</div>
<div class="paragraph">
<p>When you have a look at the table of shipping charges, one would recognise that DHL-specific data cannot be entered since the fields such as DHL billing number and DHL services are not available.</p>
</div>
</div>
<div class="sect2">
<h3 id="1300">4.4. Bitte Dateneingabe prüfen. unknown</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. unknown</code></p>
</div>
<div class="paragraph">
<p>Unfortunately, this error message is very imprecise and could have different causes:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>First, check the billing number in the table of shipping charges.
Maybe you deleted a billing number that still is to be retrieved in the shipping profile?</p>
</li>
<li>
<p>If the order is an export delivery that exceeds the value of EUR 1,000, the message <code>unknown</code> is displayed as well.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>One of our customers informed us that the following information is displayed at Intraship:</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">5. Address data, Shipper/Receiver</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this sub-chapter, you will find error messages related to address data (shipper/receiver), as well as possible solutions.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">6. Invalid fieldlength in element ‘Note’. Please refer to documentation.</h2>
<div class="sectionbody">
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Invalid fieldlength in element 'Note'. Please refer to documentation.</code></p>
</div>
<div class="paragraph">
<p>The interface limits the field <code>Note</code> to 50 characters. This field is used if too many characters have been used for the house number (more than 7) or if an additional address information has been saved.
You have to correct the data in the delivery address, for example.</p>
</div>
<div class="sect2">
<h3 id="1600">6.1. The Customer ID Number is invalid. Please check Customer ID Number. Your order could not be processed.</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXXX: The Customer ID Number is invalid. Please check the Customer ID Number. Your order could not be processed Your order could not be processed.</code></p>
</div>
<div class="paragraph">
<p>The “Postnummer“ in the delivery address is not correct or does not correspond to the customer’s data. Ask your customer for the correct data. Upon validation, DHL also checks the address that must be identical.</p>
</div>
</div>
<div class="sect2">
<h3 id="1700">6.2. Invalid value in element ‘germany’</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Invalid value('3411') in element 'germany'. oder auch Invalid value('DE-34117') in element 'germany'.</code></p>
</div>
<div class="paragraph">
<p>or</p>
</div>
<div class="paragraph">
<p><code>Auftrag XXXXXX: Hard validation error occured., Es handelt sich um eine ungültige Postleitzahl. Bitte verwenden Sie das Format 99999.</code></p>
</div>
<div class="paragraph">
<p>An invalid postcode is saved in the delivery address (in our example for Germany). The interface expects 5 digits. Additional entries such as "DE" are not allowed by the interface.
Messages for other countries would be displayed accordingly.</p>
</div>
<div class="paragraph">
<p>You can search for the invalid postcode in the <strong>Orders » Edit orders</strong> menu in the <strong>Customer data</strong> field.</p>
</div>
</div>
<div class="sect2">
<h3 id="1800">6.3. Hard validation error occured., Bitte geben Sie einen Ort / Name 1 / Postleitzahl / Straße / Hausnummer / Telefonnummer an.</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXXX: Hard validation error occured, Bitte geben Sie einen Ort an. Bitte geben Sie Name 1 an. Bitte geben Sie eine Postleitzahl an. Bitte geben Sie eine Straße an. Bitte geben Sie eine Hausnummer an.</code></p>
</div>
<div class="paragraph">
<p>or</p>
</div>
<div class="paragraph">
<p><code>Hard validation error occured, Bitte geben Sie eine gültige Telefonnummer an.</code></p>
</div>
<div class="paragraph">
<p>If one of the above listed messages is displayed more than once, it indicates that missing or incorrect data might have been saved in the <strong>Setup » Orders » Shipping » Service provider » DHL Intraship/Versenden</strong> menu.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/DHL_Absenderdaten_Intraship_Versenden.png" alt="DHL Absenderdaten Intraship Versenden">
</div>
<div class="title">Figure 4. Recipient data in the <strong>Setup » Orders » Shipping » Service providers » DHL Intraship/Versenden</strong></div>
</div>
<div class="paragraph">
<p>If no error is “visible“, an invisible control character might be the cause. This is often unconsciously added with copy and paste. Thus, delete this control character. It might be necessary to enter the value once again.</p>
</div>
<div class="paragraph">
<p>If one of the above listed messages is displayed only once, check the recipient data in the order.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1900">7. Export deliveries</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this sub-chapter, you will find error messages related to export deliveries, as well as possible solutions.</p>
</div>
<div class="sect2">
<h3 id="2000">7.1. Hard validation error occured., Die Gewichtsangabe ist kleiner als im CN23-Formular.</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXXX: Hard validation error occured., Die Gewichtsangabe ist kleiner als im CN23-Formular.</code></p>
</div>
<div class="paragraph">
<p>This error message is displayed when export deliveries that should be registered with DHL Versenden have an item position with a quantity &gt; 1. Unfortunately, DHL maps the data in a different way via the current interface to Versenden. This is why the weight cannot be saved correctly.</p>
</div>
<div class="paragraph">
<p>We have informed DHL about that problem several times, but we were not able to find a common solution.</p>
</div>
<div class="paragraph">
<p>With the <a href="https://marketplace.plentymarkets.com/plugins/integration/DHLShipping_4871" target="_blank" rel="noopener">DHL Shipping (Versenden) plugin</a> which only works with plentymarkets version 7 such as all plugins, this problem no longer occurs.</p>
</div>
<div class="paragraph">
<p>If you still use the interface and DHL Intraship, registering orders with your DHL Intraship access data is still possible and the above mentioned error message will not be displayed.</p>
</div>
</div>
<div class="sect2">
<h3 id="2100">7.2. Bitte geben Sie eine Anzahl / Beschreibung / Warenwert / Gewicht / Art der Sendung an. Die angegebene Art der Sendung ist nicht gültig.</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXXX: Hard validation error occured., Bitte geben Sie die Anzahl an., Bitte geben Sie die Beschreibung an., Bitte geben Sie den Warenwert an., Bitte geben Sie das Gewicht an., Bitte geben Sie das Gewicht an., Bitte geben Sie die Art der Sendung an., Die angegebene Art der Sendung ist nicht gültig.</code></p>
</div>
<div class="paragraph">
<p>In this case, information is missing which is relevant for export deliveries. In most cases, this is due to the fact that no prior registration of the CN23 form is possible. (Prior registration means that plentymarkets transfers the item data to DHL in advance. This is mandatory in case of export deliveries.)</p>
</div>
<div class="paragraph">
<p>The reason why this is not possible is mostly because of the special regions located in the countries of delivery: They must be treated differently for customs reasons, but belong to a country of the European Union that does not require export documents. An example for such a region in Germany is the island Helgoland and in Spain the Canary Islands.</p>
</div>
<div class="paragraph">
<p>Activate the corresponding country of delivery in the <strong>Setup » Orders » Shipping » Settings » Tab: Countries of delivery</strong> menu, assign it to a region in the <strong>Region</strong> tab and change the country of delivery in the order. This way the missing data can be transferred and the order registration process can be continued.</p>
</div>
<div class="paragraph">
<p>If you use the DHL plugin, the error message could also be displayed because of the deployed plugin version: It is not possible to register export deliveries with the DHL plugin version older than 1.3.0. Therefore, you must use plugin version 1.3.0 at least to register export deliveries. In order to check which plugin version you use, go to <strong>Plugins » Plugin overview</strong> and have a look at the value that is displayed in the <strong>Version active</strong> column.</p>
</div>
<div class="paragraph">
<p>Screenshot from the test system:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/DHL_plugin_overview_version.png" alt="DHL plugin overview version">
</div>
<div class="title">Figure 5. Plugin-overview version</div>
</div>
<div class="paragraph">
<p>Make sure that you select one option each in the drop-down lists <strong>Postage for export shipping</strong> and <strong>Type of shipment</strong> in the menu <strong>Setup » Orders » Shipping » DHL Shipping » Shipping settings</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="2200">7.3. incoterms, origin country code, export document missing, weight for packages, terms of trade, shipment weight may not be smaller than 0.1 kg, valid type of shipment, quantity of goods / description of goods / country of origin / value of goods, exportdoc position</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXX: The current incoterms are not included in the list of the available incoterms., The current origin country code is not included in the list of the available countries., Export document is missing., Your order could not be processed Your order could not be processed , Please enter weight for the packages, Terms of Trade have not been selected., The shipment weight may not be smaller than 0.1 kg for this product code., The shipment weight may not be smaller than 0.1 kg for this product code., Please select a valid type of shipment., Please enter quantity of goods., Please enter a description of goods., Please enter the country of ofigin., Please enter value of goods., Please add an exportdoc position.</code></p>
</div>
<div class="paragraph">
<p>The error message contains “incoterms” and “origin country”. This error message from DHL says that the order is an export delivery and that information for the customs are missing. This can have two causes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Information such as the customs tariff number and/or country of origin of the product is missing for the items.</p>
</li>
<li>
<p>A “wrong“ country is used in the delivery address. This is why the data from 1. – although available – is not transferred to DHL. This could be the case, e.g. if the items should be shipped to the Canary Islands, but Spain was selected as the country of delivery.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="2300">7.4. Invalid fieldlength: InvoiceDate</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Invalid fieldlength: InvoiceDate</code></p>
</div>
<div class="paragraph">
<p>When registering export deliveries, it is required for the prior registration of the items that an invoice has been created for the order to fill the mandatory field <strong>InvoiceDate</strong>. This error message appears if this is not the case.</p>
</div>
<div class="paragraph">
<p>“Prior registration“ means that plentymarkets transfers the item data to DHL in advance. This is mandatory in case of export deliveries.</p>
</div>
</div>
</div>
</div>
</main>