<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_processing_data"><span>1.</span><span> Processing data</span></a></li>
<li><a href="#_importing_data_with_the_new_elasticsync"><span>2.</span><span> Importing data with the new ElasticSync</span></a>
<ul class="sectlevel2">
<li><a href="#_matching"><span>2.1.</span><span> Matching</span></a></li>
<li><a href="#_import_options"><span>2.2.</span><span> Import options</span></a></li>
<li><a href="#_creating_a_mapping"><span>2.3.</span><span> Creating a mapping</span></a></li>
<li><a href="#_assigning_data_fields"><span>2.4.</span><span> Assigning data fields</span></a></li>
<li><a href="#_testing_and_running_a_sync"><span>2.5.</span><span> Testing and running a Sync</span></a></li>
<li><a href="#_the_result_in_the_structure_manager"><span>2.6.</span><span> The result in the structure manager</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Adjusting storage locations</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>These Best Practices will demonstrate how to import data with the new ElasticSync. Before using these Best Practices to transfer data, familiarise yourself with the functions of the <a href="https://knowledge.plentymarkets.com/en/data/exporting-data/FormatDesigner">FormatDesigner</a> and the <a href="https://knowledge.plentymarkets.com/en/data/exporting-data/elastic-export">Elastic Export</a> and read the corresponding manual pages.<br></p>
</div>
<div class="paragraph">
<p>In the following section we will show you how to import data with ElasticSync.<br></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_processing_data">1. Processing data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The CSV file that has been created via Elastic Export can be opened in a spreadsheet programme.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/csv-file-data-unprocessed.png" alt="csv file data unprocessed">
</div>
<div class="title">Bild 1. CSV file data unprocessed</div>
</div>
<div class="paragraph">
<p>The data fields level, label, purpose, status, position, type and notes can be imported.<br></p>
</div>
<div class="paragraph">
<p>In this example the values of the position and of the notes have been changed.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/csv-file-data-processed.png" alt="csv file data processed">
</div>
<div class="title">Bild 2. CSV file data processed</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_importing_data_with_the_new_elasticsync">2. Importing data with the new ElasticSync</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the following section we will exemplarily create a Sync of the type Warehouse.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » ElasticSync New</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Click on <strong>Add Sync</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-settings-elasticsync">Tabelle 1</a>.
<strong>Save</strong> the settings.<br>
→ The Sync has been saved.</p>
</li>
</ol>
</div>
<table id="table-settings-elasticsync" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Add Sync</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Settings</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the Sync</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which data fields can be assigned to the import data. In this example we use the type Warehouse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Data type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">So far, CSV is the only available data type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The separator separates the different data types. Here, we use the separator semicolon.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The CSV file is deposited in the source.
In this example we use the data upload, which will soon be available as own option field.</p></td>
</tr>
</tbody>
</table>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/type-selection.png" alt="type selection">
</div>
<div class="title">Bild 3. Type selection</div>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/separator.png" alt="separator">
</div>
<div class="title">Bild 4. Separator</div>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/source.png" alt="source">
</div>
<div class="title">Bild 5. Source</div>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/overview-basic-data.png" alt="overview basic data">
</div>
<div class="title">Bild 6. Overview basic data</div>
</div>
<div class="paragraph">
<p>We use a local CSV file for the data upload. In this case, we select HTTP as source and data upload as HTTP option.
In order to open the file manager click on <strong>Select file</strong>.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/file-upload.png" alt="file upload">
</div>
<div class="title">Bild 7. File upload</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In order to provide a new file, click on <strong>Upload file</strong>.</p>
</li>
<li>
<p>Select the CSV file from the file manager.</p>
</li>
<li>
<p>Click on <strong>Open</strong>.<br>
→ The file is saved under My files.</p>
</li>
<li>
<p>Set the check mark and select the file.<br>
→ The file is loaded into the source directory.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/select-file.png" alt="select file">
</div>
<div class="title">Bild 8. Select file</div>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/load-file-in-source-directory.png" alt="load file in source directory">
</div>
<div class="title">Bild 9. Load file in source directory</div>
</div>
<div class="sect2">
<h3 id="_matching">2.1. Matching</h3>
<div class="paragraph">
<p>For the matching, the data have to be determined and assigned. This enables to find out which data of the file correspond to which data in plentymarkets.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/matching.png" alt="matching">
</div>
<div class="title">Bild 10. Matching</div>
</div>
<div class="paragraph">
<p>With the matching you determine by which data it is examined whether a data set already exists.
In this example we use the Warehouse Location ID for the matching.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/select-matching.png" alt="select matching">
</div>
<div class="title">Bild 11. Select matching</div>
</div>
</div>
<div class="sect2">
<h3 id="_import_options">2.2. Import options</h3>
<div class="paragraph">
<p>Here is specified whether only new data, only existing data or both data types should be imported.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/import-options.png" alt="import options">
</div>
<div class="title">Bild 12. Import options</div>
</div>
<div class="paragraph">
<p><strong>Save</strong> the settings.</p>
</div>
</div>
<div class="sect2">
<h3 id="_creating_a_mapping">2.3. Creating a mapping</h3>
<div class="paragraph">
<p>In the mapping, the imported data are assigned to the plentymarkets data fields.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/mapping.png" alt="mapping">
</div>
<div class="title">Bild 13. Mapping</div>
</div>
<div class="paragraph">
<p>At first a mapping needs to be created.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the field <strong>Mapping</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Click on the plus <strong>Add mapping.</strong></p>
</li>
<li>
<p>Select a name.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The mapping has been created.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_assigning_data_fields">2.4. Assigning data fields</h3>
<div class="paragraph">
<p>The data to be imported have to be assigned to the plentymarkets data fields.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>+Field</strong>.<br>
→ The overview of the import data and of the plentymarkets data fields opens.</p>
</li>
<li>
<p>Click in the field <strong>Target</strong> and select the corresponding data field.</p>
</li>
<li>
<p>Click on <strong>Activate row</strong> to activate the import data.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/assign-data-fields.png" alt="assign data fields">
</div>
<div class="title">Bild 14. Assign data fields</div>
</div>
<div class="paragraph">
<p>Click on <strong>Preview</strong> to display the changes of the first few rows.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/preview.png" alt="preview">
</div>
<div class="title">Bild 15. Preview</div>
</div>
</div>
<div class="sect2">
<h3 id="_testing_and_running_a_sync">2.5. Testing and running a Sync</h3>
<div class="paragraph">
<p>With click on <strong>Test sync</strong> it is checked whether the entries lead to a successful process of the sync.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/test-sync.png" alt="test sync">
</div>
<div class="title">Bild 16. Test sync</div>
</div>
<div class="paragraph">
<p>With click on <strong>Run sync</strong> the sync is started and loaded into the queue.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/run-sync.png" alt="run sync">
</div>
<div class="title">Bild 17. Run sync</div>
</div>
</div>
<div class="sect2">
<h3 id="_the_result_in_the_structure_manager">2.6. The result in the structure manager</h3>
<div class="paragraph">
<p>In the structure manager the result is displayed as follows.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/assets/display-in-structure-manager.png" alt="display in structure manager">
</div>
<div class="title">Bild 18. Display in structure manager</div>
</div>
</div>
</div>
</div>
</main>