<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Warehouse basics</span></a></li>
<li><a href="#20"><span>2.</span><span> Determining dimensions</span></a></li>
<li><a href="#30"><span>3.</span><span> Creating storage locations</span></a></li>
<li><a href="#40"><span>4.</span><span> Optimising the pick path</span></a>
<ul class="sectlevel2">
<li><a href="#50"><span>4.1.</span><span> Pick path example 1:</span></a></li>
<li><a href="#60"><span>4.2.</span><span> Pick path example 2:</span></a></li>
</ul>
</li>
<li><a href="#70"><span>5.</span><span> Creating storage location labels</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Practical example: Setting up a warehouse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In this practical example we are going to show you everything you need to know about setting up a warehouse, including defining dimensions, creating storage locations, optimising pick paths and creating storage location labels.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Warehouse basics</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The bigger your warehouse and the more items stored in it, the more important it is to have a clear structure to provide optimal guidance for your storekeepers and to store your items on the best possible spot of the warehouse.
For this you need a warehouse structure that is tailored to your warehouse, consisting of dimensions and storage locations, and a pick path tailored to your warehouse.<br>
Note that it is useful to invest a little more time in the planning of the warehouse structure and the pick path so that the structure is also prepared for possible extensions of your warehouse. Thus, you should for example be aware of the amount of dimensions.
In the following, we will show you how to provide your warehouse with storage locations and dimensions.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Determining dimensions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In a first step you will determine dimensions.
 Dimensions are the designations for the structure elements of a warehouse. Suppose a warehouse consists of 2 storage buildings with 16 racks each. These racks in turn contain four shelves and on each of these shelves are four storage locations where the items are stored.
Graphically, this could look like the following:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/storage-buildings-1-and-2.png" alt="storage buildings 1 and 2">
</div>
<div class="title">Figure 1. View of storage buildings from above</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/two-racks.png" alt="two racks">
</div>
<div class="title">Figure 2. Front view of racks</div>
</div>
<div class="paragraph">
<p>For the dimensions, a storage building, racks and shelves are needed. The storage locations are not dimensions.
Since the storage building is the largest dimension in this case, it has top priority. The second largest dimension is the rack and is therefore in second place and the shelf in third place.
By placing a check mark for <strong>Display in name</strong>, the dimension abbreviations will be displayed in the storage location name when you create new storage locations. You can also select the option <strong>Include position for pick path</strong>. This will allow you to specify whether the dimensions are to be taken into account for the pick path.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Items on several storage locations</div>
<div class="paragraph">
<p>In case an item is stored on several storage locations, the position helps assigning the correct storage location.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/preview-storage-location-name.png" alt="preview storage location name">
</div>
<div class="title">Figure 3. Dimension settings</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">At least one dimension required</div>
<div class="paragraph">
<p>At least one dimension is always required. Storage locations cannot be created without dimensions.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Once the dimensions are prepared, they have to be saved.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Creating storage locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To create storage locations, go to Storage locations. There are no storage locations visible because none have been created yet. You can create a new storage location by clicking on <strong>Add storage location</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>). In case the button is disabled, the dimensions have not been saved yet.
A tab will open, in which you can determine how many storage buildings there are in the warehouse, how many racks there are in each storage building and how many shelves should be in each rack. You can now determine the number of storage locations per shelf. If required, you can change the English storage location abbreviation SL. For the storage location and all dimensions that have a check mark for <strong>Include position for pick path</strong>, you can determine the start position for the pick path optimisation. In this case we start with 1. Then click on <strong>Generate storage locations</strong> and the preview of the new storage locations will be displayed.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/add-storage-location.png" alt="add storage location">
</div>
<div class="title">Figure 4. Add storage location</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/overview-dimensions.png" alt="overview dimensions">
</div>
<div class="title">Figure 5. Determining the warehouse structure</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/preview-storage-locations.png" alt="preview storage locations">
</div>
<div class="title">Figure 6. Preview storage locations</div>
</div>
<div class="paragraph">
<p>The dimensions (storage building, rack, shelf) have now become levels (SB1, R1, S1) and make the path become a concrete storage location (SL1). If the preview meets your expectations, the storage locations can be generated.
Depending on the number of storage locations, this can take some time and happens in the background. Once all storage locations have been generated, a confirmation message is displayed and the tab can be updated by using the button (see screenshot).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/overview-storage-locations.png" alt="overview storage locations">
</div>
<div class="title">Figure 7. Generating storage locations</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/update-button.png" alt="update button">
</div>
<div class="title">Figure 8. Update view</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Optimising the pick path</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are a few things to keep in mind when determining a pick path.  First of all, the highest dimension has priority. If, for example, you have the dimensions storage building, rack and shelf, the storage building is taken into account first, then the rack and finally the shelf and the storage locations. While the latter are always included in the pick path, for the dimensions you can define as to whether they should be taken into account.
The following two examples are intended to illustrate possible pick paths.</p>
</div>
<div class="sect2">
<h3 id="50">4.1. Pick path example 1:</h3>
<div class="paragraph">
<p>In this example, the storage building is the largest dimension, followed by the rack, the shelves and the storage locations. The assigned positions determine the sequence of the pick path. This means that the racks and shelves are not walked down by number, but always by position. In this example however, the shelves do not have a position and are therefore not considered in the pick path.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/storage-buildings-pick-path.png" alt="storage buildings pick path">
</div>
<div class="title">Figure 9. View of a warehouse from above</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/pick-path-example-1.png" alt="pick path example 1">
</div>
<div class="title">Figure 10. Possible pick path; front view of warehouse racks</div>
</div>
</div>
<div class="sect2">
<h3 id="60">4.2. Pick path example 2:</h3>
<div class="paragraph">
<p>In this example, the storage building contains two racks, each with five shelves. The positions in brackets determine the pick path, which means that, here, the shelves are walked down one after the other, beginning in rack 1.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/pick-path-example-2.png" alt="pick path example 2">
</div>
<div class="title">Figure 11. Possible pick path; front view of warehouse racks</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Assigning pick path positions without considering dimensions</div>
<div class="paragraph">
<p>It may be useful to assign pick path positions without considering the dimensions so that you only assign them on the level of the storage locations. To do so, either remove the check mark or set all positions of the dimensions to the value 1. Even though the structure is lost by doing so and a higher effort is necessary due to the high position values and the need to change those values when inserting storage locations in between, there is indeed an advantage. This option enables maximum flexibility so you can for example create a picking zone on the lowest level of high racks or preferentially treat specific storage locations.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. Creating storage location labels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To create a storage location label, go to <strong>Setup » Stock » Warehouse</strong> and first open the warehouse and then the storage locations.
Select the storage locations and click on <strong>Print</strong>. This will create a PDF file for all highlighted storage locations.
Alternatively, you can also go to the <strong>Adjust setup</strong> view to create labels for all storage locations of a selected dimension. By clicking on <strong>Print</strong> a PDF file for all storage locations that are located in the highlighted dimension (and sub-dimensions) is created.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/highlighted-storage-locations.png" alt="highlighted storage locations">
</div>
<div class="title">Figure 12. Selected storage locations</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/drucken-button.png" alt="drucken button">
</div>
<div class="title">Figure 13. Printing storage location labels</div>
</div>
<div class="paragraph">
<p>The printout may look like this:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/label.png" alt="label">
</div>
<div class="title">Figure 14. Example of storage location label</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Make sure the storage location name is not too long. Otherwise it may not fit on the label.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>If you want to change the labels, you can do so in the <strong>Setup » Stock » Warehouse » Warehouse selection » Label</strong> menu. In this section you can adjust the settings and design the labels so they suit your needs.</p>
</div>
</div>
</div>
</main>