<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>SEO in plentymarkets</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph subhead">
<p>Umfangreicher Guide für die Sichtbarkeit deines Webshops in den Suchmaschinen</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10"><strong>Die Suchmaschinenoptimierung</strong></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Suchmaschinenoptimierung oder Search Engine Optimization (SEO) ist ein Fachbegriff für Methoden, die dazu dienen, Webseiten bei Eingabe entsprechender Suchbegriffe auf den Ergebnisseiten von Suchmaschinen möglichst weit vorne zu platzieren.</p>
</div>
<div class="paragraph">
<p>Untersuchungen haben gezeigt, dass fast 90% der Nutzerinnen und Nutzer von Suchmaschinen nur die erste Seite einer Ergebnisliste anschauen. Dabei richtet sich die Aufmerksamkeit hauptsächlich auf die ersten wenigen Einträge. Das bedeutet, dass du es schaffen musst, deinen Webshop genau dort zu platzieren, wo er von den meisten NutzerInnen gefunden wird.</p>
</div>
<div class="paragraph">
<p>Dieser Guide aus Tipps, Anleitungen und Best Practices dient als Anregung und Hilfestellung, wenn du eine spezifische Frage hast und noch ganz am Anfang der Suchmaschinenoptimierung stehst. Dein Ziel kann hierbei sein, deinen Content wie z. B. deine Artikel von Suchmaschinen besser crawlen und indexieren zu lassen, deine aktuelle URL-Struktur zu überdenken oder mithilfe einer umfangreichen Keyword-Recherche relevante Inhalte zu erstellen oder zu verbessern.</p>
</div>
<div class="paragraph">
<p>In der klassischen Suchmaschinenoptimierung wird zwischen der Onpage-Optimierung und der Offpage-Optimierung unterschieden.</p>
</div>
<div class="paragraph">
<p><strong>Onpage-Optimierung</strong> Die Onpage-Optimierung ist ein wesentlicher Faktor zur Suchmaschinenoptimierung (SEO) deines Webshops. Hierbei stehen im Wesentlichen die Inhalte (Contents) deines Webshops im Fokus. Relevant bei dieser SEO-Disziplin ist die Positionierung von relevanten Inhalten an den verschiedenen Stellen auf deiner Seite – beispielsweise in der URL, dem Seitentitel, in der Meta-Description oder der Platzierung von Unique Content in Form von Blog-Beiträgen oder Content-Seiten.</p>
</div>
<div class="paragraph">
<p>Es geht dabei um die geschickte Platzierung bzw. Positionierung der textlichen Inhalte mit dem Ziel, dass diese Inhalte anhand von Schlüsselwörtern, den Keywords, durch Suchmaschinen gefunden und in entsprechenden Listings möglichst weit vorne platziert werden.</p>
</div>
<div class="paragraph">
<p><strong>Offpage-Optimierung</strong> Im Gegensatz zur Onpage-Optimierung geht es bei der Offpage-Optimierung um den Aufbau der Linkpopularität bzw. Backlinkgewinnung und weniger um direkte Änderungen am Online-Shop selbst. Backlinks sind für Suchmaschinen eine Empfehlung von Webmastern. Mit hoher Wahrscheinlichkeit fließen Backlinks mit starker Gewichtung in das Suchmaschinenranking ein. Ziel ist es also, empfehlenswerten Inhalt zu erstellen, der von anderen Webmastern oder über Soziale Medien geteilt wird.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Kontinuierlich optimieren</strong></div>
<div class="paragraph">
<p>SEO ist keine einmalige Angelegenheit. Optimierungsmaßnahmen sind nicht nach einer Durchführung abgeschlossen, sondern müssen kontinuierlichen fortgeführt werden. Dies ist vergleichbar mit dem dauernden Bemühen eines Dienstleisters um Aufträge, wozu verschiedene Maßnahmen auf verschiedenen Kanälen nötig sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20"><strong>HTML- und Quelltext-Auszeichnung</strong></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wichtige textliche und grafische Inhalte in einem Online-Shop werden durch HTML-Dokumente definiert.  Ein HTML-Dokument gliedert sich in die beiden Bereiche Head und Body. Im Head-Bereich eines Dokuments bzw. Webshops werden der Seitentitel, wichtige Meta-Angaben, Canonical Tags sowie Style-Angaben platziert. Die sichtbaren Inhalte, also der Text, Bilder und Grafiken, gehören in den Body-Bereich.</p>
</div>
<div class="paragraph">
<p><strong>HTML-Elemente und Metadaten</strong> Es gibt unzählige HTML-Elemente und Metadaten, die in einem HTML-Dokument hinzugefügt werden können. Die meisten dieser Auszeichnungen haben heutzutage jedoch für die Suchmaschinenoptimierung keine Bedeutung mehr. Das prominenteste Beispiel sind die Meta-Keywords, die von Suchmaschinen gar nicht mehr berücksichtigt werden und somit keinerlei positiven oder negativen Einfluss auf das Ranking haben.</p>
</div>
<div class="paragraph">
<p><strong>HTML-Title und Meta-Description</strong> Zu den bekanntesten und nach wie vor wichtigsten HTML-Elementen einer Webseite zählen u. a. der Seitenname (Seitentitel) und die Beschreibung (Meta-Description). Der HTML-Titel wird im Head-Bereich platziert und hat für die Suchmaschinenoptimierung enorme Bedeutung. Suchmaschinen werten den Titel als wichtiges Signal für den Inhalt eines Webshops. Der Titel sollte deshalb perfekt auf den Inhalt abgestimmt, relevant und vor allem mit wichtigen Keywords angereichert sein. Die optimale Länge des Titels liegt zwischen 200 und 480 Pixeln bzw. 30 und 65 Zeichen.</p>
</div>
<div class="paragraph">
<p>Die Meta-Description fließt zwar nicht aktiv ins Suchmaschinenranking mit ein, ist aber durch die Anzeige im Snippet (Vorschautext des Suchmaschinenergebnisses in den Suchmaschinen) ein wichtiger Indikator für das Klickverhalten des Suchenden. Die Meta-Description sollte deshalb zum Klicken animieren und möglichst viele relevante und wichtige Informationen beinhalten. Die optimale Länge der Beschreibung liegt zwischen 400 und 930 Pixeln bzw. 70 und 155 Zeichen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Einstellungen in plentymarkets vornehmen</div>
<div class="paragraph">
<p>Die Einstellungen zu den Metadaten findest du unter <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» SEO&nbsp;» Metadaten</strong>.<br>
Auf Seitenebene (Kategorien) unter <strong>Artikel&nbsp;» Kategorien&nbsp;» Einstellungen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30"><strong>Seitentitel individuell definieren</strong></h3>
<div class="paragraph">
<p>Das umfangreiche plentymarkets System erlaubt das Definieren von individuellen Seitentiteln. Du entscheidest, wie die Titel von Artikeln sowie jene von Kategorien definiert werden. Du kannst z. B. wählen, ob der Titel aus <strong>Name 1</strong> kommt und diverse Variablen oder Freitextfelder enthalten soll.</p>
</div>
<div class="paragraph">
<p>Hier soll der Seitentitel aus <strong>Name 1</strong>, <strong>Hersteller</strong>, einigen manuell eingefügten Texten und unserem Shopnamen bestehen. Unser Beispielprodukt "Ledersessel Berlin Calling" vom Hersteller "Exclusive Leather" soll mit folgendem Seitentitel ausgezeichnet werden: "Ledersessel Berlin Calling von Exclusive Leather bei plentymarkets SEO Testshop kaufen".</p>
</div>
<div class="paragraph subhead">
<p>Seitentitel für Artikel definieren</p>
</div>
<div class="paragraph">
<p>Für die individuelle Ausgabe der Seitentitel werden globale Variablen benötigt. Da wir etwas in den Title Tag schreiben möchten, der sich im Header befindet, der wiederum im Template <strong>PageDesignContent</strong> definiert wird, stehen die Artikel-Platzhalter dort nicht zur Verfügung. Wir nutzen die globalen Variablen, um die Werte zu erhalten. Wir fügen z. B. <strong>Name1</strong> und <strong>ItemProducer</strong> in das Template <strong>SingleItemView</strong> (Einzelartikelansicht) ein.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">{# Als erstes definieren wir die globalen Platzhalter in PageDesignPrepareMainColumn: #}
&#123;&#37; SetGlobal("Name1", "") &#37;&#125;
&#123;&#37; SetGlobal("ItemProducer", "") &#37;&#125;

{# Dann setzen wir die globalen Platzhalter in ItemViewSingleItem: #}
&#123;&#37; SetGlobal("Name1", $Name[1]) &#37;&#125;
&#123;&#37; SetGlobal("ItemProducer", $Producer) &#37;&#125;

{# Und zum Schluss definieren wir den Title im Header in PageDesignContent: #}
&#123;&#37; if $CurrentItemId &#37;&#125;
	&lt;title&gt;&#123;&#37; GetGlobal("Name1") &#37;&#125; von &#123;&#37; GetGlobal("ItemProducer") &#37;&#125; bei $WebstoreName kaufen&lt;/title&gt;
&#123;&#37; else &#37;&#125;
	&lt;title&gt;$HtmlMetaTitle&lt;/title&gt;
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>+
In unserem Beispiel verwenden wir die beiden Platzhalter <strong>Name1</strong> und <strong>ItemProducer</strong>. Du kannst auch andere Platzhalter nutzen. Unser Seitentitel sieht wie folgt aus: "Ledersessel Berlin Calling von Exclusive Leather bei plentymarkets SEO Testshop kaufen"</p>
</div>
<div class="paragraph">
<p>Der Platzhalter <strong>WebStoreName</strong> wird unter <strong>Einrichtung » Mandant » Mandant wählen » Einstellungen</strong> unter <strong>Name</strong> festgelegt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/webshop-einrichten/_cms-syntax/fallbeispiele/assets/individueller-seitentitel-artikel.png" alt="Individueller Seitentitel bei Artikeln definieren">
</div>
<div class="title">Figure 1. Quelltext des Artikels Ledersessel Berlin Calling nach der Implementierung des Codes</div>
</div>
<div class="paragraph">
<p>+</p>
</div>
<div class="paragraph subhead">
<p>Seitentitel für Kategorien definieren</p>
</div>
<div class="paragraph">
<p>plentymarkets schreibt als Standardeinstellung automatisch den Kategorienamen als Seitentitel, wenn kein individueller Titel festgelegt wird. Folgenden Code nutzt du, um zu definieren, dass das System einen von dir festgelegten Standardtitel verwendet, wenn kein individueller Titel gesetzt ist.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">{# Wir ergänzen im Title in PageDesignContent folgenden Code: #}
&#123;&#37; if $CurrentItemId &#37;&#125;
	&lt;title&gt;&#123;&#37; GetGlobal("Name1") &#37;&#125; von &#123;&#37; GetGlobal("ItemProducer") &#37;&#125; bei $WebstoreName kaufen&lt;/title&gt;
&#123;&#37; elseif $CurrentCategoryName==$HtmlMetaTitle &#37;&#125;
	&lt;title&gt;Schicke $HtmlMetaTitle bei $WebstoreName kaufen&lt;/title&gt;
&#123;&#37; else &#37;&#125;
	&lt;title&gt;$HtmlMetaTitle&lt;/title&gt;
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>+
In diesem Beispiel wird der Seitentitel aus dem Kategorienamen und dem Webstorenamen definiert: "Schicke Sessel bei plentymarkets SEO Testshop kaufen"</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/webshop-einrichten/_cms-syntax/fallbeispiele/assets/individueller-seitentitel-kategorien.png" alt="Individueller Seitentitel bei Kategorien definieren">
</div>
<div class="title">Figure 2. Quelltext der Kategorie <strong>Wohnzimmer » Sessel</strong> nach der Implementierung des Codes</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40"><strong>Website-Struktur: URLs und Navigation</strong></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine URL (Uniform Resource Locator) ist die Adresse einer Webseite oder einer Datei auf einem Server. In plentymarkets wird für jeden Artikel eine URL-Adressierung erzeugt, damit jeder Artikel anhand der URL eindeutig und sicher gefunden werden kann.</p>
</div>
<div class="paragraph">
<p>Damit du das nötige Hintergrundwissen für die Grundeinstellungen der URLs hast, folgen nun einige Basisinformationen zu diesem Bereich.</p>
</div>
<div class="paragraph">
<p><strong>Bestandteile einer URL</strong> Eine URL besteht aus folgenden Elementen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Schema → z. B. https://</p>
</li>
<li>
<p>Domain → z. B. www.plentymarkets.eu</p>
</li>
<li>
<p>Pfadangabe → z. B. /handbuch/cms-syntax/fallbeispiele/seo-guide/</p>
</li>
<li>
<p>Dateiname → z. B. index.php</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Zusammengesetzt erhältst du die URL dieser Handbuchseite, wobei die "Datei" in diesem Fall eine Kategorieseite ist:</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Beispiel-URL</div>
<div class="paragraph">
<p><a href="https://www.plentymarkets.eu/handbuch/cms-syntax/fallbeispiele/seo-guide/" class="bare">https://www.plentymarkets.eu/handbuch/cms-syntax/fallbeispiele/seo-guide/</a></p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Ein Schema ist eine Anweisung für den Browser. Ein bekanntes Schema ist z. B. mailto: für einen E-Mailversand.</p>
</div>
<div class="paragraph">
<p><strong>Absolute oder relative URL?</strong> Eine absolute URL enthält die komplette Pfadangabe eines Objekts. Die Beispiel-URL oben ist eine absolute URL. Die Seite oder ein Artikel kann von jedem beliebigen Rechner bzw. von jedem beliebigen Punkt im Web ausgehend gefunden werden.</p>
</div>
<div class="paragraph">
<p>Eine relative URL wird immer von einem bestimmten Standort aus angelegt und bezieht sich z.B. auf einen Unterordner bzw. auf einen Pfad, der sich unterhalb des Bezugspunktes befindet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Beispiel für eine relative URL</div>
<div class="paragraph">
<p>bilder/bild01.png</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Diese relative URL besagt, dass sich im Unterordner <strong>bilder</strong> eine Datei namens <strong>bild01</strong> im Datenformat <strong>png</strong> befindet. Wenn eine relative URL auf einen höher gelegenen Bezugspunkt verweisen soll, z. B. auf einen Ordner, der sich eine Ebene höher befindet, verwendet man den Zeichencode <strong>../</strong>.</p>
</div>
<div class="paragraph">
<p>Als Faustregel solltest du für alle externen Links absolute URLs verwenden und für Verlinkungen innerhalb deines Systems, z. B. für Bilder, relative URLs.</p>
</div>
<div class="paragraph">
<p>Da absolute URLs von Suchmaschinen besser erkannt werden, findest du in den Grundeinstellungen dieses Bereichs die Möglichkeit, absolute URLs für deine Webseite einzustellen.</p>
</div>
<div class="paragraph">
<p><strong>Statische und dynamische URLs</strong> Eine dynamische URL besteht aus mehreren Parametern mit bestimmten Informationen. Eine dynamische URL mit mehreren Parametern wird meist durch Suchmaschinen nicht korrekt verarbeitet und häufig nicht indexiert.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Beispiel für eine dynamische URL</div>
<div class="paragraph">
<p>/index.php?ArticleID=500&amp;plentyID=12345&amp;ToShow=One</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>plentymarkets verwendet stattdessen eine optimierte statische URL und kodiert unbedingt nötige Parameter geschickt ein.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Beispiel für eine plentymarkets Artikel-URL</div>
<div class="paragraph">
<p>/Artikelkategorie/Artikelname/a-500/</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Konfiguration des URL-Aufbaus</p>
</div>
<div class="paragraph">
<p>Die URL, die plentymarkets generiert, beinhaltet wichtige Informationen, die von Suchmaschinen verarbeitet werden.<br>
Wenn eine Kategorie aufgerufen wird, ist auch der Kategoriename Teil der von plentymarkets generierten URL. Bei Artikelseiten können die Kategorien, der Artikelname und die am Artikel hinterlegten Keywords ein Teil der URL sein. Bei Kategorieseiten wird der Text, der unter <strong>URL-Name</strong> steht, in die URL eingefügt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Die Bezeichnung unter <strong>URL-Name</strong> kann von dem eigentlichen Seitennamen unter <strong>Name</strong> abweichen. D.h. Du kannst diese Bezeichnung abwandeln und auch durch Zusätze ergänzen (Keywords!). Ein Vorteil ist, dass die URL sich aufgrund dieser separaten Konfiguration bei Änderung des Seitennamens nicht ändert und somit gültig bleibt, da der Seitenname für die URL vom Feld <strong>URL-Name</strong> bestimmt wird. Dieses Prinzip gilt für Kategorien der Typen <strong>Artikel</strong> und <strong>Content</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Diese Maßnahme ist technisch für die Funktion deines Webshops nicht nötig. Sie dient ausschließlich zur besseren Verarbeitung wichtiger Begriffe durch Suchmaschinen.</p>
</div>
<div class="paragraph">
<p>Den Aufbau der URL kannst du in plentymarkets konfigurieren, damit zum einen die gerade beschriebenen Informationen eingefügt werden und zum anderen die URL durch Suchmaschinen nicht als dynamische URL, sondern als statische URL erkannt wird. Diese Einstellungen nimmst du in den oben angegebenen Menüs vor.</p>
</div>
<div class="paragraph">
<p><strong>Konfiguration der plentymarkets-URL</strong>: Im Menü <strong>Einrichtung » Mandant » Mandant wählen » SEO » URL-Aufbau » Artikel</strong> kann der Aufbau der von plentymarkets generierten statischen URL geändert werden. Vermehrte Änderungen in diesem Bereich können jedoch negative Auswirkungen auf die Erfassung durch Suchmaschinen haben. Der Grund dafür ist, dass sowohl die alten statischen URLs als auch die neu eingestellten URLs von Suchmaschinen erfasst wurden bzw. werden. Folglich zeigen mehrere unterschiedliche URLs auf exakt den gleichen Inhalt.</p>
</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Mandant wählen » SEO » URL-Aufbau » Sonstige</strong> kannst du einstellen, ob die URLs der Routen deines Webshops mit einem angehängten Slash (dem sogenannten "trailing slash") angezeigt werden, oder nicht.</p>
</div>
<div id="2041" class="paragraph instruction">
<p>Einstellungen für Slashes am Ende von URLs vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » SEO » URL-Aufbau » Sonstige</strong>.</p>
</li>
<li>
<p>Wähle die gewünschte Einstellung aus der Dropdown-Liste <strong>Slash(/) am Ende von URLs</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du <strong>Nicht anpassen</strong> wählst, sind deine URLs sowohl mit, als auch ohne angehängtem Schrägstrich erreichbar.
Die Option <strong>Immer entfernen</strong> sorgt dafür, dass kein Schrägstreich am Ende der URL angehängt wird.
Wähle die Option <strong>Immer anhängen</strong>, wenn alle URLs deiner Routen mit einem Schrägstrich aufhören sollen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Dieses Feature befindet sich gegenwärtig in der Beta-Phase. Änderungen an dieser Einstellung können gegebenenfalls negative Auswirkungen auf die Erfassung deiner Seiten durch Suchmaschinen haben oder anfänglich zu Fehlern führen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Es kann zu Problemen kommen, wenn zu viele verschiedene URLs auf den gleichen Inhalt zeigen. Daher sollten Änderungen am URL-Aufbau nur wenn unbedingt nötig vorgenommen werden oder alte URLs aus dem Index einer Suchmaschine manuell entfernt werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/webshop-einrichten/_cms-syntax/fallbeispiele/assets/DE-Einstell-Mandant-Stand-SEO-URL-Aufbau.png" alt="DE Einstell Mandant Stand SEO URL Aufbau">
</div>
<div class="title">Figure 3. Menü <strong>URL-Aufbau&nbsp;» Artikel</strong></div>
</div>
<div class="paragraph">
<p><strong>URL-Aufbau konfigurieren:</strong>
. Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » SEO » URL-Aufbau » Artikel</strong>.
. Nimm die Einstellungen gemäß <a href="#tabelle-einstellungen-menue-url-aufbau">Einstellungen im Menü <strong>URL-Aufbau</strong></a> vor.
. <strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Der Vorgang kann einige Zeit dauern.
. Schließe deinen Webshop. Öffne deinen Webshop neu, damit die Änderungen wirksam werden.</p>
</div>
<table id="tabelle-einstellungen-menue-url-aufbau" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Einstellungen im Menü <strong>URL-Aufbau</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock">Artikel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufbau Artikel-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie die Artikel-URL aufgebaut sein soll. Verschiedene Kombinationen aus Artikelname bzw. Kategoriename sind möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quelle für Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher in den Artikeldaten eingetragene Name für die URL verwendet werden soll.<br>
Bei der Einstellung <strong>Name 2</strong> wird für Artikel, bei denen unter <strong>Name 2</strong> kein Eintrag vorhanden ist, automatisch der Eintrag unter <strong>Name 1</strong> verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seitenname der Artikelseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Bestandteile den Seitennamen bilden: nur der Name, der Name in Verbindung mit der ID oder zusätzlich mit der Kategorie.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Einstellungen für Mandanten</div>
<div class="paragraph">
<p>Die Einstellungen werden für den <strong>Mandant (Shop)</strong> zu dem Zeitpunkt, zu dem die Einstellungen vorgenommen werden, wirksam. Die Artikel-URL eines Artikels wird jedoch nach dem Webshop bzw. Mandanten, in dem der Artikel zuerst aufgerufen wurde, aufgebaut. Wenn ein Artikel in mehreren Webshops vorhanden ist, prüfe ggf. die URL.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>Weitere URL-Einstellungen</strong> Zusätzlich zu den im ersten Kapitel beschriebenen Grundeinstellungen des URL-Aufbaus bietet dir plentymarkets weitere Möglichkeiten, auf die Gestaltung der URL Einfluss zu nehmen.</p>
</div>
<div class="paragraph">
<p><strong>Kategorieseiten</strong> Beachte die folgenden Erläuterungen, um deine Landingpages möglichst mit Clean-URLs anzulegen. Die Einträge im Tab <strong>Einstellungen</strong> einer Kategorieseite haben folgende Funktion:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Optionen im Tab <strong>Einstellungen</strong> einer Kategorieseite</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name der Kategorieseite. Dieser Name wird z. B. in der Seitenübersicht der Kategorieseiten angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL-Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die hier eingetragene Bezeichnung wird in der URL angezeigt. Dieser Eintrag kann vom Seitennamen abweichen und durch Zusätze ergänzt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meta-Titel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Text erscheint bei Aufruf der Seite in der Titelzeile bzw. als Titel des Tabs im Browser.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Artikeleinstellungen</strong> In der Artikelbearbeitung hat die Option <strong>Seitenname</strong> im Tab <strong>Texte</strong> einen direkten Einfluss auf die Gestaltung der Artikel-URL. Der Inhalt wird wiederum von den Einstellungen der Option <strong>Artikelname für URL</strong> im Menü <strong>Artikel</strong> unter <strong>URL-Aufbau</strong> gesteuert (<a href="#tabelle-einstellungen-menue-url-aufbau">Einstellungen im Menü <strong>URL-Aufbau</strong></a>). D.h. was du dort vorgibst, wird automatisch in die URL integriert wenn du den Artikel anlegst.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Eintrag für URL nach Änderungen aktualisieren</div>
<div class="paragraph">
<p>Wenn du die Einstellung unter der Option <strong>Artikelname für URL</strong> änderst, bleibt der Eintrag unter <strong>Texte / URL-Pfad</strong> erhalten. Dieser Eintrag muss gelöscht werden, damit beim nächsten Aufruf des Artikels automatisch ein neuer und korrekter Eintrag (nach den geänderten Einstellungen der Option <strong>Artikelname für URL</strong>) vom System erzeugt wird. Für diese Löschfunktion steht dir eine dynamische Datenaustauschfunktion zur Verfügung.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Datenaustausch</div>
<div class="paragraph">
<p>Exportiere im Menü <strong>Daten » Dynamischer Export</strong> die Datenfelder <strong>Artikel-ID</strong> und <strong>ItemTextURLContent</strong> der Artikel. Lösche dann die Einträge des URL-Contents und importiere  die Daten wieder.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50"><strong>Verlinkung und Paginierung</strong></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Informationsarchitektur eines Webshops spielt für Suchmaschinen und Shopbesucher eine bedeutende Rolle, da wichtige Inhalte schnell gefunden werden sollen (Klickpfadtiefe gering) und diese mehr Links erhalten sollen als weniger wichtige. Großen Einfluss hat hier die interne Verlinkung, denn über Links navigieren sowohl Shopbesucher als auch Suchmaschinen durch deinen Webshop.</p>
</div>
<div class="paragraph">
<p>Du solltest also</p>
</div>
<div class="ulist">
<ul>
<li>
<p>wichtige Dokumente (Artikel) häufiger verlinken als weniger wichtige,</p>
</li>
<li>
<p>relevante Links innerhalb des aktuell sichtbaren Inhalts setzen,</p>
</li>
<li>
<p>die einzelnen Artikel in sinnvolle und relevante Kategorien gliedern,</p>
</li>
<li>
<p>neben der klassischen Hauptnavigation eine sinnvolle Breadcrumb-Navigation verwenden,</p>
</li>
<li>
<p>eine übersichtliche HTML-Sitemap erstellen,</p>
</li>
<li>
<p>über eine Sidebar und Footer wichtige Inhalte verlinken,</p>
</li>
<li>
<p>relevante und aussagekräftige Ankerlinks verwenden,</p>
</li>
<li>
<p>eine gut strukturierte Seitenpagination nutzen.</p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Pagination in Onlineshops - die Seitennummerierung</p>
</div>
<div class="paragraph">
<p>Sehr häufig kommt es vor, dass Onlineshops alle Artikel auf den unterschiedlichen Kategorieseiten über mehrere Seiten hinweg verteilen. Dies ist auch in vielen Fällen sinnvoll, denn mit zu vielen Ergebnissen auf einer Seite ist der Besucher eventuell überfordert. Außerdem kann die Ladegeschwindigkeit darunter leiden.</p>
</div>
<div class="paragraph">
<p>Bei vielen Artikeln werden so schnell fünf, zehn oder mehr Seiten generiert. Für Suchmaschinen gibt es somit mehrere Seiten, die als Suchtreffer infrage kommen. Eine paginierte Seite ist in erster Linie für Suchmaschinen wie Google etc. einfach nur eine URL, auf der die Suchmaschinen Inhalte finden können. Folglich konkurrieren die Seiten 2, 3 ff. mit Seite 1, wenn diese Seiten auf dasselbe Keyword optimiert sind.</p>
</div>
<div class="paragraph">
<p>Je nachdem, wie viele einzelne Produkte du als Shopbetreiber auf einer Übersichtsseite anzeigst, entstehen entweder mehr oder weniger URLs. So stellen paginierte Seiten von Kategorien im Sinne der Suchmaschinenoptimierung keinen Mehrwert dar, da diese Seiten in den meisten Fällen auf kein eigenes Keyword optimiert sind und die Crawling-Ressourcen der Suchmaschinen beanspruchen.</p>
</div>
<div class="paragraph">
<p>Ein Besucher sollte deshalb aus Konversionsgründen von der Suchergebnisseite, z. B. von Google, auf die relevanteste Seite des Onlineshops geführt werden. Das ist in fast allen Fällen die erste Seite einer paginierten Kategorieserie – denn dort werden meistens die Produkte präsentiert, die eine besonders hohe Kaufwahrscheinlichkeit besitzen.</p>
</div>
<div class="sect2">
<h3 id="60"><strong>HTML-Attribute</strong></h3>
<div class="paragraph">
<p>Standardmäßig verwendet plentymarkets die <strong>rel="next" und rel="prev"</strong> Attribute, welche Suchmaschinen darauf hinweisen, dass diese Seiten als logische Abfolge angezeigt werden sollen. Im besten Fall geben Suchmaschinen der ersten Seite der Kategorien eine höhere Gewichtung und platzieren deine erste Seite auf den ersten Seiten der Suchergebnisse.</p>
</div>
<div class="paragraph">
<p>Langfristig gesehen verbessert diese Auszeichnung das Vermögen der Suchmaschinen, die einzelnen Paginierungsseiten eines Webshops zu verstehen, und kann so Probleme bei der Indexierung verhindern. Letztendlich ist die Auszeichnung für Suchmaschinen aber nur eine Empfehlung und keine absolute Anweisung.</p>
</div>
<div class="paragraph">
<p>Wenn du sichergehen willst, dass nur die erste Seite einer paginierten Kategorie in deinem Webshop indexiert wird, solltest du mit Hilfe der Angabe <strong>meta name=“robots“ content=“noindex“</strong> die Folgeseiten von der Indexierung ausschließen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorieseiten in plentymarkets auf <strong>noindex</strong> setzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Suche dir einen&nbsp;– für deine Anforderungen gerechten&nbsp;– Code unten aus.</p>
</li>
<li>
<p>Kopiere den Code in die Zwischenablage (<strong>Strg + C</strong> bzw. <strong>Cmd + C</strong>).</p>
</li>
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong> und dort dann <strong>Layout » ItemView » ItemViewCategoriesList</strong>.</p>
</li>
<li>
<p>Füge das Code-Beispiel an geeigneter Stelle in das Template ein.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong>Version 1&nbsp;– Zurück-Button</strong> Dieser Code gibt an, dass alle Kategorieseiten, welche über eine Schaltfläche <strong>Zurück</strong> verfügen, auf <strong>noindex</strong> gesetzt werden. Da die Schaltfläche <strong>Zurück</strong> nur auf Seite 2 ff. auftritt und nicht auf Seite 1, kannst du damit gezielt alle Paginierungsseiten größer 1 von der Indexierung ausschließen.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">{# Kategorieseiten ab Seite 2 von der Indexierung ausschließen #}

&#123;&#37; if(BrowsePreviousButton()) &#37;&#125;
	&#123;&#37;
		$Robots = 'noindex';
	&#37;&#125;
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>+
<strong>Version 2&nbsp;– Canonical Link</strong> Dieses Code-Schnipsel gibt an, dass alle Kategorieseiten, welche über ein Canonical mit dem Inhalt "?aoff=" verfügen, mit der Angabe meta&nbsp;name=“robots“ content=“noindex“ ausgezeichnet werden. Da alle Kategorieseiten größer 2 standardmäßig über dieses Canonical verfügen, können so auch die Seiten deindexiert werden, welche nicht direkt über eine Schaltfläche <strong>Zurück</strong> verfügen (z. B. bei Infinite Scroll).</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">{# Kategorieseiten ab Seite 2 von der Indexierung ausschließen #}

&#123;&#37; if($CanonicalUrl contains '?aoff=') &#37;&#125;
	&#123;&#37;
		$Robots = 'noindex';
	&#37;&#125;
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>+
<strong>Version 3&nbsp;– CurrentPage</strong> Dieses Code-Schnipsel gibt an, dass alle Kategorieseiten größer 1 auf <strong>noindex</strong> gesetzt werden. Die Anzahl der zu indexierenden Seiten kannst du dann unter <strong>Layout » ItemView » ItemViewCategoriesList » Einstellungen » ItemViewCategoriesList_ItemsPerPage</strong> festlegen.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">{#	Wichtig: Dieser Code muss unbedingt nach der Template-Variable "BrowsePreviousButton() bzw. BrowseNextButton()" eingebaut werden. #}
{#	Kategorieseiten ab Seite 2 von der Indexierung ausschließen #}

&#123;&#37; if($CurrentPage&gt;1) &#37;&#125;
	&#123;&#37;
		$Robots = 'noindex';
	&#37;&#125;
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>+</p>
</div>
<div class="paragraph subhead">
<p>Vermeide das fehlerhafte Einsetzen des Canonical-Tags bei paginierten Seiten</p>
</div>
<div class="paragraph">
<p>Ein häufiger Fehler besteht darin, dass von den Seiten 2 oder höher durch das Einsetzen des <strong>rel=canonical-Tags</strong> auf die erste Seite verwiesen wird, obwohl die erste Seite nicht die „Alles-anzeigen-Seite“ ist.</p>
</div>
<div class="paragraph">
<p>Wenn der Inhalt der einzelnen Paginierungsseiten nicht mit dem der ersten Seite identisch ist (also kein duplicate content) und du keine „View-all-Seite“ verwendest, ist es nicht empfehlenswert, die Linkpower der paginierten Kategorieseiten weiter an die erste Seite zu leiten. Durch diese Angabe schwächst du die interne Verlinkung aller Inhalte bzw. Produkte, die nicht auf der ersten Seite der Kategorieseiten verlinkt sind.</p>
</div>
<div class="paragraph">
<p>Standardmäßig haben wir bei Paginierungsseiten neben der Auszeichnung per <strong>rel=“prev“ und rel=“next“</strong> alle Seiten auf sich selbst kanonisiert, um Duplicate-Content-Problemen bei auftretenden Parametern wie z. B. Sortierung/Filterung oder Session-IDs und Tracking-Parameter entgegenzuwirken.</p>
</div>
<div class="paragraph">
<p>Wenn du also alle paginierten Seiten via Robots-Meta-Tag „noindex, follow“ auszeichnest, solltest du das Canonical-Tag entweder ganz weglassen oder auf die paginierte Seite selbst zeigen. Auf keinen Fall sollte es auf die erste Seite der Kategorie zeigen.</p>
</div>
<div class="paragraph subhead">
<p>Wichtig: Untersuche deinen individuellen Bedarf</p>
</div>
<div class="paragraph">
<p>Wie du feststellen kannst, gibt es bei paginierten Seiten viel zu beachten. Leider können wir keine allgemeingültigen Aussagen und Richtlinien treffen, da jeder Shopbetreiber andere individuelle Anforderungen hat.</p>
</div>
<div class="paragraph">
<p>Kontrolliere also die korrekte Indexierung deiner Kategorieseiten, damit gewährleistet ist, dass Suchmaschinen sie so wahrnehmen, wie du es möchtest.</p>
</div>
<div class="paragraph">
<p>Wenn du weitere technische Fragen hast, findest du auf der offiziellen Webseite des Google-Supports einige Tipps und Hinweise zur <a href="https://support.google.com/webmasters/answer/1663744?hl=de" target="_blank" rel="noopener">korrekten Auszeichnung von Paginationsseiten</a>. Falls du aber Hilfe benötigest, die für dich beste Einstellung herauszufinden, wende dich bitte an die <a href="http://www.plentymarkets.eu/service/partneragenturen/">SEO-Agentur deines Vertrauens</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="70"><strong>Beschreibungstexte in Kategorien entfernen</strong></h3>
<div class="paragraph">
<p>Kategorien in deinem Webshop enthalten individuelle Texte, welche sich ober- oder unterhalb deiner Artikelansicht befinden. Falls du die Paginierungsseiten größer 1 nicht mit der Anweisung <strong>noindex</strong> von der Indexierung durch Suchmaschinen ausgeschlossen hast, solltest du diese Texte nur auf der ersten Seite anzeigen lassen. Die Anzeige der identischen Beschreibungstexte auf allen Blätterseiten kann sonst zu starken Duplicate-Content-Problemen führen.</p>
</div>
<div class="paragraph">
<p>Wie du den Beschreibungstext 1 und Beschreibungstext 2 automatisiert nur auf der ersten Seite deiner Artikelansicht in den Kategorien ausgibst, zeigt dir nachfolgendes Code-Beispiel.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; if $CurrentCategoryDescription1&amp;&amp;BrowsePreviousButton()=="" &#37;&#125;
	&lt;div class="row margin-top-15 margin-bottom-15"&gt;
		&lt;div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"&gt;
			&lt;p&gt;$CurrentCategoryDescription1&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>+</p>
</div>
<div class="paragraph instruction">
<p>Code in das Template einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Kopiere den oben angegebenen Code in die Zwischenablage (<strong>Strg + C</strong> bzw. <strong>Cmd + C</strong>).</p>
</li>
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong> und dort dann <strong>Layout » ItemView » ItemViewCategoriesList</strong>.</p>
</li>
<li>
<p>Füge das Code-Beispiel an geeigneter Stelle ein.</p>
</li>
<li>
<p>Wichtig ist der neue Code: &amp;&amp;BrowsePreviousButton()=="" &#37;&#125;, welcher dafür sorgt, dass der Beschreibungstext nicht auf der aktuellen Seite ausgegeben wird, wenn diese Seite über eine Schaltfläche <strong>Zurück</strong> verfügt.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="80">Crawling und Indexierung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor die Artikel deines Webshops in den Suchergebnissen der Suchmaschinen angezeigt werden, müssen deine Artikel von den sogenannten Crawlers, Spiders bzw. Robots gecrawlt werden. Als Crawling bezeichnet man das Durchsuchen von Webinhalten bzw. die Analyse der URLs der Suchmaschinenbots. Da jeder Webshop nur über ein begrenztes Crawling-Budget bei den Suchmaschinen verfügt, ist es ratsam, sich über das genaue Crawlingverhalten zu informieren.</p>
</div>
<div class="paragraph">
<p>Suchmaschinen folgen allen Links und indexieren diese, sofern die Links nicht über eine entsprechende Angabe in der robots.txt oder eine Meta-Angabe im HTML-Head verfügen, durch welche die Indexierung verhindert wird. Solltest du also feststellen, dass Google einige wichtige Seiten nicht indexiert hat, prüfe bitte als Erstes entsprechende Angaben. Dies gilt natürlich auch andersherum: Solltest du feststellen, dass Suchmaschinen unwichtige Inhalte oder Duplikate indexiert haben, gilt es zu handeln. Es kann nämlich negativen Einfluss auf das Ranking haben.</p>
</div>
<div class="paragraph">
<p>Möchtest du gewährleisten, dass unwichtige Seiten nicht indexiert werden, ist es falsch, entsprechende Angaben in der robots.txt vorzunehmen. Hier hilft nur ein Meta robots <strong>noindex</strong> Eintrag im HTML-Head. Auch darfst du nicht den Fehler machen und beide Varianten gleichzeitig verwenden, da durch eine Crawlsperre per robots.txt Suchmaschinencrawler die entsprechende <strong>noindex</strong> Anweisung gar nicht sehen können.</p>
</div>
<div class="paragraph">
<p><strong>Folglich stehen dir zwei unterschiedliche Varianten für völlig andere Zwecke zur Verfügung. Du solltest dir für die Zukunft folgende Regeln merken:</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Um Seiten zuverlässig aus dem Index zu halten, ist der Eintrag “disallow” in der robots.txt ein Fehler.</p>
</li>
<li>
<p>Wenn du Seiten nicht gecrawlt haben möchtest, ist das <strong>noindex</strong> auf der Seite sinnlos. In plentymarkets sind bereits verschiedene Einstellungen enthalten, die eine Indexierung durch Suchmaschinen auf verschiedene Weise begünstigen bzw. verhindern.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="90">Meta Robots noindex</h3>
<div class="paragraph subhead">
<p>Nicht mehr verfügbare Artikel auf <em>noindex</em> setzen</p>
</div>
<div class="paragraph">
<p>Im Idealfall leiten Shopbetreiber nicht mehr im Sortiment befindliche Produkte per HTTP-Statuscode 301 auf entsprechende Nachfolgeprodukte weiter. Eine weitere gute Variante ist das Ausgeben eines 404-/410-Statuscodes mit entsprechendem Hinweis, dass das Produkt nicht mehr vorhanden ist. Bei beiden Varianten verschwindet aber der eigentliche Artikel nicht nur im Suchmaschinenindex, sondern auch aus deinem Webshop.</p>
</div>
<div class="paragraph">
<p>Falls du jedoch möchtest, dass langfristig nicht mehr verfügbare Artikel in deinem Webshop weiterhin aufrufbar sind, aber aus dem Suchmaschinenindex verschwinden, solltest du die Produkte weiterhin online stellen und den Meta Robots noindex verwenden. Wie du nicht mehr verfügbare Artikel automatisiert mit <strong>noindex</strong> auszeichnest, zeigt dir nachfolgendes Code-Beispiel.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; 	{# Artikel, die nicht mehr verfügbar sind, automatisch auf noindex setzen #}
	if($AvailabilityId&gt;6)
	{
		$Robots = "noindex";
	}
&#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>+
<strong>Wichtig:</strong> Der Wert von <strong>AvailabilityId</strong> wurde in diesem Beispiel mit <strong>6</strong> angegeben. Dieser Wert kann bei dir aber auch anders sein. Stelle bitte für dein System fest, ab welchem Verfügbarkeitswert du die Artikel auf <strong>noindex</strong> stellen möchtest. Dieser Wert muss nur zwischen <strong>1 und 10</strong> liegen.</p>
</div>
<div class="paragraph instruction">
<p>Code in das Template einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Kopiere den oben angegeben Code in die Zwischenablage (<strong>Strg + C</strong> bzw. <strong>Cmd + C</strong>).</p>
</li>
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong> und dort dann <strong>Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Füge das Code-Beispiel an geeigneter Stelle in das Template ein.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Alle Artikel einer bestimmten Kategorie auf <em>noindex</em> setzen</p>
</div>
<div class="paragraph">
<p>SDuie möchtest alle Artikel einer bestimmten Kategorie automatisch deindexieren und aus den Suchergebnissen von Suchmaschinen entfernen, weil du z. B. Auslaufmodelle, Restbestände oder Artikel eines bestimmten Herstellers zwar noch online anbietest und verkaufst, aber Suchmaschinen diese nicht mehr auffinden sollen? Dann ist das folgende Code-Beispiel genau richtig für dich.</p>
</div>
<div class="paragraph">
<p>Füge folgenden Code an beliebiger Stelle in das Template <strong>ItemViewSingleItem</strong> ein:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">{# Alle Artikel einer bestimmten Kategorie automatisch auf noindex setzen #}

&#123;&#37; if($CurrentCategoryId[Level2]==255) &#37;&#125;
	&#123;&#37;
		$Robots = "noindex";
	&#37;&#125;
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>+
Du benötigst die Variablen <strong>CurrentCategoryID[Level1-6]==CategoryID</strong>. In unserem Beispiel hat die Kategorie die ID 255 und liegt auf der zweiten Ebene. Alle Artikel, die dieser Kategorie zugeordnet sind, erhalten automatisch die Meta-Robots-Angabe <strong>noindex</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_robots_txt"><strong>Robots.txt</strong></h3>
<div class="paragraph">
<p>Die robots.txt ist eine Textdatei, die von Suchmaschinen gelesen wird. Diese enthält Anweisungen für Crawler, welche Seiten deines Webshops gecrawlt werden dürfen und welche nicht. Die entsprechenden Einträge dazu sind <strong>Allow</strong> = Erlaubt und <strong>Disallow</strong> = Verboten. Da es sich bei der robots.txt um keinen verbindlichen Standard handelt, kann es passieren, dass Suchmaschinen die Anweisungen ignorieren oder falsch interpretieren. Anweisungen, die hier hinzugefügt werden, sind lediglich als Empfehlungen anzusehen, die nicht von Crawlern angewandt werden müssen. Die grundlegenden Einträge sind in der robots.txt-Datei deines Systems bereits enthalten. Wenn du Einträge vornimmst oder löschst bzw. die Einträge ändern musst, weisen wir an den entsprechenden Stellen im Handbuch darauf hin.</p>
</div>
<div class="paragraph">
<p>Bei jedem plentymarkets Webshop wird eine robots.txt-Datei erzeugt. Diese Datei wird von Suchmaschinen bei jedem Besuch ausgewertet. In dieser Datei ist ebenfalls der Link auf die Sitemap-Datei enthalten, sodass Google, Yahoo und MSN die Sitemap-Datei auch automatisch auswerten können. Hinterlege deine Sitemap-Datei bei Google, um die Indexierung deiner Webseite zu verbessern.</p>
</div>
<div class="paragraph">
<p><strong>Einstellungen in plentymarkets</strong> Du findest die bereits eingetragenen robots.txt-Einträge im Menü wie oben angegeben. Diese kannst du durch weitere Einträge ergänzen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/webshop-einrichten/_cms-syntax/fallbeispiele/assets/DE-Mandant-Std-SEO-robots-01-SI.png" alt="DE Mandant Std SEO robots 01 SI">
</div>
<div class="title">Figure 4. Einträge in der robots.txt-Datei</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Konfiguration</div>
<div class="paragraph">
<p>Nimm in diesem <strong>Textfeld</strong> die gewünschten Änderungen vor und <strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>Robots deaktivieren</strong> Im Bereich Kategorien kannst du zudem <strong>Robots</strong> für einzelne Seiten deaktivieren. Beachte dazu das Kapitel <strong>2.1 Tab: Einstellungen</strong> der Handbuchseite <a href="/artikel/kategorien-verwalten">Kategorien verwalten</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="110"><strong>Canonical Tags</strong></h3>
<div class="paragraph">
<p>Das HTML-Attribut <strong>Canonical Tag</strong> gibt eine allgemeingültige und eindeutige Bezeichnung einer Webseite wieder. Es wird verwendet um Duplicate-Content-Problemen entgegenzuwirken, da Suchmaschinen identische Inhalte mehrerer Varianten eines Dokuments, das unter verschiedenen URL-Schreibweisen aufrufbar ist, crawlen und indexieren. Dabei wissen Suchmaschinen jedoch nicht, welche Version die bevorzugte ist und indexiert werden soll. Um diesem Problem entgegenzuwirken, wurde die Einführung der Canonical Tags angeregt.</p>
</div>
<div class="paragraph">
<p>Als Beispiel für ein Canonical Tag findest du hier das Tag dieser Seite.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Beispiel: Canonical Tag dieser Handbuchseite:</div>
<div class="paragraph">
<p>&lt;link rel="canonical” href="/handbuch/cms-syntax/fallbeispiele/seo-guide/"</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Duplicate Content</p>
</div>
<div class="paragraph">
<p>Wenn du z. B. den URL-Aufbau deines Webshops im Menü <strong>URL-Aufbau</strong> nachträglich änderst, sind zwei verschiedene URLs bei den Suchmaschinen "im Umlauf" und es entsteht doppelter Content, beispielsweise in Fällen in denen die <strong>Artikel-URL</strong> geändert wurde und es Varianten <strong>mit</strong> und <strong>ohne ID</strong> gibt.<br></p>
</div>
<div class="paragraph">
<p>Auch die Tatsache, dass deine Domain mit und ohne www, als http-Version und als verschlüsselte https-Version, oder gar mit Trailing Slash / oder ohne Trailing Slash aufrufbar ist, kann Probleme mit doppelten Content verursachen. Dies kann darin resultieren, dass Suchmaschinen die Rankings für wichtige Keywords der "falschen" Variante zuführen und du an Sichtbarkeit verlierst.</p>
</div>
<div class="paragraph">
<p>In plentymarkets erhält jede Seite automatisch ein <strong>Canonical Tag</strong>. Dies verhindert die Indexierung von Varianten, die identischen Inhalt ausgeben. Dies kommt im Onlineshop häufig bei Kampagnenparametern oder Suchfiltern vor. Dieses Standard-Canonical-Tag erscheint im Header einer Seite und kann nicht geändert werden. Hierfür benötigst du eine entsprechende Template-Variable (siehe unten).</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Seiten nicht indexieren</div>
<div class="paragraph">
<p>Canonical Tags solltest du immer gemeinsam mit [Robots::noindex, follow] deaktivieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Canonical Tags im gesamten Shop deaktivieren</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Ordner: Layout » Ordner: PageDesign » PageDesignContent</strong>.</p>
</li>
<li>
<p>Füge im Tab <strong>PageDesignContentHtmlStructure</strong> die folgende Template-Variable in den Header-Bereich ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;	{# Canonical deaktivieren #}

		$Canonical = '0';

&#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>+</p>
</div>
<div class="paragraph instruction">
<p>Canonical Tag einer Kategorie vom Typ Content deaktivieren</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die gewünschte Kategorie vom Typ Content.</p>
</li>
<li>
<p>Wähle den Syntax-Editor.</p>
</li>
<li>
<p>Füge die oben angegebene Template-Variable in der ersten Zeile ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Canonical Tag einer bestimmten Kategorie vom Typ Content aktivieren</p>
</div>
<div class="paragraph">
<p>Wenn du im gesamten Shop Canonical Tags deaktiviert hast, kannst du Canonical Tags mit der folgenden Template-Variable in einzelnen Layouts und Kategorien vom Typ Content wieder aktivieren.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;	{# Canonical aktivieren #}

		$Canonical = '1';

&#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>+</p>
</div>
</div>
<div class="sect2">
<h3 id="120">Sitemap</h3>
<div class="paragraph">
<p>In einer Sitemap werden alle Einzeldokumente sowie die Struktur einer Website aufgelistet. Sie enthält somit eine Übersicht über die verschiedenen Seiten eines Internetauftritts sowie die Artikel eines Webshops. Die Sitemap wird von Suchmaschinen gelesen, daher ist die Sitemap ein wichtiges Instrument für einen Webshop, um durch die dort hinterlegten Informationen von Suchmaschinen besser gefunden zu werden. Suchmaschinen und Webshopbesucher können von der Sitemap aus mit nur einem Klick bzw. Aufruf auf eine beliebige Seite deines Webshops gelangen. Es ist deshalb wichtig, dass dort alle relevanten Bereiche einer Seite hinterlegt sind.</p>
</div>
<div class="paragraph">
<p>Sitemaps können in zwei Dateiformaten abgespeichert werden, daher musst du grundsätzlich zwischen zwei verschiedenen Sitemaps unterscheiden: XML-Sitemaps und HTML-Sitemaps.</p>
</div>
<div class="paragraph">
<p>Neben der XML-Sitemap, die speziell den Suchmaschinen zur Auffindung neuer und tiefer verschachtelter Seiten dient, kommt eine gut strukturierte HTML-Sitemap vor allem den NutzerInnen und WebshopbesucherInnen zu Gute. Eine HTML-Sitemap dient in erster Linie als eine Art Inhaltsverzeichnis und dient der Nutzerfreundlichkeit (Usability) eines Webshops. Gleichzeitig hat die Sitemap aber auch einen positiven Effekt auf Suchmaschinen, denn der Google-Crawler folgt jedem Link auf der Website. Falls dein Webshop über eine entsprechende Sitemap verfügt, ermöglicht die Sitemap dem Google-Bot, deine Inhalte einfacher zu finden und die Websitestruktur besser zu verstehen. Google selbst empfiehlt übrigens den Besuchern deines Webshops, vorrangig (vor der XML-Sitemap) eine HTML-Sitemap zu erstellen.</p>
</div>
<div class="paragraph">
<p><strong>XML-Sitemap in plentymarkets erstellen</strong> plentymarkets generiert täglich eine Sitemap-Datei, die automatisch von Suchmaschinen beim Besuch der normalen Webseite verarbeitet wird. In einer Sitemap-Datei sind Links auf alle Artikel- und Content-Seiten sowie Blogbeiträge enthalten. Dies erleichtert die komplette Aufnahme in den Suchmaschinenindex einer Webseite.</p>
</div>
<div class="paragraph">
<p>Die Sitemap wird täglich aktualisiert und automatisch um neue Artikel ergänzt.</p>
</div>
<div class="paragraph">
<p><strong>Sitemap-Daten konfigurieren</strong> Im Menü <strong>Einrichtung » Mandant » Mandant wählen » SEO » Sitemap.xml</strong> aktivierst oder deaktivierst du die einzelnen Bereiche deiner Sitemap-Daten. Die aktivierten Bereiche (Häkchen gesetzt) werden in die Sitemap übernommen. Wird ein Bereich durch Entfernen des Häkchens deaktiviert, werden die entsprechenden Inhalte nicht mehr in die Sitemap übernommen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/webshop-einrichten/_cms-syntax/fallbeispiele/assets/Mandant-Std-SEO-sitemap-01-SI.png" alt="Mandant Std SEO sitemap 01 SI">
</div>
<div class="title">Figure 5. Sitemap-Daten konfigurieren</div>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Funktionen im Menü <strong>Einrichtung » Mandant » Mandant wählen » SEO » sitemap.xml</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Funktionen zur Bearbeitung der Sitemap-Daten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert die Einstellungen bzw. die Änderungen. Nach jeder Änderung muss die neue Einstellung gespeichert werden. Nach jedem Speichern wird die Sitemap der aktivierten Bereiche aktualisiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sitemap-XML öffnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet die Sitemap-XML im Webbrowser. Es werden die URLs der Sitemap-Dateien der aktivierten Bereiche angezeigt. Diese wiederum zeigen nach Öffnen über einen Webbrowser die URLs der Elemente der betreffenden Bereiche an.<br>
Wenn z.B. die Sitemap der <strong>Artikel</strong> angezeigt werden soll, wird die URL mit der Endung <strong>item.xml</strong> durch Eingabe in einem neuen Tab des Browsers geöffnet und die Inhalte werden angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorien (Content)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorien des Typs <strong>Content</strong> in die Sitemap übernehmen.<br>
Bedingung, dass eine Kategorie des Typs <strong>Content</strong> in die Sitemap übernommen wird: Die Einstellung <strong>Sitemap</strong> im Tab <strong>Einstellungen</strong> der Kategorie steht auf <strong>Anzeigen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorien (Artikel)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorien des Typs <strong>Artikel</strong> in die Sitemap übernehmen. Es werden die URLs der Kategorien sowie der Unterkategorien übernommen.<br>
Bedingung, dass eine Kategorie des Typs <strong>Artikel</strong> in die Sitemap übernommen wird: Die Einstellung <strong>Sitemap</strong> im Tab <strong>Einstellungen</strong> der Kategorie steht auf <strong>Anzeigen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel in die Sitemap übernehmen. Es werden die URLs der Artikel mit der Artikel-ID übernommen.<br>
Bedingungen für die Übernahme eines Artikels in die Sitemap:<br>
- Verknüpfung mit einer <strong>Kategorie</strong>.<br>
- Verfügbarkeit im Tab <strong>Kategorie</strong> für einen <strong>Mandant (Shop)</strong>.<br>
- Es muss ein <strong>Text</strong> (Beschreibung) hinterlegt sein.<br>
- Die Option <strong>Webshop</strong> im Tab <strong>Verfügbar</strong> muss <strong>aktiviert</strong> sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Blog</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blognachrichten in die Sitemap übernehmen.<br>
Bedingungen für die Übernahme eines Blogs in die Sitemap:<br>
- Verknüpfung mit einem <strong>Mandant (Shop)</strong>.<br>
- Die Option <strong>Öffentlich</strong> muss <strong>aktiviert</strong> sein.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Sitemaps stehen unmittelbar nach Aktivierung eines Bereichs zur Verfügung.</p>
</div>
</div>
<div class="sect2">
<h3 id="130"><strong>Google Search Console</strong></h3>
<div class="paragraph">
<p>Bei der <strong>Google Search Console</strong> (ehemals Google Webmaster Tools) findest du detaillierte Informationen zu dieser Thematik, u.a. wie du die <strong>Auffindbarkeit</strong> deiner Website verbessern kannst oder wie du eine Sitemap erstellst. Auch wie eine Sitemap aufgebaut ist und welche <strong>Tags</strong> darin Pflicht sind, wird dort erläutert.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Hilfreiche Links:</div>
<div class="paragraph">
<p><a href="http://www.google.com/support/webmasters/" target="_blank" rel="noopener">Google Search Console</a><br>
<a href="http://www.google.com/support/webmasters/bin/answer.py?hl=de&amp;answer=183668" target="_blank" rel="noopener">Erstellen von XML-Sitemaps</a></p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Schritt-für-Schritt-Anleitung</p>
</div>
<div class="paragraph">
<p>Nutze <a href="https://www.google.com/accounts/ServiceLogin?service=sitemaps" target="_blank" rel="noopener">Google Sitemaps</a>, um deine Artikel von der Suchmaschine <strong>Google</strong> einlesen zu lassen. plentymarkets bietet dir dafür einen <strong>Export aller Artikel und Content-Seiten</strong> an, der dann selbstständig von Google aktualisiert wird.<br>
Du musst lediglich ein Benutzerkonto bei Google anlegen und deiner URL hinterlegen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Muster für die Sitemap-URL</div>
<div class="paragraph">
<p><a href="https://www.deine-Haupt-Domain.de/sitemap.xml" class="bare">https://www.deine-Haupt-Domain.de/sitemap.xml</a></p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>Benutzerkonto bei Google anlegen</strong> Wenn du noch kein Konto bei Google angelegt hast, befolge die folgenden Schritte.</p>
</div>
<div class="paragraph instruction">
<p>Google-Konto anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die Seite <a href="https://www.google.com/accounts/ServiceLogin?service=sitemaps" target="_blank" rel="noopener">https://www.google.com/accounts/ServiceLogin?service=sitemaps</a></p>
</li>
<li>
<p>Klicke auf den Link <strong>Mit einem anderen Konto anmelden</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Konto hinzufügen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Konto erstellen</strong> und konfiguriere dann die Kontoeinstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong>Neue URL in Google Sitemaps anlegen</strong> Logge dich in dein <a href="https://www.google.com/accounts/ServiceLogin?service=sitemaps" target="_blank" rel="noopener">Google-Konto</a> ein. Öffne dann die <a href="https://www.google.com/webmasters/" target="_blank" rel="noopener">Webmaster Tools</a>.</p>
</div>
<div class="paragraph instruction">
<p>Webseite hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Trage deine <strong>URL</strong> ein.</p>
</li>
<li>
<p>Klicke auf <strong>Website hinzufügen</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">URL</div>
<div class="paragraph">
<p>Die hier hinterlegte <strong>URL</strong> muss der Haupt-URL deines <strong>Webshops</strong> bzw. <strong>CMS-Systems</strong> entsprechen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/webshop-einrichten/_cms-syntax/fallbeispiele/assets/Mandant-Std-SEO-GoogleSitemaps-01-SI.png" alt="Mandant Std SEO GoogleSitemaps 01 SI">
</div>
<div class="title">Figure 6. Google <strong>Webmaster-Tools</strong></div>
</div>
<div class="paragraph">
<p><strong>deine Webseite bestätigen</strong> Du wirst nun aufgefordert, deine Seite zu bestätigen.</p>
</div>
<div class="paragraph instruction">
<p>Webseite bestätigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf das Tab <strong>Alternative Methoden</strong>.</p>
</li>
<li>
<p>Wähle die Option <strong>HTML-Tag</strong> aus (<a href="#bild-html-tag-kopieren"><strong>HTML-Tag</strong> kopieren</a>).</p>
</li>
<li>
<p>Kopiere den Code (<a href="#bild-html-tag-kopieren"><strong>HTML-Tag</strong> kopieren</a> , Pfeil) in die Zwischenablage (Strg + c bzw. cmd + c).</p>
</li>
<li>
<p>Füge den Code im Menü <strong>CMS » Webdesign » Layout » PageDesign</strong> in das Template <strong>PageDesignContent</strong> ein.<br>
→ Um Fehler auszuschließen, kannst du den Code zusätzlich noch in das <strong>Seitenlayout PageDesignCheckout</strong> kopieren.</p>
</li>
<li>
<p>Klicke nun in deinem Google-Konto auf die Schaltfläche <strong>Bestätigen</strong> (<a href="#bild-html-tag-kopieren"><strong>HTML-Tag</strong> kopieren</a> , links unten).</p>
</li>
</ol>
</div>
<div id="bild-html-tag-kopieren" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/webshop-einrichten/_cms-syntax/fallbeispiele/assets/Mandant-Std-SEO-GoogleSitemaps-02-SI.png" alt="Mandant Std SEO GoogleSitemaps 02 SI">
</div>
<div class="title">Figure 7. <strong>HTML-Tag</strong> kopieren</div>
</div>
<div class="paragraph">
<p><strong>Verschlüsselte Webseite</strong> Wenn du für deine Webseite ein <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen">SSL-Zertifikat</a> verwendest, füge die URL zusätzlich mit dem Schema <strong>https</strong> hinzu.</p>
</div>
<div class="paragraph instruction">
<p>Webseite hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die <strong>Google Search Console</strong> (ehemals Google Webmaster Tools).</p>
</li>
<li>
<p>Wähle die <strong>Startseite</strong> deines Accounts.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Website hinzufügen</strong> (<a href="#bild-webseite-https-einstellen">Webseite mit <strong>https</strong>-Schema einstellen</a> , rechts oben).</p>
</li>
<li>
<p>Trage die <strong>URL</strong> der Webseite mit dem Schema <strong>https</strong> ein.</p>
</li>
<li>
<p>Führe den <strong>Bestätigungsprozess</strong> durch wie im vorigen Kapitel beschrieben.</p>
</li>
</ol>
</div>
<div id="bild-webseite-https-einstellen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/webshop-einrichten/_cms-syntax/fallbeispiele/assets/Mandant-Std-SEO-GoogleSitemaps-03-SI.png" alt="Mandant Std SEO GoogleSitemaps 03 SI">
</div>
<div class="title">Figure 8. Webseite mit <strong>https</strong>-Schema einstellen</div>
</div>
<div class="paragraph">
<p><strong>Sitemaps bei Google einreichen</strong> Gehe wie nachfolgend beschrieben vor, um eine Sitemap bei der Google Search Console hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Sitemap hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf der Startseite der Webmaster-Tools auf die gewünschte <strong>Website</strong>.</p>
</li>
<li>
<p>Wähle den Menüpunkt <strong>Crawling » Sitemaps</strong>.</p>
</li>
<li>
<p>Klicke in diesem Bereich oben rechts auf <strong>Sitemap hinzufügen</strong> (<a href="#bild-google-sitemap">Google <strong>Sitemap hinzufügen</strong></a>).<br>
→ Das Bearbeitungsfenster wird eingeblendet.</p>
</li>
<li>
<p>Trage die <strong>URL</strong> dort ein.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Sitemap einreichen</strong>.</p>
</li>
</ol>
</div>
<div id="bild-google-sitemap" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/webshop-einrichten/_cms-syntax/fallbeispiele/assets/Mandant-Std-SEO-GoogleSitemaps-04-SI.png" alt="Mandant Std SEO GoogleSitemaps 04 SI">
</div>
<div class="title">Figure 9. Google <strong>Sitemap hinzufügen</strong></div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="140">SEO für Mobilgeräte</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mobile SEO ist aktuell in aller Munde. Es gibt kaum noch Webshops, die sich erlauben können, kein Responsive Design in deine Shop-Template-Planung mit einzubeziehen. Durch die weiter ansteigende Nutzung und den zunehmenden Absatz von mobilen Endgeräten und günstigen Datentarifen lässt sich auch kein Nachlassen des Wachstums feststellen.</p>
</div>
<div class="paragraph subhead">
<p>Responsive Design oder separater mobiler Webshop</p>
</div>
<div class="paragraph">
<p>Responsive Design liegt aktuell klar im Trend. Dynamisch an die Größe des Displays angepasst Inhalte haben aus SEO-Sicht den Vorteil, dass Suchmaschinen keine weiteren URLs crawlen müssen, wie es bei einer zusätzlichen mobilen Variante der Fall wäre.</p>
</div>
<div class="paragraph">
<p>Was spricht eigentlich gegen die Verwendung von Responsive Design und ist der Vorteil von separaten mobilen Webseiten?<br>
Eigentlich spricht nichts gegen Responsive Design. Der  Grund, warum viele Webseiten kein Responsive Design verwenden, liegt in dem zu hohen Aufwand, alle Inhalte mit weiteren CSS-Angaben zu versehen. Das ist auch der Grund, warum viele große Webseiten lieber auf eine neue mobile Webseite zurückgreifen, um dem enormen Testaufwand zu entgehen. Eine separate mobile Version der bestehenden Inhalte zu erstellen, ist wesentlich weniger aufwendig.</p>
</div>
<div class="sect2">
<h3 id="150"><strong>Responsive Template</strong></h3>
<div class="paragraph">
<p>Mit dem plentymarkets Responsive Webshop Design, Callisto Light, haben wir die Hürden für eine Anpassung an mobile Endgeräte für dich genommen. Es steht dir kostenlos zur Verfügung und neue plentymarkets Anwender*innen starten sofort mit diesem Design.</p>
</div>
<div class="paragraph">
<p><strong>Warum solltest du deinen Shop mobil optimieren?</strong> Die Zahl jener, die mobil ins Internet gehen und auch über mobile Geräte einkaufen, steigt stetig. Doch auch die Tatsache, dass Google die Ranking-Kriterien angepasst hat, ist sicherlich Anreiz genug, ein Responsive Design oder ein dediziertes Mobile Design umzusetzen. Google selbst hat dieses Vorhaben schon vor längerer Zeit angekündigt und stellt umfangreiche Informationen zum Thema zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Wichtig für das Google-Ranking ist die Anpassung an mobile Endgeräte, egal ob mit Responsive Design oder Mobile Design. Bei der Umsetzung eines mobilen Designs ist darauf zu achten, dass das mobile Design automatisch aufgerufen wird.</p>
</div>
<div class="paragraph">
<p>Callisto Light wurde auf Basis der aktuellen technischen Möglichkeiten realisiert: Neben der aktuellen Version des Frameworks Bootstrap werden auch einige der neuen CMS-Syntax-Funktionen eingesetzt. Die Verwendung von Bootstrap ermöglicht es, dass du dein Design optimal an unterschiedliche Displaygrößen (Desktop, Mobile, Tablet) anpassen kannst. Das Design von Callisto Light wurde äußerst zurückhaltend gestaltet. Der Fokus liegt auf optimaler Benutzerfreundlichkeit und einfacher Navigation.</p>
</div>
<div class="paragraph">
<p>Bevor du das neue Design einrichtest, solltest du das folgende Video anschauen. Dort wird auch erläutert, wie du Standardseiten in Abhängigkeit von Mandant und Design definierst.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/115636701" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>Wir werden dir weitere nützliche Template-Funktionen und -Variablen bereitstellen, damit du dein Design noch individueller gestalten kannst. Zudem haben sich einige unserer zertifizierten Agenturen auf die Bereitstellung von Responsive-Webshop- sowie Mobile-Webshop-Templates für plentymarkets spezialisiert.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du im <a href="https://developers.google.com/webmasters/mobile-sites/?hl=de" target="_blank" rel="noopener">Google-Leitfaden für die Optimierung von Websites für Mobilgeräte</a>.</p>
</div>
</div>
</div>
</div>
</main>