<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_themes_auf_ceres_3_0_updaten"><span>1.</span><span> Themes auf Ceres 3.0 updaten</span></a></li>
<li><a href="#_entfernte_direktiven"><span>2.</span><span> Entfernte Direktiven</span></a></li>
<li><a href="#_hinzugefügte_komponenten"><span>3.</span><span> Hinzugefügte Komponenten</span></a></li>
<li><a href="#_entfernte_und_geänderte_komponenten"><span>4.</span><span> Entfernte und geänderte Komponenten</span></a></li>
<li><a href="#_weitere_anpassungen"><span>5.</span><span> Weitere Anpassungen</span></a></li>
<li><a href="#_bootstrap_4_2_1_anpassungen"><span>6.</span><span> Bootstrap 4.2.1 Anpassungen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Themes auf Ceres 3.0 updaten</h1><div class="sect1">
<h2 id="_themes_auf_ceres_3_0_updaten">1. Themes auf Ceres 3.0 updaten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Major-Release Ceres 3.0 Mitte <strong>Januar</strong> gibt es Änderungen im Code, die für <strong>Theme-Entwickler</strong> besonders wichtig sind, da sie eine Reihe notwendiger Anpassungen in Themes mit sich bringen. Auf dieser Handbuchseite erfährst du, welche Komponenten und Direktiven aus Ceres entfernt wurden und welche Anpassungen deinerseits notwendig sind, damit sich dein Theme korrekt verhält.<br>
Diese Seite dient dazu, die größten potentiellen Fehlerquellen aufzuzeigen. Für eine komplette Übersicht der Änderungen, sieh dir bitte den aktuellen Vergleich der Versionen auf <a href="https://github.com/plentymarkets/plugin-ceres/compare/2.17.1…​3.0.0" target="_blank" rel="noopener">GitHub</a> an.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_entfernte_direktiven">2. Entfernte Direktiven</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In Ceres 3.0 wurden die folgenden Direktiven global <strong>entfernt</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>v-render-category</p>
</li>
<li>
<p>v-is-loading-watcher</p>
</li>
<li>
<p>v-update-sidenav-selection</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Weiterhin wurde die Direktive <strong>v-hover-mega-menu</strong> umbenannt und heißt nun <strong>v-navigation-touch-handler</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_hinzugefügte_komponenten">3. Hinzugefügte Komponenten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Komponente <strong>Ceres::ItemList.Components.CategoryItem</strong> bezieht sich auf die Kachel eines Artikels und wurde vor Ceres 3.0 nicht verwendet. Die Artikelkachel wurde zuvor von der nun entfernten Komponente <strong>Ceres::ItemList.Components.ItemList</strong> eingebunden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_entfernte_und_geänderte_komponenten">4. Entfernte und geänderte Komponenten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Komponenten wurden entfernt oder werden nun auf andere Weise über Twig inkludiert:</p>
</div>
<div class="paragraph">
<p><strong>Entfernt</strong>:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ceres::ItemList.Components.ItemList</p>
</li>
<li>
<p>Ceres::ItemList.Components.CategoryImageCarousel</p>
</li>
<li>
<p>Ceres::Category.Item.Partials.CategoryListItem</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Geändert</strong>:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ceres::ItemList.Components.ItemListSorting » Ceres::Category.Item.Partials.ItemSorting</p>
</li>
<li>
<p>Ceres::ItemList.Components.ItemsPerPage » Ceres::Category.Item.Partials.ItemsPerPage</p>
</li>
<li>
<p>Ceres::ItemList.Components.Pagination » Ceres::Category.Item.Partials.Pagination</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die folgenden Code-Beispiele veranschaulichen, welche Zeilen in deinem Theme potentiell entfernt werden müssen, damit die geänderten Komponenten nicht fälschlicherweise aufgerufen wird, und über welchen Befehl der jeweilige Aufruf ab Ceres 3.0 getätigt werden muss. Die Anpassungen beziehen sich auf die beiden Dateien <strong>/resources/views/ItemList/ItemListView.twig</strong> und <strong>/resources/views/Category/Item/CategoryItem.twig</strong>. Die drei Punkte […​] sind hier als Auslassung zu verstehen, da die Code-Zeilen nicht unmittelbar aufeinander folgen müssen. Die im jeweiligen Code-Snippet angegebenen Parameter können in deinem Theme natürlich abweichen.</p>
</div>
<div class="paragraph">
<p><strong>ItemSorting</strong><br>
<em>Die folgenden Zeilen müssen entfernt werden:</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">{{ component( "Ceres::ItemList.Components.ItemListSorting" ) }}
[...]
&lt;item-list-sorting template="#vue-item-list-sorting" :sorting-list="{{ searchOptions.sorting | json_encode }}" :default-sorting="{{ searchOptions.defaultSorting | json_encode }}"&gt;&lt;/item-list-sorting&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><em>Hinzufügen:</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; include "Ceres::Category.Item.Partials.ItemSorting" with { 'sortingData': searchOptions.sorting, 'selectedSorting': itemSorting } &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>ItemsPerPage</strong><br>
<em>Die folgenden Zeilen müssen entfernt werden:</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">{{ component( "Ceres::ItemList.Components.ItemsPerPage" ) }}
[...]
&lt;items-per-page template="#vue-items-per-page" :pagination-values="{{ searchOptions.itemsPerPage | json_encode }}"&gt;&lt;/items-per-page&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><em>Hinzufügen:</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; include "Ceres::Category.Item.Partials.ItemsPerPage" with { 'itemsPerPage': searchOptions.itemsPerPage, 'selectedValue': itemsPerPage } &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Pagination</strong><br>
<em>Die folgenden Zeilen müssen entfernt werden:</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">{{ component( "Ceres::ItemList.Components.Pagination") }}
...
&lt;pagination template="#vue-pagination"&gt;&lt;/pagination&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><em>Hinzufügen:</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; include "Ceres::Category.Item.Partials.Pagination" &#37;&#125;</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_weitere_anpassungen">5. Weitere Anpassungen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>In der Datei <strong>resources/views/MyAccount/Components/OrderHistory.twig</strong> erfolgt der Aufruf der Paginierung nun mit <strong>with</strong> und Parameter:</p>
</li>
</ul>
</div>
<div class="listingblock">
<div class="content">
<pre>&#123;&#37; include "Ceres::Category.Item.Partials.Pagination" with { 'currentPage': page } &#37;&#125;</pre>
</div>
</div>
<div class="ulist">
<ul>
<li>
<p>In der Datei <strong>resources/views/PageDesign/Partials/Header/Header.twig</strong> muss das <strong>script</strong> eingebunden werden, da sonst Elemente hinter dem Header verschwinden können:</p>
</li>
</ul>
</div>
<div class="listingblock">
<div class="content">
<pre>&#123;&#37; set scriptId = uid() &#37;&#125;
&lt;script id="{{ scriptId }}"&gt;
    document.getElementById("vue-app").style.marginTop = document.getElementById("page-header").getBoundingClientRect().height + 'px';
    document.getElementById("{{ scriptId }}").remove();
&lt;/script&gt;</pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_bootstrap_4_2_1_anpassungen">6. Bootstrap 4.2.1 Anpassungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Veröffentlichung von Ceres 3.0 wird das Bootstrap-Framework von Version 4.0.0-alpha.3 auf Version 4.2.1 angehoben. Durch die Anhebung der Version müssen Theme-Entwickler einige Anpassungen bei Benennungen von CSS-Klassen und -Variablen vornehmen, die im Folgenden aufgelistet werden.</p>
</div>
<table id="tabelle-bootstrap-4-klassen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Anpassungen an Klassenbezeichnungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vorher</th>
<th class="tableblock halign-left valign-top">Nachher</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.pos-f-t</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.fixed-top</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.hidden-xs-up</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.d-none</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.hidden-sm-up</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.d-sm-none</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.hidden-md-up</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.d-md-none</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.hidden-lg-up</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.d-lg-none</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.hidden-xl-up</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.d-xl-none</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.pull-{breakpoint}-{direction}</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.float-{breakpoint}-{direction}</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.m-{direction}-{spacer}</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.m{direction}-{spacer}</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.p-{direction}-{spacer}</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.p{direction}-{spacer}</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.m-x-{spacer}</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.mx-{spacer}</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.m-y-{spacer}</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.my-{spacer}</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.offset-xs-{size}</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.offset-{size}</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.m-x-auto</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.mx-auto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.text-xs-{direction}</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.text-{direction}</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.card-block</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.card-body</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">.bg-faded</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.bg-light</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Theme-Entwickler müssen die Klassen hinsichtlich der <strong>breakpoints</strong> (xs, sm, md, lg, xl), <strong>direction</strong> (left, right, etc.) und <strong>spacer</strong> überprüfen. Die <strong>Spacer</strong>-Werte haben sich ebenfalls verändert und müssen wie folgt angepasst werden:</p>
</div>
<table id="tabelle-bootstrap-4-spacer" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Anpassungen an Spacers</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vorher</th>
<th class="tableblock halign-left valign-top">Nachher</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die folgenden CSS-Variablen wurden umbenannt und müssen von Theme-Entwicklern angepasst werden:</p>
</div>
<table id="tabelle-bootstrap-4-variablen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Anpassungen an Variablen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vorher</th>
<th class="tableblock halign-left valign-top">Nachher</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$text-color</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$body-color</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$font-size-h1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$h1-font-size</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$font-size-h2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$h2-font-size</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$font-size-h3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$h3-font-size</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$font-size-h4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$h4-font-size</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$font-size-h5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$h5-font-size</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">$font-size-h6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$h6-font-size</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn alle auf dieser Seite aufgeführten Anpassungen vorgenommen werden, wird dein Theme fit für Ceres 3.0 sein.</p>
</div>
</div>
</div>
</main>