<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_event_procedures"><span>1.</span><span> Event procedures</span></a></li>
<li><a href="#_menu_overview"><span>2.</span><span> Menu overview</span></a></li>
<li><a href="#_detailed_overview"><span>3.</span><span> Detailed overview</span></a></li>
<li><a href="#new-event-procedure"><span>4.</span><span> New event procedure</span></a>
<ul class="sectlevel2">
<li><a href="#_selecting_the_event_for_a_new_event_procedure"><span>4.1.</span><span> Selecting the event for a new event procedure</span></a>
<ul class="sectlevel3">
<li><a href="#_type_of_event_order_generation"><span>4.1.1.</span><span> Type of event: Order generation</span></a></li>
<li><a href="#_type_of_event_order_change"><span>4.1.2.</span><span> Type of event: Order change</span></a></li>
<li><a href="#_type_of_event_documents"><span>4.1.3.</span><span> Type of event: Documents</span></a></li>
<li><a href="#_type_of_event_payment"><span>4.1.4.</span><span> Type of event: Payment</span></a></li>
</ul>
</li>
<li><a href="#_creating_a_new_event_procedure"><span>4.2.</span><span> Creating a new event procedure</span></a></li>
</ul>
</li>
<li><a href="#configuration"><span>5.</span><span> Configuration</span></a>
<ul class="sectlevel2">
<li><a href="#_explanation_of_the_settings"><span>5.1.</span><span> Explanation of the settings</span></a>
<ul class="sectlevel3">
<li><a href="#_section_settings"><span>5.1.1.</span><span> Section: Settings</span></a></li>
<li><a href="#_section_filter"><span>5.1.2.</span><span> Section: Filter</span></a>
<ul class="sectlevel4">
<li><a href="#_filter_type_order"><span>Filter type: Order</span></a></li>
<li><a href="#_filter_type_item"><span>Filter type: Item</span></a></li>
<li><a href="#_filter_type_customer"><span>Filter type: Customer</span></a></li>
</ul>
</li>
<li><a href="#_filter_type_shipping"><span>5.1.3.</span><span> Filter type: Shipping</span></a>
<ul class="sectlevel4">
<li><a href="#_filter_type_market"><span>Filter type: Market</span></a></li>
</ul>
</li>
<li><a href="#_filter_example_configurations"><span>5.1.4.</span><span> Filter: Example configurations</span></a>
<ul class="sectlevel4">
<li><a href="#13"><span>Filter: Order warehouse</span></a></li>
<li><a href="#13"><span>Filter: Number of orders</span></a></li>
<li><a href="#13"><span>Filter: Value of items (gross)</span></a></li>
</ul>
</li>
<li><a href="#_add_filter"><span>5.1.5.</span><span> Add filter</span></a></li>
<li><a href="#_section_procedures"><span>5.1.6.</span><span> Section: Procedures</span></a>
<ul class="sectlevel4">
<li><a href="#_procedure_type_item"><span>Procedure type: Item</span></a></li>
<li><a href="#_procedure_type_orders"><span>Procedure type: Orders</span></a></li>
<li><a href="#_procedure_type_documents"><span>Procedure type: Documents</span></a></li>
<li><a href="#_procedure_type_customer"><span>Procedure type: Customer</span></a></li>
<li><a href="#_procedure_type_shipping"><span>Procedure type: Shipping</span></a></li>
<li><a href="#_procedure_type_payment_methods"><span>Procedure type: Payment methods</span></a></li>
<li><a href="#_procedure_type_return"><span>Procedure type: Return</span></a></li>
<li><a href="#_procedure_type_listings"><span>Procedure type: Listings</span></a></li>
</ul>
</li>
<li><a href="#_procedures_example_configurations"><span>5.1.7.</span><span> Procedures: Example configurations</span></a></li>
<li><a href="#_procedure_split_by_item_availability"><span>5.1.8.</span><span> Procedure: Split by item availability</span></a></li>
<li><a href="#_adding_a_new_procedure"><span>5.1.9.</span><span> Adding a new procedure</span></a></li>
</ul>
</li>
<li><a href="#_several_procedures_per_event"><span>5.2.</span><span> Several procedures per event</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Event procedures</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Orders » Event procedures</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_event_procedures">1. Event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Routine tasks make up a significant portion of order processing. To a large extent, you can let your plentymarkets system take care of these for you. In particular, sending E-mails to your customers takes up a lot of time, yet is an essential part of a store that is geared towards service and customers.</p>
</div>
<div class="paragraph">
<p>With the <strong>event procedures</strong>, plentymarkets provides you with a simple and effective tool for setting up such automatic processes.</p>
</div>
<div class="paragraph">
<p>The basic principle is easy to understand: Similar to a switch function, certain events in the store trigger specific <strong>procedures</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example: Order confirmation</div>
<div class="paragraph">
<p>For an order confirmation, the event <strong>New order</strong> is always followed by the procedure <strong>E-mailing</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The <em><strong>creation of an event procedure</strong></em> is broken down into the following steps:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Creating a <a href="http://orders/settings/event-procedures/new-event-procedure" target="_self"><strong>new event procedure</strong></a></p>
</li>
<li>
<p>Specifying the <strong>event</strong></p>
</li>
<li>
<p>Setting one or more <strong>filters</strong></p>
</li>
<li>
<p>Deciding which <strong>procedures</strong> the system should carry out in this event</p>
</li>
<li>
<p><strong>Activating</strong> the event procedure (placing a check mark)</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Event procedures can be used to automate day-to-day processes. For further information, refer to the <strong><a href="/en/basics/automation/automating-processes">Automating processes</a></strong> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_menu_overview">2. Menu overview</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>event procedures</strong> are found on the left side of the menu. They are sorted into folders according to the type of event. New event procedures are <strong><em>automatically sorted</em></strong> into the folders. Only those folders that contain at least one event procedure will be displayed.<br>
For example, all of the event procedures that are triggered by booking the outgoing items will be sorted into the <strong>Outgoing items booked</strong> folder. In image 1, you can see that two event procedures are sorted into this folder. As soon as the outgoing items were booked, the event procedure will automatically send a <strong>shipping confirmation</strong> to the corresponding payment provider.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/ENG-Einstell-Auftraege-Ereignisaktionen-01.png" alt="ENG Einstell Auftraege Ereignisaktionen 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: the <strong>event procedures</strong> menu</em></p>
</div>
<div class="paragraph">
<p>The following table explains the settings in the <strong>Settings » Orders » Event procedures</strong> menu:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">No.</th>
<th class="tableblock halign-left valign-top">Function</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Add event procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Click on the <strong>green plus icon</strong> to create a new event procedure. See <strong><em>section 4.5</em></strong> on this page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Detailed overview</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Click on the <strong>binoculars</strong> to open an overview of all event procedures. See <strong>section 3</strong> on this page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>3</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Directory tree</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The directory is divided up into <em><strong>3 levels</strong></em>. The <em><strong>1st level</strong></em> is the <strong>type of event procedure</strong>. For example, the type "Order generation". The <em><strong>2nd level</strong></em> is the <strong>event</strong>. The <em><strong>3rd level</strong></em> is the actual <strong>event procedure</strong>. Every event procedure is given an <strong>ID</strong>. The IDs are assigned automatically and numbered consecutively. The <em><strong>individual name</strong></em> is displayed next to the ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>4</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Editing area</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The event procedure that was opened is highlighted in <em><strong>blue</strong></em> on the left side. The <em><strong>area for editing</strong></em> the event procedure is on the right side. You can change the <strong>event</strong>, the <strong>filters</strong> and the <strong>procedures</strong> here if needed. The filters specify which orders should be included. The procedures will then be carried out for these orders.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: overview: <strong>area for editing event procedures</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_detailed_overview">3. Detailed overview</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the <em><strong>detailed overview</strong></em> by clicking on the binoculars in the lower left corner below the directory tree.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/ENG-Einstell-Auftraege-Ereignisaktionen-02.png" alt="ENG Einstell Auftraege Ereignisaktionen 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: opening the <strong>overview</strong> of all event procedures</em></p>
</div>
<div class="paragraph">
<p>The overview displays all of the <em><strong>settings</strong></em> for the event procedures at once. The markings also indicate which event procedures are <em><strong>activated</strong></em> and which ones are not.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/ENG-Einstell-Auftraege-Ereignisaktionen-03.png" alt="ENG Einstell Auftraege Ereignisaktionen 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: the <strong>overview</strong> of event procedures is open</em></p>
</div>
<div class="paragraph">
<p>The <strong>detailed overview</strong> is divided up into two areas: the <strong>directory tree on the left</strong>, which is the same as described above, and the <strong>overview of settings on the right</strong>. You can see both <em><strong>active</strong></em> and <strong><em>inactive event procedures</em></strong> in image 3. Active event procedures are displayed with a <strong>gear-wheel icon and green lightning bolt</strong> in the directory tree. They are displayed with a <strong>green power icon</strong> in the overview of settings. These two icons are <strong>gray</strong> for inactive event procedures.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Configuration notes</div>
<div class="paragraph">
<p><em><strong>Displaying inactive event procedures</strong></em></p>
</div>
<div class="paragraph">
<p>Place a check mark next to the option <strong>Show inactive event procedures</strong>. Inactive event procedures will now be displayed.</p>
</div>
<div class="paragraph">
<p><em><strong>Jumping directly to an event procedure</strong></em></p>
</div>
<div class="paragraph">
<p>Click on an <strong>event procedure</strong> in the directory tree. The overview of settings will jump directly to this event procedure.</p>
</div>
<div class="paragraph">
<p><em><strong>Editing an event procedure</strong></em></p>
</div>
<div class="paragraph">
<p>Click on the <strong>ID</strong> in the overview of settings. The event procedure will open in the editing area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="new-event-procedure">4. New event procedure</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Orders » Event procedures</strong></p>
</div>
<div class="sect2">
<h3 id="_selecting_the_event_for_a_new_event_procedure">4.1. Selecting the event for a new event procedure</h3>
<div class="paragraph">
<p>First select the <strong>event</strong> that should trigger the <strong>new event procedure</strong>. The events that you can choose from are described below. They are grouped together by type.</p>
</div>
<div class="sect3">
<h4 id="_type_of_event_order_generation">4.1.1. Type of event: Order generation</h4>
<div class="paragraph">
<p>The following <strong>events</strong> can be used to trigger an event procedure. These events all relate to <strong><em>generating the following</em><a href="/en/order-processing/orders/managing-sales-orders#changing-order-40">types of orders</a></strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Event</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>New order, …​ Delivery order, …​ Return, …​ Return (by customer), …​ Credit note, …​ Repair, …​ Multi-order, …​ Multi credit note</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The event procedure is triggered whenever one of these documents <em><strong>are created</strong></em>.<br>
<strong>Return (by customer)</strong>: This event refers to <strong>returns</strong> that have been triggered by customers in the <strong>my account</strong> section of the online store.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: overview <strong>type of event: order generation</strong></em></p>
</div>
</div>
<div class="sect3">
<h4 id="_type_of_event_order_change">4.1.2. Type of event: Order change</h4>
<div class="paragraph">
<p>The following <strong>events</strong> can be used to trigger an event procedure. These events all relate to <a href="/en/order-processing/orders/managing-sales-orders#changing-order"><strong>order changes</strong></a>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Event</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status change</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When the order <strong>status</strong> changes to the status selected in the settings section.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Package number</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When a package number is defined for an order.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Outgoing items booked</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When the outgoing items are booked automatically or manually.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order note</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When you save information for an order.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order note from customer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When the customer leaves you new information during the <em><strong>checkout process</strong></em>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order extended by customer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When the customer extends an order in the <em><strong>order process</strong></em>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Manual warehouse change for stock units</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When the warehouse of a stock unit is manually changed in the order.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change of …​</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The event procedure will be triggered when one of the following parameters changes in an order. The following settings are available: <strong>Change of order type</strong>, …​ <strong>Repair status</strong>, …​ <strong>Reason for return</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>New OpenTrans order</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When a new OpenTrans order is carried out.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: overview <strong>type of event: order change</strong></em></p>
</div>
</div>
<div class="sect3">
<h4 id="_type_of_event_documents">4.1.3. Type of event: Documents</h4>
<div class="paragraph">
<p>The following <strong>events</strong> can be used to trigger an event procedure. These events all relate to <a href="/en/order-processing/orders/order-documents/generating-invoices"><strong>generating documents</strong></a>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Event</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Invoice generated</strong>, <strong>Delivery note</strong> …​, <strong>List of delivery addresses</strong> …​, <strong>Pick list</strong> …​, <strong>Packing list</strong> …​, <strong>Offer</strong> …​, <strong>Dunning letter</strong> …​, <strong>Reversal document generated</strong>, <strong>Order confirmation generated</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When one of the <strong>documents are generated</strong>. For example, when a <strong>PDF invoice is generated</strong> or when an existing invoice is <em><strong>newly generated</strong></em>.<br>
<em><strong>Important:</strong></em> This event can also be triggered by a different event procedure when you use the procedure <strong>generate invoice</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: overview <strong>type of event: documents</strong></em></p>
</div>
</div>
<div class="sect3">
<h4 id="_type_of_event_payment">4.1.4. Type of event: Payment</h4>
<div class="paragraph">
<p>The following <strong>events</strong> can be used to trigger an event procedure. These events all relate to <a href="/en/order-processing/orders/managing-sales-orders#changing-order-60"><strong>payment processes</strong></a>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Event</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Complete</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When a <em><strong>complete payment has been booked</strong></em> and an order has been assigned, i.e. when the order has been completely paid for.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Partial payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When the customer makes a <em><strong>partial payment</strong></em>.<br>
If necessary, this event can also be triggered <em><strong>multiple times</strong></em>, e.g. if the customer makes several partial payments.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Overpay</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When a customer has <em><strong>paid too much for an order</strong></em>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rejected</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When a <em><strong>payment is rejected by a payment provider</strong></em>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Initial payment is complete</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When a deposit payment on <em><strong>production items</strong></em> has been completely paid for.<br>
Go to <a href="/en/order-processing/orders/_basic-settings"><strong>Settings » Orders » Basic settings</strong></a> to save the percent value for <em><strong>deposit payments on production items</strong></em>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment canceled by the customer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When an already completed payment is canceled by the customer.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 4: overview <strong>type of event: payment</strong></em></p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_creating_a_new_event_procedure">4.2. Creating a new event procedure</h3>
<div class="paragraph">
<p>The following description for creating a <strong>new event procedure</strong> uses the example found in image 1 on the <strong><a href="/en/basics/automation/event-procedures">Event procedures</a></strong> page of the manual. Select a <strong>name</strong> that allows you to recognize the event procedure immediately.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/assets/ENG-Einstell-Auftraege-Ereignisaktionen-Neue-1.png" alt="ENG Einstell Auftraege Ereignisaktionen Neue 1">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: creating a <strong>new event procedure</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Creating a new event procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> in the lower left corner to create a new event procedure.</p>
</li>
<li>
<p>Enter a <strong>name</strong> e.g. <em><strong>Klarna confirmation</strong></em> and select <strong>Outgoing items booked</strong> as the <strong>event</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The event procedure will be created.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="configuration">5. Configuration</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_explanation_of_the_settings">5.1. Explanation of the settings</h3>
<div class="paragraph">
<p>You can edit or deactivate event procedures at any time. In other words, it is not necessary to delete complicated event procedures if you do not need them temporarily. You can deactivate them and reactivate them again later on.</p>
</div>
<div class="paragraph">
<p>Learn more about event procedures by looking at the examples in the following video tutorials:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.co.uk/a-3426/" target="_blank" rel="noopener">Automatically sending an email with a tracking URL</a></p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.co.uk/a-3425/" target="_blank" rel="noopener">Adding a free gift to an order</a></p>
</div>
<div class="sect3">
<h4 id="_section_settings">5.1.1. Section: Settings</h4>
<div class="paragraph">
<p>Once you have <strong><a href="/en/basics/automation/event-procedures#new-event-procedure">created</a></strong> an event procedure, the name and event will be displayed in the <strong>settings</strong> area and can be changed there.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Check the settings before activation!</div>
<div class="paragraph">
<p><strong>Active</strong>: Place a check mark to activate the event procedure or remove the check mark to deactivate it. Only activate a new event procedure if you have carried out and checked all of the settings. Activating a partially configured event procedure can cause errors to occur!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_section_filter">5.1.2. Section: Filter</h4>
<div class="paragraph">
<p>Use filters to determine which orders should be included in the event procedure. In this section, you can create one or more filters for the event procedure.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/assets/EN-Settings-Orders-Event-Procedures-Configuration-01.png" alt="EN Settings Orders Event Procedures Configuration 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>filter</strong> section</em></p>
</div>
<div class="sect4">
<h5 id="_filter_type_order">Filter type: Order</h5>
<div class="paragraph">
<p>The following filters can be used to select specific <strong><a href="/en/order-processing/orders/managing-sales-orders#changing-order">order</a></strong> characteristics:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one, several or all order types.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order warehouse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered by one or more warehouses.<br>
<strong>A warehouse in all positions</strong> = Only those orders will be filtered that include stock units in the same warehouse.<br>
<strong>Multiple warehouses per order</strong> = Only those orders will be filtered that include stock units from different warehouses.<br>
Alternatively, select one or more warehouses to only include orders from the selected warehouse(s).<br>
For further information, refer to the <a href="/en/basics/automation/event-procedures#configuration"><strong>example configuration</strong></a> in section 1.3.1.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Number of positions</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders will be filtered according to the number of order items included in each order. You can choose between the options <strong>1</strong> and <strong>&gt; 1</strong>. In other words, you can either filter the orders that have one stock unit only or the orders that have multiple stock units.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Active user</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered by the active user, i.e. the user who triggers the event procedure. You can also select <strong>all</strong> users at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered by one or more referrers. You can also select <strong>all</strong> of the referrers at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Dunning level</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered by one or more dunning levels. You can select <strong>all</strong> of the dunning levels at once. Alternatively, you can select the option <strong>None</strong> if you only want to include orders that do not have a dunning level.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client (store)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered by one or more online stores/clients (stores). You can select <strong>all</strong> of the stores at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Flag</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered by one or more flags. You can select <strong>all</strong> of the flags at once. Alternatively, you can select the option <strong>None</strong> if you only want to include orders that do not have a flag.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Value of items (gross)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered according to the gross value of items. You can enter two values and assign an operator to each one.<br>
For further information, refer to the <a href="/en/basics/automation/event-procedures#configuration"><strong>example configuration</strong></a> in section 1.3.3.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered by one or more payment methods. You can select <strong>all</strong> of the payment methods at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered according to the payment status. For example, the status could be that the payment was rejected or is waiting.<br>
<strong>Example:</strong> If a payment provider rejects a customer’s payment during the order process in the store, then you could use this event to set up a procedure here, e.g. automatically sending an email.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Loyalty program</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered based on the loyalty program.<br>
<strong>ALL</strong> = Filters all orders.<br>
<strong>None</strong> = Filters orders that do not belong to any loyalty program.<br>
<strong>Amazon Prime</strong> = Filters <a href="/en/omni-channel/multi-channel/amazon#420"><strong>Amazon Prime</strong></a> orders.<br>
<strong>Amazon NextDay</strong> = Filters Amazon orders that are shipped the next day.<br>
<strong>Amazon SecondDay</strong> = Filters Amazon orders that are shipped the day after tomorrow.<br>
<strong>eBay Plus</strong> = Filters eBay Plus orders.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order weight</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered based on the total weight of all items included in the order. Use operators like greater than, less than and equals (&gt;, &lt;, =) and the units g and kg to filter orders with a specific weight.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: overview filter type: <strong>Order</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_filter_type_item">Filter type: Item</h5>
<div class="paragraph">
<p>The following filters can be used to select specific <strong><a href="/en/item/managing-items">items</a></strong> included in the orders:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stocked item, Production item, Special order item, Contains colli</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered by the type of item that is included. Various types of items can be included in one order.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Contains only</strong> …​</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Same as above. However, filters orders that only contain this one type of item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item is included</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the item IDs that should be filtered by. Searches for all of the orders that contain the item(s).</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: overview filter type: <strong>Item</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_filter_type_customer">Filter type: Customer</h5>
<div class="paragraph">
<p>The following filters can be used to select specific <strong><a href="/en/crm/managing-customer-data">customer data</a></strong> included in the orders:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer rating</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered by the customer rating and operator that were selected.<br>
If you only want to filter orders that do not have a customer rating, then select the operator <strong>==</strong> and the <strong>gray stars</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer class</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered according to one or more customer classes. You can select <strong>all</strong> of the customer classes at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered according to the customer type.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Age rating: Customer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered by one or more age ratings. You can select <strong>all</strong> of the age ratings at once. Alternatively, you can select the option <strong>None</strong> if you only want to include orders that do not have an age rating.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VAT number</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered according to the VAT number. Options: The VAT number is <strong>available</strong> or <strong>not available</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Number of orders</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Use operators like <strong>greater than</strong>, <strong>less than</strong> and <strong>equals</strong> (&gt;, &lt;, =) to specify the quantity of orders.<br>
For further information, refer to the <a href="/en/basics/automation/event-procedures#configuration"><strong>example configuration</strong></a> in section 1.3.2.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Revenue</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filters the customers who generated a specific amount of revenue during a specific time period. If desired, returns can also be included as revenue.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: overview filter type: <strong>Customer</strong></em></p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_filter_type_shipping">5.1.3. Filter type: Shipping</h4>
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Valid DHL Packstation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered that contain a valid DHL Packstation as the delivery address.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Faulty DHL Packstation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered that contain a faulty DHL Packstation as the delivery address.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Country of delivery</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered according to one or more countries of delivery. You can select <strong>all</strong> of the countries of delivery at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered according to one or more shipping methods. You can select <strong>all</strong> of the shipping methods at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipped on</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered according to the shipping date. Options: <strong>Available</strong>, <strong>not available</strong> or <strong>in the future</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping costs (gross)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are filtered according to the gross shipping costs. You can enter a value and assign an operator to it.<br>
For further information, refer to the <a href="/en/basics/automation/event-procedures#configuration"><strong>example configuration</strong></a> in section 1.3.3.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping by FBA only</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This filter searches for orders that are completely shipped by Amazon with Amazon Multi-Channel.<br>
The filter is used to search for orders that are made up of several shipments. You can then inform the recipient that he or she will receive more than one shipment.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping partially by FBA</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This filter searches for orders that contain items that are partially shipped by Amazon with Amazon Multi-Channel.<br>
The filter is used to mark the corresponding orders.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 4: overview filter type: <strong>Shipping</strong></em></p>
</div>
<div class="sect4">
<h5 id="_filter_type_market">Filter type: Market</h5>
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>eBay</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filters the orders that were generated by the market eBay.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 5: overview filter type: <strong>Market</strong></em></p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_filter_example_configurations">5.1.4. Filter: Example configurations</h4>
<div class="paragraph">
<p>In this section, you will see examples of the filters and explanations of their settings. Most filters can be configured very quickly by selecting one or more options (example in image 4). These filters do not need detailed explanations. Some filters are configured by selecting a certain range. These filters use operators like <strong>greater than</strong>, <strong>less than</strong> or <strong>equals</strong> (&gt;, &lt;, =). We will now show you different options.</p>
</div>
<div class="sect4 1">
<h5 id="13">Filter: Order warehouse</h5>
<div class="paragraph">
<p>Orders are filtered by one or more warehouses. Multiple warehouses can be used in combination with the operators <strong>AND</strong> and <strong>OR</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/assets/EN-Settings-Orders-Event-Procedures-Configuration-02.png" alt="EN Settings Orders Event Procedures Configuration 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>order warehouse</strong> filter</em></p>
</div>
<div class="paragraph">
<p>In the example configuration in image 2, only those orders with both warehouses will be affected. This is because the operator <strong>AND</strong> was chosen. If the operator <strong>OR</strong> is selected instead, then orders are included if one of the selected warehouses are saved for them.</p>
</div>
<div class="paragraph instruction">
<p>Configuring the order warehouse filter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on the event procedure that you want to add this filter to or create a new event procedure.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> in the filter section.</p>
</li>
<li>
<p>Select the filter type <strong>Order warehouse</strong>.<br>
→ The filter will be created.</p>
</li>
<li>
<p>Carry out the desired settings within the filter (example in image 2).</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect4 2">
<h5 id="13">Filter: Number of orders</h5>
<div class="paragraph">
<p>You can use this filter to trigger a procedure once a customer has placed a certain number of orders. The procedure could be e.g. sending an email that includes a gift card.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/assets/EN-Settings-Orders-Event-Procedures-Configuration-03.png" alt="EN Settings Orders Event Procedures Configuration 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: <strong>number of orders</strong> filter</em></p>
</div>
<div class="paragraph">
<p>In the example, the procedure is triggered once a customer has placed at least 10 orders. You also have to set up the customer filter for this procedure. The customer filter specifies which <strong>customer type</strong> the event procedure should be applied to, e.g. <strong>customer</strong>.</p>
</div>
</div>
<div class="sect4 3">
<h5 id="13">Filter: Value of items (gross)</h5>
<div class="paragraph">
<p>You can use the <strong>value of items</strong> filter to specify a range for the gross value of items. You can use two different fields to specify the range. As such, it is possible to create customized settings.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/assets/EN-Settings-Orders-Event-Procedures-Configuration-04.png" alt="EN Settings Orders Event Procedures Configuration 04">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: <strong>value of items (gross)</strong> filter</em></p>
</div>
<div class="paragraph">
<p>In the example, all of the orders will be filtered that have a gross value of items under 10 Euro as well as all the orders that have a gross value of items greater than or equal to 100 Euro.</p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_add_filter">5.1.5. Add filter</h4>
<div class="paragraph">
<p>Click on the <strong>green plus icon</strong> to add a new filter to an event procedure (image 5, red arrow). Afterwards select the <strong>filter type</strong> for the filter.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Folder structure</div>
<div class="paragraph">
<p>Filters are sorted into sections and folders. Search for the folder and click on the small <strong>plus icon</strong> to open the content.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/assets/EN-Settings-Orders-Event-Procedures-Configuration-05.png" alt="EN Settings Orders Event Procedures Configuration 05">
</div>
</div>
<div class="paragraph">
<p><em>Image 5: selecting the filter options</em></p>
</div>
<div class="paragraph instruction">
<p>Adding a filter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on the event procedure that you want to add a filter to.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> in the filter section (image 5, red arrow).</p>
</li>
<li>
<p>Select the desired <strong>filter type</strong>.<br>
→ The filter will be created.</p>
</li>
<li>
<p>Carry out the desired settings within the filter.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In this example, only <strong>orders</strong> and <strong>credit notes</strong> will be included in the event procedure.</p>
</div>
</div>
<div class="sect3">
<h4 id="_section_procedures">5.1.6. Section: Procedures</h4>
<div class="paragraph">
<p>In the <strong>Procedures</strong> section, you create the procedures that are to be carried out by the system automatically.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/assets/EN-Settings-Orders-Event-Procedures-Configuration-06.png" alt="EN Settings Orders Event Procedures Configuration 06">
</div>
</div>
<div class="paragraph">
<p><em>Image 6: <strong>procedures</strong> section</em></p>
</div>
<div class="paragraph">
<p>This example shows three procedures and the settings that can be selected for them. All of the procedures are described below. They are grouped according to the type of procedure.</p>
</div>
<div class="sect4">
<h5 id="_procedure_type_item">Procedure type: Item</h5>
<div class="paragraph">
<p>The following procedures are available:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Add item</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the item ID. Procedure adds a specified item to an order.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send a coupon item to the manufacturer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a template. Procedure sends the manufacturer a coupon item in the selected template.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Assign serial numbers</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Procedure assigns a serial number to the order.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 6: overview procedure type: <strong>Item</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_procedure_type_orders">Procedure type: Orders</h5>
<div class="paragraph">
<p>The following procedures are available:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Create credit note</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatic generation of a credit note when the specified event occurs.<br>
Select one of the following settings for the option <strong>Date</strong>:<br>
<strong>Standard</strong> = Will be created with the current date and time.<br>
<strong>Return date</strong> = Will be created with the date the return was created on.<br>
<strong>Order date</strong> = Will be created with the date the order was created on.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Use order template</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Go to <a href="/en/order-processing/orders/order-template"><strong>Settings » Orders » Order template</strong></a> to create order templates.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate delivery orders</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatic generation of delivery orders when the specified event occurs.<br>
<strong>Important</strong>: This option will only be displayed if the <a href="/en/order-processing/orders/managing-sales-orders#delivery-order"><strong>warehouse configuration</strong></a> that is necessary for delivery orders has been set up correctly.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Split into delivery orders by gross value of items</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Splits the order items of an order into various delivery orders. They are split by an amount, which the stock units in a delivery order are not allowed to exceed. You can set up an error status that the delivery order receives if one of its stock unit exceeds the selected amount.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Split into delivery orders by item availability</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are split into delivery orders by item availability. <strong>Group</strong> the availabilities to do so. Configure the groups by moving the desired availabilities into the column on the right. An additional order is created for each group. This order contains only those items with availabilities that were saved for this group.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Split into orders by item availability</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Same as the procedure above. Orders are split into orders by item availability.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Split by available line of items</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are split by an attribute that you select. This is done with the help of the available stock. If different variations of an item were ordered and not all of them are fully available, the order will be split. Items that are available immediately will remain in the original order. Delivery orders will be created for those items that are missing variations.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Split by delivery date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Orders are automatically split into orders by the delivery date that was saved. The customer can save the delivery date during the checkout process. The stock units' delivery date can also be saved or changed in the order itself. You can also use a <strong>group function</strong> to assign a delivery date to the orders.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the type of order that you want an order to be changed to.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the status that you would like to set with the event procedure.<br>
<strong>Ignore <a href="/en/order-processing/orders/managing-sales-orders#delivery-order">delivery orders</a></strong>: If you use the <strong>Change status</strong> procedure for an order that includes delivery orders, then the status of the delivery orders will also be changed by default. Place a check mark next to this option if you only want the status of the main order to be changed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change flag</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the flag that you would like to set with the event procedure.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change dunning level</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the dunning level that you would like to set with the event procedure.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change status of the main order</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the status that a main order should be set to when an order is split (function: <strong>split up order</strong>) or when the function <strong>generate delivery orders</strong> is used.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Calculate sales data for data export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When invoices or credit notes are created, the revenue data is generally saved in a separate data base. This helps the system perform and react quickly. Internal invoices may not be created for some payment methods e.g. <strong>Klarna</strong>, <strong>Neckermann</strong> or <strong>Quelle</strong>. Therefore, the data base does not contain data for these payment methods. However, you can generate the export data for such orders (COLLMEX, DATEV etc.) with the help of an event procedure.<br>
<strong>Important</strong>: This procedure only goes into effect if the payment method is <strong>Quelle</strong>, <strong>Klarna</strong> or <strong>Neckermann</strong>. This is why they should also be selected in the filter. You should select <strong>order</strong>, <strong>warranty</strong> and / or <strong>repair</strong> as the <strong>order type</strong> because invoices can only be generated for these types.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Book outgoing items</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Check the box if the event should book outgoing items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Notify Otto of changes to the order</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This procedure is used to notify the market Otto of any order <strong>status changes</strong>. There are the order statuses <strong>Order received</strong>, <strong>Outgoing items booked</strong>, <strong>Return</strong> and <strong>Cancellation</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Open URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This procedure opens a URL that is saved here. You can specify information about orders, e.g. the order ID, by adding the template variable <strong>OrderID</strong> to the end of the URL. Enter the complete URL based on the following pattern: <strong><a href="http://www.example.com" class="bare">http://www.example.com</a></strong>.<br>
If you want to use the order ID, then use the pattern: <strong><a href="http://www.example.com/">OrderID</a>/</strong>.<br>
The available template variables are displayed in the procedure.<br>
<strong>HTTP method</strong> = You can select <strong>GET</strong>, <strong>PUT</strong> or <strong>POST</strong>.<br>
<strong>Content type</strong> = Save the content type for the URL.<br>
<strong>Example</strong>: If XML content should be transferred, enter <strong>text/xml</strong>.<br>
<strong>Request Content</strong> = You can transfer texts here, e.g. XML or JSON content.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Assign sales representative to order</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This procedure saves a sales representative in an order. The sales representative is assigned based on the order recipient’s zip code. In order for a sales representative to be assigned, you have to save a range of zip codes in the sales representative’s customer data. The sales representative’s ID is saved, not the name.<br>
For further information, refer to the <strong><a href="/en/crm/managing-customer-data">New customer</a></strong> page of the manual.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Delete Klarna invoice</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Deletes an invoice that has the payment method <strong>Klarna</strong> when a cancellation occurs. For further information regarding this and other event procedures, refer to the <a href="/en/basics/automation/event-procedures#configuration"><strong>Klarna</strong></a> page of the manual.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Notify Cdiscount of order changes</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This procedure is used to notify the market <a href="/en/basics/automation/event-procedures#configuration"><strong>Cdiscount</strong></a> of any order status changes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send "Order complete" to DaWanda</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A procedure to inform the market DaWanda about completed orders. For further information regarding this and other event procedures, refer to the <a href="/en/basics/automation/event-procedures#configuration"><strong>DaWanda</strong></a> page of the manual.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 7: overview procedure type: <strong>Orders</strong></em></p>
</div>
<div class="paragraph">
<p>Note the information regarding <strong><a href="/en/order-processing/orders/managing-sales-orders#delivery-order">delivery orders</a></strong> if you want to change the status of main orders using event procedures for delivery orders.</p>
</div>
</div>
<div class="sect4">
<h5 id="_procedure_type_documents">Procedure type: Documents</h5>
<div class="paragraph">
<p>In order for a document to be generated, i.e. to receive the desired configuration and the correct layout, it has to be configured in the corresponding menu and a template has to be saved. For further information, refer to the <strong><a href="/en/order-processing/orders/order-documents">Documents</a></strong> page of the manual.</p>
</div>
<div class="paragraph">
<p>The following procedures are available:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate invoice</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatic generation of an invoice when the specified event occurs.<br>
When choosing this option, further options will appear. You can enter a <strong>payment due date</strong>, an <strong>early payment discount</strong> as well as a <strong>comment</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate multi-invoice</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only for plentymarkets Enterprise.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate order confirmation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatic generation of an order confirmation when the specified event occurs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate credit note</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatic generation of a credit note when the specified event occurs.<br>
Select one of the following settings for the option <strong>Date</strong>:<br>
<strong>Standard</strong> = Will be created with the current date and time.<br>
<strong>Credit note date</strong> = Will be created with the date the credit note was received on.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate adjustment form</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatic generation of an <a href="/en/omni-channel/online-store/standard/documents/adjustment-form"><strong>adjustment form</strong></a> when the specified event occurs.<br>
An adjustment form is used as a written record for accounting purposes. It is used, e.g. for credit notes that are not paid off or to keep track of a reimbursement, e.g. from a canceled invoice.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate multi credit note</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only for plentymarkets Enterprise.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate delivery note</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatic generation of a delivery note when the specified event occurs.<br>
When choosing this option, a text field will appear in which you can enter a comment.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate dunning letter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatic generation of a dunning letter when the specified event occurs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate return label</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatic generation of a return label when the specified event occurs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate gift card</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatic generation of a gift card when the specified event occurs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate reversal document</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatic generation of a reversal document when the specified event occurs. The reversal documents cancels an invoice not an order. Therefore the procedure will only be carried out for orders that have an invoice.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 8: overview procedure type: <strong>Documents</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_procedure_type_customer">Procedure type: Customer</h5>
<div class="paragraph">
<p>The following procedures are available:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change customer rating</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the new customer rating that should be applied.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change customer type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the new customer type that should be applied.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send email</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Determine which type of emails should be sent to which recipients or customers. Select the desired combination of <strong>template</strong> and <strong>recipient</strong> and then click on the <strong>plus icon</strong> to create the procedure. You can create combinations as desired for this function. By clicking on the <strong>delete icon</strong>, the recipients will be deleted. If no email recipients have (yet) been defined for an event procedure, then the note <strong>no recipients</strong> will be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send eBay message</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the desired email template for the message.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Assign sales representative to customer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This procedure automatically saves sales representatives in the customer data. In order for a sales representative to be assigned, you have to save a range of zip codes in the sales representative’s customer data. The sales representative’s <strong>ID</strong> is saved, not the name. For further information, refer to the <strong><a href="/en/crm/managing-customer-data">New customer</a></strong> page of the manual.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change customer class</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the new customer class that should be applied.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 9: overview procedure type: <strong>Customer</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_procedure_type_shipping">Procedure type: Shipping</h5>
<div class="paragraph">
<p>The following procedures are available:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Assign storage location</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Check the box if the event should assign a storage location.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Create shipping packages</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Creates shipping packages for an order before the order is opened in the shipping center.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Transfer shipping permission to FBA</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Permission will be sent to <strong><a href="/en/omni-channel/multi-channel/amazon">FBA</a></strong> so that items are actually shipped by FBA.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send shipping confirmation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A shipping confirmation is sent to a payment provider as soon as the items which were purchased via this payment provider have been shipped.<br>
Available for: <strong>Amazon Payments</strong>, <strong>Amazon Payments Advanced,</strong> <strong>BillSAFE</strong>, <strong>DaWanda</strong>, <strong>eBay</strong>, <strong>Gimahhot</strong>, <strong>Hood</strong>, <strong>Klarna</strong>, <strong>LaRedoute</strong>, <strong>Masterpayment</strong>, <strong>Payolution</strong>, <strong>PAYONE</strong>, <strong>Plus.de</strong>, <strong>POSTPAY</strong>, <strong>Rakuten</strong>, <strong>Zentralverkauf</strong>, <strong>Worldpay</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 10: overview procedure type: <strong>Shipping</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_procedure_type_payment_methods">Procedure type: Payment methods</h5>
<div class="paragraph">
<p>The following procedures are available:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send credit note</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A credit note will be sent to a payment provider.<br>
Available for: <strong>ClickandBuy</strong>, <strong>MeinPaket</strong>, <strong>PAYONE</strong>, <strong>POSTPAY</strong>, <strong>Sage Pay</strong>, <strong>Worldpay</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send order to Klarna</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>An order will be sent to Klarna.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Notify Klarna of changes to the order</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klarna will be notified of a change to the order.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send reversal to ClickandBuy</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A reversal will be sent to ClickandBuy.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send refund</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A refund will be sent to a payment provider.<br>
Available for: <strong>Amazon Payments</strong>, <strong>Amazon Payments Advanced</strong>, <strong>Payolution</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send refund to Masterpayment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A refund will be sent to Masterpayment.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send cancellation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A cancellation will be sent to a payment provider.<br>
Available for: <strong>Amazon Payments</strong>, <strong>Amazon Payments Advanced</strong>, <strong>ClickandBuy</strong>, <strong>Plus.de</strong>, <strong>POSTPAY</strong>, <strong>Sage Pay</strong>, <strong>Worldpay</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send cancellation or credit note</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Depending on the payment and shipping status, either a cancellation or a credit note will be sent to a payment provider.<br>
Available for: <strong>Worldpay</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Permit payment via direct debit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can activate or deactivate the payment method <strong>direct debit</strong> with the event procedure.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Permit payment per invoice</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can activate or deactivate the payment method <strong>invoice</strong> with the event procedure.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send payment notification to DaWanda</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A credit note will be sent to the market DaWanda.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 11: overview procedure type: <strong>Payment methods</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_procedure_type_return">Procedure type: Return</h5>
<div class="paragraph">
<p>The following procedures are available:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate DHL return label</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Generates a DHL return label that is available in the <strong>shipping center</strong> or in the <strong>My account</strong> area of the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send return</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sends a return to the payment provider.<br>
Available for: <strong>Amazon</strong>, <strong>BillSAFE</strong>, <strong>Cdiscount</strong>, <strong>Klarna</strong>, <strong>LaRedoute</strong>, <strong>MeinPaket</strong>, <strong>Plus.de</strong>, <strong>POSTPAY</strong>, <strong>Rakuten</strong>, <strong>Shopgate</strong><br>
For further information, refer to the <a href="/en/order-processing/payment"><strong>payment method</strong></a> page of the manual.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 12: overview procedure type: <strong>Return</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_procedure_type_listings">Procedure type: Listings</h5>
<div class="paragraph">
<p>The following procedures are available:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Post feedback</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatically creates <strong>feedback</strong> for a listing.<br>
Available for: Hood, ricardo, eBay.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Send payment notification to Hood</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatically sends a payment notification.<br>
Available for: Hood, eBay.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Start dunning/dispute process on eBay</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatically sends a dunning letter or starts a dispute process.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 13: overview procedure type: <strong>Listings</strong></em></p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_procedures_example_configurations">5.1.7. Procedures: Example configurations</h4>
<div class="paragraph">
<p>Most procedures are easily understood simply by looking at their names. In this section, you will see explanations and examples of those procedures that require additional information.</p>
</div>
</div>
<div class="sect3">
<h4 id="_procedure_split_by_item_availability">5.1.8. Procedure: Split by item availability</h4>
<div class="paragraph">
<p>Orders are split into delivery orders or orders by item availability. To do so, you create one or more <strong>availability groups</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/assets/EN-Settings-Orders-Event-Procedures-Configuration-07.png" alt="EN Settings Orders Event Procedures Configuration 07">
</div>
</div>
<div class="paragraph">
<p><em>Image 7: creating item availability groups</em></p>
</div>
<div class="paragraph instruction">
<p>Creating availability groups:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the <strong>availability</strong> that you want to add to a group and drag it to the <strong>green plus</strong> button (image 7, blue arrow).<br>
→ The group will be created.</p>
</li>
<li>
<p>Add as many other availabilities as needed by dragging them to the desired group (image 7, green arrow).</p>
</li>
<li>
<p>Create other groups in the same way. The number of groups that you create determines how many orders the order will be split into.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example for automatically splitting an order into groups</div>
<div class="paragraph">
<p>If items that are available quickly, e.g. <strong>ships immediately</strong> and <strong>ships in 24 hours</strong> are shipped around the same time, then it would make sense to create a group for these availabilities (image 7). Create another group for items with longer availabilities. The order will now be split into two orders according to these groups.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/assets/EN-Settings-Orders-Event-Procedures-Configuration-08.png" alt="EN Settings Orders Event Procedures Configuration 08">
</div>
</div>
<div class="paragraph">
<p><em>Image 8: availability groups</em></p>
</div>
</div>
<div class="sect3">
<h4 id="_adding_a_new_procedure">5.1.9. Adding a new procedure</h4>
<div class="paragraph">
<p>You can create as many procedures for an event as you want.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Folder structure</div>
<div class="paragraph">
<p>Procedures are sorted into sections and folders. Search for the folder and click on the small <strong>plus icon</strong> to open the content.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/assets/EN-Settings-Orders-Event-Procedures-Configuration-09.png" alt="EN Settings Orders Event Procedures Configuration 09">
</div>
</div>
<div class="paragraph">
<p><em>Image 9: Adding a new procedure</em></p>
</div>
<div class="paragraph instruction">
<p>Adding a procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on the event procedure that you want to add a procedure to.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> in the <strong>Procedures</strong> section.</p>
</li>
<li>
<p>Select the desired <strong>procedure type</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The procedure will be created.</p>
</li>
<li>
<p>Carry out the desired settings within the procedure.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_several_procedures_per_event">5.2. Several procedures per event</h3>
<div class="paragraph">
<p>As many procedures can be added to an event as desired. Procedures are carried out in the order they are in if several procedures have been created for an event. The order can be changed using the arrows.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example for several procedures per event</div>
<div class="paragraph">
<p>You set up 3 procedures for the event <strong>Order note from customer</strong>. These procedures are <strong>Change flag</strong>, <strong>Send email</strong> and <strong>Change flag</strong> and they are in this order. With the help of the first change of the flag you will be able to recognize orders that the customer has sent additional information. Next, an email will be sent to the customer and then the flag will change again, so that you will see by the flag that the customer has already received an email.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>