<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> OTTO Market</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up an account</span></a></li>
<li><a href="#275"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Setting the availability for images</span></a></li>
<li><a href="#400"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#425"><span>7.</span><span> Activating the payment method</span></a></li>
<li><a href="#450"><span>8.</span><span> Setting up the item export</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_a_catalogue_in_the_assistant"><span>8.1.</span><span> Creating a catalogue in the assistant</span></a></li>
<li><a href="#600"><span>8.2.</span><span> Mapping additional data fields in the catalogue (not in assistant)</span></a></li>
<li><a href="#602"><span>8.3.</span><span> Example: Mapping the data field "Stock"</span></a></li>
</ul>
</li>
<li><a href="#701"><span>9.</span><span> Linking data fields created in the assistant with variations</span></a></li>
<li><a href="#475"><span>10.</span><span> Linking variations with OTTO category groups</span></a></li>
<li><a href="#2000"><span>11.</span><span> Activating the catalogue export to OTTO Market</span></a></li>
<li><a href="#2200"><span>12.</span><span> Check list: Requirements for exporting variations</span></a></li>
<li><a href="#500"><span>13.</span><span> Setting up event procedures</span></a>
<ul class="sectlevel2">
<li><a href="#550"><span>13.1.</span><span> Generating return labels</span></a></li>
<li><a href="#700"><span>13.2.</span><span> Sending shipping confirmations to OTTO</span></a></li>
<li><a href="#800"><span>13.3.</span><span> Sending order cancellations to OTTO</span></a></li>
<li><a href="#900"><span>13.4.</span><span> Sending returns to OTTO</span></a></li>
<li><a href="#1000"><span>13.5.</span><span> Sending return rejections to OTTO</span></a></li>
</ul>
</li>
<li><a href="#1050"><span>14.</span><span> OTTO Market order management</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>14.1.</span><span> Order import</span></a></li>
<li><a href="#1200"><span>14.2.</span><span> Invoice import</span></a></li>
<li><a href="#1400"><span>14.3.</span><span> Credit note import</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>15.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>OTTO Market</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page provides information about OTTO market, OTTO’s marketplace model.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. OTTO Market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>OTTO market is OTTO’s marketplace. You are shown as the seller of your products. However, communication with customers is managed by OTTO.<br></p>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order import once an hour</p>
</li>
<li>
<p>Stock synchronisation every 15 minutes<br>
<strong><em>Note:</em></strong> If stock for a variation drops to 0, this variation is deactivated automatically after 15 days. This is done to protect the product’s ranking on OTTO Market. If new stock is booked for such a variation, the variation is reactivated during the nightly item export.</p>
</li>
<li>
<p>Update of item data including price synchronisation once every night</p>
</li>
<li>
<p>Import of return announcements by customers once per hour</p>
</li>
<li>
<p>Update of category groups/catalogue templates twice a week</p>
</li>
<li>
<p>Update of the brands list every three hours</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up an account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the assistant <strong>Base settings - OTTO Market</strong> in the <strong>Setup » Assistants » Omni-Channel</strong> menu to quickly and conveniently set up OTTO Market in plentymarkets. Moreover, you set up the data transfer to OTTO Market. Keep the API access data at hand that you received from OTTO Market.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out settings in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Base settings - OTTO Market</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info box shown below this instruction (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow in the step <strong>Summary</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The settings are saved.<br></p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Options in the assistant</div>
<div class="content">
<table id="table-otto-market-basic-settings-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select the client that should be used to sell your items.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>From the drop-down list <strong>Client</strong>, select a client. This client is used to generate the item URL in the catalogue and OTTO Market orders are assigned to this client.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Would you like to activate your OTTO market user account?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><em>Not activated</em> = The settings are saved but the data exchange with OTTO Market is not started.<br>
<em>Activated</em> = Data exchange with OTTO Market is started once the assistant is completed.<br>
<strong><em>Recommendation:</em></strong> Check all settings before activating the user account.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>API access data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enter the API access data.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>API user</strong> (mandatory input) = Enter the user name for the API interface that you received from OTTO Market.</p>
</li>
<li>
<p><strong>Password</strong> (mandatory input) = Enter the password for the API interface that you received from OTTO Market.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Data exchange</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Would you like to import OTTO market orders into plentymarkets?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to automatically import orders once an hour.<br>
<strong><em>Note:</em></strong> You need to activate this option to export item data and stock information.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Which data would you like to transfer to OTTO market?</strong><br>
(only shown if you activated <strong>Import orders</strong>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the data to be exported.<br>
<strong><em>Note:</em></strong> You need to automatically import orders to export item data and stock information.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item data</strong> = Item data is synchronised once a day during the night.</p>
</li>
<li>
<p><strong>Stock information</strong> = Stock is synchronised every 15 minutes.<br>
<strong><em>Note:</em></strong> If stock for a variation drops to 0, this variation is deactivated automatically after 15 days. This is done to protect the product’s ranking on OTTO Market. If new stock is booked for such a variation, the variation is reactivated during the nightly item export.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Would you like to import return announcements from OTTO market into plentymarkets?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to import returns that customers create on OTTO Market once per hour. Each returned order item is shown as a separate return in the <strong>Orders</strong> tab of an order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select the order status for newly imported return announcements.</strong><br>
(only shown if you activated <strong>Import return announcements</strong>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the drop-down list, select the status to be assigned to return announcements during import.<br>
<strong><em>Note:</em></strong> A return announcement does not guarantee that the customer actually sends the product back to you. As such, select a status that does not trigger any unwanted event procedures, e.g. event procedures for creating credit notes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Would you like to replace the stock amount for variations with no stock limitation?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate <strong>Replace stock</strong> to enter a stock amount.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock amount</strong><br>
(only shown if you activated <strong>Limit stock</strong>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the stock amount. This stock amount is sent if the setting <strong>Limit</strong> of a variation is set to <strong>None</strong> or <strong>Do not administer stock for this variation</strong> and stock is less than or equal to 0.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Would you like to import purchase receipts as external invoices?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>By default, purchase receipts are imported as normal order documents since 15/12/2020. Up to that date, the order documents provided by OTTO Market were imported with the document type <strong>External invoice</strong> even though the documents were not proper invoices. If you want to continue to import these documents with the document type <strong>External invoices</strong> due to dependencies to other exports, interfaces or software, activate the option <strong>Import purchase receipts as external invoices</strong>. Visit the <a href="https://forum.plentymarkets.com/t/aenderung-des-dokumententyps-der-kaufbelege-von-otto-change-of-document-type-of-purchase-receipts-from-otto/619731" target="_blank" rel="noopener">plentymarkets forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> for more details.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Shipping service provider</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link plentymarkets shipping service provider DHL with:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">For each plentymarkets shipping service provider, select an OTTO Market shipping service provider from the drop-down list.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="275">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with OTTO Market. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for OTTO Market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>OTTO Market</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on OTTO Market. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use group function or batch processing</div>
<div class="paragraph">
<p>You can edit the availability of several variations at once by using either the <a href="/en/item/managing-items#100">variation group function</a> or <a href="/en/item/managing-items#400">batch processing</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the variation availability for OTTO Market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on OTTO Market.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on OTTO Market, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>OTTO Market</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for OTTO Market.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you deactivate the market availability for OTTO Market of a variation in the <strong>Item » Edit item » [Open item] » Tab: Variation ID» Tab: Availability</strong>, the variation is deactivated on OTTO Market within 15 minutes. If you reactivate the availability of such a variation, the variation is only reactivated on OTTO Market during the nightly item export.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Setting the availability for images</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The availability <strong>OTTO Market</strong> has to be saved for an image in the <strong>Item » Edit item » [Open item] » Tab: Images</strong> menu so that item images are displayed on OTTO Market.</p>
</div>
<div class="paragraph instruction">
<p>Setting the availability for images:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Images</strong>.</p>
</li>
<li>
<p>Activate the option <strong>OTTO Market</strong> in the <strong>Availability</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation image is displayed on OTTO Market.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer OTTO Market. This price is displayed on OTTO Market.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for OTTO Market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>OTTO Market</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="425">7. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/payment/managing-payment-methods">payment method</a> <strong>Otto Payment</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the payment method Otto Payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Otto Payment</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-payment-method">[table-payment-method]</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="able-payment-method" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong>, and <strong>Upload logo</strong>. This enables you to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the <strong>Info page (external)</strong> option under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one of the following options for displaying the logo:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br></p>
</li>
<li>
<p><strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br></p>
</li>
<li>
<p><strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG, and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The selection depends on the conditions of your contract.<br>
<strong><em>Important:</em></strong> Do not enter a value into both fields.<br>
For further information, refer to the <a href="/en/business-decisions/plenty-bi/statistics">Statistics</a> page of the manual.<br>
For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>Setup » CRM » Classes</strong> to activate or deactivate <strong>permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Managing payment methods</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="450">8. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item data is exported to OTTO Market via catalogues. Use the assistant <strong>Create catalogues - OTTO Market</strong> to create a marketplace format for every OTTO category group. Is this your first time working with catalogues? Then read up on the <a href="#en/data/exporting-data/managing-catalogues">principle of catalogues first</a>. For further information about the plentymarkets data sources that can be linked, refer to the <a href="/en/data/exporting-data/managing-catalogues#_mapping_data_sources">Mapping data fields</a> chapter.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Items cannot be deleted at OTTO Market</div>
<div class="paragraph">
<p>An item cannot be deleted at OTTO Market, neither by plentymarkets nor by OTTO. It is only possible to mark the item as <strong>not available</strong> at OTTO Market. Therefore, make extra sure that the correct data fields are mapped in the catalogue prior to transferring your items.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_a_catalogue_in_the_assistant">8.1. Creating a catalogue in the assistant</h3>
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Create catalogues - OTTO Market</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info boxes below this instruction (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow in the step <strong>Summary</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p>Map more fields in the <strong>Data » Catalogues</strong> menu.<br>
<strong><em>Note:</em></strong> You need a separate catalogue for each OTTO category group.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Step <strong>Name and category group</strong></div>
<div class="content">
<table id="table-otto-market-catalogue-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enter a name for the catalogue.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the catalogue.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select the OTTO category group that should be added to the catalogue.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an OTTO category group from the drop-down list.<br>
<strong><em>Note:</em></strong> You need a separate catalogue for each OTTO category group.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Step <strong>Required fields</strong></div>
<div class="content">
<div class="paragraph">
<p>In this step of the assistant, you decide which variation data saved in plentymarkets you want to send to the market. To do so, you are going to map each mandatory field of the market with the data field in plentymarkets that contains the data that you want to export to the market. Each market specifies their own mandatory fields. Instead of mapping an existing data field, you can also create a new data field for some fields.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Parent SKU</strong> = From the drop-down list, select the data field in plentymarkets that contains the parent SKU.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>SKU</strong> = From the drop-down list, select the data field in plentymarkets that contains the SKU.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Select data source</strong> = A data field that already exists in plentymarkets will be exported to OTTO Market. Select the data field from the drop-down list <strong>Data field</strong>.<br>
<strong><em>Note:</em></strong> The mappings you create will not be checked in terms of logic. As such, check your mappings carefully before starting the export.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Create property</strong> = Creates a property and maps this property to the data field. This automatically created property will be saved in the <a href="/en/welcome/general-functions/properties#table-create-property">Setup » Settings » Properties » Configuration</a> menu.</p>
</div>
<div class="paragraph">
<p>The property is created with the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Section = Item</p>
</li>
<li>
<p>Property type = <em>depending on the market’s requirements</em></p>
</li>
<li>
<p>Language = German</p>
</li>
<li>
<p>Name = Field of the OTTO category group</p>
</li>
<li>
<p>Group = OTTO Market</p>
</li>
</ul>
</div>
<hr>
<div class="paragraph">
<p><strong>Creating a sales price</strong> = Creates a sales price and maps this sales price to the data field. You can check and edit this sales price in the <a href="/en/en/item/settings/prices#400">Setup » Item » Sales prices</a> menu.</p>
</div>
<div class="paragraph">
<p>The sales price is created with the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Subscription interval = None</p>
</li>
<li>
<p>Internal name = OTTO Market</p>
</li>
<li>
<p>External name = OTTO Market</p>
</li>
<li>
<p>Minimum quantity = 1</p>
</li>
<li>
<p>Live conversion = No</p>
</li>
<li>
<p>Currency = Euro</p>
</li>
<li>
<p>Display = Always display for new items</p>
</li>
<li>
<p>Client = ALL</p>
</li>
<li>
<p>Class = ALL</p>
</li>
<li>
<p>Country = Germany</p>
</li>
</ul>
</div>
<hr>
<div class="paragraph">
<p><strong>Create barcode</strong> = Creates the barcode <strong>OTTO Market</strong> and maps this barcode with the data field. If a barcode with the name <strong>OTTO Market</strong> already exists in the system, that barcode is mapped instead. You can check and edit this barcode in the <a href="/en/en/item/settings/barcodes#100">Setup » Item » Barcodes</a> menu.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="600">8.2. Mapping additional data fields in the catalogue (not in assistant)</h3>
<div class="paragraph">
<p>You have already mapped important mandatory fields for the OTTO category group in the assistant. However, after you have completed the assistant, you need to map additional data fields to send more information regarding your products to OTTO Market.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Map at least the data fields <strong>Brand</strong>, <strong>Delivery type</strong> and <strong>Category</strong> with plentymarkets data fields.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mapping additional data fields in the catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab with the market data fields opens.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (*).</p>
</li>
<li>
<p>To the right of the first marketplace data field, click on <strong>Add data field</strong>.<br>
→ To the left, the plentymarkets data fields are listed in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated data fields.<br>
→ The data fields are shown.</p>
</li>
<li>
<p>Next to the data field you want to select, click on the plus.<br>
→ The data field is added to the view.<br>
<strong><em>Tip:</em></strong> Do you want to export a fixed value for every variation for one of the market data fields? Click on the plus next to <strong>Own value</strong>.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.</p>
</li>
<li>
<p>Click on the X to close the editing mode.<br>
→ The data field is mapped.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Do you want to export two or more plentymarkets fields for a single marketplace data field?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>To the right of the data field you just mapped, click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).</p>
</li>
<li>
<p>Map an additional plentymarkets data field to the marketplace data field as described above.</p>
</li>
<li>
<p>To the right of the column, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Select a separator from the drop-down list <strong>Separator</strong> or add a custom separator.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The additional data field is mapped. During the export, the content of the two plentymarkets data fields is combined and exported as one field.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Click on <strong>Add fallback data field</strong> to select a data field that is exported in case another one is not available or empty. You can also add more than one fallback data field.<br>
<strong><em>Note:</em></strong> Even if you assign a fallback data field to a market data field, only one value is exported. The fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value, the first fallback data field is exported etc.</p>
</li>
<li>
<p>Repeat this mapping for all data fields of the market that you want to export.<br>
<strong><em>Note:</em></strong> All fields flagged with asterisks (*) are mandatory and must be mapped to a plentymarkets data field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="602">8.3. <em>Example:</em> Mapping the data field "Stock"</h3>
<div class="paragraph">
<p>An example of how to map the data field <strong>Stock</strong> to item data saved in plentymarkets is provided below. Use the data field <strong>Stock</strong> to select from which warehouse stock is to be exported to OTTO Market.</p>
</div>
<div class="paragraph instruction">
<p>Mapping the data field "Stock":</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>Navigate to the OTTO Market data field <strong>Stock</strong>.</p>
</li>
<li>
<p>Click on <strong>Add data field</strong>.</p>
</li>
<li>
<p>In the list that opens to the left, click on the folder <strong>Stock</strong>.<br>
→ All warehouses saved in plentymarkets are displayed in the drop-down list.</p>
</li>
<li>
<p>Click on the plus symbol for the warehouse from which you want to export the stock to OTTO Market.<br>
<strong><em>Optional:</em></strong> To transfer stock from multiple warehouses to OTTO Market, click on <strong>Add fallback data field</strong> (<span class="icon yellow"><i class="fa fa-link  "></i></span>) and add another warehouse.<br>
→ The total stock of all selected warehouses is exported.<br>
<strong><em>Note:</em></strong> If you do not map the data field <strong>Stock</strong> to a warehouse, then the sum of the net stock of all distribution warehouses (data field <strong>Virtual warehouse</strong>) will be exported to OTTO Market.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="701">9. Linking data fields created in the assistant with variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you selected the options <strong>Create sales price</strong>, <strong>Create barcode</strong> and/or <strong>Create property</strong> in the assistant, these prices, barcodes and/or properties are created automatically. You need to link these newly created sources with the variations that you want to export to the market. This is described on the <strong>Item</strong> pages of the manual:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Learn how to link sales prices to variations in the <a href="/en/item/managing-items#240">Linking sales prices</a> chapter.</p>
</li>
<li>
<p>Learn how to link barcodes to variations in the <a href="/en/item/managing-items#250">Linking barcodes</a> chapter.</p>
</li>
<li>
<p>Learn how to link properties to variations in the <a href="/en/item/managing-items#4900">Linking properties and saving a value</a> chapter.<br>
<strong><em>Tip:</em></strong> Properties created in the assistant are automatically added to the property group <strong>OTTO Market</strong> of the <strong>Setup » Settings » Properties » Groups</strong> menu. Open this group to see what new properties need to be mapped.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="475">10. Linking variations with OTTO category groups</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you created a marketplace format for OTTO Market with the <strong>OTTO Market Creating catalogues</strong> assistant or manually, the property <strong>OTTO category group</strong> is created in your plentymarkets system. A new selection value is added to the <strong>OTTO category group</strong> property for each OTTO category group selected in the <strong>Name and category group</strong> step of the assistant. In order for your variations to be exported in the appropriate catalogue, they have to be linked to the <strong>OTTO category group</strong> property in the <strong>Properties</strong> tab of a variation.</p>
</div>
<div class="paragraph instruction">
<p>Linking a variation with an OTTO category group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item]</strong>.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Open the variation that should be linked.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong> area, select the property <strong>OTTO category group</strong> from the <strong>Properties</strong> drop-down list and click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added.</p>
</li>
<li>
<p>Select the desired category group from the <strong>Value</strong> drop-down list for the <strong>OTTO category group</strong> property.<br>
→ The variation will be exported in this catalogue.<br>
<strong><em>Example:</em></strong> If you select the value <strong>Betten</strong> (Beds), then the variation will be exported in the catalogue for the OTTO category group <strong>Betten</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">11. Activating the catalogue export to OTTO Market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have set up OTTO Market and created a catalogue for exporting your item data? Then start the export of your item data.</p>
</div>
<div class="paragraph instruction">
<p>Activating the catalogue export to OTTO Market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the OTTO Market catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button to the right (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ The catalogue is active.<br>
→ The catalogue data is exported to OTTO Market once a day during the night{if-active}.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2200">12. <em>Check list:</em> Requirements for exporting variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To export a variation to OTTO Market, this variation must meet the requirements listed in <a href="#otto-market-variation-mandatory">Table 2</a>.</p>
</div>
<table id="otto-market-variation-mandatory" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Requirements for exporting variations</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Requirement</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is the variation active?</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The variation must be activated.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on OTTO Market.<br></p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is the market availability active?</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The variation must be available for the market.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on OTTO Market.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>OTTO Market</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is the net stock positive?</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The net stock of the variation must be positive.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on OTTO Market.</p>
</li>
<li>
<p>Click on the <strong>Stock</strong> tab.<br>
→ The net stock of each warehouse is listed in the <strong>Net</strong> column.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is the catalogue active?</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The catalogue that the variation is associated with must be activated.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the OTTO Market catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) to the right.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Are the data fields mapped?</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>As a minimum, plentymarkets data fields must be mapped to all mandatory fields of the marketplace. The mandatory fields are different for different OTTO category groups.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#600">How to map one or more plentymarkets data fields to the marketplace data feld.</a></p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">13. Setting up event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up <a href="/en/automation/event-procedures">event procedures</a> to automatically inform OTTO Market about order status changes. The following event procedures can be set up for OTTO Market:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Versandinformation an OTTO melden (Send shipping confirmation to OTTO)</p>
</li>
<li>
<p>Auftragsstornierung an OTTO melden (Send order cancellation to OTTO)</p>
</li>
<li>
<p>Retoure an OTTO melden (Send return to OTTO)</p>
</li>
<li>
<p>Ablehnung der Retoure an OTTO melden (Send rejection of return to OTTO)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>How to set up the event procedures in plentymarkets is described in the following chapters.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Sequence of event procedures</div>
<div class="paragraph">
<p>Note that event procedures for OTTO market must be triggered in a specific sequence. First, the event procedure <a href="#550">Generate return label</a> must be triggered and afterwards the event procedure <a href="#700">Send shipping confirmation to OTTO</a>. If no return label was created, the shipping confirmation cannot be sent to OTTO Market.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="550">13.1. Generating return labels</h3>
<div class="paragraph">
<p>When OTTO Market orders are imported into your plentymarkets system, return labels must be generated for those orders before the shipping confirmation is sent to OTTO Market. An event procedure for creating a return label automatically creates a tracking number for a return (retTrackingNumber) which is saved for the order. This is to ensure that a tracking number exists if customers wish to return an item.<br></p>
</div>
<div class="paragraph">
<p>To ensure that the tracking number is sent to OTTO Market along with the order confirmation, you have to create a return label. Return labels can be created with the shipping service provider plugins <a href="https://marketplace.plentymarkets.com/en/plugins/integration/dhlretoureonline_6714" target="_blank" rel="noopener">DHL Retoure Online</a>, <a href="https://marketplace.plentymarkets.com/en/plugins/integration/glsshipping_6463" target="_blank" rel="noopener">GLS Shipping</a>, and <a href="https://marketplace.plentymarkets.com/en/plugins/integration/hermesshippinginterface_5437" target="_blank" rel="noopener">Hermes</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> At the moment, return labels can be created with DHL, Hermes, and GLS Shipping.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Install plugins</div>
<div class="paragraph">
<p>In order to generate return labels, the plugins <strong>DHL Retoure Online</strong>, <strong>Hermes</strong>, or <strong>GLS Shipping</strong> must be installed, activated and set up in your plentymarkets system, depending on which shipping service provider you want to use. You can download the plugins in the <a href="https://marketplace.plentymarkets.com/en/plugins/fulfillment-stock/shipping" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>How to set up an <a href="/en/automation/event-procedures">event procedure</a> to create a DHL return label is described below.</p>
</div>
<div class="paragraph">
<p>In order to create a return label with GLS Shipping, select the procedure <strong>Plugins &gt; GLSShipping: Register return label</strong> instead. For further information, refer to the GLS Shipping plugin <a href="https://marketplace.plentymarkets.com/en/plugins/integration/glsshipping_6463" target="_blank" rel="noopener">user guide</a>.</p>
</div>
<div class="paragraph">
<p>With Hermes, return labels cannot be created via event procedures. Before the shipping label for OTTO Market is created, the return label for Hermes must be created via the <a href="/en/fulfilment/shipping-centre">shipping centre</a> or via a <a href="/en/automation/processes/procedures">procedure</a> in a process. For further information, refer to the Hermes plugin <a href="https://marketplace.plentymarkets.com/en/plugins/integration/hermesshippinginterface_5437" target="_blank" rel="noopener">user guide</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#dhl-return-label-otto">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#dhl-return-label-otto">Table 3</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
<strong><em>Note:</em></strong> The data is not transferred in real time when the event procedure is triggered. Instead, the data is registered in a queue. As such, transferring the data can take up to several minutes if a large number of jobs need to processed. On the plus side, this means that several retries will be performed if the target server is throttled or not responding.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="dhl-return-label-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure to create a DHL return label</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New order</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO Market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Generate DHL Retoure Online label</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">13.2. Sending shipping confirmations to OTTO</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to inform OTTO Market that an item has been shipped.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Save sender address</div>
<div class="paragraph">
<p>Shipping confirmations will only be sent to OTTO Market if the seller’s sender address was saved. You can save the address in the settings of a warehouse under <strong>Setup » Stock » Warehouse » [Select warehouse] » Settings</strong>. You have to save the address for the warehouse that is used in the respective order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#shipping-confirmation-otto">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#shipping-confirmation-otto">Table 4</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
<strong><em>Note:</em></strong> The data is not transferred in real time when the event procedure is triggered. Instead, the data is registered in a queue. As such, transferring the data can take up to several minutes if a large number of jobs need to processed. On the plus side, this means that several retries will be performed if the target server is throttled or not responding.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="shipping-confirmation-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure to send a shipping confirmation to OTTO Market</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: e.g. status [7] Shipped</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO Market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Versandinformation an OTTO melden</strong> (Send shipping confirmation to OTTO)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">13.3. Sending order cancellations to OTTO</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to inform OTTO Market about the cancellation of an order. It might be required to cancel orders because of different reasons. For example, if the customer cancels an order, select <strong>Status [8.1] Cancelled by customer</strong>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#order-cancellation-otto">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#order-cancellation-otto">Table 5</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
<strong><em>Note:</em></strong> The data is not transferred in real time when the event procedure is triggered. Instead, the data is registered in a queue. As such, transferring the data can take up to several minutes if a large number of jobs need to processed. On the plus side, this means that several retries will be performed if the target server is throttled or not responding.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="order-cancellation-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Event procedure to send an order cancellation to OTTO Market</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an event, e.g. <strong>[8.1] Cancelled by customer</strong><br>
<strong><em>Note:</em></strong> Orders that are cancelled by OTTO Market are imported to plentymarkets with the status <strong>[8] Cancelled</strong>. As such, select a different status to make sure that you do not notify OTTO Market of a cancellation they triggered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO Market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Auftragsstornierung an OTTO melden</strong> (Send order cancellation to OTTO)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">13.4. Sending returns to OTTO</h3>
<div class="paragraph">
<p>In order that OTTO Market accepts the return, you have to create an order of the type <strong>Credit note</strong>. Set up an <a href="/en/automation/event-procedures">event procedure</a> for that.</p>
</div>
<div id="image-return-otto-credit-note" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/otto/assets/otto-market-return-credit-note.png" alt="otto market return credit note" width="640" height="360">
</div>
<div class="title">Figure 1. Event procedure to create an order of the type <strong>Credit note</strong></div>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#return-otto-credit-note">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#return-otto-credit-note">Table 6</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
<strong><em>Note:</em></strong> The data is not transferred in real time when the event procedure is triggered. Instead, the data is registered in a queue. As such, transferring the data can take up to several minutes if a large number of jobs need to processed. On the plus side, this means that several retries will be performed if the target server is throttled or not responding.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="return-otto-credit-note" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Event procedure to create an order of the type <strong>Credit note</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an event, for example <strong>Order change: Status change</strong><br>
<strong><em>Note:</em></strong> Select a status that suits your workflow. Select the status <strong>[9.11] Send return to OTTO</strong>, for example.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO Market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Create credit note (order)</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Set up another <a href="/en/automation/event-procedures">event procedure</a> to inform OTTO Market about a return.</p>
</div>
<div id="image-return-otto" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/otto/assets/otto-market-accept-return.png" alt="otto market accept return" width="640" height="360">
</div>
<div class="title">Figure 2. Event procedure to send returns to OTTO Market</div>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#return-otto">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#return-otto">Table 7</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
<strong><em>Note:</em></strong> The data is not transferred in real time when the event procedure is triggered. Instead, the data is registered in a queue. As such, transferring the data can take up to several minutes if a large number of jobs need to processed. On the plus side, this means that several retries will be performed if the target server is throttled or not responding.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="return-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Event procedure to send returns to OTTO Market</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an event, for example <strong>Order generation: New credit note</strong>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Credit note</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO Market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Retoure an OTTO melden</strong> (Send return to OTTO)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Notes:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>The procedure <strong>Send return to OTTO</strong> triggers a credit note and the buyer receives a refund. The credit note document created by OTTO is automatically attached to the order of the type <strong>Credit note</strong>.</p>
</li>
<li>
<p>OTTO will refund the complete sales price of an order item. You cannot notify OTTO Market of a partial refund for an order item. As such, even if you adjust the price of an order item, this does not affect the refund document that OTTO creates.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">13.5. Sending return rejections to OTTO</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to inform OTTO Market about the rejection of a return.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#return-rejection-otto">Table 8</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#return-rejection-otto">Table 8</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
<strong><em>Note:</em></strong> The data is not transferred in real time when the event procedure is triggered. Instead, the data is registered in a queue. As such, transferring the data can take up to several minutes if a large number of jobs need to processed. On the plus side, this means that several retries will be performed if the target server is throttled or not responding.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="return-rejection-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Event procedure to send the rejection of a return to OTTO market</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an event, for example <strong>Order change: Status change</strong><br>
<strong><em>Note:</em></strong> Select a status that suits your workflow. For example, you can create the status <strong>[9.12] Reject OTTO return</strong>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO Market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Ablehnung der Retoure an OTTO melden</strong> (Send rejection of return to OTTO)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1050">14. OTTO Market order management</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter informs you how orders are processed at OTTO Market.</p>
</div>
<div class="sect2">
<h3 id="1100">14.1. Order import</h3>
<div class="paragraph">
<p>OTTO Market orders are imported into plentymarkets with status <strong>[3] Waiting for payment</strong>. After an order was confirmed by OTTO Market, the order changes to status <strong>[5] Shipment process started</strong>. A payment is created for the order in plentymarkets and the order is marked as <strong>paid</strong>. If customers paid an OTTO Market order per bank transfer, it might take longer to confirm the order than for other payment methods. In plentymarkets, the payment method is always <strong>OTTO Payment</strong>.<br></p>
</div>
<div class="paragraph">
<p>If customers do not pay for an order, the order will be cancelled by OTTO Market after some time. A cancellation will be sent to plentymarkets. In plentymarkets, the unpaid order automatically changes to status <strong>[8] Cancelled</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1200">14.2. Invoice import</h3>
<div class="paragraph">
<p>Invoices for OTTO Market orders are generated by OTTO Market and automatically imported into plentymarkets after you sent a shipping confirmation to OTTO Market. Shipping confirmations are sent with the event procedure <a href="#Sending shipping confirmations to OTTO Market">Send shipping confirmation to OTTO</a>. The invoice documents can be accessed in the <strong>Receipts</strong> tab of the main order after the shipping confirmation was sent. This means that you cannot create invoices for OTTO Market in plentymarkets.<br></p>
</div>
<div class="paragraph">
<p>OTTO Market creates invoices as soon as an item was shipped. Therefore, invoices are also created for partial deliveries.</p>
</div>
</div>
<div class="sect2">
<h3 id="1400">14.3. Credit note import</h3>
<div class="paragraph">
<p>Credit notes and partial credit notes for OTTO Market orders are generated by OTTO Market and automatically imported into plentymarkets after you sent a returns confirmation to OTTO Market. Once the return has been confirmed, the credit note documents are available in the <strong>Receipts</strong> tab of the order. This returns confirmation is sent with the event procedure <strong>Send return to OTTO</strong>. When you notify OTTO of a return, the components of the individual order items of the refund/return are sent to OTTO. This means that OTTO will refund the complete sales price of any order item. You cannot notify OTTO Market of a partial refund for a particular order item. As such, even if you adjust the price of an order item, this does not affect the refund document that OTTO creates.</p>
</div>
<div class="paragraph">
<p>Because OTTO Markets creates credit notes when the return of an item is confirmed, credit notes are also generated for partial returns.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">15. FAQ</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em>Which product title is shown at OTTO Market?</em></p>
<p>The product title which is displayed on OTTO Market is composed of the following OTTO Market fields that can be mapped in the catalogue: <strong>Brand</strong> + <strong>Model</strong> + <strong>Specific characteristics</strong> \+ all fields that have the information <strong>Namenbildend</strong> indicated in parentheses.</p>
</li>
<li>
<p><em>Why aren’t my items being exported to OTTO Market?</em></p>
<p>You can find out why some of your items are not exported to OTTO Market and therefore are not available on the online market by looking at the following logs.</p>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>In the <strong>Log</strong>, enter <strong>Otto itemexport</strong> into the <strong>Integration</strong> drop-down list and select <strong>Plenty\\Modules\\Otto\\Item\\Services\\ItemExportService</strong>.</p>
</li>
<li>
<p>In the <strong>Level</strong> drop-down list, enter both <strong>warning</strong> and <strong>error</strong> one after the other.</p>
</li>
<li>
<p>Open the logs containing the message <strong>Variation invalid</strong>.<br>
→ In the log, you will receive the variation ID and the reason for the rejection or the missing characteristic.<br>
<strong><em>Tip:</em></strong> This example shows variation ID 30170 and the missing productDescription.brand. This means that the manufacturer or the brand is missing.</p>
</li>
<li>
<p>Next, search for the variation listed in the <strong>log</strong> to make sure that you will find the correct item.<br>
<strong><em>Tip:</em></strong> The manufacturer can be found in the <strong>Global</strong> tab of a variation.</p>
</li>
<li>
<p>In the <strong>Audio » Radios</strong> catalogue, the brand <strong>AudioAffairs</strong> is not mapped. This leads to the item being rejected and causes the error message.</p>
</li>
<li>
<p>Click on <strong>Add brand</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to add the brand <strong>AudioAffairs</strong>.</p>
<table id="filters-item-export-log" class="tableblock frame-all grid-none stretch">
<caption class="title">Table 9. Search terms for OTTO Market in the log</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/otto/assets/otto-item-export.png" alt="Search terms OTTO market logs">
</div>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/otto/assets/level-warning-error.png" alt="Log level">
</div>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/otto/assets/variation-id.png" alt="Variation ID">
</div>
</div></div></td>
</tr>
</tbody>
</table>
</li>
</ol>
</div>
</li>
<li>
<p><em>How can I assign a return package to the correct order in my plentymarkets system?</em></p>
<p>An example of a DHL return label is provided below. The label contains all necessary data.</p>
<div id="dhl-return-label" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/otto/assets/dhl-return-label.png" alt="DHL return label">
</div>
<div class="title">Figure 3. DHL return label</div>
</div>
</li>
<li>
<p><em>How do I find OTTO Market orders in my plentymarkets system?</em></p>
<p>As this question frequently arises in the plentymarkets forum, a short explanation is provided below.</p>
<div class="paragraph">
<p>The <strong>PositionID</strong> (example: 715e9369-01e3-4d09-ae91-8688dfa139b2) and the <strong>SalesOrderID</strong> (example: 4245eac7-4647-4f76-8c48-261afb19aa96) are frequently mentioned in the plentymarkets forum. However, these IDs are not relevant for you as seller. You cannot see these IDs. They serve to identify an order and the order positions in the plentymarkets database.</p>
</div>
<div class="paragraph">
<p>Orders with the order referrer <strong>OTTO Market</strong> receive the usual order ID from your plentymarkets system. However, to identify the order, an external order number is saved for the order. With this number, the order can be clearly assigned.</p>
</div>
<div class="paragraph">
<p>Screenshots illustrating how OTTO Market orders are created in plentymarkets and in the <strong>Mein Konto</strong> (My account) area at OTTO Market are provided below.</p>
</div>
<div id="otto-market-order-number" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/otto/assets/otto-market_order-number.png" alt="OTTO market order number">
</div>
<div class="title">Figure 4. "Mein Konto” (My account) area at OTTO Market</div>
</div>
<div class="paragraph">
<p>The order number is saved as external order number at the order in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Find a screenshot of the menu for searching the order with the external order number below:</p>
</div>
<div id="otto-market-external-order-number" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/otto/assets/otto-market_search_external-order-number.png" alt="Search external order number">
</div>
<div class="title">Figure 5. Searching for the external order number</div>
</div>
<div class="paragraph">
<p>The external order number can be found in the <strong>Settings</strong> tab of an order (<strong>Ext. order number</strong>).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/otto/assets/plentymarkets_externe-auftragsnummer.png" alt="externe Auftragsnummer in plentymarkets">
</div>
<div class="title">Figure 6. Searching for the external order number</div>
</div>
<div class="paragraph">
<p>If customers have further questions concerning an order, you can find an order by searching for the external order number.</p>
</div>
<div class="paragraph">
<p>Additionally, you can use the <strong>Referrer</strong> filter to filter OTTO Market orders.</p>
</div>
</li>
<li>
<p><em>The log shows an error. How can I solve this error?</em></p>
<div class="ulist">
<ul>
<li>
<p><strong>Duplicate entry. Combination of the fields variationId, marketId and accountId must be unique.</strong></p>
<div class="paragraph">
<p>This error is also indicated as “SKU 1234 not generated” or “0:sku” in the log.</p>
</div>
<div class="paragraph">
<p>How SKUs should be generated is defined in the catalogue. There is a distinction between the <strong>Parent SKU</strong> and the <strong>Variation SKU</strong>. The data field selected here should be a data record which exists only once. Hence, it is not possible to use the same SKU for different items. For example, you could use the <strong>Item ID</strong> and the <strong>Variation ID</strong>. Both IDs are generated when the item is created in plentymarkets and only exist once. However, it might happen that the item export is carried out with errors because of missing information in the catalogue. The SKU is created anyway and can now be found in the <strong>Availability</strong> tab of a variation. During the next export, your plentymarkets system will try again to create an SKU from the data fields selected in the catalogue. However, as this SKU already exists, the error “Duplicate entry. Combination of the fields variationId, marketId and accountId must be unique." / “SKU 1234 not generated.” occurs.</p>
</div>
<div class="paragraph">
<p>As such, you need to add a fallback data field to the catalogue. The solution looks like this:</p>
</div>
<div id="add-source" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/otto/assets/otto-market-add-source.png" alt="Add data field">
</div>
<div class="title">Figure 7. Add data field</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Add data field</div>
<div class="paragraph">
<p>When adding another data field, it is mandatory to use the <strong>Add fallback data field</strong> button (<span class="icon yellow"><i class="fa fa-link  "></i></span>) on the right-hand side of the catalogue. Do <em>not</em> use the option <strong>Add data field</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) because in this case, your SKUs would be created twice and the error cannot be resolved.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>This adds a <strong><em>second</em></strong> data field. During the next export, the first data field will be retrieved first. Because the SKU is already included in this source, the second data field will be ignored. If the first data field does not contain an SKU, then a new SKU will be generated using the second data field.</p>
</div>
</li>
<li>
<p><strong>Code: 200009 - ATTRIBUTE_CHANGE_DENIED</strong> or <strong>title: Der Wert dieses Feldes kann nicht geändert werden.</strong> (title: The value of this field cannot be changed.)</p>
<div class="paragraph">
<p>These errors indicate that you changed an OTTO item attribute. However, OTTO does not accept the change and it is not possible the change the attribute for this item. The indicated attribute can relate to a variation attribute or a title attribute. Other OTTO attributes are important here, too.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Items cannot be deleted at OTTO Market</div>
<div class="paragraph">
<p>An item <em>cannot be deleted</em> at OTTO Market, neither by plentymarkets nor by OTTO. It is only possible to mark the item as <strong>not available</strong> at OTTO Market. Therefore, you should always make sure that the correct data fields are mapped in the catalogue prior to transferring your items.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
<li>
<p><strong>productDescription.brand</strong></p>
<div class="paragraph">
<p>This error indicates that the variation’s brand that should be exported has not been mapped in the catalogue. The brand can be linked to the variation in two different ways:</p>
</div>
</li>
<li>
<p>via the <strong>Manufacturer</strong> setting in an item’s <strong>Global</strong> tab</p>
</li>
<li>
<p>via property</p>
<div class="paragraph">
<p>Make sure that a source is saved for the brand in the catalogue and that the data field is linked to the item.</p>
</div>
</li>
<li>
<p><strong>mediaAssets.IMAGE</strong></p>
<div class="paragraph">
<p>This error indicates that either you did not select a data field as the source in the catalogue or that none of your item images is linked to the referrer <strong>OTTO Market</strong>. To do so, open an item’s <strong>Images</strong> tab and activate the referrer <strong>OTTO market</strong> as described in the <a href="#350">Setting the availability for images</a> chapter.</p>
</div>
</li>
<li>
<p><strong>delivery.type</strong></p>
<div class="paragraph">
<p>This error indicates that the shipping method is not linked. The shipping method can be defined via two different data fields:</p>
</div>
</li>
<li>
<p>via a shipping profile</p>
</li>
<li>
<p>via property</p>
<div class="paragraph">
<p>Make sure that the data field saved in the catalogue is linked to the item. For the shipping profile, activate the shipping profile in the item’s <strong>Global</strong> tab. For the property, activate the property for the desired variation.</p>
</div>
</li>
<li>
<p><strong>productDescription.category</strong></p>
<div class="paragraph">
<p>This error indicates that the category mapping in the catalogue is missing. In the catalogue, check whether at least one category of the desired variation is linked to an OTTO Market category.</p>
</div>
</li>
<li>
<p>Error messages concerning order processing: <strong>Carrier ID (X) not mapped in OTTO market config.</strong></p>
<div class="paragraph">
<p>Check whether shipping service providers were linked to OTTO Market. This is done in the <strong>Shipping service provider</strong> step of the <strong>OTTO Market Basic settings</strong> assistant in the <strong>Setup » Assistants » Omni-Channel</strong> menu.</p>
</div>
</li>
</ul>
</div>
</li>
</ol>
</div>
</div>
</div>
</main>