<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#testing-ceres-updates"><span>1.</span><span> Testing Ceres updates for theme compatibility</span></a>
<ul class="sectlevel2">
<li><a href="#_copying_a_plugin_set"><span>1.1.</span><span> Copying a plugin set</span></a></li>
<li><a href="#_updating_ceres_for_the_copied_plugin_set"><span>1.2.</span><span> Updating Ceres for the copied plugin set</span></a></li>
</ul>
</li>
<li><a href="#callisto-to-ceres"><span>2.</span><span> Changing from Callisto to Ceres</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_a_new_plugin_set"><span>2.1.</span><span> Creating a new plugin set</span></a></li>
<li><a href="#_setting_up_the_plugin_set"><span>2.2.</span><span> Setting up the plugin set</span></a></li>
<li><a href="#_testing_your_ceres_online_store_in_preview_mode"><span>2.3.</span><span> Testing your Ceres online store in preview mode</span></a></li>
<li><a href="#_going_live_with_the_ceres_online_store"><span>2.4.</span><span> Going live with the Ceres online store</span></a></li>
</ul>
</li>
<li><a href="#bp-ceres-EOL"><span>3.</span><span> Callisto OL (End of Life) - Which order process am I using?</span></a>
<ul class="sectlevel2">
<li><a href="#_the_three_different_order_processes_in_callisto"><span>3.1.</span><span> The three different order processes in Callisto</span></a></li>
<li><a href="#_which_order_process_am_i_currently_using_in_my_callisto_store"><span>3.2.</span><span> Which order process am I currently using in my Callisto store?</span></a></li>
<li><a href="#_next_steps"><span>3.3.</span><span> Next steps</span></a></li>
<li><a href="#_further_reading"><span>3.4.</span><span> Further reading</span></a></li>
</ul>
</li>
<li><a href="#checkout"><span>4.</span><span> Setting up Ceres checkout in Callisto online stores</span></a>
<ul class="sectlevel2">
<li><a href="#standard"><span>4.1.</span><span> Ceres checkout for Callisto online stores that use the individual shopping cart or the standard order process</span></a>
<ul class="sectlevel3">
<li><a href="#_managing_routes"><span>4.1.1.</span><span> Managing routes</span></a></li>
<li><a href="#_adjusting_the_routes_to_your_legal_information"><span>4.1.2.</span><span> Adjusting the routes to your legal information</span></a></li>
</ul>
</li>
<li><a href="#individual-order-process"><span>4.2.</span><span> Ceres checkout for Callisto online stores that use the individual order process</span></a>
<ul class="sectlevel3">
<li><a href="#_managing_routes_2"><span>4.2.1.</span><span> Managing routes</span></a></li>
<li><a href="#_adjusting_the_order_process"><span>4.2.2.</span><span> Adjusting the order process</span></a></li>
<li><a href="#_creating_backlinks"><span>4.2.3.</span><span> Creating backlinks</span></a></li>
<li><a href="#_adjusting_the_routes_to_your_legal_information_2"><span>4.2.4.</span><span> Adjusting the routes to your legal information</span></a></li>
</ul>
</li>
<li><a href="#theme"><span>4.3.</span><span> Theme</span></a></li>
</ul>
</li>
<li><a href="#filters"><span>5.</span><span> Setting up filters</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_an_attribute"><span>5.1.</span><span> Creating an attribute</span></a></li>
<li><a href="#_linking_an_attribute_with_an_item"><span>5.2.</span><span> Linking an attribute with an item</span></a></li>
<li><a href="#_setting_up_facets"><span>5.3.</span><span> Setting up facets</span></a></li>
<li><a href="#_linking_attribute_values_to_facets"><span>5.4.</span><span> Linking attribute values to facets</span></a></li>
<li><a href="#_linking_clients_to_facets"><span>5.5.</span><span> Linking clients to facets</span></a></li>
<li><a href="#_deploying_plugins"><span>5.6.</span><span> Deploying plugins</span></a></li>
</ul>
</li>
<li><a href="#order-properties"><span>6.</span><span> Setting up order properties</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_order_properties"><span>6.1.</span><span> Creating order properties</span></a></li>
<li><a href="#_linking_an_order_property_to_an_item"><span>6.2.</span><span> Linking an order property to an item</span></a></li>
<li><a href="#_deploying_plugins_2"><span>6.3.</span><span> Deploying plugins</span></a></li>
<li><a href="#_setting_up_order_properties_with_checkboxes"><span>6.4.</span><span> Setting up order properties with checkboxes</span></a>
<ul class="sectlevel3">
<li><a href="#_creating_a_property_group"><span>6.4.1.</span><span> Creating a property group</span></a></li>
<li><a href="#_creating_order_properties_2"><span>6.4.2.</span><span> Creating order properties</span></a></li>
<li><a href="#_linking_an_order_property_to_an_item_2"><span>6.4.3.</span><span> Linking an order property to an item</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#cross-selling"><span>7.</span><span> Setting up cross-selling item lists</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_up_cross_selling_item_lists"><span>7.1.</span><span> Setting up cross-selling item lists</span></a></li>
<li><a href="#_displaying_cross_selling_item_lists_in_the_online_store"><span>7.2.</span><span> Displaying cross-selling item lists in the online store</span></a></li>
</ul>
</li>
<li><a href="#additional-cross-selling-lists"><span>8.</span><span> Displaying further cross-selling item lists</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_a_context_class"><span>8.1.</span><span> Creating a context class</span></a></li>
<li><a href="#_adapting_the_singleitemview_twig"><span>8.2.</span><span> Adapting the SingleItemView.twig</span></a></li>
<li><a href="#_including_additional_cross_selling_lists"><span>8.3.</span><span> Including additional cross-selling lists</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Ceres</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Here, you find best practices on subjects such as <strong>Ceres</strong> and the online store.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="testing-ceres-updates">1. Testing Ceres updates for theme compatibility</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this best practice you will learn which steps are necessary in order to test newly published version upgrades of the Ceres online store template plugin without impacting the productive live operation of your online store.
 Due to implementations of new features, bugfixes and changes to the user interface, dependencies between external plugins (for instance <a href="https://marketplace.plentymarkets.com/plugins/themes" target="_blank" rel="noopener">layout themes</a>) and Ceres may lead to issues when updating to a new Ceres version.
Therefore it is advisable to create a copy of your current <strong>plugin set</strong> configuration, with which you can test the compatibility of the newly released Ceres version and external plugins.</p>
</div>
<div class="sect2">
<h3 id="_copying_a_plugin_set">1.1. Copying a plugin set</h3>
<div class="paragraph">
<p>First, you should create a new <strong>Plugin set</strong>, onto which you can transfer the current settings of your Ceres online store. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Copying a plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new set</strong>.<br>
→ The <strong>New plugin set</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the plugin set, which should ideally communicate that this is a copy of your Ceres online store.</p>
</li>
<li>
<p>Select the plugin set for which you want to copy the current configuration from the <strong>Copy plugin set</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The new plugin set will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The plugin set copy now contains the exact same settings as the one used as your Ceres online store. At this point, both the original set and its copy are identical.
It is advisable to repeat this process before any major update, so that the plugin set is up to date.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updating_ceres_for_the_copied_plugin_set">1.2. Updating Ceres for the copied plugin set</h3>
<div class="paragraph">
<p>In the next step, you need to update the copied plugin set to the current Ceres version.</p>
</div>
<div class="paragraph instruction">
<p>Updating the plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Select the newly created copy of the plugin set.<br>
→ The <strong>Plugin set details</strong> window opens.</p>
</li>
<li>
<p>In the line of the <strong>Ceres</strong> plugin, click on <strong>Update</strong> in the <strong>Action</strong> column.<br>
→ The <strong>Install plugin</strong> window opens.
→ The most current version of the plugin is preselected.</p>
</li>
<li>
<p>Click on <strong>Install</strong>.<br>
→ The plugin will open.</p>
</li>
<li>
<p>Repeat steps 3 and 4 for the plugin <strong>IO</strong>.</p>
</li>
<li>
<p>Click on <strong>Save &amp; publish plugins</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The copy of the plugin set is now at a more current stage than the plugin set of your Ceres online store.
Click on the plugin set copy in the list of plugin sets on the left side of the interface. You can access your Ceres online store in combination with the plugin set copy in preview mode via the button <strong>Plugin set preview</strong>. That way, you can assess whether the current changes to the Ceres plugin result in incompatibilities with external plugins, like a theme, that your are using.
If the external plugins are functioning correctly under the new Ceres version, you can either <a href="/en/basics/first-steps/plugins#70">activate</a> the plugin set copy for the relevant client or <strong>Update</strong> the original plugin set, as detailed above.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Some dependencies betwen external plugins and <strong>Ceres</strong>/<strong>IO</strong> may not be immediately apparent. For this reason it is advisable to not dismiss the original plugin set prematurely, so that the switch to the previous version is still possible after a number of days without adjusting the Ceres settings again. If you want to be informed about incompatabilities or other issues between external plugins and a new version of <strong>Ceres</strong>/<strong>IO</strong>, you are invited to visit the <a href="https://forum.plentymarkets.com/c/ceres-webshop" target="_blank" rel="noopener">forum</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="callisto-to-ceres">2. Changing from Callisto to Ceres</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this Best Practice you will learn how to set up a <a href="/en/omni-channel/online-store/setting-up-ceres">Ceres</a> online store in preview mode, while maintaining the productive operation of your Callisto online store at the same time.</p>
</div>
<div class="sect2">
<h3 id="_creating_a_new_plugin_set">2.1. Creating a new plugin set</h3>
<div class="paragraph">
<p>In order to set up your Ceres online store without affecting your Callisto store, you will first have to create a new <a href="/en/basics/first-steps/plugins#30">plugin set</a>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin Overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new Set</strong> in the upper left corner.<br>
→ The window <strong>New Plugin Set</strong> opens.</p>
</li>
<li>
<p>Enter a name for the plugin set.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The plugin set has been created.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The newly created plugin set <strong>must not</strong> be published for a client at this point. If you do publish the plugin set, it will overwrite your Callisto online store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can now begin to set up your Ceres online store in the newly created plugin set. This will not affect the productive operation of your Callisto store.</p>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_the_plugin_set">2.2. Setting up the plugin set</h3>
<div class="paragraph">
<p>After you have <a href="https://marketplace.plentymarkets.com/plugins/templates" target="_blank" rel="noopener">purchased</a> the plugins <strong>Ceres</strong> and <strong>IO</strong>, you need to <strong>install</strong> and <strong>activate</strong> these plugins for the plugin set you created.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin Overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set you created.<br>
→ The window <strong>Plugin Set Details</strong> opens.</p>
</li>
<li>
<p>Select the option <strong>All</strong> in the search filters <strong>Source</strong>, <strong>Installed</strong> and <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ All purchased plugins are listed.</p>
</li>
<li>
<p>Click on <strong>Install plugin</strong> in the <strong>Action</strong> column in the <strong>Ceres</strong> line.<br>
→ Das <strong>Install plugin</strong> window opens.<br>
→ The most current version of the plugin is preselected.</p>
</li>
<li>
<p>Click on <strong>Install</strong>.</p>
</li>
<li>
<p>Repeat steps 5 and 6 for the plugin <strong>IO</strong>.</p>
</li>
<li>
<p>Click on <strong>Save &amp; publish plugins</strong>.<br>
→ The notification <strong>Deploying Plugin Set</strong> is displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>This concludes the preliminary work and you can now begin to set up the Ceres online store. Take a look at the manual chapters <a href="/en/basics/first-steps/quick-start#570">Quick start</a> and <a href="/en/omni-channel/online-store/setting-up-ceres#20">Setting up Ceres</a> to learn how to do this.
In the following you will learn how to test your online store in the preview mode.</p>
</div>
</div>
<div class="sect2">
<h3 id="_testing_your_ceres_online_store_in_preview_mode">2.3. Testing your Ceres online store in preview mode</h3>
<div class="paragraph">
<p>In order to keep track of your changes in the online store, the <strong>Plugin overview</strong> offers you the option of accessing the store in a preview mode.
Before opening the Ceres online store in preview mode, you should deploy your plugin set one more time via the <strong>Save &amp; publish plugins</strong> button. Please note that this may take a few moments.</p>
</div>
<div class="paragraph instruction">
<p>Opening the plugin set in preview mode:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on the previously created plugin set.<br>
→ The window <strong>Plugin Set Details</strong> opens.</p>
</li>
<li>
<p>Click on <strong>Plugin Set Preview</strong>.
→ The online store opens in a new browser tab with the configurations of the selected plugin set.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Please note that you need to allow <a href="/en/basics/first-steps/quick-start#70">pop-ups</a>, so that the store will open in a new browser tab.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_going_live_with_the_ceres_online_store">2.4. Going live with the Ceres online store</h3>
<div class="paragraph">
<p>Once you have completed testing your online store in preview mode and you are ready to replace your Callisto store with Ceres, you need to <strong>publish</strong> the plugin set for the relevant client.
If necessary, this link can be reverted. You can return to your old Callisto online store at any time.</p>
</div>
<div class="paragraph instruction">
<p>Activating a plugin set for a client:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on the previously created plugin set.<br>
→ The window <strong>Plugin Set Details</strong> opens.</p>
</li>
<li>
<p>Click on <strong>Publish Plugin Set</strong> in the upper left corner of the interface.<br>
→ The window  <strong>Activate Sets</strong> opens.</p>
</li>
<li>
<p>Select the plugin set you want to publish for the desired client from the drop-down list.<br>
→ The notification <strong>For webstore X, Plugin Set y is active</strong> is displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Your Ceres online store has now been put in productive operation and replaces your Callisto online store.</p>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="bp-ceres-EOL">3. Callisto OL (End of Life) - Which order process am I using?</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Ceres</strong>-based online stores will in the medium term replaced all former Callisto online stores. In this context, particular functions of Callisto are successively shut down over the next few months. The <a href="/en/basics/eol">EOL manual page</a> provides you with all the dates relevant to the shut down of Callisto.<br>
This chapter’s goal is to help you understand the current state of your Callisto shop and will inform you about the time you need to become active and implement parts of the Ceres online store.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first</div>
<div class="ulist">
<ul>
<li>
<p>This chapter is only relevant for users who use a Callisto online store. If your online store uses the Ceres plugin technology, this chapter does not concern you.</p>
</li>
<li>
<p>We advise you to inform yourself about the change from Callisto to Ceres sooner rather than later. Even though certain Callisto online stores can still be operated until the first quarter of 2020, we no longer support the old software and bundle our resources for the further development of Ceres online stores.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_the_three_different_order_processes_in_callisto">3.1. The three different order processes in Callisto</h3>
<div class="paragraph">
<p>Since particular functions of Callisto are shut down at different points in time, it is understandable that some customers might not be sure whether or not the changes affect them and at what point they have to become active in order for their stores to operate smoothly.<br></p>
</div>
<div class="paragraph">
<p>The most important aspect of the shut down are the three different order processes in Callisto and the dates at which they are no longer available:</p>
</div>
<table id="table-order-process-callisto" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Order processes in Callisto</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Order process</th>
<th class="tableblock halign-left valign-top">Date of deactivation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Individual shopping cart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.03.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard order process</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.06.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Individual order process</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.09.2019</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>For customers who are using one of these order processes in their online shop (i.e. everyone who does not use a Ceres online shop) this means that they have to implement the <a href="/en/online-store/best-practices#standard">Ceres checkout</a> (the Ceres order process) by the specified date. The linked best practice guide provides step by step instructions on how to integrate the Ceres checkout. The best practice provides instructions for all three Callisto order processes.<br></p>
</div>
<div class="paragraph">
<p>If you feel overwhelmed by the prospect of integrating the Ceres checkout yourself, there are several professional agencies providing this service in the <a href="https://marketplace.plentymarkets.com/en/services/setup" target="_blank" rel="noopener">plentyMarketplace</a>.<br>
Our <a href="https://www.plentymarkets.eu/service/partneragenturen/" target="_blank" rel="noopener">partner agencies</a> might also be of service.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Integrating the Ceres checkout or switching to complete Ceres online store before the specified dates is absolutely necessary. Otherwise, your customers will not be able to place orders in your store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_which_order_process_am_i_currently_using_in_my_callisto_store">3.2. Which order process am I currently using in my Callisto store?</h3>
<div class="paragraph">
<p>In <a href="https://forum.plentymarkets.com/t/dashboard-welcher-bestellvorgang-ist-aktiv/527626" target="_blank" rel="noopener">this forum thread</a> we announced that your plentymarkets back end will now display a message informing you about which order process is used in your system. The message also specifies the date this order process is deactivated.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>The message concerning the <strong>Individual shopping cart</strong> is displayed in red.</p>
</li>
<li>
<p>The message concerning the <strong>Standard order process</strong> is displayed in orange.</p>
</li>
<li>
<p>The message concerning the <strong>Individual order process</strong> is displayed in yellow.</p>
<div class="literalblock">
<div class="content">
<pre> [[EOL-Note]]
.EOL message in the back end
image::_best-practices/omni-channel/online-shop/assets/bp-EOL-hinweis.png[]</pre>
</div>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>This suffices to find out which order process you are currently employing in your Callisto store. If you still want to check for yourself, follow these steps:<br></p>
</div>
<div class="paragraph instruction">
<p>Checking the order process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>CMS » Web design</strong> menu.</p>
</li>
<li>
<p>Select the layout you want to check from the drop-down list on the left side. If you have multiple clients, multiple layouts may be active. In this case you should check all layouts individually.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Client</strong> tab.</p>
</li>
<li>
<p>Select the <strong>client</strong> that is active for the layout on the left.
→ If you need to find out which client has been activated for the layout, hover over the <strong>layout</strong> drop-down list with your mouse. Active clients are displayed in the tooltip.</p>
</li>
<li>
<p>On the right side, open the tab <strong>Order process</strong>.</p>
</li>
<li>
<p>The <strong>Type of order process</strong> states which order process is active in the selected layout.
→ Depending on whether you see the <strong>Individual shopping cart</strong>, <strong>Default order process</strong> or <strong>Individual order process</strong>, you need to switch to Ceres before the specified dates listed above.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_next_steps">3.3. Next steps</h3>
<div class="paragraph">
<p>You determined the type of order process in your Callisto online store and now know on which date it is deactivated.<br></p>
</div>
<div class="paragraph">
<p>You now have the following options:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You can integrate the <a href="/en/online-store/best-practices#checkout">Ceres checkout</a> in your Callisto online store and still operate it until the first quarter of 2020.</p>
</li>
<li>
<p>You can set up your <a href="/en/online-store/setting-up-ceres">Ceres online store</a> and forego an additional adaptation in the first quarter of 2020.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Regardless of whether you want to use the Ceres checkout or a complete Ceres online store: Please make sure that you always make changes in a separate plugin set, so that the live operation of your online store is not impaired. <a href="/en/online-store/best-practices#callisto-to-ceres">Here</a> you can find out how to safely navigate the change from Callisto to Ceres.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_further_reading">3.4. Further reading</h3>
<div class="ulist">
<ul>
<li>
<p>Please find all <strong>EOL</strong> data <a href="/en/basics/eol">here</a>.</p>
</li>
<li>
<p>You can read the forum thread about the shutdown of the <strong>individual shopping cart</strong> <a href="https://forum.plentymarkets.com/t/reminder-zum-eol-status-ende-der-bereitstellung-vom-individuellen-warenkorb-zum-01-03-2019-eol-reminder-the-provisioning-of-the-individual-shopping-cart-will-end-on-01-03-2019/525337/6" target="_blank" rel="noopener">here</a>.</p>
</li>
<li>
<p>Further information about the EOL of Callisto in the <a href="https://forum.plentymarkets.com/t/callisto-wie-gehen-wir-mit-dem-cms-nach-eol-um/508113" target="_blank" rel="noopener">forum</a>.</p>
</li>
<li>
<p>The collected threads on the shutdown of the three different <a href="https://forum.plentymarkets.com/t/sammelthread-der-von-dir-genutzte-bestellvorgang-wird-zum-1-x-2019-abgeschaltet/527838/63" target="_blank" rel="noopener">order processes</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="checkout">4. Setting up Ceres checkout in Callisto online stores</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You want to use the new checkout in your Callisto online store and benefit from its plugin capabilities and individual customisability? No problem - we’ll guide you through the necessary steps. In case you need professional support for the integration of the Ceres checkout in Callisto, our <a href="https://marketplace.plentymarkets.com/services/CeresCheckout4Callisto_5475" target="_blank" rel="noopener">marketplace</a> can lead you in the right direction.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first:</div>
<div class="ulist">
<ul>
<li>
<p>This Best Practice describes the setup of the Ceres checkout in a Callisto template. Please copy your design first. Do not make modifications to your active layout.</p>
</li>
<li>
<p>To use the Ceres checkout, you need the current version of the Ceres and the IO plugins. You can find both on the plentyMarketplace. Both plugins have to be installed and deployed in a plugin set copy.</p>
</li>
<li>
<p>In order to use your payment providers and shipping service providers in the Ceres checkout, you will have to load and install the relevant plugins from the <a href="https://marketplace.plentymarkets.com/plugins/payment" target="_blank" rel="noopener">marketplace</a>. Please note that there are payment providers that at this point do not offer a plugin alternative and whose services can therefore not be implemented in the Ceres checkout.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Working in a plugin set copy</div>
<div class="paragraph">
<p>To ensure that the live operations of your online store are not impaired while testing the Ceres checkout, we recommend that you initially make all of your changes in a plugin set copy. <a href="/en/online-store/best-practices#copying_a_plugin_set">This best practice</a> explains how to create a copy for your plugin sets. Test your changes in the <a href="/en/plugins/plugin-sets">preview mode</a> before you integrate them into your live online store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="standard">4.1. Ceres checkout for Callisto online stores that use the <strong>individual shopping cart</strong> or the <strong>standard order process</strong></h3>
<div class="paragraph">
<p>If you operate a Callisto online store that uses the <strong>individual shopping cart</strong> or the <strong>standard order process</strong>, you will have to integrate the Ceres checkout sooner: The individual shopping cart will be deactivated on 01 March 2019; the standard order process will be deactivated on 01 June 2019. <a href="/en/online-store/best-practices#bp-ceres-EOL">This chapter</a> explains how you find out which order process you are currently using.<br></p>
</div>
<div class="paragraph">
<p>If you follow the step-by-step instruction below, you can integrate the Ceres checkout in your Callisto online store in a few simple steps.</p>
</div>
<div class="sect3">
<h4 id="_managing_routes">4.1.1. Managing routes</h4>
<div class="paragraph">
<p>Ceres online stores use the logic of the plugin IO. In order to use the checkout with all the correct routes, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Carry out settings in the IO plugin:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>IO</strong>.<br>
→ The plugin opens.</p>
</li>
<li>
<p>Click on <strong>Configuration</strong> in the directory tree.</p>
</li>
<li>
<p>Click on the <strong>Routing</strong> tab.</p>
</li>
<li>
<p>Deactivate the checkbox next to <strong>Enable routes</strong>.<br>
→ All routes are deactivated.</p>
</li>
<li>
<p>Activate the routes <strong>/basket</strong>, <strong>/checkout</strong>, <strong>/confirmation</strong>, <strong>/login</strong>, <strong>/register</strong>, <strong>/password-reset</strong>, as well as <strong>/place-order</strong> and <strong>/execute-payment</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Using the ShopBuilder in Callisto online stores that use the Ceres checkout</div>
<div class="paragraph">
<p>If you operate a Callisto online store with Ceres checkout and want to use the <a href="/en/online-store/shop-builder">ShopBuilder</a>, you also need to activate the first route <strong>/</strong>. Otherwise, the ShopBuilder will not load in your back end. Please note that this will overwrite your Callisto homepage. We recommend that you always make changes in a plugin set copy. After you have made changes, you can deactivate the homepage route <strong>/</strong> again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Carry out settings in the Ceres plugin:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Ceres</strong>.<br>
→ The plugin opens.</p>
</li>
<li>
<p>Click on <strong>Configuration</strong> in the directory tree.<br>
→ The <strong>Global</strong> tab is pre-selected.</p>
</li>
<li>
<p>Click on <strong>Enable Callisto route pattern for items</strong>.<br>
→ The Callisto routes are activated.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The Ceres checkout is now active in your Callisto online store.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For the majority of users, this concludes the steps necessary to implement the Ceres checkout in Callisto stores. <a href="/en/plugins/new-plugins">Purchase and install</a> the relevant plugins for payment providers and shipping service providers in your plugin set. You should test your new checkout thoroughly before you activate the plugin set for your client.<br></p>
</div>
<div class="paragraph">
<p>Users who have made additional adjustments to their layout need to check whether any other links on their website lead customers to the checkout. These links have to be changed so that they link to the route <strong>/checkout</strong>. We are not able to intercept all individual changes to the layout, since these can vary from user to user.</p>
</div>
<div class="paragraph">
<p>The visual design of the Ceres checkout will differ from your Callisto layout. You can edit the header and footer of the checkout and the shopping cart globally via the <a href="/en/online-store/shop-builder#95">ShopBuilder</a>. With the release of Ceres 3.1, you will be able to edit the entire checkout via the ShopBuilder. You can make further adjustments to the design with the help of a <a href="#theme">theme</a>.</p>
</div>
<div class="paragraph">
<p>In a next step you need to adjust the routes for your legal information.</p>
</div>
</div>
<div class="sect3">
<h4 id="_adjusting_the_routes_to_your_legal_information">4.1.2. Adjusting the routes to your legal information</h4>
<div class="paragraph">
<p>The four pieces of legal information - <strong>Terms and conditions</strong>, <strong>Privacy policy</strong>, <strong>Legal disclosure</strong> and <strong>Cancellation rights</strong> have to be connected in a different way in order to be displayed correctly.</p>
</div>
<div class="paragraph instruction">
<p>Adjusting the terms and conditions:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>Item » Categories</strong> menu.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Terms and conditions</strong> as a main category.<br>
→ The new main category <strong>Terms and conditions</strong> opens.</p>
</li>
<li>
<p>Enter <strong>gtc</strong> as the <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the privacy policy:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>Item » Categories</strong> menu.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Privacy policy</strong> as a main category.<br>
→ The new main category <strong>Privacy policy</strong> opens.</p>
</li>
<li>
<p>Enter <strong>privacy-policy</strong> as the <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the legal disclosure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>Item » Categories</strong> menu.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Legal disclosure</strong> as a main category.<br>
→ The new main category <strong>Legal disclosure</strong> opens.</p>
</li>
<li>
<p>Enter <strong>legal-disclosure</strong> as the <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the cancellation rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>Item » Categories</strong> menu.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Cancellation rights</strong> as a main category.<br>
→ The new main category <strong>Cancellation rights</strong> opens.</p>
</li>
<li>
<p>Enter <strong>cancellation-rights</strong> as the <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>When you have saved the routes for your legal information, activated the routes as described above and integrated all relevant payment and shipping service providers via plugins, your Ceres checkout is ready for action and you have successfully overcome the obstacles of the Callisto EOL.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="individual-order-process">4.2. Ceres checkout for Callisto online stores that use the <strong>individual order process</strong></h3>
<div class="paragraph">
<p>If you are currently using the <strong>individual order process</strong> in your Callisto online store, you need to integrate the Ceres checkout by 01 September 2019 at the latest. Otherwise, your customers will not be able to place orders in your online store.<br></p>
</div>
<div class="paragraph">
<p><a href="/en/online-store/best-practices#bp-ceres-EOL">This chapter</a> explains how you find out which order process you are currently using.<br></p>
</div>
<div class="paragraph">
<p>If you follow the step-by-step instruction below, you can integrate the Ceres checkout in your Callisto online store in a few simple steps.</p>
</div>
<div class="sect3">
<h4 id="_managing_routes_2">4.2.1. Managing routes</h4>
<div class="paragraph">
<p>Ceres online stores use the logic of the plugin IO. In order to use the checkout with all the correct routes, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Carry out settings in the IO plugin:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>IO</strong>.<br>
→ The plugin opens.</p>
</li>
<li>
<p>Click on <strong>Configuration</strong> in the directory tree.</p>
</li>
<li>
<p>Click on the <strong>Routing</strong> tab.</p>
</li>
<li>
<p>Deactivate the checkbox next to <strong>Enable routes</strong>.<br>
→ All routes are deactivated.</p>
</li>
<li>
<p>Activate the routes <strong>/checkout</strong>, <strong>/confirmation</strong>, <strong>/login</strong>, <strong>/register</strong>, <strong>/password-reset</strong> as well as <strong>/place-order &amp; /execute payment</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Using the ShopBuilder in Callisto online stores that use the Ceres checkout</div>
<div class="paragraph">
<p>If you operate a Callisto online store with Ceres checkout and want to use the <a href="/en/online-store/shop-builder">ShopBuilder</a>, you also need to activate the first route <strong>/</strong>. Otherwise, the ShopBuilder will not load in your back end. Please note that this will overwrite your Callisto homepage. We recommend that you always make changes in a plugin set copy. After you have made changes, you can deactivate the homepage route <strong>/</strong> again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Carry out settings in the Ceres plugin:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Ceres</strong>.<br>
→ The plugin opens.</p>
</li>
<li>
<p>Click on <strong>Configuration</strong> in the directory tree.<br>
→ The <strong>Global</strong> tab is pre-selected.</p>
</li>
<li>
<p>Click on <strong>Enable Callisto route pattern for items</strong>.<br>
→ The Callisto routes are activated.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The Ceres checkout is now active in your Callisto online store.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_adjusting_the_order_process">4.2.2. Adjusting the order process</h4>
<div class="paragraph">
<p>You need to adjust several categories in order for the checkout process to be working properly. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Creating categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>Item » Categories</strong> menu.</p>
</li>
<li>
<p>Create a new main category with the name <strong>login</strong>.</p>
</li>
<li>
<p>Open the category <strong>login</strong>.</p>
</li>
<li>
<p>Select the category type <strong>Container</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Create a new main category with the name <strong>checkout</strong>.</p>
</li>
<li>
<p>Open the category <strong>checkout</strong>.</p>
</li>
<li>
<p>Select the category type <strong>Container</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Afterwards, link the new categories to the Callisto order process.</p>
</div>
<div class="paragraph instruction">
<p>Adjusting the order process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>.<br>
→ The menu <strong>Design settings</strong> opens.</p>
</li>
<li>
<p>Click on the tab <strong>Clients</strong>.</p>
</li>
<li>
<p>Select the client you want to edit.</p>
</li>
<li>
<p>Click on the tab <strong>Order process</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> next to <strong>2nd order process step</strong>.</p>
</li>
<li>
<p>Select the newly created category <strong>login</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> next to <strong>3rd order process step</strong>.</p>
</li>
<li>
<p>Select the newly created category <strong>checkout</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Now, once you go to the checkout from the basket, you will be forwarded to the Ceres checkout, which offers new functions, such as payment plugins like PayPal.</p>
</div>
</div>
<div class="sect3">
<h4 id="_creating_backlinks">4.2.3. Creating backlinks</h4>
<div class="paragraph">
<p>You need to adjust the Callisto code in a few places so that users that are not logged in to your store are redirected to the order process after clicking the <strong>To the checkout</strong> button. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Creating backlinks for the shopping cart:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Click on the category <strong>Shopping cart</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Description 1</strong>.</p>
</li>
<li>
<p>Search for the code <code>&#123;&#37; if ( $CustomerID ) { Link_Checkout(3); } else { Link_Checkout(2); } &#37;&#125;</code></p>
</li>
<li>
<p>Replace this code with: <code>&#123;&#37; if( $CustomerID ) { $_check = Link_Checkout(3); $_backlink = ''; } else { $_check = Link_Checkout(2); $_backlink = '?backlink=/checkout'; } &#37;&#125; $_check.$_backlink</code></p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Creating backlinks for the shopping cart preview:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>CMS » Web design » Layout » ItemView » ItemViewBasketPreviewList</strong>.</p>
</li>
<li>
<p>Search for the code: <code>&#123;&#37; if( $CustomerID ) { Link_Checkout(3); } else { Link_Checkout(2); } &#37;&#125;</code></p>
</li>
<li>
<p>Replace this code with: <code>&#123;&#37; if( $CustomerID ) { $_check = Link_Checkout(3); $_backlink = ''; } else { $_check = Link_Checkout(2); $_backlink = '?backlink=/checkout'; } &#37;&#125; $_check.$_backlink</code></p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Creating backlinks for the shopping cart overlay:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>CMS » Web design » Layout » ItemView » ItemViewItemToBasketConfirmationOverlay</strong>.</p>
</li>
<li>
<p>Search for the code: <code>&#123;&#37; if ( $CustomerID ) { Link_Checkout(3); } else { Link_Checkout(2); } &#37;&#125;</code></p>
</li>
<li>
<p>Replace this code with: <code>&#123;&#37; if( $CustomerID ) { $_check = Link_Checkout(3); $_backlink = ''; } else { $_check = Link_Checkout(2); $_backlink = '?backlink=/checkout'; } &#37;&#125; $_check.$_backlink</code></p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Users who have made additional adjustments to their layout need to check whether any other links on their website lead customers to the checkout. These links have to be changed so that they link to the route <strong>/checkout</strong>. We are not able to intercept all individual changes to the layout, since these can vary from user to user.</p>
</div>
<div class="paragraph">
<p>The visual design of the Ceres checkout will differ from your Callisto layout. You can edit the header and footer of the checkout and the shopping cart globally via the <a href="/en/online-store/shop-builder#95">ShopBuilder</a>. With the release of Ceres 3.1, you will be able to edit the entire checkout via the ShopBuilder. You can make further adjustments to the design with the help of a <a href="#theme">theme</a>.</p>
</div>
<div class="paragraph">
<p>In a next step, adapt the routes for your legal information.</p>
</div>
</div>
<div class="sect3">
<h4 id="_adjusting_the_routes_to_your_legal_information_2">4.2.4. Adjusting the routes to your legal information</h4>
<div class="paragraph">
<p>The four pieces of legal information - <strong>Terms and conditions</strong>, <strong>Privacy policy</strong>, <strong>Legal disclosure</strong> and <strong>Cancellation rights</strong> have to be connected in a different way in order to be displayed correctly.</p>
</div>
<div class="paragraph instruction">
<p>Adjusting the terms and conditions:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Terms and conditions</strong> as a main category.<br>
→ The new main category <strong>Terms and conditions</strong> opens.</p>
</li>
<li>
<p>Enter <strong>gtc</strong> as the <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the privacy policy:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Privacy policy</strong> as a main category.<br>
→ The new main category <strong>Privacy policy</strong> opens.</p>
</li>
<li>
<p>Enter <strong>privacy-policy</strong> as the <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the legal disclosure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Legal disclosure</strong> as a main category.<br>
→ The new main category <strong>Legal disclosure</strong> opens.</p>
</li>
<li>
<p>Enter <strong>legal-disclosure</strong> as the <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the cancellation rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Cancellation rights</strong> as a main category.<br>
→ The new main category <strong>Cancellation rights</strong> opens.</p>
</li>
<li>
<p>Enter <strong>cancellation-rights</strong> as the <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After you have saved your legal information, activated the routes as described above, adjusted the categories, created the backlinks and integrated all relevant payment and shipping service providers via plugins, your Ceres checkout is ready for action and you have successfully overcome the hurdles of the Callisto EOL.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="theme">4.3. Theme</h3>
<div class="paragraph">
<p>You have personalised your Callisto online store just the way you like it and are afraid that the Ceres design might interfere with it? You can easily download the <a href="https://marketplace.plentymarkets.com/plugins/storefront/themes/cerescoconut_6120" target="_blank" rel="noopener">Coconut theme</a> for Ceres and apply your own design to guarantee a consistent user experience.</p>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="filters">5. Setting up filters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In Ceres Filters are realized by means of attributes and properties. This Best Practice describes how the filter <strong>Colour</strong> with the two values <strong>Red</strong> and <strong>Black</strong> is displayed in the category view of the online store. The corresponding filters are only available in the category view if there are items that are linked to the filter values.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first:</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the online store plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available in the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a> and runs on plentymarkets 7 systems. The filters from <strong>Ceres</strong> are also displayed in individual theme plugins, as long as these themes did not overwrite them.</p>
</li>
<li>
<p>The integration into individual or altered template plugins is possible. This, however, requires individual adjustments which cannot be considered here.</p>
</li>
<li>
<p>Filters can be realized by means of <a href="/en/omni-channel/online-store/setting-up-clients/extras/faceted-search#100">facets</a> through <strong>attributes</strong> and <strong>properties</strong>. This Best Practice exemplifies the setup of filters by means of <strong>attributes</strong>. Filters based on <strong>properties</strong> have to be setup manually. Create a <strong>Property group</strong> in which you organise properties of the type <strong>None</strong>. Properties are linked to facet values.</p>
</li>
<li>
<p>For plentymarkets Zero systems, the <strong>System » System settings » Client » Settings » Services » Faceted search</strong> menu is only activated in the central login.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_an_attribute">5.1. Creating an attribute</h3>
<div class="paragraph">
<p>We begin with an attribute.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Item » Attributes</strong>.</p>
</li>
<li>
<p>Click on <strong>New attribute</strong>.</p>
</li>
<li>
<p>Enter the internal name, e.g. <strong>Colour</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The attribute is created and the tab <strong>Basic settings</strong> is displayed.</p>
</li>
<li>
<p>Click on the <strong>Name</strong> tab.</p>
</li>
<li>
<p>Enter the translations for your attribute.</p>
</li>
<li>
<p>Click on the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New value</strong>.</p>
</li>
<li>
<p>Enter the internal name, e.g. <strong>Red</strong>.</p>
</li>
<li>
<p>Repeat steps 8 and 9 for the value <strong>Black</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The attribute with the two values <strong>Red</strong> and <strong>Black</strong> is created. You can also create additional values, such as <strong>Vermilion</strong> or <strong>Burgundy</strong>, and link them to the same <strong>Red</strong> facet.</p>
</div>
</div>
<div class="sect2">
<h3 id="_linking_an_attribute_with_an_item">5.2. Linking an attribute with an item</h3>
<div class="paragraph">
<p>You can link attributes with the main variation of an item when creating the item. When creating additional variations, you can link these variations with attribute values, too. You will now create variations in the <strong>Variations</strong> tab of the item. These variations have to be active in the online store, so that the filter will be available later on.</p>
</div>
<div id="filter-varianten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-variations-en.png" alt="bp ceres filter variations en">
</div>
<div class="title">Figure 1. Linking a variation to suitable attribute values</div>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_facets">5.3. Setting up facets</h3>
<div class="paragraph">
<p>In the online store our filters are realized by means of facets. Therefore we have to create a new facet and link the attribute values and the desired client to it.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong> to create a new facet.</p>
</li>
<li>
<p>Enter a <strong>Name</strong> for the facet in the default language of your system, e.g. <strong>Colour</strong>.</p>
</li>
<li>
<p>Select the type <strong>Attribute/Property</strong>.</p>
</li>
<li>
<p>Enter the facet’s position in the online store.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_linking_attribute_values_to_facets">5.4. Linking attribute values to facets</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Click on the <strong>Name</strong> tab.</p>
</li>
<li>
<p>Enter the translation for your facet.</p>
</li>
<li>
<p>Click on the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add new value</strong>.</p>
</li>
<li>
<p>Enter the name, e.g. <strong>Red</strong>.</p>
</li>
<li>
<p>Enter the position.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The facet value is added.</p>
</li>
<li>
<p>Enter the translations for the facet value in th <strong>Name</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Link</strong> tab.</p>
</li>
<li>
<p>Open the attribute <strong>Attribute » Colour » Red</strong>.</p>
</li>
<li>
<p>Click on <strong>Link</strong>.</p>
</li>
<li>
<p>Repeat steps 6 to 13 for the value <strong>Black</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="filter-facetten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-facets-en.png" alt="bp ceres filter facets en">
</div>
<div class="title">Figure 2. Linked facet values</div>
</div>
</div>
<div class="sect2">
<h3 id="_linking_clients_to_facets">5.5. Linking clients to facets</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Select client » Services » Facet links</strong>.</p>
</li>
<li>
<p>Select the facet.</p>
</li>
<li>
<p>Click on <strong>Link facet</strong>.<br>
→ The facet is linked to the selected client.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_deploying_plugins">5.6. Deploying plugins</h3>
<div class="paragraph">
<p>Now you will deploy the plugin set in order to apply the changes. The filters will be available in the <strong>search</strong> and in the <strong>category view</strong>.</p>
</div>
<div id="filter-frontend" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-frontend-en.png" alt="bp ceres filter frontend en">
</div>
<div class="title">Figure 3. Selected filter in the category view</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="order-properties">6. Setting up order properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this Best Practice we will create a property through which you can enter a <strong>text</strong> that can be printed onto a T-shirt. The input will automatically calculate a surcharge for the product.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">The most important things first:</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the online store plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available on the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a> and runs on plentymarkets 7 systems.</p>
</li>
<li>
<p>The integration into individual or modified template plugins is possible. This, however, requires individual adjustments which cannot be considered here.</p>
</li>
<li>
<p><strong><em>Note:</em></strong> At the moment only properties of the type <strong>Text</strong> are active.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_order_properties">6.1. Creating order properties</h3>
<div class="paragraph">
<p>We begin with an property.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>. This is the name of the property that is displayed in the back end.</p>
</li>
<li>
<p>Enter the <strong>Name</strong> in the <strong>Online store</strong> area. This is the name that your customers see in the item view. In this example we choose “T-shirt print”.</p>
</li>
<li>
<p>Choose <strong>Text</strong> from the <strong>Property type</strong> list.</p>
</li>
<li>
<p>Enter the <strong>Surcharge</strong> that should be added if the property is used. In this example we choose 12,00 euros for a T-shirt print.<br>
→ Check the box <strong>Display as surcharge</strong> so that the customer sees the surcharge for the property in the item view.</p>
</li>
<li>
<p>Check all the boxes in the <strong>Display</strong> area in order to keep the additional charges transparent throughout the entire order process.</p>
</li>
<li>
<p>Check the box <strong>Order property</strong> to define the property as such.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Your property interface should now look like this:</p>
</div>
<div id="bestellmerkmale-einstellungen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-shop/assets/bp-ceres-bestellmerkmale-einstellungen.png" alt="bp ceres bestellmerkmale einstellungen">
</div>
<div class="title">Figure 4. Settings for the order property</div>
</div>
</div>
<div class="sect2">
<h3 id="_linking_an_order_property_to_an_item">6.2. Linking an order property to an item</h3>
<div class="paragraph">
<p>Properties are directly linked to the item. Proceed as follows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select an item with which the property should be linked.</p>
</li>
<li>
<p>Click on the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Go to <strong>Activate further properties » Properties not assigned to a group</strong> and check the box of the created property.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property is linked to the item and is shown under <strong>Properties</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Surcharges</div>
<div class="paragraph">
<p>You can also enter a surcharge in the <strong>Properties</strong> options. If you enter a value here, it overwrites the value of the surcharge that was saved for the property.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="bestellmerkmale-artikel" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-item.png" alt="bp ceres order properties item">
</div>
<div class="title">Figure 5. Settings for the item</div>
</div>
</div>
<div class="sect2">
<h3 id="_deploying_plugins_2">6.3. Deploying plugins</h3>
<div class="paragraph">
<p>Now you will deploy the plugins in a <strong>plugin set</strong> in order to apply the changes. The order property will be available in the <strong>Item view</strong> and the <strong>Shopping cart</strong>.</p>
</div>
<div id="bestellmerkmale-artikelansicht" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-item-view.png" alt="bp ceres order properties item view">
</div>
<div class="title">Figure 6. Item view in the online store</div>
</div>
<div class="paragraph">
<p>If the customer inputs something into the text field, the text is saved and the surcharge is added to the item price.</p>
</div>
<div id="bestellmerkmale-warenkorb" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-shop/assets/bp-ceres-bestellmerkmale-warenkorb.png" alt="bp ceres bestellmerkmale warenkorb">
</div>
<div class="title">Figure 7. Item view in the shopping cart</div>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_order_properties_with_checkboxes">6.4. Setting up order properties with checkboxes</h3>
<div class="paragraph">
<p>In this Best Practice we will create an order property that is displayed with a checkbox in the single item view. If the checkbox is checked, the surcharge for the product will automatically be calculated.</p>
</div>
<div class="sect3">
<h4 id="_creating_a_property_group">6.4.1. Creating a property group</h4>
<div class="paragraph">
<p>In the first step we will create a new property group. In our example we want customers to be able to purchase complementary couch accessories through checking the checkbox.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property group</strong> tab.</p>
</li>
<li>
<p>Enter a <strong>Name (internal)</strong> for the property group to be displayed in the back end.</p>
</li>
<li>
<p>In the <strong>Language</strong> area you can enter a name and a description for the property group in various languages to be displayed in the online store.</p>
</li>
<li>
<p>Select <strong>None</strong> from the drop-down list <strong>Grouping of order properties (type: "none")</strong></p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="bestellmerkmale-merkmalgruppe" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-group.png" alt="bp ceres order properties group">
</div>
<div class="title">Figure 8. Creating a property group</div>
</div>
</div>
<div class="sect3">
<h4 id="_creating_order_properties_2">6.4.2. Creating order properties</h4>
<div class="paragraph">
<p>After we have created a property group for couch accessories, we now want to set up a new property, e.g. a couch cushion, and link it to the property group.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter a <strong>Name (internal)</strong> for the property to be displayed in the back end.</p>
</li>
<li>
<p>In the <strong>Webshop</strong> area you can enter a name and a description for the property in various languages to be displayed in the online store.</p>
</li>
<li>
<p>Select the newly created property group from the <strong>Property group</strong> drop-down list.</p>
</li>
<li>
<p>Select <strong>None</strong> from the <strong>Property type</strong> drop-down list.</p>
</li>
<li>
<p>Enter the <strong>Surcharge</strong> that should be added if the property is used. In this example we choose 15.00 euros for a couch cushion.<br>
→ Check the box <strong>Display as surcharge</strong> so that the customer sees the surcharge for the property in the item view.</p>
</li>
<li>
<p>Check the boxes in the <strong>Show</strong> area for the areas in which you want to display the property.</p>
</li>
<li>
<p>Check the <strong>Order property</strong> box.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The order property <strong>couch cushion</strong> has been successfully created.</p>
</div>
<div id="bestellmerkmale-neues-merkmal" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-new-property.png" alt="bp ceres order properties new property">
</div>
<div class="title">Figure 9. Creating order properties</div>
</div>
</div>
<div class="sect3">
<h4 id="_linking_an_order_property_to_an_item_2">6.4.3. Linking an order property to an item</h4>
<div class="paragraph">
<p>Last but not least, we ned to link the desired item with the newly created order property.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select an item with which the property should be linked.</p>
</li>
<li>
<p>Click on the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Go to <strong>Activate further properties</strong> and check the box of the newly created property group.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property will be linked with the item.</p>
</li>
</ol>
</div>
<div id="bestellmerkmal-verknuepfung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-link.png" alt="bp ceres order properties link">
</div>
<div class="title">Figure 10. Linking an order property to an item</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Displaying changes</div>
<div class="paragraph">
<p>Please note that it may take about 15 minutes until the changes are displayed in the online store. This is the interval in which the ElasticSearch index is refreshed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="cross-selling">7. Setting up cross-selling item lists</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This Best Practice guide helps you set up item lists of the type <strong>cross-selling</strong> in Ceres.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first…​</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the online store plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available in the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a> and runs on plentymarkets 7 systems.</p>
</li>
<li>
<p>This guide assumes that you have already set up cross-selling relations for your items. You can learn how to configure cross-selling for your items <a href="/en/item/managing-items#950">here</a>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_setting_up_cross_selling_item_lists">7.1. Setting up cross-selling item lists</h3>
<div class="paragraph">
<p>Go to <strong>Plugins » Plugin overview » Ceres » Configuration » Item lists</strong>. In this menu you can determine which type of item list you want to use in your online store.
Select the type of cross-selling relation that your item list should display from the <strong>Cross-selling: Cross-selling relation</strong> drop-down list (see box 1 in the image).
You can choose from the options <strong>Similar</strong>, <strong>Accessory</strong>, <strong>Replacement parts</strong> and <strong>Collection</strong>. This cross-selling relation will apply to all cross-selling item lists in your online store.</p>
</div>
<div class="paragraph">
<p>In the next step you determine which item list you want to use. Edit the <strong>First item list</strong>, <strong>Second item list</strong> or <strong>Third item list</strong> and select <strong>Cross-selling</strong> from the drop-down list. In the example below, the <strong>Second item list</strong> is configured as a cross-selling list (Box 2 in the image).
Enter a German and an English name for your item list in the input fields <strong>Name of the second item list (DE)</strong> and <strong>Name of the second item list (EN)</strong>, respectively.</p>
</div>
<div class="paragraph">
<p><strong>Save</strong> the settings you have carried out.</p>
</div>
<div id="cross-selling-settings" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-cross-selling-config.png" alt="bp ceres cross selling config">
</div>
<div class="title">Figure 11. Setting up cross-selling</div>
</div>
</div>
<div class="sect2">
<h3 id="_displaying_cross_selling_item_lists_in_the_online_store">7.2. Displaying cross-selling item lists in the online store</h3>
<div class="paragraph">
<p>After you have determined which item list you want to use for your cross-selling items, you now choose where the item list is to be displayed in your online store.</p>
</div>
<div class="paragraph">
<p>Open the <strong>CMS » Container links</strong> menu.</p>
</div>
<div class="paragraph">
<p>Go to the item list that you have configured as your cross-selling item list, i.e. <strong>First item list</strong>, <strong>Second item list</strong> or <strong>Third item list</strong>.
Choose the layout container in which you want to display your cross-selling item list. In the example below, the second item list is displayed in the container of the single item view.</p>
</div>
<div id="item-list-container" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-cross-selling-container.png" alt="bp ceres cross selling container">
</div>
<div class="title">Figure 12. Choosing a container for item lists</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Displaying changes</div>
<div class="paragraph">
<p>Please note that it may take about 15 minutes until the changes are displayed in the online store. This is the interval in which the ElasticSearch index is refreshed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="additional-cross-selling-lists">8. Displaying further cross-selling item lists</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Since Ceres only displays one cross-selling item list, this Best Practice informs you about which adjustments are necessary in order to use multiple cross-selling item lists in your Ceres online store. This guide is primarily for experienced users, since the implementation of multiple cross-selling lists has to be done via a customised theme plugin.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Please note that you have to assign a position number to your theme plugin that lies between that of <strong>IO</strong> and that of <strong>Ceres</strong>. You do this in the actions column of the <strong>Plugins » Plugin overview</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_a_context_class">8.1. Creating a context class</h3>
<div class="paragraph">
<p>The implementation of cross-selling lists is done via extending the SingleItem context class. Therefore, you first need to create a PHP context class in your theme.</p>
</div>
<div class="paragraph">
<p>First, create a <strong>Contexts</strong> folder in the <strong>src</strong> folder of your theme. In the contexts folder you now create a PHP file for your own context class, e.g. MyThemeContext.php.</p>
</div>
<div class="paragraph">
<p>Now include the following code in this file. The first cross-selling item list you will create is of the accessory type.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;?php
namespace ThemeName\Contexts;

use IO\Helper\ContextInterface;
use Ceres\Contexts\SingleItemContext;

use IO\Services\ItemSearch\Services\ItemSearchService;
use IO\Services\ItemSearch\SearchPresets\CrossSellingItems;

class MyThemeContext extends SingleItemContext implements ContextInterface
{
	public $accessory;

	public function init($params)
	{
		parent::init($params);
		$options = array(
        			"itemId" =&gt; $this-&gt;item['documents'][0]['data']['item']['id'],
        			"relation" =&gt; "Accessory"      // Use the accessory list
       		);
     		$searchfactory = CrossSellingItems::getSearchFactory( $options );
     		$searchfactory-&gt;setPage(1, 4); // Limit to 4 items
      		$result = pluginApp(ItemSearchService::class)-&gt;getResult($searchfactory);
      		$this-&gt;accessory = $result['documents'];
	}
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>Save the file. Now you adapt the Provider of your theme in 2 steps. Open the file of the provider, located at <strong>/src/Providers/MythemesServiceProvider.php</strong>.</p>
</div>
<div class="paragraph">
<p>Add <code>use Theme\Contexts\MyThemeContext.php;</code> at the top of the file, so that the newly created context is read by the ServiceProvider.</p>
</div>
<div class="paragraph">
<p>Furthermore, you need to add the following code in the <strong>boot</strong> function:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">$eventDispatcher-&gt;listen('IO.ctx.item', function (TemplateContainer $templateContainer, $templateData = [])
   {
       $templateContainer-&gt;setContext( MyThemeContext::class);
       return false;
   }, 0);</code></pre>
</div>
</div>
<div class="paragraph">
<p>Save the file. This concludes the preparations for your context class.</p>
</div>
</div>
<div class="sect2">
<h3 id="_adapting_the_singleitemview_twig">8.2. Adapting the SingleItemView.twig</h3>
<div class="paragraph">
<p>In order to display the cross-selling item lists in the single item view, you now have to adjust the <strong>&lt;single-item&gt;component</strong> in your theme. In the file structure of the unaltered Ceres template, the file is located at <strong>/resources/views/item/SingleItemView.twig</strong>; this has to be overwritten by your theme, so that the changes you make are not lost whenever you update IO or Ceres.</p>
</div>
<div class="paragraph">
<p>Add the following code before the closing <strong>&lt;/single-item&gt;</strong> tag in the component:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div slot="CrossSellingAccessory"&gt;
	{{ component("Ceres::Containers.Components.ContainerItemList") }}
	&#123;&#37; if accessory|length &gt; 0 &#37;&#125;
        		&lt;div class="crossSelling"&gt;
        			&lt;span class="h3"&gt;Das passt dazu:&lt;/span&gt;
        			&lt;container-item-list :items="{{ accessory| json_encode }}"&gt;&lt;/container-item-list&gt;
      		&lt;/div&gt;
	&#123;&#37; endif &#37;&#125;
   &lt;/div&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Change the heading, if necessary. After you have defined the slot for the cross-selling list, you can incorporate it via <code>&lt;slot name=“CrossSellingAccessory“&gt;&lt;/slot&gt;</code> in the desired component (/resources/views/Item/Components/). The location in which you need to include the code snippet depends on where you want to display the cross-selling list in the single item view.</p>
</div>
<div class="paragraph">
<p>As soon as the plugin set has been saved and deployed again, the cross-selling item list of the type accessory should be displayed in the selected place.</p>
</div>
</div>
<div class="sect2">
<h3 id="_including_additional_cross_selling_lists">8.3. Including additional cross-selling lists</h3>
<div class="paragraph">
<p>In order to display additional cross-selling lists in Ceres, the context class you created needs to be extended.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;?php
namespace ThemeName\Contexts;

use IO\Helper\ContextInterface;
use Ceres\Contexts\SingleItemContext;

use IO\Services\ItemSearch\Services\ItemSearchService;
use IO\Services\ItemSearch\SearchPresets\CrossSellingItems;

class MyThemeContext extends SingleItemContext implements ContextInterface
{
	public $accessory;
  public $similar;

	public function init($params)
	{
		parent::init($params);
		$options = array(
        			"itemId" =&gt; $this-&gt;item['documents'][0]['data']['item']['id'],
        			"relation" =&gt; "Accessory"      // Use the list accessory
       		);
     		$searchfactory = CrossSellingItems::getSearchFactory( $options );
     		$searchfactory-&gt;setPage(1, 4); // Limit to 4 items
      		$result = pluginApp(ItemSearchService::class)-&gt;getResult($searchfactory);
      		$this-&gt;accessory = $result['documents'];

    $options = array(
              "itemId" =&gt; $this-&gt;item['documents'][0]['data']['item']['id'],
              "relation" =&gt; "Similar"      // Use the list similar
          );
        $searchfactory = CrossSellingItems::getSearchFactory( $options );
      	$searchfactory-&gt;setPage(1, 4); // Limit to 4 items
        	$result = pluginApp(ItemSearchService::class)-&gt;getResult($searchfactory);
        	$this-&gt;similar= $result['documents'];
	}
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>Here, <code>public $similar;</code> has been added below <code>public $accessory;</code>. If you want to include a cross-selling list of the type <strong>Replacement part</strong>, add <code>public $replacementPart</code> instead.</p>
</div>
<div class="paragraph">
<p>Furthermore, an additional code block has been added below <code>$this→accessory = $result[0]['documents'];</code>, in which <code>"relation" ⇒ "Accessory”</code> has been replaced by <code>"relation" ⇒ “Similar”</code>. For lists of the type <strong>Replacement part</strong>, use <code>"relation" ⇒ "ReplacementPart”</code> instead.</p>
</div>
<div class="paragraph">
<p>As described above, you now create a new slot in the <strong>&lt;single-item&gt;</strong> component and call it at the desired place in the code.</p>
</div>
<hr>
<div class="paragraph">
<p>Thanks to Jens Volke for contributing this HowTo. Read the original post in our <a href="https://forum.plentymarkets.com/t/howto-weitere-cross-selling-listen-anzeigen-aehnliche-artikel-zubehoer-ersatzteil/495795" target="_blank" rel="noopener">forum</a>.</p>
</div>
</div>
</div>
</div>
</main>