<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#testing-ceres-updates"><span>1.</span><span> Testing Ceres updates for theme compatibility</span></a>
<ul class="sectlevel2">
<li><a href="#_copying_a_plugin_set"><span>1.1.</span><span> Copying a plugin set</span></a></li>
<li><a href="#_updating_ceres_for_the_copied_plugin_set"><span>1.2.</span><span> Updating Ceres for the copied plugin set</span></a></li>
</ul>
</li>
<li><a href="#filters"><span>2.</span><span> Setting up filters</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_an_attribute"><span>2.1.</span><span> Creating an attribute</span></a></li>
<li><a href="#_linking_an_attribute_with_an_item"><span>2.2.</span><span> Linking an attribute with an item</span></a></li>
<li><a href="#_setting_up_facets"><span>2.3.</span><span> Setting up facets</span></a></li>
<li><a href="#_linking_attribute_values_to_facets"><span>2.4.</span><span> Linking attribute values to facets</span></a></li>
<li><a href="#_linking_clients_to_facets"><span>2.5.</span><span> Linking clients to facets</span></a></li>
<li><a href="#_deploying_plugins"><span>2.6.</span><span> Deploying plugins</span></a></li>
</ul>
</li>
<li><a href="#order-properties"><span>3.</span><span> Setting up order properties</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_order_properties"><span>3.1.</span><span> Creating order properties</span></a></li>
<li><a href="#_linking_an_order_property_to_an_item"><span>3.2.</span><span> Linking an order property to an item</span></a></li>
<li><a href="#_deploying_plugins_2"><span>3.3.</span><span> Deploying plugins</span></a></li>
<li><a href="#_setting_up_order_properties_with_checkboxes"><span>3.4.</span><span> Setting up order properties with checkboxes</span></a>
<ul class="sectlevel3">
<li><a href="#_creating_a_property_group"><span>3.4.1.</span><span> Creating a property group</span></a></li>
<li><a href="#_creating_order_properties_2"><span>3.4.2.</span><span> Creating order properties</span></a></li>
<li><a href="#_linking_an_order_property_to_an_item_2"><span>3.4.3.</span><span> Linking an order property to an item</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#cross-selling"><span>4.</span><span> Setting up cross-selling item lists</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_up_cross_selling_item_lists"><span>4.1.</span><span> Setting up cross-selling item lists</span></a></li>
<li><a href="#_displaying_cross_selling_item_lists_in_the_online_store"><span>4.2.</span><span> Displaying cross-selling item lists in the online store</span></a></li>
</ul>
</li>
<li><a href="#additional-cross-selling-lists"><span>5.</span><span> Displaying further cross-selling item lists</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_a_context_class"><span>5.1.</span><span> Creating a context class</span></a></li>
<li><a href="#_adapting_the_singleitemview_twig"><span>5.2.</span><span> Adapting the SingleItemView.twig</span></a></li>
<li><a href="#_including_additional_cross_selling_lists"><span>5.3.</span><span> Including additional cross-selling lists</span></a></li>
</ul>
</li>
<li><a href="#vat"><span>6.</span><span> Information on the German VAT reduction (01.07.2020)</span></a>
<ul class="sectlevel2">
<li><a href="#_css_adjustments"><span>6.1.</span><span> CSS adjustments</span></a></li>
<li><a href="#_adjustments_in_the_shopbuilder"><span>6.2.</span><span> Adjustments in the ShopBuilder</span></a>
<ul class="sectlevel3">
<li><a href="#_adding_code_widgets"><span>6.2.1.</span><span> Adding code widgets</span></a></li>
</ul>
</li>
<li><a href="#_adjusting_ceres_templates"><span>6.3.</span><span> Adjusting Ceres templates</span></a>
<ul class="sectlevel3">
<li><a href="#_adjusting_the_order_history"><span>6.3.1.</span><span> Adjusting the order history</span></a></li>
<li><a href="#_adjusting_the_default_header"><span>6.3.2.</span><span> Adjusting the default header</span></a></li>
<li><a href="#_adjust_customised_shopbuilder_headers"><span>6.3.3.</span><span> Adjust customised ShopBuilder headers</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Ceres</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Here, you find best practices on subjects such as <strong>Ceres</strong> and the online store.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="testing-ceres-updates">1. Testing Ceres updates for theme compatibility</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this best practice you will learn which steps are necessary in order to test newly published version upgrades of the Ceres online store template plugin without impacting the productive live operation of your online store.
 Due to implementations of new features, bugfixes and changes to the user interface, dependencies between external plugins (for instance <a href="https://marketplace.plentymarkets.com/plugins/themes" target="_blank" rel="noopener">layout themes</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>) and Ceres may lead to issues when updating to a new Ceres version.
Therefore it is advisable to create a copy of your current <strong>plugin set</strong> configuration, with which you can test the compatibility of the newly released Ceres version and external plugins.</p>
</div>
<div class="sect2">
<h3 id="_copying_a_plugin_set">1.1. Copying a plugin set</h3>
<div class="paragraph">
<p>First, you should create a new <strong>Plugin set</strong>, onto which you can transfer the current settings of your Ceres online store. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Copying a plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new set</strong>.<br>
→ The <strong>New plugin set</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the plugin set, which should ideally communicate that this is a copy of your Ceres online store.</p>
</li>
<li>
<p>Select the plugin set for which you want to copy the current configuration from the <strong>Copy plugin set</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The new plugin set will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The plugin set copy now contains the exact same settings as the one used as your Ceres online store. At this point, both the original set and its copy are identical.
It is advisable to repeat this process before any major update, so that the plugin set is up to date.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updating_ceres_for_the_copied_plugin_set">1.2. Updating Ceres for the copied plugin set</h3>
<div class="paragraph">
<p>In the next step, you need to update the copied plugin set to the current Ceres version.</p>
</div>
<div class="paragraph instruction">
<p>Updating the plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Select the newly created copy of the plugin set.<br>
→ The <strong>Plugin set details</strong> window opens.</p>
</li>
<li>
<p>In the line of the <strong>Ceres</strong> plugin, click on <strong>Update</strong> in the <strong>Action</strong> column.<br>
→ The <strong>Install plugin</strong> window opens.
→ The most current version of the plugin is preselected.</p>
</li>
<li>
<p>Click on <strong>Install</strong>.<br>
→ The plugin will open.</p>
</li>
<li>
<p>Repeat steps 3 and 4 for the plugin <strong>IO</strong>.</p>
</li>
<li>
<p>Click on <strong>Save &amp; publish plugins</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The copy of the plugin set is now at a more current stage than the plugin set of your Ceres online store.
Click on the plugin set copy in the list of plugin sets on the left side of the interface. You can access your Ceres online store in combination with the plugin set copy in preview mode via the button <strong>Plugin set preview</strong>. That way, you can assess whether the current changes to the Ceres plugin result in incompatibilities with external plugins, like a theme, that your are using.
If the external plugins are functioning correctly under the new Ceres version, you can either <a href="/en/plugins#70">activate</a> the plugin set copy for the relevant client or <strong>Update</strong> the original plugin set, as detailed above.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Some dependencies betwen external plugins and <strong>Ceres</strong>/<strong>IO</strong> may not be immediately apparent. For this reason it is advisable to not dismiss the original plugin set prematurely, so that the switch to the previous version is still possible after a number of days without adjusting the Ceres settings again. If you want to be informed about incompatabilities or other issues between external plugins and a new version of <strong>Ceres</strong>/<strong>IO</strong>, you are invited to visit the <a href="https://forum.plentymarkets.com/c/ceres-webshop" target="_blank" rel="noopener">forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="filters">2. Setting up filters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In Ceres Filters are realized by means of attributes and properties. This Best Practice describes how the filter <strong>Colour</strong> with the two values <strong>Red</strong> and <strong>Black</strong> is displayed in the category view of the online store. The corresponding filters are only available in the category view if there are items that are linked to the filter values.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first:</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the online store plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available in the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and runs on plentymarkets systems. The filters from <strong>Ceres</strong> are also displayed in individual theme plugins, as long as these themes did not overwrite them.</p>
</li>
<li>
<p>The integration into individual or altered template plugins is possible. This, however, requires individual adjustments which cannot be considered here.</p>
</li>
<li>
<p>Filters can be realized by means of <a href="/en/omni-channel/online-store/setting-up-clients/extras/faceted-search#100">facets</a> through <strong>attributes</strong> and <strong>properties</strong>. This Best Practice exemplifies the setup of filters by means of <strong>attributes</strong>. Filters based on <strong>properties</strong> have to be setup manually. Create a <strong>Property group</strong> in which you organise properties of the type <strong>None</strong>. Properties are linked to facet values.</p>
</li>
<li>
<p>For plentymarkets Zero systems, the <strong>Setup » Client » Settings » Services » Faceted search</strong> menu is only activated in the central login.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_an_attribute">2.1. Creating an attribute</h3>
<div class="paragraph">
<p>We begin with an attribute.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes</strong>.</p>
</li>
<li>
<p>Click on <strong>New attribute</strong>.</p>
</li>
<li>
<p>Enter the internal name, e.g. <strong>Colour</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The attribute is created and the tab <strong>Basic settings</strong> is displayed.</p>
</li>
<li>
<p>Click on the <strong>Name</strong> tab.</p>
</li>
<li>
<p>Enter the translations for your attribute.</p>
</li>
<li>
<p>Click on the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New value</strong>.</p>
</li>
<li>
<p>Enter the internal name, e.g. <strong>Red</strong>.</p>
</li>
<li>
<p>Repeat steps 8 and 9 for the value <strong>Black</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The attribute with the two values <strong>Red</strong> and <strong>Black</strong> is created. You can also create additional values, such as <strong>Vermilion</strong> or <strong>Burgundy</strong>, and link them to the same <strong>Red</strong> facet.</p>
</div>
</div>
<div class="sect2">
<h3 id="_linking_an_attribute_with_an_item">2.2. Linking an attribute with an item</h3>
<div class="paragraph">
<p>You can link attributes with the main variation of an item when creating the item. When creating additional variations, you can link these variations with attribute values, too. You will now create variations in the <strong>Variations</strong> tab of the item. These variations have to be active in the online store, so that the filter will be available later on.</p>
</div>
<div id="filter-varianten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-variations-en.png" alt="bp ceres filter variations en">
</div>
<div class="title">Figure 1. Linking a variation to suitable attribute values</div>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_facets">2.3. Setting up facets</h3>
<div class="paragraph">
<p>In the online store our filters are realized by means of facets. Therefore we have to create a new facet and link the attribute values and the desired client to it.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong> to create a new facet.</p>
</li>
<li>
<p>Enter a <strong>Name</strong> for the facet in the default language of your system, e.g. <strong>Colour</strong>.</p>
</li>
<li>
<p>Select the type <strong>Attribute/Property</strong>.</p>
</li>
<li>
<p>Enter the facet’s position in the online store.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_linking_attribute_values_to_facets">2.4. Linking attribute values to facets</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Click on the <strong>Name</strong> tab.</p>
</li>
<li>
<p>Enter the translation for your facet.</p>
</li>
<li>
<p>Click on the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add new value</strong>.</p>
</li>
<li>
<p>Enter the name, e.g. <strong>Red</strong>.</p>
</li>
<li>
<p>Enter the position.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The facet value is added.</p>
</li>
<li>
<p>Enter the translations for the facet value in th <strong>Name</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Link</strong> tab.</p>
</li>
<li>
<p>Open the attribute <strong>Attribute » Colour » Red</strong>.</p>
</li>
<li>
<p>Click on <strong>Link</strong>.</p>
</li>
<li>
<p>Repeat steps 6 to 13 for the value <strong>Black</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="filter-facetten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-facets-en.png" alt="bp ceres filter facets en">
</div>
<div class="title">Figure 2. Linked facet values</div>
</div>
</div>
<div class="sect2">
<h3 id="_linking_clients_to_facets">2.5. Linking clients to facets</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Select client » Services » Facet links</strong>.</p>
</li>
<li>
<p>Select the facet.</p>
</li>
<li>
<p>Click on <strong>Link facet</strong>.<br>
→ The facet is linked to the selected client.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_deploying_plugins">2.6. Deploying plugins</h3>
<div class="paragraph">
<p>Now you will deploy the plugin set in order to apply the changes. The filters will be available in the <strong>search</strong> and in the <strong>category view</strong>.</p>
</div>
<div id="filter-frontend" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-frontend-en.png" alt="bp ceres filter frontend en">
</div>
<div class="title">Figure 3. Selected filter in the category view</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="order-properties">3. Setting up order properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this Best Practice we will create a property through which you can enter a <strong>text</strong> that can be printed onto a T-shirt. The input will automatically calculate a surcharge for the product.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">The most important things first:</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the online store plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available on the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and runs on plentymarkets systems.</p>
</li>
<li>
<p>The integration into individual or modified template plugins is possible. This, however, requires individual adjustments which cannot be considered here.</p>
</li>
<li>
<p><strong><em>Note:</em></strong> At the moment only properties of the type <strong>Text</strong> are active.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_order_properties">3.1. Creating order properties</h3>
<div class="paragraph">
<p>We begin with an property.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>. This is the name of the property that is displayed in the back end.</p>
</li>
<li>
<p>Enter the <strong>Name</strong> in the <strong>Online store</strong> area. This is the name that your customers see in the item view. In this example we choose “T-shirt print”.</p>
</li>
<li>
<p>Choose <strong>Text</strong> from the <strong>Property type</strong> list.</p>
</li>
<li>
<p>Enter the <strong>Surcharge</strong> that should be added if the property is used. In this example we choose 12,00 euros for a T-shirt print.<br>
→ Check the box <strong>Display as surcharge</strong> so that the customer sees the surcharge for the property in the item view.</p>
</li>
<li>
<p>Check all the boxes in the <strong>Display</strong> area in order to keep the additional charges transparent throughout the entire order process.</p>
</li>
<li>
<p>Check the box <strong>Order property</strong> to define the property as such.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Your property interface should now look like this:</p>
</div>
<div id="bestellmerkmale-einstellungen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-shop/assets/bp-ceres-bestellmerkmale-einstellungen.png" alt="bp ceres bestellmerkmale einstellungen">
</div>
<div class="title">Figure 4. Settings for the order property</div>
</div>
</div>
<div class="sect2">
<h3 id="_linking_an_order_property_to_an_item">3.2. Linking an order property to an item</h3>
<div class="paragraph">
<p>Properties are directly linked to the item. Proceed as follows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select an item with which the property should be linked.</p>
</li>
<li>
<p>Click on the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Go to <strong>Activate further properties » Properties not assigned to a group</strong> and check the box of the created property.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property is linked to the item and is shown under <strong>Properties</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Surcharges</div>
<div class="paragraph">
<p>You can also enter a surcharge in the <strong>Properties</strong> options. If you enter a value here, it overwrites the value of the surcharge that was saved for the property.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="bestellmerkmale-artikel" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-item.png" alt="bp ceres order properties item">
</div>
<div class="title">Figure 5. Settings for the item</div>
</div>
</div>
<div class="sect2">
<h3 id="_deploying_plugins_2">3.3. Deploying plugins</h3>
<div class="paragraph">
<p>Now you will deploy the plugins in a <strong>plugin set</strong> in order to apply the changes. The order property will be available in the <strong>Item view</strong> and the <strong>Shopping cart</strong>.</p>
</div>
<div id="bestellmerkmale-artikelansicht" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-item-view.png" alt="bp ceres order properties item view">
</div>
<div class="title">Figure 6. Item view in the online store</div>
</div>
<div class="paragraph">
<p>If the customer inputs something into the text field, the text is saved and the surcharge is added to the item price.</p>
</div>
<div id="bestellmerkmale-warenkorb" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-shop/assets/bp-ceres-bestellmerkmale-warenkorb.png" alt="bp ceres bestellmerkmale warenkorb">
</div>
<div class="title">Figure 7. Item view in the shopping cart</div>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_order_properties_with_checkboxes">3.4. Setting up order properties with checkboxes</h3>
<div class="paragraph">
<p>In this Best Practice we will create an order property that is displayed with a checkbox in the single item view. If the checkbox is checked, the surcharge for the product will automatically be calculated.</p>
</div>
<div class="sect3">
<h4 id="_creating_a_property_group">3.4.1. Creating a property group</h4>
<div class="paragraph">
<p>In the first step we will create a new property group. In our example we want customers to be able to purchase complementary couch accessories through checking the checkbox.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property group</strong> tab.</p>
</li>
<li>
<p>Enter a <strong>Name (internal)</strong> for the property group to be displayed in the back end.</p>
</li>
<li>
<p>In the <strong>Language</strong> area you can enter a name and a description for the property group in various languages to be displayed in the online store.</p>
</li>
<li>
<p>Select <strong>None</strong> from the drop-down list <strong>Grouping of order properties (type: "none")</strong></p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="bestellmerkmale-merkmalgruppe" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-group.png" alt="bp ceres order properties group">
</div>
<div class="title">Figure 8. Creating a property group</div>
</div>
</div>
<div class="sect3">
<h4 id="_creating_order_properties_2">3.4.2. Creating order properties</h4>
<div class="paragraph">
<p>After we have created a property group for couch accessories, we now want to set up a new property, e.g. a couch cushion, and link it to the property group.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter a <strong>Name (internal)</strong> for the property to be displayed in the back end.</p>
</li>
<li>
<p>In the <strong>Webshop</strong> area you can enter a name and a description for the property in various languages to be displayed in the online store.</p>
</li>
<li>
<p>Select the newly created property group from the <strong>Property group</strong> drop-down list.</p>
</li>
<li>
<p>Select <strong>None</strong> from the <strong>Property type</strong> drop-down list.</p>
</li>
<li>
<p>Enter the <strong>Surcharge</strong> that should be added if the property is used. In this example we choose 15.00 euros for a couch cushion.<br>
→ Check the box <strong>Display as surcharge</strong> so that the customer sees the surcharge for the property in the item view.</p>
</li>
<li>
<p>Check the boxes in the <strong>Show</strong> area for the areas in which you want to display the property.</p>
</li>
<li>
<p>Check the <strong>Order property</strong> box.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The order property <strong>couch cushion</strong> has been successfully created.</p>
</div>
<div id="bestellmerkmale-neues-merkmal" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-new-property.png" alt="bp ceres order properties new property">
</div>
<div class="title">Figure 9. Creating order properties</div>
</div>
</div>
<div class="sect3">
<h4 id="_linking_an_order_property_to_an_item_2">3.4.3. Linking an order property to an item</h4>
<div class="paragraph">
<p>Last but not least, we ned to link the desired item with the newly created order property.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select an item with which the property should be linked.</p>
</li>
<li>
<p>Click on the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Go to <strong>Activate further properties</strong> and check the box of the newly created property group.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property will be linked with the item.</p>
</li>
</ol>
</div>
<div id="bestellmerkmal-verknuepfung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-link.png" alt="bp ceres order properties link">
</div>
<div class="title">Figure 10. Linking an order property to an item</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Displaying changes</div>
<div class="paragraph">
<p>Please note that it may take about 15 minutes until the changes are displayed in the online store. This is the interval in which the ElasticSearch index is refreshed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="cross-selling">4. Setting up cross-selling item lists</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This Best Practice guide helps you set up item lists of the type <strong>cross-selling</strong> in Ceres.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first…​</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the online store plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available in the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and runs on plentymarkets systems.</p>
</li>
<li>
<p>This guide assumes that you have already set up cross-selling relations for your items. You can learn how to configure cross-selling for your items <a href="/en/item/managing-items#950">here</a>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_setting_up_cross_selling_item_lists">4.1. Setting up cross-selling item lists</h3>
<div class="paragraph">
<p>Go to <strong>Plugins » Plugin overview » Ceres » Configuration » Item lists</strong>. In this menu you can determine which type of item list you want to use in your online store.
Select the type of cross-selling relation that your item list should display from the <strong>Cross-selling: Cross-selling relation</strong> drop-down list (see box 1 in the image).
You can choose from the options <strong>Similar</strong>, <strong>Accessory</strong>, <strong>Replacement parts</strong> and <strong>Collection</strong>. This cross-selling relation will apply to all cross-selling item lists in your online store.</p>
</div>
<div class="paragraph">
<p>In the next step you determine which item list you want to use. Edit the <strong>First item list</strong>, <strong>Second item list</strong> or <strong>Third item list</strong> and select <strong>Cross-selling</strong> from the drop-down list. In the example below, the <strong>Second item list</strong> is configured as a cross-selling list (Box 2 in the image).
Enter a German and an English name for your item list in the input fields <strong>Name of the second item list (DE)</strong> and <strong>Name of the second item list (EN)</strong>, respectively.</p>
</div>
<div class="paragraph">
<p><strong>Save</strong> the settings you have carried out.</p>
</div>
<div id="cross-selling-settings" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-cross-selling-config.png" alt="bp ceres cross selling config">
</div>
<div class="title">Figure 11. Setting up cross-selling</div>
</div>
</div>
<div class="sect2">
<h3 id="_displaying_cross_selling_item_lists_in_the_online_store">4.2. Displaying cross-selling item lists in the online store</h3>
<div class="paragraph">
<p>After you have determined which item list you want to use for your cross-selling items, you now choose where the item list is to be displayed in your online store.</p>
</div>
<div class="paragraph">
<p>Open the <strong>CMS » Container links</strong> menu.</p>
</div>
<div class="paragraph">
<p>Go to the item list that you have configured as your cross-selling item list, i.e. <strong>First item list</strong>, <strong>Second item list</strong> or <strong>Third item list</strong>.
Choose the layout container in which you want to display your cross-selling item list. In the example below, the second item list is displayed in the container of the single item view.</p>
</div>
<div id="item-list-container" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-cross-selling-container.png" alt="bp ceres cross selling container">
</div>
<div class="title">Figure 12. Choosing a container for item lists</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Displaying changes</div>
<div class="paragraph">
<p>Please note that it may take about 15 minutes until the changes are displayed in the online store. This is the interval in which the ElasticSearch index is refreshed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="additional-cross-selling-lists">5. Displaying further cross-selling item lists</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Since Ceres only displays one cross-selling item list, this Best Practice informs you about which adjustments are necessary in order to use multiple cross-selling item lists in your Ceres online store. This guide is primarily for experienced users, since the implementation of multiple cross-selling lists has to be done via a customised theme plugin.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Please note that you have to assign a position number to your theme plugin that lies between that of <strong>IO</strong> and that of <strong>Ceres</strong>. You do this in the actions column of the <strong>Plugins » Plugin overview</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_a_context_class">5.1. Creating a context class</h3>
<div class="paragraph">
<p>The implementation of cross-selling lists is done via extending the SingleItem context class. Therefore, you first need to create a PHP context class in your theme.</p>
</div>
<div class="paragraph">
<p>First, create a <strong>Contexts</strong> folder in the <strong>src</strong> folder of your theme. In the contexts folder you now create a PHP file for your own context class, e.g. MyThemeContext.php.</p>
</div>
<div class="paragraph">
<p>Now include the following code in this file. The first cross-selling item list you will create is of the accessory type.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;?php
namespace ThemeName\Contexts;

use IO\Helper\ContextInterface;
use Ceres\Contexts\SingleItemContext;

use IO\Services\ItemSearch\Services\ItemSearchService;
use IO\Services\ItemSearch\SearchPresets\CrossSellingItems;

class MyThemeContext extends SingleItemContext implements ContextInterface
{
	public $accessory;

	public function init($params)
	{
		parent::init($params);
		$options = array(
        			"itemId" =&gt; $this-&gt;item['documents'][0]['data']['item']['id'],
        			"relation" =&gt; "Accessory"      // Use the accessory list
       		);
     		$searchfactory = CrossSellingItems::getSearchFactory( $options );
     		$searchfactory-&gt;setPage(1, 4); // Limit to 4 items
      		$result = pluginApp(ItemSearchService::class)-&gt;getResult($searchfactory);
      		$this-&gt;accessory = $result['documents'];
	}
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>Save the file. Now you adapt the Provider of your theme in 2 steps. Open the file of the provider, located at <strong>/src/Providers/MythemesServiceProvider.php</strong>.</p>
</div>
<div class="paragraph">
<p>Add <code>use Theme\Contexts\MyThemeContext.php;</code> at the top of the file, so that the newly created context is read by the ServiceProvider.</p>
</div>
<div class="paragraph">
<p>Furthermore, you need to add the following code in the <strong>boot</strong> function:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">$eventDispatcher-&gt;listen('IO.ctx.item', function (TemplateContainer $templateContainer, $templateData = [])
   {
       $templateContainer-&gt;setContext( MyThemeContext::class);
       return false;
   }, 0);</code></pre>
</div>
</div>
<div class="paragraph">
<p>Save the file. This concludes the preparations for your context class.</p>
</div>
</div>
<div class="sect2">
<h3 id="_adapting_the_singleitemview_twig">5.2. Adapting the SingleItemView.twig</h3>
<div class="paragraph">
<p>In order to display the cross-selling item lists in the single item view, you now have to adjust the <strong>&lt;single-item&gt;component</strong> in your theme. In the file structure of the unaltered Ceres template, the file is located at <strong>/resources/views/item/SingleItemView.twig</strong>; this has to be overwritten by your theme, so that the changes you make are not lost whenever you update IO or Ceres.</p>
</div>
<div class="paragraph">
<p>Add the following code before the closing <strong>&lt;/single-item&gt;</strong> tag in the component:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div slot="CrossSellingAccessory"&gt;
	{{ component("Ceres::Containers.Components.ContainerItemList") }}
	&#123;&#37; if accessory|length &gt; 0 &#37;&#125;
        		&lt;div class="crossSelling"&gt;
        			&lt;span class="h3"&gt;Das passt dazu:&lt;/span&gt;
        			&lt;container-item-list :items="{{ accessory| json_encode }}"&gt;&lt;/container-item-list&gt;
      		&lt;/div&gt;
	&#123;&#37; endif &#37;&#125;
   &lt;/div&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Change the heading, if necessary. After you have defined the slot for the cross-selling list, you can incorporate it via <code>&lt;slot name=“CrossSellingAccessory“&gt;&lt;/slot&gt;</code> in the desired component (/resources/views/Item/Components/). The location in which you need to include the code snippet depends on where you want to display the cross-selling list in the single item view.</p>
</div>
<div class="paragraph">
<p>As soon as the plugin set has been saved and deployed again, the cross-selling item list of the type accessory should be displayed in the selected place.</p>
</div>
</div>
<div class="sect2">
<h3 id="_including_additional_cross_selling_lists">5.3. Including additional cross-selling lists</h3>
<div class="paragraph">
<p>In order to display additional cross-selling lists in Ceres, the context class you created needs to be extended.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;?php
namespace ThemeName\Contexts;

use IO\Helper\ContextInterface;
use Ceres\Contexts\SingleItemContext;

use IO\Services\ItemSearch\Services\ItemSearchService;
use IO\Services\ItemSearch\SearchPresets\CrossSellingItems;

class MyThemeContext extends SingleItemContext implements ContextInterface
{
	public $accessory;
  public $similar;

	public function init($params)
	{
		parent::init($params);
		$options = array(
        			"itemId" =&gt; $this-&gt;item['documents'][0]['data']['item']['id'],
        			"relation" =&gt; "Accessory"      // Use the list accessory
       		);
     		$searchfactory = CrossSellingItems::getSearchFactory( $options );
     		$searchfactory-&gt;setPage(1, 4); // Limit to 4 items
      		$result = pluginApp(ItemSearchService::class)-&gt;getResult($searchfactory);
      		$this-&gt;accessory = $result['documents'];

    $options = array(
              "itemId" =&gt; $this-&gt;item['documents'][0]['data']['item']['id'],
              "relation" =&gt; "Similar"      // Use the list similar
          );
        $searchfactory = CrossSellingItems::getSearchFactory( $options );
      	$searchfactory-&gt;setPage(1, 4); // Limit to 4 items
        	$result = pluginApp(ItemSearchService::class)-&gt;getResult($searchfactory);
        	$this-&gt;similar= $result['documents'];
	}
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>Here, <code>public $similar;</code> has been added below <code>public $accessory;</code>. If you want to include a cross-selling list of the type <strong>Replacement part</strong>, add <code>public $replacementPart</code> instead.</p>
</div>
<div class="paragraph">
<p>Furthermore, an additional code block has been added below <code>$this→accessory = $result[0]['documents'];</code>, in which <code>"relation" ⇒ "Accessory”</code> has been replaced by <code>"relation" ⇒ “Similar”</code>. For lists of the type <strong>Replacement part</strong>, use <code>"relation" ⇒ "ReplacementPart”</code> instead.</p>
</div>
<div class="paragraph">
<p>As described above, you now create a new slot in the <strong>&lt;single-item&gt;</strong> component and call it at the desired place in the code.</p>
</div>
<hr>
<div class="paragraph">
<p>Thanks to Jens Volke for contributing this HowTo. Read the original post in our <a href="https://forum.plentymarkets.com/t/howto-weitere-cross-selling-listen-anzeigen-aehnliche-artikel-zubehoer-ersatzteil/495795" target="_blank" rel="noopener">forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="vat">6. Information on the German VAT reduction (01.07.2020)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>On 01 July 2020, the German legal value added tax rate is lowered. This can lead to problematic cases for orders that have been placed prior to 01 July (i.e. for which the former rate is displayed in the online store) but which are shipped after 01 July (and which are therefore subject to the reduced rate). In order to remedy these problem cases, we advise you to remove any exlicit references to the applicable VAT rate from the online store and to also remove any references to net prices (for B2C sales) or gross prices (for B2B sales) displayed in the online store, since these allow for the calculation of the applied rates.<br></p>
</div>
<div class="paragraph">
<p>You can find further information on the legal circumstances <a href="https://legal.trustedshops.com/blog/2020/06/12/mehrwertsteuersenkung-ab-1.-juli-darauf-muessen-sie-unbedingt-achten?uuid=311ded301b1da873edd8ab27a986bdb5&amp;utm_source=email&amp;utm_medium=newsletter&amp;utm_campaign=country_de&amp;utm_content=26-2020" target="_blank" rel="noopener">in the German blog of Trusted Shops</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.<br></p>
</div>
<div class="paragraph">
<p>If you are currently using your own theme for the online store, it is possible that you need to adjust additional sections in the online store, wherever you display prices or VAT rates. Unfortunately, we are not able to cover these individual cases in this Best Practice.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>You should make the changes detailed below in a copy of your active plugin set. You can then activate the adjusted plugin set copy prior to the date the new rates apply. After you have processed all orders that have been placed prior to 01 July and have been shipped after 01 July, you can switch back to your former plugin set, so that the corresponding prices and VAT rates are once more displayed in the online store. You can find further information on working with plugin sets <a href="/en/plugins/installing-added-plugins">on this page</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_css_adjustments">6.1. CSS adjustments</h3>
<div class="paragraph">
<p>In order to remove all referenes to net prices from your online store, you need to modify the CSS. The easiest way to do this is to use the <a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/cfourcustomcssjs_5143">plugin Custom CSS/JS in the Frontend</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="paragraph">
<p>Add this plugin to your plentymarkets system <a href="/en/plugins/adding-plugins-system">as described on this page</a>. Afterwards, you need to <a href="/en/plugins/installing-added-plugins">install the plugin</a>.<br></p>
</div>
<div class="paragraph">
<p>After you’ve installed the plugin, open the plugin settings via the action <strong>Settings</strong> in the line of the Custom CSS plugin. In the tab <strong>Stylesheets</strong>, you will find an input field labeled <strong>CSS</strong>, in which you enter the following code snippet:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.cmp-totals dl dt:not(.font-weight-bold),
.cmp-totals dl dd:not(.font-weight-bold),
.cmp-totals .vatTotals,
.cmp-totals hr {
    display: none;
}

.cmp-totals dl {
    margin-bottom: 0;
}

.cmp-totals .vat-change,
.cmp-totals .totalSum hr {
    display: block !important;
}

.cmp-totals .rebate-hint {
    display: inline-block !important;
}</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Save</strong> your changes. <strong>Activate</strong> the plugin in your plugin set.</p>
</div>
<div class="paragraph">
<p>After saving and publishing your plugin set, net prices will no longer be displayed in your online store.</p>
</div>
</div>
<div class="sect2">
<h3 id="_adjustments_in_the_shopbuilder">6.2. Adjustments in the ShopBuilder</h3>
<div class="paragraph">
<p>You need to make changes to 2 pages in the ShopBuilder: the basket and the checkout. You have to add a code widget to both of these pages.</p>
</div>
<div class="sect3">
<h4 id="_adding_code_widgets">6.2.1. Adding code widgets</h4>
<div class="paragraph">
<p>In order to remain legally watertight in the transition period, you need to display a message that informs the customer that all prices are to be understood as including the legal VAT (for B2C business) or as excluding legal VAT (for B2B business). In order to display the information in other languages you might have enabled for your online store, you can use two entries from the multilingualism menu. Here, we will use the entry <strong>Ceres::Template.itemInclVAT</strong> for B2C customers and <strong>Ceres::Template.itemExclVAT</strong> for B2B customers. That way, B2C customers will see gross prices with the notification that they are to be understood as including VAT; B2B customers will see net prices with the notification that they are to be understood as excluding VAT. Storing a simple message like "incl. legal VAT" and "excl. legal VAT" suffices; you can customise the texts any way you want.</p>
</div>
<div class="olist instruction">
<ol class="instruction">
<li>
<p>Open the menu <strong>CMS » Multilingualism</strong>.</p>
</li>
<li>
<p>Expand the <strong>Item</strong> section.</p>
</li>
<li>
<p>Check whether the text in the entries <strong>itemInclVAT</strong> and <strong>itemExclVAT</strong> is what you want to display in the store. Adjust them, if necessary.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) your plugin set in the <strong>Plugins » Plugin set overview</strong> menu.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Open the ShopBuilder in the <strong>CMS » ShopBuiler</strong> menu. You will now have to add a code widget in your contents for the basket and the checkout. Place it below the sums widget. Enter the following code in both of code widgets:<br></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; !$store.state.basket.showNetPrices"&gt;{{ trans("Ceres::Template.itemInclVAT") }}&lt;/div&gt;
&lt;div class="vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; $store.state.basket.showNetPrices"&gt;{{ trans("Ceres::Template.itemExclVAT") }}&lt;/div&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the changes of your ShopBuilder content.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_adjusting_ceres_templates">6.3. Adjusting Ceres templates</h3>
<div class="paragraph">
<p>There are 2 places in the online store that do not display the VAT information and that cannot be customised with the ShopBuilder: the order history in the My Account area and the basket preview. You can adjust three relatively small sections in the Ceres code to output the information in these areas as well. The adjustments to the code also use the same text from the multilingual entry that you used in the code widgets in the previous step.<br></p>
</div>
<div class="paragraph">
<p>The 3 adjustments are detailed below. Additionally, we opened a pull rewuest on GitHub, in which you can see the changes to the code. You can find the pull request <a href="https://github.com/plentymarkets/plugin-ceres/compare/fix%2Fvat_changes?diff=unified&amp;expand=1">here</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Scroll down to find the changes to the files.<br></p>
</div>
<div class="sect3">
<h4 id="_adjusting_the_order_history">6.3.1. Adjusting the order history</h4>
<div class="paragraph">
<p>In order to display the VAT information in the order history of the My Account area, you need to add a code snippet in a template file. Follow the steps below:</p>
</div>
<div class="olist instruction">
<ol class="instruction">
<li>
<p>Open the <strong>Plugins » Plugin set overview</strong> menu.</p>
</li>
<li>
<p>In the line of your plugin set copy, click on the action <strong>Edit plugin set</strong>.<br>
→ The plugin set is opened.</p>
</li>
<li>
<p>In the line of the <strong>Ceres</strong> plugin, click on the action <strong>Settings</strong>.<br>
→ The Ceres settings are opened.</p>
</li>
<li>
<p>Click on the tab <strong>Files</strong> in the navigation tree on the left.<br>
→ The file structure of the plugin is opened.</p>
</li>
<li>
<p>Click on the folder <strong>resources</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>views</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>Checkout</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>Macros</strong>.</p>
</li>
<li>
<p>Click on the file <strong>OrderTotals.twig</strong>.<br>
→ The file is opened in the editor.</p>
</li>
<li>
<p>After the <code>&#123;&#37; endif &#37;&#125;</code> element in line 186, add the code below in a new line.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) your changes.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;dt class="w-100 vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; !$store.state.basket.showNetPrices"&gt;{{ trans("Ceres::Template.itemInclVAT") }}&lt;/dt&gt;
&lt;dt class="w-100 vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; $store.state.basket.showNetPrices"&gt;{{ trans("Ceres::Template.itemExclVAT") }}&lt;/dt&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Through these changes, the text you stored in the multilingualism entries <strong>itemInclVAT</strong> and <strong>itemExclVAT</strong> are also displayed in the order history.</p>
</div>
</div>
<div class="sect3">
<h4 id="_adjusting_the_default_header">6.3.2. Adjusting the default header</h4>
<div class="paragraph">
<p>For ShopBuilder contents for which you haven’t created your own header, you need to make changes to the default header so that the VAT information is also output in the basket preview. Follow the steps below:</p>
</div>
<div class="olist instruction">
<ol class="instruction">
<li>
<p>Open the <strong>Plugins » Plugin set overview</strong> menu.</p>
</li>
<li>
<p>In the line of your plugin set copy, click on the action <strong>Edit plugin set</strong>.<br>
→ The plugin set is opened.</p>
</li>
<li>
<p>In the line of the <strong>Ceres</strong> plugin, click on the action <strong>Settings</strong>.<br>
→ The Ceres settings are opened.</p>
</li>
<li>
<p>Click on the tab <strong>Files</strong> in the navigation tree on the left.<br>
→ The file structure of the plugin is opened.</p>
</li>
<li>
<p>Click on the folder <strong>resources</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>views</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>PageDesign</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>Partials</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>Header</strong>.</p>
</li>
<li>
<p>Click on the file <strong>DefaultHeader.twig</strong>.<br>
→ The file is opened in the editor.</p>
</li>
<li>
<p>After line 118, add the code below in a new line.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) your changes.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; !$store.state.basket.showNetPrices"&gt;{{ trans("Ceres::Template.itemInclVAT") }}&lt;/div&gt;
&lt;div class="vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; $store.state.basket.showNetPrices"&gt;{{ trans("Ceres::Template.itemExclVAT") }}&lt;/div&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Through these changes, the text you stored in the multilingualism entries <strong>itemInclVAT</strong> and <strong>itemExclVAT</strong> are also displayed in the basket preview of the default header.</p>
</div>
</div>
<div class="sect3">
<h4 id="_adjust_customised_shopbuilder_headers">6.3.3. Adjust customised ShopBuilder headers</h4>
<div class="paragraph">
<p>For ShopBuilder contents for which you have created your own header, you need to make changes to the top bar widget so that the VAT information is also output in the basket preview. Follow the steps below:</p>
</div>
<div class="olist instruction">
<ol class="instruction">
<li>
<p>Open the <strong>Plugins » Plugin set overview</strong> menu.</p>
</li>
<li>
<p>In the line of your plugin set copy, click on the action <strong>Edit plugin set</strong>.<br>
→ The plugin set is opened.</p>
</li>
<li>
<p>In the line of the <strong>Ceres</strong> plugin, click on the action <strong>Settings</strong>.<br>
→ The Ceres settings are opened.</p>
</li>
<li>
<p>Click on the tab <strong>Files</strong> in the navigation tree on the left.<br>
→ The file structure of the plugin is opened.</p>
</li>
<li>
<p>Click on the folder <strong>resources</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>views</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>Widgets</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>Header</strong>.</p>
</li>
<li>
<p>Click on the file <strong>TopBarWidget.twig</strong>.<br>
→ The file is opened in the editor.</p>
</li>
<li>
<p>After line 210, add the code below in a new line.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) your changes.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; !$store.state.basket.showNetPrices"&gt;{{ Twig.print('trans("Ceres::Template.itemInclVAT")') }}&lt;/div&gt;
&lt;div class="vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; $store.state.basket.showNetPrices"&gt;{{ Twig.print('trans("Ceres::Template.itemExclVAT")') }}&lt;/div&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Through these changes, the text you stored in the multilingualism entries <strong>itemInclVAT</strong> and <strong>itemExclVAT</strong> are also displayed in the basket preview of the headers you created via the ShopBuilder.</p>
</div>
<div class="paragraph">
<p>As an alternative, it is also possible to deactivate the basket preview via the widget settings of the top bar widget, thereby eliminating the need for this last adjustment.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p><strong>Repairing</strong> or updating the Ceres plugin reverts the changes you made to the Ceres plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="psi" class="paragraph adoc">
<p>Unresolved directive in &lt;stdin&gt; - include::../_best-practices/omni-channel/online-store/bp-ceres-psi.adoc[leveloffset=1]</p>
</div>
</div>
</div>
</div>
</div>
</main>