<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#testing-ceres-updates"><span>1.</span><span> Testing Ceres updates for theme compatibility</span></a>
<ul class="sectlevel2">
<li><a href="#_copying_a_plugin_set"><span>1.1.</span><span> Copying a plugin set</span></a></li>
<li><a href="#_updating_ceres_for_the_copied_plugin_set"><span>1.2.</span><span> Updating Ceres for the copied plugin set</span></a></li>
</ul>
</li>
<li><a href="#filters"><span>2.</span><span> Setting up filters</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_an_attribute"><span>2.1.</span><span> Creating an attribute</span></a></li>
<li><a href="#_linking_an_attribute_with_an_item"><span>2.2.</span><span> Linking an attribute with an item</span></a></li>
<li><a href="#_setting_up_facets"><span>2.3.</span><span> Setting up facets</span></a></li>
<li><a href="#_linking_attribute_values_to_facets"><span>2.4.</span><span> Linking attribute values to facets</span></a></li>
<li><a href="#_linking_clients_to_facets"><span>2.5.</span><span> Linking clients to facets</span></a></li>
<li><a href="#_deploying_plugins"><span>2.6.</span><span> Deploying plugins</span></a></li>
</ul>
</li>
<li><a href="#order-properties"><span>3.</span><span> Setting up order characteristics</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_order_characteristics"><span>3.1.</span><span> Creating order characteristics</span></a></li>
<li><a href="#_linking_an_order_property_to_an_item"><span>3.2.</span><span> Linking an order property to an item</span></a></li>
<li><a href="#_deploying_plugins_2"><span>3.3.</span><span> Deploying plugins</span></a></li>
<li><a href="#_setting_up_order_characteristics_with_checkboxes"><span>3.4.</span><span> Setting up order characteristics with checkboxes</span></a>
<ul class="sectlevel3">
<li><a href="#_creating_a_property_group"><span>3.4.1.</span><span> Creating a property group</span></a></li>
<li><a href="#_creating_order_characteristics_2"><span>3.4.2.</span><span> Creating order characteristics</span></a></li>
<li><a href="#_linking_an_order_property_to_an_item_2"><span>3.4.3.</span><span> Linking an order property to an item</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#cross-selling"><span>4.</span><span> Setting up cross-selling item lists</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_up_cross_selling_item_lists"><span>4.1.</span><span> Setting up cross-selling item lists</span></a></li>
<li><a href="#_displaying_cross_selling_item_lists_in_the_plentyshop"><span>4.2.</span><span> Displaying cross-selling item lists in the plentyShop</span></a></li>
</ul>
</li>
<li><a href="#vat"><span>5.</span><span> Information on the German VAT reduction (01.07.2020)</span></a>
<ul class="sectlevel2">
<li><a href="#_css_adjustments"><span>5.1.</span><span> CSS adjustments</span></a></li>
<li><a href="#_adjustments_in_the_shopbuilder"><span>5.2.</span><span> Adjustments in the ShopBuilder</span></a>
<ul class="sectlevel3">
<li><a href="#_adding_code_widgets"><span>5.2.1.</span><span> Adding code widgets</span></a></li>
</ul>
</li>
<li><a href="#_adjusting_ceres_templates"><span>5.3.</span><span> Adjusting Ceres templates</span></a>
<ul class="sectlevel3">
<li><a href="#_adjusting_the_order_history"><span>5.3.1.</span><span> Adjusting the order history</span></a></li>
<li><a href="#_adjusting_the_default_header"><span>5.3.2.</span><span> Adjusting the default header</span></a></li>
<li><a href="#_adjust_customised_shopbuilder_headers"><span>5.3.3.</span><span> Adjust customised ShopBuilder headers</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#psi"><span>6.</span><span> Improving your Google Page Speed Insights rating</span></a>
<ul class="sectlevel2">
<li><a href="#_activating_the_live_mode_in_the_ceres_plugin"><span>6.1.</span><span> Activating the Live Mode in the Ceres plugin</span></a></li>
<li><a href="#_activating_vue_server_side_rendering"><span>6.2.</span><span> Activating Vue Server-Side Rendering</span></a></li>
<li><a href="#_optimising_image_widgets"><span>6.3.</span><span> Optimising image widgets</span></a>
<ul class="sectlevel3">
<li><a href="#_preloading_images_in_the_visible_area"><span>6.3.1.</span><span> Preloading images in the visible area</span></a></li>
<li><a href="#_activating_lazy_loading_for_images_that_are_not_initially_visible"><span>6.3.2.</span><span> Activating lazy loading for images that are not initially visible</span></a></li>
<li><a href="#_using_modern_image_formats"><span>6.3.3.</span><span> Using modern image formats</span></a></li>
<li><a href="#_identifying_the_largest_contenful_paint_lcp"><span>6.3.4.</span><span> Identifying the Largest Contenful Paint (LCP)</span></a></li>
</ul>
</li>
<li><a href="#_reducting_the_number_of_widgets"><span>6.4.</span><span> Reducting the number of widgets</span></a></li>
<li><a href="#_activating_the_shopbooster"><span>6.5.</span><span> Activating the ShopBooster</span></a></li>
<li><a href="#_avoid_invisible_text_caused_by_custom_fonts"><span>6.6.</span><span> Avoid invisible text caused by custom fonts</span></a></li>
<li><a href="#_avoiding_javascript_in_code_widgets"><span>6.7.</span><span> Avoiding Javascript in code widgets</span></a></li>
<li><a href="#_linking_payment_plugins_to_the_right_containers"><span>6.8.</span><span> Linking payment plugins to the right containers</span></a></li>
</ul>
</li>
<li><a href="#search"><span>7.</span><span> Adjusting the online shop search</span></a>
<ul class="sectlevel2">
<li><a href="#_sorting_search_results_by_relevance"><span>7.1.</span><span> Sorting search results by relevance</span></a></li>
<li><a href="#_sorting_search_results_by_recommended"><span>7.2.</span><span> Sorting search results by recommended</span></a></li>
<li><a href="#_and_search"><span>7.3.</span><span> AND search</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Ceres</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Here, you find best practices on subjects such as <strong>Ceres</strong> and the online store.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="testing-ceres-updates">1. Testing Ceres updates for theme compatibility</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this best practice you will learn which steps are necessary in order to test newly published version upgrades of the Ceres template plugin without impacting the productive live operation of your plentyShop.
 Due to implementations of new features, bugfixes and changes to the user interface, dependencies between external plugins (for instance <a href="https://marketplace.plentymarkets.com/plugins/themes" target="_blank" rel="noopener">layout themes</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>) and Ceres may lead to issues when updating to a new Ceres version.
Therefore it is advisable to create a copy of your current <strong>plugin set</strong> configuration, with which you can test the compatibility of the newly released Ceres version and external plugins.</p>
</div>
<div class="sect2">
<h3 id="_copying_a_plugin_set">1.1. Copying a plugin set</h3>
<div class="paragraph">
<p>First, you should create a new <strong>Plugin set</strong>, onto which you can transfer the current settings of your Ceres shop. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Copying a plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new set</strong>.<br>
→ The <strong>New plugin set</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the plugin set, which should ideally communicate that this is a copy of your Ceres shop.</p>
</li>
<li>
<p>Select the plugin set for which you want to copy the current configuration from the <strong>Copy plugin set</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The new plugin set will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The plugin set copy now contains the exact same settings as the one used as your Ceres shop. At this point, both the original set and its copy are identical.
It is advisable to repeat this process before any major update, so that the plugin set is up to date.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updating_ceres_for_the_copied_plugin_set">1.2. Updating Ceres for the copied plugin set</h3>
<div class="paragraph">
<p>In the next step, you need to update the copied plugin set to the current Ceres version.</p>
</div>
<div class="paragraph instruction">
<p>Updating the plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Select the newly created copy of the plugin set.<br>
→ The <strong>Plugin set details</strong> window opens.</p>
</li>
<li>
<p>In the line of the <strong>Ceres</strong> plugin, click on <strong>Update</strong> in the <strong>Action</strong> column.<br>
→ The <strong>Install plugin</strong> window opens.
→ The most current version of the plugin is preselected.</p>
</li>
<li>
<p>Click on <strong>Install</strong>.<br>
→ The plugin will open.</p>
</li>
<li>
<p>Repeat steps 3 and 4 for the plugin <strong>IO</strong>.</p>
</li>
<li>
<p>Click on <strong>Save &amp; publish plugins</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The copy of the plugin set is now at a more current stage than the plugin set of your Ceres shop.
Click on the plugin set copy in the list of plugin sets on the left side of the interface. You can access your Ceres plentyShop in combination with the plugin set copy in preview mode via the button <strong>Plugin set preview</strong>. That way, you can assess whether the current changes to the Ceres plugin result in incompatibilities with external plugins, like a theme, that your are using.
If the external plugins are functioning correctly under the new Ceres version, you can either <a href="/en/plugins#70">activate</a> the plugin set copy for the relevant client or <strong>Update</strong> the original plugin set, as detailed above.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Some dependencies betwen external plugins and <strong>Ceres</strong>/<strong>IO</strong> may not be immediately apparent. For this reason it is advisable to not dismiss the original plugin set prematurely, so that the switch to the previous version is still possible after a number of days without adjusting the Ceres settings again. If you want to be informed about incompatabilities or other issues between external plugins and a new version of <strong>Ceres</strong>/<strong>IO</strong>, you are invited to visit the <a href="https://forum.plentymarkets.com/c/ceres-webshop" target="_blank" rel="noopener">forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="filters">2. Setting up filters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In Ceres Filters are realized by means of attributes and properties. This Best Practice describes how the filter <strong>Colour</strong> with the two values <strong>Red</strong> and <strong>Black</strong> is displayed in the category view of plentyShop. The corresponding filters are only available in the category view if there are items that are linked to the filter values.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first:</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the plentyShop plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available in the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and runs on plentymarkets systems. The filters from <strong>Ceres</strong> are also displayed in individual theme plugins, as long as these themes did not overwrite them.</p>
</li>
<li>
<p>The integration into individual or altered template plugins is possible. This, however, requires individual adjustments which cannot be considered here.</p>
</li>
<li>
<p>Filters can be realized by means of <a href="/en/omni-channel/online-store/setting-up-clients/extras/faceted-search#100">facets</a> through <strong>attributes</strong> and <strong>properties</strong>. This Best Practice exemplifies the setup of filters by means of <strong>attributes</strong>. Filters based on <strong>properties</strong> have to be setup manually. Create a <strong>Property group</strong> in which you organise properties of the type <strong>None</strong>. Properties are linked to facet values.</p>
</li>
<li>
<p>For plentymarkets Zero systems, the <strong>Setup » Client » Settings » Services » Faceted search</strong> menu is only activated in the central login.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_an_attribute">2.1. Creating an attribute</h3>
<div class="paragraph">
<p>We begin with an attribute.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes</strong>.</p>
</li>
<li>
<p>Click on <strong>New attribute</strong>.</p>
</li>
<li>
<p>Enter the internal name, e.g. <strong>Colour</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The attribute is created and the tab <strong>Basic settings</strong> is displayed.</p>
</li>
<li>
<p>Click on the <strong>Name</strong> tab.</p>
</li>
<li>
<p>Enter the translations for your attribute.</p>
</li>
<li>
<p>Click on the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New value</strong>.</p>
</li>
<li>
<p>Enter the internal name, e.g. <strong>Red</strong>.</p>
</li>
<li>
<p>Repeat steps 8 and 9 for the value <strong>Black</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The attribute with the two values <strong>Red</strong> and <strong>Black</strong> is created. You can also create additional values, such as <strong>Vermilion</strong> or <strong>Burgundy</strong>, and link them to the same <strong>Red</strong> facet.</p>
</div>
</div>
<div class="sect2">
<h3 id="_linking_an_attribute_with_an_item">2.2. Linking an attribute with an item</h3>
<div class="paragraph">
<p>You can link attributes with the main variation of an item when creating the item. When creating additional variations, you can link these variations with attribute values, too. You will now create variations in the <strong>Variations</strong> tab of the item. These variations have to be active in plentyShop, so that the filter will be available later on.</p>
</div>
<div id="filter-varianten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-variations-en.png" alt="bp ceres filter variations en">
</div>
<div class="title">Figure 1. Linking a variation to suitable attribute values</div>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_facets">2.3. Setting up facets</h3>
<div class="paragraph">
<p>In plentyShop, our filters are realized by means of facets. Therefore we have to create a new facet and link the attribute values and the desired client to it.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong> to create a new facet.</p>
</li>
<li>
<p>Enter a <strong>Name</strong> for the facet in the default language of your system, e.g. <strong>Colour</strong>.</p>
</li>
<li>
<p>Select the type <strong>Attribute/Property</strong>.</p>
</li>
<li>
<p>Enter the facet’s position in plentyShop.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_linking_attribute_values_to_facets">2.4. Linking attribute values to facets</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Click on the <strong>Name</strong> tab.</p>
</li>
<li>
<p>Enter the translation for your facet.</p>
</li>
<li>
<p>Click on the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add new value</strong>.</p>
</li>
<li>
<p>Enter the name, e.g. <strong>Red</strong>.</p>
</li>
<li>
<p>Enter the position.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The facet value is added.</p>
</li>
<li>
<p>Enter the translations for the facet value in th <strong>Name</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Link</strong> tab.</p>
</li>
<li>
<p>Open the attribute <strong>Attribute » Colour » Red</strong>.</p>
</li>
<li>
<p>Click on <strong>Link</strong>.</p>
</li>
<li>
<p>Repeat steps 6 to 13 for the value <strong>Black</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="filter-facetten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-facets-en.png" alt="bp ceres filter facets en">
</div>
<div class="title">Figure 2. Linked facet values</div>
</div>
</div>
<div class="sect2">
<h3 id="_linking_clients_to_facets">2.5. Linking clients to facets</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Select client » Services » Facet links</strong>.</p>
</li>
<li>
<p>Select the facet.</p>
</li>
<li>
<p>Click on <strong>Link facet</strong>.<br>
→ The facet is linked to the selected client.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_deploying_plugins">2.6. Deploying plugins</h3>
<div class="paragraph">
<p>Now you will deploy the plugin set in order to apply the changes. The filters will be available in the <strong>search</strong> and in the <strong>category view</strong>.</p>
</div>
<div id="filter-frontend" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-frontend-en.png" alt="bp ceres filter frontend en">
</div>
<div class="title">Figure 3. Selected filter in the category view</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="order-properties">3. Setting up order characteristics</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this Best Practice we will create a property through which you can enter a <strong>text</strong> that can be printed onto a T-shirt. The input will automatically calculate a surcharge for the product.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">The most important things first:</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the plentyShop plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available on the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and runs on plentymarkets systems.</p>
</li>
<li>
<p>The integration into individual or modified template plugins is possible. This, however, requires individual adjustments which cannot be considered here.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_order_characteristics">3.1. Creating order characteristics</h3>
<div class="paragraph">
<p>We begin with an property.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>. This is the name of the property that is displayed in the back end.</p>
</li>
<li>
<p>Enter the <strong>Name</strong> in the <strong>Online store</strong> area. This is the name that your customers see in the item view. In this example we choose “T-shirt print”.</p>
</li>
<li>
<p>Choose <strong>Text</strong> from the <strong>Property type</strong> list.</p>
</li>
<li>
<p>Enter the <strong>Surcharge</strong> that should be added if the property is used. In this example we choose 12,00 euros for a T-shirt print.<br>
→ Check the box <strong>Display as surcharge</strong> so that the customer sees the surcharge for the property in the item view.</p>
</li>
<li>
<p>Check all the boxes in the <strong>Display</strong> area in order to keep the additional charges transparent throughout the entire order process.</p>
</li>
<li>
<p>Check the box <strong>Order property</strong> to define the property as such.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Your property interface should now look like this:</p>
</div>
<div id="bestellmerkmale-einstellungen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-shop/assets/bp-ceres-bestellmerkmale-einstellungen.png" alt="bp ceres bestellmerkmale einstellungen">
</div>
<div class="title">Figure 4. Settings for the order property</div>
</div>
</div>
<div class="sect2">
<h3 id="_linking_an_order_property_to_an_item">3.2. Linking an order property to an item</h3>
<div class="paragraph">
<p>Characteristics are directly linked to the item. Proceed as follows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select an item with which the property should be linked.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab.</p>
</li>
<li>
<p>Go to <strong>Activate further characteristics » Characteristics not assigned to a group</strong> and check the box of the created property.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property is linked to the item and is shown under <strong>Characteristics</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Surcharges</div>
<div class="paragraph">
<p>You can also enter a surcharge in the <strong>Characteristics</strong> options. If you enter a value here, it overwrites the value of the surcharge that was saved for the property.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="bestellmerkmale-artikel" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-item.png" alt="bp ceres order properties item">
</div>
<div class="title">Figure 5. Settings for the item</div>
</div>
</div>
<div class="sect2">
<h3 id="_deploying_plugins_2">3.3. Deploying plugins</h3>
<div class="paragraph">
<p>Now you will deploy the plugins in a <strong>plugin set</strong> in order to apply the changes. The order property will be available in the <strong>Item view</strong> and the <strong>Shopping cart</strong>.</p>
</div>
<div id="bestellmerkmale-artikelansicht" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-item-view.png" alt="bp ceres order properties item view">
</div>
<div class="title">Figure 6. Item view in the online store</div>
</div>
<div class="paragraph">
<p>If the customer inputs something into the text field, the text is saved and the surcharge is added to the item price.</p>
</div>
<div id="bestellmerkmale-warenkorb" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-shop/assets/bp-ceres-bestellmerkmale-warenkorb.png" alt="bp ceres bestellmerkmale warenkorb">
</div>
<div class="title">Figure 7. Item view in the shopping cart</div>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_order_characteristics_with_checkboxes">3.4. Setting up order characteristics with checkboxes</h3>
<div class="paragraph">
<p>In this Best Practice we will create an order property that is displayed with a checkbox in the single item view. If the checkbox is checked, the surcharge for the product will automatically be calculated.</p>
</div>
<div class="sect3">
<h4 id="_creating_a_property_group">3.4.1. Creating a property group</h4>
<div class="paragraph">
<p>In the first step we will create a new property group. In our example we want customers to be able to purchase complementary couch accessories through checking the checkbox.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property group</strong> tab.</p>
</li>
<li>
<p>Enter a <strong>Name (internal)</strong> for the property group to be displayed in the back end.</p>
</li>
<li>
<p>In the <strong>Language</strong> area you can enter a name and a description for the property group in various languages to be displayed in plentyShop.</p>
</li>
<li>
<p>Select <strong>None</strong> from the drop-down list <strong>Grouping of order characteristics (type: "none")</strong></p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="bestellmerkmale-merkmalgruppe" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-group.png" alt="bp ceres order properties group">
</div>
<div class="title">Figure 8. Creating a property group</div>
</div>
</div>
<div class="sect3">
<h4 id="_creating_order_characteristics_2">3.4.2. Creating order characteristics</h4>
<div class="paragraph">
<p>After we have created a property group for couch accessories, we now want to set up a new property, e.g. a couch cushion, and link it to the property group.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter a <strong>Name (internal)</strong> for the property to be displayed in the back end.</p>
</li>
<li>
<p>In the <strong>Webshop</strong> area you can enter a name and a description for the property in various languages to be displayed in plentyShop.</p>
</li>
<li>
<p>Select the newly created property group from the <strong>Property group</strong> drop-down list.</p>
</li>
<li>
<p>Select <strong>None</strong> from the <strong>Property type</strong> drop-down list.</p>
</li>
<li>
<p>Enter the <strong>Surcharge</strong> that should be added if the property is used. In this example we choose 15.00 euros for a couch cushion.<br>
→ Check the box <strong>Display as surcharge</strong> so that the customer sees the surcharge for the property in the item view.</p>
</li>
<li>
<p>Check the boxes in the <strong>Show</strong> area for the areas in which you want to display the property.</p>
</li>
<li>
<p>Check the <strong>Order property</strong> box.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The order property <strong>couch cushion</strong> has been successfully created.</p>
</div>
<div id="bestellmerkmale-neues-merkmal" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-new-property.png" alt="bp ceres order properties new property">
</div>
<div class="title">Figure 9. Creating order characteristics</div>
</div>
</div>
<div class="sect3">
<h4 id="_linking_an_order_property_to_an_item_2">3.4.3. Linking an order property to an item</h4>
<div class="paragraph">
<p>Last but not least, we ned to link the desired item with the newly created order property.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select an item with which the property should be linked.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab.</p>
</li>
<li>
<p>Go to <strong>Activate further characteristics</strong> and check the box of the newly created property group.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property will be linked with the item.</p>
</li>
</ol>
</div>
<div id="bestellmerkmal-verknuepfung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-link.png" alt="bp ceres order properties link">
</div>
<div class="title">Figure 10. Linking an order property to an item</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Displaying changes</div>
<div class="paragraph">
<p>Please note that it may take about 15 minutes until the changes are displayed in plentyShop. This is the interval in which the ElasticSearch index is refreshed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="cross-selling">4. Setting up cross-selling item lists</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This Best Practice guide helps you set up item lists of the type <strong>cross-selling</strong> in Ceres. If you’re using ShopBuilder, you can use the item list widget and don’t need this Best Practice.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first…​</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the plentyShop plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available in the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and runs on plentymarkets systems.</p>
</li>
<li>
<p>This guide assumes that you have already set up cross-selling relations for your items. You can learn how to configure cross-selling for your items <a href="/en/item/managing-items#950">here</a>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_setting_up_cross_selling_item_lists">4.1. Setting up cross-selling item lists</h3>
<div class="paragraph">
<p>Go to <strong>Plugins » Plugin overview » Ceres » Configuration » Item lists</strong>. In this menu you can determine which type of item list you want to use in your plentyShop.
Select the type of cross-selling relation that your item list should display from the <strong>Cross-selling: Cross-selling relation</strong> drop-down list (see box 1 in the image).
You can choose from the options <strong>Similar</strong>, <strong>Accessory</strong>, <strong>Replacement parts</strong> and <strong>Collection</strong>. This cross-selling relation will apply to all cross-selling item lists in your plentyShop.</p>
</div>
<div class="paragraph">
<p>In the next step you determine which item list you want to use. Edit the <strong>First item list</strong>, <strong>Second item list</strong> or <strong>Third item list</strong> and select <strong>Cross-selling</strong> from the drop-down list. In the example below, the <strong>Second item list</strong> is configured as a cross-selling list (Box 2 in the image).
Enter a German and an English name for your item list in the input fields <strong>Name of the second item list (DE)</strong> and <strong>Name of the second item list (EN)</strong>, respectively.</p>
</div>
<div class="paragraph">
<p><strong>Save</strong> the settings you have carried out.</p>
</div>
<div id="cross-selling-settings" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-cross-selling-config.png" alt="bp ceres cross selling config">
</div>
<div class="title">Figure 11. Setting up cross-selling</div>
</div>
</div>
<div class="sect2">
<h3 id="_displaying_cross_selling_item_lists_in_the_plentyshop">4.2. Displaying cross-selling item lists in the plentyShop</h3>
<div class="paragraph">
<p>After you have determined which item list you want to use for your cross-selling items, you now choose where the item list is to be displayed in your plentyShop.</p>
</div>
<div class="paragraph">
<p>Open the <strong>CMS » Container links</strong> menu.</p>
</div>
<div class="paragraph">
<p>Go to the item list that you have configured as your cross-selling item list, i.e. <strong>First item list</strong>, <strong>Second item list</strong> or <strong>Third item list</strong>.
Choose the layout container in which you want to display your cross-selling item list. In the example below, the second item list is displayed in the container of the single item view.</p>
</div>
<div id="item-list-container" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-cross-selling-container.png" alt="bp ceres cross selling container">
</div>
<div class="title">Figure 12. Choosing a container for item lists</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Displaying changes</div>
<div class="paragraph">
<p>Please note that it may take about 15 minutes until the changes are displayed in plentyShop. This is the interval in which the ElasticSearch index is refreshed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="vat">5. Information on the German VAT reduction (01.07.2020)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>On 01 July 2020, the German legal value added tax rate is lowered. This can lead to problematic cases for orders that have been placed prior to 01 July (i.e. for which the former rate is displayed in plentyShop) but which are shipped after 01 July (and which are therefore subject to the reduced rate). In order to remedy these problem cases, we advise you to remove any exlicit references to the applicable VAT rate from the plentyShop and to also remove any references to net prices (for B2C sales) or gross prices (for B2B sales) displayed in plentyShop, since these allow for the calculation of the applied rates.<br></p>
</div>
<div class="paragraph">
<p>You can find further information on the legal circumstances <a href="https://legal.trustedshops.com/blog/2020/06/12/mehrwertsteuersenkung-ab-1.-juli-darauf-muessen-sie-unbedingt-achten?uuid=311ded301b1da873edd8ab27a986bdb5&amp;utm_source=email&amp;utm_medium=newsletter&amp;utm_campaign=country_de&amp;utm_content=26-2020" target="_blank" rel="noopener">in the German blog of Trusted Shops</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.<br></p>
</div>
<div class="paragraph">
<p>If you are currently using your own theme for plentyShop, it is possible that you need to adjust additional sections in the shop, wherever you display prices or VAT rates. Unfortunately, we are not able to cover these individual cases in this Best Practice.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>You should make the changes detailed below in a copy of your active plugin set. You can then activate the adjusted plugin set copy prior to the date the new rates apply. After you have processed all orders that have been placed prior to 01 July and have been shipped after 01 July, you can switch back to your former plugin set, so that the corresponding prices and VAT rates are once more displayed in plentyShop. You can find further information on working with plugin sets <a href="/en/plugins/installing-added-plugins">on this page</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_css_adjustments">5.1. CSS adjustments</h3>
<div class="paragraph">
<p>In order to remove all referenes to net prices from your plentyShop, you need to modify the CSS. The easiest way to do this is to use the <a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/cfourcustomcssjs_5143">plugin Custom CSS/JS in the Frontend</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="paragraph">
<p>Add this plugin to your plentymarkets system <a href="/en/plugins/adding-plugins-system">as described on this page</a>. Afterwards, you need to <a href="/en/plugins/installing-added-plugins">install the plugin</a>.<br></p>
</div>
<div class="paragraph">
<p>After you’ve installed the plugin, open the plugin settings via the action <strong>Settings</strong> in the line of the Custom CSS plugin. In the tab <strong>Stylesheets</strong>, you will find an input field labeled <strong>CSS</strong>, in which you enter the following code snippet:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.cmp-totals dl dt:not(.font-weight-bold),
.cmp-totals dl dd:not(.font-weight-bold),
.cmp-totals .vatTotals,
.cmp-totals hr {
    display: none;
}

.cmp-totals dl {
    margin-bottom: 0;
}

.cmp-totals .vat-change,
.cmp-totals .totalSum hr {
    display: block !important;
}

.cmp-totals .rebate-hint {
    display: inline-block !important;
}</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Save</strong> your changes. <strong>Activate</strong> the plugin in your plugin set.</p>
</div>
<div class="paragraph">
<p>After saving and publishing your plugin set, net prices will no longer be displayed in your plentyShop.</p>
</div>
</div>
<div class="sect2">
<h3 id="_adjustments_in_the_shopbuilder">5.2. Adjustments in the ShopBuilder</h3>
<div class="paragraph">
<p>You need to make changes to 2 pages in the ShopBuilder: the basket and the checkout. You have to add a code widget to both of these pages.</p>
</div>
<div class="sect3">
<h4 id="_adding_code_widgets">5.2.1. Adding code widgets</h4>
<div class="paragraph">
<p>In order to remain legally watertight in the transition period, you need to display a message that informs the customer that all prices are to be understood as including the legal VAT (for B2C business) or as excluding legal VAT (for B2B business). In order to display the information in other languages you might have enabled for your plentyShop, you can use two entries from the multilingualism menu. Here, we will use the entry <strong>Ceres::Template.itemInclVAT</strong> for B2C customers and <strong>Ceres::Template.itemExclVAT</strong> for B2B customers. That way, B2C customers will see gross prices with the notification that they are to be understood as including VAT; B2B customers will see net prices with the notification that they are to be understood as excluding VAT. Storing a simple message like "incl. legal VAT" and "excl. legal VAT" suffices; you can customise the texts any way you want.</p>
</div>
<div class="olist instruction">
<ol class="instruction">
<li>
<p>Open the menu <strong>CMS » Multilingualism</strong>.</p>
</li>
<li>
<p>Expand the <strong>Item</strong> section.</p>
</li>
<li>
<p>Check whether the text in the entries <strong>itemInclVAT</strong> and <strong>itemExclVAT</strong> is what you want to display in the store. Adjust them, if necessary.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) your plugin set in the <strong>Plugins » Plugin set overview</strong> menu.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Open the ShopBuilder in the <strong>CMS » ShopBuiler</strong> menu. You will now have to add a code widget in your contents for the basket and the checkout. Place it below the sums widget. Enter the following code in both of code widgets:<br></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; !$store.state.basket.showNetPrices"&gt;{{ trans("Ceres::Template.itemInclVAT") }}&lt;/div&gt;
&lt;div class="vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; $store.state.basket.showNetPrices"&gt;{{ trans("Ceres::Template.itemExclVAT") }}&lt;/div&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the changes of your ShopBuilder content.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_adjusting_ceres_templates">5.3. Adjusting Ceres templates</h3>
<div class="paragraph">
<p>There are 2 places in plentyShop that do not display the VAT information and that cannot be customised with the ShopBuilder: the order history in the My Account area and the basket preview. You can adjust three relatively small sections in the Ceres code to output the information in these areas as well. The adjustments to the code also use the same text from the multilingual entry that you used in the code widgets in the previous step.<br></p>
</div>
<div class="paragraph">
<p>The 3 adjustments are detailed below. Additionally, we opened a pull rewuest on GitHub, in which you can see the changes to the code. You can find the pull request <a href="https://github.com/plentymarkets/plugin-ceres/compare/fix%2Fvat_changes?diff=unified&amp;expand=1">here</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Scroll down to find the changes to the files.<br></p>
</div>
<div class="sect3">
<h4 id="_adjusting_the_order_history">5.3.1. Adjusting the order history</h4>
<div class="paragraph">
<p>In order to display the VAT information in the order history of the My Account area, you need to add a code snippet in a template file. Follow the steps below:</p>
</div>
<div class="olist instruction">
<ol class="instruction">
<li>
<p>Open the <strong>Plugins » Plugin set overview</strong> menu.</p>
</li>
<li>
<p>In the line of your plugin set copy, click on the action <strong>Edit plugin set</strong>.<br>
→ The plugin set is opened.</p>
</li>
<li>
<p>In the line of the <strong>Ceres</strong> plugin, click on the action <strong>Settings</strong>.<br>
→ The Ceres settings are opened.</p>
</li>
<li>
<p>Click on the tab <strong>Files</strong> in the navigation tree on the left.<br>
→ The file structure of the plugin is opened.</p>
</li>
<li>
<p>Click on the folder <strong>resources</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>views</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>Checkout</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>Macros</strong>.</p>
</li>
<li>
<p>Click on the file <strong>OrderTotals.twig</strong>.<br>
→ The file is opened in the editor.</p>
</li>
<li>
<p>After the <code>&#123;&#37; endif &#37;&#125;</code> element in line 186, add the code below in a new line.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) your changes.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;dt class="w-100 vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; !$store.state.basket.showNetPrices"&gt;{{ trans("Ceres::Template.itemInclVAT") }}&lt;/dt&gt;
&lt;dt class="w-100 vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; $store.state.basket.showNetPrices"&gt;{{ trans("Ceres::Template.itemExclVAT") }}&lt;/dt&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Through these changes, the text you stored in the multilingualism entries <strong>itemInclVAT</strong> and <strong>itemExclVAT</strong> are also displayed in the order history.</p>
</div>
</div>
<div class="sect3">
<h4 id="_adjusting_the_default_header">5.3.2. Adjusting the default header</h4>
<div class="paragraph">
<p>For ShopBuilder contents for which you haven’t created your own header, you need to make changes to the default header so that the VAT information is also output in the basket preview. Follow the steps below:</p>
</div>
<div class="olist instruction">
<ol class="instruction">
<li>
<p>Open the <strong>Plugins » Plugin set overview</strong> menu.</p>
</li>
<li>
<p>In the line of your plugin set copy, click on the action <strong>Edit plugin set</strong>.<br>
→ The plugin set is opened.</p>
</li>
<li>
<p>In the line of the <strong>Ceres</strong> plugin, click on the action <strong>Settings</strong>.<br>
→ The Ceres settings are opened.</p>
</li>
<li>
<p>Click on the tab <strong>Files</strong> in the navigation tree on the left.<br>
→ The file structure of the plugin is opened.</p>
</li>
<li>
<p>Click on the folder <strong>resources</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>views</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>PageDesign</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>Partials</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>Header</strong>.</p>
</li>
<li>
<p>Click on the file <strong>DefaultHeader.twig</strong>.<br>
→ The file is opened in the editor.</p>
</li>
<li>
<p>After line 118, add the code below in a new line.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) your changes.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; !$store.state.basket.showNetPrices"&gt;{{ trans("Ceres::Template.itemInclVAT") }}&lt;/div&gt;
&lt;div class="vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; $store.state.basket.showNetPrices"&gt;{{ trans("Ceres::Template.itemExclVAT") }}&lt;/div&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Through these changes, the text you stored in the multilingualism entries <strong>itemInclVAT</strong> and <strong>itemExclVAT</strong> are also displayed in the basket preview of the default header.</p>
</div>
</div>
<div class="sect3">
<h4 id="_adjust_customised_shopbuilder_headers">5.3.3. Adjust customised ShopBuilder headers</h4>
<div class="paragraph">
<p>For ShopBuilder contents for which you have created your own header, you need to make changes to the top bar widget so that the VAT information is also output in the basket preview. Follow the steps below:</p>
</div>
<div class="olist instruction">
<ol class="instruction">
<li>
<p>Open the <strong>Plugins » Plugin set overview</strong> menu.</p>
</li>
<li>
<p>In the line of your plugin set copy, click on the action <strong>Edit plugin set</strong>.<br>
→ The plugin set is opened.</p>
</li>
<li>
<p>In the line of the <strong>Ceres</strong> plugin, click on the action <strong>Settings</strong>.<br>
→ The Ceres settings are opened.</p>
</li>
<li>
<p>Click on the tab <strong>Files</strong> in the navigation tree on the left.<br>
→ The file structure of the plugin is opened.</p>
</li>
<li>
<p>Click on the folder <strong>resources</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>views</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>Widgets</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>Header</strong>.</p>
</li>
<li>
<p>Click on the file <strong>TopBarWidget.twig</strong>.<br>
→ The file is opened in the editor.</p>
</li>
<li>
<p>After line 210, add the code below in a new line.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) your changes.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; !$store.state.basket.showNetPrices"&gt;{{ Twig.print('trans("Ceres::Template.itemInclVAT")') }}&lt;/div&gt;
&lt;div class="vat-change mb-2" v-if="!$store.state.basket.data.isExportDelivery &amp;&amp; $store.state.basket.showNetPrices"&gt;{{ Twig.print('trans("Ceres::Template.itemExclVAT")') }}&lt;/div&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Through these changes, the text you stored in the multilingualism entries <strong>itemInclVAT</strong> and <strong>itemExclVAT</strong> are also displayed in the basket preview of the headers you created via the ShopBuilder.</p>
</div>
<div class="paragraph">
<p>As an alternative, it is also possible to deactivate the basket preview via the widget settings of the top bar widget, thereby eliminating the need for this last adjustment.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p><strong>Repairing</strong> or updating the Ceres plugin reverts the changes you made to the Ceres plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="psi">6. Improving your Google Page Speed Insights rating</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this Best Practice you will learn which measures you can take to improve the <a href="https://developers.google.com/speed/pagespeed/insights/?hl=de">Google Page Speed Insights</a> performance rating of your plentyShop. In a first step, you will learn which of the standard Ceres functionality you can use in order to achieve higher PSI values. At a later point, this guide will also include modifications you can implement via a theme in order to attain a higher performance rating. The measures explicated below require no background in programming whatsoever.</p>
</div>
<div class="paragraph">
<p>The following chapters detail a number of adjustments you can make to your plentyShop that you can implement without the need to code:</p>
</div>
<div class="sect2">
<h3 id="_activating_the_live_mode_in_the_ceres_plugin">6.1. Activating the Live Mode in the Ceres plugin</h3>
<div class="paragraph">
<p>The Ceres plugin offers you the possibility to choose between the <strong>Development mode</strong> and the <strong>Live mode</strong>. In the development mode, you can use debbuging options and the plugin files are neither minimised nor bundled, which can negatively impact the performance of your plentyShop. We advise you to operate your oplentyShop in live mode, in order to increase the performance. Take the following steps to activate live mode:</p>
</div>
<div class="paragraph instruction">
<p>Activate live mode:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Select your plugin set.</p>
</li>
<li>
<p>Click <strong>Edit plugin set</strong>.</p>
</li>
<li>
<p>In the row of the Ceres plugin, click <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> <strong>Settings</strong>.<br>
→ The Ceres settings are opened.</p>
</li>
<li>
<p>Click on the tab <strong>Logging and performance</strong>.</p>
</li>
<li>
<p>Select the option <strong>Live mode</strong> for the setting <strong>Performance level</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you activate the live mode, the Ceres files are bundled and minimised, resulting in a quicker loading of the pages of your plentyShop.</p>
</div>
</div>
<div class="sect2">
<h3 id="_activating_vue_server_side_rendering">6.2. Activating Vue Server-Side Rendering</h3>
<div class="paragraph">
<p>With the release of Ceres v5.0.29, we’re introducing Vue Server-Side Rendering (SSR). SSR makes it possible that many components of the online shop are already processed on the server. Therefore, the browser receives pages that have already been rendered. The browser does not need to execute the received code again. This improves the rating of mobile pages in particular.<br></p>
</div>
<div class="paragraph">
<p>We added the setting <strong>Activate Vue Server-Sider Rendering</strong> to the plentyShop assistant and the Ceres settings in the <strong>Performance</strong> settings. You should initially activate this setting in a separate plugin set and test your shop thoroughly before you activate SSR for your productive system.<br></p>
</div>
<div class="paragraph">
<p>If you want to use SSR, you should also adjust the image widgets that you use on your pages. You have two important settings for image widgets at your disposal: Peloading and lazy loading. The following chapters explain how to optimise your image widgets.</p>
</div>
</div>
<div class="sect2">
<h3 id="_optimising_image_widgets">6.3. Optimising image widgets</h3>
<div class="paragraph">
<p>Image files are one of the major culprits for low shop performance. You should, if possible, only include as many image widgets on your plentyShop pages as you need for your purposes. A lower number of image widgets per page will positively impact the performance of your plentyShop.<br></p>
</div>
<div class="sect3">
<h4 id="_preloading_images_in_the_visible_area">6.3.1. Preloading images in the visible area</h4>
<div class="paragraph">
<p>With the release of Ceres v5.0.29 we added the setting <strong>Preload image</strong> to the widgets image box, image carousel, background widget, and item image. This setting can only be used in combination with Server-Side Rendering (see above). By peloading images that are located in the initially visible viewport of your pages, you can significantly decrease the Largest Contentful Paint (LCP). The LCP is the largest rendered content element in the visible area. Usually, this is a large image.<br>
You should activate the setting <strong>Preload image</strong> for all images that are visible on the page before the user scrolls further down the page. You can learn how to identify the Largest Contentful Paint on your pages below.</p>
</div>
</div>
<div class="sect3">
<h4 id="_activating_lazy_loading_for_images_that_are_not_initially_visible">6.3.2. Activating lazy loading for images that are not initially visible</h4>
<div class="paragraph">
<p>Additionally, we recommend that you activate the option <strong>Only load visible content</strong> in the widget settings of every widget that includes images. This option, the so-called "Lazy loading", makes sure that image files which are not visible upon the initial access of the relevant page are loaded at a later time. The initial loading time of your plentyShop pages is positively impacted by activating this option.<br>
This setting is deactivated by default in the ShopBuilder presets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>If you use Server-Side Rendering (SSR), it is important that you only activate lazy loading for image widgets that are <strong>not</strong> located in the initially visible viewport.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_using_modern_image_formats">6.3.3. Using modern image formats</h4>
<div class="paragraph">
<p>Furthermore, we advise you to use modern image formats for the images you include in your plentyShop. For the widgets <strong>Background image</strong>, <strong>Image box</strong>, and <strong>Image carousel</strong>, we recommend that you use the input field <strong>Image selection</strong> to store images in the format <strong>WebP</strong>. If you store a WebP image, the additional input field <strong>Image selection for older browsers</strong> will be displayed, which serves to display fallback images in browsers, that are not yet compatible with modern image formats. If possible, we advise you to store images in JPEG format for these browsers.<br></p>
</div>
</div>
<div class="sect3">
<h4 id="_identifying_the_largest_contenful_paint_lcp">6.3.4. Identifying the Largest Contenful Paint (LCP)</h4>
<div class="paragraph">
<p>You can use <a href="https://developers.google.com/speed/pagespeed/insights/">PageSpeed Insights</a> to identify the Largest Contentful Paint of your pages.<br></p>
</div>
<div class="paragraph instruction">
<p>Identifying the LCP:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open <a href="https://developers.google.com/speed/pagespeed/insights/">PageSpeed Insights</a>.</p>
</li>
<li>
<p>Enter the URL of the page for which you want to identify the LCP.</p>
</li>
<li>
<p>Click on <strong>Analyze</strong>.
→ The page analysis is started.</p>
</li>
<li>
<p>After the analysis has been concluded, scroll down to the <strong>Diagnostics</strong> area.</p>
</li>
<li>
<p>Click on <strong>Largest Contentful Paint element</strong>, to expand the section.</p>
</li>
<li>
<p>The content element displayed there is the LCP of this page.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After you have identified the page’s LCP, you can now check if you:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>activated the setting <strong>Preloaded image</strong> in combination with SSR</p>
</li>
<li>
<p>stored the image in WebP image format</p>
</li>
<li>
<p>can decrease the image’s file size</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>These three measures can help you significantly in reducing the page’s Largest Contentful Paint.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_reducting_the_number_of_widgets">6.4. Reducting the number of widgets</h3>
<div class="paragraph">
<p>The number of widgets you include on each page is prone to negatively affecting the performance of your plentyShop. The larger the number of widgets per page, the slower the loading times. This is particularly applicable to image widgets and to widgets that necessitate a large quantity of item data. Each additional widget impacts the time to first full interactivity of the page.<br>
We therefore recommend you use only as many widgets per page as is necessary for your purposes. On category pages, in particular, it is advisable to reduce the numver of displayed items, since category pages need to load large quantities of data and complex Javascript.</p>
</div>
</div>
<div class="sect2">
<h3 id="_activating_the_shopbooster">6.5. Activating the ShopBooster</h3>
<div class="paragraph">
<p>The Time to first Byte (TTFB) is also part of the parameters evaluated by PSI, albeit to a small degree. In order to improve your TTFB values, you can activate the additional ShopBooster module for a fee. By activating the ShopBooster, page contents of your plentyShop are written into the cache, so that a second access to the page will benefit from greatly improved TTFB times.<br></p>
</div>
<div class="paragraph">
<p>The use of ShopBooster is particularly fruitful in combination with Server-Side Rendering (SSR), since using SSR can slightly increase the TTFB of your shop.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Additional costs</div>
<div class="paragraph">
<p>The activation of the ShopBooster comes at a fee. For each client, the additional costs amount to 0,004 € per 100 page accesses or page changes. A page access is the process in which one visitor or a webcrawler accesses a URL of your plentyShop. A page chance is triggered by one of the following processes:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Updating category or item data</p>
</li>
<li>
<p>Updating ShopBuilder pages</p>
</li>
<li>
<p>Deploying plugins</p>
</li>
<li>
<p>Saving the Ceres settings</p>
</li>
<li>
<p>Invalidating the cache by deactivating the ShopBooster</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The additional costs of the ShopBooster amount to a maximum of 100€  per month per client.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating the ShopBooster:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Setup » Client » Select client » Webshop » ShopBooster</strong>.</p>
</li>
<li>
<p>Click <strong>Activate ShopBooster</strong>.<br>
→ A window is opened, informaing you about the additional costs involved.</p>
</li>
<li>
<p>Click <strong>Confirm</strong> to activate the ShopBooster.<br>
→ The notification <strong>ShopBooster has been activated</strong> is displayed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_avoid_invisible_text_caused_by_custom_fonts">6.6. Avoid invisible text caused by custom fonts</h3>
<div class="paragraph">
<p>If you include custom fonts for your plentyShop and do not use the drsign settings of the ShopBuilder, it is possible that browsers try to display certain sections of text before the custom font is loaded. As a result, your plentyShop may be prone to a so-called <strong>Flash of invisible text (FOIT)</strong>, meaning a short time during which the text you want to display cannot be displayed by the browser.<br></p>
</div>
<div class="paragraph">
<p>In order to avoit FOITS, you can use a CSS command to intermittenly display a system font instead of your custom font. to do so, you add the directive <strong>font-display: swap</strong> in your <strong>@font-face</strong> styles, for instance by using the <a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/cfourcustomcssjs_5143">Custom CSS/JS in the front end</a>) plugin. You can thereby prevent annyoing FOITS to happen, which can have a positive impact on the PSI rating of your plentyShop.</p>
</div>
</div>
<div class="sect2">
<h3 id="_avoiding_javascript_in_code_widgets">6.7. Avoiding Javascript in code widgets</h3>
<div class="paragraph">
<p>The ShopBuilder provides a code widget via which you can integrate additional adjustments that are not covered by ShopBuilder itself. If you want to inplement a piece of code, we advise you to avoid using Javascript in the code widget of the ShopBuilder. Instead, you can, for instance, use the <a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/cfourcustomcssjs_5143">Custom CSS/JS in the front end</a> plugin or include the Javascript in a theme. Including additional Javascript in code widgets negatively impacts the loading times of your plentyShop.<br>
If you integrate additional Javascript via an external plugin or a theme, we recommend that you place the Javascript at the lower end of the HTML body.</p>
</div>
</div>
<div class="sect2">
<h3 id="_linking_payment_plugins_to_the_right_containers">6.8. Linking payment plugins to the right containers</h3>
<div class="paragraph">
<p>If you use payment plugins for your plentyShop that involve larger quantities of data (such as AmazonPay or PayPal), it is imperative for the performance of your plentyShop to link these plugins to the correct corresponding template containers. We added new template containers with the release of Ceres 5.0 in order to load Javascript and CSS of payment plugins only in the places that they are needed for the successful order process.<br>
The plugin guides of the respective payment plugins, such as <a href="https://marketplace.plentymarkets.com/paypal_4690#80.">PayPal</a>, already include detailed descriptions on how to link the contents of the plugins to the corresponding template containers. In general, you should link the Javascript of the payment method to the container <strong>Checkout.AfterScriptsLoaded</strong> and no longer to <strong>ScriptLoader.AfterScriptsLoaded</strong>. This can positively impact the performance of your plentyShop.</p>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="search">7. Adjusting the online shop search</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This Best Practice supports you in familiarising yourself with the various search options available in plentyShop, so that you can customise the online shop search for the purposes of your store.<br>
The search settings are mainly carried out in the <strong>Search</strong> step of the Ceres assistant, which you can find at <strong>Setup » Assistents » Plugins » Select plugin set » plentyShop Ceres</strong>.<br></p>
</div>
<div class="sect2">
<h3 id="_sorting_search_results_by_relevance">7.1. Sorting search results by relevance</h3>
<div class="paragraph">
<p>The sorting value <strong>Relevance</strong> sorts search results in accordance with a numeric score that the plentymarkets system determines. The higher this numeric score, the higher the corresponding item’s position in the list of the search results. You can determine the calculation of the relevance score in 2 different places in the backend: The Ceres assistant hosts a slimmed version of this setting in the <strong>Search</strong> step under <strong>Priorisation of search values for the "Relevance" option</strong>. You can find the complete priorisation settings in the <strong>Setup » Item » Search » Front end » Search settings</strong> menu.<br></p>
</div>
<div class="paragraph">
<p>Here, you can activate item data fields that you want to be considered in the calculation of the <strong>Relevance</strong> score. If you activate the fields <strong>Name 1</strong>, <strong>Description</strong>, and <strong>Keywords</strong>, for instance, an item that includes the entered search term in all three item fields will be considered to be more <strong>relevant</strong> than an item that only contains the search term in its name. The first item will thus be displayed higher in the list of search results than the latter item.<br></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>You should deactivate the field <strong>Name (deprecated)</strong> This fields subsumes the three data fields <strong>Name 1</strong>, <strong>Name 2</strong>, and <strong>Name 3</strong>. You can exert more precise influence over the relevant sorting if you deactivate this field.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The <strong>boost</strong> of the individual data fields serves to determine the priorisation. The precise value of the individual boost fields is less important than the order of the boost values. If the boost value for the field <strong>Name 1</strong> is higher than the value for <strong>Name 2</strong>, an item that includes the entered search term in the field <strong>Name 1</strong> will receive a higher numeric relevance score than an item that includes the search term in the field <strong>Name 2</strong>.</p>
</div>
<div class="paragraph">
<p>The sorting by <strong>Relevance</strong> will usually list those search results first, that correspond to <strong>all</strong> of the entered search terms, followed by those results that only contain a part of the entered searchs terms.<br></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Note that the item data fields you activate in the <strong>Consider in search suggestions</strong> area are automatically activated in the <strong>Consider in search results</strong> area, as well. If necessary, you can set the boost value of certain fields to 0 if you don’t want them to affect the <strong>Relevance</strong> sorting value.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_sorting_search_results_by_recommended">7.2. Sorting search results by recommended</h3>
<div class="paragraph">
<p>The sorting value <strong>Recommended</strong> serves to sort search results in accordance to 3 values that you select and prioritise. You carry out these settings in the field <strong>Recommended sorting of search results</strong> in the <strong>Search</strong> step of the Ceres assistant.<br></p>
</div>
<div class="paragraph">
<p>The 3 sorting values interact with each other in the following way: Your items are first checked for the first sorting value; if 2 or more items would be sorted into the same position of the search results, the second value affects the sorting of the search results. If, as a result of the second sorting process, 2 or more items would be sorted into the same position, the third value becomes effective.<br></p>
</div>
<div class="paragraph">
<p><strong>Example:</strong><br>
You’ve configured the recommended sorting of search results in your online shop in such a way that the first sorting value is <strong>Relevance</strong>, followed by <strong>Variation position</strong> as the second and <strong>Price (increasing)</strong> as the third value. A customer of your shop enters "Blue pants" as a search term. The search now goes over your entire item catalogue and assesses it according to the relevance sorting. The item data fields of your items are checked for both search terms ("blue" and "pants"). Depending on the item data fields you’ve activated for the <strong>Relevance</strong> sorting (name, description, etc.), multiple results may be returned that have the same (invisible) numeric relevance score. In the next step, the results are checked for their <strong>Variation position</strong>, which you either entered yourself or which is determined by the monthly sales. Finally, those results that have both the same relevance score and the same variation position are sorted by their price.</p>
</div>
</div>
<div class="sect2">
<h3 id="_and_search">7.3. AND search</h3>
<div class="paragraph">
<p>Currently, it is not possible to set up plentyShops in such a way that the search only functions as an "AND" search, i.e. that the search exclusively returns results that correspond to <strong>all</strong> search terms. However, the plentyShop search can simulate an "AND" search. For this, you need to select the sorting value <strong>Relevance</strong> for the setting <strong>Default sorting of search results</strong> in the <strong>Search</strong> step of the Ceres assistant. Alternatively, you can also select the sorting value <strong>Recommended</strong>, as long as <strong>Relevance</strong> is selected as the first value of the recommended sorting option.<br>
That way, search results that contain all of the entered search terms are displayed first, followed by those that only correspond to parts of the search query. It is not possible to exclude the latter from the search.</p>
</div>
</div>
</div>
</div>
</main>