<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 21. Oktober 2021 bis zum 27. Oktober 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Zu den Auftragsdokumenten wurden neue Felder für Rabatte hinzugefügt:</p>
<div class="ulist">
<ul>
<li>
<p>Positionen: Rabatt im Artikeltext ausblenden</p>
</li>
<li>
<p>Positionen: Prozentualer Rabatt</p>
</li>
<li>
<p>Positionen: Einzelpreis ohne Rabatt (brutto + netto)</p>
</li>
<li>
<p>Summen: Rabattsumme (netto)</p>
</li>
</ul>
</div>
</li>
<li>
<p>Im Auftragsexport bei Katalogen wurden neue Felder und Filter hinzugefügt.</p>
<div class="ulist">
<ul>
<li>
<p>Felder:</p>
<div class="ulist">
<ul>
<li>
<p>Variante: VPE</p>
</li>
<li>
<p>Versandpaket: Gewicht (g), Packstückart, Volumen (cm³), Paletten-ID, Tracking-URL</p>
</li>
</ul>
</div>
</li>
<li>
<p>Filter:</p>
<div class="ulist">
<ul>
<li>
<p>Gastbestellung</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
<li>
<p>Im Menü <strong>Daten » Import</strong> steht nun ein neues Import-Format für Bankbuchungen zur Verfügung. Weitere Informationen sind im <a href="/daten/daten-importieren/sync-typen/elasticSync-bankbuchungen">Handbuch</a> verfügbar.</p>
</li>
<li>
<p>In der Detailansicht einer Umbuchung ist ein Button zum Löschen der Umbuchung hinzugekommen. Dieser ist, wie für Nachbestellungen, nur verfügbar solange die Umbuchung noch nicht ausgelöst wurde. Zusätzlich wurden die betroffenen Terra Komponenten durch Angular Material Komponenten ersetzt.</p>
</li>
<li>
<p>Für die Ereignisaktionen <strong>Stornobeleg Rechnung erzeugen</strong> und <strong>Stornobeleg Gutschrift erzeugen</strong> wurde jeweils eine Option hinzugefügt, um das Datum auf dem Beleg festzulegen.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Standard</strong> = Wird mit aktuellem Datum und Uhrzeit erzeugt.</p>
</li>
<li>
<p><strong>Rechnungsdatum bzw. Gutschriftsdatum</strong> = Wird mit dem Erstellungsdatum des zugehörigen Rechnung/Gutschrift Dokument erzeugt.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_auftragsanlage_beta" class="discrete">Auftragsanlage (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>Im letzten Schritt der Auftragsanlage sind nun die beiden Infoboxen <strong>Auftragsrabatt</strong> und <strong>Gutscheinbetrag</strong> verfügbar.</p>
</li>
<li>
<p>Die Texte innerhalb der Infoboxen wurden überarbeitet.</p>
</li>
<li>
<p>Die Infoboxen für Brutto- bzw. Nettobetrag werden nun in Grün hervorgehoben, je nachdem, ob es sich bei dem Auftrag um einen Brutto- oder Nettoauftrag handelt.</p>
</li>
<li>
<p>Die Spalten der Überblickstabelle im letzten Schritt der neuen Auftragsanlage sind nun sortierbar.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt die Lagerbestandseinträge von <strong>0</strong> in deinem Export ausblenden. Füge dazu den neuen Filter <strong>Alle Lagerbestandseinträge von 0 ausblenden</strong> hinzu.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/wawi-warenbestand-null.png" alt="wawi warenbestand null" width="640"></span></p>
</div>
</li>
<li>
<p>Im Katalogformat <strong>Warenbestände</strong> kannst du ab jetzt entscheiden, ob du den Bestand pro Lagerort oder pro Lager exportieren möchtest.</p>
<div class="ulist">
<ul>
<li>
<p>Füge den neuen Filter <strong>Gruppieren nach Lager</strong> hinzu, wenn du den Bestand pro Lager exportieren möchtest:</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/wawi-katalog-1.png" alt="wawi katalog 1" width="640"></span></p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/wawi-katalog-2.png" alt="wawi katalog 2" width="640"></span></p>
</div>
</li>
<li>
<p>Ist der Filter <strong>Gruppieren nach Lager</strong> nicht aktiv, dann wirst du den Bestand pro Lagerort exportieren:</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/wawi-katalog-3.png" alt="wawi katalog 3" width="640"></span></p>
</div>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Gutschriften werden nun auch die Ereignisse aus der Ereignisgruppe <strong>Zahlung</strong> den Zahlungsstatus betreffend ausgelöst. (Vollständig, Teilzahlung, Überzahlung, Anzahlung vollständig)</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Bei Ereignisaktionen, die bereits auf eines dieser Ereignisse reagieren, solltest du prüfen, ob hier ein Filter für den Auftragstyp nötig ist, der verhindert, dass die Aktionen auch für Aufträge vom Typ <strong>Gutschrift</strong> ausgelöst werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<h3 id="_otto_market" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn beim Auftragsimport ein Auftragsartikel keiner Variante zugeordnet werden konnte, z.B. weil die entsprechende SKU nicht im System existiert, dann wird jetzt die SKU in eckigen Klammern als Präfix vor den Namen des Auftragsartikels gesetzt, um die Zuordnung zu erleichtern.</p>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die Editorial Nodes und die daraus resultierenden Merkmal- und Attributverknüpfungen wurden auf Basis der von OTTO am 22.10.2021 bereitgestellten Datei <strong>Merkmalstrukturen_Master</strong> aktualisiert.
Diese Änderung betrifft nicht OTTO Market.</p>
<div class="paragraph">
<p>Die aktuelle <strong>Merkmalstrukturen_Master-Datei</strong> kann hier heruntergeladen werden:<br>
<a href="https://forum.plentymarkets.com/t/aktuelle-merkmalsstrukturen-master-datei/532293" class="bare">https://forum.plentymarkets.com/t/aktuelle-merkmalsstrukturen-master-datei/532293</a><br></p>
</div>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Bisher wurden plentymarkets Bestände von Zalando über eine API abgerufen. Mit diesem Update sendet nun plentymarkets die Bestände über die neue zDirect-API an Zalando.</p>
<div class="paragraph">
<p>Das Update wird alle 15 Minuten in einem asynchronen Prozess durchgeführt, um der Limitierung der zDirect-API gerecht zu werden. Im Normalfall können pro Minute 1.000 Bestände aktualisiert werden. Wird die Limitierung der API erreicht, werden die übrigen Bestände gesendet, sobald die API nach spätestens einer Minute wieder entsperrt ist.</p>
</div>
<div class="paragraph">
<p>Sobald das Update live ist, erhaltet ihr in eurem System eine Notification, falls ihr einen aktiven Zalando-Account besitzt. Eure Bestands-Einstellungen im Menü <strong>Einrichtung » Märkte » Zalando » Einstellungen » Tab: Einstellungen</strong> werden migriert soweit möglich.</p>
</div>
<div class="paragraph">
<p>Die Einstellungen für <strong>Bestandspuffer</strong>, <strong>Menge für Artikel ohne Bestandsbindung</strong> und <strong>Grenzwert für Artikel-Upload</strong> werden in die neuen Optionen im Assistenten übernommen.</p>
</div>
<div class="paragraph">
<p>Die Einstellung für <strong>Lagerauswahl</strong> wird nicht übernommen, weil diese Option nicht mehr unterstützt wird. Stattdessen könnt ihr im Assistenten genau definieren, welche Vertriebslager verwendet werden sollen. Am Anfang sind alle Vertriebslager aktiviert.</p>
</div>
<div class="paragraph">
<p>Alle Log-Einträge zum Bestandsabgleich findest Du unter <strong>Daten » Log</strong> mit dem Referenztyp <strong>action</strong> und dem Referenzwert <strong>StockUpdate</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Im Zuge des Updates musst du folgende Schritte durchführen:</p>
</div>
<div class="paragraph">
<p>Prüfe im Menü <strong>Einrichtung » Assistenten » Omni-Channel » Kontoeinstellungen Zalando</strong>, ob die Einstellungen zu den Beständen für deine aktiven Konten passen. Beachte dabei besonders die Lagerauswahl, da diese nicht aus der alten Einstellung übernommen werden kann. Solltest Du die Bestandseinstellungen anpassen, erfolgt automatisch mit dem nächsten Bestandsabgleich ein Vollupdate.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Innerhalb der Ereignisaktionen konnte es passieren, dass das Ereignis <strong>Rechnung generiert</strong> auch ausgelöst wurde, wenn die Rechnung bereits vorhanden war.</p>
</li>
<li>
<p>Der Filter <strong>Herkunft der Auftragsposition</strong> im Elastischen Export (Format <strong>Auftragsposition</strong>) hatte unter Umständen nicht korrekt funktioniert.</p>
</li>
<li>
<p>Es konnte vorkommen, das bei der Auftragsanlage über ElasticSync der Zahlungsstatus nicht korrekt war.</p>
</li>
</ul>
</div>
<h3 id="_auftragsanlage_beta_2" class="discrete">Auftragsanlage (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>In den Auftragsdetails des ersten Schritts der Auftragsanlage (beta) enthielt die Auswahl für die Auftragsherkunft auch Plugin-Herkünfte. Dies wurde nun behoben.</p>
</li>
<li>
<p>Im ersten Schritt der Auftragsanlage wurde die Liste der Zahlungsarten nur bei Suche nach einer spezifischen Zahlungsart angezeigt. Dies wurde behoben. Nun wird die autovervollständigte Liste gezeigt, wenn man in das Eingabefeld klickt.</p>
</li>
<li>
<p>Bei der Erstellung eines neuen Auftrags wurde der im vorherigen Auftrag gewährte Rabatt nicht zurückgesetzt. Dies wurde nun behoben.</p>
</li>
<li>
<p>Beim Hinzufügen einer Variante in den Warenkorb wurde eine Fehlernachricht angezeigt wenn kein gültiger Verkaufspreis für diese Variante verfügbar war. Dies wurde nun behoben.</p>
</li>
<li>
<p>Die Farbe der Anzeige der ungelesenen Notifications wurde von der Warenkorb-Schaltfläche beeinflusst und fälschlicherweise blau statt rot angezeigt. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>In manchen Systemen war es nicht möglich, neue Header und Footer im EmailBuilder zu erstellen oder bestehende Header und Footer zu bearbeiten.
Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Die Variable <strong>DHL Retoure Online QR-Code</strong> wird nun bei einer Retoure korrekt in der E-Mail angezeigt. <strong><em>Hinweis:</em></strong> Der Fix ist aktuell für die E-Mail-Vorlagen im Menü <strong>Einrichtung » Mandant » [Mandant wählen] » E-Mail » Vorlagen</strong> verfügbar. Er wird in Kürze auch für die Vorlagen im EmailBuilder im Menü <strong>CRM » EmailBuilder</strong> zur Verfügung stehen.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft_2" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Der Export des durchschnittlichen Verkaufs mit dem Katalogformat <strong>Warenbestände</strong> hat nicht funktioniert. Der Fehler wurde nun behoben.</p>
</li>
<li>
<p>Der Standard-Lagerort wird ab jetzt im Export mit dem Katalogformat <strong>Warenbestände</strong> angezeigt.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/standard-lagerort-kataloge.png" alt="standard lagerort kataloge" width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_e_mail_vorlage" class="discrete">E-Mail-Vorlage</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn man eine E-Mail-Vorlage aus dem Auftrag im Tab <strong>Mail</strong> heraus versendet hat, wurde eine Erfolgsmeldung angezeigt, obwohl die Vorlage nicht versendet wurde.</p>
<div class="paragraph">
<p>Dieses Verhalten wurde behoben. Anstelle der Erfolgsmeldung wird nun bei nicht erfolgreichem Versand der E-Mail-Vorlage eine Fehlermeldung angezeigt.</p>
</div>
</li>
</ul>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Import der FBA-Auftragsberichte konnte es dazu kommen, dass ein Auftrag mehrfach importiert wurde, wenn der Auftrag in mehreren Berichten auftauchte. Dies hing damit zusammen, dass zur Prüfung, ob der Auftrag bereits importiert wurde, eine Funktion genutzt wurde, die sich auf den Elasticsearch Index stützte. Kam es bei der Aktualisierung dieses Indexes zu einer Verzögerung, dann konnte es dazu kommen, dass der Auftrag nicht gefunden und deshalb erneut importiert wurde.
Es wird jetzt eine Funktion genutzt, die nicht den Elastic Search Index nutzt.</p>
</li>
<li>
<p>Der nächtliche Backup-Cron für den Auftragsimport, welcher alle Aufträge des letzten Tages abruft, um möglichen Lücken in den Auftragsberichten entgegenzuwirken, ignorierte die Einstellung <strong>Auftragsimport Startdatum</strong>. Es wurden also auch Aufträge des letzten Tages importiert, wenn das Startdatum in der Zukunft lag. Dieses Fehlverhalten wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_zahlungsarten" class="discrete">Zahlungsarten</h3>
<div class="ulist">
<ul>
<li>
<p>Die Spalte <strong>Zahlungsart Abonnement</strong> wurde in der Tabellenübersicht der Zahlungsarten im Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong> hinzugefügt. Die Spalte ist optional und zeigt an, ob eine Zahlungsart für Abonnements verfügbar ist.</p>
</li>
</ul>
</div>
<h3 id="_ereignisaktionen" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Für die Ereignisaktionen für Aufträge wurde ein neuer Filter und eine neue Aktion für Tags hinzugefügt. Diese funktionieren derzeit nur für die Auftragstypen <strong>Nachbestellung</strong>, <strong>Umbuchung</strong> und <strong>Aboauftrag</strong>.</p>
</li>
</ul>
</div>
<h3 id="_warenbestand" class="discrete">Warenbestand</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort ist es möglich, Warenbestand zu einem bestimmten Datum zu exportieren. Nutze dafür den Filter <strong>Datum</strong>, der im Katalog-Format <strong>Warenbestände</strong> verfügbar ist und wähle das gewünschte Datum.</p>
</li>
</ul>
</div>
<h3 id="_crm_2" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Im Kontaktdatensatz im Menü <strong>CRM » Kontakte</strong> wurde das Feld <strong>Externe Nummer</strong> hinzugefügt:</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/CRM-externe-nummer.png" alt="CRM externe nummer"></span></p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_nachbestellung" class="discrete">Nachbestellung</h3>
<div class="ulist">
<ul>
<li>
<p>Die Filter-Komponente in der Nachbestellung wurde verbreitert.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/nachbestellung-filter.png" alt="nachbestellung filter"></span></p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_auftragsanlage_beta_3" class="discrete">Auftragsanlage (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>Die Zeilen in der Auftragspositionstabelle der neuen Auftragsanlage sind gesprungen, wenn man die Maus darüber bewegt hat. Dies wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/connectedretail_54742" target="_blank" rel="noopener">Connected Retail</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/trackingmanager_54743" target="_blank" rel="noopener">TrackingManager</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/etsy_4689" target="_blank" rel="noopener">Etsy</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.1.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/rewe_5901" target="_blank" rel="noopener">REWE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.26.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dpdshippingservices_6320" target="_blank" rel="noopener">DPD Versand Services</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.7.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/addressdoctor_6106" target="_blank" rel="noopener">AddressDoctor</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebics_5098" target="_blank" rel="noopener">EBICS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/novalnet_5231" target="_blank" rel="noopener">Novalnet</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.2.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/uniservaddresscleansing_6869" target="_blank" rel="noopener">Uniserv Address Cleansing</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/googletagmanagerultimate_54789" target="_blank" rel="noopener">Google Tag Manager + Conversions API</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Konfigurator muss erneut durchlaufen werden.
Nutze beim Import im Google Tag Manager die Option "Zusammenführen", wenn du eigene Anpassungen an der Konfiguration vorgenommen hast
Nutze die Option "Überschreiben", wenn du die Standardkonfiguration verwendest</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>