<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_märkte_einrichten"><span>1.</span><span> Märkte einrichten</span></a></li>
<li><a href="#_preisportale_nutzen"><span>2.</span><span> Preisportale nutzen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Märkte</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Themenbereich findest du jeden Vertriebskanal, zu dem es eine Schnittstelle in plentymarkets gibt. Alle Einstellungen, die du für den gewählten Kanal vornehmen musst, werden beschrieben. Wähle einen Vertriebskanal und beginne mit der Einrichtung.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Weitere Marktplätze als Plugins verfügbar</div>
<div class="paragraph">
<p>Einige Marktplätze werden als Plugin in plentymarkets eingebunden. Die Marktplatz-Plugins findest du im <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze" target="_blank" rel="noopener">plentyMarketplace</a>.<br>
Außerdem findest du im plentyMarketplace weitere Plugins von Drittanbietern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_märkte_einrichten">1. Märkte einrichten</h2>
<div class="sectionbody">
<div class="ulist logoList">
<ul>
<li>
<p><a href="/maerkte/amazon/amazon-einrichten"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/amazon-logo.png" alt="amazon logo"></span></a></p>
</li>
<li>
<p><a href="/maerkte/ebay/ebay-einrichten"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1735-ebay-tm-rgb.png" alt="1735 ebay tm rgb"></span></a></p>
</li>
<li>
<p><a href="/maerkte/bol-com"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/4844.png" alt="4844"></span></a></p>
</li>
<li>
<p><a href="/maerkte/cdiscount"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/Logo-Cdiscount-web.png" alt="Logo Cdiscount web"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/maerkte/check24"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/4365.png" alt="4365"></span></a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/Etsy_4689"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/etsy.png" alt="etsy"></span></a></p>
</li>
<li>
<p><a href="/maerkte/flubit"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3690.png" alt="3690"></span></a></p>
</li>
<li>
<p><a href="/maerkte/fruugo"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3216-fruugo-logo-transparent.png" alt="3216 fruugo logo transparent"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/Galaxus_4788"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/galaxus.png" alt="galaxus"></span></a></p>
</li>
<li>
<p><a href="/maerkte/plus-gartenxxl"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/GartenXXL_Logo.png" alt="GartenXXL Logo"></span></a></p>
</li>
<li>
<p><a href="/maerkte/grosshandel"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/grosshandel-eu-logo-web.png" alt="grosshandel eu logo web"></span></a></p>
</li>
<li>
<p><a href="/maerkte/hood"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2387.png" alt="2387"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/maerkte/idealo/idealo-einrichten"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/idealo_direktkauf_logo.png" alt="idealo direktkauf logo"></span></a></p>
</li>
<li>
<p><a href="/maerkte/kauflux"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1747-kauflux-online-marktplatz.png" alt="1747 kauflux online marktplatz"></span></a></p>
</li>
<li>
<p><a href="/maerkte/mercateo"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/mercateo-logo.png" alt="mercateo logo"></span></a></p>
</li>
<li>
<p><a href="/maerkte/neckermann/neckermann-at-einrichten"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/NeckermannLogo.jpg" alt="NeckermannLogo"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/maerkte/plus-gartenxxl"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/netto.png" alt="netto"></span></a></p>
</li>
<li>
<p><a href="/maerkte/otto"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/Otto-Logo-72dpi.png" alt="Otto Logo 72dpi"></span></a></p>
</li>
<li>
<p><a href="/maerkte/pixmania"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1750.png" alt="1750"></span></a></p>
</li>
<li>
<p><a href="/maerkte/rakuten/rakuten-einrichten"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/rakuten.png" alt="rakuten"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/maerkte/real-de/real-de-einrichten"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1745.png" alt="1745"></span></a></p>
</li>
<li>
<p><a href="/maerkte/restposten-de"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1765-Logo-Restposten.png" alt="1765 Logo Restposten"></span></a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/Rewe_5901"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/Rewe.png" alt="Rewe"></span></a></p>
</li>
<li>
<p><a href="/maerkte/ricardo-ch"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/ricardo-RGB.png" alt="ricardo RGB"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/maerkte/shopgate"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1791-shopgate-logo-rgb-26-08-2014.png" alt="1791 shopgate logo rgb 26 08 2014"></span></a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/integration/Wish_5866"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/wish-logo.png" alt="wish logo"></span></a></p>
</li>
<li>
<p><a href="/maerkte/yatego"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2716-YATEGO-rgb-logo.png" alt="2716 YATEGO rgb logo"></span></a></p>
</li>
<li>
<p><a href="/maerkte/zalando"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2463-Zalando-Logo-freigestellt.png" alt="2463 Zalando Logo freigestellt"></span></a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_preisportale_nutzen">2. Preisportale nutzen</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Preisportale als Plugins verfügbar</div>
<div class="paragraph">
<p>Im <a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale" target="_blank" rel="noopener">plentyMarketplace</a> findest du viele Preisportale, die als Plugins in plentymarkets eingebunden werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportawincom_4762" target="_blank" rel="noopener">Awin.com</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportbeezup_4768" target="_blank" rel="noopener">BeezUp</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportbelboonde_4759" target="_blank" rel="noopener">belboon</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportbilligerde_4901" target="_blank" rel="noopener">billiger.de</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportcheck24de_4730" target="_blank" rel="noopener">Check24</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportcriteo_5229" target="_blank" rel="noopener">criteo</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportecondade_4774" target="_blank" rel="noopener">econda</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportfashionde_4742" target="_blank" rel="noopener">Fashion.de</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportgeizhalsde_4743" target="_blank" rel="noopener">Geizhals.de</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportgoogleshopping_4722" target="_blank" rel="noopener">GoogleShopping</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportguenstigerde_4745" target="_blank" rel="noopener">guenstiger.de</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportidealode_4723" target="_blank" rel="noopener">idealo</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportkelkoode_5041" target="_blank" rel="noopener">kelkoo</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportkuponade_4756" target="_blank" rel="noopener">KUPONA</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportmybestbrandsde_4731" target="_blank" rel="noopener">My Best Brands</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportpreisroboterde_4732" target="_blank" rel="noopener">PreisRoboter</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportshoppingcom_4755" target="_blank" rel="noopener">shopping.com</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportshopping24de_4734" target="_blank" rel="noopener">shopping24.de</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportshopzillade_4770" target="_blank" rel="noopener">shopzilla.de</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexporttracdelightcom_4771" target="_blank" rel="noopener">tracdelight</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexporttreepodiacom_4776" target="_blank" rel="noopener">treepodia</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexporttwengacom_4746" target="_blank" rel="noopener">Twenga</a></p>
</li>
</ul>
</div>
</div>
</div>
</main>