<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#300"><span>1.</span><span> Zahlungsanbieter für Callisto Shops</span></a></li>
<li><a href="#400"><span>2.</span><span> Zahlungsanbieter und Zahlungsarten für Ceres Shops</span></a></li>
<li><a href="#500"><span>3.</span><span> Zahlungsanbieter und Zahlungsarten für plentymarkets POS</span></a></li>
<li><a href="#600"><span>4.</span><span> Inkassodienstleister und Bonitätsprüfung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Payment</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Ein wichtiges Merkmal deines Webshops ist die Auswahl der angebotenen Zahlungsarten. Fehlt hier die richtige Auswahl, kann es passieren, dass Kunden am Ende des Bestellvorgangs den Kauf abbrechen oder gar nicht erst in deinem Webshop kaufen. Um dies zu verhindern, solltest du herausfinden, welche Zahlungsarten von deiner Zielgruppe bevorzugt genutzt werden. In diesem Themenbereich wird beschrieben, wie du Zahlungsarten und Zahlungsanbieter in plentymarkets einrichtest.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Callisto oder Ceres Shop?</div>
<div class="paragraph">
<p>Die Anbindung der verschiedenen Zahlungsarten und Zahlungsanbieter richtet sich danach, ob du deinen Webshop unter Callisto oder Ceres betreibst. Die Zahlungsanbieter für <a href="#300">Callisto Shops</a> werden über Schnittstellen eingebunden. Nutzt du Ceres oder einen Callisto Shop mit Ceres Checkout, lade dir die entsprechenden <a href="#400">Plugins</a> im plentyMarketplace herunter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Zahlungsarten für Callisto Shops</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/payment/zahlungsarten-verwalten">Zahlungsarten verwalten</a></p>
</li>
<li>
<p><a href="/payment/zahlungsarten-verwalten#10">Zahlungsart suchen</a></p>
</li>
<li>
<p><a href="/payment/zahlungsarten-verwalten#20">Zahlungsart einrichten</a></p>
</li>
<li>
<p><a href="/payment/zahlungsarten-verwalten#25">Standard-Zahlungsart festlegen</a></p>
</li>
<li>
<p><a href="/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a></p>
</li>
<li>
<p><a href="/payment/zahlungsarten-verwalten#50">Rabatt auf Zahlungsart gewähren</a></p>
</li>
<li>
<p><a href="/payment/zahlungsarten-verwalten#40">Vertragsfreie Zahlungsarten</a></p>
</li>
<li>
<p><a href="/payment/zahlungsarten-verwalten#70">Marktplatz-Zahlungsarten</a></p>
</li>
<li>
<p><a href="/payment/zahlungsarten-verwalten#80">Rundungsdifferenzen</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Zahlungs- und Bankverkehr allgemein</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/payment/zahlungen-verwalten">Zahlungen verwalten</a></p>
</li>
<li>
<p><a href="/payment/zahlungen-verwalten#20">Zahlungen buchen</a></p>
</li>
<li>
<p><a href="/payment/zahlungen-verwalten#70">Zahlungen zuordnen</a></p>
</li>
<li>
<p><a href="/payment/zahlungen-verwalten#110">Zahlungen suchen</a></p>
</li>
<li>
<p><a href="/payment/zahlungen-verwalten#120">Zahlungen bearbeiten</a></p>
</li>
<li>
<p><a href="/payment/bankdaten-verwalten">Bankdaten verwalten</a></p>
</li>
<li>
<p><a href="/payment/bankdaten-verwalten#70">EBICS einrichten</a></p>
</li>
<li>
<p><a href="/payment/bankdaten-verwalten#200">SEPA-Lastschriftmandat einrichten</a></p>
</li>
<li>
<p><a href="/payment/waehrungen">Währungen konfigurieren</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">1. Zahlungsanbieter für Callisto Shops</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Betreibst du einen Callisto Webshop, stehen dir die folgenden Zahlungsanbieter zur Verfügung. Diese werden über Schnittstellen in dein plentymarkets System eingebunden und stehen deinen Kunden dann als Zahlungsarten im Webshop zur Verfügung.</p>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/payment/zahlungsanbieter/paypal"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1698-pp-h-rgb.png" alt="1698 pp h rgb"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/paypal-plus"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/pp-plus-h-rgb-pos.png" alt="pp plus h rgb pos"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/amazon-pay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2259.png" alt="2259"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/klarna"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/blue-black.png" alt="blue black"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/payment/zahlungsanbieter/klarna-checkout"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/klarna-checkout.png" alt="klarna checkout"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/sofortueberweisung"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1721.png" alt="1721"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/payone"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2710.png" alt="2710"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/sage-pay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3135-Sage-Pay-official-Logo.png" alt="3135 Sage Pay official Logo"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/bitpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3210-bitpay-logo.png" alt="3210 bitpay logo"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/concardis"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2332.png" alt="2332"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/crefopay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3892.png" alt="3892"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/payment/zahlungsanbieter/expercash"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1718-expercash.png" alt="1718 expercash"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/heidelpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1717-heidelpay.png" alt="1717 heidelpay"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/klarna-checkout-uk"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/klarna-checkout-uk.png" alt="klarna checkout uk"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/masterpayment"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1711-masterpayment.png" alt="1711 masterpayment"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/payment/zahlungsanbieter/paymorrow"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/paymorrow-web.png" alt="paymorrow web"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/payolution"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1731.jpg" alt="1731"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/postpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/logo-hg-weiss-200x55.jpg" alt="logo hg weiss 200x55"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/saferpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1716-saferpay.png" alt="1716 saferpay"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/payment/zahlungsanbieter/santander-consumer-bank"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/SCB-negativ-CMYK.png" alt="SCB negativ CMYK"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/skrill"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1706.png" alt="1706"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/wirecard"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/wirecard-logo.png" alt="wirecard logo"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/worldpay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/worldpay-logo.png" alt="worldpay logo"></span></a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">2. Zahlungsanbieter und Zahlungsarten für Ceres Shops</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Betreibst du deinen vollständigen Webshop oder den Checkout-Bereich mit dem Template-Plugin Ceres, stehen dir die folgenden Zahlungsanbieter und Zahlungsarten zur Verfügung. Diese werden jeweils über eigene Plugins in dein plentymarkts System eingebunden.<br>
Klicke auf die untenstehenden Links, um zu den Plugins im plentyMarketplace zu gelangen. Im Tab <strong>Beschreibung</strong> des jeweiligen Plugins findest du die passenden Anleitungen zur Installation.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/AfterPay_6044" target="_blank" rel="noopener">AfterPay</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/amazonloginandpay_5072" target="_blank" rel="noopener">Amazon Pay</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/PayUponPickup_4757" target="_blank" rel="noopener">Barzahlung</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/Payone_5434" target="_blank" rel="noopener">PAYONE</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/GiroCheckout_5113" target="_blank" rel="noopener">PAYONE Kreditkarte</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/heidelpay_5700" target="_blank" rel="noopener">heidelpay</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/novalnet_5231" target="_blank" rel="noopener">Novalnet</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/CashOnDelivery_5255" target="_blank" rel="noopener">Nachnahme</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/paydirekt_4923" target="_blank" rel="noopener">paydirekt</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/payever_5623" target="_blank" rel="noopener">payever</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/Payolution_5943" target="_blank" rel="noopener">Payolution</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/paypal_4690" target="_blank" rel="noopener">PayPal</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/easyCredit_5109" target="_blank" rel="noopener">ratenkauf by EasyCredit</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/skrill_5142" target="_blank" rel="noopener">Skrill</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/SOFORT_5050" target="_blank" rel="noopener">Sofort Überweisung</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/BetterPayment_5680" target="_blank" rel="noopener">Solvendi</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/Stripe_4904">Stripe Kreditkarte</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/PrePayment_4758" target="_blank" rel="noopener">Vorkasse</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/wallee_5038" target="_blank" rel="noopener">wallee</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="500">3. Zahlungsanbieter und Zahlungsarten für plentymarkets POS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutzt du das Kassensystem plentymarkets POS, stehen dir zusätzlich die folgenden Zahlungsanbieter und Zahlungsarten zur Verfügung. Diese werden jeweils über eigene Plugins in dein plentymarkets System eingebunden.<br>
Klicke auf die untenstehenden Links, um zu den Plugins im plentyMarketplace zu gelangen. Im Tab <strong>Beschreibung</strong> des jeweiligen Plugins findest du die passenden Anleitungen zur Installation.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/ingenicozvt_5140" target="_blank" rel="noopener">IngenicoZVT</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/PosInvoice_5590" target="_blank" rel="noopener">plentyPOS Kauf auf Rechnung</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/sumup_5141" target="_blank" rel="noopener">SumUp</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">VerifoneZVT</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="600">4. Inkassodienstleister und Bonitätsprüfung</h2>
<div class="sectionbody">
<div class="ulist logoList">
<ul>
<li>
<p><a href="/payment/zahlungsanbieter/adu-inkasso"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2833-ADU-Logo-WEB.png" alt="2833 ADU Logo WEB"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/atriga"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1725-1.png" alt="1725 1"></span></a></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/mediafinanz"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1732-mediafinanz.png" alt="1732 mediafinanz"></span></a></p>
</li>
</ul>
</div>
<hr>
</div>
</div>
</main>