<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_accessing_the_service_center"><span>1.</span><span> Accessing the Service center</span></a></li>
<li><a href="#_version_upgrade"><span>2.</span><span> Version upgrade</span></a></li>
<li><a href="#contract"><span>3.</span><span> Contract</span></a></li>
<li><a href="#_changing_the_contract"><span>4.</span><span> Changing the contract</span></a></li>
<li><a href="#_canceling_a_contract"><span>5.</span><span> Canceling a contract</span></a></li>
<li><a href="#domain"><span>6.</span><span> Domain</span></a>
<ul class="sectlevel2">
<li><a href="#_information_about_domains"><span>6.1.</span><span> Information about domains</span></a></li>
<li><a href="#_new_domains_in_plentymarkets"><span>6.2.</span><span> New domains in plentymarkets</span></a>
<ul class="sectlevel3">
<li><a href="#_ordering_a_new_domain"><span>6.2.1.</span><span> Ordering a new domain</span></a></li>
<li><a href="#_relocating_a_domain"><span>6.2.2.</span><span> Relocating a domain</span></a></li>
<li><a href="#_creating_a_new_external_domain"><span>6.2.3.</span><span> Creating a new external domain</span></a></li>
<li><a href="#_creating_a_new_subdomain"><span>6.2.4.</span><span> Creating a new subdomain</span></a></li>
<li><a href="#_deleting_a_subdomain"><span>6.2.5.</span><span> Deleting a subdomain</span></a></li>
</ul>
</li>
<li><a href="#_carrying_out_domain_settings"><span>6.3.</span><span> Carrying out domain settings</span></a>
<ul class="sectlevel3">
<li><a href="#_domain_handle"><span>6.3.1.</span><span> Domain handle</span></a></li>
<li><a href="#_canceling_a_domain"><span>6.3.2.</span><span> Canceling a domain</span></a></li>
<li><a href="#_current_dns_settings"><span>6.3.3.</span><span> Current DNS settings</span></a>
<ul class="sectlevel4">
<li><a href="#_updating_dns_settings_for_external_domain_providers"><span>Updating DNS settings for external domain providers</span></a></li>
<li><a href="#_external_domains_updating_dns_settings_for_autoscaling"><span>External domains: Updating DNS settings for autoscaling</span></a></li>
</ul>
</li>
<li><a href="#domain-nameserver"><span>6.3.4.</span><span> Name server</span></a></li>
<li><a href="#domain-mailserver"><span>6.3.5.</span><span> Mail server</span></a></li>
<li><a href="#_linking_a_system"><span>6.3.6.</span><span> Linking a system</span></a></li>
<li><a href="#auth-code"><span>6.3.7.</span><span> Domain auth code</span></a></li>
<li><a href="#_cname_resource_record"><span>6.3.8.</span><span> CNAME Resource Record</span></a></li>
<li><a href="#_txt_record"><span>6.3.9.</span><span> TXT Record</span></a></li>
<li><a href="#200"><span>6.3.10.</span><span> Saving name servers for sub-domains</span></a></li>
<li><a href="#_domain_transfer"><span>6.3.11.</span><span> Domain transfer</span></a></li>
<li><a href="#_url_forwarding"><span>6.3.12.</span><span> URL forwarding</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#ssl-certificate"><span>7.</span><span> SSL certificate</span></a>
<ul class="sectlevel2">
<li><a href="#_content_of_this_page"><span>7.1.</span><span> Content of this page</span></a></li>
<li><a href="#_information_about_ssl_certificates"><span>7.2.</span><span> Information about SSL certificates</span></a></li>
<li><a href="#_expiration_date_of_your_ssl_certificate"><span>7.3.</span><span> Expiration date of your SSL certificate</span></a></li>
<li><a href="#_ordering_a_new_ssl_certificate"><span>7.4.</span><span> Ordering a new SSL certificate</span></a></li>
<li><a href="#_deactivating_the_ssl_certificate"><span>7.5.</span><span> Deactivating the SSL certificate</span></a></li>
<li><a href="#_external_domain_or_external_ssl"><span>7.6.</span><span> External domain or external SSL</span></a></li>
</ul>
</li>
<li><a href="#client-store"><span>8.</span><span> Client (store)</span></a>
<ul class="sectlevel2">
<li><a href="#_check_created_domain"><span>8.1.</span><span> Check: created domain?</span></a></li>
<li><a href="#_ordering_a_client_store"><span>8.2.</span><span> Ordering a client (store)</span></a></li>
<li><a href="#_canceling_a_client_store"><span>8.3.</span><span> Canceling a client (store)</span></a></li>
<li><a href="#_editing_the_domain_settings_for_clients_stores"><span>8.4.</span><span> Editing the domain settings for clients (stores)</span></a></li>
</ul>
</li>
<li><a href="#cache"><span>9.</span><span> Cache</span></a>
<ul class="sectlevel2">
<li><a href="#_cache_function"><span>9.1.</span><span> Cache function</span></a></li>
<li><a href="#_deactivating_the_cache_temporarily"><span>9.2.</span><span> Deactivating the cache temporarily</span></a></li>
<li><a href="#_permanent_ssl_redirect"><span>9.3.</span><span> Permanent SSL redirect</span></a></li>
</ul>
</li>
<li><a href="#_your_agency"><span>10.</span><span> Your agency</span></a>
<ul class="sectlevel2">
<li><a href="#_granting_access_to_certified_service_providers"><span>10.1.</span><span> Granting access to certified service providers</span></a></li>
<li><a href="#_screen_seen_by_agencies"><span>10.2.</span><span> Screen seen by agencies</span></a></li>
</ul>
</li>
<li><a href="#_memory_capacity_and_traffic"><span>11.</span><span> Memory capacity and traffic</span></a>
<ul class="sectlevel2">
<li><a href="#_memory_capacity_and_traffic_2"><span>11.1.</span><span> Memory capacity and traffic</span></a></li>
<li><a href="#_displaying_the_parameters"><span>11.2.</span><span> Displaying the parameters</span></a></li>
</ul>
</li>
<li><a href="#relocation"><span>12.</span><span> Relocation</span></a>
<ul class="sectlevel2">
<li><a href="#_system_relocation_requirements"><span>12.1.</span><span> System relocation requirements</span></a></li>
<li><a href="#_planning_a_relocation"><span>12.2.</span><span> Planning a relocation</span></a></li>
<li><a href="#_canceling_a_planned_relocation"><span>12.3.</span><span> Canceling a planned relocation</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>plentymarkets account</h1><div class="sect1">
<h2 id="_accessing_the_service_center">1. Accessing the Service center</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to access your system’s settings.</p>
</div>
<div class="paragraph instruction">
<p>Accessing information about the plentymarkets system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Service center</strong>.</p>
</li>
<li>
<p>Click on the blue <strong>plus icon</strong> of the desired system.<br>
→ The available tabs will be displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The available tabs are described below.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_version_upgrade">2. Version upgrade</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets is continuously being developed and optimized. Usually, a new beta and stable version are released each week and your system is automatically updated. We publish a changelog for every new version so that you can always keep track of the changes. The changelogs can be found in the plentymarkets Forum. This also includes important notes about the new version, e.g. ToDos. In some cases, adjustments may have to be carried out manually or settings may have to be checked and tested after upgrading from one version to another. Your current version of plentymarkets is displayed at the top left in your plentymarkets backend.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="contract">3. Contract</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Start » plentymarkets account » Service center » Tab: Contract</strong> provides you with information about your current plentymarkets contract. Here you can make changes to your contract or you may cancel your contract.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_changing_the_contract">4. Changing the contract</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets grows along with your needs. Decide for yourself how many orders you want to process with plentymarkets each month. We will provide you with the necessary system performance. The <strong>Contract</strong> tab allows you to make changes in your plentymarkets contract on your own once it is up and running. It makes sense to make changes, e.g. if you generate more orders than are included in your current rate. It is possible to book a higher rate at any time. If you book a lower rate, then it will go into effect once the regular duration of your current contract has ended.</p>
</div>
<div class="paragraph instruction">
<p>Changing the contract:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Service center</strong>.</p>
</li>
<li>
<p>Click on the <strong>Contract</strong> tab.</p>
</li>
<li>
<p>Click on <strong>System configurator</strong>.</p>
</li>
<li>
<p>Make changes to the contract information as desired.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_canceling_a_contract">5. Canceling a contract</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Contract</strong> tab in the service center also contains an option for canceling your contract with plentymarkets. Click on <strong>Cancel contract</strong> to request that your contract be canceled.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="domain">6. Domain</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>Start » plentymarkets account » Service center » Tab: Domain</strong> to access functions for managing domains. You can see the parameters for your domains here and change some of them. You can also order a new domain here or relocate an existing domain. Furthermore, you can link an existing external domain or create a subdomain for a main domain.</p>
</div>
<div class="sect2">
<h3 id="_information_about_domains">6.1. Information about domains</h3>
<div class="paragraph">
<p>The following table includes explanations of the various domain types:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Additional information</th>
<th class="tableblock halign-left valign-top">Example name</th>
<th class="tableblock halign-left valign-top">TLD</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Domain</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><hr></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>yourstore</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The word "domain" refers to an Internet address in the form of a name and an extension, i.e. the top level domain. The name can be chosen freely. A domain is unique, i.e. the exact same domain may never be used twice. Therefore, when registering a desired domain, e.g. with a hosting service provider, it is necessary to check whether the domain has already been used.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Subdomain</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>info.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>yourstore</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>It is possible to create as many subdomains as desired for a domain. Subdomains do not need to be registered. Subdomains use variations of the domain name. They are either placed in front of or behind the domain name and they are separated from it with a period.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Additional domains</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><hr></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>your-store <br>
your_store</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can create additional domains that have slightly different names than the main domain. They forward to the main domain so that it can be found, e.g. even if an alternate spelling was used. The additional domain <strong>your-store.com</strong> could be useful for the example above. This would allow the main domain <strong>yourstore.com</strong> to be accessed even if a hyphen was used in the spelling. The names and top level domains can be chosen freely for additional domains. Every additional domain receives the main domain’s IP address.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: examples of domains</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_new_domains_in_plentymarkets">6.2. New domains in plentymarkets</h3>
<div class="paragraph">
<p>This chapter teaches you how to order new domains, how to create new external domains or subdomains and how to delete a subdomain.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Availability after the initial setup or changes</div>
<div class="paragraph">
<p>It can take up to 24 hours until all of the settings are available on all systems. If settings were changed after 4 p.m., then they will not be processed until after 4 p.m. the following day. If settings were changed on the weekend, then they will not be processed until after 4 p.m. the following Monday. It can take up to 12 hours to process these changes.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_ordering_a_new_domain">6.2.1. Ordering a new domain</h4>
<div class="paragraph">
<p>Proceed as described below to order a new domain.</p>
</div>
<div class="paragraph instruction">
<p>Ordering a new domain:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Service center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Click on <strong>Order a new domain</strong>.</p>
</li>
<li>
<p>Enter the desired domain name.</p>
</li>
<li>
<p>Select the top level domain (TLD) from the drop-down menu, e.g. <strong>co.uk</strong> or <strong>com</strong>.</p>
</li>
<li>
<p>Click on <strong>Check</strong>. <br>
→ The system will check whether the domain is available.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You will receive information about how much it costs to use the domain per month. Enter the contact details (domain handle) and assign the corresponding plentymarkets system. Then order the domain by clicking on <strong>Place order</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Registering .com domains</div>
<div class="paragraph">
<p>You will receive an email when registering a .com domain. This email will ask you to confirm the WHOIS data that was entered. This email is sent to the email address that was entered under ADMIN-C in the handle data (WHOIS). If you did not receive an email, check whether this email address is available and working.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_relocating_a_domain">6.2.2. Relocating a domain</h4>
<div class="paragraph">
<p>If the domain is already available, then you can relocate it. To do so, proceed as described in the chapter <strong>Ordering a new domain</strong>. Follow the instructions in the menu.</p>
</div>
<div class="paragraph instruction">
<p>Important information about relocating a domain:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Please have your previous provider’s authentication code ready as you will need to enter it.</p>
</li>
<li>
<p>The processing times may vary depending on the Top Level Domain.</p>
</li>
<li>
<p><strong>.de</strong> domains: up to 24 hours</p>
</li>
<li>
<p><strong>.com</strong> and <strong>.net</strong> domains: 3 to 7 days</p>
</li>
<li>
<p><strong>.eu</strong> domains: up to 5 days</p>
</li>
<li>
<p>You will receive an email if you relocate a <strong>.com</strong> or <strong>.net</strong> domain. The email will ask you to confirm the relocation. This email is sent to the email address that was entered under ADMIN-C in the handle data (WHOIS). If you did not receive an email, check whether this email address is available and working. If the email address no longer exists, then ask your current domain provider to change the email address.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="_creating_a_new_external_domain">6.2.3. Creating a new external domain</h4>
<div class="paragraph">
<p>Use the option <strong>Create a new external domain</strong> to link an existing external domain to the desired plentymarkets system. The domain’s IP address will then be displayed in the overview of domains. Save the IPv4 in the DNS zone (A-Record) of the hosting service provider. If there is an IPv6 A-Record in your externally managed domain, then remove it.</p>
</div>
</div>
<div class="sect3">
<h4 id="_creating_a_new_subdomain">6.2.4. Creating a new subdomain</h4>
<div class="paragraph">
<p>You can create as many subdomains as you want for a domain. You do not need to register these subdomains. For example, if you have the domain <strong>yourstore.com</strong>, then you could create the subdomain <strong>info.yourstore.com</strong> to provide special information about your online store with this domain. Use the drop-down menu to select which main domain you want to link with the subdomain. Select the corresponding plentymarkets system as well.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Availability and updates</div>
<div class="paragraph">
<p>It can take up to 24 hours for new domains or changes to become available. This is because the servers need to be restarted periodically and the data is not distributed in the cloud immediately.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_deleting_a_subdomain">6.2.5. Deleting a subdomain</h4>
<div class="paragraph">
<p>You can delete a subdomain. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a subdomain:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Service center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Click on the <strong>blue plus</strong> icon next to the subdomain that you want to delete. <br>
→ Data will be displayed for the selected subdomain.</p>
</li>
<li>
<p>Click on <strong>Delete a subdomain</strong>. <br>
→ The subdomain will be deleted from the system.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_carrying_out_domain_settings">6.3. Carrying out domain settings</h3>
<div class="paragraph">
<p>Different areas will be available depending on your system configuration. In some cases, you may only be able to see the settings in these areas but not edit them.</p>
</div>
<div class="sect3">
<h4 id="_domain_handle">6.3.1. Domain handle</h4>
<div class="paragraph">
<p>Save the contact data for the domain owner here.</p>
</div>
<div class="paragraph instruction">
<p>Saving contact details:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Domain handle</strong>.</p>
</li>
<li>
<p>Save the contact data for the domain owner in the window that is displayed.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_canceling_a_domain">6.3.2. Canceling a domain</h4>
<div class="paragraph">
<p>Proceed as described below to cancel a domain.</p>
</div>
<div class="paragraph instruction">
<p>Canceling the domain:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Cancel domain</strong>.</p>
</li>
<li>
<p>Click on <strong>Yes</strong> in the confirmation window in order to cancel your domain. <br>
→ The end of the contract is displayed in a new window.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Canceling the main domain</div>
<div class="paragraph">
<p>Only cancel your main domain if you also want to cancel your plentymarkets system’s contract. Otherwise you will have to save a new main domain. <br>
If you want to cancel your system’s contract, also pay attention to our cancellation deadlines. If you cancel your main domain too early, the domain’s contract might well end earlier than the system’s contract. The system will no longer be available in this case, even though the contract has not ended yet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Canceling a client (store)</div>
<div class="paragraph">
<p>If you cancel a client (store), the domains associated with this client are also canceled. To continue using these domains, link them to a different client.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_current_dns_settings">6.3.3. Current DNS settings</h4>
<div class="paragraph">
<p>In this area of the Service Center, you can view the DNS settings of your domain. DNS is short for Domain Name System. DNS makes it possible for your customers to enter the domain name instead of the numerical IP address of your online store.</p>
</div>
<div class="sect4">
<h5 id="_updating_dns_settings_for_external_domain_providers">Updating DNS settings for external domain providers</h5>
<div class="paragraph">
<p>If your domain is hosted by an external provider, you need to save the DNS settings of your plentymarkets system with your external domain provider. Proceed as described below to view the DNS settings that need to be saved with the external provider.</p>
</div>
<div class="paragraph instruction">
<p>Viewing DNS settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Service center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Click on the blue plus icon next to the domain to view the DNS settings.</p>
</li>
<li>
<p>The table <strong>Current DNS settings</strong> shows the DNS settings.</p>
</li>
<li>
<p>Log into the service area of your domain provider.</p>
</li>
<li>
<p>Copy the DNS settings shown in the plentymarkets Service center into the relevant fields of the domain provider. <br>
→ Check the documentation of the domain provider on how to do this.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The DNS settings are updated. <br>
<strong><em>Note:</em></strong> It can take up to 72 hours to process these changes. plentymarkets cannot influence this duration.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Current DNS settings</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DNS Source</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>DNS source</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DNS Record Type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Type of DNS enty <br>
<strong>A</strong> = An IPv4 is assigned. <br>
<strong>CNAME</strong> = A different host is assigned.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DNS Target</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The target of the enty. <br>
IP address = The IP address of the plentymarkets system. <br>
CNAME = The address of the AWS load balancer endpoint that provides elastic load balancing, i.e. autoscaling.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect4">
<h5 id="_external_domains_updating_dns_settings_for_autoscaling">External domains: Updating DNS settings for autoscaling</h5>
<div class="paragraph">
<p>If your domain is hosted by an external provider, you need to update the DNS settings of your plentymarkets system with your external domain provider to benefit from autoscaling. Proceed as described below to edit the DNS settings of the external domain.</p>
</div>
<div class="paragraph instruction">
<p>Updating DNS settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Service center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Click on the blue plus icon next to the domain to view the DNS settings.</p>
</li>
<li>
<p>The table <strong>Current DNS settings</strong> shows the DNS settings.</p>
</li>
<li>
<p>Check if a CNAME entry with the alias xxxx.amazonaws.com exists. <br>
→ If the CNAME entry is there, the system is ready for AutoScaling. Continue with step 5.</p>
</li>
<li>
<p>Log into the service area of your domain provider.</p>
</li>
<li>
<p>Copy the DNS settings shown in the plentymarkets Service center into the relevant fields of the domain provider. <br>
→ Check the documentation of the domain provider on how to do this.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The DNS settings are updated. <br>
<strong><em>Note:</em></strong> It can take up to 72 hours to process these changes. plentymarkets cannot influence this duration.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Current DNS settings</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DNS Source</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>DNS source</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DNS Record Type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Type of DNS enty <br>
<strong>A</strong> = An IPv4 is assigned. <br>
<strong>CNAME</strong> = A different host is assigned.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DNS Target</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The target of the enty. <br>
IP address = The IP address of the plentymarkets system. <br>
CNAME = The address of the AWS load balancer endpoint that provides elastic load balancing, i.e. autoscaling.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Checking the DNS:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>DNS check</strong>. <br>
→ The information is displayed in a new window.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong>MX</strong> stands for Mail Exchange Resource Record. <a href="/en/basics/working-with-plentymarkets/plentymarkets-account#domain-mailserver"><strong>Mail server</strong></a> parameters that are available for receiving and sending emails.</p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="domain-nameserver">6.3.4. Name server</h4>
<div class="paragraph">
<p>Displays the currently used Domain Name Server (DNS).</p>
</div>
</div>
<div class="sect3">
<h4 id="domain-mailserver">6.3.5. Mail server</h4>
<div class="paragraph">
<p>The mail servers that are available for receiving and sending emails. You do not need to carry out any additional settings if you use the plentymarkets mail server. If you use your own server, then save the values for the IP address as well as MX10 through MX40 if available. The server MX10 takes priority over MX20. In other words, emails are first sent to mail server MX10. If it is not available, then they will be sent to mail server MX20. The lower the MX number, the higher its priority. You should save at least two mail servers to ensure that the availability is never compromised. For example, if a server is down or needs to be maintained, then it will still be possible to receive emails with the other one.</p>
</div>
<div class="paragraph">
<p>The mailbox.org mail server is selected by default when you order a new domain. The plentymarkets mail server is not available for external domains or domains with external system links.</p>
</div>
<div class="paragraph instruction">
<p>Saving the mail server:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Service center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Click on the <strong>blue plus</strong> icon next to the domain that you want to save a mail server for.</p>
</li>
<li>
<p>Select the option <strong>plentymarkets mail server</strong> or <strong>Own mail server</strong> from the <strong>Mail server</strong> drop-down menu.</p>
</li>
<li>
<p>If you use your own mail server, then pay attention to the explanations given in table 2.</p>
</li>
<li>
<p>Click on <strong>Save mail server</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Configuring your own mail server:</div>
<div class="paragraph">
<p>If you use your own mail server, then configure the external mail server before you enter the parameters in this area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the incoming mail server’s IP address. Access is provided with the address <strong>mail.yourdomain.com</strong>. <br>
Select the parameters that correspond to your domain. This page shows examples only.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MX10</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the mail server for receiving emails. Highest priority (10)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MX20</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter an additional mail server for receiving emails. Second highest priority (20)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MX30</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter an additional mail server for receiving emails. Third highest priority (30)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MX40</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter an additional mail server for receiving emails. Lowest priority (40)</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: parameters for configuring your own mail server</em></p>
</div>
<div class="paragraph">
<p>Learn more about saving email access data based on the example of 1&amp;1 in the following video tutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/178192914" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_linking_a_system">6.3.6. Linking a system</h4>
<div class="paragraph">
<p>Here you can link the domain to a plentymarkets system or you can edit an existing system link. If you set up multiple domains, then you can select which one should be used as the main domain for each plentymarkets client. The URL will then be displayed in the browser’s address line. This is even true for the other domains. It may take up to 24 hours until all of the settings or changes are available on all systems.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Switching the main domain</div>
<div class="paragraph">
<p>If you switch the main domain, then change the URL accordingly on all platforms and in the interface settings in your plentymarkets system, e.g. in the settings for payment providers. <br>
Furthermore, go to <a href="/en/order-processing/payment/managing-bank-details#70"><strong>Settings » Orders » Payment » EBICS</strong></a> and save the data there once again, in order to update the basic settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Linking a external system</div>
<div class="paragraph">
<p>The plentymarkets system cannot be linked to an external server if the domain is a main domain. In this case, save a different domain as the main domain before proceeding.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Linking a plentymarkets system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the plentymarkets system that you want to link the domain to.</p>
</li>
<li>
<p>If you use your own server, then select the setting <strong>external server</strong>.</p>
</li>
<li>
<p>Enter the server’s IP address (A-Record).</p>
</li>
<li>
<p>Click on the <strong>Save system link</strong> button.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="auth-code">6.3.7. Domain auth code</h4>
<div class="paragraph">
<p>You need to have an authentication code for your domain if you switch to a different <a href="/en/basics/working-with-plentymarkets/plentymarkets-account#domain"><strong>provider</strong></a>. This auth code proves that you own the domain. You can generate the auth code in this area.</p>
</div>
<div class="paragraph instruction">
<p>Generating the domain auth code:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Generate domain auth code</strong> in order to generate the authentication code. <br>
→ The code will be generated and displayed in the <strong>Domain auth code</strong> line.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Validity of the domain auth code</div>
<div class="paragraph">
<p>A domain auth code is valid for 30 days. If you do not use the code during this time, then you will have to generate a new code after the 30 days.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_cname_resource_record">6.3.8. CNAME Resource Record</h4>
<div class="paragraph">
<p>A Canonical Name or CNAME record is a type of DNS record that links an alias name to another canonical domain name (Source: <a href="http://support.google.com/a/bin/answer.py?hl=en&amp;answer=112037" class="bare">http://support.google.com/a/bin/answer.py?hl=en&amp;answer=112037</a>). For example, you can use it along with the provider <strong>Shopgate</strong> to create a mobile version of your online store or you can use it to set up an external email service. In the example, the source <em><strong>mobile.your-shop.com</strong></em> is the mobile version of the domain <em><strong>your-shop.com</strong></em>. Use the Shopgate subdomain <em><strong>cname.shopgate.com</strong></em> as the target (image 1). This CNAME entry ensures that your store will have the correct resolution with Shopgate.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/EN-Service-Center-Domain-01.png" alt="EN Service Center Domain 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: entering the CNAME</em></p>
</div>
</div>
<div class="sect3">
<h4 id="_txt_record">6.3.9. TXT Record</h4>
<div class="paragraph">
<p>Use the TXT Resource Record to save a user-definable text within a DNS zone. This can be done for your main domain as well as for all sub-domains of your online store. For example, email or newsletter service providers may require such entries. You will receive the texts to be entered here directly from your service provider.</p>
</div>
</div>
<div class="sect3">
<h4 id="200">6.3.10. Saving name servers for sub-domains</h4>
<div class="paragraph">
<p>In the <strong>Name server for sub-domains</strong> area, enter one or more name servers for a sub-domain.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name servers can be saved for sub-domains of a main domain only.</p>
</li>
<li>
<p>Enter more than one name server separated by commas.</p>
</li>
<li>
<p>Enter the name server’s domain name.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Save a name server for sub-domains e.g. to send Newsletter2Go newsletters from an <a href="https://www.newsletter2go.co.uk/features/newsletter-dispatch-dedicated-ips/" target="_blank"><strong>exclusive</strong></a><strong> to optimise delivery rates. If you have booked this Newsletter2Go service, enter the Newsletter2Go name server as the target server. You will receive the necessary information regarding sub-domains and name server from Newsletter2Go.</strong></p><strong>
</strong></div><strong>
<div class="paragraph">
<p>Proceed as described below to save a name server for a sub-domain.</p>
</div>
<div class="paragraph instruction">
<p>Saving name servers for sub-domains:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Service center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Click on the <strong>blue plus</strong> icon of the main domain.</p>
</li>
<li>
<p>In the <strong>Name server for sub-domains</strong> area, enter the sub-domain in the <strong>Sub-domain</strong> field.</p>
</li>
<li>
<p>Enter the domain name of the target server in the <strong>Target</strong> field. Separate several domain names by commas.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</strong></div><strong>
<div class="sect3">
<h4 id="_domain_transfer">6.3.11. Domain transfer</h4>
<div class="paragraph">
<p>If you want to switch to a different webhosting provider, then you will need to carry out a domain name transfer (also known as a KK or auth info procedure in Germany). You need to fill out a standardized form of authorization in order for the domain to be transferred. The German form is called a connectivity coordination application, abbreviated as a KK-Antrag. The connectivity coordination application regulates the switch from one provider to another. The auth info procedure is becoming more and more popular.</p>
</div>
<div class="paragraph">
<p>Please note the following points when switching to a different web hosting provider:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Generate an <a href="/en/basics/working-with-plentymarkets/plentymarkets-account#auth-code"><strong>auth code</strong></a>.</p>
</li>
<li>
<p>Do not delete your previous domain name with your current provider.</p>
</li>
<li>
<p>Tell your current provider about your plans to transfer the domain and let them know that they will soon receive an authorization form.</p>
</li>
<li>
<p>Contact the new provider in regards to the transfer. Your new provider will ask you to sign a form and confirm that you want to transfer the domain.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>It is usually possible to transfer the domain without any problems. The process can be completed in a short amount of time. However, if you have any problems with the domain transfer because of incomplete or unclear data, then your old provider may initially reject the transfer. In such a case, contact the old provider as soon as possible. The current provider can only accept the transfer once there are no further uncertainties.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">IPS tag</div>
<div class="paragraph">
<p>If you want to transfer your <strong>.uk</strong> or <strong>co.uk</strong> domain to us from a different domain provider, you need to have your current domain provider adapt the IPS tag in advance. The IPS tag of our domain provider is:</p>
</div>
<div class="paragraph">
<p><strong>UNITEDDOMAINS-DE</strong></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_url_forwarding">6.3.12. URL forwarding</h4>
<div class="paragraph">
<p>The <strong>URL forwarding</strong> area allows you to set up forwarding for an extra charge. Proceed as described below to set up forwarding.</p>
</div>
<div class="paragraph instruction">
<p>Setting up URL forwarding:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Service center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Click on the <strong>blue plus</strong> icon next to the domain that you want to forward from.</p>
</li>
<li>
<p>Click on the <strong>URL forwarding instructions</strong>.</p>
</li>
<li>
<p>Read the information that is displayed.</p>
</li>
<li>
<p>Pay attention to the instructions and enter the forwarding information into the designated field.</p>
</li>
<li>
<p>Click on <strong>Save URL forwarding</strong>.</p>
</li>
</ol>
</div>
</div>
</strong></div><strong>
</strong></div><strong>
</strong></div><strong>
<div class="sect1">
<h2 id="ssl-certificate">7. SSL certificate</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Start » plentymarkets account » Service center » Tab: Domain</strong></p>
</div>
<div class="sect2">
<h3 id="_content_of_this_page">7.1. Content of this page</h3>
<div class="paragraph">
<p>This page provides information about SSL certificates. You will find out how to check for the expiration date of your SSL certificate and how to order a new SSL certificate or deactivate your active SSL certificate if necessary.</p>
</div>
</div>
<div class="sect2">
<h3 id="_information_about_ssl_certificates">7.2. Information about SSL certificates</h3>
<div class="paragraph">
<p>An <em><strong>SSL certificate</strong></em> is used to <em><strong>encode</strong></em> your website. It also provides a <em><strong>secure connection</strong></em> to your website and online store. An SSL certificate is required for certain <em><strong>markets</strong></em> and for receiving the <em><strong>Trusted Shops</strong></em> certification. Your customers can easily see when you are using an SSL certificate as your website will then be accessed via <em><strong>https</strong></em>.</p>
</div>
<div class="paragraph">
<p>An SSL certificate is valid for <strong><em>at least one year</em></strong>. It is <strong><em>not renewed automatically</em></strong>. Therefore, you need to access the <strong>plentymarkets Service Center</strong> and order a new SSL certificate before your old certificate expires. You always order a new certificate. This means that even if you already own an SSL certificate that is about to expire, you still select a certificate provider and duration from scratch. plentymarkets will place the order on your behalf with the certificate provider you choose and will bill you for the purchase price. There will be no monthly fee for using SSL.</p>
</div>
<div class="paragraph">
<p>You order the SSL certificate for your <strong><a href="/en/basics/working-with-plentymarkets#domain">main domain</a></strong>, i.e. the one that you set as the main domain in the <strong><a href="/en/basics/working-with-plentymarkets#domain">Start » plentymarkets account » Service Center » Tab: Domain</a></strong> menu. If you want to use an SSL certificate for a different domain, you will have to set this domain as your main domain first.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">No SSL certificates for canceled domains or test domains</div>
<div class="paragraph">
<p>You cannot order SSL certificates for canceled domains or for start-up / test domains, i.e. domains with names that contain <strong>plenty-testdrive.eu</strong>, <strong>plentymarkets-x1.com</strong> etc. For this reason, the <strong>Order SSL certificate</strong> button is not displayed for these types of domains.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_expiration_date_of_your_ssl_certificate">7.3. Expiration date of your SSL certificate</h3>
<div class="paragraph">
<p>You can check the expiration date of your SSL certificate and order a new SSL certificate in the <a href="/en/basics/working-with-plentymarkets#domain"><strong>Domain</strong></a> tab of your plentymarkets Service center.</p>
</div>
<div class="paragraph">
<p>A new certificate becomes valid immediately or, if the certificate provider carries out some quality controls, within about 24 hours. You cannot select a later starting date for the certificate’s validity. This means that the certificate becomes valid as soon as the certificate provider confirms your order.</p>
</div>
</div>
<div class="sect2">
<h3 id="_ordering_a_new_ssl_certificate">7.4. Ordering a new SSL certificate</h3>
<div class="paragraph">
<p>Before you order, check that the E-mail address <strong><em>hostmaster@yourDomain</em></strong> is set up in your system and that E-mails to this address are not forwarded to the plentymarkets support. Then proceed as described below to order a new SSL certificate.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Setting up the E-mail address hostmaster@yourDomain</div>
<div class="paragraph">
<p>Before ordering, set up the <a href="/en/crm/sending-emails"><strong>E-mail address</strong></a><em><strong>hostmaster@yourDomain</strong></em>. During the order process, you will receive one E-mail from plentymarkets and another from the SSL certificate provider at this address.<br>
If this E-mail address is already set up in your system, you need to check that E-mails sent to it are not <a href="/en/crm/sending-emails"><strong>forwarded</strong></a> to the E-mail address <em><strong>support@plentymarkets.com</strong></em>. Deactivate any forwarding to make sure that you receive the E-mails yourself.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Ordering a new SSL certificate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Service center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Click on the <strong>blue plus icon</strong> to open your <em><strong>main domain</strong></em>.</p>
</li>
<li>
<p>Click on <strong>Order SSL certificate</strong>.<br>
→ If your current SSL certificate is valid for at least another 21 days, you will be prompted to confirm that you want to proceed with your order. Confirm your selection if you want to order a new certificate ahead of time.</p>
</li>
<li>
<p>Click on <strong>Continue order</strong> in the window <strong>Confirm SSL certificate</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Do not log out of the Service center</div>
<div class="paragraph">
<p>Do not log out of the plentymarkets Service center during the order process. Stay logged in until you have completed the order process and received and confirmed both E-mails.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>plentymarkets will now send an <strong><em>E-mail</em></strong> to your E-mail address <em><strong>hostmaster@yourDomain</strong></em>. Read the information it contains and then click on the link <strong>Confirm SSL order</strong>. If your current SSL certificate is valid for at least another 21 days, you will again be prompted to confirm that you want to proceed with your order. Confirm your selection if you want to order a new certificate ahead of time.</p>
</div>
<div class="paragraph">
<p>The available SSL certification bodies and durations are now displayed. Decide which certificate you want to order and then proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Selecting the SSL certificate provider and duration:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the <strong>Order now</strong> button for the SSL certificate you want to buy.<br>
→ The certificate provider sends an E-mail to your E-mail address <em><strong>hostmaster@yourDomain</strong></em>.</p>
</li>
<li>
<p>Read the information in this E-mail and then click on the link it contains. You will be directed to the confirmation page of the certificate provider.</p>
</li>
<li>
<p>Check the information displayed on this page and then confirm your order by clicking on the relevant button.<br>
→ Your order is complete. If the certificate provider does not carry out any quality controls (see note below), then the validity details of your new SSL certificate are displayed in the <strong>Domain</strong> tab of the Service center after about 10 minutes.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Quality control measures by the certificate provider</div>
<div class="paragraph">
<p>In some cases, the certificate provider will carry out some quality controls before it activates the SSL certificate. Therefore, you should always read the confirmation message displayed on the screen closely. These quality controls usually take up to 24 hours. If the status has not changed to "Done" after 24 hours in the plentymarkets Service center, create a new topic in the plentymarkets forum and include your domain details.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_deactivating_the_ssl_certificate">7.5. Deactivating the SSL certificate</h3>
<div class="paragraph">
<p>You can deactivate an active SSL certificate temporarily or permanently. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Deactivating the SSL certificate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Service center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Click on the <strong>blue plus icon</strong> to open your <em><strong>main domain</strong></em>.</p>
</li>
<li>
<p>Click on the <strong>Deactivate SSL certificate</strong> button.<br>
→ Your SSL certificate will be deactivated.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can reactivate your SSL certificate at any time by clicking on the <strong>Activate SSL certificate</strong> button. It can take up to 4 hours for the SSL certificate to be deactivated or activated.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Expiration date remains the same</div>
<div class="paragraph">
<p>The total validity period of your SSL certificate is not extended when it is temporarily deactivated.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_external_domain_or_external_ssl">7.6. External domain or external SSL</h3>
<div class="paragraph">
<p>A domain can be hosted externally. The <strong>external domain</strong> then needs to be forwarded to us via A resource record (forwarding of the IP address).</p>
</div>
<div class="paragraph">
<p>The <strong>SSL certificate</strong> needs to be saved close to the system. This means even if the domain is hosted externally, the actual encoding is done directly in the system after the domain forwarding via IP address was carried out. For security reasons, it is not possible to use an external SSL certificate. The SSL certificate needs to be ordered from us.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="client-store">8. Client (store)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, the term <a href="/en/omni-channel/online-store/setting-up-clients"><strong>client (store)</strong></a> refers to additional online stores that are all managed with the same plentymarkets system as the default store. Go to <strong>Start » plentymarkets account » Service Center » Tab: Client (store)</strong> to see all of your clients (stores). If needed, you can also cancel clients (stores) in this menu.</p>
</div>
<div class="sect2">
<h3 id="_check_created_domain">8.1. Check: created domain?</h3>
<div class="paragraph">
<p>You need to have a <a href="/en/basics/working-with-plentymarkets#domain"><strong>domain</strong></a> before you can order a client (store). If needed, click on the <strong>Domain</strong> tab and create a domain for the main system.</p>
</div>
</div>
<div class="sect2">
<h3 id="_ordering_a_client_store">8.2. Ordering a client (store)</h3>
<div class="paragraph">
<p>Order a client (store) by opening the service center, clicking on the <strong>Contract</strong> tab and then clicking on the button <strong>System configurator</strong>. Use the system configurator to make the desired changes to your contract.</p>
</div>
</div>
<div class="sect2">
<h3 id="_canceling_a_client_store">8.3. Canceling a client (store)</h3>
<div class="paragraph">
<p>Go to <strong>Start » plentymarkets account » Service center » Tab: Client (store)</strong> and click on <strong>Cancel client (store)</strong> to cancel a client (store). Confirm the cancellation in the window that is displayed. The start and end of the contract will be displayed.</p>
</div>
</div>
<div class="sect2">
<h3 id="_editing_the_domain_settings_for_clients_stores">8.4. Editing the domain settings for clients (stores)</h3>
<div class="paragraph">
<p>The tab <strong>Client (store)</strong> also displays information about the domains that are assigned to your clients. Make changes to these settings as described on the <strong><a href="/en/basics/working-with-plentymarkets#domain">Domain</a></strong> page of the manual.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="cache">9. Cache</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Start » plentymarkets account » Service center » Tab: Cache</strong></p>
</div>
<div class="sect2">
<h3 id="_cache_function">9.1. Cache function</h3>
<div class="paragraph">
<p>The <strong>static content</strong> of your online store, e.g <strong>item images</strong>, are stored in the <strong>cache</strong> for a certain amount of time. This makes it possible to display such content as quickly as possible. If you make changes, e.g. to an image, then these changes will not go into effect immediately. Rather, they will only become visible once a certain amount of time has passed. It may take up to one hour.</p>
</div>
<div class="paragraph">
<p>Take a look at our <a href="https://www.plentymarkets.co.uk/blog/Im-Rollout-Mehr-Geschwindigkeit-bei-durchgehender-SSL-Verschluesselung/b-1207/"><strong>blog entry</strong></a> about this topic (only available in German).</p>
</div>
</div>
<div class="sect2">
<h3 id="_deactivating_the_cache_temporarily">9.2. Deactivating the cache temporarily</h3>
<div class="paragraph">
<p>Additionally, you can deactivate your system’s cache for a limited period of time. Select the start and the end of your deactivated cache from the drop-down menu. Once you have selected a time in the drop-down menu <strong>From</strong>, you will be able to select a subsequent time from the drop-down menu <strong>To</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/ENG-Start-pm-Konto-Cache02-SI.png" alt="ENG Start pm Konto Cache02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>Deactivate cache temporarily</strong> function</em></p>
</div>
<div class="paragraph instruction">
<p>Deactivating the cache temporarily:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select your desired values from the drop-down menus <strong>From</strong> and <strong>To</strong> (image 2, number 1).</p>
</li>
<li>
<p>Click on the <strong>Temporarily deactivate cache</strong> button (image 2, number 2).<br>
→ Your system’s cache will be deactivated for the selected period of time.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_permanent_ssl_redirect">9.3. Permanent SSL redirect</h3>
<div class="paragraph">
<p>If you booked an SSL certificate, then your website will be completely encoded. The technology (SNI/TLS) is a common standard that has been used for years. It is supported by all current browsers. However, some of your visitors may use older browsers that do not support this standard. If you deactivate the SSL redirect, then visitors with older browsers will also be able to click through your online store. However, customers will only be able to place an order with current browsers. The sales order process is always encoded, even if the SSL redirect was deactivated. You can inform customers here that it is only possible to place an order with current browsers.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/ENG-Start-pm-Konto-Cache03-SI.png" alt="ENG Start pm Konto Cache03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: <strong>Permanent SSL redirect</strong> function</em></p>
</div>
<div class="paragraph instruction">
<p>Deactivating the permanent SSL redirect:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the <strong>&lt; IE 9 inactive</strong> option from the drop-down menu.</p>
</li>
<li>
<p>Click on the <strong>Save permanent SSL redirect</strong> button.<br>
→ Your system’s SSL redirect will be deactivated.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_your_agency">10. Your agency</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the menu <strong>Start » plentymarkets account » Service center » Tab: Your agency</strong>, you can grant up to two plentymarkets certified service providers access to specific areas of your system. As such, you allow a design agency and/or a consultant to carry out the following tasks in your plentymarkets system:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Your service provider can delete the cache or temporarily deactivate the cache whilst working on the design in order to work more efficiently.</p>
</li>
<li>
<p>Your service provider can also view and answer your support tickets. In other words, your service provider can directly communicate with our support staff. Of course, you can still follow along with the discussion yourself.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_granting_access_to_certified_service_providers">10.1. Granting access to certified service providers</h3>
<div class="paragraph">
<p>Proceed as described below to provide the agency and/or the consultant you work with access to the system areas described above:</p>
</div>
<div class="paragraph instruction">
<p>Assigning service providers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Service center » Tab: Your agency</strong>.</p>
</li>
<li>
<p>Select the agency and/or consultant you currently work with and who you want to provide access for from the drop-down menu.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.<br>
→ The service providers are now linked to your system and have access to the areas mentioned above.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_screen_seen_by_agencies">10.2. Screen seen by agencies</h3>
<div class="paragraph">
<p>After you provided your agency access, the agency can access the options mentioned above. Image 1 shows an example of the data that can then be seen by your agency.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/EN-Service-Center-Your-agency-01.png" alt="EN Service Center Your agency 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: screen seen by authorized agencies</em></p>
</div>
<div class="paragraph">
<p>The following information is available to the agency in the individual tabs:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Overview</strong>: The agency has access to the information in your <strong>Service Center</strong> under <strong>Tab: Systems » Tab: Overview</strong>.</p>
</li>
<li>
<p><a href="/en/basics/working-with-plentymarkets/plentymarkets-account#contract"><strong>Contract</strong></a>: Your current tariff is displayed here but can not be changed.</p>
</li>
<li>
<p><a href="/en/basics/working-with-plentymarkets/plentymarkets-account#cache"><strong>Cache</strong></a>: The agency can delete the cache or temporarily deactivate the cache of your system.</p>
</li>
<li>
<p><a href="/en/crm/using-the-ticket-system"><strong>Tickets</strong></a>: The agency has access to the information in the <strong>My account area</strong> under <strong>Tickets</strong>. In other words, the agency’s employees can create and answer tickets themselves.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_memory_capacity_and_traffic">11. Memory capacity and traffic</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start &gt; plentymarkets account &gt; Memory capacity &amp; traffic</strong></p>
</div>
<div class="paragraph">
<p>Don’t forget to check and save your settings or changes!</p>
</div>
<div class="sect2">
<h3 id="_memory_capacity_and_traffic_2">11.1. Memory capacity and traffic</h3>
<div class="paragraph">
<p>Each plentymarkets system comes with enough <strong>memory capacity</strong> and <strong>traffic</strong> to manage day-to-day business operations. Traffic is generated every time a customer visits your online store, clicks on various items, clicks on images to enlarge them, downloads files, etc.</p>
</div>
<div class="paragraph">
<p>Additional traffic is generated if you are registered with various <strong>markets</strong> e.g. Yatego, Amazon, eBay, etc.</p>
</div>
<div class="paragraph">
<p><strong>SOAP calls</strong> also generate additional traffic, since they create connections to the server. Depending on the type of call, they may generate a substantial amount of traffic. You should optimize your calls, e.g. so that you do not retrieve all of the information, but rather only the changes.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>For further information about SOAP calls, refer to the <strong>SOAP API / Troubleshooting</strong> page of the manual. There you will find information about the <strong>SOAP log</strong>.</p>
</div>
</div>
</div>
<div class="paragraph">
<p>Even more traffic is generated if your website is "scanned" by so-called <strong>bots</strong> (Info: <a href="http://en.wikipedia.org/wiki/Web_crawler" class="bare">http://en.wikipedia.org/wiki/Web_crawler</a>). Bots do the following: They look at your website and save it (content download = traffic). For example, a Google bot does this so that Google can find items from your store along with their descriptions. Bots are controlled by their own algorithms, which makes it impossible to predict when they will visit your website.</p>
</div>
<div class="paragraph">
<p>If your <strong>collection of items</strong> has expanded (meaning more images etc.) and more bots have discovered your page, then there will also be a higher amount of traffic.</p>
</div>
<div class="paragraph">
<p>You can check this by going to <strong>Settings &gt; Client (store) &gt; Global settings &gt; Statistics</strong> and looking at your <strong>Webalizer statistics</strong>.</p>
</div>
<div class="paragraph">
<p>In this menu, you will see your required <strong>memory capacity</strong>, the amount of <strong>traffic</strong> used as well as an overview of the available <strong>data records</strong> for items, auctions, sales orders and customers in your plentymarkets system. The number of items and traffic included in your system varies depending on the contract that was agreed upon. This means that you will be billed if you happen to exceed the amount of memory available to you. You can use this overview to help keep track of these parameters.</p>
</div>
<div class="paragraph">
<p>If you want to minimize the amount of <strong>robots</strong> accessing your website, then you can block them with the <strong>robots.txt file</strong>.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>The "robots.txt" file is <strong>not a 100% guarantee</strong>!<br>
For further information about robots, refer to: <a href="http://en.wikipedia.org/wiki/Robots_exclusion_standard">http://en.wikipedia.org/wiki/Robots_exclusion_standard</a><br>
Pay attention to these points in order to avoid unnecessary traffic.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_displaying_the_parameters">11.2. Displaying the parameters</h3>
<div class="paragraph">
<p>Under <strong>memory capacity &amp; traffic</strong>, you can see the values that were used in <strong>megabytes</strong> (MB).</p>
</div>
<div class="paragraph">
<p>Under <strong>data records</strong>, you can see the <strong>number</strong> of individual data records that are saved in your plentymarkets system.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/EN-ENG-Start-Speicherplatz-Traffic01-SI.png" alt="EN ENG Start Speicherplatz Traffic01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>memory capacity &amp; traffic</strong> menu</em></p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="relocation">12. Relocation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the menu <strong>Start » plentymarkets account » Relocation</strong> to relocate your system to a different cloud free of charge. The <strong>Relocation</strong> menu also lists the status of any currently planned relocation projects and information about any previous relocation projects. Refer to our website for further information about the <a href="https://www.plentymarkets.co.uk/product/cloud-hosting/"><strong>cloud solutions provided by plentymarkets</strong></a>.</p>
</div>
<div class="sect2">
<h3 id="_system_relocation_requirements">12.1. System relocation requirements</h3>
<div class="paragraph">
<p>Make sure to fulfill the following requirements before you begin planning to relocate your system to a different cloud:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Your domain must be managed by plentymarkets. If this is not the case, then relocate your <a href="/en/basics/working-with-plentymarkets#domain"><strong>main domain</strong></a>.</p>
</li>
<li>
<p>You must have a current plentymarkets cloud contract. If this is not the case, then change your <a href="https://www.plentymarkets.co.uk/prices/book-plentymarkets-classic/"><strong>contract</strong></a>.</p>
</li>
<li>
<p>The system relocation must be scheduled to begin at least 2 days in the future.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Files on FTP server are not migrated</div>
<div class="paragraph">
<p>When your system is relocated to a different cloud, the FTP host address of the plentymarkets system also changes. The files stored on the old FTP host are not copied to the new FTP host address during relocation. You need to move the FTP files manually.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_planning_a_relocation">12.2. Planning a relocation</h3>
<div class="paragraph">
<p>Proceed as described below to plan the relocation of your system to a different cloud. Please note that it is not possible to simultaneously relocate more than one system per cloud. As such, the relocation start time may be delayed.</p>
</div>
<div class="paragraph instruction">
<p>Planning a relocation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Relocation</strong>.</p>
</li>
<li>
<p>Click on the <strong>Plan relocation</strong> tab.</p>
</li>
<li>
<p>Select the target cloud, i.e. the cloud where you want to relocate your system to.<br>
→ The cost of the target cloud will be displayed.</p>
</li>
<li>
<p>Select the date when the system relocation should begin.</p>
</li>
<li>
<p>Select the time when the system relocation should begin.<br>
→ The system relocation must be scheduled to begin at least 2 days in the future.</p>
</li>
<li>
<p>Click on <strong>Start relocation</strong> to request that the system be relocated.<br>
→ The planned relocation will be displayed in the <strong>Planned relocation</strong> tab. It will be started at the time indicated.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Store availability</div>
<div class="paragraph">
<p>For mid-sized systems, relocation takes approximately 20 minutes. However, the actual duration always depends on the volume of data that is to be relocated. Your plentymarkets system is available during this time. However, you can not save any changes in the system. The order process is deactivated in your online store while your system is being relocated. Therefore, choose a time when you do not anticipate a large amount of traffic. We recommend that you plan the relocation for the middle of the night.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_canceling_a_planned_relocation">12.3. Canceling a planned relocation</h3>
<div class="paragraph">
<p>You can cancel a planned relocation any time before all of the processes in the menu <strong>Start » plentymarkets account » Relocation » Tab: Planned relocation</strong> have been completed. The relocation will be canceled as soon as possible. It may not be possible to cancel the relocation immediately. Proceed as described below to cancel a planned relocation.</p>
</div>
<div class="paragraph instruction">
<p>Canceling a relocation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » plentymarkets account » Relocation</strong>.</p>
</li>
<li>
<p>Click on the <strong>Planned relocation</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Cancel relocation</strong>.<br>
→ The relocation will be canceled as soon as possible. Processes that were already completed will be relocated back to the previous cloud.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If all processes have already been completed, i.e. if the system has been relocated completely, you will need to request a new relocation to move your system back to the previous cloud.</p>
</div>
</div>
</div>
</div></strong>
</main>