<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#catalogue-menu"><span>1.</span><span> First introduction: menu structure</span></a></li>
<li><a href="#create-catalogue"><span>2.</span><span> Creating catalogues</span></a></li>
<li><a href="#catalogue-settings"><span>3.</span><span> Setting up catalogue export</span></a>
<ul class="sectlevel2">
<li><a href="#format-settings"><span>3.1.</span><span> Carrying out the format settings</span></a></li>
<li><a href="#export-settings"><span>3.2.</span><span> Carrying out the export settings</span></a></li>
<li><a href="#download-settings"><span>3.3.</span><span> Setting up the download</span></a></li>
</ul>
</li>
<li><a href="#data-export"><span>4.</span><span> Selecting data for export</span></a>
<ul class="sectlevel2">
<li><a href="#add-fields"><span>4.1.</span><span> Adding data fields to export</span></a></li>
<li><a href="#delete-fields"><span>4.2.</span><span> Removing data fields from export</span></a></li>
<li><a href="#filter-data"><span>4.3.</span><span> Filtering export data</span></a></li>
</ul>
</li>
<li><a href="#export-data"><span>5.</span><span> Exporting catalogue data</span></a>
<ul class="sectlevel2">
<li><a href="#preview"><span>5.1.</span><span> Creating an export preview</span></a></li>
<li><a href="#activate-catalogue"><span>5.2.</span><span> Activating automatic catalogue export</span></a></li>
<li><a href="#manual-export"><span>5.3.</span><span> Starting a manual export in the catalogue</span></a></li>
</ul>
</li>
<li><a href="#faq"><span>6.</span><span> FAQ</span></a></li>
<li><a href="#manage-catalogues"><span>7.</span><span> Managing catalogues: how to delete, copy, etc.</span></a>
<ul class="sectlevel2">
<li><a href="#catalogue-rights"><span>7.1.</span><span> Assigning rights for back end users</span></a></li>
<li><a href="#15"><span>7.2.</span><span> Customizing catalogue overview columns</span></a></li>
<li><a href="#190"><span>7.3.</span><span> Copying catalogues</span></a></li>
<li><a href="#210"><span>7.4.</span><span> Deleting catalogues</span></a></li>
<li><a href="#240"><span>7.5.</span><span> Restoring a deleted catalogue</span></a></li>
<li><a href="#250"><span>7.6.</span><span> Restoring another catalogue version</span></a></li>
<li><a href="#270"><span>7.7.</span><span> Exporting catalogues</span></a></li>
<li><a href="#280"><span>7.8.</span><span> Importing catalogues</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Catalogues: Standard formats</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use catalogue standard formats to export data from your plentymarkets system to a file. You can create export files in the formats CSV, JSON, TXT or XML.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
This page is new and we always want to improve. Couldn’t find what you are looking for or do you think something could be explained better? Then let us know by using the feedback function. The more details you provide, the more we can improve this page.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Which standard format you choose depends on the type of data you want to export:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>For example, to export stock information, use the standard format <a href="#data/exporting-data/catalogues-stocks">Stocks</a>.</p>
</li>
<li>
<p>To export item data, the standard format <a href="/en/data/exporting-data/catalogues-item">Item</a> is available.</p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
However, not all types of data can currently be exported using catalogues. Until standard formats are available for all types of data, you can still use the <a href="/en/exporting-data/FormatDesigner">Formatdesigner</a>.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="catalogue-menu">1. First introduction: menu structure</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/exporting-data/assets/menu-structure-standard-format.png" alt="menu structure standard format">
</div>
</div>
<div class="paragraph">
<p><em>Menu structure of a catalogue with standard format</em></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Navigation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>When you open a catalogue, the view <strong>Mapping</strong> is shown by default. Use the navigation to switch to other views of the catalogue.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-search  "></i></span> <strong>Overview</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Go back to the catalogue overview, that is to the list of catalogues.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><span class="icon darkGrey"><i class="fa fa-plus  "></i></span> Create catalogue</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Create a new catalogue.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>List of opened catalogues</em></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The navigation shows all catalogues that you accessed during your current session. This allows you to quickly switch between the catalogues you are currently working on. The catalogue that is currently on view is shown in blue. The names of the other catalogues are shown in grey.<br>
<strong><em>Tip:</em></strong> If the list gets too long or you find it distracting, point your cursor to a catalogue in the list. An X is shown. Click on that X to close the catalogue.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-cog  "></i></span> Settings</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Open the catalogue settings.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Basic settings = Name and format type of the catalogue. You enter this information to create a catalogue.</p>
</li>
<li>
<p>Format settings = Settings for the export file structure</p>
</li>
<li>
<p>Export settings = Settings for automatic export</p>
</li>
<li>
<p>Download settings = Settings for the URL that is used to access the export file</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_return_create_edit"></i></span> <strong>Data fields</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Shown when you open the catalogue. In this view, you select the data fields that you want to export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-filter_alt"></i></span> Filter</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Add filters to only export specific records.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">(<span class="icon "><i class="psicon-order_return_create_edit"></i></span>) Own data fields</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Own data fields are currently not available for most exports.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Toolbar</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The toolbar provides actions for the catalogue.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 83.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-save  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Saves the catalogue settings.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-preview"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Creates a preview of the export data. The preview contains the first 5 data rows of the export file.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="psicon-download"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Starts the manual download of the catalogue data.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-more_vert"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Show additional actions.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon darkGrey"><i class="fa fa-restore  "></i></span> = Restores an earlier version of the catalogue.</p>
</li>
<li>
<p><span class="icon "><i class="material-delete"></i></span> = Deletes the catalogue.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets data fields</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>To the right of the navigation, all plentymarkets data fields that you can export are listed in groups. To add a data field to the export, click on the Plus icon to the light of the data field.</p>
</div>
<div class="paragraph">
<p><strong><em>Tips:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Use the field <strong>Search data field</strong> to quickly find and add data fields.</p>
</li>
<li>
<p>In addition to the data fields listed, you can also add your <a href="/en/data/exporting-data/kataloge-verwalten#164">own values</a> to the export. The same value is then exported for each record.</p>
</li>
<li>
<p>Use the option <strong>Formula</strong> to update numerical data during export. For example, you could update all exported variation prices during the export.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selected data fields</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>To the right, the data fields that you can add to the export are shown.
Before you select a data field, you can see the message “No data fields were selected”. In the screenshot, a few the fields are already selected.</p>
</div>
<div class="paragraph">
<p><strong><em>Tips:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>You can move the data fields using drag-and-drop. This will change the order in which the data fields are exported.</p>
</li>
<li>
<p>You can edit the Export key. The “Export Keys” are the names of the column headers, as they will appear in your export file. Every “Export Key” needs to be unique.</p>
</li>
<li>
<p>You can add fallback data fields. If the data field is empty or invalid, the first fallback data field is checked and the value of that fallback data field is exported instead.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="create-catalogue">2. Creating catalogues</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have taken a first look at the catalogue menu. Now let’s get started: It’s time to create your first catalogue!</p>
</div>
<div class="paragraph instruction">
<p>Creating a catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on <strong>Create catalogue</strong> (<span class="icon "><i class="material-add"></i></span>).<br>
→ A new view opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-basic-settings-standard">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.<br>
→ The catalogue is created.<br>
→ The tab <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>) opens.</p>
</li>
</ol>
</div>
<table id="table-basic-settings-standard" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a catalogue</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong><br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the catalogue.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export type</strong><br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the option <strong>Standard format</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format type</strong><br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a format type from the drop-down list. Use the format type to specify which type of data is exported.<br>
 <strong><em>Note</em></strong>: At the moment, the formats <a href="/en/data/exporting-data/manufacturer">Manufacturers</a>, <strong>Newsletter recipients</strong>, <a href="/en/data/exporting-data/exporting-stocks">Stocks</a>, <a href="/en/data/exporting-data/exporting-stock-movements">Stock movements</a>, <a href="/en/data/exporting-data/catalogues-orders">Order</a> and <a href="/en/data/exporting-data/catalogues-purchase-orders">Purchase order</a> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong><br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a format from the drop-down list.<br>
<strong><em>Note:</em></strong> There is currently just one format type for each format. So just select the one available option from the drop-down list.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="catalogue-settings">3. Setting up catalogue export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Now, customise the catalogue to your individual needs. This is how the information in this chapter is structured:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#140">Carrying out the format settings</a></p>
</li>
<li>
<p><a href="#150">Carrying out the export settings</a></p>
</li>
<li>
<p><a href="#290">Generating a URL for the download</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="format-settings">3.1. Carrying out the format settings</h3>
<div class="paragraph">
<p>The format settings are used to specify the file format in which the data is exported and how the export file is formatted.</p>
</div>
<div class="paragraph instruction">
<p>Configuring the settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>In the navigation on the left, click on the tab <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ The different settings options are shown.</p>
</li>
<li>
<p>Navigate to the section <strong>Format settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-format-settings-standard">Table 2</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="material-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-format-settings-standard" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Carrying out the format settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a file name. The exported file is saved with this name.<br>
<strong><em>Tip:</em></strong> The file extension is automatically added during the export.
As such, enter the file name without a file extension.
File extensions are for example <code>.csv</code> and <code>.txt</code>.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> Use placeholders to automatically add further information to the file name during the export.</p>
</div>
<div class="openblock collapseBox">
<div class="title">List of available placeholders</div>
<div class="content">
<div class="paragraph">
<p>The following placeholders are available:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$$name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The catalogue name is added to the file name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The export type is added to the file name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The format type is added to the file name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$timestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The time stamp of the export is added to the file name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$datetime</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date and time of the export is added to the file name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$year</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The year of the export is added to the file name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$month</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The month of the export is added to the file name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$day</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The day of the export is added to the file name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$hour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The hour of the export is added to the file name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$minute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The minute of the export is added to the file name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$second</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The second of the export is added to the file name.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="paragraph">
<p><strong><em>Examples for using placeholders:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Input 1: <code>item-export_$year_$month_$day</code></p>
</li>
<li>
<p>Result 1: <code>item-export_2022_01_02.csv</code></p>
</li>
</ul>
</div>
<hr>
<div class="ulist">
<ul>
<li>
<p>Input 2: <code>$type_$format_$year_$month_$day</code></p>
</li>
<li>
<p>Result 2:</p>
<div class="ulist">
<ul>
<li>
<p><code>order_order_2022_01_02.csv</code><br></p>
</li>
<li>
<p><code>rewe_fashion_2020_10_25.csv</code></p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the file format for the export.</p>
</div>
<div class="paragraph">
<p><strong><em>Possible values:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>CSV</p>
</li>
<li>
<p>TXT</p>
</li>
<li>
<p>JSON</p>
</li>
<li>
<p>XML</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Field separator</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which field delimiter should separate the individual records from each other?</p>
</div>
<div class="paragraph">
<p><strong><em>Possible values:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Comma = ,</p>
</li>
<li>
<p>Semicolon = ;</p>
</li>
<li>
<p>Pipe =</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">* Tabulator = ␉</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Text delimiter</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which text delimiter should separate the individual records from each other?</p>
<p class="tableblock"><strong><em>Possible values:</em></strong></p>
<p class="tableblock">* "
* '</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Decimal separator</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the character that is used for decimal values.</p>
<p class="tableblock"><strong><em>Possible values:</em></strong></p>
<p class="tableblock">* Comma = Default in German speaking countries, for example <code>20,00 Euro</code>
* Dot = Default in English speaking countries, for example <code>20.00 Euro</code></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Line break</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">How do you want to handle line brakes in the export file?</p>
<p class="tableblock"><strong><em>Possible values:</em></strong></p>
<p class="tableblock">* Carriage return
* Line feed
* Carriage return an line feed</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Header is included</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="export-settings">3.2. Carrying out the export settings</h3>
<div class="paragraph">
<p>The export settings determine where your export file is saved.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the export settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on the catalogue for which you want to carry out the export settings.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>In the navigation on the left, click on the tab <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ The different settings options are shown.</p>
</li>
<li>
<p>Navigate to the section <strong>Export settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-export-settings-standard">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-export-settings-standard" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Carrying out the export settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to limit the number of records that is exported?</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Where do you want to save the export?<br>
<strong><em>Important:</em></strong> This setting does not export data to markets.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>None</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The export is not saved.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The export is saved on an FTP server.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SFTP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The export is saved on an SFTP server.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTPS</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The export is saved on an FTPS server.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin area</strong><br>
(coming soon)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Remains to be seen.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server</strong><br>
(for FTP, SFTP, FTPS)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the server where you want to save the export.<br>
<strong><em>Recommendation:</em></strong> Do not enter al protocol prefix.
Some examples for protocol prefixes are <code>ftp://</code> and <code>ftps://</code>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong><br>
(for FTP, SFTP, FTPS)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a port or use the default setting.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Recommended port settings:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>For FTP and FTPS = Port 21</p>
</li>
<li>
<p>For SFTP = Port 22</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong><br>
(for FTP, SFTP, FTPS)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the user name for the server.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong><br>
(for FTP, SFTP, FTPS)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the password for the server.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Path</strong><br>
(for FTP, SFTP, FTPS)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Where should the export be saved? Enter the path to a storage location.<br>
<strong><em>Note</em></strong>: If you use SFTP, enter the complete path.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>When do you want to start the export?</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Never</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No data is exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Every 20 minutes</strong>;<br>
<strong>Hourly</strong>;<br>
<strong>Daily</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current data is exported in the selected interval.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schedule</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The option <strong>Schedule</strong> is shown.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schedule</strong><br>
(for option <strong>Schedule</strong>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Click into the field. In the drop-down list shown, select one or more points in time. The export starts at these times.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="download-settings">3.3. Setting up the download</h3>
<div class="paragraph">
<p>In the <strong>Download settings</strong> of the catalogue you can generate a URL. This URL gives you direct access to the export file.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The admin link only allows you to access the exported file if you are currently logged into your plentymarkets system as an admin.</p>
</li>
<li>
<p>You can protect public links from inappropriate access by adding a hash and/or token.</p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
The export file can only be accessed after the first export. In addition, the catalogue must be active to create an export file.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up the download:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogue.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>In the navigation on the left, click on <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>).</p>
</li>
<li>
<p>Navigate to the area <strong>Download settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-generate-url">Table 4</a>.</p>
</li>
<li>
<p>Save the settings.<br>
→ The URL for downloading the file is shown. The export can be accessed using this URL after the first export is completed.<br>
→ The menu always shows the URL of the last exported file.</p>
</li>
<li>
<p>Click on the URL or copy the URL (<span class="icon "><i class="material-content_copy"></i></span>) to use it.</p>
</li>
</ol>
</div>
<table id="table-generate-url" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Generate URL</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the client to be used for creating the URL.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Receive notifications</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate to get a notification at the top right of the system once the export is completed.</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/daten/assets/catalogue-export.png" alt="catalogue export"></span></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Options for admin link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use hash</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether a hash should be used.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No hash is used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-on  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Every time you make a change to the catalogue, a new URL with a hash key is created. As such, the hash represents all settings that are relevant for the catalogue export. If these settings change, the hash changes and all future URL will include the new hash. Older URL will be valid for 15 days from the last export with that hash.<br>
<strong><em>Tip:</em></strong> Do not activate this option if you always want to access the most current export file using the same URL.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Options for admin link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin link</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>An admin link is automatically created for each file. This admin link only allows you to access the exported file if you are currently logged into your plentymarkets system as an admin.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> Click on the icon to the right (<span class="icon "><i class="material-content_copy"></i></span>) to copy the URL to your clipboard.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Options for public link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate options</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No public link is created. The options <strong>Use hash</strong> and <strong>Use token</strong> cannot be selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-on  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A public link is created. After the first export, the file can be accessed by anyone who knows this link.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> In the row <strong>Public link</strong>, click on the icon to the very right (<span class="icon "><i class="material-content_copy"></i></span>) to copy the URL to your clipboard.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use hash</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether a hash should be used.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No hash is used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-on  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Every time you make a change to the catalogue, a new URL with a hash key is created. As such, the hash represents all settings that are relevant for the catalogue export. If these settings change, the hash changes and all future URL will include the new hash. Older URL will be valid for 15 days from the last export with that hash.<br>
<strong><em>Tip:</em></strong> Do not activate this option if you always want to access the most current export file using the same URL.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use token</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No token is generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-toggle-on  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A token is added to the download URL. The file is then only accessible if the token is known.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Security token</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Click on the symbol on the right (<span class="icon "><i class="fa fa-rotate-left  "></i></span>) to generate a new token.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> The token is added to the URL of the public link. So when you copy the URL, you copy the token at the same time. When you generate a new token, the URL also changes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Public link</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Shows the public link. After the first export, the file can be accessed by anyone who knows this link.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> In the row <strong>Public link</strong>, click on the icon to the very right (<span class="icon "><i class="material-content_copy"></i></span>) to copy the URL to your clipboard.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="data-export">4. Selecting data for export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Now decide what plentymarkets data you want to export with this catalogue.</p>
</div>
<div class="paragraph">
<p>This is how the information in this chapter is structured:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#add-fields">Adding data fields for export</a></p>
</li>
<li>
<p><a href="#delete-fields">Removing data fields from the export</a></p>
</li>
<li>
<p><a href="#filter-data">Filtering export data</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="add-fields">4.1. Adding data fields to export</h3>
<div class="paragraph">
<p>Now it’s time to decide which data fields you want to export from plentymarkets with this catalogue. In addition, you can also select one or more fallback data fields for each data field. However, this is optional. If a value does not exist in the system, the value of the fallback data field is exported instead.</p>
</div>
<div class="paragraph instruction">
<p>Adding data fields to the export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Data fields</strong> tab (icon:order_return_create_edit[set=plenty[) opens.<br>
→ The available plentymarkets data fields are listed in groups.</p>
</li>
<li>
<p>Expand a group to show the available data fields.<br>
→ The data fields are shown.</p>
</li>
<li>
<p>Next to the data field you want to select, click on the plus.<br>
<strong><em>Tip:</em></strong> Alternatively, enter the name of the data field into the search field. Select the data field from the search results.<br>
→ The data field is added to the export.<br></p>
</li>
<li>
<p>Check if the export key suits your needs.<br></p>
<div class="ulist">
<ul>
<li>
<p><strong><em>What is an export key?</em></strong><br>
The Export Key is the name of the column header that will be shown in your export file. Every “Export Key” needs to be unique. Export keys cannot contain any spaces.<br>
<strong><em>Important:</em></strong> If several data fields have the same export key, only one data field is exported.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Add all data fields that you need.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.<br>
→ The data fields are exported.<br>
<strong><em>Tip:</em></strong> Check the info boxes below this description to find out about more complex export options.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Optional:</em> Adding fallback data fields</div>
<div class="content">
<div class="paragraph">
<p>Fallback data fields are used like this:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want the selected plentymarkets data field to be exported.</p>
</li>
<li>
<p>If this data field is empty or invalid for a record, the first fallback data field is checked and the value of that fallback data field is exported instead.</p>
</li>
<li>
<p>If the first fallback data field is also empty or invalid, the second fallback data field is checked and the value of that fallback data field is exported instead and so on.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Adding fallback data fields:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Initial situation:</em></strong><br>
→ You added a data field to the export. For this data field, you want to specify an alternative in case the data field is empty or invalid for one or more records.</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Below the data fields, click on <strong>+ Add fallback data field</strong>.<br>
→ The editing mode opens.</p>
</li>
<li>
<p>On the right, click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added as a fallback data field to the field on the right.<br>
→ The fallback data field is exported when the first data field does not exist or is empty.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Note the following logic for fallback data fields:</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Even if you assign one or more fallback data fields, the value of only one field is exported.</p>
</li>
<li>
<p>For each record, the plentymarkets data fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value, the first fallback data field is exported etc.</p>
</li>
<li>
<p><strong><em>Tip:</em></strong> You can also add <strong>Own value</strong> as a fallback data field.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following GIF shows the standard format <strong>Manufacturer</strong>. The data field <strong>Manufacturer &gt; External name</strong> is to be exported. However, if no external name is saved for one or more manufacturers, you want to export the <strong>Internal name</strong> instead.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/gif-standardformats-fallback.gif" alt="gif standardformats fallback" width="600">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Optional:</em> Exporting an own value</div>
<div class="content">
<div class="paragraph">
<p>The data field <strong>Own value</strong> is used like this:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>For a column of your export file, the same value is exported for all records of the catalogue.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Exporting an own value:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the list of the data fields, click on <strong>Own value</strong>.<br>
→ The data field for an own value is added to the export.</p>
</li>
<li>
<p>Check the export key. Own values are automatically assigned the export key <strong>own-value</strong>. As such, make sure that you adjust the export key, especially when you want to export more than one own value.<br>
<strong><em>Important:</em></strong> If several data fields have the same export key, only one data field is exported.</p>
</li>
<li>
<p>Enter a value into the input field <strong>Value</strong>.<br>
→ This value is exported for all records.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following GIF shows the standard format <strong>Stocks</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You want the export file to include a column with your company name.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/gif-standardformate-own-value.gif" alt="gif standardformate own value" width="600">
</div>
</div>
<div class="paragraph">
<p>Result in the export file:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Every exported record has a cell that contains your company name:</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/result-export-companyname.png" alt="result export companyname">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Optional:</em> Combining data fields</div>
<div class="content">
<div class="paragraph">
<p>When you combine data fields, the following logic is applied:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The data fields are to be combined during the export.</p>
</li>
<li>
<p>The values of the data fields are added to the same column of the export file.</p>
</li>
<li>
<p>The character between the values is specified with the option <strong>Separator</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Combining data fields:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Initial situation:</em></strong><br>
You already added a data field to the export. You want to combine this data field with another data field.</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ The editing mode opens.</p>
</li>
<li>
<p>Click on the plus to the right of the data field you want to select.<br>
→ The data field is added to the right of the first data field.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.<br></p>
</li>
<li>
<p>To the right of the column, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Select a separator from the drop-down list <strong>Separator</strong> or specify a custom separator.</p>
</li>
<li>
<p>Click on <strong>Save</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The settings are saved.<br>
The content of these data fields is combined in the same column.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following GIF shows the standard format <strong>Manufacturer</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Instead of exporting the data fields <strong>Street</strong> and <strong>House number</strong> in two separate columns, these data fields are combined into one column.</p>
</li>
<li>
<p>Select a space as the separator.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/gif-standardformats-combination.gif" alt="gif standardformats combination" width="600">
</div>
</div>
<div class="paragraph">
<p>Result in the export file:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/result-export-street.png" alt="result export street">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Optional:</em> Changing the data field order</div>
<div class="content">
<div class="paragraph">
<p>In the export file, the data fields are sorted in the same order as in the catalogue list. As such, the first column of a CSV file contains the data of the data field that is at the very top of the catalogue and so on.</p>
</div>
<div class="paragraph">
<p>To change the order of data in the export file, you can either move individual data fields or whole rows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>To move a single data field: Point your mouse at the data field and drag and drop it to the new position.</p>
</li>
<li>
<p>To move a whole column: Click on the symbol (<span class="icon "><i class="material-drag_indicator"></i></span>) on the left side and drag and drop the row to the new position.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Optional:</em> Recalculating numerical values during export</div>
<div class="content">
<div class="paragraph">
<p>Mathematical calculations allow you to change values automatically during the export.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>This function only works for data fields that contain numerical values.</p>
</li>
<li>
<p>This function is new and has not been implemented for all formats yet.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Recalculating numerical values during export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Open the catalogue.<br>
→ The tab <strong>Data fields</strong> opens.</p>
</li>
<li>
<p>In the list of data fields, click on the plus next to <strong>Formula</strong> (<span class="icon "><i class="material-calculate"></i></span>).<br>
→ The field <strong>Formula</strong> is added to the view on the right.</p>
</li>
<li>
<p>Click on the field <strong>Formula</strong>.<br>
→ The <strong>Modify value</strong> window opens.</p>
</li>
<li>
<p>Select a decimal separator from the drop-down list.</p>
</li>
<li>
<p>At the bottom right of the window, select a data field to add it to the calculation (<span class="icon "><i class="material-add"></i></span>).<br>
<strong><em>Tip:</em></strong> Use the search function to find data fields quickly.<br>
→ The data field is added to the calculation.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> If the symbol <span class="icon "><i class="material-more_vert"></i></span> is shown in the data field, select the correct assignment for the data field.<br>
<strong><em>Tip:</em></strong> A number tells you how many assignments are necessary for the data field.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Click on the symbol <span class="icon "><i class="material-more_vert"></i></span>.<br></p>
</li>
<li>
<p>In the window shown, select the assignments from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Enter numbers and mathematical operators with the on-screen calculator or the keyboard.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The entered formula is displayed in the overview.<br>
<strong><em>Tip:</em></strong> If a preview is available for the format, check the result by using the preview function (<span class="icon "><i class="material-preview"></i></span>).<br>
→ The calculation will be carried out in the next export.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="delete-fields">4.2. Removing data fields from export</h3>
<div class="paragraph">
<p>In the <strong>Mapping</strong> tab of a catalogue with a standard format you can remove individual or several data fields at once.</p>
</div>
<div class="paragraph instruction">
<p>Removing data fields from export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Open a catalogue with standard format.<br>
→ The <strong>Data fields</strong> tab (icon:order_return_create_edit[set=plenty[) with all available data fields opens.</p>
</li>
<li>
<p>Click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>) on the right of the data field that you want to remove.</p>
</li>
<li>
<p>Click on <strong>Delete data field</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ The data field is removed.<br>
<strong><em>Or</em></strong>: If you want to remove a complete row, click on <strong>Delete data row</strong> (<span class="icon "><i class="material-delete"></i></span>) on the right.<br>
→ The complete row is removed.<br>
<strong><em>Or</em></strong>: Tick the box on the left for all rows containing data fields that you want to remove. Then, click on <strong>Delete selected data fields</strong> (<span class="icon "><i class="material-delete"></i></span>) at the top right.<br>
→ All selected data fields are removed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="filter-data">4.3. Filtering export data</h3>
<div class="paragraph">
<p>You can use filters to limit the data that should be exported.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Different filters are available for different standard formats. The available filters are explained on the manual pages of each standard format.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Adding a filter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Open the catalogue.</p>
</li>
<li>
<p>In the navigation to the left, click on <strong>Filter</strong> (<span class="icon "><i class="material-filter_alt"></i></span>).<br>
→ The filter overview opens.</p>
</li>
<li>
<p>Select a filter from the drop-down list.<br>
<strong><em>Tip:</em></strong> Different filters are available for different standard formats.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon "><i class="material-add"></i></span>) on the right.<br>
→ The filter is added.</p>
</li>
<li>
<p>If an operator is available for this filter:</p>
<div class="ulist">
<ul>
<li>
<p>Select an operator from the drop-down list.</p>
</li>
<li>
<p>Enter a value into field next to it.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Save (<span class="icon "><i class="material-save"></i></span>) the settings.<br>
→ The filter is saved.</p>
</li>
<li>
<p>Add additional filters as necessary.<br>
→ Only data that meets the filter criteria is exported.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="export-data">5. Exporting catalogue data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are several ways to export the catalogue data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#preview">Export a preview of the first 5 data rows</a></p>
</li>
<li>
<p><a href="#activate-catalogue">Automatically export data in regular intervals</a></p>
</li>
<li>
<p><a href="#manual-export">Manually starting a one-time export</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="preview">5.1. Creating an export preview</h3>
<div class="paragraph">
<p>After you have selected data fields for export, you can test the catalogue export using the preview function. This preview function allows you to download the first 5 data rows of the export.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A preview function is not available for all catalogue formats.</p>
</li>
</ul>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="create-a-preview-in-the-catalogue-tab" data-toggle="tab" href="#create-a-preview-in-the-catalogue" role="tab" aria-controls="create-a-preview-in-the-catalogue" aria-selected="true">Create a preview in the catalogue</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="create-a-preview-from-the-catalogue-list-tab" data-toggle="tab" href="#create-a-preview-from-the-catalogue-list" role="tab" aria-controls="create-a-preview-from-the-catalogue-list" aria-selected="false">Create a preview from the catalogue list</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="create-a-preview-in-the-catalogue" role="tabpanel" aria-labelledby="create-a-preview-in-the-catalogue-tab">
<div class="paragraph instruction">
<p>Creating a preview in the catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Open the catalogue.</p>
</li>
<li>
<p>In the toolbar at the top, click on <strong>Preview</strong> (<span class="icon "><i class="material-preview"></i></span>).<br>
→ A preview of the first 5 data rows of the export is shown in the <strong>Preview</strong> window.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Click on <strong>Download data</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ A CSV file with the first 5 data rows can be saved on your computer.</p>
</li>
</ol>
</div>
<hr>
</div><div class="tab-pane fade" id="create-a-preview-from-the-catalogue-list" role="tabpanel" aria-labelledby="create-a-preview-from-the-catalogue-list-tab">
<div class="paragraph">
<p>You can also create a preview from the list of catalogues.</p>
</div>
<div class="paragraph instruction">
<p>Creating a preview from the catalogue list:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Navigate to the catalogue.</p>
</li>
<li>
<p>In the row of the catalogue, open the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Preview</strong> (<span class="icon "><i class="material-preview"></i></span>).<br>
→ A preview of the first 5 data rows of the export is shown in the <strong>Preview</strong> window.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Click on <strong>Download data</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ A CSV file with the first 5 data rows can be saved on your computer.</p>
</li>
</ol>
</div>
<hr>
</div></div>
</div>
<div class="sect2">
<h3 id="activate-catalogue">5.2. Activating automatic catalogue export</h3>
<div class="paragraph">
<p>You have added all data fields that you want to export? Then activate the export now.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Make sure that you have carried out all necessary export settings. Otherwise, no data is exported.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Activating automatic catalogue export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) to the right.<br>
→ The catalogue is active.<br>
→ The data is exported to the storage location and at the intervals you selected in the catalogue settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="manual-export">5.3. Starting a manual export in the catalogue</h3>
<div class="paragraph">
<p>Have you added at least one data field to the export? You can then start a manual export of the export. Once the export is completed, you can download the export file from the Notifications.</p>
</div>
<div class="paragraph">
<p>The format in which the data is exported depends on the format settings of the catalogue. You can export data in CSV, TXT, JSON and XML files.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
The export process is started when you click on <strong>Download data</strong>. However, note that there will be <em>no</em> window for downloading the file straight away. When the export is completed, you can download the export file from the Notifications.
</td>
</tr>
</tbody></table>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="starting-manual-catalogue-export-tab" data-toggle="tab" href="#starting-manual-catalogue-export" role="tab" aria-controls="starting-manual-catalogue-export" aria-selected="true">Starting manual catalogue export</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="start-manual-export-from-catalogue-list-tab" data-toggle="tab" href="#start-manual-export-from-catalogue-list" role="tab" aria-controls="start-manual-export-from-catalogue-list" aria-selected="false">Start manual export from catalogue list</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="starting-manual-catalogue-export" role="tabpanel" aria-labelledby="starting-manual-catalogue-export-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Open the catalogue.</p>
</li>
<li>
<p>In the toolbar at the top, click on <strong>Download data</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ The export starts.<br>
<strong><em>Important:</em></strong> The export runs in the background. Note that there will be <em>no</em> window for downloading the file straight away. Even exporting small amounts of data will take around 30 minutes.</p>
</li>
<li>
<p>Once the export is finished, you will be notified (<span class="icon "><i class="material-notifications_none"></i></span>) that the export file can be downloaded.</p>
</li>
<li>
<p>In the notification, click on <strong>Download</strong>.</p>
</li>
<li>
<p>Save the file on your computer.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/exporting-data/Managing-catalogues/catalogue-formats/assets/catalogue-export.gif" alt="catalogue export">
</div>
</div>
</div><div class="tab-pane fade" id="start-manual-export-from-catalogue-list" role="tabpanel" aria-labelledby="start-manual-export-from-catalogue-list-tab">
<img src="{{plugin_path('PlentyManual')}}/images/data/exporting-data/Managing-catalogues/catalogue-formats/assets/catalogue-export.gif" alt="catalogue export">
</div></div>
</div>
</div>
</div><div class="sect1">
<h2 id="faq">6. FAQ</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>What does “Export Key” mean?</strong></div>
<div class="content">
<div class="paragraph">
<p>The “Export Keys” are the names of the column headers, as they will appear in your export file.
Every “Export Key” needs to be unique.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Negative example</em></strong>: You use the data fields <a href="/en/data/exporting-data/catalogues-item#60">Item ID</a> and <a href="/en/data/exporting-data/catalogues-item#110">Variation ID</a>.
You give both “Export Keys” the name “id”.
As a result, the export file only includes one of the two IDs.
A column is missing in the export file.</p>
</li>
<li>
<p><strong><em>Positive example</em></strong>: You use the data fields <a href="/en/data/exporting-data/catalogues-item#60">Item ID</a> and <a href="/en/data/exporting-data/catalogues-item#110">Variation ID</a>.
You give one “Export Key” the name “VariationID” and the other “ItemID”.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/exporting-data/Managing-catalogues/catalogue-formats/assets/catalogue-export-keys.png" alt="catalogue export keys">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>My export file is missing a column. Why?</strong></div>
<div class="content">
<div class="paragraph">
<p>You might have data fields with the same “Export Key”.
Every “Export Key” needs to be unique.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Negative example</em></strong>: You use the data fields <a href="/en/data/exporting-data/catalogues-item#60">Item ID</a> and <a href="/en/data/exporting-data/catalogues-item#110">Variation ID</a>.
You give both “Export Keys” the name “id”.
As a result, the export file only includes one of the two IDs.
A column is missing in the export file.</p>
</li>
<li>
<p><strong><em>Positive example</em></strong>: You use the data fields <a href="/en/data/exporting-data/catalogues-item#60">Item ID</a> and <a href="/en/data/exporting-data/catalogues-item#110">Variation ID</a>.
You give one “Export Key” the name “VariationID” and the other “ItemID”.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/exporting-data/Managing-catalogues/catalogue-formats/assets/catalogue-export-keys.png" alt="catalogue export keys">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Only the word “Array” is exported. Why?</strong></div>
<div class="content">
<div class="paragraph">
<p>If you export a file in CSV or TXT format, then you might only see the word "Array" instead of the actual export values.
This happens e.g. when exporting multiple images or when exporting multi-selection properties.
This is a known issue and it will be fixed in the future.</p>
</div>
<div class="paragraph">
<p><strong><em>Possible workaround 1</em></strong>:
Would it be an option for you to download a JSON or XML file instead?
With these file types, you can see the actual export values.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> <strong>Settings</strong>.</p>
</li>
<li>
<p>Scroll down to the section <strong>Format settings</strong>.</p>
</li>
<li>
<p>Select JSON or XML from the drop-down list <strong>Format</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings and download the file (<span class="icon "><i class="material-file_download"></i></span>).</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Caution</em></strong>: If you want to revise the file and import it again.
Note that the <a href="/en/data/importing-data/ElasticSync">import tool</a> only accepts the file types CSV and TXT.</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Possible workaround 2</em></strong>:
Export the data with the tools <a href="/en/data/exporting-data/FormatDesigner/format-types/item">FormatDesigner</a> and <a href="/en/data/exporting-data/elastic-export#700">Elastic Export</a> instead.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Can I revise the file and import it again?</strong></div>
<div class="content">
<div class="paragraph">
<p>Yes.
Export the file in CSV or TXT format.
Then revise the file and import it again.
Note that the <a href="/en/data/importing-data/ElasticSync">import tool</a> only accepts the file types CSV and TXT.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>No file is available through the catalogue’s download URL. Why?</strong></div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Is the catalogue active?</p>
</li>
<li>
<p>Has an export taken place? Check the export settings.</p>
</li>
<li>
<p>Did you use the right URL?</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>The download URL leads to the message "Unauthenticated." instead of to file. Why?</strong></div>
<div class="content">
<div class="paragraph">
<p>You used the admin URL. However, you are not logged into your plentymarkets system as an admin user.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log in as an admin user.</p>
</li>
<li>
<p>Generate a public URL. The file can always be accessed with this URL.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Why can I not see the catalogues?</strong></div>
<div class="content">
<div class="paragraph">
<p>People with <a href="/en/business-decisions/user-accounts-access#10">back end access rights</a> can only see catalogues if an admin gave them access.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Find someone who has administrator rights for the plentymarkets system.</p>
</li>
<li>
<p>This person will open the menu <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Then they will open your user account and activate the necessary rights:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Data &gt; Data exchange &gt; Export &gt; Catalogue &gt; Show</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Save (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>If the problem persists, <a href="https://forum.plentymarkets.com/c/importexport/multichannel/445" target="_blank" rel="noopener">ask our support team for help in the forum</a>.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="manage-catalogues">7. Managing catalogues: how to delete, copy, etc.</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In these chapters, you learn how to manage existing catalogues. This information applies to both marketplace and default formats.</p>
</div>
<div class="sect2">
<h3 id="catalogue-rights">7.1. Assigning rights for back end users</h3>
<div class="paragraph">
<p>Unresolved directive in ../_textblocks/catalogues/catalogues-manage.adoc - include::./../../../_includes/textblocks/instructions/rights.adoc[]</p>
</div>
</div>
<div class="sect2">
<h3 id="15">7.2. Customizing catalogue overview columns</h3>
<div class="paragraph">
<p>You can customize the information that is displayed in the table columns. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Customizing catalogue overview columns:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>At the top right, click on <strong>Configure columns</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ The window <strong>Configure columns</strong> opens.</p>
</li>
<li>
<p>Select which columns you want to be displayed.</p>
</li>
<li>
<p>Move (<span class="icon "><i class="material-sort"></i></span>) the columns so they are displayed in the desired order.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong> to save your settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">7.3. Copying catalogues</h3>
<div class="paragraph">
<p>Do you want to quickly create new catalogues based on well configures ones that you already use? No problem!
Any data fields that you have already mapped are copied, even if you select a different format. You can also select a different language for the copy.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="coping-one-catalogue-tab" data-toggle="tab" href="#coping-one-catalogue" role="tab" aria-controls="coping-one-catalogue" aria-selected="true">Coping one catalogue</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="copying-multiple-catalogues-tab" data-toggle="tab" href="#copying-multiple-catalogues" role="tab" aria-controls="copying-multiple-catalogues" aria-selected="false">Copying multiple catalogues</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="coping-one-catalogue" role="tabpanel" aria-labelledby="coping-one-catalogue-tab">
<div class="paragraph instruction">
<p>Coping a catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue, click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Click on <strong>Copy</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
<strong><em>Or</em></strong>: Tick the box of the catalogue that you want to copy.</p>
</li>
<li>
<p>At the top in the catalogue overview click on <strong>Copy catalogue</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>If desired, adjust the automatically created name for the copy.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select another format from the drop-down list. Data fields that have already been mapped will be transferred.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select another language from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.<br>
→ The catalogue is copied and displayed in the catalogue overview.</p>
</li>
</ol>
</div>
<hr>
</div><div class="tab-pane fade" id="copying-multiple-catalogues" role="tabpanel" aria-labelledby="copying-multiple-catalogues-tab">
<div class="paragraph">
<p>You can also copy several catalogues at once. However, in this case you cannot change the format or language of the catalogues.</p>
</div>
<div class="paragraph instruction">
<p>Copying several catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogues that you want to copy.</p>
</li>
<li>
<p>Click on <strong>Copy catalogue</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ All selected catalogues are copied and displayed in the catalogue overview.<br></p>
</li>
<li>
<p><strong><em>Optional:</em></strong> If you want to edit the automatically created names of the copied catalogues, open the catalogues individually and adjust the name in the basic settings.</p>
</li>
</ol>
</div>
<hr>
</div></div>
</div>
<div class="sect2">
<h3 id="210">7.4. Deleting catalogues</h3>
<div class="paragraph">
<p>You can delete one catalogue or multiple catalogues at the same time.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="deleting-one-catalogue-tab" data-toggle="tab" href="#deleting-one-catalogue" role="tab" aria-controls="deleting-one-catalogue" aria-selected="true">Deleting one catalogue</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="deleting-multiple-catalogues-tab" data-toggle="tab" href="#deleting-multiple-catalogues" role="tab" aria-controls="deleting-multiple-catalogues" aria-selected="false">Deleting multiple catalogues</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="deleting-one-catalogue" role="tabpanel" aria-labelledby="deleting-one-catalogue-tab">
<div class="paragraph instruction">
<p>Deleting catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue that you want to delete, click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogue is deleted.<br>
<strong><em>Or</em></strong>: Open a catalogue.</p>
</li>
<li>
<p>Click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>) at the top.</p>
</li>
<li>
<p>Click on <strong>Delete catalogue</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogue is deleted.</p>
</li>
</ol>
</div>
<hr>
</div><div class="tab-pane fade" id="deleting-multiple-catalogues" role="tabpanel" aria-labelledby="deleting-multiple-catalogues-tab">
<div class="paragraph">
<p>Proceed as follows in order to delete several catalogues at once.</p>
</div>
<div class="paragraph instruction">
<p>Deleting several catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogues that you want to delete.</p>
</li>
<li>
<p>At the top right, click on <strong>Delete selected catalogues</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogues are deleted.</p>
</li>
</ol>
</div>
<hr>
</div></div>
</div>
<div class="sect2">
<h3 id="240">7.5. Restoring a deleted catalogue</h3>
<div class="paragraph">
<p>In the catalogue overview, you can restore the last version of a deleted catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Restoring a deleted catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on <strong>Restore deleted catalogue</strong> (<span class="icon "><i class="material-undo"></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>Select a catalogue from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Restore</strong>.<br>
→ The catalogue is restored and displayed in the catalogue overview.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="250">7.6. Restoring another catalogue version</h3>
<div class="paragraph">
<p>You can restore a previous catalogue version via the further actions or in the view of a catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Restoring a catalogue version:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue, open the further actions (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Click on <strong>Restore catalogue version</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
<strong><em>Or</em></strong>: Open a catalogue and click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>) at the top.</p>
</li>
<li>
<p>Click on <strong>Restore catalogue version</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>Select the version that you want to restore.</p>
</li>
<li>
<p>Click on <strong>Restore</strong>.<br>
→ The catalogue version is restored and displayed in the catalogue overview.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="270">7.7. Exporting catalogues</h3>
<div class="paragraph">
<p>Export catalogues to import them into other plentymarkets systems afterwards. At the same time, an export also serves as a backup.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
These settings export the catalogue itself. As such, the import contains information on the settings and data fields the catalogue contains. The import cannot be used to import data for plentymarkets data fields.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Exporting catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Place a check mark for the catalogue that you want to export. You can also select several catalogues at once.</p>
</li>
<li>
<p>At the top, click on <strong>Export catalogue</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>Select a storage location.<br>
→ The selected catalogues are exported and saved at the desired location.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="280">7.8. Importing catalogues</h3>
<div class="paragraph">
<p>Use the import function to import catalogues from other plentymarkets systems or catalogues that have been saved as backup beforehand.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
These settings import the catalogue itself. As such, the import contains information on the settings and data fields the catalogue contains and not the data that is saved for these data fields in plentymarkets.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Importing catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>At the top, click on <strong>Import catalogue</strong> (<span class="icon "><i class="material-file_upload"></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>Select the catalogue file that you want to import.<br>
<strong><em>Important:</em></strong> You can only import one catalogue at a time.<br>
→ The catalogue is imported and displayed in the overview.<br>
→ The name of the imported catalogue contains the addition (1).<br>
If the catalogue originates from another system, the name stays the same.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>