<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_artikel_link_cloud"><span>1.</span><span> Artikel Link Cloud</span></a>
<ul class="sectlevel2">
<li><a href="#_such_tags_definieren"><span>1.1.</span><span> Such-Tags definieren</span></a></li>
<li><a href="#_link_cloud_in_webshop_einbinden"><span>1.2.</span><span> Link-Cloud in Webshop einbinden</span></a></li>
<li><a href="#_css_klassen_in_webshop_einbinden"><span>1.3.</span><span> CSS-Klassen in Webshop einbinden</span></a></li>
</ul>
</li>
<li><a href="#_blog"><span>2.</span><span> Blog</span></a>
<ul class="sectlevel2">
<li><a href="#_layout_wählen"><span>2.1.</span><span> Layout wählen</span></a></li>
<li><a href="#_neue_sprache_hinzufügen"><span>2.2.</span><span> Neue Sprache hinzufügen</span></a>
<ul class="sectlevel3">
<li><a href="#_seitentitel_für_eine_sprache_festlegen"><span>2.2.1.</span><span> Seitentitel für eine Sprache festlegen</span></a></li>
<li><a href="#_blog_kategorie_hinzufügen"><span>2.2.2.</span><span> Blog-Kategorie hinzufügen</span></a></li>
<li><a href="#_kategorie_bearbeiten"><span>2.2.3.</span><span> Kategorie bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#_blogbeitrag_erstellen"><span>2.3.</span><span> Blogbeitrag erstellen</span></a></li>
</ul>
</li>
<li><a href="#_gästebuch"><span>3.</span><span> Gästebuch</span></a>
<ul class="sectlevel2">
<li><a href="#_gästebuch_erstellen_und_konfigurieren"><span>3.1.</span><span> Gästebuch erstellen und konfigurieren</span></a></li>
<li><a href="#_bezeichner_anpassen_bzw_übersetzen"><span>3.2.</span><span> Bezeichner anpassen bzw. übersetzen</span></a></li>
<li><a href="#_gästebuch_in_design_einbinden"><span>3.3.</span><span> Gästebuch in Design einbinden</span></a></li>
</ul>
</li>
<li><a href="#forum"><span>4.</span><span> Forum</span></a>
<ul class="sectlevel2">
<li><a href="#_forum_einrichten_und_konfigurieren"><span>4.1.</span><span> Forum einrichten und konfigurieren</span></a>
<ul class="sectlevel3">
<li><a href="#_benutzergruppen_anlegen"><span>4.1.1.</span><span> Benutzergruppen anlegen</span></a></li>
<li><a href="#_berechtigungen_vergeben"><span>4.1.2.</span><span> Berechtigungen vergeben</span></a></li>
<li><a href="#_sprachen_anlegen"><span>4.1.3.</span><span> Sprachen anlegen</span></a></li>
<li><a href="#_allgemeine_forumseinstellungen_vornehmen"><span>4.1.4.</span><span> Allgemeine Forumseinstellungen vornehmen</span></a></li>
<li><a href="#_kategorien_anlegen"><span>4.1.5.</span><span> Kategorien anlegen</span></a></li>
</ul>
</li>
<li><a href="#_foren_anlegen"><span>4.2.</span><span> Foren anlegen</span></a>
<ul class="sectlevel3">
<li><a href="#_rechte_vergeben"><span>4.2.1.</span><span> Rechte vergeben</span></a></li>
<li><a href="#_bezeichner_anpassen"><span>4.2.2.</span><span> Bezeichner anpassen</span></a></li>
</ul>
</li>
<li><a href="#_layout_einrichten"><span>4.3.</span><span> Layout einrichten</span></a>
<ul class="sectlevel3">
<li><a href="#_seiten_layout_eintragen"><span>4.3.1.</span><span> Seiten-Layout eintragen</span></a></li>
<li><a href="#_css_code_festlegen"><span>4.3.2.</span><span> CSS-Code festlegen</span></a></li>
<li><a href="#_ändern_von_benutzernamen_erlauben"><span>4.3.3.</span><span> Ändern von Benutzernamen erlauben</span></a></li>
</ul>
</li>
<li><a href="#_themen_und_foren_abonnieren"><span>4.4.</span><span> Themen und Foren abonnieren</span></a>
<ul class="sectlevel3">
<li><a href="#_e_mail_vorlage_für_abonnierte_themen_und_foren_einrichten"><span>4.4.1.</span><span> E-Mail-Vorlage für abonnierte Themen und Foren einrichten</span></a></li>
<li><a href="#_automatischen_versand_für_forum_e_mails_einrichten"><span>4.4.2.</span><span> Automatischen Versand für Forum-E-Mails einrichten</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Module</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Der neue Webshop <strong>Ceres</strong></div>
<div class="paragraph">
<p>Webshop-Projekte werden ab sofort auf Basis des Webshop-Plugins <a href="/omni-channel/online-shop/ceres-einrichten">Ceres</a> umgesetzt. Der neue Webshop nutzt die aktuelle und zukunftssichere <a href="/basics/erste-schritte/plugins">Plugin-Technologie</a> und kann einfach und individuell durch zusätzliche Plugins aus dem <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> erweitert werden.</p>
</div>
<div class="paragraph">
<p>Webshops, die mit dem alten CMS erstellt wurden, werden für einen Übergangszeitraum natürlich weiterhin gepflegt, aber funktionell nicht mehr erweitert. Wir empfehlen bei allen geplanten Projekten ab sofort auf <strong>Ceres</strong> zu setzen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_artikel_link_cloud">1. Artikel Link Cloud</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Link-Cloud ist eine Anordnung von Links zu verschiedenen Artikeln. Diese Links haben verschiedene Schriftgrößen und sind zufällig sortiert. Die Schriftgröße eines Links wird automatisch anhand der Anzahl der Suchtreffer bestimmt. Ein Artikel mit vielen Suchtreffern wird also mit großer Schrift abgebildet. Im Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Link-Cloud</strong> speicherst du die Such-Tags und Links, um eine Link-Cloud deiner Artikel in deinen Webshop einzubinden. Gehe wie unten beschrieben vor, um eine Link-Cloud deiner Artikel zu erstellen.</p>
</div>
<div class="sect2">
<h3 id="_such_tags_definieren">1.1. Such-Tags definieren</h3>
<div class="paragraph">
<p>Bestimme zunächst die Such-Tags, unter denen die Artikel gefunden werden sollen. In der Regel dienen hierzu die Namen der Artikel oder der Kategorien. Du kannst auch Such-Tags wählen, die nicht direkt die Artikelnamen wiedergeben. Trage z.B. <strong>Brille</strong> als Such-Tag ein, um Brillen mit verschiedenen Bezeichnungen aufzulisten. Das Tag <strong>Brille</strong> listet alle Brillen deines Sortiments auf. Achte bei zusammengesetzten Suchbegriffen auf eine Schreibweise mit Bindestrich. Ein Artikel mit der Schreibweise <strong>Sonnenbrille</strong> wird z.B. nicht gefunden, ein Artikel mit der Schreibweise <strong>Sonnen-Brille</strong> wird aufgeführt.</p>
</div>
<div class="paragraph instruction">
<p>Such-Tags definieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Link-Cloud</strong>.</p>
</li>
<li>
<p>Trage einen Such-Tag pro Zeile ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Ein Link zu den Suchergebnissen wird automatisch erstellt.</p>
</li>
<li>
<p>Klicke auf die Lupe, um die Anzahl der Suchergebnisse anzuzeigen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Link-Clud aktualisieren</div>
<div class="paragraph">
<p>Bei Änderungen deiner Artikel wird die Link-Cloud nicht automatisch aktualisiert. Speichere deshalb die Einstellungen erneut, um die Link-Cloud zu aktualisieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_link_cloud_in_webshop_einbinden">1.2. Link-Cloud in Webshop einbinden</h3>
<div class="paragraph">
<p>Binde nun die Inhalte deiner Link-Cloud in deinen Webshop ein. Füge eine Überschrift und eine Box in das Template <strong>PageDesignContentMainFrame</strong> ein. Die Template-Variable für die Ausgabe der Link-Cloud lautet <strong>$ItemLinkCloud</strong>. Unten findest du einen Beispiel-Code, den du in dein Webdesign einfügen und anpassen kannst.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="ff01_box white"&gt;
            &lt;h1&gt;Topseller&lt;/h1&gt;
            $ItemLinkCloud&lt;/div&gt;</code></pre>
</div>
</div>
<div class="paragraph instruction">
<p>Link-Cloud in Webshop einbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Kopiere das Code-Beispiel.</p>
</li>
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » Ordner: PageDesign</strong>.</p>
</li>
<li>
<p>Öffne das Template <strong>PageDesignContent</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>PageDesignContentMainFrame</strong>.</p>
</li>
<li>
<p>Füge das Code-Beispiel an der Position in das Template ein, an der die Link-Cloud angezeigt werden soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/DE-Einstellungen-Mandant-Standard-Module-LinkCloud-01.png" alt="DE Einstellungen Mandant Standard Module LinkCloud 01">
</div>
<div class="title">Bild 1. Beispiel einer Link-Cloud mit Überschrift und unterschiedlichen Schriftgrößen</div>
</div>
</div>
<div class="sect2">
<h3 id="_css_klassen_in_webshop_einbinden">1.3. CSS-Klassen in Webshop einbinden</h3>
<div class="paragraph">
<p>Zusätzlich bindest du CSS-Klassen für deine Link-Cloud ein. Diese CSS-Klassen steuern die Schriftgrößen der Links, die in der Link-Cloud dargestellt werden. Gehe wie unten beschrieben vor, um die CSS-Klassen In deinen Webshop einzubinden.</p>
</div>
<div class="paragraph instruction">
<p>CSS-Code hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Kopiere den CSS-Code unten.</p>
</li>
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » Ordner: CSS</strong>.</p>
</li>
<li>
<p>Öffne das Template <strong>CSSBase</strong>.</p>
</li>
<li>
<p>Füge den Code an geeigneter Stelle ein, z.B. am Ende.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.tag_6 {
color:#417C9C;
display:inline;
font-size:10px;
}
.tag_5 {
color:#417C9C;
display:inline;
font-size:12px;
font-weight:bold;
}
.tag_4 {
color:#417C9C;
display:inline;
font-size:14px;
font-weight:bold;
}
.tag_3 {
color:#417C9C;
display:inline;
font-size:16px;
font-weight:bold;
}
.tag_2 {
color:#417C9C;
display:inline;
font-size:18px;
font-weight:bold;
}
.tag_1 {
color:#417C9C;
display:inline;
font-size:20px;
font-weight:bold;
}</code></pre>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Angezeigte Schriftgrößen</div>
<div class="paragraph">
<p>Die unterschiedlichen Schriftgrößen werden nach einer speziellen Systematik berechnet. Verwende möglichst viele Links mit einer möglichst unterschiedlichen Bandbreite an Suchtreffern, um viele verschiedene Schriftgrößen zu erzielen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_blog">2. Blog</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Blog-Funktion veröffentlichst du Text- und Bild-Beiträge in deinem Webshop. Blogs sind ein Mittel zur Kommunikation mit Kunden, um z.B über Neuerungen, Änderungen, Probleme oder andere interessante Themen zu informieren. Nimm die hier beschriebenen Einstellungen im Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Blog</strong> vor, bevor du deinen ersten Blogbeitrag anlegst und verfasst.</p>
</div>
<div class="sect2">
<h3 id="_layout_wählen">2.1. Layout wählen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um das Layout für den Blog zu wählen. Folgende Layouts stehen zur Auswahl:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>PageDesignBlog</strong></p>
</li>
<li>
<p><strong>PageDesignContent</strong></p>
</li>
<li>
<p><strong>PageDesignCheckout</strong></p>
</li>
</ul>
</div>
<div id="bild-blog-layout-waehlen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/DE-Mandant-Module-Blog-01.png" alt="DE Mandant Module Blog 01">
</div>
<div class="title">Bild 2. Blog-Layout wählen</div>
</div>
<div class="paragraph instruction">
<p>Layout wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Blog</strong>.</p>
</li>
<li>
<p>Wähle das <strong>Layout</strong>, das du für Blogs verwenden möchtest (<a href="#bild-blog-layout-waehlen">Bild 2</a>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Blog wird in deinem Webshop unter der URL <a href="http://www.IHR_SHOPNAME.de/blog/" class="bare">http://www.IHR_SHOPNAME.de/blog/</a> angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_neue_sprache_hinzufügen">2.2. Neue Sprache hinzufügen</h3>
<div class="paragraph">
<p>Lege im Untermenü <strong>Neue Sprache</strong> nach dem unten beschriebenen Muster ein Menü für jede Sprache an, die du benötigst. Zunächst wählst du die Sprache und gibst den Namen einer ersten Kategorie für Blogbeiträge in dieser Sprache ein.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/DE-Mandant-Module-Blog-02.png" alt="DE Mandant Module Blog 02">
</div>
<div class="title">Bild 3. Neue Sprache für den Blog hinzufügen</div>
</div>
<div class="paragraph instruction">
<p>Neue Sprache anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Blog</strong>.</p>
</li>
<li>
<p>Öffne das Untermenü <strong>Neue Sprache</strong>.</p>
</li>
<li>
<p>Wähle eine <strong>Sprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Trage die erste <strong>Kategorie</strong> für deine Blogbeiträge ein, z.B. <strong>Neuigkeiten</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Menü für die Sprache wird angelegt.</p>
</li>
</ol>
</div>
<div class="sect3">
<h4 id="_seitentitel_für_eine_sprache_festlegen">2.2.1. Seitentitel für eine Sprache festlegen</h4>
<div class="paragraph">
<p>Nachdem du eine Sprache hinzugefügt hast, legst du den Seitentitel für die Startseite des Blogs in dieser Sprache fest. Du kannst für jede Sprache einen anderen Titel verwenden.</p>
</div>
<div class="paragraph instruction">
<p>Seitentitel festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Blog</strong>.</p>
</li>
<li>
<p>Öffne die Sprache.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Seitentitel</strong>.</p>
</li>
<li>
<p>Trage einen <strong>Seitentitel</strong> für die Startseite des Blogs in der Sprache ein.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>, um die Einstellung zu sichern.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_blog_kategorie_hinzufügen">2.2.2. Blog-Kategorie hinzufügen</h4>
<div class="paragraph">
<p>Zusammen mit der Sprache hast du bereits die erste Kategorie angelegt. Wenn du das Menü der Sprache öffnest, siehst du diese Kategorie im Tab <strong>Kategorien bearbeiten</strong>. Weitere Kategorien legst du im Tab <strong>Neue Kategorie</strong> an. Blogbeiträge ordnest du dann einer dieser Kategorien zu. Überleg dir im ersten Schritt zumindest einige Kategorien, die für deinen Webshop wichtig sind, z.B. Neuigkeiten, Neue Produkte, Veranstaltungen, Sonderaktionen oder Termine.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/DE-Mandant-Module-Blog-03.png" alt="DE Mandant Module Blog 03">
</div>
<div class="title">Bild 4. Neue Blog-Kategorie anlegen</div>
</div>
<div class="paragraph instruction">
<p>Blog-Kategorie hinzufügen</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Blog</strong>.</p>
</li>
<li>
<p>Öffne eine Sprache.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Neue Kategorie</strong>.</p>
</li>
<li>
<p>Trage einen Namen für die <strong>neue Blog-Kategorie</strong> ein.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>, um die Einstellung zu sichern.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_kategorie_bearbeiten">2.2.3. Kategorie bearbeiten</h4>
<div class="paragraph">
<p>Im Tab <strong>Kategorien bearbeiten</strong> werden die Kategorien untereinander aufgelistet. Wenn du eine Kategorie öffnest, kannst du den Namen ändern und eine Position vergeben. Mit der Position legst du die Reihenfolge fest, in der die Kategorien im Webshop angezeigt werden. Außerdem kannst du Kategorien hier löschen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/DE-Mandant-Module-Blog-04.png" alt="DE Mandant Module Blog 04">
</div>
<div class="title">Bild 5. Blog-Kategorien bearbeiten</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_blogbeitrag_erstellen">2.3. Blogbeitrag erstellen</h3>
<div class="paragraph">
<p>Nachdem du alle Blog-Einstellungen vorgenommen hast, legst du im Menü <a href="/omni-channel/online-shop/cms#blog-weblog">CMS » Blog</a> Blogbeiträge an.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_gästebuch">3. Gästebuch</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Deine Kunden können durch das Hinterlasseneiner Nachricht, einer Meinung under eines Wunschs in einem Gästebuch ihren Besuch in deinem Webshop dokumentieren. Im Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Gästebuch</strong> erstellst und konfigurierst du Gästebücher.</p>
</div>
<div class="sect2">
<h3 id="_gästebuch_erstellen_und_konfigurieren">3.1. Gästebuch erstellen und konfigurieren</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Gästebuch</strong> legst du die Sprache sowie die Darstellungsoptionen für das Gästebuch fest. Das Anlegen der Sprache ist Voraussetzung für die Konfiguration der Gästebuch-Einstellungen. Diese Einstellungen werden sprach- und mandantenspezifisch angelegt und sind erst nach Speichern der Sprache sichtbar. Gehe wie unten beschrieben vor, um die Sprache und die weiteren Einstellungen festzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Gästebuch erstellen und konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Gästebuch</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Neue Sprache</strong>.</p>
</li>
<li>
<p>Wähle eine Sprache aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Sprache wird im Tab <strong>Sprache</strong> angezeigt.</p>
</li>
<li>
<p>Klicke auf das <strong>Plus</strong> der gewünschten Sprache.</p>
</li>
<li>
<p>Nimm die Einstellungen im Tab <strong>Einstellungen</strong> gemäß <a href="#tabelle-einstellungen-gaestebuch">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-gaestebuch" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Gästebuch-Einstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Format für die Darstellung des Datums aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format Zeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Format für die Darstellung der Uhrzeit aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beiträge pro Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie viele Beiträge pro Seite im Gästebuch angezeigt werden sollen. Standardeinstellung ist 15.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BBCode erlauben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die vereinfachte Auszeichnungssprache BBCode für die Formatierung der Texte der Gästebucheinträge erlaubt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BBCode $img-Tag erlauben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die vereinfachte Auszeichnungssprache BBCode für die Integration von Bildern in die Gästebucheinträge erlaubt sein soll.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_bezeichner_anpassen_bzw_übersetzen">3.2. Bezeichner anpassen bzw. übersetzen</h3>
<div class="paragraph">
<p>Im Tab <strong>Bezeichner</strong> hinterlegst du auf Wunsch eigene Bezeichnungen für die Standardbezeichner des Gästebuchs. Für ein Gästebuch in einer anderen Sprache hinterlegst du hier die Übersetzungen.</p>
</div>
</div>
<div class="sect2">
<h3 id="_gästebuch_in_design_einbinden">3.3. Gästebuch in Design einbinden</h3>
<div class="paragraph">
<p>Das Gästebuch wird über die Template-Variable <strong>$Container_Guestbook</strong> im Webshop angezeigt. Dazu fügst du die Template-Variable an geeigneter Stelle in eine Kategorie des Typs <strong>Content</strong> ein.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="forum">4. Forum</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Forum</strong> legst du ein Kundenforum an. Das Kundenforum kann ein wichtiges Kommunikationsmedium sein, über das deine Kunden Erfahrungen austauschen und aktuelle Themen besprechen. Nachdem du ein Forum eingerichtet hast, ist es unter der URL <strong><a href="http://www.ihr-webshop.de/forum/" class="bare">http://www.ihr-webshop.de/forum/</a></strong> erreichbar. Wie du ein Forum einrichtest und bearbeitest, erfährst du auf dieser Seite.</p>
</div>
<div class="sect2">
<h3 id="_forum_einrichten_und_konfigurieren">4.1. Forum einrichten und konfigurieren</h3>
<div class="sect3">
<h4 id="_benutzergruppen_anlegen">4.1.1. Benutzergruppen anlegen</h4>
<div class="paragraph">
<p>Im ersten Schritt legst du Benutzergruppen an. Du legst damit fest, welche Kundengruppen welche Berechtigungen für das Forum erhalten. Diese Berechtigungen gelten global für das Forum. Du kannst z.B. eine Benutzergruppe <strong>Gast</strong> mit eingeschränkten Berechtigungen anlegen und eine Benutzergruppe <strong>Kunde</strong> für registrierte Kunden, denen du umfangreichere Berechtigungen zuweist.</p>
</div>
<div class="paragraph instruction">
<p>Benutzergruppen anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Forum</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Benutzergruppen</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>Plus</strong> des Untermenüs <strong>Neue Gruppe</strong>.</p>
</li>
<li>
<p>Trage einen Namen für die neue Benutzergruppe ein, z.B. <strong>Kunde</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Lege bei Bedarf weitere Benutzergruppen an.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_berechtigungen_vergeben">4.1.2. Berechtigungen vergeben</h4>
<div class="paragraph">
<p>Lege nun die Berechtigungen fest, über die die Benutzergruppen verfügen sollen.</p>
</div>
<div class="paragraph instruction">
<p>Berechtigungen vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Forum</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Benutzergruppen</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>Plus</strong> des Untermenüs der gewünschten <strong>Benutzergruppe</strong>.</p>
</li>
<li>
<p>Aktiviere die Berechtigungen, die du der Gruppe zuweisen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Benutzergruppe in den Kundendaten einstellen</div>
<div class="paragraph">
<p>Die Benutzergruppe muss für jeden Kunden in den Kundendaten eingestellt werden. Nur dann sind die Forenbeiträge für den Kunden sichtbar. Öffne das Tab <strong>Kundendaten</strong> des Kunden und wähle für die Option <strong>Benutzergruppe Forum</strong> die für den Kunden gewünschte Einstellung.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_sprachen_anlegen">4.1.3. Sprachen anlegen</h4>
<div class="paragraph">
<p>Das Anlegen der Sprachen ist Voraussetzung für die Konfiguration der weiteren Forum-Einstellungen. Diese Einstellungen werden sprach- und mandatenspezifisch angelegt und erst nach dem Speichern der Sprache angezeigt.</p>
</div>
</div>
<div class="sect3">
<h4 id="_allgemeine_forumseinstellungen_vornehmen">4.1.4. Allgemeine Forumseinstellungen vornehmen</h4>
<div class="paragraph">
<p>Im Tab <strong>Einstellungen</strong> der Sprache legst du die grundlegenden Parameter für das Forum fest.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Forum</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Sprache</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>Plus</strong> des Untermenüs der gewünschten Sprache.</p>
</li>
<li>
<p>Öffne das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-einstellungen-gaestebuch">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Forum-Einstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Forum-Titel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Überschrift, die auf der Startseite des Forums angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Forum-Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dient der Zuordnung, wenn mehrere Foren betrieben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzergruppe für nicht registrierte Benutzer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Benutzergruppe aus der Dropdown-Liste wählen, der nicht registrierte Benutzer automatisch zugeordnet werden sollen.<br>
Wenn keine  Benutzergruppe geeignet ist, eine weitere Benutzergruppe für nicht registrierte Benutzer anlegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Format für die Darstellung des Datums aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format Zeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Format für die Darstellung der Uhrzeit aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Themen pro Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie viele Themen pro Seite im Forum angezeigt werden sollen. Standardeinstellung ist 15 Themen pro Seite.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beiträge pro Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie viele Beiträge pro Seite im Forum angezeigt werden sollen. Standardeinstellung ist 15 Beiträge pro Seite.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BBCode erlauben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die vereinfachte Auszeichnungssprache BBCode für die Formatierung der Texte der Forumbeiträge erlaubt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BBCode $img-Tag erlauben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die vereinfachte Auszeichnungssprache BBCode für die Integration von Bildern in die Forumbeiträge erlaubt sein soll.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_kategorien_anlegen">4.1.5. Kategorien anlegen</h4>
<div class="paragraph">
<p>Im Tab <strong>Kategorien</strong> legst du verschiedene Bereiche in deinem Forum an. Durch die Verwendung von Kategorien wird das Forum übersichtlicher, da Themen gezielter eingeordnet und so besser gefunden werden.</p>
</div>
<div class="paragraph instruction">
<p>Kategorien anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Forum</strong>.</p>
</li>
<li>
<p>Öffne die gewünschte Sprache.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>Plus</strong> neben <strong>Neue Kategorie</strong>.</p>
</li>
<li>
<p>Trage den Namen ein, unter dem die Kategorie im Forum angezeigt werden soll.</p>
</li>
<li>
<p>Gib eine Position ein, um die Kategorie im Forum einzuordnen. Je höher die Position, desto weiter unten wird die Kategorie angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_foren_anlegen">4.2. Foren anlegen</h3>
<div class="paragraph">
<p>Lege nun Foren an. Foren sind Themenbereiche, die inhaltlich in eine bestimmte Kategorie passen. Du kannst diese Foren bei Bedarf erstellen oder bereits zu Beginn sinnvolle Themen anlegen.</p>
</div>
<div class="paragraph instruction">
<p>Foren anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Forum</strong>.</p>
</li>
<li>
<p>Öffne die gewünschte Sprache.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die Kategorie, für die du ein neues Forum erstellen möchtest.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Foren</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>Plus</strong> neben <strong>Neues Forum</strong>.</p>
</li>
<li>
<p>Trage eine Position ein, um das Forum in der Kategorie einzuordnen. Je höher die Position, desto weiter unten wird das Forum angezeigt.</p>
</li>
<li>
<p>Trage einen Namen und eine Beschreibung ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="sect3">
<h4 id="_rechte_vergeben">4.2.1. Rechte vergeben</h4>
<div class="paragraph">
<p>Für jedes Forum bzw. Thema vergibst du nun Rechte für die Benutzergruppen. Du legst damit fest, welche Aktionen Nutzerinnen und Nutzer im Forum durchführen können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Forum</strong>.</p>
</li>
<li>
<p>Öffne die gewünschte Sprache.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die gewünschte Kategorie.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Foren</strong>.</p>
</li>
<li>
<p>Öffne das gewünschte Forum.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Rechte</strong>.</p>
</li>
<li>
<p>Öffne die Benutzergruppe, für die du Rechte vergeben möchtest.</p>
</li>
<li>
<p>Aktiviere die Rechte, die du der Benutzergruppe zuweisen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_bezeichner_anpassen">4.2.2. Bezeichner anpassen</h4>
<div class="paragraph">
<p>Im Tab <strong>Bezeichner</strong> sind die Texte hinterlegt, die im Forum verwendet werden, z.B. <strong>Anmelden</strong> und <strong>Abmelden</strong> für den Zugang zum Forum. Du kannst diese Texte ändern, indem du die Einträge im rechten Textfeld durch eine eigene Bezeichnung ersetzt.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Bezeichner speichern</strong></div>
<div class="paragraph">
<p>Speichere das Tab <strong>Bezeichner</strong> einmal, wenn du das Forum einrichtest, auch wenn du keine Änderungen an den Bezeichnern vornimmst. Nur dann sind die Bezeichner für das Forum aktiviert und sichtbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Bezeicher anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Module » Forum</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Sprache</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>Plus</strong> des Untermenüs der gewünschten Sprache.</p>
</li>
<li>
<p>Öffne das Tab <strong>Bezeichner</strong>.</p>
</li>
<li>
<p>Ändere die Bezeichnungen wie gewünscht.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_layout_einrichten">4.3. Layout einrichten</h3>
<div class="paragraph">
<p>Für die Darstellung des Forums im Webshop sind die unten beschriebenen Layout-Einstellungen erforderlich. Du fügst Code für das Seiten-Layout in das Template <strong>PageDesignForum</strong> ein. Außerdem benötigst du CSS-Code für das Template <strong>CSSForum</strong>, um die Inhalte zu formatieren.</p>
</div>
<div class="sect3">
<h4 id="_seiten_layout_eintragen">4.3.1. Seiten-Layout eintragen</h4>
<div class="paragraph">
<p>Den Code für das Seiten-Layout hinterlegst du im Template <strong>PageDesignForum</strong>. Der Code muss mindestens die Template-Variable <strong>$MainFrame</strong> enthalten.</p>
</div>
<div class="paragraph instruction">
<p>Seiten-Layout im Template PageDesignForum konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout</strong>.</p>
</li>
<li>
<p>Wähle im Ordner <strong>PageDesign</strong> das Template <strong>PageDesignForum</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>PageDesignForumMainFrame</strong>.</p>
</li>
<li>
<p>Füge den gewünschten Code in das Tab ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Füge nun den unten aufgeführten Code in das Tab <strong>PageDesignForumHtmlStructure</strong> des Templates <strong>PageDesignForum</strong> ein. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Seiten-Layout Im Bereich PageDesignForumHtmlStructure konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout</strong>.</p>
</li>
<li>
<p>Wähle im Ordner <strong>PageDesign</strong> das Template <strong>PageDesignForum</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>PageDesignForumHtmlStructure</strong>.</p>
</li>
<li>
<p>Füge den unten gezeigten Beispiel-Code in das Tab ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Beispiel-Code für das Template <strong>PageDesignForum » Tab: PageDesignForumHtmlStructure</strong>:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;script type="text/javascript" src="/layout/machart_studios/js/easySlider1.7.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="/layout/machart_studios/js/jquery.jqzoom-core-pack.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="/layout/machart_studios/js/machart-scripts.js"&gt;&lt;/script&gt;

&lt;!-- topic list hover fix --&gt;

&lt;script type="text/javascript"&gt;/* */
  $(document).ready(function($) {
    $('.PlentyForumTableFixInvisible').hover(function() {
$(this).parent().prev('.PlentyForumPostRow').addClass('hover');
    }, function() {
$(this).parent().prev('.PlentyForumPostRow').removeClass('hover');
    });
  });
/*  */&lt;/script&gt;

&lt;!-- plenty message popup --&gt;

&lt;script type="text/javascript"&gt;/* */

/*begin config*/
var plentyPopupShowDuration = 3000; /*recommended 3000*/
var doNotAutoCloseIfError = true; /*recommended true*/
var closeIfClickOnOverlay = true; /*recommended true*/
var popupDistanceTop = 50; /*recommended 50*/
var popupDistanceBottom = 50; /*recommended 50*/
/*end config*/

var plentyPopupOpenTime = (new Date).getTime();
var errorFound = false;

$(document).ready(function($) {
    /*create message popup*/
    $('body').append('&lt;div class="PlentyPopupOverlay" style="display: none;"&gt;&lt;/div&gt;&lt;div class="PlentyMessagePopupWrapper" style="display: none;"&gt;&lt;div class="PlentyMessagePopupContainer"&gt;&lt;div class="PlentyMessagePopupHeader"&gt;&lt;div class="PlentyMessagePopupTitle"&gt;&lt;/div&gt;&lt;div class="PlentyMessagePopupClose"&gt;&lt;a&gt;&lt;/a&gt;&lt;/div&gt;&lt;div class="PlentyClear"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;div class="PlentyMessagePopupContent"&gt;&lt;/div&gt;&lt;/div&gt;');
    /*check error message*/
    if ( $('.plentyErrorBox').length &gt; 0 ) {
        errorFound = true;
        cloneIntoPopup('.plentyErrorBox');
    }
    /*check success message*/
    if ( $('.plentyMessageBox').length &gt; 0 ) {
        cloneIntoPopup('.plentyMessageBox');
    }
    /*check auto close*/
    if ( errorFound == false || doNotAutoCloseIfError == false ) {
        startClosingPopup(plentyPopupShowDuration);
        /*keep popup if hovered*/
        $('.PlentyMessagePopupWrapper').hover(function() { stopClosingPopup(); }, function() { closePopup(true); });
    }
});

/*functions for popup*/
cloneIntoPopup = function(target) {
    $(target).clone().appendTo('.PlentyMessagePopupContent');
    positionPopup(popupDistanceTop, popupDistanceBottom);
    $('.PlentyPopupOverlay').fadeIn();
    $('.PlentyMessagePopupWrapper').fadeIn();
    $('.PlentyMessagePopupClose').click(function() { closePopup(false); });
    if ( closeIfClickOnOverlay == true ) $('.PlentyPopupOverlay').click(function() { closePopup(false); });
}
positionPopup = function(popupDistanceTop, popupDistanceBottom) {
    var windowHeight = $(window).height();
    var documentHeight = $(document).height();
    var scrollTop = $(document).scrollTop();
    var popupHeight = $(".PlentyMessagePopupWrapper").outerHeight();
    if ( (scrollTop + popupDistanceTop + popupHeight + popupDistanceBottom) &lt;= documentHeight ) {
        $(".PlentyMessagePopupWrapper").css("top", ( scrollTop + popupDistanceTop ) +"px");
    }
    else {
        $(".PlentyMessagePopupWrapper").css("top", ( documentHeight - popupDistanceBottom - popupHeight ) +"px");
    }
}
startClosingPopup = function(t) {
    closePopupInterval = setInterval(function() { closePopup(); stopClosingPopup(); }, t);
}
closePopup = function(checkTime) {
    /*fade out only after show duration passed*/
    if ( checkTime == true ) {
        var plentyPopupCheckCloseTime = (new Date).getTime();
        if ( plentyPopupCheckCloseTime &gt; plentyPopupOpenTime + plentyPopupShowDuration ) { $('.PlentyMessagePopupWrapper').fadeOut(); $('.PlentyPopupOverlay').fadeOut(); }
        else { startClosingPopup(plentyPopupCheckCloseTime - plentyPopupOpenTime); }
    }
    else { $('.PlentyMessagePopupWrapper').fadeOut(); $('.PlentyPopupOverlay').fadeOut(); }
}
stopClosingPopup = function() {
    clearInterval(closePopupInterval);
}

/*hide original messages*/
document.write('&lt;style type="text/css"&gt;');
document.write('.plentyErrorBox, .plentyMessageBox { display: none; }');
document.write('&lt;/style&gt;');</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_css_code_festlegen">4.3.2. CSS-Code festlegen</h4>
<div class="paragraph">
<p>Der CSS-Code wird im Menü <strong>CMS » Webdesign » Layout » Ordner: CSS</strong> und dort im Template <strong>CSSForum</strong> hinterlegt. Der CSS-Code bestimmt das Aussehen des Forums. Du kannst das CSS nach Belieben anpassen. <a href="#bild-beispielansicht-forum">Bild 6</a> zeigt eine Beispielansicht.</p>
</div>
<div id="bild-beispielansicht-forum" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/Einstell-Mandant-Standard-Module-Forum-1.png" alt="Einstell Mandant Standard Module Forum 1">
</div>
<div class="title">Bild 6. Beispielansicht für Forum</div>
</div>
<div class="paragraph instruction">
<p>CSS konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout</strong>.</p>
</li>
<li>
<p>Wähle den Ordner <strong>CSS</strong>.</p>
</li>
<li>
<p>Öffne das Template <strong>CSSForum</strong>.</p>
</li>
<li>
<p>Füge den CSS-Code ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Beispiel-Code für das Template <strong>CSSForum</strong>:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">@charset "UTF-8";


/* General */
.PlentyForumClearPane { clear: both; display: block !important; }



/*----- NEW STYLE -----*/


/* GENERAL */

.main.fullwidth { width: 980px; }
.forum &gt; div:first-child &gt; .plentyMessageBox { margin-bottom: 16px; }

.PlentyForumMain { text-align: left; font-family: "Trebuchet MS", sans-serif, Arial, Helvetica; }






/* INPUT */

/* standard */
.PlentyForumMain input[type=text],
.PlentyForumMain input[type=password],
.PlentyForumMain input[type=file] {
padding: 2px 3px;
font-size: 12px;
height: 28px; /*13px*/
margin-top: 2px;
margin-bottom: 0;
color: inherit !important;
width: 192px;
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
}
/* standard hover, focus */
.PlentyForumMain input[type=text]:hover,
.PlentyForumMain input[type=password]:hover,
.PlentyForumMain select:hover,
.PlentyForumMain input[type=file]:hover,
.PlentyForumMain input[type=text]:focus,
.PlentyForumMain input[type=password]:focus,
.PlentyForumMain select:focus,
.PlentyForumMain input[type=file]:focus {
position: relative;
z-index: 10;
}
/* size presets */
.PlentyForumMain input[type=text].XS,
.PlentyForumMain input[type=password].XS {
width: 42px;
}
.PlentyForumMain input[type=text].M,
.PlentyForumMain input[type=password].M {
width: 132px;
}

/* checkbox */
input[type=checkbox] {
height: auto !important;
width: auto !important;
}


/* SELECT */

/* standard */
.PlentyForumMain select {
font-size: 12px;
margin-top: 2px;
margin-bottom: 0;
height: 34px; /*no height set*/
padding: 7px 5px 7px 0; /*no padding set*/
width: 200px;
}
.PlentyForumMain select.XS {
width: 50px;
}
.PlentyForumMain select.M {
width: 140px;
}
/* select multiple */
.PlentyForumMain select$multiple {
height: auto !important;
width: 400px;
}

/* standard hover */
.PlentyForumMain select:hover {
position: relative;
z-index: 10;
}


/* TEXTAREA */

/* standard */
.PlentyForumMain textarea {
padding: 2px 3px;
font-size: 12px;
font-family: Arial,Helvetica,sans-serif;
margin-top: 2px;
resize: none;
color: inherit !important;
/*height: 60px;*/ /*overwrite machart-style*/
line-height: 14px !important;
}
/* standard hover, focus */
.PlentyForumMain textarea:hover,
.PlentyForumMain textarea:focus {
}


/* INPUT / TEXTAREA WRAPPER */

/* wrapper */
.PlentyWebMyAccountWrapper {
margin: 0 4px;
}
/* input / textarea in wrapper */
.PlentyWebMyAccountWrapper &gt; input[type=text],
.PlentyWebMyAccountWrapper &gt; input[type=password],
.PlentyWebMyAccountWrapper &gt; textarea {
margin-left: -4px;
width: 100%;
}


/* INPUT SELECT TEXTAREA - STANDARD / HOVER / FOCUS COLORS */

/* standard */
.PlentyForumMain input[type=text],
.PlentyForumMain input[type=password],
.PlentyForumMain input[type=file],

.PlentyForumMain select,

.PlentyForumMain textarea
{
border: 1px solid #CCCCCC;
}
/* standard hover */
.PlentyForumMain input[type=text]:hover,
.PlentyForumMain input[type=password]:hover,
.PlentyForumMain select:hover,
.PlentyForumMain input[type=file]:hover,

.PlentyForumMain select:hover,

.PlentyForumMain textarea:hover
{
border-color: #666666; /*1474d4*/
}
/* standard focus */
.PlentyForumMain input[type=text]:focus,
.PlentyForumMain input[type=password]:focus,
.PlentyForumMain select:focus,
.PlentyForumMain input[type=file]:focus,

.PlentyForumMain select:focus,

.PlentyForumMain textarea:focus
{
border-color: #666666;
}



/* BUTTON */

/* standard */
.PlentyForumMain input[type=button],
.PlentyForumMain input[type=submit],
.PlentyForumMain button,
.PlentyForumPostTasksContainer a {
height: 34px; /*19px*/
margin-top: 2px;
padding: 0 5px;
font-family: inherit;
cursor: pointer;

border: 1px solid #949494;
background: #434343;
color: #FFFFFF !Important;

/*font-size: 18px;
line-height: 30px;
height: 34px;
padding: 0 5px 0 3px;*/
}

/* standard hover */
.PlentyForumMain input[type=button]:hover,
.PlentyForumMain input[type=submit]:hover,
.PlentyForumMain input[type=button]:focus,
.PlentyForumMain input[type=submit]:focus,
.PlentyForumMain button:hover,
.PlentyForumMain button:focus,
.PlentyForumPostTasksContainer a:hover,
.PlentyForumPostTasksContainer a:focus {
color: #ffffff !Important;
background: #222222;
}

/* A BUTTON */

.PlentyForumPostTasksContainer a {
display: inline-block;
height: 17px !important;
padding: 0 8px;
vertical-align: baseline;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px !important;
line-height: 19px !important;
}

/* INPUT, SELECT &amp; BUTTON IN SUB TITLE CONTAINER (e.g. pagination) */


/* input standard */
.PlentyForumTopicHeader input[type=text],
.PlentyForumPostHeader input[type=text],
PlentyForumSearchResultHeader input[type=text] {
height: 13px !important;
}
/* input button */
.PlentyForumTopicHeader input[type=button],
.PlentyForumPostHeader input[type=button],
.PlentyForumSearchResultHeader input[type=button],
.PlentyForumUserPageHeader input[type=button],
.PlentyForumPostTasksContainer input {
height: 19px !important;
line-height: 14px !important;
}
/* select standard */
.PlentyForumTopicHeader select,
.PlentyForumPostHeader select,
.PlentyForumSearchResultHeader select,
.PlentyForumUserPageHeader select {
height: auto !important;
padding-top: 0 !important;
padding-bottom: 0 !important;
padding-right: 0 !important;
}

/* LINKS */


/* standard */

.PlentyForumMain a:link,
.PlentyForumMain a:visited,
.PlentyForumMain a.link {
color: #282828;
cursor: pointer;
text-decoration: none;
}
.PlentyForumMain a:hover,
.PlentyForumMain a:focus,
.PlentyForumMain a:active,
.PlentyForumMain a.link:hover {
color: #686868;
text-decoration: none;
}

/* tab links */

/* tab standard */
.PlentyForumMain .PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a:link,
.PlentyForumMain .PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a:visited {
color: #686868;
text-decoration: none;
}
.PlentyForumMain .PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a:hover,
.PlentyForumMain .PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a:focus,
.PlentyForumMain .PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a:active {
color: #000000;
text-decoration: none;
}
/* tab current */
.PlentyForumMain .PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a.current:link,
.PlentyForumMain .PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a.current:visited {
color: #282828;
text-decoration: none;
}
.PlentyForumMain .PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a.current:hover,
.PlentyForumMain .PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a.current:focus,
.PlentyForumMain .PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a.current:active {
color: #282828;
text-decoration: none;
}



/* TABS */


/* tab bar */
.PlentyForumHeaderNavigation &gt; ul {
display: block;
height: 29px;

list-style: none !important;
margin: 0 !important;
padding: 0 !important;
height: 30px;
}

/* tab bar list item */
.PlentyForumHeaderNavigation &gt; ul &gt; li {
float: left;
text-indent: 0;
padding: 0;
margin: 0 !important;
list-style-image: none !important;
list-style-type: none !important;
}

/* tab standard */
.PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a {
height: 29px;
top: 0;
padding: 0 10px;
width: auto !important;
min-width: 40px;
vertical-align: middle;
border: 1px solid #eeeeee;
border-bottom: none;
border-left: none;

display: block;
line-height: 30px;
text-align: center;
margin: 0px;
}
/* tab standard first child */
.PlentyForumHeaderNavigation &gt; ul &gt; li:first-child &gt; a {
border-left: 1px solid #eeeeee;
}

/* tab standard hover */
.PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a:hover,
.PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a:focus {
background: #fefefe;
/*z-index: 2;*/
}

/* tab standard active */
.PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a:active {
outline:none;
}

/*tab current*/
.PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a.current {
background: #eeeeee;

height: 31px;
top: 0;
border: 1px solid #eeeeee;
border-bottom: none;
/*border-bottom: 1px solid #eeeeee;*/
z-index: 5;
}

/* tab current hover */
.PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a.current:hover,
.PlentyForumHeaderNavigation &gt; ul &gt; li &gt; a.current:focus {
}



/* MAIN CONTAINER PANE */


.PlentyForumHeaderInformation {
padding: 0;
border: none;
background: transparent;
}


/* HEADER (TAB PANE) */


/*header container (order overview &amp; single order details)*/
.PlentyForumHeaderInformation {
background: #EEEEEE;
/*margin-bottom: 16px;*/
padding: 2px 8px 5px;
}

/* header left container */
.PlentyForumHeaderInformationUser {
float: left;
padding-left: 4px;
padding-bottom: 6px;
}
/* header right container */
.PlentyForumHeaderInformationContent {
float: right;
}
/* header containers */
.PlentyForumHeaderInformationUser,
.PlentyForumHeaderInformationContent {
padding-top: 8px;
}
/* header right container links */
.PlentyForumHeaderInformationContent &gt; ul {
text-indent: 0;
padding: 0;
margin: 0;
list-style-image: none;
list-style-type: none;
}
.PlentyForumHeaderInformationContent &gt; ul &gt; li {
display: inline-block;
margin: 0;
}
/* rounded buttons */
.PlentyForumHeaderInformationContent &gt; ul &gt; li &gt; a,
.PlentyForumAddTopic a,
.PlentyForumRSS a,
.PlentyForumPostReplyLinkContainer a,
.PlentyForumPostAdminPanel &gt; div a,
.PlentyForumUserPageHeader &gt; div a {
display: block;
height: 20px;
padding: 1px 8px;
margin: 0 4px;
background: #ffffff;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 9px;
cursor: pointer;
}
/* rounded buttons colored (pagination menu left) */
.PlentyForumAddTopic a,
.PlentyForumRSS a,
.PlentyForumPostReplyLinkContainer a,
.PlentyForumPostAdminPanel &gt; div a,
.PlentyForumUserPageHeader &gt; div a {
background: #EEEEEE;
}
/* rounded buttons floated (pagination menu left) */
.PlentyForumAddTopic,
.PlentyForumRSS,
.PlentyForumPostReplyLinkContainer,
.PlentyForumUserPageDeleteAllPosts {
float: left;
}
/* rounded button img */
.PlentyForumPostAdminPanel &gt; div a &gt; img,
.PlentyForumUserPageHeader &gt; div a &gt; img {
border: none !important;
vertical-align: middle;
position: relative;
top: -1px;
left: 1px;
}


/* FORUM NAVIGATOR (BREADCRUMBS) */

/*
.PlentyForumNavigator &gt; div {
display: inline-block;
font-size: 11px;
color: #888888;
padding: 3px;
}
*/
/* links */
/*
.PlentyForumNavigator &gt; div a:link,
.PlentyForumNavigator &gt; div a:visited {
color: #888888;
}
*/
/* links hover / focus */
/*
.PlentyForumNavigator &gt; div a:link:hover,
.PlentyForumNavigator &gt; div a:link:focus,
.PlentyForumNavigator &gt; div a:visited:hover,
.PlentyForumNavigator &gt; div a:visited:focus {
color: #444444;
}
*/


/* HEADER GLOBAL */

.PlentyForumCategoryHeader,
.PlentyForumTopicForumName,
.PlentyForumPostNameHeader,
.PlentyForumNavigator,
.PlentyForumNavigator div {
display: block;
border-bottom: 1px solid #000000;
color: #444444;
padding: 8px 0;
font-size: 18px;
font-weight: 400;
margin-bottom: 16px;
margin-top: 4px;
}
.PlentyForumPostNameHeader &gt; div,
.PlentyForumNavigator div {
display: inline-block;
border-bottom: none;
padding: 0;
margin: 0;
}

/* do not show ("you are here", individual headlines) */
.PlentyForumNavigatorInfoText,
.PlentyForumTopicForumName,
.PlentyForumPostNameHeader {
display: none;
}



/* ITEM CONTAINER (MODIFIED) */


.NOCLASS {
margin-top: 16px;
padding: 0;
/*border: 1px solid #cccccc;*/
position: relative;
/*z-index: 2;*/
}

/* item container hover */

/*
PlentyForumCategoryMain:hover {
-moz-box-shadow: 0 0 2px 0 rgba(61, 90, 153, 0.15);
-webkit-box-shadow: 0 0 2px 0 rgba(61, 90, 153, 0.15);
box-shadow: 0 0 2px 0 rgba(61, 90, 153, 0.15);
}
*/

/* item header */

.PlentyForumPostReplyInfoText {
display: block;
/*padding: 10px 10px 7px;*/
font-size: 16px;
line-height: 18px;
font-weight: 400;
color: #444444;
/*background: #e8ecef;*/
background: #F3F3F3;
/*border-bottom: 1px solid #888888;*/
border-bottom: 2px solid #CCCCCC;

padding: 10px 10px 7px;
}

/* item content */

/*.PlentyForumLoginMain,
.PlentyForumSearchMain,
.PlentyForumAddTopicMain,*/
.PlentyForumCategoryContent,
.PlentyForumTopicContentContainer,
.PlentyForumPostReplyMain,
.PlentyForumPostReplyContent,
.PlentyForumSearchResultContainer {
border: 1px solid #eeeeee;
/*padding: 12px 10px;*/
font-size: 13px;
line-height: 20px;
color: #404040;
/*background: #fcfcfc;*/
}
.PlentyForumLoginMain:last-child,
.PlentyForumSearchMain:last-child {
/*margin-top: 10px;*/
margin-bottom: 0;
}


/* TABLE LAYOUT */


/* table */
.PlentyForumTableLayout {
display: table;
}
/* table row */
.PlentyForumTableLayout &gt; div {
display: table-row;
}
/* table cells */
.PlentyForumTableLayout &gt; div &gt; div {
display: table-cell;
}
/* table wrapper */
.PlentyForumTableWrapper &gt; .PlentyForumTableLayout {
width: 100%;
}



/* TABLE LAYOUT WITH HEADER (forum overview) */


/* table */
.PlentyForumTableLayoutForum.PlentyForumTableLayout,
.PlentyForumTableLayoutTopicOverview.PlentyForumTableLayout,
.PlentyForumTableLayoutSearchResult.PlentyForumTableLayout {
}

/* table row */
.PlentyForumTableLayoutForum.PlentyForumTableLayout &gt; div {
}
/* table cells standard */
.PlentyForumTableLayoutForum.PlentyForumTableLayout &gt; div &gt; div,
.PlentyForumTableLayoutTopicOverview.PlentyForumTableLayout &gt; div &gt; div,
.PlentyForumTableLayoutSearchResult.PlentyForumTableLayout &gt; div &gt; div {
padding: 5px 10px 5px 5px;
border-bottom: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
}
/* table cells last */
.PlentyForumTableLayoutForum.PlentyForumTableLayout &gt; div &gt; div:last-child,
.PlentyForumTableLayoutTopicOverview.PlentyForumTableLayout &gt; div &gt; div:last-child,
.PlentyForumTableLayoutSearchResult.PlentyForumTableLayout &gt; div &gt; div:last-child {
padding-right: 0;
border-right: none;
}
/* table first row cells (header) */
.PlentyForumTableLayoutForum.PlentyForumTableLayout &gt; div:first-child &gt; div,
.PlentyForumTableLayoutTopicOverview.PlentyForumTableLayout &gt; div:first-child &gt; div,
.PlentyForumTableLayoutSearchResult.PlentyForumTableLayout &gt; div:first-child &gt; div {
background: #EEEEEE;
border-bottom: 3px solid #cccccc;
border-right: 1px solid #e6e6e6;
font-size: 14px;
font-weight: normal;
color: #444444;
line-height: 24px;
}
/* table first row last cell */
.PlentyForumTableLayoutForum.PlentyForumTableLayout &gt; div:first-child &gt; div:last-child,
.PlentyForumTableLayoutTopicOverview.PlentyForumTableLayout &gt; div:first-child &gt; div:last-child,
.PlentyForumTableLayoutSearchResult.PlentyForumTableLayout &gt; div:first-child &gt; div:last-child {
border-right: none;
}
/* table last row cells */
.PlentyForumTableLayoutForum.PlentyForumTableLayout &gt; div:last-child &gt; div,
.PlentyForumTableLayoutTopicOverview.PlentyForumTableLayout &gt; div:last-child &gt; div,
.PlentyForumTableLayoutSearchResult.PlentyForumTableLayout &gt; div:last-child &gt; div {
border-bottom: none;
}
/* cell width category overview */
.PlentyForumHeader { width: 70%; }
.PlentyForumHeaderTopicCount { width: 5%; }
.PlentyForumHeaderPostCount { width: 5%; }
.PlentyForumHeaderLastPost { width: 20%; }

/* cell width topic overview */
.PlentyForumTopic { width: 75%; }
.PlentyForumTopicLastPost { width: 20%; }
.PlentyForumTopicTasks { width: 5%; padding-right: 5px !important; white-space: nowrap; }

/* search result */
.PlentyForumSearchResult { width: 60%; }
.PlentyForumSearchResultForumName { width: 20%; }
.PlentyForumSearchResultLastPost { width: 20%; }


/* individual style */

/* forum title */
.PlentyForumDescription &gt; div,
.PlentyForumLastPost &gt; div,
.PlentyForumTopicLastPost &gt; div {
font-size: 11px;
}
.PlentyForumDescription &gt; div:first-child,
.PlentyForumLastPost &gt; div:first-child,
.PlentyForumTopicLastPost &gt; div:first-child {
display: block; font-size: 13px;
}

/* row hover */
.PlentyForumContainer:hover,
.PlentyForumTopicContent:hover,
.PlentyForumSearchResultRow:hover {
background: #f8f8f8;
}



/* SUB CONTAINER / PAGINATION (FORUM SEARCH / FORUM LOGIN / ADD TOPIC) */


/* title sub container / pagination container */
.PlentyForumTopicHeader,
.PlentyForumPostHeader,
.PlentyForumPostAdminPanel,
.PlentyForumUserPageHeader,
.PlentyForumSearchResultHeader {
border-bottom: 1px solid #C2C2C2;
border-top: 1px solid #C2C2C2;
margin-bottom: 16px;
padding: 9px 0 8px;
}

/* search / login */
.PlentyForumTableLayoutSearch.PlentyForumTableLayout &gt; div &gt; div:first-child,
.PlentyForumTableLayoutLogin.PlentyForumTableLayout &gt; div &gt; div:first-child {
width: 120px;
padding-right: 10px;
vertical-align: middle;
}

/* cells with input / select / textarea */
.PlentyForumSearchContent,
.PlentyForumLoginEmailInput {
padding: 1px 0;
}

/* submit button */
.PlentyForumLoginMain input[type=submit],
.PlentyForumSearchMain input[type=submit],
.PlentyForumAddTopicMain input[type=submit],
.PlentyForumPostReplyButton input[type=submit],
.PlentyForumPostReplyButton input[type=button] {
padding: 0 20px;
margin-top: 7px;
}

/* container right (pagination) */
.PlentyForumPageCounterMain {
float: right;
}
.PlentyForumPageCounterMain div {
display: inline-block;
vertical-align: bottom;
}
.PlentyForumPageCounterRowElement select {
width: auto;
}
/* lost password */
.PlentyForumLoginLostPWD {
margin-top: 8px;
}


/* MAIN CONTAINER */

.PlentyForumTopicMain,
.PlentyForumSearchResultContainer,
.PlentyForumPostContent {
margin-bottom: 16px;
}


/* TASKS */

.PlentyForumTopicTasks &gt; div {
display: inline-block;
}
.PlentyForumTopicTasks &gt; div a,
.PlentyForumTopicTasks &gt; div a:hover,
.PlentyForumTopicTasks &gt; div a:focus,
.PlentyForumTopicTasks &gt; div input[type=image],
.PlentyForumTopicTasks &gt; div input[type=image]:hover,
.PlentyForumTopicTasks &gt; div input[type=image]:focus {
border: none;
}


/* CREATE TOPIC */

/* input container */
.PlentyForumAddTopicInputContainer {
float: left;
}
/* input / textarea */
.PlentyForumAddTopicMain input[type=text],
.PlentyForumAddTopicMain textarea,
.PlentyForumPostReplyMain textarea {
width: 542px !important;
}
.PlentyForumAddTopicMain textarea,
.PlentyForumPostReplyMain textarea {
height: 171px;
min-height: 100px;
resize: vertical;
}
/* label */
.PlentyForumAddTopicSubjectHeader,
.PlentyForumAddTopicMessageHeader {
margin-top: 5px;
}
/* smily container */
.PlentyForumAddTopicMain &gt; .PlentyForumPostReplyBBCodeSmiley {
margin-top: 10px;
}

/* BLOCK LINKS */
.PlentyForumDescriptionName &gt; a,
.PlentyForumTopic &gt; a,
.PlentyForumPostReplyLinkContainer &gt; a {
display: block;
}


/* TABLE FORUM ITEM POSTS */

/* main container */
.PlentyForumPostMain {
margin-bottom: 16px;
}

/* cell standard */
.PlentyForumTableLayoutPost &gt; div &gt; div {
border-color: #eeeeee;
border-width: 1px;
border-style: none solid solid none;
}
/* cell first-cell */
.PlentyForumTableLayoutPost &gt; div &gt; div:first-child {
border-left-style: solid;
border-bottom-color: #ffffff;
}
/* cell first-row */
.PlentyForumTableLayoutPost &gt; div:first-child &gt; div {
border-top-style: solid;
border-top-color: #eeeeee;
}

/* left cell */
.PlentyForumTableLayoutPost &gt; div &gt; div:first-child {
width: 250px;
background: #eeeeee;
padding-bottom: 42px;
}
/* right cell */
.PlentyForumTableLayoutPost &gt; div &gt; div:last-child {
vertical-align: top;
}

/* hover */

/* row */
.PlentyForumTableLayoutPost &gt; div:hover,
.PlentyForumTableLayoutPost &gt; div.hover {
}
/* left */
.PlentyForumTableLayoutPost &gt; div:hover &gt; div:first-child,
.PlentyForumTableLayoutPost &gt; div.hover &gt; div:first-child {
background: #e4e4e4;
}
/* right */
.PlentyForumTableLayoutPost &gt; div:hover &gt; div:last-child,
.PlentyForumTableLayoutPost &gt; div.hover &gt; div:last-child {
border-color: #cccccc;
}
/* right top */
.PlentyForumTableLayoutPost &gt; div:hover &gt; div:last-child &gt; div:first-child,
.PlentyForumTableLayoutPost &gt; div.hover &gt; div:last-child &gt; div:first-child {
background: #f4f4f4;
border-color: #bbbbbb;
}
/* right middle */
.PlentyForumTableLayoutPost &gt; div:hover &gt; div:last-child &gt; div.PlentyForumPostPath,
.PlentyForumTableLayoutPost &gt; div.hover &gt; div:last-child &gt; div.PlentyForumPostPath {
border-color: #dddddd;
}

/* member name / number posts */
.PlentyForumPostCustomerUsername,
.PlentyForumPostCount {
padding: 5px 10px 0;
}

.PlentyForumPostCustomerUsername {
font-weight: bold;
}

/* invisible table containers */
.PlentyForumTableLayoutPost &gt; div &gt; div.PlentyForumTableFixInvisible {
padding: 0;
border: none;
overflow: visible;
}
/* relative wrapper */
.PlentyForumTableLayoutPost &gt; div &gt; div.PlentyForumTableFixInvisible &gt; .PlentyForumPostTasksContainer {
position: relative;
}
/* absolute content */
.PlentyForumTableLayoutPost &gt; div &gt; div.PlentyForumTableFixInvisible &gt; .PlentyForumPostTasksContainer &gt; .PlentyForumPostTasks {
position: absolute;
top: -42px;
}

/* buttons container */
.PlentyForumPostTasks {
/*position: absolute;
left: 0;
bottom: 0;*/
padding: 10px;
}
/* buttons */
.PlentyForumPostTasks &gt; div {
display: inline-block;
}

/* date */
.PlentyForumPostDate {
border-bottom: 1px solid #cccccc;
padding: 5px 20px;
font-weight: bold;
background: #fcfcfc;
}
/* path */
.PlentyForumPostPath {
border-bottom: 1px solid #eeeeee;
color: #444444;
padding: 4px 20px;
}
/* message */
.PlentyForumPostMessage {
padding: 15px 20px;
}


/* CREATE POST */

/* main container */
.PlentyForumPostReplyMain {
margin-bottom: 16px;
}
.PlentyForumPostReplyMain &gt; form &gt; div {
/*padding: 0 10px;*/
}
/* left */
.PlentyForumPostReplyMessage {
float: left;
}
/* right */
.PlentyForumPostReplyBBCodeSmiley {
float: left;
margin-left: 20px;
}

/* create post */
.PlentyForumPostReplyContent {
padding: 10px;
}
/* textarea */
.PlentyForumMain .PlentyForumPostReplyTextInput {
margin-top: 0;
}

/* smilys containers */
.PlentyForumPostReplyBBCodeSmiley {
}
.PlentyForumSmileySelectionMain,
.PlentyForumBBCodeSelectionMain {
width: 110px;
float: left;
margin-right: 20px;
}
.PlentyForumSmileySelectionMain &gt; a,
.PlentyForumBBCodeSelectionMain &gt; a {
display: block;
background: #eeeeee;
border-bottom: 2px solid #cccccc;
padding: 1px 10px;
cursor: pointer;
}
.PlentyForumSmileySelectionMain &gt; div,
.PlentyForumBBCodeSelectionMain &gt; div {
border: 1px solid #cccccc;
padding: 5px 10px;
}
/* smilys */
.PlentyForumSmiley &gt; a {
display: inline-block;
padding: 2px;
}
/* code */
.PlentyForumBBCode &gt; a { display: block; font-size: 12px; line-height: 18px; }
.PlentyForumBBCode &gt; a:nth-child(1) { font-weight: bold; }
.PlentyForumBBCode &gt; a:nth-child(2) { font-style: italic; }
.PlentyForumBBCode &gt; a:nth-child(3) { text-decoration: underline; }
.PlentyForumBBCode &gt; a:nth-child(4) { font-weight: bold; letter-spacing: .15em; }
.PlentyForumBBCode &gt; a:nth-child(5):before { content: "&lt;"; }
.PlentyForumBBCode &gt; a:nth-child(5):after { content: "&gt;"; }
.PlentyForumBBCode &gt; a:nth-child(6) { color: #ff0000; }
.PlentyForumBBCode &gt; a:nth-child(7):before { content: ',,'; }
.PlentyForumBBCode &gt; a:nth-child(7):after { content: '"'; }

/* send button container */
.PlentyForumPostReplyButton {
clear: both;
}

/* quote */
.PlentyForumPostQuote {
color: #999999;
font-style: italic;
}

/* EDIT POST */

/* textarea */
.PlentyForumPostReplyTextInput {
width: 548px;
height: 296px;
min-height: 100px;
resize: vertical !important;
}
/* smilys */
.PlentyForumPostMessageTextAreaHiddenContainer .PlentyForumPostReplyBBCodeSmiley {
width: 110px;
}
/* bbcode */
.PlentyForumPostMessageTextAreaHiddenContainer .PlentyForumPostReplyBBCodeSmiley .PlentyForumBBCodeSelectionMain {
margin-top: 15px;
}

/* note edited by */
.PlentyForumPostEditedContainer {
border-top: 1px solid #CCCCCC;
margin-top: 15px;
padding: 5px 0 0;
color: #999999;
}
.PlentyForumPostEditedContainer &gt; div {
display: inline-block;
}


/* ADMIN PANEL */

.PlentyForumPostAdminPanel &gt; div {
display: inline-block;
margin-right: -4px;
}


/* SEARCH / LOGIN / CREATE TOPIC CONTAINERS */

.PlentyForumLoginMain,
.PlentyForumSearchMain,
.PlentyForumAddTopicMain {
border: 1px solid #eeeeee;
padding: 10px;
}


/* OVERLAY */

/* overlay */
.PlentyForumOverlay,
.PlentyPopupOverlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: #000000;
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
filter: alpha(opacity=50);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
opacity: 0.5;
z-index: 40000;
}


/* POPUP */

/* popup container */

.PlentyForumPopupWrapper,
.PlentyMessagePopupWrapper {
display: none;
position: absolute;
top: 25px;
z-index: 40001;
width: 328px; /* margin left is 1/2 of width */
margin-left: -179px;
left: 50%;

background: #ffffff;
border: 4px solid #EEEEEE;
padding: 0 10px;

-moz-box-shadow: 1px 2px 6px 1px rgba(38, 43, 55, 0.3);
-webkit-box-shadow: 1px 2px 6px 1px rgba(38, 43, 55, 0.3);
box-shadow: 1px 2px 6px 1px rgba(38, 43, 55, 0.3);
}

/* popup container hover */

.PlentyForumPopupWrapper:hover,
.PlentyMessagePopupWrapper:hover {
-moz-box-shadow: 1px 3px 10px 1px rgba(38, 43, 55, 0.45);
-webkit-box-shadow: 1px 3px 10px 1px rgba(38, 43, 55, 0.45);
box-shadow: 1px 3px 10px 1px rgba(38, 43, 55, 0.45);
}

/* popup container inner */

.PlentyForumPopupContainer,
.PlentyMessagePopupContainer {
}

/* popup header */

.PlentyForumPopupHeader,
.PlentyMessagePopupHeader {
color: #444444;
font-size: 18px;
font-weight: 400;
line-height: 26px;
border-bottom: 1px solid #000000;
padding: 7px 1px 3px;
}
/* header title left */
.PlentyForumPopupTitle,
.PlentyMessagePopupTitle {
float: left;
display: inline-block;
font-size: 14px;
}
/* header icon right */
.PlentyForumPopupClose,
.PlentyMessagePopupClose {
float: right;
display: inline-block;
margin-right: 2px;
}
/* close icon */
.PlentyForumPopupClose &gt; a,
.PlentyMessagePopupClose &gt; a {
display: inline-block;
height: 19px; /*16px*/
width: 19px; /*16px*/
margin-right: -3px;
position: relative;
top: 1px;
background: url(/images/icons/silk/close_tab.png ) left center no-repeat #cccccc;
cursor: pointer;
}
/* close icon hover / focus */
.PlentyForumPopupClose &gt; a:hover,
.PlentyForumPopupClose &gt; a:focus,
.PlentyMessagePopupClose &gt; a:hover,
.PlentyMessagePopupClose &gt; a:focus {
background-position: right center;
}

/* popup content */

.PlentyForumPopupContent,
.PlentyMessagePopupContent {
padding: 10px 0;
font-size: 12px;
line-height: 12px;
}

/* popup buttons */

/* left */
.PlentyForumPopupButtonLeft {
width: 50%;
float: left;
margin-top: 10px !important;
}
.PlentyForumPopupButtonLeft &gt; input {
float: right;
margin-right: 4px;
}
/* right */
.PlentyForumPopupButtonRight {
width: 50%;
float: right;
margin-top: 10px !important;
}
.PlentyForumPopupButtonRight &gt; input {
float: left;
margin-left: 4px;
}
.PlentyForumPopupButtonLeft &gt; input,
.PlentyForumPopupButtonRight &gt; input {
width: 75px;
}
.PlentyClear {
clear: both;
}

/* fix status message */
.PlentyMessagePopupWrapper .plentyErrorBox,
.PlentyMessagePopupWrapper .plentyMessageBox { display: block; }
/* popup advice message box */
.PlentyMessagePopupWrapper .plentyMessageBox,
.PlentyMessagePopupWrapper .plentyErrorBox {
margin-bottom: 0;
line-height: 15px;
width: auto;
}

/* LATEST ACTIVE TOPICS */

.PlentyForumTopicActive .PlentyForumTopic {
font-weight: bold;
}
.PlentyForumTopicActive a {
color: #000000;
}



/* ERROR / STATUS MESSAGES */

/* error / success box */
.plentyMessageBox,
.plentyErrorBox {
width: auto;
background: transparent;
border: 1px solid;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 8px 10px;
-moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
-webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
color: #444444;
text-shadow: 0px 1px 1px #ffffff;
filter: dropshadow(color=#ffffff, offx=0, offy=1);
}
/* success box */
.plentyMessageBox {
border-color: #49DD39;
/*box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 -58px 40px -40px #49DD39 inset;*/
background: -moz-linear-gradient(top, rgba(255,255,255,0.29) 0%, rgba(220,249,217,0.29) 19%, rgba(73,221,57,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.29)), color-stop(19%,rgba(220,249,217,0.29)), color-stop(100%,rgba(73,221,57,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.29) 0%,rgba(220,249,217,0.29) 19%,rgba(73,221,57,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0.29) 0%,rgba(220,249,217,0.29) 19%,rgba(73,221,57,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0.29) 0%,rgba(220,249,217,0.29) 19%,rgba(73,221,57,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0.29) 0%,rgba(220,249,217,0.29) 19%,rgba(73,221,57,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4affffff', endColorstr='#cc49dd39',GradientType=0 ); /* IE6-9 */
}
/* error box */
.plentyErrorBox {
border-color: #ff1a1a;
color: #000000;
/*box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 -58px 40px -40px #ff1a1a inset;*/
background: -moz-linear-gradient(top, rgba(255,255,255,0.29) 0%, rgba(255,211,211,0.29) 19%, rgba(255,26,26,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.29)), color-stop(19%,rgba(255,211,211,0.29)), color-stop(100%,rgba(255,26,26,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.29) 0%,rgba(255,211,211,0.29) 19%,rgba(255,26,26,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0.29) 0%,rgba(255,211,211,0.29) 19%,rgba(255,26,26,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0.29) 0%,rgba(255,211,211,0.29) 19%,rgba(255,26,26,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0.29) 0%,rgba(255,211,211,0.29) 19%,rgba(255,26,26,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4affffff', endColorstr='#ccff1a1a',GradientType=0 ); /* IE6-9 */
}

/* error / success title */
.plentyMessageBoxTitle,
.plentyErrorBoxTitle {
/*min-height: 32px;*/ /*show background img*/
margin: -4px -2px 4px;
padding: 0 0 0 36px;
line-height: 32px;
color: #444444;
text-shadow: 0px 2px 2px #ffffff;
filter: dropshadow(color=#ffffff, offx=0, offy=1);
}
/* success title */
.plentyMessageBoxTitle {
background: url("/layout/cyt-layout/images/success.png") no-repeat;
}
/* error title */
.plentyErrorBoxTitle {
background: url("/layout/cyt-layout/images/error.png") no-repeat;
}

/* box after box */
.plentyMessageBox + .plentyErrorBox,
.plentyErrorBox + .plentyMessageBox,
.plentyMessageBox + .plentyMessageBox,
.plentyErrorBox + .plentyErrorBox {
margin-top: 10px;
}</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_ändern_von_benutzernamen_erlauben">4.3.3. Ändern von Benutzernamen erlauben</h4>
<div class="paragraph">
<p>Nimm die folgende Einstellung vor, wenn du möchtest, dass deine Kunden den Benutzernamen für das Forum ändern können.</p>
</div>
<div class="paragraph instruction">
<p>Persönliche Daten konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Wähle den Ordner <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Öffne das Untermenü <strong>Persönliche Daten</strong>.</p>
</li>
<li>
<p>Wähle für die Option <strong>Benutzername Forum</strong> die Option <strong>Änderbar</strong>.</p>
</li>
<li>
<p>Prüfe die Bezeichnung und ändere sie, wenn eine andere Bezeichnung für diese Option im Bereich <strong>Mein Konto</strong> angezeigt werden soll.<br>
→ Die Option zur Eingabe eines eigenen Benutzernamens für das Forum wird im Bereich <strong>Mein Konto</strong> angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Kunden können dann im <strong>Mein Konto</strong>-Bereich deines Webshops unter <strong>Persönliche Daten</strong> einen eigenen <strong>Benutzernamen</strong> für das Forum eintragen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Forum-Anmeldung</div>
<div class="paragraph">
<p>Zur Anmeldung im Forum werden die Zugangsdaten zum Webshop benötigt, also die E-Mail-Adresse und das Passwort. Bei Login in den Webshop erfolgt gleichzeitig die Anmeldung im Forum.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_themen_und_foren_abonnieren">4.4. Themen und Foren abonnieren</h3>
<div class="paragraph">
<p>Deine Kunden können bestimmte Themen oder ganze Foren abonnieren. Sie erhalten dann bei neuen Beiträgen automatisch eine E-Mail. Die Abo-Schaltflächen stehen dir standardmäßig zur Verfügung. Gehe wie unten beschrieben vor, um eine E-Mail-Vorlage für abonnierte Themen und Foren einzurichten.</p>
</div>
<div class="sect3">
<h4 id="_e_mail_vorlage_für_abonnierte_themen_und_foren_einrichten">4.4.1. E-Mail-Vorlage für abonnierte Themen und Foren einrichten</h4>
<div class="paragraph">
<p>Damit deine Kunden automatisch über abonnierte Themen benachrichtigt werden, musst du eine E-Mail-Vorlage erstellen. Diese Vorlage wird dann in einem weiteren Schritt für den automatischen Versand eingestellt.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage für abonnierte Forumsbeiträge einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <a href="/crm/e-mails-versenden#1200">Einrichtung » Mandant » Mandant wählen » E-Mail » Vorlagen</a>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Neue E-Mail-Vorlage</strong>.</p>
</li>
<li>
<p>Trage einen Namen ein, z.B. <strong>Neuer Forumsbeitrag</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen wie auf der Handbuchseite <a href="/crm/e-mails-versenden#1200">Vorlagen</a> beschrieben vor.<br></p>
</li>
<li>
<p>Wechsle in das Tab <strong>E-Mail-Nachricht</strong>.</p>
</li>
<li>
<p>Trage den gewünschten Text ein.</p>
</li>
<li>
<p>Füge die Template-Variable <strong>$ForumSubscription</strong> in die Nachricht ein. Über diese Varible wird dem E-Mail-Empfänger die Nachricht aus dem abonnierten Thema angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_automatischen_versand_für_forum_e_mails_einrichten">4.4.2. Automatischen Versand für Forum-E-Mails einrichten</h4>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die wie oben beschrieben erstellte E-Mail-Vorlage für den automatischen Versand einzurichten. Die Benachrichtigungen werden alle 15 Minuten gesammelt in einer E-Mail an den Abonnenten verschickt. Der Versand erfolgt also nicht sofort nach Veröffentlichung eines neuen Beitrags.</p>
</div>
<div class="paragraph instruction">
<p>Automatischen Versand einrichten</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <a href="/crm/e-mails-versenden#1800">Einrichtung » Mandant » Mandant wählen » E-Mail » Automatischer Versand</a>.</p>
</li>
<li>
<p>Wähle für die Option <strong>Forum-Benachrichtigung</strong> die wie oben beschrieben erstellte E-Mail-Vorlage.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>