<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> First aid: Problems with linking your PayPal account with plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>1.1.</span><span> I am using Ceres and the PayPal Plugin. What am I to do if I am not redirected to plentymarkets after I activated my PayPal account?</span></a></li>
<li><a href="#120"><span>1.2.</span><span> I am using Ceres and the PayPal Plugin. What am I to do if I am asked to sign up for a business account again?</span></a></li>
<li><a href="#130"><span>1.3.</span><span> I am using Callisto and PayPal PLUS. What am I to do if I am not redirected to plentymarktes?</span></a></li>
<li><a href="#140"><span>1.4.</span><span> I am using Callisto and PayPal. What am I to do if Code 87 is displayed when saving the interface settings?</span></a></li>
<li><a href="#150"><span>1.5.</span><span> I am using Callisto and PayPal. What am I to do if the button for linking the PayPal account with plentymarkets is missing?</span></a></li>
<li><a href="#_i_am_using_callisto_and_paypal_what_does_the_message_an_error_occurred_mean"><span>1.6.</span><span> I am using Callisto and PayPal. What does the message An error occurred mean?</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FAQ PayPal-Plugin</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You can get all the important information about the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/paypal_4690" target="_blank" rel="noopener">PayPal-Plugin</a> in the plentyMarketplace.
Additionally, you can also make use of our <a href="https://forum.plentymarkets.com/c/payment" target="_blank" rel="noopener">forum</a>. You can either look for information in already existing threads or open a new thread and ask our supporters.
In the following, we compiled FAQ about how to link your PayPal account with plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. First aid: Problems with linking your PayPal account with plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have problems with linking your PayPal account with plentymarkets, it is advisable to use a different browser, just to eliminate this as a source of errors.
Moreover, you should make sure that there are no basic problems with your PayPal account itself.
Possibly, the email address was not confirmed yet, PayPal PLUS was not activated yet or you did not set a password yet.
More possible sources of error and their solutions are described below.</p>
</div>
<div class="sect2">
<h3 id="110">1.1. I am using Ceres and the PayPal Plugin. What am I to do if I am not redirected to plentymarkets after I activated my PayPal account?</h3>
<div class="paragraph">
<p>Please check first whether the <a href="#plugins/updating-installed-plugins">latest PayPal plugin version</a> is installed and deployed in your plentymarkets system (<span class="icon purple"><i class="fa fa-download  "></i></span>).</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Activation and preview of the plugin</div>
<div class="paragraph">
<p>Make sure that the PayPal plugin is already activated and deployed in the <a href="#plugins/installing-added-pliugins">Plugin-Set</a> of the main client at the point of linking your account with plentymarkets. If this is not the case, malfunctions can occur.<br></p>
</div>
<div class="paragraph">
<p>Attention: The plugin-set preview must <strong>not</strong> be open while the PayPal account is linked with plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Solution 1:</strong> Change the browser and try again. plentymarkets supports the browsers Google Chrome and Mozilla Firefox.</p>
</li>
<li>
<p><strong>Solution 2:</strong> There is still an active API right in the PayPal account. Remove the rights for plentymarkets.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">NOTE</div>
<div class="paragraph">
<p>With removing the API rights, all linked PayPal accounts are disconnected from your plentymarkets system. In case a PayPal account is linked with the market <strong>eBay</strong>, this account has to be linked with the PayPal interface again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="120">1.2. I am using Ceres and the PayPal Plugin. What am I to do if I am asked to sign up for a business account again?</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Fehler_2.png" alt="Plugin Fehlermeldung 2">
</div>
<div class="title">Figure 1. Ansicht f체r die Konto-Einrichtung</div>
</div>
<div class="paragraph">
<p>If this window opens, check whether the data for "add PayPal account" were correctly inserted.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Dateneingabe.png" alt="Plugin Daten">
</div>
<div class="title">Figure 2. Eingabemaske in plentymarkets</div>
</div>
<div class="paragraph">
<p><strong>Email:</strong> Use the email address you are also using for your PayPal login.<br>
<strong>Umgebung:</strong> Choose whether you want to use the account for the test version or the live version.<br>
<strong>PayPal PLUS:</strong> Only activate this, if you also signed up for PayPal PLUS.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">1.3. I am using Callisto and PayPal PLUS. What am I to do if I am not redirected to plentymarktes?</h3>
<div class="paragraph">
<p>Check first whether you really signed up for PayPal PLUS. If one of the following errors occurs, apply one of the solutions below:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PPP_Fehler_1.png" alt="PayPal PLUS Fehler 1">
</div>
<div class="title">Figure 3. Die Schaltfl채che <strong>Zur체ck zum Shop</strong> fehlt</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PPP_Fehler_2.jpg" alt="PayPal PLUS Fehler 2">
</div>
<div class="title">Figure 4. In PayPal wird eine Fehlermeldung ausgegeben</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Solution 1:</strong> Insert and call up the following URL in your browser: <a href="https://www.paypal.com/DE/merchantsignup/partner/grantPermissionOauth" class="bare">https://www.paypal.com/DE/merchantsignup/partner/grantPermissionOauth</a>.</p>
</li>
<li>
<p><strong>Solution 2:</strong> There ist still an active API right in the PayPal account. Remove the rights for plentymarkets. Die API-Berechtigung ist unter folgender URL zu finden: <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths" class="bare">https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">NOTE</div>
<div class="paragraph">
<p>With removing the API rights, the linked PayPal account is disconnected from your plentymarkets system. Please link it again after the removal of the API rights.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">1.4. I am using Callisto and PayPal. What am I to do if <strong>Code 87</strong> is displayed when saving the interface settings?</h3>
<div class="paragraph">
<p>If <strong>Code 87</strong> appears when you are saving the interface settings, deposit a https-URL. The message is displayed because the PayPal online profile cannot be saved. Despite that the account is correctly linked.</p>
</div>
</div>
<div class="sect2">
<h3 id="150">1.5. I am using Callisto and PayPal. What am I to do if the button for linking the PayPal account with plentymarkets is missing?</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-konto_plus.png" alt="PayPal Konto hinzuf체gen">
</div>
<div class="title">Figure 5. Das "+" fehlt neben dem Speichersymbol</div>
</div>
<div class="paragraph">
<p>Save (<span class="icon green"><i class="fa fa-save  "></i></span>) the interface settings and the button should be displayed.</p>
</div>
</div>
<div class="sect2">
<h3 id="_i_am_using_callisto_and_paypal_what_does_the_message_an_error_occurred_mean">1.6. I am using Callisto and PayPal. What does the message <strong>An error occurred</strong> mean?</h3>
<div class="paragraph">
<p>If this message appears during the redirection, an email address might still have to be confirmed.
<a href="https://www.paypal.de/emailbestaetigung" class="bare">https://www.paypal.de/emailbestaetigung</a>.</p>
</div>
</div>
</div>
</div>
</main>