<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#1700"><span>1.</span><span> Importing data with assistants</span></a>
<ul class="sectlevel2">
<li><a href="#1800"><span>1.1.</span><span> Completing the Contact data import assistant</span></a></li>
<li><a href="#1900"><span>1.2.</span><span> Completing the Item import assistant</span></a></li>
<li><a href="#1200"><span>1.3.</span><span> Completing the Upload data assistant</span></a></li>
</ul>
</li>
<li><a href="#1210"><span>2.</span><span> Creating an import</span></a></li>
<li><a href="#1300"><span>3.</span><span> Setting the import options</span></a></li>
<li><a href="#1400"><span>4.</span><span> Setting the matching</span></a></li>
<li><a href="#1500"><span>5.</span><span> Creating a mapping</span></a>
<ul class="sectlevel2">
<li><a href="#1510"><span>5.1.</span><span> Activating lines of a mapping for the import</span></a></li>
<li><a href="#1515"><span>5.2.</span><span> Activating/deactivating mappings</span></a></li>
<li><a href="#1520"><span>5.3.</span><span> Replacing values with the RegEx function</span></a></li>
<li><a href="#1520"><span>5.4.</span><span> Own assignment</span></a></li>
<li><a href="#1530"><span>5.5.</span><span> Manipulating an import file via the own assignment</span></a></li>
</ul>
</li>
<li><a href="#1600"><span>6.</span><span> Filtering import data</span></a></li>
<li><a href="#1605"><span>7.</span><span> Error messages and troubleshooting in the import tool</span></a>
<ul class="sectlevel2">
<li><a href="#1610"><span>7.1.</span><span> Checking imports for errors before the run</span></a></li>
<li><a href="#1615"><span>7.2.</span><span> Testing the import and importing sample data</span></a></li>
<li><a href="#1620"><span>7.3.</span><span> Viewing the log of a completed import</span></a></li>
<li><a href="#1625"><span>7.4.</span><span> Viewing success and error messages of imports</span></a></li>
</ul>
</li>
<li><a href="#1630"><span>8.</span><span> Copying imports</span></a></li>
<li><a href="#1640"><span>9.</span><span> Carrying out imports and exports</span></a></li>
<li><a href="#1645"><span>10.</span><span> Cancelling an import</span></a></li>
<li><a href="#1650"><span>11.</span><span> Uploading files quickly and easily</span></a></li>
<li><a href="#1710"><span>12.</span><span> Processing jobs in the queue</span></a></li>
<li><a href="#1715"><span>13.</span><span> Viewing the status of imports</span></a>
<ul class="sectlevel2">
<li><a href="#1611"><span>13.1.</span><span> Filtering for imports</span></a></li>
<li><a href="#_detail_view_of_import_errors"><span>13.2.</span><span> Detail view of import errors</span></a></li>
</ul>
</li>
<li><a href="#1730"><span>14.</span><span> Restoring backups of imports</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Using the import tool</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This manual page describes how to import data using the import tool. Importing data is recommended if you want to add new items, customer data or stock etc. to your plentymarkets system and you already have this data available in digital format. The import tool allows to carry out data imports by creating imports. You can import your data manually or automatically.</p>
</div>
<h3 id="_assigning_rights_for_back_end_users" class="discrete">Assigning rights for back end users</h3>
<div class="paragraph">
<p><strong>Back end</strong> type users <a href="/en/business-decisions/user-accounts-access#105">can only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to work with imports and mappings, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Data &gt; Sync &gt; Create</strong></p>
</li>
<li>
<p><strong>Data &gt; Sync &gt; Delete</strong></p>
</li>
<li>
<p><strong>Data &gt; Sync &gt; Show</strong></p>
</li>
<li>
<p><strong>Data &gt; Sync &gt; Update</strong></p>
</li>
<li>
<p><strong>Data &gt; Sync &gt; Mapping &gt; Create</strong></p>
</li>
<li>
<p><strong>Data &gt; Sync &gt; Mapping &gt; Delete</strong></p>
</li>
<li>
<p><strong>Data &gt; Sync &gt; Mapping &gt; Show</strong></p>
</li>
<li>
<p><strong>Data &gt; Sync &gt; Mapping &gt; Update</strong></p>
</li>
<li>
<p><strong>Data &gt; Data log</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Tip: How to grant rights</div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admin</strong> users can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Select a user.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">1. Importing data with assistants</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You want to import contact or item data and wonder what is the fastest way to do this in your plentymarkets system? In this case, use the corresponding assistants that will allow you to create an import template which you can fill with your data. The assistants will guide you step by step through all necessary settings and you can determine which data you want to import. Afterwards, you can use another assistant to directly upload the filled import template and carry out the import.</p>
</div>
<div class="sect2">
<h3 id="1800">1.1. Completing the Contact data import assistant</h3>
<div class="paragraph">
<p>If you want to import contact data, you can either use the import tool or the Contact data import assistant. This assistant will help you to create an import template tailored to your needs. Afterwards, you can download it and fill in your data.</p>
</div>
<div class="paragraph">
<p>You can find the Contact data import assistant in the menu under <strong>Setup » Assistants » Basic setup</strong>. With this assistant, you carry out the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You select the name for the import that should be displayed in the system later on.</p>
</li>
<li>
<p>You select which contact data, address data and company data you want to import.</p>
</li>
<li>
<p>You select which contacts and contact options you want to import.</p>
</li>
<li>
<p>You select which addresses you want to import.</p>
</li>
<li>
<p>You can download the import template as CSV file. Note that you must not change the first 3 lines.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you now want to carry out the import, you can use the <a href="#Upload data assistant">[Upload data assistant]</a>. Alternatively, you can go to the <strong>Data » Import</strong> menu and upload the import file in the respective import.</p>
</div>
</div>
<div class="sect2">
<h3 id="1900">1.2. Completing the Item import assistant</h3>
<div class="paragraph">
<p>If you want to import item data, you can either use the import tool or the Item import assistant. This assistant will help you to create an import template tailored to your needs. Afterwards, you can download it and fill in your data.</p>
</div>
<div class="paragraph">
<p>You can find the Item import assistant in the menu under <strong>Setup » Assistants » Basic setup</strong>. With this assistant, you carry out the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You select the name for the import that should be displayed in the system later on.</p>
</li>
<li>
<p>You select which item data you want to import.</p>
</li>
<li>
<p>You select which sales prices you want to import and determine the formatting.</p>
</li>
<li>
<p>You can download the import template as CSV file. Note that you must not change the first 3 lines.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you now want to carry out the import, you can use the <a href="#Upload data assistant">[Upload data assistant]</a>. Alternatively, you can go to the <strong>Data » Import</strong> menu and upload the import file in the respective import.</p>
</div>
</div>
<div class="sect2">
<h3 id="1200">1.3. Completing the Upload data assistant</h3>
<div class="paragraph">
<p>You can use the Upload data assistant to upload an import template containing your data and to directly carry out the import.</p>
</div>
<div class="paragraph">
<p>You can find the Upload data assistant in the menu under <strong>Setup » Assistants » Basic setup</strong>. With this assistant, you carry out the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You upload the import template containing your data.<br>
<strong><em>Note</em></strong>: If you do not have an import template yet, use the respective import assistant to create one.</p>
</li>
<li>
<p>You carry out the import. Here you can determine whether you want to directly carry out the import by finalising the assistant. Alternatively, you can start the import in the <strong>Data » Import</strong> menu.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Afterwards, you can see the import that you created with the assistant in the overview of the <strong>Data » Import</strong> menu. A matching does not exist here, as these are new data. In the <strong>Mapping</strong> tab of the import, all fields of your CSV file have already been mapped automatically to the plentymarkets data fields.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1210">2. Creating an import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The steps for creating and carrying out imports are identical for all import types. As such, the steps described in the following apply to all import types.</p>
</div>
<div class="paragraph">
<p>Go to <strong>Data » Import</strong> to create, edit and manage imports. Here, you can see an overview of all imports. With an import, you can assign the data of a file that is accessible via FTP or HTTPS to the data in plentymarkets and import them. When creating an import, you save information about the data source. Furthermore, it is important that you determine data for the matching and that you assign which data of your file corresponds to the data in plentymarkets. Use the matching to set what data is to be used to try to identify, if a data record already exists or not. Use the mapping to set which column in your file corresponds to which data field in plentymarkets. In the end, set an import interval. Proceed as described below to create an import.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Set the import interval in the end to avoid that an import is carried out too early</div>
<div class="paragraph">
<p>It is recommended to set the import interval in the end. By doing so, you avoid that an import is already carried out while you still carry out matching and mapping settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating an import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on <strong>Add import</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The editing area <strong>New import</strong> opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-create-sync">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The import is created.<br>
→ The matching settings of the import open.</p>
</li>
</ol>
</div>
<table id="table-create-sync" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating an import</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Basic data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. This name is displayed in the overview and can be used for the search.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an interval for carrying out imports.<br>
By choosing the option <strong>Schedule</strong> you can determine how often and at what time the imports shall be started.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type from the drop-down list.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-item">Item</a> = Select to import item and variation data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-attributes">Attribute</a> = Select to import attribute data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-orders">Orders</a> = Select to import order data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-properties">Properties</a> = Select to import properties.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-facets">Facets</a> = Select to import facets.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-parts-compatibility-listing">Parts compatibility listing</a> = Select to import parts compatibility listing data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-coupon-codes">Coupon codes</a> = Select to import coupon codes.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-manufacturer">Manufacturer</a> = Select to import manufacturer data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-campaigns">Campaigns</a> = Select to import coupon campaigns.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-categories">Categories</a> = Select to import category data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-contacts">Contacts, companies and addresses</a> = Select to import contact, company and address data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-warehouse">Warehouse</a> = Select to import storage locations.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-characteristic">Characteristic</a> = Select to import characteristic data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-newsletter-recipient">Newsletter recipient</a> = Select to import newsletter data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-notes">Notes</a> = Select to import notes.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-stock">Stock</a> = Select to import stock data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-incoming-items">Incoming items</a> = Select to import incoming item data.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Import</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Data type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the file format of the import file.<br>
Currently, <strong>CSV/TXT</strong> is the only available option, as only CSV or TXT files can be imported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the character set of the file or the option <strong>Detect automatically</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting in line</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a line starting from which the data should be imported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Header is included</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the import file contains a header.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use global cache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine whether the global cache should be used for a file or not. If the setting is activated, only modified data rows will be imported. If the setting is not activated, you can import one and the same file again at any time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic mapping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the mapping should be done automatically. The columns in the CSV or TXT file can be mapped automatically to the plentymarkets data fields. To ensure that the mapping works properly, the names of the fields that you selected in the FormatDesigner must not be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Separator</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The separator of the CSV or TXT file is automatically detected. This setting is activated by default.<br>
Alternatively, you can manually select the field separator that is set in the import file in order to separate the data fields (columns) of a data record from each other.<br>
Possible separators are <strong>Semicolon</strong>, <strong>Comma</strong>, <strong>Tab</strong> and <strong>Pipe</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delimiter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select delimiters within the fields that may contain multiple values.<br>
* " = individual values within one field are separated by double quotation marks.
* ' = individual values within one field are separated by single quotation marks.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Source</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Manual upload</strong>, <strong>FTP</strong>, <strong>HTTPS</strong> or <strong>SFTP</strong>.<br>
Depending on the selected option, the following settings are displayed:</p>
</div>
<div class="paragraph">
<p><strong>Manual upload</strong> = Select and upload a local file.<br>
After running an import, the file is automatically deleted from the webspace. This is preset by default. In order to save the file you need to remove the check mark. <strong><em>Note</em></strong>: storing the file on the webspace is subject to a fee.</p>
</div>
<div class="paragraph">
<p><strong>FTP</strong> = Host, port, user name, password and file name are displayed.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (mandatory field)</strong> = Enter the host of the FTP server.<br>
<strong><em>Tip:</em></strong> Use your plentymarkets FTP access.</p>
</li>
<li>
<p><strong>Port</strong> = Enter the port of the FTP server. If no port is entered, the standard port (22) is used.</p>
</li>
<li>
<p><strong>User name (mandatory field)</strong> = Enter the user name for the FTP access.</p>
</li>
<li>
<p><strong>Password (mandatory field)</strong> = Enter the password for the FTP access.</p>
</li>
<li>
<p><strong>File name</strong> = Enter the path and the name of the file from which the data is to be imported. The file name has to end with .csv or .txt.<br>
<strong><em>Note:</em></strong> You can use wildcard characters in the field <strong>File name</strong> by e.g. replacing a part of the file name with a <strong>*</strong>. Only use wildcard characters in combination with the option <strong>Move file to archive when import was successful</strong>.</p>
</li>
<li>
<p><strong>Move file to archive when import was successful</strong> = If this option is activated, the import file is automatically moved to the new <strong>Archive</strong> folder in the FTP directory once the import was successful.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>FTPS</strong> = Select <strong>FTP</strong> as source. Afterwards, tick the box further down that says <strong>FTP with SSL/TLS</strong>.<br>
Carry out the settings as described for the option <strong>FTP</strong>.</p>
</div>
<div class="paragraph">
<p><strong>HTTPS</strong> = Select <strong>External URL</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>External URL</strong> = Enter the URL to access the import file.<br>
<strong><em>Tip:</em></strong> Save the file on your plentymarkets webspace.</p>
</li>
<li>
<p><strong>Authentication:</strong> Select whether an authentication is required to access the file.</p>
<div class="ulist">
<ul>
<li>
<p><strong>none</strong> = no authentication required</p>
</li>
<li>
<p><strong>HTTP authentication</strong> = an authentication is required for each user and password</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>SFTP</strong> = Host, port, user name, password and file name are displayed.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (mandatory field)</strong> = Enter the host of the FTP server.<br></p>
</li>
<li>
<p><strong>Port (mandatory field)</strong> = Enter the port of the FTP server. If no port is entered, the standard port (22) is used.</p>
</li>
<li>
<p><strong>User name (mandatory field)</strong> = Enter the user name for the FTP access.</p>
</li>
<li>
<p><strong>Password (mandatory field)</strong> = Enter the password for the FTP access.</p>
</li>
<li>
<p><strong>File name</strong> = Enter the path and the name of the file from which the data is to be imported. The file name has to end with .csv or .txt.<br>
<strong><em>Note:</em></strong> You can use wildcard characters in the field <strong>File name</strong> by e.g. replacing a part of the file name with a <strong>*</strong>. Only use wildcard characters in combination with the option <strong>Move file to archive when import was successful</strong>.</p>
</li>
<li>
<p><strong>Move file to archive when import was successful</strong> = If this option is activated, the import file is automatically moved to the new <strong>Archive</strong> folder in the FTP directory once the import was successful.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">3. Setting the import options</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The import options can be found in the <strong>Matching</strong> area. They apply both for the matching and for the mapping.</p>
</div>
<div class="paragraph">
<p>Before we get to the specific settings of the import options you now have the opportunity to learn more about the data import by watching the following videos.
As already mentioned, data can be imported manually or automatically. If you are new to plentymarkets and you want to manually import your data one time, watch this video and learn how to initially transfer product or customer data into your system.<br>
<strong><em>Note:</em></strong> The term <strong>ElasticSync</strong> is outdated and has been replaced by <strong>import</strong>.</p>
</div>
<div class="videoblock">
<div class="title">Manually import you data one time</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/321227231" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>This video shows you how to instruct plentymarkets to automatically import new files and archive old ones.</p>
</div>
<div class="videoblock">
<div class="title">Automatically import new files and archive old ones</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/322745747" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>Back to the import options.</p>
</div>
<div class="paragraph instruction">
<p>Setting the import options:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on the import in the import overview.<br>
→ The settings open.</p>
</li>
<li>
<p>Switch to the <strong>Matching</strong> tab.</p>
</li>
<li>
<p>Determine the import options. Pay attention to the explanations given in <a href="#table-sync-import-options">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-sync-import-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Import options for imports</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Import option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select an import option</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Import new data, update existing</strong> = If data can be found by means of the matching fields, a new data record, e.g. a new item or a new order, is added. At the same time, existing data is updated.</p>
</li>
<li>
<p><strong>Only update existing data</strong> = Existing data is updated. If no data can be found by means of the matching fields, the data record is not imported.</p>
</li>
<li>
<p><strong>Only import new data</strong> = Only new data records are imported, i.e. any data for which no matching data is found based on the synchronisation fields.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>German spelling</strong> or <strong>English spelling</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>German spelling</strong> = Decimal numbers are separated by a comma and a full stop serves as thousands separator.</p>
</li>
<li>
<p><strong>English spelling</strong> = Decimal numbers are separated by a full stop and a comma serves as thousands separator.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the date format. If the date in the file corresponds to the standard format Y-m-d H:i:s, it is not necessary to enter another format. Other formats, however, have to be entered here. All <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">php-compliant date formats</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> are allowed.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1400">4. Setting the matching</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After creating an import, open it to carry out further settings. First, select the fields that should be used for matching the data. Determine what should happen if no existing data can be found during the matching process.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Matching is optional</div>
<div class="paragraph">
<p>Matching fields are optional settings. If you do not select a matching field, the data in your file cannot be assigned to existing data in your system. You can determine one, multiple or all matching fields. The displayed matching fields are different for each import type.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the matching:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on the import in the import overview.<br>
→ The settings open.</p>
</li>
<li>
<p>Switch to the <strong>Matching</strong> tab.</p>
</li>
<li>
<p>Carry out the settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">5. Creating a mapping</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With a mapping, you specify which column of your file corresponds to which data field in your system. Without this mapping, no data can be imported. You can create new mappings in the mapping tab. A position is automatically assigned to each new mapping and can be adjusted in the settings tab if necessary.</p>
</div>
<div class="paragraph instruction">
<p>Creating a mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on an import.<br>
→ The settings open.</p>
</li>
<li>
<p>Switch to the <strong>Mapping</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add mapping</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ A new window opens.</p>
</li>
<li>
<p>Enter a name for the mapping.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The mapping opens. → The available mapping fields differ according to the import type.</p>
</li>
<li>
<p>Select the data fields for the mapping by placing a checkmark in the fields.<br>
→ The selected data fields are added to the mapping.</p>
</li>
<li>
<p>Select a column from your file for each data field or select the option <strong>Own value</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You want to import a file into plentymarkets, but it’s missing a few key pieces of information? No need to modify the file by hand! This video shows you how to use the import tool’s "Own Value" function to add missing information to your import.<br>
<strong><em>Note:</em></strong> The term <strong>ElasticSync</strong> is outdated and has been replaced by <strong>import</strong>.</p>
</div>
<div class="videoblock">
<div class="title">Use the Own value to add missing information to your file</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/329761403" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Own value</div>
<div class="paragraph">
<p>The option <strong>Own value</strong> allows to import a fix value for the data field. This fixed value is thus identical for each data record that is imported via this import.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Mathematical calculations</div>
<div class="paragraph">
<p>In the mapping overview, select the option <strong>Mathematical calculations</strong> in order to adjust values in a CSV or TXT file during the import. The options addition (+), subtraction (-), multiplication (*), division (/) and the adaptation of percentages (+)/(-) are available. The value that is being adapted in the CSV or TXT column has to be a number.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1510">5.1. Activating lines of a mapping for the import</h3>
<div class="paragraph">
<p>In the <strong>Mapping</strong> section, you can activate (and also deactivate) all selected lines for the import with just one click. Alternatively, you can decide individually for each line whether you want it to be active or inactive, thus, whether it should be considered in the import or not.</p>
</div>
<div class="paragraph instruction">
<p>Activating lines for the import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on an import.<br>
→ The settings open.</p>
</li>
<li>
<p>Switch to the <strong>Mapping</strong> tab.</p>
</li>
<li>
<p>Click on a mapping.<br>
→ The mapping opens.</p>
</li>
<li>
<p>On the left, select all lines you want to consider in the import.</p>
</li>
<li>
<p>At the top, click on <strong>Activate all</strong> (<span class="icon green"><i class="fa fa-power-off  "></i></span>). By clicking on <strong>Deactivate all</strong> (<span class="icon red"><i class="fa fa-power-off  "></i></span>), you can deactivate all selected lines again.</p>
</li>
<li>
<p>Alternatively, click on <strong>Activate row</strong> (<span class="icon red"><i class="fa fa-toggle-off  "></i></span>) on the right to activate lines for the import individually.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">View of the mapping</div>
<div class="paragraph">
<p>On the left side of the mapping you can see the import data of the CSV or TXT file that have to be mapped on the plentymarkets page. The plentymarkets data fields are shown on the right. The preview (<span class="icon blue"><i class="fa fa-eye  "></i></span>) displays the first 6 values of the file.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Editing position and name</div>
<div class="paragraph">
<p>By clicking on <strong>Settings</strong> (<span class="icon black"><i class="fa fa-cog  "></i></span>) in the mapping, the fields <strong>Name</strong> and <strong>Position</strong> become visible and can be edited.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1515">5.2. Activating/deactivating mappings</h3>
<div class="paragraph">
<p>If you manage several mappings in the same import, you can deactivate or activate specific mappings of the import in the mapping overview by clicking on the toggle button in the column <strong>Active/Inactive</strong>. New mappings are active by default.</p>
</div>
</div>
<div class="sect2">
<h3 id="1520">5.3. Replacing values with the RegEx function</h3>
<div class="paragraph">
<p>In order to consider a CSV or TXT file during the import as desired, the so-called RegEx function (Regular Expression) can be applied. Thanks to this function, data is manipulated during the import by using commands, so that the CSV or TXT file does not need to be changed anymore. Watch this video to learn more about the RegEx function.<br>
<strong><em>Note:</em></strong> The term <strong>ElasticSync</strong> is outdated and has been replaced by <strong>import</strong>.</p>
</div>
<div class="videoblock">
<div class="title">Modify your data with the RegEx function</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/329761682" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>The following two examples will give an overview of the process.</p>
</div>
<div class="paragraph">
<p><strong>Example 1</strong>:<br>
<strong>Input</strong>: “24.12.2017”<br>
<strong>Search pattern</strong>: /^(\\d+).(\\d+).(\\d+)$/<br>
<strong>Replace pattern</strong>: $3﹣$2﹣$1<br>
<strong>Result</strong>: “2017-12-24”</p>
</div>
<div class="paragraph">
<p><strong>Example 2</strong>:<br>
<strong>Input</strong>: “Doe, John”<br>
<strong>Search pattern</strong>: /^(\\w+), (\\w+)$/ +), (\\w)$/<br>
<strong>Replace pattern</strong>: $2 $1 +<br>
<strong>Result</strong>: “John Doe”<br></p>
</div>
<div class="paragraph">
<p><strong>Explanation of the examples</strong>:<br>
Right at the beginning, there is the input. In a first step, the pattern to be searched for is inserted as search pattern. Afterwards, it is changed accordingly in the replace pattern, so that it is output during the import as required. Finally, the result is output as desired and will be considered in the CSV or TXT file.</p>
</div>
<div class="paragraph instruction">
<p>Replacing values:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on an import.<br>
→ The settings open.</p>
</li>
<li>
<p>Switch to the <strong>Mapping</strong> tab.</p>
</li>
<li>
<p>Click on a mapping.<br>
→ The mapping opens.</p>
</li>
<li>
<p>In the field <strong>Source</strong>, select the value <strong>Regular expression</strong>.<br>
→ The options for <strong>Regular expression</strong> open.</p>
</li>
<li>
<p>In the field <strong>Value</strong>, enter the column name of the CSV or TXT file (e.g. Package number, Order ID etc.).</p>
</li>
<li>
<p>In the field <strong>Search</strong>, enter the Search pattern.</p>
</li>
<li>
<p>In the field <strong>Replace</strong>, enter the Replace pattern.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The data fields are updated.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Info about RegEx</div>
<div class="paragraph">
<p>For further information on RegEx see <a href="http://php.net/manual/en/reference.pcre.pattern.syntax.php" target="_blank" rel="noopener">this</a> page or have a look <a href="https://regexr.com/" target="_blank" rel="noopener">here</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.
On the latter page, the RegEx engine setting has to be changed to PCRE. This can be done in the drop-down menu on the top right where Javascript is preset.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1520">5.4. Own assignment</h3>
<div class="paragraph">
<p>With the own assignment you can assign existing values of a CSV or TXT file to other values in the system. This enables to define, which value is supposed to be imported for which ID. In addition, for values in the CSV or TXT file that are not assigned, you can specify a default value. If no default value is specified, the original value is imported.</p>
</div>
<div class="paragraph instruction">
<p>Defining an own assignment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on an import.<br>
→ The settings open.</p>
</li>
<li>
<p>Switch to the <strong>Mapping</strong> tab.</p>
</li>
<li>
<p>Click on a mapping.<br>
→ The mapping opens.</p>
</li>
<li>
<p>In the drop-down menu of the <strong>Source</strong> field, select the option <strong>Own assignment</strong>.</p>
</li>
<li>
<p>Fill in the fields. Pay attention to the explanations given in <a href="#table-own-assignment">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-own-assignment" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Own assignment</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Field</strong></th>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the CSV or TXT column (e.g. Delivery country)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value, in case no assignment was found (e.g. 1)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>From</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Original value in the CSV or TXT file (e.g. DE for Germany)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>To</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value, to which the original value shall be mapped (e.g. 1 for DE, 10 for GB etc.)</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1530">5.5. Manipulating an import file via the own assignment</h3>
<div class="paragraph">
<p>In the following section we will demonstrate the usage of the own assignment shown by the example of <strong>Activating a shipping profile</strong>.<br>
To do so, an item/a variation as well as a shipping profile has to exist. The following video gives you an introduction on how the Own assignment works.<br>
<strong><em>Note:</em></strong> The term <strong>ElasticSync</strong> is outdated and has been replaced by <strong>import</strong>.</p>
</div>
<div class="videoblock">
<div class="title">Use the Own assignment to trade one piece of information for another</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/329761532" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/en-elasticsync-shipping-profile.png" alt="en elasticsync shipping profile">
</div>
<div class="title">Figure 1. Shipping profile</div>
</div>
<div class="paragraph">
<p>In order to link an item/a variation to a shipping profile, the ID is required. Just the name of the shipping profile shown in the import file is not sufficient to create a link.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/en-elasticsync-item-id.png" alt="en elasticsync item id">
</div>
<div class="title">Figure 2. Item ID</div>
</div>
<div class="paragraph">
<p>Use the own assignment in the import tool, which manipulates the data during the import. As source for the import data, select the value <strong>Own assignment</strong>.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/en-elasticsync-own-assignment.png" alt="en elasticsync own assignment">
</div>
<div class="title">Figure 3. Own assignment</div>
</div>
<div class="paragraph">
<p>For <strong>type</strong>, select the column from the import file. In this case, it is the column <strong>Shipping profile</strong>.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/en-elasticsync-type.png" alt="en elasticsync type">
</div>
<div class="title">Figure 4. Select the file format of the import file</div>
</div>
<div class="paragraph">
<p>Determine which value in the import file shall be changed to which value in order to successfully carry out the import. In this case, DPD shall be changed to the ID of the shipping profile (here ID 7). You can also do this for several shipping profiles by adding further own assignments.
Afterwards, carry out the import. The shipping profile is linked.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/en-elasticsync-determine-value.png" alt="en elasticsync determine value">
</div>
<div class="title">Figure 5. Determining a value</div>
</div>
<div class="paragraph">
<p>The own assignment can be used for many other cases. This applies in particular where internal IDs of plentymarkets play a role (e.g. characteristic names, item flags, payment methods, country ISO codes etc.).</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">6. Filtering import data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can use filters to limit the imported data. You find the filters in the <strong>Mapping</strong> area.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Multiple filters are linked with an AND condition</div>
<div class="paragraph">
<p>If you use multiple filters, only those data records that apply to all filters are imported. Thus, the filters are linked with an AND condition.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Adding a filter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on the import in the import overview.<br>
→ The settings open.</p>
</li>
<li>
<p>Switch to the <strong>Mapping</strong> tab.</p>
</li>
<li>
<p>Click on a mapping.<br>
→ The mapping opens.</p>
</li>
<li>
<p>Click on <strong>Filter</strong> (<span class="icon yellow"><i class="fa fa-filter  "></i></span>) in the toolbar.</p>
</li>
<li>
<p>Select the column from your file that you want to filter.</p>
</li>
<li>
<p>Select an operator.</p>
</li>
<li>
<p>Enter a value.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The filter is saved.</p>
</li>
<li>
<p>Add additional filters as necessary.<br>
→ Only data that meets all filter criteria is imported.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1605">7. Error messages and troubleshooting in the import tool</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The import tool offers you various possibilities to identify incorrect imports beforehand and to perform troubleshooting. Thus, you can for example check imports for errors before running them or you can view a log of concrete error messages once the import has been carried out. The different possibilities are listed below.</p>
</div>
<div class="sect2">
<h3 id="1610">7.1. Checking imports for errors before the run</h3>
<div class="paragraph">
<p>With the validation, imports can already be checked for errors before the run to guarantee a smooth import.</p>
</div>
<div class="paragraph instruction">
<p>Checking imports for errors before the run:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on an import.<br>
→ The settings open.</p>
</li>
<li>
<p>In the settings, matching or mapping tab, click on <strong>Validation</strong> (<span class="icon yellow"><i class="fa fa-bug  "></i></span>).<br>
→ A window opens and shows a table with the respective error messages.</p>
</li>
<li>
<p>In case an error occurred and you need help in the forum, click on <strong>Copy to clipboard</strong> (<span class="icon yellow"><i class="fa fa-clone  "></i></span>) and paste the information in the forum.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1615">7.2. Testing the import and importing sample data</h3>
<div class="paragraph">
<p>In the import overview you can test (<span class="icon yellow"><i class="fa fa-flask  "></i></span>) and run (<span class="icon grey"><i class="fa fa-play-circle  "></i></span>) imports. Testing allows you to quickly know whether your file can be imported correctly.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Testing the import</div>
<div class="paragraph">
<p>Note that stock is already being imported when testing an import. If you select <strong>Test import</strong> (<span class="icon yellow"><i class="fa fa-flask  "></i></span>), only the first 10 lines of the import file are imported.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1620">7.3. Viewing the log of a completed import</h3>
<div class="paragraph">
<p>A log listing errors that may have occurred is automatically created for each completed import.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the log of a completed import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Status</strong>.<br>
→ The status overview opens.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on <strong>Status</strong> (<span class="icon yellow"><i class="fa fa-bars  "></i></span>).<br>
→ The status overview opens.</p>
</li>
<li>
<p>Click on a completed import.<br>
→ The detail view opens.</p>
</li>
<li>
<p>At the top, click on <strong>Log</strong> (<span class="icon yellow"><i class="fa fa-bars  "></i></span>).<br>
→ A window opens and shows the log of the completed import.</p>
</li>
<li>
<p>In case an error occurred and you need help in the forum, click on <strong>Copy to clipboard</strong> (<span class="icon yellow"><i class="fa fa-clone  "></i></span>) and paste the information in the forum.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1625">7.4. Viewing success and error messages of imports</h3>
<div class="paragraph">
<p>In the <strong>Data » Log</strong> menu you can see success and error messages of imports. To find messages of specific imports, select the reference type <strong>importId</strong> or <strong>importName</strong> and enter the respective reference value. The specific success or error messages can be found in the <strong>Message</strong> column.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1630">8. Copying imports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can copy one import or multiple imports at the same time. That way, you can use imports that you have already configured in order to quickly create a new import.</p>
</div>
<div class="paragraph instruction">
<p>Copying imports:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Select one or multiple imports.</p>
</li>
<li>
<p>Click on <strong>Copy import</strong>.<br>
→ The import is copied. <strong>(copy)</strong> is added behind a copied import.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1640">9. Carrying out imports and exports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can import and export imports. Furthermore, you can save imports locally and import them from other users.
This video shows how to use preconfigured imports in order to safe time when importing data.<br>
<strong><em>Note:</em></strong> The term <strong>ElasticSync</strong> is outdated and has been replaced by <strong>import</strong>.</p>
</div>
<div class="videoblock">
<div class="title">Carrying out imports and exports</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/336295238" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph instruction">
<p>Carrying out imports and exports:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Select one or multiple imports.</p>
</li>
<li>
<p>Click on <strong>Export format</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ The import is automatically downloaded.</p>
</li>
<li>
<p>Click on <strong>Import format</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>).<br>
→ The file overview opens.</p>
</li>
<li>
<p>Click on <strong>Upload file</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>) and select a file.</p>
</li>
<li>
<p>Select the file that you would like to upload and click on <strong>Select</strong>.<br>
→ A message appears checking whether you want to carry out the import.</p>
</li>
<li>
<p>Click <strong>Ok</strong> in order to confirm.<br>
→ A message appears explaining that the import originates from another client.<br>
→ The import has been imported successfully.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Carrying out imports from another plentymarkets system</div>
<div class="paragraph">
<p>If you would like to carry out imports from another plentymarkets system, you have to adjust the matching and mapping settings. It is only possible to import <strong>.json</strong> files.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Importing and updating imports</div>
<div class="paragraph">
<p>If you want to import and update an import, a mapping and a matching are required. Otherwise, it is not possible to test or run an import. In order to save the import, a data field has to be activated in the mapping overview.<br>
If you just want to do an import, a mapping alone is sufficient.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1645">10. Cancelling an import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Under <strong>Data » Status</strong> you can cancel an import that has already been started. Thus, this function is only available if the import is currently being processed.</p>
</div>
<div class="paragraph instruction">
<p>Cancelling an import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Status</strong>.<br>
→ The status overview opens.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on <strong>Status</strong> (<span class="icon yellow"><i class="fa fa-bars  "></i></span>).<br>
→ The status overview opens.</p>
</li>
<li>
<p>At the very right in the line of the import that you want to cancel, click on <strong>Cancel import</strong> (<span class="icon red"><i class="fa fa-window-close  "></i></span>).<br>
→ A window opens and you need to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>Cancel import</strong>.<br>
→ The import is cancelled and only those rows that had already been imported when cancelling are in the system.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1650">11. Uploading files quickly and easily</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to quickly and easily upload files, click on <strong>File upload</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>) in the <strong>File name</strong> column.</p>
</div>
<div class="paragraph instruction">
<p>Uploading files quickly and easily:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>In the <strong>File name</strong> column, click on <strong>Upload file</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>).<br>
→ Your files open.</p>
</li>
<li>
<p>Select a file and click on <strong>Open</strong>.<br>
→ The file is uploaded and the file name is displayed in the column. After running the import, the file name disappears.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1710">12. Processing jobs in the queue</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The queue enables the import of large amounts of data. Before being imported, the import file is broken down into packages and processed in so-called jobs. A job consists of 750 lines of a CSV or TXT file. However, import files with less than 750 lines also make a job. Whenever an import is started, the file is split up into the respective jobs and is put into the queue. In the queue, new jobs are permanently retrieved and the imports are processed. There are two different statuses. The status <strong>Open jobs</strong> means that there are jobs in the queue waiting to be processed. <strong>Completed</strong> jobs on the contrary have already been processed and the data have been imported.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1715">13. Viewing the status of imports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The status overview of the imports shows the current progress of import jobs and displays details of errors that may have occurred during the import process.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the status of imports:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Status</strong>.<br>
→ The status overview opens.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Go to <strong>Data » Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on <strong>Status</strong> (<span class="icon yellow"><i class="fa fa-bars  "></i></span>).<br>
→ The status overview opens.<br></p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In each import line, there is also a separate status button you can use to open the status of this specific import.</p>
</div>
<table id="table-sync-status" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Import status</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Run ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Each time an import is started, a Run ID is created in order to better distinguish between the different imports.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Progress</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Progress of the import jobs. As soon as all jobs have been completed, the date and end time are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Error</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Errors that have been occurred in the import jobs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Imported rows</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of lines that have been imported from the CSV or TXT files</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total rows</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Total number of lines in the CSV or TXT file</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start time</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Start time of the import</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Cancellation when too many errors have occurred</div>
<div class="paragraph">
<p>In case too many errors occur during the processing of import jobs, the process is cancelled and an error message appears.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1611">13.1. Filtering for imports</h3>
<div class="paragraph">
<p>By using the filter in the status overview, you can filter for imports of the last 7 days and thus check the status of specific imports.</p>
</div>
<table id="table-filter-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Filter options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current status of the import. Select between <strong>In progress</strong> or <strong>Completed</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start date from</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the date as of which you want to filter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start time from</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the time as of which you want to filter. The start time refers to the start of the import.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start date to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the date up to which you want to filter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start time to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the time up to which you want to filter. The start time refers to the start of the import.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_detail_view_of_import_errors">13.2. Detail view of import errors</h3>
<div class="paragraph">
<p>In the status overview, you can click on an import to access the detail view where you will find further information on errors that may have been occurred. By clicking on a line of an error in the detail view, a new window opens and displays the name of the table header, the raw data as well es the concrete error message.</p>
</div>
<table id="table-detail-view-errors" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Details of import statuses</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Errors</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Line</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Line where the error occurred</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Column name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the column where the error occurred</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Error</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Concrete description of the occurred error</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Outcome</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Raw data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Raw data of the error</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1730">14. Restoring backups of imports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to reset import data to a previous state or restore deleted import data, you can do so by using the backup function.</p>
</div>
<div class="paragraph instruction">
<p>Restoring backups of imports:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Hosting » Backup</strong>.<br>
→ The backup overview opens.</p>
</li>
<li>
<p>In the line of the backup that you want to import, click on <strong>Restore backup</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>) on the right.</p>
</li>
<li>
<p>At the top, select <strong>Partially import data base</strong> and tick the box <strong>Import</strong>.</p>
</li>
<li>
<p>Click on <strong>Restore backup</strong>.<br>
→ The backup is restored.</p>
</li>
</ol>
</div>
</div>
</div>
</main>