<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#1210"><span>1.</span><span> Creating a sync</span></a></li>
<li><a href="#1300"><span>2.</span><span> Setting the import options</span></a></li>
<li><a href="#1400"><span>3.</span><span> Setting the matching</span></a></li>
<li><a href="#1500"><span>4.</span><span> Creating a mapping</span></a>
<ul class="sectlevel2">
<li><a href="#1510"><span>4.1.</span><span> Activating lines of a mapping for the import</span></a></li>
<li><a href="#1520"><span>4.2.</span><span> Replacing values with the RegEx function</span></a></li>
<li><a href="#1520"><span>4.3.</span><span> Own assignment</span></a></li>
<li><a href="#1530"><span>4.4.</span><span> Manipulating an import file via the own assignment</span></a></li>
</ul>
</li>
<li><a href="#1600"><span>5.</span><span> Filtering import data</span></a></li>
<li><a href="#1620"><span>6.</span><span> Report of sync import</span></a></li>
<li><a href="#1630"><span>7.</span><span> Copying syncs</span></a></li>
<li><a href="#1640"><span>8.</span><span> Exporting and importing a sync</span></a></li>
<li><a href="#1650"><span>9.</span><span> Uploading files quickly and easily</span></a></li>
<li><a href="#1700"><span>10.</span><span> Testing the sync and importing data</span></a></li>
<li><a href="#1710"><span>11.</span><span> Processing jobs in the queue</span></a></li>
<li><a href="#1720"><span>12.</span><span> Activating/deactivating mappings</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Importing data with ElasticSync</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual describes how to import data using ElasticSync. Importing data is recommended if you want to add new items, customer data or stock etc. to your plentymarkets system and you already have this data available in digital format. ElasticSync allows to carry out data imports by creating so-called syncs. You can import your data manually or automatically.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1210">1. Creating a sync</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The steps for creating and importing syncs are identical for all sync types. As such, the steps described in the following apply to all sync types.</p>
</div>
<div class="paragraph">
<p>Go to <strong>Data » ElasticSync</strong> to create, edit and manage syncs. Here, you can see an overview of all syncs. With a sync, you can assign the data of a file that is accessible via FTP or HTTP to the data in plentymarkets and import them. When creating a sync, you save information about the data source. Furthermore, it is important that you determine data for the matching and that you assign which data of your file corresponds to the data in plentymarkets. Use the matching to set what data is to be used to try to identify, if a data record already exists or not. Use the mapping to set which column in your file corresponds to which data field in plentymarkets. In the end, set an import interval. Proceed as described below to create a sync.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Set the import interval in the end to avoid that a sync is carried out too early</div>
<div class="paragraph">
<p>It is recommended to set the import interval in the end. By doing so, you avoid that a sync is already carried out while you still carry out matching and mapping settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a sync:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic Sync</strong>.</p>
</li>
<li>
<p>Click on <strong>Add sync</strong>.<br>
→ The editing area <strong>New sync</strong> is displayed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-create-sync">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The sync is created.<br>
→ The matching settings of the sync open.</p>
</li>
</ol>
</div>
<table id="table-create-sync" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a sync</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Basic data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. This name is displayed in the overview and can be used for the search.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an interval for the import of syncs.<br>
By choosing the option <strong>Schedule</strong> you can determine how often and at what time the import of syncs shall be started.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type from the drop-down list.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-item">Item</a> = Select to import item and variation data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-attribute">Attribute</a> = Select to import attribute data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-orders">Orders</a> = Select to import order data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-properties">Properties</a> = Select to import properties.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-facets">Facets</a> = Select to import facets.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-parts-compatibility-listing">Parts compatibility listing</a> = Select to import parts compatibility listing data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-coupon-codes">Coupon codes</a> = Select to import coupon codes.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-manufacturer">Manufacturer</a> = Select to import manufacturer data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-campaigns">Campaigns</a> = Select to import coupon campaigns.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-categories">Categories</a> = Select to import category data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-contacts">Contacts, companies and addresses</a> = Select to import contact, company and address data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-warehouse">Warehouse</a> = Select to import storage locations.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-characteristic">Characteristic</a> = Select to import characteristic data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-newsletter-recipient">Newsletter recipient</a> = Select to import newsletter data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-notes">Notes</a> = Select to import notes.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-stock">Stock</a> = Select to import stock data.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-incoming-items">Incoming items</a> = Select to import incoming item data.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Import</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Data type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the file format of the import file.<br>
Currently, <strong>CSV</strong> is the only available option.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the character set of the file or the option <strong>Detect automatically</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting in line</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a line starting from which the data should be imported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Header is included</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the import file contains a header.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use global cache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the global cache is to be used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic mapping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the mapping is to be done automatically. The columns in the CSV file can be automatically mapped with the plentymarkets data fields. To ensure that the mapping works properly, the names of the fields that you selected in the FormatDesigner must not be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Separator</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The separator of the CSV file is automatically detected. This setting is activated by default.<br>
Alternatively, you can manually select the field separator that is set in the import file in order to separate the data fields (columns) of a data record from each other.<br>
Possible separators are <strong>Semicolon</strong>, <strong>Comma</strong>, <strong>Tab</strong> and <strong>Pipe</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delimiter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select delimiters within the fields that may contain multiple values.<br>
* " = individual values within one field are separated by double quotation marks.
* ' = individual values within one field are separated by single quotation marks.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Source</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Manual Upload</strong>, <strong>FTP</strong>, <strong>HTTPS</strong> or <strong>SFTP</strong>.<br>
Depending on the selected option, the following settings are displayed:</p>
</div>
<div class="paragraph">
<p><strong>Manual Upload</strong> = Select and upload a local file.<br>
After running a sync, the file is automatically deleted from the webspace. This is preset by default. In order to save the file, remove the check mark. <strong><em>Note</em></strong>: storing the file on the webspace is subject to a fee.</p>
</div>
<div class="paragraph">
<p><strong>FTP</strong> = Host, port, user name, password and file name are displayed.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (mandatory field)</strong> = Enter the host of the FTP server.<br>
<strong><em>Tip:</em></strong> Use your plentymarkets FTP access.</p>
</li>
<li>
<p><strong>Port</strong> = Enter the port of the FTP server. If no port is entered, the standard port (22) is used.</p>
</li>
<li>
<p><strong>User name (mandatory field)</strong> = Enter the user name for the FTP access.</p>
</li>
<li>
<p><strong>Password (mandatory field)</strong> = Enter the password for the FTP access.</p>
</li>
<li>
<p><strong>File name</strong> = Enter the path and the name of the file from which the data is to be imported. The file name must end with .csv.<br>
<strong><em>Note:</em></strong> You can use wildcard characters in the field <strong>File name</strong> by e.g. replacing a part of the file name with a <strong>*</strong>. Only use wildcard characters in combination with the option <strong>Move file to archive when import was successful</strong>.</p>
</li>
<li>
<p><strong>Move file to archive when import was successful</strong> = If this option is activated, the import file is automatically moved to the new folder <strong>Archive</strong> in the FTP directory once import was successfully.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>HTTPS</strong> = Select <strong>External URL</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>External URL</strong> = Enter the URL to access the import file.<br>
<strong><em>Tip:</em></strong> Save the file on your plentymarkets Webspace.</p>
</li>
<li>
<p><strong>Authentication</strong>: Select whether an authentication is required to access the file.</p>
<div class="ulist">
<ul>
<li>
<p><strong>none</strong> = no authentication required</p>
</li>
<li>
<p><strong>HTTP authentication</strong> = = an authentication is required for each user and password</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>SFTP</strong> = Host, port, user name, password and file name are displayed.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (mandatory field)</strong> = Enter the host of the FTP server.<br></p>
</li>
<li>
<p><strong>Port (mandatory field)</strong> = Enter the port of the FTP server. If no port is entered, the standard port (22) is used.</p>
</li>
<li>
<p><strong>User name (mandatory field)</strong> = Enter the user name for the FTP access.</p>
</li>
<li>
<p><strong>Password (mandatory field)</strong> = Enter the password for the FTP access.</p>
</li>
<li>
<p><strong>File name</strong> = Enter the path and the name of the file from which the data is to be imported. The file name must end with .csv.<br>
<strong><em>Note:</em></strong> You can use wildcard characters in the field <strong>File name</strong> by e.g. replacing a part of the file name with a <strong>*</strong>. Only use wildcard characters in combination with the option <strong>Move file to archive when import was successful</strong>.</p>
</li>
<li>
<p><strong>Move file to archive when import was successful</strong> = If this option is activated, the import file is automatically moved to the new folder <strong>Archive</strong> in the FTP directory once import was successfully.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">2. Setting the import options</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The import options can be found in the <strong>Matching</strong> area. The import options apply both for the matching and for the mapping.</p>
</div>
<div class="paragraph instruction">
<p>Setting the import options:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic Sync</strong>.</p>
</li>
<li>
<p>Click on the sync in the sync overview.</p>
</li>
<li>
<p>Click on <strong>Matching</strong>.</p>
</li>
<li>
<p>Determine the import options. Pay attention to the explanations given in <a href="#table-sync-import-options">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-sync-import-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Import options for syncs</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Import option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select an import option</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Import new data, update existing</strong> = If data can be found by means of the matching fields, a new data record, e.g. a new item or a new order, is added. At the same time, existing data is updated.</p>
</li>
<li>
<p><strong>Only update existing data</strong> = Existing data is updated. If no data can be found by means of the matching fields, the data record is not imported.</p>
</li>
<li>
<p><strong>Only import new data</strong> = Only new data records are imported, i.e. any data for which no matching data is found based on the synchronisation fields.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>German spelling</strong> or <strong>English spelling</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>German spelling</strong> = Decimal numbers are separated by a comma and a full stop serves as thousands separator.</p>
</li>
<li>
<p><strong>English spelling</strong> = Decimal numbers are separated by a full stop and a comma serves as thousands separator.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the date format. If the date in the file corresponds to the standard format Y-m-d H:i:s, it is not necessary to enter another format. Other formats, however, must be entered here. All <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">php-compliant date formats</a> are allowed.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1400">3. Setting the matching</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you created a sync, open it to carry out further settings. First, you select the fields that should be used for matching the data. Determine what should happen if no existing data can be found during the matching process.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Matching is optional</div>
<div class="paragraph">
<p>Matching fields are optional settings. If you do not select a matching field, the data in your file cannot be assigned to existing data in your system. You can determine one, multiple or all matching fields. The displayed matching fields are different for each sync type.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the matching:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic Sync</strong>.</p>
</li>
<li>
<p>Click on the sync in the sync overview.</p>
</li>
<li>
<p>Click on <strong>Matching</strong>.</p>
</li>
<li>
<p>Carry out the settings.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">4. Creating a mapping</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With a mapping, you specify which column of your file corresponds to which data field in your system. Without this mapping, no data can be imported.</p>
</div>
<div class="paragraph instruction">
<p>Determining the mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic Sync</strong>.</p>
</li>
<li>
<p>Click on the sync in the sync overview.</p>
</li>
<li>
<p>Click on <strong>Mapping</strong>.</p>
</li>
<li>
<p>Click on <strong>Add mapping</strong>.</p>
</li>
<li>
<p>Enter a name for the mapping.</p>
</li>
<li>
<p>Enter a position for the mapping (optional).</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The available mapping fields differ according to the sync type.</p>
</li>
<li>
<p>Select the data fields for the mapping by placing a checkmark in the fields.<br>
→ The selected data fields are added to the mapping.</p>
</li>
<li>
<p>Select a column from your file for each data field or select the option <strong>Own value</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Own value</div>
<div class="paragraph">
<p>The option <strong>Own value</strong> allows to import a fix value for the data field. This fix value is thus identical for each data record that is imported via this sync.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Mathematical calculations</div>
<div class="paragraph">
<p>In the mapping overview, select the option <strong>Mathematical calculations</strong> in order to adjust values in the CSV file during the import. The options addition (), subtraction (-), multiplication (*), division (/) and the adaption of percentages ()/(-) are available. The value that is being adapted in the CSV column must be a number.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1510">4.1. Activating lines of a mapping for the import</h3>
<div class="paragraph">
<p>In the <strong>Mapping</strong> section, you can activate all lines for the import with just one click. Alternatively, you can decide individually for each line whether you want it to be active or inactive, thus, whether it should be considered in the import or not.</p>
</div>
<div class="paragraph instruction">
<p>Activating lines for the import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic Sync</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Click on a sync.<br>
→ The <strong>Mapping</strong> overview opens.</p>
</li>
<li>
<p>Click on a mapping.<br>
→ The mapping opens.</p>
</li>
<li>
<p>On the left, click on <strong>Activate all</strong> in order to consider all lines in the import.</p>
</li>
<li>
<p>Alternatively, select a line and click on <strong>Activate line</strong> in order to just consider this line in the import.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">View of the mapping</div>
<div class="paragraph">
<p>On the left side of the mapping you can see the import data of the CSV file that have to be mapped on the plentymarkets page. The plentymarkets data fields are shown on the right. The preview displays the first 6 values of the CSV file.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1520">4.2. Replacing values with the RegEx function</h3>
<div class="paragraph">
<p>In order to consider a CSV file during the import as desired, the so-called RegEx function can be applied. Thanks to this function, data is manipulated during the import by using commands, so that the CSV file does not need to be changed anymore.</p>
</div>
<div class="paragraph">
<p>The following two examples will give an overview of the process.</p>
</div>
<div class="paragraph">
<p><strong>Example 1</strong>:<br>
<strong>Input</strong>: “24.12.2017”<br>
<strong>Search pattern</strong>\: /^(\\d+).(\\d+).(\\d+)$/<br>
<strong>Replace pattern</strong>\: $3﹣$2﹣$1<br>
<strong>Result</strong>: “2017-12-24”</p>
</div>
<div class="paragraph">
<p><strong>Example 2</strong>:<br>
<strong>Input</strong>: “Doe, John”<br>
<strong>Search pattern</strong>\: /^(\\w+), (\\w+)$/ +), (\\w)$/<br>
<strong>Replace pattern</strong>\: $2 $1 +<br>
<strong>Result</strong>: “John Doe”<br></p>
</div>
<div class="paragraph">
<p><strong>Explanation of the examples</strong>:<br>
Right at the beginning, there is the input. In a first step, the pattern to be searched for is inserted as search pattern. Afterwards, it is changed accordingly in the replace pattern, so that it is output during the import as required. Finally, the result is output as desired and will be considered in the CSV file.</p>
</div>
<div class="paragraph instruction">
<p>Replacing values:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic Sync</strong>.</p>
</li>
<li>
<p>Click on a sync.<br>
→ The mapping opens.</p>
</li>
<li>
<p>In the field <strong>Source</strong>, select the value <strong>Regular expression</strong>.<br>
→ The options for <strong>Regular expression</strong> open.</p>
</li>
<li>
<p>In the field <strong>Value</strong>, enter the column name of the CSV file (e.g. Package number, Order ID etc.).</p>
</li>
<li>
<p>In the field <strong>Search</strong>, enter the Search pattern.</p>
</li>
<li>
<p>In the field <strong>Replace</strong>, enter the Replace pattern.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The data fields are updated.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Info about RegEx</div>
<div class="paragraph">
<p>For further information on RegEx see <a href="http://php.net/manual/en/reference.pcre.pattern.syntax.php" target="_blank" rel="noopener">this</a> page or have a look <a href="https://regexr.com/" target="_blank" rel="noopener">here</a>.
On the latter page, the RegEx engine setting has to be changed to PCRE. This can be done in the dropdown menu on the top right where Javascript is preset.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1520">4.3. Own assignment</h3>
<div class="paragraph">
<p>With the own assignment you can assign existing values of a CSV file to other values in the system. This enables to define, which value is supposed to be imported for which ID. In addition, for values in the CSV file that are not assigned, you can specify a default value. If no default value is specified, the original value is imported.</p>
</div>
<div class="paragraph instruction">
<p>Defining an own assignment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic Sync</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Click on a sync.<br>
→ The overview of the mapping opens.</p>
</li>
<li>
<p>Click on a mapping.<br>
→ The mapping opens.</p>
</li>
<li>
<p>In the dropdown menu of the <strong>Source</strong> field, select the option <strong>Own assignment</strong>.</p>
</li>
<li>
<p>Fill in the fields. Pay attention to the explanations given in <a href="#table-own-assignment">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-own-assignment" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Own assignment</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Setting</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the CSV column (e.g. Delivery country)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value, in case no assignment was found (e.g. 1)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>From</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Original value in the CSV file (e.g. DE for Germany)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>To</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value, to which the original value shall be mapped (e.g. 1 for DE, 10 for GB etc.)</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1530">4.4. Manipulating an import file via the own assignment</h3>
<div class="paragraph">
<p>In the following section we will demonstrate the usage of the own assignment shown by the example of <strong>Activating a shipping profile</strong>.<br>
To do so, an item/a variation as well as a shipping profile has to exist.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/en-elasticsync-shipping-profile.png" alt="en elasticsync shipping profile">
</div>
<div class="title">Figure 1. Shipping profile</div>
</div>
<div class="paragraph">
<p>In order to link an item/a variation to a shipping profile, the ID is required. Just the name of the shipping profile shown in the import file is not sufficient to create a link.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/en-elasticsync-item-id.png" alt="en elasticsync item id">
</div>
<div class="title">Figure 2. Item ID</div>
</div>
<div class="paragraph">
<p>Use the own assignment in ElasticSync, which manipulates the data during the import. As source for the import data, select the value <strong>Own assignment</strong>.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/en-elasticsync-own-assignment.png" alt="en elasticsync own assignment">
</div>
<div class="title">Figure 3. Own assignment</div>
</div>
<div class="paragraph">
<p>For <strong>type</strong>, select the column from the import file. In this case, it is the column <strong>Shipping profile</strong>.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/en-elasticsync-type.png" alt="en elasticsync type">
</div>
<div class="title">Figure 4. Select the file format of the import file</div>
</div>
<div class="paragraph">
<p>Determine which value in the import file shall be changed to which value in order to successfully carry out the import. In this case, DPD shall be changed to the ID of the shipping profile (here ID 7). You can also do this for several shipping profiles by adding further own assignments.
Afterwards, carry out the import. The shipping profile is linked.</p>
</div>
<div id="image-importing-data" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/en-elasticsync-determine-value.png" alt="en elasticsync determine value">
</div>
<div class="title">Figure 5. Determining a value</div>
</div>
<div class="paragraph">
<p>The own assignment can be used for many other cases. This applies in particular where internal IDs of plentymarkets play a role (e.g. characteristic names, item flags, payment methods, country ISO codes etc.).</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">5. Filtering import data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can use filters to limit the imported data. You find the filters in the <strong>Mapping</strong> area.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Multiple filters are linked with an AND condition</div>
<div class="paragraph">
<p>If you use multiple filters, only those data records that apply to all filters are imported. Thus, the filters are linked with an AND condition.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Adding a filter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic Sync</strong>.</p>
</li>
<li>
<p>Click on the sync in the sync overview.<br></p>
</li>
<li>
<p>Click on <strong>Mapping</strong>.<br>
→ An overview of the mapping is displayed.</p>
</li>
<li>
<p>Open a mapping.</p>
</li>
<li>
<p>Click on <strong>Filter</strong> in the toolbar.</p>
</li>
<li>
<p>Select the column from your file that you want to filter.</p>
</li>
<li>
<p>Select an operator.</p>
</li>
<li>
<p>Enter a value.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong>.<br>
→ The filter is saved.</p>
</li>
<li>
<p>Add additional filters as necessary.<br>
→ Only data that meets all filter criteria is imported.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1620">6. Report of sync import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A report is available in the overview of a sync. This report shows all imported rows including the success and error messages, which can be opened by clicking on the <strong>Message</strong> column. Use the filter in order to retrieve specific sync data.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1630">7. Copying syncs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can copy one sync or multiple syncs at the same time. That way, you can use syncs that you have already configured in order to quickly create a new sync.</p>
</div>
<div class="paragraph instruction">
<p>Copying syncs:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic Sync</strong>.</p>
</li>
<li>
<p>Select one or multiple syncs.</p>
</li>
<li>
<p>Click on <strong>Copy sync</strong>.<br>
→ The sync is copied. <strong>(copy)</strong> is added behind a copied sync.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1640">8. Exporting and importing a sync</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can import and export syncs. Furthermore, you can save syncs locally and import syncs from other users.</p>
</div>
<div class="paragraph instruction">
<p>Exporting and importing a sync:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic Sync</strong>.</p>
</li>
<li>
<p>Select one or multiple syncs.</p>
</li>
<li>
<p>Click on <strong>Export sync</strong> (<span class="icon"><i class="fa fa-download" style="color:purple"></i></span>).<br>
→ The sync is automatically downloaded.</p>
</li>
<li>
<p>Click on <strong>Import sync</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>).<br>
→ The file overview opens.</p>
</li>
<li>
<p>Click on <strong>Upload file</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>) and select a file.<br></p>
</li>
<li>
<p>Place a checkmark next to the file that you would like to upload and click on <strong>Select</strong>.<br>
→ A message appears checking whether you want to import the sync.</p>
</li>
<li>
<p>Click <strong>Ok</strong> in order to confirm.<br>
→ A message appears explaining that the import originates from another client.<br>
→ The sync has been imported successfully.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Importing syncs from another plentymarkets system</div>
<div class="paragraph">
<p>If you would like to import syncs from another plentymarkets system, you have to adjust the matching and mapping settings. It is only possible to import <strong>.json</strong> files.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Importing and updating syncs</div>
<div class="paragraph">
<p>If you want to import and update a sync, a mapping and a matching are required. Otherwise, it is not possible to test or run a sync. In order to save the sync, a data field has to be activated in the mapping overview.<br>
If you just want to import a sync, a mapping alone is sufficient.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1650">9. Uploading files quickly and easily</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to quickly and easily upload files, you can use the upload button in the <strong>File name</strong> column.</p>
</div>
<div class="paragraph instruction">
<p>Uploading files quickly and easily:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » ElasticSync</strong>.</p>
</li>
<li>
<p>In the <strong>File Name</strong> column, click on the button <strong>Upload file</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>).<br>
→ The window <strong>My files</strong> opens.</p>
</li>
<li>
<p>Select a file and click on <strong>Select</strong>.<br>
→ The file is uploaded and the file name is displayed in the column. After running the sync, the file name disappears.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">10. Testing the sync and importing data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to test and carry out syncs. Testing allows you to quickly know whether your file can be imported correctly.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Testing the sync</div>
<div class="paragraph">
<p>If you select <strong>Test sync</strong>, only the first ten lines of the import file are imported.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1710">11. Processing jobs in the queue</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The queue enables the import of large amounts of data. Before being imported, the import file is broken down into packages and processed in so-called jobs. A job consists of 750 lines of a CSV file. However, import files with less than 750 lines also make a job. Whenever a sync is started, the CSV file is split up into the respective jobs and is put into the queue. In the queue, new jobs are permanently retrieved and the syncs are processed. There are two different statuses. The status <strong>Open jobs</strong> means that there are jobs in the queue waiting to be processed. <strong>Completed</strong> jobs on the contrary have already been processed and the data have been imported.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1720">12. Activating/deactivating mappings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you manage several mappings in the same sync, you can deactivate or activate specific mappings of the sync in the mapping overview by clicking on the button in the column <strong>Active/Inactive</strong>. New mappings are active by default.</p>
</div>
</div>
</div>
</main>