<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_prozesse_konfigurieren"><span>1.</span><span> Prozesse konfigurieren</span></a>
<ul class="sectlevel2">
<li><a href="#_neuer_prozess"><span>1.1.</span><span> Neuer Prozess</span></a></li>
<li><a href="#_export_import_und_kopie_von_prozessen"><span>1.2.</span><span> Export, Import und Kopie von Prozessen</span></a></li>
<li><a href="#_kontextmenü"><span>1.3.</span><span> Kontextmenü</span></a></li>
<li><a href="#_elemente_hinzufügen"><span>1.4.</span><span> Elemente hinzufügen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Prozesse einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">plentyBase installieren</div>
<div class="paragraph">
<p>Sie benötigen das Tool plentyBase, um Prozesse im plentymarkets Backend zu erstellen und auszuführen. Die Installationsdateien für plentyBase finden Sie im <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>System » Prozesse</strong></p>
</div>
<div class="paragraph">
<p>Für die Konfiguration Ihrer Prozesse stehen folgende Ordner zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Meine Prozesse</strong>: hier sehen Sie die Prozesse, die Sie bearbeiten können.</p>
</li>
<li>
<p><strong>Prozesse anderer Benutzer</strong>: hier sehen Sie Prozesse anderer Benutzer. Der Ordner ist nur für Benutzer der Klasse <strong>Admin</strong> sichtbar.</p>
</li>
<li>
<p>Prozesse pro <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten">Rolle</a>: hier sehen Sie die Prozesse Ihrer Rolle. Wenn Sie keiner Rolle zugeordnet sind, sehen Sie hier keine Ordner. Rollen legen Sie im Menü <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten">System » Einstellungen » Benutzer</a> an. Benutzer der Klasse <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten">Admin</a> sehen die Prozesse aller Rollen.</p>
</li>
<li>
<p><strong>Globale Prozesse</strong>: hier sehen Sie Prozesse, die für alle zur Verfügung stehen.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeit des Menüs: System » Prozesse</div>
<div class="paragraph">
<p>Das Menü <strong>System » Prozesse</strong> ist für Benutzer der Klasse Variabel nur sichtbar, wenn die Berechtigung dazu im Benutzerprofil erteilt wurde. Weitere Informationen zu Berechtigungen finden Sie auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten">Benutzer verwalten</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_prozesse_konfigurieren">1. Prozesse konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie erfahren nun, wie Sie einen Prozess anlegen und welche Elemente einen Prozess ausmachen.</p>
</div>
<div class="sect2">
<h3 id="_neuer_prozess">1.1. Neuer Prozess</h3>
<div class="paragraph">
<p>Um einen <strong>neuen Prozess</strong> hinzuzufügen, führen Sie folgende Schritte aus:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/prozesse/assets/DE-Einstell-Prozesse-ProEinricht-01-SI.png" alt="DE Einstell Prozesse ProEinricht 01 SI">
</div>
<div class="title">Bild 1. Menü <strong>Prozesse</strong> mit Untermenüs</div>
</div>
<div class="paragraph instruction">
<p>Neuen Prozess hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse</strong>.</p>
</li>
<li>
<p>Klicken Sie bei dem gewünschten Ordner, z.B. <strong>Meine Prozesse</strong>, auf das kleine Dreieck rechts in der Zeile (Bild 1, Pos. 1).<br>
→ Der Button <strong>Neuer Prozess</strong> wird eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf den Button <strong>Neuer Prozess</strong> (Bild 1, Pos. 2).<br>
→ Das Konfigurationsmenü für einen neuen Prozess wird angezeigt (Bild 2).</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor, wie in <a href="#tabelle-prozess-einstellungen">Tabelle 1</a> erläutert.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/prozesse/assets/DE-Einstell-Prozesse-ProEinricht-02-SI.png" alt="DE Einstell Prozesse ProEinricht 02 SI">
</div>
<div class="title">Bild 2. Konfigurationsmenü für neuen Prozess</div>
</div>
<div class="paragraph">
<p><a href="#tabelle-prozess-einstellungen">Tabelle 1</a> erläutert die Einstellungen des neuen Prozesses:</p>
</div>
<table id="tabelle-prozess-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Neuer Prozess; Einstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tragen Sie einen Namen für den Prozess ein. Dieser sollte möglichst selbsterklärend und eindeutig sein, so dass sich die Prozesse später in der Prozessübersicht einfach identifizieren lassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sichtbarkeit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen Sie, für welche Gruppe der betreffende Prozess sichtbar sein soll. Sichtbar bedeutet, dass der Prozess im Menü <strong>Prozesse</strong> zur Verfügung steht und ausgeführt werden kann.<br>
<strong>Global</strong> = der Prozess ist für alle sichtbar<br>
<a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten">Benutzer</a> = der Prozess ist nur für den Benutzer sichtbar, der mit dem folgenden Konfigurationspunkt <strong>Benutzer</strong> gewählt wird<br>
<a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten">Rolle</a> = der Prozess ist nur für die <strong>Rolle</strong> sichtbar, die mit dem folgenden Konfigurationspunkt <strong>Rolle</strong> gewählt wird</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur sichtbar, wenn für die vorige Option <strong>Sichtbarkeit</strong> die Einstellung <strong>Benutzer</strong> gewählt wurde. Wählen Sie, für welchen Benutzer der betreffende Prozess sichtbar sein soll. Sie können somit Prozesse für sich selbst, aber auch für andere Benutzer anlegen. Für Benutzer der Klasse <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten">Admin</a> ist der Prozess, unabhängig von der Einstellung hier, ebenfalls sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rolle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen Sie, für welche Rolle der betreffende Prozess sichtbar sein soll. Sie können somit Prozesse für Ihre eigene Rolle, aber auch für andere Rollen anlegen. Für Benutzer der Klasse <strong>Admin</strong> ist der Prozess, unabhängig von der Einstellung hier, ebenfalls sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Änderbar</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzen Sie ein <em><strong>Häkchen</strong></em>, um anderen zu erlauben, den Prozess <em><strong>anzupassen</strong></em>. Die Berechtigung zum Ändern gilt jeweils für die Option, die Sie unter <strong>Sichtbarkeit</strong> gewählt haben, d.h. für den eingestellten <strong>Benutzer</strong>, die eingestellte <strong>Rolle</strong> oder <strong>global</strong>. Wenn Sie <em><strong>kein Häkchen</strong></em> setzen, können nur Benutzer der Klasse <strong>Admin</strong> den Prozess bearbeiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen Sie das <strong>Lager</strong>.<br>
<strong>Wichtig</strong>: Wenn Sie kein Lager wählen, ist automatisch das Lager mit der Lager-ID 1 eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Farbe</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen Sie eine Farbe für den Prozess. Mit der gewählten Farbe wird der Prozess dann im Menü <strong>Prozesse</strong> angezeigt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nach Speichern der Einstellungen wird der neue Prozess im Menübaum angezeigt (Bild 3).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/prozesse/assets/DE-Einstell-Prozesse-ProEinricht-03-SI.png" alt="DE Einstell Prozesse ProEinricht 03 SI">
</div>
<div class="title">Bild 3. Neuer Prozess im Menü <strong>Meine Prozesse</strong></div>
</div>
<div class="paragraph">
<p>Legen Sie einen Prozess in dem gewünschten Ordner an, beachten Sie dazu das Kapitel 1.</p>
</div>
</div>
<div class="sect2">
<h3 id="_export_import_und_kopie_von_prozessen">1.2. Export, Import und Kopie von Prozessen</h3>
<div class="paragraph">
<p>Anstatt einen bestehenden Prozess eines anderen oder des selben Systems nachzubauen, können Sie diesen auch exportieren und im neuen System importieren oder innerhalb eines Systems kopieren.</p>
</div>
<div class="paragraph">
<p>Das Kontextmenü eines Prozesses bietet außerdem die Möglichkeit einen Prozess zu löschen oder ihn auszuführen. Bei einem Klick auf <strong>Prozess ausführen</strong> öffnet sich das Hauptmenü Prozesse und anschließend der auszuführende Prozess.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/prozesse/assets/DE-Einstell-Prozesse-ProEinricht-04-SI.png" alt="DE Einstell Prozesse ProEinricht 04 SI">
</div>
<div class="title">Bild 4. Kontextmenü <strong>Prozess exportieren</strong> oder <strong>kopieren</strong></div>
</div>
<div class="paragraph">
<p>Zum Austausch von Prozessen zwischen verschiedenen plentymarkets-Systemen bietet sich ein Export und Import der Prozesse an. Gehen Sie dafür wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Prozess exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse</strong>.</p>
</li>
<li>
<p>Wählen Sie den zu exportierenden Prozess in einem der Ordner und klicken Sie auf das kleine <strong>Dreieck</strong> rechts in der Zeile (Bild 4, Pos. 1).<br>
→ Die Option <strong>Prozess exportieren</strong> wird eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Prozess exportieren</strong> (Bild 4, Pos. 2).<br>
→ Der Prozess wird als <strong>ZIP-Datei</strong> exportiert und im Ordner Downloads (MAC) bzw. Eigene Dokumente (Windows) auf Ihrem Rechner gespeichert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Dieser Vorgang kann auch über Icons in einem geöffneten Prozess ausgeführt werden (Bild 6, Icon mit grünem Pfeil).</p>
</div>
<div class="paragraph">
<p>Um einen exportierten Prozess erneut in ein plentymarkets-System zu importieren, gehen Sie wie folgt vor.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/prozesse/assets/DE-Einstell-Prozesse-ProEinricht-05-SI.png" alt="DE Einstell Prozesse ProEinricht 05 SI">
</div>
<div class="title">Bild 5. Kontextmenü <strong>Prozess importieren</strong></div>
</div>
<div class="paragraph instruction">
<p>Prozess importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse</strong>.</p>
</li>
<li>
<p>Klicken Sie beim Ordner <strong>Meine Prozesse</strong> auf das kleine <strong>Dreieck</strong> rechts in der Zeile (Bild 1, Pos. 1)<br>
→ Die Option <strong>Prozess importieren</strong> wird eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Prozess importieren</strong> (Bild 5).<br>
→ Ein Fenster öffnet sich.</p>
</li>
<li>
<p>Tragen Sie einen <strong>Namen</strong> für den Prozess ein und klicken Sie auf <strong>Dateien hochladen</strong>.</p>
</li>
<li>
<p>Wählen Sie die entsprechende <strong>ZIP-Datei</strong> auf Ihrem Rechner aus und klicken Sie auf <strong>Öffnen</strong>.<br>
→ Der Prozess wird in den Ordner <strong>Meine Prozesse</strong> importiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Systemspezifische Einstellungen</div>
<div class="paragraph">
<p>Systemspezifische Einstellungen im Prozess, z. B. die Druckereinstellung in der Subaktion <strong>Drucken</strong>, werden beim Export nicht exportiert und somit auch beim Import nicht übertragen.<br>
<strong>Tipp:</strong> Um nachzuvollziehen, welche Aktionen oder Subaktionen nicht vollständig übertragen wurden, öffnen Sie den importierten Prozess im Menü <strong>Prozesse</strong> → Die Fehlermeldungen zeigen Ihnen die betroffenen Aktionen und Subaktionen mit der <strong>ID</strong> an, bei denen Sie noch Einstellungen ergänzen müssen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Zur Vervielfältigung von Prozessen innerhalb des selben Systems wird die Funktion <strong>Prozess kopieren</strong> empfohlen. Es sind alle Prozesse aus allen Ordnern kopierbar.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/prozesse/assets/DE-Einstell-Prozesse-ProEinricht-06-SI.png" alt="DE Einstell Prozesse ProEinricht 06 SI">
</div>
<div class="title">Bild 6. Icons <strong>Prozess kopieren</strong> oder <strong>exportieren</strong></div>
</div>
<div class="paragraph">
<p>Neben der Möglichkeit, Prozesse über das Kontextmenü zu kopieren oder zu exportieren (Bild 4), können diese Optionen über Icons auch in einem geöffneten Prozess ausgeführt werden. Im Folgenden wird der Vorgang anhand des Beispiels <strong>Prozess kopieren</strong> beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Prozess kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse</strong>.</p>
</li>
<li>
<p>Öffnen Sie den zu kopierenden Prozess in einem der Ordner.<br>
→ In der oberen Zeile erscheint das Icon <strong>Prozess kopieren</strong></p>
</li>
<li>
<p>Klicken Sie auf <strong>Prozess kopieren</strong> (Bild 6, Pfeil) und tragen Sie nach Wunsch einen neuen <strong>Namen</strong> im neuen Fenster ein.<br>
→ Der Prozess wird in den Ordner <strong>Meine Prozesse</strong> kopiert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_kontextmenü">1.3. Kontextmenü</h3>
<div class="paragraph">
<p>Für eine vereinfachte Konfiguration, z.B. dem Hinzufügen weiterer Elemente, steht ein Kontextmenü zur Verfügung.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Kontextmenü anwenden</div>
<div class="paragraph">
<p>Um neue Arbeitsschritte, Aktionen und Subaktionen zu erstellen oder diese zu bearbeiten und zu löschen, klicken Sie mit der rechten Maustaste auf das jeweilige Element. Es wird ein Kontextmenü angezeigt mit verschiedenen Vorgängen, die Sie wählen können, siehe das nachfolgende Bild.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In Bild 7 wird das Kontextmenü gezeigt, das sich nach Klick auf die Aktion <strong>Lieferschein</strong> geöffnet hat.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/prozesse/assets/DE-Einstell-Prozesse-ProEinricht-07-SI.png" alt="DE Einstell Prozesse ProEinricht 07 SI">
</div>
<div class="title">Bild 7. Kontextmenü</div>
</div>
</div>
<div class="sect2">
<h3 id="_elemente_hinzufügen">1.4. Elemente hinzufügen</h3>
<div class="paragraph">
<p>Die Basis für einen Prozess bildet immer ein <a href="/basics/automatisierung/prozesse/arbeitsschritte">Arbeitsschritt</a>, dem je nach Bedarf weitere Elemente hinzugefügt werden können. Ein Prozess kann beliebig viele Arbeitsschritte enthalten.</p>
</div>
<div class="paragraph">
<p>Es stehen verschiedene <strong>Elemente</strong> zur Verfügung, die Sie einem Arbeitsschritt hinzufügen können. Diese unterteilen sich in <a href="/basics/automatisierung/prozesse/aktionen">Steuerelemente</a> und <a href="/basics/automatisierung/prozesse/aktionen">Aktionen</a>. Einer Aktion können Sie dann wiederum eine <a href="/basics/automatisierung/prozesse/subaktionen">Subaktion</a> hinzufügen. Das Hinzufügen eines untergeordneten Elements im Prozess erfolgt immer per Klick auf das <strong>grüne Plus</strong>, das erscheint, wenn Sie mit der Maus auf das übergeordnete Element zeigen (siehe Bild 7).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/prozesse/assets/DE-Einstell-Prozesse-ProEinricht-08-SI.png" alt="DE Einstell Prozesse ProEinricht 08 SI">
</div>
<div class="title">Bild 8. Beispiel: Aktion über das grüne Plus hinzufügen</div>
</div>
</div>
</div>
</div>
</main>