<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_das_statistikmodul"><span>1.</span><span> Das Statistikmodul</span></a></li>
<li><a href="#_statistik_übersicht"><span>2.</span><span> Statistik-Übersicht</span></a></li>
<li><a href="#_neue_statistik_anlegen"><span>3.</span><span> Neue Statistik anlegen</span></a></li>
<li><a href="#_statistik_bearbeiten"><span>4.</span><span> Statistik bearbeiten</span></a></li>
<li><a href="#_datenexport"><span>5.</span><span> Datenexport</span></a></li>
<li><a href="#_statistik_ansichten"><span>6.</span><span> Statistik-Ansichten</span></a></li>
<li><a href="#_beträge"><span>7.</span><span> Beträge</span></a></li>
<li><a href="#_spezifische_statistiken_erstellen"><span>8.</span><span> Spezifische Statistiken erstellen</span></a></li>
<li><a href="#_tutorials_per_video"><span>9.</span><span> Tutorials per Video</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Statistik</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start » Statistik</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_das_statistikmodul">1. Das Statistikmodul</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das <strong>Statistikmodul</strong> bietet Ihnen die Möglichkeit, die verschiedensten Parameter Ihres plentymarkets-Systems auszuwertenund übersichtlich und aussagekräftig anzuzeigen. Sie erhalten damit auf einen Blick einen besseren Überblick über das, was sich bezüglich der Entwicklung Ihres Webshops in Ihrem plentymarkets-System abspielt. Neben Auswertungen zu Umsätzen, Prozessen und warenwirtschaftlichen Aspekten können Sie eigene Statistiken erstellen, z.B. zu Ihren Leads oder den versendeten Nachrichten.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-Start-Statistik-01-SI.png" alt="DE Start Statistik 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Menü <strong>Statistik</strong></em></p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zum <em><strong>Statistik-Modul</strong></em> im folgenden Videotutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2355/" target="_blank">Einleitung Statistik</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_statistik_übersicht">2. Statistik-Übersicht</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachfolgend finden Sie eine Übersicht über die verfügbaren <strong>Statistiktypen</strong>. Diese werden jeweils anhand der Systemdaten erstellt und sind dann weiter editierbar. Sie können die jeweilige Anzeigeart aus verschiedenen Optionen wählen, die im folgenden noch vorgestellt werden. Folgende Statistiken sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Statistik-Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>UMSATZ</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/umsatz/gesamtumsatz"><strong>Gesamtumsatzverlauf</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Statistik zeigt die Umsatzdaten nach <strong>Anzahl der Aufträge</strong> und dem <strong>Umsatz in Euro</strong> datumsbezogen in einer gewählten <strong>Zeitspanne</strong>.<br>
Standardeinstellung der Zeitspanne: Umsatz der <strong>letzten 10 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/umsatz/retouren-gutschriften-stornierungen"><strong>Retouren / Gutschriften / Stornierungen</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt die Beträge der <strong>Retouren</strong>, <strong>Gutschriften</strong> und <strong>Stornierungen</strong> gesplittet an, in Abhängigkeit der <strong>Zeitspanne</strong>. Alternativ zu einer Zeitspanne können Sie den Zeitraum per <strong>Start</strong>- und <strong>Enddatum</strong> eingrenzen.<br>
Standardeinstellung der <strong>Zeitspanne</strong>: die <strong>letzten 30 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/umsatz/umsatz-artikelgruppe"><strong>Umsatz nach Artikelgruppe</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Statistik zeigt die <strong>Umsätze</strong> nach <strong>Artikelgruppen</strong> der Aufträge gesplittet an, in Abhängigkeit der <strong>Zeitspanne</strong> und des <strong>Auftragsstatus</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/umsatz/umsatz-herkunft-artikel"><strong>Umsatz nach Herkunft pro Artikel</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Statistik zeigt die Umsätze nach den <strong>Herkünften</strong> der <strong>Artikel</strong> gesplittet an, außerdem der jeweilige prozentuale Anteil am Umsatz aller angezeigten Auftragsherkünfte.<br>
Standardeinstellung der <strong>Zeitspanne</strong>: die <strong>letzten 30 Tage</strong>.<br>
Standardeinstellung des <strong>Statusbereichs</strong>: Von <strong>Status 1</strong> bis <strong>Status 7</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/umsatz/umsatz-herkunft-auftrag"><strong>Umsatz nach Herkunft pro Auftrag</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt die Umsätze nach den <strong>Herkünften</strong> der <strong>Aufträge</strong> gesplittet an, in Abhängigkeit der <strong>Zeitspanne</strong> und des <strong>Auftragsstatus</strong>.<br>
Standardeinstellung der <strong>Zeitspanne</strong>: die <strong>letzten 30 Tage</strong>.<br>
Standardeinstellung des <strong>Statusbereichs</strong>: Von <strong>Status 1</strong> bis <strong>Status 7</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/umsatz/umsatz-handelsvertreter"><strong>Umsatz nach Handelsvertreter</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier wird der <strong>Umsatz (Brutto) pro Handelsvertreter</strong> gezeigt sowie die dazugehörige <strong>Anzahl an Aufträgen</strong>, mit denen in einem definierten Zeitraum der Umsatz generiert wurde.<br>
Standardeinstellung der <strong>Zeitspanne</strong>: die <strong>letzten 30 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/umsatz/umsatz-hersteller"><strong>Umsatz nach Hersteller</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier wird der <strong>Umsatz (Brutto) pro Hersteller</strong> gezeigt sowie die <strong>Menge der Artikel</strong>, die jeweils in einem definierten Zeitraum verkauft wurden.<br>
Standardeinstellung der <strong>Zeitspanne</strong>: die <strong>letzten 30 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/basics/statistik/allgemeine-statistiken/umsatz/umsatz-kategorie">Umsatz nach Kategorie</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier wird der <strong>Umsatz (Brutto) pro Kategorie</strong> gezeigt sowie die <strong>Menge der Artikel</strong>, die jeweils in einem definierten Zeitraum verkauft wurden.<br>
Standardeinstellung der <strong>Zeitspanne</strong>: die <strong>letzten 30 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/basics/statistik/allgemeine-statistiken/umsatz/umsatz-lieferland">Umsatz nach Lieferland</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Statistik zeigt die <strong>Umsätze</strong> nach den <strong>Lieferländern</strong> der Aufträge gesplittet an, in Abhängigkeit der <strong>Zeitspanne</strong> und des <strong>Auftragsstatus</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/umsatz/umsatz-versandregion"><strong>Umsatz nach Versandregion</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt die Umsätze nach den <strong>Versandregionen</strong> der Aufträge gesplittet an, in Abhängigkeit der <strong>Zeitspanne</strong> und des <strong>Auftragsstatus</strong>. Alternativ zu einer Zeitspanne können Sie den Zeitraum per <strong>Start</strong>- und <strong>Enddatum</strong> eingrenzen.<br>
Standardeinstellung der <strong>Zeitspanne</strong>: die <strong>letzten 30 Tage</strong>.<br>
Standardeinstellung des <strong>Statusbereichs</strong>: Von <strong>Status 1</strong> bis <strong>Status 7</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/umsatz/umsatz-zahlungsart"><strong>Umsatz nach Zahlungsart</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Statistik zeigt die <strong>Umsätze</strong> nach den <strong>Zahlungsarten</strong> der Aufträge gesplittet an, in Abhängigkeit der <strong>Zeitspanne</strong> und des <strong>Auftragsstatus</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/umsatz/versandkosten"><strong>Umsatz Versandkosten nach Versanddienstleister</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die <strong>Versandkosten</strong> werden gesplittet nach <strong>Warenausgangsdatum</strong> angezeigt. Je nach Zeitspanne werden diese tage- oder monatsweise in <strong>Prozent</strong> pro Versanddienstleister angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/umsatz/warenkorbentwicklung"><strong>Warenkorbentwicklung</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier werden der <strong>durchschnittliche Warenkorbwert</strong> und die <strong>durchschnittlichen Versandkosten</strong> einer <strong>Zeitspanne</strong> angezeigt.<br>
Standardeinstellung der <strong>Zeitspanne</strong>: die <strong>letzten 30 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>PROZESSE</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/prozesse/durchlaufzeiten"><strong>Durchlaufzeiten der Auftragsbearbeitung</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Statistik zeigt verschiedene <strong>Zeiträume der Auftragsbearbeitung</strong> an und wieviel <strong>Prozent</strong> der Aufträge im jeweiligen Zeitraum bearbeitet wurden. Damit erkennen Sie auf einen Blick die Effizienz Ihrer Auftragsbearbeitung. Die Zeiträume reichen von weniger als <strong>24 Stunden</strong> bis über <strong>120 Stunden</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/prozesse/forderungen-nach-zahlungsart"><strong>Forderungen nach Zahlungsart</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Forderungen</strong> werden nach <strong>Zahlungsart</strong> und offener Forderung mit <strong>Mahnstufe (0 bis 4)</strong> angezeigt. Der Auftragsstatus, der berücksichtigt werden soll, ist genau eingrenzbar.<br>
Standardeinstellung des <strong>Statusbereichs</strong>: Von <strong>Status 1</strong> bis <strong>Status 7</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/prozesse/status-auftraege"><strong>Status der aktuellen Aufträge</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt die aktuellen Aufträge aufgesplittet nach <strong>Auftragsstatus</strong>, wobei die jeweilige <strong>Anzahl der Aufträge</strong> und der zugehörige <strong>Brutto-Umsatz in Euro</strong> pro Auftragsstatus angezeigt wird. Die jeweiligen Auftragsstatus sind durch <strong>Start</strong>- und <strong>End</strong>-Status genau eingrenzbar.<br>
Für den Status <strong>Versandt</strong> werden nur Aufträge des <strong>aktuellen Tages</strong> berücksichtigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/prozesse/versandauftraege"><strong>Versandaufträge nach Versanddienstleister</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt die <strong>Anzahl der Versandaufträge</strong> nach <strong>Versanddienstleister</strong> gesplittet (Farben) einer gewählten Zeitspanne.<br>
Standardeinstellung der Zeitspanne: Umsatz der <strong>letzten 10 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>AUFTRÄGE</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/auftraege/auftragspositionen"><strong>Auftragspositionen</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Statistik zeigt die Parameter Ihrer <strong>Aufträge</strong> und detaillierte Angaben zu <strong>Umsätzen in Euro</strong> in einer gewählten <strong>Zeitspanne</strong>.<br>
Standardeinstellung der Zeitspanne: Umsatz <strong>heute</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/auftraege/retourengruende"><strong>Retourengründe</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Statistik zeigt die Beträge der <strong>Retouren</strong> an, in Abhängigkeit der <strong>Zeitspanne</strong> und nach <strong>Retourengrund</strong>. Alternativ zu einer Zeitspanne können Sie den Zeitraum per <strong>Start</strong>- und <strong>Enddatum</strong> eingrenzen.<br>
Standardeinstellung der <strong>Zeitspanne</strong>: die <strong>letzten 10 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/auftraege/versendete-e-mail-vorlagen"><strong>Versendete E-Mail-Vorlagen</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Statistik zeigt Informationen der über Ihr System <strong>versendeten E-Mails</strong> mit der <strong>ID der E-Mail-Vorlage</strong> sowie dem <strong>Namen der E-Mail-Vorlage</strong> datumsbezogen gemäß der gewählten <strong>Zeitspanne</strong>.<br>
Standardeinstellung der Zeitspanne: Umsatz der <strong>letzten 30 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>ARTIKEL</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/artikel/renner-und-penner"><strong>Renner / Penner</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Statistik zeigt die Umsatzdaten sortiert nach den <strong>Rennern</strong> - das sind die am meisten verkauften Artikel - oder <strong>Pennern</strong> - das sind die am wenigsten verkauften Artikel - innerhalb der gewählten <strong>Zeitspanne</strong>.<br>
Standardeinstellung der Zeitspanne: <strong>Die aktuelle Woche</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/artikel/verkaufte-artikelmengen"><strong>Verkaufte Artikelmengen</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt die Artikel nach <strong>Anzahl der verkauften Artikel</strong> innerhalb der eingestellten Zeitspanne und <strong>Umsatzanteil</strong> in Prozent, jeweils gesplittet nach <strong>Mengenkategorien</strong>, die änderbar sind. Außerdem wird die <strong>Gesamtanzahl der verkauften Artikel</strong> pro Mengenkategorie angezeigt.<br>
Standardeinstellungen der Zeitspanne: <strong>das letzte halbe Jahr</strong> und der Mengenkategorien: <strong>&lt; 1</strong>, <strong>2-5</strong>, <strong>6-10</strong>, <strong>11-15</strong>, <strong>&gt;20</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>LAGER</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/lager/aktueller-lagerbestand"><strong>Aktueller Lagerbestand</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt den <strong>aktuellen Lagerbestand</strong> nach <strong>Kategorien</strong> gesplittet an. Es wird jeweils der <strong>Warenwert</strong> und die <strong>Artikelanzahl</strong> des <strong>verfügbaren</strong> und des <strong>reservierten Bestandes</strong> angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/lager/meldebestaende"><strong>Reichweitenabschätzung und Meldebestände</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Statistik zeigt die <strong>Reichweiten</strong> Ihres Artikelbestandes in verschiedenen Reichweitenkategorien und wieviele<strong>Artikel</strong><strong>in einer Reichweitenkategorie verkauft</strong> wurden, in Abhängigkeit der gewählten <strong>Zeitspanne</strong>.<br>
Standardeinstellung der Zeitspanne: Die <strong>letzten 30 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/lager/warenbestand"><strong>Warenbestand</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt den <strong>aktuellen Warenbestand</strong> nach <strong>Varianten</strong> gesplittet an. Es wird jeweils der <strong>Warenwert</strong> und die <strong>Artikelanzahl</strong> des <strong>verfügbaren</strong> und des <strong>reservierten Bestandes</strong> sowie viele weitere Parameter zum jeweiligen Bestand angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/lager/wareneingang-datum"><strong>Wareneingang nach Datum</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auswertung des <strong>Wareneingangs nach Datum</strong> Ihrer <strong>Artikel</strong> gemäß dem/den gewählten <strong>Lager</strong>/n sowie dem/den <strong>Lieferanten</strong> innerhalb einer gewählten Zeitspanne.<br>
Standardeinstellung der Zeitspanne: Die <strong>letzten 24 Stunden</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/lager/wareneingang-lieferant"><strong>Wareneingang nach Lieferant</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auswertung des <strong>Wareneingangs nach Lieferant</strong> Ihrer <strong>Artikel</strong> gemäß dem/den gewählten <strong>Lager</strong>/n sowie dem/den <strong>Lieferanten</strong> innerhalb einer gewählten Zeitspanne.<br>
Standardeinstellung der Zeitspanne: Die <strong>letzten 24 Stunden</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/lager/warenumsatz"><strong>Warenumsatz</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auswertung des <strong>Warenumsatz</strong> Ihrer <strong>Artikel</strong> gemäß dem/den gewählten <strong>Lager</strong>/n, <strong>Auftragsherkunft</strong>, <strong>Zahlungsart</strong> und <strong>Versandprofil</strong> innerhalb einer gewählten Zeitspanne.<br>
Standardeinstellung der Zeitspanne: Die <strong>letzten 30 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/lager/warenwert"><strong>Warenwert</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auswertung des <strong>Warenwertes</strong> Ihrer <strong>Artikel</strong> gemäß dem/den gewählten <strong>Lager</strong>/n, dem <strong>Preis</strong> sowie dem/den <strong>Lieferanten</strong> innerhalb einer gewählten Zeitspanne.<br>
Standardeinstellung der Zeitspanne: <strong>Heute</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/lager/warenwert-lieferant"><strong>Warenwert nach Lieferant</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Es wird nach <strong>Lieferanten</strong> gesplittet die <strong>Anzahl der Artikel</strong> und der <strong>Netto-Warenwert in Euro</strong> nach gewähltem/n <strong>Lager/n</strong> angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/lager/zollliste-warenausgang"><strong>Zollliste Warenausgang</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auswertung des <strong>Warenausgangs Ihrer Artikel</strong> gemäß des gewählten <strong>Auftragstyps</strong> und der gewählten <strong>Zeitspannen</strong> für den <strong>Auftragseingang</strong> sowie den <strong>Warenausgang</strong>.<br>
Standardeinstellung der Zeitspannen: Die <strong>letzten 10 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>KUNDEN</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/kunden/kaufverhalten"><strong>Kaufverhalten</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Statistik zeigt nach <strong>Auftragsmengen</strong> gestaffelt wie viele <strong>Kunden</strong> für wie viel <strong>Umsatz</strong> in einer gewählten Zeitspanne gesorgt haben. Sie sehen also, ob die Kunden die nur selten z.B. weniger als 3 mal bei Ihnen gekauft haben oder jene, die sehr häufig kaufen, den meisten Umsatz generieren.<br>
Standardeinstellung der Zeitspanne: die <strong>letzten 10 Tage</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/kunden/kunden-renner-und-penner"><strong>Kunden Renner / Penner</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Statistik zeigt die Umsatzdaten sortiert nach den <strong>Kunden-Rennern</strong> - das sind die Kunden, die den höchsten Umsatz bringen - oder <strong>Kunden-Pennern</strong> - das sind die Kunden, die am wenigsten Umsatz generieren - innerhalb der gewählten Zeitspanne.<br>
Standardeinstellung der Zeitspanne: Die <strong>letzten 12 Monate</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/kunden/umsatz-kundenklasse"><strong>Umsatz nach Kundenklasse / Bewertung</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Statistik zeigt die <strong>Umsätze</strong> und dazugehörigen <strong>Aufträge nach Kundenklassen</strong>, in Abhängigkeit der Zeitspanne und des <strong>Auftragsstatus</strong>, an. Alternativ zu einer Zeitspanne können Sie den Zeitraum per Start- und Enddatum eingrenzen.<br>
Standardeinstellung der Zeitspanne: die <strong>letzten 30 Tage</strong>. Standardeinstellung des Statusbereichs: Von <strong>Status 1</strong> bis <strong>Status 7</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>TICKETS</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/tickets/tickets-status"><strong>Tickets nach Status</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auswertung des <strong>Tickets nach Status</strong> gemäß des gewählten <strong>Ticket-Typs</strong> innerhalb einer gewählten Zeitspanne.<br>
Standardeinstellung der Zeitspanne: <strong>Die letzten 6 Monate</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/statistik/allgemeine-statistiken/tickets/tickets-zustand"><strong>Tickets nach Zustand</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auswertung des <strong>Tickets nach Zustand</strong> gemäß des gewählten <strong>Ticket-Typs</strong> innerhalb einer gewählten Zeitspanne. Standardeinstellung der Zeitspanne: <strong>Die letzten 6 Monate</strong>. Der jeweilige Zustand eines Tickets wird diesem automatisch zugeordnet und ist nicht änderbar.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: <strong>Statistiktypen</strong> im Menü <strong>Statistik</strong></em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipps</div>
<div class="paragraph">
<p>Wenn zu einer Statistik die Meldung <strong>Keine Daten verfügbar</strong> angezeigt wird, öffnen Sie die Bearbeitung dieser Statistik durch Klick auf das <strong>Stift-Symbol</strong> und wählen eine größere <strong>Zeitspanne</strong>.</p>
</div>
<div class="paragraph">
<p>Variieren Sie die Einstellung der <strong>Zeitspanne</strong> sowie ggf. die Werte weiterer Parameter, um eine möglichst aussagekräftige Anzeige der jeweiligen Statistik zu erhalten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_neue_statistik_anlegen">3. Neue Statistik anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um eine <strong>neue Statistik</strong> anzulegen, klicken Sie auf eines der grünen <strong>Plus-Symbole</strong> im Menü. Es wird ein Fenster mit einem Dropdown-Menü geöffnet, in dem Sie den gewünschten <strong>Statistiktyp</strong> wählen:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-Start-Statistik-02-SI.png" alt="DE Start Statistik 02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: <strong>Statistiktyp</strong> wählen</em></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>Wählen Sie den <strong>Statistiktyp</strong> und klicken Sie auf das <strong>Speichern-Symbol</strong>, um die Statistik anzulegen.</p>
</div>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Statistiktyp</strong></div>
<div class="paragraph">
<p>Der <strong>Statistiktyp</strong> einer Statistik ist nicht änderbar. Löschen Sie ggf. eine Statistik und legen Sie eine neue des gewünschten Statistiktyps an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_statistik_bearbeiten">4. Statistik bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Den <strong>Bearbeitungsmodus</strong> einer Statistik öffnen Sie durch Klick auf das <strong>Stift-Symbol</strong> rechts in der Titelzeile der jeweiligen Statistik.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-Start-Statistik-03-SI.png" alt="DE Start Statistik 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: <strong>Statistik</strong> bearbeiten</em></p>
</div>
<div class="paragraph">
<p>Die nachfolgende Tabelle enthält beispielhaft die wichtigsten Optionen der Statistiken. Vollständige Erläuterungen finden Sie auf den Statistikseiten.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: <strong>Werte für vergleichende Statistiken einstellen</strong></div>
<div class="paragraph">
<p>Beachten Sie bei der Erstellung Ihrer Statistiken, dass Sie für Statistiken, die zu <strong>Vergleichszwecken</strong> dienen sollen, z.B. für den Vergleich des Umsatzes auf verschiedenen Märkten, jeweils gleiche Einstellungen verwenden. So sollte die <strong>Zeitspanne</strong> und die <strong>Statusauswahl</strong> jeweils gleich sein, damit ein direkter Vergleich der Statistiken möglich ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier wird der <strong>Name</strong> bzw. die <strong>Bezeichnung</strong> der Statistik angezeigt, die beim Erstelle einer neuen Statistik gewählt wurde. Sie können diesen Namen hier ändern.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeitspanne</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die <strong>Zeitspanne</strong> ist für die Statistiktypen jeweils voreingestellt. Die Standardwerte können Sie Tabelle 1 entnehmen. Es stehen feste Werte zur Verfügung, die per Dropdown-Menü auswählbar sind. Darüber hinaus bieten manche Statistiktypen, die Möglichkeit, eine Zeitspanne in Form eines <strong>Datumbereichs</strong> einzutragen.<br>
<strong>Verändern</strong> Sie die <strong>Zeitspanne</strong>, wenn keine Daten oder nur wenige Daten angezeigt werden und klicken Sie auf das Speichern-Symbol, um das Ergebnis zu sehen. Sie können durch Wahl eines <strong>längeren Zeitraums</strong> mehr Informationen anzeigen. Wenn viele Daten vorhanden sind, bewirkt die <strong>Verringerung der Zeitspanne</strong> ggf. eine aussagekräftigere Auswertung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status-Optionen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Je nach Statistiktyp stehen zur Eingrenzung des <strong>Status</strong> verschiedene Optionen zur Verfügung. Es sind jeweils Standardwerte voreingestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie die <strong>Webshops</strong> bzw. <strong>Mandanten</strong>, deren Daten für die Statistik verwendet werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rohdaten-Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sie können bis zu <strong>10000 Datenzeilen</strong> exportieren. Sollte dieser Wert überschritten werden, werden die ersten 10000 Zeilen exportiert. In diesem Fall sollten Sie die Datenmenge anhand der Filteroptionen, z.B. der Zeitspanne, einschränken.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: <strong>Statistik bearbeiten</strong>; Optionen</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_datenexport">5. Datenexport</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie können über die entsprechenden Icons in einer Statistik (s. Bild 3, oben Mitte) die Daten der jeweiligen Statistik in eine <strong>CSV-Datei</strong> exportieren und mit einem Tabellenkalkulationsprogramm, z.B. Excel editieren.</p>
</div>
<div class="paragraph">
<p>Bei <strong>Excel</strong> gibt es eine Besonderheit. Aufgrund der Konfiguration, wie Trennzeichen behandelt werden, kann es zu falschen Werten kommen, wie das nachfolgende Bild zeigt. Dieses Beispiel bezieht sich auf Excel 2007 unter Windows.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-Start-Statistik-04-SI.png" alt="DE Start Statistik 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 4: <strong>Statistik exportieren;</strong> falscher Wert</em></p>
</div>
<div class="paragraph">
<p>Um diesen Fehler zu beheben, nehmen Sie folgende Einstellung vor:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-Start-Statistik-05-SI.png" alt="DE Start Statistik 05 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 5: <strong>Statistik exportieren;</strong> Excel-Einstellungen</em></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Option für Trennzeichen konfigurieren:</div>
<div class="paragraph">
<p>Öffnen Sie das Menü <strong>Einstellungen / Erweitert</strong>.</p>
</div>
<div class="paragraph">
<p>Entfernen Sie das Häkchen bei der Option <strong>Trennzeichen vom Betriebssystem übernehmen</strong>.</p>
</div>
<div class="paragraph">
<p>Tragen Sie als <strong>Dezimaltrennzeichen</strong> einen <strong>Punkt</strong> ein (siehe Bild 5).</p>
</div>
<div class="paragraph">
<p>Klicken Sie auf <strong>OK</strong>, um die Einstellung zu sichern.</p>
</div>
<div class="paragraph">
<p>Öffnen Sie die betreffende <strong>CSV-Datei</strong> erneut mit Excel.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die fehlerhafte Anzeige sollte nun behoben sein:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-Start-Statistik-06-SI.png" alt="DE Start Statistik 06 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 6: <strong>Statistik exportieren;</strong> korrekter Wert</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_statistik_ansichten">6. Statistik-Ansichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zur <strong>Ansicht</strong> Ihrer Statistiken stehen Ihnen verschiedene <strong>Diagrammtypen</strong> zur Verfügung, die wir nachstehend auszugsweise vorstellen. Die verschiedenen Diagrammtypen stehen je nach Statistiktyp zur Auswahl, das sind pro Statistiktyp zwei bis drei Diagrammtypen. Je nach der Zusammensetzung Ihrer Statistikdaten wird die eine oder andere Anzeigeart sinnvoller und aussagekräftiger sein.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: <strong>Diagrammtypen variieren</strong></div>
<div class="paragraph">
<p>Probieren Sie aus, welcher <strong>Diagrammtyp</strong> die jeweilige Statistik besser präsentiert und wählen Sie die geeignetste Einstellung. Achten Sie dabei auch auf die gewählte <strong>Zeitspanne</strong> (siehe die Tipps in Kapitel 2).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Informationen anzeigen</strong></div>
<div class="paragraph">
<p>Je nach Diagrammtyp werden <strong>Informationen</strong> zu den angezeigten Darstellungen angezeigt, wenn Sie mit dem <strong>Mauszeiger</strong> auf die Diagrammflächen oder -linien zeigen (Mouseover-Effekt, siehe auch Bild 4, roter Pfeil).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Gestapeltes Säulendiagramm</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-Start-Statistik-07-SI.png" alt="DE Start Statistik 07 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 7: Diagramm-Typen; <strong>Gestapeltes Säulendiagramm</strong></em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Farben der Informationen</strong></div>
<div class="paragraph">
<p>Die Informationen, die per Mouseover angezeigt werden (siehe Bild 4) sind in der Farbe hinterlegt, die dem jeweiligen Statistikwert entspricht. So können Sie die Werte auch noch unterscheiden, wenn viele kleine Werte nebeneinander liegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Gestapeltes Balkendiagramm</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-Start-Statistik-08-SI.png" alt="DE Start Statistik 08 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 8: Diagramm-Typen; <strong>Gestapeltes Balkendiagramm</strong></em></p>
</div>
<div class="paragraph">
<p>3D-Kreisdiagramm</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-Start-Statistik-09-SI.png" alt="DE Start Statistik 09 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 9: Diagramm-Typen; <strong>3D-Kreisdiagramm</strong></em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: <strong>Kreisanteile bewegen</strong></div>
<div class="paragraph">
<p>Wenn Sie auf einen <strong>Kreisanteil</strong> klicken, wird dieser etwas nach außen verschoben. So können Sie z.B. bei sehr kleinen Anteilen diese in der Ansicht besser sehen. Ein erneuter Klick verschiebt diese wieder an die ursprüngliche Position.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Zoom-Funktion</p>
</div>
<div class="paragraph">
<p>Sie können die Ansicht einer Statistik <strong>vergrößern</strong>, indem Sie auf das <strong>Zoom-Symbol</strong> klicken. Im Zoom-Fenster haben Sie weitere Optionen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eine <strong>Zeitspanne</strong> durch Verschieben der Begrenzer in der Titelzeile wählen</p>
</li>
<li>
<p><strong>Werte</strong> anzeigen per Mouseover</p>
</li>
<li>
<p><strong>Parameter</strong> anzeigen oder verbergen (in der Fußzeile), im Bild z.B. die Parameter <strong>Anzahl der Aufträge</strong> und <strong>Umsatz</strong>.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-Start-Statistik-10-SI.png" alt="DE Start Statistik 10 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 10: <strong>Zoom-Funktion</strong></em></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Seite mit Zoom-Funktion vergrößert anzeigen:</div>
<div class="paragraph">
<p>Klicken Sie auf das <strong>Zoom-Symbol</strong> (siehe Bild 7, Pfeil), um die Statistik <strong>vergrößert</strong> und mit weiteren <strong>Details</strong> anzuzeigen.</p>
</div>
<div class="paragraph">
<p>Mit Klick auf <strong>Show all</strong> wird eine Begrenzung aufgehoben und wieder die Gesamtansicht gezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Summen</p>
</div>
<div class="paragraph">
<p><strong>Summen</strong> werden jeweils in der Tabellenansicht unter den jeweiligen Spalten angezeigt, wobei nach <strong>Summe aller Positionen</strong> (siehe Bild 8, roter Pfeil) und <strong>Durchschnitt aller Positionen</strong>unterschieden wird (siehe Bild 8, blauer Pfeil).</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title"><strong>Summenanzeige für gesamte Auswertung</strong></div>
<div class="paragraph">
<p>Die Summen werden bei <strong>mehrseitigen</strong> Tabellen immer für den <strong>gesamten Inhalt der jeweiligen Tabelle</strong> einer Statistik angezeigt, nicht nur für den jeweils sichtbaren Tabelleninhalt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-Start-Statistik-11-SI.png" alt="DE Start Statistik 11 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 11: <strong>Summenanzeige</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_beträge">7. Beträge</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhalten Sie Informationen zu den <strong>Beträgen</strong>, die in den Statistiken verwendet werden.</p>
</div>
<div class="paragraph">
<p><strong>Netto</strong> = Beträge abzüglich Umsatzsteuer<br>
<strong>Brutto</strong> = Beträge inklusive Umsatzsteuer<br>
<strong>Umsatz bereinigt</strong> = Umsatz abzüglich Gutschriften<br>
<strong>Deckungsbeitrag I</strong> = Umsatz abzüglich EK, Steuern und Versandkosten<br>
<strong>Deckungsbeitrag II</strong> = Umsatz abzüglich EK, Steuern, Versandkosten und gewählte zusätzliche Kosten</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_spezifische_statistiken_erstellen">8. Spezifische Statistiken erstellen</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Sie können neben den jeweils fest eingestellten Parametern auch solche in einer Statistik auswerten, die nicht angezeigt werden, aber dennoch in der Statistik enthalten sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Beispielsweise werden in der Statistik <strong>Retouren</strong> die Parameter <strong>Retouren</strong> (Anzahl), <strong>Umsatz</strong> und <strong>Retourengründe</strong> angezeigt. Ausgewertet werden diese Parameter aber z.B. auch bezüglich des <strong>Marktplatzes</strong>. Es ist also möglich, einzelne Parameter, die in der Grundeinstellung nicht separat ausgegeben werden, aus der Datenmenge herauslösen und anzeigen. Wenn Sie also beispielsweise eine Statistik der Retouren eines bestimmten Marktplatzes oder auch mehrerer Marktplätze erstellen möchten, gehen Sie vor, wie nachfolgend beschrieben. Wir zeigen dies am Beispiel der Retouren des Marktplatzes <strong>Amazon</strong>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Statistik für Retouren des Marktplatzes Amazon erstellen:</div>
<div class="paragraph">
<p>Legen Sie die Statistik <strong>Retouren</strong> an.</p>
</div>
<div class="paragraph">
<p>Wählen Sie die gewünschte <strong>Zeitspanne</strong>.</p>
</div>
<div class="paragraph">
<p>Wählen Sie den <strong>Statusbereich</strong>.</p>
</div>
<div class="paragraph">
<p>Wählen Sie den Marktplatz <strong>Amazon</strong>.</p>
</div>
<div class="paragraph">
<p>Ergänzen Sie Amazon im <strong>Namen</strong> der Statistik, damit Sie auf einen Blick erkennen, worauf sich die Statistik bezieht.</p>
</div>
<div class="paragraph">
<p>Klicken Sie auf das <strong>Speichern-Symbol</strong>, um die Einstellungen zu sichern.</p>
</div>
<div class="paragraph">
<p>Erstellen Sie ggf. weitere Statistiken für andere Marktplätze.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nach dieser Vorgehensweise können Sie individuelle, auf Ihre Bedürfnisse zugeschnittene Statistiken erstellen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_tutorials_per_video">9. Tutorials per Video</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie finden in unserem Blog in loser Folge hilfreiche <strong>Tutorials per Video</strong>. Beachten Sie diesen Bereich, damit Sie diesbezüglich immer Up-to-date sind und das Statistik-Modul bestmöglich nutzen können.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Bisher sind erschienen:</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p>Die neue Statistik kennen lernen</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/54356877" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p><a href="http://vimeo.com/54356877">plentymarkets 4.5 // Die neue Statistik</a> from <a href="http://vimeo.com/plentymarkets">plentymarkets GmbH</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
</div>
<div class="paragraph">
<p>Die neue Retouren-Statistik</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/55361298" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p><a href="http://vimeo.com/55361298">plentymarkets 4.5 // Retouren-Statistik</a> from <a href="http://vimeo.com/plentymarkets">plentymarkets GmbH</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
</div>
<div class="paragraph">
<p>Die Warenwert-Statistik</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/55985775" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p><a href="http://vimeo.com/55985775">plentymarkets 4.5 // Warenwert-Statistik</a> from <a href="http://vimeo.com/plentymarkets">plentymarkets GmbH</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
</div>
</div>
</div>
</main>