<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines_zur_lager_pickliste"><span>1.</span><span> Allgemeines zur Lager-Pickliste</span></a></li>
<li><a href="#_artikeldaten_darstellen"><span>2.</span><span> Artikeldaten darstellen</span></a></li>
<li><a href="#_pdf_vorlage_hochladen"><span>3.</span><span> PDF-Vorlage hochladen</span></a></li>
<li><a href="#_allgemeines_zur_lager_pickliste_2"><span>4.</span><span> Allgemeines zur Lager-Pickliste</span></a></li>
<li><a href="#_lager_pickliste_konfigurieren_oder_ändern"><span>5.</span><span> Lager-Pickliste konfigurieren oder ändern</span></a></li>
<li><a href="#_lager_pickliste_erzeugen"><span>6.</span><span> Lager-Pickliste erzeugen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Lager-Pickliste</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Aufträge » Dokumente » Lager-Pickliste</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_zur_lager_pickliste">1. Allgemeines zur Lager-Pickliste</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit plentymarkets können Sie Lager-Picklisten als PDF-Dateien generieren. Im Gegensatz zur Pickliste ist bei der Lager-Pickliste eine Zuordnung zum Auftrag bzw. zur Rechnung möglich. So können die Artikel bei der Kommissionierung direkt zugeordnet und anschließend zum Verpacken gegeben werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_artikeldaten_darstellen">2. Artikeldaten darstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Lager-Pickliste</strong> bestimmen Sie, welche Artikeldaten Ihre Lager-Picklisten enthalten, z.B. <strong>Artikel-ID</strong>, <strong>EAN</strong>, <strong>Lagerort</strong> usw. und wie diese Informationen dargestellt werden sollen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/auftragsdokumente/assets/DE-Einstellungen-Auftraege-Dokumente-Lager-Pickliste-01.png" alt="DE Einstellungen Auftraege Dokumente Lager Pickliste 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Optionen im Menü <strong>Lager-Pickliste</strong></em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Felder anzeigen bzw. verbergen</div>
<div class="paragraph">
<p>Damit ein Feld angezeigt wird, muss für das jeweilige Feld eine Positionsnummer ausgewählt sein. Wenn Sie für ein Feld keine Anzeige auf der Lager-Pickliste wünschen, wählen Sie für die Positionsnummer die Einstellung <strong>Pos</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Artikeldaten darstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Dokumente » Lager-Pickliste</strong>.</p>
</li>
<li>
<p>Entscheiden Sie, welche Felder auf der Lager-Pickliste angezeigt werden sollen. Bestimmen Sie die Reihenfolge dieser Felder, indem Sie für jedes zu verwendende Feld eine <strong>Positionsnummer</strong> wählen.</p>
</li>
<li>
<p>Tragen Sie unter <strong>Name</strong> eine eigene Bezeichnung für die verwendeten Felder ein.</p>
</li>
<li>
<p>Bestimmen Sie die Breite für die Felder sowie die Schriftgröße und den Schriftschnitt für die Texte.</p>
</li>
<li>
<p>Nehmen Sie weitere Einstellungen gemäß Tabelle 1 vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seitenrand oben</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen Wert (in mm) für den oberen Seitenrand eintragen. Den Wert bei Bedarf anpassen, wenn z.B. eine PDF-Vorlage verwendet wird, die oben im "Briefpapier" die Firmenangaben und ein Logo enthält und dieser "Header" oberhalb der Lager-Pickliste positioniert werden soll (siehe Kapitel 3).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bei Verwendung dieses Feldes bestimmen, wie der <strong>Lagerortname</strong> auf der Lager-Pickliste angezeigt werden soll. Es kann z.B. nur der Lagerortname angezeigt werden oder eine Kombination aus Lager-Informationen, d.h. <strong>Regalboden/Lagerortname</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Freitext</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bei Verwendung dieses Feldes das entsprechende <strong>Freitextfeld 1-20</strong> aus der Dropdown-Liste wählen.<br>
Freitextfelder zuerst im Menü <strong><a href="/artikel/artikel-verwalten#70">System » Artikel » Freitextfelder</a></strong> anlegen. Danach die angelegten Freitextfelder mit den entsprechenden Artikeln verknüpfen und die Werte für die Felder eintragen. Dies erfolgt im Menü <a href="/artikel/artikel-verwalten#75"><strong>Artikel » Artikel bearbeiten » Tab: Felder</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikelbeschreibung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen durch Setzen des Häkchens, welche Informationen die Artikelbeschreibung in der Lager-Pickliste enthalten soll. Der <strong>Artikelname</strong> wird immer mit diesem Feld angezeigt. Zusätzlich können noch weitere Angaben ausgewählt werden, z.B. <strong>Artikel-ID</strong>, <strong>Externe Artikel-ID</strong>, <strong>Artikelnummer</strong> und <strong>EAN</strong>. Sollen Parameter in der Lager-Pickliste nicht angezeigt werden, Häkchen jeweils entfernen.&nbsp;Die Auswahl gilt auch für Varianten.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Optionen im Menü <strong>Lager-Pickliste</strong></em></p>
</div>
<div class="paragraph">
<p>Mit den in Bild 1 angezeigten Einstellungen sieht eine Lager-Pickliste beispielsweise so aus:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/auftragsdokumente/assets/DE-Einstellungen-Auftraege-Dokumente-Lager-Pickliste-02.png" alt="DE Einstellungen Auftraege Dokumente Lager Pickliste 02">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Beispiel für eine Lager-Pickliste</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_pdf_vorlage_hochladen">3. PDF-Vorlage hochladen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Vorlage wird für das "Briefpapier" Ihres Shops benötigt, also eine Seite, die Ihre Firmendaten, Layoutelemente gemäß dem Corporate Design Ihres Unternehmens sowie Ihr Logo enthält. Diese Vorlage wird für das System im PDF-Format benötigt. Mit plentymarkets können Sie eine Dokumenten-Vorlage im PDF-Format für die Lager-Pickliste verwenden. Gehen Sie wie im Folgenden beschrieben vor, um eine PDF-Vorlage hochzuladen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/auftragsdokumente/assets/DE-Einstellungen-Auftraege-Dokumente-Lager-Pickliste-03.png" alt="DE Einstellungen Auftraege Dokumente Lager Pickliste 03">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: PDF-Vorlage hochladen</em></p>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Dokumente » Lager-Pickliste</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Neue Vorlage</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Durchsuchen</strong>.</p>
</li>
<li>
<p>Wählen Sie die PDF-Datei der Vorlage aus.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die PDF-Vorlage erscheint nun im Tab <strong>Vorlagen</strong>. Sie können dort eine Vorschau sehen oder die PDF-Vorlage wieder löschen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Wenn Sie z.B. eine PDF-Vorlage mit "Header" verwenden und Sie diesen Header oberhalb der Lager-Pickliste positionieren möchten, müssen Sie ggf. den hinterlegten Wert im Feld <strong>Seitenrand oben</strong> noch anpassen (siehe Tabelle 1).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Details zu Dokumenten-Vorlagen finden Sie auf der Handbuchseite <strong><a href="/auftragsabwicklung/auftraege/auftragsdokumente">Dokumente</a></strong>.</p>
</div>
<div class="paragraph">
<p><strong>Aufträge » Fulfillment » Lager-Pickliste</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_zur_lager_pickliste_2">4. Allgemeines zur Lager-Pickliste</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Menü haben Sie die Möglichkeit, eine Lager-Pickliste zu erzeugen sowie dabei eine Statusänderung einzustellen. Die Lager-Pickliste wird als PDF-Datei erzeugt. Im Gegensatz zur Pickliste ist bei der Lager-Pickliste eine Zuordnung zum Auftrag sowie zur Rechnung möglich. So können die Artikel bei der Kommissionierung direkt zugeordnet und anschließend zum Verpacken gegeben werden. Im Unterschied zur allgemeinen Pickliste ist hier die Wahl eines bestimmten Lagers bindend.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_lager_pickliste_konfigurieren_oder_ändern">5. Lager-Pickliste konfigurieren oder ändern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Prüfen Sie die Konfiguration der Dokumentenvorlage in den Einstellungen der Lager-Pickliste, bevor Sie eine Lager-Pickliste erzeugen.</p>
</div>
<div class="paragraph">
<p>Der Link <strong>PDF-Pickliste ändern</strong> im Menü Lager-Pickliste führt zu den Einstellungen im Menü <strong>System » Aufträge » Dokumente » <a href="/auftragsabwicklung/auftraege/auftragsdokumente/lager-pickliste">Lager-Pickliste</a></strong>, in dem die Vorlage für das Dokument und die PDF-Vorlage für die Lager-Pickliste konfiguriert werden.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Pflichteinstellung</div>
<div class="paragraph">
<p>Hier muss mindestens eine der Optionen <strong>Auftrags-ID</strong> oder <strong>Rechnungsnummer</strong> konfiguriert werden. Diese werden aktiviert, indem eine <strong>Position</strong> eingestellt wird. Wählen Sie hier eine der noch nicht vergebenen Positionsnummern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nachfolgend ein Beispiel einer Lager-Pickliste mit Angabe der <strong>Auftrags-ID</strong> sowie der <strong>Rechnungsnummer</strong>. Es ist zu empfehlen, die <strong>Auftrags-ID</strong> in jedem Fall zu aktivieren, da nicht immer bereits eine Rechnung verfügbar ist, wie im folgenden Beispiel zu sehen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/auftragsdokumente/assets/DE-Auftraege-Fulfillment-Lager-Pickliste-01.png" alt="DE Auftraege Fulfillment Lager Pickliste 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Lager-Pickliste; PDF-Ausgabe</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_lager_pickliste_erzeugen">6. Lager-Pickliste erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um eine Lager-Pickliste zu erzeugen, gehen Sie vor, wie nachfolgend beschrieben.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/auftragsdokumente/assets/DE-Auftraege-Fulfillment-Lager-Pickliste-02.png" alt="DE Auftraege Fulfillment Lager Pickliste 02">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Untermenü <strong>Lager-Pickliste</strong></em></p>
</div>
<div class="paragraph">
<p>Nehmen Sie die Einstellungen wie beschrieben vor und prüfen Sie dann zunächst das Ergebnis (PDF-Datei). Korrigieren Sie die Einstellungen bei Bedarf, bis Sie mit dem Ergebnis zufrieden sind.</p>
</div>
<div class="paragraph instruction">
<p>Lager-Pickliste erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Fulfillment » Lager-Pickliste</strong>.</p>
</li>
<li>
<p>Wählen Sie die Einstellungen gemäß den Erläuterungen der folgenden Tabelle.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>Zahnrad</strong>, um die Pickliste zu erzeugen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Status der Aufträge wählen, die für die Lager-Pickliste berücksichtigt werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Eigner</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen Eigner wählen, für dessen Aufträge die Dokumente erzeugt werden sollen oder die Option <strong>ALLE</strong>, wenn für alle Eigner die Dokumente erzeugt werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard</strong> = nur Standard-Webshop<br>
<strong>ALLE</strong> = Webshop und Mandanten</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lager</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ein Lager oder die Option <strong>ALLE</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragslimit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, wie viele Aufträge pro Durchgang bearbeitet werden sollen. Einstellbar ist ein Wert zwischen 5 und 300.<br>
Es kann pro Durchgang höchstens das maximal einstellbare Limit an Aufträgen bearbeitet werden. Wenn die Anzahl der Aufträge, die bearbeitet werden sollen, größer ist, als das höchste einstellbare Limit, muss der Prozess entsprechend oft wiederholt werden. Je geringer das eingestellte Limit, desto optimaler ist die Systemleistung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnungen anhängen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Nur für Enterprise-Version.<br>
Mit der Einstellung <strong>Ja</strong> werden im Anschluss an die Lager-Pickliste die Rechnungen nach Auftrags-ID sortiert in die PDF-Datei eingefügt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnungen pro Gruppierung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Nur für Enterprise-Version.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ändere Auftragsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Status wählen, in den die Aufträge nach dem Erzeugen der Lager-Pickliste wechseln sollen.<br>
Der Statuswechsel ist wichtig, damit für bereits bearbeitete Aufträge ein Prozess nicht noch einmal durchgeführt wird.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Optionen im Menü <strong>Lager-Pickliste</strong></em></p>
</div>
</div>
</div>
</main>