<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_purchasing_installing_and_switching_the_dhl_shipping_plugin_to_live"><span>1.</span><span> Purchasing, installing and switching the DHL Shipping plugin to live</span></a>
<ul class="sectlevel2">
<li><a href="#_purchasing"><span>1.1.</span><span> Purchasing</span></a></li>
<li><a href="#_installing"><span>1.2.</span><span> Installing</span></a></li>
</ul>
</li>
<li><a href="#_activating_countries_of_delivery"><span>2.</span><span> Activating countries of delivery</span></a></li>
<li><a href="#_creating_regions"><span>3.</span><span> Creating regions</span></a></li>
<li><a href="#_creating_a_shipping_service_provider"><span>4.</span><span> Creating a shipping service provider</span></a></li>
<li><a href="#_creating_a_shipping_profile"><span>5.</span><span> Creating a shipping profile</span></a>
<ul class="sectlevel2">
<li><a href="#_base"><span>5.1.</span><span> Base</span></a></li>
<li><a href="#_table_of_shipping_charges"><span>5.2.</span><span> Table of shipping charges</span></a></li>
</ul>
</li>
<li><a href="#_activating_the_shipping_profile_for_an_item"><span>6.</span><span> Activating the shipping profile for an item</span></a></li>
<li><a href="#_setting_up_the_dhl_shipping_plugin_via_the_assistants"><span>7.</span><span> Setting up the DHL Shipping plugin via the assistants</span></a>
<ul class="sectlevel2">
<li><a href="#2400"><span>7.1.</span><span> Deploying the plugin set once again after update</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Practical example: DHL Shipping (Versenden)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page describes how to set up the DHL Shipping (Versenden) plugin in plentymarkets. We will walk through the necessary steps in order that your customers can choose DHL as shipping method in your online store and that you can successfully register the order via DHL Shipping.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_purchasing_installing_and_switching_the_dhl_shipping_plugin_to_live">1. Purchasing, installing and switching the DHL Shipping plugin to live</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter describes how you purchase the DHL Shipping plugin in the plentyMarketplace and how you install and deploy it in the plentymarkets back end afterwards.</p>
</div>
<div class="sect2">
<h3 id="_purchasing">1.1. Purchasing</h3>
<div class="paragraph">
<p>First, you have to establish a basis in order to successfully work with DHL in the future. It is required that you download the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/DHLShipping_4871" target="_blank" rel="noopener">DHL Shipping plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> from the plentyMarketplace.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/DHL_plugin_purchase.png" alt="DHL plugin purchase" width="640" height="360">
</div>
<div class="title">Figure 1. Purchasing the DHL Shipping plugin</div>
</div>
<div class="paragraph">
<p>The plugin is free of charge and can be purchased by clicking on <strong>Go to checkout</strong>. Please follow further instructions in the plentyMarketplace.</p>
</div>
</div>
<div class="sect2">
<h3 id="_installing">1.2. Installing</h3>
<div class="paragraph">
<p>After you have purchased the plugin, you have to install it in your plentymarkets system. After the purchase, you will find the plugin in the <strong>Plugins » Plugin set overview</strong> menu. How to install the plugin in a plugin set and switch it to live, is described on the <a href="/en/plugins/installing-added-plugins">Installing added plugins</a> page of the manual.</p>
</div>
<div class="paragraph">
<p>Once you have successfully installed the plugin and deployed it in a plugin set, the two assistants <strong>DHL Shipping (Versenden): Basic settings</strong> and <strong>DHL Shipping (Versenden): Settings combination</strong> are available in the <strong>Setup » Assistants</strong> menu in the <strong>Integration</strong> area. Complete these two assistants to easily set up DHL Shipping (Versenden) in your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>But before you set up the DHL Shipping plugin, you have to carry out some settings in the plentymarkets back end.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_countries_of_delivery">2. Activating countries of delivery</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Since the plugin is basically ready, you can now proceed with the next steps. In this part, it is important that you thoroughly think about in which countries you want to deliver your items to. After you have determined these countries, you can activate them in the <strong>Setup » Orders » Shipping » Settings » Tab: Countries of delivery</strong>&nbsp;menu. The countries are then available for the next step. Please note that in plentymarkets it is necessary to create own "countries of delivery" for the special regions, such as Helgoland or the Canary Islands.</p>
</div>
<div class="paragraph">
<p>The following options can be selected for the countries of delivery:</p>
</div>
<table id="table-activate-countries-of-delivery" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Options for the countries of delivery</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inactive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The country of delivery is not active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Active</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The country of delivery is unrestrictedly active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Backoffice is active</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Countries of delivery with this setting are only visible in the plentymarkets system and not in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Supplier is active</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Countries of delivery with this setting cannot be selected as the standard country of delivery in the <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Order process » Settings</strong> menu.</p></td>
</tr>
</tbody>
</table>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/DHL_plugin_activate_countries_of_delivery.png" alt="DHL plugin activate countries of delivery" width="640" height="360">
</div>
<div class="title">Figure 2. Activating countries of delivery</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_regions">3. Creating regions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to group the activated countries of delivery now. You will find the shipping regions in the <strong>Setup » Orders » Shipping » Settings » Tab: Regions</strong> menu. Group the countries for which the same shipping conditions should apply to one common region.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example for different shipping costs</div>
<div class="paragraph">
<p>If you want to charge EUR 14.90 as shipping costs for both Spain and France, put those two countries into region. If you want to charge EUR 20.90 as shipping costs for Italy, however, it is not possible to put Italy together with Spain and France in one region. You have to create an own region for Italy.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>On the left side of the region, you can see all available countries of delivery. On the right side, you can see all countries of delivery that are already linked with this region. Now add all active countries of delivery to a region. Please note that each country of delivery can only be saved in one region.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/DHL_plugin_set_up_regions.png" alt="DHL plugin set up regions" width="640" height="360">
</div>
<div class="title">Figure 3. Setting up regions</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_a_shipping_service_provider">4. Creating a shipping service provider</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Besides the countries of delivery and the corresponding regions, you also need the correct shipping service provider in order to build a bridge between the plugin and the shipping profiles. Configure the shipping service provider in the <strong>Setup » Orders » Shipping » Settings » Tab: Shipping service provider</strong> menu.</p>
</div>
<div class="paragraph">
<p>Here, you choose a name for the shipping service provider and select the service provider <strong>DHL Shipping (Versenden)</strong> from the drop-down list.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/DHL_plugin_create_shipping_service_provider.png" alt="DHL plugin create shipping service provider" width="640" height="360">
</div>
<div class="title">Figure 4. Creating a shipping service provider</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Tracking URL</div>
<div class="paragraph">
<p>Furthermore, you also add the tracking URL  <strong>http:nolp.dhl.de/nextt-online-public/setidentcodes.do?lang=de&amp;zip=$PLZ&amp;idc=$PaketNr</strong> in this menu. The tracking URL is required for sending emails at a later point in time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_a_shipping_profile">5. Creating a shipping profile</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All menu items that you have set up so far, will "meet" in the shipping profile. To do so, go to <strong>Setup » Orders » Shipping » Settings » Tab: Shipping profiles</strong>. By clicking on the <strong>New</strong> button (<span class="icon green"><i class="fa fa-plus-square  "></i></span>), you create a new shipping profile and directly access the <strong>Base</strong> tab. The <strong>Table of shipping charges</strong> tab is only available after you have saved.</p>
</div>
<div class="sect2">
<h3 id="_base">5.1. Base</h3>
<div class="paragraph">
<p>In the <strong>Base</strong> tab, you determine the basic settings for your shipping profile.</p>
</div>
<table id="table-field-names-shipping-profile" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Field name descriptions in the shipping profile</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping service provider</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping service provider that you have just created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name &amp; Name (back end)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a name for the front and back end in the corresponding language.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you can assign a flag to the profile (e.g. the DHL logo).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priority</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The priority determines in which order the shipping profiles are displayed in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The category option is another way to prioritise shipping profiles. An example of use can be found <a href="https://knowledge.plentymarkets.com/en/fulfilment/preparing-the-shipment#1300" target="_blank" rel="noopener">here</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item extra shipping charge</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can activate extra shipping charges that are saved for the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postident</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option, if PostIdent is required. Forexample, in case of goods that can only be purchased from age 18.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate for new items</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option in order that the profile is always activate for new items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cash on delivery</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the option in order that your customer can select the payment method Cash on delivery in your online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Extra charge for islands</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The set extra shipping charge will be calculated by means of a defined list in plentymarkets when delivery is made to certain islands.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Clients (stores)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the clients that should be linked with this shipping profile. Select at least one client in order that the shipping profile can be selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order referrer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you select the order referrers for which this shipping profile should be activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blocked payment methods</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you select the payment methods for which the shipping profile should <strong>not</strong> be available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blocked customer classes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you select the customer classes for which the shipping profile should <strong>not</strong> be available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping groups</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping profiles can be added to a shipping group. This simplifies the assignment of shipping profiles at the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Account</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an eBay account if you want to link one.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Possible options:<br>
<strong>All</strong> = All listing types<br>
<strong>Auction</strong> = Only auctions<br>
<strong>Fixed price/Shop item</strong> = Only fixed price or shop item (shop item only for Hood)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Express delivery</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate if you want to use this shipping profile for eBay express delivery.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Loyalty program</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you can link one or multiple loyalty programs such as eBay Plus or Amazon Prime to this shipping profile.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_table_of_shipping_charges">5.2. Table of shipping charges</h3>
<div class="paragraph">
<p>The <strong>table of shipping charges</strong> tab is only available after you have saved the shipping profile. In this tab, the tables of shipping charges for the created regions are displayed. This means that you determine the prices and the calculation types for the individual regions.
Select the calculation basis for the shipping costs. The following options are available: <strong>Flat rate</strong>, <strong>Weight-dependent</strong>, <strong>Volume-dependent</strong>, <strong>Quantity-dependent</strong>, <strong>Price-dependent</strong> and <strong>Item shipping charge</strong>.</p>
</div>
<div class="paragraph">
<p>Depending on the type settings, you have to enter the correct prices. Furthermore, you can save for each table of shipping charges the amount from which shipping is free of charge, for example. Or you choose that shipping only costs EUR 2.50 instead of EUR 4.99 when the value of items ordered is EUR 100 at least.</p>
</div>
<div class="paragraph">
<p>The limitation type limits the shipping profile. Pay attention that you allow for a seamless transition with your shipping profiles. For example: You have set the maximum weight of 20 kg in one shipping profile. Your customer puts two items with a weight of 11 kg each in the shopping cart. Therefore, another shipping profile should be selectable. In this way, an error message in the online store will be avoided.</p>
</div>
<div class="paragraph">
<p>You can save a pre-defined shipping package as standard package. A shipping package can be defined in the <strong>Setup » Orders » Shipping » Shipping packages</strong> menu. In this way, you can transfer fixed dimensions when you only use one package size for the shipment.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Calculation types</div>
<div class="paragraph">
<p>Please pay attention that it might be necessary to save the weight for the weight-dependent calculation at the individual items. Otherwise, calculation will not be possible.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/DHL_plugin_calculation_types_table_of_shipping_charges.png" alt="DHL plugin calculation types table of shipping charges" width="640" height="360">
</div>
<div class="title">Figure 5. Calculation types in the table of shipping charges</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Activating the table of shipping charges</div>
<div class="paragraph">
<p>The table of shipping charges is only active after you have saved it. Otherwise, you will see the note <code>Region not used in shipping profile. Save price to use region. Save and reload table of shipping charges to show shipping service provider settings.</code></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_the_shipping_profile_for_an_item">6. Activating the shipping profile for an item</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Items » Edit item</strong> menu in the <strong>Global</strong> tab, you have to link all items with the desired shipping profiles. This can also be done via the group function. Make sure that the checkmark is placed for the option <strong>Delete old shipping profiles</strong> since it is only possible to add further shipping profiles via the "shipping configuration".</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_the_dhl_shipping_plugin_via_the_assistants">7. Setting up the DHL Shipping plugin via the assistants</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you set up the shipping profiles and linked them to the items, you can start to finally set up the DHL Shipping plugin with the help of the two assistants <strong>DHL Shipping (Versenden): Basic settings</strong> and <strong>DHL Shipping (Versenden): Settings combination</strong>. You find the assistants in the <strong>Setup » Assistants</strong> menu in the <strong>Integration</strong> area.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Detailed description</div>
<div class="paragraph">
<p>You find a detailed description of the individual steps within the two DHL assistants on the <a href="/en/fulfilment/shipping-service-provider-plugins/plugin-dhl-shipping-versenden">DHL Shipping (Versenden)</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="2400">7.1. Deploying the plugin set once again after update</h3>
<div class="paragraph">
<p>After you have downloaded an update of the plugin, it is necessary that you deploy the plugin set once again. Downloading the update does not lead to the fact that new features or changes are also active in the new version.</p>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/plugins/updating-installed-plugins">Updating installed plugins</a> page of the manual.</p>
</div>
</div>
</div>
</div>
</main>