<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_what_is_the_geoblocking_regulation"><span>1.</span><span> What is the “Geoblocking regulation”?</span></a></li>
<li><a href="#_possible_workarounds"><span>2.</span><span> Possible workarounds</span></a></li>
<li><a href="#_checking_other_areas"><span>3.</span><span> Checking other areas</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Practical example: Geoblocking</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page, you will learn more about the shipping method you select for countries in which you are <strong>not</strong> commercially active.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_what_is_the_geoblocking_regulation">1. What is the “Geoblocking regulation”?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Broadly speaking, this means that a customer who wants to sell a certain item online must not be treated differently or excluded from selling the item due to the location of their residency.</p>
</div>
<div class="paragraph">
<p>The official name of this European regulation is</p>
</div>
<div class="paragraph">
<p><code>REGULATION (EU) 2018/302 OF THE EUROPEAN PARLIAMENT AND OF THE COUNCIL of 28 February 2018 on addressing unjustified geo-blocking and other forms of discrimination based on customers' nationality, place of residence or place of establishment within the internal market and amending Regulations (EC) No 2006/2004 and (EU) 2017/2394 and Directive 2009/22/EC</code>.</p>
</div>
<div class="paragraph">
<p>For further information, refer to the website of <a href="https://www.it-recht-kanzlei.de/geoblocking-faq.html" target="_blank" rel="noopener">IT-Recht Kanzlei</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> (German only).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_possible_workarounds">2. Possible workarounds</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the forum, we collected information from our sellers and wrote it down for you so you can also use it. Thank you that you are helping each other.</p>
</div>
<div class="paragraph">
<p>There are two possibilities to take into account these certain countries:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Allow only for self pick-up (e.g. in Germany)</p>
</li>
<li>
<p>Do not offer any shipping method (error message in the online shop)</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Generally, the first step is to set those “remaining” countries in which you have not previously been commercially active to <strong>Active</strong> in the <strong>Setup » Orders » Shipping » Settings » Tab: Countries of delivery</strong> menu.</p>
</div>
<div class="paragraph">
<p>A region is required to which these countries are added. To do so, go to <strong>Setup » Orders » Shipping » Settings » Tab: Regions</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/GEO_Region.png" alt="GEO Region" width="640" height="360">
</div>
<div class="title">Figure 1. Region with countries of delivery</div>
</div>
<div class="paragraph">
<p>If you want to allow self pick-up, you have to activate the new region in the corresponding shipping profiles in the table of shipping charges to make it valid.
It is also possible not to add these countries to any region. In this case, an error message will occur in the online shop.</p>
</div>
<div class="paragraph">
<p>A region is not automatically activated for a shipping profile. You might have the impression that it is already activated because the new region appears also in the table of shipping charges. However, clicking on the <strong>Save</strong> button is required. Look at the following image to see a table of shipping charges that is not activated for a region:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/GEO_Versandprofil_nicht_aktiv.png" alt="GEO Versandprofil nicht aktiv" width="640" height="360">
</div>
<div class="title">Figure 2. Non-activated region of a shipping profile</div>
</div>
<div class="paragraph">
<p>For the first case, with one country of delivery in the “Geoblocking region”, only the shipping profile <strong>Self pick-up</strong> would be selectable in the online shop. You should add a note here where it is possible to pick up the order.</p>
</div>
<div class="paragraph">
<p>For the second case, it is possible to have no selection of a shipping profile in the online shop. In this case, an error message would appear.</p>
</div>
<h3 id="_adjusting_the_error_message" class="discrete">Adjusting the error message</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Different settings for plentyShop LTS and Callisto</div>
<div class="paragraph">
<p>For plentyShop LTS: Adjust the error messages in the <strong>CMS » Multilingualism</strong> menu in the <strong>plentyShop LTS » Notifications</strong> area. The key is called <code>notificationsCalculateShippingFailed</code>.<br>
For Callisto: Adjust the error messages in the <strong>Setup » Client » Global » Language packages</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Adjusting the error messages for plentyShops is done in the <strong>CMS » Multilingualism</strong> menu in the <strong>plentyShop LTS » Notifications</strong> area. The corresponding key is called <code>notificationsCalculateShippingFailed</code>.</p>
</div>
<div class="paragraph">
<p>Adjusting the error message for Callisto shops (old online shop) is done in the <strong>Setup » Client » Global » Language packages</strong> menu. To do so, select the <strong>Error messages</strong> area from the drop-down list and click on the magnifying glass. The error messages 53 and 156 would be most appropriate.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/GEO-cms-multilingualism-ceres-notifications.png" alt="GEO cms multilingualism ceres notifications" width="640" height="360">
</div>
<div class="title">Figure 3. plentyShop LTS: Adjusting the error message in the multilingualism menu</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/GEO_Fehlermeldung_anpassen.png" alt="GEO Fehlermeldung anpassen" width="640" height="360">
</div>
<div class="title">Figure 4. Callisto: Adjusting the error message in the language package menu</div>
</div>
<div class="paragraph">
<p>In plentyShop, this could look like this:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/GEO_Webshop_Ausgabe.png" alt="GEO Webshop Ausgabe" width="640" height="360">
</div>
<div class="title">Figure 5. Display in the online shop</div>
</div>
<div class="paragraph">
<p>You should also not forget to adjust the shipping conditions in your own online shop accordingly. For example, you could add a note to avoid that your customer only recognises this during the order process. This note should contain the countries where you are commercially active. For example, you can add a list of countries to which you ship your items and, if applicable, in which countries it is possible for the customer to pick up the items by themselves.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_checking_other_areas">3. Checking other areas</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this practical example, we describe the work arounds related to the shipping methods. However, you should also check other settings where new countries are not activated automatically.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Payment methods</strong></p>
</li>
<li>
<p><strong>Sales prices</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The menu path to the settings of the payment methods that you offer may vary depending on the plugin: They can be found in the <strong>Setup » Orders » Payment » Plugins</strong> menu or in the <strong>Setup » Orders » Payment » Payment methods</strong> menu. You need to link the desired payment methods accordingly.</p>
</div>
<div class="paragraph">
<p>Also go to <strong>Setup » Item » Sales prices</strong> and check if a valid sales price is available so your customers can put items to the shopping cart.</p>
</div>
</div>
</div>
</main>