<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#1"><span>1.</span><span> Setting up shipping service providers and shipping profiles</span></a>
<ul class="sectlevel2">
<li><a href="#_purchasing_installing_and_deploying_the_dhl_shipping_plugin"><span>1.1.</span><span> Purchasing, installing and deploying the DHL Shipping plugin</span></a>
<ul class="sectlevel3">
<li><a href="#_purchasing"><span>1.1.1.</span><span> Purchasing</span></a></li>
<li><a href="#_installing"><span>1.1.2.</span><span> Installing</span></a></li>
<li><a href="#_deploying_and_saving"><span>1.1.3.</span><span> Deploying and saving</span></a></li>
</ul>
</li>
<li><a href="#_activating_countries_of_delivery"><span>1.2.</span><span> Activating countries of delivery</span></a></li>
<li><a href="#_creating_regions"><span>1.3.</span><span> Creating regions</span></a></li>
<li><a href="#_creating_a_shipping_service_provider"><span>1.4.</span><span> Creating a shipping service provider</span></a></li>
<li><a href="#_creating_a_shipping_profile"><span>1.5.</span><span> Creating a shipping profile</span></a>
<ul class="sectlevel3">
<li><a href="#_base"><span>1.5.1.</span><span> Base</span></a></li>
<li><a href="#_table_of_shipping_charges"><span>1.5.2.</span><span> Table of shipping charges</span></a></li>
</ul>
</li>
<li><a href="#_activating_the_shipping_profile_for_an_item"><span>1.6.</span><span> Activating the shipping profile for an item</span></a></li>
<li><a href="#_configuring_the_dhl_shipping_plugin"><span>1.7.</span><span> Configuring the DHL Shipping plugin</span></a>
<ul class="sectlevel3">
<li><a href="#_set_up"><span>1.7.1.</span><span> Set up</span></a></li>
<li><a href="#_switching_off_the_test_mode"><span>1.7.2.</span><span> Switching off the test mode</span></a></li>
<li><a href="#2400"><span>1.7.3.</span><span> Deploying the plugin once again after update</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#_dhl_troubleshooting"><span>2.</span><span> DHL Troubleshooting</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>2.1.</span><span> Access data, password, productive mode, registration</span></a>
<ul class="sectlevel3">
<li><a href="#200"><span>2.1.1.</span><span> Fehler bei der Anmeldung: (1001) login failed</span></a></li>
<li><a href="#300"><span>2.1.2.</span><span> Code 1001: Der Nutzer des Webservice konnte nicht authentifiziert werden.</span></a></li>
<li><a href="#400"><span>2.1.3.</span><span> Code 1: Authorization Required or Code 1: Unauthorized</span></a></li>
<li><a href="#500"><span>2.1.4.</span><span> Invalid XML: cvc-complex-type.2.4.d: Ungültiger Content wurde beginnend mit Element 'Shipment' gefunden.</span></a></li>
<li><a href="#510"><span>2.1.5.</span><span> Code: 1101 Das Recht zum Setzen dieses Attributes ist nicht ausreichend. Bitte wenden Sie sich an Ihren Kunden-Administrator.</span></a></li>
</ul>
</li>
<li><a href="#600"><span>2.2.</span><span> Products, EKP, processes, subscription, billing numbers</span></a>
<ul class="sectlevel3">
<li><a href="#700"><span>2.2.1.</span><span> Exception in extension function java.lang.RuntimeException: **productId cannot be mapped**</span></a></li>
<li><a href="#800"><span>2.2.2.</span><span> Exception in extension function java.lang.RuntimeException: productId **EXP/OFP** cannot be mapped</span></a></li>
</ul>
</li>
<li><a href="#900"><span>2.3.</span><span> Shipping profiles</span></a>
<ul class="sectlevel3">
<li><a href="#1000"><span>2.3.1.</span><span> The combination of shipping profile ID xx and shipping region ID xx does not exist.</span></a></li>
<li><a href="#1100"><span>2.3.2.</span><span> Ein interner Fehler ist aufgetreten</span></a></li>
<li><a href="#1200"><span>2.3.3.</span><span> Keine gültigen Versandprofile vorhanden: SystemShippingController</span></a></li>
<li><a href="#1300"><span>2.3.4.</span><span> Bitte Dateneingabe prüfen. unknown</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>2.4.</span><span> Address data, Shipper/Receiver</span></a></li>
<li><a href="#1500"><span>2.5.</span><span> Invalid fieldlength in element ‘Note’. Please refer to documentation.</span></a>
<ul class="sectlevel3">
<li><a href="#1600"><span>2.5.1.</span><span> The Customer ID Number is invalid. Please check Customer ID Number. Your order could not be processed.</span></a></li>
<li><a href="#1700"><span>2.5.2.</span><span> Invalid value in element ‘germany’</span></a></li>
<li><a href="#1800"><span>2.5.3.</span><span> Hard validation error occured., Bitte geben Sie einen Ort / Name 1 / Postleitzahl / Straße / Hausnummer / Telefonnummer an.</span></a></li>
</ul>
</li>
<li><a href="#1900"><span>2.6.</span><span> Export deliveries</span></a>
<ul class="sectlevel3">
<li><a href="#2000"><span>2.6.1.</span><span> Hard validation error occured., Die Gewichtsangabe ist kleiner als im CN23-Formular.</span></a></li>
<li><a href="#2100"><span>2.6.2.</span><span> Bitte geben Sie eine Anzahl / Beschreibung / Warenwert / Gewicht / Art der Sendung an. Die angegebene Art der Sendung ist nicht gültig.</span></a></li>
<li><a href="#2200"><span>2.6.3.</span><span> incoterms, origin country code, export document missing, weight for packages, terms of trade, shipment weight may not be smaller than 0.1 kg, valid type of shipment, quantity of goods / description of goods / country of origin / value of goods, exportdoc position</span></a></li>
<li><a href="#2300"><span>2.6.4.</span><span> Invalid fieldlength: InvoiceDate</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Best Practices: DHL</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Here, you find best practices for the shipping service provider DHL.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="1">1. Setting up shipping service providers and shipping profiles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this chapter, we will walk through the necessary steps in order that your customers can choose DHL as shipping method in your online store and that you can successfully register the order via DHL Shipping.</p>
</div>
<div class="sect2">
<h3 id="_purchasing_installing_and_deploying_the_dhl_shipping_plugin">1.1. Purchasing, installing and deploying the DHL Shipping plugin</h3>
<div class="paragraph">
<p>This chapter describes how you purchase the DHL Shipping plugin in the plentyMarketplace and how you install and deploy it in the plentymarkets back end afterwards.</p>
</div>
<div class="sect3">
<h4 id="_purchasing">1.1.1. Purchasing</h4>
<div class="paragraph">
<p>First, you have to establish a basis in order to successfully work with DHL in the future. It is required that you download the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/DHLShipping_4871" target="_blank" rel="noopener">DHL Shipping plugin</a> from our plentyMarketplace.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Shipping_Plugin_kaufen.png" alt="DHL Shipping Plugin kaufen">
</div>
<div class="title">Figure 1. Purchasing the DHL Shipping plugin</div>
</div>
<div class="paragraph">
<p>The plugin is free of charge and can be purchased by clicking on <strong>Go to checkout</strong>. Please follow further instructions in the plentyMarketplace.</p>
</div>
</div>
<div class="sect3">
<h4 id="_installing">1.1.2. Installing</h4>
<div class="paragraph">
<p>After you have purchased the plugin, you have to install it in your plentymarkets system. After the purchase, you will find the plugin in the menu <strong>Plugins » Plugin overview</strong>. For the display of newly purchased plugins, activate the filter "Not installed" and confirm the search. There you have to install the plugin by clicking the button <strong>Install plugin</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Shipping_Plugin_installieren2.png" alt="DHL Shipping Plugin installieren2">
</div>
<div class="title">Figure 2. Installing the DHL Shipping plugin</div>
</div>
</div>
<div class="sect3">
<h4 id="_deploying_and_saving">1.1.3. Deploying and saving</h4>
<div class="paragraph">
<p>As soon as the plugin is installed, you have to deploy it in the system in order to set it up later on. To do so, the following steps are necessary:</p>
</div>
<div class="paragraph">
<p>You will find the plugin in the list in the menu <strong>Plugin » Plugin overview</strong>.</p>
</div>
<div class="paragraph">
<div class="title">Activating and deploying the DHL Shipping plugin</div>
<p>Click on the globe in the plugin (<strong>Active</strong> / <strong>Not active</strong>) to set the plugin to productive mode. If you made changes to the plugin, you have to deploy all plugins for the system. This is simply done by clicking on <strong>Save &amp; deploy plugins</strong>. This process may take a little while:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Shipping_Plugin_bereitstellen_und_speichern.png" alt="DHL Shipping Plugin bereitstellen und speichern">
</div>
<div class="title">Figure 3. Deploying the DHL Shipping plugin</div>
</div>
<div class="paragraph">
<p>If an error should occur during or after the deploy process, an info button is displayed. Click to see the log entry which indicates an error or an error source. If the deploy process was successfully completed, the button will not be displayed.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Plugin_bereitstellen_error.png" alt="DHL Plugin bereitstellen error">
</div>
<div class="title">Figure 4. Error when deploying the DHL Shipping plugin</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Shipping_Plugin_Log_error.png" alt="DHL Shipping Plugin Log error">
</div>
<div class="title">Figure 5. Plugin log</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Plugin set</div>
<div class="paragraph">
<p>Pay attention that the DHL Shipping plugin must be activated for the <strong>plugin set</strong> with the <strong>standard client</strong> in order that the menu items are displayed after the deploy process and that you can carry out further settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>How you set up the plugin is described in detail in another chapter.</p>
</div>
<div class="paragraph">
<p>But before you configure the DHL Shipping plugin, you have to carry out some settings in the plentymarkets back end.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_activating_countries_of_delivery">1.2. Activating countries of delivery</h3>
<div class="paragraph">
<p>Since the plugin is basically ready, you can now proceed with the next steps. In this part, it is important that you thoroughly think about in which countries you want to deliver your items to. After you have determined these countries, you can activate them in the <strong>System » Orders » Shipping » Settings » Tab: Countries of delivery</strong>&nbsp;menu. The countries are then available for the next step. Please note that in plentymarkets it is necessary to create own "countries of delivery" for the special regions, such as Helgoland or the Canary Islands.</p>
</div>
<div class="paragraph">
<p>The following options can be selected for the countries of delivery:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Options for the countries of delivery</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inactive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The country of delivery is not active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Active</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The country of delivery is unrestrictedly active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Backoffice is active</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Countries of delivery with this setting are only visible in the plentymarkets system and not in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Supplier is active</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Countries of delivery with this setting cannot be selected as the standard country of delivery in the menu <strong>System » Client » Select client » Order process » Settings</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Lieferlaender_aktivieren.png" alt="Lieferlaender aktivieren">
</div>
<div class="title">Figure 6. Activating countries of delivery</div>
</div>
</div>
<div class="sect2">
<h3 id="_creating_regions">1.3. Creating regions</h3>
<div class="paragraph">
<p>You have to group the activated countries of delivery now. You will find the shipping regions in the menu <strong>System » Orders » Shipping » Settings » Tab: Regions</strong>. Group the countries for which the same shipping conditions should apply to one common region.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example for different shipping costs</div>
<div class="paragraph">
<p>If you want to charge EUR 14.90 as shipping costs for both Spain and France, put those two countries into region. If you want to charge EUR 20.90 as shipping costs for Italy, however, it is not possible to put Italy together with Spain and France in one region. You have to create an own region for Italy.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>On the left side of the region, you can see all available countries of delivery. On the right side, you can see all countries of delivery that are already linked with this region. Now add all active countries of delivery to a region. Please note that each country of delivery can only be saved in one region.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Regionen_einrichten.png" alt="Regionen einrichten">
</div>
<div class="title">Figure 7. Setting up regions</div>
</div>
</div>
<div class="sect2">
<h3 id="_creating_a_shipping_service_provider">1.4. Creating a shipping service provider</h3>
<div class="paragraph">
<p>Besides the countries of delivery and the corresponding regions, you also need the correct shipping service provider in order to build a bridge between the plugin and the shipping profiles. Configure the shipping service provider in the <strong>System » Orders » Shipping » Settings » Tab: Shipping service provider</strong> menu.</p>
</div>
<div class="paragraph">
<p>Here, you choose a name for the shipping service provider and select the service provider <strong>DHL Shipping (Versenden)</strong> from the drop-down list.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Versanddienstleister_erstellen.png" alt="Versanddienstleister erstellen">
</div>
<div class="title">Figure 8. Creating a shipping service provider</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Tracking URL</div>
<div class="paragraph">
<p>Furthermore, you can also add in this menu the Tracking URL "<strong><a href="http://nolp.dhl.de/nextt-online-public/set_identcodes.do?lang=de&amp;zip=$PLZ&amp;idc=$PaketNr" class="bare">http://nolp.dhl.de/nextt-online-public/set_identcodes.do?lang=de&amp;zip=$PLZ&amp;idc=$PaketNr</a></strong>". The tracking URL is required for sending emails at a later point in time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_creating_a_shipping_profile">1.5. Creating a shipping profile</h3>
<div class="paragraph">
<p>All menu items that you have set up so far, will "meet" in the shipping profile. To do so, go to <strong>System » Orders » Shipping » Settings » Tab: Shipping profiles</strong>. By clicking on the <strong>New</strong> button (plus symbol), you create a new shipping profile and directly access the <strong>Base</strong> tab. The <strong>Table of shipping charges</strong> tab is only available after you have saved.</p>
</div>
<div class="sect3">
<h4 id="_base">1.5.1. Base</h4>
<div class="paragraph">
<p>In the <strong>Base</strong> tab, you determine the basic settings for your shipping profile.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Field name description in the shipping profile</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping service provider</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping service provider that you have just created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name &amp; Name (back end)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a name for the front and back end in the corresponding language.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you can assign a flag to the profile (e.g. the DHL logo).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priority</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The priority determines in which order the shipping profiles are displayed in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The category option is another way to prioritise shipping profiles. An example of use can be found <a href="https://knowledge.plentymarkets.com/en/order-processing/fulfilment/preparing-the-shipment#1300">here</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item extra shipping charge</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can activate extra shipping charges that are saved for the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postident</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option, if PostIdent is required. For example, in case of goods that can only be purchased from age 18.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate for new items</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option in order that the profile is always activate for new items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cash on delivery</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the option in order that your customer can select the payment method Cash on delivery in your online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Extra charge for islands</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The set extra shipping charge will be calculated by means of a defined list in plentymarkets when delivery is made to certain islands.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Clients (stores)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the clients that should be linked with this shipping profile. Select at least one client in order that the shipping profile can be selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order referrer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you select the order referrers for which this shipping profile should be activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blocked payment methods</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you select the payment methods for which the shipping profile should <strong>not</strong> be available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blocked customer classes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you select the customer classes for which the shipping profile should <strong>not</strong> be available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping groups</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping profiles can be added to a shipping group. This simplifies the assignment of shipping profiles at the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Account</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an eBay account if you want to link one.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Possible options: <strong>All</strong> = All listing types <strong>Auction</strong> = Only auctions*Fixed price item/Shop item* = Only fixed price and/or shop item (shop item only for Hood)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Express delivery</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate if you want to use this shipping profile for eBay express delivery.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Loyalty program</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you can link one or multiple loyalty programs such as eBay Plus or Amazon Prime to this shipping profile.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_table_of_shipping_charges">1.5.2. Table of shipping charges</h4>
<div class="paragraph">
<p>The tab <strong>table of shipping charges</strong> is only available after you have saved the shipping profile. In this tab, the tables of shipping charges for the created regions are displayed. This means that you determine the prices and the calculation types for the individual regions.
Select the calculation basis for the shipping costs. The following options are available: <strong>Flat rate</strong>, <strong>Weight-dependent</strong>, <strong>Volume-dependent</strong>, <strong>Quantity-dependent</strong>, <strong>Price-dependent</strong> and <strong>Item shipping charge</strong>.</p>
</div>
<div class="paragraph">
<p>Depending on the type settings, you have to enter the correct prices. Furthermore, you can save for each table of shipping charges the amount from which shipping is free of charge, for example. Or you choose that shipping only costs EUR 2.50 instead of EUR 4.99 when the value of items ordered is EUR 100 at least.</p>
</div>
<div class="paragraph">
<p>The limitation type limits the shipping profile. Pay attention that you allow for a seamless transition with your shipping profiles. For example: You have set the maximum weight of 20 kg in one shipping profile. Your customer puts two items with a weight of 11 kg each in the shopping cart. Therefore, another shipping profile should be selectable. In this way, an error message in the online store will be avoided.</p>
</div>
<div class="paragraph">
<p>You can save a pre-defined shipping package as standard package. A shipping package can be defined in the menu <strong>System » Orders » Shipping » Shipping packages</strong>. In this way, you can transfer fixed dimensions when you only use one package size for the shipment.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Calculation types</div>
<div class="paragraph">
<p>Please pay attention that it might be necessary to save the weight for the weight-dependent calculation at the individual items. Otherwise, calculation will not be possible.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Portotabelle_Berechnungstypen.png" alt="Portotabelle Berechnungstypen">
</div>
<div class="title">Figure 9. Calculation types in the table of shipping charges</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Activating the table of shipping charges</div>
<div class="paragraph">
<p>The table of shipping charges is only active after you have saved it. Otherwise, you will see the note <strong>Region not used in shipping profile. Save price to use region. Save and reload table of shipping charges to show shipping service provider settings.</strong></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_activating_the_shipping_profile_for_an_item">1.6. Activating the shipping profile for an item</h3>
<div class="paragraph">
<p>In the <strong>Items » Edit item » Tab: Global</strong> menu, you have to link all items with the desired shipping profiles. This can also be done via the group function. Make sure that the checkmark is placed for the option <strong>Delete old shipping profiles</strong> since it is only possible to add further shipping profiles via the "shipping configuration".</p>
</div>
</div>
<div class="sect2">
<h3 id="_configuring_the_dhl_shipping_plugin">1.7. Configuring the DHL Shipping plugin</h3>
<div class="paragraph">
<p>After you set up the shipping profiles and linked them to the items, you can start to finally set up the DHL Shipping plugin:</p>
</div>
<div class="sect3">
<h4 id="_set_up">1.7.1. Set up</h4>
<div class="paragraph">
<p>Afterwards, you switch to the <strong>System » Orders » Shipping » DHLShipping</strong> menu where you will find the following sub-menus.</p>
</div>
<div class="paragraph">
<p><strong>Basic settings</strong></p>
</div>
<div class="paragraph">
<p>In the basic settings, you enter the access data that you have saved for the DHL user. Furthermore, you also have the possibility to save an alternative telephone number and email address. If one of these fields is filled, only this data will be transferred to DHL and not the customer’s data anymore. The setting in the shipping profile regarding <strong>Transfer email and telephone</strong> will not be taken into consideration in the plugin. Last, you can find the checkbox for the non-codable addresses here. If the checkmark is placed, DHL will also accept non-codable shipping orders. However, this may lead to additional costs at DHL. Please contact your DHL contact person for further information.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Validity of DHL user</div>
<div class="paragraph">
<p>Please note that there are two types of users at DHL. These users have a password validity of 3 or 12 months. If the password has expired, you have to save a new password at DHL and save it also in the basic settings of the plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>Accounting numbers</strong></p>
</div>
<div class="paragraph">
<p>You receive from DHL an individual billing number for each of your booked services (e.g. DHL Paket National). This number has 14 characters and is divided in 10, 2 and 2. The first 10 characters are the EKP and are identical for each service. The following 2 characters stand for the service (e.g. 01 for DHL Paket National). The last 2 characters must be entered in the field Subscription.</p>
</div>
<div class="paragraph">
<p><strong>Return data</strong></p>
</div>
<div class="paragraph">
<p>In the area of the shipper data, you enter the data which should be printed as shipper address on the DHL label.</p>
</div>
<div class="paragraph">
<p><strong>Shipping settings</strong></p>
</div>
<div class="paragraph">
<p>At last, we carry out the most important step: setting the shipping settings. In the shipping settings, all settings are combined. Here, you select which shipping profile is to "work" with which shipping region and which billing number in the future. It is important that you save an individual setting for each profile and each region in this profile. Depending on which services you have booked at DHL, you can save them in this configuration. An example of this would be the service "cash on delivery".
The field <strong>Minium package weight for transmission to DHL (in grams)</strong> can be used to increase the weight of the items for the registration. It is necessary, however, that a weight is saved for the items. The last point in the shipping settings relates to foreign deliveries. For deliveries to foreign countries, the postage for export shipping as well as the type of shipment are mandatory fields.</p>
</div>
<div class="paragraph">
<p>Once you have carried out these settings step by step, you can successfully register your orders with the DHL Shipping plugin via a process and the procedure <strong>Shipping centre</strong> or via the menu <strong>Orders » Shipping centre</strong>. If nevertheless an error should occur, you will find in the lower part of this page some possible error sources and possible solutions. Errors may be caused due to incorrect address data at the order, for example.</p>
</div>
</div>
<div class="sect3">
<h4 id="_switching_off_the_test_mode">1.7.2. Switching off the test mode</h4>
<div class="paragraph">
<p>In the end, it is necessary to set the plugin from test mode to productive mode.</p>
</div>
<div class="paragraph">
<p>Click on the plugin and switch to the section <strong>Configuration » General</strong>. Switch the setting from Test to Productive.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Plugin_Modus.png" alt="Plugin Modus">
</div>
<div class="title">Figure 10. Plugin mode</div>
</div>
</div>
<div class="sect3">
<h4 id="2400">1.7.3. Deploying the plugin once again after update</h4>
<div class="paragraph">
<p>After you have downloaded an update of the plugin, it is necessary that you deploy the plugin once again in Productive mode. Downloading the update does not lead to the fact that new features or changes are also active in the new version.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_dhl_troubleshooting">2. DHL Troubleshooting</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the following sub-chapters, you will find error messages that are sent back from DHL to plentymarkets via the interface, as well as possible solutions. For reasons of clarity, the error messages are classified in six categories.</p>
</div>
<div class="paragraph">
<p>You can retrieve the registration data and the response with possible error messages for a duration of two weeks in the <strong>Data » API Log » Tab: Shipping centre API log</strong> menu. Click on <strong>Open request log</strong> in the right column to open a window that displays the registration data. Click on <strong>Open response log</strong> to open a window with the response message from DHL.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Versand_Center_API_Log.png" alt="DHL Versand Center API Log">
</div>
<div class="title">Figure 11. Shipping centre API-Log</div>
</div>
<div class="sect2">
<h3 id="100">2.1. Access data, password, productive mode, registration</h3>
<div class="paragraph">
<p>In this chapter, you will find error messages related to access data, password, productive mode and login, as well as possible solutions.</p>
</div>
<div class="sect3">
<h4 id="200">2.1.1. Fehler bei der Anmeldung: (1001) login failed</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Es gab einen Fehler bei der Anmeldung: (1001) login failed.</code></p>
</div>
<div class="paragraph">
<p>There might be two reasons when this error message is displayed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Incorrect login details or character limitation exceeded</p>
</li>
<li>
<p>Password validity has expired at DHL</p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Incorrect login details or character limitation exceeded</p>
</div>
<div class="paragraph">
<p>Check your login details in the plentymarkets back end. The interface requires fixed specifications that do not apply when logging in via the DHL website. The interface is more precise in this case: In many cases, the limitation of 20 characters for the password and/or user name has been exceeded or the user name has been written incorrectly. For example, upon registration, you enter your user name with an upper-case character as first character. DHL saves your user name with a lower-case character.</p>
</div>
<div class="paragraph subhead">
<p>Password validity has expired at DHL</p>
</div>
<div class="paragraph">
<p>The password validity for the user for the DHL back end is 90 days for admin users of the business customer portal. If the password is no longer valid, DHL will not display a separate error message in the plentymarkets back end that tells the user to change the password. Only the above mentioned error message will be displayed. This is different if you try to log into the DHL business customer portal. A message will be displayed that you have to change the password.</p>
</div>
<div class="paragraph">
<p>It might be useful to create a system user in the DHL back end. The password validity for system users is 365 days.</p>
</div>
<div class="paragraph">
<p>The new password must also be saved in the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in the plugin in the <strong>System » Orders » Shipping » DHL Shipping » Basic settings</strong> menu</p>
</li>
<li>
<p>in the interface configuration in the <strong>System » Orders » Shipping » Shipping service provider » DHL Intraship/Versenden</strong> menu</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="300">2.1.2. Code 1001: Der Nutzer des Webservice konnte nicht authentifiziert werden.</h4>
<div class="paragraph">
<p><code>Code 1001 : Der Nutzer des Webservice konnte nicht authentifiziert werden.</code></p>
</div>
<div class="paragraph">
<p>In the past, sellers who received this error message had to change their password in the DHL business customer portal since the password was no longer valid. If the password is no longer valid, DHL will not display a separate error message in the plentymarkets back end that tells the user to change the password. Only the above mentioned error message will be displayed. This is different if you try to log into the DHL business customer portal. A message will be displayed that you have to change the password.</p>
</div>
<div class="paragraph">
<p>The new password must also be saved in the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in the plugin in the <strong>System » Orders » Shipping » DHL Shipping » Basic settings</strong> menu</p>
</li>
<li>
<p>in the interface configuration in the <strong>System » Orders » Shipping » Shipping service provider » DHL Intraship/Versenden</strong> menu</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The password for the DHL back end is valid for 90 days (for admin users). DHL requires a new password after the duration of 90 days. The password for system users created in the DHL back end is valid for a duration of 365 days.</p>
</div>
</div>
<div class="sect3">
<h4 id="400">2.1.3. Code 1: Authorization Required or Code 1: Unauthorized</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXX: Authorization Required.</code></p>
</div>
<div class="paragraph">
<p>or</p>
</div>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXX: Unauthorized.</code></p>
</div>
<div class="paragraph">
<p>Make sure that the DHL Shipping (Versenden) plugin is in Productive mode and not in Test mode. To do so, go to <strong>Plugins » Plugin overview</strong>, click on the DHL Shipping (Versenden) plugin and select the setting <strong>Productive</strong> under <strong>Configuration</strong>.</p>
</div>
<div class="paragraph">
<p>The test mode is selected as a standard. This will allow that orders are registered in the sandbox environment (DHL developer portal) – you need separate access data for the developer portal. Once the productive mode is selected and saved, the orders registered with the live system.</p>
</div>
</div>
<div class="sect3">
<h4 id="500">2.1.4. Invalid XML: cvc-complex-type.2.4.d: Ungültiger Content wurde beginnend mit Element 'Shipment' gefunden.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Invalid XML: cvc-complex-type.2.4.d: Ungültiger Content wurde beginnend mit Element 'Shipment' gefunden. An dieser Stelle wird kein untergeordnetes Element erwartet.</code></p>
</div>
<div class="paragraph">
<p>Sellers received this error message when they tried to register a large number of orders in the <strong>Orders » Shipping centre</strong> menu.</p>
</div>
<div class="paragraph">
<p>We recommend to set up a <a href="/en/basics/automation/processes/setting-up-processes">process</a> with the procedure <a href="/en/basics/automation/processes/procedures#430">shipping centre</a>. With this process, no further error message was displayed. Another possibility is to reduce the number of selected orders for the manual registration in the shipping centre.</p>
</div>
</div>
<div class="sect3">
<h4 id="510">2.1.5. Code: 1101 Das Recht zum Setzen dieses Attributes ist nicht ausreichend. Bitte wenden Sie sich an Ihren Kunden-Administrator.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen.</code></p>
</div>
<div class="paragraph">
<p><code>Auftrag XXXX: Code: 1101 Das Recht zum Setzen dieses Attributes ist nicht ausreichend. Bitte wenden Sie sich an Ihren Kunden-Administrator.</code>
<code>Das Recht zum Setzen dieses Attributes ist nicht ausreichend. Bitte wenden Sie sich an Ihren Kunden-Administrator.</code></p>
</div>
<div class="paragraph">
<p>This error message is displayed when in case of an order with cash on delivery the bank details that were saved for the DHL Shipping plugin have not been saved as standard bank details in the DHL business customer portal. The order can be successfully registered if the bank details used for the DHL Shipping plugin correspond to the standard bank details saved in the business customer portal.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="600">2.2. Products, EKP, processes, subscription, billing numbers</h3>
<div class="paragraph">
<p>In this sub-chapter, you will find error messages related to products, EKP, processes, subscription and billing numbers as well as possible solutions.</p>
</div>
<div class="sect3">
<h4 id="700">2.2.1. Exception in extension function java.lang.RuntimeException: **productId cannot be mapped**</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen.	Exception in extension function java.lang.RuntimeException: <strong>productId cannot be mapped</strong>.</code></p>
</div>
<div class="paragraph">
<p>This error message indicates that no billing number which includes the productId was saved. Save the billing number:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>for the DHL Shipping plugin in the menu <strong>System » Orders » Shipping » DHL Shipping » Billing numbers</strong></p>
</li>
<li>
<p>for the interface integration DHL Intraship / Versenden in the menu <strong>System » Orders » Shipping » Settings » Tab: Shipping profiles</strong> in the table of shipping charges of the corresponding region of the DHL shipping profile</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="800">2.2.2. Exception in extension function java.lang.RuntimeException: productId **EXP/OFP** cannot be mapped</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Exception in extension function java.lang.RuntimeException: productId <strong>EXP/OFP</strong> cannot be mapped.</code></p>
</div>
<div class="paragraph">
<p><strong>DHL Paket</strong> and <strong>DHL Express</strong> are two different service providers.</p>
</div>
<div class="paragraph">
<p>DHL Intraship customers can use DHL Paket products as well as DHL Express products, e.g. OFP (Office Paket). Unfortunately, this is not possible any longer for customers of the business customer portal. They can only register DHL Paket products via the business customer portal.</p>
</div>
<div class="paragraph">
<p>Since plentymarkets still uses the DHL Intraship interface and our registered orders might be transferred to the business customer portal – according to the settings in the customer’s account – customers of the business customer portal receive the message that the registration could not be mapped.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">2.3. Shipping profiles</h3>
<div class="paragraph">
<p>In this sub-chapter, you will find error messages related to shipping profiles, as well as possible solutions.</p>
</div>
<div class="sect3">
<h4 id="1000">2.3.1. The combination of shipping profile ID xx and shipping region ID xx does not exist.</h4>
<div class="paragraph">
<p><code>The combination of shipping profile ID xxxx and shipping region ID xxxx does not exist.</code></p>
</div>
<div class="paragraph">
<p>In this case, no shipping setting could be found (<strong>System » Orders » Shipping » DHL Shipping » Shipping settings</strong>) that was created with the shipping profile in the order.</p>
</div>
<div class="paragraph">
<p>Check which shipping profile was selected for the plugin in the shipping settings.</p>
</div>
<div class="paragraph">
<p>In many cases, the “old“ DHL shipping profile was linked to the order. The settings, however, were created with the “new“ shipping profile for the DHL Shipping (Versenden) plugin.</p>
</div>
<div class="paragraph">
<p>If the shipping profile is consistent with the shipping profile in the order, check the region.</p>
</div>
<div class="paragraph">
<p>If it is not possible to select the region in the shipping profile of the shipping settings, the region in the table of shipping charges of the shipping profile must be checked. To do so, go to <strong>System » Orders » Shipping » Settings » Tab: Shipping profiles » Open shipping profile » Tab: Table of shipping charges</strong>. The following note <strong>must not</strong> be displayed:</p>
</div>
<div class="paragraph">
<p><code>Region not used in shipping profile. Save price to use region. Save and reload table of shipping charges to show shipping service provider settings.</code></p>
</div>
<div class="paragraph">
<p>Example of a region that is not used in the shipping profile:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Portotabelle_Region.png" alt="DHL Portotabelle Region">
</div>
<div class="title">Figure 12. Region that is not used in the table of shipping charges of the shipping profile</div>
</div>
</div>
<div class="sect3">
<h4 id="1100">2.3.2. Ein interner Fehler ist aufgetreten</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Ein interner Fehler ist aufgetreten!</code></p>
</div>
<div class="paragraph">
<p>Check whether the region is activated in the table of shipping charges of the shipping profile.</p>
</div>
<div class="paragraph">
<p>Example of a region that is not used in the shipping profile:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Portotabelle_Region.png" alt="DHL Portotabelle Region">
</div>
<div class="title">Figure 13. Region that is not used in the table of shipping charges of the shipping profile</div>
</div>
</div>
<div class="sect3">
<h4 id="1200">2.3.3. Keine gültigen Versandprofile vorhanden: SystemShippingController</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Keine gültigen Versandprofile vorhanden: SystemShippingController</code></p>
</div>
<div class="paragraph">
<p>Check whether the correct shipping service provider was selected in the <strong>System » Orders » Shipping » Settings » Tab: Shipping service provider</strong> menu. The corresponding data can only be loaded if this is the case.</p>
</div>
<div class="paragraph">
<p>When you have a look at the table of shipping charges, one would recognise that DHL-specific data cannot be entered since the fields such as DHL billing number and DHL services are not available.</p>
</div>
</div>
<div class="sect3">
<h4 id="1300">2.3.4. Bitte Dateneingabe prüfen. unknown</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. unknown</code></p>
</div>
<div class="paragraph">
<p>Unfortunately, this error message is very imprecise and could have different causes:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>First, check the billing number in the table of shipping charges.
Maybe you deleted a billing number that still is to be retrieved in the shipping profile?</p>
</li>
<li>
<p>If the order is an export delivery that exceeds the value of EUR 1,000, the message <code>unknown</code> is displayed as well.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>One of our customers informed us that the following information is displayed at Intraship:</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1400">2.4. Address data, Shipper/Receiver</h3>
<div class="paragraph">
<p>In this sub-chapter, you will find error messages related to address data (shipper/receiver), as well as possible solutions.</p>
</div>
</div>
<div class="sect2">
<h3 id="1500">2.5. Invalid fieldlength in element ‘Note’. Please refer to documentation.</h3>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Invalid fieldlength in element 'Note'. Please refer to documentation.</code></p>
</div>
<div class="paragraph">
<p>The interface limits the field <code>Note</code> to 50 characters. This field is used if too many characters have been used for the house number (more than 7) or if an additional address information has been saved.
You have to correct the data in the delivery address, for example.</p>
</div>
<div class="sect3">
<h4 id="1600">2.5.1. The Customer ID Number is invalid. Please check Customer ID Number. Your order could not be processed.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXXX: The Customer ID Number is invalid. Please check the Customer ID Number. Your order could not be processed Your order could not be processed.</code></p>
</div>
<div class="paragraph">
<p>The “Postnummer“ in the delivery address is not correct or does not correspond to the customer’s data. Ask your customer for the correct data. Upon validation, DHL also checks the address that must be identical.</p>
</div>
</div>
<div class="sect3">
<h4 id="1700">2.5.2. Invalid value in element ‘germany’</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Invalid value('3411') in element 'germany'. oder auch Invalid value('DE-34117') in element 'germany'.</code></p>
</div>
<div class="paragraph">
<p>or</p>
</div>
<div class="paragraph">
<p><code>Auftrag XXXXXX: Hard validation error occured., Es handelt sich um eine ungültige Postleitzahl. Bitte verwenden Sie das Format 99999.</code></p>
</div>
<div class="paragraph">
<p>An invalid postcode is saved in the delivery address (in our example for Germany). The interface expects 5 digits. Additional entries such as "DE" are not allowed by the interface.
Messages for other countries would be displayed accordingly.</p>
</div>
<div class="paragraph">
<p>You can search for the invalid postcode in the <strong>Orders » Edit orders</strong> menu in the <strong>Customer data</strong> field.</p>
</div>
</div>
<div class="sect3">
<h4 id="1800">2.5.3. Hard validation error occured., Bitte geben Sie einen Ort / Name 1 / Postleitzahl / Straße / Hausnummer / Telefonnummer an.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXXX: Hard validation error occured, Bitte geben Sie einen Ort an. Bitte geben Sie Name 1 an. Bitte geben Sie eine Postleitzahl an. Bitte geben Sie eine Straße an. Bitte geben Sie eine Hausnummer an.</code></p>
</div>
<div class="paragraph">
<p>or</p>
</div>
<div class="paragraph">
<p><code>Hard validation error occured, Bitte geben Sie eine gültige Telefonnummer an.</code></p>
</div>
<div class="paragraph">
<p>If one of the above listed messages is displayed more than once, it indicates that missing or incorrect data might have been saved in the <strong>System » Orders » Shipping » Service provider » DHL Intraship/Versenden</strong> menu.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Absenderdaten_Intraship_Versenden.png" alt="DHL Absenderdaten Intraship Versenden">
</div>
<div class="title">Figure 14. Recipient data in the <strong>System » Orders » Shipping » Service providers » DHL Intraship/Versenden</strong></div>
</div>
<div class="paragraph">
<p>If no error is “visible“, an invisible control character might be the cause. This is often unconsciously added with copy and paste. Thus, delete this control character. It might be necessary to enter the value once again.</p>
</div>
<div class="paragraph">
<p>If one of the above listed messages is displayed only once, check the recipient data in the order.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1900">2.6. Export deliveries</h3>
<div class="paragraph">
<p>In this sub-chapter, you will find error messages related to export deliveries, as well as possible solutions.</p>
</div>
<div class="sect3">
<h4 id="2000">2.6.1. Hard validation error occured., Die Gewichtsangabe ist kleiner als im CN23-Formular.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXXX: Hard validation error occured., Die Gewichtsangabe ist kleiner als im CN23-Formular.</code></p>
</div>
<div class="paragraph">
<p>This error message is displayed when export deliveries that should be registered with DHL Versenden have an item position with a quantity &gt; 1. Unfortunately, DHL maps the data in a different way via the current interface to Versenden. This is why the weight cannot be saved correctly.</p>
</div>
<div class="paragraph">
<p>We have informed DHL about that problem several times, but we were not able to find a common solution.</p>
</div>
<div class="paragraph">
<p>With the <a href="https://marketplace.plentymarkets.com/plugins/integration/DHLShipping_4871" target="_blank" rel="noopener">DHL Shipping (Versenden) plugin</a> which only works with plentymarkets version 7 such as all plugins, this problem no longer occurs.</p>
</div>
<div class="paragraph">
<p>If you still use the interface and DHL Intraship, registering orders with your DHL Intraship access data is still possible and the above mentioned error message will not be displayed.</p>
</div>
</div>
<div class="sect3">
<h4 id="2100">2.6.2. Bitte geben Sie eine Anzahl / Beschreibung / Warenwert / Gewicht / Art der Sendung an. Die angegebene Art der Sendung ist nicht gültig.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXXX: Hard validation error occured., Bitte geben Sie die Anzahl an., Bitte geben Sie die Beschreibung an., Bitte geben Sie den Warenwert an., Bitte geben Sie das Gewicht an., Bitte geben Sie das Gewicht an., Bitte geben Sie die Art der Sendung an., Die angegebene Art der Sendung ist nicht gültig.</code></p>
</div>
<div class="paragraph">
<p>In this case, information is missing which is relevant for export deliveries. In most cases, this is due to the fact that no prior registration of the CN23 form is possible. (Prior registration means that plentymarkets transfers the item data to DHL in advance. This is mandatory in case of export deliveries.)</p>
</div>
<div class="paragraph">
<p>The reason why this is not possible is mostly because of the special regions located in the countries of delivery: They must be treated differently for customs reasons, but belong to a country of the European Union that does not require export documents. An example for such a region in Germany is the island Helgoland and in Spain the Canary Islands.</p>
</div>
<div class="paragraph">
<p>Activate the corresponding country of delivery in the <strong>System » Orders » Shipping » Settings » Tab: Countries of delivery</strong> menu, assign it to a region in the <strong>Region</strong> tab and change the country of delivery in the order. This way the missing data can be transferred and the order registration process can be continued.</p>
</div>
<div class="paragraph">
<p>If you use the DHL plugin, the error message could also be displayed because of the deployed plugin version: It is not possible to register export deliveries with the DHL plugin version older than 1.3.0. Therefore, you must use plugin version 1.3.0 at least to register export deliveries. In order to check which plugin version you use, go to <strong>Plugins » Plugin overview</strong> and have a look at the value that is displayed in the <strong>Version active</strong> column.</p>
</div>
<div class="paragraph">
<p>Screenshot from the test system:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/order-processing/fulfilment/assets/DHL_plugin_overview_version.png" alt="DHL plugin overview version">
</div>
<div class="title">Figure 15. Plugin-overview version</div>
</div>
<div class="paragraph">
<p>Make sure that you select one option each in the drop-down lists <strong>Postage for export shipping</strong> and <strong>Type of shipment</strong> in the menu <strong>System » Orders » Shipping » DHL Shipping » Shipping settings</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2200">2.6.3. incoterms, origin country code, export document missing, weight for packages, terms of trade, shipment weight may not be smaller than 0.1 kg, valid type of shipment, quantity of goods / description of goods / country of origin / value of goods, exportdoc position</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXX: The current incoterms are not included in the list of the available incoterms., The current origin country code is not included in the list of the available countries., Export document is missing., Your order could not be processed Your order could not be processed , Please enter weight for the packages, Terms of Trade have not been selected., The shipment weight may not be smaller than 0.1 kg for this product code., The shipment weight may not be smaller than 0.1 kg for this product code., Please select a valid type of shipment., Please enter quantity of goods., Please enter a description of goods., Please enter the country of ofigin., Please enter value of goods., Please add an exportdoc position.</code></p>
</div>
<div class="paragraph">
<p>The error message contains “incoterms” and “origin country”. This error message from DHL says that the order is an export delivery and that information for the customs are missing. This can have two causes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Information such as the customs tariff number and/or country of origin of the product is missing for the items.</p>
</li>
<li>
<p>A “wrong“ country is used in the delivery address. This is why the data from 1. – although available – is not transferred to DHL. This could be the case, e.g. if the items should be shipped to the Canary Islands, but Spain was selected as the country of delivery.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="2300">2.6.4. Invalid fieldlength: InvoiceDate</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Invalid fieldlength: InvoiceDate</code></p>
</div>
<div class="paragraph">
<p>When registering export deliveries, it is required for the prior registration of the items that an invoice has been created for the order to fill the mandatory field <strong>InvoiceDate</strong>. This error message appears if this is not the case.</p>
</div>
<div class="paragraph">
<p>“Prior registration“ means that plentymarkets transfers the item data to DHL in advance. This is mandatory in case of export deliveries.</p>
</div>
</div>
</div>
</div>
</div>
</main>