<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_checkliste_kategoriesichtbarkeit_im_webshop"><span>1.</span><span> Checkliste: Kategoriesichtbarkeit im Webshop</span></a>
<ul class="sectlevel2">
<li><a href="#_ist_der_richtige_mandant_mit_der_kategorie_verknüpft"><span>1.1.</span><span> Ist der richtige Mandant mit der Kategorie verknüpft?</span></a></li>
<li><a href="#_sind_die_einstellungen_für_die_linkliste_korrekt"><span>1.2.</span><span> Sind die Einstellungen für die Linkliste korrekt?</span></a></li>
<li><a href="#_ist_die_kategorie_in_den_einstellungen_des_systems_aktiviert"><span>1.3.</span><span> Ist die Kategorie in den Einstellungen des Systems aktiviert?</span></a></li>
<li><a href="#_ist_eine_variante_mit_der_kategorie_verknüpft"><span>1.4.</span><span> Ist eine Variante mit der Kategorie verknüpft?</span></a></li>
<li><a href="#_ist_die_ebenentiefe_korrekt_definiert"><span>1.5.</span><span> Ist die Ebenentiefe korrekt definiert?</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Kategorien</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zum Thema Kategorien.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_checkliste_kategoriesichtbarkeit_im_webshop">1. Checkliste: Kategoriesichtbarkeit im Webshop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Checkliste soll helfen, mögliche Fehlerquellen bei der Kategoriesichtbarkeit ausfindig zu machen. Bei unseren Beispiel-Screenshots handelt es sich um Einstellungen aus einem Standardsystem, Abweichungen sind möglich.</p>
</div>
<div class="sect2">
<h3 id="_ist_der_richtige_mandant_mit_der_kategorie_verknüpft">1.1. Ist der richtige Mandant mit der Kategorie verknüpft?</h3>
<div class="paragraph">
<p>Der Mandant, in dem die Kategorie erscheinen soll, muss im Bereich <strong>Einstellungen</strong> unter <strong>Artikel » Kategorien</strong> aktiviert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/best-practices/assets/Checkliste_Kategorie_Mandant.png" alt="Checkliste Kategorie Mandant">
</div>
<div class="title">Bild 1. Bereich Einstellungen einer Kategorie. Hier wird u.A. der Mandant aktiviert.</div>
</div>
</div>
<div class="sect2">
<h3 id="_sind_die_einstellungen_für_die_linkliste_korrekt">1.2. Sind die Einstellungen für die Linkliste korrekt?</h3>
<div class="paragraph">
<p>Im Bereich <strong>Einstellungen</strong> der Kategorie muss gibt es den Punkt <strong>In Linkliste</strong>. Dort muss <strong>Anzeigen</strong> ausgewählt sein.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/best-practices/assets/Checkliste_Kategorie_Linkliste.png" alt="Checkliste Kategorie Linkliste">
</div>
<div class="title">Bild 2. Kategorien können in der Linkliste angezeigt oder auch verborgen werden.</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_die_kategorie_in_den_einstellungen_des_systems_aktiviert">1.3. Ist die Kategorie in den Einstellungen des Systems aktiviert?</h3>
<div class="paragraph">
<p>Die Kategorien müssen im Menü <strong>Einrichtung » Mandant » Standard Shop » Kategorien » Aktivieren</strong> aktiviert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/best-practices/assets/Checkliste_Kategorie_aktiv.png" alt="Checkliste Kategorie aktiv">
</div>
<div class="title">Bild 3. Standardmäßig sind die Kategorien in diesem Menü nach Kateagorieanlage bereits aktiv.</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_eine_variante_mit_der_kategorie_verknüpft">1.4. Ist eine Variante mit der Kategorie verknüpft?</h3>
<div class="paragraph">
<p>Diese Variante muss so konfiguriert sein, dass sie <a href="/artikel/best-practices/best-practices_artikel">im Shop sichtbar ist</a>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/best-practices/assets/Checkliste_Kategorie_Verknuepfung.png" alt="Checkliste Kategorie Verknuepfung">
</div>
<div class="title">Bild 4. Eine Kategorieverknüpfung ist plentymarkets Pflicht</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_die_ebenentiefe_korrekt_definiert">1.5. Ist die Ebenentiefe korrekt definiert?</h3>
<div class="paragraph">
<p>Die Anzeige, wie viele Ebenen angezeigt werden, muss in den Einstellungen des Menüs <strong>Einrichtung » Mandant » Standard Shop » Kategorien » Einstellungen</strong> definiert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/best-practices/assets/Checkliste_Kategorie_Ebene.png" alt="Checkliste Kategorie Ebene">
</div>
<div class="title">Bild 5. In der Kategorienavigation können bis zu 6 Ebenen angezeigt werden.</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Cache</div>
<div class="paragraph">
<p>Wenn die Kategorien richtig konfiguriert sind, kann es Cache-bedingt dennoch bis zu einer Stunde dauern, bis die Kategorien im Webshop sichtbar werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>