<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#filters"><span>1.</span><span> Setting up filters</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_an_attribute"><span>1.1.</span><span> Creating an attribute</span></a></li>
<li><a href="#_linking_an_attribute_with_an_item"><span>1.2.</span><span> Linking an attribute with an item</span></a></li>
<li><a href="#_setting_up_facets"><span>1.3.</span><span> Setting up facets</span></a></li>
<li><a href="#_linking_attribute_values_to_facets"><span>1.4.</span><span> Linking attribute values to facets</span></a></li>
<li><a href="#_provisioning_plugins"><span>1.5.</span><span> Provisioning plugins</span></a></li>
</ul>
</li>
<li><a href="#order-properties"><span>2.</span><span> Setting up order properties</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_an_order_property"><span>2.1.</span><span> Creating an Order property</span></a></li>
<li><a href="#_linking_the_order_property_with_an_item"><span>2.2.</span><span> Linking the Order property with an item</span></a></li>
<li><a href="#_deploying_the_plugins"><span>2.3.</span><span> Deploying the plugins</span></a></li>
</ul>
</li>
<li><a href="#checkout"><span>3.</span><span> Installing the Ceres checkout in Callisto</span></a>
<ul class="sectlevel2">
<li><a href="#_managing_routes"><span>3.1.</span><span> Managing routes</span></a></li>
<li><a href="#_adjusting_the_order_process"><span>3.2.</span><span> Adjusting the order process</span></a></li>
<li><a href="#_creating_backlinks"><span>3.3.</span><span> Creating backlinks</span></a></li>
<li><a href="#_adjusting_the_legal_information"><span>3.4.</span><span> Adjusting the legal information</span></a></li>
<li><a href="#_theme"><span>3.5.</span><span> Theme</span></a></li>
<li><a href="#_payment_methods"><span>3.6.</span><span> Payment methods</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Best Practices: Ceres</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Here, you find best practices on subjects such as <strong>Ceres</strong> and the online store.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="filters">1. Setting up filters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In Ceres Filters are realized by means of attributes and properties. This Best Practice describes how the filter <strong>Colour</strong> with the two values <strong>Red</strong> and <strong>Black</strong> is displayed in the category view of the online store. The corresponding filters are only available in the category view if there are items that are linked to the filter values.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first:</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the online store plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available in the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a> and runs on plentymarkets 7 systems. The filters from <strong>Ceres</strong> are also displayed in individual theme plugins, as long as these themes did not overwrite them.</p>
</li>
<li>
<p>The integration into individual or altered template plugins is possible. This, however, requires individual adjustments which cannot be considered here.</p>
</li>
<li>
<p>Filters can be realized by means of <a href="/en/omni-channel/online-store/setting-up-clients/extras/faceted-search#100">facets</a> through <strong>attributes</strong> and <strong>properties</strong>. This Best Practice exemplifies the setup of filters by means of <strong>attributes</strong>. Filters based on <strong>properties</strong> have to be setup manually. Create a <strong>Property group</strong> in which you organise properties of the type <strong>None</strong>. Properties are linked to facet values.</p>
</li>
<li>
<p>For plentymarkets Zero systems, the <strong>System » Client » Settings » Services » Faceted search</strong> menu is only activated in the central login.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_an_attribute">1.1. Creating an attribute</h3>
<div class="paragraph">
<p>We begin with an attribute.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Attributes</strong>.</p>
</li>
<li>
<p>Click on <strong>New attribute</strong>.</p>
</li>
<li>
<p>Enter the internal name, e.g. <strong>Colour</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The attribute is created and the tab <strong>Basic settings</strong> is displayed.</p>
</li>
<li>
<p>Click on the <strong>Name</strong> tab.</p>
</li>
<li>
<p>Enter the translations for your attribute.</p>
</li>
<li>
<p>Click on the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New value</strong>.</p>
</li>
<li>
<p>Enter the internal name, e.g. <strong>Red</strong>.</p>
</li>
<li>
<p>Repeat steps 8 and 9 for the value <strong>Black</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The attribute with the two values <strong>Red</strong> and <strong>Black</strong> is created. You can also create additional values, such as <strong>Vermilion</strong> or <strong>Burgundy</strong>, and link them to the same <strong>Red</strong> facet.</p>
</div>
</div>
<div class="sect2">
<h3 id="_linking_an_attribute_with_an_item">1.2. Linking an attribute with an item</h3>
<div class="paragraph">
<p>You can link attributes with the main variation of an item when creating the item. When creating additional variations, you can link these variations with attribute values, too. You will now create variations in the <strong>Variations</strong> tab of the item. These variations have to be active in the online store, so that the filter will be available later on.</p>
</div>
<div id="filter-varianten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-variations-en.png" alt="bp ceres filter variations en">
</div>
<div class="title">Figure 1. Linking a variation to suitable attribute values</div>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_facets">1.3. Setting up facets</h3>
<div class="paragraph">
<p>In the online store our filters are realized by means of facets. Therefore we have to create a new facet and link the attribute values to it.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong> to create a new facet.</p>
</li>
<li>
<p>Enter a <strong>Name</strong> for the facet in the default language of your system, e.g. <strong>Colour</strong>.</p>
</li>
<li>
<p>Select the type <strong>Attribute/Property</strong>.</p>
</li>
<li>
<p>Enter the facet’s position in the online store.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_linking_attribute_values_to_facets">1.4. Linking attribute values to facets</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Click on the <strong>Name</strong> tab.</p>
</li>
<li>
<p>Enter the translation for your facet.</p>
</li>
<li>
<p>Click on the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add new value</strong>.</p>
</li>
<li>
<p>Enter the name, e.g. <strong>Red</strong>.</p>
</li>
<li>
<p>Enter the position.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The facet value is added.</p>
</li>
<li>
<p>Enter the translations for the facet value in th <strong>Name</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Link</strong> tab.</p>
</li>
<li>
<p>Open the attribute <strong>Attribute » Colour » Red</strong>.</p>
</li>
<li>
<p>Click on <strong>Link</strong>.</p>
</li>
<li>
<p>Repeat steps 6 to 13 for the value <strong>Black</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="filter-facetten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-facets-en.png" alt="bp ceres filter facets en">
</div>
<div class="title">Figure 2. Linked facet values</div>
</div>
</div>
<div class="sect2">
<h3 id="_provisioning_plugins">1.5. Provisioning plugins</h3>
<div class="paragraph">
<p>Now you will provision the plugins in <strong>Productive</strong> in order to apply the changes. The filters will be available in the <strong>search</strong> and in the <strong>category view</strong>.</p>
</div>
<div id="filter-frontend" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-frontend-en.png" alt="bp ceres filter frontend en">
</div>
<div class="title">Figure 3. Selected filter in the category view</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="order-properties">2. Setting up order properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this example, we setup a property in which you enter a <strong>Text</strong> to print on a shirt. Upon any entry, a surcharge will be added to the item price.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first …</div>
<div class="ulist">
<ul>
<li>
<p>This is a <strong>How to</strong> for the online store plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available in the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a> and runs on plentymarkets 7 systems.</p>
</li>
<li>
<p>An integration in individual or altered template plugins is possible, however, this needs individual settings which we cannot go into here.</p>
</li>
<li>
<p><strong><em>Note:</em></strong> At the moment, only the property with the type <strong>Text</strong> is active.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_an_order_property">2.1. Creating an Order property</h3>
<div class="paragraph">
<p>We begin by creating the property.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Open the <strong>New property</strong> tab.</p>
</li>
<li>
<p>In <strong>Name (internal)</strong>, enter the description of the property for use in your backend.</p>
</li>
<li>
<p>Under <strong>Webshop</strong>, select the language code <strong>en</strong>.</p>
</li>
<li>
<p>In <strong>Name</strong>, enter the description to display in the item view. In our example, that is 'Shirt print'.</p>
</li>
<li>
<p>Select <strong>Text</strong> from the <strong>Property type</strong> drop-down list.</p>
</li>
<li>
<p>In <strong>Surcharge</strong>, enter the price for activating the property, e.g. 12.00 £ for a shirt print.<br>
→ Activate <strong>Display as additional costs</strong> so the customer is shown in the item view which surcharge is linked to the property.</p>
</li>
<li>
<p>Under <strong>Show</strong>, activate all four settings to keep the additional costs transparent in the checkout process.</p>
</li>
<li>
<p>Activate the setting <strong>Order property</strong> to mark the property as such.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property is created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Your settings should look as follows.</p>
</div>
<div id="order-properties-settings" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-settings.png" alt="bp ceres order properties settings">
</div>
<div class="title">Figure 4. Settings for Order property</div>
</div>
</div>
<div class="sect2">
<h3 id="_linking_the_order_property_with_an_item">2.2. Linking the Order property with an item</h3>
<div class="paragraph">
<p>Properties are linked to the item itself. To do so, proceed as follows.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select an item to link the property to.</p>
</li>
<li>
<p>Go to the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Under <strong>Activate further properties » Properties not assigned to a group</strong>, activate the new property.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property is linked to the item and is listed under <strong>Properties</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Surcharges</div>
<div class="paragraph">
<p>Under <strong>Properties</strong>, you can also enter a surcharge. If you do so, the value here will overwrite the surcharge saved in the property.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="order-properties-item" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-item.png" alt="bp ceres order properties item">
</div>
<div class="title">Figure 5. Settings for the item</div>
</div>
</div>
<div class="sect2">
<h3 id="_deploying_the_plugins">2.3. Deploying the plugins</h3>
<div class="paragraph">
<p>Deploy the plugins in <strong>Productive</strong> to save the changes and display the Order property in the <strong>Item view</strong> and the <strong>Shopping cart</strong>.</p>
</div>
<div id="order-properties-item-view" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-item-view.png" alt="bp ceres order properties item view">
</div>
<div class="title">Figure 6. Item view in the online store</div>
</div>
<div class="paragraph">
<p>Once the customers enters data into the text field, it will be saved and the surcharge will be added to the item price.</p>
</div>
<div id="order-properties-shopping-cart" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-shopping-cart.png" alt="bp ceres order properties shopping cart">
</div>
<div class="title">Figure 7. Item view in the shopping cart</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="checkout">3. Installing the Ceres checkout in Callisto</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You want to use the new checkout with its plugin capability and individualisation in concert with your Callisto online store? No problem – read here how to do it step by step.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first …</div>
<div class="ulist">
<ul>
<li>
<p>This HowTo describes setting up the Ceres checkout in a Callisto template with the <strong>individual order process</strong>. Before you get started, back up your design and do not make any changes to your active layout.</p>
</li>
<li>
<p>To use the Ceres checkout, you need the current version of the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">Ceres</a> and the <a href="https://marketplace.plentymarkets.com/plugins/templates/IO_4696" target="_blank" rel="noopener">IO</a> plugins. You can find them in the plentyMarketplace.</p>
</li>
<li>
<p>Note that plugins only work with the new back end Terra.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_managing_routes">3.1. Managing routes</h3>
<div class="paragraph">
<p>Ceres uses the logic of the IO plugin. To ise the checkout in a way all links between Callisto and Ceres work properly, proceed as follows.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Working in the preview mode</div>
<div class="paragraph">
<p>Test all changes in the <a href="/en/basics/first-steps/plugins#50">preview mode Stage</a> before carrying them over to your live store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Applying changes in IO:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>IO</strong>.<br>
→ The plugin will open.</p>
</li>
<li>
<p>Click on <strong>Configuration</strong> in the directory tree.</p>
</li>
<li>
<p>Click on the <strong>Routing</strong> tab.</p>
</li>
<li>
<p>Click on the checkbo <strong>All</strong>.<br>
→ All routes are deactivated.</p>
</li>
<li>
<p>Activate the routes <strong>/checkout</strong>, <strong>/confirmation</strong>, <strong>/login</strong>, <strong>register</strong> and <strong>/place-order &amp; /execute-payment</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Applying changes in Ceres:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Ceres</strong>.<br>
→ The plugin will open.</p>
</li>
<li>
<p>Click on <strong>Configuration</strong> in the directory tree.<br>
→ The <strong>Global</strong> tab is already selected.</p>
</li>
<li>
<p>Click on <strong>Enable Callisto route pattern for items</strong>.<br>
→ The Callisto routes are enabled.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The Ceres checkout is active in your system.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_adjusting_the_order_process">3.2. Adjusting the order process</h3>
<div class="paragraph">
<p>Proceed as follows to carry out the necessary adjustments to the order process.</p>
</div>
<div class="paragraph instruction">
<p>Creating categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Create a new main category with the name <strong>login</strong>.</p>
</li>
<li>
<p>Open the category <strong>login</strong>.</p>
</li>
<li>
<p>Select the category type <strong>Container</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Create a new main category with the name <strong>checkout</strong>.</p>
</li>
<li>
<p>Open the category * checkout*.</p>
</li>
<li>
<p>Select the category type <strong>Container</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Afterwards, link the new categories with the Callisto order process.</p>
</div>
<div class="paragraph instruction">
<p>Adjusting the order process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>.<br>
→ The menu <strong>Design settings</strong> will open.</p>
</li>
<li>
<p>Click on the tab <strong>Clients</strong>.</p>
</li>
<li>
<p>Select the client you want to edit.</p>
</li>
<li>
<p>Click on the tab <strong>Order process</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> next to <strong>2nd order process step</strong>.</p>
</li>
<li>
<p>Select the created category <strong>login</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> next to <strong>3rd order process step</strong>.</p>
</li>
<li>
<p>Select the created category <strong>checkout</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Now, once you go to the checkout from the basket, you will be forwarded to the Ceres checkout, which offers new functions, e.g., payment plugins like PayPal.</p>
</div>
</div>
<div class="sect2">
<h3 id="_creating_backlinks">3.3. Creating backlinks</h3>
<div class="paragraph">
<p>After clicking on <strong>To the checkout</strong> and logging in, a customer should be reirected to the checkout to complete the order. Proceed as follows to create the functionality to do so.</p>
</div>
<div class="paragraph instruction">
<p>Creating backlinks for the basket:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Click on the category <strong>Shopping cart</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Description 1</strong>.</p>
</li>
<li>
<p>Search for the code <code>&#123;&#37; if ( $CustomerID ) { Link_Checkout(3); } else { Link_Checkout(2); } &#37;&#125;</code>.</p>
</li>
<li>
<p>Replace this code with <code>&#123;&#37; if( $CustomerID ) { $_check = Link_Checkout(3); $_backlink = ''; } else { $_check = Link_Checkout(2); $_backlink = '?backlink=/checkout'; } &#37;&#125; $_check.$_backlink</code>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Creating backlinks for the basket preview:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » ItemView » ItemViewBasketPreviewList.</strong></p>
</li>
<li>
<p>Search for the code <code>&#123;&#37; if ( $CustomerID ) { Link_Checkout(3); } else { Link_Checkout(2); } &#37;&#125;</code>.</p>
</li>
<li>
<p>Replace this code with <code>&#123;&#37; if( $CustomerID ) { $_check = Link_Checkout(3); $_backlink = ''; } else { $_check = Link_Checkout(2); $_backlink = '?backlink=/checkout'; } &#37;&#125; $_check.$_backlink</code>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Creating backlinks for the basket overlay:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » ItemView » ItemViewItemToBasketConfirmationOverlay.</strong></p>
</li>
<li>
<p>Search for the code <code>&#123;&#37; if ( $CustomerID ) { Link_Checkout(3); } else { Link_Checkout(2); } &#37;&#125;</code>.</p>
</li>
<li>
<p>Replace this code with <code>&#123;&#37; if( $CustomerID ) { $_check = Link_Checkout(3); $_backlink = ''; } else { $_check = Link_Checkout(2); $_backlink = '?backlink=/checkout'; } &#37;&#125; $_check.$_backlink</code>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_adjusting_the_legal_information">3.4. Adjusting the legal information</h3>
<div class="paragraph">
<p>The four areas have to be connected differently to be displayed correctly.</p>
</div>
<div class="paragraph instruction">
<p>Adjusting the GTC:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Terms and conditions</strong> as main category.<br>
→ The new main category <strong>Terms and conditions</strong> will open.</p>
</li>
<li>
<p>Enter <strong>gtc</strong> as <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the cancellation rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Cancellation rights</strong> as main category.<br>
→ The new main category <strong>Cancellation rights</strong> will open.</p>
</li>
<li>
<p>Enter <strong>cancellation-rights</strong> as <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the legal disclosure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Legal disclosure</strong> as main category.<br>
→ The new main category <strong>Legal disclosure</strong> will open.</p>
</li>
<li>
<p>Enter <strong>legal-disclosure</strong> as <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the privacy policy:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Privacy policy</strong> as main category.<br>
→ The new main category <strong>Privacy policy</strong> will open.</p>
</li>
<li>
<p>Enter <strong>privacy-policy</strong> as <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_theme">3.5. Theme</h3>
<div class="paragraph">
<p>You have personalised your Callisto online store just the way you like it and fear the Ceres design will interfere with it? You can easily download the <a href="https://marketplace.plentymarkets.com/plugins/themes/ceresvanilla_5025" target="_blank" rel="noopener">Vanilla theme</a> for Ceres and apply your design to guarantee a consistent user experience.</p>
</div>
</div>
<div class="sect2">
<h3 id="_payment_methods">3.6. Payment methods</h3>
<div class="paragraph">
<p>The old Callisto payment methods do not work with the Ceres checkout, only the new payment plugins. Hence, you have to install at least one <a href="https://marketplace.plentymarkets.com/plugins/payment/" target="_blank" rel="noopener">payment plugin</a> to provide your customers with a payment method.</p>
</div>
</div>
</div>
</div>
</main>