<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#testing-ceres-updates"><span>1.</span><span> Testing Ceres updates for theme compatibility</span></a>
<ul class="sectlevel2">
<li><a href="#_copying_a_plugin_set"><span>1.1.</span><span> Copying a plugin set</span></a></li>
<li><a href="#_updating_ceres_for_the_copied_plugin_set"><span>1.2.</span><span> Updating Ceres for the copied plugin set</span></a></li>
</ul>
</li>
<li><a href="#filters"><span>2.</span><span> Setting up filters</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_an_attribute"><span>2.1.</span><span> Creating an attribute</span></a></li>
<li><a href="#_linking_an_attribute_with_an_item"><span>2.2.</span><span> Linking an attribute with an item</span></a></li>
<li><a href="#_setting_up_facets"><span>2.3.</span><span> Setting up facets</span></a></li>
<li><a href="#_linking_attribute_values_to_facets"><span>2.4.</span><span> Linking attribute values to facets</span></a></li>
<li><a href="#_linking_clients_to_facets"><span>2.5.</span><span> Linking clients to facets</span></a></li>
<li><a href="#_provisioning_plugins"><span>2.6.</span><span> Provisioning plugins</span></a></li>
</ul>
</li>
<li><a href="#order-properties"><span>3.</span><span> Setting up order properties</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_order_properties"><span>3.1.</span><span> Creating order properties</span></a></li>
<li><a href="#_linking_an_order_property_to_an_item"><span>3.2.</span><span> Linking an order property to an item</span></a></li>
<li><a href="#_provisioning_plugins_2"><span>3.3.</span><span> Provisioning plugins</span></a></li>
<li><a href="#_setting_up_order_properties_with_checkboxes"><span>3.4.</span><span> Setting up order properties with checkboxes</span></a>
<ul class="sectlevel3">
<li><a href="#_creating_a_property_group"><span>3.4.1.</span><span> Creating a property group</span></a></li>
<li><a href="#_creating_order_properties_2"><span>3.4.2.</span><span> Creating order properties</span></a></li>
<li><a href="#_linking_an_order_property_to_an_item_2"><span>3.4.3.</span><span> Linking an order property to an item</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#checkout"><span>4.</span><span> Installing the Ceres checkout in Callisto</span></a>
<ul class="sectlevel2">
<li><a href="#_managing_routes"><span>4.1.</span><span> Managing routes</span></a></li>
<li><a href="#_adjusting_the_order_process"><span>4.2.</span><span> Adjusting the order process</span></a></li>
<li><a href="#_creating_backlinks"><span>4.3.</span><span> Creating backlinks</span></a></li>
<li><a href="#_adjusting_the_legal_information"><span>4.4.</span><span> Adjusting the legal information</span></a></li>
<li><a href="#_theme"><span>4.5.</span><span> Theme</span></a></li>
<li><a href="#_payment_methods"><span>4.6.</span><span> Payment methods</span></a></li>
</ul>
</li>
<li><a href="#cross-selling"><span>5.</span><span> Setting up cross-selling item lists</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_up_cross_selling_item_lists"><span>5.1.</span><span> Setting up cross-selling item lists</span></a></li>
<li><a href="#_displaying_cross_selling_item_lists_in_the_online_store"><span>5.2.</span><span> Displaying cross-selling item lists in the online store</span></a></li>
</ul>
</li>
<li><a href="#callisto-to-ceres"><span>6.</span><span> Changing from Callisto to Ceres</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_a_new_plugin_set"><span>6.1.</span><span> Creating a new plugin set</span></a></li>
<li><a href="#_setting_up_the_plugin_set"><span>6.2.</span><span> Setting up the plugin set</span></a></li>
<li><a href="#_testing_your_ceres_online_store_in_preview_mode"><span>6.3.</span><span> Testing your Ceres online store in preview mode</span></a></li>
<li><a href="#_going_live_with_the_ceres_online_store"><span>6.4.</span><span> Going live with the Ceres online store</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Best Practices: Ceres</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Here, you find best practices on subjects such as <strong>Ceres</strong> and the online store.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="testing-ceres-updates">1. Testing Ceres updates for theme compatibility</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this best practice you will learn which steps are necessary in order to test newly published version upgrades of the Ceres online store template plugin without impacting the productive live operation of your online store.
 Due to implementations of new features, bugfixes and changes to the user interface, dependencies between external plugins (for instance <a href="https://marketplace.plentymarkets.com/plugins/themes" target="_blank" rel="noopener">layout themes</a>) and Ceres may lead to issues when updating to a new Ceres version.
Therefore it is advisable to create a copy of your current <strong>plugin set</strong> configuration, with which you can test the compatibility of the newly released Ceres version and external plugins.</p>
</div>
<div class="sect2">
<h3 id="_copying_a_plugin_set">1.1. Copying a plugin set</h3>
<div class="paragraph">
<p>First, you should create a new <strong>Plugin set</strong>, onto which you can transfer the current settings of your Ceres online store. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Copying a plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new set</strong>.<br>
→ The <strong>New plugin set</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the plugin set, which should ideally communicate that this is a copy of your Ceres online store.</p>
</li>
<li>
<p>Select the plugin set for which you want to copy the current configuration from the <strong>Copy plugin set</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The new plugin set will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The plugin set copy now contains the exact same settings as the one used as your Ceres online store. At this point, both the original set and its copy are identical.
It is advisable to repeat this process before any major update, so that the plugin set is up to date.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updating_ceres_for_the_copied_plugin_set">1.2. Updating Ceres for the copied plugin set</h3>
<div class="paragraph">
<p>In the next step, you need to update the copied plugin set to the current Ceres version.</p>
</div>
<div class="paragraph instruction">
<p>Updating the plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Select the newly created copy of the plugin set.<br>
→ The <strong>Plugin set details</strong> window opens.</p>
</li>
<li>
<p>In the line of the <strong>Ceres</strong> plugin, click on <strong>Update</strong> in the <strong>Action</strong> column.<br>
→ The <strong>Install plugin</strong> window opens.
→ The most current version of the plugin is preselected.</p>
</li>
<li>
<p>Click on <strong>Install</strong>.<br>
→ The plugin will open.</p>
</li>
<li>
<p>Repeat steps 3 and 4 for the plugin <strong>IO</strong>.</p>
</li>
<li>
<p>Click on <strong>Save &amp; publish plugins</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The copy of the plugin set is now at a more current stage than the plugin set of your Ceres online store.
Click on the plugin set copy in the list of plugin sets on the left side of the interface. You can access your Ceres online store in combination with the plugin set copy in preview mode via the button <strong>Plugin set preview</strong>. That way, you can assess whether the current changes to the Ceres plugin result in incompatibilities with external plugins, like a theme, that your are using.
If the external plugins are functioning correctly under the new Ceres version, you can either <a href="/en/basics/first-steps/plugins#70">activate</a> the plugin set copy for the relevant client or <strong>Update</strong> the original plugin set, as detailed above.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Some dependencies betwen external plugins and <strong>Ceres</strong>/<strong>IO</strong> may not be immediately apparent. For this reason it is advisable to not dismiss the original plugin set prematurely, so that the switch to the previous version is still possible after a number of days without adjusting the Ceres settings again. If you want to be informed about incompatabilities or other issues between external plugins and a new version of <strong>Ceres</strong>/<strong>IO</strong>, you are invited to visit the <a href="https://forum.plentymarkets.com/c/ceres-webshop" target="_blank" rel="noopener">forum</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="filters">2. Setting up filters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In Ceres Filters are realized by means of attributes and properties. This Best Practice describes how the filter <strong>Colour</strong> with the two values <strong>Red</strong> and <strong>Black</strong> is displayed in the category view of the online store. The corresponding filters are only available in the category view if there are items that are linked to the filter values.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first:</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the online store plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available in the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a> and runs on plentymarkets 7 systems. The filters from <strong>Ceres</strong> are also displayed in individual theme plugins, as long as these themes did not overwrite them.</p>
</li>
<li>
<p>The integration into individual or altered template plugins is possible. This, however, requires individual adjustments which cannot be considered here.</p>
</li>
<li>
<p>Filters can be realized by means of <a href="/en/omni-channel/online-store/setting-up-clients/extras/faceted-search#100">facets</a> through <strong>attributes</strong> and <strong>properties</strong>. This Best Practice exemplifies the setup of filters by means of <strong>attributes</strong>. Filters based on <strong>properties</strong> have to be setup manually. Create a <strong>Property group</strong> in which you organise properties of the type <strong>None</strong>. Properties are linked to facet values.</p>
</li>
<li>
<p>For plentymarkets Zero systems, the <strong>System » Client » Settings » Services » Faceted search</strong> menu is only activated in the central login.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_an_attribute">2.1. Creating an attribute</h3>
<div class="paragraph">
<p>We begin with an attribute.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Attributes</strong>.</p>
</li>
<li>
<p>Click on <strong>New attribute</strong>.</p>
</li>
<li>
<p>Enter the internal name, e.g. <strong>Colour</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The attribute is created and the tab <strong>Basic settings</strong> is displayed.</p>
</li>
<li>
<p>Click on the <strong>Name</strong> tab.</p>
</li>
<li>
<p>Enter the translations for your attribute.</p>
</li>
<li>
<p>Click on the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New value</strong>.</p>
</li>
<li>
<p>Enter the internal name, e.g. <strong>Red</strong>.</p>
</li>
<li>
<p>Repeat steps 8 and 9 for the value <strong>Black</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The attribute with the two values <strong>Red</strong> and <strong>Black</strong> is created. You can also create additional values, such as <strong>Vermilion</strong> or <strong>Burgundy</strong>, and link them to the same <strong>Red</strong> facet.</p>
</div>
</div>
<div class="sect2">
<h3 id="_linking_an_attribute_with_an_item">2.2. Linking an attribute with an item</h3>
<div class="paragraph">
<p>You can link attributes with the main variation of an item when creating the item. When creating additional variations, you can link these variations with attribute values, too. You will now create variations in the <strong>Variations</strong> tab of the item. These variations have to be active in the online store, so that the filter will be available later on.</p>
</div>
<div id="filter-varianten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-variations-en.png" alt="bp ceres filter variations en">
</div>
<div class="title">Figure 1. Linking a variation to suitable attribute values</div>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_facets">2.3. Setting up facets</h3>
<div class="paragraph">
<p>In the online store our filters are realized by means of facets. Therefore we have to create a new facet and link the attribute values and the desired client to it.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong> to create a new facet.</p>
</li>
<li>
<p>Enter a <strong>Name</strong> for the facet in the default language of your system, e.g. <strong>Colour</strong>.</p>
</li>
<li>
<p>Select the type <strong>Attribute/Property</strong>.</p>
</li>
<li>
<p>Enter the facet’s position in the online store.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_linking_attribute_values_to_facets">2.4. Linking attribute values to facets</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Settings » Services » Faceted search</strong>.</p>
</li>
<li>
<p>Open the facet.</p>
</li>
<li>
<p>Click on the <strong>Name</strong> tab.</p>
</li>
<li>
<p>Enter the translation for your facet.</p>
</li>
<li>
<p>Click on the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add new value</strong>.</p>
</li>
<li>
<p>Enter the name, e.g. <strong>Red</strong>.</p>
</li>
<li>
<p>Enter the position.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The facet value is added.</p>
</li>
<li>
<p>Enter the translations for the facet value in th <strong>Name</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Link</strong> tab.</p>
</li>
<li>
<p>Open the attribute <strong>Attribute » Colour » Red</strong>.</p>
</li>
<li>
<p>Click on <strong>Link</strong>.</p>
</li>
<li>
<p>Repeat steps 6 to 13 for the value <strong>Black</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="filter-facetten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-facets-en.png" alt="bp ceres filter facets en">
</div>
<div class="title">Figure 2. Linked facet values</div>
</div>
</div>
<div class="sect2">
<h3 id="_linking_clients_to_facets">2.5. Linking clients to facets</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Systems » Client » Select client » Services » Facet links</strong>.</p>
</li>
<li>
<p>Select the facet.</p>
</li>
<li>
<p>Click on <strong>Link facet</strong>.<br>
→ The facet is linked to the selected client.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_provisioning_plugins">2.6. Provisioning plugins</h3>
<div class="paragraph">
<p>Now you will deploy the plugin set in order to apply the changes. The filters will be available in the <strong>search</strong> and in the <strong>category view</strong>.</p>
</div>
<div id="filter-frontend" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-filter-frontend-en.png" alt="bp ceres filter frontend en">
</div>
<div class="title">Figure 3. Selected filter in the category view</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="order-properties">3. Setting up order properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this Best Practice we will create a property through which you can enter a <strong>text</strong> that can be printed onto a T-shirt. The input will automatically calculate a surcharge for the product.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">The most important things first:</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the online store plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available on the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a> and runs on plentymarkets 7 systems.</p>
</li>
<li>
<p>The integration into individual or modified template plugins is possible. This, however, requires individual adjustments which cannot be considered here.</p>
</li>
<li>
<p><strong><em>Note:</em></strong> At the moment only properties of the type <strong>Text</strong> are active.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_order_properties">3.1. Creating order properties</h3>
<div class="paragraph">
<p>We begin with an property.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>. This is the name of the property that is displayed in the back end.</p>
</li>
<li>
<p>Enter the <strong>Name</strong> in the <strong>Online store</strong> area. This is the name that your customers see in the item view. In this example we choose “T-shirt print”.</p>
</li>
<li>
<p>Choose <strong>Text</strong> from the <strong>Property type</strong> list.</p>
</li>
<li>
<p>Enter the <strong>Surcharge</strong> that should be added if the property is used. In this example we choose 12,00 euros for a T-shirt print.<br>
→ Check the box <strong>Display as surcharge</strong> so that the customer sees the surcharge for the property in the item view.</p>
</li>
<li>
<p>Check all the boxes in the <strong>Display</strong> area in order to keep the additional charges transparent throughout the entire order process.</p>
</li>
<li>
<p>Check the box <strong>Order property</strong> to define the property as such.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Your property interface should now look like this:</p>
</div>
<div id="bestellmerkmale-einstellungen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-shop/assets/bp-ceres-bestellmerkmale-einstellungen.png" alt="bp ceres bestellmerkmale einstellungen">
</div>
<div class="title">Figure 4. Settings for the order property</div>
</div>
</div>
<div class="sect2">
<h3 id="_linking_an_order_property_to_an_item">3.2. Linking an order property to an item</h3>
<div class="paragraph">
<p>Properties are directly linked to the item. Proceed as follows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select an item with which the property should be linked.</p>
</li>
<li>
<p>Click on the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Go to <strong>Activate further properties » Properties not assigned to a group</strong> and check the box of the created property.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property is linked to the item and is shown under <strong>Properties</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Surcharges</div>
<div class="paragraph">
<p>You can also enter a surcharge in the <strong>Properties</strong> options. If you enter a value here, it overwrites the value of the surcharge that was saved for the property.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="bestellmerkmale-artikel" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-item.png" alt="bp ceres order properties item">
</div>
<div class="title">Figure 5. Settings for the item</div>
</div>
</div>
<div class="sect2">
<h3 id="_provisioning_plugins_2">3.3. Provisioning plugins</h3>
<div class="paragraph">
<p>Now you will provision the plugins in <strong>Productive</strong> in order to apply the changes. The order property will be available in the <strong>Item view</strong> and the <strong>Shopping cart</strong>.</p>
</div>
<div id="bestellmerkmale-artikelansicht" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-item-view.png" alt="bp ceres order properties item view">
</div>
<div class="title">Figure 6. Item view in the online store</div>
</div>
<div class="paragraph">
<p>If the customer inputs something into the text field, the text is saved and the surcharge is added to the item price.</p>
</div>
<div id="bestellmerkmale-warenkorb" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-shop/assets/bp-ceres-bestellmerkmale-warenkorb.png" alt="bp ceres bestellmerkmale warenkorb">
</div>
<div class="title">Figure 7. Item view in the shopping cart</div>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_order_properties_with_checkboxes">3.4. Setting up order properties with checkboxes</h3>
<div class="paragraph">
<p>In this Best Practice we will create an order property that is displayed with a checkbox in the single item view. If the checkbox is checked, the surcharge for the product will automatically be calculated.</p>
</div>
<div class="sect3">
<h4 id="_creating_a_property_group">3.4.1. Creating a property group</h4>
<div class="paragraph">
<p>In the first step we will create a new property group. In our example we want customers to be able to purchase complementary couch accessories through checking the checkbox.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property group</strong> tab.</p>
</li>
<li>
<p>Enter a <strong>Name (internal)</strong> for the property group to be displayed in the back end.</p>
</li>
<li>
<p>In the <strong>Language</strong> area you can enter a name and a description for the property group in various languages to be displayed in the online store.</p>
</li>
<li>
<p>Select <strong>None</strong> from the drop-down list <strong>Grouping of order properties (type: "none")</strong></p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="bestellmerkmale-merkmalgruppe" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-group.png" alt="bp ceres order properties group">
</div>
<div class="title">Figure 8. Creating a property group</div>
</div>
</div>
<div class="sect3">
<h4 id="_creating_order_properties_2">3.4.2. Creating order properties</h4>
<div class="paragraph">
<p>After we have created a property group for couch accessories, we now want to set up a new property, e.g. a couch cushion, and link it to the property group.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter a <strong>Name (internal)</strong> for the property to be displayed in the back end.</p>
</li>
<li>
<p>In the <strong>Webshop</strong> area you can enter a name and a description for the property in various languages to be displayed in the online store.</p>
</li>
<li>
<p>Select the newly created property group from the <strong>Property group</strong> drop-down list.</p>
</li>
<li>
<p>Select <strong>None</strong> from the <strong>Property type</strong> drop-down list.</p>
</li>
<li>
<p>Enter the <strong>Surcharge</strong> that should be added if the property is used. In this example we choose 15.00 euros for a couch cushion.<br>
→ Check the box <strong>Display as surcharge</strong> so that the customer sees the surcharge for the property in the item view.</p>
</li>
<li>
<p>Check the boxes in the <strong>Show</strong> area for the areas in which you want to display the property.</p>
</li>
<li>
<p>Check the <strong>Order property</strong> box.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The order property <strong>couch cushion</strong> has been successfully created.</p>
</div>
<div id="bestellmerkmale-neues-merkmal" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-new-property.png" alt="bp ceres order properties new property">
</div>
<div class="title">Figure 9. Creating order properties</div>
</div>
</div>
<div class="sect3">
<h4 id="_linking_an_order_property_to_an_item_2">3.4.3. Linking an order property to an item</h4>
<div class="paragraph">
<p>Last but not least, we ned to link the desired item with the newly created order property.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Select an item with which the property should be linked.</p>
</li>
<li>
<p>Click on the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Go to <strong>Activate further properties</strong> and check the box of the newly created property group.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property will be linked with the item.</p>
</li>
</ol>
</div>
<div id="bestellmerkmal-verknuepfung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-order-properties-link.png" alt="bp ceres order properties link">
</div>
<div class="title">Figure 10. Linking an order property to an item</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Displaying changes</div>
<div class="paragraph">
<p>Please note that it may take about 15 minutes until the changes are displayed in the online store. This is the interval in which the ElasticSearch index is refreshed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="checkout">4. Installing the Ceres checkout in Callisto</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You want to use the new checkout with its plugin capability and individualisation in concert with your Callisto online store? No problem – read here how to do it step by step. And if you need more assistance, visit our service section in the <a href="https://marketplace.plentymarkets.com/services/CeresCheckout4Callisto_5475" target="_blank" rel="noopener">marketplace</a>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first …</div>
<div class="ulist">
<ul>
<li>
<p>This HowTo describes setting up the Ceres checkout in a Callisto template with the <strong>individual order process</strong>. Before you get started, back up your design and do not make any changes to your active layout.</p>
</li>
<li>
<p>To use the Ceres checkout, you need the current version of the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">Ceres</a> and the <a href="https://marketplace.plentymarkets.com/plugins/templates/IO_4696" target="_blank" rel="noopener">IO</a> plugins. You can find them in the plentyMarketplace.</p>
</li>
<li>
<p>Note that plugins only work with the new back end Terra.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_managing_routes">4.1. Managing routes</h3>
<div class="paragraph">
<p>Ceres uses the logic of the IO plugin. To ise the checkout in a way all links between Callisto and Ceres work properly, proceed as follows.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Working in the preview mode</div>
<div class="paragraph">
<p>Test all changes in the <a href="/en/basics/first-steps/plugins#60">preview mode</a> before carrying them over to your live store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Applying changes in IO:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>IO</strong>.<br>
→ The plugin will open.</p>
</li>
<li>
<p>Click on <strong>Configuration</strong> in the directory tree.</p>
</li>
<li>
<p>Click on the <strong>Routing</strong> tab.</p>
</li>
<li>
<p>Click on the checkbo <strong>All</strong>.<br>
→ All routes are deactivated.</p>
</li>
<li>
<p>Activate the routes <strong>/checkout</strong>, <strong>/confirmation</strong>, <strong>/login</strong>, <strong>register</strong> and <strong>/place-order &amp; /execute-payment</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Applying changes in Ceres:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Ceres</strong>.<br>
→ The plugin will open.</p>
</li>
<li>
<p>Click on <strong>Configuration</strong> in the directory tree.<br>
→ The <strong>Global</strong> tab is already selected.</p>
</li>
<li>
<p>Click on <strong>Enable Callisto route pattern for items</strong>.<br>
→ The Callisto routes are enabled.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The Ceres checkout is active in your system.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_adjusting_the_order_process">4.2. Adjusting the order process</h3>
<div class="paragraph">
<p>Proceed as follows to carry out the necessary adjustments to the order process.</p>
</div>
<div class="paragraph instruction">
<p>Creating categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Create a new main category with the name <strong>login</strong>.</p>
</li>
<li>
<p>Open the category <strong>login</strong>.</p>
</li>
<li>
<p>Select the category type <strong>Container</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Create a new main category with the name <strong>checkout</strong>.</p>
</li>
<li>
<p>Open the category * checkout*.</p>
</li>
<li>
<p>Select the category type <strong>Container</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Afterwards, link the new categories with the Callisto order process.</p>
</div>
<div class="paragraph instruction">
<p>Adjusting the order process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>.<br>
→ The menu <strong>Design settings</strong> will open.</p>
</li>
<li>
<p>Click on the tab <strong>Clients</strong>.</p>
</li>
<li>
<p>Select the client you want to edit.</p>
</li>
<li>
<p>Click on the tab <strong>Order process</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> next to <strong>2nd order process step</strong>.</p>
</li>
<li>
<p>Select the created category <strong>login</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> next to <strong>3rd order process step</strong>.</p>
</li>
<li>
<p>Select the created category <strong>checkout</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Now, once you go to the checkout from the basket, you will be forwarded to the Ceres checkout, which offers new functions, e.g., payment plugins like PayPal.</p>
</div>
</div>
<div class="sect2">
<h3 id="_creating_backlinks">4.3. Creating backlinks</h3>
<div class="paragraph">
<p>After clicking on <strong>To the checkout</strong> and logging in, a customer should be reirected to the checkout to complete the order. Proceed as follows to create the functionality to do so.</p>
</div>
<div class="paragraph instruction">
<p>Creating backlinks for the basket:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Click on the category <strong>Shopping cart</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Description 1</strong>.</p>
</li>
<li>
<p>Search for the code <code>&#123;&#37; if ( $CustomerID ) { Link_Checkout(3); } else { Link_Checkout(2); } &#37;&#125;</code>.</p>
</li>
<li>
<p>Replace this code with <code>&#123;&#37; if( $CustomerID ) { $_check = Link_Checkout(3); $_backlink = ''; } else { $_check = Link_Checkout(2); $_backlink = '?backlink=/checkout'; } &#37;&#125; $_check.$_backlink</code>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Creating backlinks for the basket preview:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » ItemView » ItemViewBasketPreviewList.</strong></p>
</li>
<li>
<p>Search for the code <code>&#123;&#37; if( $CustomerID ) { Link_Checkout(3); } else { Link_Checkout(2); } &#37;&#125;</code>.</p>
</li>
<li>
<p>Replace this code with <code>&#123;&#37; if( $CustomerID ) { $_check = Link_Checkout(3); $_backlink = ''; } else { $_check = Link_Checkout(2); $_backlink = '?backlink=/checkout'; } &#37;&#125; $_check.$_backlink</code>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Creating backlinks for the basket overlay:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » ItemView » ItemViewItemToBasketConfirmationOverlay.</strong></p>
</li>
<li>
<p>Search for the code <code>&#123;&#37; if ( $CustomerID ) { Link_Checkout(3); } else { Link_Checkout(2); } &#37;&#125;</code>.</p>
</li>
<li>
<p>Replace this code with <code>&#123;&#37; if( $CustomerID ) { $_check = Link_Checkout(3); $_backlink = ''; } else { $_check = Link_Checkout(2); $_backlink = '?backlink=/checkout'; } &#37;&#125; $_check.$_backlink</code>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_adjusting_the_legal_information">4.4. Adjusting the legal information</h3>
<div class="paragraph">
<p>The four areas have to be connected differently to be displayed correctly.</p>
</div>
<div class="paragraph instruction">
<p>Adjusting the GTC:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Terms and conditions</strong> as main category.<br>
→ The new main category <strong>Terms and conditions</strong> will open.</p>
</li>
<li>
<p>Enter <strong>gtc</strong> as <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the cancellation rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Cancellation rights</strong> as main category.<br>
→ The new main category <strong>Cancellation rights</strong> will open.</p>
</li>
<li>
<p>Enter <strong>cancellation-rights</strong> as <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the legal disclosure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Legal disclosure</strong> as main category.<br>
→ The new main category <strong>Legal disclosure</strong> will open.</p>
</li>
<li>
<p>Enter <strong>legal-disclosure</strong> as <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the privacy policy:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Open the Callisto category.</p>
</li>
<li>
<p>Copy the category <strong>Privacy policy</strong> as main category.<br>
→ The new main category <strong>Privacy policy</strong> will open.</p>
</li>
<li>
<p>Enter <strong>privacy-policy</strong> as <strong>URL name</strong> of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_theme">4.5. Theme</h3>
<div class="paragraph">
<p>You have personalised your Callisto online store just the way you like it and fear the Ceres design will interfere with it? You can easily download the <a href="https://marketplace.plentymarkets.com/plugins/themes/ceresvanilla_5025" target="_blank" rel="noopener">Vanilla theme</a> for Ceres and apply your design to guarantee a consistent user experience.</p>
</div>
</div>
<div class="sect2">
<h3 id="_payment_methods">4.6. Payment methods</h3>
<div class="paragraph">
<p>The old Callisto payment methods do not work with the Ceres checkout, only the new payment plugins. Hence, you have to install at least one <a href="https://marketplace.plentymarkets.com/plugins/payment/" target="_blank" rel="noopener">payment plugin</a> to provide your customers with a payment method.</p>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="cross-selling">5. Setting up cross-selling item lists</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This Best Practice guide helps you set up item lists of the type <strong>cross-selling</strong> in Ceres.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">First things first…​</div>
<div class="ulist">
<ul>
<li>
<p>This is a Best Practice for the online store plugin <strong>Ceres</strong>. <strong>Ceres</strong> is available in the <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">plentyMarketplace</a> and runs on plentymarkets 7 systems.</p>
</li>
<li>
<p>This guide assumes that you have already set up cross-selling relations for your items. You can learn how to configure cross-selling for your items <a href="/en/item/managing-items#950">here</a>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_setting_up_cross_selling_item_lists">5.1. Setting up cross-selling item lists</h3>
<div class="paragraph">
<p>Go to <strong>Plugins » Plugin overview » Ceres » Configuration » Item lists</strong>. In this menu you can determine which type of item list you want to use in your online store.
Select the type of cross-selling relation that your item list should display from the <strong>Cross-selling: Cross-selling relation</strong> drop-down list (see box 1 in the image).
You can choose from the options <strong>Similar</strong>, <strong>Accessory</strong>, <strong>Replacement parts</strong> and <strong>Collection</strong>. This cross-selling relation will apply to all cross-selling item lists in your online store.</p>
</div>
<div class="paragraph">
<p>In the next step you determine which item list you want to use. Edit the <strong>First item list</strong>, <strong>Second item list</strong> or <strong>Third item list</strong> and select <strong>Cross-selling</strong> from the drop-down list. In the example below, the <strong>Second item list</strong> is configured as a cross-selling list (Box 2 in the image).
Enter a German and an English name for your item list in the input fields <strong>Name of the second item list (DE)</strong> and <strong>Name of the second item list (EN)</strong>, respectively.</p>
</div>
<div class="paragraph">
<p><strong>Save</strong> the settings you have carried out.</p>
</div>
<div id="cross-selling-settings" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-cross-selling-config.png" alt="bp ceres cross selling config">
</div>
<div class="title">Figure 11. Setting up cross-selling</div>
</div>
</div>
<div class="sect2">
<h3 id="_displaying_cross_selling_item_lists_in_the_online_store">5.2. Displaying cross-selling item lists in the online store</h3>
<div class="paragraph">
<p>After you have determined which item list you want to use for your cross-selling items, you now choose where the item list is to be displayed in your online store.</p>
</div>
<div class="paragraph">
<p>Open the <strong>CMS » Container links</strong> menu.</p>
</div>
<div class="paragraph">
<p>Go to the item list that you have configured as your cross-selling item list, i.e. <strong>First item list</strong>, <strong>Second item list</strong> or <strong>Third item list</strong>.
Choose the layout container in which you want to display your cross-selling item list. In the example below, the second item list is displayed in the container of the single item view.</p>
</div>
<div id="item-list-container" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/online-store/assets/bp-ceres-cross-selling-container.png" alt="bp ceres cross selling container">
</div>
<div class="title">Figure 12. Choosing a container for item lists</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Displaying changes</div>
<div class="paragraph">
<p>Please note that it may take about 15 minutes until the changes are displayed in the online store. This is the interval in which the ElasticSearch index is refreshed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="callisto-to-ceres">6. Changing from Callisto to Ceres</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this Best Practice you will learn how to set up a <a href="/en/omni-channel/online-store/setting-up-ceres">Ceres</a> online store in preview mode, while maintaining the productive operation of your Callisto online store at the same time.</p>
</div>
<div class="sect2">
<h3 id="_creating_a_new_plugin_set">6.1. Creating a new plugin set</h3>
<div class="paragraph">
<p>In order to set up your Ceres online store without affecting your Callisto store, you will first have to create a new <a href="/en/basics/first-steps/plugins#30">plugin set</a>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin Overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new Set</strong> in the upper left corner.<br>
→ The window <strong>New Plugin Set</strong> opens.</p>
</li>
<li>
<p>Enter a name for the plugin set.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The plugin set has been created.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The newly created plugin set <strong>must not</strong> be published for a client at this point. If you do publish the plugin set, it will overwrite your Callisto online store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can now begin to set up your Ceres online store in the newly created plugin set. This will not affect the productive operation of your Callisto store.</p>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_the_plugin_set">6.2. Setting up the plugin set</h3>
<div class="paragraph">
<p>After you have <a href="https://marketplace.plentymarkets.com/plugins/templates" target="_blank" rel="noopener">purchased</a> the plugins <strong>Ceres</strong> and <strong>IO</strong>, you need to <strong>install</strong> and <strong>activate</strong> these plugins for the plugin set you created.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin Overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set you created.<br>
→ The window <strong>Plugin Set Details</strong> opens.</p>
</li>
<li>
<p>Select the option <strong>All</strong> in the search filters <strong>Source</strong>, <strong>Installed</strong> and <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ All purchased plugins are listed.</p>
</li>
<li>
<p>Click on <strong>Install plugin</strong> in the <strong>Action</strong> column in the <strong>Ceres</strong> line.<br>
→ Das <strong>Install plugin</strong> window opens.<br>
→ The most current version of the plugin is preselected.</p>
</li>
<li>
<p>Click on <strong>Install</strong>.</p>
</li>
<li>
<p>Repeat steps 5 and 6 for the plugin <strong>IO</strong>.</p>
</li>
<li>
<p>Click on <strong>Save &amp; publish plugins</strong>.<br>
→ The notification <strong>Deploying Plugin Set</strong> is displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>This concludes the preliminary work and you can now begin to set up the Ceres online store. Take a look at the manual chapters <a href="/en/basics/first-steps/quick-start#570">Quick start</a> and <a href="/en/omni-channel/online-store/setting-up-ceres#20">Setting up Ceres</a> to learn how to do this.
In the following you will learn how to test your online store in the preview mode.</p>
</div>
</div>
<div class="sect2">
<h3 id="_testing_your_ceres_online_store_in_preview_mode">6.3. Testing your Ceres online store in preview mode</h3>
<div class="paragraph">
<p>In order to keep track of your changes in the online store, the <strong>Plugin overview</strong> offers you the option of accessing the store in a preview mode.
Before opening the Ceres online store in preview mode, you should deploy your plugin set one more time via the <strong>Save &amp; publish plugins</strong> button. Please note that this may take a few moments.</p>
</div>
<div class="paragraph instruction">
<p>Opening the plugin set in preview mode:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on the previously created plugin set.<br>
→ The window <strong>Plugin Set Details</strong> opens.</p>
</li>
<li>
<p>Click on <strong>Plugin Set Preview</strong>.
→ The online store opens in a new browser tab with the configurations of the selected plugin set.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Please note that you need to allow <a href="/en/basics/first-steps/quick-start#70">pop-ups</a>, so that the store will open in a new browser tab.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_going_live_with_the_ceres_online_store">6.4. Going live with the Ceres online store</h3>
<div class="paragraph">
<p>Once you have completed testing your online store in preview mode and you are ready to replace your Callisto store with Ceres, you need to <strong>publish</strong> the plugin set for the relevant client.
If necessary, this link can be reverted. You can return to your old Callisto online store at any time.</p>
</div>
<div class="paragraph instruction">
<p>Activating a plugin set for a client:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on the previously created plugin set.<br>
→ The window <strong>Plugin Set Details</strong> opens.</p>
</li>
<li>
<p>Click on <strong>Publish Plugin Set</strong> in the upper left corner of the interface.<br>
→ The window  <strong>Activate Sets</strong> opens.</p>
</li>
<li>
<p>Select the plugin set you want to publish for the desired client from the drop-down list.<br>
→ The notification <strong>For webstore X, Plugin Set y is active</strong> is displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Your Ceres online store has now been put in productive operation and replaces your Callisto online store.</p>
</div>
</div>
</div>
</div>
</main>