<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#order-group-processing"><span>1.</span><span> Order group processing</span></a>
<ul class="sectlevel2">
<li><a href="#_configuration"><span>1.1.</span><span> Configuration</span></a>
<ul class="sectlevel3">
<li><a href="#_settings"><span>1.1.1.</span><span> Settings</span></a></li>
<li><a href="#_filter"><span>1.1.2.</span><span> Filter</span></a></li>
</ul>
</li>
<li><a href="#_select_orders"><span>1.2.</span><span> Select orders</span></a></li>
<li><a href="#_sorting"><span>1.3.</span><span> Sorting</span></a></li>
<li><a href="#_overview_of_procedures_and_sub_procedures"><span>1.4.</span><span> Overview of procedures and sub-procedures</span></a></li>
</ul>
</li>
<li><a href="#single-order-processing"><span>2.</span><span> Single order processing</span></a>
<ul class="sectlevel2">
<li><a href="#_configuration_2"><span>2.1.</span><span> Configuration</span></a></li>
<li><a href="#_overview_of_procedures_and_sub_procedures_2"><span>2.2.</span><span> Overview of procedures and sub-procedures</span></a></li>
</ul>
</li>
<li><a href="#incoming-items"><span>3.</span><span> Incoming items</span></a>
<ul class="sectlevel2">
<li><a href="#_configuration_3"><span>3.1.</span><span> Configuration</span></a></li>
<li><a href="#_overview_of_procedures_and_sub_procedures_3"><span>3.2.</span><span> Overview of procedures and sub-procedures</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Work steps</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This chapter deals with the work steps that can be configured for processes. You can create and configure as many work steps as you want for a process. Depending on which type of work step you choose, you’ll be given different settings and options to choose from. These are primarily made up of procedures and sub-procedures that are carried out one after the other and can either run endlessly or be controlled manually. You can set up conditions that act as filters and make it possible to customise your work steps.</p>
</div>
<div class="paragraph">
<p>Learn about work steps in our playful tutorial:</p>
</div>
<div class="videoblock">
<div class="title">Work steps</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/223469587" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Tool plentyBase required</div>
<div class="paragraph">
<p>You need <a href="/en/basics/admin-tasks/installing-plentybase">plentyBase</a> to create and run processes. You can download the installation files for plentyBase in the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/plentyBase_5053" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Select the type of work step when you create a new work step.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automation/processes/assets/EN-Einstell-Prozesse-Arbeitsschritte01-SI" alt="Creating a new work step">
</div>
<div class="title">Figure 1. Creating a new work step</div>
</div>
<div class="paragraph">
<p>Click on the <strong>green plus</strong> and carry out the settings as described in the following sub-chapters.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="order-group-processing">1. Order group processing</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use this work step if you want to modify several orders at once. Start out by choosing filters to specify which exact orders should be included in the process. Then decide how you want to change the orders that have finished being processed. Change the orders’ status, owner and/or flag, so that you never accidentally process the same order twice. Lastly, decide which order should be processed first, second, third, etc.</p>
</div>
<div class="sect2">
<h3 id="_configuration">1.1. Configuration</h3>
<div class="paragraph">
<p>First create a work step.</p>
</div>
<div class="paragraph instruction">
<p>Creating a work step:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>New work step</strong>.</p>
</li>
<li>
<p>Choose the type <strong>Order group processing</strong>.</p>
</li>
<li>
<p>Save the settings.<br>
→ The configuration window opens (image 2).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you’ve already created a work step, click on the <strong>pencil icon</strong> to open this window.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automation/processes/assets/EN-Settings-Processes-Work-Steps-Order-Group-Processing-01" alt="Configuring the work step">
</div>
<div class="title">Figure 2. Configuring the work step</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Example configuration</div>
<div class="paragraph">
<p>The work step shown in image 2 will process a maximum of 30 orders that meet the specific filter criteria (the order must have flag 30 and it must have been received yesterday). Once the orders have been processed, they will be given a different status and a different owner.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>All of the different settings are described below.</p>
</div>
<div class="sect3">
<h4 id="_settings">1.1.1. Settings</h4>
<div class="paragraph">
<p>Use this area to save general settings for the work step. For example, save a name and decide where the work step should appear within your process.</p>
</div>
<div class="paragraph">
<p><a href="#table-work-step-settings">Table 1</a> explains the settings for the work step:</p>
</div>
<table id="table-work-step-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Configuring the work step; Settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a name that identifies the work step as clearly as possible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide how many orders should be processed at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Next step</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide whether your process should automatically continue on to the next step, or if the process should wait until the next step is started manually. This setting is only relevant if you’ve created more than one work step.<br>
<strong>Awaiting input</strong> = The next work step will not start automatically. Instead, the system will wait until you’ve clicked on <strong>Start</strong> again.<br>
<strong>Start automatically</strong> = The next step will be started automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is not visible until you’ve created the work step.<br>
If your process includes multiple work steps, then use this option to specify which step should be first, second, third, etc. New work steps are automatically given the next available position number. Change the position number if you want to change which work step runs first, second, third, etc. Work steps run in ascending order. In other words, the work step with the lowest number runs first.<br>
<strong><em>Tip:</em></strong> Work steps can also be moved using the context menu. To do so, right-click the work step and select <strong>Move up</strong> or <strong>Move down</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_filter">1.1.2. Filter</h4>
<div class="paragraph">
<p>Use filters to limit which exact orders are modified with the <strong>Order group processing</strong> work step.</p>
</div>
<div class="paragraph">
<p><a href="#table-work-step-filter">Table 2</a> lists all of the filters that are available for this work step:</p>
</div>
<table id="table-work-step-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Configuring the work step; Filters</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Previously started box picking</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Continue</strong> = The last round of box picking will continue when you start the process.<br>
Users <a href="/en/automation/processes/FAQ#400">will be notified</a> if they start a round of box picking but they don’t finish it. If you don’t want to continue a previously started round of box picking, then you can <a href="/en/automation/processes/FAQ#400">reset the box picking instead</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of order items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an <strong>operator</strong> from the drop-down list and enter a number into the field. Orders will only be processed if they include this number of items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a specific order type if you only want to process this type of order. The list also includes some combinations of order types.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters orders that relate to a specific warehouse. Add the filter and then select the warehouse from the drop-down list.<br>
Optional: then add the <strong>Storage location</strong> filter afterward.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters orders that were received, paid for or shipped at a specific point in time, e.g. <strong>Yesterday</strong> or <strong>In the past</strong>. You can select more than one option.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Current invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters orders that either have or do not have a current invoice. Add the filter and select the option <strong>Available</strong> or <strong>Not available</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reversal document</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters orders that either have or do not have a reversal document. Add the filter and select the option <strong>Available</strong> or <strong>Not available</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters the orders that belong to a specific person.<br>
<strong>Active user</strong> = The person who is currently logged in.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters orders that either <strong>include</strong> an email address in the customer data record or that <strong>do not include</strong> an email address in the customer data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Express shipping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether you want to filter orders with express shipping.<br>
<strong>Yes</strong> = Only orders with express shipping<br>
<strong>No</strong> = Only orders without express shipping</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total quantity of items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an <strong>operator</strong> from the drop-down list and enter a number into the field. Filters orders that include a specific number of unique items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders can be filtered by weight in grams. Enter a value and select the <strong>equals sign</strong> to filter orders with an exact weight. Enter a value and select the appropriate operator to filter orders within a certain weight range. You can filter two different ranges by using both text fields at once.<br>
<strong>Example</strong>: For a weight of 3.5 kg and higher, enter <strong>3500</strong> into the text field and select the operator <strong>&gt;=</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the referrer for whichever orders you want to filter. You can select more than one option.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more customer classes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters orders that relate to a specific storage location.<br>
First, add the filter <strong>Order warehouse</strong> and select the warehouse from the drop-down list. Then use this filter to specify a particular <strong>Rack</strong>, <strong>Shelf</strong> and <strong>Storage location</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the country of delivery for whichever orders you want to filter. You can select any country of delivery. Not only the ones that are activated in your system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the client (store) for whichever orders you want to filter. You can select more than one option.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters orders that have a specific flag. The option <strong>None</strong> will filter orders that do not have a flag.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Packstation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters orders that either have or do not have a Packstation.<br>
<strong>Yes</strong> = Only orders with a Packstation<br>
<strong>No</strong> = Only orders without a Packstation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice amount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders can be filtered by invoice amount. Enter a value and select the equals sign to filter orders with an exact weight. Enter a value and select the appropriate operator to filter orders within a certain invoice amount range. You can filter two different ranges by using both text fields at once.<br>
<strong>Example</strong>: For an invoice amount of EUR 39.90 and higher, enter <strong>39.90</strong> into the text field and select the operator <strong>&gt;=</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status if you only want to filter orders with this status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Loyalty program</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one, several or no loyalty program to only process orders from this loyalty program or orders without a loyalty program.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping service provider</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping service provider to only filter orders that use this shipping service provider.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders can be filtered by shipping costs. Enter a value and select the equals sign to filter orders with an exact amount. Enter a value and select the appropriate operator to filter orders within a certain shipping cost range. You can filter two different ranges by using both text fields at once.<br>
<strong>Example</strong>: For a shipping cost of EUR 3.90 and higher, enter <strong>3.90</strong> into the text field and select the operator <strong>&gt;=</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping profiles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more shipping profiles to only filter orders with this shipping profile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping region</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping region to only filter orders from this region.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how you want to filter by outgoing items:<br>
<strong>Not booked</strong> = only orders where the items have not been booked as outgoing<br>
<strong>Booked</strong> = only orders where the items have been booked as outgoing<br>
<strong>Today</strong> = only orders where the items were booked as outgoing today<br>
<strong>Yesterday</strong> = only orders where the items were booked as outgoing yesterday</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide which payment status you want to filter orders by.<br>
<strong>Check payment</strong> = Only orders currently in a status that should be checked (manually), i.e. unpaid, partially paid and overpaid orders.<br>
<strong>Unpaid only</strong> = Only orders that have not been paid for yet.<br>
<strong>Paid only</strong> = Only orders that have been paid in full.<br>
<strong>Partial payment only</strong> = Only orders that have partially been paid for.<br>
<strong>Initial payment complete</strong> = Only orders that have received a complete initial payment.<br>
<strong>Overpaid only</strong>= Only orders that have been overpaid.<br>
<strong>Unpaid and partially paid</strong> = Either orders that have not been paid for yet or orders that have partially been paid for.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more payment methods to only filter orders with this payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">SEPA</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type of debit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide whether you want to filter orders with <strong>First debit</strong> or <strong>Recurring debit</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type of mandate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA core direct debit</strong> = Allows a biller to collect funds from a payer’s account, provided that a signed mandate has been granted by the payer to the biller.<br>
<strong>SEPA business to business direct debit</strong> = Enables business customers in the role of payers to make payments by direct debit (Source: European Payments Council).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment frequency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>One-time payment</strong> = Standard orders<br>
<strong>Recurring payment</strong> = Regularly occurring orders such as subscriptions, etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN &amp; BIC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide whether you want to filter orders for which an IBAN and BIC are <strong>available</strong> or <strong>not available</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA direct debit mandate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters orders based on whether the customer has confirmed and signed the SEPA direct debit mandate.<br>
<strong>not available</strong> = Orders will only be processed if the customer has confirmed and signed the SEPA direct debit mandate.<br>
<strong>available</strong> = Orders will only be processed if the customer has not confirmed and signed the SEPA direct debit mandate.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_select_orders">1.2. Select orders</h3>
<div class="paragraph">
<p>In order for you to recognize those orders that already passed through the process, assign a flag or a new status here. You can also change the user if orders should e.g. be assigned to another department after passing through the process.</p>
</div>
<div class="paragraph">
<p><a href="#table-work-steps-select-orders">Table 3</a> explains the flags that are available for the <strong>Order group processing</strong> work step:</p>
</div>
<table id="table-work-steps-select-orders" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Configuring the work step; select orders</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status from the drop-down list if you want this work step to change the order’s status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a person from the drop-down list if you want this work step to change who is responsible for the order. You can also select the <strong>active user</strong> or <strong>without changes</strong> if you don’t want to change the owner.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a flag from the drop-down list if you want this work step to change the order’s flag.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_sorting">1.3. Sorting</h3>
<div class="paragraph">
<p>Decide how the orders should be sorted.</p>
</div>
<div class="paragraph">
<p><a href="#table-work-step-sorting">Table 4</a> explains the sorting options that are available for the <strong>Order group processing</strong> work step:</p>
</div>
<table id="table-work-step-sorting" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Configuring the work step; sorting</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide how the orders should be sorted. Orders can be sorted in <strong>ascending</strong> or <strong>descending</strong> order by:<br>
<strong>Order ID</strong> = Default setting<br>
<strong>Item ID</strong><br>
<strong>Customer ID</strong><br>
<strong>Invoice number</strong><br>
<strong>Item number</strong><br>
<strong>Storage location position</strong><br>
<strong><em>Note:</em></strong> Only the first item within an order is taken into consideration for the sorting.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Sorting</div>
<div class="paragraph">
<p>Only the first item of an order is taken into consideration for the sorting.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_overview_of_procedures_and_sub_procedures">1.4. Overview of procedures and sub-procedures</h3>
<div class="paragraph">
<p>Once you have carried out all of the settings, add <strong>procedures</strong> and <strong>sub-procedures</strong> to the work step.</p>
</div>
<div class="paragraph">
<p>The following <a href="/en/automation/processes/procedures">procedures</a> and <a href="/en/automation/processes/sub-procedures">sub-procedures</a> can be selected for the <strong>Order group processing</strong> work step. Click on the links to see further information and learn about the settings.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/procedures#110">Pick-up/delivery note</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#120">Address label</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#130">Offer</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#140">Item registration</a></p>
<div class="ulist">
<ul>
<li>
<p>None</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#170">Order</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#290">Change status</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#210">Change flag</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#190">Change owner</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#250">Scan package number</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#340">Change payment method</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#300">Change shipping service provider</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#320">Change shipping profile</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#130">Add order notes</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#140">Remove from process</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#310">Shipping packages</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#180">Order confirmation</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#210">Documents</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#220">Email</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#330">Send</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#600">Export document</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#230">Finance export</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#240">Entry certificate (Gelangensbestätigung)</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#250">Credit note</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#260">Note</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#200">Display note</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#240">Notes concerning customer</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#230">Notes concerning order</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#270">Adjustment form</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#280">Warehouse pick list</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#290">Delivery note</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#300">Dunning letter</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#310">Packing list</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#320">Pick list</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#340">Polling</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#350">Invoice</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#360">Repair slip</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#380">Return label</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#390">Return slip</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#400">SEPA Pain001</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#410">SEPA Pain008</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#420">Serial numbers</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#260">Register serial numbers</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#430">Shipping centre</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#440">Outgoing items</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#160">Carry out booking</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#170">Reset booking</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#470">Register incoming payment</a></p>
<div class="ulist">
<ul>
<li>
<p>None</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="single-order-processing">2. Single order processing</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the work step <strong>Single order processing</strong> to specify how individual orders should be processed further, e.g. after they were scanned with a barcode scanner. This flexible work step can be further defined by using the corresponding procedures and sub-procedures.</p>
</div>
<div class="sect2">
<h3 id="_configuration_2">2.1. Configuration</h3>
<div class="paragraph">
<p>First create a work step.</p>
</div>
<div class="paragraph instruction">
<p>Creating a work step:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>New work step</strong>.</p>
</li>
<li>
<p>Select <strong>Single order processing</strong> and click on <strong>Save</strong>.<br>
→ The configuration window opens (image 3).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you’ve already created a work step, click on the <strong>pencil icon</strong> to open this window.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automation/processes/assets/EN-Settings-Processes-Work-Steps-Single-Order-Processing-01" alt="Configuring the work step">
</div>
<div class="title">Figure 3. Configuring the work step</div>
</div>
<div class="paragraph">
<p><a href="#table-work-step-single-settings">Table 5</a> explains the settings for the work step:</p>
</div>
<table id="table-work-step-single-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Configuring the work step; Settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the work step. Select a name that identifies the work step as clearly as possible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Next step</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide whether your process should automatically continue on to the next step, or if the process should wait until the next step is started manually. This setting is only relevant if you’ve created more than one work step.<br>
<strong>Awaiting input</strong> = The next work step will not start automatically. Instead, the system will wait until you’ve clicked on <strong>Start</strong> again.<br>
<strong>Start automatically</strong> = The next step will be started automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is not visible until you’ve created the work step.<br>
If your process includes multiple work steps, then use this option to specify which step should be first, second, third, etc. New work steps are automatically given the next available position number. Change the position number if you want to change which work step runs first, second, third, etc. Work steps run in ascending order. In other words, the work step with the lowest number runs first.<br>
<strong><em>Tip:</em></strong> Work steps can also be moved using the context menu. To do so, right-click the work step and select <strong>Move up</strong> or <strong>Move down</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The work step will be displayed. Point your cursor to the element to display the configuration elements.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automation/processes/assets/EN-Settings-Processes-Work-Steps-Single-Order-Processing-02" alt="Configuring the work step">
</div>
<div class="title">Figure 4. <strong>Single order processing</strong> work step, opening the configuration</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Adding further elements</div>
<div class="paragraph">
<p>Click on the <strong>green plus</strong> (image 4) to add a <strong>procedure</strong> or <strong>sub-procedure</strong>. Select the desired element from the drop-down list.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_overview_of_procedures_and_sub_procedures_2">2.2. Overview of procedures and sub-procedures</h3>
<div class="paragraph">
<p>The following <a href="/en/automation/processes/procedures">procedures</a> and <a href="/en/automation/processes/sub-procedures">sub-procedures</a> can be selected for the <strong>Single order processing</strong> work step. For further information about configuring these elements, refer to the corresponding page.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/procedures#110">Pick-up/delivery note</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#120">Address label</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#130">Offer</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#140">Item registration</a></p>
<div class="ulist">
<ul>
<li>
<p>None</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#170">Order</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#290">Change status</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#210">Change flag</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#190">Change owner</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#250">Scan package number</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#340">Change payment method</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#300">Change shipping service provider</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#320">Change shipping profile</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#130">Add order notes</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#140">Remove from process</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#310">Shipping packages</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#180">Order confirmation</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#160">Order search</a></p>
<div class="ulist">
<ul>
<li>
<p>None</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#210">Documents</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#220">Email</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#330">Send</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#600">Export document</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#230">Finance export</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#240">Entry certificate (Gelangensbestätigung)</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#250">Credit note</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#260">Note</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#200">Display note</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#240">Notes concerning customer</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#230">Notes concerning order</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#270">Adjustment form</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#280">Warehouse pick list</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#290">Delivery note</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#300">Dunning letter</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#310">Packing list</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#320">Pick list</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#330">Pick list search</a></p>
<div class="ulist">
<ul>
<li>
<p>None</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#340">Polling</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#350">Invoice</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#360">Repair slip</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#370">Create/edit return</a></p>
<div class="ulist">
<ul>
<li>
<p>None</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#380">Return label</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#390">Return slip</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#400">SEPA Pain001</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#410">SEPA Pain008</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#420">Serial numbers</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#260">Register serial numbers</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#430">Shipping centre</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#440">Outgoing items</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#160">Carry out booking</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#170">Reset booking</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#470">Register incoming payment</a></p>
<div class="ulist">
<ul>
<li>
<p>None</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="incoming-items">3. Incoming items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can use the work step <strong>Incoming items</strong> to search for and register single incoming items, to search for orders and then book the items contained in the order and to automatically assign reorders.</p>
</div>
<div class="sect2">
<h3 id="_configuration_3">3.1. Configuration</h3>
<div class="paragraph">
<p>First create a work step.</p>
</div>
<div class="paragraph instruction">
<p>Creating a work step:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>New work step</strong>.</p>
</li>
<li>
<p>Select <strong>Incoming items</strong> and click on <strong>Save</strong>.<br>
→ The configuration window opens (image 5).</p>
</li>
<li>
<p>Carry out the settings. Note &lt;table-work-step-incoming-settings&gt;.</p>
</li>
<li>
<p>Save the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you’ve already created a work step, click on the <strong>pencil icon</strong> to open this window.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automation/processes/assets/EN-ENG-Einstell-Prozesse-Wareneingang-01-SI" alt="Configuring the work step">
</div>
<div class="title">Figure 5. Configuring the work step</div>
</div>
<div class="paragraph">
<p><a href="#table-work-step-incoming-settings">Table 6</a> explains the settings for the work step:</p>
</div>
<table id="table-work-step-incoming-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Configuring the work step; Settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is not visible until you’ve created the work step.<br>
If your process includes multiple work steps, then use this option to specify which step should be first, second, third, etc. New work steps are automatically given the next available position number. Change the position number if you want to change which work step runs first, second, third, etc. Work steps run in ascending order. In other words, the work step with the lowest number runs first.<br>
<strong><em>Tip:</em></strong> Work steps can also be moved using the context menu. To do so, right-click the work step and select <strong>Move up</strong> or <strong>Move down</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the work step. Select a name that identifies the work step as clearly as possible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Next step</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide whether your process should automatically continue on to the next step, or if the process should wait until the next step is started manually. This setting is only relevant if you’ve created more than one work step.<br>
<strong>Awaiting input</strong> = The next work step will not start automatically. Instead, the system will wait until you’ve clicked on <strong>Start</strong> again.<br>
<strong>Start automatically</strong> = The next step will be started automatically.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The work step will be displayed. Point your cursor to the element to display the configuration elements.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automation/processes/assets/EN-ENG-Einstell-Prozesse-Wareneingang-02-SI" alt="Configuring the work step">
</div>
<div class="title">Figure 6. <strong>Incoming items</strong> work step, opening the configuration</div>
</div>
<div class="paragraph">
<p>For information about running the process, refer to the <a href="/en/automation/processes/carrying-out-processes">Running processes</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="_overview_of_procedures_and_sub_procedures_3">3.2. Overview of procedures and sub-procedures</h3>
<div class="paragraph">
<p>The following procedures and sub-procedures are available for the <strong>Incoming items</strong> work step. Click on the links to see further information and learn about the settings.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/procedures#150">Item label</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#180">Print</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#280">Save</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#350">Save to clipboard</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#160">Item search</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#120">Scan item</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#200">Reorder search</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automatisierung/prozesse/subaktionen#150">Scan reorder</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#260">Note</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#200">Display note</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#240">Notes concerning customer</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#230">Notes concerning order</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#450">Incoming items (reorder)</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/sub-procedures#160">Carry out booking</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/automation/processes/procedures#460">Single incoming item</a></p>
<div class="ulist">
<ul>
<li>
<p>None</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</main>