<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#1"><span>1.</span><span> Versanddienstleister und Versandprofile einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_dhl_shipping_plugin_kaufen_installieren_und_bereitstellen"><span>1.1.</span><span> DHL Shipping Plugin kaufen, installieren und bereitstellen</span></a>
<ul class="sectlevel3">
<li><a href="#_kaufen"><span>1.1.1.</span><span> Kaufen</span></a></li>
<li><a href="#_installieren"><span>1.1.2.</span><span> Installieren</span></a></li>
<li><a href="#_bereitstellen_und_speichern"><span>1.1.3.</span><span> Bereitstellen und Speichern</span></a></li>
</ul>
</li>
<li><a href="#_lieferländer_aktivieren"><span>1.2.</span><span> Lieferländer aktivieren</span></a></li>
<li><a href="#_regionen_erstellen"><span>1.3.</span><span> Regionen erstellen</span></a></li>
<li><a href="#_versanddienstleister_erstellen"><span>1.4.</span><span> Versanddienstleister erstellen</span></a></li>
<li><a href="#_versandprofil_erstellen"><span>1.5.</span><span> Versandprofil erstellen</span></a>
<ul class="sectlevel3">
<li><a href="#_base"><span>1.5.1.</span><span> Base</span></a></li>
<li><a href="#_portotabelle"><span>1.5.2.</span><span> Portotabelle</span></a></li>
</ul>
</li>
<li><a href="#_versandprofil_am_artikel_aktivieren"><span>1.6.</span><span> Versandprofil am Artikel aktivieren</span></a></li>
<li><a href="#_dhl_shipping_plugin_konfigurieren"><span>1.7.</span><span> DHL Shipping Plugin konfigurieren</span></a>
<ul class="sectlevel3">
<li><a href="#_einrichtung"><span>1.7.1.</span><span> Einrichtung</span></a></li>
<li><a href="#_testmodus_ausschalten"><span>1.7.2.</span><span> Testmodus ausschalten</span></a></li>
<li><a href="#2400"><span>1.7.3.</span><span> Plugin nach Aktualisierung erneut bereitstellen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#_fehlerbehebung_dhl"><span>2.</span><span> Fehlerbehebung DHL</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>2.1.</span><span> Zugangsdaten, Passwort, Productive-Modus, Anmeldung</span></a>
<ul class="sectlevel3">
<li><a href="#200"><span>2.1.1.</span><span> Fehler bei der Anmeldung: (1001) login failed</span></a></li>
<li><a href="#300"><span>2.1.2.</span><span> Code 1001: Der Nutzer des Webservice konnte nicht authentifiziert werden.</span></a></li>
<li><a href="#400"><span>2.1.3.</span><span> Code 1: Authorization Required oder Code 1: Unauthorized</span></a></li>
<li><a href="#500"><span>2.1.4.</span><span> Invalid XML: cvc-complex-type.2.4.d: Ungültiger Content wurde beginnend mit Element 'Shipment' gefunden.</span></a></li>
<li><a href="#510"><span>2.1.5.</span><span> Code: 1101 Das Recht zum Setzen dieses Attributes ist nicht ausreichend. Bitte wenden Sie sich an Ihren Kunden-Administrator.</span></a></li>
</ul>
</li>
<li><a href="#600"><span>2.2.</span><span> Produkte, EKP, Verfahren, Teilnahme, Abrechnungsnummern</span></a>
<ul class="sectlevel3">
<li><a href="#700"><span>2.2.1.</span><span> Exception in extension function java.lang.RuntimeException: **productId cannot be mapped**</span></a></li>
<li><a href="#800"><span>2.2.2.</span><span> Exception in extension function java.lang.RuntimeException: productId **EXP/OFP** cannot be mapped</span></a></li>
</ul>
</li>
<li><a href="#900"><span>2.3.</span><span> Versandprofile</span></a>
<ul class="sectlevel3">
<li><a href="#1000"><span>2.3.1.</span><span> The combination of shipping profile ID xx and shipping region ID xx does not exist.</span></a></li>
<li><a href="#1100"><span>2.3.2.</span><span> Ein interner Fehler ist aufgetreten</span></a></li>
<li><a href="#1200"><span>2.3.3.</span><span> Keine gültigen Versandprofile vorhanden: SystemShippingController</span></a></li>
<li><a href="#1300"><span>2.3.4.</span><span> Bitte Dateneingabe prüfen. unknown</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>2.4.</span><span> Adressdaten Shipper/Receiver</span></a>
<ul class="sectlevel3">
<li><a href="#1500"><span>2.4.1.</span><span> Invalid fieldlength in element ‘Note’. Please refer to documentation.</span></a></li>
<li><a href="#1600"><span>2.4.2.</span><span> The Customer ID Number is invalid. Please check Customer ID Number. Your order could not be processed.</span></a></li>
<li><a href="#1700"><span>2.4.3.</span><span> Invalid value in element ‘germany’</span></a></li>
<li><a href="#1800"><span>2.4.4.</span><span> Hard validation error occured., Bitte geben Sie einen Ort / Name 1 / Postleitzahl / Straße / Hausnummer / Telefonnummer an.</span></a></li>
<li><a href="#1810"><span>2.4.5.</span><span> Hard validation error occured., Die angegebene Straße kann nicht gefunden werden.</span></a></li>
</ul>
</li>
<li><a href="#1900"><span>2.5.</span><span> Ausfuhrlieferungen</span></a>
<ul class="sectlevel3">
<li><a href="#2000"><span>2.5.1.</span><span> Hard validation error occured., Die Gewichtsangabe ist kleiner als im CN23-Formular.</span></a></li>
<li><a href="#2100"><span>2.5.2.</span><span> Bitte geben Sie eine Anzahl / Beschreibung / Warenwert / Gewicht / Art der Sendung an. Die angegebene Art der Sendung ist nicht gültig.</span></a></li>
<li><a href="#2200"><span>2.5.3.</span><span> incoterms, origin country code, export document missing, weight for packages, terms of trade, shipment weight may not be smaller than 0.1 kg, valid type of shipment, quantity of goods / description of goods / country of origin / value of goods, exportdoc position</span></a></li>
<li><a href="#2300"><span>2.5.4.</span><span> Invalid fieldlength: InvoiceDate</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: DHL</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zum Versanddienstleister DHL.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="1">1. Versanddienstleister und Versandprofile einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel gehen wir die nötigen Schritte durch, damit deine Kunden im Webshop DHL als Versandart auswählen und Du anschließend die Anmeldung über das DHL Shipping erfolgreich durchführen kannst.</p>
</div>
<div class="sect2">
<h3 id="_dhl_shipping_plugin_kaufen_installieren_und_bereitstellen">1.1. DHL Shipping Plugin kaufen, installieren und bereitstellen</h3>
<div class="paragraph">
<p>In diesem Kapitel wird beschrieben, wie du das DHL Shipping Plugin im plentyMarketplace kaufst und es anschließend im plentymarkets Backend installierst und bereitstellst.</p>
</div>
<div class="sect3">
<h4 id="_kaufen">1.1.1. Kaufen</h4>
<div class="paragraph">
<p>Als erstes musst du die Grundlage schaffen, um in Zukunft erfolgreich mit DHL zu arbeiten. Hierzu ist es nötig, dass du dir das <a href="https://marketplace.plentymarkets.com/de/plugins/integration/DHLShipping_4871" target="_blank" rel="noopener">DHL Shipping Plugin</a> aus unserem plentyMarketplace herunterlädst.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Shipping_Plugin_kaufen.png" alt="DHL Shipping Plugin kaufen">
</div>
<div class="title">Bild 1. DHL Shipping Plugin kaufen</div>
</div>
<div class="paragraph">
<p>Das Plugin ist kostenfrei und kann durch einen Klick auf <strong>Zur Kasse</strong> gekauft werden. Bitte folge den weiteren Anweisungen im plentyMarketplace.</p>
</div>
</div>
<div class="sect3">
<h4 id="_installieren">1.1.2. Installieren</h4>
<div class="paragraph">
<p>Nachdem du das Plugin gekauft hast, musst du dieses in deinem plentymarkets System installieren. Das Plugin findest du nach dem Kauf im Menü <strong>Plugins » Plugin-Übersicht</strong>. Aktiviere für die Anzeige des neu gekauften Plugins den Filter "Nicht installiert" und bestätige die Suche. Dort musst du das Plugin mit einem Klick auf <strong>Plugin installieren</strong> installieren.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Shipping_Plugin_installieren2.png" alt="DHL Shipping Plugin installieren2">
</div>
<div class="title">Bild 2. DHL Shipping Plugin installieren</div>
</div>
</div>
<div class="sect3">
<h4 id="_bereitstellen_und_speichern">1.1.3. Bereitstellen und Speichern</h4>
<div class="paragraph">
<p>Sobald das Plugin installiert ist, musst du es für die spätere Einrichtung noch im System bereitstellen. Hierzu sind folgende Schritte nötig:</p>
</div>
<div class="paragraph">
<p>Du findest das Plugin in der Auflistung im Menü <strong>Plugin » Plugin-Übersicht</strong>.</p>
</div>
<div class="paragraph">
<div class="title">DHL Shipping Plugin aktivieren und bereistellen</div>
<p>Mit einem Klick auf die Weltkugel am Plugin (<strong>Aktiv</strong> / <strong>Nicht aktiv</strong>) setzt du dieses in den Produktivmodus. Wenn du eine Änderung an einem Plugin vorgenommen hast, musst du alle Plugins für das System bereitstellen. Das machst du mit einem Klick auf <strong>Speichern &amp; Plugins bereitstellen</strong>. Dieser Vorgang kann einen Moment dauern:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Shipping_Plugin_bereitstellen_und_speichern.png" alt="DHL Shipping Plugin bereitstellen und speichern">
</div>
<div class="title">Bild 3. DHL Shipping Plugin bereitstellen</div>
</div>
<div class="paragraph">
<p>Sollte während oder nach dem Bereitstellungsvorgang eine Fehler auftauchen, erscheint ein Info-Schaltfläche. Mit einem Klick wird dir der Log-Eintrag gezeigt, der auf einen Fehler oder eine Fehlerquelle hinweist. Ist dieser Vorgang erfolgreich gelaufen, wird der Schaltfläche nicht eingeblendet.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Plugin_bereitstellen_error.png" alt="DHL Plugin bereitstellen error">
</div>
<div class="title">Bild 4. DHL Shipping Plugin bereitstellen Fehler</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Shipping_Plugin_Log_error.png" alt="DHL Shipping Plugin Log error">
</div>
<div class="title">Bild 5. Plugin-Log</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">PluginSet</div>
<div class="paragraph">
<p>Beachte bitte, dass das DHL Shipping Plugin für das <strong>Pluginset</strong> mit den <strong>Standardmandanten</strong> aktiviert werden muss, damit die Menüpunkte nach dem Bereitstellen angezeigt werden und du die weiteren Einstellungen durchführen kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wie du das Plugin im Detail einrichtest, wird in einem späteren Abschnitt beschrieben.</p>
</div>
<div class="paragraph">
<p>Doch zunächst musst du einige Einstellungen im plentymarkets Backend vornehmen, bevor du das DHL Shipping Plugin konfigurierst.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_lieferländer_aktivieren">1.2. Lieferländer aktivieren</h3>
<div class="paragraph">
<p>Da das Plugin jetzt grundlegend verfügbar ist, kannst du die nächsten Schritte in Angriff nehmen. In diesem Teil solltest du dir vorher Gedanken machen, in welche Länder du liefern möchtest. Wenn du die Länder festgelegt hast, kannst du diese im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Lieferländer</strong> aktivieren. Diese stehen dann für den nächsten Schritt bereit. Beachte bitte, dass in plentymarkets besondere Regionen wie z.B. Helgoland oder die Kanarischen Inseln als eigenes "Lieferland" einzustellen sind.</p>
</div>
<div class="paragraph">
<p>Für die Lieferländer hast du folgende Auswahlmöglichkeiten:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen für die Anzeige Lieferländer</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Beschreibung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inaktiv</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Lieferland ist nicht aktiv.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiv</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Lieferland ist uneingeschränkt aktiv.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Backoffice aktiv</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferländer mit dieser Eigenschaft sind nur im plentymarkets System und nicht im Webshop sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferant aktiv</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferländer mit dieser Eigenschaft stehen für die Einstellung als Standardlieferland im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Bestellvorgang » Einstellungen</strong> nicht zur Verfügung.</p></td>
</tr>
</tbody>
</table>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Lieferlaender_aktivieren.png" alt="Lieferlaender aktivieren">
</div>
<div class="title">Bild 6. Lieferländer aktivieren</div>
</div>
</div>
<div class="sect2">
<h3 id="_regionen_erstellen">1.3. Regionen erstellen</h3>
<div class="paragraph">
<p>Die aktivierten Lieferländer musst du jetzt in Regionen zusammenfassen. Die Versandregionen findest du im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Regionen</strong>. Füge die Länder, für die auch die gleichen Versandkonditionen gelten sollen, in einer gemeinsame Region zusammen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel für unterschiedliche Versandkosten</div>
<div class="paragraph">
<p>Wenn du für Spanien und Frankreich z.B. 14,90 € Versandkosten verlangen möchtest, dann kommen diese beiden Länder zusammen in eine Region. Soll hingegen für Italien 20,90 € genommen werden, muss dafür eine neue Region erstellt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Auf der linken Seite in der Region siehst du alle verfügbaren Lieferländer. Auf der rechten Seite siehst du alle Lieferländer, die bereits mit dieser Region verknüpft sind. Füge nun alle aktiven Lieferländer einer Region hinzu. Bitte beachte dabei, dass jedes Lieferland nur in einer Region vorhanden sein kan.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Regionen_einrichten.png" alt="Regionen einrichten">
</div>
<div class="title">Bild 7. Regionen einrichten</div>
</div>
</div>
<div class="sect2">
<h3 id="_versanddienstleister_erstellen">1.4. Versanddienstleister erstellen</h3>
<div class="paragraph">
<p>Außer den Lieferländern und den dazu passenden Regionen benötigst du noch den richtigen Versanddienstleister, um eine Brücke zwischen dem Plugin und den Versandprofilen zu schaffen. Den Versanddienstleister konnfigurierst du im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versanddienstleister</strong>.</p>
</div>
<div class="paragraph">
<p>Hier wählst du einen Namen für den Versanddienstleister aus und wählst aus dem Dropdown-Menü den Dienstleister <strong>DHL Shipping (Versenden)</strong> aus.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Versanddienstleister_erstellen.png" alt="Versanddienstleister erstellen">
</div>
<div class="title">Bild 8. Versanddienstleister erstellen</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Tracking-URL</div>
<div class="paragraph">
<p>Außerdem kannst du in diesem Menü bereits die TrackingURL "<strong><a href="http://nolp.dhl.de/nextt-online-public/set_identcodes.do?lang=de&amp;zip=$PLZ&amp;idc=$PaketNr" class="bare">http://nolp.dhl.de/nextt-online-public/set_identcodes.do?lang=de&amp;zip=$PLZ&amp;idc=$PaketNr</a></strong>" für den späteren E-Mail Versand hinterlegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_versandprofil_erstellen">1.5. Versandprofil erstellen</h3>
<div class="paragraph">
<p>Alle Menüpunkte, die du bisher eingerichtet hast, treffen im Versandprofil aufeinander. Hierzu wechselst du in das Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versandprofile</strong>. Mit einem Klick auf den die Schaltfläche <strong>Neu</strong> (Plus-Symbol) erstellst du ein neues Versandprofil und landest direkt im <strong>Tab:Base</strong>. Das Tab <strong>Portotabelle</strong> ist erst nach dem ersten Speichern sichtbar.</p>
</div>
<div class="sect3">
<h4 id="_base">1.5.1. Base</h4>
<div class="paragraph">
<p>Im <strong>Tab: Base</strong> legst du die grundsätzlichen Einstellungen für dein Versandprofil fest.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Feldnamenbeschreibungen im Versandprofil</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Beschreibung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versanddienstleister</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle hier den zuvor angelegten Versanddienstleister aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name &amp; Name (Backend)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle hier einen Namen für das Front- und Backend in der jeweiligen Sprache aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier kannst du dem Profil eine Markierung geben. (z.B. das DHL Logo)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Priorität bestimmt die Reihenfolge der im Webshop angezeigten Versandprofile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Kategorieoption ermöglicht eine zusätzliche Priorisierung der Versandprofile. Ein konkretes Anwendungsbeispiel findest du <a href="https://knowledge.plentymarkets.com/fulfillment/versand-vorbereiten#1300">hier</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel Portoaufschlag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hiermit kannst du am Artikel hinterlegte Portoaufschläge aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postident</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option musst du aktivieren, wenn ein Postident nötig ist. Z.B. bei FSK18 Ware.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei neuen Artikeln aktivieren</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option aktivieren, damit das Profil immer an neuen Artikeln aktiv ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachnahme</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option aktivieren, damit der Kunde im Ceres-Checkout im Webshop die Zahlungsart Nachnahme wählen kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inselzuschlag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird der eingestellte Portoaufschlag bei einer Lieferung zu bestimmten Inseln anhand der definierten Liste in plentymarkets berechnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten (Shops)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wählst du die Mandaten aus, welche mit diesem Versandprofil verknüpft sein sollen. Es muss mindestens ein Mandant eingestellt sein, damit das Versandprofil auswählbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsherkunft</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wählst du die Auftragsherkünfte aus, für die dieses Versandprofil frei gegeben sein sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gesperrte Zahlungsarten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wählst du die Zahlungsarten aus, für die das Versandprofil <strong>nicht</strong> auswählbar sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gesperrte Kundenklassen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle hier die Kundenklassen aus, für die das Versandprofil <strong>nicht</strong> auswählbar sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandgruppen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandprofile können einer Versandgruppe hinzugefügt werden, damit die Zuweisung von Versandprofilen am Artikel vereinfacht werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Konto</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle hier ein eBay Konto aus, falls du eines verknüpfen möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listingtyp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahlmöglichkeiten: <strong>Alle</strong> = Alle Listingtypen <strong>Auktion</strong> = Nur Auktionen <strong>Festpreis-/Shop Artikel</strong> = Nur Festpreis bzw. Shop Artikel (Shop Artikel nur für Hood)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Expressversand</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, wenn dieses Versandprofil für einen Expressversand bei eBay genutzt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Treueprogramm</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier kannst du ein oder mehrere Treueprogramme wie eBay Plus oder Amazon Prime mit diesem Versandprofil verknüpfen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_portotabelle">1.5.2. Portotabelle</h4>
<div class="paragraph">
<p>Das Tab <strong>Portotabelle</strong> ist erst verfügbar, wenn du das Versandprofil gespeichert hast. In diesem Tab werden die Portotabellen für die jeweiligen vorher eingerichteten Regionen angezeigt. Das heißt, hier legst du die Preise und den Berechnungstypen für die einzelnen Region fest.
Wähle die Berechnungsgrundlage für die Versandkosten aus. Es gibt die Auswahlmöglichkeint: <strong>Pauschal</strong>, <strong>Gewichtsabhängig</strong>, <strong>Volumenabhängig</strong>, <strong>Mengenabhängig</strong>, <strong>Preisabhängig</strong> und <strong>Artikelporto</strong>.</p>
</div>
<div class="paragraph">
<p>Je nach Einstellung des Typen musst du die passenden Preise eingeben. Außerdem kannst du für jede Portotabelle angeben, ab welchem Betrag der Versand kostenfrei ist oder dass er z.B. ab 100 € Warenwert statt der pauschal eingestellten 4,99 € nur noch 2,50 € kostet.</p>
</div>
<div class="paragraph">
<p>Der Beschränkungstyp schränkt das Versandprofil ein. Passe aber auf, dass du mit deinen Versandprofilen einen nahtlosen Übergang ermöglichst, damit z.B. bei einem eingestellten Maximalgewicht von 20 kg in einem Versandprofil und dem Kauf von zwei Artikeln mit je 11 kg, noch ein anderes Versandprofil auswählbar ist und eine Fehlermeldung im Webshop verhindert wird.</p>
</div>
<div class="paragraph">
<p>Als Standardpaket kannst du ein vorher definiertes Versandpaket hinterlegen. Ein Versandpaket definierst du im Menü <strong>Einrichtung » Aufträge » Versand » Versandpakete</strong>. So kannst du z.B. feste Maße übertragen, wenn du nur eine Paketgröße für den Versand verwendest.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Berechnungstypen</div>
<div class="paragraph">
<p>Bitte beachte, dass du z.B. für die gewichtsabhängige Berechnung auch die Gewichte an den einzelnen Artikeln pflegen musst. Ansonsten ist eine Berechnung nicht möglich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Portotabelle_Berechnungstypen.png" alt="Portotabelle Berechnungstypen">
</div>
<div class="title">Bild 9. Berechnungstypen in der Portotabelle</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Portotabelle aktivieren</div>
<div class="paragraph">
<p>Eine Portotabelle ist erst aktiv, wenn diese gespeichert wurde. Ansonsten siehst du den Hinweis <strong>Region wird im Versandprofil nicht verwendet. Preis eintragen und speichern, um Region zu verwenden. Portotabelle speichern und neu laden, um Versanddienstleister-Einstellungen anzuzeigen.</strong></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_versandprofil_am_artikel_aktivieren">1.6. Versandprofil am Artikel aktivieren</h3>
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten Tab: Global</strong> musst du jetzt alle Artikel mit den gewünschten Versandprofilen verknüpfen. Dies kannst du auch über die Gruppenfunktion machen. Achte dabei auf den Haken bei der Option <strong>Alte Versandprofile löschen</strong>, da über die "Versandkonfiguration" nur weitere Versandprofile hinzugefügt werden können.</p>
</div>
</div>
<div class="sect2">
<h3 id="_dhl_shipping_plugin_konfigurieren">1.7. DHL Shipping Plugin konfigurieren</h3>
<div class="paragraph">
<p>Nachdem die Versandprofile fertig eingerichtet und am Artikel verknüpft sind, kann jetzt das DHL Shipping Plugin final eingerichtet werden:</p>
</div>
<div class="sect3">
<h4 id="_einrichtung">1.7.1. Einrichtung</h4>
<div class="paragraph">
<p>Anschließend wechselst du in das Menü <strong>Einrichtung » Aufträge » Versand » DHLShipping</strong> und findest dort die nachfolgenden Menüpunkte.</p>
</div>
<div class="paragraph">
<p><strong>Grundeinstellungen</strong></p>
</div>
<div class="paragraph">
<p>In den Grundeinstellungen hinterlegst du bitte die Zugangsdaten, die du für deinen DHL Benutzer angelegt hast. Außerdem hast du hier die Möglichkeit, eine alternative Telefonnummer und E-Mail Adresse zu hinterlegen. Wenn eins dieser Felder gefüllt ist, werden nur noch diese Daten und nicht mehr die des Kunden an DHL übermittelt. Die Einstellung am Versandprofil zu <strong>E-Mail und Telefon Übertragen</strong> wird beim Plugin nicht berücksichtigt. Als letztes gibt es hier noch die Checkbox für die nicht-leitcodierbaren Adressen. Wenn der Haken gesetzt ist, nimmt DHL auch nicht-leitcodierbare Sendungen an. Dies kann allerdings bei DHL zu Extrakosten führen. Nähere Informationen dazu kann dir dein DHL Ansprechpartner geben.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Gültigkeit der DHL Benutzer</div>
<div class="paragraph">
<p>Bitte beachte an dieser Stelle, dass es zwei Arten von Benutzern bei DHL gibt. Diese Benutzer haben eine Passwortgültigkeit von 3 oder 12 Monaten. Ist das Passwort abgelaufen, muss dieses bei DHL erneuert und im plentymarkets in den Grundeinstellungen des Plugins hinterlegt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>Abrechnungsnummern</strong></p>
</div>
<div class="paragraph">
<p>Du erhältst von DHL für jedes deiner gebuchten Services (z.B. DHL Paket National) eine eigene Abrechnungsnummer. Diese ist 14 Stellen lang und wird in 10, 2 und 2 aufgeteilt. Die ersten 10 Ziffern ergeben die EKP und sind für jeden Service gleich. Die nachfolgenden 2 Ziffern kennzeichnen den Service (z.B. 01 für DHL Paket National). Die letzten 2 Ziffern trägst du in das Feld Teilnahme ein.</p>
</div>
<div class="paragraph">
<p><strong>Absenderdaten</strong></p>
</div>
<div class="paragraph">
<p>Im Bereich der Absenderdaten trägst du bitte deine Daten ein, welche letztendlich auf das DHL Label als Absender gedruckt werden sollen.</p>
</div>
<div class="paragraph">
<p><strong>Versandeinstellungen</strong></p>
</div>
<div class="paragraph">
<p>Als letztes kommt der wichtigste Schritt: die Versandeinstellungen. In den Versandeinstellungen kommt alles zusammen. Hier wählst du aus, welches Versandprofil mit welcher Versandregion und mit welcher Abrechnungsnummer in Zukunft arbeiten soll. Es ist wichtig, dass du für jedes Profil und jede Region in diesem Profil eine eigene Einstellung hinterlegst. Je nachdem was du für Services bei DHL gebucht hast, kannst du diese auch hier in der Konfiguration hinterlegen. Ein Beispiel hier wäre der Service Nachnahme.
Das Feld <strong>Minimales Paketgewicht für die Übertragung an DHL (in Gramm)</strong> kann genutzt werden, um das Gewicht der Artikel für die Anmeldung zu erhöhen, es muss allerdings ein Gewicht an den Artikeln angegeben sein. Der letzte Punkt in den Versandeinstellungen bezieht sich auf ausländische Sendungen. Für diese ist die Frankatur sowie die Sendungsart ein Pflichtfeld.</p>
</div>
<div class="paragraph">
<p>Sobald du diese Einrichtung Schritt für Schritt durchgeführt hast, kannst du deine Sendungen über das DHL Shipping Plugin erfolgreich über einen Prozess und die Aktion <strong>Versand-Center</strong> oder über das Menü <strong>Aufträge » Versand-Center</strong> anmelden. Sollte dennoch einmal ein Fehler auftreten, haben wir im unteren Teil dieser Anleitung einige mögliche Fehlerquellen aufgelistet. Diese können z.B. durch falsche Adressdaten am Auftrag verursacht werden.</p>
</div>
</div>
<div class="sect3">
<h4 id="_testmodus_ausschalten">1.7.2. Testmodus ausschalten</h4>
<div class="paragraph">
<p>Zum Schluss ist es noch nötig, das Plugin vom Testmodus in den Produktivmodus zu setzen.</p>
</div>
<div class="paragraph">
<p>Hierzu klickst du bitte auf das Plugin und wechselst in den Bereich <strong>Konfiguration » General</strong>. Dort stellst du von Test auf Productive.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Plugin_Modus.png" alt="Plugin Modus">
</div>
<div class="title">Bild 10. Plugin-Modus</div>
</div>
</div>
<div class="sect3">
<h4 id="2400">1.7.3. Plugin nach Aktualisierung erneut bereitstellen</h4>
<div class="paragraph">
<p>Nachdem du ein Update des Plugins heruntergeladen hast, ist es erforderlich, dass du das Plugin erneut in Productive bereitstellst. Das Herunterladen des Updates allein bewirkt noch nicht, dass die Neuerungen bzw. Änderungen in der neuen Version auch aktiv sind.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_fehlerbehebung_dhl">2. Fehlerbehebung DHL</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den folgenden Unterkapiteln findest du Fehlermeldungen, die von DHL an plentymarkets über die Schnittstelle zurückgesendet werden, sowie mögliche Lösungen. Die Fehlermeldungen sind aus Gründen der Übersichtlichkeit in sechs Kategorien eingeordnet.</p>
</div>
<div class="paragraph">
<p>Die Anmeldedaten und die Antwort mit eventuellen Fehlermeldungen können für zwei Wochen im Menü <strong>Daten » API-Log » Tab: Versand Center API-Log</strong> abgerufen werden. In der Spalte ganz rechts wird mit einem Klick auf <strong>Anfrageprotokoll öffnen</strong> ein Fenster geöffnet, das die Anmeldedaten anzeigt. Ein Klick auf <strong>Antwortprotokoll öffnen</strong> öffnet ein Fenster mit der Rückmeldung von DHL.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Versand_Center_API_Log.png" alt="DHL Versand Center API Log">
</div>
<div class="title">Bild 11. Versand-Center API-Log</div>
</div>
<div class="sect2">
<h3 id="100">2.1. Zugangsdaten, Passwort, Productive-Modus, Anmeldung</h3>
<div class="paragraph">
<p>Hier findest du Fehlermeldungen, die im Zusammenhang mit Zugangsdaten, Passwort, Productive-Modus und der Anmeldung in Verbindung stehen, sowie mögliche Lösungsvorschläge.</p>
</div>
<div class="sect3">
<h4 id="200">2.1.1. Fehler bei der Anmeldung: (1001) login failed</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Es gab einen Fehler bei der Anmeldung: (1001) login failed.</code></p>
</div>
<div class="paragraph">
<p>Diese Fehlermeldung kann zwei Ursachen haben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Fehlerhafte Login-Daten bzw. Zeichenbegrenzung überschritten</p>
</li>
<li>
<p>Passwortgültigkeit bei DHL abgelaufen</p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Fehlerhafte Login-Daten bzw. Zeichenbegrenzung überschritten</p>
</div>
<div class="paragraph">
<p>Überprüfe deine Login-Daten im plentymarkets Backend. Die Schnittstelle verlangt feste Vorgaben, die bei der Anmeldung über die Webseite von DHL nicht greifen. Die Schnittstelle arbeitet hier strikter: Häufig ist entweder die Zeichenbegrenzung von 20 Zeichen für Passwort und/oder Benutzernamen überschritten worden oder der Benutzername wurde “falsch” geschrieben. So könnte bei der Registrierung zwar z.B. das erste Zeichen ein Großbuchstabe sein, wird jedoch als Kleinbuchstabe gespeichert und so von der Schnittstelle gefordert.</p>
</div>
<div class="paragraph subhead">
<p>Passwortgültigkeit bei DHL abgelaufen</p>
</div>
<div class="paragraph">
<p>Die Passwortgültigkeit für den Benutzer zum DHL-Backend beträgt bei GKP-Admin-Benutzern 90 Tage. Wenn das Passwort die Gültigkeit verloren hat, wird von DHL im plentymarkets Backend keine gesonderte Fehlermeldung ausgegeben, welches auf die Ungültigkeit des Passworts hinweist, sondern nur die oben genannte Fehlermeldung. Anders verhält es sich, wenn du dich direkt im DHL-Geschäftskundenportal anmelden möchtest. Dort wird dann angezeigt, dass du ein neues Passwort setzen musst.</p>
</div>
<div class="paragraph">
<p>Es ist sinnvoll, einen Systembenutzer im DHL-Backend zu erstellen, da die Gültigkeit für diesen 365 Tage beträgt.</p>
</div>
<div class="paragraph">
<p>Das neue Passwort musst du dann ebenfalls im plentymarkets Backend speichern:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>im Plugin im Menü <strong>Einrichtung » Aufträge » Versand » DHL Shipping » Grundeinstellungen</strong></p>
</li>
<li>
<p>in der Schnittstellenkonfiguration im Menü <strong>Einrichtung » Aufträge » Versand » Dienstleister » DHL Intraship/Versenden</strong></p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="300">2.1.2. Code 1001: Der Nutzer des Webservice konnte nicht authentifiziert werden.</h4>
<div class="paragraph">
<p><code>Code 1001 : Der Nutzer des Webservice konnte nicht authentifiziert werden.</code></p>
</div>
<div class="paragraph">
<p>In der Vergangenheit mussten Händler, die diese Fehlermeldung erhalten haben, das Passwort bei DHL ändern, da dieses seine Gültigkeit verloren hat. Im plentymarkets Backend wird von DHL keine gesonderte Fehlermeldung ausgegeben, welches auf die Ungültigkeit des Passworts hinweist, sondern nur die oben genannte Fehlermeldung. Anders verhält es sich, wenn du dich direkt im DHL-Geschäftskundenportal anmelden möchtest. Dort wird dann angezeigt, dass du ein neues Passwort setzen musst.</p>
</div>
<div class="paragraph">
<p>Das neue Passwort musst du dann ebenfalls im plentymarkets Backend speichern:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>im Plugin im Menü <strong>Einrichtung » Aufträge » Versand » DHL Shipping » Grundeinstellungen</strong></p>
</li>
<li>
<p>in der Schnittstellenkonfiguration im Menü <strong>Einrichtung » Aufträge » Versand » Dienstleister » DHL Intraship/Versenden</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Das Passwort für das DHL-Backend ist 90 Tage gültig (für Admin-Benutzer) und DHL verlangt nach Ablauf der 90 Tage ein neues Passwort. Für einen Systembenutzer, den man im DHL-Backend erstellt, ist das Passwort für eine Dauer von 365 Tagen gültig.</p>
</div>
</div>
<div class="sect3">
<h4 id="400">2.1.3. Code 1: Authorization Required oder Code 1: Unauthorized</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXX: Authorization Required.</code></p>
</div>
<div class="paragraph">
<p>oder</p>
</div>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXX: Unauthorized.</code></p>
</div>
<div class="paragraph">
<p>Prüfe, ob sich das DHL Shipping (Versenden)-Plugin im Produktivmodus und nicht im Testmodus befindet. Dazu öffnest du das Menü <strong>Plugins » Plugin-Übersicht</strong>, klickst auf das DHL Shipping (Versenden)-Plugin und wählst im Bereich <strong>Konfiguration</strong> aus der Dropdown-Liste die Einstellung <strong>Productive</strong>.</p>
</div>
<div class="paragraph">
<p>Als Standardeinstellung ist der Testmodus gewählt. Dadurch wird eine Anmeldung in der Sandbox-Umgebung (DHL-Entwicklerportal) durchgeführt – hierfür werden eigene Zugangsdaten für das Entwicklerportal benötigt. Sobald der Produktivmodus gewählt und gespeichert wurde, läuft die Anmeldung gegen das Live-System.</p>
</div>
</div>
<div class="sect3">
<h4 id="500">2.1.4. Invalid XML: cvc-complex-type.2.4.d: Ungültiger Content wurde beginnend mit Element 'Shipment' gefunden.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Invalid XML: cvc-complex-type.2.4.d: Ungültiger Content wurde beginnend mit Element 'Shipment' gefunden. An dieser Stelle wird kein untergeordnetes Element erwartet.</code></p>
</div>
<div class="paragraph">
<p>Diese Fehlermeldung haben Händler bisher erhalten, wenn sie eine größere Anzahl an Aufträgen im Menü <strong>Aufträge » Versand-Center</strong> anmelden wollten.</p>
</div>
<div class="paragraph">
<p>Wir empfehlen in dem Fall in erster Linie, einen <a href="/automatisierung/prozesse/prozesse-einrichten">Prozess</a> mit der Aktion <a href="/automatisierung/prozesse/aktionen#430">Versand-Center</a> einzurichten. Damit wird die Fehlermeldung nicht mehr angezeigt. Eine ander Möglichkeit ist, die Anzahl der ausgewählten Aufträge für die manuelle Anmeldung im Versand-Center zu verringern.</p>
</div>
</div>
<div class="sect3">
<h4 id="510">2.1.5. Code: 1101 Das Recht zum Setzen dieses Attributes ist nicht ausreichend. Bitte wenden Sie sich an Ihren Kunden-Administrator.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen.</code></p>
</div>
<div class="paragraph">
<p><code>Auftrag XXXX: Code: 1101 Das Recht zum Setzen dieses Attributes ist nicht ausreichend. Bitte wenden Sie sich an Ihren Kunden-Administrator.</code>
<code>Das Recht zum Setzen dieses Attributes ist nicht ausreichend. Bitte wenden Sie sich an Ihren Kunden-Administrator.</code></p>
</div>
<div class="paragraph">
<p>Diese Fehlermeldung erscheint, wenn bei einer Nachnahmebestellung die Bankverbindung, die für das DHL Shipping-Plugin hinterlegt wurde, im Geschäftskundenportal nicht als Standardbankverbindung ausgewählt wurde. Eine erfolgreiche Anmeldung kann erfolgen, wenn die verwendete Bankverbindung für das DHL Shipping-Plugin auch die Standardbankverbindung im Geschäftskundenportal ist.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="600">2.2. Produkte, EKP, Verfahren, Teilnahme, Abrechnungsnummern</h3>
<div class="paragraph">
<p>Hier findest du Fehlermeldungen, die im Zusammenhang mit Produkten, der EKP oder der Teilnahme in Verbindung stehen, sowie mögliche Lösungsvorschläge.</p>
</div>
<div class="sect3">
<h4 id="700">2.2.1. Exception in extension function java.lang.RuntimeException: **productId cannot be mapped**</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen.	Exception in extension function java.lang.RuntimeException: <strong>productId cannot be mapped</strong>.</code></p>
</div>
<div class="paragraph">
<p>Diese Fehlermeldung besagt, dass keine Abrechnungsnummer, die die productId enthält, gespeichert wurde. Speichere die Abrechnungsnummer:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>für das DHL Shipping-Plugin im Menü <strong>Einrichtung » Aufträge » Versand » DHL Shipping » Abrechnungsnummern</strong></p>
</li>
<li>
<p>für die Schnittstellenintegration DHL Intraship/Versenden im Menü  <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versandprofile</strong> in der Portotabelle der entsprechenden Region des DHL-Versandprofils</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="800">2.2.2. Exception in extension function java.lang.RuntimeException: productId **EXP/OFP** cannot be mapped</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Exception in extension function java.lang.RuntimeException: productId <strong>EXP/OFP</strong> cannot be mapped.</code></p>
</div>
<div class="paragraph">
<p><strong>DHL Paket</strong> und <strong>DHL Express</strong> sind zwei unterschiedliche Dienstleister.</p>
</div>
<div class="paragraph">
<p>DHL Intraship-Kunden können sowohl DHL Paket-Produkte als auch DHL Express-Produkte nutzen, z.B. OFP (Office Paket). Für Kunden des Geschäftskundenportals ist das leider nicht mehr möglich. Über das Geschäftskundenportal lassen sich nur DHL Paket-Produkte anmelden.</p>
</div>
<div class="paragraph">
<p>Da plentymarkets noch die DHL Intraship-Schnittstelle nutzt und unsere Anmeldungen je nach Kundenkonto unter Umständen an das GKP weitergeleitet werden, erhalten GKP-Kunden mit Express-Produkten die Meldung, dass die Anmeldung nicht gemapped werden konnte.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">2.3. Versandprofile</h3>
<div class="paragraph">
<p>Hier findest du Fehlermeldungen, die im Zusammenhang mit Versandprofilen in Verbindung stehen, sowie mögliche Lösungsvorschläge.</p>
</div>
<div class="sect3">
<h4 id="1000">2.3.1. The combination of shipping profile ID xx and shipping region ID xx does not exist.</h4>
<div class="paragraph">
<p><code>The combination of shipping profile ID xxxx and shipping region ID xxxx does not exist.</code></p>
</div>
<div class="paragraph">
<p>In diesem Fall konnte keine Versandeinstellung gefunden werden (Menü <strong>Einrichtung » Aufträge » Versand » DHLShipping » Versandeinstellungen</strong>), die mit dem Versandprofil am Auftrag erstellt wurde.</p>
</div>
<div class="paragraph">
<p>Prüfe, welches Versandprofil bei den Versandeinstellungen für das Plugin gewählt wurde.</p>
</div>
<div class="paragraph">
<p>Häufig wird das “alte” DHL-Versandprofil mit dem Auftrag verknüpft. Die Einstellungen sind jedoch mit einem “neuen” Versandprofil für das DHL Shipping (Versenden)-Plugin erstellt worden.</p>
</div>
<div class="paragraph">
<p>Stimmt das Versandprofil mit dem am Auftrag überein, muss die Region überprüft werden.</p>
</div>
<div class="paragraph">
<p>Kann die Region bei den Versandeinstellungen in dem Versandprofil nicht gewählt werden, muss die Region in der Portotabelle des Versandprofils im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versandprofile » Versandprofil öffnen » Tab: Portotabelle</strong> geprüft werden. Der folgende Hinweistext darf <strong>nicht</strong> angezeigt werden:</p>
</div>
<div class="paragraph">
<p><code>Region wird im Versandprofil nicht verwendet. Preis eintragen und speichern, um Region zu verwenden. Portotabelle speichern und neu laden, um Versanddienstleister-Einstellungen anzuzeigen.</code></p>
</div>
<div class="paragraph">
<p>Beispielansicht einer nicht verwendeten Region im Versandprofil:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Portotabelle_Region.png" alt="DHL Portotabelle Region">
</div>
<div class="title">Bild 12. Nicht verwendete Region in der Portotabelle des Versandprofils</div>
</div>
</div>
<div class="sect3">
<h4 id="1100">2.3.2. Ein interner Fehler ist aufgetreten</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Ein interner Fehler ist aufgetreten!</code></p>
</div>
<div class="paragraph">
<p>Prüfe, ob die Region in der Portotabelle des Versandprofils aktiv ist.</p>
</div>
<div class="paragraph">
<p>Beispielansicht einer nicht verwendeten Region im Versandprofil:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Portotabelle_Region.png" alt="DHL Portotabelle Region">
</div>
<div class="title">Bild 13. Nicht verwendete Region in der Portotabelle des Versandprofils</div>
</div>
</div>
<div class="sect3">
<h4 id="1200">2.3.3. Keine gültigen Versandprofile vorhanden: SystemShippingController</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Keine gültigen Versandprofile vorhanden: SystemShippingController</code></p>
</div>
<div class="paragraph">
<p>Prüfe im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versanddienstleister</strong>, ob der korrekte Versanddienstleister gewählt wurde. Entsprechende Daten können nur geladen werden, wenn dies der Fall ist.</p>
</div>
<div class="paragraph">
<p>Wenn man die Portotabellen betrachtet, würde auffallen, dass DHL-spezifischen Angaben nicht gemacht werden können, da Felder wie die DHL-Abrechnungsnummer und DHL-Services nicht vorhanden sind.</p>
</div>
</div>
<div class="sect3">
<h4 id="1300">2.3.4. Bitte Dateneingabe prüfen. unknown</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. unknown</code></p>
</div>
<div class="paragraph">
<p>Diese Fehlermeldung sagt leider wenig aus und könnte verschiedene Ursachen haben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Prüfe zuerst die eingestellte Abrechnungsnummer in der Portotabelle.
Wurde evtl. eine Abrechnungsnummer gelöscht, die im verwendeten Versandprofil weiterhin abgerufen werden soll?</p>
</li>
<li>
<p>Sollte es sich um eine Ausfuhrlieferung handeln, die den Wert von 1000 € übersteigt, erscheint ebenfalls die Meldung <code>unknown</code>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Folgender Hinweis wird laut einem betroffenen Kunden bei Intraship angezeigt:</p>
</div>
<div class="paragraph">
<p><em>Achtung! Ausfuhranmeldung wird erforderlich.
(Bitte fügen Sie eine ausgefüllte Ausfuhranmeldung bei und kennzeichnen sie Ihre Sendung mit dem Aufkleber "Achtung Ausfuhranmeldung").
Wenn Ihr Versand geschäftlichen Zwecken dient und der Warenwert Ihres Paketes oder Päckchens 1000 Euro übersteigt, benötigen Sie zusätzlich zu Paketkarte, Zollinhaltserklärung und Handelsrechnung eine Ausfuhranmeldung.
Bitte beachten Sie, dass diese Ausfuhranmeldung bereits ab einem Betrag &gt; 1000 Euro von Ihren Zollamt vorab gefertigt (gestempelt) sein muss.
Sollte Ihnen Ihr Zollamt bereits ein vereinfachtes Verfahren bewilligt haben, so geben Sie bitte die jeweilige Bewilligungsnummer auf der Handelsrechnung an.
Die Aufkleber "Achtung Ausfuhranmeldung" erhalten Sie über unseren Vertrieb unter der Bestellnummer 915-830-000.</em></p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1400">2.4. Adressdaten Shipper/Receiver</h3>
<div class="paragraph">
<p>Hier findest du Fehlermeldungen, die im Zusammenhang mit Adressdaten in Verbindung stehen, sowie mögliche Lösungsvorschläge.</p>
</div>
<div class="sect3">
<h4 id="1500">2.4.1. Invalid fieldlength in element ‘Note’. Please refer to documentation.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Invalid fieldlength in element 'Note'. Please refer to documentation.</code></p>
</div>
<div class="paragraph">
<p>Das Feld <code>Note</code> ist über die Schnittstelle auf 50 Zeichen begrenzt. Es wird von uns verwendet, wenn für die Hausnummer zu viele Zeichen (mehr als 7) oder ein Adresszusatz angegeben wurden.
Hier muss die Angabe z.B. in der Lieferanschrift korrigiert werden.</p>
</div>
</div>
<div class="sect3">
<h4 id="1600">2.4.2. The Customer ID Number is invalid. Please check Customer ID Number. Your order could not be processed.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXXX: The Customer ID Number is invalid. Please check the Customer ID Number. Your order could not be processed Your order could not be processed.</code></p>
</div>
<div class="paragraph">
<p>Die in der Lieferadresse angegebene "Postnummer" ist nicht korrekt oder passt nicht zu den Daten des Kunden. Erfrage bei deinem Kunden die korrekten Daten. Bei der Validierung wird von DHL auch die Adresse geprüft, die übereinstimmen muss.</p>
</div>
</div>
<div class="sect3">
<h4 id="1700">2.4.3. Invalid value in element ‘germany’</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Invalid value('3411') in element 'germany'. oder auch Invalid value('DE-34117') in element 'germany'.</code></p>
</div>
<div class="paragraph">
<p>oder</p>
</div>
<div class="paragraph">
<p><code>Auftrag XXXXXX: Hard validation error occured., Es handelt sich um eine ungültige Postleitzahl. Bitte verwenden Sie das Format 99999.</code></p>
</div>
<div class="paragraph">
<p>In der Lieferadresse ist eine ungültige Postleitzahl angegeben (in unserem Beispiel für Deutschland). Die Schnittstelle erwartet 5 Ziffern. Zusätzliche Angaben wie “DE” sind über die Schnittstelle nicht erlaubt.
Für andere Länder würden entsprechende Meldungen erscheinen.</p>
</div>
<div class="paragraph">
<p>Die ungültige Postleitzahl kannst du im Menü <strong>Aufträge » Aufträge bearbeiten</strong> im Feld <strong>Kundendaten</strong> suchen und korrigieren.</p>
</div>
</div>
<div class="sect3">
<h4 id="1800">2.4.4. Hard validation error occured., Bitte geben Sie einen Ort / Name 1 / Postleitzahl / Straße / Hausnummer / Telefonnummer an.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXXX: Hard validation error occured, Bitte geben Sie einen Ort an. Bitte geben Sie Name 1 an. Bitte geben Sie eine Postleitzahl an. Bitte geben Sie eine Straße an. Bitte geben Sie eine Hausnummer an.</code></p>
</div>
<div class="paragraph">
<p>oder</p>
</div>
<div class="paragraph">
<p><code>Hard validation error occured, Bitte geben Sie eine gültige Telefonnummer an.</code></p>
</div>
<div class="paragraph">
<p>Wenn eine der oben aufgelisteten Meldungen häufiger angezeigt wird, bezieht sich dies auf möglicherweise fehlerhaft angegebene oder fehlende Absenderdaten im Menü <strong>Einrichtung » Aufträge » Versand » Dienstleister » DHL Intraship/Versenden</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Absenderdaten_Intraship_Versenden.png" alt="DHL Absenderdaten Intraship Versenden">
</div>
<div class="title">Bild 14. Absenderdaten im Menü <strong>Einrichtung » Aufträge » Versand » Dienstleister » DHL Intraship/Versenden</strong></div>
</div>
<div class="paragraph">
<p>Wenn kein Fehler “sichtbar” ist, könnte ein unsichtbares Steuerzeichen die Ursache sein. Dieses wird häufig unbewusst mit Copy &amp; Paste hinzugefügt. Lösche also dieses unsichtbare Steuerzeichen in den Absenderdaten. Gegebenenfalls musst du den Wert erneut eingeben.</p>
</div>
<div class="paragraph">
<p>Wenn eine der oben aufgelisteten Meldungen nur "einfach" angezeigt wird, prüfe die Empfängerdaten im Auftrag.</p>
</div>
</div>
<div class="sect3">
<h4 id="1810">2.4.5. Hard validation error occured., Die angegebene Straße kann nicht gefunden werden.</h4>
<div class="paragraph">
<p><code>Hard validation error occured., Die angegebene Straße kann nicht gefunden werden.</code></p>
</div>
<div class="paragraph">
<p>Diese Fehlermeldung wird von DHL an plentymarkets zurückgesendet. Die Angaben in der Lieferadresse werden von DHL über die API geprüft.</p>
</div>
<div class="paragraph">
<p>In diesem Fall sollte zunächst mit dem Kunden geklärt werden, ob die Angaben in der Lieferadresse korrekt sind. Wenn der Kunde bestätigt, dass die Angaben korrekt sind, das Anmelden des Auftrags aber immer noch nicht funktioniert, ist es nötig, DHL zu kontaktieren und zu erfragen, wie genau die Schreibweise lauten soll, damit eine Anmeldung möglich ist. Wenn der Kunde einen Fehler in der Lieferadresse bestätigt, musst du diesen in deinem Backend korrigieren.</p>
</div>
<div class="paragraph">
<p>Eine weitere Möglichkeit ist, die Etiketterzeugung zu erzwingen. Diese Einstellung nimmst du in den Grundeinstellungen des Plugins vor. Beachte, dass DHL gegebenenfalls ein Zusatzentgelt berechnet.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1900">2.5. Ausfuhrlieferungen</h3>
<div class="paragraph">
<p>Hier findest du Fehlermeldungen, die im Zusammenhang mit Ausfuhrlieferungen in Verbindung stehen, sowie mögliche Lösungsvorschläge.</p>
</div>
<div class="sect3">
<h4 id="2000">2.5.1. Hard validation error occured., Die Gewichtsangabe ist kleiner als im CN23-Formular.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXXX: Hard validation error occured., Die Gewichtsangabe ist kleiner als im CN23-Formular.</code></p>
</div>
<div class="paragraph">
<p>Diese Fehlermeldung erscheint, wenn Ausfuhrlieferungen bei DHL Versenden angemeldet werden sollen, die eine Artikelposition mit der Menge &gt; 1 angegeben haben. Leider werden von DHL die Daten über die aktuelle Schnittstelle zu Versenden anders gemapped, sodass das Gewicht nicht korrekt angegeben werden kann.</p>
</div>
<div class="paragraph">
<p>Wir haben DHL das Problem des öfteren gemeldet, aber es konnte keine gemeinsame Lösung gefunden werden.</p>
</div>
<div class="paragraph">
<p>Mit dem <a href="https://marketplace.plentymarkets.com/plugins/integration/DHLShipping_4871" target="_blank" rel="noopener">DHL Shipping (Versenden)-Plugin</a>, das wie alle Plugins nur mit plentymarkets Version 7 funktioniert, ist diese Problematik nicht mehr vorhanden.</p>
</div>
<div class="paragraph">
<p>Wenn du noch die "alte" Schnittstelle und DHL Intraship nutzt, ist eine Anmeldungen mit deinem DHL Intraship-Zugangsdaten weiterhin möglich und die oben genannte Fehlermeldung wird nicht angezeigt.</p>
</div>
</div>
<div class="sect3">
<h4 id="2100">2.5.2. Bitte geben Sie eine Anzahl / Beschreibung / Warenwert / Gewicht / Art der Sendung an. Die angegebene Art der Sendung ist nicht gültig.</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXXX: Hard validation error occured., Bitte geben Sie die Anzahl an., Bitte geben Sie die Beschreibung an., Bitte geben Sie den Warenwert an., Bitte geben Sie das Gewicht an., Bitte geben Sie das Gewicht an., Bitte geben Sie die Art der Sendung an., Die angegebene Art der Sendung ist nicht gültig.</code></p>
</div>
<div class="paragraph">
<p>Hier fehlen Angaben, die für Ausfuhrlieferungen relevant sind. Meist liegt dies daran, dass keine Voranmeldung des CN23-Formulars möglich ist. (Voranmeldung bedeutet, dass plentymarkets die Artikeldaten im Vorfeld an DHL übermittelt. Dies ist bei Ausfuhrlieferungen verpflichtend.)</p>
</div>
<div class="paragraph">
<p>Der Hintergrund dafür ist am häufigsten auf spezielle Gebiete in den Lieferländern zurückzuführen: Diese müssen zolltechnisch anders behandelt werden, gehören jedoch politisch zu einem EU-Land, das keine Ausfuhrpapiere benötigt. Ein Beispiel für Deutschland ist die Insel Helgoland; für Spanien die Kanarischen Inseln.</p>
</div>
<div class="paragraph">
<p>Aktiviere daher das entsprechende Lieferland im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Lieferländer</strong>, weise das Lieferland danach im Tab <strong>Region</strong> einer Region zu und ändere das Lieferland anschließend im Auftrag. Auf diese Weise können die fehlenden Angaben übermittelt werden  und die Anmeldung kann weitergeführt werden.</p>
</div>
<div class="paragraph">
<p>Wenn du das DHL Shipping (Versenden)-Plugin verwendest, könnte die Meldung auch wegen der bereitgestellten Version des Plugins erscheinen, da man über Versionen, die älter als Version 1.3.0 sind, keine Ausfuhrlieferungen anmelden kann. Du musst also mindestens Plugin-Version 1.3.0 nutzen. Um zu prüfen, welche Version du nutzt, schaue unter <strong>Plugins » Plugin-Übersicht</strong> in der Spalte <strong>Version aktiv</strong> den Wert an.</p>
</div>
<div class="paragraph">
<p>Screenshot aus dem Testsystem:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/DHL_Shipping_Plugin_Version_Aktiv.png" alt="DHL Shipping Plugin Version Aktiv">
</div>
<div class="title">Bild 15. Pluginübersicht Version</div>
</div>
<div class="paragraph">
<p>Beachte, dass du jeweils eine Option in den Dropdown-Listen <strong>Frankatur bei Auslandssendungen</strong> und <strong>Sendungsart</strong> im Menü <strong>Einrichtung » Aufträge » Versand » DHL Shipping » Versandeinstellungen</strong> wählen musst.</p>
</div>
</div>
<div class="sect3">
<h4 id="2200">2.5.3. incoterms, origin country code, export document missing, weight for packages, terms of trade, shipment weight may not be smaller than 0.1 kg, valid type of shipment, quantity of goods / description of goods / country of origin / value of goods, exportdoc position</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Auftrag XXXXX: The current incoterms are not included in the list of the available incoterms., The current origin country code is not included in the list of the available countries., Export document is missing., Your order could not be processed Your order could not be processed , Please enter weight for the packages, Terms of Trade have not been selected., The shipment weight may not be smaller than 0.1 kg for this product code., The shipment weight may not be smaller than 0.1 kg for this product code., Please select a valid type of shipment., Please enter quantity of goods., Please enter a description of goods., Please enter the country of ofigin., Please enter value of goods., Please add an exportdoc position.</code></p>
</div>
<div class="paragraph">
<p>In der Fehlermeldung ist von “incoterms” und “origin country” die Rede. Diese Fehlermeldung kommt von DHL und sagt aus, dass es sich um eine Ausfuhrlieferung handelt und Informationen für den Zoll fehlen. Das kann in der Regel zwei Ursachen haben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>An den Artikeln fehlen Angaben wie Zolltarifnummer und/oder Herkunftsland des Produktes.</p>
</li>
<li>
<p>Für die Lieferadresse wird das falsche Land genutzt. Deshalb werden die Daten von 1., obwohl vorhanden, nicht an DHL übermittelt. Das kann z.B. der Fall sein, wenn die Ware zu den Kanarischen Inseln geliefert werden soll, als Lieferland aber Spanien ausgewählt wurde.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="2300">2.5.4. Invalid fieldlength: InvoiceDate</h4>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Invalid fieldlength: InvoiceDate</code></p>
</div>
<div class="paragraph">
<p>Bei Anmeldungen von Ausfuhrlieferung ist es für die Voranmeldung der Artikel notwendig, dass eine Rechnung am Auftrag erstellt wurde, damit das Pflichtfeld <strong>InvoiceDate</strong> gefüllt werden kann. Die Fehlermeldung erscheint, wenn dies nicht der Fall ist.</p>
</div>
<div class="paragraph">
<p>"Voranmeldung" bedeutet, dass plentymarkets die Artikeldaten im Vorfeld an DHL übermittelt. Dies ist bei Ausfuhrlieferungen verpflichtend.</p>
</div>
</div>
</div>
</div>
</div>
</main>