<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Wie sieht der Verlauf eines Prime-Auftrags bei uns aus?</span></a>
<ul class="sectlevel2">
<li><a href="#150"><span>1.1.</span><span> Versandprofil</span></a></li>
<li><a href="#160"><span>1.2.</span><span> Treueprogramm</span></a></li>
<li><a href="#170"><span>1.3.</span><span> Amazon Prime Service</span></a></li>
<li><a href="#180"><span>1.4.</span><span> Sonstige Informationen</span></a></li>
<li><a href="#190"><span>1.5.</span><span> Versandgruppe auf Amazon definieren</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Fehlermeldungen und wie sie gelöst werden können</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practice: Amazon Prime</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Grundsätzliches:</div>
<div class="paragraph">
<p>Wenn wir von Prime-Aufträgen sprechen, ist nicht nur der Auftrag eines Prime-Kunden auf Amazon gemeint, sondern auch Aufträge, welche mit einem Versandservice (NextDay, SecondDay) von nicht-Prime-Kunden auf Amazon erteilt wurden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Wie sieht der Verlauf eines Prime-Auftrags bei uns aus?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Auftrag wird auf Amazon erteilt und wird in unser System importiert. Dabei bekommen wir die Informationen mitgeteilt, ob der Auftrag ein Prime-Auftrag ist oder nicht und ob ein Service Level (NextDay, SecondDay, Standard) vorliegt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Es gibt 5 unterschiedliche Möglichkeiten:</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Prime <a id="symbol-Prime"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-prime-ap.png" alt="Prime"></span></p>
</li>
<li>
<p>Prime NextDay <a id="symbol-PrimeNextDay"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-prime-ap1.png" alt="Prime NextDay"></span></p>
</li>
<li>
<p>Prime SecondDay <a id="symbol-PrimeSecondDay"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-prime-ap2.png" alt="Prime SecondDay"></span></p>
</li>
<li>
<p>NextDay <a id="symbol-NextDay"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-prime-a1.png" alt="NextDay"></span></p>
</li>
<li>
<p>SecondDay <a id="symbol-SecondDay"></a>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-prime-a2.png" alt="SecondDay"></span></p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In unserem System könnt ihr dies in der Auftragsübersicht <strong><em>Aufträge » Aufträge bearbeiten</em></strong> an dem Zeichen in der Statusleiste einsehen. Wenn ihr die Maus über dieses Zeichen zieht, seht ihr genau, welcher Art dieser Auftrag ist.</p>
</div>
<div id="symbol-auftrag" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-prime-symbolauftrag.png" alt="Symbol Auftragsübersicht">
</div>
<div class="title">Bild 1. Symbol in der Auftragsübersicht</div>
</div>
<div class="sect2">
<h3 id="150">1.1. Versandprofil</h3>
<div class="paragraph">
<p>Wie bei "normalen" Aufträgen von Amazon wird anhand der Versandprofile, welche in den Artikeln hinterlegt sind, geprüft, welches denn an diesem Auftrag hinterlegt werden soll. Dabei ist eine Voraussetzung, dass überhaupt ein Artikel im Auftrag zugeordnet werden konnte (sonst findet das System natürlich auch nicht die Versandprofile, die für die im Auftrag enthaltenen Artikel freigegeben sind).
Dabei ist es wichtig bzw. ausschlaggebend, wie diese Versandprofile eingestellt sind. Wir beziehen uns jetzt nur auf den Filter <strong>Treueprogramm</strong>, nicht auf die weiteren Einstellungen, welche natürlich auch passen müssen (Herkunft, aktivierte Portotabellen etc.)</p>
</div>
</div>
<div class="sect2">
<h3 id="160">1.2. Treueprogramm</h3>
<div class="paragraph">
<p>Der Filter <strong>Treueprogramm</strong> steuert per Ausschluss, ob ein Versandprofil zu einem Auftrag passt, oder eben nicht. Das heißt im Umkehrschluss, wenn die Filter nicht korrekt gesetzt sind, können auch die gewünschten Auftragsarten (Prime, NextDay etc.) nicht das passende Versandprofil bekommen.
Wollt ihr also ein Versandprofil für z.B. Prime NextDay-Aufträge anlegen, muss der Filter <strong>Treueprogramm</strong> bei der Option <strong>Amazon Prime NextDay</strong> aktiviert sein.</p>
</div>
<div id="treueprogramm" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-prime-treueprogramm.png" alt="Prime-Treueprogamm-Filter">
</div>
<div class="title">Bild 2. Filter Treueprogramm im Versandprofil</div>
</div>
</div>
<div class="sect2">
<h3 id="170">1.3. Amazon Prime Service</h3>
<div class="paragraph">
<p>Nach der Verarbeitung des Auftrags (Rechnung etc.) wollt ihr diesen Auftrag bei Amazon zum Versand anmelden. Das könnt ihr wie gewohnt über einen <em>Prozess</em> oder über das <em>Versand-Center</em> unter <strong><em>Aufträge » Versand-Center</em></strong> vornehmen.
Bei der Anmeldung wird über das Versandprofil des anzumeldenden Auftrags gecheckt, welcher <strong>Amazon Prime Service</strong> genutzt werden soll. Im Versandprofil wird diese Einstellung abhängig vom Lieferland in der Portotabelle hinterlegt.</p>
</div>
<div id="services" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-prime-services.png" alt="Prime-Services">
</div>
<div class="title">Bild 3. Amazon Prime Service Auswahl in der Portotabelle</div>
</div>
<div class="paragraph">
<p>Das bedeutet, welcher Versandweg und welche Kosten für den Versand und das Label am Ende nach der erfolgreichen Anmeldung herauskommen, hängt davon ab, welcher <strong>Amazon Prime Service</strong> in der <strong>Portotabelle</strong> des Lieferlandes in dem Versandprofil eingetragen ist, welches im Auftrag hinterlegt wurde.</p>
</div>
</div>
<div class="sect2">
<h3 id="180">1.4. Sonstige Informationen</h3>
<div class="paragraph">
<p>Weiterhin werden die <strong>Maße</strong> und die <strong>Absenderinformationen</strong> von Amazon gefordert.</p>
</div>
<div class="paragraph">
<p>Letzteres hinterlegt ihr in den <strong>Einrichtung » Aufträge » Versand » Versanddienstleister » Grundeinstellungen</strong> pro Lager.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Übergeben werden müssen die Felder:</div>
<div class="ulist">
<ul>
<li>
<p>Firma</p>
</li>
<li>
<p>Straße</p>
</li>
<li>
<p>Hausnummer</p>
</li>
<li>
<p>E-Mail</p>
</li>
<li>
<p>PLZ</p>
</li>
<li>
<p>Ort</p>
</li>
<li>
<p>Land</p>
</li>
<li>
<p>Telefon</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Welche Absenderinformationen übergeben werden, richtet sich danach, welches <strong>Lager</strong> im anzumeldenden Auftrag hinterlegt ist.</p>
</div>
<div class="paragraph">
<p>Die <strong>Maße</strong> werden, je nachdem welche Option in dem Versandpaket eingestellt sind, aus dem System gezogen:
<strong>Einrichtung » Aufträge » Versand » Versandpakete</strong></p>
</div>
<div id="versandpakete" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-prime-versandpaket.png" alt="Einstellung-Versandpakete">
</div>
<div class="title">Bild 4. Einstellung Versandpakete</div>
</div>
<div class="paragraph">
<p>Entweder, ihr definiert in dem Versandpaket die Maße vor, oder ihr lasst diese aus den Feldern aus den Artikeln ziehen (pro Variante im <strong>Tab: Einstellungen</strong>).</p>
</div>
</div>
<div class="sect2">
<h3 id="190">1.5. Versandgruppe auf Amazon definieren</h3>
<div class="paragraph">
<p>Damit auf Amazon die Artikel auch mit den korrekten Versandarten angeboten werden, muss auf Amazon eine entsprechende Versandgruppe angelegt werden.
Diese könnt ihr anschließend per Merkmal über den Artikeldatenexport pro Artikel auf Amazon steuern.</p>
</div>
<div class="paragraph">
<p>Dazu nutzt ihr am besten ein Merkmal von Typ <strong>Text</strong> oder <strong>Auswahl</strong>. Das Feld, welches ihr mit dem Merkmal verknüpfen müsst, lautet <strong>merchant_shipping_group_name</strong>.
Als Wert für die Auswahl oder den Text in dem Artikel hinterlegt ihr den Namen der Versandgruppe, welche ihr zuvor in eurem Seller Central angelegt habt.
Informationen zur Merkmalverknüpfung findet ihr in unserem <a href="/maerkte/amazon/amazon-einrichten#1400">Handbuch</a>.</p>
</div>
<div class="paragraph">
<p>Im folgenden Diagramm ist ein Beispiel zur Veranschaulichung für Prime NextDay:</p>
</div>
<div id="prime-auftragsablauf" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-prime-ablaufdiagramm.jpg" alt="Prime-Auftragsablauf">
</div>
<div class="title">Bild 5. Prime Auftragsablauf</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Fehlermeldungen und wie sie gelöst werden können</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zu guter Letzt gibt es natürlich auch Fehlermeldungen bei der Anmeldung dieser Aufträge bei Amazon.</p>
</div>
<div class="paragraph">
<p>Wenn ein Auftrag nicht angemeldet werden sollte, könnt ihr unter <strong>Datenaustausch » API-Log</strong> in dem Vorgang <strong>Shipment_AmazonPrime</strong> prüfen, was an dieser Stelle von Amazon zurückgemeldet wurde (bei der Anmeldung über das Versand-Center wird die Fehlermeldung auch direkt in rot ausgegeben).</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Error:TermsAndConditionsNotAccepted, Type: Sender</strong> bedeutet, dass die <strong>Geschäftsbedingungen</strong> zu Prime noch nicht auf Amazon bestätigt wurden. Diese Fehlermeldung könnt ihr "beheben", wenn ihr auf Amazon selbst einmal einen Auftrag zu Prime anmeldet (bei diesem Prozess sollten auch die Geschäftsbedingungen einmal abgefragt werden). Die Geschäftsbedingungen können auch im <a href="https://sellercentral.amazon.de/sbr/buyShippingPreferences" target="_blank" rel="noopener">Amazon Seller Central</a> durch Klick auf <strong>Anmeldung zur "Versand durch Händler"-API</strong> bestätigt werden. Hilft dies nicht, müsst ihr euch mit Amazon in Verbindung setzen.</p>
</li>
<li>
<p><strong>Error:InvalidRequest, Type: Sender</strong> bedeutet, dass die Daten nicht vollständig sind. Dies kann durch nicht gepflegte <strong>Absenderdaten</strong> für die Lager, fehlende Informationen des Kunden (<strong>Lieferadresse</strong>) oder ein nicht zugeordnetes/nicht passendes <strong>Versandprofil</strong> im Auftrag resultieren.
Weiterhin kann es daran liegen, dass ein Wert aus den <strong>Lagereinstellungen</strong> (wie oben genannt) zu lang ist - z.B. oft schon bei Firma der Fall gewesen. Amazon nimmt in den meisten Feldern nur Werte bis zu einer bestimmten Größe an (welche mir leider nicht exakt bekannt sind).
Die letzte Möglichkeit wäre, dass keine <strong>Maße</strong> übermittelt werden. Das kann daran liegen, dass in den Grundeinstellungen für die Versandpakete auf <strong>von Artikel beziehen</strong> gestellt ist, aber in den Artikeln keine Maße eingetragen sind.</p>
</li>
<li>
<p><strong>Error:ShipmentAlreadyExists, Type: Sender</strong> z.B. bedeutet, dass bereits eine Versandanmeldung für den jeweiligen Auftrag besteht.</p>
</li>
<li>
<p><strong>Error:no AmazonPrime Service selected</strong> bedeutet, dass für das Versandprofil aus dem Auftrag in der Portotabelle kein <strong>Amazon-Versandservice</strong> hinterlegt ist.</p>
</li>
<li>
<p><strong>Error:ShippingServiceNotAvailable, Type: Sender</strong> bedeutet, wie die Fehlermeldung bereits sagt, dass ein Amazon-Service für den Auftrag übermittelt wurde, welcher nicht zur Art (z.B. NextDay) des Auftrags passt. Amazon sieht für die unterschiedlichen Arten unterschiedliche Services vor. Daher kommt der Fehler. Prüfen, ob das passende Versandprofil am Auftrag hinterlegt ist und/oder der passende AmazonService in dem Versandprofil eingetragen wurde.</p>
</li>
<li>
<p><strong>Error:ResourceNotFound, Type: Sender</strong> bedeutet, dass der Auftrag auf Amazon nicht existiert oder er bereits storniert wurde.</p>
</li>
<li>
<p><strong>No Valid Warehouse Address</strong> bedeutet, dass für das Lager, aus dem versendet wird, keine oder keine gültigen Werte eingetragen sind (<strong>Einstellungen » Aufträge » Versand » Versanddienstleister » Grundeinstellungen</strong>).</p>
</li>
</ul>
</div>
</div>
</div>
</main>