<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Wie erkenne ich, ob ein Artikel nicht exportiert wurde?</span></a>
<ul class="sectlevel2">
<li><a href="#150"><span>1.1.</span><span> Wie geht ihr am besten vor, um herauszufinden, warum ein Artikel nicht exportiert wurde?</span></a>
<ul class="sectlevel3">
<li><a href="#200"><span>1.1.1.</span><span> Letzte Änderung</span></a></li>
<li><a href="#210"><span>1.1.2.</span><span> Ist der Artikel im Tab: Verfügbarkeit korrekt eingestellt? (pro Variante)</span></a></li>
<li><a href="#220"><span>1.1.3.</span><span> Ist der Artikel im Tab: Multi-Channel korrekt eingestellt?</span></a></li>
<li><a href="#230"><span>1.1.4.</span><span> Stimmen die in den Grundeinstellungen hinterlegten Filter überein?</span></a></li>
<li><a href="#240"><span>1.1.5.</span><span> Der Preis</span></a></li>
<li><a href="#250"><span>1.1.6.</span><span> Aktiv</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#260"><span>2.</span><span> Wie kann ich testen, ob der Artikel exportiert wurde?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practice: Artikeldatenexport</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Anhand dieser Checkliste solltet ihr herausfinden können, warum ein Artikel nicht zu Amazon übermittelt wird (bitte folgende Erläuterung beachten).</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Ggf. bedarf es hierbei vorweg um eine kurze Aufklärung:</div>
<div class="paragraph">
<p>Für die Übergabe von Artikeldaten an Amazon kann der <strong>automatische Export</strong> nachts oder der <strong>manuelle Export</strong> unter <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Datenexport</strong> genutzt werden.
In beiden Fällen wird eine CSV-Datei generiert. <strong>Diese Checkliste kann euch in den Fällen helfen, in denen ein Artikel in dieser CSV nicht vorhanden ist.</strong> Ist der Artikel in dieser CSV-Datei vorhanden, wird aber nicht auf Amazon bzw. in deinem Seller Central angezeigt, muss z.B. über die Fehlerberichte von Amazon geprüft werden, warum der Artikel bei Amazon nicht angenommen wurde.
Weiterhin benötigt ihr natürlich einen bereits laufenden Datenabgleich mit Amazon (hinterlegte Amazon-Grundeinstellungen).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Wie erkenne ich, ob ein Artikel nicht exportiert wurde?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn ihr alle folgenden Fragen mit <strong><em>Nein</em></strong> beantwortet, spricht alles dafür, dass der Artikel nicht exportiert wurde.</p>
</div>
<div class="olist upperalpha">
<ol class="upperalpha" type="A">
<li>
<p>Ist der Artikel im Seller Central zu finden?</p>
</li>
<li>
<p>Ist in den Verarbeitungsberichten von Amazon ein Fehler zu diesem Artikel zu finden (im Seller Central unter <strong>Lagerbestand » Mehrere Artikel hochladen</strong>)?</p>
</li>
<li>
<p>Ist der Artikel in der CSV-Datei, die ihr durch den manuellen Export im Menü <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Datenexport</strong> erzeugen könnt, zu finden?</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hinweis</div>
<div class="paragraph">
<p>Möchtet ihr testen, ob ein oder mehrere bestimmte Artikel nicht exportiert werden, könnt ihr einfach eine Markierung an diesen Artikeln hinterlegen. Die Markierung könnt ihr im Bereich des manuellen Exportes filtern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="150">1.1. Wie geht ihr am besten vor, um herauszufinden, warum ein Artikel nicht exportiert wurde?</h3>
<div class="sect3">
<h4 id="200">1.1.1. Letzte Änderung</h4>
<div class="paragraph">
<p>Prüft, ob die letzte Änderung an dem Artikel in den letzten 24 Stunden vorgenommen wurde, denn exportiert werden nur die Artikel, die in den letzten 24 Stunden geändert wurden.
Am einfachsten könnt ihr herausfinden, wann die letzte Änderung an einer Variante stattgefunden hat, wenn ihr in dem Artikel die jeweilige Variante öffnet. In der Zeile des Speichern-Symbols seht ihr das Datum der letzten Änderung.</p>
</div>
<div id="letzteaenderung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-artikeldatenexport-datum.png" alt="Datum letzte Änderung">
</div>
<div class="title">Bild 1. Datum der letzten Änderung in der Variante</div>
</div>
<div class="paragraph">
<p>Ihr könnt es auch in der Tabellenansicht sehen. Hier müsst ihr nur die Ansicht auf <strong>Varianten</strong> umstellen und die Spalte <strong>letzte Änderung</strong> aktivieren.</p>
</div>
<div id="tabellentyp" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-artikeldatenexport-tabellentyp.png" alt="Tabellentyp Artikelübersicht">
</div>
<div class="title">Bild 2. Tabellentyp in der Artikelübersicht</div>
</div>
<div class="paragraph">
<p>Zu lösen ist das Ganze, indem ihr unter <strong>Artikel » Stapelverarbeitung » Tab: Varianten</strong> die Option <strong>Zeitstempel für Marktplatzexporte aktualisieren</strong> auswählt und ausführt.</p>
</div>
<div id="stapelverarbeitung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-artikeldatenexport-stapelverarbeitung.png" alt="Stapelverarbeitung">
</div>
<div class="title">Bild 3. Stapelverarbeitung Zeitstempel für Marktplatzexporte aktualisieren</div>
</div>
</div>
<div class="sect3">
<h4 id="210">1.1.2. Ist der Artikel im Tab: Verfügbarkeit korrekt eingestellt? (pro Variante)</h4>
<div class="paragraph">
<p>Grundsätzlich muss die <strong>Web-API</strong> aktiviert und die <strong>Amazon-Plattform</strong> entsprechend hinterlegt sein (möchtet ihr auf Amazon.fr listen, muss Amazon France aktiv sein usw.).</p>
</div>
<div id="marktplatzverfuegbarkeit" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-artikeldatenexport-marktplatzverfuegbarkeit.png" alt="Marktplatzverfügbarkeit">
</div>
<div class="title">Bild 4. Marktplatzverfügbarkeit im Artikel</div>
</div>
<div class="paragraph">
<p>Damit ihr diese Herkünfte seht bzw. auswählen könnt, müssen diese unter <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> für eure Menüs sichtbar gestellt sein.</p>
</div>
<div id="auftragsherkunft" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-artikeldatenexport-auftragsherkunft.png" alt="Auftragsherkunft">
</div>
<div class="title">Bild 5. Auftragsherkunft aktivieren</div>
</div>
</div>
<div class="sect3">
<h4 id="220">1.1.3. Ist der Artikel im Tab: Multi-Channel korrekt eingestellt?</h4>
<div class="paragraph">
<p>Hier müsst ihr darauf achten, dass der jeweilige Produkttyp hinterlegt ist.</p>
</div>
</div>
<div class="sect3">
<h4 id="230">1.1.4. Stimmen die in den Grundeinstellungen hinterlegten Filter überein?</h4>
<div class="paragraph">
<p>Dieser Punkt bezieht sich auf die Einstellungen unter <strong>Einrichtung » Märkte » Amazon » Grundeinstellungen</strong>. Hier kann z.B. eingestellt werden, dass nur Artikel mit einer gewissen <strong>Markierung</strong> exportiert werden sollen. Ist diese Markierung nicht an dem Artikel hinterlegt, dann wird der Artikel nicht exportiert.
Weiterhin kann eingestellt werden, dass nur <strong>im Webshop sichtbare</strong> Artikel exportiert werden sollen. Ist der Artikel nicht für den Webshop aktiviert (in der Artikelbearbeitung im <strong>Tab: Einstellungen</strong>), wird der Artikel nicht exportiert.</p>
</div>
<div class="paragraph">
<p>Auf die anderen Filter ist natürlich ebenfalls zu achten.</p>
</div>
</div>
<div class="sect3">
<h4 id="240">1.1.5. Der Preis</h4>
<div class="paragraph">
<p>Ist der für Amazon eingestellte Verkaufspreis = 0,00 oder der Verkaufspreis ist nicht für Amazon freigegeben, dann wird der Artikel nicht exportiert.
Es muss einen Standardpreis geben. Standardpreis heißt ein Verkaufspreis, der weder Aktionspreis noch UVP ist.
Gemeint damit ist die Option <strong>Preistyp</strong> in den Verkaufspreisen unter <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</div>
<div id="verkaufspreis" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-artikeldatenexport-verkaufspreis.png" alt="Verkaufspreis">
</div>
<div class="title">Bild 6. Einstellungen Verkaufspreis</div>
</div>
</div>
<div class="sect3">
<h4 id="250">1.1.6. Aktiv</h4>
<div class="paragraph">
<p>Ist die Variante nicht <strong>aktiv</strong> (<strong>Tab: Einstellungen</strong> einer Variante), wird der Artikel nicht exportiert.</p>
</div>
<div id="aktiv" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-artikeldatenexport-aktiv.png" alt="Aktiv">
</div>
<div class="title">Bild 7. Aktivierte Variante</div>
</div>
<div class="paragraph">
<p>Hierbei sollten die Varianten mit Attributverknüpfung und die Einzelartikelvarianten (also Artikel, welche nur die Hauptvariante besitzen) aktiv sein.
Folgendes ist zu beachten:</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hauptvariante ohne Attributsverknüpfung deaktivieren</div>
<div class="paragraph">
<p>Wenn ein Artikel Varianten mit Attributsverknüpfungen hat, aber die Hauptvariante keine Attributsverknüpfung besitzt, muss die Hauptvariante auf inaktiv gestellt werden, damit diese nicht als Einzelartikel exportiert wird. Hat die Hauptvariante eine Attributsverknüpfung, muss sie auf aktiv gestellt sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="260">2. Wie kann ich testen, ob der Artikel exportiert wurde?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ob ihr alle notwendigen Einstellungen am Artikel vorgenommen habt und ob der Artikel korrekt exportiert wird, könnt ihr im Menü <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Datenexport</strong> testen, indem ihr auf <strong>Datei laden</strong> klickt. Prüft danach, ob der gewünschte Artikel in der erstellten CSV-Datei enthalten ist.</p>
</div>
</div>
</div>
</main>