<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines"><span>1.</span><span> Allgemeines</span></a></li>
<li><a href="#_bei_addressdoctor_registrieren"><span>2.</span><span> Bei AddressDoctor registrieren</span></a></li>
<li><a href="#_addressdoctor_in_plentymarkets_einrichten"><span>3.</span><span> AddressDoctor in plentymarkets einrichten</span></a></li>
<li><a href="#_css"><span>4.</span><span> CSS</span></a></li>
<li><a href="#_adressprüfung"><span>5.</span><span> Adressprüfung</span></a></li>
<li><a href="#_einstellungen_adressprüfung"><span>6.</span><span> Einstellungen Adressprüfung</span></a></li>
<li><a href="#_funktionsbeispiele"><span>7.</span><span> Funktionsbeispiele</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Addressdoctor</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Mandant wählen » Dienste » Addressdoctor</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines">1. Allgemeines</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>AddressDoctor</strong> ist eine Software zur Adressprüfung. Sie korrigiert und standardisiert automatisch postalische Adressen weltweit – unabhängig davon, ob deine Daten in einem CRM-System oder Online-Shop erfasst werden, oder lokal in einer Datenbank gespeichert sind. (Quelle: AddressDoctor)</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_bei_addressdoctor_registrieren">2. Bei AddressDoctor registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um AddressDoctor in plentymarkets nutzen zu können, musst du dich zunächst registrieren.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Info AddressDoctor</div>
<div class="paragraph">
<p>Nähere Informationen über die in plentymarkets verfügbaren Produkte von <strong>AddressDoctor</strong> und zur Anmeldung findest du auf der <a href="http://www.addressdoctor.com/" target="_blank" rel="noopener">Webseite</a>.<br>
Bei Fragen kannst du dich an Dr. Rainer Burkart wenden:<br>
<strong>Tel</strong>. 06237-9774-36<br>
<strong>E-Mail</strong>: <a href="mailto:RainerB@AddressDoctor.com">RainerB@AddressDoctor.com</a></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_addressdoctor_in_plentymarkets_einrichten">3. AddressDoctor in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Menü für AddressDoctor ist in zwei Untermenüs unterteilt. Im Untermenü <strong>Zugangsdaten</strong> aktivierst du lediglich die Schnittstelle. Damit tatsächlich eine Adressprüfung durchgeführt wird, musst du zusätzlich noch Einstellungen im Untermenü <strong>Adressprüfung</strong> vornehmen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-AdressDoc-01-SI.png" alt="DE Einstell Mandant Std ExtDienste AdressDoc 01 SI">
</div>
<div class="title">Bild 1. <strong>Zugangsdaten</strong> für <strong>AddressDoctor</strong></div>
</div>
<div class="paragraph instruction">
<p>AddressDoctor einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Addressdoctor » Zugangsdaten</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor, wie in <a href="#tabelle-zugangsdaten-addressdoctor">Tabelle 1</a> beschrieben.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>, um deine Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen im Untermenü <strong>Zugangsdaten</strong>:</p>
</div>
<table id="tabelle-zugangsdaten-addressdoctor" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. <strong>Zugangsdaten</strong> für <strong>AddressDoctor</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, um die Schnittstelle zu aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer-ID</strong> eintragen, wie von AddressDoctor erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abteilung-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abteilung-ID</strong> eintragen, wie von AddressDoctor erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong> eintragen, wie von AddressDoctor erhalten.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_css">4. CSS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du die Funktionen des AddressDoctor nutzen möchtest, benötigst du ein entsprechendes Design für die im Webshop anzuzeigenden Funktionen.</p>
</div>
<div class="paragraph">
<p>Das folgende CSS-Beispiel ist verwendbar, sollte aber entsprechend der Konfiguration deines Webshops auch ggf. noch angepasst werden. Mit dem Beispiel erhältst du jedoch eine gute Basis.</p>
</div>
<div class="listingblock">
<div class="content">
<pre>/* ADDRESS SUGGESTION LIST */

/* container */
.PlenyWebAddressSelectContainer {
z-index: 10000;
background-color: #fff;
border: 1px solid #ccc;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

/* ul */
.PlenyWebAddressSelectList {
margin: 0;
padding: 0;
}
/* li */
#PlentyWebAddressSelectMainContainer &gt; .PlenyWebAddressSelectContainer &gt; ul.PlenyWebAddressSelectList &gt; li.PlenyWebAddressSelectRow {
margin: 0;
padding: 0 5px;
list-style-type: none;
cursor: pointer;
border-top: 1px solid #f0f0f0;
}
/* li first */
.PlenyWebAddressSelectList &gt; li:first-child {
border-top: none;

-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
}
/* li last */
.PlenyWebAddressSelectList &gt; li:last-child {
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
}
/* li hover */
.PlenyWebAddressSelectList &gt; li:hover {
background-color: #eee;
}

/* address data */
.PlenyWebAddressSelectStreet {
}
.PlenyWebAddressSelectHouseNo {
padding-left: 5px;
}
.PlenyWebAddressSelectHouseNo:after {
content: ",";
}
.PlenyWebAddressSelectZip {
padding-left: 5px;
}
.PlenyWebAddressSelectCity {
padding-left: 5px;
}</pre>
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">In CSSContent einfügen</div>
<div class="paragraph">
<p>Füge den Code unter <strong>CMS » Webdesign » Layout » CSS » CSSContent</strong> im Anschluss an den vorhandenen Code.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_adressprüfung">5. Adressprüfung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mithilfe dieser Funktion kannst du Adressen deiner Kunden schon direkt bei der Eingabe prüfen lassen oder wenn die Daten des Kunden gespeichert werden. Damit die Prüfung durchgeführt werden kann, musst du die Schnittstelle zu <strong>AddressDoctor</strong> eingerichtet und aktiviert haben. Nähere Informationen über AddressDoctor und zu den Preisen für Adressprüfungen erhältst du von <a href="http://www.addressdoctor.com/de/adress-management-loesungen/online-shops-e-commerce/online-shops-e-commerce.html" target="_blank" rel="noopener">AddressDoctor</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstellungen_adressprüfung">6. Einstellungen Adressprüfung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Menü stellst du ein, welche Adresse geprüft wird und wann die Prüfung erfolgt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-AdressDoc-02-SI.png" alt="DE Einstell Mandant Std ExtDienste AdressDoc 02 SI">
</div>
<div class="title">Bild 2. Einstellungen für <strong>Adressprüfung</strong></div>
</div>
<div class="paragraph instruction">
<p>Adressprüfung einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Addressdoctor » Adressprüfung</strong>.</p>
</li>
<li>
<p>Klicke auf das gewünschte Tab, um den zu prüfenden Bereich zu wählen.</p>
</li>
<li>
<p>Nimm die Einstellungen vor, wie in <a href="#tabelle-einstellungen-adresspruefung">Tabelle 2</a> beschrieben.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>, um deine Einstellungen zu sichern.<br>
→ Anschließend kannst du die Prüfung für weitere Adressen einrichten. Gehe dabei gleichermaßen vor.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen im Untermenü <strong>Adressprüfung</strong>:</p>
</div>
<table id="tabelle-einstellungen-adresspruefung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für <strong>Adressprüfung</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Adressprüfung bei Speicherung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Dienstleister aus, mit dem die Adressprüfung durchgeführt werden soll. Aktuell besteht zunächst eine Schnittstelle zu AddressDoctor. Mit dieser Einstellung wird die Adresse des Kunden bei der Speicherung geprüft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Adressprüfung bei Eingabe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Dienstleister aus, mit dem die Adressprüfung durchgeführt werden soll. Aktuell besteht zunächst eine Schnittstelle zu AddressDoctor. Mit dieser Einstellung wird die Adresse des Kunden bereits geprüft wenn er oder sie die Daten eingibt.<br>
<strong>Wichtig</strong>: Wähle nur eine der beiden Adressprüfungen. Wähle entweder <strong>Adressprüfung bei Eingabe</strong> oder <strong>Adressprüfung bei Speicherung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Adressprüfung erzwingen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trage hier einen gewünschten Zeitraum in Tagen ein, nach dem die Adressprüfung wiederholt werden soll. Es erfolgt dann automatisch nach dem hinterlegten Zeitraum eine erneute Prüfung, auch wenn die Adresse jeweils nicht erneut gespeichert oder neu eingegeben wurde.<br>
<strong>Tipp</strong>: Wähle den Zeitraum möglichst so, dass eine Prüfung erfolgt, bevor der erste Versand erfolgt. So werden ggf. falsche Angaben oder Änderungen rechtzeitig erkannt und können noch korrigiert werden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeispiele">7. Funktionsbeispiele</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Bilder zeigen Beispiele der Adresseingabe, Anzeige von Vorschlägen sowie der Korrektur der Rechnungsanschrift mit Addressdoctor. <a href="#bild-vorschlaege-eingabe-adresse">Bild 3</a> zeigt die Vorschläge, wenn die Adressprüfung bei Eingabe der Adresse aktiviert ist. <a href="#bild-eingabe-unvollstaendige-adresse">Bild 4</a> zeigt die Eingabe einer unvollständigen Adresse. <a href="#bild-korrigierte-adresse">Bild 5</a> zeigt, wie die Adresse dann aufgrund des Vorschlags von Addressdoctor korrigiert wurde.</p>
</div>
<div id="bild-vorschlaege-eingabe-adresse" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-AdressDoc-03-SI.png" alt="DE Einstell Mandant Std ExtDienste AdressDoc 03 SI">
</div>
<div class="title">Bild 3. <strong>Vorschläge</strong> bei Eingabe der Adresse</div>
</div>
<div class="paragraph">
<p>Das folgende Bild zeigt ein Beispiel für eine unvollständig eingegebene Adresse.</p>
</div>
<div id="bild-eingabe-unvollstaendige-adresse" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-AdressDoc-04-SI.png" alt="DE Einstell Mandant Std ExtDienste AdressDoc 04 SI">
</div>
<div class="title">Bild 4. Eingabe einer <strong>unvollständigen Adresse</strong></div>
</div>
<div class="paragraph">
<p>Das folgende Bild zeigt die Korrektur der unvollständigen Adresse.</p>
</div>
<div id="bild-korrigierte-adresse" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-AdressDoc-05-SI.png" alt="DE Einstell Mandant Std ExtDienste AdressDoc 05 SI">
</div>
<div class="title">Bild 5. <strong>Korrigierte Adresse</strong></div>
</div>
</div>
</div>
</main>