<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_facebook"><span>1.</span><span> Facebook</span></a></li>
<li><a href="#_facebook_einrichten"><span>2.</span><span> Facebook einrichten</span></a></li>
<li><a href="#_webshop_login_über_facebook"><span>3.</span><span> Webshop-Login über Facebook</span></a>
<ul class="sectlevel2">
<li><a href="#_app_zugangsdaten_hinterlegen"><span>3.1.</span><span> App-Zugangsdaten hinterlegen</span></a></li>
<li><a href="#_platzhalter_hinterlegen"><span>3.2.</span><span> Platzhalter hinterlegen</span></a></li>
<li><a href="#_login_funktion_aktivieren"><span>3.3.</span><span> Login-Funktion aktivieren</span></a></li>
<li><a href="#_facebook_login_im_webshop"><span>3.4.</span><span> Facebook-Login im Webshop</span></a></li>
</ul>
</li>
<li><a href="#_facebook_kommentarfunktion_einrichten"><span>4.</span><span> Facebook-Kommentarfunktion einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_facebook_id_hinterlegen"><span>4.1.</span><span> Facebook-ID hinterlegen</span></a></li>
<li><a href="#_optional_facebook_app_id_hinterlegen"><span>4.2.</span><span> Optional: Facebook-App-ID hinterlegen</span></a></li>
<li><a href="#_cms_code_generieren_und_einfügen"><span>4.3.</span><span> CMS-Code generieren und einfügen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Facebook</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Global » Dienste » Facebook</strong></p>
</div>
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Mandant wählen » Dienste » Social Media</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_facebook">1. Facebook</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Facebook</strong> ist mittlerweile <strong>das dominierende soziale Netzwerk weltweit</strong> und auch in Deutschland führend. Dabei sieht sich Facebook als "Soziales Werkzeug", also als eine Plattform, mit deren Hilfe Entwickler neue Applikationen erschaffen (golem.de). Wer eine eigene Facebook-App (z.B. für den Webshop) entwickelt hat, kann dieses Menü verwenden, um die App mit plentymarkets zu verbinden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Facebook-App</div>
<div class="paragraph">
<p>Wenn du noch keine <strong>Facebook-App</strong> entwickelt hast und diesbezügliche <strong>Informationen</strong> benötigst, findest du hilfreiche Information dazu auf <a href="http://developers.facebook.com/docs/appsonfacebook/tutorial/" target="_blank" rel="noopener">developers.facebook.com/docs/appsonfacebook/tutorial/</a>.<br>
Deutschsprachige Anleitungen, wie du eine <strong>Facebook-App</strong> in deinen Account <strong>integrierst</strong>, findest du in einschlägigen Tutorials und Blogs im Internet sowie in entsprechender Literatur. Es sind gewisse Kenntnisse nötig, um eine App zu realisieren, die du dir vorher aneignen solltest oder du lässt die Entwicklung der App z.B. von einem Dienstleister ausführen.<br>
Ein Beispiel für eine <strong>Facebook-App</strong> ist ein <strong>Gewinnspiel</strong>, auch dazu gibt es im Internet verschiedene weitere Informationen, wie du ein Gewinnspiel als App erstellet und integrierst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Sandbox-Modus</div>
<div class="paragraph">
<p>Für nach dem 3.4.2013 erstellte Facebook-Apps gilt die Grundeinstellung <strong>Sandbox-Modus</strong>. Das heißt, diese Apps sind in diesem Testmodus nicht öffentlich sichtbar. Prüfe diese Einstellung gegebenfalls. Den Sandbox-Modus kannst du in den Grundeinstellungen unter <a href="https://developers.facebook.com/apps" target="_blank" rel="noopener">https://developers.facebook.com/apps</a> ausschalten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kommentarfunktion</div>
<div class="paragraph">
<p>Wenn du <strong>keine App</strong> verwenden möchtest, kannst du z.B. trotzdem die <strong>Facebook-Kommentarfunktion</strong> nutzen. Beachte dazu den Handbuchlink am Ende dieser Seite.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_facebook_einrichten">2. Facebook einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du musst die folgenden Schritte durchführen, um deine Facebook-App mit plentymarkets zu verbinden.</p>
</div>
<div class="paragraph instruction">
<p>Facebook App-Einstellungen hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facebook</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Facebook App-Einstellungen</strong>.</p>
</li>
<li>
<p>Hinterlege die <strong>APP ID</strong> und die ID unter <strong>APP SECRET</strong>, die du zum Konfigurieren deiner Facebook-App verwendet hast.</p>
</li>
</ol>
</div>
<div id="bild-facebook-app-einstellungen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-GlobEinstell-ExtDienste-Facebook-01-SI.png" alt="DE Mandant GlobEinstell ExtDienste Facebook 01 SI">
</div>
<div class="title">Bild 1. <strong>Facebook App-Einstellungen</strong> hinterlegen</div>
</div>
<div class="paragraph instruction">
<p>Neues Facebook-Konto registrieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facebook</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Facebook-Konten</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong> neben dem Link <strong>Neues Facebook-Konto registrieren</strong>.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-GlobEinstell-ExtDienste-Facebook-02-SI.png" alt="DE Mandant GlobEinstell ExtDienste Facebook 02 SI">
</div>
<div class="title">Bild 2. Link zur Registrierung in plentymarkets</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Es öffnet sich ein neues Fenster, in dem du an <strong>Facebook</strong> weitergeleitet wirst. Logge dich ggf. ein. <strong>Facebook</strong> fragt dich nun, ob du den Zugriff der plentymarkets-Schnittstelle erlauben möchtest. Bestätige dies.</p>
</li>
<li>
<p>Wenn du nun das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facebook</strong> neu lädst, wird die Gültigkeit deiner Registrierung angezeigt.</p>
</li>
<li>
<p>Wähle bei mehreren Konten ein <strong>Standard-Konto</strong>.</p>
</li>
<li>
<p>Das Menü wurde eingerichtet. Du kannst nun deine Apps auf der Facebook-Seite verwalten.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-GlobEinstell-ExtDienste-Facebook-03-SI.png" alt="DE Mandant GlobEinstell ExtDienste Facebook 03 SI">
</div>
<div class="title">Bild 3. Facebook-Konto</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Löschfunktion</div>
<div class="paragraph">
<p>Du kannst das Facebook-Konto wieder löschen. Wenn du das Konto mit dem <strong>Löschen-Icon</strong> gelöscht hast, kannst du es, wie zu Beginn dieses Kapitels beschrieben, jederzeit wieder einrichten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_webshop_login_über_facebook">3. Webshop-Login über Facebook</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden wird erläutert, wie du deinen Kunden die Möglichkeiten anbietest, sich über <strong>Facebook-Zugangsdaten</strong> in deinen <strong>Webshop einzuloggen</strong>. Um die Funktion verwenden zu können, benötigst du eine eingerichtete <strong>Facebook-App</strong>. Zur Verlinkung zu Facebook hinterlegst du dann deine Facebook-Zugangsdaten, wie nachfolgend beschrieben.</p>
</div>
<div class="paragraph">
<p>Beachte den <strong>Hinweis zu Facebook-Apps</strong> in Kapitel 1.</p>
</div>
<div class="sect2">
<h3 id="_app_zugangsdaten_hinterlegen">3.1. App-Zugangsdaten hinterlegen</h3>
<div class="paragraph">
<p>Nachdem du bei Facebook eine <strong>App</strong> eingerichtet hast, erhältst du die <strong>Zugangsdaten</strong>, die du dann in plentymarkets hinterlegst.</p>
</div>
<div class="paragraph instruction">
<p>Facebook-App-Einstellungen hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facebook</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Facebook-App-Einstellungen</strong>.</p>
</li>
<li>
<p>Trage die <strong>APP-ID</strong> und das <strong>APP-Secret</strong> ein, wie von Facebook erhalten (<a href="#bild-facebook-app-einstellungen">Bild 1</a>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_platzhalter_hinterlegen">3.2. Platzhalter hinterlegen</h3>
<div class="paragraph">
<p>Es stehen folgende <strong>Platzhalter</strong> für die Integration des Facebook-Logins zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$FacebookLoginButton</p>
</li>
<li>
<p>$FacebookLoginScript</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Hinterlege die <strong>Platzhalter</strong> im Menü <strong>CMS » Webdesign » Layout » PageDesign » PageDesignContent</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Alternativ zum Platzhalter für den <strong>Login</strong> kannst du die Schaltfläche auch individuell im Layout ohne den Platzhalter konfigurieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_login_funktion_aktivieren">3.3. Login-Funktion aktivieren</h3>
<div class="paragraph">
<p>Die Login-Funktion aktivierst du wie nachfolgend beschrieben. Du kannst die Funktion bei Bedarf an dieser Stelle auch wieder inaktiv schalten.</p>
</div>
<div class="paragraph instruction">
<p>Facebook-App-Funktion aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Social Media</strong>.</p>
</li>
<li>
<p>Stelle auf die Option <strong>Facebook Login</strong> auf <strong>aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_facebook_login_im_webshop">3.4. Facebook-Login im Webshop</h3>
<div class="paragraph">
<p>Das folgende Bild zeigt das Layout der Funktion. Der Kunde klickt auf die Schaltfläche <strong>Anmelden</strong> und es wird ein Fenster mit dem Facebook-Login geöffnet.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-GlobEinstell-ExtDienste-Facebook-04-SI.png" alt="DE Mandant GlobEinstell ExtDienste Facebook 04 SI">
</div>
<div class="title">Bild 4. ebshop-Login mit Facebook-Zugangsdaten</div>
</div>
<div class="paragraph">
<p>Beim Login mit den Facebook-Zugangsdaten wird für den betreffenden Webshopbesucher automatisch ein <strong>Kundenkonto</strong> angelegt. Sollte der Kunde innerhalb der nächsten 90 Tage nicht in dem betreffenden Webshop bestellen, wird das Kundenkonto automatisch wieder gelöscht.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Weitere Facebook-Funktionen</div>
<div class="paragraph">
<p>Mit plentymarkets hast du auch die Möglichkeit, z.B. die Facebook-Kommentarfunktion in deinem Webshop einzurichten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_facebook_kommentarfunktion_einrichten">4. Facebook-Kommentarfunktion einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Kommentarfunktion einzurichten, fügst du Codes in das Template <strong>ItemViewSingleItem</strong> deines Webshops ein. Diese Codes steuern die Verlinkung des Artikelbilds sowie die Verlinkung zu Facebook. <a href="#bild-facebook-kommentarfunktion-artikelseite">Bild 5</a> zeigt ein Beispiel für die Kommentarfunktion. Gehe wie unten beschrieben vor, um die Facebook-Kommentarfunktion in plentymarkets einzurichten.</p>
</div>
<div id="bild-facebook-kommentarfunktion-artikelseite" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/Facebook-01.png" alt="Facebook 01">
</div>
<div class="title">Bild 5. Facebook-Kommentarfunktion auf einer Artikelseite</div>
</div>
<div class="sect2">
<h3 id="_facebook_id_hinterlegen">4.1. Facebook-ID hinterlegen</h3>
<div class="paragraph">
<p>Damit die Kommentarfunktion mit deinem Facebook-Account verknüpft und dort angezeigt wird, benötigt das System deine Facebook-ID. Die Facebook-ID findest du in deinem Facebook-Profil.</p>
</div>
<div class="paragraph instruction">
<p>Facebook-ID hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » Ordner: PageDesign</strong>.</p>
</li>
<li>
<p>Öffne das Template <strong>PageDesignContent</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>PageDesignContentHtmlStructure</strong>.</p>
</li>
<li>
<p>Füge den folgenden Code in das Tab ein:<br>
<strong>&lt;meta property="fb:admins" content="Facebook-ID"&gt;</strong>.</p>
</li>
<li>
<p>Ersetze <strong>Facebook-ID</strong> durch deine eigene Facebook-ID.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_optional_facebook_app_id_hinterlegen">4.2. Optional: Facebook-App-ID hinterlegen</h3>
<div class="paragraph">
<p>Du kannst zusätzlich zu deiner Facebook-ID auch deine Facebook-App-ID hinterlegen. Wenn deine Seite viele Kommentarfelder enthält, empfiehlt Facebook, eine App-ID als Administrator zu hinterlegen. Dies schaltet eine Moderationsschnittstelle auf Facebook frei, die es erlaubt, alle Kommentare sämtlicher Plugins durch deine App-ID zu verwalten. Alle Admins dieser App können dann die Kommentare moderieren. Registrier deine Website bei Facebook, um eine App-ID zu erhalten. Eine gute Anleitung dazu findest du z.B. <a href="http://developers.facebook.com/docs/guides/web/#login" target="_blank" rel="noopener">hier</a>.</p>
</div>
<div class="paragraph">
<p>Der Code für die Integration deiner Facebook-App-ID lautet <strong>&lt;meta property="fb:app_id" content="*APP-ID</strong>"&gt;*. Füge den Code wie oben für die Facebook-ID beschrieben in das Template <strong>PageDesignContentHtmlStructure</strong> ein. Ersetze dann <strong>APP-ID</strong> durch deine eigene Facebook-App-ID.</p>
</div>
</div>
<div class="sect2">
<h3 id="_cms_code_generieren_und_einfügen">4.3. CMS-Code generieren und einfügen</h3>
<div class="paragraph">
<p>Nun benötigest du einen Code, um die Kommentarfunktion in deinem Webshop einzufügen. Den Code generierst du auf dieser <a href="http://developers.facebook.com/docs/reference/plugins/comments/" target="_blank" rel="noopener">Facebook-Seite</a>. Trage die URL deines Webshops in der Zeile <strong>URL to comment on</strong> ein und klicke auf <strong>Get Code</strong>, um den Code zu generieren.</p>
</div>
<div class="paragraph">
<p>Der generierte Code wird in einem neuen Fenster angezeigt und besteht aus zwei Teilen. Der erste Teil enthält den Code für die Verknüpfung der Kommentarfunktion. Also, dem Teil zum Eingeben von Kommentaren. Der zweite Teil enthält den Code zur Darstellung abgegebener Kommentare. Gehe wie nachfolgend beschrieben vor, um die beiden Codeteile in dein Design einzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Code für Facebook-Kommentarfunktion einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » Ordner: ItemView</strong>.</p>
</li>
<li>
<p>Öffne das Template <strong>ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Füge Teil 1 des Facebook-Codes am Ende des Templates ein.</p>
</li>
<li>
<p>Prüfe die Codezeile mit dem Sprachkürzel und passe ggf. die Sprache an.<br>
<strong>Beispiel</strong>: Wenn im Code <strong>"//connect.facebook.net/en_US/all.js#xfbml=1"</strong> steht und die Sprache Deutsch sein soll, ersetzt du die <strong>en_US</strong>-Sprachkürzel durch <strong>de_DE</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Der zweite Teil des Codes wird für die Platzierung der Kommentarfunktion auf der Seite verwendet. Füge den Code an der Stelle im Template <strong>ItemViewSingleItem</strong> ein, an der die Kommentare angezeigt werden sollen.</p>
</div>
<div class="paragraph instruction">
<p>Code für die Platzierung der Facebook-Kommentare einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » Ordner: ItemView</strong>.</p>
</li>
<li>
<p>Öffne das Template <strong>ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Füge Teil 2 des Facebook-Codes an der Stelle des Templates ein, an der die Kommentare angezeigt werden sollen.</p>
</li>
<li>
<p>Wenn du im Menü <strong>Einrichtung » Mandant » Mandant wählen » SEO » URL-Aufbau » Sonstige</strong> für die Option <strong>Verlinkung innerhalb der Webseite</strong> die Einstellung <strong>Relative Links</strong> gewählt hast, ersetze den Codeteil <strong>data-href="IHRE_DOMAIN"</strong> durch <strong>data-href="$BaseURL4Links$CanonicalUrl</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Canonical-Tags</strong></div>
<div class="paragraph">
<p>Platziere auf der Seite kein eigenes Canonical-Tag (z.B. &lt;link href="http://www.IhrWebshop.de" rel="canonical" /&gt;), da plentymarkets automatisch Canonical-Tags einfügt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>