<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_treepodia"><span>1.</span><span> Treepodia</span></a></li>
<li><a href="#_treepodia_einrichten"><span>2.</span><span> Treepodia einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_vertrag_mit_treepodia_abschließen"><span>2.1.</span><span> Vertrag mit Treepodia abschließen</span></a></li>
<li><a href="#_texte_in_videos_einsetzen"><span>2.2.</span><span> Texte in Videos einsetzen</span></a>
<ul class="sectlevel3">
<li><a href="#_globale_slogans"><span>2.2.1.</span><span> Globale Slogans</span></a></li>
<li><a href="#_freitextfelder_einrichten"><span>2.2.2.</span><span> Freitextfelder einrichten</span></a></li>
</ul>
</li>
<li><a href="#_schnittstelle_in_plentymarkets"><span>2.3.</span><span> Schnittstelle in plentymarkets</span></a></li>
<li><a href="#_exporteinstellungen"><span>2.4.</span><span> Exporteinstellungen</span></a>
<ul class="sectlevel3">
<li><a href="#_einstellungen"><span>2.4.1.</span><span> Einstellungen</span></a></li>
<li><a href="#_treepodia_einstellungen"><span>2.4.2.</span><span> Treepodia-Einstellungen</span></a></li>
<li><a href="#_filter_und_formatierung"><span>2.4.3.</span><span> Filter und Formatierung</span></a></li>
</ul>
</li>
<li><a href="#_template_variablen"><span>2.5.</span><span> Template-Variablen</span></a></li>
<li><a href="#_artikelbilder"><span>2.6.</span><span> Artikelbilder</span></a></li>
<li><a href="#_artikelexport"><span>2.7.</span><span> Artikelexport</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Treepodia</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Mandant wählen » Dienste » Treepodia</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_treepodia">1. Treepodia</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit <a href="http://www.treepodia.de/index.html" target="_blank" rel="noopener">Treepodia</a> kannst du deinen gesamten Artikelkatalog ohne Vorlaufkosten mit <strong>Videos</strong> ausstatten. Die Treepodia-Schnittstelle bietet dir die Möglichkeit, aus Artikelbildern <strong>automatisch erzeugte Produkt-Videos</strong> in die SingleArticle-Ansicht von Webshopartikeln einzubinden. Der Service von Treepodia umfasst darüber hinaus auch die Erstellung einer <strong>Video-Sitemap</strong>, über die sich SEO-Effekte in Google erzielen lassen. Die Effektivität der Produktvideos in Bezug auf die Steigerung der Konversionsraten kann tagesaktuell ermittelt werden.<br>
Je nach Shopgröße in Bezug auf die Anzahl der <strong>Besucher pro Monat</strong> und Anzahl <strong>Artikel im Katalog</strong> können unterschiedliche Pakete gebucht werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_treepodia_einrichten">2. Treepodia einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beachte die Hinweise in Kapitel 2.1, bevor du die Schnittstelle in plentymarkets einrichtest.</p>
</div>
<div class="sect2">
<h3 id="_vertrag_mit_treepodia_abschließen">2.1. Vertrag mit Treepodia abschließen</h3>
<div class="paragraph">
<p>Um Treepodia in deinem plentymarkets-System einzurichten, benötigst du eine <strong>Store-UUID</strong>, die du von Treepodia bei <strong>Vertragsabschluss</strong> erhältst. Nimm Kontakt zu Treepodia auf und schließe einen Vertrag ab. Preisinformationen mit direkter Möglichkeit zur Anmeldung für den Treepodia-Service findest du über folgenden <a href="http://www.treepodia.de/plentymarkets.html" target="_blank" rel="noopener">Link</a>.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Vertrag</div>
<div class="paragraph">
<p>Pro <strong>Mandant (Shop)</strong> muss ein separater Vertrag abgeschlossen werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_texte_in_videos_einsetzen">2.2. Texte in Videos einsetzen</h3>
<div class="paragraph">
<p>Es gibt zwei Möglichkeiten, um Texte in die Treepodia-Videos aufzunehmen.</p>
</div>
<div class="sect3">
<h4 id="_globale_slogans">2.2.1. Globale Slogans</h4>
<div class="paragraph">
<p>Sofern du - insbesondere zu Anfang - noch nicht auf Artikelebene individuelle Video-Texte für einzelne oder alle Artikel hast, kannst du shopglobale Slogans verwenden. Diese Slogans sind allgemeingültige Informationen über den Shop, die nicht auf einzelne Artikel bezogen sind, z.B. "Garantierte Qualität" oder ähnlichem (<a href="#bild-treepodia-slogans-freitextfelder">Bild 4</a>).<br>
Sofern auf Artikelebene über Freitextfelder keine oder nicht genügend individuelle Videotexte ausgewählt oder eingerichtet sind, werden die shopglobalen Slogans in die Videos aufgenommen.</p>
</div>
</div>
<div class="sect3">
<h4 id="_freitextfelder_einrichten">2.2.2. Freitextfelder einrichten</h4>
<div class="paragraph">
<p>Über die <strong>Freitextfelder</strong> kannst du für deine Artikel individuelle Texte für die Videos festlegen.<br>
Sofern du eine Kurzbeschreibung hinterlegt hast, die sich zur Anzeige im Video eignet, kannst du das entsprechende Freitextfeld auswählen (<a href="#bild-einstellungen-treepodia">Bild 1</a>).</p>
</div>
<div class="paragraph">
<p>Richte bis zu 4 <strong>Freitextfelder</strong> ein und hinterlege jeweils eine <strong>Feldbezeichnung</strong> pro Freitextfeld, z.B. Treepodia 1, Treepodia 2 etc. Trage bei jedem Artikel für Treepodia in der Artikelbearbeitung im Tab <strong>Felder</strong> für die gewünschten Freitextfelder jeweils einen <strong>Slogan</strong> ein. Dies kann eine Eigenschaft für alle Artikel sein, z.B. ein <strong>Garantiezeitraum</strong> oder eine Eigenschaft für eine bestimmte Artikelgruppe, z.B. <strong>schwenkbares Display</strong> für Digitalkameras.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Aktivierung</div>
<div class="paragraph">
<p>Beachte, dass Freitextfelder über Nacht aktiviert werden und somit erst am nächsten Tag zur Verfügung stehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Gruppenfunktion</div>
<div class="paragraph">
<p>Wenn du viele Artikel für Treepodia konfigurieren möchtest, kannst du die Slogans per <strong>Gruppenfunktion</strong> für alle Artikel, ausgewählte Artikel oder bestimmte Artikelgruppen eintragen. Du kannst die Artikel z.B. auch anhand der <strong>Markierung</strong> bei der Gruppenfunktion auswählen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_schnittstelle_in_plentymarkets">2.3. Schnittstelle in plentymarkets</h3>
<div class="paragraph">
<p>Die Zugangsdaten werden im Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Treepodia</strong> konfiguriert.</p>
</div>
<div id="bild-einstellungen-treepodia" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-treepodia-01-SI.png" alt="DE Einstell Mandant Std ExtDienste treepodia 01 SI">
</div>
<div class="title">Bild 1. Treepodia; <strong>Einstellungen</strong></div>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen im Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Treepodia</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Treepodia; Erläuterung der <strong>Einstellungen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Funktion <strong>aktiviert</strong> die gesamte Schnittstelle.<br>
<strong>Wichtig:</strong> Aktiviere die Schnittstelle erst dann, wenn du alle <strong>Einstellungen</strong> korrekt vorgenommen hast.<br>
<strong>Wichtig:</strong> Erst bei aktivierter Schnittstelle werden <strong>Artikeldaten</strong> an Treepodia übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Store-UUID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trage die <strong>Store-UUID</strong> ein, die du von Treepodia erhalten hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, welcher <strong>Artikelname</strong> für deine Treepodia-Artikel verwendet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Artikel mit Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du kannst hier ein oder zwei <strong>Bedingungen</strong> wählen, nach denen Treepodia-Artikel ausgewählt werden sollen. Wenn du z.B. für die zwei Optionen jeweils eine Markierung wählst, werden nur Artikel gewählt, die genau diese Markierungen eingestellt haben. So erhältst du einen genauen <strong>Filter</strong> für die Auswahl.<br>
<strong>Tipp:</strong> Um größere Artikelbestände zu markieren, kannst du die <strong>Gruppenfunktion</strong> nutzen, um z.B. Artikel einer Kategorie zu suchen und dann zu markieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freitextfeld für Alternativbild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du hast die Möglichkeit, ein <strong>Alternativbild</strong> zu hinterlegen, das angezeigt wird, wenn das Video nicht verfügbar ist.<br>
<strong>Konfiguration:</strong> Hinterlege die URL des Bildes in einem Freitextfeld und stelle das Bild hier ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Video abspielen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du einen Text für einen <strong>Button</strong> zum <strong>Abspielen des Videos</strong> einträgst, wird der Text angezeigt. Trage z.B. <strong>Video abspielen</strong> ein (<a href="#bild-einstellungen-treepodia">Bild 1</a>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Video posten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du einen Text für einen <strong>Button</strong> zum <strong>Posten des Videos</strong> einträgst, wird der Text angezeigt. Trage z.B. <strong>Video teilen</strong> ein (<a href="#bild-einstellungen-treepodia">Bild 1</a>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Video auf folgenden Plattformen posten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier kannst du einen Text hinterlegen, der als Information zu den Icons der Plattformen angezeigt wird, auf denen du das Video teilen kannst, z.B. <strong>Verfügbare Plattformen:</strong> (<a href="#bild-treepodia-video-auf-plattformen-posten">Bild 2</a>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facebook</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Link-Schaltfläche zu <strong>Facebook</strong> anzeigen: Häkchen setzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Twitter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Link-Schaltfläche zu <strong>Twitter</strong> anzeigen: Häkchen setzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LinkedIn</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Link-Schaltfläche zu <strong>LinkedIn</strong> anzeigen: Häkchen setzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kaufen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du einen Text für die Schaltfläche <strong>Kaufen</strong> einträgst, wird Text angezeigt.<br>
<strong>Vorsicht:</strong> Am 01.08.2012 trat eine vom Bundestag vorgelegte Gesetzesänderung in Kraft, nach der der <strong>Text</strong> der Schaltflächen <strong>Kaufen</strong> so formuliert sein muss, dass die <strong>Kostenpflicht</strong> eindeutig erkennbar ist. Der Text <strong>Kaufen</strong> ist demnach nicht mehr ausreichend. Der Gesetzesartikel (siehe Absätze 3 und 4 des § 312g BGB) sieht die Formulierung <strong>Zahlungspflichtig bestellen</strong> oder eine Formulierung mit vergleichbar eindeutiger Aussage vor. Die Schaltfläche <strong>place_order</strong> wurde entsprechend angepasst. <strong>Nimm Änderungen des Textes mit Vorsicht vor und frag ggf. deinen Rechtsberater.</strong><br>
<strong>Tipp:</strong> Informationen zur <strong>Gesetzesänderung</strong> zur Bezeichnung von Schaltflächen findest du im Textarchiv des <a href="http://www.bundestag.de/dokumente/textarchiv/2012/37424023_kw03_pa_recht_verbraucherschutz/index.html" target="_blank" rel="noopener">Bundestages</a> sowie in folgendem <a href="http://www.haendlerbund.de/images/pdf/news/button-loesung-whitepaper.pdf" target="_blank" rel="noopener">Download</a>.<br>
<strong>Info:</strong> Wenn du das Feld leer lässt, wird die Schaltfläche <strong>Kaufen</strong> nicht angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Polling-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese <strong>Polling-URL</strong> wird automatisch generiert.<br>
Diese URL dient Treepodia dazu, eine XML-Datei mit Artikeldaten zu jedem Artikel, zu dem ein Video generiert werden soll, einmal wöchentlich zu pollen.<br>
<strong>Konfiguration:</strong> Sende die <strong>Polling-URL</strong> per einfacher E-Mail, gemeinsam mit dem <strong>Shoplogo</strong> und weiteren Daten (wie z.B. die Auswahl des Templates sowie der Hintergrundmusik etc.) an Treepodia unter der E-Mail-Adresse <a href="mailto:service@treepodia.com">service@treepodia.com</a> (CC an: <a href="mailto:berner@treepodia.de">berner@treepodia.de</a>).<br>
<strong>Ab plentymarkets-Version 4.5</strong>: Wenn du bereits eine Polling-URL übermittelt hast und <strong>mehr als 2000 Artikel</strong> an Treepodia exportierst, übermittele die ab dieser plentymarkets-Version <strong>aktualisierte</strong> Polling-URL an Treepodia.<br>
Der Zeitpunkt des Pollings wird zwischen Treepodia und dem Kunden vereinbart.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Video Sitemap-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über die Video-Sitemap kannst du SEO-Effekte in Google erzielen. Die <strong>Video Sitemap-URL</strong> benötigst du z.B. zum Hinterlegen bei den Google Webmaster Tools.<br>
Hier findest du weitere Infos dazu: <a href="http://support.google.com/webmasters/bin/answer.py?hl=de&amp;answer=80474" target="_blank" rel="noopener">Senden einer Video XML-Sitemap</a><br>
<strong>Konfiguration:</strong> Wenn du die Video-Sitemap nutzen möchtest, trage folgendes in deine <strong>robots.txt</strong> ein: Allow: /plenty/api/TreepodiaVideoSitemap.php.<br>
Die robots.txt deines Systems findest du unter <strong>Einrichtung » Mandant » Mandant wählen » SEO » robots.txt</strong>.</p></td>
</tr>
</tbody>
</table>
<div id="bild-treepodia-video-auf-plattformen-posten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-treepodia-02-SI.png" alt="DE Einstell Mandant Std ExtDienste treepodia 02 SI">
</div>
<div class="title">Bild 2. Treepodia; Beispielanzeige <strong>Video auf folgenden Plattformen posten</strong></div>
</div>
</div>
<div class="sect2">
<h3 id="_exporteinstellungen">2.4. Exporteinstellungen</h3>
<div class="sect3">
<h4 id="_einstellungen">2.4.1. Einstellungen</h4>
<div class="paragraph">
<p>Die Exporteinstellungen nimsmt du im Menü <strong>Einrichtung » Märkte » Preisportale » Exporte</strong> vor. Konfiguriere dort ein <strong>Exportformat</strong> für Treepodia.</p>
</div>
<div id="bild-treepodia-export-einstellungen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-treepodia-03-SI.png" alt="DE Einstell Mandant Std ExtDienste treepodia 03 SI">
</div>
<div class="title">Bild 3. Treepodia; <strong>Export-Einstellungen</strong></div>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen im Menü <strong>Einrichtung » Märkte » Preisportale » Exporte</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Treepodia; Erläuterung der <strong>Export-Einstellungen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datenformat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du hier kein <strong>Sonderformat</strong> wählst, ist die Option <strong>Standardformat für Preissuchmaschinen</strong> eingestellt, das für die meisten Preissuchmaschinen verwendbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trage einen <strong>Namen</strong> bzw. eine <strong>Bezeichnung</strong> für das Datenformat ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unter diesem Namen wird das Datenformat dann im Tab <strong>Export</strong> als Untermenü angelegt und kann dort bearbeitet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Um nachvollziehen zu können, über welche Preissuchmaschine ein Kunde auf deine Seite kam, triff unter <strong>Auftragsherkunft</strong> die entsprechende Auswahl.<br>
Dadurch wird die URL um den entsprechenden Parameter erweitert. Gelangt ein Kunde über die Preissuchmaschine in deinen Shop und kauft dort einen Artikel, wird in der Bestellung die entsprechende Auftragsherkunft der URL hinterlegt.<br>
<strong>Tipp:</strong> Im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> kannst du noch weitere Auftragsherkünfte anlegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preisspalte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die gewünschte <strong>Preisspalte</strong>. Die Einstellung <strong>Automatisch</strong> bedeutet, dass der Preis übertragen wird, der in der Auftragsherkunft hinterlegt wurde. Jede andere Einstellung hat somit eine höhere Priorität, als die Einstellung in der Auftragsherkunft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die <strong>Sprache</strong> für den Artikelexport.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten überschreiben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du kannst hier die jeweils konfigurierten Versandkosten mit einem <strong>individuellen Versandkostenbetrag</strong> überschreiben. Trage einen <strong>Betrag</strong> ein und <strong>aktiviere</strong> die Funktion (Häkchen setzen).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL-Parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du kannst hier einen Suffix (Anhang) für die URL eintragen, wenn das für den jeweiligen Export erforderlich ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cache-Datei generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für Treepodia kann <strong>keine Cache-Datei</strong> generiert werden. Verwende bitte die Option <strong>Artikelauswahl</strong> (siehe unten).</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_treepodia_einstellungen">2.4.2. Treepodia-Einstellungen</h4>
<div class="paragraph">
<p>Slogans und Freitextfelder werden auch im Menü <strong>Einrichtung » Märkte » Preisportale » Exporte</strong> hinterlegt.</p>
</div>
<div id="bild-treepodia-slogans-freitextfelder" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-treepodia-04-SI.png" alt="DE Einstell Mandant Std ExtDienste treepodia 04 SI">
</div>
<div class="title">Bild 4. Treepodia; <strong>Slogans und Freitextfelder</strong></div>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen im Menü <strong>Einrichtung » Märkte » Preisportale » Exporte</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Treepodia; <strong>Slogans und Freitextfelder</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Funktion <strong>aktiviert</strong> diese Einstellungen.<br>
<strong>Wichtig:</strong> Aktiviere diese erst dann, wenn du alle <strong>Einstellungen</strong> korrekt vorgenommen hast.<br>
<strong>Wichtig:</strong> Erst bei aktivierter Schnittstelle (<a href="#bild-einstellungen-treepodia">Bild 1</a>) werden <strong>Artikeldaten</strong> an Treepodia übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-Slogan 1 - 4</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Slogans sollten <strong>bis zu 5 Wörter</strong> umfassen, Beispiele siehe <a href="#bild-treepodia-export-einstellungen">Bild 3</a>.<br>
<strong>Konfiguration:</strong> Trage hier einen oder bis zu vier <strong>Shop-Slogans</strong> ein.<br>
<strong>Info:</strong> Die Shop-Slogans 1-4 werden als Text in den Videos für alle Artikel verwendet, für die kein Freitextfeld verfügbar ist oder nicht ausgewählt wurde. Es sollten Slogans sein, die für alle Artikel des Shops gelten.<br>
<strong>Wichtig:</strong> Wenn du Shop-Slogans veränderst, sind davon evt. sehr viele Videos betroffen. Bitte beachte die in deinem Paket enthaltenen Änderungen. Darüber hinausgehende Änderungen sind kostenpflichtig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freitextfeld 1 - 4</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle hier jeweils ein <strong>Freitextfeld</strong>, in dem ein Slogan für Treepodia hinterlegt wurde. Du bestimmst mit der Wahl der Nummerierung 1 bis 4 die Reihenfolge der Slogans in den Videos. Wähle also unter Freitextfeld 1 das Freitextfeld mit dem Slogan, der zuerst angezeigt werden soll usw.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_filter_und_formatierung">2.4.3. Filter und Formatierung</h4>
<div class="paragraph">
<p>Filter und Formatierungen werden auch im Menü <strong>Einrichtung » Märkte » Preisportale » Exporte</strong> konfiguriert.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-treepodia-05-SI.png" alt="DE Einstell Mandant Std ExtDienste treepodia 05 SI">
</div>
<div class="title">Bild 5. Treepodia; weitere <strong>Export-Einstellungen</strong></div>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen im Menü <strong>Einrichtung » Märkte » Preisportale » Exporte</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Treepodia; weitere <strong>Export-Einstellungen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Artikel mit Bildern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option (Häkchen setzen), wenn du <strong>nur Artikel mit Bildern exportieren</strong> möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Artikel mit Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (Häkchen setzen), wenn du möchtest, dass nur solche Bilder exportiert werden, die <strong>einer Kategorie zugeordnet</strong> sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Artikel mit Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine <strong>Markierung</strong> oder eine der Optionen <strong>Alle Artikel</strong>, <strong>Alle Artikel mit Markierung 1</strong>, <strong>Alle Artikel ohne Markierung 1</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung <strong>Alle</strong>: alle Webshops oder Einstellung <strong>Standard</strong>: nur der Standard-Webshop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die zu exportierenden Artikel. Standard: <strong>1-4000</strong>.<br>
Du kannst <strong>pro Export bis zu 4000 Artikel</strong> exportieren und hier auswählen, welche Artikelanteile jeweils exportiert werden sollen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Formatierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bilder exportieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, welche <strong>Bilder</strong> exportiert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welcher <strong>Name</strong> soll exportiert werden: <strong>Name 1</strong> (Name), <strong>Name 2</strong> oder <strong>Name 3</strong>?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du kannst wählen, ob die <strong>Beschreibung</strong>, der <strong>Vorschautext</strong> oder die <strong>Technischen Daten</strong> als <strong>Beschreibungstext</strong> angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier findest du die <strong>URL</strong> für die Preissuchmaschinen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel jetzt exportieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicke auf diesen <strong>Link</strong>, um die Artikel zu exportieren.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_template_variablen">2.5. Template-Variablen</h3>
<div class="paragraph">
<p>Zur Integration der Videos in die Artikelansichten stehen folgende <strong>Template-Variablen</strong> zur Verfügung:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Treepodia; Erläuterung der <strong>Template-Variablen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Funktion</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TreepodiaVideo[1][1]</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fügt das jeweilige <strong>Video</strong> in die Artikelansicht ein.<br>
<strong>Tipp:</strong> Sinnvoll ist z.B. die Anzeige des Videos unter <strong>Beschreibung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TreepodiaVideoAutoplay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bewirkt in Kombination mit der Template-Variablen <strong>$TreepodiaVideo[1][1]</strong>, dass das Video bei Aufruf der Detailansicht des Artikels <strong>automatisch</strong> startet.<br>
<strong>Konfiguration:</strong> Füge die Funktion <strong>&#123;&#37;$TreepodiaVideoAutoplay= 1 &#37;&#125;</strong> vor der Template-Variablen <strong>$TreepodiaVideo[1][1]</strong> in das Template <strong>ItemViewSingleItem</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$TreepodiaVideo[1][2]</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fügt einen <strong>Button</strong> in die Artikelansicht ein, über den das Video gestartet wird. Der Text dazu wird im Code hinterlegt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_artikelbilder">2.6. Artikelbilder</h3>
<div class="paragraph">
<p>Treepodia verwendet deine Artikelbilder zur automatischen Videoerstellung. Beachte folgende Voraussetzungen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eine gewisse Systematik der <strong>Bildreihenfolge</strong> ist zu empfehlen, d.h. das erste Bild sollte den Artikel in der Totalen zeigen, danach können weitere Teilansichten folgen. Steuere die Bildreihenfolge durch die <strong>Positionsnummer</strong> in den Bildeinstellungen des jeweiligen Artikels.</p>
</li>
<li>
<p>Alle <strong>Artikelbild-URLs</strong> eines Artikels werden zu Treepodia übertragen.</p>
</li>
<li>
<p>Die Artikelbilder eines Artikels werden <strong>nach Positionsnummer sortiert</strong> übertragen.</p>
</li>
<li>
<p>Das bevorzugte <strong>Datenformat</strong> ist <strong>JPEG</strong>, es sind aber auch die Formate <strong>BMP</strong>, <strong>PNG</strong> und <strong>GIF</strong> möglich.</p>
</li>
<li>
<p>Die <strong>Auflösung</strong> sollte idealerweise <strong>500 x 500 Pixel</strong> betragen, das <strong>Minimum</strong> beträgt <strong>200 x 200 Pixel</strong>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_artikelexport">2.7. Artikelexport</h3>
<div class="paragraph">
<p>Folgende Bedingungen müssen erfüllt sein, um einen erfolgreichen Export zu Treepodia zu erreichen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Schnittstelle muss <strong>aktiviert</strong> sein (<a href="#bild-einstellungen-treepodia">Bild 1</a> und Tab. 1).</p>
</li>
<li>
<p>Die <strong>Markierungen</strong> der Artikel müssen den eingestellten Markierungen entsprechen (Tab. 1).</p>
</li>
<li>
<p>Es muss <strong>mindestens ein Artikelbild pro Artikel</strong> hinterlegt sein.</p>
</li>
<li>
<p>Am Artikel muss mindestens eine <strong>Kategorieverknüpfung</strong> hinterlegt sein und die jeweilige Kategorie muss <strong>aktiviert</strong> sein.</p>
</li>
<li>
<p>Der <strong>Seitenname</strong> (Eintrag: URL_content) muss am Artikel hinterlegt sein bzw. der Artikel muss mindestens einmal im Webshop aufgerufen worden sein.</p>
</li>
<li>
<p>Beim Artikel müssen im Tab <strong>Verfügbarkeit</strong> die Optionen <strong>Webshop</strong> und <strong>Web API</strong> auf <strong>SICHTBAR</strong> gesetzt sein.</p>
</li>
<li>
<p>Die <strong>maximale Artikelmenge</strong>, die exportiert wird, darf <strong>5000</strong> nicht überschreiten, da die Anzahl der Videos pro Webshop auf 5000 begrenzt ist (Standard-Vertrag).</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</main>