<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Trusted Shops Käuferschutz</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Käuferschutzmodelle</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Trusted Shops PLUS konfigurieren</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Ansicht im Webshop (Bezahlvorgang)</span></a></li>
<li><a href="#50"><span>1.4.</span><span> CSS-Code einfügen</span></a></li>
</ul>
</li>
<li><a href="#60"><span>2.</span><span> Kundenbewertungen aktivieren</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>2.1.</span><span> Trusted Shops Kundenbewertung einbinden</span></a>
<ul class="sectlevel3">
<li><a href="#80"><span>2.1.1.</span><span> Template-Variablen</span></a></li>
<li><a href="#90"><span>2.1.2.</span><span> Trusted-Rating-Widget für den Webshop</span></a></li>
<li><a href="#100"><span>2.1.3.</span><span> Schaltfläche Bewerten Sie uns für System-E-Mails und Bestellbestätigungsseite</span></a></li>
</ul>
</li>
<li><a href="#110"><span>2.2.</span><span> Rich Snippets für Google einrichten</span></a></li>
</ul>
</li>
<li><a href="#120"><span>3.</span><span> Trusted Shops Gütesiegel (Trustbadge)</span></a></li>
<li><a href="#130"><span>4.</span><span> Trusted Shops Gütesiegel in deinen Webshop integrieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Trusted Shops</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="http://www.trustedshops.de/" target="_blank" rel="noopener">Trusted Shops</a> ist das bekannte Internet-Gütesiegel für Online-Shops mit Käuferschutz für deine Online-Kunden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Trusted Shops Käuferschutz</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Integration des Trusted Shops Käuferschutzes erfolgt zweistufig. Im ersten Schritt wird das Käuferschutzmodell ausgewählt und konfiguriert, das dem Kunden im Checkout angezeigt wird. Die Mehrheit verwendet den für Verbraucher kostenlosen Käuferschutz <strong>Trusted Shops <em>Basic</em></strong>. Alternativ kansnt du den Käuferschutz <strong>Trusted Shops <em>PLUS</em></strong> verwenden. Im zweiten Schritt erfolgt die <strong>Einbindung</strong> des <strong>Trusted Shops Gütesiegels</strong> im Frontend in Form des <strong>Trustbadges</strong>.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Käuferschutzmodelle</h3>
<div class="paragraph">
<p><strong>Trusted Shops <em>PLUS</em></strong> bietet die Absicherung einer Bestellung bis zu einer Summe von 20.000 Euro. Hierfür fällt eine geringe Gebühr an. Da im Modell <strong>Trusted Shops <em>PLUS</em></strong> der Kunde den Käuferschutz wie ein Produkt in den Warenkorb legt, wird der Käuferschutz automatisch mit Abschluss der Bestellung aktiviert. Dieser Käuferschutz muss bei Trusted Shops zusätzlich gebucht werden. Die Konfiguration wird im folgenden Unterkapitel beschrieben.</p>
</div>
<div class="paragraph">
<p><strong>Trusted Shops <em>Basic</em></strong> ist für den Verbraucher kostenlos. Jede Bestellung kann mit bis zu 2.500 Euro abgesichert werden. Der Käuferschutz wird direkt nach der Bestellung im Shop angeboten.</p>
</div>
<div class="paragraph">
<p>Wenn eine gültige Trusted Shops ID hinterlegt ist, wird dem Kunden in der Auftragsbestätigung eine Schaltfläche zur Anmeldung zum Käuferschutz angezeigt. Durch Klick auf die Schaltfläche wird der Kunde zu Trusted Shops weitergeleitet. Wo du die Trusted Shops ID in plentymarkets hinterlegst, ist in Kapitel 3 auf dieser Seite beschrieben.</p>
</div>
<div class="paragraph">
<p>Beachte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Das Formular der Anmeldung zum Käuferschutz wird nur am Tag des Kaufes angezeigt.</p>
</li>
<li>
<p>Bei Käufen über eBay &amp; Co. wird das Formular ausgeblendet.</p>
</li>
<li>
<p>Weiteres in den <a href="http://www.trustedshops.de/info/kategorie/haeufige_fragen_zu_trusted_shops/geld-zurueck-garantie/" target="_blank" rel="noopener">Fragen zum Käuferschutz</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. Trusted Shops <em>PLUS</em> konfigurieren</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Maerkte-Web-Einstell-TrustedShops-04-SI.png" alt="DE Maerkte Web Einstell TrustedShops 04 SI">
</div>
<div class="title">Bild 1. <strong>Benutzername</strong> und <strong>Passwort</strong> hinterlegen</div>
</div>
<div class="paragraph instruction">
<p>Käuferschutz <strong>Trusted Shops <em>PLUS</em></strong> aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Trusted Shops</strong>.</p>
</li>
<li>
<p>Trage im Tab <strong>Kundenbewertungen</strong> die Trusted Shops ID (33 Zeichen, beginnend mit "X") ein. Die Kundenbewertungen müssen dabei nicht zwingend aktiviert werden.</p>
</li>
<li>
<p>Trage im Tab <strong>Trusted Shops <em>PLUS</em></strong> den <strong>Benutzernamen</strong> und das <strong>Passwort</strong> ein, wie von Trusted Shops erhalten.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>aktiviert</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Ansicht im Webshop (Bezahlvorgang)</h3>
<div class="paragraph">
<p>Für den Käuferschutz wird im Bezahlvorgang der Preis angezeigt und der Käufer kann diese Option dann durch Markieren in den Warenkorb legen. Damit wird die Abwicklung des Käuferschutzes aktiviert.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Maerkte-Web-Einstell-TrustedShops-05-SI.png" alt="DE Maerkte Web Einstell TrustedShops 05 SI">
</div>
<div class="title">Bild 2. Käuferschutz in den Warenkorb legen</div>
</div>
</div>
<div class="sect2">
<h3 id="50">1.4. CSS-Code einfügen</h3>
<div class="paragraph">
<p>Für die Formatierung fügst du den folgenden <strong>CSS-Code</strong> in das Webdesign des Shops ein.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-xml hljs" data-lang="xml">/* TRUSTED SHOPS PROTECTION */

.PlentyWebPaymentMethodTsBuyerProtectionHeadline {
clear: both;
font-weight: bold;
margin-top: 20px;
padding: 0 5px;
}
.PlentyWebPaymentMethodTsBuyerProtectionText {
margin-top: 10px;
}
.PlentyWebPaymentMethodTsBuyerProtectionLink,
.PlentyWebPaymentMethodTsBuyerProtectionText &gt; div {
display: table-cell;
vertical-align: top;
}
.PlentyWebPaymentMethodTsBuyerProtectionText &gt; div {
padding-left: 16px;
color: #848484;
}</code></pre>
</div>
</div>
<div class="paragraph instruction">
<p>CSS-Code einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » CSS » CSSOrder</strong>.</p>
</li>
<li>
<p>Füge den <strong>CSS-Code</strong> im Fenster <strong>CSS</strong> im Anschluss an den dort enthaltenen Code ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">2. Kundenbewertungen aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Tab <strong>Kundenbewertungen</strong> aktivierst du die Trusted Shops Kundenbewertungen.</p>
</div>
<div class="paragraph instruction">
<p>Kundenbewertungen aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Trusted Shops</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Kundenbewertungen</strong>.</p>
</li>
<li>
<p>Öffne das Untermenü der <strong>Sprache</strong>, für welche die <strong>Trusted Shops ID</strong> registriert ist.</p>
</li>
<li>
<p>Gib deine <strong>Trusted Shops ID</strong> ein.<br>
→ Bei formal korrekter ID (33 Zeichen, beginnend mit "X") wird zur <strong>Bestätigung</strong> ein <strong>grünes Icon</strong> angezeigt.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>aktiviert</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>plentymarkets kommuniziert nun mit Trusted Shops und gibt dir, sofern die Aktivierung erfolgreich war, eine Erfolgsmeldung aus.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Trusted Shops ID</div>
<div class="paragraph">
<p>Kommt es hierbei zu Fehlern, beachten, dass du nicht die gleiche Trusted Shops ID für mehrere Sprachen bei derselben Domain aktivieren kannst. Dies gilt jedoch nicht für die Aktivierung einer Trusted Shops ID für einen Mandanten (Shop), der auf einer Subdomain (z. B. "test.test-shop.de") liegt. Beachte dazu bitte auch die <a href="http://www.trustedshops.de/shopbetreiber/download.html" target="_blank" rel="noopener">Nutzungsbedingungen für das Trusted Shops Kundenbewertungssystem</a> und die <a href="http://www.trustedshops.de/shop-info/faq-haufige-fragen-zu-den-trusted-shops-kundenbewertungen/" target="_blank" rel="noopener">Trusted Shops FAQ</a>. Die hier gespeicherten <strong>Trusted Shops IDs</strong> stellen die Grundlage für das Trusted Shops Gütesiegel und den Käuferschutz dar. Eine Trusted Shops ID ist nur für einen von Trusted Shops zertifizierten Webshop sowie für eine bestimmte Sprache gültig.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="70">2.1. Trusted Shops Kundenbewertung einbinden</h3>
<div class="paragraph">
<p>Nachdem du die Kundenbewertung aktiviert hast, bindest du die Bewertung mittels <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#grundlagen-template-variablen">Template-Variablen</a> in das <strong>CMS</strong> deines Webshops ein. Die Trusted Shops Variablen findest du unter den <strong>globalen Variablen</strong> im Ordner <strong>PageDesignTemplateVars</strong> und im Handbuch auf der Seite <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-pagedesign">PageDesign</a>.</p>
</div>
<div class="sect3">
<h4 id="80">2.1.1. Template-Variablen</h4>
<div class="paragraph">
<p>Ist eine <strong>Trusted Shops ID</strong> aktiviert, so kannst du die <strong>Template-Variablen</strong> (Widget und Schaltfläche <strong>Bewerten Sie uns</strong>) – abhängig von der Sprache des Designs – in deinem Webshop einbinden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Integrationshandbuch beachten</div>
<div class="paragraph">
<p>Beachte das Trusted Shops Kundenbewertungen-Integrationshandbuch wenn du Template-Variablen einbindest. Die Variable <strong>$TrustedShopsRatingEmailButton</strong> ist die Schaltfläche <strong>Bewerten Sie uns</strong> für System-E-Mails und Bestellbestätigungsseite. Die Schaltfläche ist in den plentymarkets Layouts standardmäßig enthalten und wird in der Auftragsübersicht angezeigt. Du kannst die Trusted Shops Variablen in jedes Design einbinden. Die <strong>E-Mail-Adresse</strong> des Kunden sowie die <strong>Auftrags-ID</strong> werden automatisch in das Bewertungsformular übertragen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Sprache beachten</div>
<div class="paragraph">
<p>Ist die Kundenbewertung für die jeweilige Design-Sprache nicht aktiviert bzw. wurde für die Sprache nicht bei Trusted Shops gebucht, so werden die Template-Variablen nicht bzw. leer angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="90">2.1.2. Trusted-Rating-Widget für den Webshop</h4>
<div id="bild-trusted-rating-widget-webshop" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/_trusted-shops/assets/DE-trustedshopsratingwidget.gif" alt="DE trustedshopsratingwidget">
</div>
<div class="title">Bild 3. <strong>Trusted-Rating-Widget</strong> für den Webshop</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Das Widget ist im <a href="https://www.trustedshops.de/shop/login.html" target="_blank" rel="noopener">Trusted Shops System</a> bzgl. <strong>Höhe</strong>, <strong>Breite</strong>, <strong>Kommentar</strong> und <strong>Branding</strong> konfigurierbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Bewertungen</div>
<div class="paragraph">
<p>Die Bewertungen sind nicht live sichtbar. Die Widget-Grafik wird täglich neu eingespielt (nachts). Das Widget gemäß <a href="#bild-trusted-rating-widget-webshop">Bild 3</a> wird erst nach 60 Bewertungen angezeigt. Vorher wird es durch die Schaltfläche <strong>Bewerten Sie uns</strong> entsprechend der Template-Variablen <strong>$TrustedShopsRatingShopButton</strong> ersetzt (<a href="#bild-beispiel-bewerten-sie-uns-button">Bild 4</a>).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="100">2.1.3. Schaltfläche <strong>Bewerten Sie uns</strong> für System-E-Mails und Bestellbestätigungsseite</h4>
<div id="bild-beispiel-bewerten-sie-uns-button" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/_trusted-shops/assets/DE-bewerten-de.gif" alt="DE bewerten de">
</div>
<div class="title">Bild 4. Beispiel Schaltfläche Bewerten Sie uns</div>
</div>
<div class="paragraph">
<p>Die Variable <strong>$TrustedShopsRatingEmailButton</strong> verwendest du im <strong>CMS</strong> des Webshops und in E-Mail-Vorlagen. Eine E-Mail, in der die Variable sinnvoll genutzt werden kann, ist z.B. eine Erinnerungs-E-Mail, in der du die Kunden bittest, den Einkauf in deinem Shop zu bewerten. Wie du diese Erinnerung automatisierst, wird im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Erinnerung für Bewertung konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <a href="/automatisierung/aktionsmanager">Einrichtung » Aufträge » Aktionen</a>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Neue Aktion</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Aktion</strong> der neuen Aktion.</p>
</li>
<li>
<p>Wähle für <strong>Versende E-Mail-Vorlage</strong> eine E-Mail-Vorlage aus der Dropdown-Liste, die eine Aufforderung zum Bewerten deines Shops und die entsprechende Template-Variable enthält. <br>
→ Die <a href="/crm/e-mails-versenden#1200">E-Mail-Vorlage</a> erstellst du unter <strong>Einrichtung » Mandant » Mandant wählen » E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Filter</strong>.</p>
</li>
<li>
<p>Wähle einen <strong>Status</strong> aus, z. B. <strong>Warenausgang gebucht</strong>.</p>
</li>
<li>
<p>Wähle eine Option für <strong>letzten Statuswechsel</strong>, z. B. vor 14 Tagen.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit diesen Einstellungen werden deine Kunden immer 14 Tage nach dem Versand der Ware zu einer Bewertung über Trusted Shops aufgerufen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">AGB der Marktplätze beachten</div>
<div class="paragraph">
<p>Beachte die AGB des jeweiligen Marktplatzes, bevor du die Aufforderung zu einer Bewertung deines Webshops einrichtest. Manche Marktplätze erlauben diese Aufforderung nur unter gewissen Voraussetzungen oder gar nicht. Schließe Marktplätze aus, indem du die Marktplätze nicht als <strong>Auftragsherkunft</strong> im Tab <strong>Filter</strong> auswählst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Klartext-Link bei reinen Text-E-Mails</div>
<div class="paragraph">
<p>Wenn die Template-Variable in einer E-Mail-Vorlage eingebunden ist, in der die Nachrichtenbestandteile als <strong>nur reiner Text</strong> konfiguriert sind, wird nur der Link als Klartext und keine zusätzliche Grafik eingefügt. In diesem Fall weist du den Kunden auf die Bedeutung des Links hin, z. B. mit <strong>Bewerten Sie unseren Shop! ($TrustedShopsRatingEmailButton)</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Schaltflächen in E-Mails</div>
<div class="paragraph">
<p>Manche E-Mail-Programme, wie z. B. Mozilla Thunderbird, zeigen Grafiken in E-Mails nicht direkt an. Wenn in einer E-Mail mit der Einstellung <strong>nur HTML-formatierter Text</strong> statt der Grafik ein Text angezeigt wird, prüfe, ob die Grafiken vom E-Mail-Programm evtl. nicht heruntergeladen wurden. Der Link zur Kundenbewertung sollte mit dem Klick auf den Alternativtext jedoch trotzdem funktionieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="110">2.2. Rich Snippets für Google einrichten</h3>
<div class="paragraph">
<p>Rich Snippets dienen der Anzeige ausführlicher Informationen in Suchmaschinen. Um die Trusted Shops Kundenbewertung deines Webshops im Ergebnis einer Google-Suche anzuzeigen, bearbeitest du das <strong>CMS</strong> deines Webshops.</p>
</div>
<div class="paragraph">
<p>Füge den folgenden Code im <strong>CMS</strong> in das Template <strong>PageDesignContentMainFrame</strong> ein.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-xml hljs" data-lang="xml">&lt;a href="http://www.trustedshops.de/shop-info/trusted-shops-kundenbewertungen/"&gt;Kundenbewertungen von Trusted Shops&lt;/a&gt;:
&lt;span xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review-aggregate"&gt;
&lt;span rel="v:rating"&gt;
&lt;span property="v:value"&gt;$TrustedShopsRatingResult&lt;/span&gt;
&lt;/span&gt;/&lt;span property="v:best"&gt;5.00&lt;/span&gt;
bei &lt;span property="v:count"&gt;$TrustedShopsRatingAmount&lt;/span&gt;
&lt;a href="https://www.trustedshops.de/bewertung/info_$TrustedShopsId.html"&gt;Bewertungen&lt;/a&gt;
&lt;/span&gt;</code></pre>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="120">3. Trusted Shops Gütesiegel (Trustbadge)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie du das Trusted Shops Gütesiegel in deinem plentymarkets Backend hinterlegst, wird im Folgenden beschrieben. Anschließend bindest du das Gütesiegel noch in deinen Webshop ein.</p>
</div>
<div class="paragraph instruction">
<p>Trusted Shops Gütesiegel konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Trusted Shops</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Gütesiegel</strong>.</p>
</li>
<li>
<p>Öffne das Untermenü der <strong>Sprache</strong>, für die die <strong>Trusted Shops-ID</strong> registriert ist.</p>
</li>
<li>
<p>Gib deine <strong>Trusted Shops-ID</strong> ein. <br>
→ Bei formal korrekter ID (33 Zeichen, beginnend mit "X") wird zur <strong>Bestätigung</strong> ein <strong>grünes Icon</strong> angezeigt und der Link für den Siegelbox-Generator wird eingeblendet.</p>
</li>
<li>
<p>Klicke über dem Bearbeitungsfenster <strong>Platzhalter-HTML</strong> auf den Link <strong>Trusted Shops Siegelbox-Generator</strong>.<br>
→ Du wirst zur entsprechenden Website von Trusted Shops weitergeleitet. Lass das Tab <strong>Gütesiegel</strong> geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß der Beschreibung von Trusted Shops vor.</p>
</li>
<li>
<p>Wechsle zum geöffneten Tab <strong>Gütesiegel</strong> und füge den HTML-Code von Trusted Shops in das Bearbeitungsfenster ein (Strg bzw. cmd + V oder über die rechte Maustaste).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Lass das Menü geöffnet, um die Einstellungen des folgenden Kapitels <strong>Trusted Shops Gütesiegel in deinen Webshop integrieren</strong> vorzunehmen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-TrustedShops-Kundenbewert02-SI.png" alt="DE TrustedShops Kundenbewert02 SI">
</div>
<div class="title">Bild 5. HTML-Code einer Trusted Shops Siegelbox aus dem <strong>Trusted Shops Siegelbox-Generator</strong>.</div>
</div>
</div>
</div><div class="sect1">
<h2 id="130">4. Trusted Shops Gütesiegel in deinen Webshop integrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Prüfe die <strong>Voraussetzungen</strong> für die Integration des Trusted Shops Gütesiegels:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du hast eine gültige Trusted Shops ID im Tab <strong>Gütesiegel</strong> hinterlegt (Kapitel 2).</p>
</li>
<li>
<p>Du hast das Gütesiegel konfiguriert und sowohl das Siegel als auch die Hintergrundgrafik auf deinem Rechner gespeichert.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Trusted Shops Gütesiegel in deinen Webshop integrieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Trusted Shops</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Gütesiegel</strong>.</p>
</li>
<li>
<p>Öffne das Menü <strong>CMS » Bilder-Galerie</strong>.</p>
</li>
<li>
<p>Öffne den gewünschten Ordner.</p>
</li>
<li>
<p>Klicke auf <strong>Dateien hochladen</strong> und lädst dudas heruntergeladene <strong>Trusted Shops Gütesiegel</strong> und ggf. die <strong>Hintergrundgrafik</strong> von deiner Festplatte in dein plentymarkets System.</p>
</li>
<li>
<p>Kopiere die <strong>URL des Gütesiegels</strong> in die Zwischenablage (Strg bzw. cmd + C). Markiere im HTML-Bearbeitungsfenster im Tab <strong>Gütesiegel</strong> die URL hinter <strong>src=</strong> und füge die URL aus der Zwischenablage dort ein (Strg bzw. cmd + V).</p>
</li>
<li>
<p>Kopiere die <strong>URL der Hintergrundgrafik</strong> und füge diese im HTML-Bearbeitungsfenster anstelle der URL hinter dem HTML-Eintrag <strong>background-image: url</strong> in den HTML-Code ein.</p>
</li>
<li>
<p>Verwende dabei relative Pfadangaben (ohne "http://www.ihr-shop.de/"), wie in der nachfolgenden Abbildung gezeigt, d. h. lösche jeweils den Pfad bis unmittelbar vor <strong>images</strong>. Solltest du das Siegel auch in HTML-E-Mail-Vorlagen verwenden wollen, verwende absolute Pfadangaben (mit "http://www.Ihr-shop.de/"), da die Grafiken sonst nicht erreichbar sind.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-TrustedShops-Kundenbewert03-SIy.png" alt="DE TrustedShops Kundenbewert03 SIy">
</div>
<div class="title">Bild 6. Grafik-Pfadangabe im HTML-Code</div>
</div>
<div class="paragraph instruction">
<p>Variablen in das Template integrieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » PageDesign » PageDesignContent » Tab: PageDesignContentMainFrame</strong>.</p>
</li>
<li>
<p>Klicke auf den Link <strong>Template-Variablen und -Funktionen</strong>, wähle den Ordner <strong>Global/PageDesignTemplateVars</strong> und kopiere die Variable <strong>$TrustedShopsSeal</strong> in die Zwischenablage.</p>
</li>
<li>
<p>Füge die Variable im Template <strong>PageDesignContent</strong> an geeigneter Stelle ein, z. B. nach dem Bereich <strong>Sprachen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Prüfe die Anzeige des Gütesiegels im Webshop.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Weiterführende Hinweise zur Installation findest du ebenfalls im  <a href="http://support.trustedshops.com/de/apps/plentymarkets?shop_id=&amp;variant=&amp;yOffset=" target="_blank" rel="noopener">Support-Bereich von Trusted Shops</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>