<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines_über_twitter"><span>1.</span><span> Allgemeines über Twitter</span></a></li>
<li><a href="#_twitter_in_plentymarkets_einrichten"><span>2.</span><span> Twitter in plentymarkets einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_twitter_auf_der_startseite_einrichten"><span>2.1.</span><span> Twitter auf der Startseite einrichten</span></a></li>
</ul>
</li>
<li><a href="#_tweets_über_die_startseite_versenden"><span>3.</span><span> Tweets über die Startseite versenden</span></a></li>
<li><a href="#_tweets_über_den_aktionsmanager_versenden"><span>4.</span><span> Tweets über den Aktionsmanager versenden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Twitter</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Global » Dienste » Twitter</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_über_twitter">1. Allgemeines über Twitter</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="http:///www.twitter.com" target="_blank" rel="noopener">Twitter</a> ist ein  Mikroblogging-Dienst, mit dem angemeldete Benutzer Textnachrichten mit maximal 140 Zeichen senden und Nachrichten von anderen Benutzern empfangen. Mit plentymarkets können Tweets direkt an Twitter übergeben werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">URL mit bit.ly kürzen</div>
<div class="paragraph">
<p>Auf der Website des online Dienstes <strong>bit.ly</strong> hast du die Möglichkeit, sehr lange URLs kürzen zu lassen. Hast du eine gültige Konfiguration für den Kurz-URL-Dienst bit.ly hinterlegt, werden die URLs, die plentymarkets automatisch für die Tweets generiert, direkt gekürzt. Weitere Details zur Konfiguration von bit.ly findest du auf der Handbuchseite <a href="/omni-channel/online-shop/webshop-einrichten/extras/bit-ly">bit.ly</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_twitter_in_plentymarkets_einrichten">2. Twitter in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Twitter in plentymarkets einrichten und nutzen zu können, benötigst du einen Twitter-Account, den du bei der <a href="http:///www.twitter.com" target="_blank" rel="noopener">Registrierung</a> bei Twitter erhältst.</p>
</div>
<div id="bild-twitter-account-in-plentymarkets" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-GlobaleEinst-Diesnte-Twitter-01.png" alt="DE Einstell Mandant GlobaleEinst Diesnte Twitter 01">
</div>
<div class="title">Bild 1. Twitter-Account in plentymarkets hinzufügen</div>
</div>
<div class="paragraph instruction">
<p>Twitter einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Twitter</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>grüne Plus</strong>, um einen neuen Twitter-Account zu registrieren (<a href="#bild-twitter-account-in-plentymarkets">Bild 1</a> , roter Pfeil).<br>
→ Du wirst an Twitter weitergeleitet, um die Einrichtung der Schnittstelle zu plentymarkets zu bestätigen. Nach der Bestätigung wirst du in dein plentymarkets-System zurückgeleitet.</p>
</li>
<li>
<p>Lade den Bereich <strong>Einrichtung » Mandant » Global » Dienste » Twitter</strong> neu.<br>
→  Die Gültigkeit deiner Registrierung wird angezeigt (<a href="#bild-gueltiges-twitter-konto">Bild 2</a> , blauer Pfeil).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Gleichzeitig wird in deinem Twitter-Account unter <a href="https://twitter.com/account/connections" target="_blank" rel="noopener">https://twitter.com/account/connections</a> die Verbindung zur plentymarkets-Schnittstelle angezeigt.<br>
Sollte deine Registrierung ungültig sein oder hast du in deinem Twitter-Account der plentymarkets-Schnittstelle die Autorisierung entzogen, den Twitter-Webservice zu nutzen, erkennt plentymarkets dies und bietet dir die Möglichkeit, dich erneut zu registrieren.</p>
</div>
<div id="bild-gueltiges-twitter-konto" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-GlobaleEinst-Diesnte-Twitter-02.png" alt="DE Einstell Mandant GlobaleEinst Diesnte Twitter 02">
</div>
<div class="title">Bild 2. gültiges Twitter-Konto</div>
</div>
<div class="sect2">
<h3 id="_twitter_auf_der_startseite_einrichten">2.1. Twitter auf der Startseite einrichten</h3>
<div class="paragraph">
<p>Verknüpfe dein Twitter-Konto mit der Startseite.</p>
</div>
<div id="bild-twitter-friends-timeline" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-GlobaleEinst-Diesnte-Twitter-03.png" alt="DE Einstell Mandant GlobaleEinst Diesnte Twitter 03">
</div>
<div class="title">Bild 3. Element <strong>Twitter Friends Timeline</strong> auswählen</div>
</div>
<div class="paragraph instruction">
<p>Twitter-Dienst auf der Startseite deines plentymarkets-Systems anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Start » Startseite</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Elemente</strong> das Element <strong>Twitter Friends Timeline</strong> aus der Dropdown-Liste (<a href="#bild-twitter-friends-timeline">Bild 3</a>).</p>
</li>
<li>
<p>Klicke auf das <strong>grüne Plus</strong> über <strong>Neues Element</strong>.<br>
→ Das Twitter-Element wird auf der Startseite angezeigt.</p>
</li>
<li>
<p>Klicke rechts oben auf den <strong>Schraubenschlüssel</strong>, um das Element zu öffnen.</p>
</li>
<li>
<p>Wähle unter <strong>Twitter Account</strong> dein Twitter-Konto aus der Dropdown-Liste (<a href="#bild-twitter-konto-auswaehlen">Bild 4</a>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div id="bild-twitter-konto-auswaehlen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-GlobaleEinst-Diesnte-Twitter-04.png" alt="DE Einstell Mandant GlobaleEinst Diesnte Twitter 04">
</div>
<div class="title">Bild 4. Twitter-Konto auswählen</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_tweets_über_die_startseite_versenden">3. Tweets über die Startseite versenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sende über die Startseite Nachrichten bei Twitter und empfange die Nachrichten der Personen, denen du folgst.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-GlobaleEinst-Diesnte-Twitter-05.png" alt="DE Einstell Mandant GlobaleEinst Diesnte Twitter 05">
</div>
<div class="title">Bild 5. Twitter-Nachricht eingeben</div>
</div>
<div class="paragraph instruction">
<p>Tweet versenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Start » Startseite</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>Plus</strong> im Twitter-Element, um deinen Twitter-Account zu öffnen.</p>
</li>
<li>
<p>Gib eine Nachricht in das Textfeld ein.<br>
→ Du siehst im Feld darüber, wie viele Zeichen dir noch zur Verfügung stehen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>, um die Nachricht zu versenden.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_tweets_über_den_aktionsmanager_versenden">4. Tweets über den Aktionsmanager versenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutze den Aktionsmanager, um täglich über deine Live-Shopping-Angebote zu twittern. Weitere Details zum Anlegen der Aktion <strong>Live-Shopping twittern</strong>, findest du auf der Handbuchseite <a href="/omni-channel/online-shop/webshop-einrichten/extras/live-shopping#100">Aktionsmanager</a>.</p>
</div>
</div>
</div>
</main>