<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_stable"><span>stable</span></a>
<ul class="sectlevel2">
<li><a href="#_neu"><span>Neu</span></a></li>
<li><a href="#_geändert"><span>Geändert</span></a></li>
<li><a href="#_behoben"><span>Behoben</span></a></li>
</ul>
</li>
<li><a href="#_early"><span>early</span></a>
<ul class="sectlevel2">
<li><a href="#_neu_2"><span>Neu</span></a></li>
<li><a href="#_geändert_2"><span>Geändert</span></a></li>
<li><a href="#_behoben_2"><span>Behoben</span></a></li>
</ul>
</li>
<li><a href="#_plugin_updates"><span>Plugin-Updates</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 22. Januar 2020</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Erfahre, was sich diese Woche bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div>
<div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_stable">stable</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Bereich findest du alles, was in der letzten Woche auf <strong>stable</strong> veröffentlich wurde.</p>
</div>
<div class="sect2">
<h3 id="_neu">Neu</h3>
<h4 id="_amazon" class="discrete">Amazon</h4>
<div class="ulist">
<ul>
<li>
<p>Die neue Plattform Amazon.nl steht nun zur Verfügung. Amazon.nl wird auch über der EU-Verkäuferkonto von Amazon genutzt. Die Einstellungen werden wie bei den anderen Plattformen (es, it, fr, uk, de) hinterlegt.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do, wenn ihr Amazon.nl nutzen wollt</div>
<div class="ulist">
<ul>
<li>
<p>neue Konfiguration für Amazon.nl anlegen<br></p>
</li>
<li>
<p>die Herkunft <strong>Amazon.nl</strong> unter <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> aktivieren</p>
</li>
<li>
<p>Artikeldaten (Texte, Eigenschaften etc.) in der Sprache NL hinterlegen</p>
</li>
<li>
<p>Verkaufspreis für die Herkunft und das Amazon-Konto freigeben</p>
</li>
<li>
<p>Versandprofile entsprechend anpassen/erweitern</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
<li>
<p>Amazon B2B kann neben den Plattformen DE und UK nun auch für die Plattformen ES, FR und IT B2B verwendet werden. Für die drei Plattformen gelten die Einstellungen wie im <a href="/maerkte/amazon/amazon-einrichten#4550">Handbuch</a> beschrieben.</p>
</li>
</ul>
</div>
<h4 id="_elasticsync" class="discrete">ElasticSync</h4>
<div class="ulist">
<ul>
<li>
<p>Wenn man die Option <strong>Dateien nach Ausführung ins FTP-Archiv verschieben</strong> nutzt, erhalten die zu verschiebenden Dateien ab sofort einen Zeitstempel.</p>
</li>
</ul>
</div>
<h4 id="_prozesse" class="discrete">Prozesse</h4>
<div class="ulist">
<ul>
<li>
<p>Es wurde oberhalb der Prozesse ein neues Feld hinzugefügt, welches den Namen und die vorausgewählte Farbe des Prozesses anzeigt:</p>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/prozesse-feld-name-farbe.png" alt="Neues Feld mit Name und Farbe." width="640" height="360">
</div>
</div>
</li>
</ul>
</div>
<h4 id="_rakuten_de" class="discrete">Rakuten.de</h4>
<div class="ulist">
<ul>
<li>
<p>In Zukunft benötigt Rakuten die Sendungsherkunft jedes Auftrags um diesen als versendet zu markieren. Die benötigten Informationen werden automatisch über die Ereignisaktion <strong>Versandbestätigung an Rakuten senden</strong> an Rakuten.de übertragen. Die jeweiligen Daten werden aus dem mit dem Auftrag verknüpften Lager geladen.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_geändert">Geändert</h3>
<h4 id="_dhl_freight" class="discrete">DHL Freight</h4>
<div class="ulist">
<ul>
<li>
<p><a href="https://forum.plentymarkets.com/t/wichtig-dhl-freight-umstellung-von-ftp-auf-sftp-zum-20-01-2020/573969" target="_blank" rel="noopener">Wie zuvor angekündigt</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, ist die DHL Freight-Schnittstelle ab sofort nur noch per SFTP-Zugang nutzbar.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Speichert die aktualisierten SFTP-Zugangsdaten, die ihr von DHL Freight erhalten habt, im Menü <strong>Einrichtung » Aufträge » Versand » Dienstleister » DHL Freight</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn ihr noch keine aktualisierten SFTP-Zugangsdaten von DHL Freight erhalten habt, wendet euch bitte an euren Ansprechpartner bei DHL Freight oder erfragt die Zugangsdaten per Mail (<a href="mailto:fcm@dhl.com">fcm@dhl.com</a>).</p>
</div>
</li>
</ul>
</div>
<h4 id="_otto" class="discrete">OTTO</h4>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 17.01.2020 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://plentymarkets-discourse.s3.dualstack.eu-central-1.amazonaws.com/original/3X/e/f/ef5aa1d6cbc2decc887227735ada37d65f26a9ba.xlsx" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<h4 id="_elasticsync_2" class="discrete">ElasticSync</h4>
<div class="ulist">
<ul>
<li>
<p>Wir haben die UI des Menüs Zuordnung neu gestaltet. Dabei hat sich folgendes geändert:</p>
<div class="ulist">
<ul>
<li>
<p>Ab sofort befindet sich eine Schaltfläche zum Aktivieren und Deaktivieren in der Sync-Menüleiste um mehrere Felder zu aktivieren oder deaktivieren.<br></p>
</li>
<li>
<p>Den Toggle für das Aktivieren bzw. Deaktivieren einzelner Zeilen haben wir ganz nach hinten verschoben.<br></p>
</li>
<li>
<p>Alle aktivierten Felder werden als erstes in der Übersicht angezeigt.<br></p>
</li>
<li>
<p>Die Schaltflächen <strong>Sync testen</strong> und <strong>Sync ausführen</strong> befinden sich unter <strong>Einstellungen</strong>, <strong>Abgleich</strong> und <strong>Zuordnung</strong> nun an einer anderen Stelle.</p>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/zuordnung-ui.png" alt="Die neue UI des Bereichs Zuordnung." width="640" height="360">
</div>
</div>
</li>
</ul>
</div>
</li>
<li>
<p>Ab sofort ist die Einstellung um den Namen und die Position einer Zuordnung zu ändern direkt im Menü der anderen Schaltfläche wie z.B. <strong>Sync testen</strong> integriert.</p>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/position-zuordnung-aendern-platzierung.gif" alt="Neue Platzierung der Namens- und Positionsänderung." width="640" height="360">
</div>
</div>
</li>
<li>
<p>Wenn man zuvor einen Sync ausgeführt und z.B. bemerkt hat, dass der Abgleich nicht korrekt gesetzt wurde nachdem man die Einstellung geändert hatte, musste man vorher den Cache leeren. Dies ist nun nicht mehr notwendig.</p>
</li>
<li>
<p>Ab sofort werden Zuordnungen via Positionsnummer sortieren. Vorher wurden die Zuordnungen nach ID sortiert.</p>
</li>
<li>
<p>Ab sofort werden alle Felder im Bereich Zuordnungen nach aktiv/inaktiv sortiert.</p>
</li>
<li>
<p>Ab sofort werden unter Zuordnung die ersten 25 Datenfelder einer CSV angezeigt. Möchte man mehr angezeigt bekommen, so kann man die weiteren Datenfelder nachladen. Dadurch werden CSV-Dateien mit vielen Spalten übersichtlicher dargestellt.</p>
</li>
</ul>
</div>
<h4 id="_prozesse_2" class="discrete">Prozesse</h4>
<div class="ulist">
<ul>
<li>
<p>Ab sofort kann man in der Statushistorie am Auftrag sehen, dass ein Status durch einen Prozess gewechselt wurde. Zusätzlich sieht man die ID des Prozesses, durch welchen der Wechsel durchgeführt wurde.</p>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/prozesse-statushistorie-statuswechsel.png" alt="Statuswechsel in der Statushistorie." width="640" height="360">
</div>
</div>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_behoben">Behoben</h3>
<h4 id="_rakuten_de_2" class="discrete">Rakuten.de</h4>
<div class="ulist">
<ul>
<li>
<p>Bisher wurde nur der Versanddienstleister DPD selbst als DPD zu <a href="Rakuten.de" target="_blank" rel="noopener">Rakuten.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> übermittelt. Ab sofort werden alle Versanddienstleister, die DPD im Namen haben, als DPD zu Rakuten.de exportiert.</p>
</li>
</ul>
</div>
<h4 id="_elastic_export" class="discrete">Elastic Export</h4>
<div class="ulist">
<ul>
<li>
<p>Der Export der Lagerorte stoppte bei 10.000 Zeilen. Ab jetzt kann eine beliebige Anzahl an Zeilen exportiert werden.</p>
</li>
</ul>
</div>
<h4 id="_elasticsync_3" class="discrete">ElasticSync</h4>
<div class="ulist">
<ul>
<li>
<p>Wenn man auf die Felder <strong>Einstellungen</strong>, <strong>Abgleich</strong> oder <strong>Zuordnung</strong> klickt, dann blinken diese nicht mehr, sondern sind nun vollflächig blau gefärbt.</p>
</li>
<li>
<p>Nach dem Durchlaufen eines Syncs wurde in der Spalte <strong>Letzter Import</strong> ein falsches Datum angezeigt. Man musste die Übersicht neu laden um die korrekte Datumsanzeige zu erhalten. Dieses Verhalten haben wir behoben.</p>
</li>
<li>
<p>Aufgrund eines Fehlers wurde der eingestellte Zeitintervall bei den Syncs ignoriert. Diesen Fehler haben wir behoben.</p>
</li>
<li>
<p>Aufgrund eines Fehlers kam es vor dass der Abgleichwert immer wieder rausgeflogen ist. Dieser Fehler tritt nun nicht mehr auf.</p>
</li>
<li>
<p>Aufgrund eines Fehlers kam es bei dem Operator <em>Oder</em> zu einem Fehlverhalten. Nach dem Speichern wurde der Operator auf <em>Und</em> umgestellt, wodurch der Filter nicht angewandt wurde. Die Operatoren verhalten sich nun wie erwartet.</p>
</li>
</ul>
</div>
<h4 id="_prozesse_3" class="discrete">Prozesse</h4>
<div class="ulist">
<ul>
<li>
<p>Es noch Problem, dass, sobald eine Retoure zu einem Auftrag erstellt wurde, die selbst aus einem Angebot stammt, sich die Retoure nicht mehr zurückbuchen ließ, da die Retoure auf das Angebot anstatt den Auftrag zeigte. Wir haben das Problem behoben.</p>
</li>
</ul>
</div>
<h4 id="_spezialexport_collmex_währungszeichen_bei_fremdwährungsaufträgen" class="discrete">Spezialexport: Collmex - Währungszeichen bei Fremdwährungsaufträgen</h4>
<div class="ulist">
<ul>
<li>
<p>Die im Spezialexport enthaltenen Brutto- und Nettobeträge der Kundenbestellungen werden bisher immer in der Systemwährung ausgegeben, zusätzlich enthält dieser Export allerdings das jeweilige Währungszeichen der Währung, in welcher diese Kundenbestellung getätigt wurde. Das heißt, sofern ein Auftrag beispielsweise in einer fremden Währung bestellt wurde, wird bisher das Währungszeichen der Fremdwährung und den Werten in der Systemwährung ausgegeben.</p>
<div class="paragraph">
<p>Dieses Verhalten wurde für die Version beta7 bereinigt, so dass grundsätzlich das Währungszeichen und die Beträge der Systemwährung ausgegeben werden.</p>
</div>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_early">early</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Bereich findest du alles, was in der letzten Woche auf <strong>early</strong> veröffentlicht wurde.</p>
</div>
<div class="sect2">
<h3 id="_neu_2">Neu</h3>
<h4 id="_prozesse_4" class="discrete">Prozesse</h4>
<div class="ulist">
<ul>
<li>
<p>Es ist nun möglich, die Prozesse-Ansicht für einzelne Prozesse direkt über die URL anzusteuern, z.B.:<br>
<code>/processes/execution/5</code></p>
</li>
<li>
<p>Die Kategorien wurden ebenso mit einer ID ausgestattet, sodass man auch diese nun durch direkte URL-Pfade ansteuern kann, z.B:<br>
<code>/processes/category/1</code></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_geändert_2">Geändert</h3>
<h4 id="_auftragsübersicht" class="discrete">Auftragsübersicht</h4>
<div class="ulist">
<ul>
<li>
<p>In der Auftragsübersicht gibt es Dropdown-Listen zum Erzeugen von Retouren, Gutschriften und Gewährleistungen. Direkt unterhalb jeder Dropdown-Liste wird angezeigt, ob bereits Retouren, Gutschriften und Gewährleistungen vorhanden sind.</p>
<div class="paragraph">
<p>Wenn Gewährleistungen vorhanden sind, kann man in der Dropdown-Liste die Option <strong>Suchen</strong> auswählen. Dadurch erscheinen in einem Overlay die Gewährleistungen zum Auftrag. Wenn allerdings die Gewährleistung nicht direkt aus dem Auftrag sondern aus einer Retoure zum Auftrag erzeugt wurde, wurde diese nicht angezeigt.</p>
</div>
<div class="paragraph">
<p>Dies wurde nun angepasst, sodass man auch Gewährleistungen zu den Retouren eines Auftrages sehen kann. Hier ein Beispiel (“O” für Auftrag (Order), “R” für Retoure und “W” für Gewährleistung (Warranty)):</p>
</div>
<div class="paragraph">
<p>Dabei ist 2908 der Auftrag, 2917 eine Gewährleistung direkt am Auftrag, 2913 eine Retouren zum Auftrag 2908 und 2915 eine Gewährleistung zur Retoure 2913, 2914 eine weitere Retoure zum Auftrag 2908 und 2916 eine Gewährleistung zur Retoure 2914.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/auftragsuebersicht-e-mail-links.png" alt="E-Mail-Links in der Auftragsübersicht." width="640" height="360">
</div>
</div>
<div class="paragraph">
<p>Die verlinkten E-Mail Adressen in der Auftragsübersicht unter Rechnungsadresse und Lieferadresse enthalten nun auch Informationen zum Kontakt (ContactID, wenn Kontakt vorhanden) und zum Auftrag (OrderID).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/auftragsuebersicht-suche-anzeige-gewaehrleistungen.png" alt="Suche und Anzeige von Gewährleistungen." width="640" height="360">
</div>
</div>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_behoben_2">Behoben</h3>
<h4 id="_aufträge" class="discrete">Aufträge</h4>
<div class="ulist">
<ul>
<li>
<p>Unter bestimmten Umständen wurde bei der Datenbereinigung von Aufträgen ein Fremdschlüssel nicht korrekt beachtet, sodass manche Aufträge nicht gelöscht wurden (dazu gab es critical Einträge im Log). Dies wurde nun gefixt.</p>
</li>
</ul>
</div>
<h4 id="_auftragsdokumente" class="discrete">Auftragsdokumente</h4>
<div class="ulist">
<ul>
<li>
<p>Wenn der Platz am Ende der Seite nicht für das Variantenbild ausgereicht hat, wurde dieses nur zum Teil auf der Folgeseite dargestellt. Dies wurde nun gefixt.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_plugin_updates">Plugin-Updates</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/actionmixpluginmobilenavigation_6529" target="_blank" rel="noopener">ActionMix - Mobile Navigation</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/uptainconnect_5580" target="_blank" rel="noopener">Conversion Optimierung mit Exit-Intent Popups und Warenkorbabbrecher-E-Mails</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/integration/dpdshippingservices_6320" target="_blank" rel="noopener">DPD Versand-Services</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.6.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ceres auf Version 4.0.5 aktualisieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/integration/dhlshipping_4871" target="_blank" rel="noopener">DHL Shipping (Versenden)</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ceres auf Version 4.0.5 aktualisieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/gaxsys_5992" target="_blank" rel="noopener">gaxsys Connector</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/sales/reporting-analytics/idealotracking_6433" target="_blank" rel="noopener">idealo.de Conversion-Tracking</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/feedback_5115" target="_blank" rel="noopener">Kunden-Feedback</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nach dem Update auf v3.4.0 müssen Widgets im Menü <strong>CMS » ShopBuilder</strong> durch Klick auf <strong>Inhalte neu generieren</strong> aktualisiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/wish_5866" target="_blank" rel="noopener">Wish</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.10.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>