<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_creating_a_multilingual_online_store"><span>1.</span><span> Creating a multilingual online store</span></a></li>
<li><a href="#_your_system_s_default_language"><span>2.</span><span> Your system’s default language</span></a></li>
<li><a href="#_transferring_the_design_to_another_language"><span>3.</span><span> Transferring the design to another language</span></a></li>
<li><a href="#_activating_other_languages"><span>4.</span><span> Activating other languages</span></a></li>
<li><a href="#_multilingual_categories"><span>5.</span><span> Multilingual categories</span></a>
<ul class="sectlevel2">
<li><a href="#_monolingual_editor"><span>5.1.</span><span> Monolingual editor</span></a></li>
<li><a href="#_multilingual_editor"><span>5.2.</span><span> Multilingual editor</span></a></li>
</ul>
</li>
<li><a href="#_creating_language_versions_of_an_item"><span>6.</span><span> Creating language versions of an item</span></a></li>
<li><a href="#_creating_language_versions_of_an_e_mail_template"><span>7.</span><span> Creating language versions of an E-mail template</span></a></li>
<li><a href="#_creating_language_versions_of_a_pdf_document"><span>8.</span><span> Creating language versions of a PDF document</span></a></li>
<li><a href="#_linking_languages_by_inserting_template_functions_into_the_design"><span>9.</span><span> Linking languages by inserting template functions into the design</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Multilingual online store</h1><div class="sect1">
<h2 id="_creating_a_multilingual_online_store">1. Creating a multilingual online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Setting up a multilingual online store requires you to carry out several different steps in various menus of your plentymarkets system. These steps are explained here systematically. The different sections of this page correspond to the settings that need to be carried out in order to set up a multilingual online store. You are free to carry out these steps in a different order. However, make sure that you carry out all of the steps.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_your_system_s_default_language">2. Your system’s default language</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Every plentymarkets system is given a <em>*default language*</em> when it is installed. This language will be selected by default in <strong>all</strong> of the areas of your system where information can be saved in multiple languages. This includes the areas for editing the <strong>web design</strong>, <strong>categories</strong> and <strong>items</strong>.</p>
</div>
<div class="paragraph">
<p>After having saved information in another language, the system will return back to its <em>*default language*</em>. This means that you will <em>*need to reselect*</em> the language that you were just working with if you decide to change some of the information.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_transferring_the_design_to_another_language">3. Transferring the design to another language</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can copy your online store’s design in the default language and apply this design to a different language. This is done in the <strong>CMS</strong> menu. Since the default language’s design is copied, you will only need to make changes to the text in the target language.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Best-Practice-Multilingual-Store-01-SI.png" alt="EN Settings Client Best Practice Multilingual Store 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: *applying a design*</em></p>
</div>
<div class="paragraph instruction">
<p>Applying a design:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>Click on <strong>Apply design</strong> (image 1).</p>
</li>
<li>
<p>Use the <strong>Source</strong> drop-down menu to select which design and <strong>language</strong> the characteristics should be transferred from.</p>
</li>
<li>
<p>Use the <strong>Destination</strong> drop-down menu to select which design and <strong>language</strong> the characteristics should be applied to.</p>
</li>
<li>
<p>Select which areas should be transferred from the source to the destination (place check marks).</p>
</li>
<li>
<p>Click on <strong>Apply design</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In doing so, a design that you use in one language can create <strong>templates</strong> for several languages. The text will then need to be modified for the new languages. Now the second language’s design is exactly the same as the first language’s design.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Editing the layout</div>
<div class="paragraph">
<p>You can make changes directly to the individual language versions of the template by going to <strong>CMS » Web design » Layout</strong>. Select the desired language from the upper menu bar and then select the layout that you want to edit from the directory on the left.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_other_languages">4. Activating other languages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can select multiple languages for your online store and decide whether you want the entire store or only the order process to be multilingual. You may decide that you would rather copy or activate the <em>*design*</em> and its <em>*languages*</em> at a later time, e.g. once you have finished creating items and categories for this language. But if you choose to activate the languages at the very beginning, then you will be able to check your progress in the online store after having made changes.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Best-Practice-Multilingual-Store-02-SI.png" alt="EN Settings Client Best Practice Multilingual Store 02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: activating *languages*</em></p>
</div>
<div class="paragraph instruction">
<p>Activating other languages for the online store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Online store » Multilingualism</strong>.</p>
</li>
<li>
<p>Mark all of the <strong>languages</strong> that you want to activate (multiple selection using Ctrl or CMD + mouse click).</p>
</li>
<li>
<p>Use the <strong>Section</strong> drop-down menu to decide how much of the store should be multilingual. The setting <strong>Items &amp; layout &amp; content pages &amp; order process</strong> will make the entire online store multilingual. The <strong>Order process</strong> setting will only make the order process multilingual.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ Your online store is now available in multiple languages.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can make sure that this is true by entering your store’s URL into a browser and then adding on the ISO code for the languages that you just created e.g. <em>*www.NAME_OF_YOUR_SHOP.com/de/*</em> for German or <em>*www.NAME_OF_YOUR_SHOP.com/fr/*</em> for French.</p>
</div>
<div class="paragraph">
<p>If you were to select your online store’s default language, e.g. along with the <strong>order process</strong>, then this would have <em>*no*</em> effect on the default language. In such a case, the online store would remain completely available in this language.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_multilingual_categories">5. Multilingual categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section explains how to create multilingual categories of the types <strong>Content</strong>, <strong>Item</strong> and <strong>Container</strong>. This is assuming that you have already created categories in one language (your online store’s default language).<br></p>
</div>
<div class="paragraph">
<p>+
There are two different ways to edit categories. You can either use the multilingual editor or the monolingual editor. The multilingual editor makes it possible to edit a content page in two different languages at the same time. In other words, to see the content in one language (e.g. the default language) while editing another language.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Visibility in the menu Item » Categories</div>
<div class="paragraph">
<p>In order for a category to appear within the directory tree in the <strong>Item » Categories</strong> menu, you must have already created this category in your system’s default language. In other words, you must have at least entered a <strong>page name</strong> in the <em>*default language*</em>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_monolingual_editor">5.1. Monolingual editor</h3>
<div class="paragraph">
<p>Proceed as described below to create a <em>*language version*</em> of an existing category.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Best-Practice-Multilingual-Store-03-SI.png" alt="EN Settings Client Best Practice Multilingual Store 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: opening a *language*</em></p>
</div>
<div class="paragraph instruction">
<p>Creating language versions of an existing category (monolingual):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on the desired category in the directory tree.<br>
→ The category will open.</p>
</li>
<li>
<p>Use the <strong>Language</strong> drop-down menu (image 3, red arrow) to select which language you want to create the content page in (e.g. German).<br>
→ The category will reload in the selected language.</p>
</li>
<li>
<p>In the <strong>Settings</strong> tab, enter a name for the page under <strong>Name</strong>.</p>
</li>
<li>
<p>Select the desired settings under <strong>Template page</strong>, <strong>Template list</strong>, <strong>Template product</strong> and <strong>Full text search</strong>. Pay attention to the settings that were saved for the category in the default language.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong>.<br>
→ The entries will be saved and the path of the page will be created. It is visible in the <strong>URL</strong> line.</p>
</li>
<li>
<p>Insert the content in the respective language.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_multilingual_editor">5.2. Multilingual editor</h3>
<div class="paragraph">
<p>Proceed as described below in order to create a <strong>language version</strong> of an existing category in the multilingual editor.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Best-Practice-Multilingual-Store-04-SI.png" alt="EN Settings Client Best Practice Multilingual Store 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: <strong>multilingualism</strong> icon</em></p>
</div>
<div class="paragraph instruction">
<p>Creating language versions of an existing category (multilingual):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on the desired category in the directory tree.<br>
→ The category will open.</p>
</li>
<li>
<p>Click on the <strong>multilingualism icon</strong> (image 4, red arrow).<br>
→ The category will open in the multilingual editor.</p>
</li>
<li>
<p>Select the desired languages in the drop-down menus on the left and right (image 5, red arrow).</p>
</li>
<li>
<p>Enter the <strong>Name</strong>, <strong>URL name</strong> and <strong>Meta title</strong>.</p>
</li>
<li>
<p>Enter the foreign-language text and content into the <strong>text field</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Best-Practice-Multilingual-Store-05-SI.png" alt="EN Settings Client Best Practice Multilingual Store 05 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 5: multilingual editor; selecting the *language*</em></p>
</div>
<div class="paragraph">
<p>The homepage is now available in German. You can open the German homepage and take a look at the result, e.g. under <em>*www.NAME_OF_YOUR_SHOP.com/de/*</em>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_language_versions_of_an_item">6. Creating language versions of an item</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Your system’s <em>*default language*</em> plays a very important role here as well. This is because the items will only be displayed in the default language when listed in the overview of items. Furthermore, you will not be able to activate an item in the online store if it doesn’t already exist in your system’s default language. This means that every item always has to be created in the default language before it is translated into the other languages.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Best-Practice-Multilingual-Store-06-SI.png" alt="EN Settings Client Best Practice Multilingual Store 06 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 6: language selection for an *item*</em></p>
</div>
<div class="paragraph instruction">
<p>Creating language versions of an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the desired <strong>item</strong>.</p>
</li>
<li>
<p>Click on the <strong>texts</strong> tab.</p>
</li>
<li>
<p>Select the desired language from the <strong>open language</strong> drop-down menu.</p>
</li>
<li>
<p>In the field <strong>Name 1</strong>, enter the name (translation) that you want to use for this item in the particular language.</p>
</li>
<li>
<p>Enter all of the necessary <strong>texts</strong> (Description, Technical data etc.).</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The language version of the item will be created and will become visible in the online store.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If the item is not visible in the online store, then click on the <strong>Available</strong> tab and check whether the item was set to <strong>visible</strong> for the online store. Also check whether you <strong>activated</strong> the <strong>category</strong> that contains the item. These settings will go into effect for all of the languages versions that were created for a category or an item.</p>
</div>
<div class="paragraph">
<p>If you haven’t linked the item to a category yet, then you can do so in the item’s <strong>categories</strong> tab. For further information about linking items to categories, refer to the <a href="/en/item/managing-items#300">Categories</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_language_versions_of_an_e_mail_template">7. Creating language versions of an E-mail template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All E-mails that are sent with plentymarkets are based on <strong>E-mail templates</strong>. Go to <strong>System » Client » Select client » Email » Templates</strong> to configure E-mail templates. You can read and change the e-mail templates there as well as create new templates. A plentymarkets system comes equipped with a variety of pre-configured E-mail templates. Your customer will receive the <em>*language version*</em> of the e-mail template that corresponds to the language he or she used to access the online store.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Best-Practice-Multilingual-Store-07-SI.png" alt="EN Settings Client Best Practice Multilingual Store 07 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 7: <strong>language selection</strong> for an E-mail template</em></p>
</div>
<div class="paragraph instruction">
<p>Creating language versions of an existing E-mail template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Templates</strong>.</p>
</li>
<li>
<p>Open the desired <strong>e-mail template</strong>, e.g. <em>*Confirmation of a store order*</em>.</p>
</li>
<li>
<p>Click on the <strong>E-mail message</strong> tab.</p>
</li>
<li>
<p>Select the desired <em>*language*</em> from the <strong>Select a language</strong> drop-down menu.</p>
</li>
<li>
<p>Enter a <strong>subject</strong>, e.g. in German - "Eingangsbestätigung zu ihrer Bestellung."</p>
</li>
<li>
<p>Enter the corresponding text into the <strong>Content</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The language version of the e-mail template will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information about the different <strong>template functions and variables</strong> that you can use in the e-mail templates, refer to the <a href="/en/crm/sending-emails#1200">Templates</a> page of the manual.</p>
</div>
<div class="paragraph">
<p>Create event procedures to automatically send your e-mail templates when specific events occur. For further information about <em>*automatically sending e-mails*</em>, refer to the <a href="/en/crm/sending-emails#700">Automatic e-mail</a> and the <a href="/en/basics/automation/event-procedures">Event procedures</a> pages of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_language_versions_of_a_pdf_document">8. Creating language versions of a PDF document</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Not only can the online store be displayed in multiple languages, but you can also create multilingual templates so that documents such as invoices, delivery notes, credit notes, etc are displayed to customers in the correct language.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Best-Practice-Multilingual-Store-08-SI.png" alt="EN Settings Client Best Practice Multilingual Store 08 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 8: document template for German *invoices*</em></p>
</div>
<div class="paragraph instruction">
<p>Creating language versions of an existing document template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents</strong>.</p>
</li>
<li>
<p>Select the desired document.</p>
</li>
<li>
<p>In the <strong>language field</strong>, select the desired language for the document.</p>
</li>
<li>
<p>Carry out all of the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The <strong>language version</strong> of the document template will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Alternatively, you can copy the settings that were saved for a different language and/or document template and then edit them afterwards. This is useful if you already have a document template that was completely set up in one language. It ensures that the template will be set up the same way for the next language. For further information about these documents and their settings, refer to the <a href="/en/order-processing/orders/order-documents">Documents</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_linking_languages_by_inserting_template_functions_into_the_design">9. Linking languages by inserting template functions into the design</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Insert <em>*template functions*</em> into your layout so that your customers can quickly and easily switch from one language to another. Use the template functions <strong>Link_Lang("DE") &#37;&#125;</strong>, <strong>Link_Lang("EN") &#37;&#125;</strong>, <strong>Link_Lang("FR") &#37;&#125;</strong> etc. Once your online store is ready to be viewed in another language, you will have to insert the template function into the corresponding layout. In the following example, a link to the German store is inserted into the English layout <strong>PageDesignContent</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Linking languages by inserting template functions into the layout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>In the <strong>Language</strong> drop-down menu, select the language of the layout that you want to edit, e.g. <strong>English</strong>.</p>
</li>
<li>
<p>Select the layout <strong>PageDesignContent</strong> from the directory tree on the left.<br>
→ The layout will open in the selected language.</p>
</li>
<li>
<p>Insert the <strong>template function</strong> for the desired language into an appropriate place in the layout. For German, this link would be  Link_Lang("DE") &#37;&#125;.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The link will appear in the English store. (Image 9)</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Best-Practice-Multilingual-Store-09-SI.png" alt="EN Settings Client Best Practice Multilingual Store 09 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 9: <strong>language link</strong> in the online store</em></p>
</div>
<div class="paragraph">
<p>Click on the link to switch the language. For further information about <em>*switching the language in the online store*</em>, refer to the <a href="/en/omni-channel/online-store/extras/_language">Language settings</a> page of the manual.</p>
</div>
</div>
</div>
</main>