<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_benutzerrechte_für_backend_benutzer_vergeben"><span>1.</span><span> Benutzerrechte für Backend-Benutzer vergeben</span></a></li>
<li><a href="#1210"><span>2.</span><span> Sync erstellen</span></a></li>
<li><a href="#1300"><span>3.</span><span> Importoptionen festlegen</span></a></li>
<li><a href="#1400"><span>4.</span><span> Abgleich festlegen</span></a></li>
<li><a href="#1500"><span>5.</span><span> Zuordnung erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#1510"><span>5.1.</span><span> Zeilen einer Zuordnung für den Import aktivieren</span></a></li>
<li><a href="#1520"><span>5.2.</span><span> Werte mit der RegEx-Funktion ersetzen</span></a></li>
<li><a href="#1520"><span>5.3.</span><span> Eigene Zuordnung</span></a></li>
<li><a href="#1530"><span>5.4.</span><span> Importdatei durch die eigene Zuordnung manipulieren</span></a></li>
</ul>
</li>
<li><a href="#1600"><span>6.</span><span> Importdaten filtern</span></a></li>
<li><a href="#1625"><span>7.</span><span> Erfolgs- und Fehlermeldungen von Syncs einsehen</span></a></li>
<li><a href="#1630"><span>8.</span><span> Sync kopieren</span></a></li>
<li><a href="#1640"><span>9.</span><span> Sync exportieren und importieren</span></a></li>
<li><a href="#1650"><span>10.</span><span> Dateien schnell und einfach hochladen</span></a></li>
<li><a href="#1700"><span>11.</span><span> Sync testen und Daten importieren</span></a></li>
<li><a href="#1710"><span>12.</span><span> Abarbeitung von Jobs in der Queue</span></a></li>
<li><a href="#1720"><span>13.</span><span> Zuordnung aktivieren/deaktivieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Daten mit ElasticSync importieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite beschreibt den Datenimport in plentymarkets mit ElasticSync. Ein Import von Daten ist ratsam, wenn du z.B. neue Artikel, Kundendaten oder Lagerbestände in dein plentymarkets System einpflegen möchtest und die Daten bereits digital vorliegen. ElasticSync ermöglicht es über das Erstellen von sogenannten Syncs, Datenimporte auszuführen. Ein Import kann manuell oder automatisiert erfolgen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_benutzerrechte_für_backend_benutzer_vergeben">1. Benutzerrechte für Backend-Benutzer vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutzer vom Typ Backend sehen nur bestimmte Bereiche und Menüs im plentymarkets Backend. Somit können sie nur eingeschränkt im System arbeiten. Sollen Mitarbeiter mit diesem Nutzertyp mit Syncs und Zuordnungen arbeiten, muss ein Nutzer vom Typ <strong>Admin</strong> die in <a href="#tabelle-berechtigungen-elasticsync">Tabelle 1</a> beschriebenen Rechte für diesen Benutzer vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerrechte für Backend-Benutzer vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) und öffne den zu bearbeitenden Benutzer.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Berechtigungen</strong> die Berechtigungen gemäß <a href="#tabelle-berechtigungen-elasticsync">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-berechtigungen-elasticsync" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Berechtigungen für das Menü <strong>Daten » ElasticSync</strong> vergeben</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Einstellung</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Sync &gt; aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, Syncs zu aktualisieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Sync &gt; anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, Syncs anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Sync &gt; erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, Syncs zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Sync &gt; löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, Syncs zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Sync &gt; Zuordnung &gt; aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, eine Zuordnung zu aktualisieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Sync &gt; Zuordnung &gt; anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, eine Zuordnung anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Sync &gt; Zuordnung &gt; erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, eine Zuordnung zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Sync &gt; Zuordnung &gt; löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, eine Zuordnung zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Sync Daten-Log</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, den Daten-Log eines Syncs zu aktualisieren, anzuzeigen, zu erstellen und zu löschen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1210">2. Sync erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die grundsätzliche Funktionsweise zum Erstellen und Importieren eines Syncs ist für alle Sync-Typen gleich und wird hier einmal übergreifend beschrieben.</p>
</div>
<div class="paragraph">
<p>Syncs erstellst, bearbeitest und verwaltest du im Menü <strong>Daten » ElasticSync</strong>. Hier siehst du eine Übersicht aller Syncs. Ein Sync dient dazu, die Daten einer per FTP oder HTTPS zugänglichen Datei in plentymarkets zuzuordnen und zu importieren. Beim Erstellen des Syncs speicherst du Informationen zur Datenquelle. Wichtig für einen Sync ist außerdem, dass du Daten für den Abgleich festlegst und zuordnest, welche Daten der Datei welchen Daten in plentymarkets entsprechen. Mit dem Abgleich bestimmst du, anhand welcher Daten versucht wird zu identifizieren, ob bereits ein Datensatz besteht oder nicht. Mit der Zuordnung legst du fest, welche Spalte deiner Datei welchem Datenfeld in plentymarkets entspricht. Am Ende legst du ein Importintervall fest. Gehe wie im Folgenden beschrieben vor, um einen Sync zu erstellen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Importintervall am Ende einstellen, damit nicht vorzeitig ein Sync ausgeführt wird</div>
<div class="paragraph">
<p>Stelle das Importintervall am Ende ein, damit nicht schon ein Sync ausgeführt wird, während du noch Abgleich- oder Zuordnungseinstellungen vornimmst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Sync erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.<br>
→ Die Sync-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Sync hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Bearbeitungsbereich <strong>Neuer Sync</strong> wird angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-sync-erstellen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Sync wird erstellt.<br>
→ Die Abgleicheinstellungen des Syncs werden geöffnet.</p>
</li>
</ol>
</div>
<table id="tabelle-sync-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Sync erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Grunddaten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben. Dieser Name wird in der Übersicht angezeigt und kann für die Suche genutzt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Intervall</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Intervall für den Import von Syncs wählen.<br>
Mit der Option <strong>Zeitplan</strong> kann festgelegt werden, wie oft und zu welchem Zeitpunkt der Import von Syncs gestartet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Typ aus Dropdown-Liste wählen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-artikel">Artikel</a> = Wählen, um Artikeldaten und Variantendaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-attribute">Attribute</a> = Wählen, um Attributdaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-auftraege">Aufträge</a> = Wählen, um Auftragsdaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften">Eigenschaften</a> = Wählen, um Eigenschaften zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-facetten">Facetten</a> = Wählen, um Facetten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticsync-fahrzeugverwendungsliste">Fahrzeugverwendungsliste</a> = Wählen, um Daten der Fahrzeugverwendungsliste zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-gutschein-codes">Gutschein-Codes</a> = Wählen, um Gutschein-Codes zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-hersteller">Hersteller</a> = Wählen, um Herstellerdaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-kampagnen">Kampagnen</a> = Wählen, um Gutscheinkampagnen zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-kategorien">Kategorien</a> = Wählen, um Kategoriedaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-kontakte">Kontakte, Firmen und Adressen</a> = Wählen, um Kontakt-, Firmen- und Adressdaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-lager">Lager</a> = Wählen, um Lagerorte zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-merkmale">Merkmale</a> = Wählen, um Merkmaldaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-newsletter-empfaenger">Newsletter-Empfänger</a> = Wählen, um Newsletter-Daten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-notizen">Notizen</a> = Wählen, um Notizen zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-warenbestand">Warenbestand</a> = Wählen, um Warenbestandsdaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-wareneingang">Wareneingang</a> = Wählen, um Wareneingangsdaten zu importieren.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Import</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datentyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dateiformat der Importdatei wählen.<br>
Aktuell ist jedoch nur die Auswahl <strong>CSV/TXT</strong> verfügbar, da nur CSV- oder TXT-Dateien importiert werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeichensatz der Datei oder die Option <strong>Automatisch erkennen</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beginne ab Zeile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ab welcher Zeile der Datei Daten importiert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kopfzeile enthalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Importdatei eine Kopfzeile enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Globalen Cache nutzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der globale Cache genutzt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatische Zuordnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die automatische Zuordnung verwendet werden soll. Die Spalten der CSV- oder TXT-Datei können automatisch den plentymarkets Datenfeldern zugeordnet werden. Damit die Zuordnung funktioniert, darf die Benennung der im FormatDesigner gewählten Felder nicht geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Trennzeichen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Trennzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Trennzeichen der CSV- oder TXT-Datei wird automatisch erkannt. Diese Einstellung ist standardmäßig aktiviert.<br>
Alternativ kann das Trennzeichen, das in der Importdatei verwendet wird, um die Datenfelder (Spalten) eines Datensatzes voneinander zu trennen, manuell gewählt werden.<br>
Mögliche Trennzeichen sind <strong>Semikolon</strong>, <strong>Komma</strong>, <strong>Tabulator</strong> oder <strong>Pipe</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feldbegrenzungszeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Begrenzungszeichen innerhalb von Feldern wählen, die mehrere Werte enthalten können.<br>
* " = einzelne Werte innerhalb eines Feldes sind durch doppelte Anführungszeichen voneinander getrennt.
* ' = einzelne Werte innerhalb eines Feldes sind durch einfache Anführungszeichen voneinander getrennt.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Quelle</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quelle</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Manueller Upload</strong>, <strong>FTP</strong>, <strong>HTTPS</strong> oder <strong>SFTP</strong> wählen.<br>
Je nach gewählter Option werden weitere Einstellungen sichtbar:</p>
</div>
<div class="paragraph">
<p><strong>Manueller Upload</strong> = lokale Datei wählen und direkt hochladen.<br>
Nachdem ein Sync ausgeführt wurde, wird die Datei automatisch vom Webspace gelöscht. Dies ist standardmäßig voreingestellt. Um die Datei zu speichern, muss der Haken in der Checkbox entfernt werden. <strong><em>Hinweis</em></strong>: Das Speichern der Datei auf dem Webspace ist kostenpflichtig.</p>
</div>
<div class="paragraph">
<p><strong>FTP</strong> = Host, Port, Benutzername, Passwort und Dateiname werden als Einstellungen sichtbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (Pflichtfeld)</strong> = Host des FTP-Servers eingeben.<br>
<strong><em>Tipp:</em></strong> Nutze hierzu deinen plentymarkets FTP-Zugang.</p>
</li>
<li>
<p><strong>Port</strong> = Port des FTP-Servers. Wenn kein Port eingetragen ist, wird der Standard-Port (22) verwendet.</p>
</li>
<li>
<p><strong>Benutzername (Pflichtfeld)</strong> = Benutzer für FTP-Zugang eingeben.</p>
</li>
<li>
<p><strong>Passwort (Pflichtfeld)</strong> = Passwort für FTP-Zugang eingeben.</p>
</li>
<li>
<p><strong>Dateiname</strong> = Pfad und Name der Datei eingeben, aus der Daten importiert werden sollen. Der Dateiname muss auf .csv oder .txt enden.<br>
<strong><em>Hinweis:</em></strong> Wildcards können im Feld <strong>Dateiname</strong> verwendet werden, indem z.B. ein Teil des Dateinamens durch ein <strong>*</strong> ersetzt wird. Wildcards nur in Kombination mit der Option <strong>Datei nach erfolgreichem Import in Archiv verschieben</strong> verwenden.</p>
</li>
<li>
<p><strong>Datei nach erfolgreichem Import in Archiv verschieben</strong> = Wenn diese Option aktiv ist, wird nach erfolgreichem Import die Importdatei automatisch in einen neuen Ordner <strong>Archiv</strong> auf dem FTP-Verzeichnis verschoben.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>HTTPS</strong> = <strong>Externe URL</strong> wählen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Externe URL</strong> = URL eingeben, unter der die Importdatei erreichbar ist.<br>
<strong><em>Tipp:</em></strong> Speichere die Datei auf dem plentymarkets Webspace.</p>
</li>
<li>
<p><strong>Authentifizierung</strong>: Wählen, ob für den Zugriff auf die Datei eine Authentifizierung erforderlich ist oder nicht.</p>
<div class="ulist">
<ul>
<li>
<p><strong>keine</strong> = keine Authentifizierung erforderlich</p>
</li>
<li>
<p><strong>HTTP-Authentifizierung</strong> = Authentifizierung per Benutzer und Passwort erforderlich</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>SFTP</strong> = Host, Port, Benutzername, Passwort und Dateiname werden als Einstellungen sichtbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (Pflichtfeld)</strong> = Host des FTP-Servers eingeben.<br></p>
</li>
<li>
<p><strong>Port (Pflichtfeld)</strong> = Port des FTP-Servers. Wenn kein Port eingetragen ist, wird der Standard-Port (22) verwendet.</p>
</li>
<li>
<p><strong>Benutzername (Pflichtfeld)</strong> = Benutzer für FTP-Zugang eingeben.</p>
</li>
<li>
<p><strong>Passwort (Pflichtfeld)</strong> = Passwort für FTP-Zugang eingeben.</p>
</li>
<li>
<p><strong>Dateiname</strong> = Pfad und Name der Datei eingeben, aus der Daten importiert werden sollen. Der Dateiname muss auf .csv oder .txt enden.<br>
<strong><em>Hinweis:</em></strong> Wildcards können im Feld <strong>Dateiname</strong> verwendet werden, indem z.B. ein Teil des Dateinamens durch ein <strong>*</strong> ersetzt wird. Wildcards nur in Kombination mit der Option <strong>Datei nach erfolgreichem Import in Archiv verschieben</strong> verwenden.</p>
</li>
<li>
<p><strong>Datei nach erfolgreichem Import in Archiv verschieben</strong> = Wenn diese Option aktiv ist, wird nach erfolgreichem Import die Importdatei automatisch in einen neuen Ordner <strong>Archiv</strong> auf dem FTP-Verzeichnis verschoben.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">3. Importoptionen festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Importoptionen befinden sich im Bereich <strong>Abgleich</strong>. Die Importoptionen gelten sowohl für den Abgleich als auch für die Zuordnung.</p>
</div>
<div class="paragraph instruction">
<p>Importoptionen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.<br>
→ Die Sync-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Sync-Übersicht auf den Sync.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Abgleich</strong>.</p>
</li>
<li>
<p>Lege die Importoptionen fest. Beachte dazu die Erläuterungen in <a href="#tabelle-Sync-Importoptionen">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-Sync-Importoptionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Importoptionen für Syncs</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Importoption</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Importoption wählen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Neue Daten importieren, vorhandene aktualisieren</strong> = Wenn anhand der Abgleichfelder keine übereinstimmenden Daten gefunden werden, wird ein neuer Datensatz, z.B. ein neuer Artikel oder ein neuer Auftrag, hinzugefügt. Gleichzeitig werden bereits vorhandene Daten aktualisiert.</p>
</li>
<li>
<p><strong>Nur vorhandene Daten aktualisieren</strong> = Vorhandene Daten werden aktualisiert. Wenn anhand der Abgleichfelder keine übereinstimmenden Daten gefunden werden, wird der Datensatz nicht importiert.</p>
</li>
<li>
<p><strong>Nur neue Daten importieren</strong> = Es werden ausschließlich neue Datensätze importiert, für die anhand der Abgleichfelder keine übereinstimmenden Daten gefunden werden.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dezimalzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Deutsche Schreibweise</strong> oder <strong>Englische Schreibweise</strong> wählen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Deutsche Schreibweise</strong> = Dezimalzahlen werden kommasepariert angegeben und ein Punkt dient als Tausendertrennzeichen.</p>
</li>
<li>
<p><strong>Englische Schreibweise</strong> = Dezimalzahlen werden punktsepariert angegeben und ein Komma dient als Tausendertrennzeichen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datumsformat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datumsformat eingeben. Wenn die Datumsangaben in der Datei dem Standardformat Y-m-d H:i:s entsprechen, muss nichts eingegeben werden. Andere Formate müssen eingetragen werden. Zulässig sind alle <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">php-konformen Datumsformate</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1400">4. Abgleich festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du einen Sync erstellt hast, öffne diesen, um weitere Einstellungen vorzunehmen. Zunächst wählst du die Felder, die zum Abgleichen der Daten verwendet werden sollen. Lege außerdem fest, was passieren soll, wenn durch den Abgleich keine bestehenden Daten gefunden werden.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Abgleich ist optional</div>
<div class="paragraph">
<p>Bei den Abgleichfeldern handelt es sich um optionale Einstellungen. Wenn du kein Abgleichfeld wählst, können die Daten deiner Datei keinen bestehenden Daten in deinem System zugeordnet werden. Du kannst eins, mehrere oder alle Abgleichfelder festlegen. Die angezeigten Abgleichfelder unterscheiden sich für jeden Sync-Typ.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Abgleich festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.<br>
→ Die Sync-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Sync-Übersicht auf den Sync.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Abgleich</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">5. Zuordnung erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mithilfe einer Zuordnung legst du fest, welche Spalte deiner Datei welchem Datenfeld in deinem System entspricht. Ohne Zuordnung können keine Daten importiert werden.</p>
</div>
<div class="paragraph instruction">
<p>Zuordnung festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.<br>
→ Die Sync-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Sync-Übersicht auf den Sync.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Zuordnung hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).</p>
</li>
<li>
<p>Gib einen Namen für die Zuordnung ein.</p>
</li>
<li>
<p>Gib optional eine Position für die Zuordnung ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die verfügbaren Zuordnungsfelder unterscheiden sich je nach Sync-Typ.</p>
</li>
<li>
<p>Wähle Datenfelder für die Zuordnung aus, indem du Häkchen bei diesen Feldern setzt.<br>
→ Die gewählten Datenfelder werden zur Zuordnung hinzugefügt.</p>
</li>
<li>
<p>Wähle für jedes Datenfeld eine Spalte aus deiner Datei oder die Option <strong>Eigener Wert</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Eigener Wert</div>
<div class="paragraph">
<p>Die Option <strong>Eigener Wert</strong> erlaubt dir, für ein Datenfeld einen festen Wert zu importieren. Dieser feste Wert ist somit für jeden Datensatz, der durch diesen Sync importiert wird, gleich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Mathematische Berechnungen</div>
<div class="paragraph">
<p>Wähle in der Übersicht der Zuordnung die Quelle <strong>Mathematische Berechnungen</strong>, um Werte der CSV- oder TXT-Datei während des Imports anzupassen. Zur Auswahl stehen die Addition (+), die Subtraktion (-), die Multiplikation (*), die Division (/) und die Anpassung des Prozentsatzes (+)/(-). Bei dem Wert, der in der CSV- oder TXT-Spalte angepasst wird, muss es sich um eine Zahl handeln.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1510">5.1. Zeilen einer Zuordnung für den Import aktivieren</h3>
<div class="paragraph">
<p>Im Bereich <strong>Zuordnung</strong> kannst du mit nur einem Klick alle Zeilen für den Import aktivieren. Alternativ kannst du auch bei jeder Zeile individuell entscheiden, ob sie aktiv oder inaktiv sein soll, sprich, ob sie beim Import berücksichtigt werden soll oder nicht.</p>
</div>
<div class="paragraph instruction">
<p>Zeilen für den Import aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.<br>
→ Die Sync-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf einen Sync.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Klicke auf eine Zuordnung.<br>
→ Die Zuordnung wird geöffnet.</p>
</li>
<li>
<p>Klicke am linken Rand auf <strong>Alle aktivieren</strong>, um alle Zeilen beim Import zu berücksichtigen.</p>
</li>
<li>
<p>Klicke alternativ in einer Zeile auf <strong>Zeile aktivieren</strong>, um nur diese Zeile beim Import zu berücksichtigen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Ansicht in der Zuordnung</div>
<div class="paragraph">
<p>Auf der linken Seite der Zuordnung sind die Importdaten aus der CSV- oder TXT-Datei dargestellt, die auf der plentymarkets Seite zugeordnet werden müssen. Auf der rechten Seite sind die plentymarkets Datenfelder aufgeführt. Die Vorschau (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>) zeigt die ersten 6 Werte der Datei.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1520">5.2. Werte mit der RegEx-Funktion ersetzen</h3>
<div class="paragraph">
<p>Damit eine CSV- oder TXT-Datei beim Import wie gewünscht berücksichtigt wird, kann die sog. RegEx-Funktion genutzt werden. Diese sorgt dafür, dass Daten anhand von Befehlen beim Import manipuliert werden und folglich in der CSV- oder TXT-Datei keine Änderungen mehr vorgenommen werden müssen.</p>
</div>
<div class="paragraph">
<p>Die zwei folgenden Beispiele sollen den Vorgang näher veranschaulichen.</p>
</div>
<div class="paragraph">
<p><strong>Beispiel 1</strong>:<br>
<strong>Input</strong>: “24.12.2017”<br>
<strong>Search pattern</strong>: /^(\d+)\.(\d+)\.(\d+)$/<br>
<strong>Replace pattern</strong>: $3﹣$2﹣$1<br>
<strong>Result</strong>: “2017-12-24”</p>
</div>
<div class="paragraph">
<p><strong>Beispiel 2</strong>:<br>
<strong>Input</strong>: “Mustermann, Max”<br>
<strong>Search pattern</strong>: /^(\w+), (\w+)$/<br>
<strong>Replace pattern</strong>: $2 $1<br>
<strong>Result</strong>: “Max Mustermann”<br></p>
</div>
<div class="paragraph">
<p><strong>Erläuterung der Beispiele</strong>:<br>
Ganz am Anfang steht das Input. Im ersten Schritt wird im sog. Search pattern das Muster eingefügt, nach dem gesucht werden soll. Anschließend wird dieses im sog. Replace pattern so modifiziert, wie es beim Import ausgegeben werden soll und als Result kommt das gewünschte Muster heraus, das schließlich in der CSV- oder TXT-Datei berücksichtigt wird.</p>
</div>
<div class="paragraph instruction">
<p>Werte ersetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.<br>
→ Die Sync-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf einen Sync.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Klicke auf eine Zuordnung.<br>
→ Die Zuordnung wird geöffnet.</p>
</li>
<li>
<p>Wähle im Feld <strong>Quelle</strong> die Option <strong>Regulärer Ausdruck</strong>.<br>
→ Die Optionen für <strong>Regulärer Ausdruck</strong> werden geöffnet.</p>
</li>
<li>
<p>Gib im Feld <strong>Wert</strong> den Spaltennamen der CSV- oder TXT-Datei ein (z.B. Paketnummer, Auftrags-ID etc.).</p>
</li>
<li>
<p>Gib im Feld <strong>Suchen</strong> das Search pattern ein.</p>
</li>
<li>
<p>Gib im Feld <strong>Ersetzen</strong> das Replace pattern ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Datenfelder werden aktualisiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Infos zu RegEx</div>
<div class="paragraph">
<p>Weitere Informationen zu RegEx findest du auf <a href="http://php.net/manual/en/reference.pcre.pattern.syntax.php" target="_blank" rel="noopener">dieser</a> oder <a href="https://regexr.com/" target="_blank" rel="noopener">dieser</a> Seite.
Auf letzterer muss die Einstellung der RegEx engine auf PCRE umgestellt werden. Dies geschieht über das Dropdown-Menü oben rechts, in dem Javascript voreingestellt ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1520">5.3. Eigene Zuordnung</h3>
<div class="paragraph">
<p>Mit der Eigenen Zuordnung können vorhandene Werte einer CSV- oder TXT-Datei auf andere Werte im System gemappt werden. So kann definiert werden, für welche ID welcher Wert importiert werden soll. Zusätzlich kann ein Default-Wert angegeben werden, wenn für einen Wert in der CSV- oder TXT-Datei keine Zuordnung definiert ist. Ist kein Default-Wert angegeben, wird der Originalwert importiert.</p>
</div>
<div class="paragraph instruction">
<p>Eigene Zuordnung festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.<br>
→ Die Sync-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf einen Sync.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Klicke auf eine Zuordnung.<br>
→ Die Zuordnung wird geöffnet.</p>
</li>
<li>
<p>Wähle im Dropdown-Menü des Felds <strong>Quelle</strong> die Option <strong>Eigene Zuordnung</strong>.</p>
</li>
<li>
<p>Fülle die Felder aus. Beachte dazu die Erläuterungen in <a href="#tabelle-eigene-zuordnung">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-eigene-zuordnung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Eigene Zuordnung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Einstellung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der CSV- oder TXT-Spalte (z.B. Lieferland)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardwert</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert, wenn keine Zuordnung gefunden wurde (z.B. 1)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Von</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ursprungswert in der CSV- oder TXT-Datei (z.B. DE für Deutschland)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zu</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert, auf den der Ursprungswert gemappt werden soll (z.B. 1 für DE, 10 für GB etc.)</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1530">5.4. Importdatei durch die eigene Zuordnung manipulieren</h3>
<div class="paragraph">
<p>Im folgenden Abschnitt soll die Verwendung der eigenen Zuordnung am Beispiel von <strong>Versandprofil aktivieren</strong> demonstriert werden.<br>
Voraussetzung für diese Vorgehensweise ist, dass bereits ein Artikel/eine Variante sowie ein Versandprofil vorhanden ist.</p>
</div>
<div id="bild-daten-importieren" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/versandprofil.png" alt="versandprofil">
</div>
<div class="title">Bild 1. Versandprofil</div>
</div>
<div class="paragraph">
<p>Um einen Artikel/eine Variante mit einem Versandprofil zu verknüpfen, wird die ID benötigt. Denn allein mit dem Namen des Versandprofils, der in der Importdatei steht, kann keine Verknüpfung erstellt werden.</p>
</div>
<div id="bild-daten-importieren" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/artikel-id.png" alt="artikel id">
</div>
<div class="title">Bild 2. Artikel-ID</div>
</div>
<div class="paragraph">
<p>Verwende dafür die eigene Zuordnung in ElasticSync, denn dort werden die Daten während des Imports manipuliert. Wähle dazu als Quelle der Importdaten den Wert <strong>Eigene Zuordnung</strong>.</p>
</div>
<div id="bild-daten-importieren" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigene-zuordnung.png" alt="eigene zuordnung">
</div>
<div class="title">Bild 3. Eigene Zuordnung</div>
</div>
<div class="paragraph">
<p>Wähle bei <strong>Typ</strong> die Spalte aus der Importdatei. In diesem Fall ist es die Spalte <strong>Versandprofil</strong>.</p>
</div>
<div id="bild-daten-importieren" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/typ.png" alt="typ">
</div>
<div class="title">Bild 4. Spalte der Importdatei wählen</div>
</div>
<div class="paragraph">
<p>Bestimme nun, welcher Wert in der Importdatei zu welchem Wert geändert werden soll, um den Import erfolgreich durchführen zu können. In diesem Fall soll DPD zur ID des Versandprofils (hier ID 7) geändert werden. Das Gleiche kannst du auch für mehrere Versandprofile tun, indem du noch weitere eigene Zuordnungen hinzufügst.
Führe anschließend den Import aus. Das Versandprofil wird verknüpft.</p>
</div>
<div id="bild-daten-importieren" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/wert-bestimmen.png" alt="wert bestimmen">
</div>
<div class="title">Bild 5. Wert bestimmen</div>
</div>
<div class="paragraph">
<p>Die eigene Zuordnung eignet sich für viele weitere Fälle. Dies gilt insbesondere dort, wo interne IDs von plentymarkets eine Rolle spielen, wie z.B. bei Merkmalnamen, Artikelmarkierungen, Zahlungsmethoden, Länder/Staaten ISO Codes usw.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">6. Importdaten filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mithilfe von Filtern kannst du die Daten eingrenzen, die importiert werden. Die Filter findest du im Bereich <strong>Zuordnung</strong>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Mehrere Filter sind durch Und verknüpft</div>
<div class="paragraph">
<p>Wenn du mehrere Filter verwendest, werden nur Datensätze importiert, auf die alle Filter zutreffen. Es handelt sich also um eine Und-Verknüpfung der Filter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Filter hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.<br>
→ Die Sync-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Sync-Übersicht auf einen Sync.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Klicke auf eine <strong>Zuordnung</strong>.<br>
→ Die Zuordnung wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Symbolleiste auf <strong>Filter</strong> (<span class="icon"><i class="fa fa-filter" style="background-color:yellow"></i></span>).</p>
</li>
<li>
<p>Wähle die Spalte aus deiner Datei, die du filtern möchtest.</p>
</li>
<li>
<p>Wähle einen Operator.</p>
</li>
<li>
<p>Gib einen Wert ein.</p>
</li>
<li>
<p>Klicke auf <strong>Filter hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Filter wird gespeichert.</p>
</li>
<li>
<p>Füge bei Bedarf weitere Filter hinzu.<br>
→ Nur die Daten, auf die alle hinzugefügten Filter zutreffen, werden importiert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1625">7. Erfolgs- und Fehlermeldungen von Syncs einsehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » Log</strong> können die Erfolgs- und Fehlermeldungen von Syncs eingesehen werden. Um gezielt nach Meldungen zu einem bestimmten Sync zu suchen, als Referenztyp <strong>elasticSyncId</strong> oder <strong>elasticSyncName</strong> wählen und den entsprechenden Referenzwert eingeben. Die konkrete Erfolgs- oder Fehlermeldung kann der Spalte <strong>Nachricht</strong> entnommen werden.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Erfolgreicher Import</div>
<div class="paragraph">
<p>War der Sync-Import erfolgreich, wird der Eintrag in der Spalte <strong>Bearbeitungsstatus/Letzter Import</strong> grün dargestellt. Sind beim Import Fehler aufgetreten, ist der Eintrag hingegen rot.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1630">8. Sync kopieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Syncs einzeln oder mehrere gleichzeitig kopieren. So kannst du bereits gut konfigurierte Syncs nutzen, um schnell einen neuen Sync anzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Sync kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.<br>
→ Die Sync-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Markiere einen oder mehrere Syncs.</p>
</li>
<li>
<p>Klicke auf <strong>Sync kopieren</strong>.<br>
→ Der Sync wurde kopiert. Einem kopierten Sync wird <strong>(copy)</strong> hinzugefügt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1640">9. Sync exportieren und importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Syncs können importiert und exportiert werden. So kannst du sowohl Syncs lokal sichern als auch Syncs von anderen Nutzern importieren.</p>
</div>
<div class="paragraph instruction">
<p>Sync exportieren und importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.<br>
→ Die Sync-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Markiere einen oder mehrere Syncs.</p>
</li>
<li>
<p>Klicke auf <strong>Sync exportieren</strong> (<span class="icon"><i class="fa fa-download" style="color:purple"></i></span>).<br>
→ Der Sync wird automatisch heruntergeladen.</p>
</li>
<li>
<p>Klicke auf <strong>Sync importieren</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>).<br>
→ Die Übersicht der Dateien wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Datei hochladen</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>) und wähle eine Datei.</p>
</li>
<li>
<p>Markiere die Datei, die du hochladen möchtest und klicke auf <strong>Wählen</strong>.<br>
→ Es wird abgefragt, ob der Sync importiert werden soll.</p>
</li>
<li>
<p>Klicke auf <strong>Ok</strong>, um die Abfrage zu bestätigen.<br>
→ Es erscheint die Meldung, dass der Import aus einem anderen Mandanten stammt.<br>
→ Der Sync wurde erfolgreich importiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Syncs aus einem anderen plentymarkets System importieren</div>
<div class="paragraph">
<p>Wenn du Syncs aus einem anderen plentymarkets System importierst, musst du deinen Abgleich und die Zuordnung anpassen. Es können nur <strong>.json</strong> Dateien importiert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Syncs importieren und aktualisieren</div>
<div class="paragraph">
<p>Wenn du einen Sync importieren und aktualisieren möchtest, müssen eine Zuordnung und ein Abgleich gesetzt sein. Ansonsten ist es nicht möglich, einen Sync zu testen oder auszuführen. Um den Sync speichern zu können, muss in der Zuordnung ein Datenfeld aktiviert sein.<br>
Zum Importieren eines Syncs genügt die Zuordnung allein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1650">10. Dateien schnell und einfach hochladen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Dateien schnell und einfach hochzuladen, kannst du die Schaltfläche in der Spalte <strong>Dateiname</strong> verwenden.</p>
</div>
<div class="paragraph instruction">
<p>Dateien schnell und einfach hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.<br>
→ Die Sync-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Spalte <strong>Dateiname</strong> auf die Schaltfläche <strong>Datei hochladen</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>).<br>
→ Deine Dateien werden geöffnet.</p>
</li>
<li>
<p>Wähle eine Datei und klicke auf <strong>Öffnen</strong>.<br>
→ Die Datei wird hochgeladen und der Dateiname wird in der Spalte angezeigt. Nach Ausführen des Syncs verschwindet der Dateiname wieder.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">11. Sync testen und Daten importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst einen Sync testen und ausführen. Das Testen erlaubt es dir, schnell festzustellen, ob deine Datei korrekt importiert werden kann.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Syncs testen</div>
<div class="paragraph">
<p>Wenn du <strong>Sync testen</strong> wählst, werden nur die ersten zehn Zeilen der Importdatei importiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1710">12. Abarbeitung von Jobs in der Queue</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Queue sorgt dafür, dass auch große Datenmengen importiert werden können. Noch vor dem Import wird die Importdatei in Pakete zerlegt und anschließend in sogenannten Jobs abgearbeitet. Ein Job besteht aus 750 Zeilen einer CSV- oder TXT-Datei. Jedoch werden auch Importdateien, die weniger als 750 Zeilen enthalten, zu einem Job. Wird ein Sync gestartet, wird die Datei in die entsprechenden Jobs aufgeteilt und in die Queue eingereiht. In der Queue werden neue Jobs ständig abgerufen und die Syncs werden abgearbeitet. Dabei gibt es zwei verschiedene Status. Der Status <strong>Offene Jobs</strong> bedeutet, dass es Jobs gibt, die sich noch in der Queue befinden und darauf warten, abgearbeitet zu werden. <strong>Abgeschlossene Jobs</strong> hingegen wurden bereits bearbeitet und die Daten dementsprechend importiert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1720">13. Zuordnung aktivieren/deaktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du mehrere Zuordnungen in einem Sync pflegst, kannst du bestimmte Zuordnungen eines Syncs in der Übersicht der Zuordnungen mit Klick auf die Umschaltfläche in der Spalte <strong>Aktiv/Inaktiv</strong> deaktivieren bzw. aktivieren. Neue Zuordnungen, die du erstellst, sind standardmäßig aktiv.</p>
</div>
</div>
</div>
</main>