<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#1700"><span>1.</span><span> Datenimport mit Assistenten durchführen</span></a>
<ul class="sectlevel2">
<li><a href="#1800"><span>1.1.</span><span> Assistent Kontaktdatenimport durchlaufen</span></a></li>
<li><a href="#1900"><span>1.2.</span><span> Assistent Artikelimport durchlaufen</span></a></li>
<li><a href="#1200"><span>1.3.</span><span> Assistent Daten hochladen durchlaufen</span></a></li>
</ul>
</li>
<li><a href="#1210"><span>2.</span><span> Import erstellen</span></a></li>
<li><a href="#1300"><span>3.</span><span> Importoptionen festlegen</span></a></li>
<li><a href="#1400"><span>4.</span><span> Abgleich festlegen</span></a></li>
<li><a href="#1500"><span>5.</span><span> Zuordnung erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#1510"><span>5.1.</span><span> Zeilen einer Zuordnung für den Import aktivieren</span></a></li>
<li><a href="#1515"><span>5.2.</span><span> Zuordnung aktivieren/deaktivieren</span></a></li>
<li><a href="#1520"><span>5.3.</span><span> Werte mit der RegEx-Funktion ersetzen</span></a></li>
<li><a href="#1520"><span>5.4.</span><span> Eigene Zuordnung</span></a></li>
<li><a href="#1530"><span>5.5.</span><span> Importdatei durch die Eigene Zuordnung manipulieren</span></a></li>
</ul>
</li>
<li><a href="#1611"><span>6.</span><span> Importdaten filtern</span></a></li>
<li><a href="#1605"><span>7.</span><span> Fehlermeldungen und Fehlerbehebung im Import-Tool</span></a>
<ul class="sectlevel2">
<li><a href="#1610"><span>7.1.</span><span> Importe vor der Ausführung auf Fehler prüfen</span></a></li>
<li><a href="#1615"><span>7.2.</span><span> Import testen und Beispieldaten importieren</span></a></li>
<li><a href="#1620"><span>7.3.</span><span> Protokoll eines verarbeiteten Imports ansehen</span></a></li>
<li><a href="#1625"><span>7.4.</span><span> Erfolgs- und Fehlermeldungen von Imports einsehen</span></a></li>
</ul>
</li>
<li><a href="#1630"><span>8.</span><span> Import kopieren</span></a></li>
<li><a href="#1640"><span>9.</span><span> Import und Export durchführen</span></a></li>
<li><a href="#1645"><span>10.</span><span> Import abbrechen</span></a></li>
<li><a href="#1650"><span>11.</span><span> Dateien schnell und einfach hochladen</span></a></li>
<li><a href="#1710"><span>12.</span><span> Abarbeitung von Jobs in der Queue</span></a></li>
<li><a href="#1715"><span>13.</span><span> Status von Importen einsehen</span></a>
<ul class="sectlevel2">
<li><a href="#_nach_importen_filtern"><span>13.1.</span><span> Nach Importen filtern</span></a></li>
<li><a href="#_detailansicht_zu_fehlern_eines_imports"><span>13.2.</span><span> Detailansicht zu Fehlern eines Imports</span></a></li>
</ul>
</li>
<li><a href="#1730"><span>14.</span><span> Backups von Importen einspielen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Import-Tool nutzen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite beschreibt den Datenimport in plentymarkets mit dem Import-Tool. Ein Import von Daten ist ratsam, wenn du z.B. neue Artikel, Kund:innen-Daten oder Lagerbestände in dein plentymarkets System einpflegen möchtest und die Daten bereits digital vorliegen. Das Import-Tool ermöglicht es über das Erstellen von Importen, Datenimporte auszuführen. Ein Import kann manuell oder automatisiert erfolgen.</p>
</div>
<h3 id="_rechte_für_backend_benutzerinnen_vergeben" class="discrete">Rechte für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Benutzer:innen vom Typ <strong>Backend</strong> <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">sehen nur bestimmte Bereiche und Menüs</a> in plentymarkets. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> mit Importen und Zuordnungen arbeiten können, benötigen diese Mitarbeiter:innen mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Daten &gt; Sync &gt; Aktualisieren</strong></p>
</li>
<li>
<p><strong>Daten &gt; Sync &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Daten &gt; Sync &gt; Erstellen</strong></p>
</li>
<li>
<p><strong>Daten &gt; Sync &gt; Löschen</strong></p>
</li>
<li>
<p><strong>Daten &gt; Sync &gt; Zuordnung &gt; Aktualisieren</strong></p>
</li>
<li>
<p><strong>Daten &gt; Sync &gt; Zuordnung &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Daten &gt; Sync &gt; Zuordnung &gt; Erstellen</strong></p>
</li>
<li>
<p><strong>Daten &gt; Sync &gt; Zuordnung &gt; Löschen</strong></p>
</li>
<li>
<p><strong>Daten &gt; Daten-Log</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Tipp: So vergibst du Rechte</div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admin</strong>-Benutzer:innen Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle eine:n Benutzer:in.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">1. Datenimport mit Assistenten durchführen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du möchtest Kontakt- oder Artikeldaten importieren und fragst dich, wie du dies in deinem plentymarkets System am schnellsten tun kannst? Dann verwende die dafür vorgesehenen Assistenten, mit denen du eine Imporvorlage erstellen und mit deinen Daten befüllen kannst. Die Assistenten leiten dich Schritt für Schritt durch die notwendigen Einstellungen und du kannst genau festlegen, welche Daten importiert werden sollen. Im Anschluss kannst du - ebenfalls mithilfe eines Assistenten - deine mit Daten gefüllte Importvorlage direkt hochladen und den Import ausführen.</p>
</div>
<div class="sect2">
<h3 id="1800">1.1. Assistent Kontaktdatenimport durchlaufen</h3>
<div class="paragraph">
<p>Für den Import von Kontaktdaten steht dir neben dem Import-Tool der Kontaktdatenimport-Assistent zur Verfügung. Dieser Assistent hilft dir dabei, eine auf deine Bedürfnisse zugeschnittene Importvorlage zu erstellen. Diese kannst du anschließend herunterladen und mit deinen Daten befüllen.</p>
</div>
<div class="paragraph">
<p>Du findest den Kontaktdatenimport-Assistenten im Menü <strong>Einrichtung » Assistenten » Grundeinrichtung</strong>. In diesem Assistenten nimmst du die folgenden Einstellungen vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du wählst den Namen des Imports, der später im System angezeigt werden soll.</p>
</li>
<li>
<p>Du wählst, welche Kontaktdaten, Adressdaten und Firmendaten du importieren möchtest.</p>
</li>
<li>
<p>Du wählst, welche Kontakte und Kontaktoptionen du importieren möchtest.</p>
</li>
<li>
<p>Du wählst, welche Adressen du importieren möchtest.</p>
</li>
<li>
<p>Du kannst die Importvorlage als CSV-Datei herunterladen. Beachte, dass die ersten 3 Zeilen nicht geändert werden dürfen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du nun den Import durchführen möchtest, kannst du den <a href="#Daten hochladen-Assistenten">[Daten hochladen-Assistenten]</a> verwenden. Alternativ kannst du die Importdatei auch im Menü <strong>Daten » Import</strong> im jeweiligen Import hochladen.</p>
</div>
</div>
<div class="sect2">
<h3 id="1900">1.2. Assistent Artikelimport durchlaufen</h3>
<div class="paragraph">
<p>Für den Import von Artikeldaten steht dir neben dem Import-Tool der Artikelimport-Assistent zur Verfügung. Dieser Assistent hilft dir dabei, eine auf deine Bedürfnisse zugeschnittene Importvorlage zu erstellen. Diese kannst du anschließend herunterladen und mit deinen Daten befüllen.</p>
</div>
<div class="paragraph">
<p>Du findest den Artikelimport-Assistenten im Menü <strong>Einrichtung » Assistenten » Grundeinrichtung</strong>. In diesem Assistenten nimmst du die folgenden Einstellungen vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du wählst den Namen des Imports, der später im System angezeigt werden soll.</p>
</li>
<li>
<p>Du wählst, welche Artikeldaten du importieren möchtest.</p>
</li>
<li>
<p>Du wählst, welche Verkaufspreise du importieren möchtest und legst deren Formatierung fest.</p>
</li>
<li>
<p>Du kannst die Importvorlage als CSV-Datei herunterladen. Beachte, dass die ersten 3 Zeilen nicht geändert werden dürfen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du nun den Import durchführen möchtest, kannst du den <a href="#Daten hochladen-Assistenten">[Daten hochladen-Assistenten]</a> verwenden. Alternativ kannst du die Importdatei auch im Menü <strong>Daten » Import</strong> im jeweiligen Import hochladen.</p>
</div>
</div>
<div class="sect2">
<h3 id="1200">1.3. Assistent Daten hochladen durchlaufen</h3>
<div class="paragraph">
<p>Den Daten hochladen-Assistenten kannst du verwenden, um eine mit deinen Daten gefüllte Importvorlage hochzuladen und den Import direkt auszuführen.</p>
</div>
<div class="paragraph">
<p>Du findest den Daten hochladen-Assistenten im Menü <strong>Einrichtung » Assistenten » Grundeinrichtung</strong>. In diesem Assistenten nimmst du die folgenden Einstellungen vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du lädst die mit deinen Daten gefüllte Importvorlage hoch.<br>
<strong><em>Hinweis</em></strong>: Falls du noch keine Importvorlage besitzt, erstelle dir eine über den entsprechenden Import-Assistenten.</p>
</li>
<li>
<p>Du führst den Import aus. Hier kannst du bestimmen, ob du den Import mit Abschließen des Assistenten direkt ausführen möchtest. Alternativ kannst du den Import auch im Menü <strong>Daten » Import</strong> starten.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Anschließend kannst du den über den Assistenten erstellten Import in der Übersicht im Menü <strong>Daten » Import</strong> sehen. Ein Abgleich ist hier nicht vorhanden, da es sich um neue Daten handelt. Im Tab <strong>Zuordnung</strong> des Imports wurden bereits alle Felder deiner CSV-Datei automatisch den plentymarkets Datenfeldern zugewiesen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1210">2. Import erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die grundsätzliche Funktionsweise zum Erstellen und Ausführen eines Imports ist für alle Import-Typen gleich und wird hier einmal übergreifend beschrieben.</p>
</div>
<div class="paragraph">
<p>Importe erstellst, bearbeitest und verwaltest du im Menü <strong>Daten » Import</strong>. Hier siehst du eine Übersicht aller Importe. Ein Import dient dazu, die Daten einer per FTP oder HTTPS zugänglichen Datei in plentymarkets zuzuordnen und zu importieren. Beim Erstellen des Imports speicherst du Informationen zur Datenquelle. Wichtig für einen Import ist außerdem, dass du Daten für den Abgleich festlegst und zuordnest, welche Daten der Datei welchen Daten in plentymarkets entsprechen. Mit dem Abgleich bestimmst du, anhand welcher Daten versucht wird zu identifizieren, ob bereits ein Datensatz besteht oder nicht. Mit der Zuordnung legst du fest, welche Spalte deiner Datei welchem Datenfeld in plentymarkets entspricht. Am Ende legst du ein Importintervall fest. Gehe wie im Folgenden beschrieben vor, um einen Import zu erstellen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Importintervall am Ende einstellen, damit nicht vorzeitig ein Import ausgeführt wird</div>
<div class="paragraph">
<p>Stelle das Importintervall am Ende ein, damit nicht schon ein Import ausgeführt wird, während du noch Abgleich- oder Zuordnungseinstellungen vornimmst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Import erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Import hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Bearbeitungsbereich <strong>Neuer Import</strong> wird angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-sync-erstellen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Der Import wird erstellt.<br>
→ Die Abgleicheinstellungen des Imports werden geöffnet.</p>
</li>
</ol>
</div>
<table id="tabelle-sync-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Import erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Grunddaten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben. Dieser Name wird in der Übersicht angezeigt und kann für die Suche genutzt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Intervall</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Intervall für den Import wählen.<br>
Mit der Option <strong>Zeitplan</strong> kann festgelegt werden, wie oft und zu welchem Zeitpunkt ein Import gestartet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Typ aus Dropdown-Liste wählen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-artikel">Artikel</a> = Wählen, um Artikeldaten und Variantendaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-attribute">Attribute</a> = Wählen, um Attributdaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-auftraege">Aufträge</a> = Wählen, um Auftragsdaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften">Eigenschaften</a> = Wählen, um Eigenschaften zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-facetten">Facetten</a> = Wählen, um Facetten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticsync-fahrzeugverwendungsliste">Fahrzeugverwendungsliste</a> = Wählen, um Daten der Fahrzeugverwendungsliste zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-gutschein-codes">Gutschein-Codes</a> = Wählen, um Gutschein-Codes zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-hersteller">Hersteller</a> = Wählen, um Herstellerdaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-kampagnen">Kampagnen</a> = Wählen, um Gutscheinkampagnen zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-kategorien">Kategorien</a> = Wählen, um Kategoriedaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-kontakte">Kontakte, Firmen und Adressen</a> = Wählen, um Kontakt-, Firmen- und Adressdaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-lager">Lager</a> = Wählen, um Lagerorte zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-merkmale">Merkmale</a> = Wählen, um Merkmaldaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-newsletter-empfaenger">Newsletter-Empfänger:in</a> = Wählen, um Newsletter-Daten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-notizen">Notizen</a> = Wählen, um Notizen zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-warenbestand">Warenbestand</a> = Wählen, um Warenbestandsdaten zu importieren.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-wareneingang">Wareneingang</a> = Wählen, um Wareneingangsdaten zu importieren.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Import</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datentyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dateiformat der Importdatei wählen.<br>
Aktuell ist jedoch nur die Auswahl <strong>CSV/TXT</strong> verfügbar, da nur CSV- oder TXT-Dateien importiert werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeichensatz der Datei oder die Option <strong>Automatisch erkennen</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beginne ab Zeile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ab welcher Zeile der Datei Daten importiert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kopfzeile enthalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Importdatei eine Kopfzeile enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Globalen Cache nutzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, ob der globale Cache für eine Datei genutzt werden soll oder nicht. Ist die Einstellung aktiviert, werden nur geänderte Datenzeilen importiert. Ist die Einstellung nicht aktiviert, kann ein und dieselbe Datei jederzeit erneut importiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatische Zuordnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die automatische Zuordnung verwendet werden soll. Die Spalten der CSV- oder TXT-Datei können automatisch den plentymarkets Datenfeldern zugeordnet werden. Damit die Zuordnung funktioniert, darf die Benennung der im FormatDesigner gewählten Felder nicht geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Trennzeichen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Trennzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Trennzeichen der CSV- oder TXT-Datei wird automatisch erkannt. Diese Einstellung ist standardmäßig aktiviert.<br>
Alternativ kann das Trennzeichen, das in der Importdatei verwendet wird, um die Datenfelder (Spalten) eines Datensatzes voneinander zu trennen, manuell gewählt werden.<br>
Mögliche Trennzeichen sind <strong>Semikolon</strong>, <strong>Komma</strong>, <strong>Tabulator</strong> oder <strong>Pipe</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feldbegrenzungszeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Begrenzungszeichen innerhalb von Feldern wählen, die mehrere Werte enthalten können.<br>
* " = einzelne Werte innerhalb eines Feldes sind durch doppelte Anführungszeichen voneinander getrennt.
* ' = einzelne Werte innerhalb eines Feldes sind durch einfache Anführungszeichen voneinander getrennt.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Quelle</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quelle</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Manueller Upload</strong>, <strong>FTP</strong>, <strong>HTTPS</strong> oder <strong>SFTP</strong> wählen.<br>
Je nach gewählter Option werden weitere Einstellungen sichtbar:</p>
</div>
<div class="paragraph">
<p><strong>Manueller Upload</strong> = lokale Datei wählen und direkt hochladen.<br>
Nachdem ein Import ausgeführt wurde, wird die Datei automatisch vom Webspace gelöscht. Dies ist standardmäßig voreingestellt. Um die Datei zu speichern, muss der Haken in der Checkbox entfernt werden. <strong><em>Hinweis</em></strong>: Das Speichern der Datei auf dem Webspace ist kostenpflichtig.</p>
</div>
<div class="paragraph">
<p><strong>FTP</strong> = Host, Port, Benutzername, Passwort und Dateiname werden als Einstellungen sichtbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (Pflichtfeld)</strong> = Host des FTP-Servers eingeben.<br>
<strong><em>Tipp:</em></strong> Nutze hierzu deinen plentymarkets FTP-Zugang.</p>
</li>
<li>
<p><strong>Port</strong> = Port des FTP-Servers. Wenn kein Port eingetragen ist, wird der Standard-Port (22) verwendet.</p>
</li>
<li>
<p><strong>Benutzername (Pflichtfeld)</strong> = Benutzer:in für FTP-Zugang eingeben.</p>
</li>
<li>
<p><strong>Passwort (Pflichtfeld)</strong> = Passwort für FTP-Zugang eingeben.</p>
</li>
<li>
<p><strong>Dateiname</strong> = Pfad und Name der Datei eingeben, aus der Daten importiert werden sollen. Der Dateiname muss auf .csv oder .txt enden.<br>
<strong><em>Hinweis:</em></strong> Wildcards können im Feld <strong>Dateiname</strong> verwendet werden, indem z.B. ein Teil des Dateinamens durch ein <strong>*</strong> ersetzt wird. Wildcards nur in Kombination mit der Option <strong>Datei nach erfolgreichem Import in Archiv verschieben</strong> verwenden.</p>
</li>
<li>
<p><strong>Datei nach erfolgreichem Import in Archiv verschieben</strong> = Wenn diese Option aktiv ist, wird nach erfolgreichem Import die Importdatei automatisch in einen neuen Ordner <strong>Archiv</strong> auf dem FTP-Verzeichnis verschoben.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>FTPS</strong> = Wähle <strong>FTP</strong> als Quelle. Setze anschließend weiter unten bei <strong>FTP mit SSL/TLS</strong> einen Haken.<br>
Nimm die Einstellungen vor, wie bei der Option <strong>FTP</strong> beschrieben.</p>
</div>
<div class="paragraph">
<p><strong>HTTPS</strong> = <strong>Externe URL</strong> wählen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Externe URL</strong> = URL eingeben, unter der die Importdatei erreichbar ist.<br>
<strong><em>Tipp:</em></strong> Speichere die Datei auf dem plentymarkets Webspace.</p>
</li>
<li>
<p><strong>Authentifizierung</strong>: Wählen, ob für den Zugriff auf die Datei eine Authentifizierung erforderlich ist oder nicht.</p>
<div class="ulist">
<ul>
<li>
<p><strong>keine</strong> = keine Authentifizierung erforderlich</p>
</li>
<li>
<p><strong>HTTP-Authentifizierung</strong> = Authentifizierung per Benutzer:in und Passwort erforderlich</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>SFTP</strong> = Host, Port, Benutzername, Passwort und Dateiname werden als Einstellungen sichtbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (Pflichtfeld)</strong> = Host des FTP-Servers eingeben.<br></p>
</li>
<li>
<p><strong>Port (Pflichtfeld)</strong> = Port des FTP-Servers. Wenn kein Port eingetragen ist, wird der Standard-Port (22) verwendet.</p>
</li>
<li>
<p><strong>Benutzername (Pflichtfeld)</strong> = Benutzer:in für FTP-Zugang eingeben.</p>
</li>
<li>
<p><strong>Passwort (Pflichtfeld)</strong> = Passwort für FTP-Zugang eingeben.</p>
</li>
<li>
<p><strong>Dateiname</strong> = Pfad und Name der Datei eingeben, aus der Daten importiert werden sollen. Der Dateiname muss auf .csv oder .txt enden.<br>
<strong><em>Hinweis:</em></strong> Wildcards können im Feld <strong>Dateiname</strong> verwendet werden, indem z.B. ein Teil des Dateinamens durch ein <strong>*</strong> ersetzt wird. Wildcards nur in Kombination mit der Option <strong>Datei nach erfolgreichem Import in Archiv verschieben</strong> verwenden.</p>
</li>
<li>
<p><strong>Datei nach erfolgreichem Import in Archiv verschieben</strong> = Wenn diese Option aktiv ist, wird nach erfolgreichem Import die Importdatei automatisch in einen neuen Ordner <strong>Archiv</strong> auf dem FTP-Verzeichnis verschoben.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">3. Importoptionen festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Importoptionen befinden sich im Bereich <strong>Abgleich</strong> und gelten sowohl für den Abgleich als auch für die Zuordnung.</p>
</div>
<div class="paragraph">
<p>Bevor wir zu den konkreten Einstellungen der Importoptionen kommen, hast du hier die Möglichkeit, mehr über den Datenimport zu erfahren.
Wie bereits erwähnt, kann dieser manuell oder automatisch erfolgen. Wenn du neu bei plentymarkets bist und deine Artikel einmalig manuell importieren möchtest, schaue dir dieses Video an und lerne, wie du Informationen wie beispielsweise Produkt- oder Kund:innen-Daten in deiner CSV-Datei einmalig manuell importierst.<br>
<strong><em>Hinweis:</em></strong> Der Begriff <strong>ElasticSync</strong> ist veraltet und wurde durch <strong>Import</strong> ersetzt.</p>
</div>
<div class="videoblock">
<div class="title">Importiere deine Daten einmalig manuell</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/321227748" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>In diesem Video erfährst du, wie du plentymarkets so konfigurierst, dass neue Dateien automatisch importiert und alte archiviert werden.</p>
</div>
<div class="videoblock">
<div class="title">Lasse deine Daten automatisch importieren oder archivieren</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/322203826" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>Nun zurück zu den Importoptionen.</p>
</div>
<div class="paragraph instruction">
<p>Importoptionen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Import-Übersicht auf den Import.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Abgleich</strong>.</p>
</li>
<li>
<p>Lege die Importoptionen fest. Beachte dazu die Erläuterungen in <a href="#tabelle-Sync-Importoptionen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-Sync-Importoptionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Importoptionen für Importe</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Importoption</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Importoption wählen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Neue Daten importieren, vorhandene aktualisieren</strong> = Wenn anhand der Abgleichfelder keine übereinstimmenden Daten gefunden werden, wird ein neuer Datensatz, z.B. ein neuer Artikel oder ein neuer Auftrag, hinzugefügt. Gleichzeitig werden bereits vorhandene Daten aktualisiert.</p>
</li>
<li>
<p><strong>Nur vorhandene Daten aktualisieren</strong> = Vorhandene Daten werden aktualisiert. Wenn anhand der Abgleichfelder keine übereinstimmenden Daten gefunden werden, wird der Datensatz nicht importiert.</p>
</li>
<li>
<p><strong>Nur neue Daten importieren</strong> = Es werden ausschließlich neue Datensätze importiert, für die anhand der Abgleichfelder keine übereinstimmenden Daten gefunden werden.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dezimalzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Deutsche Schreibweise</strong> oder <strong>Englische Schreibweise</strong> wählen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Deutsche Schreibweise</strong> = Dezimalzahlen werden kommasepariert angegeben und ein Punkt dient als Tausendertrennzeichen.</p>
</li>
<li>
<p><strong>Englische Schreibweise</strong> = Dezimalzahlen werden punktsepariert angegeben und ein Komma dient als Tausendertrennzeichen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datumsformat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datumsformat eingeben. Wenn die Datumsangaben in der Datei dem Standardformat Y-m-d H:i:s entsprechen, muss nichts eingegeben werden. Andere Formate müssen eingetragen werden. Zulässig sind alle <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">php-konformen Datumsformate</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1400">4. Abgleich festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du einen Import erstellt hast, öffne diesen, um weitere Einstellungen vorzunehmen. Zunächst wählst du die Felder, die zum Abgleichen der Daten verwendet werden sollen. Lege außerdem fest, was passieren soll, wenn durch den Abgleich keine bestehenden Daten gefunden werden.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Abgleich ist optional</div>
<div class="paragraph">
<p>Bei den Abgleichfeldern handelt es sich um optionale Einstellungen. Wenn du kein Abgleichfeld wählst, können die Daten deiner Datei keinen bestehenden Daten in deinem System zugeordnet werden. Du kannst eins, mehrere oder alle Abgleichfelder festlegen. Die angezeigten Abgleichfelder unterscheiden sich für jeden Import-Typ.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Abgleich festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Import-Übersicht auf den Import.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Abgleich</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">5. Zuordnung erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mithilfe einer Zuordnung legst du fest, welche Spalte deiner Datei welchem Datenfeld in deinem System entspricht. Ohne Zuordnung können keine Daten importiert werden. Neue Zuordnungen erstellst du im Tab Zuordnung. Für jede neue Zuordnung wird automatisch eine Position vergeben, die bei Bedarf im Tab Einstellungen angepasst werden kann.</p>
</div>
<div class="paragraph instruction">
<p>Zuordnung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf einen Import.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Gehe in das Tab <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Zuordnung hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für die Zuordnung ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die neue Zuordnung wird geöffnet. Die verfügbaren Zuordnungsfelder unterscheiden sich je nach Import-Typ.</p>
</li>
<li>
<p>Wähle Datenfelder für die Zuordnung aus, indem du Häkchen bei diesen Feldern setzt.<br>
→ Die gewählten Datenfelder werden zur Zuordnung hinzugefügt.</p>
</li>
<li>
<p>Wähle für jedes Datenfeld eine Spalte aus deiner Datei oder die Option <strong>Eigener Wert</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Willst du eine Datei in plentymarkets importieren, aber es fehlen einige wichtige Informationen? Du musst die Datei nicht manuell anpassen! Das Video zeigt dir, wie du mit dem Eigenen Wert die fehlenden Informationen hinzufügst.<br>
<strong><em>Hinweis:</em></strong> Der Begriff <strong>ElasticSync</strong> ist veraltet und wurde durch <strong>Import</strong> ersetzt.</p>
</div>
<div class="videoblock">
<div class="title">Nutze den Eigenen Wert, um Informationen zu deiner Datei hinzuzufügen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/328394037" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Eigener Wert</div>
<div class="paragraph">
<p>Die Option <strong>Eigener Wert</strong> erlaubt dir, für ein Datenfeld einen festen Wert zu importieren. Dieser feste Wert ist somit für jeden Datensatz, der durch diesen Import importiert wird, gleich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Mathematische Berechnungen</div>
<div class="paragraph">
<p>Wähle in der Übersicht der Zuordnung die Quelle <strong>Mathematische Berechnungen</strong>, um Werte der CSV- oder TXT-Datei während des Imports anzupassen. Zur Auswahl stehen die Addition (+), die Subtraktion (-), die Multiplikation (*), die Division (/) und die Anpassung des Prozentsatzes (+)/(-). Bei dem Wert, der in der CSV- oder TXT-Spalte angepasst wird, muss es sich um eine Zahl handeln.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1510">5.1. Zeilen einer Zuordnung für den Import aktivieren</h3>
<div class="paragraph">
<p>Im Bereich <strong>Zuordnung</strong> kannst du mit nur einem Klick alle gewählten Zeilen für den Import gesammelt aktivieren und auch wieder deaktivieren. Alternativ kannst du bei jeder Zeile individuell entscheiden, ob sie aktiv oder inaktiv sein soll, sprich, ob sie beim Import berücksichtigt werden soll oder nicht.</p>
</div>
<div class="paragraph instruction">
<p>Zeilen für den Import aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf einen Import.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Klicke auf eine Zuordnung.<br>
→ Die Zuordnung wird geöffnet.</p>
</li>
<li>
<p>Hake am linken Rand alle Zeilen an, die du beim Import berücksichtigen möchtest.</p>
</li>
<li>
<p>Klicke anschließend oben auf <strong>Alle aktivieren</strong> (<span class="icon green"><i class="fa fa-power-off  "></i></span>). Mit Klick auf <strong>Alle deaktivieren</strong> (<span class="icon red"><i class="fa fa-power-off  "></i></span>) kannst du die gewählten Zeilen auch wieder gesammelt deaktivieren.</p>
</li>
<li>
<p>Klicke alternativ auf <strong>Zeile aktivieren</strong> (<span class="icon red"><i class="fa fa-toggle-off  "></i></span>) am rechten Rand, um Zeilen für den Import einzeln zu aktivieren.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Ansicht in der Zuordnung</div>
<div class="paragraph">
<p>Auf der linken Seite der Zuordnung sind die Importdaten aus der CSV- oder TXT-Datei dargestellt, die auf der plentymarkets Seite zugeordnet werden müssen. Auf der rechten Seite sind die plentymarkets Datenfelder aufgeführt. Die Vorschau (<span class="icon blue"><i class="fa fa-eye  "></i></span>) zeigt die ersten 6 Werte der Datei.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Position und Name bearbeiten</div>
<div class="paragraph">
<p>Mit Klick auf <strong>Einstellungen</strong> (<span class="icon black"><i class="fa fa-cog  "></i></span>) in der Zuordnung werden die Felder <strong>Name</strong> und <strong>Position</strong> sichtbar und können angepasst werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1515">5.2. Zuordnung aktivieren/deaktivieren</h3>
<div class="paragraph">
<p>Wenn du mehrere Zuordnungen in einem Import pflegst, kannst du bestimmte Zuordnungen eines Imports in der Übersicht der Zuordnungen mit Klick auf die Umschaltfläche in der Spalte <strong>Aktiv/Inaktiv</strong> deaktivieren bzw. aktivieren. Neue Zuordnungen, die du erstellst, sind standardmäßig aktiv.</p>
</div>
</div>
<div class="sect2">
<h3 id="1520">5.3. Werte mit der RegEx-Funktion ersetzen</h3>
<div class="paragraph">
<p>Damit eine CSV- oder TXT-Datei beim Import wie gewünscht berücksichtigt wird, kann die sog. RegEx-Funktion (Regular Expression) genutzt werden. Diese sorgt dafür, dass Daten anhand von Befehlen beim Import manipuliert werden und folglich in der CSV- oder TXT-Datei keine Änderungen mehr vorgenommen werden müssen. Lerne in diesem Video mehr über die Anwendung der RegEx-Funktion.<br>
<strong><em>Hinweis:</em></strong> Der Begriff <strong>ElasticSync</strong> ist veraltet und wurde durch <strong>Import</strong> ersetzt.</p>
</div>
<div class="videoblock">
<div class="title">Ändere deine Daten mit der ReEx-Funktion</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/329090839" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>Die zwei folgenden Beispiele sollen den Vorgang näher veranschaulichen.</p>
</div>
<div class="paragraph">
<p><strong>Beispiel 1</strong>:<br>
<strong>Input</strong>: “24.12.2017”<br>
<strong>Search pattern</strong>: /^(\d+)\.(\d+)\.(\d+)$/<br>
<strong>Replace pattern</strong>: $3﹣$2﹣$1<br>
<strong>Result</strong>: “2017-12-24”</p>
</div>
<div class="paragraph">
<p><strong>Beispiel 2</strong>:<br>
<strong>Input</strong>: “Mustermann, Max”<br>
<strong>Search pattern</strong>: /^(\w+), (\w+)$/<br>
<strong>Replace pattern</strong>: $2 $1<br>
<strong>Result</strong>: “Max Mustermann”<br></p>
</div>
<div class="paragraph">
<p><strong>Erläuterung der Beispiele</strong>:<br>
Ganz am Anfang steht das Input. Im ersten Schritt wird im sog. Search pattern das Muster eingefügt, nach dem gesucht werden soll. Anschließend wird dieses im sog. Replace pattern so modifiziert, wie es beim Import ausgegeben werden soll und als Result kommt das gewünschte Muster heraus, das schließlich in der CSV- oder TXT-Datei berücksichtigt wird.</p>
</div>
<div class="paragraph instruction">
<p>Werte ersetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf einen Import.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Klicke auf eine Zuordnung.<br>
→ Die Zuordnung wird geöffnet.</p>
</li>
<li>
<p>Wähle im Feld <strong>Quelle</strong> die Option <strong>Regulärer Ausdruck</strong>.<br>
→ Die Optionen für <strong>Regulärer Ausdruck</strong> werden geöffnet.</p>
</li>
<li>
<p>Gib im Feld <strong>Wert</strong> den Spaltennamen der CSV- oder TXT-Datei ein (z.B. Paketnummer, Auftrags-ID etc.).</p>
</li>
<li>
<p>Gib im Feld <strong>Suchen</strong> das Search pattern ein.</p>
</li>
<li>
<p>Gib im Feld <strong>Ersetzen</strong> das Replace pattern ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Datenfelder werden aktualisiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Infos zu RegEx</div>
<div class="paragraph">
<p>Weitere Informationen zu RegEx findest du auf <a href="http://php.net/manual/en/reference.pcre.pattern.syntax.php" target="_blank" rel="noopener">dieser</a> oder <a href="https://regexr.com/" target="_blank" rel="noopener">dieser</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> Seite.
Auf letzterer muss die Einstellung der RegEx engine auf PCRE umgestellt werden. Dies geschieht über das Dropdown-Menü oben rechts, in dem Javascript voreingestellt ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1520">5.4. Eigene Zuordnung</h3>
<div class="paragraph">
<p>Mit der Eigenen Zuordnung können vorhandene Werte einer CSV- oder TXT-Datei auf andere Werte im System gemappt werden. So kann definiert werden, für welche ID welcher Wert importiert werden soll. Zusätzlich kann ein Default-Wert angegeben werden, wenn für einen Wert in der CSV- oder TXT-Datei keine Zuordnung definiert ist. Ist kein Default-Wert angegeben, wird der Originalwert importiert.</p>
</div>
<div class="paragraph instruction">
<p>Eigene Zuordnung festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf einen Import.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Klicke auf eine Zuordnung.<br>
→ Die Zuordnung wird geöffnet.</p>
</li>
<li>
<p>Wähle im Dropdown-Menü des Felds <strong>Quelle</strong> die Option <strong>Eigene Zuordnung</strong>.</p>
</li>
<li>
<p>Fülle die Felder aus. Beachte dazu die Erläuterungen in <a href="#tabelle-eigene-zuordnung">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-eigene-zuordnung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Eigene Zuordnung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Einstellung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der CSV- oder TXT-Spalte (z.B. Lieferland)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardwert</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert, wenn keine Zuordnung gefunden wurde (z.B. 1)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Von</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ursprungswert in der CSV- oder TXT-Datei (z.B. DE für Deutschland)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zu</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert, auf den der Ursprungswert gemappt werden soll (z.B. 1 für DE, 10 für GB etc.)</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1530">5.5. Importdatei durch die Eigene Zuordnung manipulieren</h3>
<div class="paragraph">
<p>Im folgenden Abschnitt soll die Verwendung der Eigenen Zuordnung am Beispiel von <strong>Versandprofil aktivieren</strong> demonstriert werden.<br>
Voraussetzung für diese Vorgehensweise ist, dass bereits ein Artikel/eine Variante sowie ein Versandprofil vorhanden ist. Das folgende Video bietet dir eine Einfürhung in die Funktionsweise der Eigenen Zuordnung.<br>
<strong><em>Hinweis:</em></strong> Der Begriff <strong>ElasticSync</strong> ist veraltet und wurde durch <strong>Import</strong> ersetzt.</p>
</div>
<div class="videoblock">
<div class="title">Nutze die Eigene Zuordnung zum Austauschen von Informationen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/328394174" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div id="bild-daten-importieren" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/versandprofil.png" alt="versandprofil">
</div>
<div class="title">Bild 1. Versandprofil</div>
</div>
<div class="paragraph">
<p>Um einen Artikel/eine Variante mit einem Versandprofil zu verknüpfen, wird die ID benötigt. Denn allein mit dem Namen des Versandprofils, der in der Importdatei steht, kann keine Verknüpfung erstellt werden.</p>
</div>
<div id="bild-daten-importieren" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/artikel-id.png" alt="artikel id">
</div>
<div class="title">Bild 2. Artikel-ID</div>
</div>
<div class="paragraph">
<p>Verwende dafür die eigene Zuordnung im Import-Tool, denn dort werden die Daten während des Imports manipuliert. Wähle dazu als Quelle der Importdaten den Wert <strong>Eigene Zuordnung</strong>.</p>
</div>
<div id="bild-daten-importieren" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigene-zuordnung.png" alt="eigene zuordnung">
</div>
<div class="title">Bild 3. Eigene Zuordnung</div>
</div>
<div class="paragraph">
<p>Wähle bei <strong>Typ</strong> die Spalte aus der Importdatei. In diesem Fall ist es die Spalte <strong>Versandprofil</strong>.</p>
</div>
<div id="bild-daten-importieren" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/typ.png" alt="typ">
</div>
<div class="title">Bild 4. Spalte der Importdatei wählen</div>
</div>
<div class="paragraph">
<p>Bestimme nun, welcher Wert in der Importdatei zu welchem Wert geändert werden soll, um den Import erfolgreich durchführen zu können. In diesem Fall soll DPD zur ID des Versandprofils (hier ID 7) geändert werden. Das Gleiche kannst du auch für mehrere Versandprofile tun, indem du noch weitere eigene Zuordnungen hinzufügst.
Führe anschließend den Import aus. Das Versandprofil wird verknüpft.</p>
</div>
<div id="bild-daten-importieren" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/wert-bestimmen.png" alt="wert bestimmen">
</div>
<div class="title">Bild 5. Wert bestimmen</div>
</div>
<div class="paragraph">
<p>Die eigene Zuordnung eignet sich für viele weitere Fälle. Dies gilt insbesondere dort, wo interne IDs von plentymarkets eine Rolle spielen, wie z.B. bei Merkmalnamen, Artikelmarkierungen, Zahlungsmethoden, Länder/Staaten ISO Codes usw.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1611">6. Importdaten filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mithilfe von Filtern kannst du die Daten eingrenzen, die importiert werden. Die Filter findest du im Bereich <strong>Zuordnung</strong>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Mehrere Filter sind durch Und verknüpft</div>
<div class="paragraph">
<p>Wenn du mehrere Filter verwendest, werden nur Datensätze importiert, auf die alle Filter zutreffen. Es handelt sich also um eine Und-Verknüpfung der Filter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Filter hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Import-Übersicht auf einen Import.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Klicke auf eine <strong>Zuordnung</strong>.<br>
→ Die Zuordnung wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Symbolleiste auf <strong>Filter</strong> (<span class="icon yellow"><i class="fa fa-filter  "></i></span>).</p>
</li>
<li>
<p>Wähle die Spalte aus deiner Datei, die du filtern möchtest.</p>
</li>
<li>
<p>Wähle einen Operator.</p>
</li>
<li>
<p>Gib einen Wert ein.</p>
</li>
<li>
<p>Klicke auf <strong>Filter hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Filter wird gespeichert.</p>
</li>
<li>
<p>Füge bei Bedarf weitere Filter hinzu.<br>
→ Nur die Daten, auf die alle hinzugefügten Filter zutreffen, werden importiert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1605">7. Fehlermeldungen und Fehlerbehebung im Import-Tool</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Import-Tool bietet dir verschiedene Möglichkeiten, fehlerhafte Importe frühzeitig zu identifizieren und die Fehlerbehebung durchzuführen. So kannst du beispielweise Importe vor der Ausführung auf Fehler überprüfen oder nach dem Import konkrete Fehlermeldungen in Form eines Protokolls einsehen. Nachfolgend sind die verschiedenen Möglichkeiten aufgeführt.</p>
</div>
<div class="sect2">
<h3 id="1610">7.1. Importe vor der Ausführung auf Fehler prüfen</h3>
<div class="paragraph">
<p>Mithilfe der Validierung können Importe bereits vor der Ausführung auf Fehler geprüft werden, um sicherzustellen, dass ein reibungsloser Import möglich ist.</p>
</div>
<div class="paragraph instruction">
<p>Importe vor der Ausführung auf Fehler prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf einen Import.<br>
→ Die Einstellungen werden geöffnet.</p>
</li>
<li>
<p>Klicke im Tab Einstellungen, Abgleich oder Zuordnung auf <strong>Validierung</strong> (<span class="icon yellow"><i class="fa fa-bug  "></i></span>).<br>
→ Ein Fenster wird geöffnet und zeigt eine Tabelle mit den entsprechenden Fehlermeldungen an.</p>
</li>
<li>
<p>Wenn Fehler aufgetreten sind und du Hilfe aus dem Forum benötigst, klicke auf <strong>In Zwischenablage kopieren</strong> (<span class="icon yellow"><i class="fa fa-clone  "></i></span>) und füge die Informationen im Forum ein.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1615">7.2. Import testen und Beispieldaten importieren</h3>
<div class="paragraph">
<p>In der Import-Übersicht kannst du einen Import testen (<span class="icon yellow"><i class="fa fa-flask  "></i></span>) und ausführen (<span class="icon grey"><i class="fa fa-play-circle  "></i></span>). Das Testen erlaubt es dir, schnell festzustellen, ob deine Datei korrekt importiert werden kann.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Importe testen</div>
<div class="paragraph">
<p>Beachte, dass beim Testen des Imports bereits Bestand importiert wird. Wenn du <strong>Import testen</strong> (<span class="icon yellow"><i class="fa fa-flask  "></i></span>) wählst, werden nur die ersten zehn Zeilen der Importdatei importiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1620">7.3. Protokoll eines verarbeiteten Imports ansehen</h3>
<div class="paragraph">
<p>Für jeden verarbeiteten Import wird automatisch ein Protokoll erstellt, das eventuell aufgetretene Fehler anzeigt.</p>
</div>
<div class="paragraph instruction">
<p>Protokoll eines verarbeiteten Imports ansehen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Status</strong>.<br>
→ Die Status-Übersicht wird geöffnet.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Status</strong> (<span class="icon yellow"><i class="fa fa-bars  "></i></span>).<br>
→ Die Status-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf einen verarbeiteten Import.<br>
→ Die Detailansicht wird geöffnet.</p>
</li>
<li>
<p>Klicke oben auf <strong>Protokoll</strong> (<span class="icon yellow"><i class="fa fa-bars  "></i></span>).<br>
→ Ein Fenster wird geöffnet und zeigt das Protokoll des verarbeiteten Imports an.</p>
</li>
<li>
<p>Wenn Fehler aufgetreten sind und du Hilfe aus dem Forum benötigst, klicke auf <strong>In Zwischenablage kopieren</strong> (<span class="icon yellow"><i class="fa fa-clone  "></i></span>) und füge die Informationen im Forum ein.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1625">7.4. Erfolgs- und Fehlermeldungen von Imports einsehen</h3>
<div class="paragraph">
<p>Im Menü <strong>Daten » Log</strong> können die Erfolgs- und Fehlermeldungen von Importen eingesehen werden. Um gezielt nach Meldungen zu einem bestimmten Import zu suchen, als Referenztyp <strong>importId</strong> oder <strong>importName</strong> wählen und den entsprechenden Referenzwert eingeben. Die konkrete Erfolgs- oder Fehlermeldung kann der Spalte <strong>Nachricht</strong> entnommen werden.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1630">8. Import kopieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Importe einzeln oder mehrere gleichzeitig kopieren. So kannst du bereits gut konfigurierte Importe nutzen, um schnell einen neuen Import anzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Import kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Markiere einen oder mehrere Importe.</p>
</li>
<li>
<p>Klicke auf <strong>Import kopieren</strong>.<br>
→ Der Import wurde kopiert. Einem kopierten Import wird <strong>(copy)</strong> hinzugefügt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1640">9. Import und Export durchführen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Importe können importiert und exportiert werden. So kannst du sowohl Importe lokal sichern als auch Importe von anderen Nutzer:innen importieren.
Dieses Video zeigt dir, wie du beim Import von Daten Zeit sparst, indem du vorkonfigurierte Importvorlagen nutzt.<br>
<strong><em>Hinweis:</em></strong> Der Begriff <strong>ElasticSync</strong> ist veraltet und wurde durch <strong>Import</strong> ersetzt.</p>
</div>
<div class="videoblock">
<div class="title">Import und Export durchführen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/342189758" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph instruction">
<p>Import und Export durchführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Markiere einen oder mehrere Importe.</p>
</li>
<li>
<p>Klicke auf <strong>Format exportieren</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ Der Import wird automatisch heruntergeladen.</p>
</li>
<li>
<p>Klicke auf <strong>Format importieren</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>).<br>
→ Die Übersicht der Dateien wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Datei hochladen</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>) und wähle eine Datei.</p>
</li>
<li>
<p>Markiere die Datei, die du hochladen möchtest und klicke auf <strong>Wählen</strong>.<br>
→ Es wird abgefragt, ob der Import ausgeführt werden soll.</p>
</li>
<li>
<p>Klicke auf <strong>Ok</strong>, um die Abfrage zu bestätigen.<br>
→ Es erscheint die Meldung, dass der Import aus einem anderen Mandanten stammt.<br>
→ Der Import wurde erfolgreich ausgeführt.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Importe aus einem anderen plentymarkets System importieren</div>
<div class="paragraph">
<p>Wenn du Importe aus einem anderen plentymarkets System importierst, musst du deinen Abgleich und die Zuordnung anpassen. Es können nur <strong>.json</strong> Dateien importiert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Importe importieren und aktualisieren</div>
<div class="paragraph">
<p>Wenn du einen Import importieren und aktualisieren möchtest, müssen eine Zuordnung und ein Abgleich gesetzt sein. Ansonsten ist es nicht möglich, einen Import zu testen oder auszuführen. Um den Import speichern zu können, muss in der Zuordnung ein Datenfeld aktiviert sein.<br>
Zum Importieren genügt die Zuordnung allein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1645">10. Import abbrechen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » Status</strong> kannst du den bereits gestarteten Import abbrechen. Die Funktion ist somit nur verfügbar, wenn der Import gerade verarbeitet wird.</p>
</div>
<div class="paragraph instruction">
<p>Import abbrechen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Status</strong>.<br>
→ Die Status-Übersicht wird geöffnet.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Status</strong> (<span class="icon yellow"><i class="fa fa-bars  "></i></span>).<br>
→ Die Status-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Zeile des Imports, den du abbrechen möchtest, ganz rechts auf <strong>Import abbrechen</strong> (<span class="icon red"><i class="fa fa-window-close  "></i></span>).<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Import abbrechen</strong>.<br>
→ Der Import wird abgebrochen und nur die Zeilen, die zum Zeitpunkt des Abbruchs bereits importiert waren, befinden sich im System.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1650">11. Dateien schnell und einfach hochladen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Dateien schnell und einfach hochzuladen, klicke auf <strong>Datei-Upload</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>) in der Spalte <strong>Dateiname</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Dateien schnell und einfach hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Spalte <strong>Dateiname</strong> auf <strong>Datei hochladen</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>).<br>
→ Deine Dateien werden geöffnet.</p>
</li>
<li>
<p>Wähle eine Datei und klicke auf <strong>Öffnen</strong>.<br>
→ Die Datei wird hochgeladen und der Dateiname wird in der Spalte angezeigt. Nach Ausführen des Imports verschwindet der Dateiname wieder.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1710">12. Abarbeitung von Jobs in der Queue</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Queue sorgt dafür, dass auch große Datenmengen importiert werden können. Noch vor dem Import wird die Importdatei in Pakete zerlegt und anschließend in sogenannten Jobs abgearbeitet. Ein Job besteht aus 750 Zeilen einer CSV- oder TXT-Datei. Jedoch werden auch Importdateien, die weniger als 750 Zeilen enthalten, zu einem Job. Wird ein Import gestartet, wird die Datei in die entsprechenden Jobs aufgeteilt und in die Queue eingereiht. In der Queue werden neue Jobs ständig abgerufen und die Importe werden abgearbeitet. Dabei gibt es zwei verschiedene Status. Der Status <strong>Offene Jobs</strong> bedeutet, dass es Jobs gibt, die sich noch in der Queue befinden und darauf warten, abgearbeitet zu werden. <strong>Abgeschlossene Jobs</strong> hingegen wurden bereits bearbeitet und die Daten dementsprechend importiert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1715">13. Status von Importen einsehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Status-Übersicht der Importe bietet einen Überblick über den aktuellen Fortschritt von Import-Jobs und zeigt Details zu eventuell aufgetretenen Fehlern während des Importvorgangs an.</p>
</div>
<div class="paragraph instruction">
<p>Status von Importen einsehen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Status</strong>.<br>
→ Die Status-Übersicht wird geöffnet.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Öffne das Menü <strong>Daten » Import</strong>.<br>
→ Die Import-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Status</strong> (<span class="icon yellow"><i class="fa fa-bars  "></i></span>).<br>
→ Die Status-Übersicht wird geöffnet.<br></p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In jeder Import-Zeile steht außerdem eine separate Status-Schaltfläche zur Verfügung, die allein den Status des jeweiligen Imports aufruft.</p>
</div>
<table id="tabelle-sync-status" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Import-Status</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verarbeitungs-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jedes mal, wenn ein Import gestartet wird, wird eine Verarbeitungs-ID erzeugt, um die einzelnen Importe besser voneinander unterscheiden zu können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Imports</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Imports</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fortschritt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fortschritt der Import-Jobs. Sobald alle Import-Jobs abgeschlossen sind, wird das Datum und die Endzeit angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fehler</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In den Import-Jobs aufgetretene Fehler</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Importierte Zeilen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Zeilen, die aus der CSV- oder TXT-Datei importiert wurden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeilen insgesamt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gesamtanzahl der Zeilen in der CSV- oder TXT-Datei</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startzeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Startzeit des Imports</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Abbruch bei zu hoher Fehleranzahl</div>
<div class="paragraph">
<p>Treten bei der Verarbeitung der Import-Jobs zu viele Fehler auf, wird der Vorgang abgebrochen und es erscheint eine Fehlermeldung.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_nach_importen_filtern">13.1. Nach Importen filtern</h3>
<div class="paragraph">
<p>Mit dem Filter in der Status-Übersicht kannst du nach Importen der letzten 7 Tage filtern und so den Status von bestimmten Importen einsehen.</p>
</div>
<table id="tabelle-filteroptionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Filteroptionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Imports</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Imports</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktueller Status des Imports. Hier kannst du zwischen <strong>In Arbeit</strong> und <strong>Abgeschlossen</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startdatum von</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum wählen, ab dem gefiltert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startzeit von</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Uhrzeit wählen, ab der gefiltert werden soll. Die Startzeit bezieht sich auf den Start des Imports.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startdatum bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum wählen, bis zu dem gefiltert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startzeit bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Uhrzeit wählen, bis zu der gefiltert werden soll. Die Startzeit bezieht sich auf den Start des Imports.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_detailansicht_zu_fehlern_eines_imports">13.2. Detailansicht zu Fehlern eines Imports</h3>
<div class="paragraph">
<p>Mit Klick auf die Zeile eines Imports innerhalb der Status-Übersicht gelangst du in die Detailansicht, in der nähere Informationen zu eventuell aufgetretenen Fehlern aufgeführt sind. Mit Klick auf die Zeile eines Fehlers in der Detailansicht öffnet sich wiederum ein Fenster, in dem du den Namen des Spaltenkopfes, die Rohdaten sowie die konkrete Fehlermeldung einsehen kannst.</p>
</div>
<table id="tabelle-detailansicht-fehler" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Details zu Import-Status</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Fehler</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeile, in der der Fehler aufgetreten ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Spaltenname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Spalte, in der der Fehler aufgetreten ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fehler</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Konkrete Beschreibung des aufgetretenen Fehlers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Ergebnis</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rohdaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rohdaten des Fehlers</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1730">14. Backups von Importen einspielen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du Importdaten auf einen früheren Stand zurücksetzen oder gelöschte Importdaten wiederherstellen möchtest, kannst du dies über die Backup-Funktion tun.</p>
</div>
<div class="paragraph instruction">
<p>Backups von Importen einspielen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Hosting » Backup</strong>.<br>
→ Die Backup-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Zeile des Backups, das du einspielen möchtest, rechts auf <strong>Backup einspielen</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>).</p>
</li>
<li>
<p>Wähle oben <strong>Datenbank teilweise importieren</strong> und setze einen Haken bei <strong>Import</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Backup einspielen</strong>.<br>
→ Das Backup wird eingespielt.</p>
</li>
</ol>
</div>
</div>
</div>
</main>