<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#210"><span>1.</span><span> Frequency of data exchange</span></a></li>
<li><a href="#100"><span>2.</span><span> Registering with bol.com</span></a></li>
<li><a href="#setup"><span>3.</span><span> Setting up the market in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>3.1.</span><span> Carrying out the basic settings for the market</span></a>
<ul class="sectlevel3">
<li><a href="#205"><span>3.1.1.</span><span> Alternative 1: Carrying out the base settings with the assistant</span></a></li>
<li><a href="#206"><span>3.1.2.</span><span> Alternative 2: Saving basic settings in the Setup menu</span></a></li>
</ul>
</li>
<li><a href="#250"><span>3.2.</span><span> Activating an order referrer</span></a></li>
<li><a href="#500"><span>3.3.</span><span> Selecting the sales price</span></a></li>
<li><a href="#650"><span>3.4.</span><span> Activating the payment method</span></a></li>
<li><a href="#shipping-settings-bol-com"><span>3.5.</span><span> Preparing shipping settings</span></a>
<ul class="sectlevel3">
<li><a href="#shipping-service-providers-bol-com"><span>3.5.1.</span><span> Saving names for shipping service providers in Dutch</span></a></li>
<li><a href="#550"><span>3.5.2.</span><span> Activating the referrer in shipping profiles</span></a></li>
</ul>
</li>
<li><a href="#400"><span>3.6.</span><span> Linking categories</span></a></li>
</ul>
</li>
<li><a href="#600"><span>4.</span><span> Setting up the item export</span></a>
<ul class="sectlevel2">
<li><a href="#create-catalogue"><span>4.1.</span><span> Creating a catalogue in the assistant</span></a></li>
<li><a href="#data-field-mappings"><span>4.2.</span><span> Mapping data fields in the catalogue</span></a></li>
</ul>
</li>
<li><a href="#prepare-variations"><span>5.</span><span> Preparing variations</span></a>
<ul class="sectlevel2">
<li><a href="#mandatory-info"><span>5.1.</span><span> Saving mandatory item information</span></a></li>
<li><a href="#link-category-property"><span>5.2.</span><span> Linking variations to the property value of the bol.com category</span></a></li>
<li><a href="#300"><span>5.3.</span><span> Activating variations for the market</span></a></li>
<li><a href="#211"><span>5.4.</span><span> Optional: Activating variations for Fulfillment by bol.com (FBB/LVB)</span></a></li>
</ul>
</li>
<li><a href="#automate-orders"><span>6.</span><span> Automating order processing</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>6.1.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#900"><span>6.2.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#800"><span>6.3.</span><span> Automatically sending the return status</span></a></li>
<li><a href="#810"><span>6.4.</span><span> Sending information on direct returns to bol.com</span></a></li>
</ul>
</li>
<li><a href="#activate-catalogue"><span>7.</span><span> Starting the item export: Activating catalogue export</span></a></li>
<li><a href="#troubleshooting"><span>8.</span><span> Troubleshooting</span></a>
<ul class="sectlevel2">
<li><a href="#1200"><span>8.1.</span><span> Check list: Why is my variation not exported?</span></a></li>
<li><a href="#1000"><span>8.2.</span><span> Viewing log entries</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>bol.com</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Switch the item export to catalogues now!</div>
<div class="paragraph">
<p>bol.com’s API v3 will be deactivated. Please create catalogues for your item export now. (<a href="#600">How?</a>)</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The Dutch market <a href="http://bol.com" target="_blank" rel="noopener">bol.com</a> is the leading online market in Benelux and offers many different products, including multimedia, electronics, toys, etc. On bol.com, you can sell your items in the Netherlands and Belgium.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="210">1. Frequency of data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you have set up the interface to bol.com, the automatic processes described in <a href="#data-exchange">Table 1</a> are available.</p>
</div>
<table id="data-exchange" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Frequency of data exchange</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data</th>
<th class="tableblock halign-left valign-top">Interval</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item export</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>once a day</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hourly</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Synchronisation of delivery times, visibility of offers etc.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hourly</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deletion of offers for deleted or deactivated variations</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>daily</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order import</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import of returns registered on bol.com</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hourly<br>
<strong><em>Note:</em></strong> Returns are imported with the status [9.00] by default.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">2. Registering with bol.com</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before setting up bol.com in plentymarkets, you have to register with <a href="https://bol.com" target="_blank" rel="noopener">bol.com</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="setup">3. Setting up the market in plentymarkets</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="200">3.1. Carrying out the basic settings for the market</h3>
<div class="paragraph">
<p>There are two ways to save the basic settings for the market:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the assistant <strong>Base settings - bol.com</strong> (<a href="#205">How?</a>)</p>
</li>
<li>
<p>In the <strong>Setup » Markets » bol.com » Settings</strong> menu (<a href="#206">How?</a>)<br>
<strong><em>Note:</em></strong> You cannot link bol.com delivery times in the Setup menu. As such, go through the bol.com assistant to map delivery times with plentymarkets.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="205">3.1.1. <em>Alternative 1:</em> Carrying out the base settings with the assistant</h4>
<div class="paragraph">
<p>The basic settings for bol.com are carried out in the <strong>Setup » Assistants » Omni-Channel</strong> menu with the <strong>Basic settings - bol.com</strong> assistant. With this assistant, you set up your bol.com account in plentymarkets. You also carry out settings for warehouses and map plentymarkets delivery times with bol.com delivery times.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out settings in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Base settings - bol.com</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info box shown below this instruction (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow in the step <strong>Summary</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The settings are saved.<br></p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Options in the assistant</div>
<div class="content">
<table id="table-bol-basic-settings-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock">Step <strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select the client that should be used to sell your items.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>From the drop-down list <strong>Client</strong>, select a client. This client is used to generate the item URL in the catalogue and bol.com orders are assigned to this client.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Would you like to activate your bol.com user account?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><em>Account not activated</em> = The settings are saved but the data exchange with bol.com is not started.<br>
<em>Account activated</em> = Data exchange with bol.com is started once the assistant is completed.<br>
<strong><em>Recommendation:</em></strong> Check all settings before activating the user account.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock">Step <strong>Access data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enter the API access data.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The API access data can be generated in the seller section at bol.com.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Client ID</strong> (mandatory) = Enter the user ID for the API interface you received from bol.com.</p>
</li>
<li>
<p><strong>Client Secret</strong> (mandatory) = Enter the password for the API interface that you received from bol.com.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock">Step <strong>Warehouse</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select how stock for bol.com should be calculated.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the stock quantity for the offer export. Select one of the following options:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Use stock quantity sum of all sales warehouses</strong><br></p>
</li>
<li>
<p><strong>Use main warehouse of item</strong><br></p>
</li>
<li>
<p><strong>Select warehouses</strong> = Select one or more warehouses.<br>
→ The warehouses listed under <strong>Warehouses</strong> can be selected. Place a check mark to select a warehouse.<br>
<strong><em>Important:</em></strong> The option <strong>Warehouse selection</strong> affects the item export. If an item is not linked to the warehouses selected here, then this item will not be exported.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock">Step <strong>Delivery times</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Link bol.com delivery times</em></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Link one or more bol.com delivery times with delivery times saved in plentymarkets. The linked delivery times will be shown with your items on bol.com.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect3">
<h4 id="206">3.1.2. <em>Alternative 2:</em> Saving basic settings in the Setup menu</h4>
<div class="paragraph">
<p>In the <strong>Setup » Markets » bol.com » Settings</strong> menu, you can carry out the basic settings for bol.com. However, note that bol.com delivery times cannot be mapped in this menu. Go through the bol.com assistant to map delivery times with plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Setting up bol.com in the Setup menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » bol.com » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#basic-settings-bol">Table 2</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The settings are saved.</p>
</li>
<li>
<p>Go to <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Base settings - bol.com</strong>.</p>
</li>
<li>
<p>Navigate to the step <strong>Delivery times</strong>.</p>
</li>
<li>
<p>Link one or more bol.com delivery times with delivery times saved in plentymarkets.</p>
</li>
<li>
<p>Complete the assistant.</p>
</li>
</ol>
</div>
<table id="basic-settings-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Basic settings for the market bol.com</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate the automatic data exchange</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If the data exchange is activated, offer and order data is exchanged with bol.com. Go to <a href="#210">Automatic processes</a> to see how often data is exchanged with the market.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the Client ID. The API access data can be generated in the seller section at bol.com.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client Secret</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the Client Secret. The API access data can be generated in the seller section at bol.com.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a client. Orders are assigned to this client during the order import.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse selection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the stock quantity for the offer export. Select one of the following options:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Use stock quantity sum of all sales warehouses</strong><br></p>
</li>
<li>
<p><strong>Use main warehouse of item</strong><br></p>
</li>
<li>
<p><strong>Select warehouses</strong> = Select one or more warehouses.<br>
→ The warehouses listed under <strong>Warehouses</strong> can be selected. Place a check mark to select a warehouse.<br>
<strong><em>Important:</em></strong> The option <strong>Warehouse selection</strong> affects the item export. If an item is not linked to the warehouses selected here, then this item will not be exported.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="250">3.2. Activating an order referrer</h3>
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with bol.com. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="openblock collapseBox">
<div class="title">What’s an order referrer?</div>
<div class="content">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. Sales channels can be e.g. your online shop or markets on which you sell your items. Each sales channel has an individual order referrer. Some order referrers are available by default in your plentymarkets system. Further order referrers are added e.g. if you install a new plugin. For further information about the order referrer, see the page <a href="#en/orders/order-referrer">Order referrer</a> of the plentymarkets manual.</p>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for bol.com:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">3.3. Selecting the sales price</h3>
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on bol.com, you need a sales price in which the order referrer bol.com is activated. The price that you save for this sales price is the price that will be shown on bol.com.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for bol.com:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
<strong><em>Tip:</em></strong> No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>bol.com</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="650">3.4. Activating the payment method</h3>
<div class="paragraph">
<p>As soon as an active account for bol.com exists, the payment method <strong>Bol.com</strong> is automatically available in your plentymarkets system. No separate configurations are needed for this. You just need to permit the payment method in one or more customer classes.</p>
</div>
<div class="paragraph instruction">
<p>Permitting the payment method in a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Classes</strong>.</p>
</li>
<li>
<p>Open the customer class for which you want to permit the payment method.</p>
</li>
<li>
<p>For the setting <strong>Permitted payment methods</strong>, activate the option Bol.com.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="shipping-settings-bol-com">3.5. Preparing shipping settings</h3>
<div class="paragraph">
<p>Next, carry out settings for shipping. For bol.com, you have to save the shipping provider names in Dutch and activate the order referrer <strong>bol.com</strong> in the shipping profiles that you want to use for bol.com.</p>
</div>
<div class="sect3">
<h4 id="shipping-service-providers-bol-com">3.5.1. Saving names for shipping service providers in Dutch</h4>
<div class="paragraph">
<p>For bol.com, you have to enter an <a href="https://api.bol.com/retailer/public/Retailer-API/v6/functional/orders-shipments.html#_transporters" target="_blank" rel="noopener">API transporter code</a> as name for the <a href="/en/en/fulfilment/preparing-the-shipment#800">shipping service provider</a>. In addition, the name of the shipping service provider has to be saved in Dutch. These settings are carried out in the <strong>Setup » Orders » Shipping » Settings</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Saving names for shipping service providers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Shipping service provider</strong> tab.</p>
</li>
<li>
<p>In the <strong>Filters</strong> section, select the language <strong>nl</strong> from the <strong>Language</strong> drop-down list.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The shipping service providers are displayed.</p>
</li>
<li>
<p>In the input field <strong>Name (nl)</strong>, enter the <strong>API transporter code</strong> for every shipping service provider that you want to use for bol.com.<br>
<strong><em>Tip:</em></strong> The <strong>API transporter codes</strong> for the shipping service providers can be found in the <a href="https://api.bol.com/retailer/public/Retailer-API/v6/functional/orders-shipments.html#_transporters" target="_blank" rel="noopener">developer documentation for bol.com</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The Dutch names for bol.com shipping service providers were saved.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="550">3.5.2. Activating the referrer in shipping profiles</h4>
<div class="paragraph">
<p>Now activate bol.com in the shipping profiles that you want to offer for this market.</p>
</div>
<div class="paragraph instruction">
<p>Activating referrer bol.com in the shipping profile:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Shipping profiles</strong> tab.</p>
</li>
<li>
<p>Click on the shipping profile.<br>
<strong><em>Tip:</em></strong> No shipping profiles? Learn how to create shipping profiles <a href="/en/fulfilment/preparing-the-shipment#1000">here</a>.</p>
</li>
<li>
<p>For the setting <strong>Order referrer</strong>, activate the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The shipping profile is available for orders with the referrer bol.com.</p>
</li>
<li>
<p>If necessary activate the referrer in additional shipping profiles.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Saving shipping service provider names in Dutch</div>
<div class="paragraph">
<p>Make sure that the <a href="#shipping-service-providers-bol-com">names for the shipping service providers</a> in the shipping profiles for bol.com are saved in Dutch with the <a href="https://api.bol.com/retailer/public/Retailer-API/v6/functional/orders-shipments.html#_transporters" target="_blank" rel="noopener">API transporter codes</a> required by bol.com.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="400">3.6. Linking categories</h3>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
You no longer need these category links when you export your item data to bol.com using catalogues.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Link your plentymarkets categories to the bol.com categories in order to display your items in these bol.com categories. Further items from the linked category are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » bol.com » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The <strong>Select category</strong> window opens.</p>
</li>
<li>
<p>Select the bol.com category that best matches your plentymarkets category.</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.<br>
→ The name and category path of the bol.com category are displayed.</p>
</li>
<li>
<p>If you know the name of the bol.com category, enter it directly into the <strong>Market category</strong> field to link it to your plentymarkets category.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">4. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item data is exported to bol.com using catalogues. Use the assistant <strong>Create catalogues - bol.com</strong> to create a marketplace format for every bol.com category.</p>
</div>
<div class="openblock collapseBox">
<div class="title">What’s a catalogue?</div>
<div class="content">
<div class="paragraph">
<p>Catalogues are used to export data from your plentymarkets system. For example, catalogues can be used to export item data to a marketplace. There are catalogues with standard formats and catalogues with marketplace formats.<br>
Standard formats are used to export data from your plentymarkets system into a file.<br>
Marketplace formats are used to export item data to markets.</p>
</div>
</div>
</div>
<div class="ulist">
<ul>
<li>
<p>Is this your first time working with catalogues? Then read up on the <a href="#en/data/exporting-data/managing-catalogues">basic concept of the plentymarkets catalogues first</a>.</p>
</li>
<li>
<p>Check out the manual page for the standard format <a href="/en/data/exporting-data/catalogues-item">Item (new)</a> for more information about the plentymarkets data fields that you can map in this catalogue.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="create-catalogue">4.1. Creating a catalogue in the assistant</h3>
<div class="paragraph">
<p>You need to create a separate catalogue for each combination of a bol.com category and a language.</p>
</div>
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Create catalogues - bol.com</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info box below this description (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to make sure they are correct.<br>
<strong><em>Tip:</em></strong> In the <strong>Summary</strong> step, click on the arrow (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p>Open the catalogue in the <strong>Data » Catalogues</strong> menu to map the marketplace data fields with plentymarkets data fields fields.<br>
<strong><em>Note:</em></strong> You need a separate catalogue for each combination of bol.com category and language.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Settings in the assistant</div>
<div class="content">
<table id="table-catalogue-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select a category for your catalogue.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a product category from the drop-down list.<br>
→ The catalogue is created with the name of the category and shown in the <strong>Data » Catalogues</strong> menu.<br>
→ A property with the name of the bol.com category is created. Link this property with the variations that you want to sell on bol.com.<br>
<strong><em>Tip:</em></strong> Enter a few names of the category name to get suggestions.<br>
<strong><em>Note:</em></strong> You need to create a separate catalogue for each combination of a bol.com category and a language.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="data-field-mappings">4.2. Mapping data fields in the catalogue</h3>
<div class="paragraph">
<p>After you have created a catalogue, map the market’s data fields to item data saved in plentymarkets. Check the documentation of the sales channel to find out what data the market expects for the individual data fields.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using properties</div>
<div class="paragraph">
<p>Use <a href="/en/item/managing-items#500">properties</a> to export values for marketplace data fields that have no corresponding field in plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Getting to know the catalogue menu for marketplace formats</div>
<div class="content">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/catalogue-menu-colours.png" alt="catalogue menu colours">
</div>
</div>
<div class="paragraph">
<p><em>Menu structure of a catalogue with marketplace format</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong> When you open a catalogue, the view <strong>Mapping</strong> is shown by default. Use the navigation to switch to other views of the catalogue. Access the catalogue settings or set filters to only export specific data. You can also go back to the catalogues overview or create a new catalogue.</p>
</li>
<li>
<p><strong>Toolbar</strong> The toolbar provides actions for the catalogue. For example, save your mappings, restore an older version of the catalogue or hide or show optional marketplace data fields.</p>
</li>
<li>
<p><strong>Marketplace data fields</strong> To the right of the navigation, all data fields available for the market are listed. Mandatory fields are marked with an asterisk (✱).<br>
<strong><em>Tip:</em></strong> In the toolbar, click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>) to show or hide optional data fields.</p>
</li>
<li>
<p><strong>plentymarkets data fields</strong> The left side of the catalogue is where you map the marketplace data fields with suitable plentymarkets data fields. In the screenshot, a few of the fields are already mapped.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Properties instead of free text fields and characteristics</div>
<div class="paragraph">
<p>With catalogues, you can no longer export free text fields or characteristics. Instead, use <a href="/en/item/settings/properties#500">properties</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mapping catalogue fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab opens.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (<strong>).<br>
→ In the right column, you map the plentymarkets data fields. Any plentymarkets data fields that are already assigned are also shown in the right column.<br>
*<em>Tip:</em></strong> Need more information about the plentymarkets data fields? All data fields are described on the manual page for the standard format <a href="/en/data/exporting-data/catalogues-item">Item (new)</a>.</p>
</li>
<li>
<p>Now, map suitable plentymarkets data fields to the market data fields.<br>
You can choose from the following mappings which are described in the info boxes below:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Simple 1:1 mapping</strong></p>
</li>
<li>
<p><strong>Complex 1:1 mapping</strong></p>
</li>
<li>
<p><strong>1:1 mapping with fallback data fields</strong></p>
</li>
<li>
<p><strong>1:n mapping</strong></p>
</li>
<li>
<p><strong>Own value mapping</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Information about the data fields</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Data fields of the marketplace:</em></strong></p>
<div class="ulist">
<ul>
<li>
<p>Check the documentation of the market to find information about the marketplace data fields.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Data fields in plentymarkets</em></strong>:</p>
<div class="ulist">
<ul>
<li>
<p>Check out the manual page for the standard format <a href="/en/data/exporting-data/catalogues-item">Item (new)</a> for more information about the plentymarkets data fields that you can map in this catalogue.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Simple 1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>In a simple 1:1 mapping, you map a plentymarkets data field to the marketplace data field. If no suitable setting exists in plentymarkets, you can map a property instead.</p>
</div>
<div class="paragraph">
<p>As such, simple 1:1 mappings allow you to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If the data field is empty for a variation, no value is exported for this variation.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a simple 1:1 mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Sales price and RRP</p>
</div>
<div class="paragraph">
<p>This gif shows you how to map the marketplace data fields <strong>Sales price</strong> and <strong>RRP</strong> for Otto Market to suitable plentymarkets data fields:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-simple-en.gif" alt="gif catalogue mapping simple en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Complex 1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>Like with the simple 1:1 mappings, you map a plentymarkets setting or property to a marketplace data field. Complex mappings are necessary whenever a marketplace data field has more than one possible value. Instead of mapping data fields, for complex mappings you instead map the values of these data fields. For example, you cannot simply map the plentymarkets data field <strong>Shipping profile</strong> to the marketplace data field <strong>Shipping method</strong>. Why? The market cannot know which of your shipping profiles in plentymarkets corresponds to which of their shipping methods.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Do not enter own values for complex mappings. All values that you enter must be saved for the variations, either in a setting or as a property value. This also applies if the value <strong>Comparative value</strong> is shown. You still need to enter exactly the value of the setting or property that you mapped.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Examples for complex 1:1 mappings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Categories</p>
</li>
<li>
<p>Brands</p>
</li>
<li>
<p>Shipping setting</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can recognise complex mappings from the field that is shown below the name of the marketplace data field. Click on the field to show the values available for the marketplace data field.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/catalogue-complex-mappings.png" alt="catalogue complex mappings">
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
For complex mappings, do not map own values or properties of the type <strong>None</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a complex 1:1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the field for the marketplace data field.<br>
→ A list of the available values is shown.</p>
</li>
<li>
<p>Select the value that you want to map a plentymarkets data field to.<br>
→ The value is mapped.</p>
</li>
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the available plentymarkets data fields are listed in groups.<br></p>
</li>
<li>
<p>Click on a group.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plentymarkets data field for which you want to map values.<br>
<strong><em>Important:</em></strong> Do not map own values or properties of the type <strong>None</strong>.<br>
→ Your next steps depend on the plentymarkets data field you selected:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> The available values for the plentymarkets data value are shown on the left.<br></p>
<div class="ulist">
<ul>
<li>
<p>Next to the value you want to select, click on the plus.<br>
→ The value is added to the field on the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> The plentymarkets data field is inserted and the field <strong>Comparative value</strong> is shown.</p>
<div class="ulist">
<ul>
<li>
<p>In the field <strong>Comparative value</strong>, enter a value that is saved in the setting or the property of the mapped plentymarkets data field.<br></p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Alternative 3:</em></strong> The plentymarkets data field is inserted and a drop-down list is shown.</p>
<div class="ulist">
<ul>
<li>
<p>Select a value from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>This gif shows you how to map suitable plentymarkets values to the values of the marketplace data fields <strong>Delivery time in days</strong> for Otto Market:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-complex-en.gif" alt="gif catalogue mapping complex en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:1 mapping with fallback data fields</strong> 1 marketplace data field, 1 plentymarkets data field with alternatives</div>
<div class="content">
<div class="paragraph">
<p>In a 1:1 mapping with one or more fallback data fields, you map a plentymarkets data field to the marketplace data field. In addition, you specify one or more fallback data fields. This ensures that the system keeps looking if the first plentymarkets data field is empty or contains an invalid value.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If that data field is empty or invalid for a variation, the first fallback data field is checked and the value of that fallback data field is exported instead.</p>
</li>
<li>
<p>If the first fallback data field is also empty or invalid for a variation, the value of the second fallback data field is exported and so on.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:1 mapping with fallback data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>In the list of plentymarkets data fields, click on the plus icon next to the plentymarkets data field that you want to map.<br>
→ The fallback data field is exported when the first data field does not exist or is empty.<br>
<strong><em>Note:</em></strong> Even if you assign one or more fallback data fields, the value of only one of those fields is exported. For each variation, the mapped plentymarkets data fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value for a variation, the first fallback data field is exported etc.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>This gif shows you how to map the plentymarkets data field <strong>SKU</strong> and the fallback data field <strong>Variation ID</strong> to the marketplace data field <strong>SKU</strong> for Otto Market:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-fallback-en.gif" alt="gif catalogue mapping fallback en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:n mapping:</strong> 1 marketplace data field, several plentymarkets data fields</div>
<div class="content">
<div class="paragraph">
<p>In a 1:n mapping, you map several plentymarkets data fields to the marketplace data field. You can link these data fields with a separator.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to combine these plentymarkets data fields during export so that the marketplace data field is filled with the data of these two or more plentymarkets settings.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the right of the mapped plentymarkets data field, click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ To the left, the list of available plentymarkets data fields again are shown in groups.</p>
</li>
<li>
<p>Map one or several additional plentymarkets data fields to the marketplace data field as described above.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the very right of the row, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Select a separator from the drop-down list <strong>Separator</strong> or add a custom separator.</p>
</li>
<li>
<p>Click on <strong>Save</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.<br>
→ During the export, the content of the plentymarkets data fields is combined and exported as one field.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Own value mapping:</strong> 1 marketplace data field, the same value for all variations</div>
<div class="content">
<div class="paragraph">
<p>You are sure that you want to export the same value for all variations of a catalogue for a marketplace data field? Then specify an own value. This own value is then exported for all variations.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>For this marketplace data field, I want to export the value that I entered in the field <strong>Own value</strong> for <em>all</em> variations of this catalogue.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating an own value mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on the plus next to <strong>Own value</strong> at the top of the list.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.<br>
→ This value is exported for all variations.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Diameter information</p>
</div>
<div class="paragraph">
<p>You want to export diameter information for some of your variations. The diameter is saved in centimetres for all your variations. Instead of creating a property for the unit and linking this property to the variations, you can enter the own value <code>cm</code>.</p>
</div>
<div class="paragraph">
<p>This is how you can map an own value for the diameter unit:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-own-value-en.gif" alt="gif catalogue own value en" width="600">
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="prepare-variations">5. Preparing variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Continue with preparing your variations.</p>
</div>
<div class="sect2">
<h3 id="mandatory-info">5.1. Saving mandatory item information</h3>
<div class="paragraph">
<p>In order to list a variation as an offer on bol.com, you need to save at least the settings described in <a href="#table-bol-variation-checklist">Table 3</a> for this variation.</p>
</div>
<table id="table-bol-variation-checklist" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Mandatory fields for the variation</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mandatory data</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN or ISBN</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>An EAN or an ISBN must be saved for the variation.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the <strong>Setup » Item » Barcode</strong> menu, an EAN or ISBN must be created and linked to the referrer bol.com.</p>
</li>
<li>
<p>The EAN/ISBN must be added to the <strong>Settings</strong> tab of the variation in the <strong>Barcode</strong> area and a barcode code must be entered.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A price must be saved for the variation.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The sales price must be activated for the referrer bol.com in the <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p>The sales price must be added in the <strong>Settings</strong> tab in the <strong>Sales price</strong> area of the variation.</p>
</li>
<li>
<p>A price must be saved for the sales price in the <strong>Settings</strong> tab in the <strong>Sales price</strong> area of the variation.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A name in the language of the target country must be saved for the variation.<br>
<strong><em>Example:</em></strong> If you want to sell your items in the Netherlands, a name in the language Dutch must be saved for the variation.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A name must be saved in the plentymarkets data field that you mapped to the marketplace data field for the name.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item description</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A description in the language of the target country must be saved for the variation.<br>
<strong><em>Example:</em></strong> If you want to sell your items in the Netherlands, a description in the language Dutch must be saved for the variation.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A description must be saved in the plentymarkets data field that you mapped to the marketplace data field for the description.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A manufacturer must be saved for the variation.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A manufacturer must be saved in the plentymarkets data field that you mapped to the marketplace data field for the manufacturer.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Image</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The variation must have at least one image.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>At least one image must be linked in the <strong>Image</strong> tab of the variation.</p>
</li>
<li>
<p>in the <strong>Images</strong> tab of the item, the option <strong>bol.com</strong> must be selected from the drop-down list <strong>Availability</strong>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Property value for bol.com category</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The variation must be linked to the property value for the bol.com category. The property <strong>bol.com category</strong> is created automatically when you complete the assistant.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the <strong>Properties</strong> tab of the variation, the property for the bol.com category must be linked in the <strong>Variation properties</strong> area. The property value has the same name as the bol.com category and the catalogue.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The variation must be available for the market.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the <strong>Availability</strong> tab of the variation in the <strong>Markets</strong> area, the marketplace availabilities <strong>bol.com</strong> or <strong>bol.com FBB</strong> must be activated.<br></p>
<div class="ulist">
<ul>
<li>
<p>Referrer <strong>bol.com</strong> = You ship orders yourself.<br></p>
</li>
<li>
<p>Referrer <strong>bol.com FBB</strong> = bol.com ships the order.</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="link-category-property">5.2. Linking variations to the property value of the bol.com category</h3>
<div class="paragraph">
<p>After you created the first marketplace format for bol.com with the assistant, the property <strong>bol.com category</strong> is created in your plentymarkets system. For each bol.com category that you create a catalogue for, a new selection value is added to this property <strong>bol.com category</strong>. This property value has the same name as the bol.com category and the catalogue.</p>
</div>
<div class="paragraph">
<p>In order for your variations to be exported in the appropriate catalogue, they have to be linked to the <strong>bol.com category</strong> property in the <strong>Properties</strong> tab of a variation.</p>
</div>
<div class="paragraph instruction">
<p>Linking variation to bol.com category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item]</strong>.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Open the variation that should be linked.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong> area, select the property <strong>bol.com category</strong> from the <strong>Properties</strong> drop-down list and click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added.</p>
</li>
<li>
<p>Select a category from the drop-down list <strong>Value</strong> for the property <strong>bol.com category</strong>.<br>
→ The variation will be exported in this catalogue.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">5.3. Activating variations for the market</h3>
<div class="paragraph">
<p>You need to activate the variations that you want to sell on bol.com. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » [Open variation]</strong> menu.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="for-one-variation-tab" data-toggle="tab" href="#for-one-variation" role="tab" aria-controls="for-one-variation" aria-selected="true">For one variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-variation-group-function-tab" data-toggle="tab" href="#using-variation-group-function" role="tab" aria-controls="using-variation-group-function" aria-selected="false">Using variation group function</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-batch-processing-tab" data-toggle="tab" href="#using-batch-processing" role="tab" aria-controls="using-batch-processing" aria-selected="false">Using batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="for-one-variation" role="tabpanel" aria-labelledby="for-one-variation-tab">
<div class="paragraph instruction">
<p>Making a variation available for bol.com:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The tab <strong>Settings</strong> of the variation is shown.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on bol.com, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The variation is available for bol.com.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-variation-group-function" role="tabpanel" aria-labelledby="using-variation-group-function-tab">
<div class="paragraph">
<p>The <a href="/en/item/import-export-create/create/mass-processing#100">variation group function</a> allows you to edit several variations at once. You select the variations that you want to edit.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for bol.com using the variation group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-batch-processing" role="tabpanel" aria-labelledby="using-batch-processing-tab">
<div class="paragraph">
<p><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a> allows you to edit several variations at once. You use filters to limit which variations are edited.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for bol.com using batch processing:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
</div>
<div class="sect2">
<h3 id="211">5.4. <em>Optional:</em> Activating variations for Fulfillment by bol.com (FBB/LVB)</h3>
<div class="paragraph">
<p>bol.com orders can be fulfilled in two different ways:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Fulfilment by Retailer (FBR) = You ship the order yourself.</p>
</li>
<li>
<p>Fullfilment by bol.com (FBB/LVB) = bol.com ships your products.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Note that plentymarkets does not fully support Fulfilment by bol.com. You can flag your item data for Fulfilment by bol.com when you export item data to the market. However, FBB orders and returns are not imported into plentymarkets. In addition, stock information cannot be retrieved from the bol.com fulfilment warehouse.</p>
</div>
<div class="paragraph">
<p>To sell a variation with Fulfilment by bol.com (FBB or LVB), you need to activate the market availability <strong>bol.com FBB</strong>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Activate the market availability <strong>bol.com FBB</strong> for the variation</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The <strong>Settings</strong> tab of the variation opens.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>bol.com FBB</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="automate-orders">6. Automating order processing</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up <a href="/en/automation/event-procedures">event procedures</a> to automatically inform bol.com about order status changes. The following event procedures can be set up for bol.com:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Send shipping confirmation to bol.com (<a href="#700">How?</a>)</p>
</li>
<li>
<p>Send order cancellation to bol.com (<a href="#900">How?</a>)</p>
</li>
<li>
<p>Send return status to bol.com (<a href="#800">How?</a>)</p>
</li>
<li>
<p>Create a return at bol.com (<a href="#810">How?</a>)</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="700">6.1. Automatically sending shipping confirmations</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send shipping confirmations to bol.com when the outgoing items have been booked.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-shipping-confirmation-bol">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the additional settings according to <a href="#event-procedure-shipping-confirmation-bol">Table 4</a>.</p>
</li>
<li>
<p>Select the setting <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-shipping-confirmation-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure for automatically sending shipping confirmations to bol.com</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Send shipping confirmation to bol.com</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">6.2. Automatically sending cancellations</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform bol.com of cancellations. Whenever you are dealing with cancellations, you need to send bol.com a reason for the cancellation. Open the <strong>Setup » Orders » Status</strong> menu and create additional order statuses as needed. The following cancellation reasons can be transferred to bol.com:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Out of stock</strong></p>
</li>
<li>
<p><strong>Cancellation requested by customer</strong></p>
</li>
<li>
<p><strong>Item is in a bad condition</strong></p>
</li>
<li>
<p><strong>Higher shipping costs</strong></p>
</li>
<li>
<p><strong>Incorrect price</strong></p>
</li>
<li>
<p><strong>Item not available in time</strong></p>
</li>
<li>
<p><strong>No bol.com warranty</strong></p>
</li>
<li>
<p><strong>Item ordered twice</strong></p>
</li>
<li>
<p><strong>Item retained</strong></p>
</li>
<li>
<p><strong>Technical issue</strong></p>
</li>
<li>
<p><strong>Item untraceable</strong></p>
</li>
<li>
<p><strong>Other</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-cancellations-bol">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the additional settings according to <a href="#event-procedure-cancellations-bol">Table 5</a>.</p>
</li>
<li>
<p>Select the setting <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-cancellations-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Event procedure for automatically sending cancellations to bol.com</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: [8.1] Cancelled by customer</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send cancellation to bol.com</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer cancellation</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">6.3. Automatically sending the return status</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform bol.com of the status of a return. bol.com requests the status of returns. The following return statuses can be sent to bol.com:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Return received</strong></p>
</li>
<li>
<p><strong>Item will be exchanged</strong></p>
</li>
<li>
<p><strong>Return does not meet conditions</strong></p>
</li>
<li>
<p><strong>Item must be repaired</strong></p>
</li>
<li>
<p><strong>Customer keeps item</strong></p>
</li>
<li>
<p><strong>Return accepted after consultation with customer</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-return-status-bol">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the additional settings according to <a href="#event-procedure-return-status-bol">Table 6</a>.</p>
</li>
<li>
<p>Select the setting <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
The data is not transferred in real time when this event procedure is triggered. Instead, the data is registered in a queue. If there are several jobs in the queue, it can take several minutes for the data to be transferred. The advantage? If the target server is unavailable or throttled, several attempts are made to transfer the data.
:!ea-queue:
</td>
</tr>
</tbody></table>
</div>
<table id="event-procedure-return-status-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Event procedure for automatically sending return statuses to bol.com</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New return</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send return status to bol.com</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="810">6.4. Sending information on direct returns to bol.com</h3>
<div class="paragraph">
<p>In addition, set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform bol.com about returns that customers sent back to you directly without registering the return with bol.com first. bol.com requests the status of returns. The following return statuses can be sent to bol.com:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Return received</p>
</li>
<li>
<p>Item will be exchanged</p>
</li>
<li>
<p>Return does not meet conditions</p>
</li>
<li>
<p>Item must be repaired</p>
</li>
<li>
<p>Customer keeps item</p>
</li>
<li>
<p>Return accepted after consultation with customer</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-return-bol">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the additional settings according to <a href="#event-procedure-return-bol">Table 7</a>.</p>
</li>
<li>
<p>Select the setting <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
The data is not transferred in real time when this event procedure is triggered. Instead, the data is registered in a queue. If there are several jobs in the queue, it can take several minutes for the data to be transferred. The advantage? If the target server is unavailable or throttled, several attempts are made to transfer the data.
</td>
</tr>
</tbody></table>
</div>
<table id="event-procedure-return-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Event procedure to inform bol.com about returns</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: [9.5] Credit note created</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Create a return at bol.com</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="activate-catalogue">7. Starting the item export: Activating catalogue export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have set up bol.com in plentymarkets and created a catalogue for exporting your item data? Then start the export of your item data. To do so, activate the catalogues which should be exported to bol.com in the <strong>Data » Catalogues</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the catalogue export to bol.com:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the bol.com catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) to the right.<br>
→ The catalogue is active.<br>
→ Catalogue data is exported to bol.com once a day during the night.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="troubleshooting">8. Troubleshooting</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1200">8.1. <em>Check list:</em> Why is my variation not exported?</h3>
<div class="paragraph">
<p>To export a variation to bol.com, this variation has to meet the following requirements:</p>
</div>
<div class="openblock collapseBox">
<div class="title">Have you activated the variation?</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The <strong>Settings</strong> tab of the variation opens.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Is the market availability active?</div>
<div class="content">
<div class="paragraph">
<p>The variation must be available for the market.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The <strong>Settings</strong> tab of the variation opens.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Does the variation have positive net stock?</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The <strong>Settings</strong> tab of the variation opens.</p>
</li>
<li>
<p>Click on the <strong>Stock</strong> tab.<br>
→ The net stock of each warehouse is listed in the <strong>Net</strong> column.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Are the sales price and price settings correct?</div>
<div class="content">
<div class="paragraph instruction">
<p>Check the sales price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p>For the filter <strong>Referrer</strong>, select <strong>bol.com</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The sales price that is active for the referrer is shown.</p>
</li>
<li>
<p>Check the settings of the sales price.</p>
</li>
<li>
<p>Make any necessary corrections.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Check the price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The sales prices are listed in the tab <strong>Settings</strong>.</p>
</li>
<li>
<p>Check the following settings:</p>
<div class="ulist">
<ul>
<li>
<p>Is the sales price for the referrer linked?</p>
</li>
<li>
<p>Does the price for the referrer have the correct price?</p>
</li>
</ul>
</div>
</li>
<li>
<p>Make any necessary corrections.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Did you map all mandatory fields of the market in the catalogue?</div>
<div class="content">
<div class="paragraph">
<p>As a minimum, plentymarkets data fields must be mapped to all mandatory fields of the market. These mandatory fields are different for different market categories. In the catalogue, mandatory fields are marked with an asterisk.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#map-data-fields">How to map one or more plentymarkets data fields to the market data field.</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Is the variation linked to the property of the bol.com category?</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The <strong>Settings</strong> tab of the variation opens.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong> area, select the property <strong>BOL category group</strong> from the <strong>Properties</strong> drop-down list and click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added.</p>
</li>
<li>
<p>Select the desired category from the drop-down list <strong>Value</strong> for the <strong>BOL category group</strong> property.<br>
→ The variation will be exported in this catalogue.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Is the catalogue active?</div>
<div class="content">
<div class="paragraph">
<p>The catalogue that the variation is associated with must be activated.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the bol.com catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) to the right.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Couldn’t find any errors?</em></div>
<div class="content">
<div class="paragraph">
<p>You have confirmed that the above settings are correct but the variation is still not exported? Then check the data log.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>Use the following filters:<br></p>
<div class="ulist">
<ul>
<li>
<p><strong>bol.com</strong><br>
**</p>
</li>
</ul>
</div>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Check all entries for the levels <strong>warning</strong> and <strong>error</strong>.</p>
</li>
<li>
<p>Open the logs containing the message <strong>Variation invalid</strong>.<br>
→ The the variation ID and the reason for the rejection or the missing characteristic are shown.</p>
</li>
<li>
<p>Correct the variation data.<br></p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1000">8.2. Viewing log entries</h3>
<div class="paragraph">
<p>The <strong>Data » Log</strong> menu contains a history of processes that run via the bol.com interface. Note that integrations and identifiers are only shown in the drop-down lists as filters after the process has run at least once.</p>
</div>
<div class="paragraph">
<p>For bol.com, the following filters are recommended:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Identifier</strong> » <strong>bol.com</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Filtering and checking log entries</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>In the column to the left, select appropriate filters from the drop-down lists.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select filters for dates and/or times to only show entries from a specific period.<br>
<strong><em>Tip:</em></strong> For further information about the filters, refer to the <a href="/en/data/datalog">Data log</a> page of the manual.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The results are shown.</p>
</li>
<li>
<p>Check all entries for the levels <strong>warning</strong> and <strong>error</strong>.<br>
<strong><em>Tip:</em></strong> Click on the entry to see details.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="paragraph">
<p>Use the reference types and reference values listed in <a href="#table-reference-types">Table 8</a> to limit the search results:</p>
</div>
<table id="table-reference-types" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Reference types and reference values for bol.com</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Reference type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Reference value</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>action</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by events.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a reference type to filter for specific events.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>orderImport</strong> = Order import<br></p>
</li>
<li>
<p><strong>CreateOffer</strong> = Creation of offers<br></p>
</li>
<li>
<p><strong>CheckOfferStatus</strong> = Checking the successful creation of offers<br></p>
</li>
<li>
<p><strong>DeleteOffer</strong> = Deletion of offers<br></p>
</li>
<li>
<p><strong>UpdateOffer</strong> = Updating delivery time, delivery type (FBB, FBR), SKU and activity state of offers<br></p>
</li>
<li>
<p><strong>UpdateOfferPrices</strong> = Updating prices of offers<br></p>
</li>
<li>
<p><strong>UpdateOfferStock</strong> = Updating stock of offers<br></p>
</li>
<li>
<p><strong>CancelOrder</strong> = Cancellation of the order<br></p>
</li>
<li>
<p><strong>ShipOrder</strong> = Shipping of the order<br></p>
</li>
<li>
<p><strong>HandleReturn</strong> = Confirmation of receipt of a return announced on bol.com<br></p>
</li>
<li>
<p><strong>CreateReturn</strong> = Report receipt of a return not announced on bol.com</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>orderId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by the order ID of the order in plentymarkets.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>externalOrderId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by the bol.com order number of the order.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>externalOrderItemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by the ID of the bol.com order item.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>