<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#150"><span>1.</span><span> Becoming a myToys partner</span></a></li>
<li><a href="#200"><span>2.</span><span> Overview of automatic data exchange</span></a></li>
<li><a href="#250"><span>3.</span><span> Workflow of a myToys order</span></a></li>
<li><a href="#300"><span>4.</span><span> Installing the plugin</span></a></li>
<li><a href="#market-setup"><span>5.</span><span> Setting up the market</span></a>
<ul class="sectlevel2">
<li><a href="#350"><span>5.1.</span><span> Setting up the data exchange</span></a></li>
<li><a href="#400"><span>5.2.</span><span> Activating an order referrer</span></a></li>
<li><a href="#450"><span>5.3.</span><span> Defining a sales price</span></a></li>
<li><a href="#500"><span>5.4.</span><span> Activating the referrer in shipping profiles</span></a></li>
</ul>
</li>
<li><a href="#prepare-variations"><span>6.</span><span> Activating variations for the market</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>6.1.</span><span> Making variations available</span></a></li>
<li><a href="#link-category-property"><span>6.2.</span><span> Linking variation to market category</span></a></li>
</ul>
</li>
<li><a href="#550"><span>7.</span><span> Setting up the item export</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>7.1.</span><span> Notes on the myToys item data structure</span></a></li>
<li><a href="#650"><span>7.2.</span><span> Creating a catalogue in the assistant</span></a></li>
<li><a href="#700"><span>7.3.</span><span> Mapping catalogue fields</span></a>
<ul class="sectlevel3">
<li><a href="#750"><span>7.3.1.</span><span> Mapping data fields in the catalogue</span></a></li>
<li><a href="#800"><span>7.3.2.</span><span> Notes on mapping data fields</span></a></li>
</ul>
</li>
<li><a href="#850"><span>7.4.</span><span> Activating the catalogue</span></a></li>
</ul>
</li>
<li><a href="#order-documents"><span>8.</span><span> Preparing order documents</span></a>
<ul class="sectlevel2">
<li><a href="#delivery-notes"><span>8.1.</span><span> Preparing delivery notes</span></a>
<ul class="sectlevel3">
<li><a href="#1300"><span>8.1.1.</span><span> Uploading a PDF template for delivery notes</span></a></li>
<li><a href="#16003"><span>8.1.2.</span><span> Adjusting template for delivery notes</span></a></li>
</ul>
</li>
<li><a href="#return-notes"><span>8.2.</span><span> Preparing return slips</span></a>
<ul class="sectlevel3">
<li><a href="#1150"><span>8.2.1.</span><span> Uploading a PDF template for return slips</span></a></li>
<li><a href="#1150-1"><span>8.2.2.</span><span> Adjusting template for return slips</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#order-processing"><span>9.</span><span> Automating order processing</span></a>
<ul class="sectlevel2">
<li><a href="#950"><span>9.1.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#1000"><span>9.2.</span><span> Automatically sending shipping confirmations to myToys</span></a></li>
<li><a href="#1050"><span>9.3.</span><span> Setting up return management</span></a>
<ul class="sectlevel3">
<li><a href="#1100"><span>9.3.1.</span><span> Workflow for returns</span></a></li>
<li><a href="#1200"><span>9.3.2.</span><span> Automatically notifying myToys about returns</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1350"><span>10.</span><span> Troubleshooting</span></a>
<ul class="sectlevel2">
<li><a href="#log-entries"><span>10.1.</span><span> Viewing log entries</span></a></li>
<li><a href="#mandatory-missing"><span>10.2.</span><span> Finding variations with missing mandatory fields</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>myToys</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With more than 9 million orders per year and over 4 million active customers, myToys is the leading platform for family shopping in Germany. myToys offers you sales opportunities for the 3 online shops myToys, mirapodo and yomonda by using only one technical integration.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="150">1. Becoming a myToys partner</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Click <a href="https://partnerprogramaccess.mytoys.de/Registrierung/" target="_blank" rel="noopener">here</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to send your request for registration and learn more about the myToys market and the partner program.</p>
</div>
<div class="paragraph">
<p>Alternatively, you can also contact our team of partner managers by sending an email to mailto:partnerteam@mytoys.de. A partner manager will get in touch with you soon and will work with you to evaluate your potential on <a href="https://www.mytoys.de" target="_blank" rel="noopener">mytoys.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and talk about your next steps.</p>
</div>
<div class="paragraph">
<p>After registering, you will receive login details from myToys. You need these login details to set up the myToys plugin in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Overview of automatic data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After installing and setting up the plugin, the automatic processes described in <a href="#data-exchange">Table 1</a> become available.</p>
</div>
<table id="data-exchange" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Frequency of data exchange</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data</th>
<th class="tableblock halign-left valign-top">Interval</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item export</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>daily<br>
<strong><em>Note:</em></strong> Item data is exported once or twice a day. The export also triggers the price update for the variations included.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>every 15 minutes</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order import</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>every 15 minutes<br>
<strong><em>Note:</em></strong> Customers make their payments to myToys. Thus, all orders are imported with the status <strong>[5] Paid</strong>. If no stock is available or no SKU is assigned, the order remains in the order status <strong>[4] In preparation for shipping</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">3. Workflow of a myToys order</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Your products are listed in the myToys marketplace.</p>
</li>
<li>
<p>Customers place an order on myToys.</p>
</li>
<li>
<p>Customers make their payments to myToys.</p>
</li>
<li>
<p>→ The order is imported to plentymarkets.<br>
<strong><em>Note:</em></strong> Because customers make their payments to myToys, orders are imported with the status <strong>[5] Paid</strong>.</p>
</li>
<li>
<p>When you receive the order, you ship the products (drop shipping).</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Installing the plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To connect to myToys in plentymarkets, install the <a href="https://marketplace.plentymarkets.com/en/mytoys_54776" target="_blank" rel="noopener">myToys plugin</a> in your plentymarkets system. You can download this and other plugins in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Adding and installing the plugin <strong>myToys</strong> in your plentymarkets system</div>
<div class="content">
<div class="paragraph instruction">
<p>Adding plugin to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Navigate to the plugin <strong>myToys</strong>.<br>
<strong><em>Tip:</em></strong> Either use the search function or open the category <strong>Plugins » Sales » Marketplaces</strong>.</p>
</li>
<li>
<p>Open the detail view of the plugin.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Go to checkout</strong>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Read and accept the General Terms and Conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ Wait a few minutes before installing the plugin.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set in which you want to install the plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>myToys</strong> from the plugin list.</p>
</li>
<li>
<p>Click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ The plugin set is shown.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
<strong><em>Tip:</em></strong> Problems saving the plugin set? Click on <strong>Open details</strong> to show additional information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="market-setup">5. Setting up the market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you have installed the plugin, set up the market in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="350">5.1. Setting up the data exchange</h3>
<div class="paragraph">
<p>Use the <strong>myToys - Wizard</strong> assistant in the <strong>Setup » Assistants » Plugins » [select plugin set]</strong> menu to set up the data exchange with myToys in plentymarkets. Keep the access data at hand that you received from myToys.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out settings in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Plugins » [Select plugin set]</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Base settings - myToys</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info box shown below this instruction (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow in the step <strong>Summary</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The settings are saved.<br></p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Options in the assistant</div>
<div class="content">
<table id="table-basic-settings-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>API settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account number</strong>;<br>
<strong>User name</strong>;<br>
<strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You will receive these credentials from myToys.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>SFTP settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Host</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter <code>sftp.trade-server.net</code>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter port <code>22</code>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong>;<br>
<strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You will receive these credentials from myToys.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Cron settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order import cron</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate to activate the order import. Orders are imported every 15 minutes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product export cron</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate to activate the item export.<br>
<strong><em>Note:</em></strong> Item data is exported once or twice a day. The export also triggers the price update for the variations included.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock export cron</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate to activate the stock export. Stock is exported every 15 minutes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Shipping profile matching</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more existing shipping profiles and map it to myToys.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which shipping service providers do you want to offer your customers for myToys?</p>
</div>
<div class="paragraph">
<p>Map all external shipping service providers that you want to allow for myToys orders to plentymarkets <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profiles</a>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span>.</p>
</li>
<li>
<p>Select the plentymarkets shipping profile from the drop-down list <strong>Internal shipping profile</strong>.</p>
</li>
<li>
<p>Select a shipping service provider from the drop-down list <strong>Shipping service provider</strong>.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Warehouse selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the warehouses whose stock should be synchronised with myToys.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select which warehouses should be considered when exporting stock details to myToys.</p>
</div>
<div class="paragraph">
<p>Select one or several warehouses that contain the products that you want to sell on myToys:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span>.</p>
</li>
<li>
<p>From the drop-down list <strong>Warehouses</strong>, select plentymarkets warehouses.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Client selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the client that imported orders should be assigned to.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the client that you want to use to sell on myToys.<br>
<strong><em>Note:</em></strong> If you want to sell your products on myToys using your default client, you do not need to select a client.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="400">5.2. Activating an order referrer</h3>
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with myToys. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for myToys:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>myToys</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="450">5.3. Defining a sales price</h3>
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on myToys, you need a sales price in which the order referrer myToys is activated. The price that you save for this sales price is the price that will be shown on myToys.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for myToys:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
<strong><em>Tip:</em></strong> No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>myToys</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">5.4. Activating the referrer in shipping profiles</h3>
<div class="paragraph">
<p>Now activate myToys in the shipping profiles that you want to offer for this market.</p>
</div>
<div class="paragraph instruction">
<p>Activating referrer myToys in the shipping profile:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Shipping profiles</strong> tab.</p>
</li>
<li>
<p>Click on the shipping profile.<br>
<strong><em>Tip:</em></strong> No shipping profiles? Learn how to create shipping profiles <a href="/en/fulfilment/preparing-the-shipment#1000">here</a>.</p>
</li>
<li>
<p>For the setting <strong>Order referrer</strong>, activate the option <strong>myToys</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The shipping profile is available for orders with the referrer myToys.</p>
</li>
<li>
<p>If necessary activate the referrer in additional shipping profiles.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="prepare-variations">6. Activating variations for the market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Continue with preparing your variations.</p>
</div>
<div class="sect2">
<h3 id="900">6.1. Making variations available</h3>
<div class="paragraph">
<p>You need to activate the variations that you want to sell on myToys. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » [Open variation]</strong> menu.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="for-one-variation-tab" data-toggle="tab" href="#for-one-variation" role="tab" aria-controls="for-one-variation" aria-selected="true">For one variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-variation-group-function-tab" data-toggle="tab" href="#using-variation-group-function" role="tab" aria-controls="using-variation-group-function" aria-selected="false">Using variation group function</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-batch-processing-tab" data-toggle="tab" href="#using-batch-processing" role="tab" aria-controls="using-batch-processing" aria-selected="false">Using batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="for-one-variation" role="tabpanel" aria-labelledby="for-one-variation-tab">
<div class="paragraph instruction">
<p>Making a variation available for myToys:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The tab <strong>Settings</strong> of the variation is shown.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on myToys, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>myToys</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The variation is available for myToys.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-variation-group-function" role="tabpanel" aria-labelledby="using-variation-group-function-tab">
<div class="paragraph">
<p>The <a href="/en/item/import-export-create/create/mass-processing#100">variation group function</a> allows you to edit several variations at once. You select the variations that you want to edit.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for myToys using the variation group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>myToys</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>myToys</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-batch-processing" role="tabpanel" aria-labelledby="using-batch-processing-tab">
<div class="paragraph">
<p><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a> allows you to edit several variations at once. You use filters to limit which variations are edited.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for myToys using batch processing:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>myToys</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>myToys</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
<hr>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Deactivating variation availability</div>
<div class="paragraph">
<p>If you deactivate the market availability for myToys of a variation in the <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Availability*menu, the variation is deactivated on myToys. If you reactivate the availability of such a variation, the variation is only reactivated on myToys during the nightly item export.<br>
*<em>Note:</em></strong> To deactivate the variation, the property <strong>myToys category group</strong> has to be remain saved in the <strong>Properties</strong> tab of the respective variation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="link-category-property">6.2. Linking variation to market category</h3>
<div class="paragraph">
<p>After you created the first marketplace format for myToys with the assistant, the property <strong>myToys category group</strong> is created in your plentymarkets system. For each category that you create a catalogue for, a new selection value is added to this property. This selection value has the same name as the category.</p>
</div>
<div class="paragraph">
<p>In order for your variations to be exported in the appropriate catalogue, they have to be linked to the <strong>myToys category group</strong> property in the <strong>Properties</strong> tab of the variation.</p>
</div>
<div class="paragraph instruction">
<p>Linking a variation to the myToys category group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item]</strong>.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Open the variation that should be linked.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong> area, select the property <strong>myToys category group</strong> from the <strong>Properties</strong> drop-down list and click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added.</p>
</li>
<li>
<p>Select the desired category group from the <strong>Value</strong> drop-down list for the <strong>myToys category group</strong> property.<br>
→ The variation is exported in the catalogue for this category.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="550">7. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item data is exported to myToys using catalogue formats. Go to <strong>Data » Catalogues</strong> to create catalogues.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Is this your first time working with catalogues? Then read up on the basic concepts of <a href="/en/data/exporting-data/marketplace-export">using catalogues for exporting item data to markets first</a>.</p>
</li>
<li>
<p>For information about the plentymarkets data fields that can be assigned, refer to the explanations for the default format <a href="#data/exporting-data/catalogues-item">Item (new)</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>To export your item data to myToys, you need to create catalogues. The catalogues have to be created specifically for each category. Depending on the selected category, the required mandatory fields and optional fields vary. Link the myToys data fields with the item data saved in plentymarkets in the marketplace format afterwards. After you activate the catalogue, the catalogue data is automatically exported to myToys in regular intervals.</p>
</div>
<div class="sect2">
<h3 id="600">7.1. Notes on the myToys item data structure</h3>
<div class="paragraph">
<p>The structure of myToys item data differs from the structure in plentymarkets. Only the naming is different:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>The <strong>product</strong> on myToys is the same as the <strong>item</strong> in plentymarkets.</p>
</li>
<li>
<p>The <strong>item</strong> on myToys is the same as the <strong>variation</strong> in plentymarkets.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="650">7.2. Creating a catalogue in the assistant</h3>
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Setup » Assistants » Plugins » Select plugin set</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>myToys - Catalogues</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info box below this description (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to make sure they are correct.<br>
<strong><em>Tip:</em></strong> In the <strong>Summary</strong> step, click on the arrow (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p>Open the catalogue in the <strong>Data » Catalogues</strong> menu to map more fields.<br>
<strong><em>Note:</em></strong> You need a separate catalogue for each category on myToys.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="700">7.3. Mapping catalogue fields</h3>
<div class="paragraph">
<p>After you have created a catalogue, map the market’s data fields to item data saved in plentymarkets. This chapter describes how you map data fields and what particularities apply for item exports to myToys. In addition, we provide recommendations for suitable mappings. This information is structured as follows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#750">Mapping data fields in the catalogue</a></p>
</li>
<li>
<p><a href="#800">Notes on mapping data fields</a></p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="750">7.3.1. Mapping data fields in the catalogue</h4>
<div class="paragraph">
<p>Now, map the myToys data fields to the item data saved in plentymarkets. Take note of the information regarding specific mappings and recommendations in this chapter.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Getting to know the catalogue menu for marketplace formats</div>
<div class="content">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/catalogue-menu-colours.png" alt="catalogue menu colours">
</div>
</div>
<div class="paragraph">
<p><em>Menu structure of a catalogue with marketplace format</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong> When you open a catalogue, the view <strong>Mapping</strong> is shown by default. Use the navigation to switch to other views of the catalogue. Access the catalogue settings or set filters to only export specific data. You can also go back to the catalogues overview or create a new catalogue.</p>
</li>
<li>
<p><strong>Toolbar</strong> The toolbar provides actions for the catalogue. For example, save your mappings, restore an older version of the catalogue or hide or show optional marketplace data fields.</p>
</li>
<li>
<p><strong>Marketplace data fields</strong> To the right of the navigation, all data fields available for the market are listed. Mandatory fields are marked with an asterisk (✱).<br>
<strong><em>Tip:</em></strong> In the toolbar, click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>) to show or hide optional data fields.</p>
</li>
<li>
<p><strong>plentymarkets data fields</strong> The left side of the catalogue is where you map the marketplace data fields with suitable plentymarkets data fields. In the screenshot, a few of the fields are already mapped.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Properties instead of free text fields and characteristics</div>
<div class="paragraph">
<p>With catalogues, you can no longer export free text fields or characteristics. Instead, use <a href="/en/item/settings/properties#500">properties</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mapping catalogue fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab opens.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (<strong>).<br>
→ In the right column, you map the plentymarkets data fields. Any plentymarkets data fields that are already assigned are also shown in the right column.<br>
*<em>Tip:</em></strong> Need more information about the plentymarkets data fields? All data fields are described on the manual page for the standard format <a href="/en/data/exporting-data/catalogues-item">Item (new)</a>.</p>
</li>
<li>
<p>Now, map suitable plentymarkets data fields to the market data fields.<br>
You can choose from the following mappings which are described in the info boxes below:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Simple 1:1 mapping</strong></p>
</li>
<li>
<p><strong>Complex 1:1 mapping</strong></p>
</li>
<li>
<p><strong>1:1 mapping with fallback data fields</strong></p>
</li>
<li>
<p><strong>1:n mapping</strong></p>
</li>
<li>
<p><strong>Own value mapping</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Information about the data fields</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Data fields of the marketplace:</em></strong></p>
<div class="ulist">
<ul>
<li>
<p>Check the documentation of the market to find information about the marketplace data fields.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Data fields in plentymarkets</em></strong>:</p>
<div class="ulist">
<ul>
<li>
<p>Check out the manual page for the standard format <a href="/en/data/exporting-data/catalogues-item">Item (new)</a> for more information about the plentymarkets data fields that you can map in this catalogue.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Simple 1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>In a simple 1:1 mapping, you map a plentymarkets data field to the marketplace data field. If no suitable setting exists in plentymarkets, you can map a property instead.</p>
</div>
<div class="paragraph">
<p>As such, simple 1:1 mappings allow you to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If the data field is empty for a variation, no value is exported for this variation.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a simple 1:1 mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Sales price and RRP</p>
</div>
<div class="paragraph">
<p>This gif shows you how to map the marketplace data fields <strong>Sales price</strong> and <strong>RRP</strong> for Otto Market to suitable plentymarkets data fields:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-simple-en.gif" alt="gif catalogue mapping simple en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Complex 1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>Like with the simple 1:1 mappings, you map a plentymarkets setting or property to a marketplace data field. Complex mappings are necessary whenever a marketplace data field has more than one possible value. Instead of mapping data fields, for complex mappings you instead map the values of these data fields. For example, you cannot simply map the plentymarkets data field <strong>Shipping profile</strong> to the marketplace data field <strong>Shipping method</strong>. Why? The market cannot know which of your shipping profiles in plentymarkets corresponds to which of their shipping methods.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Do not enter own values for complex mappings. All values that you enter must be saved for the variations, either in a setting or as a property value. This also applies if the value <strong>Comparative value</strong> is shown. You still need to enter exactly the value of the setting or property that you mapped.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Examples for complex 1:1 mappings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Categories</p>
</li>
<li>
<p>Brands</p>
</li>
<li>
<p>Shipping setting</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can recognise complex mappings from the field that is shown below the name of the marketplace data field. Click on the field to show the values available for the marketplace data field.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/catalogue-complex-mappings.png" alt="catalogue complex mappings">
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
For complex mappings, do not map own values or properties of the type <strong>None</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a complex 1:1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the field for the marketplace data field.<br>
→ A list of the available values is shown.</p>
</li>
<li>
<p>Select the value that you want to map a plentymarkets data field to.<br>
→ The value is mapped.</p>
</li>
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the available plentymarkets data fields are listed in groups.<br></p>
</li>
<li>
<p>Click on a group.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plentymarkets data field for which you want to map values.<br>
<strong><em>Important:</em></strong> Do not map own values or properties of the type <strong>None</strong>.<br>
→ Your next steps depend on the plentymarkets data field you selected:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> The available values for the plentymarkets data value are shown on the left.<br></p>
<div class="ulist">
<ul>
<li>
<p>Next to the value you want to select, click on the plus.<br>
→ The value is added to the field on the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> The plentymarkets data field is inserted and the field <strong>Comparative value</strong> is shown.</p>
<div class="ulist">
<ul>
<li>
<p>In the field <strong>Comparative value</strong>, enter a value that is saved in the setting or the property of the mapped plentymarkets data field.<br></p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Alternative 3:</em></strong> The plentymarkets data field is inserted and a drop-down list is shown.</p>
<div class="ulist">
<ul>
<li>
<p>Select a value from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>This gif shows you how to map suitable plentymarkets values to the values of the marketplace data fields <strong>Delivery time in days</strong> for Otto Market:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-complex-en.gif" alt="gif catalogue mapping complex en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:1 mapping with fallback data fields</strong> 1 marketplace data field, 1 plentymarkets data field with alternatives</div>
<div class="content">
<div class="paragraph">
<p>In a 1:1 mapping with one or more fallback data fields, you map a plentymarkets data field to the marketplace data field. In addition, you specify one or more fallback data fields. This ensures that the system keeps looking if the first plentymarkets data field is empty or contains an invalid value.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If that data field is empty or invalid for a variation, the first fallback data field is checked and the value of that fallback data field is exported instead.</p>
</li>
<li>
<p>If the first fallback data field is also empty or invalid for a variation, the value of the second fallback data field is exported and so on.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:1 mapping with fallback data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>In the list of plentymarkets data fields, click on the plus icon next to the plentymarkets data field that you want to map.<br>
→ The fallback data field is exported when the first data field does not exist or is empty.<br>
<strong><em>Note:</em></strong> Even if you assign one or more fallback data fields, the value of only one of those fields is exported. For each variation, the mapped plentymarkets data fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value for a variation, the first fallback data field is exported etc.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>This gif shows you how to map the plentymarkets data field <strong>SKU</strong> and the fallback data field <strong>Variation ID</strong> to the marketplace data field <strong>SKU</strong> for Otto Market:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-fallback-en.gif" alt="gif catalogue mapping fallback en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:n mapping:</strong> 1 marketplace data field, several plentymarkets data fields</div>
<div class="content">
<div class="paragraph">
<p>In a 1:n mapping, you map several plentymarkets data fields to the marketplace data field. You can link these data fields with a separator.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to combine these plentymarkets data fields during export so that the marketplace data field is filled with the data of these two or more plentymarkets settings.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the right of the mapped plentymarkets data field, click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ To the left, the list of available plentymarkets data fields again are shown in groups.</p>
</li>
<li>
<p>Map one or several additional plentymarkets data fields to the marketplace data field as described above.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the very right of the row, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Select a separator from the drop-down list <strong>Separator</strong> or add a custom separator.</p>
</li>
<li>
<p>Click on <strong>Save</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.<br>
→ During the export, the content of the plentymarkets data fields is combined and exported as one field.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Own value mapping:</strong> 1 marketplace data field, the same value for all variations</div>
<div class="content">
<div class="paragraph">
<p>You are sure that you want to export the same value for all variations of a catalogue for a marketplace data field? Then specify an own value. This own value is then exported for all variations.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>For this marketplace data field, I want to export the value that I entered in the field <strong>Own value</strong> for <em>all</em> variations of this catalogue.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating an own value mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on the plus next to <strong>Own value</strong> at the top of the list.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.<br>
→ This value is exported for all variations.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Diameter information</p>
</div>
<div class="paragraph">
<p>You want to export diameter information for some of your variations. The diameter is saved in centimetres for all your variations. Instead of creating a property for the unit and linking this property to the variations, you can enter the own value <code>cm</code>.</p>
</div>
<div class="paragraph">
<p>This is how you can map an own value for the diameter unit:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-own-value-en.gif" alt="gif catalogue own value en" width="600">
</div>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="800">7.3.2. Notes on mapping data fields</h4>
<div class="paragraph">
<p>Every market structures item data differently. <a href="#catalogue-mappings">Table 2</a> contains mapping information for important data fields for myToys.</p>
</div>
<div class="paragraph">
<p>Also take note of the following general information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Map at least all <strong>mandatory fields</strong>. You can limit the data fields shown to the mandatory fields by clicking on the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) <strong>Only display mandatory fields</strong>.</p>
</li>
<li>
<p>For some mappings, it makes sense to create <a href="/en/item/settings/properties#500">properties</a> beforehand. You need to create and save these properties before you can map them in the catalogue. Thus, make sure you have created all necessary properties.</p>
</li>
<li>
<p>myToys cannot process HTML tags. As such, HTML tags are removed during the export. Keep this in mind, particularly when working with <a href="#option-itemtext">item descriptions</a> and <a href="#option-bulletpoints">bullet points</a>.</p>
</li>
</ul>
</div>
<table id="catalogue-mappings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Notes on mapping data fields</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Marketplace data field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the plentymarkets data field <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>.</p>
</div>
<div class="paragraph">
<p>The following rules apply to product names:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter the item name in German.</p>
</li>
<li>
<p>There is no character limit for product names. However, do not use too many characters because myToys will automatically cut off products name that are too long. Thus, keep the product name as short as possible.</p>
</li>
<li>
<p>You do not need to mention the manufacturer or any own brands in the product name. This information is shown separately above the item name on myToys.</p>
</li>
<li>
<p>Colours, sizes, gender information or repetitions are not allowed as part of product names.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Brand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the plentymarkets data field <strong>Item » External manufacturer name</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong class="option-itemtext">Texts</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>map the plentymarkets data field <strong>Item text » Item text</strong>.<br>
The item description can be up to 4000 characters long. Longer text is cut off after 4000 characters and <code>…​</code> is added.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> Do you use HTML tags to format your item texts?<br>
myToys cannot process HTML tags. As such, HTML tags are removed during the export. As such, check your item texts. If you use a lot of HTML tags, you might want to create a property in which you save item descriptions without HTML tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The colour is used to create variations in plentymarkets and on myToys.</p>
</div>
<div class="paragraph">
<p>You need two marketplace data fields for exporting colours:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Marketplace data field</th>
<th class="tableblock halign-left valign-top">Mapping recommendation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>General Attributes &gt; Colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Map an attribute for colours to the marketplace data field <strong>Colour</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour &gt; Colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To each myToys colour shade, map an attribute value of the same attribute for colours that you mapped to the marketplace data field <strong>General Attributes &gt; Colour</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="openblock collapseBox">
<div class="title">Do you have different colour shades than myToys, for example “light red”, “dark read” and “cherry red” instead of “red”?</div>
<div class="content">
<div class="paragraph">
<p>If you use colour shades that differ from myToys, you can map fallback data fields.</p>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> In addition to <strong>Red</strong>, you also use the shades <strong>Light red</strong>, <strong>Dark red</strong> and <strong>Cherry red</strong> which you manage either as attribute values or property values.</p>
</div>
<div class="paragraph">
<p>Map these attribute/property values to the marketplace data field <strong>Red</strong> as fallback data fields.</p>
</div>
<div class="paragraph">
<p>Customers can then find the variation with all of the three different properties when they filter for the colour <strong>Red</strong> on myToys.</p>
</div>
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Size</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The size usually is used to create variations in plentymarkets and on myToys. As such, map an attribute for size information.<br>
<strong><em>Note:</em></strong> Whether or not the size is used to create variations largely depends on your product portfolio. If your variations were created without attributes for sizes, contact the myToys integration team to talk about how you can proceed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map a sales price of the type <strong>RRP</strong>. The referrer myToys must be activated for this sales price.</p>
</div>
<div class="paragraph">
<p>RRP are shown on myToys based on the following logic:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If the sales price is lower than the RRP, the RRP is shown on myToys as a strikethrough price.</p>
</li>
<li>
<p>If the sales prices is higher than or equal to the RRP, the RRP will not be displayed on myToys.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> You do not have any RRP, for example because you are the manufacturer? Then assign the same sales price as for the marketplace data field <strong>Net sales price</strong>. This way, no strikethrough price will be displayed on myToys.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong class="option-bulletpoints">Bullet points</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Additional information on an item is displayed on the myToys item page using bullet points.</p>
</div>
<div class="paragraph">
<p>The following rules apply for bullet points:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Up to 255 characters can be exported per bullet point.</p>
</li>
<li>
<p>The text is cut off after 355 characters and <code>…​</code> is added.</p>
</li>
<li>
<p>myToys cannot process HTML tags. As such, HTML tags are removed during the export.<br>
<strong><em>Tip:</em></strong> Do not use HTML tags in the properties for the bullet points.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Recommendation:</em></strong> Create a separate property of the type <strong>Text</strong> for each bullet point.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Season</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the values of a plentymarkets property to the seasons.<br>
<strong><em>Tip:</em></strong> For variations that are not seasonal, save the property value that you mapped to the myToys value <strong>NOOS</strong> in the catalogue.</p>
</div>
<div class="paragraph">
<p>myToys uses the following abbreviations for seasons:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>NOOS = never out of stock</p>
</li>
<li>
<p>FS = Spring/summer</p>
</li>
<li>
<p>HW = Autumn/winter</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pattern</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the values of a plentymarkets property to each pattern.<br>
<strong><em>Tip:</em></strong> For variations that do not have a pattern, save the property value that you mapped to the myToys value <strong>uni</strong> in the catalogue.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Material composition</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You need to specify the material composition to list products in some categories. This is particularly relevant for textiles and shoes.</p>
</div>
<div class="paragraph">
<p>Two marketplace data fields are combined to export material composition information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>General Components &gt; Textile composition - 1. material composition textile</strong> is used to export the composition in percent.</p>
</li>
<li>
<p><strong>Textile component 1</strong> specifies the part of the variation to which the percentages relate. For example, this could be the lining or the cuffs.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>As a minimum, you need to map <strong>1\. material composition textile</strong> and <strong>Textile component 1</strong>. The data fields for materials 2 to 5 are optional.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>General Components &gt;</strong><br></p>
<p class="tableblock"><strong>Textile composition - 1. Material composition textile</strong><br></p>
<p class="tableblock">to<br></p>
<p class="tableblock"><strong>Textile composition - 5. Material composition textile</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>These marketplace data fields are used to specify the material composition in percent.</p>
</div>
<div class="paragraph">
<p>Use a property to specify material compositions in percent:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Create a property of the type <strong>Text</strong>.</p>
</li>
<li>
<p>Links the property with the variation.</p>
</li>
<li>
<p>Enter the material composition in the text field of the property. Use the following format:</p>
<div class="ulist">
<ul>
<li>
<p><strong>{"material1": "percentage","material2": "percentage","material3": "percentage"}</strong><br>
<strong><em>Important:</em></strong> The values for material types you enter must be identical to the
<a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/myToys/myToys_Materialien_sortiert.pdf" target="_blank" rel="noopener">values that myToys uses</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
<li>
<p><strong><em>Example:</em></strong> <code>{"WO": "90","EL": "10"}</code></p>
</li>
</ul>
</div>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Textile component 1</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>As described above, the marketplace data field <strong>General Components &gt; Textile composition - 1. Material composition textile</strong> is used to specify the material composition of a variation in percent. However, myToys does not know which part of the variation these percentages relate to. As such, the marketplace data field <strong>Textile component 1</strong> specifies to myToys which component of a variation the percentages relate to.</p>
</div>
<div class="paragraph">
<p>Examples of textile components are Obermaterial (upper), Außenjacke (outer jacket), Beinfutter (leg lining), or Bündchen (cuffs). You can find a complete list of the textile components myToys uses <a href="https://raw.githubusercontent.com/plentymarkets/manual/master/de/maerkte/assets/mytoys-textilkomponenten.txt" target="_blank" rel="noopener">here</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="paragraph">
<p>Use a property to specify the textile components:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Create a property of the type <strong>Selection</strong>.</p>
</li>
<li>
<p>Save all components that you need for your variation as selection values.</p>
</li>
<li>
<p>In the catalogue, map the selection values of the property to the different myToys textile components.</p>
</li>
<li>
<p>Links the property with the variation.</p>
</li>
<li>
<p>Select a suitable property value.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item weight</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The entered value is transmitted in grams.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Age recommendation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The age recommendation defines the target group. This information is used to automatically determine the shop in which the variation is published:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variations with an age recommendation of <strong>up to 16 years</strong> are published on myToys.</p>
</li>
<li>
<p>Variations with an age recommendation of <strong>18 years or higher</strong> are published on mirapodo/yomonda.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following values can be used:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>new born</strong> = 0-9 months<br></p>
</li>
<li>
<p><strong>baby</strong> = 9-24 months<br></p>
</li>
<li>
<p><strong>mini</strong> = 2-8 years<br></p>
</li>
<li>
<p><strong>teen</strong> = 8-16 years<br></p>
</li>
<li>
<p><strong>adult</strong> = 18-99 years</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Map a property for <strong>Age recommendation</strong> and link it to your variations</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Create a property with the following settings:</p>
<div class="ulist">
<ul>
<li>
<p>Name: Age group</p>
</li>
<li>
<p>Section: Item</p>
</li>
<li>
<p>Type: Selection</p>
</li>
<li>
<p>Selection values:</p>
<div class="ulist">
<ul>
<li>
<p><strong>new born</strong></p>
</li>
<li>
<p><strong>baby</strong></p>
</li>
<li>
<p><strong>mini</strong></p>
</li>
<li>
<p><strong>teen</strong></p>
</li>
<li>
<p><strong>adult</strong></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
<li>
<p>In the menu <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Settings</strong>, link the variation to the property.</p>
</li>
<li>
<p>Select the property value that suits the variation.</p>
</li>
</ol>
</div>
</div>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Are you missing any marketplace data fields for mapping the items correctly? Contact myToys to add any missing marketplace data fields.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="850">7.4. Activating the catalogue</h3>
<div class="paragraph">
<p>You have set up myToys and created a catalogue for exporting your item data? Then start the export of your item data.</p>
</div>
<div class="paragraph instruction">
<p>Activating the catalogue export to myToys:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the myToys catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) to the right.<br>
→ The catalogue is active.<br>
→ Catalogue data is exported to myToys .</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="order-documents">8. Preparing order documents</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The invoices for myToys orders are sent by myToys. As such, you only need the following order documents for myToys orders:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Delivery notes</p>
</li>
<li>
<p>Return slips</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Adjust these order documents to the requirements of myToys. Check the following chapters to find out how. This information is structured like this:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#delivery-notes">Prepare delivery notes</a></p>
</li>
<li>
<p><a href="#return-notes">Preparing return slips</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="delivery-notes">8.1. Preparing delivery notes</h3>
<div class="paragraph">
<p>Delivery notes for myToys orders must contain the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>myToys letterhead</p>
</li>
<li>
<p>External order number</p>
</li>
<li>
<p>External customer number</p>
</li>
<li>
<p>EAN</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>To ensure this, carry out the steps described in this chapter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Upload a PDF template for delivery notes (<a href="#1300">Wie?</a>)</p>
</li>
<li>
<p>Adjust the template for delivery notes for myToys. (<a href="#16003">How?</a>)</p>
</li>
</ol>
</div>
<div class="sect3">
<h4 id="1300">8.1.1. Uploading a PDF template for delivery notes</h4>
<div class="paragraph">
<p>myToys delivery notes must contain the myToys logo. Proceed as described below to upload a <a href="/en/orders/order-documents#170">PDF template</a> for delivery notes for myToys to plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Uploading a PDF template for delivery notes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Download the PDF template for myToys delivery notes to your computer:</p>
<div class="ulist">
<ul>
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/myToys/myToys-Lieferschein.pdf">Download PDF template</a></p>
</li>
</ul>
</div>
</li>
<li>
<p>Go to <strong>Setup » Client » Select client » Locations » Location: Germany » Documents » Delivery note</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>PDF template</strong>.</p>
</li>
<li>
<p>Click on <strong>Add template</strong>.<br>
→ The editing window <strong>Upload new PDF template</strong> opens.</p>
</li>
<li>
<p>From the drop-down list <strong>Payment method</strong>, select the option <strong>Plugin: myToys Payment</strong>.</p>
</li>
<li>
<p><strong><em>Tip:</em></strong> Can’t find the payment method <strong>Plugin: myToys Payment</strong> in the drop-down list?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Go to <strong>Setup » Orders » Settings</strong>.</p>
</li>
<li>
<p>For the setting <strong>Show inactive plugin payment methods</strong>, select the option <strong>Yes</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the setting.</p>
</li>
</ol>
</div>
</li>
<li>
<p>In the drop-down list <strong>Language</strong>, select the option <strong>de</strong>.</p>
</li>
<li>
<p>In the line <strong>Template</strong>, click on <strong>Choose template file</strong>.</p>
</li>
<li>
<p>Select the PDF template for myToys delivery notes.</p>
</li>
<li>
<p>Click on <strong>Upload template</strong> (<span class="icon "><i class="psicon-save"></i></span>).<br>
→ The template is uploaded.<br>
<strong><em>Tip:</em></strong> In the same menu, also adjust the template for myToys delivery notes. The next chapter shows you how.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="16003">8.1.2. Adjusting template for delivery notes</h4>
<div class="paragraph">
<p>In addition to the myToys logo, delivery notes for myToys orders must also contain the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>EAN</p>
</li>
<li>
<p>External order number</p>
</li>
<li>
<p>External customer number</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In addition, myToys must not show any prices.</p>
</div>
<div class="paragraph">
<p>To make sure that your delivery notes comply with these rules, adjust the template for delivery note as described below.</p>
</div>
<div class="paragraph instruction">
<p>Adjusting template for delivery notes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Standard » Locations » Germany » Documents » Invoice » Tab: Template</strong>.</p>
</li>
<li>
<p>Adjust the template settings as described in <a href="#table-delivery-notes">Table 3</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The necessary information is shown on delivery notes.</p>
</li>
</ol>
</div>
<table id="table-delivery-notes" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Settings for myToys delivery notes</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Columns stock units</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate option <strong>EAN</strong>.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Unit price</strong>;<br>
<strong>Total price (net)</strong>;<br>
<strong>Unit price (gross)</strong>;<br>
<strong>Total price (gross)</strong>;<br>
<strong>RRP</strong>;<br>
<strong>Discount (percent)</strong>;<br>
<strong>Unit price without discount (gross)</strong>;<br>
<strong>Unit price without discount (net)</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="return-notes">8.2. Preparing return slips</h3>
<div class="paragraph">
<p>Return slips for myToys orders must contain the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>myToys letterhead</p>
</li>
<li>
<p>EAN</p>
</li>
<li>
<p>External order number</p>
</li>
<li>
<p>External customer number</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>To ensure this, carry out the steps described in this chapter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Upload a PDF template for return slips. (<a href="#1150">How?</a>)</p>
</li>
<li>
<p>Adjust the template for return slips for myToys. (<a href="#1150-1">How?</a>)</p>
</li>
</ol>
</div>
<div class="sect3">
<h4 id="1150">8.2.1. Uploading a PDF template for return slips</h4>
<div class="paragraph">
<p>The myToys letterhead has to be included on return slips for myToys orders.
Proceed as described below to upload a <a href="/en/orders/order-documents#170">PDF template</a> for return slips for myToys in plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Uploading a PDF template for return slips:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Download the PDF template for myToys return slips to your computer:</p>
<div class="ulist">
<ul>
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/myToys/myToys-Retourenschein.pdf">Download PDF template</a></p>
</li>
</ul>
</div>
</li>
<li>
<p>Go to <strong>Setup » Client » Select client » Locations » Location: Germany » Documents » Return slip</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>PDF template</strong>.</p>
</li>
<li>
<p>Click on <strong>Add template</strong>.<br>
→ The editing window <strong>Upload new PDF template</strong> opens.</p>
</li>
<li>
<p>From the drop-down list <strong>Payment method</strong>, select the option <strong>Plugin: myToys Payment</strong>.</p>
</li>
<li>
<p><strong><em>Tip:</em></strong> Can’t find the payment method <strong>Plugin: myToys Payment</strong> in the drop-down list?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Go to <strong>Setup » Orders » Settings</strong>.</p>
</li>
<li>
<p>For the setting <strong>Show inactive plugin payment methods</strong>, select the option <strong>Yes</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the setting.</p>
</li>
</ol>
</div>
</li>
<li>
<p>In the drop-down list <strong>Language</strong>, select the option <strong>de</strong>.</p>
</li>
<li>
<p>In the line <strong>Template</strong>, click on <strong>Choose template file</strong>.</p>
</li>
<li>
<p>Select the PDF template for myToys return slips.</p>
</li>
<li>
<p>Click on <strong>Upload template</strong> (<span class="icon "><i class="psicon-save"></i></span>).<br>
→ The template is uploaded.<br>
<strong><em>Tip:</em></strong> In the same menu, also adjust the template for myToys return slips. The next chapter shows you how.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1150-1">8.2.2. Adjusting template for return slips</h4>
<div class="paragraph">
<p>In addition to the myToys letterhead, return slips for myToys orders must also contain the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>EAN</p>
</li>
<li>
<p>External order number</p>
</li>
<li>
<p>External customer number</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In addition, myToys return slips must not show any prices.</p>
</div>
<div class="paragraph">
<p>To make sure that your return slips comply with these rules, adjust the template for return slips as described below.</p>
</div>
<div class="paragraph instruction">
<p>Adjusting template for return slips:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Standard » Locations » Germany » Documents » Return slip » Tab: Template</strong>.</p>
</li>
<li>
<p>Adjust the template settings as described in <a href="#table-return-notes">Table 4</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The required information is shown on return slips.</p>
</li>
</ol>
</div>
<table id="table-return-notes" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Settings for myToys return slips</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Columns stock units</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate option <strong>EAN</strong>.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Unit price</strong>;<br>
<strong>Total price (net)</strong>;<br>
<strong>Unit price (gross)</strong>;<br>
<strong>Total price (gross)</strong>;<br>
<strong>RRP</strong>;<br>
<strong>Discount (percent)</strong>;<br>
<strong>Unit price without discount (gross)</strong>;<br>
<strong>Unit price without discount (net)</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="order-processing">9. Automating order processing</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Automate the following aspects of limango order processing:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Automatically send cancellations <a href="#950">How?</a></p>
</li>
<li>
<p>Automatically inform myToys when items have shipped <a href="#1000">How?</a></p>
</li>
<li>
<p>Return management <a href="#1050">How?</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="950">9.1. Automatically sending cancellations</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform myToys of cancellations.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct <strong>Name</strong> for the event procedure.</p>
</li>
<li>
<p>Select the <strong>Event</strong> according to <a href="#event-procedure-cancellation-myToys">[event-procedure-cancellation-myToys]</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the further settings according to <a href="#event-procedure-cancellation-myToys">[event-procedure-cancellation-myToys]</a>.</p>
</li>
<li>
<p>Activate the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-cancellations-myToys" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Event procedure to send a cancellation to myToys</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an event, for example [8] <strong>Waiting for payment</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>myToys</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Report order cancellation to myToys</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">9.2. Automatically sending shipping confirmations to myToys</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send shipping confirmations to myToys.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct <strong>Name</strong> for the event procedure.</p>
</li>
<li>
<p>Select the <strong>Event</strong> according to <a href="#event-procedure-shipping-info-myToys">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the further settings according to <a href="#event-procedure-shipping-info-myToys">Table 6</a>.</p>
</li>
<li>
<p>Activate the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-shipping-info-myToys" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Event procedure for shipping confirmations</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an event, for example [7] <strong>Outgoing items booked</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong><br>
* Delivery order*</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>myToys</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send shipping information to myToys</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1050">9.3. Setting up return management</h3>
<div class="paragraph">
<p>Now set up the processing of returns for myToys.</p>
</div>
<div class="sect3">
<h4 id="1100">9.3.1. Workflow for returns</h4>
<div class="paragraph">
<p>The workflow of myToys returns is as follows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Customers return the items to you, along with the filled in <a href="#1150">return slip</a>.</p>
</li>
<li>
<p>You process the return in plentymarkets.</p>
</li>
<li>
<p>You notify myToys when you have received the items.</p>
</li>
<li>
<p>myToys reimburses the customers.<br>
<strong><em>Note:</em></strong> When you notify myToys that the return is completed, myToys triggers a credit note and the customers receive a refund. Thus, only notify myToys about completing the return after you have received and checked the returned items.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1200">9.3.2. Automatically notifying myToys about returns</h4>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform myToys when you have completed processing a return.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct <strong>Name</strong> for the event procedure.</p>
</li>
<li>
<p>Select the <strong>Event</strong> according to <a href="#event-procedure-returns-myToys">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the further settings according to <a href="#event-procedure-returns-myToys">Table 7</a>.</p>
</li>
<li>
<p>Activate the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-returns-myToys" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Event procedure for automatically notifying myToys of returns</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New return</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>myToys</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send return notification to myToys</strong><br>
<strong><em>Note:</em></strong> The procedure <strong>Send return notification to myToys</strong> triggers a credit note. This means that customers will receive a refund. Thus, make sure the event procedure is only triggered after you have received and checked the returned items.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1350">10. Troubleshooting</h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
Your variations were not exported to myToys? No variation data is exported if one or more variations do not meet the requirements of myToys. This means that none of your variations will be exported to myToys if one of your variations is invalid. To find the error, check the entries in the data log.
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="log-entries">10.1. Viewing log entries</h3>
<div class="paragraph">
<p>The <strong>Data » Log</strong> menu contains a history of processes that run via the myToys interface. Note that integrations and identifiers are only shown in the drop-down lists as filters after the process has run at least once.</p>
</div>
<div class="paragraph">
<p>For myToys, the following filters are recommended:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Integration</strong> » <strong>myToys</strong></p>
</li>
<li>
<p><strong>Reference type</strong> » <strong>variationId</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Filtering and checking log entries</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>In the column to the left, select appropriate filters from the drop-down lists.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select filters for dates and/or times to only show entries from a specific period.<br>
<strong><em>Tip:</em></strong> For further information about the filters, refer to the <a href="/en/data/datalog">Data log</a> page of the manual.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The results are shown.</p>
</li>
<li>
<p>Check all entries for the levels <strong>warning</strong> and <strong>error</strong>.<br>
<strong><em>Tip:</em></strong> Click on the entry to see details.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="mandatory-missing">10.2. Finding variations with missing mandatory fields</h3>
<div class="paragraph">
<p>In addition to the method described above, you can also check which mandatory fields were not specified for your variations. To do so, first activate the log level <strong>Debug</strong> in the log.</p>
</div>
<div class="paragraph instruction">
<p>Activating Debug log level:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>Click on <strong>Configure logs</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>From the list on the left, select the option <strong>myToys</strong>.</p>
</li>
<li>
<p>Go to <strong>Settings</strong> on the right and activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Select the <strong>Duration</strong> for which you want the log level to stay active.</p>
</li>
<li>
<p>In the drop-down menu <strong>Log level</strong>, activate the option <strong>Debug</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After the next export, you can click on <strong>myToys</strong> entries with the level <strong>Debug</strong> in the <strong>Data » Log</strong> menu. This way, the entries will expand and further details regarding missing mandatory fields is displayed.</p>
</div>
<div class="paragraph instruction">
<p>Find variations with missing mandatory fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>In the column on the left, select the following filters:</p>
<div class="ulist">
<ul>
<li>
<p>Integration <strong>myToys</strong></p>
</li>
<li>
<p>Level <strong>Debug</strong></p>
</li>
<li>
<p>Reference type <strong>variationId</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ All variations with missing mandatory fields are listed.</p>
</li>
<li>
<p>Click on the entry to see details.<br>
→ The missing mandatory fields are listed in the section <strong>requiredFields: Object</strong>.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>