<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#70"><span>1.</span><span> Overview of automatic data exchange</span></a></li>
<li><a href="#400"><span>2.</span><span> Activating the automatic data exchange</span></a></li>
<li><a href="#450"><span>3.</span><span> Defining stock export</span></a></li>
<li><a href="#550"><span>4.</span><span> Defining a sales price</span></a></li>
<li><a href="#1800"><span>5.</span><span> Managing promotion prices</span></a>
<ul class="sectlevel2">
<li><a href="#1801"><span>5.1.</span><span> Defining a promotion price</span></a></li>
<li><a href="#1802"><span>5.2.</span><span> Starting the promotion price on the start date</span></a></li>
<li><a href="#1802"><span>5.3.</span><span> Ending promotion prices on the end date</span></a></li>
</ul>
</li>
<li><a href="#500"><span>6.</span><span> Setting the commission</span></a></li>
<li><a href="#600"><span>7.</span><span> Activating the order referrer</span></a></li>
<li><a href="#700"><span>8.</span><span> Setting the variation availability</span></a></li>
<li><a href="#800"><span>9.</span><span> Linking variations with the property REWE product type</span></a></li>
<li><a href="#900"><span>10.</span><span> Setting up the item export</span></a>
<ul class="sectlevel2">
<li><a href="#1001"><span>10.1.</span><span> Notes on the REWE item data structure: product groups and variations</span></a></li>
<li><a href="#_creating_a_catalogue_in_the_assistant"><span>10.2.</span><span> Creating a catalogue in the assistant</span></a></li>
<li><a href="#600"><span>10.3.</span><span> Mapping additional data fields in the catalogue (not in assistant)</span></a></li>
<li><a href="#905"><span>10.4.</span><span> Particularities for mapping data fields</span></a></li>
<li><a href="#602"><span>10.5.</span><span> Example: Mapping the data field "Product description"</span></a></li>
</ul>
</li>
<li><a href="#701"><span>11.</span><span> Linking data fields created in the assistant with variations</span></a></li>
<li><a href="#2000"><span>12.</span><span> Activating the catalogue export to REWE</span></a></li>
<li><a href="#1100"><span>13.</span><span> Matching shipping service providers</span></a></li>
<li><a href="#1200"><span>14.</span><span> Matching reasons for return</span></a></li>
<li><a href="#1300"><span>15.</span><span> Synchronising tax categories</span></a></li>
<li><a href="#1400"><span>16.</span><span> Manually synchronising brands</span></a></li>
<li><a href="#1700"><span>17.</span><span> Deactivating the creation of a contact</span></a></li>
<li><a href="#1500"><span>18.</span><span> Automatically updating the order status for REWE</span></a></li>
<li><a href="#1600"><span>19.</span><span> Information for REWE delivery periods</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>REWE</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">REWE marketplace closes down on 31/12/2021</div>
<div class="paragraph">
<p>REWE will close down their marketplace on the 31st of December 2021. After this date, the platform is expected to be operated until the 31st of January2022. Orders must be processed until the 31st of January2022. Existing customers can contact REWE for more details.</p>
</div>
<div class="paragraph">
<p>As such, the information on this page is now only relevant for existing customers.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="70">1. Overview of automatic data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After installing and setting up the plugin, the automatic processes described in <a href="#data-exchange-rewe">Table 1</a> are available:</p>
</div>
<table id="data-exchange-rewe" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Frequency of data exchange</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data</th>
<th class="tableblock halign-left valign-top">Interval</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item export</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>once a day</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hourly</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order import</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">2. Activating the automatic data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the <strong>Setup » Markets » REWE » Basic Settings</strong> menu to set up the market REWE in plentymarkets. Activate the item export, the stock and price synchronisation, and the order import in this menu so that data is exchanged with REWE automatically.</p>
</div>
<div class="paragraph instruction">
<p>Activating the automatic data exchange:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>Activate the following options to activate the automatic data exchange with REWE:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Item export</strong></p>
</li>
<li>
<p><strong>Stock and price update</strong></p>
</li>
<li>
<p><strong>Order import</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">3. Defining stock export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By default, the stock information for each variation is exported based on the option you selected for the <strong>Limitation</strong> setting. You can also ignore this setting and instead export the actual net stock for all variations to REWE.</p>
</div>
<div class="paragraph instruction">
<p>Defining stock export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>Select an option for <strong>Export stock</strong>. Pay attention to the explanations given in <a href="#rewe-stock">Table 2</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="rewe-stock" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Defining stock export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export stock</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select how stock is to be exported.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Consider variation setting 'Limitation'</strong><br>
(default setting)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock is exported as specified for each variation. Stock limitation is managed in the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Settings » Area: Availability</strong> menu using the option <strong>Limitation</strong>.<br>
<strong><em>Note:</em></strong> For variations for which the <strong>Limitation</strong> setting is set to <strong>Do not administer stock for this variation</strong>, a stock of 1000 is exported to REWE.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export actual net stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock <strong>Limit</strong> setting is ignored for all variations during export to REWE. Instead, the actual net stock is exported to REWE for each variation. You can check the actual net stock in the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Stock » Tab: Stock</strong> menu in the column <strong>Net</strong>.<br>
<strong><em>Note:</em></strong> For variations for which the <strong>Limitation</strong> setting is set to <strong>Do not administer stock for this variation</strong>, a stock of 0 is exported to REWE. As such, the variation cannot be bought on REWE.<br>
<strong><em>Tip:</em></strong> The net stock is the quantity of a variation that is available for sale. The net stock is a subset of the physical stock. Substract all reserved quantities from the physical stock and you will get the net stock.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="550">4. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on {referrer}, you need a sales price in which the order referrer {referrer} is activated. The price that you save for this sales price is the price that will be shown on {referrer}.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for {referrer}:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
<strong><em>Tip:</em></strong> No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>{referrer}</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">5. Managing promotion prices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can export promotion prices that are valid for a specific period.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
The promotion price is not started and ended on REWE automatically. The promotion price is only started and ended when you edit the price that is saved for the REWE special offer price in plentymarkets.
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1801">5.1. Defining a promotion price</h3>
<div class="paragraph">
<p>Prerequisites for correctly exporting promotion prices:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You have created a sales price of the type <strong>Special offer</strong>.<br>
<strong><em>Tip:</em></strong> Do not forget to activate the referrer <strong>REWE</strong> for this special offer price.</p>
</li>
<li>
<p>You have mapped the following data fields in the REWE catalogues:</p>
<div class="ulist">
<ul>
<li>
<p>Marketplace data field <strong>Promotion price</strong> plentymarkets sales price of the type <strong>Special offer</strong></p>
</li>
<li>
<p>Marketplace data field <strong>Promotion starts</strong> = plentymarkets property <strong>REWE promotion price start date</strong></p>
</li>
<li>
<p>Marketplace data field <strong>Promotion ends</strong> = plentymarkets property <strong>REWE promotion price end date</strong></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Defining a promotion price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Link the sales price of the type <strong>Special offer</strong> to the variation.</p>
</li>
<li>
<p>Save a price for the special offer price.</p>
</li>
<li>
<p>Link the variation with the property <strong>REWE promotion price start date</strong>.</p>
</li>
<li>
<p>Save a date for the property.<br>
<strong><em>Important:</em></strong> The promotion price is not started automatically on this date.</p>
</li>
<li>
<p>Link the variation with the property <strong>REWE promotion price end date</strong>.</p>
</li>
<li>
<p>Save a date for the property.<br>
<strong><em>Important:</em></strong> The promotion price is not ended automatically on this date.</p>
</li>
<li>
<p>Set yourself a reminder for the start date and the end date. On these days, you need to start and end the promotion price yourself.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1802">5.2. Starting the promotion price on the start date</h3>
<div class="paragraph">
<p>On the start date, you need to change the price that you saved for the REWE special offer price in plentymarkets. This updates the prices on REWE and starts the promotion price.</p>
</div>
<div class="paragraph">
<p>There are several ways of changing the prices. Here, we show you two examples based on the number of variations for which you want to start promotion prices.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="price-changes-for-one-or-a-small-number-of-variations-tab" data-toggle="tab" href="#price-changes-for-one-or-a-small-number-of-variations" role="tab" aria-controls="price-changes-for-one-or-a-small-number-of-variations" aria-selected="true">Price changes for one or a small number of variations</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="price-changes-for-many-variations-tab" data-toggle="tab" href="#price-changes-for-many-variations" role="tab" aria-controls="price-changes-for-many-variations" aria-selected="false">Price changes for many variations</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="price-changes-for-one-or-a-small-number-of-variations" role="tabpanel" aria-labelledby="price-changes-for-one-or-a-small-number-of-variations-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the variation.</p>
</li>
<li>
<p>Change the amount for the promotion price. For example, change the last decimal point of the amount.</p>
</li>
<li>
<p>Save the change.<br>
→ The promotion price for the variation is started on REWE.<br>
<strong><em>Tip:</em></strong> You can change back to the original price straight way. The change only serves to update the price on REWE.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="price-changes-for-many-variations" role="tabpanel" aria-labelledby="price-changes-for-many-variations-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the variation group function.</p>
</li>
<li>
<p>Carry out a price change for the promotion price. For an example, see the screenshot below.</p>
</li>
<li>
<p>Execute the variation group function.<br>
→ The promotion price is started for all variations that have reached or exceeded the start date saved in the property <strong>REWE promotion price start date</strong>.<br>
<strong><em>Tip:</em></strong> You can change back to the original price straight way. The change only serves to update the price on REWE.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/rewe-promotion-price-example.png" alt="rewe promotion price example">
</div>
<div class="title">Figure 1. Price change: Increase by one cent for all REWE special offer prices</div>
</div>
</div></div>
<hr>
</div>
<div class="sect2">
<h3 id="1802">5.3. Ending promotion prices on the end date</h3>
<div class="paragraph">
<p>On the end date, you need to change the price that you saved for the REWE special offer price in plentymarkets. This updates the prices on REWE and ends the promotion price.</p>
</div>
<div class="paragraph">
<p>There are several ways of changing the prices. Here, we show you two examples based on the number of variations for which you want to end promotion prices.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="price-changes-for-one-or-a-small-number-of-variations-tab" data-toggle="tab" href="#price-changes-for-one-or-a-small-number-of-variations" role="tab" aria-controls="price-changes-for-one-or-a-small-number-of-variations" aria-selected="true">Price changes for one or a small number of variations</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="price-changes-for-many-variations-tab" data-toggle="tab" href="#price-changes-for-many-variations" role="tab" aria-controls="price-changes-for-many-variations" aria-selected="false">Price changes for many variations</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="price-changes-for-one-or-a-small-number-of-variations" role="tabpanel" aria-labelledby="price-changes-for-one-or-a-small-number-of-variations-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the variation.</p>
</li>
<li>
<p>Change the amount for the promotion price. For example, change the last decimal point of the amount.</p>
</li>
<li>
<p>Save the change.<br>
→ The promotion price for the variation is ended on REWE.<br>
→ The normal sales price is shown as the new price.<br>
<strong><em>Tip:</em></strong> You can change back to the original price straight way. The change only serves to update the price on REWE.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="price-changes-for-many-variations" role="tabpanel" aria-labelledby="price-changes-for-many-variations-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the group function.</p>
</li>
<li>
<p>Carry out a price change for the promotion price. For an example, see the screenshot below.</p>
</li>
<li>
<p>Execute the group function.<br>
→ The promotion price is ended for all variations that have reached or exceeded the end date saved in the property <strong>REWE promotion price end date</strong>.<br>
→ The normal sales price is shown as the new price.<br>
<strong><em>Tip:</em></strong> You can change back to the original price straight way. The change only serves to update the price on REWE.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/rewe-promotion-price-example.png" alt="rewe promotion price example">
</div>
<div class="title">Figure 2. Price change: Increase by one cent for all REWE special offer prices</div>
</div>
</div></div>
<hr>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. Setting the commission</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Commission settings are optional</div>
<div class="paragraph">
<p>The settings for the commission for REWE are optional. If you do not set a commission, orders will be imported into plentymarkets with the sales prices that are displayed at REWE.<br>
If no commission is set, prices will also be displayed without commission on the delivery note.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The standard commission is set up in the <strong>Setup » Markets » REWE » Basic settings</strong> menu. The commission serves to calculate the order sums free of commission.</p>
</div>
<div class="paragraph">
<p>Order sums free of commission are calculated with this formula:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sales price REWE = Sales price customer * (1 - conversion factor)</p>
</li>
<li>
<p>Conversion factor = Commission * (1 + VAT rate)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For the calculation, the percentages for commission and VAT rate are converted into the corresponding factor, that is, divided by 100. The conversion factor is rounded to 3 decimal places.</p>
</div>
<div class="paragraph instruction">
<p>Setting the commission:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>In the <strong>Commission</strong> area, enter a number for the commission in percent.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The commission is the default commission for all items except for any variations for which a separate commission was set up.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can set up a separate commission for variations. To do so, use the <strong>REWE commission</strong> variation property. The variation property <strong>REWE commission</strong> is created automatically when the REWE plugin is installed. In order to set up a separate commission for a variation, link the variation to the variation property <strong>REWE commission</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a separate commission for variations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Open the variation that you would like to set up a separate commission for.</p>
</li>
<li>
<p>Open the variation’s <strong>Properties</strong> tab.</p>
</li>
<li>
<p>From the <strong>Properties</strong> drop-down list, select <strong>REWE commission</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is linked to the variation.</p>
</li>
<li>
<p>Enter a whole number or a decimal number into the <strong>Value</strong> field for the commission in percent.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">7. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with REWE. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for REWE:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Rewe</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">8. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate the variations that you want to sell on REWE. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » [Open variation]</strong> menu.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="for-one-variation-tab" data-toggle="tab" href="#for-one-variation" role="tab" aria-controls="for-one-variation" aria-selected="true">For one variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-variation-group-function-tab" data-toggle="tab" href="#using-variation-group-function" role="tab" aria-controls="using-variation-group-function" aria-selected="false">Using variation group function</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-batch-processing-tab" data-toggle="tab" href="#using-batch-processing" role="tab" aria-controls="using-batch-processing" aria-selected="false">Using batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="for-one-variation" role="tabpanel" aria-labelledby="for-one-variation-tab">
<div class="paragraph instruction">
<p>Making a variation available for REWE:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The tab <strong>Settings</strong> of the variation is shown.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on REWE, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>REWE</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The variation is available for REWE.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-variation-group-function" role="tabpanel" aria-labelledby="using-variation-group-function-tab">
<div class="paragraph">
<p>The <a href="/en/item/import-export-create/create/mass-processing#100">variation group function</a> allows you to edit several variations at once. You select the variations that you want to edit.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for REWE using the variation group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>REWE</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>REWE</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-batch-processing" role="tabpanel" aria-labelledby="using-batch-processing-tab">
<div class="paragraph">
<p><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a> allows you to edit several variations at once. You use filters to limit which variations are edited.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for REWE using batch processing:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>REWE</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>REWE</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
<hr>
</div>
</div><div class="sect1">
<h2 id="800">9. Linking variations with the property REWE product type</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Variations that you want to sell on REWE have to be linked with the <strong>REWE product type</strong> variation property. This variation property is created in your plentymarkets system as soon as you have installed the REWE plugin. Examples for REWE product types are:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Household</p>
</li>
<li>
<p>Garden</p>
</li>
<li>
<p>Fashion</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Linking variations with the property REWE product type:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.<br>
<strong><em>Tip:</em></strong> To link all variations of an item, carry out these settings for the main variation. The settings are passed on to all variations of the item.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong>, click into the field <strong>Properties</strong>.</p>
</li>
<li>
<p>Activate the property <strong>REWE product type</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added to the property list.</p>
</li>
<li>
<p>Select an appropriate <strong>value</strong> from the drop-down list.<br>
→ The REWE product types can be selected.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">10. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item data is exported to REWE via catalogues. The assistant <strong>Creating REWE catalogues</strong> helps you to create a catalogue for a specific product category.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Is this your first time working with catalogues? Then read up on the <a href="#en/data/exporting-data/managing-catalogues">basic concept of the plentymarkets catalogues first</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For further information about the plentymarkets data fields that can be linked, refer to the <a href="/en/data/exporting-data/managing-catalogues#_mapping_data_sources">Mapping data fields</a> chapter.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Items cannot be deleted on commercetools</div>
<div class="paragraph">
<p>Items cannot be deleted on commercetools, neither by plentymarkets nor by REWE or commercetools. Therefore, make extra sure that the correct data fields are mapped in the catalogue prior to transferring your items.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>At present, the REWE plugin allows you to create catalogues for the following REWE product categories:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>AFG</strong> (Soft Drinks)</p>
</li>
<li>
<p><strong>Alcoholic beverages</strong></p>
</li>
<li>
<p><strong>Baby Supplies</strong></p>
</li>
<li>
<p><strong>Books and Magazines</strong></p>
</li>
<li>
<p><strong>Drugstore</strong></p>
</li>
<li>
<p><strong>Fashion</strong></p>
</li>
<li>
<p><strong>Leisure/sports</strong></p>
</li>
<li>
<p><strong>Garden</strong></p>
</li>
<li>
<p><strong>Household</strong></p>
</li>
<li>
<p><strong>Multimedia</strong></p>
</li>
<li>
<p><strong>Contact Lenses</strong></p>
</li>
<li>
<p><strong>Food</strong><br>
<em>Information for the food product category:</em><br></p>
<div class="ulist">
<ul>
<li>
<p>Food specifications must always be made for 100g.</p>
</li>
<li>
<p>Energy information must be provided in kcal.</p>
</li>
<li>
<p>If the <strong>Nutrition information for prepared and non-prepared foods</strong> field is not mapped, the value <strong>non-prepared</strong> is transferred to REWE by default.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>New Media (DVD etc.)</strong></p>
</li>
<li>
<p><strong>Stationary</strong></p>
</li>
<li>
<p><strong>Sets</strong></p>
</li>
<li>
<p><strong>Toys</strong></p>
</li>
<li>
<p><strong>Pet supplies</strong></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="1001">10.1. Notes on the REWE item data structure: product groups and variations</h3>
<div class="paragraph">
<p>REWE differentiates between <strong>product groups</strong> and <strong>variation groups</strong>.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 83.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Product group</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The variations look different.</p>
</li>
<li>
<p>As a result, every plentymarkets variation has its own images.</p>
</li>
<li>
<p>Product group attributes are attributes that influence how the product looks</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Examples:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>An item is sold in different colours and/or with different prints.</p>
</li>
<li>
<p>An item is sold in different sizes and the packaging for each size is different.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>In plentymarkets:</em></strong></p>
</div>
<div class="paragraph">
<p>In plentymarkets, product groups are items with variations with at least one REWE group attribute, depending on the product type.</p>
</div>
<div class="paragraph">
<p><strong><em>Example for attribute:</em></strong></p>
</div>
<div class="paragraph">
<p>For the product type Food, the following <strong>Attributes for product group</strong> are available (as of 05/2021):</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Flavour</p>
</li>
<li>
<p>Package size</p>
</li>
<li>
<p>Variety</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Notes on mapping data fields:</em></strong></p>
</div>
<div class="paragraph">
<p>Items in plentymarkets can have more than one REWE group attribute. However, only one REWE group attribute can be used to form product groups. Therefore, the <strong>Attribute for product group</strong> field has to be matched so that the first attribute will always be the attribute that you want to use to form a product group. If an item differs in colour and print and the print should be used as the REWE group attribute, you first have to map the print in the marketplace data field <strong>Attribute for product group</strong> and only then map the colour.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong></p>
</div>
<div class="paragraph">
<p>The REWE group attributes for each product type are available in the catalogue templates. To do so, open the drop-down list <strong>Attribute for product group</strong> in the marketplace format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variations</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The variations look the same.</p>
</li>
<li>
<p>As a result, the images for all variations are identical.</p>
</li>
<li>
<p>Variation attributes are attributes that do not influence how the product looks.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Examples:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>An item is available in different sizes. All sizes look the same.</p>
</li>
<li>
<p>An item is available in different package sizes. However, the images are identical for all variations.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>In plentymarkets:</em></strong></p>
</div>
<div class="paragraph">
<p>In plentymarkets, <strong>variations</strong> are variations of an item no more than one REWE variation attribute, depending on the product type.</p>
</div>
<div class="paragraph">
<p><strong><em>Example for attribute:</em></strong></p>
</div>
<div class="paragraph">
<p>For the product type Food, the following <strong>Attributes for variation group</strong> are available (as of 05/2021):</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Diameter</p>
</li>
<li>
<p>Dimensions</p>
</li>
<li>
<p>General size</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Notes on mapping data fields:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>For REWE variation attributes, only one variation attribute can be set, for example only size or only volume.</p>
</li>
<li>
<p>An item should not be linked to more than one attribute which was assigned as REWE variation attribute in the catalogue.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong></p>
</div>
<div class="paragraph">
<p>The REWE variation attributes for each product type are available in the catalogue templates. To do so, open the drop-down list <strong>Attribute for variation group</strong> in the marketplace format.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_creating_a_catalogue_in_the_assistant">10.2. Creating a catalogue in the assistant</h3>
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Setup » Assistants » Plugins » [Open client]</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Create REWE catalogue</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info boxes below this description (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to make sure they are correct.<br>
<strong><em>Tip:</em></strong> In the <strong>Summary</strong> step, click on the arrow (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p>Open the catalogue in the <strong>Data » Catalogues</strong> menu to map more fields.<br>
<strong><em>Note:</em></strong> You need a separate catalogue for each product category.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Step <strong>Settings</strong></div>
<div class="content">
<table id="table-rewe-catalogue-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select the REWE product category that should be added to the catalogue.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a product category from the drop-down list.<br>
<strong><em>Note:</em></strong> You need a separate catalogue for each product category.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enter a name for the REWE catalogue.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the catalogue. The catalogue will be listed under this name in the <strong>Data » Catalogues</strong> menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Step <strong>Mapping basic data fields</strong></div>
<div class="content">
<div class="paragraph">
<p>In this step of the assistant, you decide which variation data saved in plentymarkets you want to send to the market. To do so, you are going to map each data field of the market with the plentymarkets data field that contains the data that you want to export to the market. Instead of mapping an existing data field, you can also instead create a new data field for some fields.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>SKU</strong> = From the drop-down list, select the data field in plentymarkets that contains the SKU.<br>
<strong><em>Recommendation:</em></strong> The variation ID is unique for each variation. Map the marketplace data field <strong>SKU</strong> to the plentymarkets data field <strong>Variation ID</strong>.<br>
<strong><em>Note:</em></strong> Do not change the SKU and Parent SKU of a variation once the variation has been created on commercetools.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Select data field</strong> = A data field that already exists in plentymarkets will be exported to REWE. Select a data field from the drop-down list <strong>Data field</strong>.<br>
<strong><em>Note:</em></strong> The mappings you create will not be checked in terms of logic. As such, check your mappings carefully before starting the export.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Create property</strong> = Creates a <a href="/en/item/settings/properties#500">property</a> and maps this property to the data field. Properties can be used to export values for data fields that have no corresponding item data saved in plentymarkets, such as <strong>Diameter</strong>.</p>
</div>
<div class="paragraph">
<p>Automatically created property will be saved in the <a href="/en/item/settings/properties#500">Setup » Settings » Properties » Configuration</a> menu.</p>
</div>
<div class="paragraph">
<p>Automatically created properties are created with the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Section = Item</p>
</li>
<li>
<p>Type = <em>depending on the market data field</em></p>
</li>
<li>
<p>Language = German</p>
</li>
<li>
<p>Name = <em>Name of the product category</em></p>
</li>
<li>
<p>Group = REWE</p>
</li>
</ul>
</div>
<hr>
<div class="paragraph">
<p><strong>Creating a sales price</strong> = Creates a sales price and maps this sales price to the data field. You can check and edit automatically created sales prices in the <a href="/en/en/item/settings/prices#400">Setup » Item » Sales prices</a> menu.</p>
</div>
<div class="paragraph">
<p>Automatically created sales prices are created with the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Subscription interval = None</p>
</li>
<li>
<p>Internal name = REWE</p>
</li>
<li>
<p>External name = REWE</p>
</li>
<li>
<p>Minimum quantity = 1</p>
</li>
<li>
<p>Live conversion = No</p>
</li>
<li>
<p>Currency = Euro</p>
</li>
<li>
<p>Display = Always display for new items</p>
</li>
<li>
<p>Client = ALL</p>
</li>
<li>
<p>Class = ALL</p>
</li>
<li>
<p>Country = Germany</p>
</li>
</ul>
</div>
<hr>
<div class="paragraph">
<p><strong>Create barcode</strong> = Creates a barcode <strong>REWE</strong> and maps this barcode to the data field. If a barcode with the name <strong>REWE</strong> already exists in the system, that barcode is mapped instead. You can check and edit automatically created barcodes in the <a href="/en/en/item/settings/barcodes#100">Setup » Item » Barcodes</a> menu.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="600">10.3. Mapping additional data fields in the catalogue (not in assistant)</h3>
<div class="paragraph">
<p>You have already mapped important mandatory fields for the REWE product category in the assistant. However, after you have completed the assistant, you need to map additional data fields to send more information regarding your products to REWE.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Getting to know the catalogue menu</div>
<div class="content">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/catalogue-menu-colours.png" alt="catalogue menu colours">
</div>
</div>
<div class="paragraph">
<p><em>Menu structure of a catalogue with marketplace format</em></p>
</div>
<div class="paragraph">
<p>The areas you see are:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong> When you open a catalogue, the view <strong>Mapping</strong> is shown by default. Use the navigation to switch to other views of the catalogue. Access the catalogue settings or set filters to only export specific data. You can also go back to the catalogues overview or create a new catalogue.</p>
</li>
<li>
<p><strong>Toolbar</strong> The toolbar provides actions for the catalogue. For example, save your mappings, restore an older version of the catalogue or hide or show optional marketplace data fields.</p>
</li>
<li>
<p><strong>Marketplace data fields</strong> To the right of the navigation, all data fields available for the market are listed. Mandatory fields are marked with an asterisk (<strong>).<br>
*<em>Tip:</em></strong> Click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>) in the toolbar to show or hide optional data fields .</p>
</li>
<li>
<p><strong>plentymarkets data fields</strong> The left side of the catalogue is where you map the marketplace data fields with suitable plentymarkets data fields. In the screenshot, a few of the fields are already mapped.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Mapping catalogue fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab opens.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (*).<br>
→ In the right column, you map the plentymarkets data fields. Any plentymarkets data fields that are already assigned are also shown in the right column.</p>
</li>
<li>
<p>Now, map suitable plentymarkets data fields to the market data fields.<br>
You can choose from the following mappings which are described in the info boxes below:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Simple 1:1 mapping</strong></p>
</li>
<li>
<p><strong>Complex 1:1 mapping</strong></p>
</li>
<li>
<p><strong>1:1 mapping with fallback data fields</strong></p>
</li>
<li>
<p><strong>1:n mapping</strong></p>
</li>
<li>
<p><strong>Own value mapping</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Simple 1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>In a simple 1:1 mapping, you map a plentymarkets data field to the marketplace data field. If no suitable setting exists in plentymarkets, you can map a property instead.</p>
</div>
<div class="paragraph">
<p>As such, simple 1:1 mappings allow you to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If the data field is empty for a variation, no value is exported for this variation.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a simple 1:1 mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Sales price and RRP</p>
</div>
<div class="paragraph">
<p>This gif shows you how to map the marketplace data fields <strong>Sales price</strong> and <strong>RRP</strong> for Otto Market to suitable plentymarkets data fields:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-simple-en.gif" alt="gif catalogue mapping simple en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Complex 1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>Like with the simple 1:1 mappings, you map a plentymarkets setting or property to a marketplace data field. Complex mappings are necessary if a marketplace data field has more than one possible value. Instead of mapping data fields, for complex mappings you instead map the values of these data fields. For example, you cannot simply map the plentymarkets data field <strong>Shipping profile</strong> to the marketplace data field <strong>Shipping method</strong>. This is because the market cannot know which of your shipping profiles in plentymarkets corresponds to which of their shipping methods.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Do not enter own values for complex mappings. All values that you enter must be saved for the variations, either in a setting or as a property value. This also applies if the value <strong>Comparative value</strong> is shown. You still need to enter exactly the value of the setting or property that you mapped.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Examples for complex 1:1 mappings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Categories</p>
</li>
<li>
<p>Brands</p>
</li>
<li>
<p>Shipping setting</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can recognise complex mappings from the field that is shown below the name of the marketplace data field. Click on the field to show the values available for the marketplace data field.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/catalogue-complex-mappings.png" alt="catalogue complex mappings">
</div>
</div>
<div class="paragraph instruction">
<p>Creating a complex 1:1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the field for the marketplace data field.<br>
→ A list of the available values is shown.</p>
</li>
<li>
<p>Select the value that you want to map a plentymarkets data field to.<br>
→ The value is mapped.</p>
</li>
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the available plentymarkets data fields are listed in groups.<br></p>
</li>
<li>
<p>Click on a group.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plentymarkets data field for which you want to map values.<br>
<strong><em>Important:</em></strong> Do not map own values.<br>
→ Your next steps depend on the plentymarkets data field you selected.</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> The available values for the plentymarkets data value are shown on the left.<br></p>
<div class="ulist">
<ul>
<li>
<p>Next to the value you want to select, click on the plus.<br>
→ The value is added to the field on the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> The plentymarkets data field is inserted and the field <strong>Comparative value</strong> is shown.</p>
<div class="ulist">
<ul>
<li>
<p>In the field <strong>Comparative value</strong>, enter a value that is saved in the setting or the property of the mapped plentymarkets data field.<br></p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Alternative 3:</em></strong> The plentymarkets data field is inserted and a drop-down list is shown.</p>
<div class="ulist">
<ul>
<li>
<p>Select a value from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>This gif shows you how to map suitable plentymarkets values to the values of the marketplace data fields <strong>Delivery time in days</strong> for Otto Market:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-complex-en.gif" alt="gif catalogue mapping complex en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:1 mapping with fallback data fields</strong> 1 marketplace data field, 1 plentymarkets data field with alternatives</div>
<div class="content">
<div class="paragraph">
<p>In a 1:1 mapping with fallback data fields, you map a plentymarkets data field to the marketplace data field. In addition, you specify one or more fallback data fields. This ensures that the system keeps looking if the first plentymarkets data field is empty or contains an invalid value.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If the data field is empty or invalid for a variation, the first fallback data field is checked and the value of that fallback data field is exported instead.</p>
</li>
<li>
<p>If the first fallback data field also is empty or invalid for a variation, the value of the second fallback data field is exported and so on.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:1 mapping with fallback data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>In the list of plentymarkets data fields, click on the plus icon next to the plentymarkets data field that you want to map.<br>
→ The fallback data field is exported when the first data field does not exist or is empty.<br>
<strong><em>Note:</em></strong> Even if you assign one or more fallback data fields, the value of only one of those fields is exported. For each variation, the mapped plentymarkets data fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value for a variation, the first fallback data field is exported etc.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>This gif shows you how to map the plentymarkets data field <strong>SKU</strong> and the fallback data field <strong>Variation ID</strong> to the marketplace data field <strong>SKU</strong> for Otto Market:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-fallback-en.gif" alt="gif catalogue mapping fallback en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:n mapping:</strong> 1 marketplace data field, several plentymarkets data fields</div>
<div class="content">
<div class="paragraph">
<p>In a 1:n mapping, you map several plentymarkets data fields to the marketplace data field. You can link these data fields with a separator.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to combine these plentymarkets data fields during export so that the marketplace data field is filled with the data of these two or more plentymarkets settings.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the right of the mapped plentymarkets data field, click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ To the left, the list of available plentymarkets data fields again are shown in groups.</p>
</li>
<li>
<p>Map one or several additional plentymarkets data fields to the marketplace data field as described above.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the very right of the row, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Select a separator from the drop-down list <strong>Separator</strong> or add a custom separator.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.<br>
→ During the export, the content of the plentymarkets data fields is combined and exported as one field.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Own value mapping:</strong> 1 marketplace data field, the same value for all variations</div>
<div class="content">
<div class="paragraph">
<p>You are sure that you want to export the same value for all variations of a catalogue for a marketplace data field? Then specify an own value. This own value is then exported for all variations.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>For this marketplace data field, I want to export the value that I entered in the field <strong>Own value</strong> for <em>all</em> variations of this catalogue.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating an own value mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on the plus next to <strong>Own value</strong> at the top of the list.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.<br>
→ This value is exported for all variations.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Diameter information</p>
</div>
<div class="paragraph">
<p>You want to export diameter information for some of your variations. The diameter is saved in centimetres for all your variations. Instead of creating a property for the unit and linking this property to the variations, you can enter the own value <code>cm</code>.</p>
</div>
<div class="paragraph">
<p>This is how you can map an own value for the diameter unit:</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/diameter.gif" alt="diameter" width="600"></span></p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="905">10.4. Particularities for mapping data fields</h3>
<div class="paragraph">
<p>Every market structures item data differently. As such, there are some particularities for each market when mapping data fields. <a href="#catalogue-rewe-mappings">Table 3</a> contains mapping information for important data fields for REWE.</p>
</div>
<table id="catalogue-rewe-mappings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Notes on mapping data fields</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Marketplace data field</th>
<th class="tableblock halign-left valign-top">plentymarkets data field</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SKU</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>We recommend to link the data field <strong>SKU</strong> with the plentymarkets data field <strong>Variation ID</strong> because the variation ID is clearly assigned to the variation.<br>
<strong><em>Note:</em></strong> Do not change the SKU and Parent SKU of a variation once the variation has been created on commercetools. If you change the SKU or the Parent SKU later, the variation will no longer be updated on commercetools.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute for product group</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>As <a href="#1001">described above</a>, REWE distinguishes between product bgroups and variation groups.</p>
</div>
<div class="paragraph">
<p><strong><em>Reminder:</em></strong> You need a REWE product group if the variations of an item have different images because they look different. Product group attributes are attributes that influence how the product looks.</p>
</div>
<div class="paragraph">
<p>As such, you would pap the following plentymarkets data field to the marketplace data field <strong>Attribute for product group</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> An attribute that changes the look of the variations</p>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> A property that changes the look of the variations</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Of course you can also map fallback data fields. This might be necessary if you use both attributes and properties in plentymarkets for the data that you want to export for the marketplace data field <strong>Attribute for product group</strong>.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong><em>Example 1:</em></strong> Mapping colour information for product type "Fashion"</div>
<div class="content">
<div class="paragraph">
<p>The following example describes how you can map colour information in a catalogue for the product type "Fashion".</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The colour changes how the variations look. Because of this, you specify the colours using the marketplace data field <strong>Attribute for product group</strong>.</p>
</li>
<li>
<p>In addition, the same plentymarkets data field must be mapped to the marketplace data filed <strong>Colour</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Summary for catalogue experts:</em></strong></p>
</div>
<div class="paragraph instruction">
<p>Mapping colour information for product type "Fashion":</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Map the following plentymarkets data field to this marketplace data field:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> Field <strong>Value name</strong> of the attribute for colour, language <strong>German</strong></p>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> Property for colour, language <strong>German</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Navigate to the area <strong>Attribute for product group</strong>.</p>
</li>
<li>
<p>Map the following plentymarkets data field to the marketplace data field <strong>Attribute for product group</strong>:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> The same attribute for colour</p>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> The same property for colour</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Detailed description for first-time catalogue users:</em></strong></p>
</div>
<div class="paragraph">
<p>The following two descriptions illustrate the settings in detail:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>How to map an attribute for colour</p>
</li>
<li>
<p>How to map a property for colour</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Mapping colour information in attributes for product type "Fashion":</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the REWE catalogue with the format <strong>Fashion</strong>.</p>
</li>
<li>
<p>Navigate to the market data field <strong>Colour</strong>.</p>
</li>
<li>
<p>Click on <strong>+ Add data field</strong>.</p>
</li>
<li>
<p>In the list of the data fields, click on the group <strong>Attribute</strong>.</p>
</li>
<li>
<p>Click on the attribute.<br>
→ Additional options are shown.</p>
</li>
<li>
<p>Click on <strong>Value name</strong>.</p>
</li>
<li>
<p>From the drop-down list underneath <strong>Value name</strong>, select the language <strong>German</strong>.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.<br>
→ The plentymarkets data field is mapped.</p>
</li>
<li>
<p>Navigate to the marketplace data field <strong>Attribute for product group</strong>.</p>
</li>
<li>
<p>Click on the data field <strong>Attribute for product group</strong>.<br>
→ The marketplace attributes are shown.</p>
</li>
<li>
<p>Click on the marketplace attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>Click on <strong>+ Add data field</strong>.</p>
</li>
<li>
<p>In the list of the data fields, click on the group <strong>Attribute</strong>.</p>
</li>
<li>
<p>Click on the plus sign to the right of the same attribute.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.<br>
→ The plentymarkets data field is mapped.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Mapping colour information in properties for product type "Fashion":</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the REWE catalogue with the format <strong>Fashion</strong>.</p>
</li>
<li>
<p>Navigate to the market data field <strong>Colour</strong>.</p>
</li>
<li>
<p>Click on <strong>+ Add data field</strong>.</p>
</li>
<li>
<p>In the list of the data fields, click on the group <strong>Property</strong>.</p>
</li>
<li>
<p>Click on the group with the property.<br>
→ The properties of the group are shown.</p>
</li>
<li>
<p>Click on the property.</p>
</li>
<li>
<p>From the drop-down list underneath the name of the property, select the language <strong>German</strong>.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.<br>
→ The plentymarkets data field is mapped.</p>
</li>
<li>
<p>Navigate to the marketplace data field <strong>Attribute for product group</strong>.</p>
</li>
<li>
<p>Click on the data field <strong>Attribute for product group</strong>.<br>
→ The marketplace attributes are shown.</p>
</li>
<li>
<p>Click on the marketplace attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>Click on <strong>+ Add data field</strong>.</p>
</li>
<li>
<p>In the list of the data fields, click on the group <strong>Property</strong>.</p>
</li>
<li>
<p>Click on the group with the property.</p>
</li>
<li>
<p>Click on the plus sign to the right of the same property.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.<br>
→ The plentymarkets data field is mapped.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong><em>Example 2:</em></strong> Mapping package sizes for product type "Household"</div>
<div class="content">
<div class="paragraph">
<p>The following example describes how you can map package size information in a catalogue for the product type "Household".</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The packaging is different for the variations. Because of this, you specify the package size using the marketplace data field <strong>Attribute for product group</strong>.</p>
</li>
<li>
<p>In addition, the same plentymarkets data field must be mapped to the marketplace data filed <strong>General size</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Summary for catalogue experts:</em></strong></p>
</div>
<div class="paragraph instruction">
<p>Mapping package sizes for product type "Household":</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the REWE catalogue with the format <strong>Household</strong>.</p>
</li>
<li>
<p>Navigate to the market data field <strong>General size</strong>.</p>
</li>
<li>
<p>Map the following plentymarkets data field to this marketplace data field:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> Field <strong>Value name</strong> of the attribute for size, language <strong>German</strong></p>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> Property for size, language <strong>German</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Navigate to the area <strong>Attribute for product group</strong>.</p>
</li>
<li>
<p>Map the following plentymarkets data field to the marketplace data field <strong>Attribute for product group</strong>:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> The same attribute for size</p>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> The same property for size</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Detailed description for first-time catalogue users:</em></strong></p>
</div>
<div class="paragraph">
<p>The following two descriptions illustrate the settings in detail:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>How to map an attribute for package size</p>
</li>
<li>
<p>How to map a property for package size</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Mapping package sizes in attributes for product type "Household":</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the REWE catalogue with the format <strong>Household</strong>.</p>
</li>
<li>
<p>Navigate to the market data field <strong>General size</strong>.</p>
</li>
<li>
<p>Click on <strong>+ Add data field</strong>.</p>
</li>
<li>
<p>In the list of the data fields, click on the group <strong>Attribute</strong>.</p>
</li>
<li>
<p>Click on the attribute.<br>
→ Additional options are shown.</p>
</li>
<li>
<p>Click on <strong>Value name</strong>.</p>
</li>
<li>
<p>From the drop-down list underneath <strong>Value name</strong>, select the language <strong>German</strong>.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.<br>
→ The plentymarkets data field is mapped.</p>
</li>
<li>
<p>Navigate to the marketplace data field <strong>Attribute for product group</strong>.</p>
</li>
<li>
<p>Click on the data field <strong>Attribute for product group</strong>.<br>
→ The marketplace attributes are shown.</p>
</li>
<li>
<p>Click on the marketplace attribute <strong>Package size</strong>.</p>
</li>
<li>
<p>Click on <strong>+ Add data field</strong>.</p>
</li>
<li>
<p>In the list of the data fields, click on the group <strong>Attribute</strong>.</p>
</li>
<li>
<p>Click on the plus sign to the right of the same attribute.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.<br>
→ The plentymarkets data field is mapped.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Mapping package sizes in properties for product type "Household":</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the REWE catalogue with the format <strong>Household</strong>.</p>
</li>
<li>
<p>Navigate to the market data field <strong>General size</strong>.</p>
</li>
<li>
<p>Click on <strong>+ Add data field</strong>.</p>
</li>
<li>
<p>In the list of the data fields, click on the group <strong>Property</strong>.</p>
</li>
<li>
<p>Click on the group with the property.<br>
→ The properties of the group are shown.</p>
</li>
<li>
<p>Click on the property.</p>
</li>
<li>
<p>From the drop-down list underneath the name of the property, select the language <strong>German</strong>.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.<br>
→ The plentymarkets data field is mapped.</p>
</li>
<li>
<p>Navigate to the marketplace data field <strong>Attribute for product group</strong>.</p>
</li>
<li>
<p>Click on the data field <strong>Attribute for product group</strong>.<br>
→ The marketplace attributes are shown.</p>
</li>
<li>
<p>Click on the marketplace attribute <strong>Package size</strong>.</p>
</li>
<li>
<p>Click on <strong>+ Add data field</strong>.</p>
</li>
<li>
<p>In the list of the data fields, click on the group <strong>Property</strong>.</p>
</li>
<li>
<p>Click on the group with the property.</p>
</li>
<li>
<p>Click on the plus sign to the right of the same property.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.<br>
→ The plentymarkets data field is mapped.</p>
</li>
</ol>
</div>
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Promotion price</strong>;<br>
<strong>Promotion starts</strong>;<br>
<strong>Promotion ends</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Use these marketplace data fields to export temporary promotion prices to REWE.<br>
<strong><em>Note:</em></strong> You specify a start date and an end date for the promotion price for each variation. However, the promotion prices do not start and end automatically. Instead, you need to manually manage the promotion prices. (<a href="#1800">How?</a>)</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Map a plentymarkets sales price of the type <strong>Special offer</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Promotion starts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Map the plentymarkets property <strong>REWE promotion price start date</strong>. This property of the type <strong>Date</strong> is automatically created in the property group <strong>REWE</strong> when you install the REWE plugin.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Promotion ends</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Map the plentymarkets property <strong>REWE promotion price end date</strong>. This property of the type <strong>Date</strong> is automatically created in the property group <strong>REWE</strong> when you install the REWE plugin.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="602">10.5. <em>Example:</em> Mapping the data field "Product description"</h3>
<div class="paragraph">
<p>An example of how you can link the mandatory field <strong>Produktbeschreibung</strong> (product description) to data saved in plentymarkets is described below.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>For the REWE data field <strong>Product description</strong>, select a plentymarkets data field from the drop-down list.<br>
<strong><em>Example:</em></strong> <strong>Item text &gt; Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong></p>
</li>
<li>
<p>Link the other data fields in the same way. Link at least all mandatory fields.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (*).</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The content of the selected plentymarkets data field is shown as the product description on REWE.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="701">11. Linking data fields created in the assistant with variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you selected the options <strong>Create sales price</strong>, <strong>Create barcode</strong> and/or <strong>Create property</strong> in the assistant, these prices, barcodes and/or properties are created automatically. You need to link these newly created data fields with the variations that you want to export to the market. This is described on the <strong>Item</strong> pages of the manual:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>How to link <a href="/en/item/settings/prices#240">Sales prices</a>.</p>
</li>
<li>
<p>How to link <a href="/en/item/settings/barcodes#300">Barcodes</a>.</p>
</li>
<li>
<p>How to link <a href="/en/item/settings/properties#1420">properties and save a property value</a>.<br>
<strong><em>Tip:</em></strong> Properties created in the assistant are automatically added to the property group <strong>REWE</strong> of the <strong>Setup » Settings » Properties » Groups</strong> menu. Open this group to see what new properties need to be mapped.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">12. Activating the catalogue export to REWE</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have set up REWE and created a catalogue for exporting your item data? Then start the export of your item data.</p>
</div>
<div class="paragraph instruction">
<p>Activating the catalogue export to REWE:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the REWE catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) to the right.<br>
→ The catalogue is active.<br>
→ Catalogue data is exported to REWE once a day if the option <strong>Item export</strong> is activated in the <strong>Setup » Markets » REWE » Basic settings</strong> menu.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">13. Matching shipping service providers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Shipping service providers saved in plentymarkets are matched with REWE shipping service providers in the <strong>Setup » Markets » REWE » Shipping service provider matching</strong> menu. If you do not match shipping service providers, then the shipping service provider <strong>unknown</strong> is sent to REWE.</p>
</div>
<div class="paragraph instruction">
<p>Matching shipping service providers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Shipping service provider matching</strong>.</p>
</li>
<li>
<p>Select the REWE shipping service provider from the drop-down list.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">14. Matching reasons for return</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Return reasons saved in plentymarkets are matched with REWE return reasons int the <strong>Setup » Markets » REWE » Return reason matching</strong> menu. If you do not match reasons for return, then the reason for return <strong>Other</strong> is sent to REWE. For further information about REWE reasons for return, refer to the seller documentation that you have received from REWE.</p>
</div>
<div class="paragraph instruction">
<p>Linking return reasons:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Return reason matching</strong>.</p>
</li>
<li>
<p>Select the REWE return reason from the drop-down list.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">15. Synchronising tax categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If the tax categories were changed at REWE, you have to synchronise the tax categories in plentymarkets. Tax categories are synchronised with REWE in the <strong>Setup » Markets » REWE » Basic settings</strong> menu in the <strong>Tax categories</strong> area.</p>
</div>
<div class="paragraph instruction">
<p>Synchronising tax categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>Go to the <strong>Tax categories</strong> area and click on <strong>Synchronise</strong>.<br>
→ The tax categories are synchronised with REWE.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong>Last update</strong> indicates the last time the tax categories were synchronised with REWE.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Synchronise tax categories before switching to REWE live system</div>
<div class="paragraph">
<p>You need to synchronise the tax categories in plentymarkets before you switch from the REWE stage test environment to the live system. Otherwise, your item catalogue will not be exported. Enter your access data and the product key for the live system prior to switching to the live system. Afterwards, synchronise the tax categories. You have to map the tax categories again in your REWE catalogues after you synchronised them.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">16. Manually synchronising brands</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Brands are automatically synchronised with REWE once per day. Additionally, you can manually synchronise brands with REWE at any time. To do so, open the <strong>Setup » Markets » REWE » Basic settings</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Manually synchronising brands:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>In the <strong>Brands</strong> area, click on <strong>Synchronise</strong>.<br>
→ The brands are synchronised with REWE.<br>
<strong><em>Tip:</em></strong> <strong>Last update</strong> indicates the last time the brands were synchronised with REWE.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">17. Deactivating the creation of a contact</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By default, REWE orders are always assigned to the contact and the invoice address of REWE. Activate the option <strong>Deactivate contact creation</strong> if you do not want to create a contact. Instead, only addresses are saved. <a href="#rewe-deactivate-contact-creation">Table 4</a> describes the differences between the two options.</p>
</div>
<table id="rewe-deactivate-contact-creation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Deactivating the creation of a contact</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deactivating the creation of a contact</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><em>Option deactivated</em> (default setting) = The creation of contacts is deactivated. When the first REWE order is imported, a contact is created for REWE. All other REWE orders are linked to this contact during the import. All invoice addresses are assigned to this contact.</p>
<div class="ulist">
<ul>
<li>
<p>In the order, the tab <strong>Contact</strong> is available.</p>
</li>
<li>
<p>The customer record can be retrieved via the search function of the <strong>CRM » Contacts</strong> menu.</p>
</li>
<li>
<p>The address records and the associated orders can be retrieved via the search function of the <strong>CRM » Quick search</strong> menu.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">The order import in detail</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Check if an account already exists for REWE.</p>
</li>
<li>
<p>If no account exists in the system, the account is created.</p>
</li>
<li>
<p>Check if a contact already exists for REWE.</p>
</li>
<li>
<p>If no contact exists in the system, the contact is created.</p>
</li>
<li>
<p>If a new contact is created, the contact is linked to the account.</p>
</li>
<li>
<p>Check if the invoice address already exists in the system.</p>
</li>
<li>
<p>If the invoice address does not exist in the system, the invoice address is created.</p>
</li>
<li>
<p>The invoice address is linked to the contact.</p>
</li>
<li>
<p>The invoice address is linked to the order.</p>
</li>
<li>
<p>A delivery address is created. There is no check if the delivery address already exists in the system. Also, the delivery address is not linked to the contact.</p>
</li>
<li>
<p>The delivery address is linked to the order.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="ulist">
<ul>
<li>
<p><em>Option activated</em> = The creation of contacts is deactivated. No contact is created when REWE orders are imported. Invoice address and delivery address are created and linked to the order.</p>
<div class="ulist">
<ul>
<li>
<p>The tab <strong>Contact</strong> is not available in the order.</p>
</li>
<li>
<p>The customer record cannot be retrieved via the search function of the <strong>CRM » Contacts</strong> menu.</p>
</li>
<li>
<p>The address records and the associated orders can be retrieved via the search function of the <strong>CRM » Quick search</strong> menu.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">The order import in detail</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Check if the invoice address already exists in the system.</p>
</li>
<li>
<p>If the invoice address does not exist in the system, the invoice address is created.</p>
</li>
<li>
<p>The invoice address is linked to the order.</p>
</li>
<li>
<p>A delivery address is created. There is no check if the delivery address already exists in the system. Also, the delivery address is not linked to the contact.</p>
</li>
<li>
<p>The delivery address is linked to the order.</p>
</li>
</ol>
</div>
</div>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Deactivating the creation of a contact:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>Navigate to the <strong>Order import</strong> area.</p>
</li>
<li>
<p>Activate the option <strong>Deactivate contact creation</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the setting.<br>
→ Only the invoice address and delivery address are created and linked to the order.<br>
→ No contact is created.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">18. Automatically updating the order status for REWE</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up <a href="/en/automation/event-procedures">event procedures</a> to automatically update the order status on REWE whenever specific events occur. You can set up the following event procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Send out-of-stock status to REWE</p>
</li>
<li>
<p>Send buyer cancellation to REWE</p>
</li>
<li>
<p>Send seller cancellation to REWE</p>
</li>
<li>
<p>Send shipping preparation to REWE</p>
</li>
<li>
<p>Send shipping preparation completion to REWE</p>
</li>
<li>
<p>Send shipping confirmation to REWE</p>
</li>
<li>
<p>Send parcel delivery completion to REWE</p>
</li>
<li>
<p>Send return completion to REWE</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>An example of an event procedure you can use to report the shipping confirmation to REWE is described below. Set up other event procedures in the same way.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct <strong>Name</strong> for the event procedure.</p>
</li>
<li>
<p>Select the <strong>Event</strong> according to <a href="#rewe-procedure">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the further settings according to <a href="#rewe-procedure">Table 5</a>.</p>
</li>
<li>
<p>Activate the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="rewe-procedure" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Event procedure for reporting order status to REWE</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <strong>status</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rewe</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send shipping confirmation to REWE</strong></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Matching reasons for return</div>
<div class="paragraph">
<p>You need to match plentymarkets reasons for return with the reasons for return predefined by REWE. For example, when the event procedure <strong>Send return completion to REWE</strong> is triggered, a reason for return must be saved. For further information about matching reasons for return, refer to the chapter <a href="#1200">Matching reasons for return</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">19. Information for REWE delivery periods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The variation availability in plentymarkets is assigned to delivery periods at REWE. An overview of the delivery periods at REWE and the corresponding plentymarkets availabilities can be found in <a href="#rewe-availability">Table 6</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Availability in case of errors</div>
<div class="paragraph">
<p>If an availability error occurs, the delivery period <strong>longer than 3 months</strong> is shown on the REWE marketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="rewe-availability" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. REWE delivery periods</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>REWE delivery period</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1-3 working days</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ca. 3-6 working days</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ca. 6-8 working days</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">4</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ca. 8-10 working days</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">5</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ca. 10-15 working days</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">6</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ca. 15-20 working days</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">7</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ca. 20-30 working days</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">8</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ca. 30-40 working days</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">9</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ca. 40-50 working days</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">10</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ca. 50-60 working days</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>