<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Welche SSL-Zertifikate stehen zur Auswahl?</span></a></li>
<li><a href="#300"><span>2.</span><span> Voraussetzungen für das Buchen eines SSL-Zertifikats</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>2.1.</span><span> Domain</span></a></li>
<li><a href="#500"><span>2.2.</span><span> Aktiviertes Autoscaling</span></a></li>
<li><a href="#700"><span>2.3.</span><span> Bei Subdomains: Vorhandene Parent-Domain</span></a></li>
<li><a href="#800"><span>2.4.</span><span> Bei externen Domains: DNS-Einstellungen</span></a></li>
<li><a href="#900"><span>2.5.</span><span> 301-Weiterleitungen für '/' entfernen</span></a></li>
<li><a href="#1000"><span>2.6.</span><span> Keine manuell angelegte Sub-Domain für www.</span></a></li>
<li><a href="#1100"><span>2.7.</span><span> Checkliste</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>3.</span><span> Bestellen eines SSL-Zertifikats</span></a>
<ul class="sectlevel2">
<li><a href="#1240"><span>3.1.</span><span> SSL-Assistent durchlaufen</span></a>
<ul class="sectlevel3">
<li><a href="#1260"><span>3.1.1.</span><span> OV und EV Zertifikate: Validierungsprozess nach der Bestellung</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1300"><span>4.</span><span> Verlängern eines SSL-Zertifikats</span></a></li>
<li><a href="#1400"><span>5.</span><span> Fragen und Antworten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>SSL-Zertifikate</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Ein SSL-Zertifikat dient dazu, deine Website zu verschlüsseln und gewährleistet eine sichere Verbindung zu deiner Website und deinem Onlineshop.
Du benötigst ein SSL-Zertifikat für bestimmte Marktplätze und zum Beispiel für die Zertifizierung mit Trusted Shops.
Dass du ein SSL-Zertifikat verwendest, ist daran erkennbar, dass deine Website über <em>https</em> erreichbar ist.</p>
</div>
<div class="paragraph">
<p>plentymarkets enthält einen Assistenten, der dir bei der Bestellung und Verwaltung deines SSL-Zertifikats unterstützt.
Beachte, dass solche Aufgaben normalerweise von einem <em>Systemadministrator</em> durchgeführt werden.
Diese Seite ist recht technisch, da sie als Referenz für Systemadministratoren dient und ihnen hilft, ihre Administratoraufgaben in plentymarkets zu erledigen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Welche SSL-Zertifikate stehen zur Auswahl?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>SSL-Zertifikate werden von unabhängigen Zertifizierungsstellen ausgestellt.
plentymarkets bietet verschiedene Arten von SSL-Zertifikaten an:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Art</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DV</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>DV = Domain Validation (Domain-Überprüfung).</p>
<div class="ulist">
<ul>
<li>
<p>DV Zertifikate sind sehr weit verbreitet.</p>
</li>
<li>
<p>Sie werden nur anhand des Domainnamens verifiziert.</p>
</li>
</ul>
</div>
</li>
<li>
<p>günstigstes SSL-Zertifizierungsmodell</p>
</li>
<li>
<p>ausgestellt von DigiCert</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">OV</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>OV = Organizational Validation (Unternehmensüberprüfung).</p>
<div class="ulist">
<ul>
<li>
<p>OV Zertifikate sind mit einem umfangreicheren Verifizierungsprozess verbunden, bieten aber auch mehr Vertrauen.</p>
</li>
<li>
<p>Die Zertifizierungsstelle verifiziert das Unternehmen.
Dazu werden Details wie Firmenname, Standort und Adresse mit Angaben aus dem Handelsregister verglichen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>mittleres Zertifizierungsmodell</p>
</li>
<li>
<p>ausgestellt von CertCenter</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EV</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EV = Extended Validation (erweiterte Überprüfung).</p>
<div class="ulist">
<ul>
<li>
<p>EV Zertifikate sind mit einem noch umfangreicheren Verifizierungsprozess verbunden, gelten aber als die sicherste und vertrauenswürdigste Lösung.</p>
</li>
<li>
<p>Die Zertifizierungsstelle führt einen vom <a href="https://cabforum.org/extended-validation/">CA/Browser Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> festgelegten Verifizierungsprozess durch.</p>
</li>
</ul>
</div>
</li>
<li>
<p>sicherste und vertrauenswürdigste Zertifizierungsmodell</p>
</li>
<li>
<p>ausgestellt von CertCenter</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h3 id="200" class="discrete">Aufschlüsselung der Preise</h3>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 16.6666%;">
<col style="width: 16.6666%;">
<col style="width: 16.6666%;">
<col style="width: 16.6669%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-center valign-top">Comodo InstantSSL<br>
OV</th>
<th class="tableblock halign-center valign-top">Comodo Positive<br>
EV</th>
<th class="tableblock halign-center valign-top">AlwaysOnSSL<br>
DV</th>
<th class="tableblock halign-center valign-top">RapidSSL Standard<br>
DV</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Laufzeit</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">12 Monate</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">12 Monate</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">3 Monate</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">12 Monate</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mtl. Gebühr</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">2,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">2,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">2,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">2,- €</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kosten des SSL-Zertifikats</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">118,80 €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">348,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">0,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">35,70 €</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einmalige Einrichtungsgebühr</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">29,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">99,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">0,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">0,- €</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><span class="small">Alle Preise sind in netto angegeben.</span></p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. Voraussetzungen für das Buchen eines SSL-Zertifikats</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="400">2.1. Domain</h3>
<div class="paragraph">
<p>Die Domain, für die das SSL-Zertifikat bestellt werden soll, muss eine Primärdomain sein.
Die Domain muss also im Menü <strong>Einrichtung » Assistenten » Grundeinrichtung » Domains-Assistenten</strong> als Primärdomain genannt werden.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp</em></strong>: Schaue dir deine Domains mit der Tabellenansicht an, um zu erkennen, welche die Primärdomain ist.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-entscheidungen/systemadministration/assets/hauptdomain.png" alt="hauptdomain">
</div>
<div class="title">Bild 1. Domain-Assistent in Tabellenansicht</div>
</div>
<div class="paragraph">
<p>Wenn du ein SSL-Zertifikat für eine andere Domain einrichten möchtest, musst du <a href="/business-entscheidungen/systemadministration/domains#210a">diese Domain zunächst als Hauptdomain festlegen</a>.</p>
</div>
<div class="paragraph">
<p>Die Bestellung eines SSL-Zertifikats ist nicht möglich, wenn die entsprechende Domain als extern abgespeichert ist (also auf eine externe IP-Adresse verweist).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-entscheidungen/systemadministration/assets/extern-domain.png" alt="extern domain">
</div>
</div>
</div>
<div class="sect2">
<h3 id="500">2.2. Aktiviertes Autoscaling</h3>
<div class="paragraph">
<p>Vereinzelt gibt es Systeme, die nicht auf <a href="https://aws.amazon.com/de/autoscaling/">Autoscaling</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> (AS) umgestellt wurden.
In den meisten Fällen liegt das daran, dass die Domain nicht bei plentymarkets gehostet wird.
Aus diesem Grund muss die Person, der die Domain gehört, die DNS-Einstellungen der Domain manuell anpassen.
Eine weitere mögliche Ursache ist, dass eine Domain erstmalig zu einem Mandanten hinzugeführt wurde.
Diese Mandanten werden dann nicht automatisch auf Autoscaling umgestellt.
Der plentymarkets Support muss Autoscaling manuell aktivieren.</p>
</div>
<h4 id="600" class="discrete">Woran erkenne ich aktiviertes AS?</h4>
<div class="paragraph">
<p>Ob für das jeweilige System AS aktiviert ist oder nicht erkennt man anhand der dargestellten DNS-Einstellungen im Domain Assistenten.</p>
</div>
<div class="paragraph instruction">
<p>Autoscaling-Status prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/business-entscheidungen/systemadministration/domains#50">Rufe den Domain-Assistenten auf</a> und navigiere zum Schritt <strong>Aktuelle DNS Einstellungen</strong>.<br>
<strong><em>Hinweis</em></strong>: Dieser Schritt wird nur angezeigt, wenn du im Schritt <a href="/business-entscheidungen/systemadministration/domains#100">Domain Typ</a> die Option <strong>Neue, extern gehostete, Domain hinterlegen</strong> gewählt hast.</p>
</li>
<li>
<p>Prüfe in der Spalte <strong>DNS Record Type</strong>, ob für die Domain ein CNAME-Eintrag vorhanden ist.<br>
→ Wenn ein CNAME-Eintrag vorhanden ist, ist Autoscaling aktiviert.
Ein SSL-Zertifikat kann bestellt werden.<br>
→ Wenn kein CNAME-Eintrag vorhanden ist, sondern nur zwei A-Records, ist Autoscaling nicht aktiviert.</p>
</li>
<li>
<p>Wenn Autoscaling nicht aktiviert ist, bitte den plentymarkets Support über das <a href="https://forum.plentymarkets.com/t/46996/">plentymarkets Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, Autoscaling zu aktivieren.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Beispiel der dargestellten DNS-Einstellungen bei einem System auf AS:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-entscheidungen/systemadministration/assets/aktuelle-dns-einstellungen.png" alt="aktuelle dns einstellungen">
</div>
</div>
</div>
<div class="sect2">
<h3 id="700">2.3. Bei Subdomains: Vorhandene Parent-Domain</h3>
<div class="paragraph">
<p>Wenn du ein SSL-Zertifikat für eine Subdomain bestellen möchtest, muss auch die Parent-Domain im Assistenten existieren.
Auch die Beziehung zwischen Domain und Subdomain muss im Assistenten korrekt eingetragen sein.
<a href="/business-entscheidungen/systemadministration/domains#50">Prüfe zunächst die Einstellungen im Assistenten</a>.</p>
</div>
<div class="paragraph">
<p>Falls die Parent-Domain aus dem Assistenten entfernt wurde, lege die Parent-Domain erneut an.
Wenn diese Parent-Domain nicht auf plentymarkets zeigen soll, sondern z.B. auf Shopware, versehe die Parent-Domain mit einem externen A-Record, indem du eine <a href="/business-entscheidungen/systemadministration/domains#210a">Systemverknüpfung erstellst</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="800">2.4. Bei externen Domains: DNS-Einstellungen</h3>
<div class="paragraph">
<p>Die Validierung der SSL-Bestellung erfolgt auf Dateiebene.
Das bedeutet, dass die Domain, für die das Zertifikat bestellt werden soll, zwingend korrekt erreichbar sein muss.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die beim <a href="/business-entscheidungen/systemadministration/domains#160">externen Provider gespeicherten DNS-Einstellungen</a> müssen mit den DNS-Einstellungen im Assistenten identisch sein.<br>
→ Prüfe die Einstellungen im Service-Bereich deines Domain-Providers.</p>
</li>
<li>
<p>Für die Domain, für die das SSL-Zertifikat bestellt werden soll, darf kein IPv6-Eintrag (AAAA-Record) existieren.<br>
→ Prüfe die Einstellungen im Service-Bereich deines Domain-Providers.</p>
</li>
<li>
<p>Für die Domain, für die das SSL-Zertifikat bestellt werden soll, müssen eventuell vorhandene <a href="https://de.wikipedia.org/wiki/DNS_Certification_Authority_Authorization">CAA-Records</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> die Bestellung des gewünschten Zertifikats zulassen.<br>
→ Prüfe die Einstellungen im Service-Bereich deines Domain-Providers.
Der notwendige CAA-Record lautet wie folgt:</p>
</li>
</ul>
</div>
<table id="table-dns-example" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">DNS Source</th>
<th class="tableblock halign-left valign-top">DNS Record Type</th>
<th class="tableblock halign-left valign-top">DNS Target</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">@</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CAA</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">issue digicert.com</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">2.5. 301-Weiterleitungen für '/' entfernen</h3>
<div class="paragraph">
<p>Im Domain-Assistent der jeweiligen Domain darf <a href="/business-entscheidungen/systemadministration/domains#domain-mailserver">keine 301-Weiterleitung für die Startseite</a> angelegt sein, wie sie im nachfolgenden Beispiel dargestellt ist:</p>
</div>
<div class="paragraph">
<p><code>/;Ziel-URL;301;L</code></p>
</div>
<div class="paragraph">
<p><code>/*;Ziel-URL;301;L</code></p>
</div>
<div class="paragraph">
<p><code>^/*;Ziel-URL;301;L</code></p>
</div>
</div>
<div class="sect2">
<h3 id="1000">2.6. Keine manuell angelegte Sub-Domain für www.</h3>
<div class="paragraph">
<p>Eine manuell angelegte Sub-Domain für <code>www.deineDomain.tld</code> verhindert die Auslieferung des SSL-Zertifikats, da sie einen doppelten DNS-Eintrag für <code>www</code> erzeugen würde.
Falls eine solche Sub-Domain manuell angelegt wurde, muss diese gelöscht werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="1100">2.7. Checkliste</h3>
<div class="paragraph">
<p>Bereit, ein SSL-Zertifikat zu bestellen?
Gehe diese Checkliste durch, um sicherzustellen, dass du alle <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#300">Voraussetzungen</a> erfüllt hast.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Domain ist nicht gekündigt</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Domain ist Hauptdomain</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Domain ist auf AutoScaling (AS) umgestellt</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Bei Sub-Domains: existierende Parent-Domain</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> DNS-Einstellungen gem. Angaben im Domain-Assistenten</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Kein AAAA-Record für die Domain, für die das Zertifikat bestellt werden soll</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Kein negativer CAA-Record</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Keine 301-Weiterleitung auf der Startseite</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Keine manuell angelegte Sub-Domain für www.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">3. Bestellen eines SSL-Zertifikats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du alle <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#300">Voraussetzungen</a> erfüllt hast, kannst du ein SSL-Zertifikat bestellen.
Die Bestellung bei der Zertifizierungsstelle führt plentymarkets in deinem Auftrag durch und stellt dir den Kaufbetrag und die monatlichen Bereitstellungskosten in Rechnung.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Nur ein SSL-Zertifikat für die Domain</div>
<div class="paragraph">
<p>Eine Domain kann nur ein SSL-Zertifikat haben.
Beispiel: Wenn deine Domain bereits ein SSL-Zertifikat besitzt, und du dann ein neues Zertifikat bestellst, wird das bestehende Zertifikat durch das neue überschrieben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1240">3.1. SSL-Assistent durchlaufen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Grundeinrichtung</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>SSL-Verwaltung</strong>.<br>
→ Falls du bereits bestehende SSL-Konfigurationen hast, werden sie hier angezeigt.</p>
</li>
<li>
<p>Klicke auf eine der vorhandenen SSL-Konfigurationen, um ihre Einstellungen zu öffnen.
Oder klicke auf <strong>Neue Konfiguration</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Gehe die einzelnen Schritte des Assistenten durch.
Beachte <a href="#table-setps-ssl-assistant">Tabelle 1</a>.</p>
</li>
<li>
<p><strong><em>OV und EV Zertifikate</em></strong>: Nachdem du die Bestellung im Assistenten aufgegeben hast, musst du noch einen <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#1260">Validierungsprozess abschließen</a>.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-entscheidungen/systemadministration/assets/ssl-assistent.png" alt="ssl assistent">
</div>
</div>
<table id="table-setps-ssl-assistant" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schritte des SSL-Assistenten</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Schritt: Zertifikat</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktuelles SSL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Bereich ist rein informativ.
Hier siehst du z.B., welches Zertifikat du aktuell verwendest und wann es abläuft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wählen Sie ein Zertifikat aus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#100">das gewünschte SSL-Zertifikat</a> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatische Verlängerung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere diese Option (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>), wenn das SSL-Zertifikat am Ende seiner Laufzeit automatisch verlängert werden soll.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: OV- und EV-Zertifikate können nicht automatisch verlängert werden.
Kurz vor Ablauf deines Zertifikats erhältst du eine Benachrichtigung, die dich daran erinnert, ein neues Zertifikat zu bestellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Schritt: Kontaktdaten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontaktperson</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib Informationen zu einer Kontaktperson ein.
Diese Person muss zur Durchführung des Validierungsprozesses berechtigt sein, z.B. CIO oder CEO.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unternehmenskontakt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib Informationen zu deiner Firma ein.
Die Firmendaten müssen mit den Angaben im Handelsregister übereinstimmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Schritt: Bestätigung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lese eine Zusammenfassung deiner gewählten Dienstleistungen.
Beim Abschließen des Assistenten bestätigst du, dass du diese kostenpflichtigen Leistungen buchen möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Schritt: Zusammenfassung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Schritt ist rein informativ.</p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="1260">3.1.1. OV und EV Zertifikate: Validierungsprozess nach der Bestellung</h4>
<div class="paragraph">
<p>OV und EV Zertifikate sind mit einem umfangreicheren Verifizierungsprozess verbunden.
Nach der Bestellung erhältst du eine Bestätigungs-E-Mail (SSL Subscriber Agreement) von Sectigo.
Folge den Anweisungen in der E-Mail, um den Validierungsprozess abzuschließen.</p>
</div>
<div class="paragraph">
<p>Grundsätzlich gibt es zwei Vorgehensweisen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Folge dem Link in der E-Mail.
Du wirst auf die Sectigo Website weitergeleitet.
Gib dort den "verification code" ein, den du in der E-Mail erhalten hast. Folge den restlichen Schritten auf dem Bildschirm.
Während des Validierungsprozesses wirst du einen Anruf von Sectigo erhalten.</p>
</li>
<li>
<p>Lade die in der E-Mail aufgeführten Dokumente herunter (Certificate Request Form &amp; SSL Subscriber Agreement).
Drucke die Dokumente aus, unterschreibe sie und schicke sie an Sectigo zurück.
Während des Validierungsprozesses wirst du einen Anruf von Sectigo erhalten.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beachte, dass es einige Zeit dauern kann, bis alle Schritte abgeschlossen sind.
Lass dir also genug Zeit, um die Formulare zu unterschreiben, an Sectigo zurückzuschicken, einen Anruf von Sectigo zu erhalten und den Validierungsprozess abzuschließen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bist du befugt, den Prozess abzuschließen?</div>
<div class="paragraph">
<p>Der Validierungsprozess muss von einer berechtigten Person abgeschlossen werden, z.B. CIO oder CEO.
Rechtlich bindende Dokumente müssen während des Prozesses von einer zeichnungsberechtigten Person unterschrieben werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">4. Verlängern eines SSL-Zertifikats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du wirst kurz vor Ablauf deines SSL-Zertifikats benachrichtigt.
Die Benachrichtigung enthält weitere Informationen und Handlungsanweisungen.
Du kannst aber auch jederzeit selbst schauen, wann dein SSL-Zertifikat abläuft und ob dein Zertifikat automatisch verlängert wird.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-entscheidungen/systemadministration/assets/assistent-zusammenfassung.png" alt="assistent zusammenfassung">
</div>
</div>
<div class="paragraph instruction">
<p>Restlaufzeit prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Grundeinrichtung</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>SSL-Verwaltung</strong>.<br>
→ Deine bereits bestehende SSL-Konfigurationen werden hier angezeigt.</p>
</li>
<li>
<p>Klicke auf eine der vorhandenen SSL-Konfigurationen, um ihre Einstellungen zu öffnen.</p>
</li>
<li>
<p>Navigiere zum Schritt <strong>Zusammenfassung</strong>.</p>
</li>
<li>
<p>Klappe das Feld <strong>Zertifikat</strong> auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In der Zeile <strong>Aktiv bis</strong> findest du das Datum, an dem das Zertifikat abläuft.</p>
</li>
<li>
<p>In der Zeile <strong>Zertifikat automatisch verlängern</strong> siehst du <strong>Ja</strong> oder <strong>Nein</strong>.</p>
</li>
<li>
<p><a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#1220">Bestelle das Zertifikat bei Bedarf neu</a>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">5. Fragen und Antworten</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>Für welche Domain wird ein SSL-Zertifikat bestellt?</strong></div>
<div class="content">
<div class="paragraph">
<p>Du bestellst das SSL-Zertifikat für deine Primärdomain, also die Domain, die im Menü <strong>Einrichtung » Assistenten » Grundeinrichtung » Domains-Assistenten</strong> als Primärdomain eingestellt ist.
Wenn du ein SSL-Zertifikat für eine andere Domain einrichten möchtest, musst du <a href="/business-entscheidungen/systemadministration/domains#210a">diese Domain zunächst als Hauptdomain festlegen</a>.</p>
</div>
<div class="paragraph">
<p>Eine externe Domain kannst du beim externen Hoster belassen und <a href="/business-entscheidungen/systemadministration/domains#160">die DNS-Einstellungen bei diesem externen Hoster speichern</a>.
Das SSL-Zertifikat muss jedoch systemnah liegen, also auch wenn die Domain bei einem anderen Hoster liegt, erfolgt die Verschlüsselung erst nach der Weiterleitung über die IP-Adresse bei plentymarkets im System.
Daher muss das SSL-Zertifikat bei plentymarkets gebucht werden, da plentymarkets aus Sicherheitsgründen keine externen Zertifikate zulässt.</p>
</div>
<div class="paragraph">
<p>Für gekündigte Domains sowie für Start-up-Domains und Testdomains, also Domains mit den Bestandteilen <em>plenty-testdrive.eu</em>, <em>plentymarkets-x1.com</em> usw., können keine SSL-Zertifikate bestellt werden.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Was passiert, wenn ich die Hauptdomain ändere?</strong></div>
<div class="content">
<div class="paragraph">
<p>SSL-Zertifikate sind domaingebunden.
Das bedeutet, dass beispielsweise bei Umstellung der Hauptdomain das aktuelle Zertifikat inaktiv geschaltet wird, da eine neue Hauptdomain ohne bestelltes Zertifikat vorliegt.
Inaktiv bedeutet nicht gelöscht - Sollte die Hauptdomain erneut auf die Domain umgestellt werden, die bereits ein SSL-Zertifikat besaß, kann dieses wieder aktiviert werden, sofern das SSL-Zertifikat noch gültig ist.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Kann ich das SSL-Zertifikat bei einem Domain-Umzug mitnehmen?</strong></div>
<div class="content">
<div class="paragraph">
<p>SSL-Zertifikate können bei einem Domainumzug zu plentymarkets <strong>nicht</strong> mitgenommen werden.
Aufgrund der technischen Gegebenheiten ist die Bestellung nur innerhalb unserer <a href="https://de.wikipedia.org/wiki/Public-Key-Infrastruktur">Public-Key-Infrastruktur</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> möglich.
Dies gilt für <strong><em>beide Richtungen</em></strong>.
Sowohl von <strong><em>extern zu plentymarkets</em></strong>, als auch von <strong><em>plentymarkets zu extern</em></strong>.
Ein über plentymarkets gebuchtes SSL-Zertifikat muss <strong><em>systemnah</em></strong> liegen und kann bei einem Domaintransfer nicht mitgenommen werden.
Ein Export der Zertifikatsdaten (geheimer Private-Key) ist <strong>nicht</strong> möglich.
Auch ein "Transfer" eines SSL-Zertifikats von einer Domain(-ID) auf eine andere ist nicht möglich.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Brauche ich ein Hostmaster-Postfach?</strong></div>
<div class="content">
<div class="paragraph">
<p>Nein, für die Bestellung eines SSL-Zertifikats über das Backend wird kein Postfach <code>hostmaster@deineDomain.tld</code> vorausgesetzt.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Können Wildcard-SSL-Zertifikate ausgestellt werden?</strong></div>
<div class="content">
<div class="paragraph">
<p>Nein, das Ausstellen von sogenannten Wildcard-SSL-Zertifikaten ist in unserer Infrastruktur nicht möglich.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wie lange dauert es, bis mein SSL-Zertifikat ausgestellt wird?</strong></div>
<div class="content">
<div class="paragraph">
<p>Wenn dein SSL-Zertifikat erfolgreich bestellt wurde, erhältst du eine Erfolgsmeldung:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-entscheidungen/systemadministration/assets/assistent-abgeschlossen.png" alt="assistent abgeschlossen">
</div>
</div>
<div class="paragraph">
<p>DV Zertifikate werden nach ca. 2-3 Minuten aktiv.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Mein SSL-Zertifikat wird nicht ausgestellt oder ich erhalte eine Fehlermeldung im Assistenten. Was soll ich tun?</strong></div>
<div class="content">
<div class="paragraph">
<p>Wenn dein DV Zertifikat nach ca. 2-3 Minuten nicht ausgestellt wird, dann:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>öffne das Notification-Center (<span class="icon darkGrey"><i class="fa fa-bell  "></i></span>) im plentymarkets Backend.
In manchen Situationen erhältst du eine Nachricht, die dir die Ursache des Problems nennt.
Zum Beispiel, dass du keine Telefonnummer eingegeben hast.</p>
</li>
<li>
<p>Wenn du das Problem nicht selbst lösen kannst oder wenn du eine Fehlermeldung im Assistenten erhalten hast, dann wende dich an das <a href="https://forum.plentymarkets.com/c/core">plenty-Core-Team im Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>