<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Geizhals.de</span></a></li>
<li><a href="#old-export"><span>2.</span><span> Alternative 1: Export format GeizhalsDE-Plugin (deprecated)</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>2.1.</span><span> Setting up the data format GeizhalsDE-Plugin in plentymarkets</span></a></li>
<li><a href="#300"><span>2.2.</span><span> Available columns for the export format</span></a></li>
</ul>
</li>
<li><a href="#catalogue-export"><span>3.</span><span> Alternative 2: Catalogue export (recommended)</span></a>
<ul class="sectlevel2">
<li><a href="#catalogue-creation"><span>3.1.</span><span> Creating a catalogue</span></a></li>
<li><a href="#data-field-mappings"><span>3.2.</span><span> Mapping data fields in the catalogue</span></a></li>
<li><a href="#recommended-mappings"><span>3.3.</span><span> Recommendations for data field mappings</span></a></li>
<li><a href="#filter-export"><span>3.4.</span><span> Optional: Exporting specific items</span></a></li>
<li><a href="#catalogue-settings"><span>3.5.</span><span> Setting up catalogue export</span></a></li>
<li><a href="#catalogue-activation"><span>3.6.</span><span> Activating the catalogue</span></a></li>
<li><a href="#catalogue-url"><span>3.7.</span><span> Exporting catalogue data to Geizhals.de</span></a></li>
</ul>
</li>
<li><a href="#change-elastic-export-catalogue"><span>4.</span><span> Alternative 3: Changing from elastic export to catalogue</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Geizhals.de</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>To export item data to Geizhals, you need the following plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/preisportale/elasticexportgeizhalsde_4743" target="_blank" rel="noopener">Geizhals.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can download these plugins in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Adding and installing the plugin <strong>Elastic Export</strong> in your plentymarkets system</div>
<div class="content">
<div class="paragraph instruction">
<p>Adding plugin to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Navigate to the plugin <strong>Elastic Export</strong>.<br>
<strong><em>Tip:</em></strong> Either use the search function or open the category <strong>Plugins » Sales » Marketplaces</strong>.</p>
</li>
<li>
<p>Open the detail view of the plugin.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Go to checkout</strong>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Read and accept the General Terms and Conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ Wait a few minutes before installing the plugin.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set in which you want to install the plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Elastic Export</strong> from the plugin list.</p>
</li>
<li>
<p>Click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ The plugin set is shown.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
<strong><em>Tip:</em></strong> Problems saving the plugin set? Click on <strong>Open details</strong> to show additional information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Adding and installing the plugin <strong>Geizhals.de</strong> in your plentymarkets system</div>
<div class="content">
<div class="paragraph instruction">
<p>Adding plugin to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Navigate to the plugin <strong>Geizhals.de</strong>.<br>
<strong><em>Tip:</em></strong> Either use the search function or open the category <strong>Plugins » Sales » Marketplaces</strong>.</p>
</li>
<li>
<p>Open the detail view of the plugin.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Go to checkout</strong>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Read and accept the General Terms and Conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ Wait a few minutes before installing the plugin.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set in which you want to install the plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Geizhals.de</strong> from the plugin list.</p>
</li>
<li>
<p>Click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ The plugin set is shown.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
<strong><em>Tip:</em></strong> Problems saving the plugin set? Click on <strong>Open details</strong> to show additional information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Geizhals.de</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Geizhals.de is an independent price comparison and information platform that specialises in hardware and consumer electronics. In order to set up the Geizhals.de plugin in plentymarkets, you have to register with <a href="https://skinflint.co.uk/" target="_blank" rel="noopener">Geizhals.de</a> &nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> first.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="old-export">2. <em>Alternative 1:</em> Export format GeizhalsDE-Plugin <em>(deprecated)</em></h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
No new features are planned for the Elastic Export and the export formats. As such, we recommend that you <a href="#catalogue-export">create catalogues instead</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="200">2.1. Setting up the data format GeizhalsDE-Plugin in plentymarkets</h3>
<div class="paragraph">
<p>By installing this plugin you will receive the export format <strong>GeizhalsDE-Plugin</strong>. Use this format to exchange data between plentymarkets and Geizhals.de using the elastic export. You need to install the plugin <strong>Elastic export</strong> from the plentyMarketplace before you can use the format in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Once both plugins are installed in your plentymarkets system, you can create the export format <strong>GeizhalsDE-Plugin</strong>. For more information on export formats, see the <a href="/en/data/exporting-data/elastic-export">elastic export</a> page.</p>
</div>
<div class="paragraph">
<p>Geizhals.de retrieves item data via an URL. To make sure that your item data can be exported to Geizhals.de, you have to save the URL at Geizhals.de.</p>
</div>
<div class="paragraph instruction">
<p>Creating an export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New export</strong>.<br>
→ The <strong>New export</strong> tab opens.</p>
</li>
<li>
<p>Carry out the desired settings. Pay attention to the explanations given in <a href="#export-format">Table 1</a>.<br>
<strong><em>Note:</em></strong> There are no item filters set by default. If you do not add any item filters, all items are exported.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The export format <strong>GeizhalsDE-Plugin</strong> is given an ID.<br>
→ The export format is shown in the <strong>Exports</strong> overview.</p>
</li>
<li>
<p>Save the URL displayed in the <strong>URL</strong> field at Geizhals.de.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="#export-format">Table 1</a> lists details for settings, format settings and recommended item filters for the format <strong>GeizhalsDE-Plugin</strong>.</p>
</div>
<table id="export-format" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Format settings and recommended item filters for the format <strong>GeizhalsDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the export.
This is an internal name, i.e. it is not visible to customers.
The export format is listed under this name in the overview.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type <strong>item</strong> from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>GeizhalsDE-Plugin</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a number.
This number determines how many items are exported at maximum.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Do you want to transmit more than 9999 items?</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Then the output file will only be generated every 24 hours. This is to save resources.</p>
</li>
<li>
<p>Then also select the option <strong>Generate cache file</strong> further below.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you want to transmit more than 9999 items.<br>
<strong><em>Note:</em></strong> We recommend that you do not activate this option for more than 20 export formats. This is to ensure a high performance of the elastic export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>URL</strong>.
This option allows external access to the file.
Third parties access the file with a URL and an authentication token.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Additional settings</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Generate token</strong> (<span class="icon darkGrey"><i class="fa fa-undo  "></i></span>).<br>
The <strong>token</strong> and <strong>URL</strong> will be entered automatically.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The file name must have the ending <strong>.csv</strong> or <strong>.txt</strong> for Geizhals.de to be able to import the file successfully.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item filters</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add item filters</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the items you wish to export. To do so, select one or more item filters from the drop-down list and click on Add. There are no filters set by default. You can add all item filters listed below from the drop-down list.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Variations</strong> = Select the variations to be transferred.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Transfer all</strong> = All variations are transferred.</p>
</li>
<li>
<p><strong>Only transfer main variations</strong> = Only main variations are transferred.<br></p>
</li>
<li>
<p><strong>Do not transfer main variations</strong> = Only the item’s sub-variations are transferred. Main variations are not transferred.<br>
<strong><em>Tip:</em></strong> Use this filter option if the main variations are virtual and not for sale.</p>
</li>
<li>
<p><strong>Only transfer single variations</strong> = Only those main variations of items are transferred that only have a main variation and no other variations.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Markets</strong> = Select one or more order referrers. The selected order referrer has to be active at the variation for the item to be exported.</p>
</li>
<li>
<p><strong>Currency</strong> = Select a currency.</p>
</li>
<li>
<p><strong>Category</strong> = Activate to transfer the item with its category link. Only items belonging to this category are exported.</p>
</li>
<li>
<p><strong>Image</strong> = Activate to transfer the item with its image. Only items with images are transferred.</p>
</li>
<li>
<p><strong>Client</strong> = Select a client.</p>
</li>
<li>
<p><strong>Stock</strong> = Select which stocks should be exported.</p>
</li>
<li>
<p><strong>Flag 1-2</strong> = Select a flag.</p>
</li>
<li>
<p><strong>Manufacturer</strong> = Select one, several or <strong>ALL</strong> manufacturers.</p>
</li>
<li>
<p><strong>Active</strong> = Activate if you only want to export active variations.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Format settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Choose the URL that you wish to transfer to the interface. You can choose between the item’s URL and the variation’s URL.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a client. This setting is used for the URL structure.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a suffix for the product URL if this is required for the export.<br>
→ This character string is added to the product URL if you have activated the <strong>transfer</strong> option for the product URL further up.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the order referrer that should be assigned during the order import from the drop-down list.<br>
→ The selected referrer is added to the product URL so that sales can be analysed later.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marketplace account</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the marketplace account from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the language from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. The names are saved in the <strong>Texts</strong> tab of the item. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the item name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the text that you want to transfer as description. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the description. Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export. If you only want to allow specific HTML tags to be exported, then enter these tags into the field * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the target country from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the ASIN, ISBN or a GTIN from the drop-down list.<br>
<strong><em>Note:</em></strong> The barcode has to be linked to the order referrer selected above. Otherwise, the barcode will not be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select gross price or net price from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate to transfer the RRP.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate this option if you want to use the shipping costs that are saved in a configuration. If this option is activated, then you are able to select the configuration and the payment method from the drop-down lists. Activate the option <strong>Transfer flat rate shipping charge</strong> if you want to use a flat rate shipping charge. If this option is activated, a value has to be entered in the line underneath.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT note</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate the <strong>overwrite</strong> option and enter item availabilities into the fields <strong>1</strong> to <strong>10</strong>. The fields represent the IDs of the availabilities. This overwrites the item availabilities that are saved in the <strong>Setup » Item » Availability</strong> menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">2.2. Available columns for the export format</h3>
<div class="paragraph">
<p>Open the export format <strong>GeizhalsDE-Plugin</strong> in the <strong>Data » Elastic export</strong> menu to download and edit the export file.</p>
</div>
<div class="paragraph instruction">
<p>Downloading the export file:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>In the line of the format <strong>GeizhalsDE-Plugin</strong>, click on <strong>Download</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ The file is downloaded and saved on your computer.</p>
</li>
<li>
<p>Open the export file with an appropriate program.</p>
</li>
</ol>
</div>
<table id="columns-export-file-geizhals-de" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Available columns of the export file for the export format <strong>GeizhalsDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column header</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Required</strong><br>
The <strong>manufacturer</strong> of the item. The <strong>external name</strong> saved in the <strong>Setup » Item » Manufacturers</strong> menu is preferred if existing.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktcode</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The <strong>variation ID</strong> of the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktbezeichnung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Required</strong><br>
According to the format setting <strong>Item name</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Required</strong><br>
The <strong>sales price</strong> of the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deeplink</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Required</strong><br>
The <strong>URL path</strong> of the item depending on the chosen <strong>client</strong> in the format settings.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versand Vorkasse</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>According to the format setting <strong>Shipping costs</strong> including <strong>Payment in advance</strong> costs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versand Nachnahme</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>According to the format setting <strong>Shipping costs</strong> including <strong>Cash on delivery</strong> costs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Required</strong><br>
The <strong>name of the item availability</strong> saved in the <strong>Setup » Item » Availability</strong> menu or the translation according to the format setting <strong>Overwrite item availability</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellernummer</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Required</strong><br>
The <strong>model</strong> as per <strong>Item » Edit item » [Open item] » [Open variation] » Settings » Basic settings</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EAN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Required</strong><br>
According to the format setting <strong>Barcode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The names of the categories that are linked to the variation, separated by "&gt;".</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The <strong>base price information</strong> in the format "price / unit". (Example: 10.00 EUR / kilogram)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>According to the format setting <strong>Description</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="catalogue-export">3. <em>Alternative 2:</em> Catalogue export <em>(recommended)</em></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Catalogue formats provide you with a long-term and flexible way to export your item data to Geizhals.de.</p>
</div>
<div class="sect2">
<h3 id="catalogue-creation">3.1. Creating a catalogue</h3>
<div class="paragraph">
<p>Item data is exported using a marketplace format. To export your items to a price search engine, create a catalogue in the <strong>Data » Catalogue</strong> menu. Link the data fields in the catalogue with item data saved in plentymarkets in the marketplace format afterwards.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Is this your first time working with catalogues? Then read up on the basic concepts of <a href="#en/data/exporting-data/managing-catalogues">using catalogues for exporting item data to markets first</a>.</p>
</li>
<li>
<p>For information about the plentymarkets data fields that can be assigned, refer to the explanations for the default format <a href="#data/exporting-data/catalogues-item">Item (new)</a>.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on <strong>Create catalogue</strong>.</p>
</li>
<li>
<p>Enter a name for the catalogue.</p>
</li>
<li>
<p>In the drop-down list <strong>Export type</strong>, select the option <strong>Geizhals.de</strong>.<br></p>
</li>
<li>
<p>In the drop-down list <strong>Format type</strong>, select the option <strong>Item (new)</strong>.</p>
</li>
<li>
<p>In the drop-down list <strong>Format</strong>, select the option <strong>Geizhals.de</strong>.<br>
<strong><em>Tip:</em></strong> You can only create one catalogue for this market. Thus, the only format you can select is the name of the market.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The catalogue is created.<br>
→ The catalogue is opened for editing.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="data-field-mappings">3.2. Mapping data fields in the catalogue</h3>
<div class="paragraph">
<p>Now, map the data fields in the catalogue to the item data saved in plentymarkets.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Getting to know the catalogue menu</div>
<div class="content">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/catalogue-menu-colours.png" alt="catalogue menu colours">
</div>
</div>
<div class="paragraph">
<p><em>Menu structure of a catalogue with marketplace format</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong> When you open a catalogue, the view <strong>Mapping</strong> is shown by default. Use the navigation to switch to other views of the catalogue. Access the catalogue settings or set filters to only export specific data. You can also go back to the catalogues overview or create a new catalogue.</p>
</li>
<li>
<p><strong>Toolbar</strong> The toolbar provides actions for the catalogue. For example, save your mappings, restore an older version of the catalogue or hide or show optional marketplace data fields.</p>
</li>
<li>
<p><strong>Marketplace data fields</strong> To the right of the navigation, all data fields available for the market are listed. Mandatory fields are marked with an asterisk (✱).<br>
<strong><em>Tip:</em></strong> Click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>) in the toolbar to show or hide optional data fields.</p>
</li>
<li>
<p><strong>plentymarkets data fields</strong> The left side of the catalogue is where you map the marketplace data fields with suitable plentymarkets data fields. In the screenshot, a few of the fields are already mapped.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Mapping catalogue fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab opens.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (*).<br>
→ In the right column, you map the plentymarkets data fields. Any plentymarkets data fields that are already assigned are also shown in the right column.<br></p>
</li>
<li>
<p>Now, map suitable plentymarkets data fields to the market data fields.<br>
You can choose from the following mappings which are described in the info boxes below:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Simple 1:1 mapping</strong></p>
</li>
<li>
<p><strong>Complex 1:1 mapping</strong></p>
</li>
<li>
<p><strong>1:1 mapping with fallback data fields</strong></p>
</li>
<li>
<p><strong>1:n mapping</strong></p>
</li>
<li>
<p><strong>Own value mapping</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Simple 1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>In a simple 1:1 mapping, you map a plentymarkets data field to the marketplace data field. If no suitable setting exists in plentymarkets, you can map a property instead.</p>
</div>
<div class="paragraph">
<p>As such, simple 1:1 mappings allow you to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If the data field is empty for a variation, no value is exported for this variation.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a simple 1:1 mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Sales price and RRP</p>
</div>
<div class="paragraph">
<p>This gif shows you how to map the marketplace data fields <strong>Sales price</strong> and <strong>RRP</strong> for Otto Market to suitable plentymarkets data fields:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-simple-en.gif" alt="gif catalogue mapping simple en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Complex 1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>Like with the simple 1:1 mappings, you map a plentymarkets setting or property to a marketplace data field. Complex mappings are necessary if a marketplace data field has more than one possible value. Instead of mapping data fields, for complex mappings you instead map the values of these data fields. For example, you cannot simply map the plentymarkets data field <strong>Shipping profile</strong> to the marketplace data field <strong>Shipping method</strong>. This is because the market cannot know which of your shipping profiles in plentymarkets corresponds to which of their shipping methods.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Do not enter own values for complex mappings. All values that you enter must be saved for the variations, either in a setting or as a property value. This also applies if the value <strong>Comparative value</strong> is shown. You still need to enter exactly the value of the setting or property that you mapped.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Examples of complex 1:1 mappings are:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Categories</p>
</li>
<li>
<p>Brands</p>
</li>
<li>
<p>Shipping setting</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can recognize complex mappings from the field that is shown below the name of the marketplace data field. Click on the field to show the values available for the marketplace data field.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/catalogue-complex-mappings.png" alt="catalogue complex mappings">
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
Do not map own values or properties of the type <strong>None</strong> for complex mappings.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a complex 1:1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the field for the marketplace data field.<br>
→ A list of the available values is shown.</p>
</li>
<li>
<p>Select the value that you want to map a plentymarkets data field to.<br>
→ The value is mapped.</p>
</li>
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the available plentymarkets data fields are listed in groups.<br></p>
</li>
<li>
<p>Click on a group.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plentymarkets data field for which you want to map values.<br>
<strong><em>Important:</em></strong> Do not map own values or properties of the type <strong>None</strong>.<br>
→ Your next steps depend on the plentymarkets data field you selected:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> The available values for the plentymarkets data value are shown on the left.<br></p>
<div class="ulist">
<ul>
<li>
<p>Next to the value you want to select, click on the plus.<br>
→ The value is added to the field on the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> The plentymarkets data field is inserted and the field <strong>Comparative value</strong> is shown.</p>
<div class="ulist">
<ul>
<li>
<p>In the field <strong>Comparative value</strong>, enter a value that is saved in the setting or the property of the mapped plentymarkets data field.<br></p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Alternative 3:</em></strong> The plentymarkets data field is inserted and a drop-down list is shown.</p>
<div class="ulist">
<ul>
<li>
<p>Select a value from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>This gif shows you how to map suitable plentymarkets values to the values of the marketplace data fields <strong>Delivery time in days</strong> for Otto Market:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-complex-en.gif" alt="gif catalogue mapping complex en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:1 mapping with fallback data fields</strong> 1 marketplace data field, 1 plentymarkets data field with alternatives</div>
<div class="content">
<div class="paragraph">
<p>In a 1:1 mapping with fallback data fields, you map a plentymarkets data field to the marketplace data field. In addition, you specify one or more fallback data fields. This ensures that the system keeps looking if the first plentymarkets data field is empty or contains an invalid value.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If the data field is empty or invalid for a variation, the first fallback data field is checked and the value of that fallback data field is exported instead.</p>
</li>
<li>
<p>If the first fallback data field also is empty or invalid for a variation, the value of the second fallback data field is exported and so on.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:1 mapping with fallback data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>In the list of plentymarkets data fields, click on the plus icon next to the plentymarkets data field that you want to map.<br>
→ The fallback data field is exported when the first data field does not exist or is empty.<br>
<strong><em>Note:</em></strong> Even if you assign one or more fallback data fields, the value of only one of those fields is exported. For each variation, the mapped plentymarkets data fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value for a variation, the first fallback data field is exported etc.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>This gif shows you how to map the plentymarkets data field <strong>SKU</strong> and the fallback data field <strong>Variation ID</strong> to the marketplace data field <strong>SKU</strong> for Otto Market:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-fallback-en.gif" alt="gif catalogue mapping fallback en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:n mapping:</strong> 1 marketplace data field, several plentymarkets data fields</div>
<div class="content">
<div class="paragraph">
<p>In a 1:n mapping, you map several plentymarkets data fields to the marketplace data field. You can link these data fields with a separator.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to combine these plentymarkets data fields during export so that the marketplace data field is filled with the data of these two or more plentymarkets settings.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the right of the mapped plentymarkets data field, click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ To the left, the list of available plentymarkets data fields again are shown in groups.</p>
</li>
<li>
<p>Map one or several additional plentymarkets data fields to the marketplace data field as described above.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the very right of the row, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Select a separator from the drop-down list <strong>Separator</strong> or add a custom separator.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.<br>
→ During the export, the content of the plentymarkets data fields is combined and exported as one field.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Own value mapping:</strong> 1 marketplace data field, the same value for all variations</div>
<div class="content">
<div class="paragraph">
<p>You are sure that you want to export the same value for all variations of a catalogue for a marketplace data field? Then specify an own value. This own value is then exported for all variations.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>For this marketplace data field, I want to export the value that I entered in the field <strong>Own value</strong> for <em>all</em> variations of this catalogue.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating an own value mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on the plus next to <strong>Own value</strong> at the top of the list.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.<br>
→ This value is exported for all variations.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Diameter information</p>
</div>
<div class="paragraph">
<p>You want to export diameter information for some of your variations. The diameter is saved in centimetres for all your variations. Instead of creating a property for the unit and linking this property to the variations, you can enter the own value <code>cm</code>.</p>
</div>
<div class="paragraph">
<p>This is how you can map an own value for the diameter unit:</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/diameter.gif" alt="diameter" width="600"></span></p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="recommended-mappings">3.3. Recommendations for data field mappings</h3>
<div class="paragraph">
<p>To help you with mapping your data fields for the catalogue, we have created a list of recommended data field mappings. Note that these mappings are recommendations only. Depending on how you manage your item data, other mappings may be more appropriate than the recommendation given here.</p>
</div>
<div class="openblock collapseBox">
<div class="title">List of recommended data field mappings</div>
<div class="content">
<table id="recommended-mappings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 16.6666%;">
<col style="width: 50.0001%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Marketplace field</th>
<th class="tableblock halign-left valign-top">Mandatory?</th>
<th class="tableblock halign-left valign-top">Recommended plentymarkets mapping</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Item » Manufacturer name</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">no</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variation » Variation ID</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Item text » Name 1</strong>, language <strong>German</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>or</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item text » Name 2</strong>, language <strong>German</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>or</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item text » Name 3</strong>, language <strong>German</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>or</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Property linked to variation, language <strong>German</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Sales price » [Select sales price]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deep link</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL path of item based on Product URL, client, and order referrer</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variation » Availability</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variation » Model</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Barcode » [Select barcode of the type EAN]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">no</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Default category » Path</strong>, language <strong>German</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unit price: sales price</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Unit price » Price » [Select same sales price as for data field Price]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unit price » Unit</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Unit price » Unit name » [Select same sales price as for data field Price]</strong>, language <strong>German</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unit price: quantity</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Unit price » Quantity » [Select same sales price as for data field Price]</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">no</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Item text » Item text</strong>, language <strong>German</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>or</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Property of the type <strong>Text</strong>, language <strong>German</strong></p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="filter-export">3.4. <em>Optional:</em> Exporting specific items</h3>
<div class="paragraph">
<p>Add filters to only export specific items. You can find the filters in the side navigation of the <strong>Data » Catalogues » [Open catalogue] » Filters</strong> menu.</p>
</div>
<div class="paragraph">
<p>In catalogues with marketplace formats, both user-defined filters and template filters are available. Template filters apply automatically and cannot be deselected. User-defined filters can be set as needed to only export specific items.</p>
</div>
<div class="paragraph instruction">
<p>Adding a filter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select a catalogue.<br>
→ The overview opens.</p>
</li>
<li>
<p>On the left in the side navigation, click on the <strong>Filters</strong> (<span class="icon "><i class="material-filter_alt"></i></span>) tab.<br>
→ The filter overview opens.</p>
</li>
<li>
<p>Select a filter from the <strong>Select filter</strong> drop-down list.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon "><i class="material-add"></i></span>) on the right.<br>
→ The filter is added.<br>
→ Depending on the filter, either a drop-down list or an input field is displayed.</p>
</li>
<li>
<p>Select a value from the drop-down list.<br>
<strong>Or:</strong> Enter the desired value in the field of the filter you added.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="material-save"></i></span>) the settings.<br>
→ The filter is saved.</p>
</li>
<li>
<p>Add additional filters as necessary.<br>
→ Only data that meets all filter criteria is exported.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For Geizhals.de, the filters explained in <a href="#tabelle-katalogfilter">[tabelle-katalogfilter]</a> are available.</p>
</div>
<table id="table-catalogue-filters" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Available catalogue filters</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top" colspan="2"><strong>User-defined filters</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has a SKU</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select the <strong>Account ID</strong>, <strong>Order referrer</strong> and <strong>Status</strong>.<br>
Only variations for which an SKU was saved in the <strong>SKU</strong> section of the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Availability</strong> menu are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter one or more item IDs. Separate multiple IDs using commas. Only variations with these item IDs are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>The variation is active.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select <strong>Active</strong> or <strong>Inactive</strong>.<br>
<strong>Active</strong> = Only variations which are activated in the <strong>Availability</strong> section of the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Settings</strong> menu are exported.<br>
<strong>Inactive</strong> = Only inactive variations are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visible for at least one market</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple markets.<br>
Only variations for which one of the selected markets was added in the <strong>Markets</strong> section of the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Availability</strong> menu are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple tags.<br>
Only variations which are linked to all selected tags in the <strong>Tags</strong> section of the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Settings</strong> menu are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Linked to at least one property selection value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and enter one or multiple values of a selection property. <strong><em>Note:</em></strong> Enter the IDs of the selection values.<br>
Only variations which are linked to at least one of the selected properties in the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Properties</strong> menu are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>At least one availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple availabilities.<br>
Only variations which are activated for the selected availabilities in the <strong>Availability</strong> section of the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Settings</strong> menu are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has flag 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple flags.<br>
Only variations of items which have the selected flags are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has flag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple flags.<br>
Only variations of items which have the selected flags are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item created at</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter, select a value and enter a date or time span if needed.<br>
<strong>Today</strong> = Only items which were created today are exported.<br>
<strong>Last</strong> = Enter a number to only export items which were created during the last days.<br>
<strong>Time period</strong> = Enter a time span to only export items which were created during this time span.<br>
<strong>=</strong> = Enter a date to only export items which were created on this day.<br>
<strong>!=</strong> = Enter a date to only export items which were not created on this day.<br>
<strong>&gt;</strong> = Enter a date to only export items which were created after this day.<br>
<strong>&gt;=</strong> = Enter a date to only export items which were created on and after this day.<br>
<strong>&lt;</strong> = Enter a date to only export items which were created before this day.<br>
<strong>⇐</strong> = Enter a date to only export items which were created before and on this day.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item updated at</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter, select a value and enter a date or time span if needed.<br>
<strong>Today</strong> = Only items which were updated today are exported.<br>
<strong>Last</strong> = Enter a number to only export items which were updated during the last days.<br>
<strong>Time period</strong> = Enter a time span to only export items which were updated during this time span.<br>
<strong>=</strong> = Enter a date to only export items which were updated on this day.<br>
<strong>!=</strong> = Enter a date to only export items which were not updated on this day.<br>
<strong>&gt;</strong> = Enter a date to only export items which were updated after this day.<br>
<strong>&gt;=</strong> = Enter a date to only export items which were updated on and after this day.<br>
<strong>&lt;</strong> = Enter a date to only export items which were updated before this day.<br>
<strong>⇐</strong> = Enter a date to only export items which were updated before and on this day.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation created at</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter, select a value and enter a date or time span if needed.<br>
<strong>Today</strong> = Only variations which were created today are exported.<br>
<strong>Last</strong> = Enter a number to only export variations which were created during the last days.<br>
<strong>Time period</strong> = Enter a time span to only export variations which were created during this time span.<br>
<strong>=</strong> = Enter a date to only export variations which were created on this day.<br>
<strong>!=</strong> = Enter a date to only export variations which were not created on this day.<br>
<strong>&gt;</strong> = Enter a date to only export variations which were created after this day.<br>
<strong>&gt;=</strong> = Enter a date to only export variations which were created on and after this day.<br>
<strong>&lt;</strong> = Enter a date to only export variations which were created before this day.<br>
<strong>⇐</strong> = Enter a date to only export variations which were created before and on this day.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation updated at</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter, select a value and enter a date or time span if needed.<br>
<strong>Today</strong> = Only variations which were updated today are exported.<br>
<strong>Last</strong> = Enter a number to only export variations which were updated during the last days.<br>
<strong>Time period</strong> = Enter a time span to only export variations which were updated during this time span.<br>
<strong>=</strong> = Enter a date to only export variations which were updated on this day.<br>
<strong>!=</strong> = Enter a date to only export variations which were not updated on this day.<br>
<strong>&gt;</strong> = Enter a date to only export variations which were updated after this day.<br>
<strong>&gt;=</strong> = Enter a date to only export variations which were updated on and after this day.<br>
<strong>&lt;</strong> = Enter a date to only export variations which were updated before this day.<br>
<strong>⇐</strong> = Enter a date to only export variations which were updated before and on this day.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Belongs to at least one Amazon product category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple Amazon product categories.<br>
Only variations which are mapped with the selected Amazon product categories in the <strong>Amazon</strong> section of the <strong>Item » Edit item » [Open item] » Tab: Multi-Channel</strong> menu are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select <strong>Default</strong>, <strong>Set</strong>, or <strong>Multi-Pack</strong>.<br>
Only variations of items with the selected item type are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation is main variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is main variation</strong> = Only main variations are exported.<br>
<strong>Is not main variation</strong> = Only variations which are no main variations are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation has an image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has an image</strong> = Only variations with images are exported.<br>
<strong>Does not have an image</strong> = Only variations without images are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation is in categories</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple categories. <strong><em>Note:</em></strong> Enter the category IDs.<br>
Only variations which are linked to all selected categories in the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Categories</strong> menu are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation is in one of these categories</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple categories. <strong><em>Note:</em></strong> Enter the category IDs.<br>
Only variations which are linked to one or more of the selected categories in the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Categories</strong> menu are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item has manufacturers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple manufacturers.<br>
Only variations of items which have one of the selected manufacturers saved in the <strong>Basic settings</strong> section of the <strong>Item » Edit item » [Open item] » Tab: Global</strong> menu are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visible for markets</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple markets.<br>
Only variations for which all of the selected markets were added in the <strong>Markets</strong> section of the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Availability</strong> menu are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bundle type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select the bundle type.<br>
<strong>Not part of a bundle</strong> = Only variations of items which are neither the main variation nor part of a bundle are exported.<br>
<strong>Bundle</strong> = Only items which are the main variation of a bundle are exported.<br>
<strong>Part of a bundle</strong> = Only items which are part of a bundle are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visible for a client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple clients.<br>
Only variations which are visible for one or more of the selected clients are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visible for clients</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple clients.<br>
Only variations which are visible for all of the selected clients are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Linked to property selection values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and enter one or multiple values of a selection property. <strong><em>Note:</em></strong> Enter the IDs of the selection values.<br>
Only variations which are linked to all of the selected properties in the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Properties</strong> menu are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">*Has at least one tag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add the filter and select one or multiple tags.<br>
Only variations which are linked to at least one of the selected tags in the <strong>Tags</strong> section of the <strong>Item » Edit item » [Open item] » [Open variation] » Variation tab: Settings</strong> menu are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation has child variations</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has child variations</strong> = Only items with multiple variations are exported.<br>
<strong>Does not have child variations</strong> = Only variations which do not have any variations except for the main variation are exported.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="catalogue-settings">3.5. Setting up catalogue export</h3>
<div class="paragraph instruction">
<p>Setting up catalogue export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on the catalogue for Geizhals.de.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>In the navigation on the left, open the tab <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>).</p>
</li>
<li>
<p>Carry out the settings described in <a href="#table-catalogue-settings">Table 4</a>.</p>
</li>
<li>
<p>Save the settings.</p>
</li>
</ol>
</div>
<table id="table-catalogue-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Setting up catalogue export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Basic settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Catalogue name</strong>;<br>
<strong>Export type</strong>;<br>
<strong>Format type</strong>;<br>
<strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These settings are saved automatically when you create the catalogue.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Format settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the option <strong>CSV</strong> or the option <strong>TXT</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Field separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the option expected by Geizhals.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text delimiter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the option expected by Geizhals.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the option expected by Geizhals.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Line break</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the option expected by Geizhals.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Header is included</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This setting is not required for price search engines.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Export settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number in order to determine a maximum number of lines for the export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This setting is not required for price search engines.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This setting is not required for price search engines.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Download settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the client to be used for creating the URL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate options</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the option to generate a public link.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use hash</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you activate this option, the public link is updated every time you make changes to the catalogue. As such, you need to save the new URL in the Geizhals.de back end.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the option to add a token to the download URL. The file is then only accessible if the token is known.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Security token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on the symbol on the right (<span class="icon "><i class="fa fa-rotate-left  "></i></span>) to generate a token.<br>
<strong><em>Tip:</em></strong> The token is added to the URL of the public link. When you save the public link in the Geizhals.de back end, you also save the token. If you generate a new token, you need to save the new URL in the Geizhals.de back end.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="catalogue-activation">3.6. Activating the catalogue</h3>
<div class="paragraph">
<p>You have set up Geizhals.de and created a catalogue for exporting your item data? Then start the export of your item data.</p>
</div>
<div class="paragraph instruction">
<p>Activating the catalogue export to Geizhals.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the Geizhals.de catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) to the right.<br>
→ The catalogue is active.<br></p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="catalogue-url">3.7. Exporting catalogue data to Geizhals.de</h3>
<div class="paragraph">
<p>Geizhals.de retrieves item data via an URL. The data that is available with the URL is updated every 24 hours.</p>
</div>
<div class="paragraph instruction">
<p>Copying URL for download:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on the catalogue for Geizhals.de.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>In the navigation on the left, open the tab <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>).</p>
</li>
<li>
<p>Click on the area <strong>Download settings</strong>.<br>
→ The settings for generating the URL are displayed.</p>
</li>
<li>
<p>Next to the option <strong>Public link</strong>, click on the symbol to the right (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ The URL is copied to the clipboard.</p>
</li>
<li>
<p>Save the URL in the Geizhals.de back end.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="change-elastic-export-catalogue">4. <em>Alternative 3:</em> Changing from elastic export to catalogue</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Do you already export item data to Geizhals.de with the elastic export and want to change to the catalogue export? To do so, create a catalogue as described in the chapter <a href="#catalogue-export">Catalogue export</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Exactly recreate elastic export</div>
<div class="paragraph">
<p>To make sure that the item export still works after you switched from the elastic export to the catalogue, you need to exactly recreate your elastic export in the catalogue. That means that you need to map the same data fields in the export that are currently exported to the price search engine with the elastic export. If you map different data fields than in the elastic export, new items my be created during the export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>To ensure a smooth transition, we recommend the following steps:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Check which characteristics you currently use for Geizhals.de. Characteristics and free text fields cannot be used for the catalogue export. So create properties for all characteristics that you still need.<br>
<strong><em>Important:</em></strong> The values of the new properties must be identical to the values of the old characteristics. Otherwise, new items may be created during the export to Geizhals.de.</p>
</li>
<li>
<p>Create a catalogue for Geizhals.de. (<a href="#catalogue-creation">How?</a>)</p>
</li>
<li>
<p>Map the same plentymarkets data fields to the Geizhals.de marketplace data fields that are currently exported to Geizhals.de with the elastic export. (<a href="#data-field-mappings">How?</a>)<br></p>
</li>
<li>
<p>Did you filter item data in the elastic export? If so, use the same filters in the catalogue. (<a href="#filter-export">How?</a>)</p>
</li>
<li>
<p>Carry out the export settings. This allows you to create a URL for Geizhals.de. (<a href="#catalogue-settings">How?</a>)</p>
</li>
<li>
<p>Activate the catalogue (<a href="#catalogue-activation">How?</a>)</p>
</li>
<li>
<p>Save the URL of the catalogue at Geizhals.de. (<a href="#catalogue-url">How?</a>)</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="#elastic-export-catalogue-mappings">Table 5</a> shows which columns in the elastic export are the equivalent data fields in the catalogue.</p>
</div>
<table id="elastic-export-catalogue-mappings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Columns and data fields</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column in elastic export</th>
<th class="tableblock halign-left valign-top">Data field in catalogue</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktcode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktbezeichnung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Product description</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deeplink</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deep link</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellernummer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unit price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unit price: sales price;<br>
Unit price » Unit;<br>
Unit price: quantity</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>