<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Creating attributes manually</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>1.1.</span><span> Tab: Basic settings</span></a></li>
<li><a href="#140"><span>1.2.</span><span> Tab: Name</span></a></li>
<li><a href="#200"><span>1.3.</span><span> Tab: Values</span></a></li>
<li><a href="#500"><span>1.4.</span><span> Tab: Attribute link</span></a></li>
</ul>
</li>
<li><a href="#160"><span>2.</span><span> Creating attributes via import</span></a></li>
<li><a href="#300"><span>3.</span><span> Generating variations</span></a></li>
<li><a href="#1100"><span>4.</span><span> Deleting attributes</span></a></li>
<li><a href="#180"><span>5.</span><span> Use cases</span></a>
<ul class="sectlevel3">
<li><a href="#600"><span>5.1.</span><span> Images</span></a></li>
<li><a href="#220"><span>5.2.</span><span> Markets</span></a></li>
<li><a href="#1000"><span>5.3.</span><span> Multilingualism</span></a></li>
</ul>
</li>
<li><a href="#280"><span>6.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Attribute</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Some items like shoes and t-shirts are sold in various sizes and colours.
In plentymarkets, such characteristics are called attributes.
Attributes help you simultaneously characterise your products and create <a href="/en/item/introduction/structure">saleable variations</a>, e.g. the t-shirt in the colour red and the size S.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/265563423#t=0m31s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Creating attributes manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, create attributes like colour or size.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New attribute</strong>.</p>
</li>
<li>
<p>Enter an internal name.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="psicon-save"></i></span> <strong>Save</strong>.<br>
→ The attribute is created and the tab <strong>Basic settings</strong> is displayed.</p>
</li>
<li>
<p>Carry out the settings in all of the tabs.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="120">1.1. Tab: Basic settings</h3>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (internal)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Unique name for the attribute. The internal name is used in the plentymarkets back end only and is not visible for the customers. The internal name can only be assigned once per system. The internal name must not contain the following characters, otherwise errors may occur while exchanging data:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Comma</p>
</li>
<li>
<p>Colon</p>
</li>
<li>
<p>Semicolon</p>
</li>
<li>
<p>Quotation marks</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which attribute should be displayed in the plentyShop first, second, third, etc?
Enter a position number into this field.
If an item has multiple attributes, then the attributes will be displayed in ascending order according to their position number.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-allow-image-link">Image link possible</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), for example, if you want the item image to change on eBay, depending on which colour a customer chooses.
In other words, select this option if the appropriate images should automatically be displayed.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> Although multiple attributes can be linked with one variation, the image link is only possible for one attribute per variation.</p>
</div>
<div class="paragraph">
<p><strong><em>Additional settings</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/managing-items#94">Link your variations to the appropriate images</a>.</p>
</li>
<li>
<p><a href="/en/item/managing-items#intable-availability">Make sure that you’ve made these images available for the marketplace</a>.</p>
</li>
<li>
<p><a href="/en/item/managing-items#intable-market-attribute-link">Link the variation images to the market attributes</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>These steps are described in further detail <a href="/en/item/settings/attributes#900">in another chapter</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-attribute-selection">Attribute selection in store</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>How should customers choose sizes or colours in your plentyShop? Should they choose the name from a drop-down list or click on an image?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>With drop-down menu</strong> = The attribute names will be displayed in a drop-down list.</p>
</li>
<li>
<p><strong>With image</strong> = The attributes will be displayed as <a href="/en/item/settings/attributes#700">images in your plentyShop</a>.</p>
</li>
<li>
<p><strong>With box</strong> = The attributes will be displayed as boxes with attribute values in the plentyShop.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Groupable in item lists</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should variations that have this attribute be displayed individually or cumulatively in the plentyShop?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Check mark</strong> = Each variation will be displayed as an individual product in the plentyShop.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> you sell a shoe with 2 attributes: colour and size. You want each shoe colour to look like an individual product in the plentyShop, but not each size. In this case, you’ll check this option for the attribute “colour” and you you won’t check this option for the attribute “size”.<br>
When customers browse through the category in your plentyShop, they’ll see each colour variation as a separate product. If a customer clicks on a colour variation, then he will be taken to the item’s webpage. Here the customer will see a drop-down list, which he can use to select the appropriate shoe size.</p>
</div>
<div class="paragraph">
<p><strong><em>Relationship to other settings:</em></strong> Check your settings for the <a href="/en/online-store/setting-up-ceres#90">item view and category view in the Ceres plugin</a>. The option <strong>Show variations by type</strong> can affect the option <strong>Groupable in item lists</strong> and vice versa.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="140">1.2. Tab: Name</h3>
<div class="paragraph">
<p>Enter a name for the attribute (e.g. “Colour” or “Size”).
This name will be visible in your plentyShop.
If your shop is available in multiple languages, then you can enter translations of the name here.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
The attribute name can be displayed in the plentyShop e.g. in a drop-down list.
Make the name as short as possible since the space is limited.
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/settings/assets/attribute-selection-plentyshop.png" alt="attribute selection plentyshop">
</div>
</div>
</div>
<div class="sect2">
<h3 id="200">1.3. Tab: Values</h3>
<div class="paragraph">
<p>Create attribute values like red, blue, green or S, M, L, XL.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes » [Open attribute] » Tab: Values</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New value</strong>.</p>
</li>
<li>
<p>Enter an internal name.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="psicon-save"></i></span> <strong>Save</strong>.<br>
→ The attribute value is assigned an ID and displayed in the <strong>Values</strong> tab.</p>
</li>
<li>
<p>Carry out additional settings in this tab.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A consecutive ID is automatically assigned by the system and cannot be changed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>How should customers choose sizes or colours in your plentyShop?
Should they choose the name from a drop-down list or click on an image?
Upload an image here (<span class="icon purple"><i class="psicon-upload"></i></span>) if you want to visually display the attribute value.</p>
</div>
<div class="paragraph">
<p><strong><em>Additional settings</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the basic settings, specify that this attribute should be selected with an image.</p>
</li>
<li>
<p>Optionally, enter the maximum image size.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>These steps are described in further detail <a href="/en/item/settings/attributes#700">in another chapter</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which attribute value should be displayed in the plentyShop first, second, third, etc?
Enter a position number into this field.
The attribute values will be displayed in ascending order according to their position number.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the attribute value (e.g. “Red”, “Blue” or “Green”).
This name will be visible in your plentyShop.</p>
</div>
<div class="paragraph">
<p><strong><em>Multilingualism</em></strong>:
If your shop is available in multiple languages, then you can enter translations of the name here.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select a language from the <strong>Show language</strong> drop-down list in the header.<br>
→ Only the text in the <strong>Name</strong> column will change.</p>
</li>
<li>
<p>In the <strong>Name</strong> column, enter the attribute values in the selected language.</p>
</li>
<li>
<p>Save (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/settings/assets/attributevalues-names-translation.png" alt="attributevalues names translation">
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (internal)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Unique name of the attribute value. The internal name is only used in the plentymarkets back end and is not visible in the plentyShop. The internal name can only be assigned once per attribute. The internal name must not contain the following characters, otherwise errors may occur while exchanging data:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Comma</p>
</li>
<li>
<p>Colon</p>
</li>
<li>
<p>Semicolon</p>
</li>
<li>
<p>Quotation marks</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Note</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter an optional note about the attribute value.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the percentages for the automatic distribution of attribute values.
When reordering an item, the quantities of attribute values will automatically be distributed among the total quantity.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> Automatic distribution only takes effect for items with exactly two attribute values.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">1.4. Tab: Attribute link</h3>
<div class="paragraph">
<p>Some markets, such as <a href="/en/markets/amazon/preparing-variations#1350">Amazon</a> and <a href="/en/markets/ebay/ebay-setup#6100">eBay</a>, require you to link <em>your own</em> attribute values with <em>their attribute values</em>.
For example, imagine you sell a turquoise t-shirt. But the market you want to sell it on only accepts the colours green and blue. Link your own attribute values with the ones on the other market. This ensures that your items are displayed correctly.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/199997850#t=5m27s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Additional settings</div>
<div class="paragraph">
<p>Should the item image change, e.g. on eBay, depending on which size or colour a customer chooses?
Some markets, such as eBay, require you to also <a href="/en/item/settings/attributes#900">link your variation images with the appropriate attribute values</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="160">2. Creating attributes via import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets has an <a href="/en/data/importing-data/ElasticSync">import tool</a>, which you can use to import attributes.
The idea is simple.
Rather than manually saving attribute data in plentymarkets, you’ll enter the same information into a CSV file and then import this file into your system.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Create attributes (like colour and size) and attribute values (like blue, red, green and S, M, L).
You can do this with the import type <a href="/en/data/importing-data/sync-types/elasticSync-attributes">Attribute</a>.</p>
</li>
<li>
<p>Use the attributes to generate variations.
You can do this with the import type <a href="/en/data/importing-data/sync-types/elasticSync-item#2380">Item</a>.
See a <a href="/en/item/import-export-create/import">practical example including video</a> to learn how variations are generated.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Attributes can also be exported</div>
<div class="ulist">
<ul>
<li>
<p>Use the format type <a href="/en/data/exporting-data/FormatDesigner/format-types/attributes">Attribute</a> to export information about the attributes and attribute values.</p>
</li>
<li>
<p>Use the format type <a href="/en/data/exporting-data/FormatDesigner/format-types/item#900">Item / VariationAttributeValues</a> to see which attribute values are linked with a specific variation.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Generating variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An item’s first variation is called its <em>main variation</em>.
If an item has multiple variations, then the main variation can either be a saleable product or it can be a virtual data record. A virtual main variation is used to manage the other variations of the item with <a href="/en/item/introduction/inheritance">inheritance</a>.
How exactly you’ll proceed depends on whether the main variation should be for sale or not.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="main-variation-is--em-not--em--for-sale-tab" data-toggle="tab" href="#main-variation-is--em-not--em--for-sale" role="tab" aria-controls="main-variation-is--em-not--em--for-sale" aria-selected="true">Main variation is <em>not</em> for sale</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="main-variation-is-for-sale-tab" data-toggle="tab" href="#main-variation-is-for-sale" role="tab" aria-controls="main-variation-is-for-sale" aria-selected="false">Main variation is for sale</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="main-variation-is--em-not--em--for-sale" role="tabpanel" aria-labelledby="main-variation-is--em-not--em--for-sale-tab">
<div class="paragraph">
<p>Imagine you sell a t-shirt in the sizes S, M, L and XL.
The main variation is not for sale and it doesn’t correspond to any of these sizes.
The main variation is simply a data container used to manage prices, categories and other product settings.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/item/import-export-create/create/new-item#200">First create the item</a> without selecting any attributes.
This will create the main variation without any attributes.</p>
</li>
<li>
<p>Then choose the attributes while you <a href="/en/item/import-export-create/create/new-item#400">create the necessary variations</a>.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="main-variation-is-for-sale" role="tabpanel" aria-labelledby="main-variation-is-for-sale-tab">
<div class="paragraph">
<p>Imagine you sell a t-shirt in the sizes S, M, L and XL.
The main variation is for sale and corresponds to one of these sizes, e.g. S.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/item/import-export-create/create/new-item#200">First create the item</a> and choose the appropriate attribute value, e.g. the size S.
The main variation will be created with this attribute value.</p>
</li>
<li>
<p>Then choose the remaining attributes while you <a href="/en/item/import-export-create/create/new-item#400">create the other variations</a>.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="1100">4. Deleting attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you can delete an attribute, you have to delete all of the variations that are linked with this attribute.
The <a href="/en/item/import-export-create/create/mass-processing#300">variation group function</a> is a useful tool for doing so.</p>
</div>
<div class="paragraph instruction">
<p>Deleting variations linked to an attribute:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filters on the left as follows:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Set the filter <a href="/en/item/introduction/search#intable-table-type">Table type</a> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Set the filter <a href="/en/item/introduction/search#intable-active">Active</a> to <strong>ALL</strong>.</p>
</li>
<li>
<p>Use the <a href="/en/item/introduction/search#intable-all">ALL</a> filter to select the attribute from the drop-down list.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ All variations linked with this attribute are displayed.</p>
</li>
<li>
<p>Select all of the variations (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>In the <strong>Procedures</strong> area, select the option <strong>Delete variations</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong>.<br>
→ The variations are deleted.<br>
→ The attribute can now be deleted.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Deleting an attribute:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes</strong>.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>) in the line of an attribute.<br>
→ A new window opens.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>) again to confirm your decision.<br>
→ The attribute is deleted.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="180">5. Use cases</h2>
<div class="sectionbody">
<div class="sect3">
<h4 id="600">5.1. Images</h4>
<div id="800" class="openblock collapseBox">
<div class="title"><strong>The image should change in the plentyShop depending on which colour a customer chooses</strong></div>
<div class="content">
<div class="paragraph">
<p>Should the item image change in the plentyShop depending on which size or colour a customer chooses?
Follow the steps below if the appropriate images should automatically be displayed.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/settings/assets/attribute-variants-images-plentyshop.png" alt="attribute variants images plentyshop">
</div>
</div>
<div class="paragraph instruction">
<p>Linking variations to the appropriate images:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Images</strong>.</p>
</li>
<li>
<p><a href="/en/item/managing-items#90">Upload the necessary images</a>.</p>
</li>
<li>
<p>Select the images (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that you want to link.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Variation link</strong>.<br>
→ A pop-up window will open.</p>
</li>
<li>
<p>If needed, use the filters on the left to find specific variations.</p>
</li>
<li>
<p>Choose which variations (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) should be linked to the selected images.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Link</strong>.<br>
→ The images are linked with the selected variations.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.<br>
→ If a customer chooses the variation in your plentyShop, he will automatically see the appropriate item image.</p>
</li>
</ol>
</div>
</div>
</div>
<div id="700" class="openblock collapseBox">
<div class="title"><strong>I want customers to click on a colour tile in the plentyShop to select a colour</strong></div>
<div class="content">
<div class="paragraph">
<p>How should customers choose sizes or colours in your plentyShop?
Should they choose the name from a drop-down list or click on an image?
Follow these three steps if you want your attribute values to be displayed as images.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/settings/assets/attribute-selection-via-image.png" alt="attribute selection via image">
</div>
</div>
<h4 id="_step_1_upload_images_for_attribute_values" class="discrete">Step 1: Upload images for attribute values</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes » [Open attribute] » Tab: Values</strong>.</p>
</li>
<li>
<p>Click on <strong>Upload image</strong> (<span class="icon purple"><i class="psicon-upload"></i></span>) in the <strong>Image</strong> column.</p>
</li>
<li>
<p>Select the image from where it is saved on your computer.<br>
→ The image is uploaded and a preview is shown.</p>
</li>
<li>
<p>Repeat the steps to upload images for other attribute values.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<h4 id="_step_2_change_the_appearance_in_the_plentyshop_from_text_to_image" class="discrete">Step 2: Change the appearance in the plentyShop from text to image</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes » [Open attribute] » Tab: Basic settings</strong>.</p>
</li>
<li>
<p>Select <strong>With image</strong> from the <strong>Attribute selection in store</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<h4 id="_step_3_change_the_size_of_attribute_images" class="discrete">Step 3: Change the size of attribute images</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Images » Settings</strong>.</p>
</li>
<li>
<p>Enter the maximum height and width in the <strong>Attribute images</strong> area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="220">5.2. Markets</h4>
<div id="240" class="openblock collapseBox">
<div class="title"><strong>I want to link my own attribute values to the values on a marketplace</strong></div>
<div class="content">
<div class="paragraph">
<p>Some markets, such as <a href="/en/markets/amazon/preparing-variations#1350">Amazon</a> and <a href="/en/markets/ebay/ebay-setup#6100">eBay</a>, require you to link <em>your own</em> attribute values with <em>their attribute values</em>.
For example, imagine you sell a turquoise t-shirt. But the market you want to sell it on only accepts the colours green and blue. Link your own attribute values with the ones on the other market. This ensures that your items are displayed correctly.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/199997850#t=5m27s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
<div id="900" class="openblock collapseBox">
<div class="title"><strong>The image should change on a marketplace depending on which colour a customer chooses</strong></div>
<div class="content">
<div class="paragraph">
<p>Should the item image change, e.g. on eBay, depending on which size or colour a customer chooses?
Some markets like eBay not only require you to <a href="/en/item/settings/attributes#500">link your attributes with the market</a>, but also to link your variation images with the appropriate attribute values.</p>
</div>
<h4 id="_requirements" class="discrete">Requirements</h4>
<div class="ulist">
<ul>
<li>
<p>Have you already <a href="/en/item/managing-items#94">linked your variations to the corresponding images</a>?</p>
</li>
<li>
<p>Have you <a href="/en/item/managing-items#intable-availability">made these images available for the marketplace</a>?</p>
</li>
<li>
<p>Have you <a href="/en/item/settings/attributes#intable-allow-image-link">allowed image links in the basic settings</a>?</p>
</li>
</ul>
</div>
<h4 id="_instructions" class="discrete">Instructions</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Images</strong>.</p>
</li>
<li>
<p>Select the appropriate attribute value for the item image from the <strong>Market attribute link</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.<br>
→ If a customer chooses the variation e.g. on eBay, he will see the appropriate item image.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
The option <strong>Market attribute link</strong> is only visible if you have met all of the requirements listed above.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="1000">5.3. Multilingualism</h4>
<div id="260" class="openblock collapseBox">
<div class="title"><strong>My plentyShop is available in multiple languages. What should I do?</strong></div>
<div class="content">
<div class="paragraph">
<p>Translate the names of your attributes and attribute values into all of the languages that you need.</p>
</div>
<h4 id="_step_1_translate_the_attributes" class="discrete">Step 1: Translate the attributes</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes » [Open attribute] » Tab: Name</strong>.</p>
</li>
<li>
<p>Enter the name in as many different languages as needed.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
The attribute name can be displayed in the plentyShop e.g. in a drop-down list.
Make the name as short as possible since the space is limited.
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/settings/assets/attribute-selection-plentyshop.png" alt="attribute selection plentyshop">
</div>
</div>
<h4 id="_step_2_translate_the_attribute_values" class="discrete">Step 2: Translate the attribute values</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes » [Open attribute] » Tab: Values</strong>.</p>
</li>
<li>
<p>Select a language from the <strong>Show language</strong> drop-down list in the header.<br>
→ Only the text in the <strong>Name</strong> column will change.</p>
</li>
<li>
<p>In the <strong>Name</strong> column, enter the attribute values in the selected language.</p>
</li>
<li>
<p>Save (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/settings/assets/attributevalues-names-translation.png" alt="attributevalues names translation">
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="280">6. FAQ</h2>
<div class="sectionbody">
<div id="320" class="openblock collapseBox">
<div class="title"><strong>Characteristics, properties and attributes: what’s the difference?</strong></div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/attributes">Attributes</a>, for example, are the various colours and sizes that your products are available in.
Attributes help you simultaneously characterise your products and create saleable variations, e.g. a t-shirt in the colour red and the size S.</p>
</li>
<li>
<p>Characteristics and properties define products <em>without</em> simultaneously creating saleable variations:</p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/properties#100">Characteristics</a> define <em>entire items</em>.
For example, if an item is available in red, blue or green, then the characteristic will apply to all three variations.
Characteristics aren’t very flexible, they’re outdated and they’re gradually being replaced by properties.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#500">Properties</a> define <em>specific variations</em>.
For example, if an item is available in red, blue or green, then the property can apply to one, two or all three of the variations.
Therefore, properties are much more flexible.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
<div id="340" class="openblock collapseBox">
<div class="title"><strong>My attributes can’t be deleted. Why not?</strong></div>
<div class="content">
<div class="paragraph">
<p>Before you can delete an attribute, you have to delete all of the variations that are linked with this attribute.
You can easily filter for all of the variations that are linked to an attribute and delete them.
<a href="/en/item/settings/attributes#1100">Further information and step-by-step instructions</a>.</p>
</div>
</div>
</div>
<div id="360" class="openblock collapseBox">
<div class="title"><strong>I don’t see the option “Market attribute link”. Where is it?</strong></div>
<div class="content">
<h4 id="_requirements_2" class="discrete">Requirements</h4>
<div class="ulist">
<ul>
<li>
<p>Have you already <a href="/en/item/managing-items#94">linked your variations to the corresponding images</a>?</p>
</li>
<li>
<p>Have you <a href="/en/item/managing-items#intable-availability">made these images available for the marketplace</a>?</p>
</li>
<li>
<p>Have you <a href="/en/item/settings/attributes#intable-allow-image-link">allowed image links in the basic settings</a>?</p>
</li>
</ul>
</div>
<h4 id="_instructions_2" class="discrete">Instructions</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Images</strong>.</p>
</li>
<li>
<p>Select the appropriate attribute value for the item image from the <strong>Market attribute link</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.<br>
→ If a customer chooses the variation e.g. on eBay, he will see the appropriate item image.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
The option <strong>Market attribute link</strong> is only visible if you have met all of the requirements listed above.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div id="380" class="openblock collapseBox">
<div class="title"><strong>I accidentally deleted my attributes. Can I restore them?</strong></div>
<div class="content">
<div class="paragraph">
<p>Yes.
You can reset your system to the status of any backup.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Open the database backup settings and select the area <strong>ItemAttribute</strong>.
This restores the attributes and attribute values in the menu <strong>Setup » Item » Attributes</strong>.
The attributes are not linked to the individual variations in the process.</p>
</li>
<li>
<p>Open the database backup settings and select the area <strong>ItemVariation</strong>. This restores the links, along with other variation data.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><a href="/en/data/backup#_importing_a_backup">Further information and step-by-step instructions</a>.</p>
</div>
</div>
</div>
<div id="420" class="openblock collapseBox">
<div class="title"><strong>Can I retroactively add attributes to my variations?</strong></div>
<div class="content">
<div class="paragraph">
<p>Once you have added attributes to an item, you can no longer add even more attributes to it.
You can only add new values to the existing attributes.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>:
Imagine you sell a t-shirt with the attributes size and colour.
Specifically, the t-shirt is available in the variations “Red/S”, “Red/L”, “Blue/S” and “Blue/L”.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>What’s possible</em></strong>:
You could add new colour and size variations.
For example, you could add the variations “Green/S” and “Green/L”.</p>
</li>
<li>
<p><strong><em>What’s not possible</em></strong>:
You can not bring new attributes into play.
For example, you can not add the attribute “Material” retroactively.
In this case, we recommend creating a new item so that you don’t run into any problems with pending orders and existing stock levels.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>