<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Praxisbeispiel: Ausgangssituation</span></a></li>
<li><a href="#20"><span>2.</span><span> Gruppen erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> CSV-Datei einrichten</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Import-Einstellungen wählen</span></a></li>
<li><a href="#50"><span>2.3.</span><span> Abgleich-Einstellungen wählen</span></a></li>
<li><a href="#60"><span>2.4.</span><span> Zuordnung-Einstellungen wählen</span></a></li>
<li><a href="#70"><span>2.5.</span><span> Import starten</span></a></li>
</ul>
</li>
<li><a href="#80"><span>3.</span><span> Eigenschaften erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#90"><span>3.1.</span><span> CSV-Datei einrichten</span></a></li>
<li><a href="#100"><span>3.2.</span><span> Import-Einstellungen wählen</span></a></li>
<li><a href="#110"><span>3.3.</span><span> Abgleich-Einstellungen wählen</span></a></li>
<li><a href="#120"><span>3.4.</span><span> Zuordnung-Einstellungen wählen</span></a></li>
<li><a href="#130"><span>3.5.</span><span> Import starten</span></a></li>
</ul>
</li>
<li><a href="#140"><span>4.</span><span> Auswahlwerte erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#150"><span>4.1.</span><span> CSV-Datei einrichten</span></a></li>
<li><a href="#160"><span>4.2.</span><span> Import-Einstellungen wählen</span></a></li>
<li><a href="#170"><span>4.3.</span><span> Abgleich-Einstellungen wählen</span></a></li>
<li><a href="#180"><span>4.4.</span><span> Zuordnung-Einstellungen wählen</span></a></li>
<li><a href="#190"><span>4.5.</span><span> Import starten</span></a></li>
</ul>
</li>
<li><a href="#200"><span>5.</span><span> Eigenschaften mit Varianten verknüpfen</span></a>
<ul class="sectlevel2">
<li><a href="#210"><span>5.1.</span><span> CSV-Datei einrichten</span></a></li>
<li><a href="#220"><span>5.2.</span><span> Import-Einstellungen wählen</span></a></li>
<li><a href="#230"><span>5.3.</span><span> Abgleich-Einstellungen wählen</span></a></li>
<li><a href="#240"><span>5.4.</span><span> Zuordnung-Einstellungen wählen</span></a></li>
<li><a href="#250"><span>5.5.</span><span> Import starten</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Eigenschaften importieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Vielleicht weißt du schon, was Eigenschaften sind und wie du sie manuell in plentymarkets erstellst.
Was aber, wenn du sehr viele Eigenschaften anlegen musst?
Es würde ewig dauern, sie alle per Hand zu erstellen.
Keine Sorge, du kannst eine Menge Zeit sparen, indem du deine Eigenschaften in plentymarkets importierst.
Diese Handbuchseite führt dich Schritt für Schritt durch den Prozess.</p>
</div>
<h3 id="_ablauf" class="discrete">Ablauf</h3>
<div class="ulist">
<ul>
<li>
<p>Erstelle die benötigten <a href="/daten/daten-importieren/elasticsync-best-practices/eigenschaften#20">Gruppen</a>, <a href="/daten/daten-importieren/elasticsync-best-practices/eigenschaften#80">Eigenschaften</a>, und <a href="/daten/daten-importieren/elasticsync-best-practices/eigenschaften#140">Auswahlwerte</a>.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/elasticsync-best-practices/eigenschaften#200">Verknüpfe die Eigenschaften</a> mit den passenden Produkten.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Anstatt dies manuell zu tun, wirst du die Daten importieren.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Voraussetzungen</div>
<div class="paragraph">
<p>Diese Seite setzt voraus, dass du bereits:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Grundkenntnisse über das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a> hast.</p>
</li>
<li>
<p>Grundkenntnisse über <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a> hast.
Du solltest wissen, was Eigenschaften sind und wie du sie manuell erstellst.
Schau dir unser <a href="/artikel/einstellungen/eigenschaften#500">Einführungsvideo</a> an, wenn du diese Themen auffrischen möchtest.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Praxisbeispiel: Ausgangssituation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stell dir vor, du möchtest die technischen Features und Besonderheiten deines Kopfhörers hervorheben.
Konkret möchtest du folgende Eigenschaften erstellen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Das Stichwort "Bluetooth".</p>
</li>
<li>
<p>Die Reichweite von 10 Metern.</p>
</li>
<li>
<p>Das Datum der Verfügbarkeit.</p>
</li>
<li>
<p>Der Hinweis, dass der Kopfhörer über ein integriertes Mikrofon verfügt.</p>
</li>
<li>
<p>Die unterstützten Bluetooth-Profile.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Ferner möchtest du:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>dass die Eigenschaften in einer Gruppe namens "Kopfhörer" zusammengefasst werden.</p>
</li>
<li>
<p>die Eigenschaften importieren, anstatt sie manuell in plentymarkets anzulegen.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-ausgangssituation.png" alt="eigenschaften import ausgangssituation">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Gruppen erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zuerst legen wir die benötigten Eigenschaftsgruppen an.
In diesem Beispiel werde ich eine Gruppe namens "Kopfhörer" erstellen, die ich für alle Eigenschaften verwenden werde, die sich auf meine Bluetooth-Kopfhörer beziehen.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. CSV-Datei einrichten</h3>
<div class="paragraph">
<p>Würdest du eine Gruppe manuell anlegen, dann würdest du Informationen wie Name, Position, Gruppentyp und Aufpreistyp direkt im plentymarkets Backend eingeben.
Da du aber die Gruppe importieren willst, trägst du die gleichen Daten in eine CSV-Datei ein.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-gruppe-csv.png" alt="eigenschaften import gruppe csv">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Liste der gültigen Importwerte</div>
<div class="paragraph">
<p>Woher weiß man, welche Zeichenkombinationen in der CSV-Datei zulässig sind?
Wirf ganz einfach einen Blick ins Handbuch.
<a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften">Hier</a> siehst du, welche Daten Pflichtfelder sind und wie du die einzelnen Optionen in deiner CSV-Datei angeben musst, damit sie von plentymarkets korrekt interpretiert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Import-Einstellungen wählen</h3>
<div class="paragraph">
<p>Sobald du alle Gruppen-Informationen in deiner CSV-Datei gesammelt hast, öffne das Menü <strong>Daten » Import</strong> und erstelle einen neuen Import vom Typ <strong>Eigenschaften</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wie erstelle ich einen Import?</div>
<div class="paragraph">
<p>Falls du noch nie mit dem Import-Tool gearbeitet hast, dann kannst du dich <a href="/daten/daten-importieren/ElasticSync">hier</a> mit den Grundlagen vertraut machen.
Diese Seite beschreibt nicht alle Importoptionen im Detail.
Stattdessen konzentriert sich die Seite auf ein praktisches Beispiel für den Import von Eigenschaften und Gruppen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="50">2.3. Abgleich-Einstellungen wählen</h3>
<div class="paragraph">
<p>Sobald du die Import-Einstellungen nach deinen Wünschen konfiguriert hast, wechselst du zu den <strong>Abgleich-Einstellungen</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die ID-Optionen sind nützlich, wenn du bestehende Eigenschaften oder Gruppen aktualisieren willst.</p>
</li>
<li>
<p>Die Namensoptionen sind nützlich, wenn du neue Eigenschaften oder Gruppen erstellen willst.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Da wir in diesem Beispiel eine <em>neue Gruppe</em> importieren möchten, konfiguriere die Einstellungen wie folgt:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name der Eigenschaftsgruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der Gruppenname aufgeführt? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>neue Gruppen erstellen</em> möchtest.</p>
<p class="tableblock">Gib danach an, in welcher Sprache der Name geschrieben ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import Optionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Da du neue Gruppen importieren wirst, wähle die Option <strong>Nur neue Daten importieren</strong> oder <strong>Neue Daten importieren, vorhandene aktualisieren</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-gruppe-abgleich.png" alt="eigenschaften import gruppe abgleich">
</div>
</div>
</div>
<div class="sect2">
<h3 id="60">2.4. Zuordnung-Einstellungen wählen</h3>
<div class="paragraph">
<p>Weiter geht’s mit den <strong>Zuordnungs-Einstellungen</strong>.
Hier legst du fest, welche Spalte der CSV-Datei welchem Datenfeld in plentymarkets entspricht.
In deiner CSV-Datei steht zum Beispiel die Positionsnummer.
Auf der rechten Seite teilst du plentymarkets mit, dass dies die Gruppen-Position ist.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-gruppe-zuordnung.png" alt="eigenschaften import gruppe zuordnung">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Liste der Datenfelder</div>
<div class="paragraph">
<p>Solltest du unsicher sein, was eine bestimmte Option bewirkt oder auf welches Datenfeld in plentymarkets sie sich bezieht, dann wirf einen Blick ins Handbuch.
Die Informationen sind <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften">hier</a> aufgelistet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="70">2.5. Import starten</h3>
<div class="paragraph">
<p>Bist du bereit, die Daten zu importieren?
Führe den Import aus und kontrolliere, dass die Daten korrekt in plentymarkets importiert wurden.</p>
</div>
<div class="paragraph instruction">
<p>Import ausführen und Ergebnis prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Aktiviere alle Zeilen der CSV-Datei, die importiert werden sollen (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Teste den Import (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) oder führe den Import aus (<span class="icon darkGrey"><i class="fa fa-play-circle-o  "></i></span>).<br>
<strong><em>Hinweis:</em></strong> Dies kann einige Minuten dauern.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong>.</p>
</li>
<li>
<p>Suche und öffne einige Gruppen, um ihre Einstellungen zu prüfen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Testlauf nutzen</div>
<div class="paragraph">
<p>Wir empfehlen, beim erstmaligen Import vorab den Testlauf (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) zu nutzen.
Damit werden die ersten 10 Zeilen der Datei ohne Cache importiert.
So kann man prüfen, ob der Import ordnungsgemäß läuft. Sollten sich Fehler eingeschlichen haben, kann man diese vor der kompletten Ausführung noch korrigieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Cache zurücksetzen</div>
<div class="paragraph">
<p>Direkt im Import findest du die Schaltfläche <strong>Cache zurücksetzen</strong> (<span class="icon "><i class="psicon-reload"></i></span>).
Mit dieser Schaltfläche kannst du den Import-Cache zurücksetzen, damit du eine Datei ohne vorherige Änderung erneut importieren kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="80">3. Eigenschaften erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Als Nächstes legen wir die Eigenschaften an.
In diesem Beispiel werde ich eine Text-Eigenschaft, eine ganze Zahl, eine Auswahleigenschaft und eine Mehrfachauswahleigenschaft importieren.</p>
</div>
<div class="sect2">
<h3 id="90">3.1. CSV-Datei einrichten</h3>
<div class="paragraph">
<p>Würdest du die Eigenschaften manuell anlegen, dann würdest du Informationen dazu im plentymarkets-Backend eingeben.
Da du aber die Eigenschaften importieren willst, trägst du die gleichen Daten in eine CSV-Datei ein.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-eigenschaft-csv.png" alt="eigenschaften import eigenschaft csv">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Liste der gültigen Importwerte</div>
<div class="paragraph">
<p>Woher weiß man, welche Zeichenkombinationen in der CSV-Datei zulässig sind?
Wirf ganz einfach einen Blick ins Handbuch.
<a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften">Hier</a> siehst du, welche Daten Pflichtfelder sind und wie du die einzelnen Optionen in deiner CSV-Datei angeben musst, damit sie von plentymarkets korrekt interpretiert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeiten und Optionen können nicht per Import gesteuert werden</div>
<div class="paragraph">
<p>Weder der Bereich <strong>Sichtbarkeiten</strong> noch <strong>Optionen</strong> können per Import konfiguriert werden.
Falls du diese Einstellungen nutzen möchtest, dann musst du sie nach dem Import manuell in der Benutzeroberfläche einstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="100">3.2. Import-Einstellungen wählen</h3>
<div class="paragraph">
<p>Sobald du alle Eigenschaftsdaten in deiner CSV-Datei gesammelt hast, öffne das Menü <strong>Daten » Import</strong> und erstelle einen neuen Import vom Typ <strong>Eigenschaften</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wie erstelle ich einen Import?</div>
<div class="paragraph">
<p>Falls du noch nie mit dem Import-Tool gearbeitet hast, dann kannst du dich <a href="/daten/daten-importieren/ElasticSync">hier</a> mit den Grundlagen vertraut machen.
Diese Seite beschreibt nicht alle Importoptionen im Detail.
Stattdessen konzentriert sich die Seite auf ein praktisches Beispiel für den Import von Eigenschaften und Gruppen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="110">3.3. Abgleich-Einstellungen wählen</h3>
<div class="paragraph">
<p>Sobald du die Import-Einstellungen nach deinen Wünschen konfiguriert hast, wechselst du zu den <strong>Abgleich-Einstellungen</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die ID-Optionen sind nützlich, wenn du bestehende Eigenschaften oder Gruppen aktualisieren willst.</p>
</li>
<li>
<p>Die Namensoptionen sind nützlich, wenn du neue Eigenschaften oder Gruppen erstellen willst.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Da wir in diesem Beispiel <em>neue Eigenschaften</em> importieren möchten, konfiguriere die Einstellungen wie folgt:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftsname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der Eigenschaftsname aufgeführt? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>neue Eigenschaften erstellen</em> möchtest.</p>
<p class="tableblock">Gib danach an, in welcher Sprache der Name geschrieben ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import Optionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Da du neue Eigenschaften importieren wirst, wähle die Option <strong>Nur neue Daten importieren</strong> oder <strong>Neue Daten importieren, vorhandene aktualisieren</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-eigenschaft-abgleich.png" alt="eigenschaften import eigenschaft abgleich">
</div>
</div>
</div>
<div class="sect2">
<h3 id="120">3.4. Zuordnung-Einstellungen wählen</h3>
<div class="paragraph">
<p>Weiter geht’s mit den <strong>Zuordnungs-Einstellungen</strong>.
Hier legst du fest, welche Spalte der CSV-Datei welchem Datenfeld in plentymarkets entspricht.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-eigenschaft-zuordnung.png" alt="eigenschaften import eigenschaft zuordnung">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Liste der Datenfelder</div>
<div class="paragraph">
<p>Solltest du unsicher sein, was eine bestimmte Option bewirkt oder auf welches Datenfeld in plentymarkets sie sich bezieht, dann wirf einen Blick ins Handbuch.
Die Informationen sind <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften">hier</a> aufgelistet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="130">3.5. Import starten</h3>
<div class="paragraph">
<p>Bist du bereit, die Daten zu importieren?
Führe den Import aus und kontrolliere, dass die Daten korrekt in plentymarkets importiert wurden.</p>
</div>
<div class="paragraph instruction">
<p>Import ausführen und Ergebnis prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Aktiviere alle Zeilen der CSV-Datei, die importiert werden sollen (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Teste den Import (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) oder führe den Import aus (<span class="icon darkGrey"><i class="fa fa-play-circle-o  "></i></span>).<br>
<strong><em>Hinweis:</em></strong> Dies kann einige Minuten dauern.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Suche und öffne einige Eigenschaften, um ihre Einstellungen zu prüfen.</p>
</li>
<li>
<p>Nimm bei Bedarf die Einstellungen in den Bereichen <strong>Sichtbarkeiten</strong> und <strong>Optionen</strong> manuell vor.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Testlauf nutzen</div>
<div class="paragraph">
<p>Wir empfehlen, beim erstmaligen Import vorab den Testlauf (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) zu nutzen.
Damit werden die ersten 10 Zeilen der Datei ohne Cache importiert.
So kann man prüfen, ob der Import ordnungsgemäß läuft. Sollten sich Fehler eingeschlichen haben, kann man diese vor der kompletten Ausführung noch korrigieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Cache zurücksetzen</div>
<div class="paragraph">
<p>Direkt im Import findest du die Schaltfläche <strong>Cache zurücksetzen</strong> (<span class="icon "><i class="psicon-reload"></i></span>).
Mit dieser Schaltfläche kannst du den Import-Cache zurücksetzen, damit du eine Datei ohne vorherige Änderung erneut importieren kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeiten und Optionen können nicht per Import gesteuert werden</div>
<div class="paragraph">
<p>Weder der Bereich <strong>Sichtbarkeiten</strong> noch <strong>Optionen</strong> können per Import konfiguriert werden.
Falls du diese Einstellungen nutzen möchtest, dann musst du sie nach dem Import manuell in der Benutzeroberfläche einstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="140">4. Auswahlwerte erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hast du Eigenschaften vom Typ <strong>Auswahl</strong> oder <strong>Mehrfachauswahl</strong>?
Das Besondere an diesen beiden Eigenschafts-Typen ist, dass sie einzelne <em>Werte</em> haben, die zur <em>Auswahl</em> stehen.
Solche Auswahlwerte können auch importiert werden.</p>
</div>
<div class="paragraph">
<p>Dies geschieht mit dem Importtyp <strong>Eigenschaften: Auswahlwerte</strong>.
Die einzige Voraussetzung für diesen Importtyp ist, dass die Eigenschaften bereits in deinem System vorhanden sein müssen.
Es ist also nicht möglich, die Eigenschaften und ihre Auswahlwerte zusammen in einem Import zu erstellen.
Dies muss durch zwei separate Importe erfolgen.</p>
</div>
<div class="sect2">
<h3 id="150">4.1. CSV-Datei einrichten</h3>
<div class="paragraph">
<p>Würdest du die Auswahlwerte manuell anlegen, dann würdest du ihre Namen im plentymarkets-Backend eingeben.
Da du aber die Auswahlwerte importieren willst, trägst du ihre Namen in eine CSV-Datei ein.
Die CSV-Datei ist recht simpel.
Sie enthält lediglich die Eigenschafts-ID und die Namen aller dazugehörigen Auswahlwerte.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-auswahlwerte-csv.png" alt="eigenschaften import auswahlwerte csv">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Liste der gültigen Importwerte</div>
<div class="paragraph">
<p>Woher weiß man, welche Zeichenkombinationen in der CSV-Datei zulässig sind?
Wirf ganz einfach einen Blick ins Handbuch.
<a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften-auswahlwerte">Hier</a> siehst du, welche Daten Pflichtfelder sind und wie du die einzelnen Optionen in deiner CSV-Datei angeben musst, damit sie von plentymarkets korrekt interpretiert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="160">4.2. Import-Einstellungen wählen</h3>
<div class="paragraph">
<p>Sobald du alle Auswahlwerte in deiner CSV-Datei gesammelt hast, öffne das Menü <strong>Daten » Import</strong> und erstelle einen neuen Import vom Typ <strong>Eigenschaften: Auswahlwerte</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wie erstelle ich einen Import?</div>
<div class="paragraph">
<p>Falls du noch nie mit dem Import-Tool gearbeitet hast, dann kannst du dich <a href="/daten/daten-importieren/ElasticSync">hier</a> mit den Grundlagen vertraut machen.
Diese Seite beschreibt nicht alle Importoptionen im Detail.
Stattdessen konzentriert sich die Seite auf ein praktisches Beispiel für den Import von Eigenschaften und Gruppen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="170">4.3. Abgleich-Einstellungen wählen</h3>
<div class="paragraph">
<p>Sobald du die Import-Einstellungen nach deinen Wünschen konfiguriert hast, wechselst du zu den <strong>Abgleich-Einstellungen</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Option <strong>Auswahl-ID</strong> ist nützlich, wenn du bestehende Auswahlwerte aktualisieren willst.</p>
</li>
<li>
<p>Die Option <strong>Auswahlname</strong> ist nützlich, wenn du neue Auswahlwerte erstellen willst.
Beachte, dass diese Option nur zusammen mit dem Abgleichfeld <strong>Eigenschaft-ID</strong> oder <strong>Eigenschaftsname</strong> verwendet werden kann.
Weitere Informationen findest du in der Tabelle unten.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Da wir in diesem Beispiel <em>neue Auswahlwerte</em> importieren möchten, konfiguriere die Einstellungen wie folgt:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahlname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei ist der Name des Auswahlwerts aufgeführt?
Wähle diese Spalte hier.
Dann wähle die Sprache des Namens aus der zweiten Dropdown-Liste aus.
Diese Option ist sinnvoll, wenn du <em>neue Auswahlwerte</em> erstellen möchtest.</p>
<p class="tableblock"><strong><em>Zusätzliche Einstellung</em></strong>: Diese Option kann nur zusammen mit dem Abgleichfeld <strong>Eigenschaft-ID</strong> oder <strong>Eigenschaftsname</strong> verwendet werden.
Warum?
Es ist möglich, denselben Auswahlnamen für verschiedene Eigenschaften zu hinterlegen.
Der Auswahlname ist also allein nicht eindeutig genug.
Verwende daher den Auswahlnamen zusammen mit der Eigenschafts-ID oder dem Eigenschaftsnamen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import Optionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Da du neue Auswahlwerte importieren wirst, wähle die Option <strong>Nur neue Daten importieren</strong> oder <strong>Neue Daten importieren, vorhandene aktualisieren</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-auswahlwerte-abgleich.png" alt="eigenschaften import auswahlwerte abgleich">
</div>
</div>
</div>
<div class="sect2">
<h3 id="180">4.4. Zuordnung-Einstellungen wählen</h3>
<div class="paragraph">
<p>Weiter geht’s mit den <strong>Zuordnungs-Einstellungen</strong>.
Hier legst du fest, welche Spalte der CSV-Datei welchem Datenfeld in plentymarkets entspricht.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-auswahlwerte-zuordnung.png" alt="eigenschaften import auswahlwerte zuordnung">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Liste der Datenfelder</div>
<div class="paragraph">
<p>Solltest du unsicher sein, was eine bestimmte Option bewirkt oder auf welches Datenfeld in plentymarkets sie sich bezieht, dann wirf einen Blick ins Handbuch.
Die Informationen sind <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften-auswahlwerte">hier</a> aufgelistet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="190">4.5. Import starten</h3>
<div class="paragraph">
<p>Bist du bereit, die Daten zu importieren?
Führe den Import aus und kontrolliere, dass die Daten korrekt in plentymarkets importiert wurden.</p>
</div>
<div class="paragraph instruction">
<p>Import ausführen und Ergebnis prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Aktiviere alle Zeilen der CSV-Datei, die importiert werden sollen (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Teste den Import (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) oder führe den Import aus (<span class="icon darkGrey"><i class="fa fa-play-circle-o  "></i></span>).<br>
<strong><em>Hinweis:</em></strong> Dies kann einige Minuten dauern.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Suche und öffne einige Eigenschaften vom Typ <strong>Auswahl</strong> oder <strong>Mehrfachauswahl</strong>.</p>
</li>
<li>
<p>Prüfe die Auswahlwerte.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Testlauf nutzen</div>
<div class="paragraph">
<p>Wir empfehlen, beim erstmaligen Import vorab den Testlauf (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) zu nutzen.
Damit werden die ersten 10 Zeilen der Datei ohne Cache importiert.
So kann man prüfen, ob der Import ordnungsgemäß läuft. Sollten sich Fehler eingeschlichen haben, kann man diese vor der kompletten Ausführung noch korrigieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Cache zurücksetzen</div>
<div class="paragraph">
<p>Direkt im Import findest du die Schaltfläche <strong>Cache zurücksetzen</strong> (<span class="icon "><i class="psicon-reload"></i></span>).
Mit dieser Schaltfläche kannst du den Import-Cache zurücksetzen, damit du eine Datei ohne vorherige Änderung erneut importieren kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">5. Eigenschaften mit Varianten verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Als Letztes legst du fest, welche Eigenschaften für welches Produkt gelten.
Dies kann auch per Import erfolgen.
Und zwar mit dem Import-Typ <strong>Artikel</strong>.
Dieser Importtyp ist extrem vielseitig.
Damit kannst du alle Informationen importieren, die in einem Artikeldatensatz zu finden sind.
Unter anderem auch die Eigenschaftsverknüpfungen.</p>
</div>
<div class="sect2">
<h3 id="210">5.1. CSV-Datei einrichten</h3>
<div class="paragraph">
<p>Würdest du die Eigenschaften manuell verknüpfen, dann würdest du Informationen dazu im plentymarkets-Backend eingeben.
Da du aber die Verknüpfungen importieren willst, trägst du die gleichen Daten in eine CSV-Datei ein.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Es kann einfacher sein, jeden Eigenschaftstyp einzeln zu importieren</div>
<div class="paragraph">
<p>In diesem Beispiel habe ich für jeden Eigenschaftstyp eine eigene CSV-Datei und einen eigenen Import erstellt.
Da die Eigenschaftstypen unterschiedliche Informationen erfordern, kann ich so den Prozess möglichst simpel halten.
Du kannst aber natürlich anders vorgehen, wenn das für deine Arbeitsabläufe besser funktioniert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Liste der gültigen Importwerte</div>
<div class="paragraph">
<p>Woher weiß man, welche Zeichenkombinationen in der CSV-Datei zulässig sind?
Wirf ganz einfach einen Blick ins Handbuch.
<a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2410">Hier</a> siehst du, welche Daten Pflichtfelder sind und wie du die einzelnen Optionen in deiner CSV-Datei angeben musst, damit sie von plentymarkets korrekt interpretiert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Typ: Ganze Zahl</strong></div>
<div class="content">
<div class="paragraph">
<p>Ich habe folgende Informationen in meine CSV-Datei eingegeben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Varianten-ID</strong> = Mit welcher Variante soll die Eigenschaft verknüpft werden?
Zum Beispiel mit den Bluetooth-Kopfhörer.
Sie haben die ID 1157.</p>
</li>
<li>
<p><strong>Eigenschaft-ID</strong> = Welche Eigenschaft soll verknüpft werden?
Zum Beispiel, die Reichweite.
Diese Eigenschaft hat die ID 49.</p>
</li>
<li>
<p><strong>Wert</strong> = Welchen Wert hat die Eigenschaft?
Zum Beispiel der Wert "10" Meter.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-verknuepfung-csv-ganzezahl.png" alt="eigenschaften import verknuepfung csv ganzezahl">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Typ: HTML</strong></div>
<div class="content">
<div class="paragraph">
<p>Ich habe folgende Informationen in meine CSV-Datei eingegeben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Varianten-ID</strong> = Mit welcher Variante soll die Eigenschaft verknüpft werden?
Zum Beispiel mit den Bluetooth-Kopfhörer.
Sie haben die ID 1157.</p>
</li>
<li>
<p><strong>Eigenschaft-ID</strong> = Welche Eigenschaft soll verknüpft werden?
Zum Beispiel, der Produkttext.
Diese Eigenschaft hat die ID 51.</p>
</li>
<li>
<p><strong>Wert</strong> = Welchen Wert hat die Eigenschaft?
Zum Beispiel der eigentliche Text.</p>
</li>
<li>
<p><strong>Sprache</strong> = Texte sind sprachspezifisch.
In dieser Spalte gebe ich also zusätzlich an, in welcher Sprache der Text verfasst wurde.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-verknuepfung-csv-html.png" alt="eigenschaften import verknuepfung csv html">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Typ: Auswahl</strong></div>
<div class="content">
<div class="paragraph">
<p>Ich habe folgende Informationen in meine CSV-Datei eingegeben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Varianten-ID</strong> = Mit welcher Variante soll die Eigenschaft verknüpft werden?
Zum Beispiel mit den Bluetooth-Kopfhörer.
Sie haben die ID 1157.</p>
</li>
<li>
<p><strong>Eigenschaft-ID</strong> = Welche Eigenschaft soll verknüpft werden?
Zum Beispiel die Frage, ob die Kopfhörer ein integriertes Mikrofon haben.
Diese Eigenschaft hat die ID 50.</p>
</li>
<li>
<p><strong>Auswahl-ID</strong> = Welche Auswahlmöglichkeit trifft in diesem Fall zu?
Zum Beispiel: "Ja", die Kopfhörer haben ein integriertes Mikrofon.
Dieser Auswahlwert hat die ID 54.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-verknuepfung-csv-auswahl.png" alt="eigenschaften import verknuepfung csv auswahl">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Typ: Mehrfachauswahl</strong></div>
<div class="content">
<div class="paragraph">
<p>Ich habe folgende Informationen in meine CSV-Datei eingegeben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Varianten-ID</strong> = Mit welcher Variante soll die Eigenschaft verknüpft werden?
Zum Beispiel mit den Bluetooth-Kopfhörer.
Sie haben die ID 1157.</p>
</li>
<li>
<p><strong>Eigenschaft-ID</strong> = Welche Eigenschaft soll verknüpft werden?
Zum Beispiel die Frage, welche Bluetooth-Profile der Kopfhörer unterstützt.
Diese Eigenschaft hat die ID 52.</p>
</li>
<li>
<p><strong>Mehrfachauswahl-IDs</strong> = Welche Auswahlmöglichkeiten treffen in diesem Fall zu?
Zum Beispiel: die Kopfhörer unterstützen die Profile A2DP, AVRCP, HFP und HSP.
Diese Auswahlwerte haben die IDs 56, 57, 58 und 59.</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-verknuepfung-csv-multi.png" alt="eigenschaften import verknuepfung csv multi">
</div>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="220">5.2. Import-Einstellungen wählen</h3>
<div class="paragraph">
<p>Sobald du alle Eigenschaftsverknüpfungen in deiner CSV-Datei gesammelt hast, öffne das Menü <strong>Daten » Import</strong> und erstelle einen neuen Import vom Typ <strong>Artikel</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wie erstelle ich einen Import?</div>
<div class="paragraph">
<p>Falls du noch nie mit dem Import-Tool gearbeitet hast, dann kannst du dich <a href="/daten/daten-importieren/ElasticSync">hier</a> mit den Grundlagen vertraut machen.
Diese Seite beschreibt nicht alle Importoptionen im Detail.
Stattdessen konzentriert sich die Seite auf ein praktisches Beispiel für den Import von Eigenschaften und Gruppen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="230">5.3. Abgleich-Einstellungen wählen</h3>
<div class="paragraph">
<p>Sobald du die Import-Einstellungen nach deinen Wünschen konfiguriert hast, wechselst du zu den <strong>Abgleich-Einstellungen</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die ID-Optionen sind nützlich, wenn du bestehende Varianten aktualisieren willst.</p>
</li>
<li>
<p>Die Namensoptionen sind nützlich, wenn du neue Varianten erstellen willst.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Da wir in diesem Beispiel <em>bestehende Varianten</em> aktualisieren möchten, konfiguriere die Einstellungen wie folgt:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei werden die Varianten-IDs aufgeführt? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>bestehende Varianten aktualisieren</em> möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import Optionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Da du bestehende Varianten aktualisieren möchtest, wähle die Option <strong>Nur vorhandene Daten aktualisieren</strong> oder <strong>Neue Daten importieren, vorhandene aktualisieren</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-verknuepfung-abgleich.png" alt="eigenschaften import verknuepfung abgleich">
</div>
</div>
</div>
<div class="sect2">
<h3 id="240">5.4. Zuordnung-Einstellungen wählen</h3>
<div class="paragraph">
<p>Weiter geht’s mit den <strong>Zuordnungs-Einstellungen</strong>.
Hier legst du fest, welche Spalte der CSV-Datei welchem Datenfeld in plentymarkets entspricht.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Es kann einfacher sein, jeden Eigenschaftstyp einzeln zu importieren</div>
<div class="paragraph">
<p>In diesem Beispiel habe ich für jeden Eigenschaftstyp eine eigene CSV-Datei und einen eigenen Import erstellt.
Da die Eigenschaftstypen unterschiedliche Informationen erfordern, kann ich so den Prozess möglichst simpel halten.
Du kannst aber natürlich anders vorgehen, wenn das für deine Arbeitsabläufe besser funktioniert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Liste der Datenfelder</div>
<div class="paragraph">
<p>Solltest du unsicher sein, was eine bestimmte Option bewirkt oder auf welches Datenfeld in plentymarkets sie sich bezieht, dann wirf einen Blick ins Handbuch.
Die Informationen sind <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2410">hier</a> aufgelistet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Typ: Ganze Zahl</strong></div>
<div class="content">
<div class="paragraph">
<p>Ich habe die Zuordnung-Einstellungen wie folgt gewählt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Eigenschaft-ID</strong></p>
</li>
<li>
<p><strong>Wert</strong></p>
</li>
<li>
<p><strong>Varianten-ID</strong> = Ich habe die Varianten-ID bereits als Abgleichfeld verwendet.
Ich muss sie nicht auch als Zuordnungsfeld verwenden.
Daher lasse ich diese Zeile inaktiv (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>).</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-verknuepfung-zuordnung-ganzezahl.png" alt="eigenschaften import verknuepfung zuordnung ganzezahl">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Typ: HTML</strong></div>
<div class="content">
<div class="paragraph">
<p>Ich habe die Zuordnung-Einstellungen wie folgt gewählt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Eigenschaft-ID</strong></p>
</li>
<li>
<p><strong>Wert</strong></p>
</li>
<li>
<p><strong>Sprache</strong></p>
</li>
<li>
<p><strong>Varianten-ID</strong> = Ich habe die Varianten-ID bereits als Abgleichfeld verwendet.
Ich muss sie nicht auch als Zuordnungsfeld verwenden.
Daher lasse ich diese Zeile inaktiv (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>).</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-verknuepfung-zuordnung-html.png" alt="eigenschaften import verknuepfung zuordnung html">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Typ: Auswahl</strong></div>
<div class="content">
<div class="paragraph">
<p>Ich habe die Zuordnung-Einstellungen wie folgt gewählt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Eigenschaft-ID</strong></p>
</li>
<li>
<p><strong>Auswahl-ID</strong></p>
</li>
<li>
<p><strong>Varianten-ID</strong> = Ich habe die Varianten-ID bereits als Abgleichfeld verwendet.
Ich muss sie nicht auch als Zuordnungsfeld verwenden.
Daher lasse ich diese Zeile inaktiv (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>).</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-verknuepfung-zuordnung-auswahl.png" alt="eigenschaften import verknuepfung zuordnung auswahl">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Typ: Mehrfachauswahl</strong></div>
<div class="content">
<div class="paragraph">
<p>Ich habe die Zuordnung-Einstellungen wie folgt gewählt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Eigenschaft-ID</strong></p>
</li>
<li>
<p><strong>Mehrfachauswahl-IDs</strong></p>
</li>
<li>
<p><strong>Varianten-ID</strong> = Ich habe die Varianten-ID bereits als Abgleichfeld verwendet.
Ich muss sie nicht auch als Zuordnungsfeld verwenden.
Daher lasse ich diese Zeile inaktiv (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>).</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/eigenschaften-import-verknuepfung-zuordnung-multi.png" alt="eigenschaften import verknuepfung zuordnung multi">
</div>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="250">5.5. Import starten</h3>
<div class="paragraph">
<p>Bist du bereit, die Daten zu importieren?
Führe den Import aus und kontrolliere, dass die Daten korrekt in plentymarkets importiert wurden.</p>
</div>
<div class="paragraph instruction">
<p>Import ausführen und Ergebnis prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Aktiviere alle Zeilen der CSV-Datei, die importiert werden sollen (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Teste den Import (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) oder führe den Import aus (<span class="icon darkGrey"><i class="fa fa-play-circle-o  "></i></span>).<br>
<strong><em>Hinweis:</em></strong> Dies kann einige Minuten dauern.</p>
</li>
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Suche und öffne einige Artikel.</p>
</li>
<li>
<p>Prüfe, ob die Eigenschaften in den Tabs <strong>Eigenschaften</strong> und <strong>Texte</strong> korrekt verknüpft wurden.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Testlauf nutzen</div>
<div class="paragraph">
<p>Wir empfehlen, beim erstmaligen Import vorab den Testlauf (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) zu nutzen.
Damit werden die ersten 10 Zeilen der Datei ohne Cache importiert.
So kann man prüfen, ob der Import ordnungsgemäß läuft. Sollten sich Fehler eingeschlichen haben, kann man diese vor der kompletten Ausführung noch korrigieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Cache zurücksetzen</div>
<div class="paragraph">
<p>Direkt im Import findest du die Schaltfläche <strong>Cache zurücksetzen</strong> (<span class="icon "><i class="psicon-reload"></i></span>).
Mit dieser Schaltfläche kannst du den Import-Cache zurücksetzen, damit du eine Datei ohne vorherige Änderung erneut importieren kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>