<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_service_center_aufrufen"><span>1.</span><span> Service-Center aufrufen</span></a></li>
<li><a href="#_versions_update"><span>2.</span><span> Versions-Update</span></a></li>
<li><a href="#vertrag"><span>3.</span><span> Vertrag</span></a>
<ul class="sectlevel2">
<li><a href="#_vertrag_anpassen"><span>3.1.</span><span> Vertrag anpassen</span></a></li>
<li><a href="#_vertrag_kündigen"><span>3.2.</span><span> Vertrag kündigen</span></a></li>
</ul>
</li>
<li><a href="#domain"><span>4.</span><span> Domain</span></a>
<ul class="sectlevel2">
<li><a href="#_informationen_zu_domains"><span>4.1.</span><span> Informationen zu Domains</span></a></li>
<li><a href="#_neue_domains_in_plentymarkets"><span>4.2.</span><span> Neue Domains in plentymarkets</span></a>
<ul class="sectlevel3">
<li><a href="#_neue_domain_bestellen"><span>4.2.1.</span><span> Neue Domain bestellen</span></a></li>
<li><a href="#_domain_umziehen"><span>4.2.2.</span><span> Domain umziehen</span></a></li>
<li><a href="#_neue_externe_domain_anlegen"><span>4.2.3.</span><span> Neue externe Domain anlegen</span></a></li>
<li><a href="#_neue_subdomain_anlegen"><span>4.2.4.</span><span> Neue Subdomain anlegen</span></a></li>
<li><a href="#_subdomain_löschen"><span>4.2.5.</span><span> Subdomain löschen</span></a></li>
</ul>
</li>
<li><a href="#_domain_einstellungen_vornehmen"><span>4.3.</span><span> Domain-Einstellungen vornehmen</span></a>
<ul class="sectlevel3">
<li><a href="#_domain_handle"><span>4.3.1.</span><span> Domain-Handle</span></a></li>
<li><a href="#_domain_kündigen"><span>4.3.2.</span><span> Domain kündigen</span></a></li>
<li><a href="#_aktuelle_dns_einstellungen"><span>4.3.3.</span><span> Aktuelle DNS-Einstellungen</span></a>
<ul class="sectlevel4">
<li><a href="#_dns_einstellungen_bei_externem_domain_provider_ändern"><span>DNS-Einstellungen bei externem Domain-Provider ändern</span></a></li>
<li><a href="#_externe_domains_dns_einstellungen_für_autoscaling_aktualisieren"><span>Externe Domains: DNS-Einstellungen für AutoScaling aktualisieren</span></a></li>
</ul>
</li>
<li><a href="#domain-nameserver"><span>4.3.4.</span><span> Nameserver</span></a></li>
<li><a href="#domain-mailserver"><span>4.3.5.</span><span> Mailserver</span></a></li>
<li><a href="#_systemverknüpfung"><span>4.3.6.</span><span> Systemverknüpfung</span></a></li>
<li><a href="#domain-auth-code"><span>4.3.7.</span><span> Domain Auth-Code</span></a></li>
<li><a href="#_cname_resource_record"><span>4.3.8.</span><span> CNAME Resource Record</span></a></li>
<li><a href="#_txt_record"><span>4.3.9.</span><span> TXT Record</span></a></li>
<li><a href="#200"><span>4.3.10.</span><span> Nameserver für Subdomains speichern</span></a></li>
<li><a href="#_domain_umzug"><span>4.3.11.</span><span> Domain-Umzug</span></a></li>
<li><a href="#_url_weiterleitungen"><span>4.3.12.</span><span> URL-Weiterleitungen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#ssl-zertifikat"><span>5.</span><span> SSL-Zertifikat</span></a>
<ul class="sectlevel2">
<li><a href="#_inhalt_dieser_seite"><span>5.1.</span><span> Inhalt dieser Seite</span></a></li>
<li><a href="#_informationen_zu_ssl_zertifikaten"><span>5.2.</span><span> Informationen zu SSL-Zertifikaten</span></a></li>
<li><a href="#_restlaufzeit_ihres_ssl_zertifikats"><span>5.3.</span><span> Restlaufzeit Ihres SSL-Zertifikats</span></a></li>
<li><a href="#_neues_ssl_zertifikat_bestellen"><span>5.4.</span><span> Neues SSL-Zertifikat bestellen</span></a></li>
<li><a href="#_ssl_zertifikat_deaktivieren"><span>5.5.</span><span> SSL-Zertifikat deaktivieren</span></a></li>
<li><a href="#_externe_domain_oder_externes_ssl"><span>5.6.</span><span> Externe Domain oder externes SSL</span></a></li>
</ul>
</li>
<li><a href="#_mandant_shop"><span>6.</span><span> Mandant (Shop)</span></a>
<ul class="sectlevel2">
<li><a href="#_prüfen_domain_angelegt"><span>6.1.</span><span> Prüfen: Domain angelegt?</span></a></li>
<li><a href="#_einen_mandanten_shop_bestellen"><span>6.2.</span><span> Einen Mandanten (Shop) bestellen</span></a></li>
<li><a href="#_mandant_shop_kündigen"><span>6.3.</span><span> Mandant (Shop) kündigen</span></a></li>
<li><a href="#_domain_einstellungen_von_mandanten_shops_bearbeiten"><span>6.4.</span><span> Domain-Einstellungen von Mandanten (Shops) bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#cache"><span>7.</span><span> Cache</span></a>
<ul class="sectlevel2">
<li><a href="#_caching_funktion"><span>7.1.</span><span> Caching-Funktion</span></a></li>
<li><a href="#_cache_temporär_deaktivieren"><span>7.2.</span><span> Cache temporär deaktivieren</span></a></li>
<li><a href="#_permanente_ssl_umleitung"><span>7.3.</span><span> Permanente SSL-Umleitung</span></a></li>
</ul>
</li>
<li><a href="#_ihre_agentur"><span>8.</span><span> Ihre Agentur</span></a>
<ul class="sectlevel2">
<li><a href="#_zertifizierten_dienstleistern_zugriff_gewähren"><span>8.1.</span><span> Zertifizierten Dienstleistern Zugriff gewähren</span></a></li>
<li><a href="#_ansicht_für_agenturen"><span>8.2.</span><span> Ansicht für Agenturen</span></a></li>
</ul>
</li>
<li><a href="#_hosting"><span>9.</span><span> Hosting</span></a>
<ul class="sectlevel2">
<li><a href="#_verbrauchsdaten_anzeigen"><span>9.1.</span><span> Verbrauchsdaten anzeigen</span></a></li>
<li><a href="#_wissenswertes_zum_thema_traffic"><span>9.2.</span><span> Wissenswertes zum Thema Traffic</span></a></li>
</ul>
</li>
<li><a href="#_umzug"><span>10.</span><span> Umzug</span></a>
<ul class="sectlevel2">
<li><a href="#_voraussetzungen_für_einen_systemumzug"><span>10.1.</span><span> Voraussetzungen für einen Systemumzug</span></a></li>
<li><a href="#_umzug_planen"><span>10.2.</span><span> Umzug planen</span></a></li>
<li><a href="#_geplanten_umzug_abbrechen"><span>10.3.</span><span> Geplanten Umzug abbrechen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>plentymarkets Konto</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Start » Service-Center</strong> finden Sie Informationen und Konfigurationsmöglichkeiten zu Ihrem plentymarkets System. Sie können hier selbständig Änderungen vornehmen, z.B. Module buchen, Domains oder Subdomains bestellen oder Ihren Vertrag ändern.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_service_center_aufrufen">1. Service-Center aufrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um die Einstellungen Ihres Systems aufzurufen.</p>
</div>
<div class="paragraph instruction">
<p>Service-Center aufrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Service-Center</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das blaue <strong>Plus</strong> des gewünschten Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die verfügbaren Tabs werden nachfolgend beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_versions_update">2. Versions-Update</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets befindet sich in einem ständigen Prozess der Weiterentwicklung und Optimierung. Normalerweise werden einmal pro Woche eine neue Beta- und eine neue Stable-Version veröffentlicht und Ihr System automatisch aktualisiert. Eine Übersicht der Änderungen finden Sie in den Changelogs dieser Versionen. Die Changelogs finden Sie im plentymarkets Forum. Dort werden auch wichtige Hinweise, z.B. ToDos, zur Version veröffentlicht. In einigen Fällen müssen nach einem Versionswechsel manuell Anpassungen vorgenommen oder Einstellungen geprüft bzw. getestet werden. Mit welcher plentymarkets Version Sie arbeiten, wird in Ihrem plentymarkets Backend links oben angezeigt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="vertrag">3. Vertrag</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Start » Service-Center » Tab: Vertrag</strong> werden Ihnen Informationen zu Ihrem laufenden plentymarkets Vertrag angezeigt. Über dieses Menü nehmen Sie Änderungen an Ihrem Vertrag vor oder geben eine Kündigung Ihres Vertrags in Auftrag.</p>
</div>
<div class="sect2">
<h3 id="_vertrag_anpassen">3.1. Vertrag anpassen</h3>
<div class="paragraph">
<p>plentymarkets wächst mit Ihren Bedürfnissen. Sie entscheiden selbst, wie viele Aufträge Sie pro Monat mit plentymarkets bewältigen möchten. Wir stellen Ihnen dafür die nötige Systemleistung zur Verfügung. Im Tab <strong>Vertrag</strong> können Sie eigenständig Ihren plentymarkets Vertrag im laufenden Betrieb anpassen. Dies ist z.B. sinnvoll, wenn Sie mehr Aufträge generieren, als im bestehenden Vertrag enthalten sind. Die Buchung einer höheren Anzahl an Aufträgen ist jederzeit möglich. Wenn Sie eine niedrigere Anzahl buchen, wird diese erst nach Ablauf der regulären Laufzeit Ihres aktuellen Vertrags wirksam.</p>
</div>
<div class="paragraph instruction">
<p>Vertrag ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Service-Center</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Vertrag</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Zum Systemkonfigurator</strong>.</p>
</li>
<li>
<p>Passen Sie die Vertragsdetails wie gewünscht an.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_vertrag_kündigen">3.2. Vertrag kündigen</h3>
<div class="paragraph">
<p>Sie haben im Tab <strong>Vertrag</strong> des Service-Centers auch die Möglichkeit, Ihren Vertrag mit plentymarkets zu kündigen. Klicken Sie auf <strong>Vertrag kündigen</strong>, um eine Kündigung Ihres Vertrags in Auftrag zu geben.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="domain">4. Domain</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Start » Service-Center » Tab: Domain</strong> finden Sie Funktionen zur Domainverwaltung. Die Parameter Ihrer Domains werden hier angezeigt und sind teilweise änderbar. Hier bestellen Sie auch eine neue Domain oder ziehen eine bereits bestehende Domain um. Außerdem legen Sie eine bestehende externe Domain oder eine Subdomain zu einer Hauptdomain an.</p>
</div>
<div class="sect2">
<h3 id="_informationen_zu_domains">4.1. Informationen zu Domains</h3>
<div class="paragraph">
<p>Die folgende Tabelle enthält Erläuterungen zu den verschiedenen Domain-Typen.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Art</th>
<th class="tableblock halign-left valign-top">Zusatz</th>
<th class="tableblock halign-left valign-top">Beispielname</th>
<th class="tableblock halign-left valign-top">TLD</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Domain</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><hr></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ihrwebshop</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Begriff "Domain" bezeichnet in der Regel eine Internetadresse in Form eines Namens sowie einer Erweiterung, der Top-Level-Domain. Der Name ist frei wählbar. Eine Domain ist einmalig und darf weltweit nicht doppelt vorkommen. Bei der Registrierung der Domain, z.B. bei einem Hosting-Dienstleister, wird daher geprüft, ob eine gewünschte Domain noch nicht vergeben ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Subdomain</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>info.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ihrwebshop</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zu einer Domain sind beliebig viele Subdomains möglich. Subdomains sind ohne Registrierung möglich. Für eine Subdomain werden Varianten des Namens verwendet, die dem Domainnamen durch einen Punkt getrennt vorangestellt oder angefügt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Weitere Domains</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><hr></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ihr-webshop<br>
ihr_webshop</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Weitere Domains werden z.B. mit alternativen Namen der Hauptdomain angelegt und zeigen auf die Hauptdomain, damit diese möglichst auch bei anderen Schreibweisen gefunden wird. So wäre für obiges Beispiel die weitere Domain <strong>ihr-webshop.de</strong> sinnvoll, damit die Hauptdomain <strong>ihrwebshop.de</strong> auch bei Schreibweise mit Bindestrich erreicht wird. Für weitere Domains sind die Namen und Top-Level-Domains frei wählbar. Jede weitere Domain erhält die IP-Adresse der Hauptdomain.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Beispiele für Domains</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_neue_domains_in_plentymarkets">4.2. Neue Domains in plentymarkets</h3>
<div class="paragraph">
<p>Nachfolgend wird beschrieben, wie Sie neue Domains bestellen, neue externe Domains bzw. Subdomains anlegen und eine Subdomain löschen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Verfügbarkeit nach Ersteinrichtung bzw. Änderungen</div>
<div class="paragraph">
<p>Es kann bis zu 24 Stunden dauern, bis alle Einstellungen auf allen Systemen zur Verfügung stehen. Wurden Einstellungen nach 16 Uhr vorgenommen, werden sie erst am Folgetag ab 16 Uhr verarbeitet. Wurden die Einstellungen am Wochenende vorgenommen, werden sie erst am folgenden Montag ab 16 Uhr verarbeitet. Diese Verarbeitung kann bis zu 12 Stunden dauern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_neue_domain_bestellen">4.2.1. Neue Domain bestellen</h4>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um eine neue Domain zu bestellen.</p>
</div>
<div class="paragraph instruction">
<p>Neue Domain bestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Service-Center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neue Domain bestellen</strong>.</p>
</li>
<li>
<p>Tragen Sie den gewünschten Domain-Namen ein.</p>
</li>
<li>
<p>Wählen Sie die Top-Level-Domain (TLD) aus dem Dropdown-Menü, z.B. <strong>de</strong> oder <strong>com</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Prüfen</strong>.<br>
→  Das System prüft, ob die Domain verfügbar ist.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Sie erhalten Informationen über die monatlichen Kosten der Nutzung. Nach Eintrag der Kontaktdaten (Domain Handle) und der Zuordnung des plentymarkets Systems bestellen Sie die Domain über <strong>Zahlungspflichtig bestellen</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Registrieren von .com-Domains</div>
<div class="paragraph">
<p>Bei Registrierungen einer .com-Domain erhalten Sie eine E-Mail, in der Sie die eingegebenen WHOIS-Daten bestätigen müssen. Diese E-Mail wird an die E-Mail-Adresse verschickt, die in den Handle-Daten (WHOIS) unter ADMIN-C eingetragen ist. Wenn Sie keine E-Mail erhalten, prüfen Sie, ob die E-Mail-Adresse vorhanden und funktional ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_domain_umziehen">4.2.2. Domain umziehen</h4>
<div class="paragraph">
<p>Wenn die Domain bereits vorhanden ist, haben Sie die Möglichkeit, die Domain umzuziehen. Gehen Sie dazu wie im Kapitel <strong>Domain bestellen</strong> vor. Sie werden durch das Menü geführt.</p>
</div>
<div class="paragraph instruction">
<p>Wichtige Hinweise zum Domain-Transfer:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Halten Sie den Auth-Code Ihres bisherigen Providers bereit, da dieser eingegeben werden muss.</p>
</li>
<li>
<p>Die Bearbeitungszeiten können je nach Top-Level-Domain unterschiedlich sein:</p>
</li>
<li>
<p>Bei <strong>.de</strong>-Domains: bis zu 24 Stunden</p>
</li>
<li>
<p>Bei <strong>.com</strong>- und <strong>.net</strong>-Domains: 3 bis 7 Tage</p>
</li>
<li>
<p>Bei <strong>.eu</strong>-Domains: bis zu 5 Tage</p>
</li>
<li>
<p>Bei Domaintransfer einer <strong>.com</strong>- oder <strong>.net</strong>-Domain erhalten Sie eine E-Mail, in der Sie dem Transfer zustimmen müssen. Diese E-Mail wird an die E-Mail-Adresse verschickt, die in den Handle-Daten (WHOIS) unter ADMIN-C eingetragen ist. Wenn Sie keine E-Mail erhalten, prüfen Sie, ob die E-Mail-Adresse vorhanden und funktional ist. Wenn es die E-Mail-Adresse nicht mehr gibt, kontaktieren Sie Ihren aktuellen Domainprovider, um die E-Mail-Adresse ändern zu lassen.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="_neue_externe_domain_anlegen">4.2.3. Neue externe Domain anlegen</h4>
<div class="paragraph">
<p>Über die Option <strong>Neue externe Domain anlegen</strong> verknüpfen Sie eine bestehende externe Domain mit dem gewünschten plentymarkets System. Die IP-Adresse der Domain wird dann in der Domain-Übersicht angezeigt. Hinterlegen Sie dann die DNS-Daten, die Sie in Ihrem Service Center unter <strong>Aktuelle DNS Einstellungen</strong> der neu angelegten, externen Domain einsehen können, im DNS-Zonenbereich Ihres Hosting-Dienstleisters. Sollte eine IPv6-A-Record in Ihrer extern verwalteten Domain vorhanden sein, entfernen Sie dieses IPv6-A-Record.</p>
</div>
</div>
<div class="sect3">
<h4 id="_neue_subdomain_anlegen">4.2.4. Neue Subdomain anlegen</h4>
<div class="paragraph">
<p>Sie können zu einer Domain beliebig viele Subdomains anlegen. Eine Registrierung dieser Subdomains ist nicht erforderlich. Sie können z.B. zur Domain <strong>ihrshop.de</strong> die Subdomain <strong>info.ihrshop.de</strong> anlegen, um über diese Domain Informationen zu Ihrem Webshop zur Verfügung zu stellen. Die Verknüpfung erfolgt über die Wahl der Hauptdomain im Dropdown-Menü. Darüber hinaus muss das plentymarkets System zugeordnet werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verfügbarkeit bzw. Aktualisierung</div>
<div class="paragraph">
<p>Es dauert bis zu 24 Stunden, bis neue Domains oder Änderungen verfügbar sind. Grund ist, dass die Server in Zeitabständen neu gestartet werden und die Daten nicht sofort in der Cloud verteilt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_subdomain_löschen">4.2.5. Subdomain löschen</h4>
<div class="paragraph">
<p>Sie können eine Subdomain löschen. Gehen Sie dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Subdomain löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Service-Center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>blaue Plus</strong> der Subdomain, die Sie löschen möchten.<br>
→  Die Daten zur gewählten Subdomain werden eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Subdomain löschen</strong>.<br>
→  Die Subdomain wird aus dem System gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_domain_einstellungen_vornehmen">4.3. Domain-Einstellungen vornehmen</h3>
<div class="paragraph">
<p>Abhängig von Ihrer Systemkonfiguration stehen folgende Bereiche zur Verfügung, die Einstellungen nur anzeigen oder zur Anpassung bereitstellen.</p>
</div>
<div class="sect3">
<h4 id="_domain_handle">4.3.1. Domain-Handle</h4>
<div class="paragraph">
<p>Hier hinterlegen Sie die Kontaktdaten des Domain-Inhabers.</p>
</div>
<div class="paragraph instruction">
<p>Kontaktdaten hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Domain-Handle</strong>.</p>
</li>
<li>
<p>Hinterlegen Sie in dem angezeigten Fenster die Kontaktdaten des Domain-Inhabers.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_domain_kündigen">4.3.2. Domain kündigen</h4>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um eine Domain zu kündigen.</p>
</div>
<div class="paragraph instruction">
<p>Domain kündigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Domain kündigen</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bestätigungsfenster auf <strong>Ja</strong>, um Ihre Domain zu kündigen.<br>
→ Das Vertragsende wird in einem neuen Fenster angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Kündigung der Hauptdomain</div>
<div class="paragraph">
<p>Kündigen Sie Ihre Hauptdomain nur, wenn Sie auch Ihren plentymarkets Systemvertrag kündigen möchten. Hinterlegen Sie sonst immer eine neue Hauptdomain.<br>
Beachten Sie im Falle einer Kündigung des Systemvertrags die Kündigungsfristen. Wenn Sie die Hauptdomain zu früh kündigen, kann der Vertrag der Domain unter Umständen früher auslaufen als der Systemvertrag. Das System ist dann nicht mehr erreichbar, obwohl der Systemvertrag noch läuft.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Kündigung eines Mandanten</div>
<div class="paragraph">
<p>Bei Kündigung eines Mandanten werden die zugehörigen Domains ebenfalls gekündigt. Ordnen Sie über die Systemverknüpfung bei Bedarf einen anderen Mandanten zu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_aktuelle_dns_einstellungen">4.3.3. Aktuelle DNS-Einstellungen</h4>
<div class="paragraph">
<p>In diesem Bereich des Service-Centers werden die DNS-Einstellungen Ihrer Domain angezeigt. DNS steht für Domain Name System. DNS sorgt dafür, dass Ihre Kunden nicht die numerische IP-Adresse Ihres Webshops eingeben müssen, sondern auch der Domain-Name der richtigen IP-Adresse zugeordnet wird.</p>
</div>
<div class="sect4">
<h5 id="_dns_einstellungen_bei_externem_domain_provider_ändern">DNS-Einstellungen bei externem Domain-Provider ändern</h5>
<div class="paragraph">
<p>Wenn Ihre Domain von einem externen Provider gehostet wird, müssen Sie die DNS-Einstellungen Ihres plentymarkets Systems bei diesem externen Domain-Provider speichern. Gehen Sie wie unten beschrieben vor, um die DNS-Einstellungen abzurufen, um sie beim externen Provider zu speichern.</p>
</div>
<div class="paragraph instruction">
<p>DNS-Einstellungen abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Service-Center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das blaue Plus der Domain, für die Sie DNS-Einstellungen abrufen möchten.<br></p>
</li>
<li>
<p>In der Tabelle <strong>Aktuelle DNS-Einstellungen</strong> werden die DNS-Einstellungen angezeigt.</p>
</li>
<li>
<p>Loggen Sie sich in den Service-Bereich Ihres Domain-Providers ein.</p>
</li>
<li>
<p>Kopieren Sie die im plentymarkets Service-Center angezeigten DNS-Einstellungen in die vorgesehenen Felder des Domain-Providers.<br>
→  Informationen zur Vorgehensweise finden Sie in der Dokumentation des Domain-Providers.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→  Die DNS-Einstellungen werden aktualisiert.<br>
<strong><em>Hinweis:</em></strong> Es kann bis zu 72 Stunden dauern, bis die Änderungen wirksam werden. Hierauf hat plentymarkets keinen Einfluss.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Aktuelle DNS-Einstellungen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Eintrag</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DNS Source</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>DNS-Quelle</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DNS Record Type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Typ des DNS-Eintrags<br>
<strong>A</strong> =  Zuweisung einer IPv4-Adresse<br>
<strong>CNAME</strong> = Zuweisung eines anderen Hosts</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DNS Target</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Das Ziel, auf das der Eintrag verweist.<br>
IP-Adresse = Die IP-Adresse, unter der das plentymarkets System erreichbar ist.<br>
CNAME = Die Adresse des AWS-Loadbalancer-Endpunkts, der Elastic Load Balancing, d.h. AutoScaling, bereitstellt.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect4">
<h5 id="_externe_domains_dns_einstellungen_für_autoscaling_aktualisieren">Externe Domains: DNS-Einstellungen für AutoScaling aktualisieren</h5>
<div class="paragraph">
<p>Wenn Ihre Domain von einem externen Provider gehostet wird, müssen Sie die DNS-Einstellungen des plentymarkets Systems beim Domain-Provider anpassen, um von AutoScaling zu profitieren. Gehen Sie wie unten beschrieben vor, um die DNS-Einstellungen der externen Domain anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>DNS-Einstellungen anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Service-Center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das blaue Plus der Domain, für die Sie DNS-Einstellungen abrufen möchten.<br></p>
</li>
<li>
<p>In der Tabelle <strong>Aktuelle DNS-Einstellungen</strong> werden die DNS-Einstellungen angezeigt.</p>
</li>
<li>
<p>Prüfen Sie, ob ein CNAME-Eintrag mit dem Alias xxxx.eu-central-1.elb.amazonaws.com vorhanden ist.<br>
→ Wenn der CNAME-Eintrag vorhanden ist, wurde das System auf AutoScaling vorbereitet. Fahren Sie mit Schritt 5 fort.</p>
</li>
<li>
<p>Loggen Sie sich in den Service-Bereich Ihres Domain-Providers ein.</p>
</li>
<li>
<p>Kopieren Sie die im plentymarkets Service-Center angezeigten DNS-Einstellungen in die vorgesehenen Felder des Domain-Providers.<br>
→  Informationen zur Vorgehensweise finden Sie in der Dokumentation des Domain-Providers.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→  Die DNS-Einstellungen werden aktualisiert.<br>
<strong><em>Hinweis:</em></strong> Es kann bis zu 72 Stunden dauern, bis die Änderungen wirksam werden. Hierauf hat plentymarkets keinen Einfluss.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Aktuelle DNS-Einstellungen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Eintrag</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DNS Source</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>DNS-Quelle</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DNS Record Type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Typ des DNS-Eintrags<br>
<strong>A</strong> =  Zuweisung einer IPv4-Adresse<br>
<strong>CNAME</strong> = Zuweisung eines anderen Hosts</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DNS Target</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Das Ziel, auf das der Eintrag verweist.<br>
IP-Adresse = Die IP-Adresse, unter der das plentymarkets System erreichbar ist.<br>
CNAME = Die Adresse des AWS-Loadbalancer-Endpunkts, der Elastic Load Balancing, d.h. AutoScaling, bereitstellt.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>DNS-Check durchführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>DNS-Check</strong>.<br>
→ Die Informationen werden in einem neuen Fenster angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong>MX</strong> steht für Mail Exchange Resource Record. Hierbei handelt es sich um die Parameter der <a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#domain-mailserver">Mailserver</a>, die für den Empfang und den Versand von E-Mails zur Verfügung stehen.</p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="domain-nameserver">4.3.4. Nameserver</h4>
<div class="paragraph">
<p>Hier wird der aktuell verwendete Domain Name Server (DNS) angezeigt.</p>
</div>
</div>
<div class="sect3">
<h4 id="domain-mailserver">4.3.5. Mailserver</h4>
<div class="paragraph">
<p>Hier sind die Mailserver hinterlegt, die für den Empfang und den Versand von E-Mails zur Verfügung stehen. Bei Verwendung des plentymarkets Mailservers sind keine weiteren Einstellungen erforderlich. Für einen eigenen Server hinterlegen Sie die Werte für die IP-Adresse sowie ggf. MX10 bis MX40. Dabei hat der Server MX10 Priorität vor MX20, d.h. E-Mails werden zuerst an den Mailserver MX10 geschickt und erst wenn dieser nicht verfügbar ist an Mailserver MX20. Je niedriger der MX-Zahlenwert ist, desto höher die Priorität. Für eine optimale Verfügbarkeit sollten mindestens zwei Mailserver hinterlegt sein, damit der E-Mail-Empfang bei Ausfall oder Wartung eines Mailservers gewährleistet ist.</p>
</div>
<div class="paragraph">
<p>Wenn Sie eine neue Domain bestellen, ist der mailbox-org-Mailserver vorausgewählt. Bei extern verwalteten Domains sowie Domains mit externer Systemverknüpfung steht der plentymarkets Mailserver nicht zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>Mailserver speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Service-Center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>blaue Plus</strong> der Domain, für die Sie einen Mailserver speichern möchten.</p>
</li>
<li>
<p>Wählen Sie im Dropdownmenü <strong>Mailserver</strong> die Option <strong>plentymarkets Mailserver</strong> oder <strong>Eigener Mailserver</strong>.</p>
</li>
<li>
<p>Nehmen Sie bei Verwendung eines eigenen Mailservers die in Tabelle 2 erläuterten Einstellungen vor.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Mailserver speichern</strong>, um die Einstellungen zu speichern.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Externen Mailserver konfigurieren</div>
<div class="paragraph">
<p>Konfigurieren Sie bei Verwendung eines eigenen Mailservers den externen Mailserver, bevor Sie die Parameter in diesem Bereich eintragen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>IP-Adresse des Posteingangsservers eintragen. Der Zugriff erfolgt über die Adresse <strong>mail.ihredomain.de</strong>.<br>
Die Parameter gemäß dem Namen Ihrer Domain wählen. Auf dieser Seite werden nur Beispiele verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MX10</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mailserver für den E-Mail-Empfang eintragen. Höchste Priorität (10)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MX20</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Weiteren Mailserver für den E-Mail-Empfang eintragen. Zweithöchste Priorität (20)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MX30</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Weiteren Mailserver für den E-Mail-Empfang eintragen. Dritthöchste Priorität (30)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MX40</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Weiteren Mailserver für den E-Mail-Empfang eintragen. Niedrigste Priorität (40)</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Parameter zur Konfiguration eigener Mailserver</em></p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr über das Hinterlegen von E-Mail-Zugangsdaten am Beispiel der E-Mail-Dienste von 1&amp;1 im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/173595675" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_systemverknüpfung">4.3.6. Systemverknüpfung</h4>
<div class="paragraph">
<p>Sie können die Domain hier mit einem plentymarkets System verknüpfen bzw. eine Systemverknüpfung ändern. Pro plentymarkets Mandant können Sie, wenn Sie mehrere Domains eingerichtet haben, eine davon als Hauptdomain festlegen. Die URL wird dann auch bei den anderen Domains in der Adresszeile des Browsers angezeigt. Bis alle Einstellungen bzw. Änderungen auf allen Systemen zur Verfügung stehen, können bis zu 24 Stunden vergehen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Umstellung der Hauptdomain</div>
<div class="paragraph">
<p>Bei einer Umstellung der Hauptdomain muss die URL auf allen Plattformen bzw. in den Einstellungen der Schnittstellen Ihres plentymarkets Systems, z.B. bei Zahlungsanbietern, entsprechend angepasst werden.<br>
Speichern Sie außerdem im Menü <a href="/auftragsabwicklung/payment/bankdaten-verwalten#70">System » Aufträge » Zahlung » EBICS</a> die dort bereits hinterlegten Daten erneut, um die Grundeinstellungen zu aktualisieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Externe Systemverknüpfung</div>
<div class="paragraph">
<p>Die Verknüpfung des plentymarkets Systems mit einem externen Server kann nicht vorgenommen werden, wenn es sich bei der Domain um eine Hauptdomain handelt. Hinterlegen Sie in diesem Fall zunächst eine andere Domain als Hauptdomain.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>plentymarkets System verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie das plentymarkets System, mit dem Sie die Domain verknüpfen möchten.</p>
</li>
<li>
<p>Wenn Sie einen eigenen Server verwenden, wählen Sie die Einstellung <strong>externer Server</strong>.</p>
</li>
<li>
<p>Tragen Sie die  IP-Adresse (A-Record) des Servers ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Systemverknüpfung speichern</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="domain-auth-code">4.3.7. Domain Auth-Code</h4>
<div class="paragraph">
<p>Bei einem Wechsel zu einem anderen <a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#domain">Provider</a> benötigen Sie für Ihre Domain einen Authentifizierungscode. Dieser Auth-Code weist Sie als Eigner der Domain aus. Den Auth-Code erzeugen Sie in diesem Bereich.</p>
</div>
<div class="paragraph instruction">
<p>Domain Auth-Code erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Domain Auth-Code generieren</strong>, um den Authentifizierungscode zu erzeugen.<br>
→ Der Code wird erzeugt und in der Zeile <strong>Domain Auth-Code</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Gültigkeitsdauer des Domain Auth-Codes</div>
<div class="paragraph">
<p>Ein Domain Auth-Code ist 30 Tage lang gültig. Danach müssen Sie, wenn Sie den Code nicht verwendet haben, einen neuen Code generieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_cname_resource_record">4.3.8. CNAME Resource Record</h4>
<div class="paragraph">
<p>CNAME bezeichnet eine Subdomain, die namensbasiert auf eine Domain bzw. Subdomain weitergeleitet wird. Sie können damit z.B. über den Anbieter <strong>Shopgate</strong> eine mobile Variante Ihrer Website zur Verfügung stellen oder die Nutzung eines externen E-Mail-Dienstes einrichten. Im ersten Beispiel ist die Quelle <em><strong>mobile.ihrshop.de</strong></em> die mobile Variante der Domain <em><strong>ihrshop.de</strong></em>. Als Ziel verwenden Sie die Shopgate-Subdomain <em><strong>cname.shopgate.com</strong></em> (Bild 1). Durch diesen CNAME-Eintrag wird gewährleistet, dass die Auflösung Ihres Shops seitens Shopgate korrekt durchgeführt wird.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-ServiceCenter-Domain-01.png" alt="DE ServiceCenter Domain 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: CNAME eintragen</em></p>
</div>
</div>
<div class="sect3">
<h4 id="_txt_record">4.3.9. TXT Record</h4>
<div class="paragraph">
<p>Mit einem TXT Resource Record kann ein frei definierbarer Text in einer DNS-Zone abgelegt werden, sowohl für die Hauptdomain als auch für Subdomains Ihres Webshops. Solche Einträge werden zum Beispiel von E-Mail-Service-Anbietern oder Newsletter-Dienstleistern benötigt. Die einzutragenden Daten erhalten Sie direkt von Ihrem Dienstleister.</p>
</div>
</div>
<div class="sect3">
<h4 id="200">4.3.10. Nameserver für Subdomains speichern</h4>
<div class="paragraph">
<p>Im Bereich <strong>Nameserver für Subdomains</strong> geben Sie einen oder mehrere Nameserver an, auf die eine Subdomain zeigen soll.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sie können Nameserver nur für Subdomains einer Hauptdomain speichern.</p>
</li>
<li>
<p>Tragen Sie mehrere Nameserver pro Subdomain kommagetrennt ein.</p>
</li>
<li>
<p>Tragen Sie den Domain-Namen des Nameservers ein.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Speichern Sie z.B. einen Nameserver für Subdomains, um Newsletter2Go-Newsletter über eine <a href="https://www.newsletter2go.de/features/newsletter-versand-dedizierte-ips/" target="_blank" rel="noopener">dedizierte IP-Adresse</a> zu versenden und so die Zustellraten weiter zu optimieren. Wenn Sie diesen Service von Newsletter2Go gebucht haben, geben Sie als Ziel-Server den Newsletter2Go-Nameserver an. Die erforderlichen Informationen zu Subdomains und Nameserver erhalten Sie von Newsletter2Go.</p>
</div>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um Nameserver für Subdomains zu speichern.</p>
</div>
<div class="paragraph instruction">
<p>Nameserver für Subdomains speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Service-Center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>blaue Plus</strong> der Hauptdomain.</p>
</li>
<li>
<p>Geben Sie im Bereich <strong>Nameserver für Subdomains</strong> in das Feld <strong>Subdomain</strong> die Subdomain ein.</p>
</li>
<li>
<p>Geben Sie in das Feld <strong>Ziel</strong> den Domain-Namen der Ziel-Server ein. Geben Sie mehrere Domain-Namen kommagetrennt ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_domain_umzug">4.3.11. Domain-Umzug</h4>
<div class="paragraph">
<p>Wenn Sie Ihren Webhosting-Provider wechseln möchten, wird das KK- bzw. Auth-Code-Verfahren (Auth-Info) durchgeführt. KK bedeutet Konnektivitäts-Koordination. Mit einem KK-Antrag wird der Provider-Wechsel geregelt. Aktuell wird zunehmend das Auth-Info-Verfahren verwendet.</p>
</div>
<div class="paragraph">
<p>Beachten Sie folgende Punkte, um Probleme bei Ihrem Webhosting-Provider-Wechsel zu vermeiden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Erzeugen Sie einen <a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#domain-auth-code">Auth-Code</a>.</p>
</li>
<li>
<p>Löschen Sie die Registrierung Ihrer bisherigen Domain bei Ihrem aktuellen Provider nicht.</p>
</li>
<li>
<p>Informieren Sie Ihren aktuellen Provider über den geplanten Wechsel und dass Sie in Kürze einen KK-Antrag stellen werden.</p>
</li>
<li>
<p>Wenden Sie sich bezüglich des Wechsels mit allen damit verbundenen Vorgängen an den neuen Provider. Ihr neuer Provider benötigt u.a. Ihre Unterschrift zur Bestätigung, dass Sie wechseln möchten.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In der Regel ist ein Providerwechsel problemlos und kurzfristig möglich. Wenn es jedoch bei der Abwicklung zu Problemen kommt, z.B. weil Daten unvollständig oder unklar sind, kann der Wechsel vom alten Provider zunächst abgelehnt werden. Nehmen Sie in diesem Fall umgehend Kontakt zum alten Provider auf. Der aktuelle Provider kann den Wechsel erst freigeben, wenn keine Unklarheiten mehr bestehen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">IPS-Tag</div>
<div class="paragraph">
<p>Bei einem Domaintransfer von einer <strong>.uk</strong>- oder <strong>.co.uk</strong>-Domain eines anderen Domainproviders zu uns müssen Sie vorher den IPS-Tag durch Ihren aktuellen Domainprovider anpassen lassen. Der IPS-Tag unseres Domainproviders lautet:</p>
</div>
<div class="paragraph">
<p><strong>UNITEDDOMAINS-DE</strong></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_url_weiterleitungen">4.3.12. URL-Weiterleitungen</h4>
<div class="paragraph">
<p>Im Bereich <strong>URL-Weiterleitung</strong> definieren Sie kostenpflichtige Weiterleitungen. Gehen Sie wie unten beschrieben vor, um Weiterleitungen einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>URL-Weiterleitungen einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Service-Center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>blaue Plus</strong> der Domain, von der Sie weiterleiten möchten.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anleitung URL-Weiterleitungen</strong>.</p>
</li>
<li>
<p>Lesen Sie sich die angezeigten Informationen durch.</p>
</li>
<li>
<p>Tragen Sie die gewünschten Weiterleitungen gemäß dieser Anleitung in das vorgesehene Feld ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>URL-Weiterleitungen speichern</strong>.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="ssl-zertifikat">5. SSL-Zertifikat</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start » Service-Center » Tab: Domain</strong></p>
</div>
<div class="sect2">
<h3 id="_inhalt_dieser_seite">5.1. Inhalt dieser Seite</h3>
<div class="paragraph">
<p>Auf dieser Seite erhalten Sie Informationen zu SSL-Zertifikaten. Sie erfahren, wie Sie die Restlaufzeit Ihres SSL-Zertifikats prüfen, bei Bedarf ein neues SSL-Zertifikat bestellen und Ihr aktives SSL-Zertifikat bei Bedarf deaktivieren.</p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zum SSL-Zertifikat im folgenden Videotutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-3162/" target="_blank" rel="noopener">SSL-Zertifikat</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_informationen_zu_ssl_zertifikaten">5.2. Informationen zu SSL-Zertifikaten</h3>
<div class="paragraph">
<p>Ein SSL-Zertifikat dient der Verschlüsselung Ihrer Website und gewährleistet eine sichere Verbindung zu Ihrer Website bzw. Ihrem Onlineshop. Sie benötigen ein SSL-Zertifikat für bestimmte Marktplätze und z.B. für die Zertifizierung mit Trusted Shops. Wenn Sie ein SSL-Zertifikat verwenden, ist dies für Ihre Kunden daran erkennbar, dass sie Ihre Website über <strong>https</strong> erreichen.</p>
</div>
<div class="paragraph">
<p>Ein SSL-Zertifikat hat eine Laufzeit von mindestens einem Jahr und verlängert sich nicht automatisch. Vor Ende der Laufzeit müssen Sie daher über Ihr plentymarkets Service-Center ein neues SSL-Zertifikat bestellen. Unabhängig davon, ob Sie bereits ein SSL-Zertifikat haben, bestellen Sie jeweils ein neues Zertifikat, d.h., Sie wählen Zertifizierungsstelle und Laufzeit bei jeder Bestellung neu. Die Bestellung bei der Zertifizierungsstelle führt plentymarkets in Ihrem Auftrag durch und stellt Ihnen den Kaufbetrag in Rechnung. Es fallen keine monatlichen Gebühren für die Nutzung von SSL an.</p>
</div>
<div class="paragraph">
<p>Sie bestellen das SSL-Zertifikat für Ihre <a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#domain">Hauptdomain</a>, d.h. die Domain, die im Menü <a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#domain">Start » Service-Center » Tab: Domain</a>als Hauptdomain eingestellt ist (Bild 1, blauer Pfeil). Wenn Sie für eine andere Domain ein SSL-Zertifikat einrichten möchten, müssen Sie diese zunächst als Hauptdomain festlegen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-ServiceCenter-SSL-01-SI.png" alt="DE ServiceCenter SSL 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: plentymarkets-Service-Center; Domains</em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Keine SSL-Zertifikate für gekündigte Domains und Testdomains</div>
<div class="paragraph">
<p>Für gekündigte Domains sowie für Start-up- bzw. Testdomains, d.h. Domains mit den Bestandteilen <strong>plenty-testdrive.eu</strong>, <strong>plentymarkets-x1.com</strong> etc., können keine SSL-Zertifikate bestellt werden. Daher wird der Button <strong>SSL-Zertifikat bestellen</strong> für diese Domains nicht angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_restlaufzeit_ihres_ssl_zertifikats">5.3. Restlaufzeit Ihres SSL-Zertifikats</h3>
<div class="paragraph">
<p>Im plentymarkets-Service-Center können Sie im Tab <a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#domain">Domain</a> die Restlaufzeit Ihres SSL-Zertifikats einsehen und bei Bedarf ein neues SSL-Zertifikat bestellen (Bild 1).</p>
</div>
<div class="paragraph">
<p>Das Zertifikat tritt nach der Bestellung in der Regel umgehend bzw. bei einer Qualitätskontrolle durch die Zertifizierungsstelle innerhalb von ca. 24 Stunden in Kraft. Sie können bei der Bestellung keinen späteren Gültigkeitsbeginn festlegen, d.h. die Gültigkeitsdauer beginnt mit der Bestätigung der Zertifizierungsstelle.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-ServiceCenter-SSL-02-SI.png" alt="DE ServiceCenter SSL 02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: plentymarkets-Service-Center; Restlaufzeit</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_neues_ssl_zertifikat_bestellen">5.4. Neues SSL-Zertifikat bestellen</h3>
<div class="paragraph">
<p>Prüfen Sie vor einer Bestellung, dass die E-Mail-Adresse <strong>hostmaster@IhreDomain</strong> eingerichtet ist und keine Weiterleitung an den plentymarkets-Support dafür eingerichtet ist. Gehen Sie dann wie nachfolgend beschrieben vor, um ein neues SSL-Zertifikat zu bestellen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">E-Mail-Adresse hostmaster@IhreDomain einrichten</div>
<div class="paragraph">
<p>Richten Sie vor der Bestellung die <a href="/crm/e-mails-versenden">E-Mail-Adresse</a> hostmaster@IhreDomain<strong> ein. An diese Adresse erhalten Sie im Rahmen des Bestellvorgangs je eine E-Mail von plentymarkets und eine E-Mail von der SSL-Zertifizierungsstelle.<br>
Wenn diese E-Mail-Adresse im System bereits vorhanden ist, prüfen Sie, ob für diese eine <a href="/crm/e-mails-versenden">Weiterleitung</a> an die E-Mail-Adresse </strong>support@plentymarkets.com** eingerichtet wurde. Deaktivieren Sie ggf. die Weiterleitung, damit Sie die E-Mails selbst empfangen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Neues SSL-Zertifikat bestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Service-Center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Öffnen Sie Ihre Hauptdomain, indem Sie auf das <strong>blaue Plus</strong> klicken (Bild 1).</p>
</li>
<li>
<p>Klicken Sie auf <strong>SSL-Zertifikat bestellen</strong> (Bild 2).<br>
→ Wenn Ihr aktuelles SSL-Zertifikat noch mindestens 21 Tage gültig ist, erfolgt eine Sicherheitsabfrage. Bestätigen Sie diese, wenn Sie schon jetzt ein neues Zertifikat bestellen möchten.</p>
</li>
<li>
<p>Klicken Sie im Fenster <strong>SSL-Zertifikat bestätigen</strong> auf <strong>Bestellung fortsetzen</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Nicht aus dem Service Center ausloggen</div>
<div class="paragraph">
<p>Loggen Sie sich während des Bestellprozesses nicht aus dem plentymarkets-Service-Center aus. Loggen Sie sich erst aus, wenn Sie den Bestellprozess vollständig abgeschlossen und beide E-Mails erhalten und bestätigt haben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Sie erhalten nun eine E-Mail von plentymarkets an Ihre E-Mail-Adresse <strong>hostmaster@IhreDomain</strong>. Lesen Sie die darin enthaltenen Informationen und klicken Sie dann auf den Link <strong>SSL-Bestellung bestätigen</strong>. Wenn Ihr aktuelles SSL-Zertifikat noch mindestens 21 Tage gültig ist, erfolgt erneut eine Sicherheitsabfrage. Bestätigen Sie diese, wenn Sie schon jetzt ein neues Zertifikat bestellen möchten.</p>
</div>
<div class="paragraph">
<p>Es werden nun die verfügbaren SSL-Zertifizierungsstellen und Laufzeiten angezeigt. Entscheiden Sie sich für ein Angebot und gehen Sie dann wie unten beschrieben vor, um die Bestellung fortzusetzen.</p>
</div>
<div class="paragraph instruction">
<p>SSL-Zertifizierungsstelle und Laufzeit wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie bei dem gewünschten Angebot auf <strong>Jetzt bestellen</strong>.<br>
→ Die Zertifizierungsstelle sendet eine E-Mail an Ihre E-Mail-Adresse <strong>hostmaster@IhreDomain</strong>.</p>
</li>
<li>
<p>Lesen Sie die in der E-Mail enthaltenen Informationen und klicken Sie dann auf den darin angegebenen Link. Sie werden auf die Bestätigungsseite der Zertifizierungsstelle geleitet.</p>
</li>
<li>
<p>Prüfen Sie die auf der Webseite angezeigten Informationen und bestätigen Sie dann Ihre Bestellung durch Klick auf den entsprechenden Button.<br>
→ Ihre Bestellung ist abgeschlossen. Wenn die Zertifizierungsstelle keine Qualitätskontrolle durchführt (siehe Hinweis unten), werden die Daten zur Gültigkeit Ihres neuen SSL-Zertifikats nach ca. 10 Minuten im Service-Center-Tab <strong>Domain</strong> angezeigt (Bild 4, roter Pfeil).</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-ServiceCenter-SSL-05-SI.png" alt="DE ServiceCenter SSL 05 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 4: SSL-Zertifikat; neue Gültigkeitsdaten</em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Qualitätskontrolle durch die Zertifizierungsstelle</div>
<div class="paragraph">
<p>In Einzelfällen führt die Zertifizierungsstelle eine Qualitätskontrolle durch, bevor sie SSL-Zertifikate freischaltet. Prüfen Sie daher die auf dem Bildschirm angezeigte Bestätigungsnachricht. Eine Qualitätskontrolle dauert in der Regel bis zu 24 Stunden. Sollte der Status im plentymarkets Service-Center nach 24 Stunden nicht auf "Done" stehen, erstellen Sie einen Beitrag im plentymarkets Forum unter Angabe Ihrer Domain.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_ssl_zertifikat_deaktivieren">5.5. SSL-Zertifikat deaktivieren</h3>
<div class="paragraph">
<p>Sie können ein aktives SSL-Zertifikat vorrübergehend oder auch dauerhaft deaktivieren. Gehen Sie dazu wie nachfolgend beschrieben vor.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-ServiceCenter-SSL-06-SI.png" alt="DE ServiceCenter SSL 06 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 5: SSL-Zertifikat; Zertifikat deaktivieren</em></p>
</div>
<div class="paragraph instruction">
<p>SSL-Zertifikat deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Service-Center » Tab: Domain</strong>.</p>
</li>
<li>
<p>Öffnen Sie Ihre Hauptdomain, indem Sie auf das <strong>blaue Plus</strong> klicken (Bild 1).</p>
</li>
<li>
<p>Klicken Sie auf <strong>SSL-Zertifikat deaktiveren</strong>.<br>
→ Ihr SSL-Zertifikat wird deaktiviert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Durch Klicken auf <strong>SSL-Zertifikat aktivieren</strong> können Sie das Zertifikat erneut aktivieren. Es kann bis zu 4 Stunden dauern, bis das SSL-Zertifikat deaktiviert bzw. aktiviert wird.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Laufzeit bleibt gleich</div>
<div class="paragraph">
<p>Bei einer vorübergehenden Deaktivierung des SSL-Zertifikats verlängert sich die Gesamtlaufzeit des Zertifikats nicht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_externe_domain_oder_externes_ssl">5.6. Externe Domain oder externes SSL</h3>
<div class="paragraph">
<p>Eine externe Domain können Sie beim jeweiligen Hoster belassen und einfach per A-Record (Weiterleitung der IP-Adresse) auf uns weiterleiten.</p>
</div>
<div class="paragraph">
<p>Das SSL-Zertifikat muss systemnah liegen, d.h. auch wenn die Domain bei einem anderen Hoster liegt, erfolgt die Verschlüsselung erst nach der Weiterleitung über die IP-Adresse bei uns im System. Somit muss das SSL-Zertifikat bei uns gebucht werden, da wir aus Sicherheitsgründen keine externen Zertifikate zulassen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_mandant_shop">6. Mandant (Shop)</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/omni-channel/online-shop">Mandant (Shop)</a> bezeichnet in plentymarkets weitere Webshops, die über den zugeordneten Hauptshop in Ihrem plentymarkets System konfigurierbar sind. Im Menü <strong>Start » Service-Center » Tab: Mandant (Shop)</strong> werden Ihre Mandanten (Shops) angezeigt. Bei Bedarf können Sie über dieses Menü auch eine Kündigung der Mandanten (Shops) veranlassen.</p>
</div>
<div class="sect2">
<h3 id="_prüfen_domain_angelegt">6.1. Prüfen: Domain angelegt?</h3>
<div class="paragraph">
<p>Um einen Mandanten (Shop) zu bestellen, benötigen Sie eine <a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#domain">Domain</a>, die Sie ggf. vorher im Tab <strong>Domain</strong> für das Hauptsystem anlegen müssen.</p>
</div>
</div>
<div class="sect2">
<h3 id="_einen_mandanten_shop_bestellen">6.2. Einen Mandanten (Shop) bestellen</h3>
<div class="paragraph">
<p>Um einen Mandanten (Shop) zu bestellen, öffnen Sie das Tab <strong>Vertrag</strong> des Service-Centers und klicken auf <strong>Zum Systemkonfigurator</strong>. Nehmen Sie im Systemkonfigurator die gewünschte Änderung Ihres Vertrags vor.</p>
</div>
</div>
<div class="sect2">
<h3 id="_mandant_shop_kündigen">6.3. Mandant (Shop) kündigen</h3>
<div class="paragraph">
<p>Sie können einen Mandanten (Shop) kündigen, indem Sie im Menü <strong>Start » Service-Center » Tab: Mandant (Shop)</strong> auf <strong>Mandant (Shop) kündigen</strong> klicken. Bestätigen Sie im angezeigten Fenster Ihre Kündigung. Vertragsbeginn und -ende werden angezeigt.</p>
</div>
</div>
<div class="sect2">
<h3 id="_domain_einstellungen_von_mandanten_shops_bearbeiten">6.4. Domain-Einstellungen von Mandanten (Shops) bearbeiten</h3>
<div class="paragraph">
<p>Im Tab <strong>Mandant (Shop)</strong> werden außerdem Informationen zu den Domains angezeigt, die Ihren Mandanten zugeordnet sind. Nehmen Sie Änderungen an diesen Einstellungen wie auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#domain">Domain</a> vor.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="cache">7. Cache</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start » Service-Center » Tab: Cache</strong></p>
</div>
<div class="sect2">
<h3 id="_caching_funktion">7.1. Caching-Funktion</h3>
<div class="paragraph">
<p>Um <strong>statische Inhalte</strong> Ihres Webshops, wie z.B. <strong>Artikelbilder</strong>, jederzeit möglichst schnell anzeigen zu können, werden diese für eine gewisse Zeit im <strong>Cache</strong> vorgehalten. Aus diesem Grund sind Änderungen, z.B. eines Bildes, nach dem Upload noch nicht sofort sichtbar, sondern erst nach einer zeitlichen Verzögerung. Diese kann je nach Gegebenheiten bis zu einer Stunde betragen.</p>
</div>
<div class="paragraph">
<p>Beachten Sie auch unseren <a href="https://www.plentymarkets.eu/blog/Im-Rollout-Mehr-Geschwindigkeit-bei-durchgehender-SSL-Verschluesselung/b-1207/">Blog-Beitrag</a> zu diesem Thema.</p>
</div>
</div>
<div class="sect2">
<h3 id="_cache_temporär_deaktivieren">7.2. Cache temporär deaktivieren</h3>
<div class="paragraph">
<p>Es besteht außerdem die Möglichkeit, den Cache Ihres Systems für einen begrenzten Zeitraum zu deaktivieren. Der Start- und Endzeitpunkt für diese Deaktivierung wird in einem Dropdown-Menü gewählt. Je nach Auswahl im Dropdown-Menü <strong>Von</strong> werden weitere darauffolgende Zeiten im Dropdown-Menü <strong>Bis</strong> zur Auswahl angezeigt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/ServiceCenter-Cache-02-SI-1.png" alt="ServiceCenter Cache 02 SI 1">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Funktion <strong>Cache temporär deaktivieren</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Cache temporär deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie aus den Dropdown-Menüs <strong>Von</strong> und <strong>Bis</strong> die gewünschten Werte aus (Bild 2, Pos. 1).</p>
</li>
<li>
<p>Klicken Sie auf den Button <strong>Cache temporär deaktivieren</strong> (Bild 2, Pos. 2).<br>
→ Der Cache Ihres Systems wird im gewählten Zeitraum deaktiviert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_permanente_ssl_umleitung">7.3. Permanente SSL-Umleitung</h3>
<div class="paragraph">
<p>Wenn Sie ein SSL-Zertifikat gebucht haben, wird Ihre Website vollständig verschlüsselt ausgeliefert. Die dabei eingesetzte Technologie (SNI/TLS) ist seit vielen Jahren ein gängiger Standard, der von allen aktuellen Browsern unterstützt wird. Allerdings verwenden vielleicht einige Ihrer Besucher noch ältere Browser, die eben diesen Standard nicht unterstützen. Wenn Sie die SSL-Umleitung deaktivieren, können auch Besucher mit älteren Browsern Ihren Webshop durchstöbern. Allerdings ist auch dann eine Bestellung nur mit aktuellen Browsern möglich, da trotz Deaktivierung der Umleitung im Bestellvorgang die Verschlüsselung vorgenommen wird. Hier können Sie also den Besucher vor dem Bestellvorgang darauf hinweisen, dass eine Bestellung nur mit einem aktuellen Browser möglich ist.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/ServiceCenter-Cache-03-SI.png" alt="ServiceCenter Cache 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Funktion <strong>Permanente SSL-Umleitung</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Permanente SSL-Umleitung deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie aus den Dropdown-Menü die Option <strong>&lt; IE 9 inaktiv</strong> aus.</p>
</li>
<li>
<p>Klicken Sie auf den Button <strong>Permanente SSL-Umleitung speichern</strong>.<br>
→ Die SSL-Umleitung Ihres Systems wird deaktiviert.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_ihre_agentur">8. Ihre Agentur</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Start » Service-Center » Tab: Ihre Agentur</strong> geben Sie bis zu zwei von plentymarkets zertifizierten Dienstleistern, mit denen Sie zusammenarbeiten, Zugriff auf bestimmte Bereiche Ihres Systems. Sie ermöglichen damit einer Design-Agentur und/oder einem Consultant folgende Arbeiten in Ihrem plentymarkets System:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ihr Dienstleister kann bei Arbeiten am Design den Cache löschen oder temporär deaktivieren, um effektiver arbeiten zu können.</p>
</li>
<li>
<p>Ihre Support-Tickets können auch von Ihrem Dienstleister eingesehen und beantwortet werden. So ist eine direkte Kommunikation zwischen Ihrem Dienstleister und unseren Support-Mitarbeitern möglich. Sie können den Kommunikationsverlauf natürlich weiterhin mitverfolgen.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_zertifizierten_dienstleistern_zugriff_gewähren">8.1. Zertifizierten Dienstleistern Zugriff gewähren</h3>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um der Agentur und/oder dem Consultant, mit denen Sie zusammenarbeiten, Zugriff auf die oben genannten Bereiche Ihres Systems zu gewähren:</p>
</div>
<div class="paragraph instruction">
<p>Dienstleister zuweisen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie im das Menü <strong>Start » Service-Center » Tab: Ihre Agentur</strong>.</p>
</li>
<li>
<p>Wählen Sie die Agentur und/oder den Consultant, mit denen Sie derzeit zusammenarbeiten und denen Sie Zugriff gewähren möchten, aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.<br>
→ Die Dienstleister sind mit Ihrem System verknüpft und erhalten Zugriff auf die oben genannten Bereiche.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_ansicht_für_agenturen">8.2. Ansicht für Agenturen</h3>
<div class="paragraph">
<p>Nachdem Sie Ihrer Agentur die Freigabe erteilt haben, hat diese über Ihr eigenes System Zugriff auf die oben genannten Bereiche. Bild 1 zeigt beispielhaft, welche Daten Ihrer Agentur angezeigt werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/ServiceCenter-IhreAgentur-01.png" alt="ServiceCenter IhreAgentur 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Ansicht für die freigeschaltete Agentur</em></p>
</div>
<div class="paragraph">
<p>Die folgenden Informationen stehen der Agentur in den einzelnen Tabs zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Übersicht</strong>: Die Agentur sieht den Inhalt, der auch Ihnen in Ihrem <strong>Service Center</strong> im Tab <strong>Systeme</strong> und dort im Tab <strong>Übersicht</strong> angezeigt wird.</p>
</li>
<li>
<p><a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#vertrag">Vertrag</a>: Ihr aktueller Tarif wird angezeigt, es sind jedoch keine Änderungen möglich.</p>
</li>
<li>
<p><a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#cache">Cache</a>: Die Agentur hat die Möglichkeit, Ihren Cache zu löschen oder temporär zu deaktivieren.</p>
</li>
<li>
<p><a href="/crm/ticketsystem-nutzen">Tickets</a>: Die Agentur sieht den Inhalt, der auch Ihnen im Bereich <strong>Mein Konto</strong> unter <strong>Tickets</strong> angezeigt wird. Mitarbeiter können also eigenständig Tickets anlegen oder auf bestehende Tickets antworten.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_hosting">9. Hosting</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Datenvolumen und der zulässige Traffic sind je nach Vertrag limitiert. Überschreitungen werden separat in Rechnung gestellt. plentymarkets bietet Ihnen daher die Möglichkeit, Ihren Verbrauch jederzeit nachzuvollziehen. Auf dieser Seite erfahren Sie, wie Sie diese Verbrauchsdaten anzeigen. Außerdem erhalten Sie Informationen dazu, wie Traffic entsteht.</p>
</div>
<div class="sect2">
<h3 id="_verbrauchsdaten_anzeigen">9.1. Verbrauchsdaten anzeigen</h3>
<div class="paragraph">
<p>Die Verbrauchsdaten werden im Menü <strong>Start » Hosting » Tab: Verbrauch</strong> angezeigt. Die folgende Tabelle gibt Ihnen einen Überblick der in diesem Menü angezeigten Daten zu Ihrem Verbrauch.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Daten</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Monat</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verbrauchsmonat</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Webspace gesamt</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Speicherplatz, der in diesem Monat maximal im Webspace belegt war, in GB.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Webspace Dokumente</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Speicherplatz, der in diesem Monat maximal durch Dokumente im Webspace belegt war, in GB.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Traffic</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Traffic in GB</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DB</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datenbank-Volumen, das in diesem Monat maximal belegt war, in GB.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Facettensuchen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der im Webshop durchgeführten Facettensuchen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikel in Facettensuche</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der Artikel in der Facettensuche</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Angezeigte Verbrauchsdaten</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_wissenswertes_zum_thema_traffic">9.2. Wissenswertes zum Thema Traffic</h3>
<div class="paragraph">
<p>Traffic entsteht, wenn ein Kunde Ihren Webshop besucht und dort z.B. Artikel anklickt, Bilder vergrößert oder Dateien herunterlädt.</p>
</div>
<div class="paragraph">
<p>Zusätzlicher Traffic entsteht außerdem in den folgenden Fällen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Beim Austausch von Daten mit Marktplätzen.</p>
</li>
<li>
<p>Bei <strong>SOAP-Abfragen</strong>, da bei diesen Abfragen Verbindungen zum Server aufgebaut werden. Je nach Art der Abfrage ist das Datenvolumen beträchtlich. Optimieren Sie daher Ihre Calls, indem Sie z.B. nicht ständig alle Bestände abfragen, sondern die Abfrage auf Änderungen beschränken.</p>
</li>
<li>
<p>Beim Scannen Ihrer Website durch <a href="http://de.wikipedia.org/wiki/Webcrawler" target="_blank" rel="noopener">Bots</a>. Diese Bots speichern Ihre Seiten, wodurch Traffic entsteht. Wenn z.B. der Google-Bot Ihre Seite erfasst hat, werden bei einer Google-Suche Artikel aus Ihrem Shop mit deren Beschreibung etc. angezeigt. Wann solche Bots Ihre Seite besuchen, ist nicht vorhersehbar, da sie nach proprietären Algorithmen gesteuert werden.</p>
</li>
<li>
<p>Bei Erweiterungen Ihres Sortiments und damit einer Vergrößerung des Bild- und Datenaufkommens. Dadurch werden mehr Bots auf Ihre Seite aufmerksam.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bots per robots.txt sperren lassen</div>
<div class="paragraph">
<p>Um das oben beschriebene Verhalten von Bots zumindest teilweise zu steuern, können Sie z.B. die Sperrung von Bots per <strong>robots.txt-Datei</strong> veranlassen. Weitere Informationen finden Sie in unserem <a href="/omni-channel/online-shop/cms-syntax#fallbeispiele-seo-guide">SEO-Guide</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_umzug">10. Umzug</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Start » Umzug</strong> beauftragen Sie einen kostenlosen Umzug Ihres Systems in eine andere Cloud. Im Menü <strong>Umzug</strong> werden außerdem der Status eines bereits geplanten Umzugs und Informationen zum zuletzt durchgeführten Umzug aufgeführt. Weitere Informationen zu den <a href="http://www.plentymarkets.eu/produkt/cloud-hosting/">Cloud-Lösungen von plentymarkets</a> finden Sie auf unserer Website.</p>
</div>
<div class="sect2">
<h3 id="_voraussetzungen_für_einen_systemumzug">10.1. Voraussetzungen für einen Systemumzug</h3>
<div class="paragraph">
<p>Stellen Sie sicher, dass die folgenden Voraussetzungen erfüllt sind, bevor Sie einen Umzug Ihres Systems in eine andere Cloud planen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sie verfügen über einen aktuellen plentymarkets Cloud Vertrag. Ist dies nicht der Fall, passen Sie Ihren <a href="http://www.plentymarkets.eu/preise/plentymarkets-classic-buchen/">Vertrag</a> an.</p>
</li>
<li>
<p>Der Termin für den Start des Systemumzugs liegt mindestens 2 Tage in der Zukunft.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Dateien auf FTP-Server werden nicht migriert</div>
<div class="paragraph">
<p>Beim Umzug in eine andere Cloud ändert sich auch die FTP-Host-Adresse des plentymarkets Systems. Die Daten auf dem alten FTP-Host werden beim Umzug nicht zur neuen FTP-Hostadresse kopiert. Sie müssen die FTP-Dateien selbst umziehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">IP-Adresse bei externem Domain-Provider anpassen</div>
<div class="paragraph">
<p>Durch den Umzug ändert sich die IP-Adresse des Systems. Wenn Sie Ihre Domain durch einen externen Provider verwalten lassen, müssen Sie nach dem Umzug die neue IP-Adresse bei Ihrem externen Domain-Provider speichern, damit Ihr Webshop weiterhin erreichbar ist. Bitte beachten Sie, dass plentymarkets keinen Zugriff auf die Daten Ihrer externen Domain hat und diese Änderung daher nicht für Sie vornehmen kann. Informationen dazu, wie Sie die neue IP-Adresse beim Domain-Provider speichern, finden Sie in der Dokumentation des Providers.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_umzug_planen">10.2. Umzug planen</h3>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um einen Umzug Ihres Systems in eine andere Cloud zu planen. Beachten Sie, dass pro Cloud nicht mehr als ein Systemumzug zeitgleich stattfindet. Der tatsächliche Zeitpunkt, zu dem Ihr Umzug gestartet wird, kann sich daher ggf. verzögern.</p>
</div>
<div class="paragraph instruction">
<p>Umzug planen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Umzug</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Umzug planen</strong>.</p>
</li>
<li>
<p>Wählen Sie die Ziel-Cloud, d.h. die Cloud, in die Sie Ihr System umziehen möchten.<br>
→ Die Kosten für die Ziel-Cloud werden angezeigt.</p>
</li>
<li>
<p>Wählen Sie das Datum, an dem der Systemumzug starten soll.</p>
</li>
<li>
<p>Wählen Sie die Uhrzeit, zu der der Systemumzug starten soll.<br>
→ Der Termin für den Start des Systemumzugs muss mindestens 2 Tage in der Zukunft liegen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Umzug starten</strong>, um den Umzug in Auftrag zu geben.<br>
→ Der geplante Umzug wird im Tab <strong>Geplanter Umzug</strong> angezeigt und zu diesem Zeitpunkt gestartet.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Shop-Verfügbarkeit</div>
<div class="paragraph">
<p>Bei mittelgroßen Systemen dauert ein Umzug erfahrungsgemäß ca. 20 Minuten. Die tatsächliche Dauer ist jedoch immer von der zu übertragenden Datenmenge des Systems abhängig. Während dieser Zeit ist ihr plentymarkets System verfügbar, Sie können jedoch keine Änderungen im System speichern. Auch der Bestellvorgang Ihres Onlineshops ist deaktiviert, während der Umzug durchgeführt wird. Wählen Sie daher eine Uhrzeit, zu der mit wenig Traffic zu rechnen ist. Wir empfehlen Ihnen, den Umzug für die Nachtstunden zu planen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_geplanten_umzug_abbrechen">10.3. Geplanten Umzug abbrechen</h3>
<div class="paragraph">
<p>Sie können einen geplanten Umzug so lange abbrechen, bis alle Vorgänge, die im Menü <strong>Start » Umzug » Tab: Geplanter Umzug</strong> angezeigt werden, vollständig abgeschlossen sind. Dabei wird der Umzug zum nächstmöglichen Zeitpunkt abgebrochen, also ggf. nicht sofort. Gehen Sie wie unten beschrieben vor, um einen geplanten Umzug abzubrechen.</p>
</div>
<div class="paragraph instruction">
<p>Umzug abbrechen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start » Umzug</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Geplanter Umzug</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Umzug abbrechen</strong>.<br>
→ Der Umzug wird zum nächsten möglichen Zeitpunkt abgebrochen. Bereits abgeschlossene Vorgänge werden zurück in die bisherige Cloud gezogen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn alle Vorgänge bereits abgeschlossen, d.h. das System komplett umgezogen wurde, müssen Sie einen neuen Umzug beauftragen, um Ihr System zurück in die bisherige Cloud zu ziehen.</p>
</div>
</div>
</div>
</div>
</main>