<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#bei-dhl-registrieren"><span>1.</span><span> Bei DHL registrieren</span></a></li>
<li><a href="#dhl-shipping-versenden-einrichten"><span>2.</span><span> DHL Shipping (Versenden) in plentymarkets einrichten</span></a></li>
<li><a href="#vorbereitende-einstellungen"><span>3.</span><span> Vorbereitende Einstellungen vornehmen</span></a></li>
<li><a href="#dhl-assistenten-durchlaufen"><span>4.</span><span> Assistenten durchlaufen</span></a>
<ul class="sectlevel2">
<li><a href="#assistent-versandeinstellungen"><span>4.1.</span><span> Assistent Versandeinstellungen durchlaufen</span></a></li>
<li><a href="#dhl-assistent-grundeinstellungen"><span>4.2.</span><span> Assistent DHL Versenden: Grundeinstellungen durchlaufen</span></a>
<ul class="sectlevel3">
<li><a href="#schritt-zugangsdaten"><span>4.2.1.</span><span> Zugangsdaten</span></a></li>
<li><a href="#schritt-absenderdaten"><span>4.2.2.</span><span> Absenderdaten</span></a></li>
<li><a href="#schritt-abrechnungsnummer"><span>4.2.3.</span><span> Abrechnungsnummer</span></a></li>
<li><a href="#schritt-angaben-label"><span>4.2.4.</span><span> Angaben auf dem Label</span></a></li>
<li><a href="#schritt-zusammenfassung"><span>4.2.5.</span><span> Zusammenfassung</span></a></li>
</ul>
</li>
<li><a href="#dhl-assistent-einstellungsverknuepfung"><span>4.3.</span><span> Assistent DHL Versenden: Einstellungsverknüpfung durchlaufen</span></a>
<ul class="sectlevel3">
<li><a href="#schritt-einstellungsverknuepfung"><span>4.3.1.</span><span> Einstellungsverknüpfung</span></a></li>
<li><a href="#schritt-internationale-sendungen"><span>4.3.2.</span><span> Internationale Sendungen</span></a></li>
<li><a href="#dhl-produkte-services"><span>4.3.3.</span><span> DHL Produkte und Services</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#datenuebermittlung"><span>5.</span><span> Informationen zur Datenübermittlung</span></a></li>
<li><a href="#service-filial-routing"><span>6.</span><span> Service Filial-Routing verwenden</span></a></li>
<li><a href="#service-ident-check"><span>7.</span><span> Service Ident-Check verwenden</span></a></li>
<li><a href="#dhl-warenpost"><span>8.</span><span> DHL Warenpost verwenden</span></a>
<ul class="sectlevel2">
<li><a href="#dhl-warenpost-einstellungen-backend"><span>8.1.</span><span> Einstellungen im Backend</span></a>
<ul class="sectlevel3">
<li><a href="#vom-versandpaket"><span>8.1.1.</span><span> vom Versandpaket beziehen</span></a></li>
<li><a href="#von-artikeldaten"><span>8.1.2.</span><span> von Artikeldaten beziehen (summiert)</span></a></li>
</ul>
</li>
<li><a href="#dhl-warenpost-einstellungen-assistenten"><span>8.2.</span><span> Einstellungen in den Assistenten</span></a></li>
<li><a href="#dhl-warenpost-einstellungen-gkp"><span>8.3.</span><span> Einstellungen im DHL Geschäftskundenportal</span></a></li>
<li><a href="#dhl-warenpost-international"><span>8.4.</span><span> DHL Warenpost International</span></a></li>
</ul>
</li>
<li><a href="#dhl-shipping-benutzerrechte"><span>9.</span><span> Rechte für Backend-Benutzer:innen vergeben</span></a></li>
<li><a href="#testmodus-aktivieren"><span>10.</span><span> Testmodus aktivieren</span></a></li>
<li><a href="#zollinhaltserklaerung"><span>11.</span><span> Zollinhaltserklärung</span></a></li>
<li><a href="#tracking-url"><span>12.</span><span> Tracking-URL von DHL</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>DHL Shipping (Versenden)</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">DHL Shipping (Versenden)-Plugin herunterladen</div>
<div class="paragraph">
<p>Die Schnittstelle zu DHL Shipping (Versenden) wird über ein Plugin integriert. Um das DHL Shipping (Versenden)-Plugin nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/plugins/integration/dhlshipping_4871" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="bei-dhl-registrieren">1. Bei DHL registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle für DHL Shipping (Versenden) in deinem plentymarkets System einzurichten und die Funktion <em>Versenden</em> im DHL Geschäftskundenportal zu nutzen, musst du bei <a href="https://www.dhl.de/de/geschaeftskunden/paket/kunde-werden/angebot-dhl-geschaeftskunden-online.html?cid=c_dhl.de_ke_Z353_20190016_5902_A3045" target="_blank" rel="noopener">DHL</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> registriert sein. Du erhältst von DHL die Daten, die du für die Einstellungen in plentymarkets benötigst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="dhl-shipping-versenden-einrichten">2. DHL Shipping (Versenden) in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">DHL Shipping (Versenden) mit Hilfe von Assistenten einfach einrichten</div>
<div class="paragraph">
<p>Die Schnittstelle zu DHL Shipping (Versenden) wird über ein Plugin integriert. Um das DHL Shipping (Versenden)-Plugin nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/plugins/integration/dhlshipping_4871" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.<br>
Dir stehen dann zum einfachen Einrichten zwei DHL Versenden-Assistenten im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Bevor du die beiden DHL Versenden-Assistenten durchläufst, durchlaufe den Assistenten <strong>Versandeinstellungen</strong>. Dieser Assistent ist standardmäßig in deinem plentymarkets System im Menü <strong>Einrichtung » Assistenten » Integration</strong> vorhanden. Mit diesem Assistenten nimmst du die folgenden Einstellungen vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>der Versandeinstellung (sprich: dem Versandprofil) einen Namen geben</p>
</li>
<li>
<p>vorhandene Regionen aktivieren oder eine neue Region erstellen</p>
</li>
<li>
<p>die Versandkosten festlegen und den Berechnungstypen wählen</p>
</li>
<li>
<p><strong><em>Hinweis:</em></strong> Weitere Einstellungen müssen anschließend im Versandprofil im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> vorgenommen werden. Weitere Hinweise dazu findest du weiter unten auf dieser Handbuchseite.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Anschließend durchläufst du die beiden DHL Versenden-Assistenten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>DHL Versenden: Grundeinstellungen</p>
<div class="ulist">
<ul>
<li>
<p>In diesem Assistenten bereitest du alle Daten vor, die du später im Assistenten <strong>DHL Versenden: Einstellungsverknüpfung</strong> benötigst.</p>
</li>
</ul>
</div>
</li>
<li>
<p>DHL Versenden: Einstellungsverknüpfung<br></p>
<div class="ulist">
<ul>
<li>
<p>In diesem Assistenten verknüpfst du die Einstellungen, die du in den Assistenten <strong>Versandeinstellungen</strong> und <strong>DHL Versenden: Grundeinstellungen</strong> gespeichert hast, und wählst das Produkt und die passenden Services.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Welche Daten du in den Assistenten eingibst, ist weiter unten auf dieser Seite beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="vorbereitende-einstellungen">3. Vorbereitende Einstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zunächst musst du einige vorbereitende Einstellungen vornehmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/fulfillment/versand-vorbereiten#100">Lieferländer einrichten</a></p>
<div class="ulist">
<ul>
<li>
<p>Lieferländer kannst du über den Assistenten <strong>Versandeinstellungen</strong> oder im Backend einrichten.</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#400">Regionen erstellen</a></p>
<div class="ulist">
<ul>
<li>
<p>Regionen kannst du über den Assistenten <strong>Versandeinstellungen</strong> oder im Backend erstellen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>den <a href="/fulfillment/versand-vorbereiten#800">Versanddienstleister</a> <strong>DHL Shipping (Versenden)</strong> erstellen</p>
<div class="ulist">
<ul>
<li>
<p>Versanddienstleister kannst du aktuell nur im Backend und nicht über einen Assistenten erstellen.</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#1000">Versandprofile</a> und <a href="/fulfillment/versand-vorbereiten#1500">Portotabellen</a> für <strong>DHL Shipping (Versenden)</strong> erstellen<br></p>
<div class="ulist">
<ul>
<li>
<p>Einige der Versandeinstellungen kannst du über den Assistenten <strong>Versandeinstellungen</strong> einrichten. Die restlichen Einstellungen nimmst du im Backend im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> vor.<br>
<span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> <strong><em>Wichtig:</em></strong> Es wurden noch nicht alle Funktionen und Einstellungen aus dem Versandprofil in den Assistenten <strong>Versandeinstellungen</strong> übernommen. Beachte dazu die Erläuterungen im Kapitel <a href="/fulfillment/versanddienstleister-plugins/plugin-dhl-shipping-versenden#assistent-versandeinstellungen">Assistent <strong>Versandeinstellungen</strong> durchlaufen</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="dhl-assistenten-durchlaufen">4. Assistenten durchlaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald du das <a href="/plugins/hinzugefuegte-plugins-installieren#plugin-installieren">Plugin in einem Plugin-Set installiert</a> hast, sind die Assistenten <strong>DHL Versenden: Grundeinstellungen</strong> und <strong>DHL Versenden: Einstellungsverknüpfung</strong> im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set verfügbar. Der Assistent <strong>Versandeinstellungen</strong> ist standardmäßig in deinem plentymarkets System im Menü <strong>Einrichtung » Assistenten » Integration</strong> vorhanden.</p>
</div>
<div class="paragraph">
<p>Durchlaufe nun die Assistenten in der folgenden Reihenfolge:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Versandeinstellungen</strong></p>
</li>
<li>
<p><strong>DHL Versenden: Grundeinstellungen</strong></p>
</li>
<li>
<p><strong>DHL Versenden: Einstellungsverknüpfung</strong></p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="assistent-versandeinstellungen">4.1. Assistent <strong>Versandeinstellungen</strong> durchlaufen</h3>
<div class="paragraph">
<p>Du findest den Assistenten <strong>Versandeinstellungen</strong> im Menü <strong>Einrichtung » Assistenten » Integration</strong>. In diesem Assistenten nimmst du die folgenden Einstellung vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du gibst der Versandeinstellung einen Backend-Namen und einen Frontend-Namen. Diese Namen können pro Sprache gewählt werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Diesen Namen verknüpfst du später im Assistenten <strong>DHL Versenden: Einstellungsverknüpfung</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Du wählst das Plugin des Versanddienstleisters, für den du die Versandkosten einrichten möchtest.<br></p>
<div class="ulist">
<ul>
<li>
<p>Das DHL Shipping (Versenden)-Plugin muss im <a href="https://marketplace.plentymarkets.com/plugins/integration/dhlshipping_4871" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> heruntergeladen worden sein, damit es dir hier angezeigt wird.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Du wählst eine Region, gibst die Versandkosten ein und wählst den Berechnungstypen für die gewählten Länder. Außerdem kannst du festlegen, ab welchem Warenwert keine Versandkosten für deine Kund:innen berechnet werden.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Weitere Einstellungen für die Versandeinstellung im Backend vornehmen</div>
<div class="paragraph">
<p>Wenn du den Assistenten <strong>Versandeinstellungen</strong> abgeschlossen hast, wird das Versandprofil auch im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> angezeigt.<br>
Die folgenden Einstellungen sind mit Abschluss des Assistenten bereits vorhanden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>der Name des Versandprofils ist gespeichert</p>
</li>
<li>
<p>der Versanddienstleister ist gespeichert</p>
</li>
<li>
<p>die Option <strong>Bei neuen Artikeln aktiveren</strong> ist aktiviert</p>
</li>
<li>
<p>alle Mandanten (Shops) sind aktiviert</p>
</li>
<li>
<p>alle Auftragsherkünfte sind aktiviert</p>
</li>
<li>
<p>die Versandkosten sind gespeichert</p>
</li>
<li>
<p>die Region ist gespeichert</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du weitere Einstellungen vornehmen möchtest wie z.B. das Sperren von Kundenklassen oder Zahlungsarten oder dem Aktivieren der Option zum Einwilligen der Datenübermittlung an Versanddienstleister, musst du diese im entsprechenden Versandprofil im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> vornehmen.</p>
</div>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> Dieses Vorgehen ist notwendig, weil noch nicht alle Funktionen und Einstellungen aus dem Versandprofil in den Assistenten übernommen wurden. Wir ergänzen die fehlenden Einstellungen sukzessive im Assistenten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h3 id="abgeschlossener-assistent-versandeinstellungen" class="discrete">Abgeschlossener Assistent <strong>Versandeinstellungen</strong></h3>
<div class="openblock collapseBox">
<div class="title">Welche Informationen werden bei dem abgeschlossenen Assistenten <strong>Versandeinstellungen</strong> angezeigt?</div>
<div class="content">
<div class="paragraph">
<p>Wenn du den Assistenten <strong>Versandeinstellungen</strong> abgeschlossen hast und diesen erneut öffnest, werden die folgenden Informationen angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In der Kachelansicht:</p>
<div class="ulist">
<ul>
<li>
<p>Backend-Name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Versanddienstleister</p>
</li>
</ul>
</div>
</li>
<li>
<p>In der Tabellenübersicht:</p>
<div class="ulist">
<ul>
<li>
<p>Backend-Name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Versanddienstleister</p>
</li>
<li>
<p>Frontend-Name</p>
</li>
<li>
<p>ID des Versandprofils</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="dhl-assistent-grundeinstellungen">4.2. Assistent <strong>DHL Versenden: Grundeinstellungen</strong> durchlaufen</h3>
<div class="paragraph">
<p>Du findest den Assistenten <strong>DHL Versenden: Grundeinstellungen</strong> im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set. Im Folgenden werden die einzelnen Schritte, die du in diesem Assistenten durchläufst, beschrieben.</p>
</div>
<div class="sect3">
<h4 id="schritt-zugangsdaten">4.2.1. Zugangsdaten</h4>
<div class="paragraph">
<p>In diesem Schritt speicherst du deine Zugangsdaten zum DHL Geschäftskundenportal. Du hast die Möglichkeit, mehrere Login-Daten zu speichern, wenn du z.B. mehrere Mandanten (Shops) hast und/oder mehr als einen Vertrag mit DHL abgeschlossen hast. Im zweiten Assistenten <strong>DHL Versenden: Einstellungsverknüpfung</strong> kannst du diese Daten dann verknüpfen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verknüpfungen beim Löschen von Zugangsdaten beachten</div>
<div class="paragraph">
<p>Wenn du einen Login wieder löschen möchtest, klicke auf <span class="icon red"><i class="fa fa-minus-square  "></i></span>. Beachte, dass die Zugangsdaten in diesem Assistenten nur erfolgreich gelöscht werden, wenn sie <em>nicht mehr</em> im Assistenten <strong>DHL Versenden: Einstellungsverknüpfung</strong> verwendet werden.<br>
Wenn du die Zugangsdaten im Assistenten <strong>DHL Versenden: Einstellungsverknüpfung</strong> verknüpft hast und sie lediglich hier löschst, werden sie dir beim erneuten Öffnen des Assistenten wieder angezeigt. Das bedeutet, du musst erst die Verknüpfung im Assistenten <strong>DHL Versenden: Einstellungsverknüpfung</strong> entfernen und die Zugangsdaten dann in diesem Assistenten löschen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Lege außerdem für jeden deiner Logins fest, ob du möchtest, dass Versandlabels (Etiketten) immer zwingend erzeugt werden, auch wenn Sendungen mit nicht leitkodierbaren Adressen, z.B. wenn die Adressdaten unvollständig oder nicht vorhanden sind, erstellt werden. DHL führt die Korrektur der fehlerhaften Daten durch und berechnet dies. Die Sendung kann anschließend erfolgreich angemeldet werden.</p>
</div>
<div class="paragraph">
<p>Wenn die Option <strong>Etikettenerzeugung erzwingen</strong> <em>nicht</em> aktiviert – die Schaltfläche also grau <span class="icon darkGrey"><i class="material-toggle_off"></i></span> ist –, werden nicht leitkodierbare Sendungen bei der Anmeldung bei DHL Versenden mit einer Fehlermeldung von DHL abgelehnt. Der Auftrag wird nicht angemeldet und in plentymarkets wird kein Versandlabel generiert.</p>
</div>
<div class="paragraph">
<p><strong><em>Beachte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Login-Name darf keine Umlaute enthalten. Die Verwendung von Umlauten kann zu einer Abweisung über die Schnittstelle führen, auch wenn die Webseite den Login-Namen akzeptiert.</p>
</li>
<li>
<p>Das Passwort darf maximal 20 Zeichen lang sein. Zwar ist bei DHL die Verwendung eines längeren Passworts möglich, über die plentymarkets Schnittstelle erlaubt DHL jedoch maximal 20 Zeichen. Ein Passwort mit mehr als 20 Zeichen führt zu Fehlern.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="schritt-absenderdaten">4.2.2. Absenderdaten</h4>
<div class="paragraph">
<p>In diesem Schritt gibst du deine Absenderdaten ein. Die Daten werden als Absenderadresse auf dem Versandlabel angezeigt. Außerdem kannst du über das Aktivieren der Schaltflächen (<span class="icon skyBlue"><i class="material-toggle_on"></i></span>) Bankdaten und Polling-Daten anzeigen lassen.</p>
</div>
<div class="paragraph">
<p>Möchtest du, dass dein Firmenlogo auf dem Versandlabel angezeigt wird? Wähle dazu die Option <strong>Absenderreferenz aus dem DHL Geschäftskundenportal verwenden</strong>. DHL verwendet dann die Adressdaten, die du im DHL Geschäftskundenportal gespeichert hast sowie das Firmenlogo, das du dort hochgeladen haben musst. Es wird nur die Absenderreferenz an DHL übermittelt, jedoch <em>keine</em> Absenderdaten aus plentymarkets.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Wenn du im Assistenten in diesem Schritt die Schaltfläche <strong>Polling-Daten anzeigen</strong> aktivierst (<span class="icon skyBlue"><i class="material-toggle_on"></i></span>), werden die Felder <strong>Kontoreferenz</strong> und <strong>Absenderreferenz</strong> sichtbar (siehe <a href="#bild-dhl-shipping-polling-daten-anzeigen">Bild 1</a>). Die Eingabe der Kontoreferenz und der Absenderreferenz in diesem Bereich ist nur notwendig, wenn die Anmeldung der Sendungen über das <em>Polling-Format</em> erfolgt. Die Kontoreferenz und die Absenderreferenz sind für die Übertragung über die Schnittstelle <em>nicht</em> relevant.</p>
</div>
<div id="bild-dhl-shipping-polling-daten-anzeigen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/dhl-shipping-polling-daten-anzeigen.png" alt="dhl shipping polling daten anzeigen" width="640" height="360">
</div>
<div class="title">Bild 1. Polling-Daten anzeigen</div>
</div>
</div>
<div class="sect3">
<h4 id="schritt-abrechnungsnummer">4.2.3. Abrechnungsnummer</h4>
<div class="paragraph">
<p>In diesem Schritt speicherst du deine DHL Abrechnungsnummer gemäß deines DHL Vertrags.</p>
</div>
<div class="paragraph">
<p>Die DHL Abrechnungsnummer besteht insgesamt aus 14 Ziffern und setzt sich aus 3 Bestandteilen zusammen: EKP (Kundennummer), Produkt und Teilnahme. Die ersten 10 Ziffern bilden die EKP, die 11. und 12. Ziffer das Produkt und die 13. und 14. Ziffer bilden die Teilnahme.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel einer DHL Abrechnungsnummer:</em></strong> <code>1234567890 53 01</code></p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>1234567890</code> ist die EKP (Kundennummer)</p>
</li>
<li>
<p><code>53</code> steht für das Produkt <em>DHL Paket International</em></p>
</li>
<li>
<p><code>01</code> steht für die Teilnahme</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die folgenden DHL Produkte sind im Assistenten verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>01 - DHL Paket</p>
</li>
<li>
<p>53 - DHL Paket International</p>
</li>
<li>
<p>54 - DHL Europaket</p>
</li>
<li>
<p>55 - DHL Paket Connect</p>
</li>
<li>
<p>62 - DHL Warenpost</p>
</li>
<li>
<p>66 - DHL Warenpost International</p>
</li>
<li>
<p>86 - DHL Paket Austria</p>
</li>
<li>
<p>87 - DHL Paket Connect (Austria)</p>
</li>
<li>
<p>82 - DHL Paket Austria International</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><a href="#dhl-produkte-services">In diesem Kapitel</a> findest du alle zu den Produkten zugehörigen Services.</p>
</div>
</div>
<div class="sect3">
<h4 id="schritt-angaben-label">4.2.4. Angaben auf dem Label</h4>
<div class="paragraph">
<p>In diesem Schritt hast du die Möglichkeit die Angaben zu wählen, die auf dem Versandlabel angezeigt werden sollen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Einstellung, die du aus der Dropdown-Liste <strong>Angabe pro Auftrag</strong> wählst, wird <em>einmalig</em> auf dem Versandlabel angezeigt.</p>
</li>
<li>
<p>Die Einstellung, die du aus der Dropdown-Liste <strong>Angabe pro Artikelposition</strong> wählst, wird <em>pro Artikelposition</em> auf dem Versandlabel angezeigt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Beide gewählten Einstellungen werden kombiniert in einem Feld auf dem Label angezeigt. Die maximale Zeichenanzahl ist auf 35 begrenzt. Wenn die maximale Anzahl überschritten wird, wird die Angabe nach dem letzten Pipe-Zeichen abgeschnitten und das Zeichen <strong>»</strong> wird angezeigt.</p>
</div>
<div class="paragraph">
<p>Für die Auftragsdaten kannst du die folgenden Werte wählen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftrags-ID</p>
</li>
<li>
<p>Externe Auftrags-ID</p>
</li>
<li>
<p>Auftrags-ID / externe Auftrags-ID</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Für die Artikeldaten kannst du die folgenden Werte wählen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variantennummer</p>
</li>
<li>
<p>Name1</p>
</li>
<li>
<p>Variantenname</p>
</li>
<li>
<p>Varianten-ID</p>
</li>
<li>
<p>Externe Varianten-ID</p>
</li>
<li>
<p>Modell</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Du kannst in diesem Schritt außerdem wählen, ob die Anzahl der Artikel pro Position auf dem Label angezeigt werden soll und ob die Anzahl der Pakete auf dem Label für diesen Auftrag hinzugefügt werden soll, wenn es mehr als ein Paket ist.</p>
</div>
</div>
<div class="sect3">
<h4 id="schritt-zusammenfassung">4.2.5. Zusammenfassung</h4>
<div class="paragraph">
<p>In diesem Schritt wird eine Zusammenfassung aller getätigten Eingaben in den einzelnen Schritten aufgelistet. Du kannst deine Angaben prüfen, diese ggf. anpassen und den Assistenten danach abschließen.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="dhl-assistent-einstellungsverknuepfung">4.3. Assistent <strong>DHL Versenden: Einstellungsverknüpfung</strong> durchlaufen</h3>
<div class="paragraph">
<p>Du findest den Assistenten <strong>DHL Versenden: Einstellungsverknüpfung</strong> im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set.</p>
</div>
<div class="sect3">
<h4 id="schritt-einstellungsverknuepfung">4.3.1. Einstellungsverknüpfung</h4>
<div class="paragraph">
<p>In diesem Schritt verknüpfst du die Einstellungen, die du zuvor in den Assistenten <strong>Versandeinstellungen</strong> und <strong>DHL Versenden: Grundeinstellungen</strong> vorgenommen hast.</p>
</div>
<div class="paragraph">
<p>Du verknüpfst die Versandeinstellung mit der Versandregion, deinen Zugangsdaten, deiner Absenderadresse und der DHL Abrechnungsnummer und wählst die <a href="#dhl-produkte-services">Services anhand des Produkts</a> und deines DHL-Vertrags. Beachte, dass du dich ggf. für bestimmte Produkte und Services zusätzlich bei DHL freischalten lassen musst. Weitere Informationen zu den Services <a href="#service-filial-routing">Filial-Routing</a>, <a href="#service-ident-check">Ident-Check</a> und <a href="#dhl-warenpost">DHL Warenpost</a> findest du weiter unten in den verlinkten Kapiteln.</p>
</div>
<div class="paragraph">
<p>Prüfe ggf. die Einstellungen für die Optionen <strong>Standardversandart</strong> und <strong>Standardversandprofil</strong> im Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Aufträge</strong> und passe diese bei Bedarf an.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Wenn du eine DHL Abrechnungsnummer wählst, die für den internationalen Versand verwendet wird, wird automatisch der Schritt <strong>Internationale Sendungen</strong> im Assistenten angezeigt. <a href="#schritt-internationale-sendungen">Weiter unten in diesem Kapitel</a> wird erklärt, welche Einstellungen du in diesem Schritt vornehmen kannst.
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">DHL Wunschzustellung-Services erst nach Download des DHL Wunschzustellung-Plugins sichtbar</div>
<div class="paragraph">
<p>Die DHL Wunschzustellung-Services <strong>Liefertag</strong>, <strong>Ablageort</strong> und <strong>Nachbar</strong> stehen dir in diesem Bereich erst zur Verfügung, wenn du das DHL Wunschzustellung-Plugin im <a href="https://marketplace.plentymarkets.com/dhlwunschpaket_5435" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> heruntergeladen und es in einem Plugin-Set installiert und bereitgestellt hast.<br>
Auch für dieses Plugin steht dir ein Assistent im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set zur Verfügung, damit du deine Services schnell und einfach einrichten kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Außerdem kannst du in diesem Schritt über die Schaltflächen festlegen, ob deine Kund:innen mit Hilfe eines Finders die Adresse einer Packstation oder Postfiliale als Lieferadresse in deinem Webshop wählen können und ob du ein minimales Paketgewicht für die Sendungsanmeldung an DHL übertragen möchtest. Darüber hinaus kannst du festlegen, dass die Telefonnummer deiner Kund:innen weder an DHL übertragen noch auf dem Versandlabel angezeigt wird.</p>
</div>
</div>
<div class="sect3">
<h4 id="schritt-internationale-sendungen">4.3.2. Internationale Sendungen</h4>
<div class="paragraph">
<p>Dieser Schritt ist nur sichtbar, wenn du im vorherigen Schritt <strong>Einstellungsverknüpfung</strong> eine DHL Abrechnungsnummer für den internationalen Versand gewählt hast.</p>
</div>
<div class="paragraph">
<p>In diesem Schritt legst du über den Service <em>Vorausverfügung</em> fest, was mit deinen Paketen passieren soll, wenn diese im Empfängerland nicht zugestellt werden können. Wähle entweder die kostenpflichtige Rücksendung oder die kostenlose Preisgabe (Versteigerung oder Entsorgung) der Pakete. Der Service <em>Vorausverfügung</em> ist für internationale Sendungen verpflichtend.</p>
</div>
<div class="paragraph">
<p><strong>Versand in Nicht-EU-Länder</strong></p>
</div>
<div class="paragraph">
<p>Wenn du in Länder versendest, die <em>nicht</em> zur Europäischen Union gehören, aktiviere (<span class="icon skyBlue"><i class="material-toggle_on"></i></span>) die Option <strong>Ausfuhrlieferung</strong>. Zwei weitere Felder werden angezeigt, in denen du die Frankatur (siehe <a href="#table-franking-incoterms">Tabelle 1</a>) und die Sendungsart für Ausfuhrlieferungen wählen musst. Diese beiden Werte sind Pflichtwerte für Ausfuhrlieferungen.<br>
Beachte auch die Informationen zum CN23-Formular im Kapitel <a href="#zollinhaltserklaerung">Zollinhaltserklärung</a>.</p>
</div>
<table id="table-franking-incoterms" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare Frankaturen für Auslandssendungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 22.2222%;">
<col style="width: 44.4445%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Frankatur</th>
<th class="tableblock halign-left valign-top">Abkürzung</th>
<th class="tableblock halign-left valign-top">Wer zahlt was?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DAP (Frei Haus exkl. Zollabfertigung, Zölle und Steuern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DAP = Delivered at place</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Absender:in zahlt Frachtkosten</p>
</li>
<li>
<p>Empfänger:in zahlt Zollabfertigung, Zölle und Steuern</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DDP (Frei Haus inkl. Zollabfertigung, Zölle und Steuern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DDP = Delivery duty paid</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Absender:in zahlt Frachtkosten, Zollabfertigung, Zölle und Steuern</p>
</li>
<li>
<p>Empfänger:in zahlt nichts</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DXV (Frei Haus inkl. Zollabfertigung, Zölle, exkl. Steuern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DXV = Delivery duty paid (excl. taxes)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Absender:in zahlt Frachtkosten, Zollabfertigung und Zölle</p>
</li>
<li>
<p>Empfänger:in zahlt Steuern</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DDX (Frei Haus inkl. Zollabfertigung, exkl. Zölle und Steuern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DXV = Delivery duty paid (excl. duties and taxes)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Absender:in zahlt Frachtkosten</p>
</li>
<li>
<p>Empfänger:in zahlt Zollabfertigung, Zölle und Steuern</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="abgeschlossener-assistent-einstellungsverknuepfung" class="discrete">Abgeschlossener Assistent <strong>DHL Versenden: Einstellungsverknüpfung</strong></h4>
<div class="openblock collapseBox">
<div class="title">Welche Informationen werden bei dem abgeschlossenen Assistenten <strong>DHL Versenden: Einstellungsverknüpfung</strong> angezeigt?</div>
<div class="content">
<div class="paragraph">
<p>Wenn du den Assistenten <strong>DHL Versenden: Einstellungsverknüpfung</strong> abgeschlossen hast und diesen erneut öffnest, werden die folgenden Informationen angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In der Kachelansicht:</p>
<div class="ulist">
<ul>
<li>
<p>Versandart</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Abrechnungsnummer</p>
</li>
</ul>
</div>
</li>
<li>
<p>In der Tabellenansicht:</p>
<div class="ulist">
<ul>
<li>
<p>Versandart</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Abrechnungsnummer</p>
</li>
<li>
<p>Login-Name</p>
</li>
<li>
<p>Services</p>
</li>
<li>
<p>Versandprofil-ID</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="dhl-produkte-services">4.3.3. DHL Produkte und Services</h4>
<div class="paragraph">
<p>Klappe (<span class="icon "><i class="material-expand_more"></i></span>) den folgenden Bereich auf, um eine Liste aller im DHL Shipping (Versenden)-Plugin verfügbaren DHL Produkte und dazugehörigen Services zu sehen. Beachte, dass sich die in deinem System verfügbaren Produkte und Services nach deinem DHL-Vertrag richten. Es kann also sein, dass du dich ggf. für bestimmte Produkte und Services zusätzlich bei DHL freischalten lassen musst.</p>
</div>
<div class="openblock collapseBox">
<div class="title">DHL Produkte und Services</div>
<div class="content">
<div class="paragraph">
<p>Die folgende Tabelle listet alle Produkte und Services auf, die aktuell über das Plugin <strong>DHL Shipping (Versenden)</strong> zur Verfügung stehen.</p>
</div>
<table id="table-dhl-products-services" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Aktuell verfügbare DHL Produkte und Services</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Produkt</th>
<th class="tableblock halign-left valign-top">Service</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>01 - DHL Paket</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne Services</p>
</li>
<li>
<p>Versandbestätigung</p>
</li>
<li>
<p>Alterssichtprüfung: 16</p>
</li>
<li>
<p>Alterssichtprüfung: 18</p>
</li>
<li>
<p>Persönliche Übergabe</p>
</li>
<li>
<p>Keine Nachbarschaftszustellung</p>
</li>
<li>
<p>Transportversicherung</p>
</li>
<li>
<p>Sperrgut</p>
</li>
<li>
<p>Nachnahme</p>
</li>
<li>
<p><a href="#service-filial-routing">Filial-Routing</a></p>
</li>
<li>
<p><a href="#service-ident-check">Ident-Check Mindestalter 16</a></p>
</li>
<li>
<p><a href="#service-ident-check">Ident-Check Mindestalter 18</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>53 - DHL Paket International</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne Services</p>
</li>
<li>
<p>Versandbestätigung</p>
</li>
<li>
<p>Rückschein</p>
</li>
<li>
<p>Transportversicherung</p>
</li>
<li>
<p>Sperrgut</p>
</li>
<li>
<p>Nachnahme</p>
</li>
<li>
<p>Premium</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>54 - DHL Europaket</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne Services</p>
</li>
<li>
<p>Versandbestätigung</p>
</li>
<li>
<p>Transportversicherung</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>55 - DHL Paket Connect</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne Services</p>
</li>
<li>
<p>Versandbestätigung</p>
</li>
<li>
<p>Transportversicherung</p>
</li>
<li>
<p>Sperrgut</p>
</li>
<li>
<p>Nachnahme</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>62 - <a href="#dhl-warenpost">DHL Warenpost</a></strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne Services</p>
</li>
<li>
<p>Versandbestätigung</p>
</li>
<li>
<p><a href="#service-filial-routing">Filial-Routing</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>66 - <a href="#dhl-warenpost-international">DHL Warenpost International</a></strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne Services</p>
</li>
<li>
<p>Premium</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>82 - DHL Paket Austria International</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne Services</p>
</li>
<li>
<p>Versandbestätigung</p>
</li>
<li>
<p>Transportversicherung</p>
</li>
<li>
<p>Sperrgut</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>86 - DHL Paket Austria</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne Services</p>
</li>
<li>
<p>Versandbestätigung</p>
</li>
<li>
<p>Transportversicherung</p>
</li>
<li>
<p>Sperrgut</p>
</li>
<li>
<p>Nachnahme</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>87 - DHL Paket Connect (Austria)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne Services</p>
</li>
<li>
<p>Versandbestätigung</p>
</li>
<li>
<p>Transportversicherung</p>
</li>
<li>
<p>Sperrgut</p>
</li>
<li>
<p>Nachnahme</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="datenuebermittlung">5. Informationen zur Datenübermittlung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du im DHL Shipping (Versenden)-Versandprofil im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> die Option <strong>Einwilligung zur Datenübermittlung</strong> aktiviert hast, wird deinen Kund:innen im Checkout deines plentyShops eine Checkbox angezeigt. Deine Kund:innen können dann entscheiden, ob sie der Übertragung ihrer Daten an den Versanddienstleister zustimmen oder nicht.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wenn die Person der Übertragung der Daten zustimmt, wird die E-Mail-Adresse dieser Person an den Versanddienstleister übertragen.</p>
</li>
<li>
<p>Wenn die Person der Übertragung der Daten <em>nicht</em> zustimmt, wird die alternative E-Mail-Adresse, die du im Versandprofil eingegeben hast, übertragen.</p>
</li>
<li>
<p>Wenn die Person der Übertragung der Daten <em>nicht</em> zustimmt und du keine alternative E-Mail-Adresse im Versandprofil eingegeben hast, wird eine Fehlermeldung angezeigt und der Auftrag kann nicht bei DHL angemeldet werden.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Daher ist es wichtig, dass du alternative Werte für die E-Mail-Adresse und die Telefonnummer im Versandprofil eingibst. Andernfalls ist es bei der Wahl bestimmter Services nicht möglich, den Auftrag erfolgreich anzumelden.
<strong><em>Hinweis:</em></strong> Für den Service <strong>Filial-Routing</strong> gibt es im Assistenten <strong>DHL Versenden: Einstellungsverknüpfung</strong> eine zusätzliche Auswahl für das <a href="#service-filial-routing">Übermitteln der E-Mail-Adresse</a> bzw. einer alternativen E-Mail-Adresse.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Polling-Datei im Falle einer Störung bei DHL hochladen</div>
<div class="paragraph">
<p>Sollte es zu einer Störung der Schnittstelle seitens DHL kommen, hast du die Möglichkeit auf das Polling-Format <strong>DHL Shipping (Versenden)</strong> auszuweichen. Erzeuge über einen Prozess und plentyBase oder im Menü <strong>Aufträge » Versand-Center</strong> eine Polling-Datei, die die anzumeldenden Aufträge enthält, und lade diese Datei im DHL Geschäftskundenportal über die Vorlage <strong>DHL plentymarkets Importformat</strong> hoch.<br>
Beachte, dass die folgenden Services <em>nicht</em> über das Polling-Format an DHL übermittelt werden können:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Return immediately, 2nd attempt of delivery, Verpackungsrücknahme, Unzustellbarkeitsnachricht (bei Wahl des Produkts 01 - DHL Paket)<br></p>
</li>
<li>
<p>immediate, after deadline abandonment (bei Wahl des Produkts 53 - DHL Paket International)<br></p>
</li>
<li>
<p>DHL Wunschzustellung-Services</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="service-filial-routing">6. Service Filial-Routing verwenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Service <em>Filial-Routing</em> erhält deine Sendung im Fall der Unzustellbarkeit (das bedeutet, dass die Person, die das Paket empfangen soll, nicht ermittelt werden konnte) eine zweite Chance, die Person zu erreichen: Statt die unzustellbare Sendung direkt an dich zurückzuschicken, wird diese in der nächstgelegenen Filiale mit Paketausgabe zur Abholung durch diese Person hinterlegt. Die Person, die das Paket empfangen soll, wird per E-Mail darüber informiert. Dies spart Kosten und Aufwand auf deiner Seite, die im Falle einer Rücksendung anfallen würden.</p>
</div>
<div class="paragraph">
<p>Damit deine Kund:innen den Service Filial-Routing nutzen können, sind die folgenden Einstellungen wichtig:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Aktiviere im Versandprofil im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> die Option <strong>Einwilligung zur Datenübermittlung</strong> und wähle eine Option für die Übertragung der Daten (E-Mail-Adresse und Telefonnummer).</p>
<div class="ulist">
<ul>
<li>
<p>Diese Einstellung ist wichtig für Aufträge, die über den Webshop in dein plentymarkets System kommen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Aktiviere im Assistenten <strong>DHL Versenden: Einstellungsverknüpfung</strong> den Service <strong>Filial-Routing</strong>.</p>
<div class="ulist">
<ul>
<li>
<p>Wähle in der Dropdown-Liste, die sich dann unten öffnet, welche E-Mail-Adresse für den Service Filial-Routing übertragen werden soll:</p>
<div class="ulist">
<ul>
<li>
<p>E-Mail-Adresse des Empfängers übertragen, falls verfügbar (<em>standardmäßig ausgewählt</em>)</p>
</li>
<li>
<p>Alternative E-Mail-Adresse übertragen</p>
</li>
<li>
<p>E-Mail-Adresse des Empfängers übertragen, falls verfügbar, sonst eine Alternative</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einstellung im Assistenten hat Priorität</div>
<div class="paragraph">
<p>Die Einstellung im Assistenten bezüglich der Übertragung von alternativen Daten hat Priorität vor den Einstellungen im Versandprofil.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="service-ident-check">7. Service Ident-Check verwenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stelle sicher, dass deine Pakete nur an die Personen, die das Paket empfangen sollen, persönlich übergeben werden, nachdem die DHL Zustellperson die Identität und das Alter ausweisgestützt und dokumentiert geprüft hat.</p>
</div>
<div class="paragraph">
<p>Damit deine Kund:innen den Service Ident-Check (Mindestalter 16 oder 18) nutzen können, ist die folgende Einstellung wichtig:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Aktiviere im Assistenten <strong>DHL Versenden: Grundeinstellungen</strong> im Schritt <strong>Produkt- und Serviceauswahl</strong> den Service <strong>Ident-Check</strong>.</p>
</li>
</ul>
</div>
<div id="bild-dhl-shipping-ident-check" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/dhl-shipping-label-ident-check.png" alt="dhl shipping label ident check" width="640" height="360">
</div>
<div class="title">Bild 2. Beispiel: DHL-Label mit Ident-Check +18</div>
</div>
</div>
</div><div class="sect1">
<h2 id="dhl-warenpost">8. DHL Warenpost verwenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Viele Artikel sind zu klein, um sie im Paket oder Päckchen zu verschicken. Wenn du viele solcher Artikel versendest, ist DHL Warenpost eine komfortable Lösung. DHL Warenpost ist nur für Sendungen innerhalb Deutschlands verfügbar.</p>
</div>
<div class="paragraph">
<p>Damit du deinen Kund:innen DHL Warenpost anbieten kannst, müssen die Artikel- und Paketdaten korrekt gepflegt und an den Versanddienstleister übermittelt werden. Laut DHL sind die folgenden Dimensionen zu pflegen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Mindestmaß: Länge: 10,0 cm, Breite: 7,0 cm, Höhe: 0,1 cm</p>
</li>
<li>
<p>Höchstmaß: Länge: 35,3 cm, Breite: 25,0 cm, Höhe: 5,0 cm</p>
</li>
<li>
<p>Höchstgewicht: 1000 g</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beim Anmelden des Auftrags prüft DHL das Höchstmaß und das Höchstgewicht. Mindestmaße werden seitens DHL bei der Anmeldung nicht überprüft.</p>
</div>
<div class="paragraph">
<p>Nimm die in den folgenden Unterkapiteln beschriebenen Einstellungen im <a href="#dhl-warenpost-einstellungen-backend">plentymarkets Backend</a>, in den <a href="#dhl-warenpost-einstellungen-assistenten">Assistenten</a> und im <a href="#dhl-warenpost-einstellungen-gkp">DHL Geschäftskundenportal</a> vor:</p>
</div>
<div class="sect2">
<h3 id="dhl-warenpost-einstellungen-backend">8.1. Einstellungen im Backend</h3>
<div class="ulist">
<ul>
<li>
<p>An den Varianten, die du mit DHL Warenpost versenden möchtest, ist es empfehlenswert, das Gewicht im Bereich <strong>Maße</strong> zu pflegen.</p>
</li>
<li>
<p>Damit die Maße nicht überschritten werden, kannst du eine der beiden Optionen nutzen, die in den Versandpaketeinstellungen im Menü <strong>Einrichtung » Aufträge » Versand » Versandpakete</strong> unter <strong>Volumenangabe</strong> eingerichtet werden können.</p>
</li>
</ul>
</div>
<div id="bild-dhl-shipping-warenpost-versandpaket" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/dhl-shipping-warenpost-versandpaket-volumen.png" alt="dhl shipping warenpost versandpaket volumen" width="640" height="360">
</div>
<div class="title">Bild 3. Versandpaket für DHL Warenpost: Volumenangabe</div>
</div>
<div class="paragraph">
<p>Die beiden Optionen zur Volumenangabe im Versandpaket werden im Folgenden näher erläutert:</p>
</div>
<div class="sect3">
<h4 id="vom-versandpaket">8.1.1. vom Versandpaket beziehen</h4>
<div class="paragraph">
<p>Damit die Pakete im Versand-Center immer mit den korrekten Maßen generiert werden und der Auftrag mit DHL Warenpost erfolgreich angemeldet werden kann, kannst du die Option <strong>vom Versandpaket beziehen</strong> nutzen und die zulässigen Höchstmaße (Länge, Breite, Höhe) dort in cm speichern.</p>
</div>
<div id="bild-dhl-shipping-warenpost-masse" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/dhl-shipping-warenpost-versandpaket-masse.png" alt="dhl shipping warenpost versandpaket masse" width="640" height="360">
</div>
<div class="title">Bild 4. Versandpaket für DHL Warenpost: Maße</div>
</div>
<div class="paragraph">
<p>Wenn du die oben genannten Einstellungen wählst, werden die Maße vom Versandpaket und das Bruttogewicht aller Varianten im Auftrag an den Versanddienstleister übermittelt.</p>
</div>
</div>
<div class="sect3">
<h4 id="von-artikeldaten">8.1.2. von Artikeldaten beziehen (summiert)</h4>
<div class="paragraph">
<p><strong><em>Beachte:</em></strong> Wenn du die Option <strong>von Artikeldaten beziehen (summiert)</strong> wählst, wird <em>nur das Gewicht</em> an den Versanddienstleister übermittelt. Die Logik übermittelt die anderen Maße (Länge, Breite, Höhe) nicht.</p>
</div>
<div class="paragraph">
<p>Du kannst aber im Versandprofil das Volumen anhand einer Volumenbeschränkung berechnen lassen. Wähle dazu in der Region des entsprechenden Versandprofils den Beschränkungstyp <strong>Maximum (Kubikmeter)</strong> und speichere dort das berechnete Volumen aus den von DHL für die Warenpost vorgegebenen Höchstmaßen in m³:
<code>353 mm x 250 mm x 50 mm = 0,0044 m³</code>.<br>
Eine andere Möglichkeit ist es, den Beschränkungstyp <strong>Maximum (g)</strong> in der Region des Versandprofils zu wählen und dort das von DHL für die Warenpost vorgegebene Höchstgewicht von 1000 g zu speichern.</p>
</div>
<div class="paragraph">
<p>Das Versandpaket kannst du danach in der entsprechenden Region des aktuellen Versandprofils im Tab <strong>Portotabelle</strong> als Standardpaket wählen:</p>
</div>
<div id="bild-dhl-shipping-warenpost-standardpaket" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/dhl-shipping-warenpost-standardpaket.png" alt="dhl shipping warenpost standardpaket" width="640" height="360">
</div>
<div class="title">Bild 5. Versandpaket für DHL Warenpost als Standardpaket im Versandprofil</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="dhl-warenpost-einstellungen-assistenten">8.2. Einstellungen in den Assistenten</h3>
<div class="ulist">
<ul>
<li>
<p>Wähle im Assistenten <strong>DHL Versenden: Grundeinstellungen</strong> im Schritt <strong>Abrechnungsnummer</strong> als Produkt <strong>62 - Warenpost</strong>.</p>
</li>
<li>
<p>Wähle im Assistenten <strong>DHL Versenden: Einstellungsverknüpfung</strong> die DHL Abrechnungsnummer für Warenpost und wähle die passenden Services, die du mit dieser Versandeinstellung verknüpfen möchtest.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="dhl-warenpost-einstellungen-gkp">8.3. Einstellungen im DHL Geschäftskundenportal</h3>
<div class="paragraph">
<p>Wähle im DHL Geschäftskundenportal die passende Größe für die Versandlabels:</p>
</div>
<div id="bild-dhl-shipping-warenpost" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/dhl-shipping-warenpost-labelgroesse.png" alt="dhl shipping warenpost labelgroesse" width="640" height="360">
</div>
<div class="title">Bild 6. Labelgrößen, die Warenpost für den Versand benötigt</div>
</div>
<div class="paragraph">
<p>Öffne im DHL Geschäftskundenportal den Bereich <strong>Versenden &gt; Einstellungen &gt; Allgemein</strong> und richte die Druckereinstellungen für deine Versandlabels ein. Du kannst aktivieren, dass für Warenpost die Labelgröße 100 x 70 mm verwendet wird. Beachte, dass bei dieser Labelgröße zusätzliche Informationen wie Name 2 und Name 3 bei der Absenderadresse und Name 3 bei der Empfängeradresse <em>nicht</em> auf dem Label gedruckt sind.</p>
</div>
<div class="paragraph">
<p>Du kannst für Warenpost auch das bekannte Common Label im Format 100 x 200 mm verwenden.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zu DHL Warenpost findest du auf der <a href="https://www.dhl.de/de/geschaeftskunden/paket/leistungen-und-services/dhl-warenpost.html" target="_blank" rel="noopener">Webseite von DHL</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
<div class="sect2">
<h3 id="dhl-warenpost-international">8.4. DHL Warenpost International</h3>
<div class="paragraph">
<p>DHL Warenpost International ist die ideale Lösung für den weltweiten Versand von kleinen und leichten Sendungen, die nicht nur günstig, sondern auch schnell und zuverlässig bei deinen Kund:innen ankommen sollen. Zusätzliche Transparenz und Sicherheit durch Tracking und Haftung bietet der Service <em>Premium</em>.</p>
</div>
<div class="paragraph">
<p>Beim Anmelden einer internationalen Warenpostsendung in ein Nicht-EU-Land wird automatisch das CN22-Formular auf dem Label mit ausgegeben.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="dhl-shipping-benutzerrechte">9. Rechte für Backend-Benutzer:innen vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> mit dem DHL Shipping (Versenden)-Plugin arbeiten können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Aufträge &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Aufträge &gt; Aktualisieren</strong></p>
</li>
<li>
<p><strong>Aufträge &gt; Versand &gt; Versandpaket</strong></p>
</li>
<li>
<p><strong>Aufträge &gt; Versand &gt; Pakettyp &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Aufträge &gt; Auftragseigenschaften &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Aufträge &gt; Dokumente &gt; Anlegen</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Funktion <strong>Versenden</strong> im DHL Geschäftskundenportal</div>
<div class="paragraph">
<p>Beachte außerdem, dass die Funktion <strong>Versenden</strong> für diese Benutzer:innen im DHL Geschäftskundenportal freigeschaltet sein muss.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="testmodus-aktivieren">10. Testmodus aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Standardmäßig ist der Produktivmodus im <strong>DHL Shipping (Versenden)</strong>-Plugin aktiviert. Du kannst den Testmodus für das Plugin aktivieren, um die Einstellungen zu prüfen.</p>
</div>
<div class="paragraph">
<p><strong><em>Wichtig:</em></strong> Zum Testen benötigst du Zugangsdaten zu einem Test-Account (DHL Entwicklerportal).</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um den Testmodus für das Plugin zu aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Testmodus aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, in dem sich das DHL Shipping (Versenden)-Plugin befindet, indem du auf die Zeile der Tabelle klickst.</p>
</li>
<li>
<p>Klicke auf die Zeile <strong>DHL Shipping (Versenden)</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Konfiguration &gt; Allgemein</strong>.</p>
</li>
<li>
<p>Wähle die Einstellung <strong>Test</strong> aus der Dropdown-Liste <strong>Modus</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellung.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="zollinhaltserklaerung">11. Zollinhaltserklärung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für Pakete, die du in Länder außerhalb der EU versendest, benötigst du eine Zollinhaltserklärung, das sogenannte <em>CN23-Formular</em>. Zollinhaltserklärungen werden außen am Paket - am besten in einer transparenten, selbstklebenden Hülle - befestigt. So erkennen die Zollbeamt:innen im Zielland dann auf einen Blick den Wert und den Inhalt deines Pakets und können das Formular bei Bedarf zur genaueren Prüfung entnehmen.</p>
</div>
<div class="paragraph">
<p>Die folgenden Daten müssen auf dem CN23-Formular eingetragen werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Absenderdaten</p>
</li>
<li>
<p>Empfängerdaten</p>
</li>
<li>
<p>EORI-Nummer, also die Kennnummer des Absenders für Zollzwecke</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Hinweis:</em></strong> Wenn du deine EORI-Nummer im <strong>Basics</strong>-Assistenten gespeichert hast, wird diese Nummer automatisch auf dem CN23-Formular ausgegeben.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Kennnummer des Empfängers (nur relevant bei B2B)</p>
</li>
<li>
<p>Detaillierte Beschreibung des Inhalts</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Hinweis:</em></strong> Wenn der Auftrag mehr als 5 Artikel enthält, wird dem CN23-Formular eine weitere Seite hinzugefügt, auf der alle Artikel aufgelistet sind.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Menge, Gewicht, Warenwert</p>
</li>
<li>
<p>Zolltarifnummer</p>
</li>
<li>
<p>Ursprungsland der Waren</p>
</li>
<li>
<p>Gesamtgewicht des Pakets</p>
</li>
<li>
<p>Gesamtwert des Paketinhalts</p>
</li>
<li>
<p>Art der Sendung</p>
</li>
<li>
<p>ggf. Rechnungsnummer</p>
</li>
<li>
<p>Datum und Unterschrift des Absenders</p>
</li>
</ul>
</div>
<div id="bild-dhl-cn23-formular" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/dhl-shipping-cn23-formular.png" alt="dhl shipping cn23 formular" width="640" height="360">
</div>
<div class="title">Bild 7. CN23-Formular</div>
</div>
<div class="paragraph">
<p>Weitere Informationen zu der Zollinhaltserklärung findest du auf der <a href="https://www.dhl.de/de/toolbar/footer/informationen/zollinformationen.html" target="_blank" rel="noopener">Webseite von DHL</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="tracking-url">12. Tracking-URL von DHL</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die aktuell gültige, plentymarkets bekannte Tracking-URL von DHL lautet:<br>
<strong>https://nolp.dhl.de/nextt-online-public/de/search?piececode=[PaketNr]</strong>.</p>
</div>
</div>
</div>
</main>