<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Why catalogues?</span></a></li>
<li><a href="#200"><span>2.</span><span> Important information on Amazon catalogues</span></a></li>
<li><a href="#300"><span>3.</span><span> Important preparation</span></a></li>
<li><a href="#400"><span>4.</span><span> Creating a catalogue for variation export</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>4.1.</span><span> Creating a catalogue in the assistant</span></a></li>
<li><a href="#600"><span>4.2.</span><span> Mapping additional data fields (not in assistant)</span></a></li>
</ul>
</li>
<li><a href="#700"><span>5.</span><span> Linking data fields created in the assistant with variations</span></a></li>
<li><a href="#800"><span>6.</span><span> Activating the variation export</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>6.1.</span><span> Activating a catalogue for an existing export</span></a></li>
<li><a href="#1000"><span>6.2.</span><span> Activating a catalogue for a new export</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>7.</span><span> Troubleshooting</span></a></li>
<li><a href="#_next_steps"><span>8.</span><span> Next steps</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Amazon: Setting up catalogue export</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/en/markets/amazon/preparing-variations"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Preparing variations</a>
<a href="/en/markets/amazon/amazon-fulfilment/fulfilment">Setting up fulfilment <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>The Amazon catalogue is here! Amazon is the first big market to be offered for variation export via catalogues. However, if you prefer you can still use the old export.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Why catalogues?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Your catalogues will quickly become your control centre for all variation exports.</p>
</li>
<li>
<p>The catalogue provides the data structure of the flatfile. As such, you know exactly which variation data is necessary to sell your products on Amazon.</p>
</li>
<li>
<p>You decide what variation data is exported for each flatfile and each platform. At the same time, suggestions help you to set up additional catalogues more quickly: Because once you have mapped a marketplace data field to a plentymarkets field, this mapping is suggested to you next time.</p>
</li>
<li>
<p>You can transmit data more flexibly because you can map fields in any way you like.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Amazon catalogues are a new feature!</div>
<div class="paragraph">
<p>Catalogues for exporting variation data to Amazon are a new feature.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Important information on Amazon catalogues</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>A separate catalogue is created for each combination of an Amazon account, an Amazon platform and a flatfile.<br>
<strong><em>Note:</em></strong> If Amazon releases a new version of the flatfile, a new catalogue needs to be created. The good news is: You can <a href="/en/data/exporting-data/marketplace-export#190">copy and edit</a> the catalogue with the old flatfile version with a few convenient clicks.</p>
</li>
<li>
<p>Characteristics and free text fields cannot be transmitted to Amazon in catalogues. You can create properties for the mandatory field of a flatfile in the assistant for the Amazon catalogue. You can create and map additional properties at any time.</p>
</li>
<li>
<p>A separate flatfile exists for Amazon Business (B2B). As such, you need to create a separate catalogue for Amazon Business.</p>
</li>
<li>
<p>BMVD export categories are ignored in the catalogues.</p>
</li>
<li>
<p>All mandatory fields of the flatfile are mapped in the assistant. You can map additional fields in the <strong>Data » Catalogues</strong> menu after the catalogue is created.</p>
</li>
<li>
<p>Do you already sell on Amazon and export variation data to the market? When you activate an Amazon catalogue for one combination of Amazon account, Amazon platform and flatfile, the old variation export for this combination is deactivated automatically.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Important preparation</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Set up the Amazon accounts you need. To do so, follow the steps described on the <a href="/en/markets/amazon/amazon-setup">Setting up Amazon</a> page of the manual.</p>
</li>
<li>
<p>Then prepare your variations for exporting them to Amazon. The <a href="/en/markets/amazon/preparing-variations">Preparing variations</a> page will tell you how.</p>
</li>
<li>
<p>Before you create your first Amazon catalogue, familiarise yourself with <a href="/en/data/exporting-data/marketplace-export">how catalogues are used in plentymarkets</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Creating a catalogue for variation export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Amazon catalogues are created with the <strong>Creating catalogues - Amazon</strong> assistant in the <strong>Setup » Assistants » Omni-Channel</strong> menu.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A separate catalogue is created for each combination of an Amazon account, an Amazon platform and a flatfile.</p>
</li>
<li>
<p>All mandatory fields of the flatfile are mapped in the assistant.</p>
</li>
<li>
<p>Optional fields are mapped in the <strong>Data » Catalogue</strong> menu once the catalogue has been created.</p>
</li>
<li>
<p>Amazon catalogues can only be created in the assistant, not in the <strong>Data » Catalogue</strong> menu.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Free text fields and characteristics are not supported</div>
<div class="paragraph">
<p>Catalogues do not support free text fields or characteristics. Only properties can be transmitted to Amazon in catalogues. You can create properties for all mandatory fields of a flatfile in the assistant.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="500">4.1. Creating a catalogue in the assistant</h3>
<div class="paragraph">
<p>The assistant <strong>Create catalogues - Amazon</strong> allows you to create a catalogue for exporting your variation data to Amazon in a few easy steps. You specify a name for the catalogue and decide on the flatfiles and the Amazon platform to use. You also map all mandatory fields in the catalogue.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">One catalogue per account, plattform and flatfile</div>
<div class="paragraph">
<p>You need a separate catalogue for each combination of Amazon account, Amazon platform and flatfile. This is made easy thanks to suggestions: Because once you have mapped a marketplace data field to a plentymarkets field, this mapping is suggested to you next time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Create catalogues - Amazon</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info boxes below this description (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to make sure they are correct.<br>
<strong><em>Tip:</em></strong> In the <strong>Summary</strong> step, click on the arrow (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p>Open the catalogue in the <strong>Data » Catalogues</strong> menu to map more fields.<br>
<strong><em>Note:</em></strong> You need a separate catalogue for each combination of Amazon account, Amazon platform and flatfile.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Step <strong>User account</strong></div>
<div class="content">
<div class="paragraph">
<p>Select the amazon account from the drop-down list. You need to create a separate catalogue for each combination of one Amazon account, one Amazon platform and one Amazon flatfile. You can only select Amazon accounts that are already saved in your plentymarkets system. If the account is not shown, go to <strong>Setup » Markets » Amazon » Settings</strong> and create a <a href="/en/markets/amazon/amazon-setup#300">new account</a> or use the assistant <strong>Base settings - Amazon</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> Create <a href="/en/crm/managing-contacts#15">the necessary customer classes</a> in advance if they do not already exist in your plentymarkets system.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Step <strong>Name, flatfile and platform</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the catalogue. If no name is entered, a name is generated automatically.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate item export</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activates the export. The export is deactivated by default.<br>
<strong><em>Note:</em></strong> Check all mappings before activating the export. You can also activate the catalogue later in the <strong>Data » Catalogue</strong> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fulfilment method</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select if only MFN variations, only FBA variations or both are to be exported in this catalogue.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Transmit MFN and FBA variations</strong> (default setting) = MFN variations and FBA variations are transmitted (recommended).<br></p>
</li>
<li>
<p><strong>Only transmit MFN variations</strong> = Only variations that you ship yourself are transmitted. As such, a separate catalogue must be created for FBA variations.<br></p>
</li>
<li>
<p><strong>Only transmit FBA variations</strong> = Only variations shipped by Amazon are transmitted. As such, you need to create a separate catalogue for variations that you ship yourself.<br>
<strong><em>Tip:</em></strong> We recommend that you manage both fulfilment methods in a single catalogue.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon flatfile</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the flatfile to use for this catalogue.<br>
A flatfile is a file template for specific product categories provided by Amazon. This file template specifies the variation and stock data that needs to be exported to Amazon.<br>
<strong><em>Note:</em></strong> Only flatfiles for platforms that are activated for the Amazon account that you selected in step 1 are shown. If necessary, activate <a href="/en/markets/amazon/amazon-setup#300">additional platforms for the Amazon account</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon platform</strong><br>
(only shown once a flatfile is selected)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the Amazon platform from the drop-down list.<br>
<strong><em>Note:</em></strong> Only Amazon platforms that are activated for the Amazon account that you selected in step 1 are shown. If necessary, activate <a href="/en/markets/amazon/amazon-setup#300">additional platforms for the Amazon account</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flatfile version</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates the version of the flatfile used.<br>
<strong><em>Note:</em></strong> If Amazon releases a new version of the flatfile, you need to create a new catalogue.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Step <strong>Setting up the catalogue</strong></div>
<div class="content">
<div class="paragraph">
<p>In this step, you map plentymarkets data fields with the data fields of the selected Amazon flatfile. All data fields shown in this step are mandatory fields and need to be mapped. You can map additional fields in the <strong>Data » Catalogue</strong> menu after you completed the assistant.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
If you have created a catalogue for Amazon already, data fields are shown as suggestions in every catalogue after that. For each marketplace data field, the plentymarkets data field that you mapped to this field most often is suggested.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>Create property</strong> = Creates a new property and maps this property to the data field. The properties are grouped in the property group <strong>Amazon Catalog</strong> of the <strong>Setup » Settings » Properties » Groups</strong> menu. The name of the property is based on the field in the flatfile.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Create price</strong> = Creates a sales price and maps this sales price to the data field. Automatically created sales prices can be checked and edited in the <strong>Setup » Item » Sales prices</strong> menu. The name of the sales price carries the prefix "Amazon Catalogue".</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Create barcode</strong> = Creates a new barcode and maps this barcode to the data field. Automatically created barcodes can be checked and edited in the <strong>Setup » Item » Barcodes</strong> menu.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Select data field</strong> = A data field in plentymarkets is transmitted to Amazon. Select the data field from the drop-down list <strong>Select data field</strong>.<br>
<strong><em>Note:</em></strong> Fields with the option <strong>Map data field manually</strong> cannot be mapped in the assistant. You need to map these fields manually after the catalogue has been created.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Manually map data field</strong> = These fields are not mapped automatically in the assistant. You need to map these data fields manually after the catalogue has been created.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="600">4.2. Mapping additional data fields (not in assistant)</h3>
<div class="paragraph">
<p>You have already mapped important mandatory fields for the flatfile in the assistant. You need to map additional data fields after you completed the assistant. You can also map additional fields to send even more information about your products to Amazon.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Getting to know the catalogue menu for marketplace formats</div>
<div class="content">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/catalogue-menu-colours.png" alt="catalogue menu colours">
</div>
</div>
<div class="paragraph">
<p><em>Menu structure of a catalogue with marketplace format</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong> When you open a catalogue, the view <strong>Mapping</strong> is shown by default. Use the navigation to switch to other views of the catalogue. Access the catalogue settings or set filters to only export specific data. You can also go back to the catalogues overview or create a new catalogue.</p>
</li>
<li>
<p><strong>Toolbar</strong> The toolbar provides actions for the catalogue. For example, save your mappings, restore an older version of the catalogue or hide or show optional marketplace data fields.</p>
</li>
<li>
<p><strong>Marketplace data fields</strong> To the right of the navigation, all data fields available for the market are listed. Mandatory fields are marked with an asterisk (✱).<br>
<strong><em>Tip:</em></strong> In the toolbar, click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>) to show or hide optional data fields.</p>
</li>
<li>
<p><strong>plentymarkets data fields</strong> The left side of the catalogue is where you map the marketplace data fields with suitable plentymarkets data fields. In the screenshot, a few of the fields are already mapped.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Properties instead of free text fields and characteristics</div>
<div class="paragraph">
<p>With catalogues, you can no longer export free text fields or characteristics. Instead, use <a href="/en/item/settings/properties#500">properties</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mapping catalogue fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab opens.<br>
<strong><em>Note:</em></strong> The catalogue may appear to be empty at first. Depending on the size of the flatfile, it may take several minutes before the data fields are loaded and shown.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (<strong>).<br>
→ In the right column, you map the plentymarkets data fields. Any plentymarkets data fields that are already assigned are also shown in the right column.<br>
*<em>Tip:</em></strong> Need more information about the plentymarkets data fields? All data fields are described on the manual page for the standard format <a href="/en/data/exporting-data/catalogues-item">Item (new)</a>.</p>
</li>
<li>
<p>Now, map suitable plentymarkets data fields to the market data fields.<br>
You can choose from the following mappings which are described in the info boxes below:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Simple 1:1 mapping</strong></p>
</li>
<li>
<p><strong>Complex 1:1 mapping</strong></p>
</li>
<li>
<p><strong>1:1 mapping with fallback data fields</strong></p>
</li>
<li>
<p><strong>1:n mapping</strong></p>
</li>
<li>
<p><strong>Own value mapping</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Information about the data fields</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Data fields of the marketplace:</em></strong></p>
<div class="ulist">
<ul>
<li>
<p>Check the documentation of the market to find information about the marketplace data fields.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Data fields in plentymarkets</em></strong>:</p>
<div class="ulist">
<ul>
<li>
<p>Check out the manual page for the standard format <a href="/en/data/exporting-data/catalogues-item">Item (new)</a> for more information about the plentymarkets data fields that you can map in this catalogue.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Simple 1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>In a simple 1:1 mapping, you map a plentymarkets data field to the marketplace data field. If no suitable setting exists in plentymarkets, you can map a property instead.</p>
</div>
<div class="paragraph">
<p>As such, simple 1:1 mappings allow you to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If the data field is empty for a variation, no value is exported for this variation.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a simple 1:1 mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Sales price and RRP</p>
</div>
<div class="paragraph">
<p>This gif shows you how to map the marketplace data fields <strong>Sales price</strong> and <strong>RRP</strong> for Otto Market to suitable plentymarkets data fields:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-simple-en.gif" alt="gif catalogue mapping simple en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Complex 1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>Like with the simple 1:1 mappings, you map a plentymarkets setting or property to a marketplace data field. Complex mappings are necessary whenever a marketplace data field has more than one possible value. Instead of mapping data fields, for complex mappings you instead map the values of these data fields. For example, you cannot simply map the plentymarkets data field <strong>Shipping profile</strong> to the marketplace data field <strong>Shipping method</strong>. Why? The market cannot know which of your shipping profiles in plentymarkets corresponds to which of their shipping methods.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Do not enter own values for complex mappings. All values that you enter must be saved for the variations, either in a setting or as a property value. This also applies if the value <strong>Comparative value</strong> is shown. You still need to enter exactly the value of the setting or property that you mapped.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Examples for complex 1:1 mappings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Categories</p>
</li>
<li>
<p>Brands</p>
</li>
<li>
<p>Shipping setting</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can recognise complex mappings from the field that is shown below the name of the marketplace data field. Click on the field to show the values available for the marketplace data field.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/catalogue-complex-mappings.png" alt="catalogue complex mappings">
</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
For complex mappings, do not map own values or properties of the type <strong>None</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a complex 1:1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the field for the marketplace data field.<br>
→ A list of the available values is shown.</p>
</li>
<li>
<p>Select the value that you want to map a plentymarkets data field to.<br>
→ The value is mapped.</p>
</li>
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the available plentymarkets data fields are listed in groups.<br></p>
</li>
<li>
<p>Click on a group.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plentymarkets data field for which you want to map values.<br>
<strong><em>Important:</em></strong> Do not map own values or properties of the type <strong>None</strong>.<br>
→ Your next steps depend on the plentymarkets data field you selected:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> The available values for the plentymarkets data value are shown on the left.<br></p>
<div class="ulist">
<ul>
<li>
<p>Next to the value you want to select, click on the plus.<br>
→ The value is added to the field on the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> The plentymarkets data field is inserted and the field <strong>Comparative value</strong> is shown.</p>
<div class="ulist">
<ul>
<li>
<p>In the field <strong>Comparative value</strong>, enter a value that is saved in the setting or the property of the mapped plentymarkets data field.<br></p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Alternative 3:</em></strong> The plentymarkets data field is inserted and a drop-down list is shown.</p>
<div class="ulist">
<ul>
<li>
<p>Select a value from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>This gif shows you how to map suitable plentymarkets values to the values of the marketplace data fields <strong>Delivery time in days</strong> for Otto Market:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-complex-en.gif" alt="gif catalogue mapping complex en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:1 mapping with fallback data fields</strong> 1 marketplace data field, 1 plentymarkets data field with alternatives</div>
<div class="content">
<div class="paragraph">
<p>In a 1:1 mapping with one or more fallback data fields, you map a plentymarkets data field to the marketplace data field. In addition, you specify one or more fallback data fields. This ensures that the system keeps looking if the first plentymarkets data field is empty or contains an invalid value.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If that data field is empty or invalid for a variation, the first fallback data field is checked and the value of that fallback data field is exported instead.</p>
</li>
<li>
<p>If the first fallback data field is also empty or invalid for a variation, the value of the second fallback data field is exported and so on.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:1 mapping with fallback data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>In the list of plentymarkets data fields, click on the plus icon next to the plentymarkets data field that you want to map.<br>
→ The fallback data field is exported when the first data field does not exist or is empty.<br>
<strong><em>Note:</em></strong> Even if you assign one or more fallback data fields, the value of only one of those fields is exported. For each variation, the mapped plentymarkets data fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value for a variation, the first fallback data field is exported etc.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>This gif shows you how to map the plentymarkets data field <strong>SKU</strong> and the fallback data field <strong>Variation ID</strong> to the marketplace data field <strong>SKU</strong> for Otto Market:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-mapping-fallback-en.gif" alt="gif catalogue mapping fallback en">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:n mapping:</strong> 1 marketplace data field, several plentymarkets data fields</div>
<div class="content">
<div class="paragraph">
<p>In a 1:n mapping, you map several plentymarkets data fields to the marketplace data field. You can link these data fields with a separator.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to combine these plentymarkets data fields during export so that the marketplace data field is filled with the data of these two or more plentymarkets settings.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the right of the mapped plentymarkets data field, click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ To the left, the list of available plentymarkets data fields again are shown in groups.</p>
</li>
<li>
<p>Map one or several additional plentymarkets data fields to the marketplace data field as described above.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the very right of the row, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Select a separator from the drop-down list <strong>Separator</strong> or add a custom separator.</p>
</li>
<li>
<p>Click on <strong>Save</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.<br>
→ During the export, the content of the plentymarkets data fields is combined and exported as one field.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Own value mapping:</strong> 1 marketplace data field, the same value for all variations</div>
<div class="content">
<div class="paragraph">
<p>You are sure that you want to export the same value for all variations of a catalogue for a marketplace data field? Then specify an own value. This own value is then exported for all variations.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>For this marketplace data field, I want to export the value that I entered in the field <strong>Own value</strong> for <em>all</em> variations of this catalogue.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating an own value mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on the plus next to <strong>Own value</strong> at the top of the list.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.<br>
→ This value is exported for all variations.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Diameter information</p>
</div>
<div class="paragraph">
<p>You want to export diameter information for some of your variations. The diameter is saved in centimetres for all your variations. Instead of creating a property for the unit and linking this property to the variations, you can enter the own value <code>cm</code>.</p>
</div>
<div class="paragraph">
<p>This is how you can map an own value for the diameter unit:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/gif-catalogue-own-value-en.gif" alt="gif catalogue own value en" width="600">
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">5. Linking data fields created in the assistant with variations</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Create catalogues - Amazon</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info boxes below this description (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to make sure they are correct.<br>
<strong><em>Tip:</em></strong> In the <strong>Summary</strong> step, click on the arrow (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p>Open the catalogue in the <strong>Data » Catalogues</strong> menu to map more fields.<br>
<strong><em>Note:</em></strong> You need a separate catalogue for each combination of Amazon account, Amazon platform and flatfile.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">6. Activating the variation export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have checked all mappings and now want to start the export of your variation data to Amazon?</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Activate a catalogue for an existing export (<a href="#900">How?</a>)</p>
</li>
<li>
<p>Activate a catalogue for a new export (<a href="#1000">How?</a>)</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="900">6.1. Activating a catalogue for an existing export</h3>
<div class="paragraph">
<p>If you created a catalogue for a combination of Amazon account, Amazon platform and flatfile that you already use, the export is automatically switched to catalogue as soon as you activate the catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Activating a catalogue for an existing export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Find the row of the catalogue and move the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) in the <strong>Active/Inactive</strong> column to the right.<br>
→ The catalogue is active.<br>
→ The data is transmitted to Amazon once a day at night.<br>
<strong><em>Tip:</em></strong> If incorrect data was transmitted to Amazon during the automatic export, you can correct the mappings in the catalogue, <a href="#2800">export a CSV file of the catalogue</a> and then manually upload the file to Amazon.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">6.2. Activating a catalogue for a new export</h3>
<div class="paragraph">
<p>When you create a catalogue for a Amazon account, platform and flatfile that you are not currently using already, some additional settings are necessary.</p>
</div>
<div class="paragraph instruction">
<p>Activating a catalogue for a new export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Find the row of the catalogue and move the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) in the <strong>Active/Inactive</strong> column to the right.<br>
→ The catalogue is active.<br></p>
</li>
</ol>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Also check the settings listed below.</p>
</li>
</ol>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="in-the-assistant-tab" data-toggle="tab" href="#in-the-assistant" role="tab" aria-controls="in-the-assistant" aria-selected="true">In the assistant</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="in-the-setup-menu-tab" data-toggle="tab" href="#in-the-setup-menu" role="tab" aria-controls="in-the-setup-menu" aria-selected="false">In the Setup menu</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="in-the-assistant" role="tabpanel" aria-labelledby="in-the-assistant-tab">
<div class="paragraph">
<p>Carry out the following settings in the assistant <strong>Base settings - Amazon</strong> bevor activating the export of a new catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Settings for new catalogues in the assistant Base settings - Amazon:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on <strong>Base settings - Amazon</strong>.</p>
</li>
<li>
<p>Open the assistant for the Amazon account.<br>
→ The assistant opens.</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#assistant-base-settings">Table 1</a>.</p>
</li>
<li>
<p>Complete the assistant.</p>
</li>
</ol>
</div>
<table id="assistant-base-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for new catalogues in the assistant</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Basic settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select the Amazon platforms that you would like to sell your items on.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The platforms specified for the catalogue must be activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Activate Amazon user account</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate user account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Amazon user account specified for the catalogue must be active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Automatic data transfer</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select the Amazon platforms that your item data should be transferred to.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation export for the Amazon platforms must be active.<br>
<strong><em>Note:</em></strong> The step <strong>Automatic data transfer</strong> is only visible after you activate the option <strong>Show extended settings</strong> in the step <strong>Marketplace setup</strong>.</p></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="in-the-setup-menu" role="tabpanel" aria-labelledby="in-the-setup-menu-tab">
<div class="paragraph">
<p>Carry out the following settings before you activate the export for a new catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Settings in the setup menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Settings</strong>.</p>
</li>
<li>
<p>Select the Amazon account.</p>
</li>
<li>
<p>Carry out the settings described in <a href="#assistant-menu">Table 2</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="assistant-menu" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for new catalogues in the menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In the <strong>Access data</strong> area, place a check mark for the option <strong>Active</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Item settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the drop-down list, select the option <strong>Daily</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export categories</strong>;<br>
<strong>BMVD export categories</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the flatfiles that you created a catalogue for.</p></td>
</tr>
</tbody>
</table>
</div></div>
<hr>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">7. Troubleshooting</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title">I mapped fields incorrectly and exported incorrect data to Amazon as a result. What can I do?</div>
<div class="content">
<div class="paragraph">
<p>First, correct the incorrect mappings in the catalogue. The data is transmitted to Amazon once a day at night.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">I have switched from my old, reliable export to the new catalogues and it’s not working correctly. What can I do?</div>
<div class="content">
<div class="paragraph">
<p>Don’t panic. Go to the <strong>Data » Catalogues</strong> menu and set the catalogue to inactive. Your variation data is transmitted to Amazon with the old export and you can check and correct your settings. Our support team is here to help you if you run into problems or have questions.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_next_steps">8. Next steps</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have set up the interface to Amazon and have prepared your variations and the export. What to do next depends on the additional Amazon services that you want to use:</p>
</div>
<div class="paragraph">
<p>If you want to use the FBA service by Amazon:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/markets/amazon/amazon-fba">Using the FBA service by Amazon</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you want to use additional Amazon services:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/markets/amazon/amazon-gift-service">Using the Amazon gift service</a></p>
</li>
<li>
<p><a href="/en/markets/amazon/amazon-business">Setting up Amazon Business</a></p>
</li>
<li>
<p><a href="/en/markets/amazon/amazon-pay">Setting up Amazon Pay</a></p>
</li>
<li>
<p><a href="/en/markets/amazon/AmazonVCSDashboard">Using the AmazonVCSDashboard plugin</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If something went wrong:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/markets/amazon/faq/faq-collection">List of FAQs and solutions</a></p>
</li>
</ul>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/en/markets/amazon/preparing-variations"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Preparing variations</a>
<a href="/en/markets/amazon/amazon-fulfilment/fulfilment">Setting up fulfilment <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>