<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Preparing the import file</span></a></li>
<li><a href="#20"><span>2.</span><span> Creating an import</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Selecting matching settings</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Creating a mapping</span></a></li>
</ul>
</li>
<li><a href="#50"><span>3.</span><span> Testing and running the import</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Importing new postings</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The payment method cash in advance and other transfers take the form of bank postings. With these methods, the payments are received in your bank account. To process them further, you have to import them into your plentymarkets system. After the import of the postings into your system, you can assign these payments to orders, for example.</p>
</div>
<div class="paragraph">
<p>You can use the import type <strong>Postings</strong> to import new postings into your system. You can also use this import type to update existing postings. In this best practice, the import of new postings is explained. A basic understanding of the <a href="/en/data/importing-data/ElasticSync">import tool</a> helps when creating your postings import. Nevertheless, this best practice explains step by step how you should proceed.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Preparing the import file</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, data are imported with CSV files. Therefore, you first have to prepare this CSV file. The CSV file should contain all the important information about the postings.<br>
After the import, the postings are created as payments. Information you entered into your CSV file are attached to the newly created payments. That’s why you should make sure your CSV file contains everything needed. The manual page <a href="/en/data/importing-data/sync-types/elasticSync-bank-postings#20">Postings</a> lists all data that can be imported. You can use these mapping fields as a guide while creating your CSV file. How to <a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-postings#40">add the mapping</a> is explained further down in this best practice.</p>
</div>
<div class="paragraph">
<p>You can determine the naming of your columns and their order. It is important that the names are distinct for you, so that you can map them with the right plentymarkets data fields in the import. Plainly speaking, you should always know what goes where.<br>
Save this file locally on your computer.</p>
</div>
<div class="paragraph">
<p>A CSV file can look like this, for example:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/bp-postings-import-csv.png" alt="bp postings import csv">
</div>
</div>
<div class="paragraph">
<p>Keep in mind that these are example data. Your CSV file can contain more columns and more data which look quite different. Also, the naming and order of the columns can be different.</p>
</div>
<div class="paragraph">
<p>When you are done preparing your CSV file, the next step is to create your import.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Creating an import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>1) To create a new import, you first have to go to the right menu. Therefore, go to the <strong>Data » Import</strong> menu.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/bp-postings-import-menu.png" alt="bp postings import menu">
</div>
</div>
<div class="paragraph">
<p>2) In this menu, you create a new import and select the import settings. Create a new import by clicking on <strong>Add import</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/bp-postings-import-create.png" alt="bp postings import create">
</div>
</div>
<div class="paragraph">
<p>3) After clicking on <strong>Add import</strong>, you are redirected to the basic settings of your new import. First, set the required <strong>Basic data</strong> on the left side of the menu.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/bp-postings-import-basic-data.png" alt="bp postings import basic data">
</div>
</div>
<div class="paragraph">
<p>Select the following settings for this:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong>: Enter a name for your new postings import. The example name in the screenshot is <strong>Best practice postings import</strong>. Select your own import name.<br></p>
</li>
<li>
<p><strong>Type</strong> Select the import type from the drop-down list. For this import, you have to select the type <strong>Postings</strong>.<br></p>
</li>
<li>
<p><strong>Interval</strong>: Select <strong>Inactive</strong> from the drop-down list. You cannot set an interval for this import type.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>4) After this, select the settings for <strong>Import</strong>, <strong>Separator options</strong> and <strong>Source</strong> on the right side of the menu.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/bp-postings-import-import-settings.png" alt="bp postings import import settings">
</div>
</div>
<div class="paragraph">
<p>Select the following settings for this:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Import</strong>: You can leave the preset values. These are the same as in the screenshot.<br></p>
</li>
<li>
<p><strong>Separator options</strong>: You can leave the preset values here as well. If you want to use a different separator, you can select it from the drop-down list.<br></p>
</li>
<li>
<p><strong>Source</strong>: Here, you select your prepared CSV file. Click on <strong>Select file</strong> and upload your locally saved CSV file. When you’ve selected the right file, the name of the file is displayed in the <strong>File name</strong> field.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Click on <strong>Save import</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) on the left side above the <strong>Basic data</strong>. The import is saved and you are redirected to further settings.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Selecting matching settings</h3>
<div class="paragraph">
<p>After the basic settings, the settings for the <strong>Matching</strong> follow now.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/bp-postings-import-matching.png" alt="bp postings import matching">
</div>
</div>
<div class="paragraph">
<p>The matching field is used to recognise already existing data in the system. Based on the selected matching field, data are updated.<br>
When importing postings that do not yet exist in the system, no matching field is required. Therefore, you can select the same settings as in the screenshot.</p>
</div>
<div class="paragraph">
<p>Also, the preselected settings for the <strong>Import options</strong> area can stay as they are in the screenshot. Only note that the <strong>Decimal numbers</strong> and the <strong>Date format</strong> should correspond with the data in your CSV file.<br>
<strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings for the matching.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Creating a mapping</h3>
<div class="paragraph">
<p>1) After the matching settings, you now have to create the <strong>Mapping</strong>. To do so, click on <strong>Add mapping</strong> and enter a <strong>Name</strong> for the mapping.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/bp-postings-import-mapping.png" alt="bp postings import mapping">
</div>
</div>
<div class="paragraph">
<p>2) After saving this, you are redirected to the mapping. With a mapping, you specify which column of your file corresponds to which data field in your system.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/bp-postings-import-mapping-fields.png" alt="bp postings import mapping fields">
</div>
</div>
<div class="paragraph">
<p>On the left side are the <strong>Import data</strong>. There, the columns of your CSV file are listed as <strong>Source</strong>.<br>
On the right side are the <strong>plentymarkets data fields</strong>. There, you select as <strong>Target</strong> where the corresponding information of your CSV file should end up in the system. Select the appropriate data field from the drop-down list. You can find more information about the data fields on the manual page <a href="/en/data/importing-data/sync-types/elasticSync-bank-postings#20">Postings</a>, if needed.</p>
</div>
<div class="paragraph">
<p>3) Activate all rows you want to import. To do so, click on <strong>Activate row</strong> on the left of the source. This way, you can also exclude a column of your CSV file from import, if you decide you don’t need these data.<br>
Click on <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) when you are done with the mapping.</p>
</div>
<div class="paragraph">
<p>In this example, the posting date, the amount posted, the currency, the booking text, the name of sender and the IBAN of sender are imported. This means that payments with these information are created in the <strong>Orders » Payments</strong> menu. But for this to happen, the import has to be run first.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Testing and running the import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To check if settings and mapping are correct, you should test the import first.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/bp-postings-import-test.png" alt="bp postings import test">
</div>
</div>
<div class="paragraph">
<p>The first 10 lines of your CSV file are processed for the test and no cache is used. After running the test, check the log for error messages by navigating to the <strong>Data » Log</strong> menu or check the imported data. If there are no errors or problems, you can run the import.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/importing-data/assets/bp-postings-import-run.png" alt="bp postings import run">
</div>
</div>
<div class="paragraph">
<p>After clicking on <strong>Run import</strong>, the data are imported into your system. The postings are created as payments and are available in the <strong>Orders » Payments</strong> menu. In this menu, you can <a href="/en/payment/beta-managing-payments">manage the payments</a> and continue with your workflow.</p>
</div>
</div>
</div>
</main>