<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#auftragsabwicklung"><span>1.</span><span> Auftragsabwicklung</span></a>
<ul class="sectlevel2">
<li><a href="#_konfiguration"><span>1.1.</span><span> Konfiguration</span></a>
<ul class="sectlevel3">
<li><a href="#_einstellungen"><span>1.1.1.</span><span> Einstellungen</span></a></li>
<li><a href="#_filter"><span>1.1.2.</span><span> Filter</span></a></li>
</ul>
</li>
<li><a href="#_aufträge_markieren"><span>1.2.</span><span> Aufträge markieren</span></a></li>
<li><a href="#_sortierung"><span>1.3.</span><span> Sortierung</span></a></li>
<li><a href="#_übersicht_der_aktionen_und_subaktionen"><span>1.4.</span><span> Übersicht der Aktionen und Subaktionen</span></a></li>
</ul>
</li>
<li><a href="#auftragsbearbeitung"><span>2.</span><span> Auftragsbearbeitung</span></a>
<ul class="sectlevel2">
<li><a href="#_konfiguration_2"><span>2.1.</span><span> Konfiguration</span></a></li>
<li><a href="#_übersicht_der_aktionen_und_subaktionen_2"><span>2.2.</span><span> Übersicht der Aktionen und Subaktionen</span></a></li>
</ul>
</li>
<li><a href="#wareneingang"><span>3.</span><span> Wareneingang</span></a>
<ul class="sectlevel2">
<li><a href="#_konfiguration_3"><span>3.1.</span><span> Konfiguration</span></a></li>
<li><a href="#_übersicht_der_aktionen_und_subaktionen_3"><span>3.2.</span><span> Übersicht der Aktionen und Subaktionen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Arbeitsschritte</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Kapitel beschreibt die Arbeitsschritte, die du für Prozesse konfigurieren kannst. Für einen Prozess kannst du beliebige Arbeitsschritte erstellen und konfigurieren. Je nach Typ des Arbeitsschrittes stehen mehr oder weniger detaillierte Konfigurationsmöglichkeiten zur Verfügung. Diese bestehen in erster Linie aus Aktionen und Subaktionen, die hintereinander geschaltet werden und als Prozess endlos oder manuell gesteuert ablaufen. Dabei sind Bedingungen einstellbar, die als Filter wirken und für die Arbeitsschritte sehr individuelle Konfigurationen ermöglichen.</p>
</div>
<div class="paragraph">
<p>Lerne Arbeitsschritte spielerisch kennen:</p>
</div>
<div class="videoblock">
<div class="title">Arbeitsschritte</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/223728357" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Tool plentyBase erforderlich</div>
<div class="paragraph">
<p>Um Prozesse zu erstellen und auszuführen benötigst du das Tool <a href="/automatisierung/prozesse/plentybase-installieren">plentyBase</a>. Die Installationsdateien für plentyBase findest du im <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn du einen neuen Arbeitsschritt anlegst, wählst du den Typ des Arbeitsschrittes.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/DE-Einstell-Prozess-Arbeitsschritte-01-SI.png" alt="Neuen Arbeitsschritt anlegen">
</div>
<div class="title">Bild 1. Neuen Arbeitsschritt anlegen</div>
</div>
<div class="paragraph">
<p>Klicke auf das <strong>grüne Plus</strong> und nimm die Einstellungen wie auf den Unterseiten beschrieben vor.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="auftragsabwicklung">1. Auftragsabwicklung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bestimmt, welche und wie viele Aufträge den Prozess durchlaufen sollen. Filter ermöglichen es dir, die automatische Bearbeitung auf bestimmte Aufträge zu beschränken. Außerdem wird festgelegt, ob durch den Arbeitsschritt Änderungen an den Aufträgen vorgenommen werden. Du kannst den Status, den Eigner und/oder die Markierung von Aufträgen ändern, die diesen Arbeitsschritt durchlaufen haben. Auch die Reihenfolge, in der Aufträge abgearbeitet werden, legst du fest.</p>
</div>
<div class="sect2">
<h3 id="_konfiguration">1.1. Konfiguration</h3>
<div class="paragraph">
<p>Erstelle zunächst einen Arbeitsschritt.</p>
</div>
<div class="paragraph instruction">
<p>Arbeitsschritt erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Neuer Arbeitsschritt</strong>.</p>
</li>
<li>
<p>Wähle als Typ <strong>Auftragsabwicklung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.<br>
→ Das Konfigurationsfenster wird geöffnet (Bild 2).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Bei einem bereits erstellten Arbeitsschritt klickst du auf den <strong>Stift</strong>, um dieses Fenster zu öffnen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/DE-Einstell-Prozesse-Auftragsabwicklung-01-SI.png" alt="Arbeitsschritt konfigurieren">
</div>
<div class="title">Bild 2. Arbeitsschritt konfigurieren</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Konfigurationsbeispiel</div>
<div class="paragraph">
<p>Im Beispiel in Bild 2 sind 30 Aufträge als Limit eingestellt, die anhand einer Markierung sowie dem gestrigen Datum gefiltert werden. Beim Durchlauf durch den Prozess sollen die Aufträge einen anderen Status und einen anderen Eigner erhalten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die in Bild 2 gezeigten Bereiche werden im Folgenden im Detail erläutert.</p>
</div>
<div class="sect3">
<h4 id="_einstellungen">1.1.1. Einstellungen</h4>
<div class="paragraph">
<p>In diesem Bereich werden allgemeine Einstellungen für den Arbeitsschritt vorgenommen, zum Beispiel die Bezeichnung und die Positionierung innerhalb des Prozesses.</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-arbeitsschritt-konfigurieren-einstellungen">Tabelle 1</a> erläutert die Einstellungen des Arbeitsschrittes:</p>
</div>
<table id="tabelle-arbeitsschritt-konfigurieren-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Arbeitsschritt konfigurieren; Einstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Namen wählen, der den Arbeitsschritt möglichst eindeutig bezeichnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eintragen, wie viele Aufträge pro Durchlauf erfasst werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Folgeschritt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob ein weiterer Arbeitsschritt manuell oder automatisch gestartet werden soll. Diese Einstellung ist nur relevant, wenn mindestens zwei Arbeitsschritte eingerichtet sind.<br>
<strong>Eingabe abwarten</strong> = Der nächste Arbeitsschritt wird nicht automatisch gestartet, sondern das System wartet einen erneuten Klick auf <strong>Start</strong> in der Ausführung des Prozesses ab.<br>
<strong>Automatisch starten</strong> = Ein Folgeschritt oder eine Aktion wird automatisch gestartet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option wird erst wählbar, nachdem der Arbeitsschritt erstellt wurde.<br>
Bei mehreren Arbeitsschritten kann hier die Reihenfolge geändert werden. Standardmäßig wird neuen Arbeitsschritten die nächste verfügbare Position zugewiesen. Andere Position wählen, um bei mehreren Arbeitsschritten die Reihenfolge zu ändern, in der die Arbeitsschritte abgearbeitet werden. Arbeitsschritte werden aufsteigend sortiert. Der Arbeitsschritt mit der niedrigsten Nummer wird also zuerst ausgeführt.<br>
<strong><em>Tipp:</em></strong> Arbeitsschritte lassen sich auch über das Kontextmenü um eine Position verschieben. Dazu mit der rechten Maustaste auf den Arbeitsschritt klicken und <strong>Nach oben verschieben</strong> oder <strong>Nach unten verschieben</strong> wählen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_filter">1.1.2. Filter</h4>
<div class="paragraph">
<p>Die Filter verwendest du, um nur bestimmte Aufträge mit dem Arbeitsschritt <strong>Auftragsabwicklung</strong> zu bearbeiten.</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-arbeitsschritte-filter">Tabelle 2</a> erläutert die für diesen Arbeitsschritt verfügbaren Filter:</p>
</div>
<table id="tabelle-arbeitsschritte-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Übersicht der Filter; Erläuterung der Konfiguration</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Auftragsdaten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angefangene Box-Kommissionierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fortsetzen</strong> = Mit dieser Einstellung wird die letzte Box-Kommissionierung beim nächsten Start des Prozesses fortgesetzt.<br>
Benutzer <a href="/automatisierung/prozesse/FAQ#400">werden darauf hingewiesen</a>, wenn sie eine Box-Kommissionierung gestartet, jedoch nicht abgeschlossen haben. Willst du die angefangene Box-Kommissionierung aus irgendeinen Grund nicht fortfahren, kannst du die <a href="/automatisierung/prozesse/FAQ#400">Box-Kommissionierung stattdessen zurücksetzen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl Auftragspositionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen <strong>Operator</strong> aus der Dropdown-Liste wählen und einen Wert in das Feld dahinter eingeben. So werden nur Aufträge gefiltert, die eine bestimmte Anzahl an Auftragspositionen (Artikeln) enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn nur bestimmte Aufträge für den Prozess verwendet werden sollen, den Auftragstyp wählen. Für einige Auftragstypen stehen auch Kombinationen zur Auswahl.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragslager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert Aufträge nach einem Bestimmten Lager. Füge den Filter hinzu und wähle ein Lager aus der Dropdown-Liste.<br>
Filtere danach optional weiter nach einem bestimmten <strong>Lagerort</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Zeitpunkt wählen, zum Beispiel <strong>gestern</strong>, oder einen Bereich, zum Beispiel <strong>in der Vergangenheit</strong>, um alle bisherigen Aufträge zu filtern. Eine Mehrfachauswahl ist möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktuelle Rechnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach Aufträge, bei denen eine aktuelle Rechnung <strong>verfügbar</strong> oder <strong>nicht verfügbar</strong> ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stornobeleg</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach Aufträge, bei denen ein Stornobeleg <strong>verfügbar</strong> oder <strong>nicht verfügbar</strong> ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Person, deren Aufträge gefiltert werden sollen.<br>
<strong>Aktiver Benutzer</strong> = Person, die im System eingeloggt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Adresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option wählen, um nur Aufträge zu filtern, bei denen eine E-Mail-Adresse <strong>in den Kundenstammdaten enthalten</strong> oder <strong>nicht in den Kundenstammdaten enthalten</strong> ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Expressversand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob nach Expressversand gefiltert werden soll.<br>
<strong>Ja</strong> = nur Aufträge mit Expressversand<br>
<strong>Nein</strong> = nur Aufträge ohne Expressversand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamt-Artikelmenge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen <strong>Operator</strong> aus der Dropdown-Liste wählen und einen Wert in das Feld dahinter eingeben. Auf diese Weise werden nur Aufträge gefiltert, die eine bestimmte Stückzahl einzelner Artikel enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Um Aufträge anhand des Gewichts in Gramm zu filtern, für einen festen Betrag den Wert eintragen und als Operator das <strong>Gleichheitszeichen</strong> wählen. Für Gewichtsbereiche den Wert eintragen und den passenden Operator wählen. Mit beiden Textfeldern ist die gleichzeitige Anwendung unterschiedlicher Filterbereiche möglich.<br>
<strong>Beispiel</strong>: Für ein Gewicht von 3,5 kg und darüber <strong>3500</strong> in das Textfeld eintragen und den Operator <strong>&gt;=</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Herkunft der Aufträge wählen, die gefiltert werden sollen. Eine Mehrfachauswahl ist möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine oder mehrere Kundenklassen wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert Aufträge nach einem bestimmten Lagerort.<br>
Füge zuerst den Filter <strong>Auftragslager</strong> hinzu und wähle ein Lager aus der Dropdown-Liste. Danach kannst du mit diesem Filter <strong>Regal</strong>, <strong>Boden</strong> und <strong>Lagerort</strong> bestimmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Lieferland der Aufträge wählen, die gefiltert werden sollen. Es stehen alle Lieferländer zur Verfügung, nicht nur die aktiven Lieferländer des Systems.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Mandant (Shop) wählen, dessen Aufträge gefiltert werden sollen. Eine Mehrfachauswahl ist möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge anhand einer bestimmten Markierung filtern. Mit der Einstellung <strong>Ohne</strong> werden Aufträge gefiltert, die keine Markierung haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Packstation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob nach Packstationen gefiltert werden soll.<br>
<strong>Ja</strong> = nur Aufträge mit Packstation<br>
<strong>Nein</strong> = nur Aufträge ohne Packstation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungsbetrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Um Aufträge anhand des Rechnungsbetrags zu filtern, für einen festen Betrag den Wert eintragen und als Operator das Gleichheitszeichen wählen. Für Rechnungsbetragsbereiche den Betrag eintragen und den passenden Operator wählen. Mit beiden Textfeldern ist die gleichzeitige Anwendung unterschiedlicher Filterbereiche möglich.<br>
<strong>Beispiel</strong>: Für den Rechnungsbetrag 39,90 Euro und darüber <strong>39,90</strong> in das Textfeld eintragen und den Operator <strong>&gt;=</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Status wählen, um nur die Aufträge mit dem gewählten Status zu filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Treueprogramm</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Treueprogramm, mehrere oder keines wählen, um nur Aufträge aus diesem oder ohne Treueprogramm abzuwickeln.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versanddienstleister</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Versanddienstleister wählen, um nur Aufträge mit diesem Versanddienstleister zu filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Um Aufträge anhand der Versandkosten zu filtern, für einen festen Betrag den Wert eintragen und als Operator das Gleichheitszeichen wählen. Für Versandkostenbereiche den Betrag eintragen und den passenden Operator wählen. Mit beiden Textfeldern ist die gleichzeitige Anwendung unterschiedlicher Filterbereiche möglich.<br>
<strong>Beispiel</strong>: Für den Versandkostenbereich 3,90 Euro und darüber <strong>3,90</strong> in das Textfeld eintragen und den Operator <strong>&gt;=</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein oder mehrere Versandprofile wählen, um nur Aufträge mit diesen Versandprofilen zu filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandregion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Versandregion wählen, um nur Aufträge der Region zu filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie nach Warenausgang gefiltert werden soll:<br>
<strong>Nicht gebucht</strong> = nur Aufträge mit nicht gebuchtem Warenausgang<br>
<strong>Gebucht</strong> = nur Aufträge mit gebuchtem Warenausgang<br>
<strong>Heute</strong> = nur Aufträge mit heutigem Warenausgang<br>
<strong>Gestern</strong> = nur Aufträge mit gestrigem Warenausgang</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, nach welchem Zahlungsstatus Aufträge gefiltert werden.<br>
<strong>Zahlung prüfen</strong> = Nur Aufträge, die sich in einem Status befinden, der (manuell) geprüft werden soll, also unbezahlte, teilgezahlte und überzahlte Aufträge.<br>
<strong>Nur unbezahlt</strong> = Nur Aufträge, für die noch keine Zahlung eingegangen ist.<br>
<strong>Nur bezahlt</strong> = Nur vollständig bezahlte Aufträge<br>
<strong>Nur Teilzahlung</strong> = Nur Aufträge, für die eine Teilzahlung eingegangen ist.<br>
<strong>Anzahlung vollständig</strong> = Nur Aufträge, für die eine vollständige Anzahlung eingegangen ist.<br>
<strong>Nur Überzahlung</strong>= Nur Aufträge, für die eine Überzahlung eingegangen ist.<br>
<strong>Unbezahlt und Teilzahlung</strong> = Nur Aufträge, bei denen noch keine oder nur eine teilweise Zahlung eingegangen ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine oder mehrere Zahlungsarten wählen, um nur Aufträge mit diesen Zahlungsarten zu filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">SEPA</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Art der Lastschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Aufträge mit <strong>Erstlastschrift</strong> oder mit <strong>Folgelastschrift</strong> gefiltert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Art des Mandats</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA-Basis-Lastschrift</strong> = Mandat vergleichbar der Einzugsermächtigung (Standard-Kunden)<br>
<strong>SEPA-Firmen-Lastschrift</strong> = Mandat vergleichbar des Abbuchungsauftrags (Firmen-Kunden, B2B)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ausführungsmodalität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einmalige Zahlung</strong> = Standard-Aufträge<br>
<strong>Wiederkehrende Zahlung</strong> = Regelmäßige Abbuchungen, Abo-Verträge etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN &amp; BIC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Aufträge gefiltert werden sollen, bei denen IBAN und BIC <strong>vorhanden</strong> oder <strong>nicht vorhanden</strong> sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA-Lastschriftmandat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert Aufträge danach, ob der Kunde das SEPA-Lastschriftmandat bestätigt und unterschrieben hat.<br>
<strong>nicht vorhanden</strong> = Nur Aufträge von Kontakten werden verarbeitet, die das SEPA-Lastschriftmandat bestätigt und unterschrieben haben.<br>
<strong>vorhanden</strong> = Nur Aufträge von Kontakten werden verarbeitet, die das SEPA-Lastschriftmandat nicht bestätigt und unterschrieben haben.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_aufträge_markieren">1.2. Aufträge markieren</h3>
<div class="paragraph">
<p>Damit du die Aufträge, die den Prozess durchlaufen haben, erkennst, weist du diesen Aufträgen in diesem Bereich eine Markierung oder einen anderen Status zu. Es ist hier auch möglich, den Benutzer zu ändern, wenn die Aufträge zum Beispiel nach Durchlauf des Prozesses einer anderen Abteilung zugeordnet werden sollen.</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-arbeitsschritte-auftraege-markieren">Tabelle 3</a> erläutert die Markierungen des Arbeitsschrittes <strong>Auftragsabwicklung</strong>:</p>
</div>
<table id="tabelle-arbeitsschritte-auftraege-markieren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Arbeitsschritt konfigurieren; Aufträge markieren</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neuer Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn durch diesen Arbeitsschritt der Status der Aufträge geändert werden soll, den gewünschten Status aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neuer Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Person wählen, der die Aufträge durch diesen Arbeitsschritt zugewiesen werden sollen. Optional den <strong>angemeldeten Benutzer</strong> oder <strong>Ohne Änderung</strong> wählen, wenn der Eigner unverändert bleiben soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neue Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn durch diesen Arbeitsschritt die Markierung der Aufträge geändert werden soll, die gewünschte Markierung aus der Dropdown-Liste wählen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_sortierung">1.3. Sortierung</h3>
<div class="paragraph">
<p>Die Sortierung bestimmt die Reihenfolge der Aufträge.</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-arbeitsschritte-sortierung">Tabelle 4</a> erläutert die Sortierung des Arbeitsschrittes <strong>Auftragsabwicklung</strong>:</p>
</div>
<table id="tabelle-arbeitsschritte-sortierung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Arbeitsschritt konfigurieren; Sortierung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Sortierung wählen, um die Reihenfolge der Aufträge festzulegen. Sortiert werden kann <strong>Aufsteigend</strong> oder <strong>Absteigend</strong> nach den folgenden Optionen:<br>
<strong>Auftrags-ID</strong> = Standard-Einstellung<br>
<strong>Artikel-ID</strong><br>
<strong>Kunden-ID</strong><br>
<strong>Rechnungsnummer</strong><br>
<strong>Artikelnummer</strong><br>
<strong>Position Lagerort</strong><br>
<strong><em>Hinweis:</em></strong> Bei der Sortierung wird nur die erste Auftragsposition berücksichtigt.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sortierung</div>
<div class="paragraph">
<p>Für die Sortierung wird nur die erste Position eines Auftrags berücksichtigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_übersicht_der_aktionen_und_subaktionen">1.4. Übersicht der Aktionen und Subaktionen</h3>
<div class="paragraph">
<p>Nachdem du alle Einstellungen vorgenommen hast, fügst du dem Arbeitsschritt <strong>Aktionen</strong> und <strong>Subaktionen</strong> hinzu.</p>
</div>
<div class="paragraph">
<p>Folgende <a href="/automatisierung/prozesse/aktionen">Aktionen</a> und <a href="/automatisierung/prozesse/subaktionen">Subaktionen</a> stehen dir für den Arbeitsschritt <strong>Auftragsabwicklung</strong> zur Verfügung. Weiterführende Informationen und Einstellungsmöglichkeiten erhältst du auf den Unterseiten.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#110">Abhol-/Lieferschein</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#120">Adressetikett</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#130">Angebot</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#140">Artikelerfassung</a></p>
<div class="ulist">
<ul>
<li>
<p>keine</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#290">Status ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#210">Markierung ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#190">Eigner ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#250">Paketnummer erfassen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#340">Zahlungsart ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#300">Versanddienstleister ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#320">Versandprofil ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#130">Auftragsnotizen hinzufügen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#140">Aus Prozess entfernen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#195">Entferne Auftrag vom Box</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#310">Versandpakete</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#180">Auftragsbestätigung</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#210">Dokumente</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#220">E-Mail</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#330">Versenden</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#600">Exportdokument</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#230">FiBu-Export</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#240">Gelangensbestätigung</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#250">Gutschrift</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#260">Hinweis</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#200">Hinweis anzeigen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#240">Notiz zum Kunden</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#230">Notiz zum Auftrag</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#270">Korrekturbeleg</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#280">Lager-Pickliste</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#290">Lieferschein</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#300">Mahnung</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#310">Packliste</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#320">Pickliste</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#340">Polling</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#350">Rechnung</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#360">Reparaturschein</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#380">Retourenetikett</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#390">Rücksendeschein</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#400">SEPA Pain001</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#410">SEPA Pain008</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#420">Seriennummern</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#260">Seriennummern erfassen</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#430">Versand-Center</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#440">Warenausgang</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#160">Buchung durchführen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#170">Buchung zurücksetzen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#470">Zahlungseingang anlegen</a></p>
<div class="ulist">
<ul>
<li>
<p>keine</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="auftragsbearbeitung">2. Auftragsbearbeitung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Arbeitsschritt des Typs <strong>Auftragsbearbeitung</strong> kannst du festlegen, wie einzelne Aufträge weiter bearbeitet werden sollen, nachdem diese zum Beispiel mittels eines Handscanners erfasst wurden. Es handelt sich um einen sehr flexiblen Arbeitsschritt, den du durch die Verwendung der entsprechenden Aktionen und Subaktionen nach deinen Wünschen konfigurierst.</p>
</div>
<div class="sect2">
<h3 id="_konfiguration_2">2.1. Konfiguration</h3>
<div class="paragraph">
<p>Erstelle zunächst einen Arbeitsschritt.</p>
</div>
<div class="paragraph instruction">
<p>Arbeitsschritt erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Neuer Arbeitsschritt</strong>.</p>
</li>
<li>
<p>Wähle als Typ <strong>Auftragsbearbeitung</strong> und klicke auf <strong>Speichern</strong>.<br>
→ Das Konfigurationsfenster wird geöffnet (Bild 3).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Bei einem bereits erstellten Arbeitsschritt klickst du auf den <strong>Stift</strong>, um dieses Fenster zu öffnen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/DE-Einstell-Prozesse-Auftragsbearbeitung-01.png" alt="Arbeitsschritt konfigurieren">
</div>
<div class="title">Bild 3. Arbeitsschritt konfigurieren</div>
</div>
<div class="paragraph">
<p><a href="#tabelle-arbeitsschritte-einstellungen">Tabelle 5</a> erläutert die Einstellungen des Arbeitsschrittes:</p>
</div>
<table id="tabelle-arbeitsschritte-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Arbeitsschritt konfigurieren; Einstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für den Arbeitsschritt. Wähle einen Namen, der den Arbeitsschritt möglichst eindeutig bezeichnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Folgeschritt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob ein weiterer Arbeitsschritt manuell oder automatisch gestartet werden soll. Diese Einstellung ist nur relevant, wenn mindestens zwei Arbeitsschritte eingerichtet sind.<br>
<strong>Eingabe abwarten</strong> = Der nächste Arbeitsschritt wird nicht automatisch gestartet, sondern es wird vom System ein erneuter Klick auf <strong>Start</strong> in der Ausführung des Prozesses abgewartet.<br>
<strong>Automatisch starten</strong> = Ein Folgeschritt oder eine Aktion wird automatisch gestartet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option wird erst wählbar, nachdem der Arbeitsschritt erstellt wurde.<br>
Bei mehreren Arbeitsschritten kann hier die Reihenfolge geändert werden. Standardmäßig wird neuen Arbeitsschritten die nächste verfügbare Position zugewiesen. Andere Position wählen, um bei mehreren Arbeitsschritten die Reihenfolge zu ändern, in der die Arbeitsschritte abgearbeitet werden. Arbeitsschritte werden aufsteigend sortiert. Der Arbeitsschritt mit der niedrigsten Nummer wird also zuerst ausgeführt.<br>
<strong><em>Tipp:</em></strong> Arbeitsschritte lassen sich auch über das Kontextmenü um eine Position verschieben. Dazu mit der rechten Maustaste auf den Arbeitsschritt klicken und <strong>Nach oben verschieben</strong> oder <strong>Nach unten verschieben</strong> wählen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Der betreffende Arbeitsschritt wird angezeigt. Wenn du dann mit der Maus auf das Element zeigst, werden die Konfigurationselemente sichtbar:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/DE-Einstell-Prozesse-Auftragsbearbeitung-02-SI.png" alt="Arbeitsschritt **Auftragsbearbeitung**" width="Konfiguration öffnen">
</div>
<div class="title">Bild 4. Arbeitsschritt <strong>Auftragsbearbeitung</strong>, Konfiguration öffnen</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Weitere Elemente hinzufügen</div>
<div class="paragraph">
<p>Mit dem <strong>grünen Plus</strong> (Bild 4) fügst du eine <strong>Aktion</strong> oder eine <strong>Subaktion</strong> hinzu, indem du das gewünschte Element aus der Dropdown-Liste wählst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_übersicht_der_aktionen_und_subaktionen_2">2.2. Übersicht der Aktionen und Subaktionen</h3>
<div class="paragraph">
<p>Folgende <a href="/automatisierung/prozesse/aktionen">Aktionen</a> und <a href="/automatisierung/prozesse/subaktionen">Subaktionen</a> stehen dir für den Arbeitsschritt <strong>Auftragsbearbeitung</strong> zur Verfügung. Informationen zur Konfiguration erhältst du auf der jeweiligen Unterseite.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#110">Abhol-/Lieferschein</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#120">Adressetikett</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#130">Angebot</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#140">Artikelerfassung</a></p>
<div class="ulist">
<ul>
<li>
<p>keine</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#290">Status ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#210">Markierung ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#190">Eigner ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#250">Paketnummer erfassen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#340">Zahlungsart ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#300">Versanddienstleister ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#320">Versandprofil ändern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#130">Auftragsnotizen hinzufügen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#140">Aus Prozess entfernen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#310">Versandpakete</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#180">Auftragsbestätigung</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#160">Auftragssuche</a></p>
<div class="ulist">
<ul>
<li>
<p>keine</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#210">Dokumente</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#220">E-Mail</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#330">Versenden</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#600">Exportdokument</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#230">FiBu-Export</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#240">Gelangensbestätigung</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#250">Gutschrift</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#260">Hinweis</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#200">Hinweis anzeigen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#240">Notiz zum Kunden</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#230">Notiz zum Auftrag</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#270">Korrekturbeleg</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#280">Lager-Pickliste</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#290">Lieferschein</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#300">Mahnung</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#310">Packliste</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#320">Pickliste</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#330">Picklisten-Suche</a></p>
<div class="ulist">
<ul>
<li>
<p>keine</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#340">Polling</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#350">Rechnung</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#360">Reparaturschein</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#370">Retoure anlegen/bearbeiten</a></p>
<div class="ulist">
<ul>
<li>
<p>keine</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#380">Retourenetikett</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#390">Rücksendeschein</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#400">SEPA Pain001</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#410">SEPA Pain008</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#420">Seriennummern</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#260">Seriennummern erfassen</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#430">Versand-Center</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#440">Warenausgang</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#160">Buchung durchführen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#170">Buchung zurücksetzen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#470">Zahlungseingang anlegen</a></p>
<div class="ulist">
<ul>
<li>
<p>keine</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="wareneingang">3. Wareneingang</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Arbeitsschritt <strong>Wareneingang</strong> ermöglicht u.a. das Suchen und Erfassen von einzelnen Wareneingängen, die Bestellsuche mit anschließender Buchung der Artikel einer Bestellung und die automatische Zuordnung von Nachbestellungen.</p>
</div>
<div class="sect2">
<h3 id="_konfiguration_3">3.1. Konfiguration</h3>
<div class="paragraph">
<p>Erstelle zunächst einen Arbeitsschritt.</p>
</div>
<div class="paragraph instruction">
<p>Arbeitsschritt erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Neuer Arbeitsschritt</strong>.</p>
</li>
<li>
<p>Wähle als Typ <strong>Wareneingang</strong> und klicke auf <strong>Speichern</strong>.<br>
→ Das Konfigurationsfenster wird geöffnet (Bild 5).</p>
</li>
<li>
<p>Nimm die Einstellungen vor, wie in <a href="#tabelle-arbeitsschritte-einstellungen">Tabelle 5</a> erläutert.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Bei einem bereits erstellten Arbeitsschritt klickst du auf den <strong>Stift</strong>, um dieses Fenster zu öffnen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/DE-Einstell-Prozesse-Wareneingang-01-SI.png" alt="Arbeitsschritt konfigurieren">
</div>
<div class="title">Bild 5. Arbeitsschritt konfigurieren</div>
</div>
<div class="paragraph">
<p><a href="#tabelle-arbeitsschritte-einstellungen">Tabelle 5</a> erläutert die Einstellungen des Arbeitsschrittes:</p>
</div>
<table id="tabelle-arbeitsschritte-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Arbeitsschritt konfigurieren; Einstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option wird erst wählbar, nachdem der Arbeitsschritt erstellt wurde.<br>
Bei mehreren Arbeitsschritten kann hier die Reihenfolge geändert werden. Standardmäßig wird neuen Arbeitsschritten die nächste verfügbare Position zugewiesen. Andere Position wählen, um bei mehreren Arbeitsschritten die Reihenfolge zu ändern, in der die Arbeitsschritte abgearbeitet werden. Arbeitsschritte werden aufsteigend sortiert. Der Arbeitsschritt mit der niedrigsten Nummer wird also zuerst ausgeführt.<br>
<strong><em>Tipp:</em></strong> Arbeitsschritte lassen sich auch über das Kontextmenü um eine Position verschieben. Dazu mit der rechten Maustaste auf den Arbeitsschritt klicken und <strong>Nach oben verschieben</strong> oder <strong>Nach unten verschieben</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für den Arbeitsschritt. Wähle einen Namen, der den Arbeitsschritt möglichst eindeutig bezeichnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Folgeschritt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob ein weiterer Arbeitsschritt manuell oder automatisch gestartet werden soll. Diese Einstellung ist nur relevant, wenn mindestens zwei Arbeitsschritte eingerichtet sind.<br>
<strong>Eingabe abwarten</strong> = der nächste Arbeitsschritt wird nicht automatisch gestartet, sondern es wird vom System ein erneuter Klick auf <strong>Start</strong> in der Ausführung des Prozesses abgewartet<br>
<strong>Automatisch starten</strong> = ein Folgeschritt oder eine Aktion wird automatisch gestartet</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Der betreffende Arbeitsschritt wird angezeigt. Wenn du dann mit der Maus auf das Element zeigst, werden die Konfigurationselemente sichtbar:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/DE-Einstell-Prozesse-Wareneingang-02-SI.png" alt="Arbeitsschritt **Wareneingang**" width="Konfiguration öffnen">
</div>
<div class="title">Bild 6. Arbeitsschritt <strong>Wareneingang</strong>, Konfiguration öffnen</div>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Prozessablauf erhältst du auf der Handbuchseite <a href="/automatisierung/prozesse/prozesse-ausfuehren#2.4">Prozesse ausführen</a> im Unterkapitel <strong>4.2 Buchung einfacher Wareneingänge</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_übersicht_der_aktionen_und_subaktionen_3">3.2. Übersicht der Aktionen und Subaktionen</h3>
<div class="paragraph">
<p>Folgende Aktionen und Subaktionen stehen dir für den Arbeitsschritt <strong>Wareneingang</strong> zur Verfügung. Weiterführende Informationen und Einstellungsmöglichkeiten erhältst du auf der jeweiligen Unterseite.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/aktionen#150">Artikeletikett</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#180">Drucken</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#280">Speichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#350">Zwischenspeichern</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#160">Artikelsuche</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#120">Artikel scannen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#200">Bestellsuche</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#150">Bestellung scannen</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#260">Hinweis</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#200">Hinweis anzeigen</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#240">Notiz zum Kunden</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#230">Notiz zum Auftrag</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#270">Sounds</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#450">Wareneingang (Bestellung)</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/subaktionen#160">Buchung durchführen</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen#460">Wareneingang (einfach)</a></p>
<div class="ulist">
<ul>
<li>
<p>keine</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</main>