<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> plentyBase Logfiles finden</span></a></li>
<li><a href="#200"><span>2.</span><span> Fehlermeldung "Subaktion (ID x) korrigieren: Code 1206" (ehemalig code 1203)</span></a></li>
<li><a href="#300"><span>3.</span><span> Fehlermeldung "Dokument nicht gespeichert"</span></a></li>
<li><a href="#400"><span>4.</span><span> Fehlermeldung "Angefangene Box-Kommissionierung existiert bereits für Benutzer"</span></a></li>
<li><a href="#500"><span>5.</span><span> Fehlermeldung "Versandetiketten nicht gespeichert"</span></a></li>
<li><a href="#600"><span>6.</span><span> Die Lagerortsortierung passt nicht</span></a></li>
<li><a href="#700"><span>7.</span><span> Fehlende plentyBase Authentifizierung. Access-Token-Einstellungen prüfen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Erste Hilfe für Prozesse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese hier aufgelisteten Fehler sollen helfen, mögliche Fehlerquellen bei der Arbeit mit den Prozessen ausfindig zu machen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. plentyBase Logfiles finden</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Starte plentyBase.</p>
</li>
<li>
<p>Führe den Prozess so lang aus, bis das Verhalten auftritt.</p>
</li>
<li>
<p>Klicke auf das plentyBase Logo und wähle <strong>Log-Dateien anzeigen</strong>.</p>
</li>
<li>
<p>Packe die Datei <code>plentyBase.log</code> als ZIP-Datei oder RAR-Datei.<br>
→ Sollte das Verhalten an einem anderen Tag aufgetreten sein, packe die Datei des entsprechenden Tags.</p>
</li>
<li>
<p>Schicke die Logs erst <strong><em>nach Aufforderung</em></strong> durch ein Mitglied der plentyCrew per privater Nachricht im plentymarkets Forum.<br>
<strong><em>Tipp:</em></strong> Schicke wenn möglich auch den Link zum Forenbeitrag mit. Ohne Bezug und Aufforderung kann es zu starken Verzögerungen kommen, die wir gern vermeiden möchten.<br>
<strong><em>Hinweis:</em></strong> Bitte sende die Logfiles unbedingt als private Nachricht und poste die Logfiles nicht in dem öffentlichen Beitrag!</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wie versende ich private Nachrichten im Forum?</div>
<div class="paragraph">
<p>Wie du private Nachrichten im plentymarkets Forum versendest, erfährst du im <a href="https://forum.plentymarkets.com/t/wie-sende-ich-private-nachrichten/3024" target="_blank" rel="noopener">plentymarkets Forum</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Fehlermeldung "Subaktion (ID x) korrigieren: Code 1206" (ehemalig code 1203)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Fehlermeldung <strong>Subaktion (ID x) korrigieren: Code 1206</strong> (ehemalig code 1203) ist eine sehr häufige Meldung. Verursacht wird diese Fehlermeldung, wenn Druckaktionen oder Speicheraktionen geändert werden. Änderst du zum Beispiel an Rechner A deinen Prozess und fügst dort eine Druck- oder Speicheraktion hinzu, musst du hier schon beim Anlegen den Drucker bzw. den Speicherpfad wählen. Dieser Druck- oder Speicherpfad ist jedoch nur für den Rechner gültig, den du gerade bedienst, da die kompletten Druck- oder Speicherkonfigurationen lokal auf deinem PC gespeichert werden. Versuchst du nun den Prozess auf Rechner B zu starten, bekommst du bei jeder Druck- oder Speicheraktion die Fehlermeldung <strong>Subaktion (ID x) korrigieren: Code 1206</strong> (ehemalig code 1203).</p>
</div>
<div class="paragraph instruction">
<p>Fehler beheben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Prozesse</strong>.</p>
</li>
<li>
<p>Öffne den Prozess, der die Fehlermeldung verursacht.</p>
</li>
<li>
<p>Bearbeite jede Druck- und Speicheraktion.</p>
</li>
<li>
<p>Füge jeder Druckaktion den Drucker hinzu, der bei dieser Aktion drucken soll:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Öffne die Subaktion <strong>Drucken</strong>.<br>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/beispiel_drucken_1.png" alt="beispiel drucken 1"></span></p>
</li>
<li>
<p>Wähle den Drucker.<br>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/beispiel_drucken_2.png" alt="beispiel drucken 2"></span></p>
</li>
<li>
<p>Speichere die Änderung.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Füge jeder Speicheraktion einen Speicherpfad hinzu:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Öffne die Subaktion <strong>Speichern</strong>.<br>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/beispiel_speichern_1.png" alt="beispiel speichern 1"></span></p>
</li>
<li>
<p>Wähle den Speicherpfad.<br>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/beispiel_speichern_2.png" alt="beispiel speichern 2"></span></p>
</li>
<li>
<p>Speichere die Änderung.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Die Fehlermeldung kann auch für die Aktionen im Fehlerfall auftreten kann. Prüfe daher, ob für die Aktion eine Aktion im Fehlerfall festgelegt ist:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke in den Aktionen auf den <strong>Käfer</strong>:<br>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/beispiel_speichern_3.png" alt="beispiel speichern 3"></span></p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Fehlermeldung "Dokument nicht gespeichert"</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Manchmal tritt der Fehler <strong>{Dokumenttyp} nicht gespeichert: Keine Dokumente verfügbar. Betroffene IDs: {xxx}</strong> auf.</p>
</div>
<div class="paragraph instruction">
<p>Temp- und Cache-Ordner erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den folgenden Ordner:<br>
Windows: <code>C:\Benutzer\"DeinBenutzer"\plentymarkets\plentymarkets</code><br>
MacOS: <code>/Users/"DeinBenutzer"/Library/Application Support/plentymarkets/plentymarkets</code>.</p>
</li>
<li>
<p>Prüfe, ob in diesem Order der Unterordner <code>temp</code> vorhanden ist.</p>
</li>
<li>
<p>Erstelle in diesem Ordner den Unterordner <code>temp</code>, wenn der Ordner nicht vorhanden ist.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Fehlermeldung "Angefangene Box-Kommissionierung existiert bereits für Benutzer"</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei der Meldung <strong>Angefangene Box-Kommissionierung existiert bereits für Benutzer</strong> handelt es sich nicht direkt um eine Fehlermeldung. Vielmehr ist die Meldung ein Hinweis darauf, dass die Person bereits eine Box-Kommissionierung gestartet hat, die jedoch noch nicht abgeschlossen wurde.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Prüfe, ob im Arbeitsschritt <strong>Auftragsabwicklung</strong> die Einstellung <strong>Angefangene Box-Kommissionierung</strong> auf <strong>Fortfahren</strong> steht.<br>
→ Mit dieser Einstellung wird die letzte Box-Kommissionierung beim nächsten Start des Prozesses fortgesetzt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn die Fehlermeldung weiterhin auftritt oder wenn du die angefangene Box-Kommissionierung aus irgendeinen Grund nicht fortführen möchtest, kannst du die Box-Kommissionierung zurücksetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne das Benutzerkonto.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Prozesse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Angefangene Box-Kommissionierung zurücksetzen</strong>.<br>
→ Die angefangene Box-Kommissionierung wird zurückgesetzt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Fehlermeldung "Versandetiketten nicht gespeichert"</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn die Fehlermeldung <strong>Versandetiketten nicht gespeichert. Keine Auftragsdaten vorhanden. Betroffene IDs: {xxx}</strong> auftritt, solltest du prüfen, ob am Auftrag der Versanddienstleister hinterlegt ist, mit dem du den Auftrag über den Prozess versenden möchtest.</p>
</div>
<div class="paragraph">
<p>Wenn zum Beispiel am Auftrag der Versanddienstleister Hermes hinterlegt ist und im Prozess wird versucht, den Auftrag mit DHL Intraship/Versenden zu verschicken, tritt diese Fehlermeldung auf.</p>
</div>
<div class="paragraph">
<p>Passe daher entweder das Versandprofil am Auftrag an oder passe den Prozess so an, dass nur Aufträge von einem bestimmten Versanddienstleister/Versandprofil berücksichtigt werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Die Lagerortsortierung passt nicht</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Problem kann bei verschiedenen Dokumenten (Packliste, Pickliste etc.) oder in den Arbeitsschritten auftreten. Abhilfe schafft hier eine Ereignisaktion.
Ohne diese Ereignisaktion übernimmt die Zuweisung das erste Auftragsdokument, was für eine Sortierung im Prozess zu spät ist.</p>
</div>
<div class="paragraph instruction">
<p>Ereignisaktion einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-BP-EA-lagerortsortierung">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-BP-EA-lagerortsortierung">Tabelle 1</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-BP-EA-lagerortsortierung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ereignisaktion Lagerortsortierung</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong><br>
<strong>Lieferauftrag</strong><br>
<strong>Gewährleistung</strong><br>
<strong>Reparatur</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Lagerort zuweisen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alten Lagerort lösen</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">7. Fehlende plentyBase Authentifizierung. Access-Token-Einstellungen prüfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hierbei handelt es sich nicht um eine Fehlermeldung im klassischen Sinn, vielmehr wirst du darauf hingewiesen, dass noch kein Access Token zur Absicherung der Kommunikation zwischen dem plentymarkets System und dem lokal installierten plentyBase eingerichtet wurde.</p>
</div>
<div class="paragraph">
<p>Damit diese Meldung nicht mehr erscheint und die Verbindung abgesichert ist, muss ein Token in plentymarkets erzeugt und in plentyBase hinterlegt werden:</p>
</div>
<div class="paragraph instruction">
<p>plentyBase starten und Menü öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>plentyBase starten</p>
</li>
<li>
<p>plentymarkets öffnen</p>
</li>
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » plentyBase</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/plentybase_backend.png" alt="plentybase backend">
</div>
</div>
<div class="paragraph instruction">
<p>Token erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechsele in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Generiere einen Token und kopiere diesen in die Zwischenablage.</p>
</li>
<li>
<p><strong>Speichere</strong> die Änderungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/accesstoken.png" alt="accesstoken">
</div>
</div>
<div class="paragraph instruction">
<p>Konfiguration öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf das plentyBase Logo in der System Task-Leiste und wähle dort <strong>Konfiguration öffnen</strong>.<br></p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/baseMac.png" alt="baseMac">
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/baseWin.png" alt="baseWin">
</div>
</div>
<div class="paragraph instruction">
<p>Token hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Access Tokens verwalten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.</p>
</li>
<li>
<p>Füge den in die Zwischenablage kopierten Token links ein. Gib rechts zum Beispiel "plentymarkets" ein.</p>
</li>
<li>
<p>Klicke auf <strong>OK</strong>.</p>
</li>
</ol>
</div>
</div>
</div>
</main>