<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Grundlagen Lager</span></a></li>
<li><a href="#20"><span>2.</span><span> Dimensionen festlegen</span></a></li>
<li><a href="#30"><span>3.</span><span> Lagerorte anlegen</span></a></li>
<li><a href="#40"><span>4.</span><span> Laufweg optimieren</span></a>
<ul class="sectlevel2">
<li><a href="#50"><span>4.1.</span><span> Laufweg-Beispiel 1:</span></a></li>
<li><a href="#60"><span>4.2.</span><span> Laufweg-Beispiel 2</span></a></li>
</ul>
</li>
<li><a href="#70"><span>5.</span><span> Lagerort-Etiketten erstellen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Praxisbeispiel: Lager einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Praxisbeispiel zeigen wir dir alles rund um die Einrichtung eines Lagers, wozu das Festlegen von Dimensionen, das Anlegen von Lagerorten, das Optimieren des Laufwegs und das Erstellen von Lagerort-Etiketten gehört.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Grundlagen Lager</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Je größer dein Lager ist und je mehr Artikel darin gelagert werden, desto wichtiger ist es, Struktur zu schaffen, damit deine Lagerist:innen beim Wareneingang und beim Pickvorgang optimal geführt werden und deine Artikel an der bestmöglichen Stelle im Lager gelagert werden.
Dazu brauchst du eine für dein Lager optimierte Lagerstruktur, bestehend aus Dimensionen und Lagerorten und einem für dein Lager optimierten Laufweg.<br>
Beachte, dass es hierbei sinnvoll ist, etwas mehr Zeit in die Planung der Lagerstruktur und des Laufwegs zu investieren, damit diese Struktur auch für eventuelle Erweiterungen deines Lagers vorbereitet ist. So solltest du dir z.B. über die Anzahl der Dimensionen im Klaren sein.
Wie genau du dein Lager mit Lagerorten und Dimensionen versehen kannst, zeigen wir dir nachfolgend.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Dimensionen festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im ersten Schritt werden Dimensionen festgelegt. Mit Dimensionen sind die Bezeichnungen der Strukturelemente eines Lagers gemeint. Angenommen, ein Lager besteht aus 2 Hallen mit jeweils 16 Regalen. Diese Regale enthalten wiederum vier Böden und auf diesen Böden befinden sich jeweils vier Lagerorte, wo die Ware eingelagert wird.
Grafisch könnte das so aussehen:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/halle-1-und-2.png" alt="halle 1 und 2">
</div>
<div class="title">Bild 1. Ansicht Lagerhallen von oben</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/ansicht-zwei-regale.png" alt="ansicht zwei regale">
</div>
<div class="title">Bild 2. Ansicht Regale von vorne</div>
</div>
<div class="paragraph">
<p>Für die Dimensionen werden somit eine Halle, Regale und Böden benötigt. Die Lagerorte selbst sind keine Dimensionen.
Da die Halle in diesem Fall die größte Dimension ist, steht sie an oberster Stelle. Die zweitgrößte Dimension ist das Regal und steht somit an zweiter Stelle und der Boden folglich an dritter Stelle.
Indem man die Haken für <strong>in Namen anzeigen</strong> setzt, werden die Kürzel der Dimension später beim Anlegen neuer Lagerorte auch in dem Lagerortnamen angezeigt. Außerdem kann die Option <strong>Position im Laufweg anzeigen</strong> gewählt werden. Damit kann man festlegen, ob die Dimensionen beim Laufweg berücksichtigt werden sollen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Artikel auf mehreren Lagerorten</div>
<div class="paragraph">
<p>Auch für den Fall, dass ein Artikel auf mehreren Lagerorten liegt, hilft die Position, beim Zuweisen den richtigen Lagerort zu wählen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/vorschau-lagerortname.png" alt="vorschau lagerortname">
</div>
<div class="title">Bild 3. Einstellungen Dimensionen</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Mindestens eine Dimension benötigt</div>
<div class="paragraph">
<p>Es wird mindestens eine Dimension benötigt. Ohne Dimensionen können keine Lagerorte angelegt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn die Dimensionen soweit präpariert sind, müssen diese initial einmal gespeichert werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Lagerorte anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Lagerorte anzulegen, wechselt man zum Punkt Lagerorte. Aktuell sind dort noch keine Lagerorte zu sehen, da bisher noch keine angelegt wurden. Dies ist über das grüne Plus oberhalb der Tabelle möglich. Sollte die Schaltfläche ausgegraut sein, wurden die Dimensionen initial noch nicht gespeichert.
Nun öffnet sich die Ansicht, in der bestimmt werden kann, wie viele Hallen im Lager, wie viele Regale jeweils in der Halle und wie viele Böden in jedem Regal vorhanden sein sollen. Am Ende wird bestimmt, wie viele Lagerorte es pro Boden gibt. Wenn gewünscht, kann das englische Lagerort-Kürzel SL beliebig geändert werden (beispielsweise in LO). Am Lagerort und bei allen Dimensionen, die den Haken für <strong>Positon im Laufweg berücksichtigen</strong> gesetzt haben, kann dann die Startposition für die Laufwegoptimierung bestimmt werden. In diesem Fall wird bei 1 begonnen. Anschließend klickt man auf <strong>Lagerorte generieren</strong> und bekommt die Vorschau der neuen Lagerorte angezeigt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/neuer-lagerort.png" alt="neuer lagerort">
</div>
<div class="title">Bild 4. Lagerort hinzufügen</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/uebersicht-dimensionen.png" alt="uebersicht dimensionen">
</div>
<div class="title">Bild 5. Lageraufbau bestimmen</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/vorschau-lo-generieren.png" alt="vorschau lo generieren">
</div>
<div class="title">Bild 6. Vorschau Lagerorte</div>
</div>
<div class="paragraph">
<p>Aus den Dimensionen (Halle, Regal, Boden) sind nun konkrete Ebenen (H1, R1, B1) geworden, die den Pfad zu einem ganz konkreten Lagerort (LO1) machen. Entspricht die Vorschau deinen Vorstellungen, können die Lagerorte nun generiert werden.
Das kann je nach Anzahl der Lagerorte etwas Zeit in Anspruch nehmen und geschieht im Hintergrund. Sind alle Lagerorte generiert, wird eine Erfolgsmeldung angezeigt und die Ansicht kann über die Schaltfläche (siehe Screenshot) aktualisiert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/verfuegbarkeit.png" alt="verfuegbarkeit">
</div>
<div class="title">Bild 7. Lagerorte generieren</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/aktualisieren-button.png" alt="aktualisieren button">
</div>
<div class="title">Bild 8. Ansicht aktualisieren</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Laufweg optimieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei der Bestimmung des Laufwegs gibt es einige Dinge zu beachten. Zunächst gilt: Die höchste Dimension hat Priorität. Hat man beispielsweise die Dimensionen Halle, Regal und Boden, so wird zuerst die Halle berücksichtigt, dann das Regal und schließlich der Boden und die Lagerorte. Während letztere immer in den Laufweg mit einfließen, kann man bei den Dimensionen durch Setzen des Hakens festlegen, ob sie berücksichtigt werden sollen.
Die beiden nachfolgenden Beispiele sollen mögliche Laufwege veranschaulichen.</p>
</div>
<div class="sect2">
<h3 id="50">4.1. Laufweg-Beispiel 1:</h3>
<div class="paragraph">
<p>In diesem Beispiel ist die Halle die größte Dimension, gefolgt von den Regalen, den Böden und den Lagerorten. Die vergebenen Positionen bestimmen die Reihenfolge des Laufwegs. Somit werden die Regale und die Böden nicht nach Nummer, sondern immer nach Position abgelaufen. In diesem Beispiel haben die Böden allerdings keine Position und werden daher nicht im Laufweg berücksichtigt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/ansicht-lagerhallen-von-oben.png" alt="ansicht lagerhallen von oben">
</div>
<div class="title">Bild 9. Ansicht eines Lagers von oben</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/laufweg-bsp-1.png" alt="laufweg bsp 1">
</div>
<div class="title">Bild 10. Möglicher Laufweg; Ansicht der Regale eines Lagers von vorne</div>
</div>
</div>
<div class="sect2">
<h3 id="60">4.2. Laufweg-Beispiel 2</h3>
<div class="paragraph">
<p>In diesem Beispiel beinhaltet die Halle zwei Regale mit jeweils fünf Böden. Die in Klammern angezeigten Positionen bestimmen den Laufweg und so werden die Böden hier nacheinander, beginnend bei Regal 1, abgelaufen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/laufweg-bsp-2.png" alt="laufweg bsp 2">
</div>
<div class="title">Bild 11. Möglicher Laufweg; Ansicht der Regale eines Lagers von vorne</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Laufwegpositionen ohne Berücksichtigung von Dimensionen vergeben</div>
<div class="paragraph">
<p>Es kann sinnvoll sein, die Positionen für den Laufweg ohne Berücksichtigung der Dimensionen und somit nur auf Ebene der Lagerorte zu vergeben (dazu entweder den Haken deaktivieren oder alle Positionen der Dimensionen auf den Wert 1 setzen). Dadurch geht zwar die Struktur verloren und es entsteht ein höherer Aufwand, da die Positionswerte hoch sind und beim Dazwischenschieben von Lagerorten alle Positionswerte geändert werden müssen; allerdings bietet diese Variante maximale Flexibilität, sodass beispielsweise eine Pickzone auf der untersten Ebene von Hochregalen erstellt oder einzelne Lagerorte bevorzugt behandelt werden können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. Lagerort-Etiketten erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um ein Lagerort-Etikett zu erstellen, gehe zunächst in das Menü <strong>Einrichtung » Waren » Lager</strong> und öffne dort zuerst das Lager und anschließend die Lagerorte.
Wähle die Lagerorte und klicke auf <strong>Drucken</strong>. Dadurch wird eine PDF-Datei für alle markierten Lagerorte erstellt.
Alternativ kannst du im Bereich <strong>Aufbau anpassen</strong> auch Label für alle Lagerorte innerhalb einer gewählten Dimension erstellen. Mit Klick auf <strong>Drucken</strong> wird dann eine PDF-Datei für alle Lagerorte erstellt, die in der markierten Dimension (und deren Unterdimensionen) liegen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/markierte-lo-drucken.png" alt="markierte lo drucken">
</div>
<div class="title">Bild 12. Gewählte Lagerorte</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/drucken-button.png" alt="drucken button">
</div>
<div class="title">Bild 13. Lagerort-Etikett drucken</div>
</div>
<div class="paragraph">
<p>Der Ausdruck sieht dann beispielsweise so aus:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/etikett.png" alt="etikett">
</div>
<div class="title">Bild 14. Beispiel Lagerort-Etikett</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Achte darauf, dass der Lagerortname nicht zu lang ist. Ansonsten kann es sein, dass dieser nicht auf das Etikett passt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Möchtest du Änderungen an den Etiketten vornehmen, kannst du dies im Menü <strong>Einrichtung » Waren » Lager » Lagerauswahl » Label</strong> tun. Diese Übersicht bietet dir die Möglichkeit, die Einstellungen anzupassen und die Etiketten nach deinen Wünschen zu gestalten.</p>
</div>
</div>
</div>
</main>