<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#itemdataexport"><span>1.</span><span> Item data export</span></a>
<ul class="sectlevel2">
<li><a href="#_how_can_i_detect_if_an_item_has_not_been_exported"><span>1.1.</span><span> How can I detect if an item has not been exported?</span></a></li>
<li><a href="#_how_do_i_proceed_to_find_out_why_an_item_has_not_been_exported"><span>1.2.</span><span> How do I proceed to find out why an item has not been exported?</span></a>
<ul class="sectlevel3">
<li><a href="#_last_change"><span>1.2.1.</span><span> Last change</span></a></li>
<li><a href="#_are_the_settings_in_the_tab_availability_correct_for_each_variation"><span>1.2.2.</span><span> Are the settings in the tab “Availability” correct? (for each variation)</span></a></li>
<li><a href="#_are_the_settings_in_the_tab_multi_channel_correct"><span>1.2.3.</span><span> Are the settings in the tab “Multi-Channel” correct?</span></a></li>
<li><a href="#_are_the_filters_deposited_in_the_basic_settings_correct"><span>1.2.4.</span><span> Are the filters deposited in the basic settings correct?</span></a></li>
<li><a href="#_price"><span>1.2.5.</span><span> Price</span></a></li>
<li><a href="#_active"><span>1.2.6.</span><span> Active</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#europeanmarketplaceaccount"><span>2.</span><span> Error message: Request is throttled</span></a>
<ul class="sectlevel2">
<li><a href="#_what_does_request_is_throttled_mean"><span>2.1.</span><span> What does “Request is throttled” mean?</span></a></li>
<li><a href="#_major_cause_of_the_error"><span>2.2.</span><span> Major cause of the error:</span></a></li>
<li><a href="#_how_to_solve_the_error"><span>2.3.</span><span> How to solve the error:</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Best Practices: Amazon</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Best Practices for the marketplace <strong>Amazon</strong> can be found on this page.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="itemdataexport">1. Item data export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This checklist helps you to find out why an item has not been transferred to Amazon. (Please consider the explanatory note below.)</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">A brief explanation might be useful here:</div>
<div class="paragraph">
<p>In order to export item data to Amazon, you can use the <strong>automatic export</strong> which takes place at night. You can also use the <strong>manual export</strong>. To do so, go to <strong>System » Markets » Amazon » Data exchange » Data export</strong>.
In both cases, a CSV file is generated. <strong>This checklist is supposed to help you when an item is not available in the generated CSV file.</strong> If the item is available in this CSV file, but it is neither displayed on Amazon nor in your Seller Central, you have to check the Amazon error reports for information about why the item has not been accepted by Amazon.
Note that you still need an active data synchronisation with Amazon (in the deposited basic settings for Amazon).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_how_can_i_detect_if_an_item_has_not_been_exported">1.1. How can I detect if an item has not been exported?</h3>
<div class="paragraph">
<p>If you can answer all of the following questions with <strong><em>No</em></strong>, then the item has probably not been exported.</p>
</div>
<div class="olist upperalpha">
<ol class="upperalpha" type="A">
<li>
<p>Is the item available in the Seller Central?</p>
</li>
<li>
<p>Is there an error message about this item in the Amazon processing reports (in the Seller Central under <strong>Inventory » Add Products via Upload</strong>)?</p>
</li>
<li>
<p>Is the item available in the CSV file which you can generate by using the manual export in the menu <strong>System » Markets » Amazon » Data exchange » Data export</strong>?</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip:</div>
<div class="paragraph">
<p>If you want to test whether one or more specific items cannot be exported, you can flag these items. You can filter the flags in the section of manual export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_how_do_i_proceed_to_find_out_why_an_item_has_not_been_exported">1.2. How do I proceed to find out why an item has not been exported?</h3>
<div class="sect3">
<h4 id="_last_change">1.2.1. Last change</h4>
<div class="paragraph">
<p>Check whether the last change to the item was made within the last three days because only those items will be exported which were changed within the last three days.
You can most easily find out when a variation has been changed the last time when you open the corresponding variation in the item. Within the line of the save icon you can see the date of the last change.</p>
</div>
<div id="datelastchange" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-date.png" alt="Date of the last change">
</div>
<div class="title">Figure 1. Date of the last change of the variation</div>
</div>
<div class="paragraph">
<p>You can also see it in the table view, as in version 6. Switch the view to <strong>Variations</strong> and activate the column <strong>Last change</strong>.</p>
</div>
<div id="tabletype" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-table-type.png" alt="Table type of the item overview">
</div>
<div class="title">Figure 2. Table type in the item overview</div>
</div>
<div class="paragraph">
<p>To solve the issue, go to <strong>Item » Batch processing</strong> Tab <strong>Variations</strong> and select the option <strong>Update timestamp for market exports</strong>.</p>
</div>
<div id="stapelverarbeitung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-batch-processing.png" alt="Batch processing">
</div>
<div class="title">Figure 3. Batch processing “Update timestamp for market exports”</div>
</div>
</div>
<div class="sect3">
<h4 id="_are_the_settings_in_the_tab_availability_correct_for_each_variation">1.2.2. Are the settings in the tab “Availability” correct? (for each variation)</h4>
<div class="paragraph">
<p>In general, the <strong>Web-API</strong> has to be activated and the correct <strong>platform</strong> must be deposited. (If you want to list on Amazon.fr, Amazon France has to be activated etc.).</p>
</div>
<div id="marketplaceavailability" class="paragraph">
<div class="title">Market availability of the item</div>
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-marketplace-availability.png" alt="Marketplace availability"></span></p>
</div>
<div class="paragraph">
<p>In order to select order referrers, they have to be set visible. To make them visible in your menu, go to <strong>System » Orders » Order referrer</strong>.</p>
</div>
<div id="orderreferrer" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-order-referrer.png" alt="Order referrer">
</div>
<div class="title">Figure 4. Activating order referrers</div>
</div>
</div>
<div class="sect3">
<h4 id="_are_the_settings_in_the_tab_multi_channel_correct">1.2.3. Are the settings in the tab “Multi-Channel” correct?</h4>
<div class="paragraph">
<p>Make sure that the corresponding product type is deposited.</p>
</div>
</div>
<div class="sect3">
<h4 id="_are_the_filters_deposited_in_the_basic_settings_correct">1.2.4. Are the filters deposited in the basic settings correct?</h4>
<div class="paragraph">
<p>This refers to the settings in <strong>System » Markets » Amazon » Settings</strong>. For example, you can define that only items with a specific <strong>flag</strong> should be exported. If the item is not marked with this flag, then the item will not be exported.
You can further define that only those items are exported which are <strong>visible in the store</strong>. If the item is not activated for the store (in the section <strong>Edit item</strong>, Tab:<strong>Settings</strong>), then the item will not be exported.</p>
</div>
<div class="paragraph">
<p>Also pay attention to the other filters.</p>
</div>
</div>
<div class="sect3">
<h4 id="_price">1.2.5. Price</h4>
<div class="paragraph">
<p>If the sales price set for Amazon is 0.00 or if the sales price is not enabled for Amazon, then the item will not be exported.
A standard price must be set. The standard price is a sales price which is neither a special offer nor the RRP.
This refers to the option <strong>Price type</strong> in the sales prices under <strong>System » Item » Sales prices</strong>.</p>
</div>
<div id="salesprice" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-salesprice.png" alt="Sales price">
</div>
<div class="title">Figure 5. Settings for the sales price</div>
</div>
</div>
<div class="sect3">
<h4 id="_active">1.2.6. Active</h4>
<div class="paragraph">
<p>If the variation is not <strong>active</strong> (Tab: <strong>Settings</strong> of a variation), then the item will not be exported.</p>
</div>
<div id="active" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/amazon/assets/bp-amazon-itemdataexport-active.png" alt="Active">
</div>
<div class="title">Figure 6. Active variation</div>
</div>
<div class="paragraph">
<p>The variations with attribute links and the single item variations (i.e. items with main variation only) should be active.
Also consider the following note:</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Deactivating a main variation without attribute link</div>
<div class="paragraph">
<p>If an item has variations with attribute links but the main variation has no attribute links, then the main variation has to be set inactive. Otherwise the main variation will be exported as single item. The main variation must be active if it has an attribute link.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="europeanmarketplaceaccount">2. Error message: Request is throttled</h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>This BestPractice page covers the error “Request is throttled” and how to solve it.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_what_does_request_is_throttled_mean">2.1. What does “Request is throttled” mean?</h3>
<div class="paragraph">
<p>For each procedure, such as order import, shipping confirmations, stock synchronisation etc., the number of requests is limited by Amazon (Maximum Request Quota). If the maximum number of requests is exceeded, the procedure will be blocked. Further requests will then be rejected by Amazon. After a certain amount of time, little by little new capacities are enabled for the procedure (The Leaky Bucket Algorithm), and the transfer is enabled once again.</p>
</div>
<div class="paragraph">
<p>For more information on this topic, see <strong>&lt;&lt;<a href="http://docs.developer.amazonservices.com/en_DE/dev_guide/DG_Throttling.html" class="bare">http://docs.developer.amazonservices.com/en_DE/dev_guide/DG_Throttling.html</a>, Throttling: Limits to how often you can submit requests&gt;&gt;</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_major_cause_of_the_error">2.2. Major cause of the error:</h3>
<div class="paragraph">
<p>This error often occurs because if you use a European Amazon marketplace account, a configuration in the plentymarkets system causes too many requests to be sent by this Amazon account.</p>
</div>
<div class="paragraph">
<p><strong>Background</strong>: This means that within <strong>System » Markets » Amazon » Settings</strong> multiple Amazon accounts have been deposited for different platforms which all “aim” at the same European marketplace account.</p>
</div>
<div class="literalblock">
<div class="content">
<pre>Those accounts always have the same merchant ID. Several options have been selected in one or multiple accounts.</pre>
</div>
</div>
<div class="paragraph">
<p>Amazon platforms which are often summarised in one European marketplace account (as of 15 May 2017):</p>
</div>
<div class="paragraph">
<p>Amazon.de, Amazon.fr, Amazon.it, Amazon.es, Amazon.co.uk</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>This error might also occur if you use further external programs which access your Amazon account and “overflow” your account in combination with plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_how_to_solve_the_error">2.3. How to solve the error:</h3>
<div class="paragraph">
<p>If you use a European Amazon marketplace account, it is useful to activate procedures for only one marketplace account deposited in plentymarkets within <strong>System » Markets » Amazon » Settings</strong>. Otherwise, the data traffic of those procedures will be transferred for each Amazon account that is deposited in plentymarkets and has the same merchant ID.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Procedures which often cause this error and which should therefore not be activated multiple times:</div>
<div class="ulist">
<ul>
<li>
<p>Order import</p>
</li>
<li>
<p>Stock synchronisation</p>
</li>
<li>
<p>Stock changes</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>P.S.:</strong> An Amazon.com account does not count as a platform of a European marketplace account.</p>
</div>
</div>
</div>
</div>
</main>