<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_setting_up_markets"><span>1.</span><span> Setting up markets</span></a></li>
<li><a href="#_using_price_search_engines"><span>2.</span><span> Using price search engines</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Multi-Channel</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In this area you will find every sales channel that has an interface to plentymarkets. All of the settings that need to be carried out for the sales channel are described on one page. Simply select a sales channel and start setting up the interface.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_markets">1. Setting up markets</h2>
<div class="sectionbody">
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/omni-channel/multi-channel/amazon"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/amazon-logo.png" alt="amazon logo"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/ebay"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1735-ebay-tm-rgb.png" alt="1735 ebay tm rgb"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/bol-com"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/4844.png" alt="4844"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/cdiscount"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/Logo-Cdiscount-web.png" alt="Logo Cdiscount web"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/omni-channel/multi-channel/check24"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/4365.png" alt="4365"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/flubit"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3690.png" alt="3690"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/fruugo"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/3216-fruugo-logo-transparent.png" alt="3216 fruugo logo transparent"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/plus-gartenxxl"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/GartenXXL_Logo.png" alt="GartenXXL Logo"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/omni-channel/multi-channel/grosshandel"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/grosshandel-eu-logo-web.png" alt="grosshandel eu logo web"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/hood"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2387.png" alt="2387"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/idealo-checkout/idealo-setup"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/4364.png" alt="4364"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/kauflux"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1747-kauflux-online-marktplatz.png" alt="1747 kauflux online marktplatz"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/omni-channel/multi-channel/mercateo"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/mercateo-logo.png" alt="mercateo logo"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/neckermann-at"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/NeckermannLogo.jpg" alt="NeckermannLogo"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/otto"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/Otto-Logo-72dpi.png" alt="Otto Logo 72dpi"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/pixmania"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1750.png" alt="1750"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/omni-channel/multi-channel/plus-gartenxxl"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2670-plus-de-logo.jpg" alt="2670 plus de logo"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/rakuten"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1741-rakuten-logo-gross.png" alt="1741 rakuten logo gross"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/real-de/real-setup"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1745.png" alt="1745"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/restposten-de"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1765-Logo-Restposten.png" alt="1765 Logo Restposten"></span></a></p>
</li>
</ul>
</div>
<div class="ulist logoList">
<ul>
<li>
<p><a href="/en/omni-channel/multi-channel/ricardo-ch"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/ricardo-RGB.png" alt="ricardo RGB"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/shopgate"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/1791-shopgate-logo-rgb-26-08-2014.png" alt="1791 shopgate logo rgb 26 08 2014"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/yatego"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2716-YATEGO-rgb-logo.png" alt="2716 YATEGO rgb logo"></span></a></p>
</li>
<li>
<p><a href="/en/omni-channel/multi-channel/zalando"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/assets/2463-Zalando-Logo-freigestellt.png" alt="2463 Zalando Logo freigestellt"></span></a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_using_price_search_engines">2. Using price search engines</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/en/basics/data-exchange/export-import/exporting-data#30">Price search engines</a></p>
</div>
<hr>
</div>
</div>
</main>