<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Eigene Bankdaten speichern</span></a></li>
<li><a href="#20"><span>2.</span><span> Eigene Bankdaten im Webshop anzeigen</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Kategorie Bankdaten anpassen</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Bankdaten im Bestellvorgang anzeigen</span></a></li>
<li><a href="#50"><span>2.3.</span><span> Bankdaten in der Auftragshistorie anzeigen</span></a></li>
<li><a href="#60"><span>2.4.</span><span> Landesspezifische Bankdaten anzeigen</span></a></li>
</ul>
</li>
<li><a href="#63"><span>3.</span><span> Bankdaten von Kunden speichern</span></a></li>
<li><a href="#67"><span>4.</span><span> Bankdaten migrieren</span></a></li>
<li><a href="#70"><span>5.</span><span> EBICS einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#80"><span>5.1.</span><span> EBICS bei Ihrer Bank beantragen</span></a>
<ul class="sectlevel3">
<li><a href="#90"><span>5.1.1.</span><span> Kontonummern</span></a></li>
<li><a href="#100"><span>5.1.2.</span><span> Auszugsbereitstellung</span></a></li>
<li><a href="#110"><span>5.1.3.</span><span> Teilnehmer</span></a></li>
<li><a href="#120"><span>5.1.4.</span><span> Auftragstyp</span></a></li>
</ul>
</li>
<li><a href="#130"><span>5.2.</span><span> EBICS-Modul im Service-Center buchen</span></a></li>
<li><a href="#140"><span>5.3.</span><span> Neues EBICS-Konto in plentymarkets hinzufügen</span></a></li>
<li><a href="#150"><span>5.4.</span><span> Einstellungen am EBICS-Konto vornehmen</span></a></li>
<li><a href="#160"><span>5.5.</span><span> Geschäftsvorfälle definieren</span></a></li>
<li><a href="#170"><span>5.6.</span><span> Freischaltung durch Ihre Bank</span></a></li>
<li><a href="#180"><span>5.7.</span><span> Abrufintervalle für Transaktionen</span></a></li>
<li><a href="#190"><span>5.8.</span><span> Abrufintervalle Vormerkposten</span></a></li>
</ul>
</li>
<li><a href="#200"><span>6.</span><span> SEPA-Lastschriftmandat einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#210"><span>6.1.</span><span> Dokumentenvorlage erstellen</span></a></li>
<li><a href="#215"><span>6.2.</span><span> PDF-Vorlage hochladen</span></a></li>
<li><a href="#220"><span>6.3.</span><span> E-Mail-Vorlage erstellen</span></a></li>
<li><a href="#230"><span>6.4.</span><span> E-Mail-Vorlage per Ereignisaktion versenden</span></a></li>
<li><a href="#240"><span>6.5.</span><span> E-Mail-Vorlage per  Gruppenfunktion versenden</span></a></li>
<li><a href="#250"><span>6.6.</span><span> SEPA-Zahlungsverkehr in den Bankdaten aktivieren</span></a></li>
<li><a href="#260"><span>6.7.</span><span> Download im Mein-Konto-Bereich aktivieren</span></a></li>
<li><a href="#270"><span>6.8.</span><span> SEPA-Zahlungsverkehr per Client automatisieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Bankdaten verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite erfahren Sie, wie Sie <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#10">Ihre Bankinformationen </a></strong> und die <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#63">Bankdaten Ihrer Kunden </a></strong> in plentymarkets speichern, wie Sie Bankdaten im <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#20">Webshop sichtbar machen </a></strong> und wie Sie <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#70">EBICS </a></strong> und <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#200">SEPA </a></strong> einrichten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Eigene Bankdaten speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Bankdaten, die in den Grundeinstellungen zentral gepeichert werden, sind im gesamten System mit diesen Menüs verknüpft. Eine Korrektur der Bankdaten ist nur an dieser Stelle vorzunehmen, Änderungen wirken sich auf das gesamte System aus.</p>
</div>
<div class="paragraph instruction">
<p>Bankdaten speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Bank</strong>.</p>
</li>
<li>
<p>Geben Sie Ihre Bankdaten ein. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Bankdaten speichern</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kontoinhaber</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Vorname und Name des Kontoinhabers eingeben. Für die Anzeige im Design die Template-Variable <strong>$BankAccountOwner</strong> nutzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Konto-Nr.</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kontonummer eingeben. Für die Anzeige im Design die Template-Variable <strong>$BankAccount</strong> nutzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>BLZ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bankleitzahl eingeben. Für die Anzeige im Design die Template-Variable <strong>$BankCode</strong> nutzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bank</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name der Bank eingeben. Für die Anzeige im Design die Template-Variable <strong>$BankName</strong> nutzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IBAN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Internationale Bankleitzahl eingeben. Für die Anzeige im Design die Template-Variable <strong>$BankIban</strong> nutzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SWIFT</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>SWIFT-Code eingeben. Für die Anzeige im Design die Template-Variable <strong>$BankSwift</strong> nutzen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Eigene Bankdaten im Webshop anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Kategorie <strong>Bankdaten</strong> dient dazu, Informationen zu Ihrer Bankverbindung im Webshop anzuzeigen. Ihre Bankverbindung benötigt ein Käufer, wenn er z.B. per Vorkasse bezahlen möchte. Die Bankdaten werden im Bestellvorgang bei Wahl der Zahlungsart Vorkasse sowie in der <strong>Auftragshistorie</strong> nach einer Bestellung per Vorkasse oder auf Rechnung angezeigt, um dem Käufer die Informationen zur Zahlung zu geben. Die Kategorie <strong>Bankdaten</strong> kann Angaben zu mehreren Konten für In- und Ausland enthalten.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Kategorie Bankdaten anpassen</h3>
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um die Kategorie <strong>Bankdaten</strong> anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner des Designs, das Sie bearbeiten möchten, z.B. Callisto Light 3.</p>
</li>
<li>
<p>Öffnen Sie die Kategorie <strong>Bankdaten</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Nehmen Sie Anpassungen an der Beschreibung vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zu den Einstellungen für Kategorien finden Sie unter <a href="/artikel/kategorien/kategorien-bearbeiten#2"><strong>Kategorien bearbeiten</strong> </a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Bankdaten im Bestellvorgang anzeigen</h3>
<div class="paragraph">
<p>Wie Sie die Kategorie <strong>Bankdaten</strong> bei der Zahlungsart Vorkasse hinterlegen, ist im Folgenden beschrieben. Die Verknüpfung erfolgt genauso bei der Zahlungsart Rechnung.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie an der Zahlungsart hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die Zahlungsart.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie bei der Option <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Intern)</strong>.</p>
</li>
<li>
<p>Klicken Sie unter <strong>Infoseite (Intern)</strong> auf <strong>Bearbeiten</strong>.<br>
→ Das Fenster <strong>Artikelvorlage wählen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie die Kategorie <strong>Bankdaten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Wählen</strong>.<br>
→ Die Infoseite wird mit der Zahlungsart verknüpft.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappen Sie den Mandanten auf.</p>
</li>
<li>
<p>Aktivieren Sie <strong>Bankdaten anzeigen</strong> und <strong>Verwendungszweck anzeigen</strong>.<br>
→ Im Bestellvorgang wird bei Wahl der Zahlungsart Vorkasse ein Link zu den Informationen eingeblendet.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/payment/assets/DE-Bankdaten-Bestellvorgang.png" alt="DE Bankdaten Bestellvorgang">
</div>
<div class="title">Abbildung 1. Link zur Kategorie <strong>Bankdaten</strong> im Bestellvorgang</div>
</div>
</div>
<div class="sect2">
<h3 id="50">2.3. Bankdaten in der Auftragshistorie anzeigen</h3>
<div class="paragraph">
<p>Nehmen Sie die oben beschriebenen Einstellungen auch bei der Zahlungsart Rechnung vor, um die Bankdaten nach einer Bestellung in der <strong>Auftragshistorie</strong> anzuzeigen. Wenn Sie die Option <strong>Verwendungszweck anzeigen</strong> aktiviert haben, wird die Auftrags-ID in der <strong>Auftragshistorie</strong> bei den Bankdaten angezeigt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/payment/assets/DE-Bankdaten-Auftragshistorie.png" alt="DE Bankdaten Auftragshistorie">
</div>
<div class="title">Abbildung 2. Bankdaten in der Auftragshistorie</div>
</div>
</div>
<div class="sect2">
<h3 id="60">2.4. Landesspezifische Bankdaten anzeigen</h3>
<div class="paragraph">
<p>Mit einer If-Abfrage ist es möglich, nur die Bankdaten des Lieferlandes anzuzeigen. So bekommt ein Käufer in Deutschland nur Ihre deutschen Kontodaten angezeigt, ein Kunde in der Schweiz nur die schweizerischen Kontodaten. Sie benötigen dazu die Template-Variable <strong>$CustomerShippingCountry</strong>, die den Inhalt nur dann ausgibt, wenn das entsprechende Lieferland gewählt wurde. Die ID der Lieferländer finden Sie im Menü <strong>Einstellungen » Aufträge » Versand » Versandoptionen</strong> im Tab <strong>Lieferländer</strong>. Fügen Sie den folgenden Code in die Kategorie <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#30">Bankdaten </a></strong> ein. Fügen Sie ggf. weitere Lieferländer mit der passenden ID hinzu.</p>
</div>
<div class="paragraph subhead">
<p>Code-Beispiel für die Anzeige der Bankdaten des Lieferlandes</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; if $CustomerShippingCountry==1 &#37;&#125;
Name Ihrer Bank in Deutschland
BLZ
Konto
Tragen Sie den Verwendungszweck ein, damit wir die Zahlung zuordnen können.
&#123;&#37; endif &#37;&#125;

&#123;&#37; if $CustomerShippingCountry==4 &#37;&#125;
Name Ihrer Bank in der Schweiz
BLZ
Konto
Tragen Sie den Verwendungszweck ein, damit wir die Zahlung zuordnen können.
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="63">3. Bankdaten von Kunden speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Tab <strong>Einstellungen</strong> in einem Kundendatensatz können Sie die Bankdaten des Kunden speichern und diese bei Bedarf löschen. Die Bankdaten benötigen Sie z.B. für die Zahlungsart <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#40">Lastschrift </a></strong>. In plentymarkets gibt es auch eine <strong><a href="/auftragsabwicklung/payment/zahlungen-verwalten#10">Importfunktion </a></strong> der Bankdaten. Beachten Sie dabei jedoch die aktuelle Rechtslage, auch in anderen Lieferländern.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Abo-Aufträge beachten</div>
<div class="paragraph">
<p>Beachten Sie, dass die hier hinterlegten Bankdaten auch für Abo-Aufträge mit der Zahlungsart <strong>Lastschrift</strong> verwendet werden. Wenn Sie Bankdaten löschen, die mit einem solchen Abo-Auftrag verbunden sind, wird die Zahlungsart im <strong><a href="/auftragsabwicklung/auftraege/scheduler">Scheduler  </a></strong> auf die für den jeweiligen Mandanten (Shop) festgelegte <a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#25"><strong>Standard-Zahlungsart</strong> </a> zurückgesetzt. Der Abo-Auftrag wird dann nicht mehr per Bankeinzug beglichen. Löschen Sie die Bankdaten in einem solchen Fall daher nur, wenn dies wirklich erforderlich ist, und hinterlegen Sie wenn möglich neue Bankdaten für den Kunden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Bankdaten des Kunden speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Kunden » Kunden bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Kunden.<br>
→ Das Tab <strong>Kundendaten</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Einstellungen » Tab: Bankdaten</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Bankdaten für Kunden speichern</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IBAN;<br>
BIC;<br>
Kontoinhaber;<br>
Kontonummer;<br>
BLZ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bankdaten des Kunden eingeben.<br>
Wenn IBAN und BIC manuell eingegeben werden, werden sie mit cKonto geprüft. Bei Fehlern wird eine Meldung angezeigt.<br>
Wenn die Kontonummer und die BLZ in den Bankdaten hinterlegt sind, können IBAN und BIC mittels eines automatischen Migrationsprozesses eingetragen werden. Weitere Informationen dazu im Kapitel <strong>Bankdaten migrieren</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SEPA-Lastschriftmandat</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivieren, wenn der Kunde das SEPA-Lastschriftmandat unterschrieben hat.<br>
<strong><em>Wichtig:</em></strong> Erst nach dem Aktivieren dieser Option können die pain.008-Formate für den <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#200">SEPA-Zahlungsverkehr </a></strong> abgerufen werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Art des Mandats</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SEPA-Basis-Lastschrift</strong> = Mit der Einzugsermächtigung (Standard-Kunden) vergleichbares Mandat.<br>
<strong>SEPA-Firmen-Lastschrift</strong> = Mit dem Abbuchungsauftrag (Firmen-Kunden, B2B) vergleichbares Mandat.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ausführungsmodalität</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Einmalige Zahlung</strong> = Typischerweise verwendet für Standard-Aufträge.<br>
<strong>Wiederkehrende Zahlung</strong> = Typischerweise verwendet für regelmäßige Abbuchungen, Abo-Verträge etc.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="67">4. Bankdaten migrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um den Zahlungsverkehr mit Ihren Kunden auf SEPA umzustellen, migrieren Sie die Bankdaten der Kunden, die per Lastschrift bezahlen. Das sind Kunden, die die Zahlungsart Lastschrift nutzen oder für die Abo-Aufträge im Menü <strong>Scheduler</strong> eingerichtet sind.</p>
</div>
<div class="paragraph instruction">
<p>Bankdaten migrieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Migration</strong>.</p>
</li>
<li>
<p>Klappen Sie den Bereich <strong>Bankdaten</strong> auf.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 3.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>Zahnrad</strong>, um die Migration durchzuführen.</p>
</li>
<li>
<p>Prüfen Sie nach der Migration die Kundendaten im <strong>Tab: Einstellungen » Tab: Bankdaten</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Migration von Bankdaten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Total</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der im System vorhandenen Bankdaten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ohne IBAN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bankdaten, für die keine SEPA-Daten vorhanden sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bankverbindungen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, welche Bankverbindungen migriert werden sollen.<br>
<strong>Nur Bankverbindungen ohne IBAN/BIC</strong> = Nur Bankdaten, bei denen IBAN und BIC nicht vorhanden sind, werden migriert.<br>
<strong>Alle Bankdaten</strong> = Alle Bankdaten werden migriert. Wählen, wenn nicht sicher ist, ob die Bankdaten alle korrekt sind. Bei der Migration erfolgt eine Prüfung im Hintergrund durch cKonto, sodass eventuelle Fehler gemeldet werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Anzahl</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der Datensätze wählen, die migriert werden sollen.<br>
<strong>Alle</strong> = Alle Datensätze werden migriert.<br>
<strong>500</strong> = 500 Datensätze werden migriert. Wenn sehr viele Bankdaten migriert werden müssen, <strong>500</strong> wählen, damit die Migration unterteilt wird.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="70">5. EBICS einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>EBICS (Electronic Banking Internet Communication Standard) bezeichnet einen in Deutschland multibankfähigen Standard für die Übertragung von Zahlungsverkehrsdaten über das Internet. Durch die Umstellung auf das standardisierte EBICS-Verfahren wird der Abruf von Zahlungen vereinfacht und einheitlich. EBICS ist vollständig in plentymarkets integriert, der Umweg über Drittanbieter ist nicht nötig.</p>
</div>
<div class="paragraph">
<p>Für die Kommunikation per EBICS werden Ihre Umsätze in einer Datei ähnlich einem Kontoauszug bei Ihrer Bank gespeichert. Die Datei wird von plentymarkets importiert und die Umsätze werden in Ihrem plentymarkets System gebucht. Das verknüpfte EBICS-Konto stellt eine Art Verbundkonto dar, das mehrere Bankkonten umfassen kann. Täglich wird eine Datei mit allen Umsätzen des EBICS-Kontos erzeugt. Diese Datei kann dann nachts abgerufen werden und am nächsten Morgen stehen alle Eingänge des Tages zur Verfügung. Außerdem werden täglich mehrere Dateien mit Vormerkposten erzeugt, die ebenfalls abgerufen werden können, um die Vormerkposten in Ihr plentymarkets System einzubuchen.</p>
</div>
<div class="sect2">
<h3 id="80">5.1. EBICS bei Ihrer Bank beantragen</h3>
<div class="paragraph">
<p>Zuerst beantragen Sie bei Ihrer Bank einen EBICS-Zugang. Sie erhalten daraufhin Unterlagen von Ihrer Bank, die Sie ausfüllen und an die Bank zurückschicken. Die nachfolgenden Angaben in den Unterlagen sind für EBICS Pflicht.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bestehende EBICS-Konten</div>
<div class="paragraph">
<p>Bereits bestehende und verwendete EBICS-Konten dürfen nicht in plentymarkets eingerichtet werden. Ein EBICS-Konto kann mehrere Benutzer, Teilnehmer genannt, haben. Beantragen Sie also ggf. einen neuen Teilnehmer (auch techn. Teilnehmer möglich), den Sie  ausschließlich für plentymarkets verwenden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="90">5.1.1. Kontonummern</h4>
<div class="paragraph">
<p>Geben Sie die Kontonummern der Konten ein, für die der Abruf der Umsätze in plentymarkets eingebucht werden soll. Die Angabe von Kontonummern ist optional, da der Abruf technisch über die Benutzerdaten erfolgt. Weitere Informationen zur Angabe bzw. Nichtangabe von Kontonummern finden Sie in Tabelle 4.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nur Geschäftskonten hinterlegen</div>
<div class="paragraph">
<p>Es besteht in plentymarkets derzeit keine Möglichkeit, einzelne Konten individuell für den EBICS-Abruf einzurichten. Das heißt, dass die Zahlungsvorgänge Ihrer Bank nur global für alle angegebenen Konten des plentymarkets Systems abgerufen werden können. Dazu zählen z.B. auch Zahlungsvorgänge Ihres Privatkontos, falls dieses hinterlegt wurde. Um dies zu vermeiden, hinterlegen Sie nur die Kontonummern der Geschäftskonten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Gleiches Konto für mehrere Benutzer</div>
<div class="paragraph">
<p>Verweisen mehrere Benutzer auch aus verschiedenen plentymarkets Systemen auf dasselbe Konto (bei vielen Banken werden mehrere Konten auch in einem Verbundskonto geführt), kann dies zu Problemen beim Abruf führen, wenn die Aufrufe parallel laufen. Dies lässt sich derzeit nicht abfangen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="100">5.1.2. Auszugsbereitstellung</h4>
<div class="paragraph">
<p>Die Auszugsbereitstellung kann entweder buchungstagsorientiert oder auszugsorientiert erfolgen.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Auszugsbereitstellung</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Buchungstagsorientiert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine fiktive fortlaufende Auszugsnummer wird mitgeliefert. Diese Einstellung ist standardmäßig voreingestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auszugsorientiert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die effektive Auszugsnummer wird mitgeliefert. Voraussetzung hierfür ist eine tägliche automatische Auszugserstellung.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="110">5.1.3. Teilnehmer</h4>
<div class="paragraph">
<p>Bei der Umstellung Ihrer Konten auf EBICS erstellen Sie für Ihre Konten einen oder mehrere <strong><a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#10">Benutzer </a></strong>. Benutzer werden unter EBICS als Teilnehmer bezeichnet. Sie können Teilnehmer mit unterschiedlichen Auftragstypen anlegen. Von diesen Teilnehmern muss ein Teilnehmer mittels der von der Bank erhaltenen <strong>Teilnehmer-ID</strong> im plentymarkets System gespeichert werden.</p>
</div>
<div class="paragraph">
<p>plentymarkets benötigt nur einen Teilnehmer, z.B. einen technischen Teilnehmer mit den niedrigsten Berechtigungen, um den EBICS-Zahlungsabruf durchzuführen. Pro EBICS-Konto darf nur ein Teilnehmer eingerichtet werden.</p>
</div>
</div>
<div class="sect3">
<h4 id="120">5.1.4. Auftragstyp</h4>
<div class="paragraph">
<p>In der folgenden Tabelle werden die Auftragstypen erläutert, die plentymarkets für einen erfolgreichen Abruf der Buchungen Ihres EBICS-Kontos benötigt. Beachten Sie zudem die Erläuterungen zu den Auftrags- und Unterschriftstypen im Formular Ihrer Bank.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Auftrags- und Unterschriftstypen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>STA</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Tagesumsätze <strong>MT940</strong> bzw. <strong>CAMT053</strong>. Der <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#180">Abruf der Transaktionen </a></strong> erfolgt am Ende des Tages.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VMK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Vormerkposten <strong>MT942</strong> bzw. <strong>CAMT052</strong>. Vormerkposten der Transaktionen, die von Bank zu Bank unterschiedlich mehrmals am Tag erzeugt und zum Download bereitgestellt werden. Diese <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#190">Angabe </a></strong> ist für plentymarkets optional.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>EU&nbsp;Typ&nbsp;„T“</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Unterschriftstyp, der ausschließlich zum Abruf der Transaktionsdaten berechtigt.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="130">5.2. EBICS-Modul im Service-Center buchen</h3>
<div class="paragraph">
<p>Um EBICS nutzen zu können, muss entweder das Modul <strong>EBICS täglich</strong> oder das Modul <strong>EBICS stündlich</strong> unter <strong>Start » plentymarkets Konto » Service-Center</strong> freigeschaltet werden. Dort finden Sie im Tab <strong>Vertrag</strong> des jeweiligen plentymarkts Systems den Bereich <strong>Erweiterungen</strong>. Nach einem Klick auf diesen Bereich wird ein Fenster mit den verfügbaren Modulen geöffnet. Um das Modul zu nutzen, klicken Sie auf <strong>Buchen</strong>. Andernfalls ist das Menü <strong>EBICS</strong> nicht sichtbar.</p>
</div>
</div>
<div class="sect2">
<h3 id="140">5.3. Neues EBICS-Konto in plentymarkets hinzufügen</h3>
<div class="paragraph">
<p>Nachdem Ihre Konten für EBICS eingerichtet worden sind, erhalten Sie von der Bank ein Schreiben mit den Daten, die Sie in plentymarkets speichern müssen, um EBICS einzurichten.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/payment/assets/DE-Bankdaten-EBICS-Neues-Konto.png" alt="DE Bankdaten EBICS Neues Konto">
</div>
<div class="title">Abbildung 3. Neues EBICS-Konto hinzufügen</div>
</div>
<div class="paragraph instruction">
<p>Neues EBICS-Konto hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Zahlung » EBICS</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Kontextmenü.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neues Konto</strong>.<br>
→ Das Fenster <strong>Neues Konto</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen. <br>
→ Das Konto wird als Untermenü von <strong>EBICS</strong> hinzugefügt und hat die Tabs <strong>Grundeinstellungen</strong> und <strong>Geschäftsvorfälle</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="150">5.4. Einstellungen am EBICS-Konto vornehmen</h3>
<div class="paragraph">
<p>Die Grundeinstellungen nehmen Sie im gleichnamigen Tab des Kontos vor. Die EBICS-Konten werden links im Menübaum als Untermenüs von <strong>EBICS</strong> mit dem Kontonamen angezeigt.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Domainwechsel</div>
<div class="paragraph">
<p>Speichern Sie nach einem <strong><a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#domain">Domainwechsel  </a></strong> die Grundeinstellungen des Kontos erneut, um die EBICS-Daten zu aktualisieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Einstellungen am EBICS-Konto vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Zahlung » EBICS</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das EBICS-Konto.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 6.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 6. Grundeinstellungen für EBICS</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Menüleiste</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Speichern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eingegebene Daten speichern. Damit wird das eigentliche EBICS-Konto im EBICS-Tool auf dem plentymarkets E-Banking-Server erstellt und erhält eine ID. <br>
<strong><em>Wichtig</em></strong>: Jede Änderung der Daten muss durch Klick auf <strong>Speichern</strong> an das EBICS-Tool übertragen werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status abrufen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eintrag im <strong>API-Log</strong> erzeugen, der Auskunft über den derzeitigen Status des Accounts gibt. <br>
<strong><em>Wichtig</em></strong>: Ein <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#4">SOAP-Account </a></strong> muss eingerichtet sein, um den Status abzurufen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>INI-Brief</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>INI-Schlüsselwerte elektronisch an die Bank übertragen. Der Abruf der INI-Brief-Daten ist nur bei aktiviertem Konto möglich. <br>
<strong><em>Hinweis</em></strong>: Der INI-Brief im PDF-Format mit den Daten für die Freischaltung ist erst eine gewisse Zeit nach dem Erstellen des Kontos verfügbar. Das System benötigt diese Zeit, um die Daten zu erzeugen. Der INI-Brief steht am nächsten Tag (spätestens nach 24 Stunden) im PDF-Format zur Verfügung. Vor dem erneuten Klicken auf <strong>INI-Brief</strong> warten, bis die Datei verfügbar ist. Die erstellte INI-Brief-Datei befindet sich unter <strong>Aufträge » Dokumentenarchiv</strong>. <br>
<strong><em>Wichtig</em></strong>: Die INI-Brief-Daten werden nur 4 - 10 Tage bei der Bank vorgehalten. Das unterschriebene INI-Brief-Dokument daher unverzüglich an die Bank zurückschicken.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Konto initialisieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>INI-Daten elektronisch an die Bank übermitteln. Daten werden beim Erstellen eines neuen EBICS-Kontos automatisch an die Bank übermittelt. Sollten die INI-Brief-Daten nicht mehr verfügbar sein, müssen die INI-Daten über diese Funktion erneut gesendet werden. <br>
<strong><em>Wichtig</em></strong>: Diese Funktion nur in Absprache mit der Bank verwenden bzw. wenn die Bank die Übermittlung von HPB, HIA oder INI wünscht.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Log öffnen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>API-Log öffnen und die Übersicht der EBICS-Vorgänge anzeigen. Für den Abruf der Logs die Option <strong>electronic banking</strong> aus dem Dropdown-Menü unter <strong>API-Name</strong> wählen und auf <strong>Suchen</strong> klicken.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Grundeinstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Konto-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Jedes Konto, das unter <strong>Kontonummern</strong> eingegeben wird, erhält eine eigene ID. Die Konto-ID wird nach dem <strong>Speichern</strong> hier angezeigt (=SOAP-Account einrichten).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kontoname</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name des EBICS-Kontos eingeben. Anhand dieses Namens wird ein Untermenü unter dem Menü <strong>EBICS</strong> erstellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Benutzer: Vorname</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Vorname des Teilnehmers eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Benutzer: Nachname</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Nachname des Teilnehmers eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bank-Teilnehmer-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Teilnehmer-ID eingeben wie von der Bank erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bank-Kunden-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kunden-ID eingeben wie von der Bank erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bank-Hostname</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Server-ID des Kreditinstituts bzw. EBICS-Banknamen eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bank-Parameter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Parameter-ID eingeben wie von der Bank erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>EBICS-URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>URL der EBICS-Schnittstelle des Kreditinstituts eingeben. Die URL muss mit <strong>http://</strong> bzw. <strong>https://</strong> beginnen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kontoabgleich</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>EBICS-Zugang aktivieren bzw. deaktiveren. <br>
<strong><em>Wichtig</em></strong>: Nur wenn der Zugang aktiviert ist, werden die Schlüssel generiert und die Abrufe getätigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vormerkposten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nicht abrufen</strong> = Vormerkposten werden nicht abgerufen. <br>
<strong>MT942</strong> = Vormerkposten im SWIFT-Format abrufen. <br>
<strong>CAMT052</strong> = Vormerkposten im XML-Format abrufen. <br>
Zwischen Vormerkposten und gebuchten Transaktionen kann es zu Abweichungen kommen, da viele Banken hier unterschiedliche Schriftsätze in ihren Transktionsdateien benutzen. Diese können von plentymarkets nicht miteinander synchronisiert werden. So können Vormerkposten und Buchungen nicht verglichen und einander zugeordnet werden (z.B. Deutsche Bank). <br>
<strong><em>Wichtig</em></strong>: Damit Vormerkposten bestätigt werden, ist die Aktivierung der Tagesumsätze erforderlich. Dazu die Informationen unter <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#190">Abrufintervalle </a></strong> beachten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Tagesumsätze</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nicht abrufen</strong> = Tagesumsätze werden nicht abgerufen. <br>
<strong>MT942</strong> = Tagesumsätze im SWIFT-Format abrufen. <br>
<strong>CAMT052</strong> = Tagesumsätze im XML-Format abrufen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kontonummern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kontonummern eingeben, um nur die eingegebenen Kontonummern abzurufen, auch wenn weitere Kontonummern für EBICS bei der Bank hinterlegt sind. <br>
<strong><em>Wichtig</em></strong>: Um Fehlfunktionen zu vermeiden, muss jede Kontonummer unbedingt genau so eingegeben werden, wie sie bei der betreffenden Bank für den EBICS-Abruf hinterlegt ist. Bei Unsicherheit bezüglich der korrekten Kontonummer oder der Schreibweise (mit führender Null oder ohne, etc.) das Feld leer lassen. Bei falsch eingegebener Kontonummer ist ein Abruf nicht möglich. <br>
Keine Kontonummern eingeben, um alle für EBICS hinterlegten Kontonummern abzurufen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IBAN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wie vorstehend beschrieben, hier für IBAN-Einträge.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Änderungen nur nach Rücksprache mit der Bank</div>
<div class="paragraph">
<p>Nehmen Sie Änderungen nur nach Rücksprache mit Ihrer Bank vor. Wenn Sie z.B. die neuen CAMT-Formate nutzen möchten, klären Sie mit Ihrer Bank, ob diese das Format unterstützt, und lassen Sie das Format aktivieren. Passen Sie dann die <strong>Grundeinstellungen</strong> und ggf. die Vormerkposten wie hier beschrieben an.</p>
</div>
<div class="paragraph">
<p>Wenn ein Konto zurückgesetzt wurde und Ihre Bank neue Schlüssel benötigt, empfehlen wir, den betreffenden EBICS-Account in plentymarkets neu einzurichten, da nur dann neue Schlüssel erzeugt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="160">5.5. Geschäftsvorfälle definieren</h3>
<div class="paragraph">
<p>Für den automatischen Import und die Zuordnung von Geschäftsvorfällen aktivieren Sie die benötigten Geschäftsvorfälle unter <strong>Inlandszahlungsverkehr</strong>, <strong>SEPA-Zahlungsverkehr</strong> sowie <strong>Auslandsgeschäfts-Belegung</strong>. Folgende Standard-Geschäftsvorfälle werden auch importiert, wenn keine Auswahl getroffen wurde:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>020 - <strong>Überweisung</strong></p>
</li>
<li>
<p>051 - <strong>Überweisungsgutschrift</strong></p>
</li>
<li>
<p>104 - <strong>SEPA Direct Debit</strong> (Einzelbuchung-Soll, B2B)</p>
</li>
<li>
<p>105 - <strong>SEPA Direct Debit</strong> (Einzelbuchung-Soll, Core)</p>
</li>
<li>
<p>166 - <strong>SEPA Credit Transfer</strong> (Einzelbuchung-Haben)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Sobald Sie andere oder weitere Geschäftsvorfälle wählen, müssen auch die Standard-Geschäftsvorfälle aktiviert werden, da nur die zuvor gewählten importiert werden.</p>
</div>
<div class="paragraph instruction">
<p>Geschäftsvorfälle aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Zahlung » EBICS</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das EBICS-Konto.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Geschäftsvorfälle</strong>.</p>
</li>
<li>
<p>Aktivieren Sie pro Tab die gewünschten Geschäftsvorfälle.</p>
</li>
<li>
<p>Klicken Sie jeweils auf <strong>Speichern</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="170">5.6. Freischaltung durch Ihre Bank</h3>
<div class="paragraph">
<p>Nachdem Sie die Zugangsdaten in plentymarkets eingegeben haben, meldet sich plentymarkets auf elektronischem Weg bei Ihrer Bank an. Für einen EBICS-Abruf sind geheime Schlüsselwerte nötig, die programmintern generiert werden. Nachdem diese Schlüssel erzeugt wurden und die elektronische Erstanmeldung geschehen ist, müssen diese Schlüssel unterschrieben in ausgedruckter Form an die Bank geliefert werden. Nur der in plentymarkets hinterlegte Teilnehmer ist zu dieser Unterschrift berechtigt. Die Bank wird keine Freigabe der EBICS-Schnittstelle erteilen, wenn die Unterschrift nicht von diesem hinterlegten Teilnehmer stammt.</p>
</div>
<div class="paragraph instruction">
<p>INI-Brief-Datei abrufen und an Ihre Bank geben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Zahlung » EBICS</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das EBICS-Konto.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>INI-Brief</strong>, um die Datei abzurufen. <br>
→ Die erstellte INI-Brief-Datei befindet sich unter <strong>Aufträge » Dokumentenarchiv</strong>.</p>
</li>
<li>
<p>Drucken Sie die PDF-Datei aus.</p>
</li>
<li>
<p>Unterschreiben Sie das Dokument.</p>
</li>
<li>
<p>Übermitteln Sie das Dokument an Ihre Bank.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Sind diese Werte bei der Bank eingegangen, werden die ausgedruckten Werte mit den elektronisch gesendeten Werten verglichen und die EBICS-Schnittstelle wird freigegeben. Ab diesem Moment werden die Transaktionen in den unten beschriebenen Intervallen abgerufen.</p>
</div>
</div>
<div class="sect2">
<h3 id="180">5.7. Abrufintervalle für Transaktionen</h3>
<div class="paragraph">
<p>Ihre Bank stellt maximal zweimal täglich die Transaktionen des jeweiligen Tages in Datenform zur Abholung bereit. plentymarkets ruft diese Daten aktuell um 6:00 Uhr, um 13:00 Uhr und um 23:00 Uhr ab. Die Transaktionsdaten sind etwa eine Stunde nach Abruf in den Systemen verfügbar. Zudem stellt die Bank mehrmals am Tag Vormerkposten mit den Transaktionen des aktuellen Tages in Datenform zur Abholung bereit.</p>
</div>
</div>
<div class="sect2">
<h3 id="190">5.8. Abrufintervalle Vormerkposten</h3>
<div class="paragraph">
<p>Da die Zeiten, in denen diese Vormerkposten bereitgestellt werden, von Kreditinstitut zu Kreditinstitut unterschiedlich sind, ruft plentymarkets die Daten, falls verfügbar, zwischen 8:00 und 18:00 stündlich von den Kreditinstituten ab. Bei EBICS-Buchungen mit unbestätigtem Vormerkposten erscheint die Angabe <strong>Vormerkposten</strong> in roter Schrift. Wird der Vormerkposten bestätigt, wechselt der Schriftzug von rot auf grün. Zusätzlich wird die bestätigte Buchung dem entsprechenden Auftrag zugeordnet, ohne die Zahlung nochmals zu buchen. Damit Vormerkposten bestätigt werden, ist die Aktivierung der Tagesumsätze erforderlich. Beachten Sie dazu die Erläuterungen in Tabelle 4.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">6. SEPA-Lastschriftmandat einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Rahmen der SEPA-Initiative (Single Euro Payments Area) ist der Euro-Zahlungsverkehr in Deutschland und 32 weiteren europäischen Staaten seit dem 1. Februar 2014 vereinheitlicht. Seit diesem Stichtag sind Überweisungen und Lastschriften nur noch mit IBAN und BIC möglich. Die Bankdaten Ihrer Kunden können Sie in Ihrem plentymarkets System automatisch <a href="/auftragsabwicklung/payment/bankdaten-verwalten#67"><strong>migrieren</strong> </a>. Lastschriften werden unterteilt in:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>SEPA-Basis-Lastschrift</strong> → vergleichbar mit einer Einzugsermächtigung</p>
</li>
<li>
<p><strong>SEPA-Firmenlastschrift</strong> → vergleichbar mit einem Abbuchungsauftrag</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Firmenlastschriften sind nur zwischen Unternehmen zulässig (B2B) und benötigen gesonderte Mandate. Von Ihren Kunden benötigen Sie ein SEPA-Lastschriftmandat, das die bisherige Einzugsermächtigung ersetzt. Dieses Mandat bildet die neue rechtliche Grundlage zum Einzug von SEPA-Lastschriften.</p>
</div>
<div class="paragraph">
<p>Wie Sie das SEPA-Lastschriftmandat einrichten, erfahren Sie im folgenden Video-Tutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/84814592" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="sect2">
<h3 id="210">6.1. Dokumentenvorlage erstellen</h3>
<div class="paragraph">
<p>Im Menü <strong>Einstellungen » Aufträge » Dokumente</strong> gibt es im Untermenü <strong>SEPA-Lastschriftmandat</strong> eine Vorlage für das SEPA-Lastschriftmandat. Weitere Informationen zu Dokumenten finden Sie auf der Handbuchseite <strong><a href="/auftragsabwicklung/auftraege/auftragsdokumente">Dokumentenvorlagen  </a></strong>.</p>
</div>
<div class="paragraph instruction">
<p>Dokumentenvorlage einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Shop wählen » Standorte » Standort wählen » Dokumente</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die Vorlage <strong>SEPA-Lastschriftmandat</strong>.<br>
→ Das Tab <strong>Vorlage</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Sprache</strong> aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 7.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 7. Dokumentenvorlage einrichten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Informationen des Zahlungsempfängers</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name des Zahlungsempfängers;<br>
Straße und Hausnummer;<br>
Postleitzahl und Ort;<br>
Land</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Händlerdaten eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gläubiger-Identifikationsnummer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Gläubiger-Identifikationsnummer eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandatsreferenz</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Mandatsreferenz wird aus der Kunden-ID generiert und automatisch gespeichert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ausführungsmodalität eingeben. Entweder <strong>Einmalige Zahlung</strong> oder <strong>Wiederkehrende Zahlung</strong> eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name des Zahlungspflichtigen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Name wird automatisch hinterlegt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Formatierung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>X-Achse; <br>
Y-Achse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Werte orientieren sich am Koordinatensystem mit X- und Y-Achse. Die X-Achse verläuft von links nach rechts und die Y-Achse von oben nach unten. Die Nullpunkte liegen also links oben. Weitere Informationen zum Koordinatensystem unter <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#50">Dokumentenvorlagen </a></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Schriftgröße</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Schriftgröße in Pixeln wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Hervorhebung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Normal</strong> oder <strong>Fett</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Informationen des Zahlungspflichtigen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Informationen werden aus dem Kundendatensatz geladen und automatisch hinterlegt. Damit IBAN und BIC in dieser Vorlage ausgegeben werden, müssen diese in den Kundendaten im <strong>Tab: Einstellungen » Tab: Bankdaten</strong> gespeichert sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Alle Seiten der Vorlage ausgeben</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob alle Seiten der Vorlage ausgegeben werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeichensatz</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ISO-8859-1</strong> oder <strong>Unicode</strong> wählen. Die Erzeugung von PDF-Dokumenten in Unicode kann länger dauern.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="215">6.2. PDF-Vorlage hochladen</h3>
<div class="paragraph">
<p>Im Tab <strong>PDF-Vorlage</strong> laden Sie eine PDF-Vorlage hoch, die das Layout Ihres Briefpapiers mit Firmendaten und Logo Ihres Unternehmens beinhaltet. Fügen Sie bei der Gestaltung der PDF-Vorlage die nötigen Feldnamen für die Werte der Vorlage und im unteren Bereich ein Unterschriftenfeld mit einer Linie für die Unterschrift des Kunden ein.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Felder in der PDF-Vorlage hinterlegen</div>
<div class="paragraph">
<p>Die Feldnamen für die Werte der Vorlage, z.B. IBAN, BIC oder Zahlungsart werden nicht über die Dokumentenvorlage ausgegeben. Hinterlegen Sie die Feldnamen fest in der PDF-Vorlage.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Shop wählen » Standorte » Standort wählen » Dokumente</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die Vorlage <strong>SEPA-Lastschriftmandat</strong>.<br>
→ Das Tab <strong>Vorlage</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Sprache</strong> aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>PDF-Vorlage » Tab: Neue Vorlage</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Durchsuchen…​</strong>.<br>
→ Das Fenster <strong>Datei hochladen</strong> wird geöffnet.</p>
</li>
<li>
<p>Öffnen Sie die PDF-Datei.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="220">6.3. E-Mail-Vorlage erstellen</h3>
<div class="paragraph">
<p>Um Ihren Kunden direkt nach dem Einkauf im Shop das SEPA-Lastschriftmandat zur Verfügung zu stellen, erstellen Sie eine E-Mail-Vorlage mit dem SEPA-Lastschriftmandat als Anhang. Richten Sie zum Versand der E-Mail eine <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#230">Ereignisaktion </a></strong> ein.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/payment/assets/DE-Bankdaten-SEPA-Vorlage.png" alt="DE Bankdaten SEPA Vorlage">
</div>
<div class="title">Abbildung 4. E-Mail-Vorlage für SEPA-Mandat erstellen</div>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Neue E-Mail-Vorlage</strong>.</p>
</li>
<li>
<p>Geben Sie einen <strong>Namen</strong> ein und wählen Sie unter <strong>PDF-Anhang</strong> die Option <strong>SEPA-Lastschriftmandat</strong>.</p>
</li>
<li>
<p>Geben Sie im Tab <strong>E-Mail-Nachricht</strong> einen Text ein, der den Kunden darüber informiert, dass das angehängte SEPA-Lastschriftmandat mit <em><strong>Unterschrift</strong></em> zurückgeschickt werden muss.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="230">6.4. E-Mail-Vorlage per Ereignisaktion versenden</h3>
<div class="paragraph">
<p>Die E-Mail-Vorlage versenden Sie z.B. durch eine <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion  </a></strong>, die durch einen neuen Auftrag aktiviert wird.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Ereignisaktionen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 8.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 8 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 8. Ereignisaktion zum automatischen Senden von SEPA-Lastschriftmandaten an Kunden</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsanlage: Neuer Auftrag</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lastschrift</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kunde &gt; E-Mail versenden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vorlage für SEPA-Lastschriftmandat;<br>
Kunde</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="240">6.5. E-Mail-Vorlage per  Gruppenfunktion versenden</h3>
<div class="paragraph">
<p>Die E-Mail-Vorlage können Sie alternativ auch in der <strong>Kundenübersicht</strong> über die <strong>Gruppenfunktion</strong> versenden.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage versenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Kunden » Kunden bearbeiten</strong>.</p>
</li>
<li>
<p>Suchen Sie anhand der Filter <strong>IBAN</strong>, <strong>Lastschriftmandat</strong> und <strong>Scheduler Zahlungsarten</strong> die Kunden, die die SEPA-Information erhalten sollen.</p>
</li>
<li>
<p>Markieren Sie die Kunden in der Übersicht, an die die E-Mail-Vorlage versendet werden soll.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Gruppenfunktion</strong>.</p>
</li>
<li>
<p>Wählen Sie bei der Option <strong>E-Mail-Vorlage senden</strong> die zuvor erstellte E-Mail-Vorlage zur SEPA-Information aus.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>E-Mail-Vorlage senden</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anwenden</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Details dazu finden Sie im Unterkapitel <strong>Gruppenfunktionen</strong> der Handbuchseite <strong><a href="/crm/kundendaten-verwalten#200">Suchen und ändern </a></strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="250">6.6. SEPA-Zahlungsverkehr in den Bankdaten aktivieren</h3>
<div class="paragraph">
<p>Wenn Sie das unterschriebene SEPA-Lastschriftmandat eines Kunden erhalten haben, ist die nachfolgend beschriebene Einstellung nötig, um den SEPA-Zahlungsverkehr zu aktivieren und die pain008-Formate abzurufen.</p>
</div>
<div class="paragraph instruction">
<p>SEPA-Lastschriftmandat in den Bankdaten aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Kunden » Kunden bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Kunden.<br>
→ Das Tab <strong>Kundendaten</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Einstellungen » Tab: Bankdaten</strong>.</p>
</li>
<li>
<p>Aktivieren Sie <strong>SEPA-Lastschriftmandat</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zu Bankdaten finden Sie im Kapitel <strong><a href="/auftragsabwicklung/payment/bankdaten-verwalten#63">Bankdaten von Kunden speichern </a></strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="260">6.7. Download im Mein-Konto-Bereich aktivieren</h3>
<div class="paragraph">
<p>Ein Kunde, dessen Bankdaten noch nicht umgestellt wurden, wird im <strong>Bestellvorgang</strong> bei Auswahl der Zahlungsart Lastschrift darauf hingewiesen, das SEPA-Lastschriftmandat im Bereich <strong>Mein Konto</strong> des Webshops herunterzuladen und unterschrieben zurückzusenden.</p>
</div>
<div class="paragraph instruction">
<p>Download-Link anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Mein Konto » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Download-Link SEPA-Lastschriftmandat</strong> die Einstellung <strong>Anzeigen</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/payment/assets/DE-Bankdaten-SEPA-Auftragshistorie.png" alt="DE Bankdaten SEPA Auftragshistorie">
</div>
<div class="title">Abbildung 5. SEPA-Mandat herunterladen</div>
</div>
</div>
<div class="sect2">
<h3 id="270">6.8. SEPA-Zahlungsverkehr per Client automatisieren</h3>
<div class="paragraph">
<p>Mit dem plentymarkets Client haben Sie die Möglichkeit, Prozesse einzurichten, um Ihre SEPA-Zahlungsprozesse zu automatisieren. Dazu finden Sie im Menü <strong>Einstellungen » Prozesse</strong> die entsprechenden Aktionen <a href="/basics/automatisierung/prozesse/aktionen#400"><strong>SEPA Pain001</strong> </a> und <a href="/basics/automatisierung/prozesse/aktionen#410"><strong>SEPA Pain008</strong> </a>.</p>
</div>
</div>
</div>
</div>
</main>