<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Passende Geräte auswählen</span></a></li>
<li><a href="#200"><span>2.</span><span> plentyWarehouse installieren</span></a></li>
<li><a href="#300"><span>3.</span><span> In plentyWarehouse einloggen</span></a></li>
<li><a href="#400"><span>4.</span><span> Dein plentyWarehouse Dashboard</span></a></li>
<li><a href="#500"><span>5.</span><span> Allgemeine Einstellungen vornehmen</span></a></li>
<li><a href="#600"><span>6.</span><span> Aus plentyWarehouse abmelden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Installation und Ersteinrichtung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Bist du bereits von den Vorteilen der <a href="/warenwirtschaft/plentywarehouse">plentyWarehouse App (beta)</a> überzeugt? Dann verliere keine Zeit und richte jetzt die plentyWarehouse App auf dem passenden Gerät ein.</p>
</div>
<div class="paragraph">
<p>Auf dieser Seite erfährst du, wie du plentyWarehouse installierst, wie du dich beim ersten Login zurechtfindest und allgemeine Einstellungen vornimmst.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Aktueller Stand der plentyWarehouse App</div>
<div class="paragraph">
<p>Momentan befindet sich die plentyWarehouse App in der offenen Beta-Phase. Das bedeutet, dass fortlaufend Anpassungen und Fehlerbehebungen vorgenommen werden. Fragen und Probleme nehmen wir in dieser Phase gern im <a href="https://forum.plentymarkets.com/c/app-pos/plentywarehouse/579" target="_blank" rel="noopener">Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> entgegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Passende Geräte auswählen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Achte vor der Installation der plentyWarehouse App darauf, dass dein verwendetes Gerät den Anforderungen entspricht. Klappe die Box unter diesem Text auf, um mehr zu erfahren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Passende Geräte für plentyWarehouse</div>
<div class="content">
<div class="paragraph">
<p>Wenn du die plentyWarehouse App für die Warenwirtschaft im Lager nutzen möchtest, empfehlen wir die in <a href="#table-requirements-plentywarehouse">Tabelle 1</a> aufgeführte Hardware.</p>
</div>
<table id="table-requirements-plentywarehouse" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Warenwirtschaft mit der plentyWarehouse App</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Hardware</th>
<th class="tableblock halign-left valign-top">Bezugsquelle</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">M3 SM15 Mobile Computer<br>
(Android 7.1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://sys.sundsits.de/M3-SM15-Mobile-Computer-WiFi-und-LTE" class="bare">https://sys.sundsits.de/M3-SM15-Mobile-Computer-WiFi-und-LTE</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Tel.: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zebra TC 21<br>
(Android 11)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://sys.sundsits.de/Zebra-TC21" class="bare">https://sys.sundsits.de/Zebra-TC21</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Tel.: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zebra TC 26<br>
(Android 11)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://sys.sundsits.de/Zebra-TC26" class="bare">https://sys.sundsits.de/Zebra-TC26</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Tel.: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. plentyWarehouse installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hast du sichergestellt, dass deine Geräte den oben beschriebenen Systemvoraussetzungen entsprechen? Dann lade dir im nächsten Schritt die plentyWarehouse App herunter und installiere sie.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Hier geht es zum <a href="https://play.google.com/store/apps/details?id=com.plentysystems.plentywarehouse" target="_blank" rel="noopener">Download von plentyWarehouse im Google PlayStore</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. In plentyWarehouse einloggen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die plentyWarehouse App funktioniert nur in Kombination mit <a href="https://www.plentymarkets.com/de/" target="_blank" rel="noopener">einem bereits gebuchten plentymarkets System</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Nutzer:innen melden sich in plentyWarehouse ganz einfach mit ihren gewohnten Zugangsdaten zum plentymarkets System an.</p>
</div>
<div class="paragraph instruction">
<p>In plentyWarehouse einloggen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne plentyWarehouse auf deinem Gerät.</p>
</li>
<li>
<p>Gib deine Zugangsdaten ein. Beachte dazu die Erläuterungen in <a href="#table-pw-login">Tabelle 2</a>.</p>
</li>
<li>
<p>Tippe auf <strong>Login</strong>.<br>
→ Du wirst in plentyWarehouse eingeloggt.</p>
</li>
</ol>
</div>
<table id="table-pw-login" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Eingabefehler für den Login</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentyID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die ID des plentymarkets Systems ein, dessen Warenbestand du mit plentyWarehouse verwalten möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Benutzernamen deines Kontos ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib das Passwort deines Kontos ein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Dein plentyWarehouse Dashboard</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du dich <a href="#300">in plentyWarehouse eingeloggt</a> hast, wird dir automatisch das Dashboard angezeigt. Hier findest du auf einen Blick die wichtigsten Informationen und Einstiegspunkte. <a href="#table-pw-dashboard">Tabelle 3</a> enthält einen Überblick über die dargestellten Bereiche.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Bereiche individuell anordnen</div>
<div class="paragraph">
<p>Du kannst die Bereiche des Dashboards in beliebiger Reihenfolge untereinander anordnen. Tippe und halte dazu (<span class="icon "><i class="material-drag_handle"></i></span>) oben rechts an jedem Bereich und ziehe den Bereich an die gewünschte Stelle. Diese Einstellung wird automatisch gespeichert und lässt sich jederzeit auf dem selben Weg wieder anpassen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-pw-dashboard" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Bereiche auf dem Dashboard</caption>
<colgroup>
<col style="width: 22.2222%;">
<col style="width: 11.1111%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bereich</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Allgemeine Informationen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-person"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier findest du den Namen des eingeloggten Benutzers, den Zeitpunkt der letzten Anmeldung sowie die plentyID und die Adresse des Systems, auf das du über plentyWarehouse zugreifst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Funktionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-apps"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Dieser Bereich enthält Kacheln mit Symbolen für die einzelnen Funktionen von plentyWarehouse.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon darkGrey"><i class="fa fa-search  "></i></span> <a href="/warenwirtschaft/plentywarehouse/artikel-und-lagerorte#100">Artikelsuche</a></p>
</li>
<li>
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/plentywarehouse/assets/icon_inspect_storage_location.png" alt="icon inspect storage location" width="14" height="14"></span> <a href="/warenwirtschaft/plentywarehouse/artikel-und-lagerorte#400">Lagerorte inspizieren</a></p>
</li>
<li>
<p><span class="icon "><i class="material-sync_alt"></i></span> <a href="/warenwirtschaft/plentywarehouse/artikel-umbuchen">Umbuchung</a></p>
</li>
<li>
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/plentywarehouse/assets/icon_reshelving.png" alt="icon reshelving" width="14" height="14"></span> <a href="/warenwirtschaft/plentywarehouse/artikel-verraeumen">Verräumen</a></p>
</li>
<li>
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/plentywarehouse/assets/icon_stocktaking.png" alt="icon stocktaking" width="14" height="14"></span> <a href="/warenwirtschaft/plentywarehouse/inventur-durchfuehren">Inventur</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Tippe auf eine Kachel, um schnell zur jeweiligen Funktion zu gelangen. Wenn du die Funktionen von plentyWarehouse einige Male genutzt hast, sortieren sich die Kacheln automatisch. So werden die Kacheln der am häufigsten genutzten Funktionen immer links in diesem Bereich angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzte Aktivitäten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-history"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Um dir den Überblick zu erleichtern, wird hier angezeigt, welche Aktionen du seit dem letzten Login mit plentyWarehouse ausgeführt hast. So lässt sich beispielsweise auf einen Blick nachvollziehen, wie viele Artikel bei der letzten Artikelsuche gefunden wurden oder wie viele Artikel in der letzten durchgeführten Umbuchung erhalten waren.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Über das Dashboard gelangst du zu den weiteren Einstellungen und greifst auf die komplette Liste der Funktionen von plentyWarehouse zu. Tippe dazu einfach auf das Menüsymbol (<span class="icon darkGrey"><i class="fa fa-bars  "></i></span>) oben links.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Noch nicht alle Funktionen verfügbar</div>
<div class="paragraph">
<p>Wenn du auf das Menüsymbol tippst, siehst du unter anderem eine Liste der Funktionen von plentyWarehouse. Einige Einträge sind in grauer Schrift dargestellt. Das bedeutet, dass die Funktion innerhalb der Beta-Phase noch nicht zur Verfügung steht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Verschiedene Darstellungsarten</div>
<div class="paragraph">
<p>Je nachdem, welche Einstellungen auf deinem mobilen Gerät vorgenommen werden, wird plentyWarehouse im hellen oder im dunklen Modus dargestellt. <a href="#table-light-dark-mode">Tabelle 4</a> zeigt, wie das Dashboard im jeweiligen Modus aussieht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-light-dark-mode" class="tableblock frame-none grid-all stretch">
<caption class="title">Tabelle 4. plentyWarehouse Dashboard im hellen und im dunklen Modus</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Heller Modus</th>
<th class="tableblock halign-left valign-top">Dunkler Modus</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/plentywarehouse/assets/dashboard_de_light.png" alt="dashboard de light" width="350">
</div>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/plentywarehouse/assets/dashboard_de_dark.png" alt="dashboard de dark" width="350">
</div>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. Allgemeine Einstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du zum ersten Mal mit plentyWarehouse in deinem Lager arbeitest, empfehlen wir dir, einige grundlegende Einstellungen vorzunehmen. Diese Einstellungen erleichtern dir die Arbeit mit plentyWarehouse, da sie für alle Funktionen greifen. Natürlich kannst du diese allgemeinen Einstellungen jederzeit später wieder anpassen, falls deine Anforderungen sich ändern.</p>
</div>
<div class="paragraph instruction">
<p>Allgemeine Einstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#300">Logge dich in plentyWarehouse ein</a>.</p>
</li>
<li>
<p>Tippe auf das Menüsymbol (<span class="icon darkGrey"><i class="fa fa-bars  "></i></span>) oben links.</p>
</li>
<li>
<p>Tippe unten auf <strong>Einstellungen</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Einstellungsmenü öffnet sich.</p>
</li>
<li>
<p>Nimm über die Menüpunkte im Bereich <strong>Allgemeine Einstellungen</strong> die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-pw-general-settings">Tabelle 5</a>.</p>
</li>
</ol>
</div>
<table id="table-pw-general-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Allgemeine Einstellungen in plentyWarehouse</caption>
<colgroup>
<col style="width: 22.2222%;">
<col style="width: 11.1111%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzeige</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-aspect_ratio"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schrittanzeige</strong>: Aktiviere (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) die Option, um während der Nutzung der Funktionen von plentyWarehouse am oberen Bildschirmrand eine Fortschrittsanzeige einzublenden. So siehst du immer, welche Schritte du schon ausgeführt hast und welche als nächstes folgen. Ist die Option nicht aktiviert, wird am oberen Bildschirmrand lediglich der Name des Schrittes angezeigt, in dem du dich gerade befindest.<br>
<strong>Buttons für Linkshänder positionieren</strong>: Wenn diese Option aktiviert (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) ist, werden, wo immer möglich, Buttons und Shortcuts auf der linken Seite des Bildschirms positioniert. So wird die Bedienung für Linkshänder:innen erleichtert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentyBase</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/plentywarehouse/assets/icon_plentybase.png" alt="icon plentybase" width="14" height="14"></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über diesen Menüpunkt richtest du die Verbindung zu <a href="/automatisierung/prozesse/plentybase-installieren">plentyBase</a> ein. Dies ist notwendig, wenn du über plentyWarehouse Etiketten für <a href="/warenwirtschaft/plentywarehouse/etiketten-drucken">Artikel oder Lagerorte drucken</a> möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprachausgabe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/plentywarehouse/assets/icon_speaker.png" alt="icon speaker" width="14" height="14"></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) diese Option, um während der Nutzung der Funktionen von plentyWarehouse eine zusätzliche Sprachausgabe zu erhalten. Die Sprachausgabe enthält die Warnungen und Bestätigungshinweisen, die innerhalb von plentyWarehouse in Texform erscheinen, als gesprochenen Text, der über das Gerät wiedergegeben wird. Je nach Andwendungsfall kann dies für dein Lagerpersonal nützlich sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sonstiges</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-settings"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shortcut-Verhalten</strong>: Bestimme, was geschieht, wenn du während der Nutzung einer Funktion auf einen der runden Buttons am rechten Bildschirmrand tippst. Durch diese Aktion gelangst du direkt in eine weitere Funktion und sparst dir damit einige Schritte.<br>
<strong>Dialog anzeigen</strong>: Wenn du diese Option auswählst, wirst du jedes Mal, wenn du auf einen Shortcut tippst, ein Dialog angezeigt. So kannst du immer neu entscheiden, ob du nach Abschluss der folgenden Funktion in die vorherige Funktion zurückkehren möchtest oder nicht.<br>
<strong>Unterbrechen</strong>: Wenn du diese Option auswählst, wirst du nach Abschluss der Funktion, die du über den Shortcut ausgewählt hast, standardmäßig in die vorherige Funktion zurückgeleitet.<br>
<strong>Verlassen</strong>: Wenn du diese Option auswählst, wirst du nach Abschluss der Funktion, die du über den Shortcut ausgewählt hast, nicht in die vorherige Funktion zurückgeleitet.<br></p>
<p class="tableblock"><strong>Kamera des Geräts zum Scannen nutzen</strong>: Verwendest du die plentyWarehouse App auf einem Android-Smartphone? Diese Einstellung erlaubt es dir, die eingebaute Kamera des Geräts zum Scannen von Barcodes und QR-Codes zu verwenden. Wenn diese Option aktiviert ist, wird bei der Verwendung von Funktionen, die das Scannen von Codes erfordern, am rechten oberen Bildschirmrand das Scanner-Symbol (<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/plentywarehouse/assets/icon_barcode.png" alt="icon barcode" width="14" height="14"></span>) angezeigt. Tippe auf dieses Symbol, um die Kamera zu öffnen und den Scanvorgang zu starten.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. Aus plentyWarehouse abmelden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um dich aus plentyWarehouse abzumelden.</p>
</div>
<div class="paragraph instruction">
<p>Aus plentyWarehouse abmelden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe in der App oben links auf das Menüsymbol (<span class="icon darkGrey"><i class="fa fa-bars  "></i></span>).</p>
</li>
<li>
<p>Tippe unten auf <strong>Abmelden</strong> (<span class="icon "><i class="material-logout"></i></span>).<br>
→ Das Fenster <strong>Ausloggen</strong> wird angezeigt.</p>
</li>
<li>
<p>Bestätige, dass du dich wirklich abmelden möchtest.<br>
<strong><em>Hinweis:</em></strong> Beim nächsten Einloggen musst du alle Zugangsdaten erneut eingeben.<br>
→ Du wirst aus plentyWarehouse abgemeldet.</p>
</li>
</ol>
</div>
</div>
</div>
</main>