<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#register-with-dhl"><span>1.</span><span> Registering with DHL</span></a></li>
<li><a href="#set-up-dhl-shipping-versenden"><span>2.</span><span> Setting up DHL Shipping (Versenden) in plentymarkets</span></a></li>
<li><a href="#preparatory-settings"><span>3.</span><span> Carrying out the preparatory settings</span></a></li>
<li><a href="#complete-dhl-assistants"><span>4.</span><span> Completing the assistants</span></a>
<ul class="sectlevel2">
<li><a href="#assistant-shipping-settings"><span>4.1.</span><span> Completing the Shipping settings assistant</span></a></li>
<li><a href="#dhl-assistant-basic-settings"><span>4.2.</span><span> Completing the DHL Shipping (Versenden): Basic settings assistant</span></a></li>
<li><a href="#dhl-assistant-settings-combination"><span>4.3.</span><span> Completing the DHL Shipping (Versenden): Settings combination assistant</span></a></li>
</ul>
</li>
<li><a href="#data-transfer"><span>5.</span><span> Information about data transfer</span></a></li>
<li><a href="#service-retail-outlet-routing"><span>6.</span><span> Using the Retail Outlet Routing service</span></a></li>
<li><a href="#service-ident-check"><span>7.</span><span> Using the Ident check service</span></a></li>
<li><a href="#dhl-warenpost"><span>8.</span><span> Using DHL Warenpost</span></a>
<ul class="sectlevel2">
<li><a href="#dhl-warenpost-settings-back-end"><span>8.1.</span><span> Settings in the back end</span></a></li>
<li><a href="#dhl-warenpost-settings-assistants"><span>8.2.</span><span> Settings in the assistants</span></a></li>
<li><a href="#dhl-warenpost-settings-gkp"><span>8.3.</span><span> Settings in the DHL business customer portal</span></a></li>
</ul>
</li>
<li><a href="#dhl-shipping-user-rights"><span>9.</span><span> Assigning rights for back end users</span></a></li>
<li><a href="#activate-test-mode"><span>10.</span><span> Activating the test mode</span></a></li>
<li><a href="#tracking-url"><span>11.</span><span> Tracking URL for DHL</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>DHL Shipping (Versenden)</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Setting up the DHL Shipping (Versenden) plugin</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to DHL Shipping (Versenden). Visit the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/dhlshipping_4871" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the DHL Shipping (Versenden) plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="register-with-dhl">1. Registering with DHL</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to set up the interface for DHL Shipping (Versenden) in your plentymarkets system and use the function <em>Versenden</em> (shipping) in the DHL business customer portal, you have to be registered with <a href="https://www.dhl.de/en/geschaeftskunden/paket/kunde-werden/angebot-dhl-geschaeftskunden-online.html" target="_blank" rel="noopener">DHL</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. You receive the data from DHL that you need for the settings in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="set-up-dhl-shipping-versenden">2. Setting up DHL Shipping (Versenden) in plentymarkets</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Simply setting up DHL Shipping (Versenden) with the help of assistants</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to DHL Shipping (Versenden). Visit the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/dhlshipping_4871" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the DHL Shipping (Versenden) plugin.<br>
Two DHL Shipping (Versenden) assistants that allow an easy setup are then available in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set.</p>
</div>
<div class="paragraph">
<p>Before completing the two DHL Shipping (Versenden) assistants, you need to complete the <strong>Shipping settings</strong> assistant. This assistant is available in your plentymarkets system by default. You can find it in the <strong>Setup » Assistants » Integration</strong> menu. With this assistant, carry out the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>determine a name for the shipping setting (i.e. the shipping profile)</p>
</li>
<li>
<p>activate existing regions or create a new region</p>
</li>
<li>
<p>determine the shipping costs and select the calculation type</p>
</li>
<li>
<p><strong><em>Note:</em></strong> Afterwards, go to <strong>Setup » Orders » Shipping » Settings</strong> and click on the <strong>Shipping profiles</strong> tab to carry out further settings for the shipping profile. Further information on these settings are provided below on this manual page.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Afterwards, complete the two DHL Shipping (Versenden) assistants:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>DHL Shipping (Versenden): Basic settings</p>
<div class="ulist">
<ul>
<li>
<p>In this assistant, you prepare all the data that you later need in the <strong>DHL Shipping (Versenden): Settings combination</strong> assistant.</p>
</li>
</ul>
</div>
</li>
<li>
<p>DHL Shipping (Versenden): Settings combination<br></p>
<div class="ulist">
<ul>
<li>
<p>In this assistant, link the settings that you saved in the <strong>Shipping settings</strong> and <strong>DHL Shipping (Versenden): Basic settings</strong> assistants and select the product and the appropriate services.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Further down on this page, it is described which data you need to enter in the assistants.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="preparatory-settings">3. Carrying out the preparatory settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, you have to carry out some preparatory settings in the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#100">Set up countries of delivery</a></p>
<div class="ulist">
<ul>
<li>
<p>You can set up the countries of delivery in the <strong>Shipping settings</strong> assistant or in the back end.</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#400">Create regions</a></p>
<div class="ulist">
<ul>
<li>
<p>You can create regions in the <strong>Shipping settings</strong> assistant or in the back end.</p>
</li>
</ul>
</div>
</li>
<li>
<p>create the <a href="/en/fulfilment/preparing-the-shipment#800">shipping service provider</a> <strong>DHL Shipping (Versenden)</strong></p>
<div class="ulist">
<ul>
<li>
<p>Currently, you can create the shipping service provider only in the back end and not in an assistant.</p>
</li>
</ul>
</div>
</li>
<li>
<p>create a <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profile</a> and the <a href="/en/fulfilment/preparing-the-shipment#1500">table of shipping charges</a> for <strong>DHL Shipping (Versenden)</strong><br></p>
<div class="ulist">
<ul>
<li>
<p>You can set up some of the shipping settings in the <strong>Shipping settings</strong> assistant. The remaining settings have to be carried out in the back end in the <strong>Setup » Orders » Shipping » Settings</strong> menu in the <strong>Shipping profiles</strong> tab.<br>
<span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> <strong><em>Important:</em></strong> Not all functions and settings have been transferred from the shipping profile to the <strong>Shipping settings</strong> assistant yet. Note the explanations in the <a href="#assistant-shipping-settings">Completing the <strong>Shipping settings</strong> assistant</a> chapter.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="complete-dhl-assistants">4. Completing the assistants</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as you have <a href="/en/plugins/installing-added-plugins#installing-plugins">installed</a> the plugin in a plugin set, the <strong>DHL Shipping (Versenden): Basic settings</strong> and the <strong>DHL Shipping (Versenden): Settings combination</strong> assistants are available in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set. The <strong>Shipping settings</strong> assistant is available in your plentymarkets system by default. You can find it in the <strong>Setup » Assistants » Integration</strong> menu.</p>
</div>
<div class="paragraph">
<p>Now complete the assistants in the following order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Shipping settings</strong></p>
</li>
<li>
<p><strong>DHL Shipping (Versenden): Basic settings</strong></p>
</li>
<li>
<p><strong>DHL Shipping (Versenden): Settings combination</strong></p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="assistant-shipping-settings">4.1. Completing the <strong>Shipping settings</strong> assistant</h3>
<div class="paragraph">
<p>You find the <strong>Shipping settings</strong> assistant in the <strong>Setup » Assistants » Integration</strong> menu. In this assistant, carry out the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter a back end and a front end name for the shipping setting. These names can be selected per language.<br></p>
<div class="ulist">
<ul>
<li>
<p>Link this name later in the <strong>DHL Shipping (Versenden): Settings combination</strong> assistant.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Select the plugin of the shipping service provider for which you want to set up shipping costs.<br></p>
<div class="ulist">
<ul>
<li>
<p>You have to download the DHL Shipping (Versenden) plugin in the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/dhlshipping_4871" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> before you can see it here.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Select a region, enter the shipping costs and select the calculation type for the selected countries. Furthermore, you can determine the value of items from which no shipping costs will be calculated.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Carry out further settings for the shipping settings in the back end</div>
<div class="paragraph">
<p>If you have completed the <strong>Shipping settings</strong> assistant, the shipping profile also appears in the <strong>Setup » Orders » Shipping » Settings</strong> menu in the <strong>Shipping profile</strong> tab.<br>
The following settings are available once the assistant has been completed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>the name of the shipping profile is saved</p>
</li>
<li>
<p>the shipping service provider is saved</p>
</li>
<li>
<p>the option <strong>Activate for new items</strong> is activated</p>
</li>
<li>
<p>all clients (stores) are activated</p>
</li>
<li>
<p>all order referrers are activated</p>
</li>
<li>
<p>the shipping costs are saved</p>
</li>
<li>
<p>the region is saved</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you want to carry out further settings such as blocking customer classes or payment methods or activating the option for the agreement upon data transmission to shipping service providers, you have to go to <strong>Setup » Orders » Shipping » Settings</strong> and carry out these settings in the <strong>Shipping profiles</strong> tab in the corresponding shipping profile.</p>
</div>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> This workaround is still necessary because not all functions and settings have been transferred from the shipping profile to the assistant yet. We will implement the missing settings in the assistant step by step.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>When you completed the <strong>Shipping settings</strong> assistant and open it again, the following information is displayed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the tile view:</p>
<div class="ulist">
<ul>
<li>
<p>Back end name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Shipping service provider</p>
</li>
</ul>
</div>
</li>
<li>
<p>In the table overview:</p>
<div class="ulist">
<ul>
<li>
<p>Back end name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Shipping service provider</p>
</li>
<li>
<p>Front end name</p>
</li>
<li>
<p>ID of the shipping profile</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="dhl-assistant-basic-settings">4.2. Completing the <strong>DHL Shipping (Versenden): Basic settings</strong> assistant</h3>
<div class="paragraph">
<p>You find the <strong>DHL Shipping (Versenden): Basic settings</strong> assistant in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set. This assistant has several steps to complete. These steps are explained in the following.</p>
</div>
<h4 id="_login_details" class="discrete">Login details</h4>
<div class="paragraph">
<p>In this step, save your login details for the DHL business customer portal. You can save multiple login details when you have multiple clients (shops) and/or concluded more than one contract with DHL. In the second assistant <strong>DHL Shipping (Versenden): Settings combination</strong>, you can link this data.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Deleting linked login details</div>
<div class="paragraph">
<p>If you want to delete a login again, click on <span class="icon red"><i class="fa fa-minus-square  "></i></span>. Note that the login details can only be successfully deleted in this assistant when they are <em>no longer</em> used in the <strong>DHL Shipping (Versenden): Settings combination</strong> assistant.<br>
If you linked the login details in the <strong>DHL Shipping (Versenden): Settings combination</strong> assistant and you delete them only here, these login details will still be displayed when you open the assistant again. This means that first you have to remove the link in the <strong>DHL Shipping (Versenden): Settings combination</strong> assistant. Afterwards, you can delete the login details in this assistant.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Furthermore, determine for each of your logins whether shipping labels should always be generated, also when shipping orders with non-codable addresses are created, e.g. when the address data is not complete or not available at all. DHL corrects the incorrect data and bills you for this service. Afterwards, the order can be registered successfully.</p>
</div>
<div class="paragraph">
<p>If the option <strong>Force label generation</strong> is not activated – i.e. the button is red <span class="icon red"><i class="fa fa-toggle-off  "></i></span>–, non-codable shipping orders are rejected by DHL when trying to register them with DHL Versenden and an error message is displayed. The order is not registered and no shipping label is generated in your plentymarkets system.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>The login name may not contain any umlauts. Even if a login name with umlauts is accepted by the website, the interface may still reject it.</p>
</li>
<li>
<p>The maximum password length is 20 characters. Although DHL technically allows you to use a longer password, you may only use a maximum of 20 characters via the plentymarkets interface. If you use a password that is longer than 20 characters, errors occur.</p>
</li>
</ul>
</div>
<h4 id="_shipper_data" class="discrete">Shipper data</h4>
<div class="paragraph">
<p>In this step, enter your shipper data. The data is shown as sender address on the shipping label.</p>
</div>
<div class="paragraph">
<p>Do you want to display your company logo on the shipping label? To do so, select the option <strong>Use shipper reference from the DHL business customer portal</strong>. DHL then uses both address data that you saved in the DHL business customer portal and the company logo that you uploaded there. Only the sender reference is transferred to DHL, but not the sender data from plentymarkets.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> If you activate the <strong>Show polling data</strong> area at the bottom of this assistant step, the <strong>Account reference</strong> and <strong>Sender reference</strong> fields are visible. Entering the account reference and the sender reference in this area is only necessary if you register your shipments via the <em>polling format</em>. The account reference and the sender reference are not relevant for the transmission via the interface.</p>
</div>
<h4 id="_billing_number" class="discrete">Billing number</h4>
<div class="paragraph">
<p>In this step, save your DHL billing number in accordance with your DHL contract.</p>
</div>
<div class="paragraph">
<p>The billing number consists of 14 digits in total and is composed of 3 components: EKP (customer number), product and subscription. The first 10 digits are the EKP, the 11th and 12th digit are the product and the 13th and 14th digit are the subscription.</p>
</div>
<div class="paragraph">
<p><strong><em>Example of a billing number:</em></strong> <code>1234567890 53 01</code></p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>1234567890</code> is the EKP (customer number)</p>
</li>
<li>
<p><code>53</code> is the product <em>DHL Paket International</em></p>
</li>
<li>
<p><code>01</code> is the subscription</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following DHL products are available in the assistant:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>01 - DHL Paket<br></p>
</li>
<li>
<p>53 - DHL Paket International<br></p>
</li>
<li>
<p>54 - DHL Europaket<br></p>
</li>
<li>
<p>55 - DHL Paket Connect<br></p>
</li>
<li>
<p>62 - DHL Warenpost</p>
</li>
<li>
<p>86 - DHL Paket Austria<br></p>
</li>
<li>
<p>87 - DHL Paket Connect (Austria)<br></p>
</li>
<li>
<p>82 - DHL Paket Austria International</p>
</li>
</ul>
</div>
<h4 id="_reference_on_label" class="discrete">Reference on label</h4>
<div class="paragraph">
<p>In this step, you can select the references as they should appear on the shipping label. The setting that you select from the drop-down list <strong>Reference per order</strong> will be shown on the shipping label once. The setting that you select from the drop-down list <strong>Reference per item position</strong> will be shown on the shipping label per item position.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> Both selected settings will be shown combined in one field on the label. The maximum number of characters is limited to 35. If the maximum number of characters is exceeded, the reference will be cut off after the last pipe and the sign <strong>»</strong> will be displayed.</p>
</div>
<div class="paragraph">
<p>You can select the following values for the order data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order ID</p>
</li>
<li>
<p>External order ID</p>
</li>
<li>
<p>Order ID + external order ID</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can select the following values for the item data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variation number</p>
</li>
<li>
<p>Variation name</p>
</li>
<li>
<p>Variation ID</p>
</li>
<li>
<p>External variation ID</p>
</li>
<li>
<p>Model</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In this step, you can also select whether the number of items per position should be shown on the label and whether the number of packages should be added for this order if it is more than one package.</p>
</div>
<h4 id="_summary" class="discrete">Summary</h4>
<div class="paragraph">
<p>In this step, a summary of all entries that you made in the single steps is listed. You can check the settings, adjust them, if needed, and complete the assistant afterwards.</p>
</div>
</div>
<div class="sect2">
<h3 id="dhl-assistant-settings-combination">4.3. Completing the <strong>DHL Shipping (Versenden): Settings combination</strong> assistant</h3>
<div class="paragraph">
<p>You find the <strong>DHL Shipping (Versenden): Settings combination</strong> assistant in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set.</p>
</div>
<div class="paragraph">
<p>In this assistant, link the settings that you saved in the <strong>Shipping settings</strong> and <strong>DHL Shipping (Versenden): Basic settings</strong> assistants. Link your login details with the DHL billing number, the shipper address, the shipping region and the shipping setting and select the services based on the product and your DHL contract. Note that you may need to contact DHL to obtain additional activation for certain products and services.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">DHL Wunschpaket services only visible after having purchased the DHL Wunschpaket plugin</div>
<div class="paragraph">
<p>The DHL Wunschpaket services <strong>Preferred day</strong>, <strong>Preferred location</strong> and <strong>Preferred neighbour</strong> are only available in this area once you have downloaded the DHL Wunschpaket plugin in the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/dhlwunschpaket_5435" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and installed it in a plugin set.<br>
Also for this plugin, there is an assistant available in the <strong>Setup » Assistants » Plugins</strong> menu in the relevant plugin set allowing you to simply and quickly set up the services.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Furthermore, you can determine in this assistant whether your customers can use a finder in your online store to select the address of a packstation or a post office as delivery address and whether you want to transfer a minimum package weight to DHL to register the order. In case of international deliveries, select in this assistant also the franking and the shipping type.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Checking the default shipping method and shipping profile</div>
<div class="paragraph">
<p>Check which options you have selected for <strong>Default shipping method</strong> and <strong>Default shipping profile</strong> in the <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Orders</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>When you completed the <strong>DHL Shipping (Versenden): Settings combination</strong> assistant and open it again, the following information is displayed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the tile view:</p>
<div class="ulist">
<ul>
<li>
<p>Shipping setting</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Billing number</p>
</li>
</ul>
</div>
</li>
<li>
<p>In the table overview:</p>
<div class="ulist">
<ul>
<li>
<p>Shipping setting</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Billing number</p>
</li>
<li>
<p>Login name</p>
</li>
<li>
<p>Services</p>
</li>
<li>
<p>Shipping profile ID</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="data-transfer">5. Information about data transfer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you activated the option <strong>Agreement upon data transfer</strong> in the DHL Shipping (Versenden) shipping profile in the <strong>Setup » Orders » Shipping » Setting</strong> menu in the <strong>Shipping profiles</strong> tab, a checkbox is visible for your customers in the checkout of your Ceres online store. Your customers decide whether they agree that their data is transferred to the shipping service provider or not.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If the customer agrees that their data is transferred, the email address of the customer is transferred to the shipping service provider.</p>
</li>
<li>
<p>If the customer does <em>not</em> agree that their data is transferred, the alternative email address that you entered in the shipping profile is transferred.</p>
</li>
<li>
<p>If the customer does <em>not</em> agree that their data is transferred and you did not enter an alternative email address in the shipping profile, an error message is displayed and the order cannot be registered with DHL.<br>
Therefore, it is important that you enter alternative values for the email address and the telephone number in the shipping profile. Otherwise, it is not possible to successfully register the order with DHL when selecting certain services (e.g. retail outlet routing).</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Upload polling file in case of DHL failure</div>
<div class="paragraph">
<p>If there is a failure of the interface on the part of DHL, it is possible to use the polling format <strong>DHL Shipping (Versenden)</strong> as an alternative. Generate the polling file containing the orders that should be registered either with a process and plentyBase or go to the <strong>Orders » Shipping centre</strong> menu. Afterwards, you can upload this file to the DHL business customer portal via the template <strong>DHL plentymarkets Importformat</strong>.<br>
Note that the following services <em>cannot</em> be transmitted to DHL via the polling format:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Return immediately, 2nd attempt of delivery, Verpackungsrücknahme, Unzustellbarkeitsnachricht (when selecting the product 01 - DHL Paket)<br></p>
</li>
<li>
<p>immediate, after deadline abandonment (when selecting the product 53 - DHL Paket International)<br></p>
</li>
<li>
<p>DHL Wunschpaket services</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="service-retail-outlet-routing">6. Using the Retail Outlet Routing service</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Thanks to the <em>Retail Outlet Routing</em> service your undeliverable item (in case the recipient is unknown) gets a second change to reach the recipient: Rather than being returned immediately to you, the undeliverable item will be held at the nearest outlet that has a parcel collection point for collection by the recipient. Your recipient will be informed of this by email. If the item is collected by the recipient, the time and costs involved in returning it can be avoided.</p>
</div>
<div class="paragraph">
<p>In order that your customers can use the Retail Outlet Routing service, the following settings have to be carried out:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings</strong> and click on the <strong>Shipping profiles</strong> tab. Then activate the option <strong>Agreement upon data transfer</strong> in the shipping profile and select an option how the data (email address and phone number) is to be transferred.</p>
</li>
<li>
<p>Go to the <strong>DHL Shipping (Versenden): Basic settings</strong> assistant and activate the service <strong>Retail Outlet Routing</strong> in the <strong>Product and services selection</strong> step.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="service-ident-check">7. Using the Ident check service</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Make sure that your parcels are only delivered to the recipient in person – after the DHL driver has checked the identity and - where applicable- the age against the identity card and documented it.</p>
</div>
<div class="paragraph">
<p>In order that your customers can use the Ident check service (minimum age 16 or 18), the following setting is important:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Go to the <strong>DHL Shipping (Versenden): Basic settings</strong> assistant and activate the service <strong>Ident check</strong> in the <strong>Product and services selection</strong> step.</p>
</li>
</ul>
</div>
<div id="image-dhl-shipping-ident-check" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/DHL-label-ident-check.png" alt="DHL label ident check" width="640" height="360">
</div>
<div class="title">Figure 1. Example: DHL label with Ident check +18</div>
</div>
</div>
</div><div class="sect1">
<h2 id="dhl-warenpost">8. Using DHL Warenpost</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Many items are too small to send them in parcels or packages. If you send many of those items, DHL Warenpost might be a convenient solution for you. DHL Warenpost can only be used for deliveries within Germany.</p>
</div>
<div class="paragraph">
<p>In order that you can offer your customers DHL Warenpost, the item and package data have to be correctly saved and transmitted to the shipping service provider. According to DHL, the following dimensions have to be maintained:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Minimum dimension: Length: 10.0 cm, width: 7.0 cm, height: 0.1 cm</p>
</li>
<li>
<p>Maximum dimension: Length: 35.3 cm, width: 25.0 cm, height: 5.0 cm</p>
</li>
<li>
<p>Maximum weight: 1000 g</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>When registering the order, DHL checks the maximum dimensions and the maximum weight. The minimum dimensions are not checked by DHL when the order is registered.</p>
</div>
<div class="paragraph">
<p>The following sub-chapters describe the settings that you need to carry out in the <a href="#dhl-warenpost-settings-back-end">plentymarkets back end</a>, in the <a href="#dhl-warenpost-settings-assistants">assistants</a> and in the <a href="#dhl-warenpost-settings-gkp">DHL business customer portal</a>:</p>
</div>
<div class="sect2">
<h3 id="dhl-warenpost-settings-back-end">8.1. Settings in the back end</h3>
<div class="ulist">
<ul>
<li>
<p>It is recommended to save the weight of the variations that you want to send with DHL Warenpost in the variation’s <strong>Dimensions</strong> area.</p>
</li>
<li>
<p>In order to ensure that the dimensions are not exceeded, you can use one of the two options that can be set up in the settings of the shipping package. You can find these options in the <strong>Setup » Orders » Shipping » Shipping packages</strong> menu in the drop-down list <strong>Volume</strong>.</p>
</li>
</ul>
</div>
<div id="image-dhl-shipping-warenpost-shipping-package" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/dhl-shipping-warenpost-shipping-package.png" alt="dhl shipping warenpost shipping package" width="640" height="360">
</div>
<div class="title">Figure 2. Shipping package for DHL Warenpost: Volume</div>
</div>
<div class="paragraph">
<p>The two options regarding the volume that you can select in the shipping package are explained in detail in the following:</p>
</div>
<h4 id="_take_from_the_shipping_package" class="discrete">take from the shipping package</h4>
<div class="paragraph">
<p>In order that the packages in the shipping centre are always generated with the correct dimensions and the order can be successfully registered with DHL Warenpost, you can use the option <strong>take from the shipping package</strong> and save the permissible maximum dimensions (length, width, height) in cm.</p>
</div>
<div id="image-dhl-shipping-warenpost-dimensions" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/dhl-shipping-warenpost-shipping-package-dimensions.png" alt="dhl shipping warenpost shipping package dimensions" width="640" height="360">
</div>
<div class="title">Figure 3. Shipping package for DHL Warenpost: Dimensions</div>
</div>
<div class="paragraph">
<p>If you select the settings mentioned above, the dimensions of the shipping package and the gross weight of all variations in the order are transferred to the shipping service provider.</p>
</div>
<h4 id="_take_from_the_item_data_total" class="discrete">take from the item data (total)</h4>
<div class="paragraph">
<p><strong><em>Note:</em></strong> If you select the option <strong>take from item data (total)</strong>, <em>the weight only</em> is transferred to the shipping service provider. The logic does not transfer the other dimensions (length, width, height).</p>
</div>
<div class="paragraph">
<p>You can, however, have the volume calculated based on a volume limitation in the shipping profile. To do so, select in the region of the corresponding shipping profile the limitation type <strong>Maximum (cubic metres)</strong> and save the calculated volume from the maximum dimensions in m³ that is prescribed for Warenpost by DHL:
<code>353 mm x 250 mm x 50 mm = 0,0044 m³</code>.<br>
Another possibility is to select the limitation type <strong>Maximum (g)</strong> in the region of the shipping profile and to save the calculated maximum weight of 1000 g that is prescribed for Warenpost by DHL.</p>
</div>
<div class="paragraph">
<p>You can select the shipping package as standard package in the corresponding region of the current shipping profile in the <strong>Table of shipping charges</strong> tab:</p>
</div>
<div id="image-dhl-shipping-warenpost-standard-package" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/dhl-shipping-warenpost-standard-package.png" alt="dhl shipping warenpost standard package" width="640" height="360">
</div>
<div class="title">Figure 4. Shipping package for DHL Warenpost as standard package in the shipping profile</div>
</div>
</div>
<div class="sect2">
<h3 id="dhl-warenpost-settings-assistants">8.2. Settings in the assistants</h3>
<div class="ulist">
<ul>
<li>
<p>Go to the <strong>DHL Shipping (Versenden): Basic settings</strong> assistant and select the product <strong>62 - Warenpost</strong> in the <strong>Billing number</strong> step.</p>
</li>
<li>
<p>Go to the <strong>DHL Shipping (Versenden): Settings combination</strong> assistant and select the billing number for Warenpost and the appropriate services that you want to link with this shipping setting.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="dhl-warenpost-settings-gkp">8.3. Settings in the DHL business customer portal</h3>
<div class="paragraph">
<p>Go to the DHL business customer portal and select the appropriate size for the shipping labels:</p>
</div>
<div id="image-dhl-shipping-warenpost" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/dhl-warenpost-label-size-german.png" alt="dhl warenpost label size german" width="640" height="360">
</div>
<div class="title">Figure 5. Label sizes required for Warenpost</div>
</div>
<div class="paragraph">
<p>In the DHL business customer portal, go to the section <strong>Ship &gt; Basic settings &gt; General settings</strong> and set up the printer settings for your shipping labels. You can activate that the label size 100 x 70 mm is used for Warenpost. Note that it is not possible to print the additional name information for this label size: Sender name 2, sender name 3 and recipient name 3 <em>cannot</em> be printed on the label.</p>
</div>
<div class="paragraph">
<p>You can also use the common label in the format of 100 x 200 mm for Warenpost.</p>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="https://www.dhl.de/en/geschaeftskunden/paket/leistungen-und-services/dhl-warenpost.html" target="_blank" rel="noopener">DHL website</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="dhl-shipping-user-rights">9. Assigning rights for back end users</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use the DHL Shipping plugin, you have to activate some rights for users with <strong>Back end</strong> access in their user account.</p>
</div>
<div class="paragraph">
<p>Note that the function <strong>Ship</strong> has to be activated for the user in the DHL business customer portal.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights for back end users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the account that should be edited.</p>
</li>
<li>
<p>In the <strong>Authorisations</strong> area, activate the rights as listed in <a href="#table-user-rights-back-end-user">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-user-rights-back-end-user" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Assigning rights for back end users</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders &gt; Show</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to see orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders &gt; Update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to update orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders &gt; Shipping &gt; Shipping package</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to see, update, create and delete the shipping packages as well as the items within the shipping package.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders &gt; Shipping &gt; Package type &gt; Show</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to see package types.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders &gt; Order properties &gt; Show</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to see order properties.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders &gt; Documents &gt; Create</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to create documents, such as shipping labels and export documents via a process and plentyBase.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="activate-test-mode">10. Activating the test mode</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By default, the productive mode is activated in the <strong>DHL Shipping (Versenden)</strong> plugin. You can activate the test mode for the plugin in order to check the settings.</p>
</div>
<div class="paragraph">
<p><strong><em>Important:</em></strong> In order to be able to test the settings, login details for a test account (DHL developer portal) are required.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to activate the test mode for the plugin.</p>
</div>
<div class="paragraph instruction">
<p>Activating the test mode:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set that contains the DHL Shipping (Versenden) plugin by clicking on the table row.</p>
</li>
<li>
<p>Click on the table row <strong>DHL Shipping (Versenden)</strong>.</p>
</li>
<li>
<p>Click on <strong>Configuration &gt; General</strong>.</p>
</li>
<li>
<p>Select the setting <strong>Test</strong> from the drop-down list <strong>Mode</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the setting.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="tracking-url">11. Tracking URL for DHL</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The currently valid, known tracking URL for DHL is:<br>
<strong>https://nolp.dhl.de/nextt-online-public/de/search?piececode=[PaketNr]</strong>.</p>
</div>
</div>
</div>
</main>