<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Order properties</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Example: Uploading an image</span></a>
<ul class="sectlevel3">
<li><a href="#30"><span>1.1.1.</span><span> Creating an order property</span></a></li>
<li><a href="#40"><span>1.1.2.</span><span> Linking the order property with variations</span></a></li>
<li><a href="#50"><span>1.1.3.</span><span> Checking the result</span></a></li>
</ul>
</li>
<li><a href="#60"><span>1.2.</span><span> Example: Selecting additional options</span></a>
<ul class="sectlevel3">
<li><a href="#70"><span>1.2.1.</span><span> Creating a group</span></a></li>
<li><a href="#80"><span>1.2.2.</span><span> Creating an order property</span></a></li>
<li><a href="#85"><span>1.2.3.</span><span> Linking the order property with variations</span></a></li>
<li><a href="#90"><span>1.2.4.</span><span> Checking the result</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#95"><span>2.</span><span> Order characteristics</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>2.1.</span><span> Example: Uploading an image</span></a>
<ul class="sectlevel3">
<li><a href="#130"><span>2.1.1.</span><span> Creating an order characteristic</span></a></li>
<li><a href="#150"><span>2.1.2.</span><span> Linking an order characteristic to items</span></a></li>
<li><a href="#170"><span>2.1.3.</span><span> Checking the result</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.2.</span><span> Example: Selecting additional options</span></a>
<ul class="sectlevel3">
<li><a href="#220"><span>2.2.1.</span><span> Creating a characteristic group</span></a></li>
<li><a href="#240"><span>2.2.2.</span><span> Creating an order characteristic</span></a></li>
<li><a href="#260"><span>2.2.3.</span><span> Linking an order characteristic to items</span></a></li>
<li><a href="#280"><span>2.2.4.</span><span> Checking the result</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Order properties (personalised items)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With plentymarkets, you can sell personalised items in your plentyShop.
For example, your end customers could:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>upload an image that should be printed on a t-shirt.</p>
</li>
<li>
<p>choose additional options, e.g. gold or diamond trim for a wedding ring.</p>
</li>
</ul>
</div>
<h4 id="_order_properties_vs_order_characteristics" class="discrete">Order properties vs. Order characteristics</h4>
<div class="paragraph">
<p>In plentymarkets, personalised items are sold with the help of <em>order properties</em> or <em>order characteristics</em>.
You can use either method in your plentyShop.
However, you can not use both at the same time.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Method</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order properties</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong><em>Specifications</em></strong>:</p>
<div class="ulist">
<ul>
<li>
<p>Order properties are a special type of <a href="/en/item/settings/properties">property</a>.
Customers can choose them in the plentyShop and order them along with the product.</p>
</li>
<li>
<p>Order properties are newer and more flexible than order characteristics.
However, order properties are still in the beta phase of development.</p>
</li>
<li>
<p>Use order properties if you want to make <a href="/en/item/introduction/structure">specific variations</a> customisable.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Example</em></strong>:
Your customers should be able to upload a photo that is printed on a t-shirt.
With order properties, you can specify that the photo can only be printed on a white t-shirt, but not on a colour t-shirt.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order characteristics</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong><em>Specifications</em></strong>:</p>
<div class="ulist">
<ul>
<li>
<p>Order characteristics are a special type of <a href="/en/item/settings/properties">characteristic</a>.
Customers can choose them in the plentyShop and order them along with the product.</p>
</li>
<li>
<p>Order characteristics are older and less flexible than order properties.
However, thanks to their stable status, they are also less prone to errors.</p>
</li>
<li>
<p>You can only make <a href="/en/item/introduction/structure">entire items</a> customisable with order characteristics.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Example</em></strong>:
Your customers should be able to upload a photo that is printed on a t-shirt.
With order characteristics, you can <em>not</em> specify which t-shirt colour variation the image can be printed on.
The order characteristics apply to the entire item, i.e. to all of the variations.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="10">1. Order properties</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">From plentyShop LTS version 5.0.40</div>
<div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/en/ceres_4697">plentyShop LTS</a> supports order properties starting from version 5.0.40.
Lower versions do not support this function.
To use order properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/plugins/updating-installed-plugins">Update the Ceres plugin</a> to plentyShop LTS version 5.0.40 or higher.</p>
</li>
<li>
<p>Go to <strong>Setup » Assistants » Plugins » [Open plugin set] » plentyShop LTS</strong>.</p>
</li>
<li>
<p>Navigate to the step <strong>Online store</strong>.</p>
</li>
<li>
<p>Activate (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the setting <strong>Order properties (beta)</strong>. Caution: This deactivates the order characteristics.</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="20">1.1. Example: Uploading an image</h3>
<div class="paragraph">
<p>Imagine you sell t-shirts. Your customers should be able to upload their own images and have them printed on t-shirts.
The procedure is as follows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/use-cases/personalised-items#30">Create an order property</a>.</p>
</li>
<li>
<p><a href="/en/item/use-cases/personalised-items#40">Link the order property with the appropriate variations</a>.</p>
</li>
<li>
<p><a href="/en/item/use-cases/personalised-items#50">Check the result in your plentyShop</a>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="30">1.1.1. Creating an order property</h4>
<div class="paragraph">
<p>First create all of the necessary order properties.
For example, the ability to upload a custom image.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new order property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Create property</strong>.</p>
</li>
<li>
<p>Carry out the settings as follows:</p>
<div class="ulist">
<ul>
<li>
<p>General settings:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Details » Section</strong>: Select the option <strong>Items</strong>.</p>
</li>
<li>
<p><strong>Details » Type</strong>: Select the option <strong>File</strong>.</p>
</li>
<li>
<p><strong>Name</strong>: Enter a front end name for the property.</p>
</li>
<li>
<p><strong>Groups</strong>: Assign the property to an existing group.<br>
→ You haven’t created any groups yet? <a href="/en/item/settings/properties#1200">Follow these instructions</a>.</p>
</li>
<li>
<p><strong>Options » Drop-down without a title</strong>: Select the option <strong>Order property</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Where should the property appear?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Visibilities » Referrers</strong>: Select the option <strong>Client (store)</strong>.</p>
</li>
<li>
<p><strong>Visibilities » Clients</strong>: Select the store in which the order property should appear.</p>
</li>
<li>
<p><strong>Visibilities » Display everywhere</strong>: Where should the property appear within the shop? Select all of the appropriate areas.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Should the property only be available for a surcharge?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Options » Markup</strong>: Enter the value here.</p>
</li>
<li>
<p><strong>Options » Tax rate</strong>: How should the surcharge be taxed?
Select the appropriate option.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Learn more about properties</div>
<div class="paragraph">
<p>Further information about the individual options can be found <a href="/en/item/settings/properties#600">here</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/orderproperty-own-image-config.png" alt="orderproperty own image config">
</div>
</div>
</div>
<div class="sect3">
<h4 id="40">1.1.2. Linking the order property with variations</h4>
<div class="paragraph">
<p>Next, link the order property with all of the appropriate variations.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open variation] » Tab: Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>Order properties</strong> field.<br>
→ A drop-down list of available variation properties opens.</p>
</li>
<li>
<p>Select the appropriate properties (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Click on Add (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ The properties will be added.</p>
</li>
<li>
<p>If necessary, enter a variation-specific surcharge.
See the info-box below for further information.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Variation-specific surcharge</div>
<div class="paragraph">
<p>You might have already saved a surcharge <a href="/en/item/use-cases/personalised-items#30">while creating the property</a>.
But what should you do if not every variation should be given the same surcharge?
Once you’ve linked the property to a variation, you can enter a variation-specific surcharge, which overwrites the surcharge that was saved for the property as a whole.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/orderproperty-own-image-link.png" alt="orderproperty own image link">
</div>
</div>
</div>
<div class="sect3">
<h4 id="50">1.1.3. Checking the result</h4>
<div class="paragraph">
<p>Open the variation in your plentyShop and make sure the settings match your needs.
Modify the settings further as needed.</p>
</div>
<div class="paragraph">
<p>Use the widget <a href="/en/online-store/shop-builder#_order_properties">Order properties</a> to display order properties in the plentyShop.
In the widget settings, you can control e.g. the colour and spacing of the order properties.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/orderproperty-own-image-result.png" alt="orderproperty own image result">
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="60">1.2. Example: Selecting additional options</h3>
<div class="paragraph">
<p>Imagine you sell wedding rings. You want to let customers design the rings themselves.
Specifically, customers should be able to choose an optional gold or diamond trim for an additional fee.
The procedure is as follows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/use-cases/personalised-items#70">Create a property group</a>.</p>
</li>
<li>
<p><a href="/en/item/use-cases/personalised-items#80">Create the order properties and sort them into the group</a>.</p>
</li>
<li>
<p><a href="/en/item/use-cases/personalised-items#85">Link the order properties with the appropriate variations</a>.</p>
</li>
<li>
<p><a href="/en/item/use-cases/personalised-items#90">Check the result in your plentyShop</a>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="70">1.2.1. Creating a group</h4>
<div class="paragraph">
<p>You can use property groups to sort the additional options and services that you offer under one heading.
Let’s stick with the example that you sell wedding rings and you want to let customers choose an optional gold or diamond trim.
You can create a property group called "Trim" to clearly display these options.
Within this group, customers can choose the options “Gold trim” or “Diamond trim”.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new property group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Groups</strong>.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Create group</strong>.</p>
</li>
<li>
<p>Carry out the settings as follows:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Details » Group type</strong>:
This option only applies to order properties of the type <strong>None</strong>. How many additional options or services should your customers be able to choose from the group?</p>
<div class="ulist">
<ul>
<li>
<p><strong>None</strong> = Your customers will see the order properties in the plentyShop. However, they will not be able to choose anything.</p>
</li>
<li>
<p><strong>Select</strong> = Your customers will see a drop-down list in the plentyShop. They will be able to select one option only from the list.</p>
</li>
<li>
<p><strong>Multiselect</strong> = Your customers will see check boxes in the plentyShop. They will be able to select multiple options.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Details » Surcharge type</strong>:
Do you plan on offering extra services or options for an additional fee? If so, then decide whether the surcharge should be treated as a percentage or as a fixed price, e.g. 5% or 5 EUR.</p>
</li>
<li>
<p><strong>Name</strong>: Enter a name for the property group.
This name <a href="/en/item/settings/properties#1500">can be made visible to customers</a> in the plentyShop.
It depends on how you design the layout with ShopBuilder.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Save (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Learn more about properties</div>
<div class="paragraph">
<p>Further information about the individual options can be found <a href="/en/item/settings/properties#1250">here</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/orderproperty-options-group.png" alt="orderproperty options group">
</div>
</div>
</div>
<div class="sect3">
<h4 id="80">1.2.2. Creating an order property</h4>
<div class="paragraph">
<p>First create all of the necessary order properties.
For example, the gold trim and the diamond trim.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new order property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Create property</strong>.</p>
</li>
<li>
<p>Carry out the settings as follows:</p>
<div class="ulist">
<ul>
<li>
<p>General settings:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Details » Section</strong>: Select the option <strong>Items</strong>.</p>
</li>
<li>
<p><strong>Details » Type</strong>: Select the option <strong>None</strong>.</p>
</li>
<li>
<p><strong>Name</strong>: Enter a front end name for the property.</p>
</li>
<li>
<p><strong>Groups</strong>:
Select the group that this property should be sorted into.</p>
</li>
<li>
<p><strong>Options » Drop-down without a title</strong>: Select the option <strong>Order property</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Where should the property appear?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Visibilities » Referrers</strong>: Select the option <strong>Client (store)</strong>.</p>
</li>
<li>
<p><strong>Visibilities » Clients</strong>: Select the store in which the order property should appear.</p>
</li>
<li>
<p><strong>Visibilities » Display everywhere</strong>: Where should the property appear within the shop? Select all of the appropriate areas.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Should the property only be available for a surcharge?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Options » Markup</strong>: Enter the value here.</p>
</li>
<li>
<p><strong>Options » Tax rate</strong>: How should the surcharge be taxed?
Select the appropriate option.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Learn more about properties</div>
<div class="paragraph">
<p>Further information about the individual options can be found <a href="/en/item/settings/properties#600">here</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/orderproperty-options-config.png" alt="orderproperty options config">
</div>
</div>
</div>
<div class="sect3">
<h4 id="85">1.2.3. Linking the order property with variations</h4>
<div class="paragraph">
<p>Next, link the order property with all of the appropriate variations.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open variation] » Tab: Properties</strong>.</p>
</li>
<li>
<p>Click on the <strong>Order properties</strong> field.<br>
→ A drop-down list of available variation properties opens.</p>
</li>
<li>
<p>Select the appropriate properties (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Click on Add (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ The properties will be added.</p>
</li>
<li>
<p>If necessary, enter a variation-specific surcharge.
See the info-box below for further information.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Variation-specific surcharge</div>
<div class="paragraph">
<p>You might have already saved a surcharge <a href="/en/item/use-cases/personalised-items#30">while creating the property</a>.
But what should you do if not every variation should be given the same surcharge?
Once you’ve linked the property to a variation, you can enter a variation-specific surcharge, which overwrites the surcharge that was saved for the property as a whole.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/orderproperty-options-link.png" alt="orderproperty options link">
</div>
</div>
</div>
<div class="sect3">
<h4 id="90">1.2.4. Checking the result</h4>
<div class="paragraph">
<p>Open the variation in your plentyShop and make sure the settings match your needs.
Modify the settings further as needed.</p>
</div>
<div class="paragraph">
<p>Use the widget <a href="/en/online-store/shop-builder#_order_properties">Order properties</a> to display order properties in the plentyShop.
In the widget settings, you can control e.g. the colour and spacing of the order properties.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/orderproperty-options-result.png" alt="orderproperty options result">
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="95">2. Order characteristics</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="100">2.1. Example: Uploading an image</h3>
<div class="paragraph">
<p>Imagine you sell t-shirts. Your customers should be able to upload their own images and have them printed on t-shirts.
The procedure is as follows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/use-cases/personalised-items#130">Create an order characteristic</a>.</p>
</li>
<li>
<p><a href="/en/item/use-cases/personalised-items#150">Link the order characteristic with the appropriate items</a>.</p>
</li>
<li>
<p><a href="/en/item/use-cases/personalised-items#170">Check the result in your plentyShop</a>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="130">2.1.1. Creating an order characteristic</h4>
<div class="paragraph">
<p>First create all of the necessary order characteristics.
For example, the ability to upload a custom image.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new order characteristic:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Carry out the settings as follows:</p>
<div class="ulist">
<ul>
<li>
<p>Use the options <strong>Name (internal)</strong> and <strong>Webshop</strong> to save a back end and front end name for the characteristic.</p>
</li>
<li>
<p>Select <strong>File</strong> as the <strong>Characteristic type</strong>.</p>
</li>
<li>
<p>Enter a value if a <strong>surcharge</strong> is to be added for the characteristic.</p>
</li>
<li>
<p>Where should the characteristic be displayed? Use the <strong>Show</strong> option to select all of the appropriate areas (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Select the <strong>Order characteristic</strong> option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Learn more about characteristics</div>
<div class="paragraph">
<p>Further information about the individual options can be found <a href="/en/item/settings/properties#300">here</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/own-image-characteristic.png" alt="own image characteristic">
</div>
</div>
</div>
<div class="sect3">
<h4 id="150">2.1.2. Linking an order characteristic to items</h4>
<div class="paragraph">
<p>Next, link the order characteristic with all of the appropriate items.</p>
</div>
<div class="paragraph instruction">
<p>Linking a characteristic with an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the item.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab. The screen is divided into two areas:</p>
<div class="ulist">
<ul>
<li>
<p>Characteristics that have already been linked to the item are displayed in the upper area called <strong>Characteristics</strong>,</p>
</li>
<li>
<p>Characteristics that have not yet been linked are displayed in the lower area called <strong>Activate further characteristics</strong>. Here, the characteristics are sorted into their groups.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Expand the characteristic group in the lower area if needed (<span class="icon grey"><i class="fa fa-plus-square-o  "></i></span>) and select the characteristic (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.<br>
→ The characteristic is now linked to the item and displayed in the upper area.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Item-specific surcharge</div>
<div class="paragraph">
<p>You might have already saved a surcharge <a href="/en/item/use-cases/personalised-items#130">while creating the characteristic</a>.
But what should you do if not every item should be given the same surcharge?
Once you’ve linked the characteristic to an item, you can enter an item-specific surcharge, which overwrites the surcharge that was saved for the characteristic as a whole.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="170">2.1.3. Checking the result</h4>
<div class="paragraph">
<p>Open the item in your plentyShop and make sure the settings match your needs.
Modify the settings further as needed.</p>
</div>
<div class="paragraph">
<p>Use the widget <a href="/en/online-store/shop-builder#_order_properties">Order properties</a> to display order characteristics in the plentyShop.
In the widget settings, you can control e.g. the colour and spacing of the order characteristics.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/own-image-webshop.png" alt="own image webshop">
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="200">2.2. Example: Selecting additional options</h3>
<div class="paragraph">
<p>Imagine you sell wedding rings. You want to let customers design the rings themselves.
Specifically, customers should be able to choose an optional gold or diamond trim for an additional fee.
The procedure is as follows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/use-cases/personalised-items#220">Create a characteristic group</a>.</p>
</li>
<li>
<p><a href="/en/item/use-cases/personalised-items#240">Create the order characteristics and sort them into the group</a>.</p>
</li>
<li>
<p><a href="/en/item/use-cases/personalised-items#260">Link the order characteristics with the appropriate items</a>.</p>
</li>
<li>
<p><a href="/en/item/use-cases/personalised-items#280">Check the result in your plentyShop</a>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="220">2.2.1. Creating a characteristic group</h4>
<div class="paragraph">
<p>You can use characteristic groups to sort the additional options and services that you offer under one heading.
Let’s stick with the example that you sell wedding rings and you want to let customers choose an optional gold or diamond trim.
You can create a characteristic group called "Trim" to clearly display these options.
Within this group, customers can choose the options “Gold trim” or “Diamond trim”.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new characteristic group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic group</strong> tab.</p>
</li>
<li>
<p>Carry out the settings as follows:</p>
<div class="ulist">
<ul>
<li>
<p>Use the options <strong>Name (internal)</strong> and <strong>Language</strong> to save a back end and front end name for the characteristic group.</p>
</li>
<li>
<p>Do you plan on offering the characteristics within this group for a <strong>Surcharge</strong>? If so, decide whether it should be a percentage or a fixed price.</p>
</li>
<li>
<p>Should customers be able to choose one or multiple characteristics from the group? Make your decision with the option <strong>Grouping of order characteristics</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Learn more about characteristics</div>
<div class="paragraph">
<p>Further information about the individual options can be found <a href="/en/item/settings/properties#200">here</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/options-group.png" alt="options group">
</div>
</div>
</div>
<div class="sect3">
<h4 id="240">2.2.2. Creating an order characteristic</h4>
<div class="paragraph">
<p>First create all of the necessary order characteristics.
For example, the gold trim and the diamond trim.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new order characteristic:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Carry out the settings as follows:</p>
<div class="ulist">
<ul>
<li>
<p>Use the options <strong>Name (internal)</strong> and <strong>Webshop</strong> to save a back end and front end name for the characteristic.</p>
</li>
<li>
<p>Choose the <strong>Characteristic group</strong> into which you want to sort this characteristic.</p>
</li>
<li>
<p>Select <strong>No</strong> as the <strong>Characteristic type</strong>.</p>
</li>
<li>
<p>Enter a value if a <strong>surcharge</strong> is to be added for the characteristic.</p>
</li>
<li>
<p>Where should the characteristic be displayed? Use the <strong>Show</strong> option to select all of the appropriate areas (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Select the <strong>Order characteristic</strong> option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Learn more about characteristics</div>
<div class="paragraph">
<p>Further information about the individual options can be found <a href="/en/item/settings/properties#300">here</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/options-characteristic.png" alt="options characteristic">
</div>
</div>
</div>
<div class="sect3">
<h4 id="260">2.2.3. Linking an order characteristic to items</h4>
<div class="paragraph">
<p>Next, link the order characteristic with all of the appropriate items.</p>
</div>
<div class="paragraph instruction">
<p>Linking a characteristic with an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the item.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab. The screen is divided into two areas:</p>
<div class="ulist">
<ul>
<li>
<p>Characteristics that have already been linked to the item are displayed in the upper area called <strong>Characteristics</strong>,</p>
</li>
<li>
<p>Characteristics that have not yet been linked are displayed in the lower area called <strong>Activate further characteristics</strong>. Here, the characteristics are sorted into their groups.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Expand the characteristic group in the lower area if needed (<span class="icon grey"><i class="fa fa-plus-square-o  "></i></span>) and select the characteristic (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.<br>
→ The characteristic is now linked to the item and displayed in the upper area.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Item-specific surcharge</div>
<div class="paragraph">
<p>You might have already saved a surcharge <a href="/en/item/use-cases/personalised-items#240">while creating the characteristic</a>.
But what should you do if not every item should be given the same surcharge?
Once you’ve linked the characteristic to an item, you can enter an item-specific surcharge, which overwrites the surcharge that was saved for the characteristic as a whole.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="280">2.2.4. Checking the result</h4>
<div class="paragraph">
<p>Open the item in your plentyShop and make sure the settings match your needs.
Modify the settings further as needed.</p>
</div>
<div class="paragraph">
<p>Use the widget <a href="/en/online-store/shop-builder#_order_properties">Order properties</a> to display order characteristics in the plentyShop.
In the widget settings, you can control e.g. the colour and spacing of the order characteristics.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/use-cases/assets/options-webshop.png" alt="options webshop">
</div>
</div>
</div>
</div>
</div>
</div>
</main>