<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Attribute manuell erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>1.1.</span><span> Tab: Grundeinstellungen</span></a></li>
<li><a href="#140"><span>1.2.</span><span> Tab: Name</span></a></li>
<li><a href="#200"><span>1.3.</span><span> Tab: Werte</span></a></li>
<li><a href="#500"><span>1.4.</span><span> Tab: Attributverknüpfung</span></a></li>
</ul>
</li>
<li><a href="#160"><span>2.</span><span> Attribute per Import erstellen</span></a></li>
<li><a href="#300"><span>3.</span><span> Varianten erzeugen</span></a></li>
<li><a href="#180"><span>4.</span><span> Anwendungsfälle</span></a>
<ul class="sectlevel4">
<li><a href="#600"><span>Bilder</span></a></li>
<li><a href="#220"><span>Marktplätze</span></a></li>
<li><a href="#1000"><span>Mehrsprachigkeit</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>5.</span><span> Attribute löschen</span></a></li>
<li><a href="#280"><span>6.</span><span> Fragen und Antworten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Attribute</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Manche Artikel, wie Schuhe und T-Shirts, werden in verschiedenen Größen und Farben verkauft.
Solche Charakteristiken werden in plentymarkets als Attribute bezeichnet.
Mit Hilfe von Attributen kannst du deine Produkte charakterisieren und gleichzeitig auch <a href="/artikel/einleitung/struktur">verkaufbare Varianten</a> erzeugen, wie z.B. das T-Shirt in der Farbe rot und in Größe S.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/265389643#t=0m54s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Attribute manuell erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lege zunächst Attribute wie Farbe oder Größe an.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neues Attribut</strong>.</p>
</li>
<li>
<p>Gib einen internen Namen ein.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="psicon-save"></i></span> <strong>Speichern</strong>.<br>
→ Das Attribut wird erstellt und das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen in allen Tabs vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="120">1.1. Tab: Grundeinstellungen</h3>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (intern)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eindeutiger Name für das Attribut. Der interne Name wird nur im plentymarkets Backend geführt und ist nicht im plentyShop sichtbar. Der interne Name darf nur einmal pro System vergeben werden. Folgende Zeichen dürfen nicht für den internen Namen verwendet werden, da sonst Fehler beim Datenaustausch auftreten:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Komma</p>
</li>
<li>
<p>Doppelpunkt</p>
</li>
<li>
<p>Semikolon</p>
</li>
<li>
<p>Anführungszeichen</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches Attribut soll im plentyShop als erstes, zweites, drittes, usw. angezeigt werden?
Gib eine Positionsnummer in dieses Feld ein.
Wenn ein Artikel mehrere Attribute hat, werden die Attribute aufsteigend nach Positionsnummern dargestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-bild-link-erlauben">Bildverknüpfung möglich</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), zum Beispiel, wenn sich das Artikelbild automatisch auf eBay ändern soll, je nachdem, welche Farbe dein Kunde gewählt hat.
Wähle also diese Option, wenn die passenden Bilder automatisch eingeblendet werden sollen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Obwohl eine Variante mit mehreren Attributen verknüpft werden kann, ist die Bildverknüpfung nur für ein Attribut pro Variante möglich.</p>
</div>
<div class="paragraph">
<p><strong><em>Zusätzliche Einstellungen</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#94">Verknüpfe deine Varianten mit den passenden Bildern</a>.</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#intable-availability">Stelle sicher, dass du diese Bilder für den Marktplatz verfügbar gemacht hast</a>.</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#intable-market-attribute-link">Verknüpfe die Variantenbilder mit Marktplatzattributen</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Schritte werden <a href="/artikel/einstellungen/attribute#900">in einem separaten Kapitel</a> näher beschrieben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-attribut-auswahl">Attribut-Auswahl im Webshop</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie sollen Kunden Größen oder Farben in deinem plentyShop wählen? Sollen sie den Namen aus einer Dropdown-Liste wählen oder auf eine Bildkachel klicken?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Per Dropdown</strong> = Attributnamen werden in einer Dropdown-Liste angezeigt.</p>
</li>
<li>
<p><strong>Per Bild</strong> = Attribute werden als <a href="/artikel/einstellungen/attribute#700">Bildkacheln im plentyShop</a> angezeigt.</p>
</li>
<li>
<p><strong>Per Box</strong> = Attribute werden als Boxen mit Attributwerten im plentyShop angezeigt.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppierbar in Artikellisten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen Varianten, die dieses Attribut haben, einzeln oder kumuliert im plentyShop dargestellt werden?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Häkchen</strong> = Jede Variante wird als einzelnes Produkt im plentyShop dargestellt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: du verkaufst ein Schuh mit 2 Attributen, Farbe und Größe. Du möchtest jede Farbe des Schuhs als einzelnes Produkt im plentyShop darstellen, aber nicht jede Größe. In diesem Fall setzt du ein Häkchen beim Attribut "Farbe" und kein Häkchen beim Attribut "Größe".<br>
In der Kategorieansicht deines plentyShops wird nun jede Farbvariante als einzelnes Produkt dargestellt. Klickt man auf eine dieser Farbvarianten, öffnet sich die Artikelansicht. Hier wird eine Dropdown-Liste angezeigt, aus der die gewünschte Schuhgröße gewählt werden kann.</p>
</div>
<div class="paragraph">
<p><strong><em>Wechselwirkungen</em></strong>: Prüfe deine Einstellungen zur <a href="/webshop/ceres-einrichten#90">Artikel- und Kategorieansicht des Ceres Plugins</a>. Die Option <strong>Varianten nach Typ anzeigen</strong> steht in Wechselwirkung mit der Option <strong>Gruppierbar in Artikellisten</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="140">1.2. Tab: Name</h3>
<div class="paragraph">
<p>Gib einen Namen für das Attribut ein (z.B. "Farbe" oder "Größe").
Dieser Name wird in deinem plentyShop sichtbar sein.
Wenn dein Shop in mehreren Sprachen verfügbar ist, kannst du hier auch Übersetzungen des Namens eingeben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Der Attributname kann im plentyShop z.B. in einer Dropdown-Liste angezeigt werden.
Gib eine möglichst kurze Bezeichnung ein, da der Platz begrenzt ist.
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/attribute-auswahl-plentyshop.png" alt="attribute auswahl plentyshop">
</div>
</div>
</div>
<div class="sect2">
<h3 id="200">1.3. Tab: Werte</h3>
<div class="paragraph">
<p>Lege Attributwerte wie Rot, Blau, Grün oder S, M, L, XL an.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute » [Attribut öffnen] » Tab: Werte</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neuer Wert</strong>.</p>
</li>
<li>
<p>Gib einen internen Namen ein.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="psicon-save"></i></span> <strong>Speichern</strong>.<br>
→ Der Attributwert erhält eine ID und wird im Tab <strong>Werte</strong> angezeigt.</p>
</li>
<li>
<p>Nimm weitere Einstellungen in diesem Tab vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die ID wird automatisch vergeben und kann nicht geändert werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie sollen Kunden Größen oder Farben in deinem plentyShop wählen?
Sollen sie den Namen aus einer Dropdown-Liste wählen oder auf eine Bildkachel klicken?
Lade hier ein Bild hoch (<span class="icon purple"><i class="psicon-upload"></i></span>), wenn du den Attributwert grafisch darstellen möchtest.</p>
</div>
<div class="paragraph">
<p><strong><em>Zusätzliche Einstellungen</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Lege auch in den Grundeinstellungen fest, dass dieses Attribut mit Bildern ausgewählt werden soll.</p>
</li>
<li>
<p>Optional auch die maximale Bildgröße angeben.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Schritte werden <a href="/artikel/einstellungen/attribute#700">in einem separaten Kapitel</a> näher beschrieben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welcher Attributwert soll im plentyShop als erster, zweiter, dritter, usw. angezeigt werden?
Gib eine Positionsnummer in dieses Feld ein.
Die Attributwerte werden aufsteigend nach Positionsnummern dargestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Namen für den Attributwert ein (z.B. "Rot", "Blau" oder "Grün").
Dieser Name wird in deinem plentyShop sichtbar sein.</p>
</div>
<div class="paragraph">
<p><strong><em>Mehrsprachigkeit</em></strong>:
Wenn dein Shop in mehreren Sprachen verfügbar ist, kannst du hier auch Übersetzungen des Namens eingeben.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle im Kopfbereich eine Sprache aus der Dropdown-Liste <strong>Sprache anzeigen</strong>.<br>
→ Es ändert sich ausschließlich der in der Spalte <strong>Name</strong> eingegebene Text.</p>
</li>
<li>
<p>Gib in der Spalte <strong>Name</strong> die Attributwerte in der Fremdsprache ein.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/attributwerte-namen-uebersetzung.png" alt="attributwerte namen uebersetzung">
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (intern)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eindeutiger Name für den Attributwert. Der interne Name wird nur im plentymarkets Backend geführt und ist nicht im plentyShop sichtbar. Der interne Name darf nur einmal pro Attribut vergeben werden. Folgende Zeichen dürfen nicht für den internen Namen verwendet werden, da sonst Fehler beim Datenaustausch auftreten:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Komma</p>
</li>
<li>
<p>Doppelpunkt</p>
</li>
<li>
<p>Semikolon</p>
</li>
<li>
<p>Anführungszeichen</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bemerkung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine optional Bemerkung zu dem Attributwert ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prozentualer Anteil</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib Prozentwerte für die automatische Mengenverteilung von Attributwerten ein.
Bei Nachbestellungen werden die Mengen der Attributwerte automatisch auf die Gesamtmenge verteilt.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Die automatische Mengenverteilung funktioniert nur, wenn der Artikel genau 2 Attributwerte hat.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">1.4. Tab: Attributverknüpfung</h3>
<div class="paragraph">
<p>Einige Märkte, wie z.B. <a href="/maerkte/amazon/varianten-vorbereiten#1350">Amazon</a> und <a href="/maerkte/ebay/ebay-einrichten#6100">eBay</a>, verlangen, dass du <em>deine eigenen</em> Attributwerte mit <em>ihren Attributwerten</em> verknüpfst.
Stell dir zum Beispiel vor, du verkaufst ein türkisfarbenes T-Shirt. Der Markt, auf dem du es verkaufen willst, akzeptiert jedoch nur grün und blau. Verknüpfe deine eigenen Attributwerte mit denen auf dem anderen Markt, um sicherzustellen, dass deine Artikel korrekt angezeigt werden.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/199993489#t=5m58s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zusätzliche Einstellungen</div>
<div class="paragraph">
<p>Soll sich das Artikelbild z.B. auf eBay ändern, je nachdem, welche Größe oder Farbe dein Kunde gewählt hat?
Einige Märkte, wie z.B. eBay, verlangen, dass du dafür zusätzlich deine <a href="/artikel/einstellungen/attribute#900">Variantenbilder mit den passenden Attributwerten verknüpfst</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="160">2. Attribute per Import erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets enthält ein <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a>, mit dem du Attribute importieren kannst.
Die Idee ist ganz einfach.
Anstatt Attributdaten manuell in plentymarkets zu speichern, trägst du die gleiche Informationen in eine CSV-Datei ein und importierst diese Datei dann in dein System.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Erstelle Attribute (wie Farbe und Größe) und Attributwerte (wie Blau, Rot, Grün und S, M, L).
Verwende dazu den Import-Typ <a href="/daten/daten-importieren/sync-typen/elasticSync-attribute">Attribute</a>.</p>
</li>
<li>
<p>Erzeuge Varianten mit Hilfe der Attribute.
Verwende dazu den Import-Typ <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2380">Artikel</a>.
Siehe anhand eines <a href="/artikel/import-export-anlage/import">praktischen Beispiels mit Video</a>, wie Varianten erzeugt werden.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Attribute können auch exportiert werden</div>
<div class="ulist">
<ul>
<li>
<p>Verwende den Formattyp <a href="/daten/daten-exportieren/FormatDesigner/format-typen/attribute">Attribute</a>, um Informationen zu den Attributen und Attributwerten zu exportieren.</p>
</li>
<li>
<p>Verwende den Formattyp <a href="/daten/daten-exportieren/FormatDesigner/format-typen/artikel#900">Artikel / VariationAttributeValues</a>, um zu sehen, welche Attributwerte mit einer bestimmten Variante verknüpft sind.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Varianten erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die erste Variante eines Artikels wird als <em>Hauptvariante</em> bezeichnet.
Hat ein Artikel mehrere Varianten, kann die Hauptvariante entweder selbst ein verkaufbares Produkt sein oder rein virtuell bestehen, um die weiteren Untervarianten des Artikels anhand von <a href="/artikel/einleitung/vererbung">Vererbung</a> zu verwalten.
Wie genau du vorgehen wirst, hängt davon ab, ob die Hauptvariante verkaufbar ist oder nicht.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="hauptvariante-ist--em-nicht--em--verkaufbar-tab" data-toggle="tab" href="#hauptvariante-ist--em-nicht--em--verkaufbar" role="tab" aria-controls="hauptvariante-ist--em-nicht--em--verkaufbar" aria-selected="true">Hauptvariante ist <em>nicht</em> verkaufbar</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="hauptvariante-ist-verkaufbar-tab" data-toggle="tab" href="#hauptvariante-ist-verkaufbar" role="tab" aria-controls="hauptvariante-ist-verkaufbar" aria-selected="false">Hauptvariante ist verkaufbar</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="hauptvariante-ist--em-nicht--em--verkaufbar" role="tabpanel" aria-labelledby="hauptvariante-ist--em-nicht--em--verkaufbar-tab">
<div class="paragraph">
<p>Stell dir vor, du verkaufst ein T-Shirt in den Größen S, M, L und XL.
Die Hauptvariante steht nicht zum Verkauf und entspricht auch keiner dieser Größen.
Die Hauptvariante ist lediglich ein Datencontainer zur Verwaltung von Preisen, Kategorien und anderen Produkteinstellungen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/artikel/import-export-anlage/anlage/neue-artikel#200">Erstelle zuerst den Artikel</a>, ohne Attribute auszuwählen.
Dadurch wird die Hauptvariante ohne Attribute angelegt.</p>
</li>
<li>
<p>Wähle dann die Attribute aus, während du <a href="/artikel/import-export-anlage/anlage/neue-artikel#400">die benötigten Varianten erstellst</a>.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="hauptvariante-ist-verkaufbar" role="tabpanel" aria-labelledby="hauptvariante-ist-verkaufbar-tab">
<div class="paragraph">
<p>Stell dir vor, du verkaufst ein T-Shirt in den Größen S, M, L und XL.
Die Hauptvariante steht zum Verkauf und entspricht einer dieser Größen, z.B. S.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/artikel/import-export-anlage/anlage/neue-artikel#200">Erstelle zuerst den Artikel</a> und wähle dabei den passenden Attributwert aus, z.B. die Größe S.
Die Hauptvariante wird mit diesem Attributwert angelegt.</p>
</li>
<li>
<p>Wähle dann die restlichen Attribute aus, während du <a href="/artikel/import-export-anlage/anlage/neue-artikel#400">die weiteren Varianten erstellst</a>.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="180">4. Anwendungsfälle</h2>
<div class="sectionbody">
<div class="sect4">
<h5 id="600">Bilder</h5>
<div id="800" class="openblock collapseBox">
<div class="title"><strong>Das Bild soll sich im plentyShop ändern, je nachdem, welche Farbe der Kunde wählt</strong></div>
<div class="content">
<div class="paragraph">
<p>Soll sich das Artikelbild im plentyShop ändern, je nachdem, welche Größe oder Farbe dein Kunde wählt?
Gehe wie folgt vor, wenn die passenden Bilder automatisch eingeblendet werden sollen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/attribute-varianten-bilder-plentyshop.png" alt="attribute varianten bilder plentyshop">
</div>
</div>
<div class="paragraph instruction">
<p>Varianten mit den passenden Bilder verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Bilder</strong>.</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#90">Lade die benötigten Bilder hoch</a>.</p>
</li>
<li>
<p>Wähle die Bilder (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die du verknüpfen möchtest.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Variantenverknüpfung</strong>.<br>
→ Es öffnet sich ein Pop-up-Fenster.</p>
</li>
<li>
<p>Verwende bei Bedarf die Filter links, um bestimmte Varianten zu finden.</p>
</li>
<li>
<p>Wähle die Varianten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die du mit den gewählten Bildern verknüpfen möchtest.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Verknüpfen</strong>.<br>
→ Die Bilder werden mit den gewählten Varianten verknüpft.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Wählt ein Kunde die Variante im plentyShop, sieht er automatisch das passende Artikelbild.</p>
</li>
</ol>
</div>
</div>
</div>
<div id="700" class="openblock collapseBox">
<div class="title"><strong>Ich will die Attributwerte grafisch darstellen</strong></div>
<div class="content">
<div class="paragraph">
<p>Wie sollen Kunden Größen oder Farben in deinem plentyShop wählen?
Sollen sie den Namen aus einer Dropdown-Liste wählen oder auf eine Bildkachel klicken?
Führe die folgenden drei Schritte aus, wenn deine Attributwerte als Bilder angezeigt werden sollen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/attributauswahl-per-bild.png" alt="attributauswahl per bild">
</div>
</div>
<h4 id="_schritt_1_bilder_für_attributwerte_hochladen" class="discrete">Schritt 1: Bilder für Attributwerte hochladen</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute » [Attribut öffnen] » Tab: Werte</strong>.</p>
</li>
<li>
<p>Klicke in der Spalte <strong>Bild</strong> auf <strong>Bild hochladen</strong> (<span class="icon purple"><i class="psicon-upload"></i></span>).</p>
</li>
<li>
<p>Wähle das Bild von dem Speicherort deines Rechners aus.<br>
→ Das Bild wird hochgeladen und eine Vorschau wird angezeigt.</p>
</li>
<li>
<p>Wiederhole die Schritte, um Bilder für andere Attributwerte hochzuladen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<h4 id="_schritt_2_aussehen_im_plentyshop_von_text_zu_bild_ändern" class="discrete">Schritt 2: Aussehen im plentyShop von Text zu Bild ändern</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute » [Attribut öffnen] » Tab: Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Attributauswahl im Webshop</strong> die Option <strong>Per Bild</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<h4 id="_schritt_3_größe_der_attributbilder_ändern" class="discrete">Schritt 3: Größe der Attributbilder ändern</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Bilder » Einstellungen</strong>.</p>
</li>
<li>
<p>Gib im Bereich <strong>Attributbilder</strong> die maximale Höhe und Breite für die Bilder ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect4">
<h5 id="220">Marktplätze</h5>
<div id="240" class="openblock collapseBox">
<div class="title"><strong>Ich will meine eigenen Attributwerte mit den Werten eines Marktplatzes verknüpfen</strong></div>
<div class="content">
<div class="paragraph">
<p>Einige Märkte, wie z.B. <a href="/maerkte/amazon/varianten-vorbereiten#1350">Amazon</a> und <a href="/maerkte/ebay/ebay-einrichten#6100">eBay</a>, verlangen, dass du <em>deine eigenen</em> Attributwerte mit <em>ihren Attributwerten</em> verknüpfst.
Stell dir zum Beispiel vor, du verkaufst ein türkisfarbenes T-Shirt. Der Markt, auf dem du es verkaufen willst, akzeptiert jedoch nur grün und blau. Verknüpfe deine eigenen Attributwerte mit denen auf dem anderen Markt, um sicherzustellen, dass deine Artikel korrekt angezeigt werden.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/199993489#t=5m58s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
<div id="900" class="openblock collapseBox">
<div class="title"><strong>Das Bild soll sich auf einem Marktplatz ändern, je nachdem, welche Farbe der Kunde wählt</strong></div>
<div class="content">
<div class="paragraph">
<p>Soll sich das Artikelbild z.B. auf eBay ändern, je nachdem, welche Größe oder Farbe dein Kunde gewählt hat?
Einige Märkte, wie z.B. eBay, verlangen nicht nur, dass du deine <a href="/artikel/einstellungen/attribute#500">Attribute mit dem Marktplatz verknüpfst</a>, sondern auch, dass du deine Variantenbilder mit den passenden Attributwerten verknüpfst.</p>
</div>
<h4 id="_voraussetzungen" class="discrete">Voraussetzungen</h4>
<div class="ulist">
<ul>
<li>
<p>Hast du deine <a href="/artikel/artikel-verwalten#94">Varianten bereits mit den entsprechenden Bildern verknüpft</a>?</p>
</li>
<li>
<p>Hast du diese <a href="/artikel/artikel-verwalten#intable-availability">Bilder für den Marktplatz verfügbar gemacht</a>?</p>
</li>
<li>
<p>Hast du <a href="/artikel/einstellungen/attribute#intable-bild-link-erlauben">Bildverknüpfungen in den Grundeinstellungen zugelassen</a>?</p>
</li>
</ul>
</div>
<h4 id="_anleitung" class="discrete">Anleitung</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Bilder</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Marktplatzattributverknüpfung</strong> den passenden Attributwert für das Artikelbild.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Wählt ein Kunde die Variante z.B. auf eBay, sieht er das passende Artikelbild.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Die Option <strong>Marktplatzattributverknüpfung</strong> ist nur sichtbar, wenn alle oben genannten Voraussetzungen erfüllt sind.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
<div class="sect4">
<h5 id="1000">Mehrsprachigkeit</h5>
<div id="260" class="openblock collapseBox">
<div class="title"><strong>Mein plentyShop in mehreren Sprachen verfügbar. Was muss ich tun?</strong></div>
<div class="content">
<div class="paragraph">
<p>Übersetze die Namen deiner Attribute und Attributwerte in alle von dir benötigten Sprachen.</p>
</div>
<h4 id="_schritt_1_attribute_übersetzen" class="discrete">Schritt 1: Attribute übersetzen</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute » [Attribut öffnen] » Tab: Name</strong>.</p>
</li>
<li>
<p>Gib den Namen in beliebig vielen Sprachen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Der Attributname kann im plentyShop z.B. in einer Dropdown-Liste angezeigt werden.
Gib eine möglichst kurze Bezeichnung ein, da der Platz begrenzt ist.
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/attribute-auswahl-plentyshop.png" alt="attribute auswahl plentyshop">
</div>
</div>
<h4 id="_schritt_2_attributwerte_übersetzen" class="discrete">Schritt 2: Attributwerte übersetzen</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute » [Attribut öffnen] » Tab: Werte</strong>.</p>
</li>
<li>
<p>Wähle im Kopfbereich eine Sprache aus der Dropdown-Liste <strong>Sprache anzeigen</strong>.<br>
→ Es ändert sich ausschließlich der in der Spalte <strong>Name</strong> eingegebene Text.</p>
</li>
<li>
<p>Gib in der Spalte <strong>Name</strong> die Attributwerte in der Fremdsprache ein.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/attributwerte-namen-uebersetzung.png" alt="attributwerte namen uebersetzung">
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">5. Attribute löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor ein Attribut gelöscht werden kann, müssen alle mit dem Attribut verknüpften Varianten gelöscht werden.
Die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#300">Varianten-Gruppenfunktion</a> ist ein nützliches Werkzeug dafür.</p>
</div>
<div class="paragraph instruction">
<p>Mit einem Attribut verknüpfte Varianten löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Stelle die Filter links wie folgt ein:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Setze links den Filter <a href="/artikel/einleitung/suche#intable-tabellentyp">Tabellentyp</a> auf <strong>Varianten</strong>.</p>
</li>
<li>
<p>Setze links den Filter <a href="/artikel/einleitung/suche#intable-aktiv">Aktiv</a> auf <strong>ALLE</strong>.</p>
</li>
<li>
<p>Wähle im Filter <a href="/artikel/einleitung/suche#intable-alle">ALLE</a> das Attribut aus der Dropdown-Liste.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Alle Varianten mit dem Attribut werden angezeigt.</p>
</li>
<li>
<p>Wähle alle Varianten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Varianten-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Varianten-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Aktionen</strong> die Option <strong>Varianten löschen</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>.<br>
→ Die Varianten werden gelöscht.<br>
→ Das Attribut kann nun gelöscht werden.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Attribut löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Attributs auf <strong>Löschen</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>).<br>
→ Ein neues Fenster wird geöffnet.</p>
</li>
<li>
<p>Klicke erneut auf <strong>Löschen</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>), um deine Entscheidung zu bestätigen.<br>
→ Das Attribut wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="280">6. Fragen und Antworten</h2>
<div class="sectionbody">
<div id="320" class="openblock collapseBox">
<div class="title"><strong>Merkmale, Eigenschaften und Attribute: Was ist der Unterschied?</strong></div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/attribute">Attribute</a> sind zum Beispiel die verschiedene Farben und Größen, in denen deine Produkte erhältlich sind.
Mit Hilfe von Attributen kannst du deine Produkte charakterisieren und gleichzeitig auch verkaufbare Varianten erzeugen, wie z.B. ein T-Shirt in der Farbe rot und in Größe S.</p>
</li>
<li>
<p>Merkmale und Eigenschaften charakterisieren Produkte, <em>ohne</em> dabei verkaufbare Varianten zu erzeugen:</p>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/eigenschaften#100">Merkmale</a> charakterisieren <em>ganze Artikel</em>.
Ist also ein Artikel z.B. in rot, blau oder grün erhältlich, dann gilt das Merkmal für alle drei Varianten.
Merkmale sind wenig flexibel, veraltet und werden schrittweise durch Eigenschaften ersetzt.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a> charakterisieren <em>spezifische Varianten</em>.
Ist also ein Artikel z.B. in rot, blau oder grün erhältlich, dann kann die Eigenschaft für eine, zwei oder alle drei der Varianten gelten.
Eigenschaften bieten daher mehr Flexibilität.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
<div id="340" class="openblock collapseBox">
<div class="title"><strong>Meine Attribute lassen sich nicht löschen. Warum nicht?</strong></div>
<div class="content">
<div class="paragraph">
<p>Bevor ein Attribut gelöscht werden kann, müssen alle mit dem Attribut verknüpften Varianten gelöscht werden.
Du kannst bequem nach allen Varianten filtern, die mit einem Attribut verknüpft sind, und sie gesammelt löschen.
<a href="/artikel/einstellungen/attribute#1100">Weitere Informationen und eine Schritt-für-Schritt-Anleitung</a>.</p>
</div>
</div>
</div>
<div id="360" class="openblock collapseBox">
<div class="title"><strong>Ich sehe die Option "Marktplatzattributverknüpfung" nicht. Wo ist sie?</strong></div>
<div class="content">
<h4 id="_voraussetzungen_2" class="discrete">Voraussetzungen</h4>
<div class="ulist">
<ul>
<li>
<p>Hast du deine <a href="/artikel/artikel-verwalten#94">Varianten bereits mit den entsprechenden Bildern verknüpft</a>?</p>
</li>
<li>
<p>Hast du diese <a href="/artikel/artikel-verwalten#intable-availability">Bilder für den Marktplatz verfügbar gemacht</a>?</p>
</li>
<li>
<p>Hast du <a href="/artikel/einstellungen/attribute#intable-bild-link-erlauben">Bildverknüpfungen in den Grundeinstellungen zugelassen</a>?</p>
</li>
</ul>
</div>
<h4 id="_anleitung_2" class="discrete">Anleitung</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Bilder</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Marktplatzattributverknüpfung</strong> den passenden Attributwert für das Artikelbild.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Wählt ein Kunde die Variante z.B. auf eBay, sieht er das passende Artikelbild.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Die Option <strong>Marktplatzattributverknüpfung</strong> ist nur sichtbar, wenn alle oben genannten Voraussetzungen erfüllt sind.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div id="380" class="openblock collapseBox">
<div class="title"><strong>Ich habe versehentlich meine Attribute gelöscht. Kann ich sie wiederherstellen?</strong></div>
<div class="content">
<div class="paragraph">
<p>Ja.
Du kannst dein System jederzeit auf den Stand eines beliebigen Backups zurücksetzen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wähle in den Einstellungen zum Datenbank-Backup den Bereich <strong>ItemAttribute</strong>.
Dies stellt die Attribute und Attributwerte im Menü <strong>Einrichtung » Artikel » Attribute</strong> wieder her.
Die Attribute werden dabei nicht mit den einzelnen Varianten verknüpft.</p>
</li>
<li>
<p>Wähle in den Einstellungen zum Datenbank-Backup den Bereich <strong>ItemVariation</strong>, um die Verknüpfungen zusammen mit weiteren Variantendaten wiederherzustellen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><a href="/daten/backup#_backup_einspielen">Weitere Informationen und eine Schritt-für-Schritt-Anleitung</a>.</p>
</div>
</div>
</div>
<div id="420" class="openblock collapseBox">
<div class="title"><strong>Kann ich meine Varianten nachträglich mit Attributen versehen?</strong></div>
<div class="content">
<div class="paragraph">
<p>Nachträglich kannst du am Artikel keine neuen Attribute verknüpfen, sobald bereits welche hinterlegt sind.
Du kannst nur den bestehenden Attributen neue Werte hinzufügen.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>:
Stell dir vor, du verkaufst ein T-Shirt mit den Attributen Größe und Farbe.
Konkret ist das T-Shirt in den Varianten "Rot/S", "Rot/L", "Blau/S" und "Blau/L" erhältlich.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Was jetzt möglich ist</em></strong>:
Du könntest neue Farb- und Größenvarianten hinzufügen.
Beispielsweise könntest du die Varianten "Grün/S" und "Grün/L" hinzufügen.</p>
</li>
<li>
<p><strong><em>Was nicht möglich ist</em></strong>:
Du kannst keine neue Attribute ins Spiel bringen.
Beispielsweise kannst du das Attribut "Material" nicht nachträglich hinzufügen.
In diesem Fall empfehlen wir dir, einen neuen Artikel anzulegen, damit es keine Probleme mit offenen Bestellungen und vorhandenen Beständen gibt.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>