<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Struktur festlegen</span></a></li>
<li><a href="#200"><span>2.</span><span> Kategorien erstellen und bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>2.1.</span><span> Symbolleiste</span></a></li>
<li><a href="#700"><span>2.2.</span><span> Tab: Einstellungen</span></a></li>
<li><a href="#800"><span>2.3.</span><span> Tab: Beschreibung 1 und 2</span></a></li>
<li><a href="#850"><span>2.4.</span><span> Tab: Template</span></a></li>
<li><a href="#900"><span>2.5.</span><span> Tab: Dokumente</span></a></li>
<li><a href="#1000"><span>2.6.</span><span> Tab: Notiz</span></a></li>
<li><a href="#1100"><span>2.7.</span><span> Kontextmenü</span></a></li>
</ul>
</li>
<li><a href="#1270"><span>3.</span><span> Kategorien im Backend suchen</span></a></li>
<li><a href="#1300"><span>4.</span><span> Artikel in Kategorien einsortieren</span></a></li>
<li><a href="#1400"><span>5.</span><span> Kategorien im plentyShop veröffentlichen</span></a>
<ul class="sectlevel2">
<li><a href="#1410"><span>5.1.</span><span> Ist der richtige Mandant mit der Kategorie verknüpft?</span></a></li>
<li><a href="#1420"><span>5.2.</span><span> Sind die Einstellungen für die Linkliste korrekt?</span></a></li>
<li><a href="#1430"><span>5.3.</span><span> Ist eine Variante mit der Kategorie verknüpft?</span></a></li>
<li><a href="#1440"><span>5.4.</span><span> Hast du die Kategorietexte für jeden Mandanten gespeichert?</span></a></li>
<li><a href="#1460"><span>5.5.</span><span> Könnte es am Cache liegen?</span></a></li>
<li><a href="#1470"><span>5.6.</span><span> Hinweise nur für ältere Systeme</span></a></li>
</ul>
</li>
<li><a href="#1490"><span>6.</span><span> Weitere Anwendungsfälle</span></a>
<ul class="sectlevel2">
<li><a href="#1500"><span>6.1.</span><span> Kategorien in weitere Sprachen übersetzen</span></a></li>
<li><a href="#1530"><span>6.2.</span><span> Kategorierabatte speichern</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kategorien</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Kategorien helfen dir Produkte übersichtlich zu gruppieren.
Wie willst du deine Artikel im plentyShop strukturieren?
Welche Warengruppen passen zu deinem Produktkatalog?</p>
</div>
<h3 id="_ablauf" class="discrete">Ablauf</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/kategorien#100">Entwerfe eine Kategoriestruktur</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien#200">Erstelle die nötigen Kategorien und Unterkategorien</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien#1300">Sortiere deine Produkte in diese Kategorien ein</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien#1400">Veröffentliche deine Artikel und Kategorien im plentyShop</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Struktur festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Überlege dir, welche Kategorien und Unterkategorien für deine Produkte sinnvoll sind.
Wie finden deine Kunden sich am besten im plentyShop zurecht?
Eine Baumstruktur zu skizzieren kann dir helfen, deine Produkte sinnvoll zu gruppieren.
<a href="#table-category-structures-examples">Tabelle 1</a> zeigt zwei stark vereinfachte Beispiele für Kategoriestrukturen.</p>
</div>
<table id="table-category-structures-examples" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Beispiele für Kategoriestrukturen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Beispielstruktur 1</th>
<th class="tableblock halign-left valign-top">Beispielstruktur 2</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Damen</p>
<div class="ulist">
<ul>
<li>
<p>Schuhe</p>
</li>
<li>
<p>Accessoires</p>
</li>
<li>
<p>Bekleidung</p>
</li>
</ul>
</div>
</li>
<li>
<p>Herren</p>
<div class="ulist">
<ul>
<li>
<p>Schuhe</p>
</li>
<li>
<p>Accessoires</p>
</li>
<li>
<p>Bekleidung</p>
</li>
</ul>
</div>
</li>
<li>
<p>Kinder</p>
<div class="ulist">
<ul>
<li>
<p>Schuhe</p>
</li>
<li>
<p>Accessoires</p>
</li>
<li>
<p>Bekleidung</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Schuhe</p>
<div class="ulist">
<ul>
<li>
<p>Damen</p>
</li>
<li>
<p>Herren</p>
</li>
<li>
<p>Kinder</p>
</li>
</ul>
</div>
</li>
<li>
<p>Accessoires</p>
<div class="ulist">
<ul>
<li>
<p>Damen</p>
</li>
<li>
<p>Herren</p>
</li>
<li>
<p>Kinder</p>
</li>
</ul>
</div>
</li>
<li>
<p>Bekleidung</p>
<div class="ulist">
<ul>
<li>
<p>Damen</p>
</li>
<li>
<p>Herren</p>
</li>
<li>
<p>Kinder</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tiefe bedenken</div>
<div class="paragraph">
<p>Wie viele Kategorien können auf der ersten Ebene sein, ohne deine Kunden zu überfordern?
Ab welcher Tiefe werden deine Kategorien nicht mehr besucht?
Als <a href="/webshop/shop-builder#_kategorie_navigation">Teil der Webshop-Einrichtung</a> entscheidest du, wie viele Kategorieebenen in der Kopfleiste deines plentyShops angezeigt werden sollen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Hinweise nur für ältere Systeme</strong></div>
<div class="content">
<div class="paragraph">
<p>Wenn du ein älteres System hast, dann kannst du festlegen, wie viele Kategorieebenen grundsätzlich funktionieren sollen. Wenn du z.B. 4 Ebenen wählst, können keine Kategorien auf der 5. Ebene erstellt werden. Speichere diese Einstellung für jeden deiner Mandanten (Shops). Diese Einstellung gilt für den gesamten Kategoriebaum, also für alle Kategorietypen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Diese Einstellung betrifft nur ältere Systeme. Bei neuen Systemen ist diese Einstellung obsolet und wird nicht mehr angezeigt. Wir empfehlen dir zu prüfen, ob du diese Einstellung in deinem System hast. Falls ja, konfiguriere die Einstellung.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kategorieebenen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Falls vorhanden, öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Kategorien » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle die maximal mögliche Ebenentiefe in der Kategorienavigation.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Kategorien erstellen und bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hast du dir schon einen <a href="/artikel/einstellungen/kategorien#100">sinnvollen Kategoriestruktur</a> überlegt? Dann bist du jetzt bereit, die Haupt- und Unterkategorien zu erstellen, die deine Produkte gruppieren werden.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manuelle-vorgehensweise-tab" data-toggle="tab" href="#manuelle-vorgehensweise" role="tab" aria-controls="manuelle-vorgehensweise" aria-selected="true">Manuelle Vorgehensweise</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="daten-import-tab" data-toggle="tab" href="#daten-import" role="tab" aria-controls="daten-import" aria-selected="false">Daten-Import</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plentyshop-und-shopbuilder-tab" data-toggle="tab" href="#plentyshop-und-shopbuilder" role="tab" aria-controls="plentyshop-und-shopbuilder" aria-selected="false">plentyShop und ShopBuilder</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manuelle-vorgehensweise" role="tabpanel" aria-labelledby="manuelle-vorgehensweise-tab">
<div class="paragraph">
<p>Wenn du <em>nur wenige Kategorien</em> anlegen oder bearbeiten willst, empfiehlt sich die manuelle Vorgehensweise.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke links unten auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für die Kategorie ein.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="psicon-save"></i></span> <strong>Erstellen</strong>.<br>
→ Die Kategorie wird erstellt und zur weiteren Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Möchtest du lieber eine Unterkategorie erstellen?
Klicke im Einstellungsfenster auf <span class="icon blue"><i class="fa fa-dot-circle-o  "></i></span> <strong>Unterkategorie</strong> und wähle die Kategorie, unter der die neue Kategorie erscheinen soll. Klicke ganz links auf das Ordner-Symbol (<span class="icon darkGrey"><i class="fa fa-folder  "></i></span>) einer Kategorie, um die darin enthaltenen Unterkategorien zu sehen.
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Es ist technisch auch möglich, Artikeln und Kategorien gleichzeitig zu erstellen.
Eine neue Kategorie kann also direkt bei der <a href="/artikel/import-export-anlage/anlage/neue-artikel#200">manuellen Artikelerstellung</a> mit angelegt werden.
Diese Methode kann dir viel Zeit sparen, aber sie kann auch dazu führen, dass du den Überblick über deine Kategoriestruktur verlierst.
</td>
</tr>
</tbody></table>
</div>
</div><div class="tab-pane fade" id="daten-import" role="tabpanel" aria-labelledby="daten-import-tab">
<div class="paragraph">
<p>Wenn du <em>eine Vielzahl an Kategorien</em> anlegen oder bearbeiten willst, dann ist es wahrscheinlich am schnellsten, deine Kategoriedaten zu importieren.</p>
</div>
<div class="paragraph">
<p>Die Idee ist ganz einfach.
Anstatt Kategorieinformationen in plentymarkets manuell zu speichern, trägst du die gleiche Informationen in eine CSV-Datei ein und importierst diese Datei dann in dein System.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/daten/daten-importieren/elasticsync-best-practices/best-practices-elasticsync-kategorien">Praxisbeispiel: Neue Kategorien importieren</a></p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-kategorien">Verzeichnis aller Abgleich- und Zuordnungsfelder</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Es ist technisch auch möglich, Artikeln und Kategorien gleichzeitig zu erstellen.
Eine neue Kategorie kann also direkt bei der <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#1150">Artikelerstellung</a> mit angelegt werden.
Diese Methode kann dir viel Zeit sparen, aber sie kann auch dazu führen, dass du den Überblick über deine Kategoriestruktur verlierst.
</td>
</tr>
</tbody></table>
</div>
</div><div class="tab-pane fade" id="plentyshop-und-shopbuilder" role="tabpanel" aria-labelledby="plentyshop-und-shopbuilder-tab">
<div class="paragraph">
<p>Neue plentymarkets-Systeme sind mit einem plentyShop und einem ShopBuilder-Tool ausgestattet.
Mit diesen Tools kannst du ohne HTML- oder CSS-Kenntnisse einen attraktiven Webshop gestalten.
Es ist nicht nur möglich, die Seiten deiner Website mit ShopBuilder zu erstellen, sondern auch die Kategorien.
Wenn du also das ShopBuilder-Tool zur Erstellung deines plentyShops verwendest, willst du vielleicht auch <a href="/webshop/shop-builder#20">ShopBuilder zur Erstellung deiner Kategorien</a> verwenden.</p>
</div>
</div></div>
<div class="sect2">
<h3 id="600">2.1. Symbolleiste</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/kategorie-symbolleiste.png" alt="kategorie symbolleiste">
</div>
</div>
<table id="table-toolbar" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pfad</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ganz oben siehst du den Pfad der aktuell geöffneten Kategorie.
Klicke auf eine der übergeordneten Kategorien, um sie ebenfalls zu öffnen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="psicon-save"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert deine Änderungen an der Kategorie.
Das Symbol ist ausgegraut, wenn du noch keine Änderungen an der Kategorie vorgenommen hast.<br>
<a href="/willkommen/system-personalisieren#70">Ungesicherte Änderungen</a> sind auch am roten Dreieck im Kategorie-Tab zu erkennen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Kategorie-ID wird automatisch vergeben und ist nicht änderbar. Sie dient zur eindeutigen Kennzeichnung deiner Kategorien. Pflegst du die gleiche Kategorie in mehrere Sprachen oder in mehrere plentyShops? Jede Mandant- und Sprachversion der Kategorie hat die selbe ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-eye  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt dir, wie die Kategorie in deinem plentyShop aussieht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon yellow"><i class="psicon-design_inline_edit"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt dir, wie die Kategorie in deinem plentyShop aussieht und erlaubt dir, die Kategorie gleichzeitig weiter zu bearbeiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-code  "></i></span><br>
(ohne Funktion)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Funktion ist veraltet.
Sie galt nur für den inzwischen veralteten "Callisto" Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-lang_multilingual"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet eine <a href="/artikel/einstellungen/kategorien#1500">zweisprachige Ansicht der Kategorie</a>. Welche zwei Sprachen willst du sehen? Wähle sie aus der Dropdown-Liste oben. Du kannst auch Sprachen anzeigen, für die noch keine Inhalte gespeichert wurden. Die Standard-Sprache muss nicht zwingend geöffnet sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-settings_transfer"></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Pflegst du die gleiche Kategorie in mehrere Sprachen oder in mehrere plentyShops? Dieses Symbol überträgt die Kategorie-Einstellungen auf eine andere Mandant- oder Sprachversion.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle die Optionen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die übertragen werden sollen.</p>
</li>
<li>
<p>Wähle die Mandant- und Sprachversionen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die diese Optionen erhalten sollen.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Funktion<br>
(ohne Funktion)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Funktion ist veraltet.
Sie galt nur für den inzwischen veralteten "Callisto" Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Zeitpunkt der letzten Bearbeitung und den Bearbeiter an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon red"><i class="fa fa-minus-circle  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entfernt die Kategorie.
Du wirst gefragt, ob du die ganze Kategorie oder nur die gewählte Kombination aus Sprache und Mandant löschen möchtest.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">2.2. Tab: Einstellungen</h3>
<div class="paragraph">
<p>Speichere zunächst einige grundlegende Informationen über deine Kategorie, z.B.:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/kategorien#intable-anwendungsfall">wofür möchtest du die Kategorie verwenden</a>?</p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien#intable-url">wie soll die URL lauten</a>?</p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien#intable-metadaten">hat die Kategorie SEO-relevante Metadaten</a>?</p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien#intable-login">soll die Kategorie nur für eingeloggte Personen sichtbar sein</a>?</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Warum sehe ich manche Einstellungen nicht?</div>
<div class="paragraph">
<p>Welche Einstellungen angezeigt werden hängt vom <a href="/artikel/einstellungen/kategorien#intable-anwendungsfall">Anwendungsbereich der Kategorie ab</a>.
Die meisten Einstellungen treffen auf alle Kategorietypen zu. Einzelne Einstellungen sind aber für bestimmte Kategoriesorten irrelevant und werden deshalb ausgeblendet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-category-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Kategorieeinstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-anwendungsfall">Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wofür möchtest du die Kategorie verwenden? In plentymarkets können Kategorien sowohl im Sinne von <em>Warengruppen</em> als auch im Sinne von den <em>Content-Seiten</em> eines plentyShops verstanden werden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikel</strong> (<span class="icon "><i class="psicon-document"></i></span>) = Warengruppen, die dazu dienen, Produkte übersichtlich zu gruppieren. <a href="/artikel/einstellungen/kategorien#300">Neu angelegte Kategorien</a> haben standardmäßig den Typ <strong>Artikel</strong>.<br>
Hast du <a href="/artikel/einstellungen/kategorien#1300">eine Kategorie bereits mit Artikeln verknüpft</a> und änderst du den Typ von <strong>Artikel</strong> zu <strong>Content</strong>, werden die Artikelverknüpfungen nicht automatisch gelöscht. Allerdings ist die Kategorie am Artikeldatensatz nicht mehr sichtbar.</p>
</li>
<li>
<p><strong>Content</strong> (<span class="icon yellow"><i class="psicon-document"></i></span>) = Content-Seiten für den plentyShop, z.B. Informationsseiten wie AGBs, Zahlungs- und Versandinformationen.</p>
</li>
<li>
<p><strong>Container</strong> (<span class="icon red"><i class="psicon-document"></i></span>) = Dieser Kategorietyp ist ohne Funktion. Er galt nur für den inzwischen veralteten "Callisto" Webshop.</p>
</li>
<li>
<p><strong>Blog</strong> (<span class="icon yellow"><i class="psicon-document"></i></span>) = Schreibst du ein <a href="/webshop/ceres-einrichten#970">Blog für dein plentyShop</a>? Mit Blogkategorien kannst du deine Beiträge unter bestimmten Themen einordnen, beispielsweise "Neuigkeiten" oder "Über uns".</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-kategorie-name">Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Namen für die Kategorie ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Der gleiche Kategoriename kann in unterschiedlichen Kategorien auf derselben Ebene verwendet werden.
Innerhalb einer Kategorie darf der Name jedoch pro Ebene nur einmal verwendet werden.</p>
</div>
<div class="paragraph">
<p><strong><em>SEO-Tipp</em></strong>: Hinterlege unterschiedliche Meta-Titel und Meta-Beschreibungen für Kategorien des gleichen Namens.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-kategorie-tags">Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle <a href="/willkommen/allgemeine-funktionen/tags">Tags</a>, um der Kategorie Themengebiete zuzuordnen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-url">URL-Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beim Erstellen einer neuen Kategorie ist der URL-Name zunächst mit dem Kategorie-Namen identisch.
Ändere bei Bedarf den Namen, der für die URL verwendet werden soll.
Aus diesem Namen wird die URL der Kategorie gebildet.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Der gleiche URL-Name darf in unterschiedlichen Kategorien auch auf derselben Ebene verwendet werden.
Innerhalb einer Kategorie darf der URL-Name jedoch nur einmal pro Ebene verwendet werden.</p>
</div>
<div class="paragraph">
<p><strong><em>SEO-Tipp</em></strong>:
Da beim Erstellen der Kategorie kein Mandant gewählt ist, wird die automatisch erstellte URL nicht von Suchmaschinen indiziert.
SEO-technisch ist es ratsam, den URL-Namen nicht mehr zu ändern, nachdem die Kategorie für einen Mandanten aktiviert wurde.</p>
</div>
<div class="paragraph">
<p><strong><em>Wichtig</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der URL-Name darf nicht aus reinen Zahlenkombinationen bestehen.</p>
</li>
<li>
<p>Der URL-Name darf keine Sonderzeichen enthalten. Daher ausschließlich ASCII-Code verwenden.</p>
</li>
<li>
<p>Folgende Zeichenfolgen dürfen zu Beginn eines URL-Namens nicht verwendet werden:<br>
a-, b-, c-, f-, fa-, p-, t-<br>
Diese Anfangszeichen werden automatisch entfernt. Aus "a-klasse" wird z.B. automatisch "klasse". Für eine Kategorie mit dem Namen A-Klasse also z.B. den URL-Namen "aklasse" eingeben.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-kategorie-url">URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die URL der Kategorie. Die URL wird automatisch aus dem vollständigen Pfad der Kategorie erstellt, also aus Domain, Kategorieebenen und URL-Namen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-canonical">Canonical</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ggf. die URL einer Kategorie eingeben, die den gleichen Inhalt enthält, um <a href="/webshop/webshop-einrichten/cms-syntax#110">Duplicate Content</a> zu verhindern.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-kurzbeschreibung">Kurzbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Kurzbeschreibung der Kategorie ein. Die Kurzbeschreibung wird über Template-Variablen in das Design des plentyShops eingebunden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-position">Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Zahl ein, um die Reihenfolge der Kategorien auf dieser Ebene festzulegen.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp</em></strong>: Gib Positionsnummern in Zehnerschritten ein.
So kannst du später noch weitere Kategorien dazwischen einfügen, ohne alle Positionsnummern neu vergeben zu müssen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-mandant">Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In welche plentyShops soll die Kategorie sichtbar sein? Wähle einen, mehrere oder alle Mandanten aus der Liste (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="paragraph">
<p>Gibt es <em>Unterkategorien</em> unterhalb dieser Kategorie? Dann gilt noch folgendes:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Aktiviere die Option <strong>Sichtbarkeit auf Unterkategorien übertragen</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn du die Unterkategorien ebenfalls für den gewählten Mandanten sichtbar machen willst.</p>
</li>
<li>
<p>Die Option <strong>Sichtbarkeit auf Unterkategorien übertragen</strong> bezieht sich nur auf den aktuellen Speichervorgang. Das Häkchen verschwindet also nach dem Speichern und muss für jeden Vorgang neu gesetzt werden.</p>
</li>
<li>
<p>Ist eine Unterkategorie sichtbar, <em>muss</em> die übergeordnete Kategorie auch sichtbar sein. Das heißt:</p>
<div class="ulist">
<ul>
<li>
<p>Wenn du eine Unterkategorie sichtbar stellst, werden die übergeordneten Kategorien ebenfalls sichtbar gestellt.</p>
</li>
<li>
<p>Wenn du eine übergeordnete Kategorie unsichtbar stellst, werden die Unterkategorien ebenfalls unsichtbar gestellt.</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-metadaten">Meta-Titel</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Meta-Titel ein.
Der Meta-Titel wird als Tab-Titel im Webbrowser und als Suchergebnis in Suchmaschinen angezeigt.
Wird das Feld leer gelassen, wird der Kategoriename als Titel verwendet.</p>
</div>
<div class="paragraph">
<p><strong><em>SEO-Tipp</em></strong>: Achte auf die Länge des Titels.
Längere Titel werden in Tabs abgekürzt.
Aktueller Richtwert: max. 50 Zeichen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-meta-beschreibung">Meta-Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Meta-Beschreibung mit maximal 350 Zeichen ein.
Die Meta-Beschreibung wird von Suchmaschinen ausgewertet und ist daher besonders für die Startseite wichtig.
Die Meta-Beschreibung soll den wesentlichen Inhalt in einem Satz enthalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-meta-keywords">Meta-Keywords</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib Stichwörter ein, die potentielle Kunden in Suchmaschinen eingeben und die den Inhalt der Kategorie widerspiegeln.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-sitemap">Sitemap</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll die Kategorie in die Sitemap aufgenommen werden?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Anzeigen</strong> = Kategorie wird in die Sitemap aufgenommen.</p>
</li>
<li>
<p><strong>Nicht anzeigen</strong> = Kategorie wird nicht in die Sitemap aufgenommen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-robots">Robots</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Suchmaschinen-Crawlern werden mit diesen Werten mitgeteilt, wie sie mit der Seite und den Links auf dieser Seite verfahren sollen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>all</strong> = Webseite der Kategorie in den Suchmaschinenindex aufnehmen und Links auf der Seite folgen.</p>
</li>
<li>
<p><strong>index</strong> = In Suchmaschinenindex aufnehmen.</p>
</li>
<li>
<p><strong>nofollow</strong> = Links auf der Seite nicht folgen.</p>
</li>
<li>
<p><strong>noindex</strong> = Nicht in den Suchmaschinenindex aufnehmen.</p>
</li>
<li>
<p><strong>nofollow, noindex</strong> = Den Links nicht folgen und die Webseite der Kategorie nicht in den Suchmaschinenindex aufnehmen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-template-seite">Template-Seite</strong><br>
(ohne Funktion)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Funktion ist veraltet. Sie galt nur für den inzwischen veralteten "Callisto" Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-template-liste">Template-Liste</strong><br>
(ohne Funktion)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Funktion ist veraltet. Sie galt nur für den inzwischen veralteten "Callisto" Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-template-produkt">Template-Produkt</strong><br>
(ohne Funktion)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Funktion ist veraltet. Sie galt nur für den inzwischen veralteten "Callisto" Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-volltextsuche">Volltextsuche</strong><br>
(ohne Funktion)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Funktion ist veraltet. Sie galt nur für den inzwischen veralteten "Callisto" Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-in-linkliste">In Linkliste</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll die Kategorie in der Navigation im plentyShop angezeigt werden?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Anzeigen</strong> = Kategorie wird in der Navigation im plentyShop angezeigt.</p>
</li>
<li>
<p><strong>Nicht anzeigen</strong> = Kategorie wird nicht in der Navigation im plentyShop angezeigt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Wird eine Unterkategorie in der Navigation angezeigt, <em>muss</em> die übergeordnete Kategorie auch in der Navigation angezeigt werden.
Das heißt, wenn du die Option <strong>Anzeigen</strong> für eine Unterkategorie wählst, dann stelle sicher, dass die Option <strong>Anzeigen</strong> auch für die übergeordnete Kategorie gewählt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-login">Sichtbar</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll die Kategorie nur für eingeloggte Besucher sichtbar sein?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Öffentlich</strong> = Kategorie ist für alle Besucher des plentyShops sichtbar.</p>
</li>
<li>
<p><strong>Nach Login</strong> = Kategorie samt aller Unterkategorien ist nur für eingeloggte Besucher des plentyShops sichtbar. Nicht eingeloggte Besucher werden auf die Login-Seite umgeleitet.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-elmar-kategorie">Elmar-Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle eine Elmar-Kategorie.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-variablen-funktionen">Template-Variablen und -Funktionen übersetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen Template-Variablen und -Funktionen übersetzt werden?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Alle Template-Variablen und -Funktionen werden übersetzt.</p>
</li>
<li>
<p><strong>Nur Link-Template-Variablen und -Funktionen</strong> = Nur Link-Template-Variablen und -Funktionen werden übersetzt.</p>
</li>
<li>
<p><strong>Nein</strong> = Keine Template-Variablen und -Funktionen werden übersetzt.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">2.3. Tab: Beschreibung 1 und 2</h3>
<div class="paragraph">
<p>Verfasse einen oder zwei Texte pro Kategorie und entscheide, wo diese Texte im plentyShop erscheinen sollen.</p>
</div>
<div class="paragraph">
<p><strong><em>Praxisbeispiel</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Beschreibung 1 verwendest du für eine Kategorie-Beschreibung.
Du lässt diese Beschreibung oben auf der Seite erscheinen.</p>
</li>
<li>
<p>Beschreibung 2 verwendest du für SEO-Texte, Suchbegriffe und Keywords.
Du lässt diese SEO-Texte unten auf der Seite erscheinen.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Kategorie-Beschreibungen im plentyShop darstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die Kategorie.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Beschreibung 1</strong> oder <strong>Beschreibung 2</strong>.</p>
</li>
<li>
<p>Füge den Text ein und formatiere ihn nach Bedarf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Rufe den Assistenten <strong>plentyShop LTS</strong> auf und navigiere zum Schritt <strong>Angezeigte Informationen » Einstellungen für die Kategorieansicht</strong>.</p>
</li>
<li>
<p>Lege mit den Dropdown-Listen fest, welche Beschreibung oberhalb und welche Beschreibung unterhalb der Artikelliste erscheinen soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Welcher Editor möchtest du verwenden?</div>
<div class="paragraph">
<p>Siehst du die Dropdown-Liste ganz rechts im Tab <strong>Beschreibung 1</strong> und <strong>Beschreibung 2</strong>?
Mit Hilfe dieser Dropdown-Liste wählst du den Editor, mit dem du die Beschreibung bearbeiten möchtest.
Zur Verfügung stehen der <a href="/webshop/webshop-einrichten/cms#webdesign-werkzeuge-editor">Editor</a>, der HTML-Editor <strong>Textfeld</strong> und der <a href="/webshop/webshop-einrichten/cms#webdesign-werkzeuge-syntax-editor">Syntax-Editor</a>.
Für den Kategorietyp <strong>Container</strong> stehen nur der HTML-Editor <strong>Textfeld</strong> und der <strong>Syntax-Editor</strong> zur Verfügung.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="850">2.4. Tab: Template</h3>
<div class="paragraph">
<p>Dieses Tab ist nur für Kategorien vom Typ "Content" relevant.
Hier kannst du HTML-Code einfügen, um eine <a href="/artikel/webshop/callisto-vorlagen">Artikelvorlage</a> zu erstellen.
Dies wird jedoch nicht empfohlen.</p>
</div>
</div>
<div class="sect2">
<h3 id="900">2.5. Tab: Dokumente</h3>
<div class="paragraph">
<p>Füge Bilder und Dateien zu deinen Kategorien hinzu.
Zulässig sind Datenformate wie JPEG, PNG, GIF, TIFF, PDF, DOC, ODC, OTH, XLS, XML, HTML, HTM, CSS, JavaScript, ZIP, JSON und GZIP.</p>
</div>
<div class="paragraph">
<p><strong><em>Praxisbeispiel</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du lädst einen Pool von 10 verschiedenen Bildern für die Kategorie hoch, z.B. Standardbilder und saisonale Bilder.</p>
</li>
<li>
<p>Du wählst ein oder zwei dieser Bilder aus.
Dies sind die Bilder, die <em>aktuell</em> für die Kategorie angezeigt werden sollen.
Änderst du also regelmäßig deine Kategoriebilder, ist es nicht notwendig, die Bilder zu löschen, die gerade nicht in Verwendung sind.</p>
</li>
<li>
<p>Du nutzt ein ShopBuilder-Widget, um Bild 1 oder Bild 2 in deinem plentyShop anzuzeigen.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Kategorie-Bilder im plentyShop darstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die Kategorie.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Füge Dokumente entweder über <span class="icon purple"><i class="psicon-upload"></i></span> <strong>Dateien hochladen</strong> oder per Drag-and-drop hinzu.</p>
</li>
<li>
<p>Fahre mit dem Mauszeiger über ein Bild und wähle es aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon blue"><i class="psicon-item_image_selected_1"></i></span> <strong>Bild 1</strong>.<br>
→ Das Bild erhält einen roten Rahmen mit einer <strong>1</strong>.</p>
</li>
<li>
<p>Wiederhole ggf. den Vorgang, um ein zweites Kategoriebild auszuwählen. Klicke diesmal auf <span class="icon blue"><i class="psicon-item_image_selected_2"></i></span> <strong>Bild 2</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Öffne die <a href="/webshop/shop-builder#55">Editor-Ansicht der Kategorie</a>.</p>
</li>
<li>
<p>Füge das ShopBuilder-Widget <a href="/webshop/shop-builder#_hintergrundbild">Bild » Hintergrundbild</a> hinzu.</p>
</li>
<li>
<p>Öffne die Dropdown-Liste <strong>Hintergrundbild</strong> und wähle die Option <strong>Kategoriebild 1</strong> oder <strong>Kategoriebild 2</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Auswahl des Kategoriebildes aufheben</div>
<div class="paragraph">
<p>Die Auswahl eines Kategoriebilds hebst du auf, indem du das Bild erneut wählst (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) und auf <span class="icon blue"><i class="psicon-item_image_selected_1"></i></span> <strong>Bild 1</strong> oder <span class="icon blue"><i class="psicon-item_image_selected_2"></i></span> <strong>Bild 2</strong> klickst.</p>
</div>
<div class="paragraph">
<p>Die ausgegrauten Schaltflächen der Symbolleiste werden wählbar, sobald ein oder mehrere Bilder durch Setzen eines Häkchens gewählt wurden. Dies ermöglicht es, die Vorschau für mehrere Bilder gleichzeitig zu öffnen, Bilder gleichzeitig herunterzuladen oder gemeinsam zu löschen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1000">2.6. Tab: Notiz</h3>
<div class="paragraph">
<p>Im Tab <strong>Notiz</strong> speicherst du Anmerkungen zu einer Kategorie. Hier kannst du z.B. festhalten, woher eine Information stammt, oder vermerken, dass bestimmte Abschnitte nicht geändert werden dürfen. Die in diesem Tab gespeicherten Informationen sind nur in plentymarkets sichtbar und werden nicht im plentyShop ausgegeben.</p>
</div>
<div class="paragraph instruction">
<p>Notiz speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die Kategorie.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Notiz</strong>.</p>
</li>
<li>
<p>Gib die Notiz in das Bearbeitungsfeld ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Notiz.<br>
→ Die Notiz wird gespeichert und in einer gelben Sprechblase angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1100">2.7. Kontextmenü</h3>
<div class="paragraph">
<p>Das sogenannte <em>Kontextmenü</em> hilft dir bei der Verwaltung deiner Kategorien. Willst du eine Kategorie verschieben, kopieren oder löschen? Kein Problem! Du kannst auch das Kontextmenü aufrufen, wenn du neue Artikel oder Unterkategorien erstellen möchtest.</p>
</div>
<div class="paragraph instruction">
<p>Kontextmenü aufrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Fahre mit dem Mauszeiger über einen Kategorienamen.</p>
</li>
<li>
<p>Klicke auf das kleine Dreieck (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>).<br>
→ Das Kontextmenü wird angezeigt.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/assets/Kategorie-Kontextmenue.png" alt="Kategorie Kontextmenue">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Kategorie bearbeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Öffnet die Kategorie, um sie <a href="/artikel/einstellungen/kategorien#500">weiterzubearbieten</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-ticket_folder_move"></i></span> <strong>Kategorie verschieben</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Verschiebt die Kategorie, z.B. von einer Hauptkategorie in eine Unterkategorie. Willst du auch bestimmen, welche Kategorie als erstes, zweites, drittes usw angezeigt wird? Ändere dazu die <a href="/artikel/einstellungen/kategorien#intable-position">Positionsnummer</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-copy"></i></span> <strong>Kategorie kopieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erstellt eine Kopie der Kategorie. Verwende diese Funktion, z.B. wenn du eine ähnliche Kategorie an anderer Stelle benötigst. Dazu die Kategorie mit sämtlichen Einstellungen kopieren und anschließend einzelne Optionen wie Namen, Beschreibung und Position anpassen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-item_plus"></i></span> <strong>Neuen Artikel erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Öffnet die <a href="/artikel/import-export-anlage/anlage/neue-artikel#200">Eingabemaske zum manuellen Anlegen eines neuen Artikels</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-minus-circle  "></i></span> <strong>Kategorie löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Löscht die Kategorie, nach Bestätigung deiner Entscheidung. Die Kategorie wird vollständig gelöscht, d.h. wenn du die gleiche Kategorie in mehrere Sprachen oder in mehrere plentyShops pflegst, werden <em>alle</em> Mandant- und Sprachversionen gelöscht. Möchtest du <a href="/artikel/einstellungen/kategorien#600">nur eine bestimmte Kombination aus Sprache und Mandant löschen</a>, klicke stattdessen auf das Löschen-Symbol in die obere Symbolleiste.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Unterkategorie erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Legt eine neue Kategorie unterhalb dieser Kategorie an.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1270">3. Kategorien im Backend suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Deine bereits erstellte Kategorien sind im Menü <strong>Artikel » Kategorien</strong> zu finden. Sie werden im Verzeichnisbaum links angezeigt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einstellungen/assets/Kategorien-suchen.png" alt="Kategorien suchen">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong> (1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suchst du eine bestimmte Kategorie?
Gib den Namen der gesuchten Kategorie in das Suchfeld oben links ein.
Bereits während der Eingabe werden die Suchergebnisse angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong> (2)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bist du für mehrere plentyShops zuständig?
Wähle einen Mandanten aus dieser Dropdown-Liste aus.
Nur die Kategorien, die mit diesem Mandanten verknüpft sind, werden im Verzeichnisbaum links angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deutsch</strong> (3)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird dein plentyShop in mehrere Sprachen ausgegeben?
Wähle eine Sprachversion aus dieser Dropdown-Liste aus.</p>
<p class="tableblock"><strong><em>Kategorienamen in kursive Schrift</em></strong>:
Ob eine Kategorie in der gewählten Sprache bereits existiert, erkennst du am Schriftschnitt.
Wird der Kategoriename kursiv dargestellt, dann existiert die Kategorie in dieser Sprache noch nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong> (4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Werden im Verzeichnisbaum deine Kategorienamen in verschiedene Farben dargestellt?
Keine Sorge!
Die Farbe verrät dir, um welchen <a href="/artikel/einstellungen/kategorien#intable-anwendungsfall">Kategorie-Typ</a> es sich handelt.</p>
<p class="tableblock">Wähle einen Kategorie-Typ aus dieser Dropdown-Liste aus.
Nur Kategorien dieses Typs werden im Verzeichnisbaum links angezeigt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">4. Artikel in Kategorien einsortieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jeder Artikel <em>muss</em> einer Kategorie angehören. Es ist technisch nicht möglich, ein Artikel ohne Kategorie anzulegen. Daher werden Artikel bereits während der Erstellung in Kategorien eingeteilt. Dabei spielt es keine Rolle, ob du den Artikel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/import-export-anlage/anlage/neue-artikel#200">manuell erstellst</a></p>
</li>
<li>
<p><a href="/willkommen/assistenten">mit Hilfe eines Assistenten erstellst</a></p>
</li>
<li>
<p><a href="/artikel/import-export-anlage/import">importierst</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Treffen mehrere Kategorien zu?</div>
<div class="paragraph">
<p>Manchmal ist es sinnvoll Artikel in mehrere Kategorien zu führen. Zusätzliche Kategorien können <a href="/artikel/artikel-verwalten#300">manuell am Artikeldatensatz verknüpft</a> oder <a href="/artikel/import-export-anlage/import#700">kommasepariert in Import-Dateien</a> angegeben werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">5. Kategorien im plentyShop veröffentlichen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Kategorien werden im plentyShop angezeigt, wenn sie bestimmte Kriterien erfüllen.
Was tun, wenn eine Kategorie nicht sichtbar ist?
Diese Checkliste hilft dir, mögliche Fehlerquellen bei der Kategoriesichtbarkeit ausfindig zu machen.</p>
</div>
<div class="sect2">
<h3 id="1410">5.1. Ist der richtige Mandant mit der Kategorie verknüpft?</h3>
<div class="paragraph">
<p>Mit plentymarkets kannst du mehrere Webshops, d.h. <a href="/webshop/mandanten-verwalten">mehrere Mandanten</a>, mit nur einer Software verwalten. Somit ist es möglich, über ein plentymarkets System mehrere unterschiedliche Geschäftsbereiche zu realisieren.
Das ist ein großer Vorteil. Aber es bedeutet auch, dass du plentymarkets immer mitteilen musst, in welchem Webshop die Kategorie erscheinen soll.</p>
</div>
<div class="paragraph instruction">
<p>Mandant mit der Kategorie verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf die Kategorie im Verzeichnisbaum links.<br>
→ Die Kategorie öffnet sich und das Tab <strong>Einstellungen</strong> ist sichtbar.</p>
</li>
<li>
<p>Scrolle runter bis zur Option <strong>Mandant (Shop)</strong> und wähle den Webshop (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), in dem die Kategorie erscheinen soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Kategorie_Mandant.png" alt="Checkliste Kategorie Mandant">
</div>
</div>
</div>
<div class="sect2">
<h3 id="1420">5.2. Sind die Einstellungen für die Linkliste korrekt?</h3>
<div class="paragraph">
<p>Du kannst selbst entscheiden, welche Kategorien in der Navigation deines plentyShops erscheinen sollen. Ist eine Kategorie verborgen, wirst du sie logischerweise nicht im plentyShop sehen können.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie in der Linkliste sichtbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf die Kategorie im Verzeichnisbaum links.<br>
→ Die Kategorie öffnet sich und das Tab <strong>Einstellungen</strong> ist sichtbar.</p>
</li>
<li>
<p>Scrolle runter bis zur Option <strong>in Linkliste</strong> und wähle <strong>Anzeigen</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Kategorie_Linkliste.png" alt="Checkliste Kategorie Linkliste">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Unterkategorien</div>
<div class="paragraph">
<p>Wird eine Unterkategorie in der Navigation angezeigt, <em>muss</em> die übergeordnete Kategorie auch in der Navigation angezeigt werden.
Das heißt, wenn du die Option <strong>Anzeigen</strong> für eine Unterkategorie wählst, dann stelle sicher, dass die Option <strong>Anzeigen</strong> auch für die übergeordnete Kategorie gewählt wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1430">5.3. Ist eine Variante mit der Kategorie verknüpft?</h3>
<div class="paragraph">
<p>Eine Kategorie ist nur dann sichtbar, wenn sie mit mindestens einer <a href="/artikel/webshop/checkliste-artikel-anzeige">im plentyShop sichtbaren Variante</a> verknüpft ist.</p>
</div>
<div class="paragraph instruction">
<p>Variante mit einer Kategorie verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#400">Suche und öffne die Variante</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Kategorie verknüpfen</strong>.<br>
→ Das Fenster <strong>Kategorie verknüpfen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle eine Kategorie oder Unterkategorie.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Kategorie verknüpfen</strong>.<br>
→ Die Kategorie wird verknüpft und im Bereich <strong>Verknüpfte Kategorien</strong> angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Kategorie_Verknuepfung.png" alt="Checkliste Kategorie Verknuepfung">
</div>
</div>
</div>
<div class="sect2">
<h3 id="1440">5.4. Hast du die Kategorietexte für jeden Mandanten gespeichert?</h3>
<div class="paragraph">
<p>Arbeitest du mit mehreren Mandanten?
Falls ja, dann stelle sicher, dass du die Kategorietexte <em>für jeden Mandanten</em> korrekt konfiguriert hast, nicht nur für den Standard-Mandanten.</p>
</div>
<div class="paragraph">
<p>Kategorietexte sind zum Beispiel Name, URL, Beschreibung und Keywords.
Solche Informationen müssen für jeden Mandanten einzeln hinterlegt werden.</p>
</div>
<div class="paragraph instruction">
<p>Kategorietexte für weitere Mandanten speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Wähle den Mandanten aus der linken Dropdown-Liste aus.</p>
</li>
<li>
<p>Klicke auf die Kategorie im Verzeichnisbaum links.<br>
→ Die Kategorie öffnet sich und das Tab <strong>Einstellungen</strong> ist sichtbar.</p>
</li>
<li>
<p>Gib die Kategorietexte für den Mandanten ein (Name, URL, usw.).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Kategorie_Mandanttexte.png" alt="Checkliste Kategorie Mandanttexte">
</div>
</div>
</div>
<div class="sect2">
<h3 id="1460">5.5. Könnte es am Cache liegen?</h3>
<div class="paragraph">
<p>Wenn die Kategorien richtig konfiguriert sind, kann es Cache-bedingt dennoch bis zu einer Stunde dauern, bis die Kategorien im plentyShop sichtbar werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="1470">5.6. Hinweise nur für ältere Systeme</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Ist die Kategorie in den Systemeinstellungen aktiviert?</strong></div>
<div class="content">
<div class="paragraph">
<p>Standardmäßig sind die Kategorien nach Anlage bereits aktiv. Wenn eine Kategorie aber aus irgendeinem Grund deaktiviert wurde, dann wird sie im plentyShop nicht sichtbar sein.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Diese Einstellung betrifft nur ältere Systeme. Bei neuen Systemen ist diese Einstellung obsolet und wird nicht mehr angezeigt. Wir empfehlen dir zu prüfen, ob du diese Einstellung in deinem System hast. Falls ja, aktiviere die Einstellung.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kategorie aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Falls vorhanden, öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Kategorien » Aktivieren</strong>.</p>
</li>
<li>
<p>Wähle alle Kategorien (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die aktiviert werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Kategorie_aktiv.png" alt="Checkliste Kategorie aktiv">
</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Ist die Ebenentiefe korrekt definiert?</strong></div>
<div class="content">
<div class="paragraph">
<p>Lege zunächst fest, wie viele Kategorieebenen grundsätzlich funktionieren sollen. Wenn du z.B. 4 Ebenen wählst, können keine Kategorien auf der 5. Ebene erstellt werden. Speichere diese Einstellung für jeden deiner Mandanten (Shops). Diese Einstellung gilt für den gesamten Kategoriebaum, also für alle Kategorietypen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Diese Einstellung betrifft nur ältere Systeme. Bei neuen Systemen ist diese Einstellung obsolet und wird nicht mehr angezeigt. Wir empfehlen dir zu prüfen, ob du diese Einstellung in deinem System hast. Falls ja, konfiguriere die Einstellung.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kategorieebenen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Falls vorhanden, öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Kategorien » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle die maximal mögliche Ebenentiefe in der Kategorienavigation.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Kategorie_Ebene.png" alt="Checkliste Kategorie Ebene">
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1490">6. Weitere Anwendungsfälle</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1500">6.1. Kategorien in weitere Sprachen übersetzen</h3>
<div class="paragraph">
<p>Soll dein plentyShop in mehreren Sprachen verfügbar sein?
Dann musst du die Kategorien in alle benötigten Sprachen übersetzen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Diese Anleitung geht davon aus, dass die Kategorien bereits in der Standardsprache deines plentyShops vorliegen.
</td>
</tr>
</tbody></table>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="einsprachige-ansicht-tab" data-toggle="tab" href="#einsprachige-ansicht" role="tab" aria-controls="einsprachige-ansicht" aria-selected="true">Einsprachige Ansicht</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="mehrsprachige-ansicht-tab" data-toggle="tab" href="#mehrsprachige-ansicht" role="tab" aria-controls="mehrsprachige-ansicht" aria-selected="false">Mehrsprachige Ansicht</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="einsprachige-ansicht" role="tabpanel" aria-labelledby="einsprachige-ansicht-tab">
<div class="paragraph">
<p>In der einsprachigen Ansicht bearbeitest du eine Sprachversion nach der anderen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die Kategorie, für die du eine Sprachvariante erstellen möchtest.</p>
</li>
<li>
<p>Stelle in der Kopfzeile die Option <strong>Sprache</strong> auf die gewünschte Sprache ein, z.B. Englisch.</p>
</li>
<li>
<p>Gib unter <strong>Name</strong> eine Bezeichnung für die Kategorie ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Kategorie-URL wird generiert. Wenn du die Kategorie jetzt neu lädst, siehst du Einträge in den Feldern <strong>URL-Name</strong> und <strong>URL</strong>.</p>
</li>
<li>
<p>Nimm die weiteren <a href="/artikel/einstellungen/kategorien#700">Kategorieeinstellungen</a> vor und übersetze die Texte und Beschreibungen nach Bedarf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="mehrsprachige-ansicht" role="tabpanel" aria-labelledby="mehrsprachige-ansicht-tab">
<div class="paragraph">
<p>In der mehrsprachigen Ansicht bearbeitest du zwei Sprachen gleichzeitig.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die Kategorie, für die du eine Sprachvariante erstellen möchtest.</p>
</li>
<li>
<p>Klicke auf das Symbol <strong>Multilingualität</strong> (<span class="icon "><i class="psicon-lang_multilingual"></i></span>).<br>
→ Die mehrsprachige Ansicht der Kategorie wird in einem neuen Tab geöffnet.<br></p>
</li>
<li>
<p>Wähle Sprachen aus den Dropdown-Listen links und rechts.
Beispiel: Deutsch rechts und Englisch links.</p>
</li>
<li>
<p>Trage Übersetzungen der Texte und Beschreibungen nach Bedarf ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Kategorie wird in der gewählten Sprache erstellt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Du kannst in der zweisprachigen Ansicht auch neue Sprachen öffnen, für die noch keine Inhalte gespeichert wurden. Die Standardsprache muss nicht geöffnet sein.
</td>
</tr>
</tbody></table>
</div>
</div></div>
</div>
<div class="sect2">
<h3 id="1530">6.2. Kategorierabatte speichern</h3>
<div class="paragraph">
<p>Möchtest du Mengenrabatte für einzelne Artikelkategorien hinterlegen?
Pro Kategorie sind bis zu drei Mengenrabatte möglich.
Die gespeicherten Rabatte werden automatisch angewendet, wenn bei einer Bestellung die rabattfähige Menge an Produkten aus einer Kategorie erreicht oder überschritten wird.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Die eingegebenen Rabatte gelten nur für die Standardkategorie einer Variante.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kategorierabatte speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Kategorien » Rabatte</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Der Rabatt wird automatisch im plentyShop angewendet, wenn die rabattfähige Menge bestellt wird.<br>
<strong><em>Hinweis</em></strong>: Die Rabatte gelten nur für die Standardkategorie einer Variante.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rabatt 1 (%)</strong>;<br>
<strong>Rabatt 2 (%)</strong>;<br>
<strong>Rabatt 3 (%)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabatt in Prozent eingeben, der angewendet werden soll, wenn die eingegebene Menge an Varianten erreicht wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ab Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge der Varianten eingeben, die aus dieser Kategorie bestellt werden müssen, damit der Rabatt angewendet wird.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>