<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_ereignisaktionen"><span>1.</span><span> Ereignisaktionen</span></a></li>
<li><a href="#_menü_übersicht"><span>2.</span><span> Menü-Übersicht</span></a></li>
<li><a href="#_detailübersicht"><span>3.</span><span> Detailübersicht</span></a></li>
<li><a href="#neue-ereignisaktion"><span>4.</span><span> Neue Ereignisaktion</span></a>
<ul class="sectlevel2">
<li><a href="#_ereignis_für_neue_ereignisaktion_wählen"><span>4.1.</span><span> Ereignis für neue Ereignisaktion wählen</span></a>
<ul class="sectlevel3">
<li><a href="#_ereignisgruppe_auftragsanlage"><span>4.1.1.</span><span> Ereignisgruppe: Auftragsanlage</span></a></li>
<li><a href="#_ereignisgruppe_auftragsänderung"><span>4.1.2.</span><span> Ereignisgruppe: Auftragsänderung</span></a></li>
<li><a href="#_ereignisgruppe_dokumente"><span>4.1.3.</span><span> Ereignisgruppe: Dokumente</span></a></li>
<li><a href="#_ereignisgruppe_zahlung"><span>4.1.4.</span><span> Ereignisgruppe: Zahlung</span></a></li>
</ul>
</li>
<li><a href="#_neue_ereignisaktion_anlegen"><span>4.2.</span><span> Neue Ereignisaktion anlegen</span></a></li>
</ul>
</li>
<li><a href="#konfiguration"><span>5.</span><span> Konfiguration</span></a>
<ul class="sectlevel2">
<li><a href="#_erläuterung_der_einstellungen"><span>5.1.</span><span> Erläuterung der Einstellungen</span></a>
<ul class="sectlevel3">
<li><a href="#_bereich_einstellungen"><span>5.1.1.</span><span> Bereich: Einstellungen</span></a></li>
<li><a href="#_bereich_filter"><span>5.1.2.</span><span> Bereich: Filter</span></a>
<ul class="sectlevel4">
<li><a href="#_filtergruppe_auftrag"><span>Filtergruppe: Auftrag</span></a></li>
<li><a href="#_filtergruppe_artikel"><span>Filtergruppe: Artikel</span></a></li>
<li><a href="#_filtergruppe_kunde"><span>Filtergruppe: Kunde</span></a></li>
<li><a href="#_filtergruppe_versand"><span>Filtergruppe: Versand</span></a></li>
<li><a href="#_filtergruppe_marktplatz"><span>Filtergruppe: Marktplatz</span></a></li>
</ul>
</li>
<li><a href="#_filter_konfigurationsbeispiele"><span>5.1.3.</span><span> Filter: Konfigurationsbeispiele</span></a>
<ul class="sectlevel4">
<li><a href="#13"><span>Filter: Auftragslager</span></a></li>
<li><a href="#13"><span>Filter: Anzahl der Aufträge</span></a></li>
<li><a href="#13"><span>Filter: Warenwert (Brutto)</span></a></li>
</ul>
</li>
<li><a href="#_filter_hinzufügen"><span>5.1.4.</span><span> Filter hinzufügen</span></a></li>
<li><a href="#_bereich_aktionen"><span>5.1.5.</span><span> Bereich: Aktionen</span></a>
<ul class="sectlevel4">
<li><a href="#_aktionsgruppe_artikel"><span>Aktionsgruppe: Artikel</span></a></li>
<li><a href="#_aktionsgruppe_aufträge"><span>Aktionsgruppe: Aufträge</span></a></li>
<li><a href="#_aktionsgruppe_dokumente"><span>Aktionsgruppe: Dokumente</span></a></li>
<li><a href="#_aktionsgruppe_kunde"><span>Aktionsgruppe: Kunde</span></a></li>
<li><a href="#_aktionsgruppe_versand"><span>Aktionsgruppe: Versand</span></a></li>
<li><a href="#_aktionsgruppe_zahlungsarten"><span>Aktionsgruppe: Zahlungsarten</span></a></li>
<li><a href="#_aktionsgruppe_retoure"><span>Aktionsgruppe: Retoure</span></a></li>
<li><a href="#_aktionsgruppe_listings"><span>Aktionsgruppe: Listings</span></a></li>
</ul>
</li>
<li><a href="#_aktionen_konfigurationsbeispiele"><span>5.1.6.</span><span> Aktionen: Konfigurationsbeispiele</span></a>
<ul class="sectlevel4">
<li><a href="#_aktion_nach_artikelverfügbarkeit_teilen"><span>Aktion: Nach Artikelverfügbarkeit teilen</span></a></li>
</ul>
</li>
<li><a href="#_neue_aktion_hinzufügen"><span>5.1.7.</span><span> Neue Aktion hinzufügen</span></a></li>
</ul>
</li>
<li><a href="#_mehrere_aktionen_pro_ereignis"><span>5.2.</span><span> Mehrere Aktionen pro Ereignis</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Ereignisaktionen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Aufträge » Ereignisse</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_ereignisaktionen">1. Ereignisaktionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein großer Teil der Auftragsbearbeitung besteht aus einfachen Routineaufgaben, die Sie weitgehend durch Ihr plentymarkets-System erledigen lassen können. Besonders der Versand von E-Mails an Ihre Kunden ist eine sehr aufwendige Aufgabe, für die Kunden- und Serviceorientierung Ihres Webshops aber unverzichtbar.</p>
</div>
<div class="paragraph">
<p>Mit den <strong>Ereignisaktionen</strong> steht Ihnen in plentymarkets ein einfaches und effektives Werkzeug zur Verfügung, mit dem Sie solche Automatismen auf einfache Weise konfigurieren können.</p>
</div>
<div class="paragraph">
<p>Das Grundprinzip ist leicht verständlich: Bestimmte Ereignisse im Webshop lösen durch eine "Schalter-Funktion" bestimmte <strong>Aktionen</strong> aus.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel: Bestellbestätigung</div>
<div class="paragraph">
<p>Bei einer Bestellbestätigung folgt auf das Ereignis <strong>Neuer Auftrag</strong> immer die Aktion <strong>E-Mail-Versand</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zur Erstellung einer <em><strong>Ereignisaktion</strong></em> im folgenden Videotutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2827/" target="_blank" rel="noopener">Ereignisaktionen einrichten</a></p>
</div>
<div class="paragraph">
<p>Die <em><strong>Erstellung einer Ereignisaktion</strong></em> gliedert sich in folgende Schritte:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/basics/automatisierung/ereignisaktionen#neue-ereignisaktion">Neue Ereignisaktion</a> anlegen</p>
</li>
<li>
<p><strong>Ereignis</strong> festlegen</p>
</li>
<li>
<p>Einen oder mehrere <strong>Filter</strong> setzen</p>
</li>
<li>
<p>Festlegen, welche <strong>Aktionen</strong> vom System im Ereignisfall auszuführen sind</p>
</li>
<li>
<p>Die Ereignisaktion <strong>aktivieren</strong> (Häkchen setzen)</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wie Sie Ereignisaktionen in der Praxis verwenden, erfahren Sie auf der Handbuchseite <a href="/basics/automatisierung/vorgaenge-automatisieren">Vorgänge automatisieren</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_menü_übersicht">2. Menü-Übersicht</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Links im Menü sind die <strong>Ereignisaktionen</strong> nach Ereignistypen in Ordner einsortiert. Jede neue Ereignisaktion wird<strong><em>automatisch eingeordnet</em></strong>. Natürlich werden hier nur Ordner angezeigt, die mindestens eine Ereignisaktion enthalten.<br>
Alle Ereignisaktionen, die z.B. durch das Buchen des Warenausgangs ausgelöst werden, finden Sie im Ordner <strong>Warenausgang gebucht</strong>. In Bild 1 sind hier zwei Ereignisaktionen einsortiert. Diese verschicken, sobald der Warenausgang gebucht wird, automatisch eine <strong>Versandbestätigung</strong> an den jeweiligen Zahlungsanbieter.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Auftraege-Ereignis-Aktionen-01.png" alt="DE Einstellungen Auftraege Ereignis Aktionen 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Das Menü <strong>Ereignisaktionen</strong></em></p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen im Menü <strong>System » Aufträge » Ereignisse</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Pos.</th>
<th class="tableblock halign-left valign-top">Funktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignisaktion hinzufügen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auf das <strong>grüne Plus</strong> klicken, um eine neue Ereignisaktion zu erstellen. Siehe <strong><em>Kapitel 4.5</em></strong> auf dieser Seite.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Detailübersicht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auf das <strong>Fernglas</strong> klicken, um eine Übersicht aller Ereignisaktionen zu öffnen. Siehe <strong>Kapitel 3</strong> auf dieser Seite.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>3</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Verzeichnisbaum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Das Verzeichnis gliedert sich in <em><strong>3 Ebenen</strong></em>. Die <em><strong>1. Ebene</strong></em> ergibt sich aus den <strong>Ereignisaktionstypen</strong>. Der Typ Auftragsanlage wird z.B. je nach Auftragstyp, der dem Ereignis zu Grunde liegt, unterteilt. Die <em><strong>2. Ebene</strong></em> basiert also auf dem eigentlichen <strong>Ereignis</strong>. In der <em><strong>3. Ebene</strong></em> befinden sich die <strong>Ereignisaktionen</strong>. Jede Ereignisaktion erhält eine <strong>ID</strong>. Die IDs werden automatisch und fortlaufend vergeben. Hinter der ID steht der <em><strong>individuelle Name</strong></em>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>4</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bearbeitungsbereich</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die geöffnete Ereignisaktion ist im Verzeichnisbaum links <em><strong>blau hinterlegt</strong></em>. Rechts befindet sich der <em><strong>Bearbeitungsbereich</strong></em> der Ereignisaktionen. Hier bei Bedarf das <strong>Ereignis</strong>, die <strong>Filter</strong> und die <strong>Aktionen</strong> ändern. Die Filter bestimmen, welche Aufträge berücksichtigt werden. Die Aktionen werden für diese Aufträge ausgeführt.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Übersicht: <strong>Bearbeitungsmenü</strong> für Ereignisaktionen</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_detailübersicht">3. Detailübersicht</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Klicken Sie links unter dem Verzeichnisbaum auf das Fernglas, um die <em><strong>Detailübersicht</strong></em> zu öffnen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Auftraege-Ereignis-Aktionen-02.png" alt="DE Einstellungen Auftraege Ereignis Aktionen 02">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: <strong>Übersicht</strong> aller Ereignisaktionen öffnen</em></p>
</div>
<div class="paragraph">
<p>In der Übersicht erhalten Sie einen Überblick über die <em><strong>Einstellungen</strong></em> der Ereignisaktionen. Außerdem erkennen Sie anhand der Markierung, welche Ereignisaktion <em><strong>aktiv</strong></em> ist und welche nicht.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Auftraege-Ereignis-Aktionen-03.png" alt="DE Einstellungen Auftraege Ereignis Aktionen 03">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Geöffnete <strong>Übersicht</strong> der Ereignisaktionen</em></p>
</div>
<div class="paragraph">
<p>Die <strong>Detailübersicht</strong> teilt sich in den <strong>Verzeichnisbaum links</strong>, der gleich dem in der Bearbeitungsansicht ist, und der <strong>Einstellungsübersicht rechts</strong>. In Bild 3 sind sowohl <em><strong>aktive</strong></em> als auch <strong><em>inaktive</em> Ereignisaktionen</strong> zu sehen. Aktive Ereignisaktionen erkennen Sie im Verzeichnisbaum am <strong>Zahnrad mit grünen Blitz</strong>. In der Einstellungsübersicht erkennen Sie diese an dem <strong>grün hinterlegten Power-Symbol</strong>. Bei inaktiven Ereignisaktionen sind die Symbole jeweils <strong>grau</strong>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Konfigurationshinweise</div>
<div class="paragraph">
<p><em><strong>Inaktive Ereignisaktionen einblenden</strong></em></p>
</div>
<div class="paragraph">
<p>Setzen Sie ein Häkchen bei <strong>Zeige inaktive Ereignisaktionen</strong>. Inaktive Ereignisaktionen werden nun eingeblendet.</p>
</div>
<div class="paragraph">
<p><em><strong>Zur Ereignisaktion springen</strong></em></p>
</div>
<div class="paragraph">
<p>Klicken Sie im Verzeichnisbaum auf eine gewünschte <strong>Ereignisaktion</strong>. Die Einstellungsübersicht springt zu dieser Ereignisaktion.</p>
</div>
<div class="paragraph">
<p><em><strong>Ereignisaktion bearbeiten</strong></em></p>
</div>
<div class="paragraph">
<p>Klicken Sie in der Einstellungsübersicht auf die <strong>ID</strong>. Die Ereignisaktion wird im Bearbeitungsbereich geöffnet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="neue-ereignisaktion">4. Neue Ereignisaktion</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Aufträge » Ereignisse</strong></p>
</div>
<div class="sect2">
<h3 id="_ereignis_für_neue_ereignisaktion_wählen">4.1. Ereignis für neue Ereignisaktion wählen</h3>
<div class="paragraph">
<p>Im ersten Schritt wählen Sie für eine <strong>neue Ereignisaktion</strong> das auslösende <strong>Ereignis</strong>. Die verfügbaren Ereignisse werden nachfolgend nach Gruppen beschrieben.</p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zur Erstellung einer <strong>Ereignisaktion</strong> im folgenden Videotutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2827/" target="_blank" rel="noopener">Ereignisaktionen einrichten</a></p>
</div>
<div class="sect3">
<h4 id="_ereignisgruppe_auftragsanlage">4.1.1. Ereignisgruppe: Auftragsanlage</h4>
<div class="paragraph">
<p>Folgende <strong>Ereignisse</strong> sind als Auslöser einer Ereignisaktion beim **Anlegen der folgenden <a href="/auftragsabwicklung/auftraege/auftraege-bearbeiten/auftrag-aendern#4">Auftragstypen</a> einstellbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Neuer Auftrag, …​ Lieferauftrag, …​ Retoure, …​ Retoure durch Kunde, …​ Gutschrift, …​ Reparatur, …​ Sammelauftrag, …​ Sammelgutschrift</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn eines der nebenstehenden Dokumente <strong>neu angelegt</strong> wird, wird die Ereignisaktion ausgelöst.<br>
<strong>Retoure durch Kunde</strong>: Dieses Ereignis bezieht sich auf <strong>Retouren</strong>, die im Webshop im <strong>Mein Konto</strong>-Bereich durch Kunden ausgelöst wurden.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Übersicht <strong>Ereignisgruppe: Auftragsanlage</strong></em></p>
</div>
</div>
<div class="sect3">
<h4 id="_ereignisgruppe_auftragsänderung">4.1.2. Ereignisgruppe: Auftragsänderung</h4>
<div class="paragraph">
<p>Folgende <strong>Ereignisse</strong> sind als Auslöser einer Ereignisaktion bei der <strong>Auftragsbearbeitung</strong> bzw. <a href="/auftragsabwicklung/auftraege/auftraege-verwalten#auftrag-aendern">Auftragsänderung</a> einstellbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Statuswechsel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn ein Auftrag in den im Bereich <strong>Einstellungen</strong> eingestellten Status wechselt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Paketnummer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn für einen Auftrag eine Paketnummer hinterlegt wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warenausgang gebucht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn der Warenausgang automatisch oder manuell gebucht wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsnotiz</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn eine Information zu einem Auftrag hinterlegt wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsnotiz vom Kunden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn der Kunde in der <strong>Auftragsabwicklung</strong> eine neue Information für Sie hinterlässt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Erweiterung der Bestellung durch Kunde</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn der Kunde die Bestellung im <strong>Bestellvorgang</strong> erweitert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Manuelle Lageränderung an Artikelpositionen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn bei einer Artikelposition in einem Auftrag manuell das Lager geändert wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Wechsel des …​</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn ein Wechsel der folgenden einstellbaren Parameter in einem Auftrag erfolgt, wird die Ereignisaktion ausgelöst. Folgende Einstellungen sind verfügbar: <strong>Wechsel des Auftragstyps</strong>, …​ des <strong>Reparaturstatus</strong>, …​ des <strong>Retourengrundes</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Neue OpenTrans-Bestellung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn eine neue OpenTrans-Bestellung durchgeführt wird.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Übersicht <strong>Ereignisgruppe: Auftragsänderung</strong></em></p>
</div>
</div>
<div class="sect3">
<h4 id="_ereignisgruppe_dokumente">4.1.3. Ereignisgruppe: Dokumente</h4>
<div class="paragraph">
<p>Folgende <strong>Ereignisse</strong> sind als Auslöser einer Ereignisaktion bei der <a href="/auftragsabwicklung/auftraege/auftragsdokumente/rechnungen-erzeugen">Dokumentenerzeugung</a> einstellbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnung generiert</strong>, <strong>Lieferschein</strong> …​, <strong>Lieferanschriftenliste</strong> …​, <strong>Pickliste</strong> …​, <strong>Packliste</strong> …​, <strong>Angebot</strong> …​, <strong>Mahnung</strong> …​, <strong>Stornobeleg generiert</strong>, <strong>Auftragsbestätigung gesendet</strong>, <strong>Retourenlabel gespeichert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn eines der Dokumente generiert wird, z.B. wenn eine PDF-Rechnung erzeugt wird oder wenn eine Rechnung existiert und <strong>erneut erzeugt</strong> wird.<br>
<strong>Wichtig</strong>: Dieses Ereignis kann auch durch eine andere Ereignisaktion ausgelöst werden, wenn Sie die Aktion <strong>Rechnung erzeugen</strong> verwenden.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 3: Übersicht <strong>Ereignisgruppe: Dokumente</strong></em></p>
</div>
</div>
<div class="sect3">
<h4 id="_ereignisgruppe_zahlung">4.1.4. Ereignisgruppe: Zahlung</h4>
<div class="paragraph">
<p>Folgende <strong>Ereignisse</strong> sind als Auslöser einer Ereignisaktion bei <a href="/auftragsabwicklung/auftraege/auftraege-bearbeiten/auftrag-aendern#6">Zahlungsprozessen</a> bezüglich der Aufträge einstellbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vollständig</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn eine <strong>vollständige Zahlung eingebucht</strong> und einem Auftrag zugewiesen wird bzw. wenn der Auftrag vollständig bezahlt ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Teilzahlung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn vom Kunden eine <strong>Teilzahlung eingebucht</strong> wird.<br>
Dieses Ereignis wird ggf. auch <strong>mehrfach</strong> ausgelöst, z. B. wenn der Kunde mehrere Teilzahlungen leistet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Überzahlung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn ein Kunde <strong>zu viel für einen Auftrag gezahlt</strong> hat.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ablehnung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn eine <strong>Zahlung durch einen Zahlungsanbieter abgelehnt</strong> wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Anzahlung vollständig</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn eine Anzahlung auf <strong>Produktionsware</strong> vollständig geleistet wurde.<br>
Den Prozentwert für <strong>Anzahlungen auf Produktionsware</strong> hinterlegen Sie im Menü <a href="/auftragsabwicklung/auftraege/_grundeinstellungen">System » Aufträge » Einstellungen</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlung vom Kunden storniert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn eine geleistete Zahlung von einem Kunden storniert wurde.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 4: Übersicht <strong>Ereignisgruppe: Zahlung</strong></em></p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_neue_ereignisaktion_anlegen">4.2. Neue Ereignisaktion anlegen</h3>
<div class="paragraph">
<p>Die folgende Beschreibung, wie Sie eine <strong>neue Ereignisaktion</strong> anlegen, verwendet das Bild 1 der Handbuchseite <a href="/basics/automatisierung/ereignisaktionen">Ereignisaktionen</a>. Wählen Sie für den <strong>Namen</strong> eine aussagekräftige Bezeichnung, die Sie die Funktion der Ereignisaktion sofort erkennen lässt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/assets/DE-Einstellungen-Auftraege-Ereignis-Aktion-Neu-01.png" alt="DE Einstellungen Auftraege Ereignis Aktion Neu 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: <strong>Neue Ereignisaktion</strong> anlegen</em></p>
</div>
<div class="paragraph instruction">
<p>Neue Ereignisaktion erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie links unten auf das <strong>grüne Plus</strong>, um eine neue Ereignisaktion zu erstellen.</p>
</li>
<li>
<p>Tragen Sie im Bearbeitungsfenster einen <strong>Namen</strong> ein, z.B. <strong>Versandbestätigung Klarna</strong> und wählen Sie unter <strong>Ereignis</strong> eine Option, z.B. <strong>Warenausgang gebucht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.<br>
→ Die Ereignisaktion wird angelegt.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="konfiguration">5. Konfiguration</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_erläuterung_der_einstellungen">5.1. Erläuterung der Einstellungen</h3>
<div class="paragraph">
<p>Sie können Ereignisaktionen jederzeit ändern oder z.B. deaktivieren. So müssen Sie komplizierte Ereignisaktionen z.B. nicht löschen, wenn sie vorübergehend nicht benötigt werden, und können diese später wieder aktivieren.</p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zu Ereignisaktionen anhand von Beispielen in den folgenden Videotutorials:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2828/" target="_blank" rel="noopener">Automatischer E-Mail-Versand mit Tracking URL</a></p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2829/" target="_blank" rel="noopener">Retourenmeldung zu Amazon-FBA</a></p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2830/" target="_blank" rel="noopener">Retourenabwicklung Amazon-FBA</a></p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2831/" target="_blank" rel="noopener">Gratisartikel zum Auftrag hinzufügen</a></p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2832/" target="_blank" rel="noopener">Auftragsabwicklung</a></p>
</div>
<div class="sect3">
<h4 id="_bereich_einstellungen">5.1.1. Bereich: Einstellungen</h4>
<div class="paragraph">
<p>Nachdem Sie eine Ereignisaktion <a href="/basics/automatisierung/ereignisaktionen#neue-ereignisaktion">angelegt</a> haben, werden im Bereich <strong>Einstellungen</strong> Name und Ereignis angezeigt und sind dort änderbar.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Aktivierung erst nach Prüfung der Einstellungen!</div>
<div class="paragraph">
<p><strong>Aktiv</strong>: Mit dem Häkchen <strong>Aktiv</strong> aktivieren Sie die Ereignisaktion oder deaktivieren diese durch Entfernen des Häkchens. Aktivieren Sie eine neue Ereignisaktion erst, wenn Sie alle Einstellungen vorgenommen und abschließend geprüft haben. Die Aktivierung einer Teilkonfiguration kann zu Fehlern führen!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_bereich_filter">5.1.2. Bereich: Filter</h4>
<div class="paragraph">
<p>Mit einem Filter legen Sie fest, welche Aufträge von der Ereignisaktion erfasst werden sollen. In diesem Bereich legen Sie einen oder mehrere Filter für die Ereignisaktion an.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/assets/DE-Einstellungen-Auftraege-Ereignis-Aktion-Konfiguration-01-.png" alt="DE Einstellungen Auftraege Ereignis Aktion Konfiguration 01 ">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Bereich <strong>Filter</strong></em></p>
</div>
<div class="sect4">
<h5 id="_filtergruppe_auftrag">Filtergruppe: Auftrag</h5>
<div class="paragraph">
<p>Folgende Filter sind für die Eigenschaften von <a href="/auftragsabwicklung/auftraege/auftraege-verwalten#auftrag-aendern">Aufträgen</a> verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen, mehrere oder alle Auftragstypen wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragslager</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge anhand des Lagers bzw. mehrerer Lager wählen.<br>
<strong>Ein Lager in allen Positionen</strong> = Nur Aufträge werden gefiltert, deren Artikelpositionen dem gleichen Lager zugeordnet sind.<br>
<strong>Mehrere Lager pro Auftrag</strong> = Nur Aufträge werden gefiltert, deren Artikelpositionen verschiedenen Lagern zugeordnet sind.<br>
Alternativ ein oder mehrere Lager wählen, um nur Aufträge des einen und/oder des anderen gewählten Lagers zu berücksichtigen.<br>
Dazu <a href="/basics/automatisierung/ereignisaktionen#konfiguration">Konfigurationsbeispiel</a> in Kapitel 1.3.1 beachten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Anzahl Positionen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand der Anzahl der Auftragspositionen gefiltert, die pro Auftrag enthalten sind. Wählen, ob das System nach Aufträgen mit der exakt angegebenen Anzahl (==) der Positionen oder nach Werten größer (&gt;), größer gleich (&gt;=), kleiner (&lt;), kleiner gleich (⇐) der gewählten Anzahl filtert. Optional die Filterergebnisse über einen zweiten optionalen Operator eingrenzen.<br>
<strong><em>Beispiel</em></strong>: Filterung nach allen Aufträgen mit mehr als 5 aber weniger oder gleich 10 Positionen:  &gt; 5 ⇐ 10.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiver Benutzer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand des aktiven Benutzers gefiltert, d.h. des Benutzers, der den durch die Ereignisaktion aktivierten Vorgang auslöst. Es sind auch <strong>alle</strong> Benutzer auf einmal wählbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Herkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand einer oder mehrerer Herkünfte gefiltert. Es sind auch <strong>alle</strong> Herkünfte auf einmal wählbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mahnstufe</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand einer oder mehrerer Mahnstufen gefiltert. Es sind <strong>alle</strong> Mahnstufen auf einmal wählbar sowie die Eigenschaft <strong>Keine</strong>, wenn nur Aufträge ohne Mahnstufe gefiltert werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand eines oder mehrerer Webshops bzw. Mandanten (Shop) gefiltert. Es sind <strong>alle</strong> Webshops auf einmal wählbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Markierung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand einer oder mehrerer Markierungen gefiltert. Es sind <strong>alle</strong> Markierungen auf einmal wählbar sowie die Eigenschaft <strong>Keine</strong>, wenn nur Aufträge ohne Markierung gefiltert werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warenwert (Brutto)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand des Brutto-Warenwertes gefiltert. Es können zwei Beträge eingetragen werden, denen jeweils ein Operator vorangestellt wird.<br>
Dazu <a href="/basics/automatisierung/ereignisaktionen#konfiguration">Konfigurationsbeispiel</a> im Kapitel 1.3.3 beachten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand einer oder mehrerer Zahlungsarten gefiltert. Es sind <strong>alle</strong> Zahlungsarten auf einmal wählbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand des Zahlungsstatus gefiltert. Dieser Status kann z.B. die Ablehnung einer Zahlung sein oder ein Wartestatus.<br>
<strong>Beispiel</strong>: Wenn ein Zahlungsanbieter bei der Bestellung des Kunden im Webshop die Zahlung ablehnt, kann anhand dieses Ereignisses hier eine Aktion eingestellt werden, z.B. der Versand einer automatischen E-Mail.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Treueprogramm</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand des Treueprogramms gefiltert.<br>
<strong>ALLE</strong> = Alle Aufträge werden gefiltert.<br>
<strong>Ohne</strong> = Es werden nur Aufträge gefiltert, die zu keinem Treuprogramm gehören.<br>
<strong>Amazon Prime</strong> = Es werden nur <a href="/omni-channel/multi-channel/amazon#420">Amazon Prime</a>-Aufträge gefiltert.<br>
<strong>Amazon NextDay</strong> = Es werden nur Amazon-Aufträge gefiltert, deren Versand am nächsten Tag erfolgen muss.<br>
<strong>Amazon SecondDay</strong> = Es werden nur Amazon-Aufträge gefiltert, deren Versand am übernächsten Tag erfolgen muss.<br>
<strong>eBay Plus</strong> = Es werden nur eBay Plus-Aufträge gefiltert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsgewicht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand des gesamten Gewichts aller im Auftrag enthaltenen Artikel gefiltert. Mit den Operatoren wie größer als, kleiner als oder gleich (&gt;, &lt;, =) und den Einheiten g und kg filtern Sie nach Aufträgen, die ein bestimmtes Gewicht haben.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Übersicht Filtergruppe: <strong>Auftrag</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_filtergruppe_artikel">Filtergruppe: Artikel</h5>
<div class="paragraph">
<p>Folgende Filter sind bezüglich der in Aufträgen enthaltenen <a href="/artikel/artikel-verwalten">Artikel</a> verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerware, Produktionsware, Bestellware bzw. Colli enthalten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand der Warenart, die enthalten ist, gefiltert. Pro Auftrag können Artikel mit verschiedenen Warenarten enthalten sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="olist lowerroman">
<ol class="lowerroman" type="i">
<li>
<p><strong>ausschließlich enthalten</strong></p>
</li>
</ol>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wie vor, hier werden Aufträge gesucht, die ausschließlich die jeweilige Warenart enthalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikel enthalten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Artikel-IDs der Artikel eintragen, nach denen gefiltert werden soll. Alle Aufträge werden gesucht, die den bzw. diese Artikel enthalten.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Übersicht Filtergruppe: <strong>Artikel</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_filtergruppe_kunde">Filtergruppe: Kunde</h5>
<div class="paragraph">
<p>Folgende Filter sind für die in den Aufträgen hinterlegten <a href="/crm/kundendaten-verwalten">Kundendaten</a> verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kundenbewertung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand der Kundenbewertung gefiltert, denen jeweils ein Operator vorangestellt wird.<br>
Wenn nur Aufträge ohne Kundenbewertung gefiltert werden sollen, den Operator <strong>==</strong> und die <strong>grauen Sterne</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kundenklasse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge anhand der Kundenklasse oder mehrerer Kundenklassen filtern. Es sind <strong>alle</strong> Kundenklassen auf einmal wählbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kundentyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge anhand des Kundentyps filtern.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Altersfreigabe Kunde</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge anhand einer oder mehrerer Altersfreigaben filtern. Es sind <strong>alle</strong> Altersfreigaben auf einmal wählbar sowie die Eigenschaft <strong>Keine</strong>, wenn nur Aufträge ohne Altersfreigabe gefiltert werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Umsatzsteuer-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge anhand der Umsatzsteuer-ID filtern. Optionen: Umsatzsteuer-ID <strong>vorhanden</strong> oder <strong>nicht vorhanden</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Anzahl der Aufträge</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der Aufträge lässt sich durch Operatoren wie <strong>größer als</strong>, <strong>kleiner als</strong> oder <strong>gleich</strong> (&gt;, &lt;, =) festlegen.<br>
Dazu <a href="/auftragsabwicklung/auftraege/einstellungen/ereignisaktionen/konfiguration#1.3.2">Konfigurationsbeispiel</a> in Kapitel 1.3.2 beachten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Umsatz</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Umsätze nach Betrag, Zeitraum sowie (optional) Retouren filtern.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 3: Übersicht Filtergruppe: <strong>Kunde</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_filtergruppe_versand">Filtergruppe: Versand</h5>
<div class="paragraph">
<p>Folgende Filter sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gültige DHL-Packstation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge filtern, die eine gültige DHL-Packstation als Lieferanschrift enthalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Fehlerhafte DHL-Packstation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge filtern, bei denen die Angabe der DHL-Packstation als Lieferanschrift fehlerhaft ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferland</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge anhand des Lieferlandes oder mehrerer Lieferländer filtern. Es sind <strong>alle</strong> Lieferländer auf einmal wählbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge anhand der Versandart oder mehrerer Versandarten filtern. Es sind <strong>alle</strong> Versandarten auf einmal wählbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versanddatum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge anhand des Versanddatums filtern. Optionen: <strong>Vorhanden</strong>, <strong>Nicht vorhanden</strong> oder <strong>In der Zukunft</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandkosten (brutto)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge anhand der Brutto-Versandkosten filtern. Ein Betrag kann eingetragen werden, dem ein Operator vorangestellt wird.<br>
Dazu <a href="/basics/automatisierung/ereignisaktionen#konfiguration">Konfigurationsbeispiel</a> im Kapitel 1.3.3 beachten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versand ausschließlich durch FBA</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Dieser Filter sucht Aufträge, die komplett über Amazon Multi-Channel durch Amazon verschickt werden.<br>
Filter verwenden, um Aufträge zu suchen, die aus mehreren Sendungen bestehen, um dann z.B. den Empfänger zu informieren, dass er mehrere Sendungen erhält.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versand teilweise durch FBA</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Dieser Filter sucht Aufträge, die Artikel enthalten, die teilweise über Amazon Multi-Channel durch Amazon verschickt werden.<br>
Der Filter wird z.B. verwendet, wenn solche Aufträge markiert werden sollen.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 4: Übersicht Filtergruppe: <strong>Versand</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_filtergruppe_marktplatz">Filtergruppe: Marktplatz</h5>
<div class="paragraph">
<p>Folgende Filter sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>eBay</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden gefiltert, die über den Marktplatz eBay generiert wurden.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 5: Übersicht Filtergruppe: <strong>Marktplatz</strong></em></p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_filter_konfigurationsbeispiele">5.1.3. Filter: Konfigurationsbeispiele</h4>
<div class="paragraph">
<p>In diesem Kapitel erhalten Sie beispielhafte Informationen zu den Filtern mit Erläuterungen zu den Einstellungen. Die Konfiguration der meisten Filter ist schnell erledigt durch Wahl einer oder mehrerer Optionen (Beispiel in Bild 4) und erfordert keine detaillierten Erklärungen. Einige Filter werden durch Auswahl eines Bereiches konfiguriert, wobei auch Operatoren wie <strong>größer als</strong>, <strong>kleiner als</strong> oder <strong>gleich</strong> (&gt;, &lt;, =) eingesetzt werden. Im Folgenden werden verschiedene Varianten beschrieben, um Ihnen die verschiedenen Möglichkeiten aufzuzeigen.</p>
</div>
<div class="sect4 1">
<h5 id="13">Filter: Auftragslager</h5>
<div class="paragraph">
<p>Mit diesem Filter wählen Sie Aufträge anhand eines oder mehrerer Lager. Dabei werden mehrere Lager mit einem <strong>UND</strong> bzw. einem <strong>ODER</strong>-Operator verknüpft.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/assets/DE-Einstellungen-Auftraege-Ereignis-Aktion-Konfiguration-02.png" alt="DE Einstellungen Auftraege Ereignis Aktion Konfiguration 02">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Filter <strong>Auftragslager</strong></em></p>
</div>
<div class="paragraph">
<p>In unserem Beispiel in Bild 2 werden nur Aufträge von der Ereignisaktion erfasst, die als Lager beide gewählte Lager hinterlegt haben, da der Operator <strong>UND</strong> gewählt wurde. Wenn in diesem Beispiel der Operator <strong>ODER</strong> eingestellt wird, werden Aufträge erfasst, die eines der gewählten Lager hinterlegt haben.</p>
</div>
<div class="paragraph instruction">
<p>Filter Auftragslager konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die Ereignisaktion, der Sie diesen Filter hinzufügen möchten, oder erstellen Sie eine neue.</p>
</li>
<li>
<p>Klicken Sie im Bereich Filter auf das <strong>grüne Plus</strong>.</p>
</li>
<li>
<p>Wählen Sie den Filtertyp <strong>Auftragslager</strong>.<br>
→ Der Filter wird angelegt.</p>
</li>
<li>
<p>Nehmen Sie im Filter die gewünschten Einstellungen vor (Beispiel in Bild 2).</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect4 2">
<h5 id="13">Filter: Anzahl der Aufträge</h5>
<div class="paragraph">
<p>Mit diesem Filter veranlassen Sie z.B., dass bei einer gewissen Anzahl an Aufträgen eines Kunden eine Aktion ausgelöst wird, z.B. der E-Mail-Versand eines Gutscheins.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/assets/DE-Einstellungen-Auftraege-Ereignis-Aktion-Konfiguration-03.png" alt="DE Einstellungen Auftraege Ereignis Aktion Konfiguration 03">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Filter <strong>Anzahl der Aufträge</strong></em></p>
</div>
<div class="paragraph">
<p>Im Beispiel wird die Aktion ausgelöst, wenn mindestens 10 Aufträge erreicht wurden. Als weiteren Filter müssen Sie für die beschriebene Aktion noch einen Kundenfilter einrichten, in dem der entsprechende <strong>Kundentyp</strong>, z.B. <strong>Kunde</strong>, hinterlegt ist.</p>
</div>
</div>
<div class="sect4 3">
<h5 id="13">Filter: Warenwert (Brutto)</h5>
<div class="paragraph">
<p>Mit dem Filter <strong>Warenwert</strong> legen Sie einen Bereich für den Brutto-Warenwert fest. Dieser Bereich kann durch zwei Felder so eingestellt werden, dass ganz individuelle Einstellungen möglich sind.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/assets/DE-Einstellungen-Auftraege-Ereignis-Aktion-Konfiguration-04.png" alt="DE Einstellungen Auftraege Ereignis Aktion Konfiguration 04">
</div>
</div>
<div class="paragraph">
<p><em>Bild 4: Filter <strong>Warenwert (brutto)</strong></em></p>
</div>
<div class="paragraph">
<p>Im Beispiel werden alle Aufträge gefiltert, die einen Brutto-Warenwert von unter 10 Euro aufweisen sowie alle, deren Brutto-Warenwert 100 Euro oder höher ist.</p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_filter_hinzufügen">5.1.4. Filter hinzufügen</h4>
<div class="paragraph">
<p>Einen neuen Filter fügen Sie einer Ereignisaktion über das <strong>grüne Plus</strong> hinzu (Bild 5, roter Pfeil). Anschließend wählen Sie den <strong>Filtertyp</strong> für den Filter.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ordnerstruktur</div>
<div class="paragraph">
<p>Die Filter sind nach Bereichen und in Ordnern sortiert. Suchen Sie den Ordner und klicken Sie auf das kleine <strong>Plus</strong>, um den Inhalt anzuzeigen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/assets/DE-Einstellungen-Auftraege-Ereignis-Aktion-Konfiguration-05.png" alt="DE Einstellungen Auftraege Ereignis Aktion Konfiguration 05">
</div>
</div>
<div class="paragraph">
<p><em>Bild 5: Filteroptionen wählen</em></p>
</div>
<div class="paragraph instruction">
<p>Einen Filter hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die Ereignisaktion, der Sie einen Filter hinzufügen möchten.</p>
</li>
<li>
<p>Klicken Sie im Bereich Filter auf das <strong>grüne Plus</strong> (Bild 5, roter Pfeil).</p>
</li>
<li>
<p>Wählen Sie den gewünschten <strong>Filtertyp</strong>.<br>
→ Der Filter wird angelegt.</p>
</li>
<li>
<p>Nehmen Sie im Filter die gewünschten Einstellungen vor.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In diesem Beispiel wird z.B. festgelegt, dass von der Ereignisaktion nur Aufträge der Auftragstypen <strong>Auftrag</strong> und <strong>Gutschrift</strong> betroffen sein sollen.</p>
</div>
</div>
<div class="sect3">
<h4 id="_bereich_aktionen">5.1.5. Bereich: Aktionen</h4>
<div class="paragraph">
<p>Im Bereich <strong>Aktionen</strong> erstellen Sie die Aktionen, die vom System automatisch ausgeführt werden sollen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/assets/DE-Einstellungen-Auftraege-Ereignis-Aktion-Konfiguration-06.png" alt="DE Einstellungen Auftraege Ereignis Aktion Konfiguration 06">
</div>
</div>
<div class="paragraph">
<p><em>Bild 6: Bereich <strong>Aktionen</strong></em></p>
</div>
<div class="paragraph">
<p>In diesem Beispiel sind drei Aktionen mit den Einstellungsmöglichkeiten zu sehen. Nachfolgend werden die verschiedenen Aktionen nach Gruppen beschrieben.</p>
</div>
<div class="sect4">
<h5 id="_aktionsgruppe_artikel">Aktionsgruppe: Artikel</h5>
<div class="paragraph">
<p>Folgende Aktionen sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikel hinzufügen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Artikel-ID eintragen. Aktion fügt einem Auftrag einen bestimmten Artikel hinzu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gutschein-Artikel an Hersteller senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Vorlage wählen. Aktion versendet einen Gutschein-Artikel in der gewählten Vorlage an den Hersteller.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seriennummern zuordnen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktion ordnet dem Auftrag eine Seriennummer zu.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 6: Übersicht Aktionsgruppe: <strong>Artikel</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_aktionsgruppe_aufträge">Aktionsgruppe: Aufträge</h5>
<div class="paragraph">
<p>Folgende Aktionen sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gutschrift anlegen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatische Erzeugung einer Gutschrift bei Eintreten des eingestellten Ereignisses.<br>
Bei der Option <strong>Datum</strong> eine der folgenden Einstellungen wählen:<br>
<strong>Standard</strong>= Wird mit aktuellem Datum und Uhrzeit erzeugt.<br>
<strong>Retourendatum</strong> = Wird mit dem Erstellungsdatum der Retoure erzeugt.<br>
<strong>Auftragsdatum</strong> = Wird mit dem Erstellungsdatum des Auftrags erzeugt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrags-Vorlage verwenden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auftrags-Vorlagen werden im Menü <a href="/auftragsabwicklung/auftraege/_auftragsvorlage">System » Aufträge » Auftrags-Vorlage</a> erstellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferaufträge generieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatische Erzeugung von Lieferaufträgen bei Eintreten des eingestellten Ereignisses.<br>
<strong>Wichtig</strong>: Option wird nur angezeigt, wenn die für Lieferaufträge nötige <a href="/auftragsabwicklung/auftraege/auftraege-verwalten#lieferauftrag">Lagerkonfiguration</a> korrekt vorgenommen wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nach Brutto-Warenwert in Lieferaufträge teilen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Teilt die Auftragspositionen eines Auftrages in verschiedene Lieferaufträge anhand eines Betrages, den die Artikelpositionen in einem Lieferauftrag nicht übersteigen sollen. Für den Fall, dass der gewählte Betrag von einer Artikelposition überschritten wird, einen Fehlerstatus einstellen, in den solche Lieferaufträge versetzt werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nach Artikelverfügbarkeit in Lieferaufträge teilen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden nach Artikelverfügbarkeit in Lieferaufträge gesplittet. Die Verfügbarkeiten anhand von <strong>Gruppen</strong> bestimmen, die durch Verschieben der gewünschten Verfügbarkeit(en) nach rechts konfiguriert werden. Pro Gruppe wird ein weiterer Auftrag angelegt, der die Artikel mit der hinterlegten Verfügbarkeit (oder mehrere) enthält.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nach Artikelverfügbarkeit in Aufträge teilen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wie vorstehende Aktion, Aufträge werden nach Artikelverfügbarkeit in Aufträge gesplittet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nach verfügbarem Sortiment teilen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden anhand eines wählbaren Attributs nach verfügbarem Bestand geteilt. Wenn verschiedene Varianten eines Artikels bestellt wurden und ein Teil der Varianten nicht verfügbar ist, wird der Auftrag geteilt. Die Artikel, die sofort verfügbar sind, werden im ursprünglichen Auftrag behalten. Für Artikel, bei denen z.B. Varianten fehlen, werden entsprechende Lieferaufträge angelegt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nach Lieferdatum teilen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aufträge werden automatisch nach dem hinterlegten Lieferdatum in Aufträge gesplittet. Das Lieferdatum kann in der Kaufabwicklung durch den Kunden hinterlegt werden. Im Auftrag besteht ebenfalls die Möglichkeit, das Lieferdatum der Artikelpositionen zu hinterlegen oder zu ändern. Ein Lieferdatum kann Aufträgen auch per <strong>Gruppenfunktion</strong> zugewiesen werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragstyp ändern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Den Auftragstyp wählen, in den ein Auftrag geändert werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status ändern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Den Status wählen, der durch die Ereignisaktion eingestellt werden soll.<br>
<a href="/auftragsabwicklung/auftraege/auftraege-verwalten#lieferauftrag">Lieferaufträge</a> ignorieren<strong>: Bei der Aktion </strong>Status ändern** werden im Standard bei einem Auftrag mit Lieferaufträgen auch die Status der Lieferaufträge geändert. Sollen diese nicht geändert werden, sondern nur der Status des Hauptauftrags, bei dieser Option ein Häkchen setzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Markierung ändern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Markierung wählen, die durch die Ereignisaktion eingestellt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mahnstufe ändern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Mahnstufe wählen, die durch die Ereignisaktion eingestellt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status des Hauptauftrags ändern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Den Status des Hauptauftrages wählen, der bei Teilung eines Auftrags (Funktion: <strong>Auftrag teilen</strong> in der Auftragsbearbeitung) oder bei der Funktion <strong>Lieferaufträge generieren</strong> eingestellt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Umsatzdaten für Umsatzexport berechnen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Generell werden Umsatzdaten aus Performance-Gründen bei der Rechnungs- bzw. Gutschrifterzeugung in einer eigenen Datenbank abgelegt. Da für manche Zahlungsarten wie <strong>Klarna</strong>, <strong>Neckermann</strong> oder <strong>Quelle</strong> keine internen Rechnungen generiert werden dürfen, enthält diese Datenbank jedoch keine Daten für Aufträge dieser Zahlungsarten. Es besteht aber die Möglichkeit, die Exportdaten für solche Aufträge (COLLMEX, DATEV etc.) über eine Ereignisaktion anhand dieser Aktion zu erzeugen.<br>
<strong>Wichtig</strong>: Diese Aktion greift nur, wenn die Zahlungsart <strong>Quelle</strong>, <strong>Klarna</strong> oder <strong>Neckermann</strong> ist. Deshalb sollten auch diese im Filter gewählt sein. Als <strong>Auftragstyp</strong> sollte <strong>Auftrag</strong>, <strong>Gewährleistung</strong> und/oder <strong>Reparatur</strong> gewählt sein, weil für andere Auftragstypen keine Rechnungen generiert werden können.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warenausgang buchen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Häkchen setzen, wenn bei Eintritt des Ereignisses der Warenausgang gebucht werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsänderung an Otto melden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mit dieser Aktion werden Statusänderungen von Aufträgen, die vom Marktplatz <strong>Otto</strong> stammen, an Otto gemeldet. Es sind die Auftragsstatus <strong>Auftragseingang</strong>, <strong>Warenausgang gebucht</strong>, <strong>Retoure</strong> und <strong>Stornierung</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>URL aufrufen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mit dieser Aktion wird eine hier hinterlegte URL aufgerufen. Es können damit Informationen zu Aufträgen übermittelt werden, z.B. die Auftrags-ID durch Anhängen der Template-Variablen <strong>OrderID</strong> an die URL. Die URL muss vollständig, nach dem dort gegebenen Muster <strong><a href="http://www.beispiel.de" class="bare">http://www.beispiel.de</a></strong>, eingetragen werden.<br>
Beispiel mit der angehängten OrderID: <strong><a href="http://www.beispiel.de/">OrderID</a>/</strong>.<br>
In der Aktion werden die verwendbaren Template-Variablen angezeigt.<br>
<strong>HTTP-Methode</strong> = Zur Auswahl stehen <strong>GET</strong>, <strong>PUT</strong> und <strong>POST</strong>.<br>
<strong>Content-Typ</strong> = Hier wird der Inhaltstyp für den URL-Aufruf hinterlegt.<br>
<strong>Beispiel</strong>: Wenn ein XML-Inhalt übertragen werden soll, tragen Sie <strong>text/xml</strong> ein.<br>
<strong>Request Content</strong> = Hier können Sie Texte übertragen, z.B. XML- oder JSON-Inhalte.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Handelsvertreter dem Auftrag zuordnen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Aktion hinterlegt einen Handelsvertreter in einem Auftrag. Die Zuordnung des Handelsvertreters erfolgt anhand der PLZ des Empfängers des Auftrags. Voraussetzung für die Zuordnung des Handelsvertreters ist, dass in den Kundendaten des Handelsvertreters der Postleitzahlbereich hinterlegt ist. Es wird die Kunden-ID des Handelsvertreters hinterlegt, nicht der Name.<br>
Details siehe Handbuchseite <a href="/crm/kundendaten-verwalten">Kundendaten verwalten</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnung von Klarna löschen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Löscht eine Rechnung der Zahlungsart <strong>Klarna</strong> bei einer Stornierung. Erläuterungen dazu sowie zu weiteren Ereignisaktionen bei <a href="/auftragsabwicklung/payment/klarna">Klarna</a> beachten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsänderung an Cdiscount melden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mit dieser Aktion werden Statusänderungen von Aufträgen, die vom Marktplatz Cdiscount stammen, an <a href="/omni-channel/multi-channel/cdiscount#1300">Cdiscount</a> gemeldet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag abgeschlossen an DaWanda melden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine Aktion für den Marktplatz DaWanda zur Meldung von abgeschlossenen Aufträgen. Erläuterungen dazu sowie zu weiteren Ereignisaktionen bei <a href="/omni-channel/multi-channel/dawanda#EAgreenBox">DaWanda</a> beachten.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 7: Übersicht Aktionsgruppe: <strong>Aufträge</strong></em></p>
</div>
<div class="paragraph">
<p>Beachten Sie für die Statusänderung von Hauptaufträgen bei Ereignisaktionen für Lieferaufträge die Erläuterungen zu <a href="/auftragsabwicklung/auftraege/auftraege-verwalten#lieferauftrag">Lieferaufträgen</a>.</p>
</div>
</div>
<div class="sect4">
<h5 id="_aktionsgruppe_dokumente">Aktionsgruppe: Dokumente</h5>
<div class="paragraph">
<p>Damit ein Dokument erzeugt werden kann bzw. die gewünschte Konfiguration und das korrekte Layout enthält, muss es im entsprechenden Menü konfiguriert sein und eine Vorlage muss hinterlegt sein. Beachten Sie dazu die Informationen auf der Handbuchseite <a href="/auftragsabwicklung/auftraege/auftragsdokumente">Dokumente</a>.</p>
</div>
<div class="paragraph">
<p>Folgende Aktionen sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnung erzeugen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatische Erzeugung der Rechnung bei Eintreten des eingestellten Ereignisses. <br>
Bei Wahl dieser Option erscheinen weitere Optionen: Ein <strong>Zahlungsziel</strong> einstellen, <strong>Skonto</strong> hinterlegen sowie einen <strong>Kommentar</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sammelrechnung erzeugen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Nur für plentymarkets Enterprise.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsbestätigung erzeugen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatische Erzeugung einer Auftragsbestätigung bei Eintreten des eingestellten Ereignisses.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gutschrift erzeugen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatische Erzeugung einer Gutschrift bei Eintreten des eingestellten Ereignisses. <br>
Bei der Option <strong>Datum</strong> eine der folgenden Einstellungen wählen: <br>
<strong>Standard</strong> = Wird mit aktuellem Datum und Uhrzeit erzeugt. <br>
<strong>Gutschriftsdatum</strong> = Wird mit dem Eingangsdatum der zugehörigen Gutschrift erzeugt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Korrekturbeleg erzeugen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatische Erzeugung eines <a href="/omni-channel/online-shop/mandanten-einrichten/dokumente/korrekturbeleg">Korrekturbelegs</a> bei Eintreten des eingestellten Ereignisses. <br>
Ein Korrekturbeleg wird z.B. für Gutschriften, die nicht ausbezahlt werden, als Beleg für die Buchhaltung verwendet, oder um eine Erstattung z.B. von einer Storno-Rechnung zu belegen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sammelgutschrift erzeugen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Nur für plentymarkets Enterprise.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferschein erzeugen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatische Erzeugung des Lieferscheins bei Eintreten des eingestellten Ereignisses. <br>
Bei Wahl dieser Option erscheint ein Textfeld für einen Kommentar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mahnung erzeugen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatische Erzeugung einer Mahnung bei Eintreten des eingestellten Ereignisses.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rücksendeschein erzeugen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatische Erzeugung eines Rücksendescheins bei Eintreten des eingestellten Ereignisses.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Verkaufsgutschein erzeugen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatische Erzeugung eines Verkaufsgutscheins bei Eintreten des eingestellten Ereignisses.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stornobeleg erzeugen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatische Erzeugung eines Stornobelegs bei Eintreten des eingestellten Ereignisses. Ein Stornobeleg storniert eine Rechnung und nicht einen Auftrag. Deshalb wird der Stornobeleg nur erzeugt, wenn der Auftrag eine Rechnung hat.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 8: Übersicht Aktionsgruppe: <strong>Dokumente</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_aktionsgruppe_kunde">Aktionsgruppe: Kunde</h5>
<div class="paragraph">
<p>Folgende Aktionen sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kundenbewertung ändern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Kundenbewertung wählen, zu der die Kundenbewertung geändert werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kundentyp ändern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Den Kundentyp wählen, zu dem der Kundentyp geändert werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail versenden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einstellen, welche Art von E-Mails an welche Empfänger bzw. Kunden geschickt werden sollen. Die gewünschte Kombination aus <strong>Vorlage</strong> und <strong>Empfänger</strong> wählen und auf das <strong>Plus</strong> klicken, um die Aktion anzulegen. Es sind beliebige Kombinationen für diese Funktion möglich. Durch Klick auf <strong>Löschen</strong> werden die angelegten Empfänger gelöscht. Wenn zu einer Ereignisaktion (noch) keine E-Mail-Empfänger definiert wurden, wird der Hinweis <strong>Keine Empfänger</strong> angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>eBay-Nachricht versenden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Für die Nachricht die gewünschte E-Mail-Vorlage wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Handelsvertreter dem Kunden zuordnen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mit dieser Aktion werden automatisch Handelsvertreter in Kundendaten hinterlegt. Die Voraussetzung ist, dass jeweils Postleitzahlangaben in den Kundendaten der Handelsvertreter hinterlegt sind. Es wird die <strong>Kunden-ID</strong> des Handelsvertreters hinterlegt, nicht der Name. Weitere Details dazu siehe Handbuchseite <a href="/crm/kundendaten-verwalten">Kundendaten verwalten</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kundenklasse ändern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Kundenklasse wählen, zu der die Kundenklasse geändert werden soll.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 9: Übersicht Aktionsgruppe: <strong>Kunde</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_aktionsgruppe_versand">Aktionsgruppe: Versand</h5>
<div class="paragraph">
<p>Folgende Aktionen sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerort zuweisen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Häkchen setzen, wenn bei Eintritt des Ereignisses ein Lagerort (Stellplatz) zugewiesen werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandpakete anlegen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Legt Versandpakete für einen Auftrag an, bevor der Auftrag im Versand-Center geöffnet wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>FBA-Versandfreigabe erteilen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sendet eine Freigabe an <a href="/omni-channel/multi-channel/amazon#3300">FBA</a>, damit der Versand durch FBA vorgenommen wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandbestätigung senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sendet eine Versandbestätigung an einen Zahlungsanbieter, wenn die Ware, die über diesen Zahlungsanbieter erworben wurde, versendet wurde.<br>
Verfügbar für: <strong>Amazon Payments</strong>, <strong>Amazon Payments Advanced,</strong><strong>BillSAFE</strong>, <strong>DaWanda</strong>, <strong>eBay</strong>, <strong>Gimahhot</strong>, <strong>Hood</strong>, <strong>Klarna</strong>, <strong>LaRedoute</strong>, <strong>Masterpayment</strong>, <strong>Payolution</strong>, <strong>PAYONE</strong>, <strong>Plus.de</strong>, <strong>POSTPAY</strong>, <strong>Rakuten</strong>, <strong>Zentralverkauf</strong>, <strong>Worldpay</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 10: Übersicht Aktionsgruppe: <strong>Versand</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_aktionsgruppe_zahlungsarten">Aktionsgruppe: Zahlungsarten</h5>
<div class="paragraph">
<p>Folgende Aktionen sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gutschrift senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Es wird eine Gutschrift an einen Zahlungsanbieter gesendet.<br>
Verfügbar für: <strong>ClickandBuy</strong>, <strong>MeinPaket</strong>, <strong>PAYONE</strong>, <strong>POSTPAY</strong>, <strong>Sage Pay</strong>, <strong>Worldpay</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag an Klarna senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Es wird ein Auftrag an Klarna gesendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsänderung an Klarna melden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Es wird eine Auftragsänderung an Klarna gemeldet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rückbuchung an ClickandBuy senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Es wird eine Rückbuchung an ClickandBuy gesendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rückerstattung senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Es wird eine Rückerstattung an einen Zahlungsanbieter gesendet.<br>
Verfügbar für: <strong>Amazon Payments</strong>, <strong>Amazon Payments Advanced</strong>, <strong>Payolution</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rückzahlung an Masterpayment senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Es wird eine Rückzahlung an Masterpayment gesendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stornierung senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Es wird eine Stornierung an einen Zahlungsanbieter gesendet.<br>
Verfügbar für: <strong>Amazon Payments</strong>, <strong>Amazon Payments Advanced</strong>, <strong>ClickandBuy</strong>, <strong>Plus.de</strong>, <strong>POSTPAY</strong>, <strong>Sage Pay</strong>, <strong>Worldpay</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stornierung oder Gutschrift senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Es wird je nach Zahlungs- und Versandstatus eine Stornierung oder eine Gutschrift an einen Zahlungsanbieter gesendet.<br>
Verfügbar für: <strong>Worldpay</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlung per Lastschrift erlauben</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart <strong>Lastschrift</strong> per Ereignisaktion aktivieren oder deaktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlung per Rechnung erlauben</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart <strong>Rechnung</strong> per Ereignisaktion aktivieren oder deaktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsbestätigung an DaWanda senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Es wird eine Zahlungsbestätigung an den Marktplatz DaWanda gesendet.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 11: Übersicht Aktionsgruppe: <strong>Zahlungsarten</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_aktionsgruppe_retoure">Aktionsgruppe: Retoure</h5>
<div class="paragraph">
<p>Folgende Aktionen sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DHL-Retourenlabel generieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erzeugt ein DHL-Retourenlabel, das im <strong>Versand-Center</strong> bzw. im Webshop im Bereich <strong>Mein Konto</strong> verfügbar ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Retoure senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine Retoure an den Zahlungsanbieter senden.<br>
Verfügbar für: <strong>Amazon</strong>, <strong>BillSAFE</strong>, <strong>Cdiscount</strong>, <strong>Klarna</strong>, <strong>LaRedoute</strong>, <strong>MeinPaket</strong>, <strong>Plus.de</strong>, <strong>POSTPAY</strong>, <strong>Rakuten</strong>, <strong>Shopgate</strong><br>
Siehe dazu auch die Handbuchseite der <a href="/auftragsabwicklung/payment">Zahlungsart</a>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 12: Übersicht Aktionsgruppe: <strong>Retoure</strong></em></p>
</div>
</div>
<div class="sect4">
<h5 id="_aktionsgruppe_listings">Aktionsgruppe: Listings</h5>
<div class="paragraph">
<p>Folgende Aktionen sind verfügbar:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bewertung abgeben</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erzeugt automatisch eine Bewertung für ein Listing.<br>
Verfügbar für: <a href="/omni-channel/multi-channel/hood#600">Hood</a>, <a href="/omni-channel/multi-channel/ricardo-ch#700">ricardo</a>, <a href="/omni-channel/multi-channel/ebay#1300">eBay</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsbestätigung an Hood senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sendet automatisch eine Zahlungsbestätigung.<br>
Verfügbar für: Hood, eBay.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mahnung/Dispute auf eBay starten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sendet automatisch eine Mahnung bzw. startet einen Disput.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 13: Übersicht Aktionsgruppe: <strong>Listings</strong></em></p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_aktionen_konfigurationsbeispiele">5.1.6. Aktionen: Konfigurationsbeispiele</h4>
<div class="paragraph">
<p>Die meisten Aktionen erklären sich anhand der Bezeichnung von selbst. In diesem Kapitel erhalten Sie Informationen zu erklärungsbedürftigen Aktionen mit Erläuterungen zu den Einstellungen sowie Beispielen.</p>
</div>
<div class="sect4">
<h5 id="_aktion_nach_artikelverfügbarkeit_teilen">Aktion: Nach Artikelverfügbarkeit teilen</h5>
<div class="paragraph">
<p>Aufträge werden nach Artikelverfügbarkeit in Lieferaufträge bzw. Aufträge gesplittet. Dazu legen Sie eine oder mehrere <strong>Verfügbarkeitsgruppen</strong> an.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/assets/DE-Einstellungen-Auftraege-Ereignis-Aktion-Konfiguration-07.png" alt="DE Einstellungen Auftraege Ereignis Aktion Konfiguration 07">
</div>
</div>
<div class="paragraph">
<p><em>Bild 7: Gruppen erstellen nach Artikelverfügbarkeiten</em></p>
</div>
<div class="paragraph instruction">
<p>Verfügbarkeitsgruppen erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf die <strong>Verfügbarkeit</strong>, die Sie einer Gruppe hinzufügen möchten, und ziehen Sie die Verfügbarkeit auf das <strong>grüne Plus</strong> (Bild 7, blauer Pfeil).<br>
→ Die Gruppe wird angelegt.</p>
</li>
<li>
<p>Fügen Sie dieser Gruppe nach Belieben weitere Verfügbarkeiten hinzu, indem Sie die gewünschten Verfügbarkeiten in dieses Gruppenfeld ziehen (Bild 7, grüner Pfeil).</p>
</li>
<li>
<p>Legen Sie nach gleichem Muster weitere Gruppen an, je nachdem, in wie viele Aufträge der Auftrag geteilt werden soll.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel für eine Konfiguration zur automatischen Teilung eines Auftrags</div>
<div class="paragraph">
<p>Wenn Artikel mit einer kurzfristigen Verfügbarkeit, z.B. <strong>Sofort verfügbar</strong> und <strong>Schnell verfügbar</strong>, auch sehr zeitnah versendet werden sollen, legen Sie für diese Verfügbarkeiten eine Gruppe an (Bild 7). Für Artikel mit längeren Fristen legen Sie eine weitere Gruppe an. Der Auftrag wird nun gemäß dieser Festlegung in zwei Aufträge geteilt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/assets/DE-Einstellungen-Auftraege-Ereignis-Aktion-Konfiguration-08.png" alt="DE Einstellungen Auftraege Ereignis Aktion Konfiguration 08">
</div>
</div>
<div class="paragraph">
<p><em>Bild 8: Verfügbarkeitsgruppen</em></p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_neue_aktion_hinzufügen">5.1.7. Neue Aktion hinzufügen</h4>
<div class="paragraph">
<p>Sie können zu jedem Ereignis beliebig viele Aktionen anlegen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ordnerstruktur</div>
<div class="paragraph">
<p>Die Aktionnen sind nach Bereichen und in Ordnern sortiert. Suchen Sie den Ordner und klicken Sie auf das kleine <strong>Plus</strong>, um den Inhalt anzuzeigen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/assets/DE-Einstellungen-Auftraege-Ereignis-Aktion-Konfiguration-09.png" alt="DE Einstellungen Auftraege Ereignis Aktion Konfiguration 09">
</div>
</div>
<div class="paragraph">
<p><em>Bild 9: Neue Aktion hinzufügen</em></p>
</div>
<div class="paragraph instruction">
<p>Eine Aktion hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die Ereignisaktion, der Sie eine Aktion hinzufügen möchten.</p>
</li>
<li>
<p>Klicken Sie im Bereich <strong>Aktionen</strong> auf das <strong>grüne Plus</strong>.</p>
</li>
<li>
<p>Wählen Sie den gewünschten <strong>Aktionstyp</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.<br>
→ Die Aktion wird angelegt.</p>
</li>
<li>
<p>Nehmen Sie in der Aktion die gewünschten Einstellungen vor.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_mehrere_aktionen_pro_ereignis">5.2. Mehrere Aktionen pro Ereignis</h3>
<div class="paragraph">
<p>Zu einem Ereignis können beliebig viele Aktionen angelegt werden. Wenn zu einem Ereignis mehrere Aktionen angelegt wurden, werden diese Aktionen entsprechend ihrer Reihenfolge ausgeführt. Die Reihenfolge ändern Sie mit Hilfe der Pfeile.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel für mehrere Aktionen pro Ereignis</div>
<div class="paragraph">
<p>Wenn zum Ereignis <strong>Auftragsnotiz vom Kunden</strong> drei Aktionen angelegt wurden z.B. in der Reihenfolge <strong>Markierung ändern</strong>, <strong>E-Mail senden</strong> und <strong>Markierung ändern</strong>, so erkennen Sie an der Markierung, die zuerst eingestellt wird, dass zu dem Auftrag Informationen vom Kunden vorliegen. Nachdem die E-Mail versendet wurde, erkennen Sie dies am Auftrag an der darauf geänderten Markierung.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>